Repository kyverno/kyverno, pull requests merged in 2021-11, with the labels that each got.

#2648 re-apply policies to managed pods
  pkg/engine/imageVerify.go
  pkg/engine/mutation.go
  pkg/engine/validation.go
  pkg/policy/common.go
Labels: milestone 1.5.2

#2655 Allow Helm CRD management to be disabled
  Makefile
  charts/kyverno/README.md
  charts/kyverno/templates/crds.yaml
  charts/kyverno/values.yaml
Labels: helm, milestone 1.5.2

#2651 Fix deep copy methods
  api/kyverno/v1/utils.go
Labels: milestone 1.5.2

#2664 Add nil checks in custom deep copy function
  api/kyverno/v1/utils.go
Labels: milestone 1.5.2

#2659 bug fix : Kyverno policies block uninstall of Kyverno
  pkg/config/config.go
  pkg/webhookconfig/common.go
Labels: milestone 1.5.2

#2652 Fix bug in event creation for failed policies
  pkg/policy/report.go
Labels: milestone 1.6.0

#2647 redo variable validation
  pkg/engine/context/context.go
  pkg/engine/context/evaluate.go
  pkg/engine/context/mock_context.go
  pkg/engine/variables/vars.go
  pkg/engine/variables/vars_test.go
  pkg/kyverno/apply/apply_command.go
  pkg/kyverno/common/common.go
  pkg/kyverno/common/regex.go
  pkg/kyverno/test/test_command.go
  pkg/policy/allowed_vars_test.go
  pkg/policy/background.go
  pkg/policy/background_test.go
  pkg/policy/policy_controller.go
  pkg/policy/validate.go
  pkg/policy/validate_test.go
Labels: milestone 1.5.2

#2672 Bump chart version to release https://github.com/kyverno/kyverno/pull/2655
  charts/kyverno-policies/Chart.yaml
  charts/kyverno/Chart.yaml
Labels: milestone 1.5.2

#2673 Fix image var in cmdline
  pkg/kyverno/common/common.go
Labels: milestone 1.6.0

#2677 add keyless verification
  api/kyverno/v1/policy_types.go
  charts/kyverno/templates/crds.yaml
  config/crds/kyverno.io_clusterpolicies.yaml
  config/crds/kyverno.io_generaterequests.yaml
  config/crds/kyverno.io_policies.yaml
  config/install.yaml
  config/install_debug.yaml
  go.mod
  go.sum
  pkg/cosign/cosign.go
  pkg/engine/imageVerify.go
  pkg/policy/validate.go
Labels: milestone 1.6.0

#2679 Upgraded in-toto-golang to fix CVE-2021-41087
  go.mod
  go.sum
Labels: milestone 1.5.2

#2644 Contributors updates, Kyverno CLI acknowledgements
  .github/PULL_REQUEST_TEMPLATE.md
  .github/pr_documentation.md
  CODE_OF_CONDUCT.md
  CONTRIBUTING.md
  README.md
Labels: Documentation

#2656 Ignoring generate kinds from mutate webhook
  pkg/webhookconfig/configmanager.go
Labels: milestone 1.6.0

#2678 Fix memory issue - RCR conversion
  go.mod
  go.sum
  pkg/policyreport/builder.go
Labels: milestone 1.5.2

#2698 obtain webhook config name dynamically
  pkg/webhookconfig/configmanager.go
  pkg/webhookconfig/registration.go
Labels: milestone 1.6.0

#2657 Added `Skip` status for generate
  api/kyverno/v1/generaterequest_types.go
  pkg/generate/generate.go
  pkg/generate/status.go
Labels: milestone 1.6.0

#2598 Remove redundant PDB
  CHANGELOG.md
  charts/kyverno/README.md
  charts/kyverno/templates/_helpers.tpl
  charts/kyverno/templates/crds.yaml
  charts/kyverno/templates/poddisruptionbudget.yaml
  charts/kyverno/values.yaml
  config/install.yaml
  config/install_debug.yaml
  config/k8s-resource/kustomization.yaml
Labels: milestone 1.6.0

#2704 Fixes in new operators
  pkg/engine/variables/evaluate_test.go
  pkg/engine/variables/operator/allin.go
  pkg/engine/variables/operator/anyin.go
  pkg/engine/variables/operator/anynotin.go
Labels: milestone 1.6.0

#2692 Wildcard values
  pkg/engine/variables/evaluate_test.go
  pkg/engine/variables/operator/allin.go
  pkg/engine/variables/operator/anyin.go
Labels: milestone 1.6.0

#2728 fix hardcoded clusterrole name issue
  charts/kyverno/templates/clusterrole.yaml
  definitions/install.yaml
  definitions/install_debug.yaml
  definitions/k8s-resource/clusterroles.yaml
  definitions/release/install.yaml
  pkg/config/config.go
  pkg/webhookconfig/common.go
Labels: milestone 1.5.2

#2718 Fix: Hard-coded ClusterRoleName in OwnerRef breaks
  charts/kyverno/templates/clusterrole.yaml
  config/install.yaml
  config/install_debug.yaml
  config/k8s-resource/clusterroles.yaml
  config/release/install.yaml
  pkg/config/config.go
  pkg/webhookconfig/common.go
Labels: milestone 1.6.0

#2721 Allow use of "pods/binding" subresource
  pkg/webhookconfig/configmanager.go
Labels: milestone 1.6.0

#2730 Do not log error when resource is not namespaced
  pkg/common/common.go
  pkg/policy/common.go
Labels: milestone 1.6.0

#2680 Added time_since() custom JMESPath function
  pkg/engine/jmespath/functions.go
  pkg/engine/jmespath/functions_test.go
Labels: JMESPath, milestone 1.6.0

#2688 set default value of "request.operation" to "CREATE"
  pkg/kyverno/common/common.go
  test/cli/test/simple/policy.yaml
  test/cli/test/simple/resources.yaml
  test/cli/test/simple/test.yaml
  test/cli/test/simple/values.yaml
Labels: milestone 1.6.0

#2741 fix dependabot issue and remove stale entries in go.mod
  go.mod
  go.sum
Labels: milestone 1.6.0

#2740 fix signature
  pkg/cosign/cosign.go
Labels: milestone 1.5.2

#2744 Trivy now scans local images
  .github/workflows/build.yaml
  .github/workflows/release.yaml
  go.mod
  go.sum
  pkg/dclient/client.go
  pkg/openapi/crdSync.go
Labels: milestone 1.6.0

#2634 fix crd sync issue
  pkg/openapi/crdSync.go
Labels: milestone 1.6.0

#2717 Add `pattern_match` custom JMESPath function analogous to `regex_match`
  pkg/engine/jmespath/functions.go
  pkg/engine/jmespath/functions_test.go
  test/cli/test/custom-functions/policy.yaml
  test/cli/test/custom-functions/resources.yaml
  test/cli/test/custom-functions/test.yaml
Labels: milestone 1.6.0

#2768 fix package vulnerabilities
  .github/workflows/build.yaml
  .github/workflows/e2e.yaml
  .github/workflows/fossa.yml
  .github/workflows/helm-test.yaml
  .github/workflows/image.yaml
  go.mod
  go.sum
Labels: milestone 1.5.2

#2710 Only report on intended errors when checking JSONPatch path for variables
  pkg/openapi/validation.go
  pkg/policy/allowed_vars_test.go
  pkg/policy/validate.go
  pkg/policy/validate_test.go
Labels: milestone 1.6.0
