Repository kyverno/kyverno, pull requests merged in 2021-06, with the labels that each got.

#2054 add: http/https regex to kyverno CLI
  pkg/kyverno/common/common.go
  pkg/kyverno/common/common_test.go
  pkg/kyverno/common/fetch.go
  pkg/kyverno/common/regex.go
  pkg/kyverno/test/command.go
Labels: Documentation, help wanted

#2059 removing the labels bot
  .github/labeler.yml
  .github/workflows/labeler_bot.yml
Labels: API Call, Documentation, bug, help wanted

#2014 Integrate LitmusChaos - Pod Memory Hog experiment
  litmuschaos/README.md
  litmuschaos/pod_cpu_hog/config.go
  litmuschaos/pod_cpu_hog/pod_cpu_hog_test.go
  litmuschaos/pod_cpu_hog/resources.go
Labels: LFX, hold

#1880 [Improvement] Kyverno should not delete downstream resources when a generate policy using the clone behavior has synchronize: true
  go.sum
  pkg/common/common.go
  pkg/generate/cleanup/controller.go
  pkg/policy/validate_controller.go
  pkg/webhooks/generation.go
Labels: doc required
