Repository kyverno/kyverno, pull requests merged in 2021-09, with the labels that each got.

#2342 Kyverno CLI `apply` command improvement
  pkg/kyverno/apply/apply_command.go
  pkg/kyverno/apply/apply_command_test.go
  pkg/kyverno/apply/report.go
  pkg/kyverno/apply/report_test.go
  pkg/kyverno/common/common.go
  pkg/kyverno/common/common_test.go
  pkg/kyverno/test/test_command.go
  pkg/policy/validate.go
  test/best_practices/disallow_latest_tag.yaml
  test/cli/test/autogen/test.yaml
  test/resources/pod_with_latest_tag.yaml
Labels: type:cli

#2270 add check for the forward slash
  pkg/policy/validate.go
Labels: wip

#2367 Handling autogen test cases | CLI
  pkg/kyverno/test/test_command.go
  test/cli/test/autogen/test.yaml
Labels: type:cli

#2402 configured Behaviour bot.
  .github/config.yml
  README.md
Labels: milestone 1.5.0

#2400 purged: grafana dashboard json
  dashboard/grafana/dashboard.json
Labels: milestone 1.5.0

#2393 allow alternate image repositories
  charts/kyverno-crds/templates/crds.yaml
  cmd/kyverno/main.go
  definitions/crds/kyverno.io_clusterpolicies.yaml
  definitions/crds/kyverno.io_policies.yaml
  definitions/install.yaml
  definitions/install_debug.yaml
  pkg/api/kyverno/v1/policy_types.go
  pkg/cosign/cosign.go
  pkg/engine/imageVerify.go
Labels: milestone 1.5.0

#2401 CLI: Global variables
  pkg/kyverno/apply/apply_command.go
  pkg/kyverno/common/common.go
  pkg/kyverno/test/test_command.go
  test/cli/test/variables/cm-globalval-example.yaml
  test/cli/test/variables/resources.yaml
  test/cli/test/variables/test.yaml
  test/cli/test/variables/variables.yaml
Labels: milestone 1.5.0

#2410 Allowing for configuration of test image through chart values
  charts/kyverno/Chart.yaml
  charts/kyverno/README.md
  charts/kyverno/templates/tests/test.yaml
  charts/kyverno/values.yaml
Labels: doc required, milestone 1.5.0

#2422 fix | e2e test cases are failing with busybox image
  .github/workflows/e2e.yaml
  charts/kyverno/values.yaml
Labels: milestone 1.5.0

#2357 Switch Helm CRDs back to kyverno chart and move Policies to dedicated chart
  .github/workflows/e2e.yaml
  Makefile
  charts/kyverno-crds/values.yaml
  charts/kyverno-policies/Chart.yaml
  charts/kyverno-policies/README.md
  charts/kyverno-policies/templates/NOTES.txt
  charts/kyverno-policies/templates/_helpers.tpl
  charts/kyverno-policies/templates/default/disallow-adding-capabilities.yaml
  charts/kyverno-policies/templates/default/disallow-host-namespaces.yaml
  charts/kyverno-policies/templates/default/disallow-host-path.yaml
  charts/kyverno-policies/templates/default/disallow-host-ports.yaml
  charts/kyverno-policies/templates/default/disallow-privileged-containers.yaml
  charts/kyverno-policies/templates/default/disallow-proc-mount.yaml
  charts/kyverno-policies/templates/default/disallow-selinux.yaml
  charts/kyverno-policies/templates/default/restrict-apparmor-profiles.yaml
  charts/kyverno-policies/templates/default/restrict-sysctls.yaml
  charts/kyverno-policies/templates/restricted/deny-privilege-escalation.yaml
  charts/kyverno-policies/templates/restricted/require-non-root-groups.yaml
  charts/kyverno-policies/templates/restricted/require-run-as-nonroot.yaml
  charts/kyverno-policies/templates/restricted/restrict-seccomp.yaml
  charts/kyverno-policies/templates/restricted/restrict-volume-types.yaml
  charts/kyverno-policies/values.yaml
  charts/kyverno/Chart.yaml
  charts/kyverno/README.md
  charts/kyverno/templates/NOTES.txt
  charts/kyverno/templates/_helpers.tpl
  charts/kyverno/templates/crds.yaml
  charts/kyverno/values.yaml
Labels: milestone 1.5.0

#2416 JMESPath: Arithmetic Operators
  pkg/engine/jmespath/functions.go
  pkg/engine/jmespath/functions_test.go
  pkg/kyverno/common/regex.go
Labels: JMESPath, milestone 1.5.0

#2430 Add state `ready` to policy.status subresource
  charts/kyverno/templates/crds.yaml
  definitions/crds/kyverno.io_clusterpolicies.yaml
  definitions/crds/kyverno.io_policies.yaml
  definitions/install.yaml
  definitions/install_debug.yaml
  pkg/api/kyverno/v1/clusterpolicy_types.go
  pkg/api/kyverno/v1/policy_types.go
  pkg/api/kyverno/v1/zz_generated.deepcopy.go
  pkg/api/kyverno/v1alpha2/zz_generated.deepcopy.go
  pkg/api/policyreport/v1alpha2/zz_generated.deepcopy.go
Labels: milestone 1.5.0

#2429 Enqueue the GRs when triggred resource is deleted
  pkg/webhooks/generation.go
Labels: milestone 1.5.0

#2423 NetworkPolicy: `from` should be an array of objects
  charts/kyverno/templates/networkpolicy.yaml
Labels: milestone 1.5.0

#2433 Escape references
  pkg/engine/variables/vars.go
  pkg/engine/variables/vars_test.go
Labels: Documentation, milestone 1.5.0

#2446 Fix skipped policy message is displayed even if variable is passed
  pkg/kyverno/test/test_command.go
Labels: milestone 1.5.0

#2440 remove minio/minio and update minio/pkg
  go.mod
  go.sum
  pkg/engine/imageVerify.go
Labels: milestone 1.5.0

#2441 Update anti-affinity to the soft limit
  charts/kyverno/templates/deployment.yaml
  definitions/install.yaml
  definitions/manifest/deployment.yaml
Labels: milestone 1.5.0

#2451 Fix No warning about background mode when using any / all in match
  pkg/policy/background.go
Labels: milestone 1.5.0

#2420 Fix for flaky unit test
  pkg/engine/validate/utils.go
  pkg/engine/validate/validate.go
  pkg/engine/validate/validate_test.go
Labels: milestone 1.5.0
