Repository kyverno/kyverno, pull requests merged in 2021-08, with the labels that each got.

#2244 updated: grafana dashboard json with respect to new set of metrics
  dashboard/grafana/dashboard.json
Labels: milestone 1.4.2

#2251 Removing OwnerReference
  pkg/webhookconfig/common.go
  pkg/webhookconfig/policy.go
  pkg/webhookconfig/registration.go
  pkg/webhookconfig/resource.go
Labels: milestone 1.4.2

#2271 Fix precondition logic for mutating policies
  pkg/engine/mutation.go
  pkg/engine/mutation_test.go
Labels: milestone 1.5.0

#2255 Added 2241 test case
  go.mod
  pkg/engine/variables/vars.go
  test/e2e/validate/config.go
  test/e2e/validate/resources.go
  test/e2e/validate/validate_test.go
Labels: milestone 1.4.3

#2281 Only release Helm charts on tags
  .github/workflows/helm-release.yaml
Labels: milestone 1.4.3

#2275 Validation for generate loops and support ClusterPolicy/Policy in match block
  pkg/policy/actions.go
  pkg/policy/validate.go
  pkg/webhooks/common.go
Labels: milestone 1.5.0
