Repository kyverno/kyverno, pull requests merged in 2021-12, with the labels that each got.

#2784 Fix issue 1490 : initContainer fail to start when external.metrics.k8s.io/v1beta1
  pkg/openapi/crdSync.go
Labels: milestone 1.5.2

#2753 JMESPath arithmetic function units
  go.mod
  go.sum
  pkg/engine/jmespath/arithmetic.go
  pkg/engine/jmespath/functions.go
  pkg/engine/jmespath/functions_test.go
Labels: milestone 1.6.0

#2797 Add command-line flags to allow setting client rate limits (QPS/Burst)
  cmd/initContainer/main.go
  cmd/kyverno/main.go
  pkg/config/config.go
  pkg/config/config_test.go
Labels: milestone 1.6.0

#2803 fix: add Windows testcases for path_canonicalize
  pkg/engine/jmespath/functions_test.go
Labels: milestone 1.6.0

#2808 [docs]: sync api docs with latest api changes
  Makefile
  docs/crd/v1/index.html
Labels: milestone 1.6.0

#2827 Ensure Helm chart networkpolicy is valid by default
  charts/kyverno/ci/test-networkpolicy.yaml
  charts/kyverno/templates/networkpolicy.yaml
  charts/kyverno/values.yaml
Labels: milestone 1.6.0

#2848 Test publishing dev-test images
  .github/workflows/image.yaml
  Makefile
Labels: milestone 1.6.0

#2841 Add SelectorLabel to (Cluster)PolicyReporter resources
  cmd/initContainer/main.go
  cmd/kyverno/main.go
  pkg/policy/report.go
  pkg/policyreport/builder.go
  pkg/policyreport/reportcontroller.go
Labels: milestone 1.6.0

#2715 Kyverno CLI test default manifest should use a less generic name
  pkg/kyverno/test/test_command.go
Labels: milestone 1.6.0

#2836 truncate custom jmespath function
  go.mod
  go.sum
  pkg/engine/jmespath/functions.go
  pkg/engine/jmespath/functions_test.go
Labels: milestone 1.6.0

#2845 Cherry pick #2536
  .github/workflows/image.yaml
  .github/workflows/release.yaml
  Makefile
  cmd/alpineBase/Dockerfile
Labels: milestone 1.5.3

#2763 added support for --git-branch flag and directory in git path for kyverno test cmd
  .github/workflows/e2e.yaml
  Makefile
  pkg/kyverno/test/git.go
  pkg/kyverno/test/test_command.go
Labels: milestone 1.6.0

#2856 jmespath truncate - handle negative input value
  pkg/engine/jmespath/functions.go
  pkg/engine/jmespath/functions_test.go
Labels: milestone 1.6.0

#2855 added priorityClassName to helm values.yaml
  charts/kyverno/values.yaml
Labels: milestone 1.6.0

#2862 Increase Kyverno memory request and limit
  charts/kyverno/values.yaml
  config/install.yaml
  config/manifest/deployment.yaml
Labels: milestone 1.6.0

#2852 remove app.kubernetes.io/managed-by label from crds
  charts/kyverno/templates/crds.yaml
  config/bundle/labels.yaml
  config/install.yaml
Labels: milestone 1.6.0

#2867 Fix Foreach JMESPath issue
  pkg/engine/variables/vars.go
  pkg/engine/variables/vars_test.go
Labels: milestone 1.6.0

#2846 add `semver_compare` JMESPath function
  go.mod
  go.sum
  pkg/engine/jmespath/functions.go
  pkg/engine/jmespath/functions_test.go
  pkg/engine/variables/evaluate_test.go
  pkg/engine/variables/operator/numeric.go
Labels: milestone 1.6.0

#2871 Fix : Foreach Precondition issue
  pkg/engine/mutation.go
Labels: milestone 1.6.0

#2870 Upgraded dependencies
  go.mod
  go.sum
Labels: milestone 1.5.3

#2874 fix report permissions
  charts/kyverno/templates/aggregateroles.yaml
  charts/kyverno/templates/clusterrole.yaml
  charts/kyverno/templates/crds.yaml
  config/install.yaml
  config/install_debug.yaml
  config/k8s-resource/aggregateroles.yaml
  config/k8s-resource/clusterroles.yaml
Labels: milestone 1.6.0

#2832 2460: Add wildcard support for match label selector
  pkg/policy/validate.go
Labels: milestone 1.5.3

#2875 feat(validation): support for ephemeral containers
  go.mod
  pkg/webhookconfig/configmanager.go
Labels: milestone 1.5.3

#2864 Added validation for Condition Operators
  api/kyverno/v1/policy_types.go
  pkg/engine/variables/evaluate_test.go
  pkg/engine/variables/operator/duration.go
  pkg/engine/variables/operator/numeric.go
  pkg/engine/variables/operator/operator.go
  pkg/utils/util.go
Labels: milestone 1.6.0

#2884 Rules length check
  pkg/engine/mutation.go
  pkg/webhooks/mutation.go
Labels: milestone 1.6.0

#2886 Fix policy report reconciliation on resource/policy deletion
  pkg/policyreport/builder.go
  pkg/policyreport/reportcontroller.go
Labels: milestone 1.5.2

#2889 Don't generate policy report on managed pod/job
  pkg/engine/response/response.go
  pkg/engine/utils.go
  pkg/engine/validation.go
  pkg/policyreport/builder.go
Labels: milestone 1.5.3
