Repository kyverno/kyverno, pull requests merged in 2022-11, with the labels that each got.

#5152 refactor: support Audit and Enforce validation failure actions
  CHANGELOG.md
  api/kyverno/v1/spec_types.go
  api/kyverno/v2beta1/spec_types.go
  charts/kyverno/templates/crds.yaml
  config/crds/kyverno.io_clusterpolicies.yaml
  config/crds/kyverno.io_policies.yaml
  config/install.yaml
  config/install_debug.yaml
  pkg/controllers/metrics/policy/metrics.go
  pkg/engine/imageVerifyValidate.go
  pkg/engine/response/response.go
  pkg/engine/validation.go
  pkg/metrics/parsers.go
  pkg/policy/validate.go
  pkg/policy/validate_test.go
  pkg/policycache/cache.go
  pkg/policycache/store.go
  pkg/utils/engine/response.go
  pkg/webhooks/resource/handlers_test.go
  pkg/webhooks/utils/block_test.go
Labels: milestone 1.9.0, lgtm

#5173 feat: run leader election in loop
  cmd/kyverno/main.go
Labels: milestone 1.9.0

#5177 fix: content type in log
  pkg/webhooks/handlers/admission.go
Labels: cherry-pick-required, milestone 1.8.2

#5178 chore: add kind config file
  Makefile
  scripts/kind.yaml
Labels: cherry-pick-required, milestone 1.8.2

#5180 fix: do not cancel context when loosing the lead
  cmd/kyverno/main.go
Labels: milestone 1.9.0

#5179 fix: check resource version on update notification
  pkg/controllers/report/background/controller.go
  pkg/utils/controller/handlers.go
Labels: cherry-pick-required, milestone 1.8.2

#5190 fix: use pagination to aggregate reports
  pkg/controllers/report/aggregate/controller.go
Labels: cherry-pick-required, milestone 1.8.2

#5174 refactor: remove policyreport package
  cmd/cli/kubectl-kyverno/apply/apply_command.go
  cmd/cli/kubectl-kyverno/apply/report.go
  cmd/cli/kubectl-kyverno/apply/report_test.go
  cmd/cli/kubectl-kyverno/test/test_command.go
  cmd/cli/kubectl-kyverno/utils/common/common.go
  cmd/cli/kubectl-kyverno/utils/common/info.go
Labels: milestone 1.9.0, lgtm

#4964 Helm chart: add extraCRDAnnotations value and set ArgoCD sync option by default
  Makefile
  charts/kyverno/Chart.yaml
  charts/kyverno/README.md
  charts/kyverno/templates/_helpers.tpl
  charts/kyverno/templates/crds.yaml
  charts/kyverno/values.yaml
Labels: cherry-pick-required, milestone 1.8.2

#5194 fix: deletion of reports not belonging to kyverno
  pkg/controllers/report/aggregate/controller.go
  pkg/utils/controller/metadata.go
Labels: cherry-pick-required, milestone 1.8.2

#5197 feat: support disabling schema validation on the patched resource
  api/kyverno/v1/clusterpolicy_types.go
  api/kyverno/v1/policy_interface.go
  api/kyverno/v1/policy_types.go
  api/kyverno/v1/spec_types.go
  api/kyverno/v2beta1/spec_types.go
  charts/kyverno/templates/crds.yaml
  config/crds/kyverno.io_clusterpolicies.yaml
  config/crds/kyverno.io_policies.yaml
  docs/user/crd/index.html
  pkg/webhooks/resource/mutation/mutation.go
Labels: cherry-pick-required, milestone 1.8.2

#5200 fix: early return in policy validation
  pkg/policy/validate.go
  pkg/policy/validate_test.go
  pkg/utils/admission/utils.go
  pkg/webhooks/policy/handlers.go
Labels: cherry-pick-required, milestone 1.8.2

#5176 refactor: health check system
  cmd/kyverno/main.go
  pkg/controllers/webhook/controller.go
  pkg/utils/runtime/utils.go
  pkg/webhooks/handlers/admission.go
  pkg/webhooks/server.go
Labels: cherry-pick-required, milestone 1.8.2, lgtm

#5209 chore: server side apply in argo lab
  scripts/labs/argocd/kind-argo.sh
Labels: cherry-pick-required, milestone 1.8.2

#5208 fix: too much information for the Policy Rule Execution Latency metric
  pkg/metrics/common_types.go
  pkg/metrics/metrics.go
  pkg/metrics/policyexecutionduration/policyExecutionDuration.go
  pkg/policy/existing.go
  pkg/webhooks/utils/metrics.go
Labels: cherry-pick-required, cherry-pick-completed, milestone 1.8.2

#5198 feat: add policy label to policy reports
  pkg/controllers/report/aggregate/controller.go
Labels: cherry-pick-required, milestone 1.8.2

#5230 feat: add grafana dashboard to helm chart
  charts/kyverno/Chart.yaml
  charts/kyverno/README.md
  charts/kyverno/grafana/dashboard.json
  charts/kyverno/templates/grafana.yaml
  charts/kyverno/values.yaml
Labels: cherry-pick-required, milestone 1.8.2

#5231 chore: add loki to argocd lab
  scripts/labs/argocd/README.md
  scripts/labs/argocd/kind-argo.sh
Labels: cherry-pick-required, milestone 1.8.2

#5168 [Feature] Pin Dependencies by Hash
  .github/workflows/fossa.yml
  .github/workflows/tests.yaml
  cmd/cli/kubectl-kyverno/Dockerfile
  cmd/initContainer/Dockerfile
  cmd/kyverno/Dockerfile
  cmd/kyverno/localDockerfile
  scripts/create-e2e-infrastruture.sh
Labels: milestone 1.9.0

#5243 fix: remove /approve from prow actions
  .github/workflows/comment-commands.yaml
Labels: milestone 1.9.0

#5239 Fix policy installation issue for Got empty response for: external.metrics.k8s.io/v1beta1
  pkg/policy/validate.go
Labels: milestone 1.8.2

#5146 fix metadata/generateName for mutation
  pkg/engine/mutate/patch/patchesUtils.go
  pkg/engine/mutate/patch/patchesUtils_test.go
Labels: milestone 1.9.0

#5244 refactor: move all middlewares in handlers sub package
  pkg/webhooks/handlers/admission.go
  pkg/webhooks/handlers/dump.go
  pkg/webhooks/handlers/dump_test.go
  pkg/webhooks/handlers/filter.go
  pkg/webhooks/handlers/protect.go
  pkg/webhooks/handlers/verify.go
  pkg/webhooks/server.go
Labels: cherry-pick-required, milestone 1.8.2

#4986 feat: separate webhook rules per GVK
  pkg/controllers/webhook/controller.go
  pkg/controllers/webhook/utils.go
Labels: milestone 1.9.0

#5242 fix: remove unused code in config
  pkg/config/config.go
Labels: milestone 1.9.0

#5254 chore: add kuttl in makefile
  .github/workflows/conformance.yaml
  Makefile
Labels: cherry-pick-required, milestone 1.8.2

#5252 chore: use conditions in kuttl tests to check ready policies
  test/conformance/kuttl/aaa_template_resources/01-assert.yaml
  test/conformance/kuttl/generate/clusterpolicy/standard/clone/nosync/cpol-clone-nosync-create/01-assert.yaml
  test/conformance/kuttl/generate/clusterpolicy/standard/clone/nosync/cpol-clone-nosync-delete-downstream/01-assert.yaml
  test/conformance/kuttl/generate/clusterpolicy/standard/clone/sync/cpol-clone-sync-create/01-assert.yaml
  test/conformance/kuttl/generate/clusterpolicy/standard/clone/sync/cpol-clone-sync-delete-downstream/01-assert.yaml
  test/conformance/kuttl/generate/clusterpolicy/standard/data/nosync/cpol-data-nosync-delete-downstream/01-assert.yaml
  test/conformance/kuttl/generate/clusterpolicy/standard/data/sync/cpol-data-sync-create/01-assert.yaml
  test/conformance/kuttl/generate/clusterpolicy/standard/data/sync/cpol-data-sync-delete-policy/01-assert.yaml
  test/conformance/kuttl/generate/clusterpolicy/standard/data/sync/cpol-data-sync-modify-rule/01-assert.yaml
  test/conformance/kuttl/mutate/clusterpolicy/standard/basic-check-output/01-assert.yaml
  test/conformance/kuttl/mutate/clusterpolicy/standard/existing/basic/01-assert.yaml
  test/conformance/kuttl/reports/admission/test-report-admission-mode/01-assert.yaml
  test/conformance/kuttl/reports/background/test-report-background-mode/02-assert.yaml
  test/conformance/kuttl/validate/clusterpolicy/standard/enforce/resource-apply-block/01-assert.yaml
  test/conformance/kuttl/verifyImages/clusterpolicy/standard/imageExtractors-complex-keyless/01-assert.yaml
  test/conformance/kuttl/verifyImages/clusterpolicy/standard/imageExtractors-complex/01-assert.yaml
  test/conformance/kuttl/verifyImages/clusterpolicy/standard/imageExtractors-none/01-assert.yaml
  test/conformance/kuttl/verifyImages/clusterpolicy/standard/imageExtractors-simple/01-assert.yaml
  test/conformance/kuttl/verifyImages/clusterpolicy/standard/keyed-secret/01-assert.yaml
  test/conformance/kuttl/verifyImages/clusterpolicy/standard/keyless-mutatedigest-verifydigest-required/01-assert.yaml
  test/conformance/kuttl/verifyImages/clusterpolicy/standard/keyless-nomutatedigest-noverifydigest-norequired/01-assert.yaml
  test/conformance/kuttl/verifyImages/clusterpolicy/standard/keyless-nomutatedigest-noverifydigest-required/01-assert.yaml
Labels: cherry-pick-required, milestone 1.8.2

#5257 Kuttl updates
  test/conformance/kuttl/generate/clusterpolicy/standard/clone/sync/cpol-clone-sync-delete-downstream/README.md
  test/conformance/kuttl/kuttl-test.yaml
Labels: cherry-pick-required, milestone 1.8.2

#5260 chore: remove old conformance tests files
  test/conformance/main.go
  test/conformance/tests.yaml
Labels: cherry-pick-required, milestone 1.8.2

#5233 feat: create cleanup new CRDs
  Makefile
  api/kyverno/v1alpha1/cleanup_policy_types.go
  api/kyverno/v1alpha1/doc.go
  api/kyverno/v1alpha1/register.go
  api/kyverno/v1alpha1/zz_generated.deepcopy.go
  charts/kyverno/templates/crds.yaml
  config/crds/kustomization.yaml
  config/crds/kyverno.io_cleanuppolicies.yaml
  config/crds/kyverno.io_clustercleanuppolicies.yaml
  config/install.yaml
  config/install_debug.yaml
  docs/user/crd/index.html
  pkg/client/clientset/versioned/clientset.go
  pkg/client/clientset/versioned/fake/clientset_generated.go
  pkg/client/clientset/versioned/fake/register.go
  pkg/client/clientset/versioned/scheme/register.go
  pkg/client/clientset/versioned/typed/kyverno/v1alpha1/cleanuppolicy.go
  pkg/client/clientset/versioned/typed/kyverno/v1alpha1/clustercleanuppolicy.go
  pkg/client/clientset/versioned/typed/kyverno/v1alpha1/doc.go
  pkg/client/clientset/versioned/typed/kyverno/v1alpha1/fake/doc.go
  pkg/client/clientset/versioned/typed/kyverno/v1alpha1/fake/fake_cleanuppolicy.go
  pkg/client/clientset/versioned/typed/kyverno/v1alpha1/fake/fake_clustercleanuppolicy.go
  pkg/client/clientset/versioned/typed/kyverno/v1alpha1/fake/fake_kyverno_client.go
  pkg/client/clientset/versioned/typed/kyverno/v1alpha1/generated_expansion.go
  pkg/client/clientset/versioned/typed/kyverno/v1alpha1/kyverno_client.go
  pkg/client/informers/externalversions/generic.go
  pkg/client/informers/externalversions/kyverno/interface.go
  pkg/client/informers/externalversions/kyverno/v1alpha1/cleanuppolicy.go
  pkg/client/informers/externalversions/kyverno/v1alpha1/clustercleanuppolicy.go
  pkg/client/informers/externalversions/kyverno/v1alpha1/interface.go
  pkg/client/listers/kyverno/v1alpha1/cleanuppolicy.go
  pkg/client/listers/kyverno/v1alpha1/clustercleanuppolicy.go
  pkg/client/listers/kyverno/v1alpha1/expansion_generated.go
  pkg/clients/wrappers/clientset.go
  pkg/clients/wrappers/kyverno/v1alpha1/kyverno_client.go
Labels: milestone 1.9.0

#5234 refactor: admission response utils
  pkg/utils/admission/response.go
  pkg/utils/admission/response_test.go
  pkg/utils/admission/utils.go
  pkg/webhooks/handlers/protect.go
  pkg/webhooks/handlers/verify.go
  pkg/webhooks/policy/handlers.go
  pkg/webhooks/resource/handlers.go
  pkg/webhooks/resource/utils.go
Labels: cherry-pick-required, milestone 1.8.2

#5264 fix: account for error rules in mutation webhook
  pkg/engine/response/response.go
  pkg/webhooks/resource/mutation/mutation.go
  test/conformance/kuttl/issues/5136/01-assert.yaml
  test/conformance/kuttl/issues/5136/01-manifests.yaml
  test/conformance/kuttl/issues/5136/02-script.yaml
  test/conformance/kuttl/issues/5136/03-errors.yaml
  test/conformance/kuttl/issues/5136/04-manifests.yaml
  test/conformance/kuttl/issues/5136/05-assert.yaml
  test/conformance/kuttl/issues/5136/05-pod.yaml
  test/conformance/kuttl/issues/5136/99-cleanup.yaml
  test/conformance/kuttl/issues/5136/resource.yaml
Labels: cherry-pick-required, milestone 1.8.2

#5268 fix: add missing test suite to kuttl
  test/conformance/kuttl/kuttl-test.yaml
  test/conformance/kuttl/mutate/clusterpolicy/cornercases/defaulting-namespace-labels/01-assert.yaml
  test/conformance/kuttl/mutate/clusterpolicy/cornercases/defaulting-namespace-labels/01-manifests.yaml
  test/conformance/kuttl/mutate/clusterpolicy/cornercases/defaulting-namespace-labels/02-script.yaml
  test/conformance/kuttl/mutate/clusterpolicy/cornercases/defaulting-namespace-labels/03-errors.yaml
  test/conformance/kuttl/mutate/clusterpolicy/cornercases/defaulting-namespace-labels/04-manifests.yaml
  test/conformance/kuttl/mutate/clusterpolicy/cornercases/defaulting-namespace-labels/05-assert.yaml
  test/conformance/kuttl/mutate/clusterpolicy/cornercases/defaulting-namespace-labels/05-pod.yaml
  test/conformance/kuttl/mutate/clusterpolicy/cornercases/defaulting-namespace-labels/99-cleanup.yaml
  test/conformance/kuttl/mutate/clusterpolicy/cornercases/defaulting-namespace-labels/README.md
  test/conformance/kuttl/mutate/clusterpolicy/cornercases/defaulting-namespace-labels/resource.yaml
Labels: cherry-pick-required, milestone 1.8.2

#5246 fix: resource schema validation in policies under any/all match
  pkg/openapi/manager.go
  pkg/openapi/manager_test.go
Labels: milestone 1.9.0

#5245 refactor: admission metrics (counter and latency)
  cmd/kyverno/main.go
  pkg/metrics/admissionrequests/admissionRequests.go
  pkg/metrics/admissionreviewduration/admissionReviewDuration.go
  pkg/webhooks/handlers/admission.go
  pkg/webhooks/handlers/dump.go
  pkg/webhooks/handlers/filter.go
  pkg/webhooks/handlers/metrics.go
  pkg/webhooks/handlers/protect.go
  pkg/webhooks/resource/generation/generation.go
  pkg/webhooks/resource/mutation/mutation.go
  pkg/webhooks/resource/updaterequest.go
  pkg/webhooks/resource/validation/validation.go
  pkg/webhooks/server.go
  pkg/webhooks/utils/metrics.go
Labels: cherry-pick-required, milestone 1.8.2

#5172 feat: add flag to control leader election frequency
  CHANGELOG.md
  cmd/initContainer/main.go
  cmd/kyverno/main.go
  pkg/leaderelection/leaderelection.go
Labels: milestone 1.9.0, lgtm

#5166 fix: make zapr compatible with klog's -v argument
  cmd/initContainer/main.go
  cmd/kyverno/main.go
  pkg/logging/log.go
Labels: cherry-pick-required, milestone 1.8.2

#5285 chore: update kuttl
  Makefile
Labels: cherry-pick-required, milestone 1.8.2

#5287 fix: kuttl test external-service
  test/conformance/kuttl/validate/clusterpolicy/cornercases/external-metrics/00-keda.yaml
  test/conformance/kuttl/validate/clusterpolicy/cornercases/external-metrics/01-cluster-policy.yaml
  test/conformance/kuttl/validate/clusterpolicy/cornercases/external-metrics/02-policy.yaml
  test/conformance/kuttl/validate/clusterpolicy/cornercases/external-metrics/02-sleep.yaml
  test/conformance/kuttl/validate/clusterpolicy/cornercases/external-metrics/03-assert.yaml
  test/conformance/kuttl/validate/clusterpolicy/cornercases/external-metrics/99-cleanup.yaml
  test/conformance/kuttl/validate/clusterpolicy/cornercases/external-metrics/cluster-policy-ready.yaml
  test/conformance/kuttl/validate/clusterpolicy/cornercases/external-metrics/cluster-policy.yaml
  test/conformance/kuttl/validate/clusterpolicy/cornercases/external-metrics/keda-ready.yaml
  test/conformance/kuttl/validate/clusterpolicy/cornercases/external-metrics/keda.yaml
  test/conformance/kuttl/validate/clusterpolicy/cornercases/external-metrics/policy-ready.yaml
  test/conformance/kuttl/validate/clusterpolicy/cornercases/external-metrics/policy.yaml
Labels: cherry-pick-required, milestone 1.8.2

#5286 fix: check policy is ready in kuttl tests
  test/conformance/kuttl/aaa_template_resources/scaffold/01-assert.yaml
  test/conformance/kuttl/generate/clusterpolicy/cornercases/clone-role-and-rolebinding/01-assert.yaml
  test/conformance/kuttl/generate/clusterpolicy/cornercases/data-role-and-rolebinding/01-assert.yaml
  test/conformance/kuttl/verifyImages/clusterpolicy/standard/keyed-basic/01-assert.yaml
  test/conformance/kuttl/verifyImages/clusterpolicy/standard/mutateDigest-noverifyDigest-norequired/01-assert.yaml
  test/conformance/kuttl/verifyImages/clusterpolicy/standard/nomutateDigest-verifyDigest-norequired/01-assert.yaml
Labels: cherry-pick-required, milestone 1.8.2

#5161 fix: allow delete of clone target resource with synchronize false
  pkg/background/generate/generate.go
  test/conformance/kuttl/kuttl-test.yaml
Labels: cherry-pick-required, milestone 1.8.2

#5280 tests: add kuttl tests for multiple clone generate
  test/conformance/kuttl/generate/clusterpolicy/standard/clone/sync/cpol-clone-list-sync-create/01-assert.yaml
  test/conformance/kuttl/generate/clusterpolicy/standard/clone/sync/cpol-clone-list-sync-create/01-manifests.yaml
  test/conformance/kuttl/generate/clusterpolicy/standard/clone/sync/cpol-clone-list-sync-create/02-assert.yaml
  test/conformance/kuttl/generate/clusterpolicy/standard/clone/sync/cpol-clone-list-sync-create/02-ns.yaml
  test/conformance/kuttl/generate/clusterpolicy/standard/clone/sync/cpol-clone-list-sync-create/README.md
Labels: cherry-pick-required, milestone 1.8.2

#5291 Add a note to 1.8.2-rc1 release for `ImagePullSecrets`
  CHANGELOG.md
Labels: milestone 1.8.2

#5296 fix: reduce startup probe delay
  charts/kyverno/values.yaml
  config/install.yaml
  config/manifest/deployment.yaml
Labels: cherry-pick-required, milestone 1.8.2

#5303 Update kuttl test scaffolding
  test/conformance/kuttl/aaa_template_resources/BEST_PRACTICES.md
  test/conformance/kuttl/aaa_template_resources/scaffold/01-policy.yaml
  test/conformance/kuttl/aaa_template_resources/scaffold/02-resource.yaml
  test/conformance/kuttl/aaa_template_resources/scaffold/99-cleanup.yaml
  test/conformance/kuttl/aaa_template_resources/scaffold/policy-ready.yaml
  test/conformance/kuttl/aaa_template_resources/scaffold/policy.yaml
  test/conformance/kuttl/aaa_template_resources/scaffold/resource-mutated.yaml
Labels: cherry-pick-required, milestone 1.8.2

#5162 fix: set rule response status as skip if precondition failed
  pkg/engine/background.go
Labels: cherry-pick-required, milestone 1.8.2

#5298 fix: send notification when stoping watching resource in reports system
  pkg/controllers/report/resource/controller.go
  test/conformance/kuttl/reports/background/background-scan-report-deletion/00-policy.yaml
  test/conformance/kuttl/reports/background/background-scan-report-deletion/01-pod.yaml
  test/conformance/kuttl/reports/background/background-scan-report-deletion/02-background-scan-report.yaml
  test/conformance/kuttl/reports/background/background-scan-report-deletion/03-delete-report.yaml
  test/conformance/kuttl/reports/background/background-scan-report-deletion/README.md
  test/conformance/kuttl/reports/background/background-scan-report-deletion/background-scan-report-assert.yaml
  test/conformance/kuttl/reports/background/background-scan-report-deletion/background-scan-report-error.yaml
  test/conformance/kuttl/reports/background/background-scan-report-deletion/pod.yaml
  test/conformance/kuttl/reports/background/background-scan-report-deletion/policy-assert.yaml
  test/conformance/kuttl/reports/background/background-scan-report-deletion/policy.yaml
Labels: cherry-pick-required, milestone 1.8.2

#5311 fix: wrong logger used
  go.mod
  go.sum
  pkg/policy/updaterequest.go
  pkg/policy/validate.go
Labels: cherry-pick-required, milestone 1.8.2

#5189 Fix issue where CLI test command ignores failures
  cmd/cli/kubectl-kyverno/test/test_command.go
Labels: milestone 1.8.2

#5310 tests: add kuttl tests for jmespath special chars
  test/conformance/kuttl/mutate/clusterpolicy/cornercases/jmespath-with-special-chars/00-policy.yaml
  test/conformance/kuttl/mutate/clusterpolicy/cornercases/jmespath-with-special-chars/01-deployment.yaml
  test/conformance/kuttl/mutate/clusterpolicy/cornercases/jmespath-with-special-chars/README.md
  test/conformance/kuttl/mutate/clusterpolicy/cornercases/jmespath-with-special-chars/policy-assert.yaml
  test/conformance/kuttl/mutate/clusterpolicy/cornercases/jmespath-with-special-chars/policy.yaml
  test/conformance/kuttl/mutate/clusterpolicy/cornercases/jmespath-with-special-chars/resources-assert.yaml
  test/conformance/kuttl/mutate/clusterpolicy/cornercases/jmespath-with-special-chars/resources.yaml
Labels: cherry-pick-required, milestone 1.8.2

#5227 feat: allow list with policies in apply
  pkg/utils/yaml/loadpolicy.go
  pkg/utils/yaml/loadpolicy_test.go
Labels: milestone 1.9.0

#5317 fix: synchronize source resource update to clone list resource
  pkg/controllers/webhook/controller.go
  pkg/policy/validate.go
  pkg/utils/controller/run.go
  pkg/webhooks/resource/generation/generation.go
  pkg/webhooks/resource/updaterequest.go
  pkg/webhooks/utils/exclude.go
  test/conformance/kuttl/generate/clusterpolicy/standard/clone/sync/cpol-clone-list-sync-update/00-cluster-policy.yaml
  test/conformance/kuttl/generate/clusterpolicy/standard/clone/sync/cpol-clone-list-sync-update/01-trigger.yaml
  test/conformance/kuttl/generate/clusterpolicy/standard/clone/sync/cpol-clone-list-sync-update/02-update.yaml
  test/conformance/kuttl/generate/clusterpolicy/standard/clone/sync/cpol-clone-list-sync-update/03-update-source.yaml
  test/conformance/kuttl/generate/clusterpolicy/standard/clone/sync/cpol-clone-list-sync-update/README.md
  test/conformance/kuttl/generate/clusterpolicy/standard/clone/sync/cpol-clone-list-sync-update/cluster-policy-ready.yaml
  test/conformance/kuttl/generate/clusterpolicy/standard/clone/sync/cpol-clone-list-sync-update/cluster-policy.yaml
  test/conformance/kuttl/generate/clusterpolicy/standard/clone/sync/cpol-clone-list-sync-update/manifests.yaml
  test/conformance/kuttl/generate/clusterpolicy/standard/clone/sync/cpol-clone-list-sync-update/ns.yaml
  test/conformance/kuttl/generate/clusterpolicy/standard/clone/sync/cpol-clone-list-sync-update/resource-assert.yaml
  test/conformance/kuttl/generate/clusterpolicy/standard/clone/sync/cpol-clone-list-sync-update/synchronized-target.yaml
  test/conformance/kuttl/generate/clusterpolicy/standard/clone/sync/cpol-clone-list-sync-update/update-source.yaml
Labels: cherry-pick-required, milestone 1.8.2

#5279 feat: add cleanupPolicy validation code
  api/kyverno/v1alpha1/cleanup_policy_interface.go
  api/kyverno/v1alpha1/cleanup_policy_test.go
  api/kyverno/v1alpha1/cleanup_policy_types.go
  cmd/cleanup/logger/log.go
  cmd/cleanup/main.go
  cmd/cleanup/utils/utils.go
  cmd/cleanup/validate/validate.go
  docs/user/crd/index.html
  go.mod
  go.sum
Labels: milestone 1.9.0

#4975 feat: add replicaset and replicationcontroller to autogen
  pkg/autogen/autogen.go
  pkg/autogen/autogen_test.go
  pkg/autogen/rule.go
  test/conformance/kuttl/autogen/should-autogen/01-assert.yaml
Labels: milestone 1.9.0

#5327 feat: add cleanup controller makefile targets
  .gitignore
  Makefile
  cmd/cleanup-controller/logger/log.go
  cmd/cleanup-controller/main.go
  cmd/cleanup-controller/utils/utils.go
  cmd/cleanup-controller/validate/validate.go
  cmd/cleanup/main.go
Labels: milestone 1.9.0

#5330 test: add test to check expected webhooks are created
  test/conformance/kuttl/kuttl-test.yaml
  test/conformance/kuttl/webhooks/expected-webhooks/00-webhooks.yaml
  test/conformance/kuttl/webhooks/expected-webhooks/README.md
  test/conformance/kuttl/webhooks/expected-webhooks/webhooks.yaml
Labels: cherry-pick-required, milestone 1.8.2

#5331 chore: add cli binary to gitignore
  .gitignore
Labels: cherry-pick-required, milestone 1.8.2

#5324 chore: remove docker support
  DEVELOPMENT.md
  Makefile
  cmd/cli/kubectl-kyverno/Dockerfile
  cmd/initContainer/Dockerfile
  cmd/initContainer/localDockerfile
  cmd/kyverno/Dockerfile
  cmd/kyverno/localDockerfile
Labels: milestone 1.9.0

#5329 feat: add cleanup controller to helm chart
  Makefile
  charts/kyverno/README.md
  charts/kyverno/templates/cleanup-controller/_helpers.tpl
  charts/kyverno/templates/cleanup-controller/clusterrole.yaml
  charts/kyverno/templates/cleanup-controller/clusterrolebinding.yaml
  charts/kyverno/templates/cleanup-controller/deployment.yaml
  charts/kyverno/templates/cleanup-controller/role.yaml
  charts/kyverno/templates/cleanup-controller/rolebinding.yaml
  charts/kyverno/templates/cleanup-controller/secret.yaml
  charts/kyverno/templates/cleanup-controller/service.yaml
  charts/kyverno/templates/cleanup-controller/serviceaccount.yaml
  charts/kyverno/values.yaml
  cmd/cleanup-controller/informer.go
  cmd/cleanup-controller/main.go
  cmd/cleanup-controller/server.go
Labels: milestone 1.9.0

#5336 fix: add replicaset and replicationController kinds in podsecurity validation
  pkg/engine/validation.go
Labels: milestone 1.9.0

#5323 Update SLSA generator workflow to v1.2.2
  .github/workflows/image.yaml
  .github/workflows/tests.yaml
Labels: milestone 1.9.0

#5337 test: add rbac kuttl test
  test/conformance/kuttl/kuttl-test.yaml
  test/conformance/kuttl/rbac/aggregate-to-admin/00-cluster-role.yaml
  test/conformance/kuttl/rbac/aggregate-to-admin/README.md
  test/conformance/kuttl/rbac/aggregate-to-admin/admin-generaterequest.yaml
  test/conformance/kuttl/rbac/aggregate-to-admin/admin-policies.yaml
  test/conformance/kuttl/rbac/aggregate-to-admin/admin-policyreport.yaml
  test/conformance/kuttl/rbac/aggregate-to-admin/admin-reports.yaml
  test/conformance/kuttl/rbac/aggregate-to-admin/admin-updaterequest.yaml
Labels: cherry-pick-required, milestone 1.8.2

#5326 add test cases for yaml verification feature
  test/cli/test/manifests/verify-signature/kyverno-test.yaml
  test/cli/test/manifests/verify-signature/policies.yaml
  test/cli/test/manifests/verify-signature/resources.yaml
Labels: cherry-pick-required, milestone 1.8.2

#5351 fix: add some missing options in cleanup helm chart
  charts/kyverno/Chart.yaml
  charts/kyverno/README.md
  charts/kyverno/templates/cleanup-controller/_helpers.tpl
  charts/kyverno/templates/cleanup-controller/deployment.yaml
  charts/kyverno/values.yaml
Labels: milestone 1.9.0

#5356 fix digest variable
  .github/workflows/image.yaml
Labels: milestone 1.9.0

#5349 chore: enable json logs in argocd lab
  scripts/labs/argocd/kind-argo.sh
Labels: cherry-pick-required, milestone 1.8.2

#5343 test: simplify autogen kuttl tests
  test/conformance/kuttl/autogen/deployment-statefulset-job/01-policy.yaml
  test/conformance/kuttl/autogen/deployment-statefulset-job/02-errors.yaml
  test/conformance/kuttl/autogen/deployment-statefulset-job/99-cleanup.yaml
  test/conformance/kuttl/autogen/deployment-statefulset-job/policy-assert.yaml
  test/conformance/kuttl/autogen/deployment-statefulset-job/policy.yaml
  test/conformance/kuttl/autogen/none/01-policy.yaml
  test/conformance/kuttl/autogen/none/02-errors.yaml
  test/conformance/kuttl/autogen/none/99-cleanup.yaml
  test/conformance/kuttl/autogen/none/policy-assert.yaml
  test/conformance/kuttl/autogen/none/policy.yaml
  test/conformance/kuttl/autogen/only-cronjob/01-policy.yaml
  test/conformance/kuttl/autogen/only-cronjob/02-errors.yaml
  test/conformance/kuttl/autogen/only-cronjob/99-cleanup.yaml
  test/conformance/kuttl/autogen/only-cronjob/policy-assert.yaml
  test/conformance/kuttl/autogen/only-cronjob/policy.yaml
  test/conformance/kuttl/autogen/only-deployment/01-policy.yaml
  test/conformance/kuttl/autogen/only-deployment/02-errors.yaml
  test/conformance/kuttl/autogen/only-deployment/99-cleanup.yaml
  test/conformance/kuttl/autogen/only-deployment/policy-assert.yaml
  test/conformance/kuttl/autogen/only-deployment/policy.yaml
  test/conformance/kuttl/autogen/should-autogen/01-policy.yaml
  test/conformance/kuttl/autogen/should-autogen/99-cleanup.yaml
  test/conformance/kuttl/autogen/should-autogen/policy-assert.yaml
  test/conformance/kuttl/autogen/should-autogen/policy.yaml
  test/conformance/kuttl/autogen/should-not-autogen/01-policy.yaml
  test/conformance/kuttl/autogen/should-not-autogen/02-errors.yaml
  test/conformance/kuttl/autogen/should-not-autogen/99-cleanup.yaml
  test/conformance/kuttl/autogen/should-not-autogen/policy-assert.yaml
  test/conformance/kuttl/autogen/should-not-autogen/policy.yaml
Labels: milestone 1.9.0

#5338 feat: add CleanupPolicy validation code to CleanupPolicyHandler
  charts/kyverno/README.md
  charts/kyverno/templates/cleanup-controller/secret.yaml
  charts/kyverno/values.yaml
  cmd/cleanup-controller/handlers.go
  cmd/cleanup-controller/logger/log.go
  cmd/cleanup-controller/main.go
  cmd/cleanup-controller/server.go
  cmd/cleanup-controller/validate/validate.go
  pkg/utils/admission/cleanup.go
  pkg/utils/admission/policy.go
  pkg/utils/admission/utils.go
  test/conformance/kuttl/kuttl-test.yaml
  test/conformance/kuttl/validate/cleanuppolicy/00-assert.yaml
  test/conformance/kuttl/validate/cleanuppolicy/00-cleanuppolicy.yaml
  test/conformance/kuttl/validate/cleanuppolicy/01-assert.yaml
  test/conformance/kuttl/validate/cleanuppolicy/01-clustercleanuppolicy.yaml
  test/conformance/kuttl/validate/cleanuppolicy/02-create-task.yaml
  test/conformance/kuttl/validate/cleanuppolicy/badcleanuppolicy.yaml
Labels: milestone 1.9.0

#5366 fix: panic when disable metrics is true
  pkg/metrics/init.go
  pkg/metrics/metrics.go
Labels: cherry-pick-required, milestone 1.8.2

#5241 chore: add performance tests tool
  Makefile
  scripts/kind.yaml
  scripts/kube-prometheus-stack.yaml
Labels: cherry-pick-required, milestone 1.8.2

#5365 chore: add tempo to argocd lab
  scripts/labs/argocd/kind-argo.sh
Labels: cherry-pick-required, milestone 1.8.2

#5346 fix: add validation for generate namespace policy
  pkg/policy/validate.go
  pkg/policy/validate_test.go
Labels: cherry-pick-required, milestone 1.8.2

#4899 fixed dryrun option to handle changes caused by mutating policy
  config/dryrun/dryrun_config.yaml
  pkg/config/config.go
  pkg/engine/k8smanifest.go
Labels: cherry-pick-required, milestone 1.8.2

#5319 fix: set logger in metrics server
  cmd/kyverno/main.go
Labels: cherry-pick-required, milestone 1.8.2

#5350 fix closed watchers in the resource-report-controller
  pkg/controllers/report/resource/controller.go
Labels: cherry-pick-required, milestone 1.8.2

#5358 fix: set correct logger in profiling server
  cmd/kyverno/main.go
Labels: cherry-pick-required, milestone 1.8.2

#5364 Add more kuttl generate test cases
  test/conformance/kuttl/generate/clusterpolicy/standard/clone/nosync/cpol-clone-nosync-delete-downstream/README.md
  test/conformance/kuttl/generate/clusterpolicy/standard/clone/nosync/cpol-clone-nosync-delete-policy/01-policy.yaml
  test/conformance/kuttl/generate/clusterpolicy/standard/clone/nosync/cpol-clone-nosync-delete-policy/02-resource.yaml
  test/conformance/kuttl/generate/clusterpolicy/standard/clone/nosync/cpol-clone-nosync-delete-policy/03-removepolicy.yaml
  test/conformance/kuttl/generate/clusterpolicy/standard/clone/nosync/cpol-clone-nosync-delete-policy/README.md
  test/conformance/kuttl/generate/clusterpolicy/standard/clone/nosync/cpol-clone-nosync-delete-policy/check.yaml
  test/conformance/kuttl/generate/clusterpolicy/standard/clone/nosync/cpol-clone-nosync-delete-policy/cloned.yaml
  test/conformance/kuttl/generate/clusterpolicy/standard/clone/nosync/cpol-clone-nosync-delete-policy/ns.yaml
  test/conformance/kuttl/generate/clusterpolicy/standard/clone/nosync/cpol-clone-nosync-delete-policy/policy-ready.yaml
  test/conformance/kuttl/generate/clusterpolicy/standard/clone/nosync/cpol-clone-nosync-delete-policy/policy.yaml
  test/conformance/kuttl/generate/clusterpolicy/standard/clone/nosync/cpol-clone-nosync-delete-rule/01-policy.yaml
  test/conformance/kuttl/generate/clusterpolicy/standard/clone/nosync/cpol-clone-nosync-delete-rule/02-resource.yaml
  test/conformance/kuttl/generate/clusterpolicy/standard/clone/nosync/cpol-clone-nosync-delete-rule/03-removerule.yaml
  test/conformance/kuttl/generate/clusterpolicy/standard/clone/nosync/cpol-clone-nosync-delete-rule/README.md
  test/conformance/kuttl/generate/clusterpolicy/standard/clone/nosync/cpol-clone-nosync-delete-rule/check.yaml
  test/conformance/kuttl/generate/clusterpolicy/standard/clone/nosync/cpol-clone-nosync-delete-rule/cloned.yaml
  test/conformance/kuttl/generate/clusterpolicy/standard/clone/nosync/cpol-clone-nosync-delete-rule/ns.yaml
  test/conformance/kuttl/generate/clusterpolicy/standard/clone/nosync/cpol-clone-nosync-delete-rule/policy-ready.yaml
  test/conformance/kuttl/generate/clusterpolicy/standard/clone/nosync/cpol-clone-nosync-delete-rule/policy.yaml
  test/conformance/kuttl/generate/clusterpolicy/standard/clone/nosync/cpol-clone-nosync-delete-rule/singlerule.yaml
  test/conformance/kuttl/generate/clusterpolicy/standard/clone/nosync/cpol-clone-nosync-delete-source/01-policy.yaml
  test/conformance/kuttl/generate/clusterpolicy/standard/clone/nosync/cpol-clone-nosync-delete-source/02-resource.yaml
  test/conformance/kuttl/generate/clusterpolicy/standard/clone/nosync/cpol-clone-nosync-delete-source/03-deletesource.yaml
  test/conformance/kuttl/generate/clusterpolicy/standard/clone/nosync/cpol-clone-nosync-delete-source/04-forcesleep.yaml
  test/conformance/kuttl/generate/clusterpolicy/standard/clone/nosync/cpol-clone-nosync-delete-source/05-assert.yaml
  test/conformance/kuttl/generate/clusterpolicy/standard/clone/nosync/cpol-clone-nosync-delete-source/README.md
  test/conformance/kuttl/generate/clusterpolicy/standard/clone/nosync/cpol-clone-nosync-delete-source/cloned.yaml
  test/conformance/kuttl/generate/clusterpolicy/standard/clone/nosync/cpol-clone-nosync-delete-source/ns.yaml
  test/conformance/kuttl/generate/clusterpolicy/standard/clone/nosync/cpol-clone-nosync-delete-source/policy-ready.yaml
  test/conformance/kuttl/generate/clusterpolicy/standard/clone/nosync/cpol-clone-nosync-delete-source/policy.yaml
  test/conformance/kuttl/generate/clusterpolicy/standard/clone/nosync/cpol-clone-nosync-modify-downstream/01-policy.yaml
  test/conformance/kuttl/generate/clusterpolicy/standard/clone/nosync/cpol-clone-nosync-modify-downstream/02-resource.yaml
  test/conformance/kuttl/generate/clusterpolicy/standard/clone/nosync/cpol-clone-nosync-modify-downstream/03-modifydownstream.yaml
  test/conformance/kuttl/generate/clusterpolicy/standard/clone/nosync/cpol-clone-nosync-modify-downstream/04-forcesleep.yaml
  test/conformance/kuttl/generate/clusterpolicy/standard/clone/nosync/cpol-clone-nosync-modify-downstream/05-assert.yaml
  test/conformance/kuttl/generate/clusterpolicy/standard/clone/nosync/cpol-clone-nosync-modify-downstream/README.md
  test/conformance/kuttl/generate/clusterpolicy/standard/clone/nosync/cpol-clone-nosync-modify-downstream/changed-secret.yaml
  test/conformance/kuttl/generate/clusterpolicy/standard/clone/nosync/cpol-clone-nosync-modify-downstream/check.yaml
  test/conformance/kuttl/generate/clusterpolicy/standard/clone/nosync/cpol-clone-nosync-modify-downstream/cloned.yaml
  test/conformance/kuttl/generate/clusterpolicy/standard/clone/nosync/cpol-clone-nosync-modify-downstream/ns.yaml
  test/conformance/kuttl/generate/clusterpolicy/standard/clone/nosync/cpol-clone-nosync-modify-downstream/policy-ready.yaml
  test/conformance/kuttl/generate/clusterpolicy/standard/clone/nosync/cpol-clone-nosync-modify-downstream/policy.yaml
  test/conformance/kuttl/generate/clusterpolicy/standard/clone/nosync/cpol-clone-nosync-modify-source/01-policy.yaml
  test/conformance/kuttl/generate/clusterpolicy/standard/clone/nosync/cpol-clone-nosync-modify-source/02-resource.yaml
  test/conformance/kuttl/generate/clusterpolicy/standard/clone/nosync/cpol-clone-nosync-modify-source/03-modifysource.yaml
  test/conformance/kuttl/generate/clusterpolicy/standard/clone/nosync/cpol-clone-nosync-modify-source/04-forcesleep.yaml
  test/conformance/kuttl/generate/clusterpolicy/standard/clone/nosync/cpol-clone-nosync-modify-source/05-assert.yaml
  test/conformance/kuttl/generate/clusterpolicy/standard/clone/nosync/cpol-clone-nosync-modify-source/README.md
  test/conformance/kuttl/generate/clusterpolicy/standard/clone/nosync/cpol-clone-nosync-modify-source/changed-secret.yaml
  test/conformance/kuttl/generate/clusterpolicy/standard/clone/nosync/cpol-clone-nosync-modify-source/check.yaml
  test/conformance/kuttl/generate/clusterpolicy/standard/clone/nosync/cpol-clone-nosync-modify-source/cloned.yaml
  test/conformance/kuttl/generate/clusterpolicy/standard/clone/nosync/cpol-clone-nosync-modify-source/ns.yaml
  test/conformance/kuttl/generate/clusterpolicy/standard/clone/nosync/cpol-clone-nosync-modify-source/policy-ready.yaml
  test/conformance/kuttl/generate/clusterpolicy/standard/clone/nosync/cpol-clone-nosync-modify-source/policy.yaml
Labels: cherry-pick-required, milestone 1.8.2

#5384 fix: the entry length validation for the verify image rule
  api/kyverno/v1/image_verification_test.go
  api/kyverno/v1/image_verification_types.go
  pkg/policy/validate.go
Labels: milestone 1.9.0

#5383 fix: enable policy validation for the verifyImage rule
  api/kyverno/v1/image_verification_test.go
  api/kyverno/v1/image_verification_types.go
  pkg/policy/validate.go
  test/e2e/verifyimages/resources.go
Labels: milestone 1.8.2

#5387 [Bug]: Fix wildcard any/all issue
  pkg/policy/validate.go
  pkg/policy/validate_test.go
  test/conformance/kuttl/validate/clusterpolicy/standard/wildcard/block-verifyimage/01-script.yaml
  test/conformance/kuttl/validate/clusterpolicy/standard/wildcard/block-verifyimage/README.md
  test/conformance/kuttl/validate/clusterpolicy/standard/wildcard/block-verifyimage/policy.yaml
Labels: cherry-pick-required, milestone 1.8.2

#5391 refactor: improve tracing package
  pkg/tracing/tracing.go
  pkg/webhooks/handlers/admission.go
Labels: milestone 1.9.0

#5392 refactor: propagate context through admission handlers
  cmd/cleanup-controller/handlers.go
  cmd/cleanup-controller/server.go
  pkg/webhooks/handlers/admission.go
  pkg/webhooks/handlers/dump.go
  pkg/webhooks/handlers/filter.go
  pkg/webhooks/handlers/metrics.go
  pkg/webhooks/handlers/protect.go
  pkg/webhooks/handlers/verify.go
  pkg/webhooks/policy/handlers.go
  pkg/webhooks/resource/handlers.go
  pkg/webhooks/resource/handlers_test.go
  pkg/webhooks/server.go
Labels: milestone 1.9.0

#5362 refactor: generate instrumented client code
  .golangci.yml
  Makefile
  cmd/cleanup-controller/main.go
  cmd/kyverno/main.go
  hack/main.go
  pkg/clients/dclient/client.go
  pkg/clients/wrappers/clientset.go
  pkg/clients/wrappers/kube/clientset.generated.go
  pkg/clients/wrappers/kyverno/clientset.generated.go
  pkg/clients/wrappers/kyverno/v1/kyverno_client.go
  pkg/clients/wrappers/kyverno/v1alpha1/kyverno_client.go
  pkg/clients/wrappers/kyverno/v1alpha2/kyverno_client.go
  pkg/clients/wrappers/kyverno/v1beta1/kyverno_client.go
  pkg/clients/wrappers/policyreport/v1alpha2/policyreport_client.go
Labels: milestone 1.9.0

#5402 fix: add os.Exit
  cmd/kyverno/main.go
Labels: cherry-pick-required, milestone 1.8.2

#5272 Fixed issue-3709: Image verify rule gives error for non-existing configmap
  pkg/engine/imageVerify.go
  pkg/engine/imageVerifyValidate.go
  pkg/engine/imageVerify_test.go
  pkg/policy/validate.go
  test/conformance/kuttl/verifyImages/clusterpolicy/standard/noconfigmap-diffimage-success/01-policy.yaml
  test/conformance/kuttl/verifyImages/clusterpolicy/standard/noconfigmap-diffimage-success/02-create-good-pod.yaml
  test/conformance/kuttl/verifyImages/clusterpolicy/standard/noconfigmap-diffimage-success/03-create-bad-pod.yaml
  test/conformance/kuttl/verifyImages/clusterpolicy/standard/noconfigmap-diffimage-success/04-update-policy.yaml
  test/conformance/kuttl/verifyImages/clusterpolicy/standard/noconfigmap-diffimage-success/05-create-pod-with-configmap.yaml
  test/conformance/kuttl/verifyImages/clusterpolicy/standard/noconfigmap-diffimage-success/99-cleanup.yaml
  test/conformance/kuttl/verifyImages/clusterpolicy/standard/noconfigmap-diffimage-success/README.md
  test/conformance/kuttl/verifyImages/clusterpolicy/standard/noconfigmap-diffimage-success/bad-pod.yaml
  test/conformance/kuttl/verifyImages/clusterpolicy/standard/noconfigmap-diffimage-success/good-pod.yaml
  test/conformance/kuttl/verifyImages/clusterpolicy/standard/noconfigmap-diffimage-success/namespace.yaml
  test/conformance/kuttl/verifyImages/clusterpolicy/standard/noconfigmap-diffimage-success/pod-with-configmap-ready.yaml
  test/conformance/kuttl/verifyImages/clusterpolicy/standard/noconfigmap-diffimage-success/pod-with-configmap.yaml
  test/conformance/kuttl/verifyImages/clusterpolicy/standard/noconfigmap-diffimage-success/policy-ready.yaml
  test/conformance/kuttl/verifyImages/clusterpolicy/standard/noconfigmap-diffimage-success/policy.yaml
  test/conformance/kuttl/verifyImages/clusterpolicy/standard/noconfigmap-diffimage-success/update-policy.yaml
Labels: cherry-pick-required, milestone 1.8.2

#5397 feat: add tracing middleware
  cmd/cleanup-controller/server.go
  pkg/tracing/tracing.go
  pkg/webhooks/handlers/admission.go
  pkg/webhooks/handlers/dump.go
  pkg/webhooks/handlers/filter.go
  pkg/webhooks/handlers/metrics.go
  pkg/webhooks/handlers/protect.go
  pkg/webhooks/handlers/trace.go
  pkg/webhooks/handlers/verify.go
  pkg/webhooks/server.go
Labels: milestone 1.9.0

#5398 refactor: generated instrumented client code part 2
  cmd/cleanup-controller/main.go
  cmd/kyverno/main.go
  hack/main.go
  pkg/clients/wrappers/kube/clientset.generated.go
  pkg/clients/wrappers/kyverno/clientset.generated.go
  pkg/clients/wrappers/metrics/kube/clientset.generated.go
  pkg/clients/wrappers/metrics/kyverno/clientset.generated.go
  pkg/clients/wrappers/traces/kube/clientset.generated.go
  pkg/clients/wrappers/traces/kyverno/clientset.generated.go
Labels: milestone 1.9.0

#5404 refactor: introduce cmd internal package
  CHANGELOG.md
  cmd/cleanup-controller/informer.go
  cmd/cleanup-controller/main.go
  cmd/initContainer/main.go
  cmd/internal/config.go
  cmd/internal/error.go
  cmd/internal/flag.go
  cmd/internal/informer.go
  cmd/internal/logging.go
  cmd/internal/maxprocs.go
  cmd/internal/profiling.go
  cmd/internal/tracing.go
  cmd/internal/version.go
  cmd/kyverno/main.go
  pkg/logging/log.go
  pkg/profiling/pprof.go
  pkg/tracing/tracing.go
Labels: milestone 1.9.0

#5412 feat: make traces better
  hack/main.go
  pkg/clients/wrappers/traces/kube/clientset.generated.go
  pkg/clients/wrappers/traces/kyverno/clientset.generated.go
  pkg/webhooks/handlers/admission.go
  pkg/webhooks/handlers/dump.go
  pkg/webhooks/handlers/filter.go
  pkg/webhooks/handlers/metrics.go
  pkg/webhooks/handlers/protect.go
  pkg/webhooks/handlers/trace.go
  pkg/webhooks/handlers/types.go
  pkg/webhooks/handlers/utils.go
  pkg/webhooks/handlers/verify.go
Labels: milestone 1.9.0

#5415 fix: typo
  pkg/webhooks/handlers/admission.go
Labels: milestone 1.9.0

#5321 adding --audit-warn flag
  cmd/cli/kubectl-kyverno/apply/apply_command.go
  cmd/cli/kubectl-kyverno/apply/apply_command_test.go
  cmd/cli/kubectl-kyverno/apply/report_test.go
  cmd/cli/kubectl-kyverno/utils/common/common.go
Labels: milestone 1.9.0

#5417 refactor: improve instrumented clients creation
  Makefile
  cmd/cleanup-controller/main.go
  cmd/kyverno/main.go
  hack/main.go
  pkg/clients/kube/clientset.generated.go
  pkg/clients/kyverno/clientset.generated.go
  pkg/clients/middleware/metrics/kube/clientset.generated.go
  pkg/clients/middleware/metrics/kyverno/clientset.generated.go
  pkg/clients/middleware/tracing/kube/clientset.generated.go
  pkg/clients/middleware/tracing/kyverno/clientset.generated.go
Labels: milestone 1.9.0

#5376 chore: bump sigstore deps
  go.mod
  go.sum
  pkg/registryclient/client.go
  pkg/registryclient/client_test.go
Labels: milestone 1.9.0

#5419 Update SLSA to v1.3.0
  .github/workflows/image.yaml
Labels: milestone 1.9.0

#5421 Handle GVK properly with the same kind but different apiVersion/group
  pkg/clients/dclient/discovery.go
  pkg/policy/common.go
  test/conformance/kuttl/validate/clusterpolicy/standard/gvk/00-crd.yaml
  test/conformance/kuttl/validate/clusterpolicy/standard/gvk/01-crd-1.yaml
  test/conformance/kuttl/validate/clusterpolicy/standard/gvk/02-policy.yaml
  test/conformance/kuttl/validate/clusterpolicy/standard/gvk/03-task.yaml
  test/conformance/kuttl/validate/clusterpolicy/standard/gvk/README.md
  test/conformance/kuttl/validate/clusterpolicy/standard/gvk/crd-1.yaml
  test/conformance/kuttl/validate/clusterpolicy/standard/gvk/crd-ready-1.yaml
  test/conformance/kuttl/validate/clusterpolicy/standard/gvk/crd-ready.yaml
  test/conformance/kuttl/validate/clusterpolicy/standard/gvk/crd.yaml
  test/conformance/kuttl/validate/clusterpolicy/standard/gvk/policy-ready.yaml
  test/conformance/kuttl/validate/clusterpolicy/standard/gvk/policy.yaml
  test/conformance/kuttl/validate/clusterpolicy/standard/gvk/task.yaml
Labels: milestone 1.9.0

#5432 Fix multi attestor keyless
  pkg/cosign/cosign.go
  pkg/cosign/cosign_test.go
Labels: cherry-pick-required, milestone 1.8.3

#5401 chore: remove obsolete metrics client code
  pkg/metrics/client.go
  pkg/metrics/log.go
Labels: milestone 1.9.0

#5436 refactor: dynamic client use instrumented clients
  cmd/cleanup-controller/main.go
  cmd/cli/kubectl-kyverno/apply/apply_command.go
  cmd/initContainer/main.go
  cmd/internal/client.go
  cmd/kyverno/main.go
  pkg/clients/dclient/client.go
  pkg/clients/dclient/client_test.go
  pkg/clients/dclient/fake.go
  pkg/controllers/openapi/controller.go
  pkg/event/controller.go
  pkg/policy/policy_controller.go
Labels: milestone 1.9.0

#5437 feat: add discovery support in instrumented clients
  hack/main.go
  pkg/clients/kube/clientset.generated.go
  pkg/clients/kube/corev1/events/resource.generated.go
  pkg/clients/kube/corev1/pods/resource.generated.go
  pkg/clients/kube/corev1/services/resource.generated.go
  pkg/clients/kube/discovery/resource.generated.go
  pkg/clients/kube/eventsv1beta1/events/resource.generated.go
  pkg/clients/kyverno/clientset.generated.go
  pkg/clients/kyverno/discovery/resource.generated.go
Labels: milestone 1.9.0

#5440 chore: bump a bunch of deps
  go.mod
  go.sum
  pkg/openapi/manager.go
Labels: milestone 1.9.0

#5442 feat: improve handlers tracing code
  cmd/cleanup-controller/server.go
  pkg/tracing/tracing.go
  pkg/webhooks/handlers/admission.go
  pkg/webhooks/handlers/dump.go
  pkg/webhooks/handlers/filter.go
  pkg/webhooks/handlers/metrics.go
  pkg/webhooks/handlers/protect.go
  pkg/webhooks/handlers/trace.go
  pkg/webhooks/handlers/types.go
  pkg/webhooks/handlers/utils.go
  pkg/webhooks/handlers/verify.go
  pkg/webhooks/server.go
Labels: milestone 1.9.0

#5444 feat: add signal in internal cmd package
  cmd/cleanup-controller/main.go
  cmd/initContainer/main.go
  cmd/internal/maxprocs.go
  cmd/internal/profiling.go
  cmd/internal/signal.go
  cmd/internal/tracing.go
  cmd/kyverno/main.go
Labels: milestone 1.9.0

#5439 fix: mutate existing policy does not get applied when background=false
  pkg/policy/policy_controller.go
  test/conformance/kuttl/mutate/clusterpolicy/standard/existing/background-false/01-assert.yaml
  test/conformance/kuttl/mutate/clusterpolicy/standard/existing/background-false/01-manifests.yaml
  test/conformance/kuttl/mutate/clusterpolicy/standard/existing/background-false/03-assert.yaml
  test/conformance/kuttl/mutate/clusterpolicy/standard/existing/background-false/99-cleanup.yaml
  test/conformance/kuttl/mutate/clusterpolicy/standard/existing/background-false/README.md
Labels: cherry-pick-required, milestone 1.8.3

#5446 fix: argocd lab monitoring namespace
  scripts/labs/argocd/5-tempo.sh
Labels: milestone 1.9.0

#5427 ci: cancel redundant builds of workflow on push
  .github/workflows/conformance.yaml
  .github/workflows/e2e.yaml
  .github/workflows/image-build.yaml
  .github/workflows/image.yaml
Labels: milestone 1.9.0

#5449 fix: log watcher error in reports controller
  pkg/controllers/report/resource/controller.go
Labels: cherry-pick-required, milestone 1.8.3

#5434 docs: add controllers README
  docs/dev/controllers/README.md
Labels: milestone 1.9.0

#5457 fix: admission reports stacking up
  api/kyverno/v1alpha2/admission_report_types.go
  charts/kyverno/templates/crds.yaml
  cmd/kyverno/main.go
  config/crds/kyverno.io_admissionreports.yaml
  config/crds/kyverno.io_clusteradmissionreports.yaml
  config/install.yaml
  config/install_debug.yaml
  pkg/controllers/report/admission/controller.go
  pkg/controllers/report/aggregate/controller.go
  pkg/controllers/report/background/controller.go
  pkg/controllers/report/resource/controller.go
  pkg/controllers/report/utils/utils.go
  pkg/utils/controller/metadata.go
  pkg/utils/controller/run.go
  pkg/utils/report/labels.go
  pkg/utils/report/new.go
  pkg/webhooks/resource/imageverification/handler.go
  pkg/webhooks/resource/validation/validation.go
Labels: cherry-pick-required, milestone 1.8.3

#5435 fix: reading policies for oci command and pushing image
  cmd/cli/kubectl-kyverno/oci/oci.go
  cmd/cli/kubectl-kyverno/oci/oci_pull.go
  cmd/cli/kubectl-kyverno/oci/oci_push.go
Labels: milestone 1.9.0, lgtm

#5460 chore: add instrumented clients codegen verification
  Makefile
Labels: milestone 1.9.0

#5461 feat: support flagsets in internal cmd package
  cmd/cleanup-controller/main.go
  cmd/initContainer/main.go
  cmd/internal/config.go
  cmd/internal/flag.go
  cmd/internal/setup.go
Labels: milestone 1.9.0

#5465 fix: issue when calling kustomize concurrently
  cmd/kyverno/main.go
Labels: cherry-pick-required, milestone 1.8.3

#5459 fix: add clone check before validating namespace policy
  pkg/policy/validate.go
  pkg/policy/validate_test.go
  test/conformance/kuttl/generate/policy/standard/data/sync/pol-data-sync-invalid/01-script-try-create.yaml
  test/conformance/kuttl/generate/policy/standard/data/sync/pol-data-sync-invalid/README.md
  test/conformance/kuttl/generate/policy/standard/data/sync/pol-data-sync-invalid/policy.yaml
  test/conformance/kuttl/generate/policy/standard/data/sync/pol-data-sync-valid/01-script-try-create.yaml
  test/conformance/kuttl/generate/policy/standard/data/sync/pol-data-sync-valid/README.md
  test/conformance/kuttl/generate/policy/standard/data/sync/pol-data-sync-valid/policy.yaml
  test/conformance/kuttl/kuttl-test.yaml
Labels: cherry-pick-required, milestone 1.8.3

#5462 fix: remove filtering for policy admission handlers
  pkg/webhooks/handlers/filter.go
  pkg/webhooks/policy/handlers.go
  pkg/webhooks/resource/handlers.go
  pkg/webhooks/server.go
Labels: milestone 1.9.0

#5472 feat: add new filtering handlers
  pkg/webhooks/handlers/filter.go
  pkg/webhooks/policy/handlers.go
  pkg/webhooks/resource/handlers.go
  pkg/webhooks/server.go
Labels: milestone 1.9.0

#5385 Add reconciling logic for creating cronjobs whenever a new cleanup policy is created
  api/kyverno/v1alpha1/cleanup_policy_interface.go
  api/kyverno/v1alpha1/cleanup_policy_types.go
  charts/kyverno/templates/cleanup-controller/clusterrole.yaml
  charts/kyverno/templates/crds.yaml
  cmd/cleanup-controller/controller.go
  cmd/cleanup-controller/logger/log.go
  cmd/cleanup-controller/main.go
  config/crds/kyverno.io_cleanuppolicies.yaml
  config/crds/kyverno.io_clustercleanuppolicies.yaml
  config/install.yaml
  config/install_debug.yaml
  pkg/controllers/cleanup/controller.go
  pkg/controllers/cleanup/log.go
  pkg/controllers/cleanup/utils.go
Labels: milestone 1.9.0

#5473 feat: create a policy utils package
  cmd/cli/kubectl-kyverno/oci/oci_pull.go
  cmd/cli/kubectl-kyverno/oci/oci_push.go
  pkg/utils/policy/mashal.go
Labels: milestone 1.9.0

#5475 refactor: metrics configuration code
  cmd/cleanup-controller/main.go
  cmd/internal/metrics.go
  cmd/kyverno/main.go
  pkg/config/config.go
  pkg/config/fake.go
  pkg/config/metricsconfig.go
  pkg/metrics/fake.go
  pkg/metrics/init.go
  pkg/metrics/metrics.go
  pkg/webhooks/resource/fake.go
Labels: milestone 1.9.0

#5480 fix: typo in autogen package
  pkg/autogen/autogen.go
Labels: cherry-pick-required, milestone 1.8.3

#5482 chore: bump kyverno version in argo lab
  scripts/labs/argocd/7-kyverno.sh
  scripts/labs/argocd/8-kyverno-policies.sh
Labels: cherry-pick-required, milestone 1.8.3

#5478 feat: add allowed label to admission metrics
  pkg/metrics/admissionrequests/admissionRequests.go
  pkg/metrics/admissionreviewduration/admissionReviewDuration.go
  pkg/metrics/metrics.go
  pkg/webhooks/handlers/metrics.go
Labels: doc required, milestone 1.9.0

#5374 fix: fix mutating the "/metadata/serverAddress" section of a keda.s/v1alpha1/ScaledObject object
  pkg/engine/mutate/patch/patchesUtils.go
  pkg/engine/mutate/patch/patchesUtils_test.go
  test/cli/test/mutate-keda-scaled-object/kyverno-test.yaml
  test/cli/test/mutate-keda-scaled-object/patchedResource1.yaml
  test/cli/test/mutate-keda-scaled-object/patchedResource2.yaml
  test/cli/test/mutate-keda-scaled-object/patchedResource3.yaml
  test/cli/test/mutate-keda-scaled-object/policy.yaml
  test/cli/test/mutate-keda-scaled-object/resources.yaml
Labels: cherry-pick-required, milestone 1.8.3

#5479 feat: propagate context to the metrics package
  cmd/cleanup-controller/main.go
  cmd/kyverno/main.go
  pkg/controllers/metrics/policy/controller.go
  pkg/controllers/metrics/policy/metrics.go
  pkg/metrics/admissionrequests/admissionRequests.go
  pkg/metrics/admissionreviewduration/admissionReviewDuration.go
  pkg/metrics/client.go
  pkg/metrics/init.go
  pkg/metrics/metrics.go
  pkg/metrics/policychanges/policyChanges.go
  pkg/metrics/policyexecutionduration/policyExecutionDuration.go
  pkg/metrics/policyresults/policyResults.go
  pkg/metrics/policyruleinfo/policyRuleInfo.go
  pkg/policy/existing.go
  pkg/webhooks/handlers/metrics.go
  pkg/webhooks/resource/generation/generation.go
  pkg/webhooks/resource/mutation/mutation.go
  pkg/webhooks/resource/updaterequest.go
  pkg/webhooks/resource/validation/validation.go
  pkg/webhooks/utils/metrics.go
Labels: milestone 1.9.0

#5483 Migrate validate e2e tests to kuttl tests
  test/conformance/kuttl/kuttl-test.yaml
  test/conformance/kuttl/validate/e2e/global-anchor/01-policy.yaml
  test/conformance/kuttl/validate/e2e/global-anchor/02-create-good.yaml
  test/conformance/kuttl/validate/e2e/global-anchor/03-create-bad.yaml
  test/conformance/kuttl/validate/e2e/global-anchor/README.md
  test/conformance/kuttl/validate/e2e/global-anchor/bad.yaml
  test/conformance/kuttl/validate/e2e/global-anchor/policy-ready.yaml
  test/conformance/kuttl/validate/e2e/global-anchor/policy.yaml
  test/conformance/kuttl/validate/e2e/trusted-images/01-policy.yaml
  test/conformance/kuttl/validate/e2e/trusted-images/02-create-good.yaml
  test/conformance/kuttl/validate/e2e/trusted-images/03-create-bad.yaml
  test/conformance/kuttl/validate/e2e/trusted-images/README.md
  test/conformance/kuttl/validate/e2e/trusted-images/bad.yaml
  test/conformance/kuttl/validate/e2e/trusted-images/policy-ready.yaml
  test/conformance/kuttl/validate/e2e/trusted-images/policy.yaml
  test/conformance/kuttl/validate/e2e/x509-decode/01-policy.yaml
  test/conformance/kuttl/validate/e2e/x509-decode/02-bad-configmap.yaml
  test/conformance/kuttl/validate/e2e/x509-decode/03-good-configmap.yaml
  test/conformance/kuttl/validate/e2e/x509-decode/README.md
  test/conformance/kuttl/validate/e2e/x509-decode/bad.yaml
  test/conformance/kuttl/validate/e2e/x509-decode/policy-ready.yaml
  test/conformance/kuttl/validate/e2e/x509-decode/policy.yaml
  test/conformance/kuttl/validate/e2e/yaml-signing/01-policy.yaml
  test/conformance/kuttl/validate/e2e/yaml-signing/02-good-deployment.yaml
  test/conformance/kuttl/validate/e2e/yaml-signing/03-bad-deployment.yaml
  test/conformance/kuttl/validate/e2e/yaml-signing/README.md
  test/conformance/kuttl/validate/e2e/yaml-signing/bad.yaml
  test/conformance/kuttl/validate/e2e/yaml-signing/policy-ready.yaml
  test/conformance/kuttl/validate/e2e/yaml-signing/policy.yaml
Labels: cherry-pick-required, milestone 1.8.3

#5489 chore: refactor metrics namespace check
  pkg/config/metricsconfig.go
  pkg/metrics/admissionrequests/admissionRequests.go
  pkg/metrics/admissionreviewduration/admissionReviewDuration.go
  pkg/metrics/policychanges/policyChanges.go
  pkg/metrics/policyexecutionduration/policyExecutionDuration.go
  pkg/metrics/policyresults/policyResults.go
  pkg/metrics/policyruleinfo/policyRuleInfo.go
Labels: milestone 1.9.0

#5492 refactor: move metrics closer to the code that use them
  pkg/metrics/admissionrequests/admissionRequests.go
  pkg/metrics/admissionreviewduration/admissionReviewDuration.go
  pkg/metrics/metrics.go
  pkg/webhooks/handlers/metrics.go
  pkg/webhooks/server.go
Labels: milestone 1.9.0

#5497 fix: add image extractor for ReplicationController
  pkg/utils/api/image.go
Labels: milestone 1.9.0

#5496 chore: replace utils.ContainsString with builtin slices.Contains
  cmd/cli/kubectl-kyverno/test/test_command.go
  pkg/autogen/autogen.go
  pkg/background/generate/generate.go
  pkg/controllers/report/resource/controller.go
  pkg/controllers/webhook/utils.go
  pkg/engine/utils.go
  pkg/openapi/utils.go
  pkg/policy/actions.go
  pkg/policy/policy_controller.go
  pkg/policy/validate.go
  pkg/utils/util.go
  pkg/utils/util_test.go
Labels: milestone 1.9.0

#5477 feat: add dynamic client support to internal cmd package
  cmd/cleanup-controller/handlers.go
  cmd/cleanup-controller/logger/log.go
  cmd/cleanup-controller/main.go
  cmd/cleanup-controller/server.go
  cmd/cleanup-controller/validate/validate.go
  cmd/initContainer/main.go
  cmd/internal/client.go
  cmd/internal/config.go
  cmd/internal/flag.go
  cmd/internal/metrics.go
  cmd/internal/setup.go
Labels: milestone 1.9.0

#5486 fix: report deletion fighting with garbage collection
  pkg/controllers/report/admission/controller.go
  pkg/controllers/report/background/controller.go
  pkg/controllers/report/resource/controller.go
Labels: cherry-pick-required, milestone 1.8.3

#5502 fix: panic when response is nil
  pkg/webhooks/handlers/metrics.go
Labels: milestone 1.9.0

#5494 feat: add controller metrics
  pkg/metrics/metrics.go
  pkg/utils/controller/run.go
Labels: milestone 1.9.0

#5503 chore: bump a couple of deps
  go.mod
  go.sum
Labels: milestone 1.9.0

#5495 feat: propagate context in dynamic client
  cmd/cleanup-controller/validate/validate.go
  cmd/cli/kubectl-kyverno/utils/common/fetch.go
  pkg/auth/auth.go
  pkg/auth/auth_test.go
  pkg/background/common/resource.go
  pkg/background/generate/generate.go
  pkg/background/mutate/mutate.go
  pkg/background/update_request_controller.go
  pkg/clients/dclient/client.go
  pkg/clients/dclient/client_test.go
  pkg/common/common.go
  pkg/controllers/report/background/controller.go
  pkg/engine/jsonContext.go
  pkg/engine/k8smanifest.go
  pkg/engine/loadtargets.go
  pkg/engine/mutation_test.go
  pkg/event/controller.go
  pkg/policy/common.go
  pkg/policy/generate/auth.go
  pkg/policy/generate/fake/auth.go
  pkg/policy/generate/validate.go
  pkg/policy/policy_controller.go
  pkg/policy/validate.go
  pkg/testrunner/scenario.go
  pkg/webhooks/resource/generation/generation.go
  pkg/webhooks/resource/generation/utils.go
Labels: milestone 1.9.0

#5493 feat: add webhook type to admission metrics
  pkg/metrics/attributes.go
  pkg/webhooks/handlers/metrics.go
  pkg/webhooks/server.go
Labels: doc required, milestone 1.9.0

#5510 chore: use builtin slices.Clone
  pkg/engine/jsonutils/traverse.go
  pkg/utils/util.go
  pkg/utils/util_test.go
Labels: milestone 1.9.0

#5506 refactor: add controller helper to internal package
  cmd/cleanup-controller/controller.go
  cmd/cleanup-controller/main.go
  cmd/internal/controller.go
  cmd/kyverno/main.go
  pkg/controllers/cleanup/controller.go
Labels: milestone 1.9.0

#5500 chore: stop using set-output in gh actions
  .github/workflows/release.yaml
  .github/workflows/report-on-vulnerabilities.yaml
  .github/workflows/reuse.yaml
Labels: milestone 1.9.0

#5512 chore: bump a few deps
  go.mod
  go.sum
Labels: milestone 1.9.0

#5507 refactor: use internal cmd package in kyverno
  cmd/kyverno/main.go
  pkg/controllers/metrics/policy/controller.go
  pkg/metrics/fake.go
  pkg/metrics/init.go
  pkg/metrics/metrics.go
  pkg/metrics/policychanges/policyChanges.go
  pkg/metrics/policyexecutionduration/policyExecutionDuration.go
  pkg/metrics/policyresults/policyResults.go
  pkg/metrics/policyruleinfo/policyRuleInfo.go
  pkg/policy/policy_controller.go
  pkg/webhooks/resource/generation/generation.go
  pkg/webhooks/resource/handlers.go
  pkg/webhooks/resource/imageverification/handler.go
  pkg/webhooks/resource/mutation/mutation.go
  pkg/webhooks/resource/validation/validation.go
  pkg/webhooks/server.go
  pkg/webhooks/utils/metrics.go
Labels: milestone 1.9.0

#5464 feat: use admission review v1
  .github/workflows/e2e.yaml
  cmd/cleanup-controller/handlers.go
  pkg/controllers/webhook/controller.go
  pkg/utils/admission/response.go
  pkg/utils/admission/response_test.go
  pkg/webhooks/handlers/admission.go
  pkg/webhooks/handlers/error.go
  pkg/webhooks/handlers/protect.go
  pkg/webhooks/handlers/verify.go
  pkg/webhooks/policy/handlers.go
  pkg/webhooks/resource/handlers.go
  pkg/webhooks/resource/utils.go
Labels: milestone 1.9.0

#5509 chore: improve cleanup controller
  pkg/controllers/cleanup/controller.go
  pkg/utils/controller/handlers.go
Labels: milestone 1.9.0

#5516 fix: pod anti affinity
  charts/kyverno/templates/deployment.yaml
  charts/kyverno/values.yaml
Labels: milestone 1.9.0
