Repository kyverno/kyverno, pull requests merged in 2022-05, with the labels that each got.

#3699 Enable tests in makefile
  Makefile
  test/e2e/utils.go
  test/e2e/verifyimages/config.go
  test/e2e/verifyimages/resources.go
  test/e2e/verifyimages/verifyimages_test.go
Labels: milestone 1.7.0

#3749 Test Summary printing for failure test cases
  cmd/cli/kubectl-kyverno/test/test_command.go
Labels: milestone 1.7.0

#3748 Fix verify all images
  pkg/engine/imageVerify.go
  pkg/engine/imageVerifyValidate.go
  pkg/engine/imageVerify_test.go
  pkg/webhookconfig/configmanager.go
Labels: milestone 1.7.0

#3724 Add error handling and log for image extractor errors
  charts/kyverno/templates/crds.yaml
  config/crds/kyverno.io_clusterpolicies.yaml
  config/crds/kyverno.io_policies.yaml
  config/install.yaml
  config/install_debug.yaml
  pkg/engine/context/context.go
  pkg/utils/kube/image.go
  pkg/utils/kube/image_test.go
Labels: milestone 1.7.0

#3755 Add tests for required checks for image verify
  test/e2e/verifyimages/config.go
  test/e2e/verifyimages/resources.go
Labels: milestone 1.7.0

#3741 cleanup event messages and sources
  pkg/background/common/report.go
  pkg/background/generate/generate.go
  pkg/background/mutate/mutate.go
  pkg/engine/response/response.go
  pkg/event/builder_test.go
  pkg/event/controller.go
  pkg/event/events.go
  pkg/event/msgbuilder.go
  pkg/event/reason.go
  pkg/event/source.go
  pkg/policy/report.go
  pkg/webhooks/generation.go
  pkg/webhooks/report.go
  pkg/webhooks/updaterequest.go
Labels: milestone 1.7.0

#3721 Remove YAML multiline support in CM values
  pkg/engine/jsonContext.go
  pkg/engine/jsonContext_test.go
  test/cli/test/variables/variables.yaml
Labels: milestone 1.7.0

#3736 refactor: use typed informers and add tombstone support to webhookconfig
  pkg/webhookconfig/configmanager.go
  pkg/webhookconfig/registration.go
Labels: milestone 1.7.0

#3737 refactor: remove unstructured usage from webhookconfig
  cmd/kyverno/main.go
  pkg/config/config.go
  pkg/webhookconfig/certmanager.go
  pkg/webhookconfig/common.go
  pkg/webhookconfig/configmanager.go
  pkg/webhookconfig/monitor.go
  pkg/webhookconfig/policy.go
  pkg/webhookconfig/registration.go
  pkg/webhookconfig/resource.go
  pkg/webhookconfig/status.go
Labels: milestone 1.7.0

#3759 fix: logger call depth
  cmd/initContainer/main.go
  cmd/kyverno/main.go
Labels: milestone 1.7.0

#3763 Allow non-object type elements for foreach rules
  pkg/engine/context/context.go
  pkg/engine/mutation.go
  pkg/engine/validation.go
  pkg/policy/validate.go
  test/cli/test/foreach/kyverno-test.yaml
  test/cli/test/foreach/policies.yaml
  test/cli/test/foreach/resources.yaml
Labels: milestone 1.7.0

#3768 Allow kyverno jp to take yaml files as inputs
  cmd/cli/kubectl-kyverno/jp/jp_command.go
  go.mod
Labels: milestone 1.7.0

#3765 refactor: wait for cache sync
  cmd/kyverno/main.go
  pkg/background/generate/cleanup/controller.go
  pkg/background/update_request_controller.go
  pkg/config/dynamicconfig.go
  pkg/event/controller.go
  pkg/policy/policy_controller.go
  pkg/policycache/informer.go
  pkg/policyreport/reportcontroller.go
  pkg/policyreport/reportrequest.go
  pkg/webhookconfig/certmanager.go
  pkg/webhookconfig/configmanager.go
  pkg/webhookconfig/registration.go
  pkg/webhooks/server.go
  pkg/webhooks/updaterequest/generator.go
  pkg/webhooks/validate_audit.go
Labels: milestone 1.7.0

#3775 refactor: dclient package
  cmd/cli/kubectl-kyverno/apply/apply_command.go
  cmd/cli/kubectl-kyverno/apply/generate.go
  cmd/cli/kubectl-kyverno/test/test_command.go
  cmd/cli/kubectl-kyverno/utils/common/common.go
  cmd/cli/kubectl-kyverno/utils/common/fetch.go
  cmd/initContainer/main.go
  cmd/kyverno/main.go
  pkg/auth/auth.go
  pkg/background/common/context.go
  pkg/background/common/resource.go
  pkg/background/generate/cleanup/cleanup.go
  pkg/background/generate/cleanup/controller.go
  pkg/background/generate/generate.go
  pkg/background/mutate/mutate.go
  pkg/background/update_request_controller.go
  pkg/common/common.go
  pkg/dclient/client.go
  pkg/dclient/client_test.go
  pkg/dclient/discovery.go
  pkg/dclient/fake.go
  pkg/dclient/mock.go
  pkg/dclient/utils.go
  pkg/engine/policyContext.go
  pkg/event/controller.go
  pkg/openapi/crdSync.go
  pkg/policy/actions.go
  pkg/policy/apply.go
  pkg/policy/existing.go
  pkg/policy/generate/auth.go
  pkg/policy/generate/validate.go
  pkg/policy/policy_controller.go
  pkg/policy/validate.go
  pkg/policyreport/reportcontroller.go
  pkg/policyreport/reportrequest.go
  pkg/testrunner/scenario.go
  pkg/utils/kube/unstructured.go
  pkg/webhookconfig/configmanager.go
  pkg/webhookconfig/registration.go
  pkg/webhooks/generation.go
  pkg/webhooks/server.go
  pkg/webhooks/validate_audit.go
Labels: milestone 1.7.0

#3740 webhookconfig: include services/status if services resource configured
  pkg/webhookconfig/configmanager.go
Labels: milestone 1.7.0

#3772 fix: cert manager duplicate event handler
  cmd/kyverno/main.go
  pkg/config/config.go
  pkg/webhookconfig/certmanager.go
Labels: milestone 1.7.0

#3783 refactor: policycache package logger
  cmd/kyverno/main.go
  pkg/policycache/cache_test.go
  pkg/policycache/informer.go
  pkg/policycache/log.go
  pkg/policycache/policy_cache.go
Labels: milestone 1.7.0

#3784 fix: add missing tombstone calls
  pkg/policycache/informer.go
  pkg/policyreport/reportcontroller.go
  pkg/utils/kube/tombstone.go
Labels: milestone 1.7.0

#3786 chore: remove config flags
  CHANGELOG.md
  cmd/kyverno/main.go
  config/install.yaml
  config/manifest/deployment.yaml
  config/release/install.yaml
  pkg/config/dynamicconfig.go
Labels: milestone 1.7.0

#3777 Add JMESPath Function `items`
  pkg/engine/jmespath/functions.go
  pkg/engine/jmespath/functions_test.go
  test/cli/test/context-entries/kyverno-test.yaml
  test/cli/test/context-entries/policies.yaml
Labels: milestone 1.7.0

#3790 refactor: move config controller in controllers package
  cmd/kyverno/main.go
  pkg/background/common/context.go
  pkg/background/generate/generate.go
  pkg/background/mutate/mutate.go
  pkg/background/update_request_controller.go
  pkg/config/client.go
  pkg/config/config.go
  pkg/config/dynamicconfig.go
  pkg/config/filter.go
  pkg/config/rbac.go
  pkg/config/webhook.go
  pkg/controllers/config/controller.go
  pkg/controllers/config/log.go
  pkg/policy/common.go
  pkg/policy/policy_controller.go
  pkg/userinfo/roleRef.go
  pkg/webhookconfig/registration.go
  pkg/webhooks/handlers/admission.go
  pkg/webhooks/server.go
  pkg/webhooks/validate_audit.go
Labels: milestone 1.7.0

#3744 removed kubeconfig flags support
  cmd/initContainer/main.go
  cmd/kyverno/main.go
Labels: milestone 1.7.0

#3808 feat: parse all root CA certs
  pkg/tls/certRenewer.go
Labels: milestone 1.7.0

#3806 fix: cleanup old dependencies from go.sum and go.mod
  go.mod
  go.sum
Labels: milestone 1.7.0

#3802 fix: remove kubeconfig
  cmd/initContainer/main.go
  cmd/kyverno/main.go
  pkg/config/client.go
  pkg/config/config_test.go
Labels: milestone 1.7.0

#3791 Add `handler` to `UR.status`
  api/kyverno/v1/rule_types.go
  api/kyverno/v1/spec_types.go
  api/kyverno/v1beta1/updaterequest_types.go
  charts/kyverno/templates/crds.yaml
  charts/kyverno/templates/deployment.yaml
  config/crds/kyverno.io_clusterpolicies.yaml
  config/crds/kyverno.io_policies.yaml
  config/crds/kyverno.io_updaterequests.yaml
  config/debug/kustomization.yaml
  config/debug/labels.yaml
  config/install.yaml
  config/install_debug.yaml
  config/manifest/deployment.yaml
  docs/crd/v1/index.html
  docs/crd/v1beta1/index.html
  pkg/background/common/status.go
  pkg/background/generate/cleanup/controller.go
  pkg/background/generate/generate.go
  pkg/background/request_process.go
  pkg/background/update_request_controller.go
  pkg/common/common.go
  pkg/config/config.go
  pkg/policy/policy_controller.go
  pkg/policy/updaterequest.go
  pkg/webhooks/updaterequest/generator.go
  test/e2e/generate/generate_test.go
Labels: milestone 1.7.0

#3814 Policy Validation check for onPolicyUpdate flag
  api/kyverno/v1/spec_types.go
  pkg/policy/on_update_policy_test.go
  pkg/policy/validate.go
Labels: milestone 1.7.0

#3803 fix: remove k8s apiserver from self-generated cert
  pkg/tls/tls.go
Labels: milestone 1.7.0

#3811 chore: remove broken .ca from helm chart
  charts/kyverno/templates/secret.yaml
Labels: milestone 1.7.0

#3807 refact: disable leader for update request controller
  cmd/kyverno/main.go
  pkg/background/update_request_controller.go
Labels: milestone 1.7.0

#3779 handle duplicate images; use container name as key
  cmd/cli/kubectl-kyverno/utils/common/common.go
  pkg/engine/context/context.go
  pkg/engine/imageVerify.go
  pkg/engine/imageVerifyMetadata.go
  pkg/engine/imageVerifyValidate.go
  pkg/engine/imageVerify_test.go
  pkg/engine/validation.go
  pkg/policyreport/builder.go
  pkg/webhooks/server.go
  pkg/webhooks/validate_audit.go
  pkg/webhooks/verify_images.go
Labels: milestone 1.7.0

#3809 Cert attestor
  api/kyverno/v1/image_verification_test.go
  api/kyverno/v1/image_verification_types.go
  api/kyverno/v1/zz_generated.deepcopy.go
  charts/kyverno/templates/crds.yaml
  config/crds/kyverno.io_clusterpolicies.yaml
  config/crds/kyverno.io_policies.yaml
  config/install.yaml
  config/install_debug.yaml
  docs/crd/v1/index.html
  pkg/cosign/cosign.go
  pkg/engine/imageVerify.go
  pkg/engine/imageVerify_test.go
  test/cli/test/images/signatures/policies.yaml
  test/cli/test/images/verify-signature/policies.yaml
Labels: milestone 1.7.0

#3797 Load `mutate.targets` via dclient
  api/kyverno/v1/common_types.go
  api/kyverno/v1/spec_types.go
  charts/kyverno/templates/crds.yaml
  config/crds/kyverno.io_clusterpolicies.yaml
  config/crds/kyverno.io_policies.yaml
  config/install.yaml
  config/install_debug.yaml
  docs/crd/v1/index.html
  pkg/background/update_request_controller.go
  pkg/engine/loadtargets.go
  pkg/engine/loadtargets_test.go
  pkg/engine/mutation.go
  pkg/engine/utils.go
  pkg/policy/on_update_policy_test.go
  pkg/policy/policy_controller.go
  pkg/policy/updaterequest.go
  pkg/policy/validate.go
  pkg/webhooks/updaterequest.go
  test/e2e/generate/generate_test.go
  test/e2e/mutate/resources.go
Labels: milestone 1.7.0

#3826 Relax JMESPath variable validation
  pkg/policy/validate.go
  test/cli/test/context-entries/kyverno-test.yaml
  test/cli/test/context-entries/policies.yaml
Labels: milestone 1.7.0

#3825 Improve logging and error handling in json context
  pkg/engine/jsonContext.go
Labels: milestone 1.7.0

#3824 Add an object_from_lists function
  pkg/engine/jmespath/functions.go
  pkg/engine/jmespath/functions_test.go
  test/cli/test-mutate/kyverno-test.yaml
  test/cli/test-mutate/patched-resource.yaml
  test/cli/test-mutate/policy.yaml
  test/cli/test-mutate/resource.yaml
Labels: milestone 1.7.0

#3821 CLI should respect scored annotation for warnings
  cmd/cli/kubectl-kyverno/apply/apply_command_test.go
  cmd/cli/kubectl-kyverno/utils/common/common.go
  pkg/policyreport/builder.go
  test/cli/apply/policies/policy.yaml
  test/cli/test/depecated_apis/kyverno-test.yaml
  test/cli/test/depecated_apis/policy.yaml
Labels: milestone 1.7.0

#3828 Allow variables of any kind to be defined
  cmd/cli/kubectl-kyverno/utils/common/common.go
  cmd/cli/kubectl-kyverno/utils/store/store.go
  pkg/common/common.go
  pkg/engine/context/context.go
  pkg/engine/mutation_test.go
  pkg/engine/validation_test.go
  test/cli/test/variables/variables.yaml
Labels: milestone 1.7.0

#3838 fix check and add logs
  pkg/engine/imageVerify.go
  pkg/engine/imageVerify_test.go
Labels: milestone 1.7.0

#3819 feat: trigger generate on existing matched resource
  api/kyverno/v1/spec_types.go
  charts/kyverno/templates/crds.yaml
  config/crds/kyverno.io_clusterpolicies.yaml
  config/crds/kyverno.io_policies.yaml
  config/install.yaml
  config/install_debug.yaml
  docs/crd/v1/index.html
  pkg/background/generate/generate.go
  pkg/policy/policy_controller.go
  pkg/policy/updaterequest.go
  pkg/policy/utils.go
Labels: milestone 1.7.0

#3843 fix: golangci-lint warnings in cmd
  cmd/cli/kubectl-kyverno/apply/report.go
  cmd/cli/kubectl-kyverno/test/test_command.go
  cmd/cli/kubectl-kyverno/utils/common/common.go
  cmd/cli/kubectl-kyverno/utils/common/fetch.go
  cmd/initContainer/main.go
Labels: milestone 1.8.0

#3841 handle subresources
  pkg/dclient/discovery.go
  pkg/dclient/discovery_test.go
  pkg/engine/jsonContext.go
  pkg/engine/utils.go
  pkg/engine/utils_test.go
  pkg/openapi/validation.go
  pkg/policy/validate.go
  pkg/policycache/policy_map.go
  pkg/policymutation/policymutation.go
  pkg/policymutation/policymutation_test.go
  pkg/utils/kube/kind.go
  pkg/utils/kube/kind_test.go
  pkg/webhookconfig/configmanager.go
  pkg/webhooks/handlers.go
  test/e2e/mutate/mutate_test.go
Labels: milestone 1.7.0

#3850 refactor: remove the need for self-signed annotation on cert secret
  cmd/kyverno/main.go
  pkg/controllers/certmanager/controller.go
  pkg/tls/certRenewer.go
  pkg/tls/reader.go
  pkg/tls/tls.go
Labels: milestone 1.8.0

#3846 fix: golangci-lint warnings in pkg
  pkg/cosign/cosign.go
  pkg/openapi/crdSync.go
  pkg/openapi/validation.go
  pkg/policy/validate.go
  pkg/webhooks/generation.go
Labels: milestone 1.8.0

#3851 feat: fetch tls certificate dynamically
  cmd/kyverno/main.go
  pkg/controllers/certmanager/controller.go
  pkg/webhooks/server.go
Labels: milestone 1.8.0

#3853 refactor: init certs with certs renewer directly
  cmd/kyverno/main.go
  pkg/controllers/certmanager/controller.go
Labels: milestone 1.8.0

#3855 chore: increase golangci-lint timeout
  .golangci.yml
Labels: milestone 1.8.0

#3862 chore: enable more linters
  .golangci.yml
  cmd/initContainer/main.go
  pkg/autogen/autogen.go
  pkg/tls/certRenewer.go
  pkg/tls/reader.go
Labels: milestone 1.8.0

#3860 fix: remove code to load CA from kubeconfig
  pkg/webhookconfig/common.go
  pkg/webhookconfig/registration_test.go
Labels: milestone 1.8.0

#3863 Handle errors properly for mutate and generate on existing resources
  pkg/background/common/context.go
  pkg/policy/updaterequest.go
Labels: milestone 1.7.0

#3867 chore: add unconvert linter
  .golangci.yml
  cmd/cli/kubectl-kyverno/jp/jp_command.go
  cmd/cli/kubectl-kyverno/test/test_command.go
  pkg/cosign/cosign.go
  pkg/engine/common/common.go
  pkg/engine/variables/operator/numeric.go
  test/e2e/utils.go
Labels: milestone 1.8.0

#3871 chore: enable asciicheck and bidichk linters
  .golangci.yml
Labels: milestone 1.8.0

#3870 chore: enable durationcheck linter
  .golangci.yml
Labels: milestone 1.8.0

#3868 chore: enable tenv thelper and tparallel linters
  .golangci.yml
  pkg/testrunner/scenario.go
Labels: milestone 1.8.0

#3869 chore: enable exportloopref linter
  .golangci.yml
Labels: milestone 1.8.0

#3865 fix: undo policy length validation check for generate rule resource name
  api/kyverno/v1/common_types.go
  charts/kyverno/templates/crds.yaml
  config/crds/kyverno.io_clusterpolicies.yaml
  config/crds/kyverno.io_generaterequests.yaml
  config/crds/kyverno.io_policies.yaml
  config/crds/kyverno.io_updaterequests.yaml
  config/install.yaml
  config/install_debug.yaml
Labels: milestone 1.7.0

#3823 refactor: make config vars private
  cmd/initContainer/main.go
  cmd/kyverno/main.go
  pkg/background/common/util.go
  pkg/background/generate/cleanup/controller.go
  pkg/background/generate/cleanup/resource.go
  pkg/background/generate/generate.go
  pkg/background/request_process.go
  pkg/background/update_request_controller.go
  pkg/config/config.go
  pkg/config/metricsconfig.go
  pkg/controllers/certmanager/controller.go
  pkg/controllers/config/controller.go
  pkg/dclient/client_test.go
  pkg/policy/policy_controller.go
  pkg/policy/report.go
  pkg/policy/updaterequest.go
  pkg/policyreport/builder.go
  pkg/policyreport/changerequestcreator.go
  pkg/policyreport/reportcontroller.go
  pkg/tls/certRenewer.go
  pkg/tls/reader.go
  pkg/webhookconfig/common.go
  pkg/webhookconfig/monitor.go
  pkg/webhookconfig/registration.go
  pkg/webhookconfig/status.go
  pkg/webhooks/generation.go
  pkg/webhooks/server.go
  pkg/webhooks/updaterequest/generator.go
Labels: milestone 1.8.0

#3804 fix: include ca key in secret
  charts/kyverno/README.md
  charts/kyverno/templates/secret.yaml
  charts/kyverno/values.yaml
  pkg/tls/certRenewer.go
  pkg/tls/reader.go
Labels: milestone 1.8.0

#3873 chore: enable containedctx linter
  .golangci.yml
  pkg/engine/utils.go
Labels: milestone 1.8.0

#3854 refactor: cleanup tls package
  cmd/initContainer/main.go
  cmd/kyverno/main.go
  pkg/controllers/certmanager/controller.go
  pkg/tls/certRenewer.go
  pkg/tls/keypair.go
  pkg/tls/pempair.go
  pkg/tls/props.go
  pkg/tls/reader.go
  pkg/tls/tls.go
  pkg/tls/utils.go
  pkg/webhooks/server.go
Labels: milestone 1.8.0

#3874 chore: enable gochecknoinits linter
  .golangci.yml
Labels: milestone 1.8.0

#3876 skip var checks in attestations
  pkg/engine/imageVerify.go
  pkg/policy/allowed_vars_test.go
  pkg/policy/validate.go
Labels: milestone 1.7.0

#3882 chore: enable importas linter
  .golangci.yml
Labels: milestone 1.8.0

#3888 chore: enable noctx linter
  .golangci.yml
  cmd/cli/kubectl-kyverno/utils/common/common.go
  cmd/cli/kubectl-kyverno/utils/common/fetch.go
  test/e2e/utils.go
Labels: milestone 1.8.0

#3886 refactor: remove deployment hash on certs secrets
  cmd/initContainer/main.go
  pkg/controllers/certmanager/controller.go
  pkg/tls/certRenewer.go
  pkg/tls/keypair.go
  pkg/tls/pempair.go
  pkg/tls/props.go
  pkg/tls/reader.go
  pkg/tls/renewer.go
  pkg/tls/utils.go
  pkg/webhookconfig/common.go
Labels: milestone 1.8.0

#3887 Fix subject match selector issue in cli
  cmd/cli/kubectl-kyverno/apply/apply_command.go
  cmd/cli/kubectl-kyverno/test/test_command.go
  cmd/cli/kubectl-kyverno/utils/common/common.go
  cmd/cli/kubectl-kyverno/utils/store/store.go
  pkg/engine/utils.go
  test/cli/test/limit-configmap-for-sa/kyverno-test.yaml
  test/cli/test/limit-configmap-for-sa/limit_configmap_for_sa.yaml
  test/cli/test/limit-configmap-for-sa/resource.yaml
  test/cli/test/limit-configmap-for-sa/user_info.yaml
Labels: milestone 1.7.0

#3891 fix: write secret
  pkg/tls/renewer.go
Labels: milestone 1.8.0

#3893 Timeout and init
  charts/kyverno/README.md
  charts/kyverno/templates/deployment.yaml
  charts/kyverno/values.yaml
  cmd/kyverno/main.go
  pkg/cosign/init.go
  pkg/webhooks/server.go
Labels: milestone 1.7.0

#3901 Remove permissions in helm-release workflow
  .github/workflows/helm-release.yaml
Labels: milestone 1.7.0

#3902 chore: remove unused function
  pkg/common/common.go
Labels: milestone 1.8.0

#3899 chore: enable goprintffuncname linter
  .golangci.yml
Labels: milestone 1.8.0

#3898 chore: enable wastedassign linter
  .golangci.yml
  pkg/common/common.go
  pkg/policyreport/changerequestcreator.go
Labels: milestone 1.8.0

#3859 chore: remove ca-certificates from our repository
  cmd/kyverno/Dockerfile
  cmd/kyverno/ca-certificates.crt
  cmd/kyverno/localDockerfile
Labels: milestone 1.8.0

#3905 refactor: separate policy mutation/validation handlers from server
  cmd/kyverno/main.go
  pkg/webhooks/handlers.go
  pkg/webhooks/policy/handlers.go
  pkg/webhooks/server.go
Labels: milestone 1.8.0

#3912 Cleanup the UR for mutate policies once it's completed
  pkg/background/common/status.go
  pkg/background/request_process.go
  pkg/background/update_request_controller.go
  pkg/webhooks/updaterequest.go
Labels: milestone 1.7.0, cherry-pick-required

#3921 chore: enable dogsled linter
  .golangci.yml
  pkg/testrunner/scenario.go
Labels: milestone 1.8.0

#3919 refactor: policy cache
  api/kyverno/v1/match_resources_types.go
  cmd/kyverno/main.go
  pkg/policycache/cache.go
  pkg/policycache/cache_test.go
  pkg/policycache/informer.go
  pkg/policycache/policy_cache.go
  pkg/policycache/policy_map.go
  pkg/policycache/store.go
  pkg/webhooks/server.go
  pkg/webhooks/validate_audit.go
Labels: milestone 1.8.0

#3920 chore: enable decorder linter
  .golangci.yml
Labels: milestone 1.8.0

#3926 chore: enable errname linter
  .golangci.yml
  pkg/background/common/errors.go
  pkg/engine/context/mock_context.go
  pkg/engine/variables/vars.go
  pkg/policy/validate.go
Labels: milestone 1.8.0

#3932 chore: enable misspell linter
  .golangci.yml
  pkg/engine/utils.go
  pkg/openapi/validation.go
  pkg/policy/validate.go
Labels: milestone 1.8.0

#3908 refactor: separate resource mutation/validation handlers from server
  cmd/kyverno/main.go
  pkg/webhooks/common.go
  pkg/webhooks/generation.go
  pkg/webhooks/handlers.go
  pkg/webhooks/handlers/admission.go
  pkg/webhooks/log.go
  pkg/webhooks/mutation.go
  pkg/webhooks/policy/handlers.go
  pkg/webhooks/policy/handlers_test.go
  pkg/webhooks/resource/generation.go
  pkg/webhooks/resource/generation_test.go
  pkg/webhooks/resource/handlers.go
  pkg/webhooks/resource/metrics.go
  pkg/webhooks/resource/report.go
  pkg/webhooks/resource/updaterequest.go
  pkg/webhooks/resource/utils.go
  pkg/webhooks/resource/validate_audit.go
  pkg/webhooks/resource/validation.go
  pkg/webhooks/resource/validation_test.go
  pkg/webhooks/server.go
  pkg/webhooks/verify_images.go
Labels: milestone 1.8.0

#3925 refactor: separate policy cache and controller
  cmd/kyverno/main.go
  pkg/controllers/config/controller.go
  pkg/controllers/policycache/controller.go
  pkg/controllers/policycache/log.go
  pkg/policycache/cache.go
  pkg/policycache/cache_test.go
  pkg/policycache/store.go
Labels: milestone 1.8.0

#3924 fix: return type changed to bool in jpfCompare fn
  pkg/engine/jmespath/functions.go
Labels: milestone 1.8.0

#3927 fix: use patch to update handler status in UR
  pkg/background/common/util.go
  pkg/background/request_process.go
  pkg/policy/updaterequest.go
Labels: milestone 1.7.0

#3930 chore: enable gci linter
  .golangci.yml
  cmd/kyverno/main.go
  pkg/cosign/kms.go
  pkg/dclient/discovery.go
  pkg/engine/context/evaluate.go
  pkg/engine/imageVerify.go
  pkg/engine/imageVerifyValidate.go
  pkg/engine/mutate/patch/strategicPreprocessing.go
  pkg/engine/utils.go
  pkg/engine/validate/validate.go
  pkg/engine/validation.go
  pkg/engine/variables/operator/equal.go
  pkg/engine/variables/operator/in.go
  pkg/engine/variables/operator/notequal.go
  pkg/engine/variables/vars.go
  pkg/openapi/crdSync.go
  pkg/policy/actions.go
  pkg/policy/generate/validate.go
  pkg/policy/updaterequest.go
  pkg/policy/validate/validate.go
  pkg/registryclient/client.go
  pkg/testrunner/scenario.go
  pkg/userinfo/roleRef.go
  pkg/utils/util.go
  pkg/webhooks/resource/updaterequest.go
Labels: milestone 1.8.0

#3934 fix: handle UR delete once trigger namespace deleted
  pkg/background/generate/generate.go
  pkg/background/request_process.go
  pkg/background/update_request_controller.go
Labels: milestone 1.7.0, cherry-pick-required

#3937 chore: enable makezero linter
  .golangci.yml
Labels: milestone 1.8.0

#3943 fix: cache warmup log message
  pkg/controllers/policycache/controller.go
Labels: milestone 1.8.0

#3940 chore: enable grouper linter
  .golangci.yml
Labels: milestone 1.8.0

#3941 chore: enable nolintlint linter
  .golangci.yml
Labels: milestone 1.8.0

#3944 fix: use admissionrequest subresource to filter webhooks
  pkg/webhooks/policy/handlers.go
Labels: milestone 1.8.0

#3950 chore: make k8s api import aliases consistent
  .golangci.yml
  cmd/initContainer/main.go
  pkg/background/common/resource.go
  pkg/common/common.go
  pkg/config/config.go
  pkg/controllers/certmanager/controller.go
  pkg/event/controller.go
  pkg/openapi/crdSync.go
  pkg/policy/policy_controller.go
  pkg/policyreport/builder.go
  pkg/policyreport/reportcontroller.go
  pkg/tls/reader.go
  pkg/tls/utils.go
  pkg/webhookconfig/common.go
  pkg/webhookconfig/configmanager.go
  pkg/webhookconfig/registration.go
Labels: milestone 1.8.0

#3957 chore: make kube informers and listers import aliases consistent
  .golangci.yml
  pkg/background/generate/cleanup/controller.go
  pkg/background/generate/generate.go
  pkg/background/update_request_controller.go
  pkg/common/common.go
  pkg/controllers/certmanager/controller.go
  pkg/policy/policy_controller.go
  pkg/policyreport/reportcontroller.go
  pkg/userinfo/roleRef.go
  pkg/webhookconfig/configmanager.go
  pkg/webhookconfig/registration.go
  pkg/webhooks/resource/handlers.go
  pkg/webhooks/resource/validate_audit.go
Labels: milestone 1.8.0

#3955 Cleanup URs on trigger deletion
  pkg/background/generate/generate.go
  pkg/background/request_process.go
  pkg/background/update_request_controller.go
Labels: milestone 1.7.0, cherry-pick-required

#3953 Fix panic issue for UR
  pkg/background/request_process.go
Labels: milestone 1.7.0, cherry-pick-required

#3948 fix: add helmignore
  charts/kyverno-policies/.helmignore
  charts/kyverno/.helmignore
Labels: milestone 1.8.0

#3945 chore: enable ifshort linter
  .golangci.yml
  pkg/background/request_process.go
  pkg/cosign/init.go
  pkg/engine/context/mock_context.go
  pkg/engine/mutate/patch/buffer.go
  pkg/engine/mutate/patch/strategicPreprocessing.go
  pkg/engine/mutation.go
Labels: milestone 1.8.0

#3958 chore: make kyverno informers and listers import aliases consistent
  .golangci.yml
  cmd/kyverno/main.go
  pkg/background/common/context.go
  pkg/background/common/resource.go
  pkg/background/generate/cleanup/cleanup.go
  pkg/background/generate/cleanup/controller.go
  pkg/background/generate/generate.go
  pkg/background/mutate/mutate.go
  pkg/background/update_request_controller.go
  pkg/common/common.go
  pkg/controllers/policycache/controller.go
  pkg/event/controller.go
  pkg/policy/actions.go
  pkg/policy/generate/auth.go
  pkg/policy/generate/validate.go
  pkg/policy/policy_controller.go
  pkg/policy/report.go
  pkg/policy/validate.go
  pkg/policyreport/builder.go
  pkg/policyreport/policyreport.go
  pkg/policyreport/reportcontroller.go
  pkg/policyreport/reportrequest.go
  pkg/webhookconfig/configmanager.go
  pkg/webhookconfig/registration.go
  pkg/webhooks/resource/handlers.go
  pkg/webhooks/updaterequest/generator.go
Labels: milestone 1.8.0

#3959 chore: enable goimports linter
  .golangci.yml
Labels: milestone 1.8.0

#3946 chore: enable paralleltest linter
  .golangci.yml
Labels: milestone 1.8.0

#3961 fix: mark ur retry on conflict
  cmd/kyverno/main.go
  pkg/background/request_process.go
  pkg/background/update_request_controller.go
Labels: milestone 1.7.0, cherry-pick-required

#3964 fix: move ur controller filtering in reconciler
  cmd/initContainer/main.go
  cmd/kyverno/main.go
  pkg/background/common/status.go
  pkg/background/common/util.go
  pkg/background/generate/generate.go
  pkg/background/log.go
  pkg/background/mutate/mutate.go
  pkg/background/request_process.go
  pkg/background/update_request_controller.go
  pkg/policy/policy_controller.go
  pkg/policy/updaterequest.go
  pkg/webhooks/resource/generation.go
  pkg/webhooks/updaterequest/generator.go
  test/e2e/generate/resources.go
Labels: milestone 1.7.0, cherry-pick-required

#3973 fix: release ur when handler pod is gone
  cmd/kyverno/main.go
  pkg/background/update_request_controller.go
Labels: milestone 1.7.0, cherry-pick-required

#3986 fix: ur is nil in ur controller
  pkg/background/update_request_controller.go
Labels: milestone 1.7.0, cherry-pick-required

#3975 refactor: make registry client variables private
  pkg/cosign/cosign.go
  pkg/cosign/cosign_test.go
  pkg/engine/imageVerify.go
  pkg/engine/jsonContext.go
  pkg/registryclient/client.go
Labels: milestone 1.8.0

#3952 feat: add controller utils package
  pkg/controllers/config/controller.go
  pkg/controllers/policycache/controller.go
  pkg/utils/controller/handlers.go
  pkg/utils/controller/run.go
Labels: milestone 1.8.0

#3989 chore: enable nosprintfhostport linter
  .golangci.yml
  pkg/autogen/rule.go
Labels: milestone 1.8.0

#3999 fix attestation checks
  pkg/cosign/cosign.go
  pkg/cosign/cosign_test.go
  pkg/engine/attestation_test.go
  pkg/engine/imageVerify.go
  pkg/engine/variables/evaluate.go
Labels: milestone 1.7.0

#3996 refactor: move label helper utils from policy package to background package
  api/kyverno/v1/common_types.go
  api/kyverno/v1/resource_spec_types.go
  api/kyverno/v1beta1/constants.go
  pkg/background/common/labels.go
  pkg/background/generate/cleanup/cleanup.go
  pkg/background/generate/generate.go
  pkg/policy/updaterequest.go
  pkg/webhooks/resource/generation.go
  pkg/webhooks/updaterequest/generator.go
Labels: milestone 1.8.0

#4003 fix: stop mutating cached resource in ur controller
  pkg/background/update_request_controller.go
Labels: milestone 1.7.0, cherry-pick-required

#3998 Support `@` for mutate targets
  pkg/engine/context/context.go
  pkg/engine/mutation.go
  pkg/engine/mutation_test.go
  pkg/engine/variables/vars.go
  pkg/policy/validate.go
Labels: enhancement, milestone 1.7.0, cherry-pick-required

#4011 chore: remove unused ur errors
  pkg/background/common/context.go
  pkg/background/common/errors.go
Labels: milestone 1.8.0

#4012 refactor: add policy event listener in ur controller
  pkg/background/update_request_controller.go
Labels: milestone 1.7.0, cherry-pick-required

#4007 fix: bypass policy mutation if autogen internals enabled
  pkg/webhooks/policy/handlers.go
Labels: milestone 1.7.0, cherry-pick-required

#4013 refactor: move policy deletion code from policy controller to ur controller
  pkg/background/update_request_controller.go
  pkg/policy/policy_controller.go
Labels: cherry-pick-required, milestone 1.7.1

#4022 refactor: used typed admission request in ur
  Makefile
  api/kyverno/v1beta1/updaterequest_types.go
  api/kyverno/v1beta1/zz_generated.deepcopy.go
  charts/kyverno/templates/crds.yaml
  cmd/initContainer/main.go
  config/crds/kyverno.io_clusterpolicies.yaml
  config/crds/kyverno.io_clusterreportchangerequests.yaml
  config/crds/kyverno.io_generaterequests.yaml
  config/crds/kyverno.io_policies.yaml
  config/crds/kyverno.io_reportchangerequests.yaml
  config/crds/kyverno.io_updaterequests.yaml
  config/crds/wgpolicyk8s.io_clusterpolicyreports.yaml
  config/crds/wgpolicyk8s.io_policyreports.yaml
  config/install.yaml
  config/install_debug.yaml
  docs/crd/v1beta1/index.html
  pkg/background/common/context.go
  pkg/webhooks/resource/utils.go
Labels: milestone 1.7.0, cherry-pick-required

#4034 Fix labels with invalid chars
  pkg/background/common/labels.go
Labels: milestone 1.7.0, cherry-pick-required

#4042 Fix handling of kyverno-policies version check when port in image tag
  charts/kyverno-policies/Chart.yaml
  charts/kyverno-policies/templates/_helpers.tpl
Labels: helm, milestone 1.7.0, cherry-pick-required
