Repository kyverno/kyverno, pull requests merged in 2022-08, with the labels that each got.

#4292 Tightened scope on apiGroups for kyverno:events Clusterrole
  config/k8s-resource/clusterroles.yaml
Labels: milestone 1.8.0

#4297 Fix pr image verify blocked
  pkg/webhooks/resource/handlers.go
Labels: milestone 1.8.0

#4312 Change resource names to plurals
  charts/kyverno/templates/aggregateroles.yaml
Labels: milestone 1.8.0

#4290 Context vars substitution in CLI
  pkg/engine/jsonContext.go
  test/cli/test/unordered-context-variables/kyverno-test.yaml
  test/cli/test/unordered-context-variables/policy.yaml
  test/cli/test/unordered-context-variables/resource.yaml
  test/cli/test/unordered-context-variables/variables.yaml
Labels: milestone 1.8.0

#4299 [Helm] Added ability to remove namespaces from default resourceFilters list
  charts/kyverno/Chart.yaml
  charts/kyverno/README.md
  charts/kyverno/templates/_helpers.tpl
  charts/kyverno/values.yaml
Labels: milestone 1.8.0

#4331 Fix PEM delimiter parse
  pkg/cosign/cosign.go
  pkg/engine/imageVerify_test.go
Labels: milestone 1.8.0

#4348 fix: image verify logs
  pkg/engine/imageVerify.go
Labels: milestone-1.7.3

#4349 Fix deprecated api policy issue
  pkg/webhookconfig/configmanager.go
Labels: cherry-pick-required, milestone 1.8.0

#4350 Cherry-pick: fix kyverno cli policy-report typo(#4349)
  pkg/webhookconfig/configmanager.go
Labels: milestone-1.7.3

#4344 update apply help message
  cmd/cli/kubectl-kyverno/apply/apply_command.go
Labels: milestone 1.8.0

#4341 Added appropriate logging levels to log.Info() calls wherever necessary
  cmd/initContainer/main.go
  cmd/kyverno/main.go
  pkg/background/common/labels.go
  pkg/background/common/resource.go
  pkg/engine/common/pattern.go
  pkg/engine/imageVerifyValidate.go
  pkg/engine/mutate/patch/strategicMergePatch.go
  pkg/engine/validation.go
  pkg/engine/variables/operator/allin.go
  pkg/engine/variables/operator/allnotin.go
  pkg/engine/variables/operator/anyin.go
  pkg/engine/variables/operator/anynotin.go
  pkg/engine/variables/operator/duration.go
  pkg/engine/variables/operator/equal.go
  pkg/engine/variables/operator/in.go
  pkg/engine/variables/operator/notequal.go
  pkg/engine/variables/operator/notin.go
  pkg/engine/variables/operator/numeric.go
  pkg/engine/variables/operator/operator.go
  pkg/event/controller.go
  pkg/metrics/admissionrequests/admissionRequests.go
  pkg/metrics/admissionreviewduration/admissionReviewDuration.go
  pkg/metrics/init.go
  pkg/metrics/policychanges/policyChanges.go
  pkg/metrics/policyexecutionduration/policyExecutionDuration.go
  pkg/metrics/policyresults/policyResults.go
  pkg/metrics/policyruleinfo/policyRuleInfo.go
  pkg/openapi/validation.go
  pkg/policy/updaterequest.go
  pkg/policyreport/reportcontroller.go
  pkg/utils/util.go
  pkg/version/version.go
  pkg/webhookconfig/configmanager.go
  pkg/webhookconfig/registration.go
  pkg/webhooks/resource/utils.go
  pkg/webhooks/resource/validate_audit.go
Labels: milestone 1.8.0

#4355 Update wgpolicyk8s.io CRDs
  api/policyreport/v1alpha2/policyreport_types.go
  charts/kyverno/templates/crds.yaml
  config/crds/kyverno.io_clusterreportchangerequests.yaml
  config/crds/kyverno.io_reportchangerequests.yaml
  config/crds/wgpolicyk8s.io_clusterpolicyreports.yaml
  config/crds/wgpolicyk8s.io_policyreports.yaml
  config/install.yaml
  config/install_debug.yaml
Labels: milestone 1.8.0

#4362 fix: fix the verbosity of reconciling logs in the config controller
  pkg/controllers/config/controller.go
Labels: milestone 1.8.0

#4368 fix: prevent installing helm chart in namespace kube-system
  charts/kyverno/Chart.yaml
  charts/kyverno/templates/validate.yaml
Labels: milestone 1.8.0

#4370 fix: exclude autogen rules when autogen internals is enabled
  pkg/autogen/autogen.go
Labels: milestone 1.8.0

#4378 fix: missing aggregated role for UR
  charts/kyverno/templates/aggregateroles.yaml
  config/install.yaml
  config/install_debug.yaml
  config/k8s-resource/aggregateroles.yaml
Labels: milestone 1.8.0

#3820 feat: add raw api call support
  pkg/dclient/client.go
  pkg/engine/apiPath.go
  pkg/engine/apiPath_test.go
  pkg/engine/jsonContext.go
Labels: milestone 1.8.0

#4393 fix: duration metrics precision
  pkg/webhooks/resource/generation.go
  pkg/webhooks/resource/handlers.go
  pkg/webhooks/resource/updaterequest.go
  pkg/webhooks/resource/validate_audit.go
  pkg/webhooks/resource/validation.go
Labels: milestone 1.8.0

#4387 chore: fix goimports check not working in ci job
  .github/workflows/tests.yaml
  Makefile
  api/kyverno/v1alpha2/zz_generated.deepcopy.go
  api/kyverno/v1beta1/zz_generated.deepcopy.go
  api/policyreport/v1alpha2/zz_generated.deepcopy.go
Labels: milestone 1.8.0

#4405 fix: chart docs for generatecontrollerExtraResources
  charts/kyverno/Chart.yaml
  charts/kyverno/README.md
  charts/kyverno/values.yaml
Labels: milestone 1.8.0

#4408 bump cosign deps version to 1.11.1
  .github/workflows/cli.yaml
  .github/workflows/codecov.yaml
  .github/workflows/e2e-autogen-internals.yaml
  .github/workflows/e2e.yaml
  .github/workflows/fossa.yml
  .github/workflows/image-build.yaml
  .github/workflows/release.yaml
  .github/workflows/reuse.yaml
  .github/workflows/tests.yaml
  go.mod
  go.sum
Labels: milestone 1.8.0

#4381 feat: enable autogen internals by default
  .github/workflows/e2e-autogen-internals.yaml
  .github/workflows/e2e.yaml
  Makefile
  charts/kyverno/Chart.yaml
  charts/kyverno/README.md
  charts/kyverno/values.yaml
  config/install.yaml
  config/manifest/deployment.yaml
  pkg/toggle/toggle.go
Labels: milestone 1.8.0

#4403 refactor: tools install in makefile
  .gitattributes
  .gitignore
  Makefile
Labels: milestone 1.8.0

#4418 refactor: makefile build targets
  .github/workflows/e2e-autogen-internals.yaml
  .github/workflows/e2e.yaml
  .github/workflows/image-build.yaml
  .github/workflows/reuse.yaml
  Makefile
  cmd/cli/kubectl-kyverno/Dockerfile
  cmd/initContainer/Dockerfile
  cmd/initContainer/localDockerfile
  cmd/kyverno/Dockerfile
  cmd/kyverno/localDockerfile
Labels: milestone 1.8.0

#4419 fix: make ldflags optional in .ko.yaml
  .ko.yaml
  Makefile
  test/cli/registry/resources.yaml
Labels: milestone 1.8.0

#4308 Added kubeconfig flag support
  cmd/initContainer/main.go
  cmd/kyverno/main.go
  pkg/config/client.go
  pkg/config/config_test.go
Labels: milestone 1.8.0

#4443 docs: add section for dev tools
  DEVELOPMENT.md
Labels: milestone 1.8.0

#4444 fix: update go-wildcard to v1.0.5
  go.mod
  go.sum
Labels: milestone 1.8.0

#4445 docs: add section for local builds
  DEVELOPMENT.md
Labels: milestone 1.8.0

#4438 chore: fix workflows related to ko recent changes
  .github/workflows/image-build.yaml
  .github/workflows/reuse.yaml
  Makefile
Labels: milestone 1.8.0

#4449 docs: add local image build section
  DEVELOPMENT.md
Labels: milestone 1.8.0

#4441 refactor: docker related makefile targets
  Makefile
Labels: milestone 1.8.0

#4452 docs: add pushing images section
  DEVELOPMENT.md
Labels: milestone 1.8.0

#4454 refactor: clearly separate makefile docker targets for build and publish
  .github/workflows/image.yaml
  .github/workflows/release.yaml
  Makefile
Labels: milestone 1.8.0

#4451 Skip validate rules if the conditional anchor does not match
  pkg/engine/anchor/anchor.go
  pkg/engine/validate/validate_test.go
Labels: milestone 1.8.0

#4456 refactor: make toggles easier to define and use
  cmd/cli/kubectl-kyverno/utils/common/common_test.go
  cmd/kyverno/main.go
  pkg/autogen/autogen.go
  pkg/policy/policy_controller.go
  pkg/policy/report.go
  pkg/policymutation/policymutation.go
  pkg/policyreport/builder.go
  pkg/policyreport/changerequestcreator.go
  pkg/policyreport/reportcontroller.go
  pkg/toggle/toggle.go
  pkg/webhookconfig/configmanager.go
  pkg/webhooks/policy/handlers.go
Labels: milestone 1.8.0

#4458 docs: add section for deploying a local build
  DEVELOPMENT.md
  Makefile
Labels: milestone 1.8.0

#4364 Extend Pod Security Admission
  Makefile
  api/kyverno/v1/common_types.go
  api/kyverno/v1/zz_generated.deepcopy.go
  charts/kyverno/templates/crds.yaml
  config/crds/kyverno.io_clusterpolicies.yaml
  config/crds/kyverno.io_policies.yaml
  config/install.yaml
  config/install_debug.yaml
  docs/crd/v1/index.html
  go.mod
  go.sum
  pkg/autogen/autogen.go
  pkg/autogen/autogen_test.go
  pkg/autogen/rule.go
  pkg/engine/validation.go
  pkg/engine/validation_test.go
  pkg/policy/validate/validate.go
  pkg/pss/evaluate.go
  pkg/pss/mapping.go
  pkg/pss/utils.go
  test/policy/validate/enforce-baseline-exclude-selinuxoptions.yaml
Labels: milestone 1.8.0

#4464 fix: warning in all makefile targets
  Makefile
Labels: milestone 1.8.0

#4462 fix: local image build with docker
  Makefile
Labels: milestone 1.8.0

#4470 chore: enable cherry-pick bot
  .github/cherry-pick-bot.yml
Labels: milestone 1.8.0
