Repository kyverno/kyverno, pull requests merged in 2022-01, with the labels that each got.

#2887 Fix buildversion for local images
  Makefile
Labels: milestone 1.6.0

#2890 Don't create ReportChangeRequest on managed pods/jobs deletion
  pkg/policyreport/changerequestcreator.go
  pkg/webhooks/validation.go
Labels: milestone 1.5.3

#2788 Extend new operators
  pkg/engine/common/common.go
  pkg/engine/common/pattern.go
  pkg/engine/common/pattern_test.go
  pkg/engine/mutate/overlayCondition.go
  pkg/engine/validate/validate.go
  pkg/engine/variables/evaluate_test.go
  pkg/engine/variables/operator/allin.go
  pkg/engine/variables/operator/allnotin.go
  pkg/engine/variables/operator/anyin.go
  pkg/engine/variables/operator/anynotin.go
  pkg/generate/validate.go
Labels: milestone 1.6.0

#2782 Added report generation for verifyImage rules
  pkg/policy/existing.go
  pkg/policyreport/builder.go
  pkg/webhookconfig/configmanager.go
  pkg/webhooks/server.go
  pkg/webhooks/verify_images.go
Labels: milestone 1.6.0

#2902 Improve endpoint check
  Makefile
  pkg/webhookconfig/registration.go
Labels: milestone 1.5.3

#2907 added check for any/all
  pkg/webhooks/common.go
Labels: bug, milestone 1.5.3

#2900 Manage affinity with Helm values
  charts/kyverno/templates/deployment.yaml
  charts/kyverno/values.yaml
Labels: milestone 1.6.0

#2910 Fix TLS inconsitency in HA
  pkg/tls/certRenewer.go
  pkg/tls/reader.go
  pkg/webhookconfig/registration.go
Labels: milestone 1.5.3

#2921 Fixing the CI job to push images
  .github/workflows/image.yaml
  Makefile
Labels: milestone 1.6.0

#2922 fix: removing docker-buildx-builder to get digest
  Makefile
Labels: milestone 1.6.0

#2662 adds ephemeralContainers to the image variable
  pkg/engine/context/context.go
  pkg/engine/context/imageutils.go
  pkg/engine/context/imageutils_test.go
  pkg/engine/imageVerify.go
Labels: milestone 1.6.0

#2927 Corrected the value of `INIT_CONFIG` env in deployment
  charts/kyverno/values.yaml
  config/install.yaml
  config/manifest/deployment.yaml
  pkg/webhookconfig/registration.go
Labels: milestone 1.6.0

#2933 ValidCert Secret Annotation Check
  pkg/tls/certRenewer.go
Labels: milestone 1.5.4

#2936 Bugfix/2931 cosign error
  go.mod
  go.sum
  pkg/cosign/client.go
  pkg/cosign/cosign.go
  pkg/cosign/mock.go
Labels: milestone 1.5.4

#2941 Add parse_json function the decode json strings
  pkg/engine/jmespath/functions.go
  pkg/engine/jmespath/functions_test.go
  test/cli/test/custom-functions/policy.yaml
  test/cli/test/custom-functions/resources.yaml
  test/cli/test/custom-functions/test.yaml
Labels: milestone 1.6.0

#2956 Added TLS annotation check in the initContainer
  cmd/initContainer/main.go
  pkg/tls/certRenewer.go
  pkg/tls/reader.go
Labels: milestone 1.5.4

#2963 Remove spurious prints and fix line endings
  pkg/engine/jmespath/functions_test.go
  test/cli/test/custom-functions/policy.yaml
  test/cli/test/custom-functions/resources.yaml
  test/cli/test/custom-functions/test.yaml
Labels: milestone 1.6.0

#2944 kyverno/test: print test summary of kyverno test results
  pkg/kyverno/test/test_command.go
Labels: milestone 1.6.0

#2973 check for issuer and subject only when declared. fix log levels.
  pkg/cosign/cosign.go
Labels: milestone 1.6.0

#2968 chore: bump go version used to build images
  cmd/cli/kubectl-kyverno/Dockerfile
  cmd/initContainer/Dockerfile
  cmd/kyverno/Dockerfile
Labels: milestone 1.6.0

#2898 Converted test.yaml to kyverno-test.yaml
  pkg/kyverno/test/test_command.go
  test/cli/test-fail/missing-policy/kyverno-test.yaml
  test/cli/test-fail/missing-resource/kyverno-test.yaml
  test/cli/test-fail/missing-rule/kyverno-test.yaml
  test/cli/test-mutate/kyverno-test.yaml
  test/cli/test/autogen/kyverno-test.yaml
  test/cli/test/custom-functions/kyverno-test.yaml
  test/cli/test/preconditions/kyverno-test.yaml
  test/cli/test/simple/kyverno-test.yaml
  test/cli/test/variables/kyverno-test.yaml
Labels: milestone 1.6.0

#2975 handle CRDs with no props
  pkg/openapi/crdSync.go
  pkg/openapi/validation_test.go
Labels: milestone 1.6.0

#2993 Fix variable substitution for foreach preconditions
  pkg/engine/variables/vars.go
  test/e2e/mutate/config.go
  test/e2e/mutate/resources.go
Labels: milestone 1.6.0

#2980 Add flag webhookRegistrationTimeout
  cmd/kyverno/main.go
Labels: milestone 1.6.0

#3001 Add the new flag webhookRegistrationTimeout
  cmd/kyverno/main.go
Labels: milestone 1.6.0

#2999 Add a parse_yaml function
  pkg/engine/jmespath/functions.go
  pkg/engine/jmespath/functions_test.go
  test/cli/test/custom-functions/kyverno-test.yaml
  test/cli/test/custom-functions/policy.yaml
  test/cli/test/custom-functions/resources.yaml
Labels: milestone 1.6.0

#2947 Support mutation of variables in validate.deny
  pkg/policymutation/cronjob.go
  pkg/policymutation/policymutation.go
  pkg/policymutation/policymutation_test.go
  test/policy/deny/policy.yaml
Labels: milestone 1.6.0, pss

#3002 Added Mac ARM64 build to Krew config
  .krew.yaml
Labels: milestone 1.6.0

#3013 Remove `resourceCache` from engine
  cmd/kyverno/main.go
  pkg/engine/generation.go
  pkg/engine/imageVerify.go
  pkg/engine/jsonContext.go
  pkg/engine/mutation.go
  pkg/engine/policyContext.go
  pkg/engine/validation.go
  pkg/generate/generate.go
  pkg/generate/generate_controller.go
  pkg/policy/apply.go
  pkg/policy/common.go
  pkg/policy/existing.go
  pkg/policy/generate/validate.go
  pkg/policy/policy_controller.go
  pkg/webhooks/generation.go
  pkg/webhooks/server.go
  pkg/webhooks/validate_audit.go
Labels: milestone 1.6.0

#3000 fix(generate): use JSON patch for GenerateRequests status updates
  pkg/generate/status.go
  pkg/generate/util.go
Labels: milestone 1.6.0

#2987 Added Kyverno specific SharedInformerFactory
  cmd/kyverno/main.go
  pkg/webhookconfig/common.go
  pkg/webhookconfig/configmanager.go
  pkg/webhookconfig/registration.go
Labels: milestone 1.6.0

#3018 Clean up webhook configurations when cannot find kyverno deployment
  pkg/webhookconfig/registration.go
Labels: milestone 1.6.0

#2979 refactoring github actions to remove duplication and enhancement for versioned sbom's
  .github/workflows/image.yaml
  .github/workflows/release.yaml
  .github/workflows/reuse.yaml
  Makefile
  cmd/alpineBase/Dockerfile
  cosign.pub
Labels: milestone 1.6.0

#2997 CLI fix for foreach policies
  pkg/engine/mutation_test.go
  pkg/kyverno/common/common.go
Labels: milestone 1.6.0

#2953 Support `namespaceSelector` with dynamic webhook enabled
  cmd/kyverno/main.go
  pkg/config/dynamicconfig.go
  pkg/webhookconfig/monitor.go
  pkg/webhookconfig/registration.go
Labels: milestone 1.6.0

#2986 Fixed error handling for negation anchors
  pkg/engine/anchor/anchor.go
  pkg/engine/anchor/anchorKey.go
  pkg/engine/validate/validate.go
Labels: milestone 1.6.0, pss

#3021 Fix permissions for image publish workflows
  .github/workflows/image.yaml
Labels: milestone 1.6.0

#3023 fix: buildx-action version
  .github/workflows/reuse.yaml
Labels: milestone 1.6.0

#3007 SharedInformers for WebhookConfigurations
  cmd/kyverno/main.go
  pkg/resourcecache/main.go
  pkg/webhookconfig/configmanager.go
  pkg/webhookconfig/registration.go
  pkg/webhookconfig/resource.go
Labels: milestone 1.6.0

#3026 Background controller: list resources once per policy
  pkg/policy/common.go
  pkg/policy/existing.go
  pkg/policy/report.go
Labels: milestone 1.6.0

#3022 fix deployment replica type conversion and refactor webhook logs
  pkg/tls/certRenewer.go
  pkg/webhookconfig/registration.go
Labels: milestone 1.6.0

#2737 Disable autogen for policies without Pod
  pkg/policymutation/policymutation.go
  pkg/policymutation/policymutation_test.go
  pkg/webhooks/policymutation_test.go
Labels: milestone 1.6.0

#2990 Broken exclude any all
  pkg/webhooks/common.go
  test/cli/test-fail/invalid-ns/kyverno-test.yaml
  test/cli/test-fail/invalid-ns/policy.yaml
  test/cli/test-fail/invalid-ns/resources.yaml
Labels: milestone 1.6.0

#3029 clarify naming patterns for Kyverno ClusterRoles/ClusterRoleBindings
  charts/kyverno/README.md
Labels: milestone 1.6.0

#3038 Update division for same units
  pkg/engine/jmespath/arithmetic.go
  pkg/engine/jmespath/functions_test.go
Labels: milestone 1.6.0

#2794 Namespace Specific ValidationFailureAction
  api/kyverno/v1/policy_types.go
  charts/kyverno/templates/crds.yaml
  config/crds/kyverno.io_clusterpolicies.yaml
  config/crds/kyverno.io_policies.yaml
  config/install.yaml
  config/install_debug.yaml
  pkg/engine/response/response.go
  pkg/engine/validation.go
  pkg/policy/validate.go
  pkg/policycache/cache.go
  pkg/policycache/cache_test.go
  pkg/webhooks/common.go
  pkg/webhooks/validation.go
  pkg/webhooks/validation_test.go
Labels: milestone 1.6.0

#3042 Reduce throttling requests for Kyverno resources
  pkg/policyreport/changerequestcreator.go
  pkg/policyreport/conversion.go
  pkg/policyreport/reportcontroller.go
Labels: milestone 1.6.0

#3044 Fix dynamic webhook for namespace policies
  pkg/webhookconfig/configmanager.go
Labels: milestone 1.6.0

#3043 bumps k8s libraries for k8s v1.23 upgrade for kyverno
  .github/workflows/build.yaml
  .github/workflows/e2e.yaml
  .github/workflows/fossa.yml
  .github/workflows/release.yaml
  .github/workflows/reuse.yaml
  go.mod
  go.sum
  pkg/cosign/cosign_test.go
  pkg/webhooks/generation_test.go
Labels: milestone 1.6.0

#3048 Bump go version from `1.16` to `1.17`
  go.mod
Labels: milestone 1.6.0

#3052 fix mutate preprocessing for anchors
  api/kyverno/v1alpha1/zz_generated.deepcopy.go
  api/kyverno/v1alpha2/zz_generated.deepcopy.go
  api/policyreport/v1alpha1/zz_generated.deepcopy.go
  api/policyreport/v1alpha2/zz_generated.deepcopy.go
  go.mod
  go.sum
  pkg/engine/anchor/common.go
  pkg/engine/common/pattern.go
  pkg/engine/mutate/patch/strategicMergePatch.go
  pkg/engine/mutate/patch/strategicMergePatch_test.go
  pkg/engine/mutate/patch/strategicPreprocessing.go
  pkg/engine/mutate/patch/strategicPreprocessing_test.go
  pkg/engine/mutate/utils.go
  pkg/engine/validation.go
  pkg/kyverno/test/test_command.go
  test/cli/test-mutate/foreach/addIfNotPresent/deploy-patched.yaml
  test/cli/test-mutate/foreach/addIfNotPresent/kyverno-test.yaml
  test/cli/test-mutate/foreach/addIfNotPresent/policies.yaml
  test/cli/test-mutate/foreach/addIfNotPresent/resources.yaml
  test/cli/test-mutate/foreach/replaceRegistry/kyverno-test.yaml
  test/cli/test-mutate/foreach/replaceRegistry/pod-patched.yaml
  test/cli/test-mutate/foreach/replaceRegistry/policies.yaml
  test/cli/test-mutate/foreach/replaceRegistry/resources.yaml
Labels: milestone 1.6.0

#3060 Update workflow configurations to fix CI failure
  .github/workflows/build.yaml
  .github/workflows/helm-release.yaml
  .github/workflows/helm-test.yaml
  .github/workflows/image.yaml
  .github/workflows/release.yaml
Labels: milestone 1.6.0

#3061 Fix mutating ownerReferences
  pkg/engine/mutate/patch/patchesUtils.go
Labels: milestone 1.6.0

#3082 Revert workflow configs - add sbom container for images sigining
  Makefile
  cmd/alpineBase/Dockerfile
Labels: milestone 1.6.0

#3083 apply patches cumulatively
  pkg/engine/mutation.go
  test/cli/test-mutate/foreach/cumulativePatch/kyverno-test.yaml
  test/cli/test-mutate/foreach/cumulativePatch/patched.yaml
  test/cli/test-mutate/foreach/cumulativePatch/policies.yaml
  test/cli/test-mutate/foreach/cumulativePatch/resources.yaml
Labels: milestone 1.6.0

#3085 Cherry-pick fixes for 1.6.0.
  pkg/engine/mutation.go
  pkg/kyverno/common/common.go
  test/cli/test-mutate/foreach/cumulativePatch/kyverno-test.yaml
  test/cli/test-mutate/foreach/cumulativePatch/patched.yaml
  test/cli/test-mutate/foreach/cumulativePatch/policies.yaml
  test/cli/test-mutate/foreach/cumulativePatch/resources.yaml
  test/cli/test/any-namespaceSelector/policy.yaml
  test/cli/test/any-namespaceSelector/resource.yaml
  test/cli/test/any-namespaceSelector/test.yaml
  test/cli/test/any-namespaceSelector/value.yaml
Labels: milestone 1.6.0

#3086 Add KYVERNO_DEPLOYMENT to initContainer
  charts/kyverno/templates/deployment.yaml
Labels: milestone 1.6.0

#3045 Updates Changelog to add note for anyPattern issue due to k8s v1.23
  CHANGELOG.md
Labels: milestone 1.6.0

#3096 Fix the kyverno default keychain value to be the ggcr default keychain when uninitialized
  pkg/registryclient/client.go
Labels: milestone 1.7.0

#3098 Add b/w compat support for K8s version 1.20 and below for Kyverno 1.6 (cherry-pick v1.6)
  charts/kyverno/templates/poddisruptionbudget.yaml
Labels: milestone 1.6.0

#3100 Add b/w compat support for K8s version 1.20 and below for Kyverno 1.7
  charts/kyverno/templates/poddisruptionbudget.yaml
Labels: milestone 1.7.0

#3089 update cosign to 1.5.0 and fix issuer and subject for keyless
  go.mod
  go.sum
  pkg/cosign/client.go
  pkg/cosign/cosign.go
  pkg/cosign/cosign_test.go
  pkg/cosign/mock.go
  pkg/engine/imageVerify.go
  pkg/kyverno/validate/commmand_test.go
Labels: milestone 1.6.0

#3112 Adding tests for cosign keyless image verification
  pkg/cosign/cosign.go
  pkg/cosign/cosign_test.go
Labels: milestone 1.6.0

#3116 Add cloud provider keychains to DefaultKeychain
  go.mod
  go.sum
  pkg/registryclient/client.go
Labels: milestone 1.7.0

#3108 Fix parsing of resources in preconditions
  pkg/engine/variables/evaluate_test.go
  pkg/engine/variables/operator/numeric.go
Labels: milestone 1.7.0

#3133 Fix variable substitution when curly braces are used in jmespath
  pkg/engine/variables/vars.go
  pkg/engine/variables/vars_test.go
  test/cli/test/jmespath-brackets/kyverno-test.yaml
  test/cli/test/jmespath-brackets/policy.yaml
  test/cli/test/jmespath-brackets/resources.yaml
Labels: milestone 1.7.0

#3137 Fixed kyverno panic at JMESPath zero division
  pkg/engine/jmespath/arithmetic.go
  pkg/engine/jmespath/functions_test.go
Labels: milestone 1.6.0, milestone 1.6.1

#3129 Relax rule context validation to follow JMESPath grammar
  pkg/policy/validate.go
  test/cli/test/variables/cm-multiple-example.yaml
  test/cli/test/variables/kyverno-test.yaml
  test/cli/test/variables/variables.yaml
Labels: milestone 1.7.0
