Repository kyverno/kyverno, pull requests merged in 2022-03, with the labels that each got.

#3336 Fix #3330 - Update clusterrole.yaml
  charts/kyverno/templates/clusterrole.yaml
  config/install.yaml
  config/k8s-resource/clusterroles.yaml
  config/release/install.yaml
Labels: cherry-pick-required, milestone 1.6.2

#3344 fix: incorrect path in helm-test workflow
  .github/workflows/helm-test.yaml
Labels: milestone 1.7.0

#3352 Fix any_all wildcard issue
  pkg/policy/validate.go
  test/cli/test/any-all-wildcard/kyverno-test.yaml
  test/cli/test/any-all-wildcard/policy.yaml
  test/cli/test/any-all-wildcard/resource.yaml
Labels: milestone 1.6.2

#3310 chore: check helm docs are up to date
  .github/workflows/helm-check-docs.yaml
  Makefile
Labels: helm, milestone 1.7.0

#3358 fix: incorrect resource filters with helm and custom namespace
  charts/kyverno/README.md
  charts/kyverno/templates/configmap.yaml
  charts/kyverno/values.yaml
Labels: milestone 1.7.0

#3183 Add new test-case-selector flag to test command
  Makefile
  pkg/kyverno/test/test_command.go
Labels: doc required, milestone 1.7.0

#3364 refactor: move controller autogen annotation in api package
  api/kyverno/v1/constants.go
  pkg/autogen/autogen.go
  pkg/autogen/autogen_test.go
  pkg/autogen/rule.go
  pkg/autogen/utils.go
  pkg/engine/mutation.go
  pkg/engine/utils.go
  pkg/kyverno/common/common.go
  pkg/policy/policy_controller.go
  pkg/policymutation/policymutation.go
Labels: milestone 1.7.0

#3359 Update generate clusterrole (#3336)
  charts/kyverno/templates/clusterrole.yaml
  config/install.yaml
  config/k8s-resource/clusterroles.yaml
  config/release/install.yaml
Labels: milestone 1.6.2

#3350 refactor: introduce rules getters and setters
  api/kyverno/v1/policy_types.go
  api/kyverno/v1/utils.go
  pkg/autogen/autogen.go
  pkg/autogen/autogen_test.go
  pkg/compatibility/add_labels.go
  pkg/engine/forceMutate.go
  pkg/engine/generation.go
  pkg/engine/imageVerify.go
  pkg/engine/mutate/patch/strategicMergePatch_test.go
  pkg/engine/mutation.go
  pkg/engine/utils_test.go
  pkg/engine/validation.go
  pkg/generate/cleanup/controller.go
  pkg/generate/generate.go
  pkg/generate/generate_controller.go
  pkg/kyverno/common/common.go
  pkg/kyverno/common/fetch.go
  pkg/kyverno/test/test_command.go
  pkg/metrics/policyruleinfo/policyRuleInfo.go
  pkg/openapi/validation.go
  pkg/policy/background.go
  pkg/policy/existing.go
  pkg/policy/policy_controller.go
  pkg/policy/validate.go
  pkg/policy/validate_test.go
  pkg/policycache/cache.go
  pkg/policycache/cache_test.go
  pkg/policymutation/policymutation.go
  pkg/utils/json.go
  pkg/webhookconfig/configmanager.go
  pkg/webhooks/common.go
  pkg/webhooks/generation.go
Labels: milestone 1.7.0

#3366 adding emptyDir vol for keyless signing
  config/install.yaml
  config/install_debug.yaml
  config/manifest/deployment.yaml
Labels: cherry-pick-required

#3365 refactor: introduce api common types
  api/kyverno/v1/clusterpolicy_types.go
  api/kyverno/v1/common_types.go
  api/kyverno/v1/policy_types.go
Labels: milestone 1.7.0

#3332 feat: add autogen controllers to policy status
  api/kyverno/v1/common_types.go
  api/kyverno/v1/zz_generated.deepcopy.go
  charts/kyverno/templates/crds.yaml
  config/crds/kyverno.io_clusterpolicies.yaml
  config/crds/kyverno.io_policies.yaml
  config/install.yaml
  config/install_debug.yaml
  pkg/autogen/autogen.go
  pkg/autogen/autogen_test.go
  pkg/webhookconfig/configmanager.go
Labels: milestone 1.7.0

#3373 fix PodExecOptions issue
  pkg/autogen/rule.go
  pkg/autogen/utils.go
  pkg/policy/validate.go
  pkg/policy/validate_test.go
  pkg/utils/util.go
Labels: cherry-pick-required, milestone 1.6.2

#3377 fix: generate api reference docs
  Makefile
  docs/crd/v1/index.html
  docs/crd/v1alpha1/index.html
  docs/crd/v1alpha2/index.html
Labels: milestone 1.7.0

#3382 Add `codecov` to CI
  .github/workflows/codecov.yaml
  Makefile
  README.md
Labels: milestone 1.7.0

#2574 e2e test for mutate global anchor Policy
  test/e2e/mutate/config.go
  test/e2e/mutate/resources.go
Labels: milestone 1.7.0

#3384 Fix for GVK not working for existing resources policy
  pkg/policy/existing.go
  pkg/policy/validate_test.go
Labels: cherry-pick-required, milestone 1.6.2

#3391 Cli Apply command support Dir as resources
  pkg/kyverno/apply/apply_command_test.go
  pkg/kyverno/common/common.go
  test/cli/apply/policies/policy.yaml
  test/cli/apply/resource/resources.yaml
  test/policy.yaml
  test/resources.yaml
Labels: cherry-pick-required, milestone 1.6.2

#3372 refactor: ImageVerification validation
  api/kyverno/v1/common_types.go
  api/kyverno/v1/image_verification_test.go
  api/kyverno/v1/image_verification_types.go
  pkg/policy/validate.go
Labels: milestone 1.7.0

#3396 Add a registry flag to allow direct access to container registries in the CLI
  Makefile
  pkg/engine/jsonContext.go
  pkg/kyverno/apply/apply_command.go
  pkg/kyverno/apply/apply_command_test.go
  pkg/kyverno/store/store.go
  pkg/kyverno/test/test_command.go
  pkg/registryclient/client.go
  test/cli/registry/image-example.yaml
  test/cli/registry/kyverno-test.yaml
  test/cli/registry/resources.yaml
  test/cli/test-mutate/kyverno-test.yaml
Labels: milestone 1.7.0

#3272 Return warning on admission response when mutating pods
  pkg/kyverno/apply/apply_command.go
  pkg/kyverno/common/fetch.go
  pkg/kyverno/test/test_command.go
  pkg/kyverno/validate/command.go
  pkg/policy/validate.go
  pkg/policy/validate_test.go
  pkg/webhooks/policyvalidation.go
Labels: milestone 1.7.0

#3353 Only queue one retry if webhook update fails
  pkg/webhookconfig/registration.go
Labels: milestone 1.7.0

#3405 chore: add make help target
  Makefile
Labels: milestone 1.7.0

#3403 Fix webhook re-creation error
  cmd/kyverno/main.go
  pkg/webhookconfig/monitor.go
  pkg/webhookconfig/registration.go
  pkg/webhookconfig/status.go
  pkg/webhooks/checker.go
  pkg/webhooks/server.go
Labels: cherry-pick-required, milestone 1.6.2

#3399 refactor: UserInfo validation
  api/kyverno/v1/common_types.go
  api/kyverno/v1/user_info_test.go
  api/kyverno/v1/user_info_types.go
  pkg/policy/validate.go
  pkg/policy/validate_test.go
Labels: milestone 1.7.0

#3400 refactor: Rule type validation
  api/kyverno/v1/common_types.go
  api/kyverno/v1/rule_test.go
  api/kyverno/v1/rule_types.go
  pkg/policy/validate.go
  pkg/policy/validate_test.go
Labels: milestone 1.7.0

#3406 refactor: Rule names validation
  api/kyverno/v1/common_types.go
  api/kyverno/v1/rule_test.go
  api/kyverno/v1/spec_test.go
  api/kyverno/v1/spec_types.go
  pkg/policy/validate.go
  pkg/policy/validate_test.go
Labels: milestone 1.7.0

#3361 fix: filter resources names with helm custom release name
  charts/kyverno/README.md
  charts/kyverno/README.md.gotmpl
  charts/kyverno/values.yaml
Labels: milestone 1.7.0

#3404 [ImageVerify] Verify additional certificate-extensions
  api/kyverno/v1/image_verification_types.go
  api/kyverno/v1/zz_generated.deepcopy.go
  charts/kyverno/templates/crds.yaml
  config/crds/kyverno.io_clusterpolicies.yaml
  config/crds/kyverno.io_policies.yaml
  config/install.yaml
  config/install_debug.yaml
  docs/crd/v1/index.html
  pkg/cosign/cosign.go
  pkg/engine/imageVerify.go
Labels: milestone 1.7.0

#3150 Replace `ToUnstructured()` with Marshal/Unmarshal
  pkg/dclient/client.go
Labels: milestone 1.7.0

#3409 refactor: Policy name validation
  api/kyverno/v1/clusterpolicy_test.go
  api/kyverno/v1/clusterpolicy_types.go
  api/kyverno/v1/policy_test.go
  api/kyverno/v1/policy_types.go
  api/kyverno/v1/spec_test.go
  api/kyverno/v1/spec_types.go
  api/kyverno/v1/utils.go
  pkg/policy/validate.go
Labels: milestone 1.7.0

#3417 Fix webhook configuration issue when auto update is disabled
  pkg/webhookconfig/resource.go
Labels: cherry-pick-required, milestone 1.6.2

#3379 feat: stop adding autogen annotation
  cmd/kyverno/main.go
  pkg/engine/utils/utils.go
  pkg/kyverno/apply/apply_command.go
  pkg/kyverno/apply/apply_command_test.go
  pkg/kyverno/common/common.go
  pkg/kyverno/test/test_command.go
  pkg/kyverno/validate/command.go
  pkg/policy/policy_controller.go
  pkg/policymutation/policymutation.go
  pkg/webhooks/policymutation.go
  pkg/webhooks/policymutation_test.go
  pkg/webhooks/server.go
Labels: milestone 1.7.0

#3378 feat: add conditions support
  CHANGELOG.md
  api/kyverno/v1/clusterpolicy_test.go
  api/kyverno/v1/clusterpolicy_types.go
  api/kyverno/v1/common_types.go
  api/kyverno/v1/policy_types.go
  api/kyverno/v1/zz_generated.deepcopy.go
  charts/kyverno/templates/crds.yaml
  config/crds/kyverno.io_clusterpolicies.yaml
  config/crds/kyverno.io_policies.yaml
  config/install.yaml
  config/install_debug.yaml
  docs/crd/v1/index.html
  pkg/webhookconfig/configmanager.go
Labels: milestone 1.7.0

#3420 feat: move GetRules() at the policy level
  api/kyverno/v1/clusterpolicy_types.go
  api/kyverno/v1/policy_types.go
  api/kyverno/v1/rule_test.go
  api/kyverno/v1/spec_types.go
  pkg/autogen/autogen.go
  pkg/autogen/autogen_test.go
  pkg/compatibility/add_labels.go
  pkg/engine/forceMutate.go
  pkg/engine/generation.go
  pkg/engine/imageVerify.go
  pkg/engine/mutate/patch/strategicMergePatch_test.go
  pkg/engine/mutation.go
  pkg/engine/utils_test.go
  pkg/engine/validation.go
  pkg/generate/cleanup/controller.go
  pkg/generate/generate.go
  pkg/generate/generate_controller.go
  pkg/kyverno/common/common.go
  pkg/kyverno/common/fetch.go
  pkg/kyverno/test/test_command.go
  pkg/metrics/policyruleinfo/policyRuleInfo.go
  pkg/openapi/validation.go
  pkg/policy/background.go
  pkg/policy/existing.go
  pkg/policy/policy_controller.go
  pkg/policy/validate.go
  pkg/policycache/cache.go
  pkg/policycache/cache_test.go
  pkg/policymutation/policymutation.go
  pkg/utils/json.go
  pkg/webhookconfig/configmanager.go
  pkg/webhooks/common.go
  pkg/webhooks/generation.go
Labels: milestone 1.7.0

#3419 feat: add toggle package for feature flags
  cmd/kyverno/main.go
  pkg/kyverno/apply/apply_command.go
  pkg/kyverno/apply/apply_command_test.go
  pkg/kyverno/common/common.go
  pkg/kyverno/test/test_command.go
  pkg/kyverno/validate/command.go
  pkg/policy/policy_controller.go
  pkg/toggle/toggle.go
  pkg/webhooks/policymutation.go
  pkg/webhooks/server.go
Labels: milestone 1.7.0

#3398 [imageVerify]: correcting error msg
  pkg/cosign/cosign.go
Labels: milestone 1.7.0

#3421 refactor: ValidationFailureActionOverrides validation
  api/kyverno/v1/clusterpolicy_test.go
  api/kyverno/v1/clusterpolicy_types.go
  api/kyverno/v1/policy_test.go
  api/kyverno/v1/policy_types.go
  api/kyverno/v1/spec_test.go
  api/kyverno/v1/spec_types.go
  pkg/policy/validate.go
Labels: milestone 1.7.0

#3426 feat: use IsReady method
  cmd/initContainer/main.go
  pkg/metrics/policychanges/policyChanges.go
  pkg/metrics/policyexecutionduration/policyExecutionDuration.go
  pkg/metrics/policyresults/policyResults.go
  pkg/metrics/policyruleinfo/policyRuleInfo.go
Labels: milestone 1.7.0

#3422 refactor: MatchResources validation
  api/kyverno/v1/clusterpolicy_test.go
  api/kyverno/v1/clusterpolicy_types.go
  api/kyverno/v1/common_types.go
  api/kyverno/v1/match_resources_test.go
  api/kyverno/v1/match_resources_types.go
  api/kyverno/v1/policy_test.go
  api/kyverno/v1/policy_types.go
  api/kyverno/v1/resource_description_test.go
  api/kyverno/v1/resource_description_types.go
  api/kyverno/v1/rule_test.go
  api/kyverno/v1/rule_types.go
  api/kyverno/v1/spec_test.go
  api/kyverno/v1/spec_types.go
  pkg/policy/validate.go
Labels: milestone 1.7.0

#3407 Fix check for generated webhook rules being equal to what the API server has
  pkg/webhookconfig/configmanager.go
  pkg/webhookconfig/configmanager_test.go
Labels: milestone 1.7.0

#3436 Fix cli apply command panic for --cluster flag
  pkg/kyverno/common/common.go
Labels: cherry-pick-required, milestone 1.6.2

#3438 cherrypick 3436 to v1.6.2
  pkg/kyverno/common/common.go
Labels: milestone 1.6.2

#3442 Remove support for test.yaml
  charts/kyverno/templates/tests/kyverno-test.yaml
  pkg/kyverno/test/test_command.go
  test/cli/test/any-namespaceSelector/kyverno-test.yaml
Labels: milestone 1.7.0

#3443 Fix incorrectly renamed file
  charts/kyverno/templates/tests/test.yaml
Labels: bug, milestone 1.7.0

#3446 refactor: ResourceDescription validation
  api/kyverno/v1/resource_description_test.go
  api/kyverno/v1/resource_description_types.go
  api/kyverno/v1/utils.go
  pkg/policy/validate.go
  pkg/policy/validate_test.go
Labels: milestone 1.7.0

#3445 refactor: ExcludeResources validation
  api/kyverno/v1/rule_types.go
  pkg/policy/validate.go
Labels: milestone 1.7.0

#3437 Drop v1alpha1 PolicyReport CRD
  Makefile
  api/kyverno/v1alpha1/clusterreportchangerequest_types.go
  api/kyverno/v1alpha1/doc.go
  api/kyverno/v1alpha1/groupversion_info.go
  api/kyverno/v1alpha1/reportchangerequest_types.go
  api/kyverno/v1alpha1/zz_generated.deepcopy.go
  api/policyreport/v1alpha1/clusterpolicyreport_types.go
  api/policyreport/v1alpha1/doc.go
  api/policyreport/v1alpha1/groupversion_info.go
  api/policyreport/v1alpha1/policyreport_types.go
  api/policyreport/v1alpha1/zz_generated.deepcopy.go
  charts/kyverno/templates/crds.yaml
  config/crds/kyverno.io_clusterreportchangerequests.yaml
  config/crds/kyverno.io_reportchangerequests.yaml
  config/crds/wgpolicyk8s.io_clusterpolicyreports.yaml
  config/crds/wgpolicyk8s.io_policyreports.yaml
  config/install.yaml
  config/install_debug.yaml
  docs/crd/v1alpha1/index.html
Labels: milestone 1.7.0

#3448 fix: use PodControllersAnnotation constant
  pkg/autogen/autogen_test.go
  pkg/policy/validate.go
Labels: milestone 1.7.0

#3450 refactor: add IsNamespaced() method to API policy types
  api/kyverno/v1/clusterpolicy_test.go
  api/kyverno/v1/clusterpolicy_types.go
  api/kyverno/v1/policy_test.go
  api/kyverno/v1/policy_types.go
  pkg/policy/validate.go
Labels: milestone 1.7.0

#3452 refactor: remove ns lister from webhookconfig
  cmd/kyverno/main.go
  pkg/event/controller.go
  pkg/event/msgbuilder.go
  pkg/webhookconfig/configmanager.go
  pkg/webhookconfig/registration.go
Labels: milestone 1.7.0

#3451 refactor: add ValidationFailureAction to the api
  api/kyverno/v1/common_types.go
  api/kyverno/v1/spec_types.go
  charts/kyverno/templates/crds.yaml
  config/crds/kyverno.io_clusterpolicies.yaml
  config/crds/kyverno.io_policies.yaml
  config/install.yaml
  config/install_debug.yaml
  docs/crd/v1/index.html
  pkg/common/common.go
  pkg/engine/response/response.go
  pkg/metrics/parsers.go
  pkg/policycache/cache.go
  pkg/policymutation/policymutation.go
  pkg/webhooks/common.go
Labels: milestone 1.7.0

#3454 refactor: match and exclude conflict validation
  api/kyverno/v1/rule_test.go
  api/kyverno/v1/rule_types.go
  pkg/policy/validate.go
  pkg/policy/validate_test.go
Labels: milestone 1.7.0

#3462 RWMutex lock while concurrent read/write
  pkg/webhooks/generation.go
  pkg/webhooks/server.go
Labels: milestone 1.7.0, milestone 1.6.2

#3469 Clean up dependencies
  api/kyverno/v1/rule_types.go
  go.mod
  go.sum
  pkg/config/dynamicconfig.go
  pkg/cosign/cosign.go
  pkg/engine/common/pattern.go
  pkg/engine/context/mock_context.go
  pkg/engine/imageVerify.go
  pkg/engine/jmespath/functions.go
  pkg/engine/mutate/patch/patchesUtils.go
  pkg/engine/mutation.go
  pkg/engine/utils.go
  pkg/engine/variables/operator/allin.go
  pkg/engine/variables/operator/anyin.go
  pkg/engine/variables/operator/equal.go
  pkg/engine/variables/operator/in.go
  pkg/engine/variables/operator/notequal.go
  pkg/engine/wildcards/wildcards.go
  pkg/policy/common.go
  pkg/utils/util.go
  pkg/webhooks/common.go
Labels: cherry-pick-required, milestone 1.6.2

#3447 adds lease objects for storing last-request-time and set-status annotations in deployment
  pkg/webhookconfig/monitor.go
  pkg/webhookconfig/registration.go
  pkg/webhookconfig/status.go
Labels: cherry-pick-required, milestone 1.6.2

#3466 refactor: use abstract policy interface in webhookconfig
  api/kyverno/v1/clusterpolicy_types.go
  api/kyverno/v1/policy_types.go
  pkg/autogen/autogen.go
  pkg/autogen/autogen_test.go
  pkg/webhookconfig/configmanager.go
Labels: milestone 1.7.0

#3470 refactor: create e2e infra using make to speed up e2e tests
  Makefile
Labels: milestone 1.7.0

#3480 use mutex as field instead of embedded
  pkg/webhooks/generation.go
  pkg/webhooks/server.go
Labels: cherry-pick-required, milestone 1.6.2

#3410 feat: stop mutating rules
  .github/workflows/e2e.yaml
  .github/workflows/tests.yaml
  Makefile
  api/kyverno/v1/clusterpolicy_types.go
  api/kyverno/v1/policy_types.go
  api/kyverno/v1/rule_test.go
  api/kyverno/v1/spec_types.go
  charts/kyverno/README.md
  charts/kyverno/values.yaml
  cmd/kyverno/main.go
  config/install.yaml
  config/manifest/deployment.yaml
  pkg/autogen/autogen.go
  pkg/autogen/autogen_test.go
  pkg/autogen/rule.go
  pkg/compatibility/add_labels.go
  pkg/engine/forceMutate.go
  pkg/engine/generation.go
  pkg/engine/imageVerify.go
  pkg/engine/mutate/patch/strategicMergePatch_test.go
  pkg/engine/mutation.go
  pkg/engine/utils_test.go
  pkg/engine/validation.go
  pkg/generate/cleanup/controller.go
  pkg/generate/generate.go
  pkg/generate/generate_controller.go
  pkg/kyverno/apply/apply_command.go
  pkg/kyverno/apply/apply_command_test.go
  pkg/kyverno/common/common.go
  pkg/kyverno/common/common_test.go
  pkg/kyverno/common/fetch.go
  pkg/kyverno/test/test_command.go
  pkg/kyverno/validate/command.go
  pkg/metrics/policyruleinfo/policyRuleInfo.go
  pkg/openapi/validation.go
  pkg/policy/background.go
  pkg/policy/existing.go
  pkg/policy/policy_controller.go
  pkg/policy/validate.go
  pkg/policycache/cache.go
  pkg/policycache/cache_test.go
  pkg/policymutation/policymutation.go
  pkg/toggle/toggle.go
  pkg/utils/json.go
  pkg/webhookconfig/configmanager.go
  pkg/webhooks/common.go
  pkg/webhooks/generation.go
  pkg/webhooks/policymutation.go
  pkg/webhooks/policymutation_test.go
Labels: milestone 1.7.0

#3471 Add renovate
  renovate.json
Labels: milestone 1.7.0

#3485 add missing namespace to role and rolebinding (#3389) (#3429)
  charts/kyverno/templates/role.yaml
  charts/kyverno/templates/rolebinding.yaml
Labels: milestone 1.7.0

#3493 chore: simplify validation with named return
  api/kyverno/v1/clusterpolicy_types.go
  api/kyverno/v1/image_verification_types.go
  api/kyverno/v1/match_resources_types.go
  api/kyverno/v1/policy_types.go
  api/kyverno/v1/resource_description_types.go
  api/kyverno/v1/rule_types.go
  api/kyverno/v1/spec_types.go
  api/kyverno/v1/user_info_types.go
  api/kyverno/v1/utils.go
Labels: milestone 1.7.0

#3472 feat: generate support for namespace policy
  cmd/kyverno/main.go
  pkg/engine/generation.go
  pkg/generate/cleanup/controller.go
  pkg/generate/generate.go
  pkg/generate/generate_controller.go
  pkg/webhooks/generate/generate.go
  pkg/webhooks/generation.go
Labels: enhancement, milestone 1.7.0

#3413 feat: add webhooks object selector support
  charts/kyverno/README.md
  charts/kyverno/values.yaml
  pkg/config/dynamicconfig.go
  pkg/webhookconfig/registration.go
Labels: milestone 1.7.0

#3496 refactor: factorize policy interface
  api/kyverno/v1/clusterpolicy_types.go
  api/kyverno/v1/policy_interface.go
  api/kyverno/v1/policy_types.go
  docs/crd/v1/index.html
  pkg/autogen/autogen.go
  pkg/webhookconfig/configmanager.go
Labels: milestone 1.7.0

#3492 chore: add autogen internals e2e tests
  .github/workflows/e2e-autogen-internals.yaml
Labels: milestone 1.7.0

#3495 refactor: improve policycache package
  pkg/policycache/cache_test.go
  pkg/policycache/informer.go
  pkg/policycache/policy_cache.go
  pkg/policycache/policy_map.go
Labels: milestone 1.7.0

#3499 refactor: make use of policy interface
  pkg/engine/forceMutate.go
  pkg/engine/forceMutate_test.go
  pkg/engine/generation.go
  pkg/engine/imageVerify.go
  pkg/engine/imageVerify_test.go
  pkg/engine/jsonContext.go
  pkg/engine/mutation.go
  pkg/engine/mutation_test.go
  pkg/engine/policyContext.go
  pkg/engine/response/response.go
  pkg/engine/utils.go
  pkg/engine/utils_test.go
  pkg/engine/validation.go
  pkg/engine/validation_test.go
  pkg/generate/generate.go
  pkg/kyverno/common/common.go
  pkg/metrics/policyexecutionduration/policyExecutionDuration.go
  pkg/metrics/policyresults/policyResults.go
  pkg/openapi/validation.go
  pkg/policy/apply.go
  pkg/policy/existing.go
  pkg/policyreport/builder.go
  pkg/testrunner/scenario.go
  pkg/webhooks/generation.go
  pkg/webhooks/mutation.go
  pkg/webhooks/validation.go
  pkg/webhooks/validation_test.go
  pkg/webhooks/verify_images.go
Labels: milestone 1.7.0

#3503 refactor: use policy interface in policycache package
  pkg/policycache/cache_test.go
  pkg/policycache/informer.go
  pkg/policycache/policy_cache.go
  pkg/policycache/policy_map.go
  pkg/webhooks/common.go
  pkg/webhooks/generation.go
  pkg/webhooks/mutation.go
  pkg/webhooks/server.go
  pkg/webhooks/validation.go
  pkg/webhooks/verify_images.go
Labels: milestone 1.7.0

#3510 refactor: use more policy interface
  api/kyverno/v1/clusterpolicy_types.go
  api/kyverno/v1/policy_interface.go
  api/kyverno/v1/policy_test.go
  api/kyverno/v1/policy_types.go
  pkg/autogen/autogen_test.go
  pkg/kyverno/apply/apply_command.go
  pkg/kyverno/common/common.go
  pkg/kyverno/common/fetch.go
  pkg/kyverno/test/test_command.go
  pkg/kyverno/validate/command.go
  pkg/openapi/validation.go
  pkg/openapi/validation_test.go
  pkg/policy/apply.go
  pkg/policy/background.go
  pkg/policy/common.go
  pkg/policy/existing.go
  pkg/policy/policy_controller.go
  pkg/policy/report.go
  pkg/policy/validate.go
  pkg/policymutation/policymutation.go
  pkg/utils/loadpolicy.go
  pkg/webhooks/policymutation_test.go
Labels: milestone 1.7.0

#3509 fix: reduce dependency to ns lister
  pkg/policy/report.go
Labels: milestone 1.7.0

#3512 refactor: use policy interface and introduce admission utils package
  pkg/engine/mutation.go
  pkg/policy/metrics.go
  pkg/policy/policy_controller.go
  pkg/utils/admission/utils.go
  pkg/webhooks/policymutation.go
  pkg/webhooks/policyvalidation.go
  pkg/webhooks/report.go
Labels: milestone 1.7.0

#3516 refactor: webhooks package
  pkg/utils/admission/utils.go
  pkg/webhooks/checker.go
  pkg/webhooks/common.go
  pkg/webhooks/handlers.go
  pkg/webhooks/handlers/admission.go
  pkg/webhooks/handlers/monitor.go
  pkg/webhooks/handlers/probe.go
  pkg/webhooks/metrics.go
  pkg/webhooks/mutation.go
  pkg/webhooks/policymutation.go
  pkg/webhooks/policyvalidation.go
  pkg/webhooks/server.go
  pkg/webhooks/validation.go
Labels: milestone 1.7.0

#3523 refactor: separate json utils package
  pkg/autogen/autogen_test.go
  pkg/policy/apply.go
  pkg/policymutation/policymutation.go
  pkg/utils/json/utils.go
Labels: milestone 1.7.0

#3521 fix: tls min version
  pkg/webhooks/server.go
Labels: milestone 1.7.0
