Repository kyverno/kyverno, pull requests merged in 2022-06, with the labels that each got.

#4053 fix: bool fields in image verification types
  api/kyverno/v1/image_verification_types.go
Labels: cherry-pick-required, milestone 1.7.1

#4057 fix: add missing release notes in helm chart
  charts/kyverno/Chart.yaml
Labels: milestone 1.8.0

#4063 Remove s390X for Krew
  .krew.yaml
Labels: cherry-pick-required, milestone 1.7.1

#4079 Exclude Kyverno namespace by default
  charts/kyverno/Chart.yaml
  charts/kyverno/README.md
  charts/kyverno/templates/_helpers.tpl
  charts/kyverno/templates/configmap.yaml
  charts/kyverno/values.yaml
  config/k8s-resource/configmap.yaml
Labels: cherry-pick-required, milestone 1.7.1

#4098 remove TUF initialization from main
  cmd/kyverno/main.go
  pkg/cosign/cosign.go
  pkg/cosign/init.go
Labels: cherry-pick-required, milestone 1.7.1

#4038 fix imageVerify validation checks and conversion logic
  api/kyverno/v1/image_verification_test.go
  api/kyverno/v1/image_verification_types.go
Labels: cherry-pick-required, milestone 1.7.1

#4138 release event memory
  pkg/event/controller.go
  pkg/event/events.go
  pkg/policy/report.go
  pkg/webhooks/resource/report.go
Labels: cherry-pick-required, milestone-1.7.2

#4156 Switch to use kyverno namespace pod informer to avoid memory growth
  cmd/kyverno/main.go
Labels: cherry-pick-required, milestone-1.7.2

#4159 Disable event generation for resources on DELETE requests
  pkg/event/util.go
  pkg/webhooks/resource/handlers.go
  pkg/webhooks/resource/validation.go
Labels: cherry-pick-required, milestone-1.7.2

#4155 Wait for informer caches to be synced before starting controllers
  cmd/kyverno/main.go
  pkg/background/generate/cleanup/controller.go
  pkg/background/update_request_controller.go
  pkg/controllers/certmanager/controller.go
  pkg/controllers/config/controller.go
  pkg/controllers/config/log.go
  pkg/controllers/policycache/controller.go
  pkg/policy/policy_controller.go
  pkg/policyreport/reportcontroller.go
  pkg/policyreport/reportrequest.go
  pkg/utils/controller/run.go
  pkg/webhooks/resource/validate_audit.go
Labels: cherry-pick-required, milestone-1.7.2

#4148 Clean up RCRs if the count exceeds the threshold
  CHANGELOG.md
  cmd/kyverno/main.go
  pkg/policy/policy_controller.go
  pkg/policy/report.go
  pkg/policyreport/builder.go
  pkg/policyreport/changerequestcreator.go
  pkg/policyreport/mapper.go
  pkg/policyreport/policyreport.go
  pkg/policyreport/reportcontroller.go
  pkg/policyreport/reportrequest.go
Labels: cherry-pick-required, milestone-1.7.2

#4147 feat: split policy report per policy bases
  cmd/kyverno/main.go
  pkg/policyreport/builder.go
  pkg/policyreport/changerequestcreator.go
  pkg/policyreport/policyreport.go
  pkg/policyreport/reportcontroller.go
  pkg/policyreport/reportrequest.go
Labels: cherry-pick-required, milestone-1.7.2

#4174 delete policy reports on policy deletion
  pkg/policyreport/reportcontroller.go
Labels: cherry-pick-required, milestone-1.7.2
