Repository kyverno/kyverno, pull requests merged in 2022-07, with the labels that each got.

#4139 fix external.metrics.k8s.io/v1beta1 issue
  pkg/dclient/discovery.go
  pkg/dclient/fake.go
  pkg/openapi/crdSync.go
  pkg/policy/validate.go
  pkg/utils/util.go
Labels: cherry-pick-required, milestone-1.7.2

#4090 refactor: finish refactoring generate e2e tests
  test/e2e/generate/config.go
  test/e2e/generate/generate_test.go
  test/e2e/generate/helpers.go
Labels: milestone 1.8.0

#4200 Release 1.7
  pkg/utils/json/utils.go
  pkg/utils/json/utils_test.go
  pkg/webhooks/handlers.go
Labels: milestone-1.7.2

#4204 Use non-blocking channel send for UpdateWebhookChan
  pkg/webhookconfig/monitor.go
  pkg/webhookconfig/registration.go
Labels: cherry-pick-required, milestone-1.7.2

#4199 Fix UpdateRequest labeling
  pkg/background/common/labels.go
  pkg/background/update_request_controller.go
  pkg/webhooks/updaterequest/generator.go
Labels: milestone-1.7.2

#4210 fix: use the unstructured list instead of interface type
  pkg/policy/common.go
Labels: cherry-pick-required, cherry-pick-completed, milestone-1.7.2

#4213 Only set up logging context if it will be used
  pkg/webhooks/handlers/admission.go
Labels: milestone-1.7.2

#4194 feat: improve flag message for disableMetricsExport
  cmd/kyverno/main.go
Labels: milestone 1.8.0

#4231 update cosign to v1.9.0
  go.mod
  go.sum
Labels: cherry-pick-required, milestone-1.7.2

#4215 Corrected description for UpdateRequest struct
  api/kyverno/v1beta1/updaterequest_types.go
  charts/kyverno/templates/crds.yaml
  config/crds/kyverno.io_updaterequests.yaml
  config/install.yaml
  config/install_debug.yaml
  docs/crd/v1beta1/index.html
Labels: milestone 1.8.0

#4233 Limit queued events
  CHANGELOG.md
  cmd/kyverno/main.go
  pkg/event/controller.go
Labels: milestone-1.7.2

#4198 Fix metrics with invalid validationMode
  pkg/metrics/policyexecutionduration/policyExecutionDuration.go
  pkg/metrics/policyresults/policyResults.go
Labels: milestone 1.8.0

#4236 Cherry-pick #4233
  CHANGELOG.md
  cmd/kyverno/main.go
  pkg/event/controller.go
Labels: milestone 1.8.0

#4243 Fix check depreciated api issue
  pkg/dclient/discovery.go
  pkg/policy/common.go
Labels: cherry-pick-required

#4219 chore: use new distroless base image provided by distroless org
  cmd/cli/kubectl-kyverno/Dockerfile
  cmd/initContainer/Dockerfile
  cmd/kyverno/Dockerfile
Labels: milestone 1.8.0

#4237 fix split policyreport name with background scan
  cmd/initContainer/main.go
  cmd/kyverno/main.go
  pkg/policy/report.go
  pkg/policyreport/builder.go
  pkg/policyreport/changerequestcreator.go
  pkg/policyreport/reportcontroller.go
  pkg/policyreport/reportrequest.go
  pkg/toggle/toggle.go
Labels: cherry-pick-required, milestone-1.7.2

#4256 fix: use only 1 kubernetes client
  cmd/cli/kubectl-kyverno/apply/apply_command.go
  cmd/initContainer/main.go
  cmd/kyverno/main.go
  pkg/dclient/client.go
Labels: cherry-pick-required, milestone-1.7.3

#4214 Add shutdown methods for exporters and controllers
  cmd/kyverno/main.go
  pkg/metrics/init.go
  pkg/metrics/metrics.go
  pkg/tracing/tracing.go
Labels: milestone 1.8.0

#4263 fix: use an absolute path in docker entrypoint
  cmd/cli/kubectl-kyverno/Dockerfile
  cmd/initContainer/Dockerfile
  cmd/kyverno/Dockerfile
Labels: milestone-1.7.3

#4269 Reset policy status on termination
  pkg/webhookconfig/configmanager.go
  pkg/webhookconfig/registration.go
  pkg/webhooks/server.go
Labels: milestone 1.8.0

#4251 feature: added new type of event, PolicySkipped
  pkg/engine/response/response.go
  pkg/event/controller.go
  pkg/event/events.go
  pkg/event/reason.go
  pkg/policy/report.go
  pkg/webhooks/resource/report.go
Labels: milestone 1.8.0

#4196 add applyRules to control whether one or all rules are applied
  api/kyverno/v1/common_types.go
  api/kyverno/v1/spec_types.go
  api/kyverno/v1/zz_generated.deepcopy.go
  charts/kyverno/templates/crds.yaml
  config/crds/kyverno.io_clusterpolicies.yaml
  config/crds/kyverno.io_policies.yaml
  config/install.yaml
  config/install_debug.yaml
  docs/crd/v1/index.html
  pkg/background/generate/generate.go
  pkg/engine/attestation_test.go
  pkg/engine/background.go
  pkg/engine/context/context.go
  pkg/engine/imageVerify.go
  pkg/engine/imageVerify_test.go
  pkg/engine/mutation.go
  pkg/engine/mutation_test.go
  pkg/engine/validation.go
  pkg/utils/image/infos.go
  pkg/webhooks/resource/validation.go
  pkg/webhooks/resource/validation_test.go
Labels: milestone 1.8.0

#4277 feat: auto optimize GOMAXPROCS
  cmd/kyverno/main.go
  go.mod
  go.sum
Labels: milestone 1.8.0, memory
