Repository kyverno/kyverno, pull requests merged in 2022-02, with the labels that each got.

#3143 Fix kyverno panic with `PodSpec.containers` JSON merge patch w/o image
  pkg/engine/context/imageutils.go
Labels: milestone 1.6.0

#3146 fix filtered sort patches index to remove redundant json operations
  pkg/engine/mutate/patch/patchesUtils.go
  pkg/engine/mutate/patch/patchesUtils_test.go
Labels: milestone 1.6.0

#3149 fix filtered and sort patches index (#3146)
  pkg/engine/mutate/patch/patchesUtils.go
  pkg/engine/mutate/patch/patchesUtils_test.go
Labels: milestone 1.6.0

#3151 add missing patch verbs in event clusterrole
  charts/kyverno/templates/clusterrole.yaml
Labels: milestone 1.6.0

#3160 Bump chart versions in `main`
  charts/kyverno-policies/Chart.yaml
  charts/kyverno/Chart.yaml
Labels: milestone 1.6.0

#3127 Bump up verbosity for `patched resource mismatch`
  pkg/kyverno/test/test_command.go
Labels: milestone 1.6.1

#3162 Fix panic for provides a set to the key of a precondition and deny condition
  pkg/policy/validate.go
  test/cli/test/multiple_condition_keys/kyverno-test.yaml
  test/cli/test/multiple_condition_keys/policy.yaml
  test/cli/test/multiple_condition_keys/resources.yaml
Labels: milestone 1.6.0, milestone 1.7.0

#3166 Add cloud provider keychains to DefaultKeychain (#3116)
  go.mod
  go.sum
  pkg/registryclient/client.go
Labels: milestone 1.6.0

#3170 Filter kyverno resources instead of entire kyverno namespace
  charts/kyverno/README.md
  charts/kyverno/values.yaml
  config/install.yaml
  config/install_debug.yaml
  config/k8s-resource/configmap.yaml
  config/manifest/deployment.yaml
Labels: milestone 1.6.0

#3169 Add a kyverno jp command to test jmespath expressions
  pkg/engine/jmespath/functions.go
  pkg/engine/jmespath/new.go
  pkg/kyverno/jp/jp_command.go
  pkg/kyverno/main.go
Labels: enhancement, milestone 1.6.1

#3179 Indentation fix
  pkg/kyverno/test/test_command.go
Labels: milestone 1.7.0

#3201 Allow setting validationFailureActionOverrides for policies
  charts/kyverno-policies/README.md
  charts/kyverno-policies/ci/test-values.yaml
  charts/kyverno-policies/templates/baseline/disallow-capabilities.yaml
  charts/kyverno-policies/templates/baseline/disallow-host-namespaces.yaml
  charts/kyverno-policies/templates/baseline/disallow-host-path.yaml
  charts/kyverno-policies/templates/baseline/disallow-host-ports.yaml
  charts/kyverno-policies/templates/baseline/disallow-host-process.yaml
  charts/kyverno-policies/templates/baseline/disallow-privileged-containers.yaml
  charts/kyverno-policies/templates/baseline/disallow-proc-mount.yaml
  charts/kyverno-policies/templates/baseline/disallow-selinux.yaml
  charts/kyverno-policies/templates/baseline/restrict-apparmor-profiles.yaml
  charts/kyverno-policies/templates/baseline/restrict-seccomp.yaml
  charts/kyverno-policies/templates/baseline/restrict-sysctls.yaml
  charts/kyverno-policies/templates/other/require-non-root-groups.yaml
  charts/kyverno-policies/templates/restricted/disallow-capabilities-strict.yaml
  charts/kyverno-policies/templates/restricted/disallow-privilege-escalation.yaml
  charts/kyverno-policies/templates/restricted/require-run-as-non-root-user.yaml
  charts/kyverno-policies/templates/restricted/require-run-as-nonroot.yaml
  charts/kyverno-policies/templates/restricted/restrict-seccomp-strict.yaml
  charts/kyverno-policies/templates/restricted/restrict-volume-types.yaml
  charts/kyverno-policies/values.yaml
Labels: milestone 1.6.1

#2966 Added e2e test for JSON patch mutate policy
  test/e2e/mutate/config.go
  test/e2e/mutate/resources.go
Labels: milestone 1.7.0

#3213 Issue forms and PR template adjustment
  .github/ISSUE_TEMPLATE/bug-cli.yaml
  .github/ISSUE_TEMPLATE/bug-webhook.yaml
  .github/ISSUE_TEMPLATE/bug_report.md
  .github/ISSUE_TEMPLATE/config.yml
  .github/ISSUE_TEMPLATE/feature.yaml
  .github/ISSUE_TEMPLATE/feature_request.md
  .github/ISSUE_TEMPLATE/sample-policy.md
  .github/PULL_REQUEST_TEMPLATE.md
  .github/pr_documentation.md
Labels: Documentation

#3221 update dependencies
  go.mod
  go.sum
Labels: milestone 1.6.1

#3219 Fix keyless attest
  pkg/cosign/cosign.go
  pkg/engine/imageVerify.go
  pkg/kyverno/test/test_command.go
Labels: milestone 1.6.1

#3207 feat: ha mode support in helm chart
  charts/kyverno/README.md
  charts/kyverno/templates/_helpers.tpl
  charts/kyverno/templates/deployment.yaml
  charts/kyverno/values.yaml
Labels: milestone 1.6.1

#3240 Add aggregated role for generaterequest
  charts/kyverno/templates/aggregateroles.yaml
  charts/kyverno/templates/crds.yaml
  config/install.yaml
  config/install_debug.yaml
  config/k8s-resource/aggregateroles.yaml
  config/release/install.yaml
Labels: milestone 1.7.0

#3237 Skip updating webhook configs if namespaceSelector is nil
  pkg/webhookconfig/registration.go
Labels: milestone 1.6.1

#3243 Cherry-pick #3237 to 1.6.1
  pkg/webhookconfig/registration.go
Labels: milestone 1.6.1

#3229 Bug fix: negation of string kernel version caused Cluster Policy to fail
  pkg/engine/common/pattern.go
  pkg/engine/common/pattern_test.go
  test/cli/test/node-status/check_node_for_cve_2022_0185.yaml
  test/cli/test/node-status/kyverno-test.yaml
  test/cli/test/node-status/resource.yaml
  test/policy/validate/check_node_for_cve_2022_0185.yaml
Labels: milestone 1.6.1

#3248 Fix old object validation check
  pkg/engine/context/context.go
  pkg/engine/validation.go
  pkg/engine/validation_test.go
Labels: security, milestone 1.6.1

#3252 cherry-pick: Fix old object validation check (#3248)
  pkg/engine/context/context.go
  pkg/engine/validation.go
  pkg/engine/validation_test.go
Labels: milestone 1.6.1

#3228 Fix foreach validations precondition issue
  pkg/engine/variables/operator/notequal.go
  test/cli/test/foreach-preconditions/kyverno-test.yaml
  test/cli/test/foreach-preconditions/policies.yaml
  test/cli/test/foreach-preconditions/resources.yaml
Labels: milestone 1.6.1

#3193 fix mutate wildcard issue
  pkg/webhooks/mutation.go
  test/cli/test/wildcard_mutate/kyverno-test.yaml
  test/cli/test/wildcard_mutate/patchedResource.yaml
  test/cli/test/wildcard_mutate/patchedResource1.yaml
  test/cli/test/wildcard_mutate/policy.yaml
  test/cli/test/wildcard_mutate/resources.yaml
  test/policy.yaml
  test/resources.yaml
Labels: milestone 1.6.1

#3255 Add .DS_store to gitignore
  .gitignore
Labels: milestone 1.7.0

#3268 Fix Helm releasing to preserve creation timestamps
  .github/workflows/helm-release.yaml
Labels: milestone 1.6.1

#3274 Modify capabilities for compatibility with Pod Security
  charts/kyverno/templates/deployment.yaml
  config/install.yaml
  config/manifest/deployment.yaml
  config/release/install.yaml
Labels: milestone 1.6.1

#3277 feat: add `linux/s390x` builds
  .goreleaser.yml
  .krew.yaml
  Makefile
Labels: milestone 1.7.0

#3284 update trivy scanning step in GH_workflows
  .github/workflows/image-build.yaml
  .github/workflows/reuse.yaml
Labels: milestone 1.6.1

#3171 Cherry-pick #3170
  charts/kyverno/README.md
  charts/kyverno/values.yaml
  config/install.yaml
  config/install_debug.yaml
  config/k8s-resource/configmap.yaml
  config/manifest/deployment.yaml
Labels: milestone 1.6.1

#3289 Shallow clone git repositories for kyverno test command
  pkg/kyverno/test/git.go
Labels: milestone 1.6.1

#3285 `latest` tag pointing to main
  .github/workflows/image.yaml
  .github/workflows/reuse.yaml
  Makefile
Labels: milestone 1.6.1, cherry-pick-required

#3256 Run E2E tests on all supported k8s versions
  .github/workflows/e2e.yaml
  Makefile
  scripts/create-e2e-infrastruture.sh
  test/e2e/common/common.go
  test/e2e/mutate/config.go
  test/e2e/mutate/mutate_test.go
  test/e2e/mutate/resources.go
Labels: milestone 1.6.1

#3283 validate and block policy based on the matched kind cache
  go.mod
  go.sum
  pkg/policy/validate.go
  pkg/policy/validate_test.go
Labels: milestone 1.6.1, cherry-pick-required

#3297 Improve CLI test times by instantiating openapi controller once
  .github/workflows/cli.yaml
  Makefile
  pkg/kyverno/test/test_command.go
Labels: milestone 1.6.1

#3299 feat: support background mode configuration in kyverno-policies chart
  charts/kyverno-policies/templates/baseline/disallow-capabilities.yaml
  charts/kyverno-policies/templates/baseline/disallow-host-namespaces.yaml
  charts/kyverno-policies/templates/baseline/disallow-host-path.yaml
  charts/kyverno-policies/templates/baseline/disallow-host-ports.yaml
  charts/kyverno-policies/templates/baseline/disallow-host-process.yaml
  charts/kyverno-policies/templates/baseline/disallow-privileged-containers.yaml
  charts/kyverno-policies/templates/baseline/disallow-proc-mount.yaml
  charts/kyverno-policies/templates/baseline/disallow-selinux.yaml
  charts/kyverno-policies/templates/baseline/restrict-apparmor-profiles.yaml
  charts/kyverno-policies/templates/baseline/restrict-seccomp.yaml
  charts/kyverno-policies/templates/baseline/restrict-sysctls.yaml
  charts/kyverno-policies/templates/other/require-non-root-groups.yaml
  charts/kyverno-policies/templates/restricted/disallow-capabilities-strict.yaml
  charts/kyverno-policies/templates/restricted/disallow-privilege-escalation.yaml
  charts/kyverno-policies/templates/restricted/require-run-as-non-root-user.yaml
  charts/kyverno-policies/templates/restricted/require-run-as-nonroot.yaml
  charts/kyverno-policies/templates/restricted/restrict-seccomp-strict.yaml
  charts/kyverno-policies/templates/restricted/restrict-volume-types.yaml
  charts/kyverno-policies/values.yaml
Labels: milestone 1.7.0

#3303 [release-1.6]: updated image and releaser GH_workflows
  .github/workflows/image.yaml
  .github/workflows/release.yaml
  .github/workflows/reuse.yaml
Labels: milestone 1.6.1

#3302 fix: helm chart broken when use generatecontrollerExtraResources
  charts/kyverno/templates/clusterrole.yaml
Labels: milestone 1.6.1, cherry-pick-required

#3293 fixing release workflow
  .github/workflows/release.yaml
Labels: milestone 1.7.0

#3306 Fix workflow using regex in `main`
  .github/workflows/reuse.yaml
Labels: milestone 1.7.0

#3309 feat: gen kyverno helm chart docs
  charts/kyverno/Chart.yaml
  charts/kyverno/README.md
  charts/kyverno/README.md.gotmpl
  charts/kyverno/values.yaml
Labels: milestone 1.7.0
