Repository kyverno/kyverno, pull requests merged in 2022-04, with the labels that each got.

#3524 refactor: add a json patch util
  pkg/autogen/autogen.go
  pkg/autogen/autogen_test.go
  pkg/engine/utils/utils.go
  pkg/generate/status.go
  pkg/generate/util.go
  pkg/kyverno/common/common.go
  pkg/policy/apply.go
  pkg/policymutation/policymutation.go
  pkg/utils/json/patch.go
  pkg/utils/json/utils.go
  pkg/webhooks/annotations.go
  pkg/webhooks/annotations_test.go
  pkg/webhooks/mutation.go
  pkg/webhooks/verify_images.go
Labels: milestone 1.7.0

#3528 refactor: add os utils sub package
  cmd/initContainer/main.go
  pkg/config/config.go
  pkg/config/metricsconfig.go
  pkg/utils/os/env.go
Labels: milestone 1.7.0

#3527 refactor: separate kube utils package
  pkg/autogen/rule.go
  pkg/autogen/utils.go
  pkg/common/common.go
  pkg/openapi/validation.go
  pkg/policy/existing.go
  pkg/policy/validate.go
  pkg/policycache/policy_cache.go
  pkg/policycache/policy_map.go
  pkg/policymutation/policymutation.go
  pkg/resourcecache/resourcecache.go
  pkg/utils/kube/kind.go
  pkg/utils/util.go
  pkg/webhookconfig/configmanager.go
Labels: milestone 1.7.0

#3520 refactor: separate yaml utils package
  pkg/kyverno/common/fetch.go
  pkg/utils/loadpolicy.go
  pkg/utils/yaml/utils.go
Labels: milestone 1.7.0

#3539 refactor: move some helpers in utils package
  api/kyverno/v1/resource_description_types.go
  api/kyverno/v1/utils.go
  api/kyverno/v1/violated_rule_types.go
  pkg/engine/wildcards/wildcards.go
  pkg/policy/common.go
  pkg/utils/kube/wildcard.go
  pkg/utils/string/wildcard.go
Labels: milestone 1.7.0

#3544 refactor: use BackgroundProcessingEnabled method
  Makefile
  pkg/metrics/parsers.go
  pkg/metrics/policychanges/policyChanges.go
  pkg/metrics/policyexecutionduration/policyExecutionDuration.go
  pkg/metrics/policyresults/policyResults.go
  pkg/metrics/policyruleinfo/policyRuleInfo.go
  pkg/policy/metrics.go
  pkg/policy/validate.go
Labels: milestone 1.7.0

#3545 refactor: use GetFailurePolicy method
  api/kyverno/v1/spec_types.go
  pkg/webhookconfig/configmanager.go
Labels: milestone 1.7.0

#3547 fix: annotation path
  pkg/webhooks/annotations.go
Labels: milestone 1.7.0

#3550 refactor: reduce policy mutations
  pkg/policymutation/policymutation.go
Labels: milestone 1.7.0

#3487 Do not generate preconditions not met warning for audit policies
  .github/PULL_REQUEST_TEMPLATE.md
  pkg/engine/validation.go
Labels: milestone 1.7.0

#3551 refactor: checkEngineResponse in webhooks
  pkg/engine/response/response.go
  pkg/webhooks/common.go
Labels: milestone 1.7.0

#3552 refactor: add engine utils sub package
  pkg/utils/admission/utils.go
  pkg/utils/engine/response.go
  pkg/webhooks/common.go
  pkg/webhooks/mutation.go
  pkg/webhooks/validation.go
  pkg/webhooks/verify_images.go
Labels: milestone 1.7.0

#3553 refactor: move common utils
  pkg/cosign/cosign.go
  pkg/engine/common/utils.go
  pkg/engine/common/utils_test.go
  pkg/engine/jsonutils/traverse.go
  pkg/engine/mutate/mutation.go
  pkg/engine/validation.go
  pkg/utils/util.go
  pkg/utils/util_test.go
Labels: milestone 1.7.0

#3481 chore: run go vet in CI
  .github/workflows/tests.yaml
  pkg/engine/mutate/mutation_test.go
Labels: milestone 1.7.0

#3548 refactor: webhooks metrics reporting
  pkg/metrics/admissionrequests/parsers.go
  pkg/metrics/admissionreviewduration/parsers.go
  pkg/metrics/parsers.go
  pkg/metrics/policyexecutionduration/parsers.go
  pkg/metrics/policyresults/parsers.go
  pkg/webhooks/common.go
  pkg/webhooks/generation.go
  pkg/webhooks/metrics.go
  pkg/webhooks/mutation.go
  pkg/webhooks/validation.go
Labels: milestone 1.7.0

#3549 refactor: metrics package
  api/kyverno/v1/policy_interface.go
  pkg/metrics/admissionrequests/admissionRequests.go
  pkg/metrics/admissionrequests/parsers.go
  pkg/metrics/admissionrequests/types.go
  pkg/metrics/admissionreviewduration/admissionReviewDuration.go
  pkg/metrics/admissionreviewduration/parsers.go
  pkg/metrics/admissionreviewduration/types.go
  pkg/metrics/parsers.go
  pkg/metrics/policychanges/parsers.go
  pkg/metrics/policychanges/policyChanges.go
  pkg/metrics/policychanges/types.go
  pkg/metrics/policyexecutionduration/parsers.go
  pkg/metrics/policyexecutionduration/policyExecutionDuration.go
  pkg/metrics/policyexecutionduration/types.go
  pkg/metrics/policyresults/parsers.go
  pkg/metrics/policyresults/policyResults.go
  pkg/metrics/policyresults/types.go
  pkg/metrics/policyruleinfo/parsers.go
  pkg/metrics/policyruleinfo/policyRuleInfo.go
  pkg/metrics/policyruleinfo/types.go
  pkg/policy/existing.go
  pkg/policy/metrics.go
  pkg/webhooks/metrics.go
Labels: milestone 1.7.0

#3556 refactor: make response type (RuleType) typed
  pkg/engine/common/common.go
  pkg/engine/common/utils.go
  pkg/engine/imageVerify.go
  pkg/engine/mutate/mutation.go
  pkg/engine/mutate/mutation_test.go
  pkg/engine/mutate/patch/patchJSON6902.go
  pkg/engine/mutate/patch/patches.go
  pkg/engine/mutate/patch/strategicMergePatch.go
  pkg/engine/mutation.go
  pkg/engine/response/response.go
  pkg/engine/utils.go
  pkg/engine/utils/utils.go
  pkg/engine/validation.go
  pkg/kyverno/apply/report.go
  pkg/kyverno/common/common.go
  pkg/kyverno/test/test_command.go
  pkg/policyreport/builder.go
Labels: milestone 1.7.0

#3526 refactor: switch to admission v1
  api/kyverno/v1/generaterequest_types.go
  docs/crd/v1/index.html
  pkg/engine/context/context.go
  pkg/engine/context/evaluate_test.go
  pkg/engine/validation_test.go
  pkg/generate/generate.go
  pkg/generate/generate_controller.go
  pkg/policy/validate.go
  pkg/userinfo/roleRef.go
  pkg/utils/admission/utils.go
  pkg/utils/util.go
  pkg/webhooks/common.go
  pkg/webhooks/generate/generate.go
  pkg/webhooks/generation.go
  pkg/webhooks/handlers.go
  pkg/webhooks/handlers/admission.go
  pkg/webhooks/mutation.go
  pkg/webhooks/server.go
  pkg/webhooks/validate_audit.go
  pkg/webhooks/validation.go
  pkg/webhooks/verify_images.go
Labels: milestone 1.7.0

#3558 Fixes #3555
  pkg/policy/validate/validate.go
Labels: milestone 1.7.0

#3563 refactor: engine context
  pkg/engine/context/context.go
  pkg/engine/context/context_test.go
  pkg/engine/context/evaluate.go
  pkg/engine/context/evaluate_test.go
  pkg/engine/context/imageutils.go
  pkg/engine/context/imageutils_test.go
  pkg/engine/context/utils.go
  pkg/engine/forceMutate.go
  pkg/engine/forceMutate_test.go
  pkg/engine/imageVerify.go
  pkg/engine/imageVerify_test.go
  pkg/engine/jsonContext.go
  pkg/engine/mutate/mutation.go
  pkg/engine/mutation.go
  pkg/engine/mutation_test.go
  pkg/engine/policyContext.go
  pkg/engine/validation.go
  pkg/engine/validation_test.go
  pkg/engine/variables/evaluate_test.go
  pkg/engine/variables/variables_test.go
  pkg/engine/variables/vars.go
  pkg/engine/variables/vars_test.go
  pkg/generate/generate.go
  pkg/kyverno/common/common.go
  pkg/policy/apply.go
  pkg/webhooks/common.go
  pkg/webhooks/generation.go
  pkg/webhooks/handlers.go
  pkg/webhooks/server.go
  pkg/webhooks/validate_audit.go
Labels: milestone 1.7.0

#3188 add support for roles, cluster roles and subjects
  pkg/kyverno/apply/apply_command.go
  pkg/kyverno/apply/apply_command_test.go
  pkg/kyverno/common/common.go
  pkg/kyverno/common/common_test.go
  pkg/kyverno/test/test_command.go
  test/cli/test/admission_user_info/disallow_latest_tag.yaml
  test/cli/test/admission_user_info/kyverno-test.yaml
  test/cli/test/admission_user_info/resource.yaml
  test/cli/test/admission_user_info/user_info.yaml
Labels: milestone 1.7.0

#3588 Update GH workflow config
  .github/workflows/codecov.yaml
  .github/workflows/e2e.yaml
Labels: milestone 1.7.0

#3587 Update to cosign 1.7.1
  go.mod
  go.sum
Labels: milestone 1.7.0

#3589 refactor generate controller
  cmd/kyverno/main.go
  pkg/background/common/errors.go
  pkg/background/common/labels.go
  pkg/background/common/status.go
  pkg/background/common/util.go
  pkg/background/generate/cleanup/cleanup.go
  pkg/background/generate/cleanup/controller.go
  pkg/background/generate/cleanup/resource.go
  pkg/background/generate/generate.go
  pkg/background/generate/report.go
  pkg/background/generate/resource.go
  pkg/background/generate/validate.go
  pkg/background/generate/validate_test.go
  pkg/background/request_process.go
  pkg/background/update_request_controller.go
  pkg/kyverno/test/test_command.go
  pkg/webhooks/generation.go
  pkg/webhooks/server.go
Labels: milestone 1.7.0

#3599 fix missing `policy.kyverno.io/policy-name` label
  pkg/background/generate/generate.go
  pkg/background/request_process.go
Labels: milestone 1.7.0

#3591 refactor cli code from pkg to cmd
  .gitignore
  cmd/cli/kubectl-kyverno/apply/apply_command.go
  cmd/cli/kubectl-kyverno/apply/apply_command_test.go
  cmd/cli/kubectl-kyverno/apply/generate.go
  cmd/cli/kubectl-kyverno/apply/generate_test.go
  cmd/cli/kubectl-kyverno/apply/report.go
  cmd/cli/kubectl-kyverno/apply/report_test.go
  cmd/cli/kubectl-kyverno/jp/jp_command.go
  cmd/cli/kubectl-kyverno/main.go
  cmd/cli/kubectl-kyverno/test/git.go
  cmd/cli/kubectl-kyverno/test/test_command.go
  cmd/cli/kubectl-kyverno/utils/common/common.go
  cmd/cli/kubectl-kyverno/utils/common/common_test.go
  cmd/cli/kubectl-kyverno/utils/common/fetch.go
  cmd/cli/kubectl-kyverno/utils/common/regex.go
  cmd/cli/kubectl-kyverno/utils/crds/policy_crd.go
  cmd/cli/kubectl-kyverno/utils/sanitizedError/error.go
  cmd/cli/kubectl-kyverno/utils/store/store.go
  cmd/cli/kubectl-kyverno/validate/command.go
  cmd/cli/kubectl-kyverno/validate/commmand_test.go
  cmd/cli/kubectl-kyverno/version/command.go
  pkg/engine/jsonContext.go
  pkg/engine/mutation_test.go
  pkg/engine/validation_test.go
  pkg/kyverno/main.go
  pkg/policy/policy_controller.go
  pkg/policy/validate.go
Labels: milestone 1.7.0

#3618 updating version in Chart.yaml
  charts/kyverno-policies/Chart.yaml
  charts/kyverno-policies/README.md
  charts/kyverno/Chart.yaml
  charts/kyverno/README.md
  config/release/install.yaml
Labels: milestone 1.7.0

#3638 refact: remove unused Run function from generate
  cmd/kyverno/main.go
  pkg/webhooks/generate/generate.go
Labels: milestone 1.7.0

#3554 refactor: use the typed namespace informer in GenerateRequest controller
  cmd/kyverno/main.go
  pkg/background/generate/cleanup/controller.go
  pkg/background/generate/generate.go
  pkg/background/request_process.go
  pkg/background/update_request_controller.go
  pkg/webhooks/generation.go
Labels: milestone 1.7.0

#3649 chore: add artifacthub operator and prerelease annotations
  charts/kyverno-policies/Chart.yaml
  charts/kyverno/Chart.yaml
Labels: milestone 1.7.0

#3641 fix: do not remove webhooks during initialization
  pkg/webhookconfig/registration.go
Labels: milestone 1.7.0

#3636 Multiple keys
  api/kyverno/v1/image_verification_test.go
  api/kyverno/v1/image_verification_types.go
  api/kyverno/v1/zz_generated.deepcopy.go
  charts/kyverno/templates/crds.yaml
  config/crds/kyverno.io_clusterpolicies.yaml
  config/crds/kyverno.io_policies.yaml
  config/install.yaml
  config/install_debug.yaml
  docs/crd/v1/index.html
  pkg/cosign/cosign.go
  pkg/engine/imageVerify.go
  pkg/engine/imageVerify_test.go
  pkg/policy/validate.go
  pkg/registryclient/client.go
Labels: milestone 1.7.0

#3659 fix: policy controller missing GVK
  pkg/policy/policy_controller.go
Labels: milestone 1.7.0

#3640 fix: add char length validation for generate rule resource name
  api/kyverno/v1/common_types.go
  charts/kyverno/templates/crds.yaml
  config/crds/kyverno.io_clusterpolicies.yaml
  config/crds/kyverno.io_generaterequests.yaml
  config/crds/kyverno.io_policies.yaml
  config/crds/kyverno.io_updaterequests.yaml
  config/install.yaml
  config/install_debug.yaml
  docs/crd/v1/index.html
Labels: milestone 1.7.0

#3658 Allow definition of inline variables in context
  api/kyverno/v1/common_types.go
  api/kyverno/v1/zz_generated.deepcopy.go
  charts/kyverno/templates/crds.yaml
  config/crds/kyverno.io_clusterpolicies.yaml
  config/crds/kyverno.io_policies.yaml
  config/install.yaml
  config/install_debug.yaml
  docs/crd/v1/index.html
  pkg/engine/context/context.go
  pkg/engine/jsonContext.go
  pkg/policy/validate.go
  test/cli/test/context-entries/kyverno-test.yaml
  test/cli/test/context-entries/policies.yaml
  test/cli/test/context-entries/resources.yaml
Labels: milestone 1.7.0

#3657 Add DELETE precondition back
  charts/kyverno-policies/Chart.yaml
  charts/kyverno-policies/README.md
  charts/kyverno-policies/ci/test-preconditions-values.yaml
  charts/kyverno-policies/templates/restricted/disallow-capabilities-strict.yaml
  charts/kyverno-policies/values.yaml
Labels: milestone 1.6.2

#3671 Bump to Go 1.17.9
  cmd/cli/kubectl-kyverno/Dockerfile
  cmd/initContainer/Dockerfile
  cmd/kyverno/Dockerfile
Labels: milestone 1.7.0

#3674 remove Validate Cmd
  cmd/cli/kubectl-kyverno/main.go
  cmd/cli/kubectl-kyverno/utils/common/common.go
  cmd/cli/kubectl-kyverno/utils/crds/policy_crd.go
  cmd/cli/kubectl-kyverno/validate/command.go
  cmd/cli/kubectl-kyverno/validate/commmand_test.go
Labels: milestone 1.7.0

#3677 bug: fix nil pointer when generating events
  pkg/background/common/report.go
  pkg/background/generate/generate.go
  pkg/background/mutate/mutate.go
Labels: milestone 1.7.0

#3646 Fix issue pod should not be ready until the policy cache loaded
  cmd/cli/kubectl-kyverno/utils/common/common.go
  cmd/kyverno/main.go
  pkg/policycache/informer.go
  pkg/policycache/policy_map.go
  pkg/webhooks/server.go
Labels: milestone 1.7.0

#3680 feat: remove deprecated flags
  CHANGELOG.md
  cmd/kyverno/main.go
Labels: milestone 1.7.0

#3686 Fix regression in wildcard matches in In/AnyIn operators
  pkg/engine/variables/operator/anyin.go
  pkg/engine/variables/operator/in.go
  test/cli/test/context-entries/kyverno-test.yaml
  test/cli/test/context-entries/policies.yaml
Labels: milestone 1.7.0

#3673 Show warnings in Helm chart installation; update issue templates
  .github/ISSUE_TEMPLATE/bug-cli.yaml
  .github/ISSUE_TEMPLATE/bug-other.yaml
  .github/ISSUE_TEMPLATE/bug-webhook.yaml
  charts/kyverno/templates/NOTES.txt
  charts/kyverno/values.yaml
Labels: helm

#3689 Cherry-pick release-1.6 Helm changes
  .github/workflows/helm-release.yaml
  charts/kyverno-policies/Chart.yaml
  charts/kyverno-policies/README.md
  charts/kyverno-policies/README.md.gotmpl
  charts/kyverno-policies/ci/test-preconditions-values.yaml
  charts/kyverno-policies/templates/restricted/disallow-capabilities-strict.yaml
  charts/kyverno-policies/values.yaml
Labels: milestone 1.7.0

#3684 Enable verifyImages and CLI registry tests
  test/e2e/verifyimages/config.go
  test/e2e/verifyimages/resources.go
  test/e2e/verifyimages/verifyimages_test.go
Labels: milestone 1.7.0

#3692 Fix test command git issue
  cmd/cli/kubectl-kyverno/test/test_command.go
Labels: milestone 1.7.0

#3698 fix: kind wash in mutate policy helper
  api/kyverno/v1/policy_test.go
  api/kyverno/v1/policy_types.go
  cmd/cli/kubectl-kyverno/utils/common/common.go
Labels: milestone 1.7.0

#3679 Verify digest
  api/kyverno/v1/image_verification_types.go
  api/kyverno/v1/rule_test.go
  api/kyverno/v1/rule_types.go
  api/kyverno/v1/spec_types.go
  api/kyverno/v1/zz_generated.deepcopy.go
  charts/kyverno/templates/crds.yaml
  cmd/cli/kubectl-kyverno/test/test_command.go
  cmd/cli/kubectl-kyverno/utils/common/common.go
  config/crds/kyverno.io_clusterpolicies.yaml
  config/crds/kyverno.io_policies.yaml
  config/install.yaml
  config/install_debug.yaml
  docs/crd/v1/index.html
  pkg/engine/imageVerify.go
  pkg/engine/imageVerifyValidate.go
  pkg/engine/imageVerify_test.go
  pkg/engine/response/response.go
  pkg/engine/validation.go
  pkg/policycache/policy_cache.go
  pkg/policycache/policy_map.go
  pkg/policycache/type.go
  pkg/webhookconfig/configmanager.go
  pkg/webhooks/handlers.go
  test/cli/test/images/digest/kyverno-test.yaml
  test/cli/test/images/digest/policies.yaml
  test/cli/test/images/digest/resources.yaml
  test/cli/test/images/signatures/kyverno-test.yaml
  test/cli/test/images/signatures/policies.yaml
  test/cli/test/images/signatures/resources.yaml
Labels: milestone 1.7.0

#3703 Add e2e tests for mutate existing policies
  config/github/rbac.yaml
  test/e2e/mutate/config.go
  test/e2e/mutate/mutate_test.go
  test/e2e/mutate/resources.go
Labels: milestone 1.7.0

#3704 refactor: remove some api unnecessary pointers
  api/kyverno/v1/common_types.go
  api/kyverno/v1/zz_generated.deepcopy.go
  docs/crd/v1/index.html
  pkg/autogen/rule.go
  pkg/engine/mutate/mutation.go
  pkg/engine/mutation.go
  pkg/engine/validation.go
  pkg/policy/validate/validate.go
Labels: milestone 1.7.0

#3706 fix: remove unused type TargetMutation
  api/kyverno/v1/common_types.go
  api/kyverno/v1/zz_generated.deepcopy.go
  charts/kyverno/templates/crds.yaml
  config/crds/kyverno.io_clusterpolicies.yaml
  config/crds/kyverno.io_policies.yaml
  config/install.yaml
  config/install_debug.yaml
  docs/crd/v1/index.html
  pkg/engine/loadtargets.go
Labels: milestone 1.7.0

#3705 refactor: remove some api unnecessary pointers (2)
  api/kyverno/v1alpha2/clusterreportchangerequest_types.go
  api/kyverno/v1alpha2/reportchangerequest_types.go
  api/kyverno/v1alpha2/zz_generated.deepcopy.go
  api/policyreport/v1alpha2/clusterpolicyreport_types.go
  api/policyreport/v1alpha2/policyreport_types.go
  api/policyreport/v1alpha2/zz_generated.deepcopy.go
  cmd/cli/kubectl-kyverno/apply/report.go
  cmd/cli/kubectl-kyverno/apply/report_test.go
  cmd/cli/kubectl-kyverno/test/test_command.go
  docs/crd/v1alpha2/index.html
  pkg/policy/report.go
  pkg/policyreport/builder.go
  pkg/policyreport/reportcontroller.go
Labels: milestone 1.7.0

#3710 Create events for ImageVerify rules
  pkg/openapi/crdSync.go
  pkg/webhooks/common.go
  pkg/webhooks/mutation.go
  pkg/webhooks/report.go
  pkg/webhooks/validation.go
  pkg/webhooks/verify_images.go
Labels: milestone 1.7.0

#3712 Optimize UR listing on policy events
  api/kyverno/v1beta1/constants.go
  pkg/background/generate/cleanup/controller.go
  pkg/background/generate/generate.go
  pkg/compatibility/add_labels.go
  pkg/policy/policy_controller.go
  pkg/webhooks/generate/generate.go
  pkg/webhooks/generation.go
  pkg/webhooks/updaterequest/generator.go
Labels: milestone 1.7.0

#3707 refactor: remove some api unnecessary pointers (3)
  Makefile
  api/kyverno/v1/image_verification_test.go
  api/kyverno/v1/image_verification_types.go
  api/kyverno/v1/zz_generated.deepcopy.go
  docs/crd/v1/index.html
  pkg/engine/imageVerify.go
  pkg/engine/imageVerify_test.go
  pkg/engine/variables/evaluate.go
  pkg/engine/variables/vars.go
Labels: milestone 1.7.0

#3717 Create UR for both mutate and generate policies
  api/kyverno/v1/common_types.go
  api/kyverno/v1beta1/constants.go
  charts/kyverno/templates/crds.yaml
  config/crds/kyverno.io_clusterpolicies.yaml
  config/crds/kyverno.io_generaterequests.yaml
  config/crds/kyverno.io_policies.yaml
  config/crds/kyverno.io_updaterequests.yaml
  config/install.yaml
  config/install_debug.yaml
  docs/crd/v1/index.html
  pkg/policy/policy_controller.go
  pkg/policy/updaterequest.go
  test/e2e/generate/generate_test.go
Labels: milestone 1.7.0

#3713 refactor: remove some api unnecessary pointers (4)
  api/kyverno/v1/rule_types.go
  api/kyverno/v1/zz_generated.deepcopy.go
  docs/crd/v1/index.html
  pkg/autogen/rule.go
  pkg/cosign/cosign.go
  pkg/engine/imageVerify.go
  pkg/engine/imageVerify_test.go
Labels: milestone 1.7.0

#3730 Convert GenerateRequest to UpdateRequest for backward compatibility
  api/kyverno/v1beta1/updaterequest_types.go
  charts/kyverno/templates/crds.yaml
  cmd/initContainer/main.go
  cmd/kyverno/main.go
  config/crds/kyverno.io_updaterequests.yaml
  config/install.yaml
  config/install_debug.yaml
  docs/crd/v1beta1/index.html
  pkg/background/common/status.go
  pkg/background/common/util.go
  pkg/background/generate/cleanup/cleanup.go
  pkg/background/generate/cleanup/controller.go
  pkg/background/generate/generate.go
  pkg/background/request_process.go
  pkg/background/update_request_controller.go
  pkg/compatibility/add_labels.go
  pkg/policy/policy_controller.go
  pkg/webhookconfig/registration.go
  pkg/webhooks/generate/generate.go
  pkg/webhooks/generation.go
  pkg/webhooks/server.go
  pkg/webhooks/updaterequest.go
  pkg/webhooks/updaterequest/generator.go
  test/e2e/mutate/mutate_test.go
Labels: milestone 1.7.0
