Repository kyverno/kyverno, pull requests merged in 2022-10, with the labels that each got.

#4775 fix: parse flags error handling
  cmd/kyverno/main.go
Labels: cherry-pick-required, milestone 1.8.1

#4768 chore: change charts registry url
  .github/workflows/helm-release.yaml
  .gitignore
Labels: cherry-pick-required, milestone 1.8.0

#4781 update cosign and k8s-manifest-sigstore
  go.mod
  go.sum
Labels: cherry-pick-required, milestone 1.8.1, milestone 1.7.5

#4776 fix: add workers to the controller interface
  cmd/kyverno/controller.go
  cmd/kyverno/main.go
  pkg/controllers/certmanager/controller.go
  pkg/controllers/config/controller.go
  pkg/controllers/controller.go
  pkg/controllers/policycache/controller.go
  pkg/controllers/report/admission/controller.go
  pkg/controllers/report/aggregate/controller.go
  pkg/controllers/report/background/controller.go
  pkg/controllers/report/resource/controller.go
Labels: cherry-pick-required, milestone 1.8.1

#4773 Fix: Typo in x509_decode JMESPath function's note
  pkg/engine/jmespath/functions.go
Labels: cherry-pick-required, milestone 1.8.1

#4764 refactor: more context less chans
  cmd/kyverno/informer.go
  cmd/kyverno/main.go
  pkg/background/update_request_controller.go
  pkg/event/controller.go
  pkg/policy/policy_controller.go
  pkg/policy/report.go
  pkg/webhookconfig/configmanager.go
  pkg/webhookconfig/monitor.go
  pkg/webhookconfig/registration.go
Labels: cherry-pick-required, milestone 1.8.1

#4779 fix: remove reference to controller runtime log
  pkg/policy/validate.go
Labels: cherry-pick-required, milestone 1.8.1

#4749 refactor: introduce webhook controller
  cmd/kyverno/main.go
  pkg/controllers/certmanager/controller.go
  pkg/controllers/webhook/controller.go
  pkg/controllers/webhook/log.go
  pkg/utils/controller/utils.go
  pkg/webhookconfig/registration.go
Labels: cherry-pick-required, milestone 1.8.1

#4790 chore: bump a few deps
  go.mod
  go.sum
Labels: cherry-pick-required, milestone 1.8.1

#4789 fix: new cert manager controller never returns error
  cmd/kyverno/main.go
  pkg/controllers/certmanager/controller.go
Labels: cherry-pick-required, milestone 1.8.1

#4712 Add security context and resource block to test
  charts/kyverno/Chart.yaml
  charts/kyverno/README.md
  charts/kyverno/templates/_helpers.tpl
  charts/kyverno/templates/tests/test.yaml
  charts/kyverno/values.yaml
  cmd/kyverno/main.go
Labels: cherry-pick-required, milestone 1.8.1

#4791 fix: remove explicit wait for cache sync
  pkg/controllers/certmanager/controller.go
  pkg/controllers/config/controller.go
  pkg/controllers/policycache/controller.go
Labels: cherry-pick-required, milestone 1.8.1

#4738 fix: publish yaml manifests in release instead of repo
  .github/workflows/release.yaml
  .gitignore
  Makefile
  charts/kyverno/templates/crds.yaml
  config/kustomization.yaml
  config/labels.yaml
  config/release/install.yaml
  config/templates/kustomization.yaml.envsubst
  config/templates/labels.yaml.envsubst
Labels: cherry-pick-required, milestone 1.8.0

#4793 fix: logger panic
  Makefile
  pkg/utils/controller/run.go
Labels: cherry-pick-required, milestone 1.8.0

#4795 refactor: split main into funcs
  cmd/kyverno/main.go
Labels: cherry-pick-required, milestone 1.8.1

#4802 chore: bump a couple of deps
  go.mod
  go.sum
Labels: cherry-pick-required, milestone 1.8.1

#4794 fix: remove error prone debug field
  cmd/kyverno/main.go
  pkg/webhookconfig/registration.go
Labels: cherry-pick-required, milestone 1.8.1

#4796 refactor: split main func for metrics
  cmd/kyverno/main.go
Labels: cherry-pick-required, milestone 1.8.1

#4786 fix: subject and issuer validation when attestations are present
  pkg/cosign/cosign.go
Labels: cherry-pick-required, milestone 1.8.0

#4804 Skip succeed rules when building the blocked return message
  pkg/webhooks/utils/block.go
Labels: cherry-pick-required, milestone 1.8.0

#4812 feat: add context funcs to logging package
  cmd/initContainer/main.go
  cmd/kyverno/main.go
  pkg/logging/log.go
Labels: cherry-pick-required, milestone 1.8.1

#4811 feat: add context support to leader election
  cmd/initContainer/main.go
  cmd/kyverno/main.go
  pkg/leaderelection/leaderelection.go
Labels: cherry-pick-required, milestone 1.8.1

#4810 refactor: split main into sub funcs
  cmd/kyverno/main.go
  pkg/config/client.go
  pkg/version/version.go
Labels: cherry-pick-required, milestone 1.8.1

#4815 fix: controllers start in loop
  cmd/kyverno/main.go
Labels: cherry-pick-required, milestone 1.8.0

#4803 chore: use concurrent map v2 (generics)
  go.mod
  go.sum
  pkg/openapi/validation.go
  pkg/openapi/validation_test.go
Labels: cherry-pick-required, milestone 1.8.1

#4822 fix: validationFailureAction default value
  api/kyverno/v1/spec_types.go
  api/kyverno/v2beta1/spec_types.go
  charts/kyverno/templates/crds.yaml
  config/crds/kyverno.io_clusterpolicies.yaml
  config/crds/kyverno.io_policies.yaml
  config/install.yaml
  config/install_debug.yaml
Labels: cherry-pick-required, milestone 1.8.0

#4784 Fix : policy validation for ValidationFailureActionOverride field
  pkg/policy/validate.go
  pkg/policy/validate_test.go
  pkg/utils/util.go
  pkg/utils/util_test.go
Labels: cherry-pick-required, milestone 1.8.1

#4785 fix: debug mode
  Makefile
  cmd/kyverno/main.go
  pkg/webhookconfig/registration.go
Labels: cherry-pick-required, milestone 1.8.1

#4746 fix: use new client in tls package
  cmd/kyverno/main.go
  pkg/tls/renewer.go
Labels: cherry-pick-required, milestone 1.8.1

#4820 refactor: make tls cert func not depending on cert controller
  cmd/kyverno/main.go
  pkg/controllers/certmanager/controller.go
Labels: cherry-pick-required, milestone 1.8.1

#4829 upgrade controller-runtime dependency
  go.mod
  go.sum
Labels: cherry-pick-required, milestone 1.8.1

#4834 fix: call depth in logging package and global logger support for call depth
  pkg/logging/log.go
Labels: cherry-pick-required, milestone 1.8.1

#4832 refactor: leader controllers management
  cmd/kyverno/informer.go
  cmd/kyverno/main.go
  go.mod
  go.sum
  pkg/controllers/certmanager/controller.go
  pkg/controllers/certmanager/log.go
  pkg/controllers/webhook/controller.go
  pkg/controllers/webhook/log.go
Labels: cherry-pick-required, milestone 1.8.1

#4840 Update PSa images dsecription
  api/kyverno/v1/common_types.go
  charts/kyverno/templates/crds.yaml
  config/crds/kyverno.io_clusterpolicies.yaml
  config/crds/kyverno.io_policies.yaml
  config/install.yaml
  config/install_debug.yaml
  docs/crd/v1/index.html
Labels: cherry-pick-required, milestone 1.8.0

#4842 chore: bump a couple of deps
  go.mod
  go.sum
Labels: cherry-pick-required, milestone 1.8.1

#4818 feat: use a dedicated policy metrics controller
  cmd/kyverno/main.go
  pkg/controllers/metrics/policy/controller.go
  pkg/controllers/metrics/policy/log.go
  pkg/controllers/metrics/policy/metrics.go
  pkg/policy/policy_controller.go
Labels: cherry-pick-required, milestone 1.8.1

#4838 refactor: add config support to webhook controller
  cmd/kyverno/main.go
  pkg/config/config.go
  pkg/controllers/webhook/controller.go
  pkg/utils/controller/handlers.go
Labels: cherry-pick-required, milestone 1.8.1

#4792 refactor: make cert manager a real controller
  cmd/kyverno/main.go
  pkg/controllers/certmanager/controller.go
Labels: cherry-pick-required, milestone 1.8.1

#4849 fix: replace AbsPath with RequestURI to support query params
  pkg/clients/dclient/client.go
Labels: cherry-pick-required, milestone 1.8.1

#4878 docs: add section in helm docs to install with argocd
  charts/kyverno/README.md
  charts/kyverno/README.md.gotmpl
Labels: cherry-pick-required, milestone 1.8.1

#4881 fix: hardening policy validation for generate cloneList
  pkg/policy/generate/validate.go
Labels: cherry-pick-required, milestone 1.8.1

#4865 fix: background scan labels
  pkg/utils/report/labels.go
Labels: cherry-pick-required, milestone 1.8.1

#4885 [Bug] [CLI] Fail results are not colored red
  cmd/cli/kubectl-kyverno/test/test_command.go
Labels: cherry-pick-required, milestone 1.8.1

#4888 fix: non watchable resources in report controller
  pkg/controllers/report/resource/controller.go
Labels: cherry-pick-required, milestone 1.8.1

#4863 fix: auto gen enabled when using names
  pkg/autogen/autogen.go
  pkg/autogen/autogen_test.go
Labels: cherry-pick-required, milestone 1.8.1

#4846 refactor: manage webhooks with webhook controller
  api/kyverno/v1/clusterpolicy_types.go
  api/kyverno/v1/policy_interface.go
  api/kyverno/v1/policy_types.go
  cmd/kyverno/main.go
  pkg/config/config.go
  pkg/controllers/webhook/controller.go
  pkg/controllers/webhook/log.go
  pkg/controllers/webhook/utils.go
  pkg/controllers/webhook/utils_test.go
  pkg/utils/runtime/utils.go
  pkg/webhookconfig/common.go
  pkg/webhookconfig/configmanager.go
  pkg/webhookconfig/configmanager_test.go
  pkg/webhookconfig/monitor.go
  pkg/webhookconfig/registration.go
  pkg/webhookconfig/status.go
  pkg/webhooks/handlers/admission.go
  pkg/webhooks/handlers/monitor.go
  pkg/webhooks/handlers/probe.go
  pkg/webhooks/server.go
Labels: cherry-pick-required, milestone 1.8.1

#4897 fix: reduce webhook controller logs
  pkg/controllers/webhook/controller.go
Labels: cherry-pick-required, milestone 1.8.1

#4867 fix: don't specify rules when aggregationRule is set
  charts/kyverno/templates/clusterrole.yaml
  config/install.yaml
  config/install_debug.yaml
  config/k8s-resource/clusterroles.yaml
Labels: cherry-pick-required, milestone 1.8.1

#4908 fix: clean background scan reports
  pkg/controllers/report/background/controller.go
Labels: cherry-pick-required, milestone 1.8.1

#4910 refactor: openapi controller part 2
  cmd/cli/kubectl-kyverno/apply/apply_command.go
  cmd/cli/kubectl-kyverno/test/test_command.go
  cmd/kyverno/controller.go
  cmd/kyverno/main.go
  pkg/controllers/openapi/controller.go
  pkg/controllers/openapi/manager.go
  pkg/openapi/definitions.go
  pkg/openapi/fake.go
  pkg/openapi/manager.go
  pkg/openapi/manager_test.go
  pkg/openapi/utils.go
  pkg/policy/validate.go
  pkg/policy/validate_test.go
  pkg/webhooks/policy/handlers.go
  pkg/webhooks/resource/fake.go
  pkg/webhooks/resource/handlers.go
  pkg/webhooks/resource/mutation/mutation.go
Labels: cherry-pick-required, milestone 1.8.1

#4912 fix: openapi controller discovery
  pkg/controllers/openapi/controller.go
  pkg/controllers/openapi/log.go
Labels: cherry-pick-required, milestone 1.8.1

#4801 chore: signing helm releases
  .github/workflows/helm-release.yaml
  .github/workflows/reuse.yaml
Labels: cherry-pick-required, milestone 1.8.1

#4919 fix: use constants defined in openapi controller
  cmd/kyverno/main.go
Labels: cherry-pick-required, milestone 1.8.1

#4918 chore: update controller-tools to v0.10.0
  Makefile
  charts/kyverno/templates/crds.yaml
  config/crds/kyverno.io_admissionreports.yaml
  config/crds/kyverno.io_backgroundscanreports.yaml
  config/crds/kyverno.io_clusteradmissionreports.yaml
  config/crds/kyverno.io_clusterbackgroundscanreports.yaml
  config/crds/kyverno.io_clusterpolicies.yaml
  config/crds/kyverno.io_generaterequests.yaml
  config/crds/kyverno.io_policies.yaml
  config/crds/kyverno.io_updaterequests.yaml
  config/crds/wgpolicyk8s.io_clusterpolicyreports.yaml
  config/crds/wgpolicyk8s.io_policyreports.yaml
  config/install.yaml
  config/install_debug.yaml
Labels: cherry-pick-required, milestone 1.8.1

#4809 filter validation policies using ValidationFailureActionOverride
  pkg/policycache/cache.go
  pkg/policycache/cache_test.go
Labels: cherry-pick-required, milestone 1.8.1

#4913 [Cleanup] Disable PolicySkipped events
  pkg/event/events.go
  pkg/policy/report.go
  pkg/webhooks/utils/event.go
Labels: cherry-pick-required, milestone 1.8.1

#4925 chore: bump a couple of deps
  go.mod
  go.sum
Labels: cherry-pick-required, milestone 1.8.1

#4904 feat: make cert renewer private and add server name support
  cmd/kyverno/main.go
  pkg/controllers/certmanager/controller.go
  pkg/tls/keypair.go
  pkg/tls/reader.go
  pkg/tls/renewer.go
  pkg/tls/utils.go
Labels: cherry-pick-required, milestone 1.8.1

#4928 fix: panic when bad variable substitution
  pkg/engine/validation.go
Labels: cherry-pick-required, milestone 1.8.1

#4922 chore: add COSIGN_REPOSITORY env to ko-publish-dev step
  .github/workflows/reuse.yaml
Labels: cherry-pick-required, milestone 1.8.1

#4926 fix: probes should work in debug mode
  pkg/utils/runtime/utils.go
Labels: cherry-pick-required, milestone 1.8.1

#4945 fix: consider generateName when matching resources
  pkg/engine/utils.go
  pkg/engine/utils_test.go
Labels: cherry-pick-required, milestone 1.8.1

#4947 Fix background scan with request.operation
  charts/kyverno-policies/Chart.yaml
  charts/kyverno-policies/templates/restricted/disallow-capabilities-strict.yaml
Labels: cherry-pick-required, milestone 1.8.1

#4934 fix: don't report ready until certs are valid
  cmd/kyverno/main.go
  pkg/tls/keypair.go
  pkg/tls/renewer.go
  pkg/tls/utils.go
  pkg/utils/runtime/utils.go
Labels: cherry-pick-required, milestone 1.8.1

#4943 chore: bump a few deps
  go.mod
  go.sum
Labels: cherry-pick-required, milestone 1.8.1

#4950 fix: admission reports printer
  api/kyverno/v1alpha2/admission_report_types.go
  charts/kyverno/templates/crds.yaml
  config/crds/kyverno.io_admissionreports.yaml
  config/crds/kyverno.io_clusteradmissionreports.yaml
  config/install.yaml
  config/install_debug.yaml
Labels: cherry-pick-required, milestone 1.8.1

#4895 chore: Push and sign install manifests to GHCR
  .github/workflows/release.yaml
Labels: cherry-pick-required, milestone 1.8.1

#4967 fix: missing watchers in resource report controller
  pkg/controllers/report/background/controller.go
  pkg/controllers/report/resource/controller.go
  pkg/controllers/report/utils/utils.go
  pkg/utils/report/labels.go
  pkg/utils/report/new.go
Labels: cherry-pick-required, milestone 1.8.1

#4953 fix: improve banned types management in reports
  pkg/clients/dclient/discovery.go
  pkg/controllers/report/resource/controller.go
  pkg/utils/report/support.go
  pkg/webhooks/resource/validation/validation.go
Labels: cherry-pick-required, milestone 1.8.1

#4966 fix: don't produce empty admission reports
  pkg/webhooks/resource/validation/validation.go
Labels: cherry-pick-required, milestone 1.8.1

#4969 fix: add user info in admission request logs
  pkg/webhooks/handlers/admission.go
Labels: cherry-pick-required, milestone 1.8.1

#4971 fix: missing autogen rules in status
  pkg/controllers/webhook/controller.go
Labels: cherry-pick-required, milestone 1.8.1

#4951 fix: config reloading not working correctly
  pkg/config/config.go
Labels: cherry-pick-required, milestone 1.8.1

#4281 feat: Add container registry setting on Helm Chart
  charts/kyverno/Chart.yaml
  charts/kyverno/README.md
  charts/kyverno/ci/imageRegistry-values.yaml
  charts/kyverno/templates/_helpers.tpl
  charts/kyverno/templates/deployment.yaml
  charts/kyverno/templates/tests/test.yaml
  charts/kyverno/values.yaml
Labels: cherry-pick-required, milestone 1.8.1

#4989 docs: add resource exclusions note in helm docs
  charts/kyverno/README.md
  charts/kyverno/README.md.gotmpl
Labels: cherry-pick-required, milestone 1.8.1

#4988 feat: add policy-reporter to argocd lab
  scripts/labs/argocd/README.md
  scripts/labs/argocd/kind-argo.sh
Labels: cherry-pick-required, milestone 1.8.1

#4896 feat: add startup probes support
  charts/kyverno/Chart.yaml
  charts/kyverno/README.md
  charts/kyverno/templates/deployment.yaml
  charts/kyverno/values.yaml
  config/install.yaml
  config/manifest/deployment.yaml
Labels: cherry-pick-required, milestone 1.8.1

#4992 fix: webhooks not registering when using name override
  pkg/utils/runtime/utils.go
Labels: cherry-pick-required, milestone 1.8.1

#4994 fix: skip admission report in dry run requests
  pkg/webhooks/resource/validation/validation.go
Labels: cherry-pick-required, milestone 1.8.1

#5000 [Bug]: fix principal and role variables are not substituted
  pkg/webhooks/utils/policy_context_builder.go
Labels: cherry-pick-required, milestone 1.8.1

#4985 refactor: add update status helper
  pkg/controllers/webhook/controller.go
  pkg/utils/controller/utils.go
Labels: cherry-pick-required, milestone 1.8.1

#4954 updates with case insensitivity guarantee
  charts/kyverno-policies/Chart.yaml
  charts/kyverno-policies/templates/restricted/disallow-capabilities-strict.yaml
Labels: cherry-pick-required, milestone 1.8.1

#4973 fix: use default retry with retryfunc for a conflict
  pkg/background/common/util.go
  pkg/background/update_request_controller.go
Labels: cherry-pick-required, milestone 1.8.1

#5006 fix: update policy status
  pkg/controllers/webhook/controller.go
  pkg/utils/controller/run.go
Labels: cherry-pick-required, milestone 1.8.1

#5008 fix: don't process non background policies in background scan
  pkg/controllers/report/background/controller.go
  pkg/controllers/report/utils/utils.go
Labels: cherry-pick-required, milestone 1.8.1

#4962 fix: global anchor warning
  pkg/webhooks/utils/warning.go
  pkg/webhooks/utils/warning_test.go
Labels: cherry-pick-required, milestone 1.8.1

#5016 fix: policy not denied when kinds set is empty
  pkg/policy/validate.go
Labels: cherry-pick-required, milestone 1.8.1

#5015 remove RBACInfo check
  pkg/webhooks/utils/policy_context_builder.go
Labels: cherry-pick-required, milestone 1.8.1

#4469 validate patchJSON6902
  pkg/policy/validate.go
  pkg/policy/validate_test.go
Labels: milestone 1.9.0

#4984 Enable adding annotations to configmaps in the helm chart
  charts/kyverno/Chart.yaml
  charts/kyverno/README.md
  charts/kyverno/templates/configmap.yaml
  charts/kyverno/templates/metricsconfigmap.yaml
  charts/kyverno/values.yaml
Labels: cherry-pick-required, milestone 1.8.1

#4996 Fixed issue-4655: verifyImages is executed before mutate
  pkg/webhooks/resource/handlers.go
  pkg/webhooks/resource/handlers_test.go
Labels: milestone 1.8.2

#5034 fix: lower default qps/burst
  cmd/kyverno/main.go
Labels: cherry-pick-required, milestone 1.8.1

#5031 feat: make shutdown more graceful
  cmd/kyverno/controller.go
  cmd/kyverno/main.go
  pkg/controllers/openapi/controller.go
Labels: cherry-pick-required, milestone 1.8.1

#5030 fix: lease log message
  pkg/controllers/webhook/controller.go
Labels: cherry-pick-required, milestone 1.8.1

#5041 cherry-pick (#4884)
  scripts/labs/argocd/README.md
  scripts/labs/argocd/kind-argo.sh
Labels: milestone 1.8.1

#5043 fix: wrong controller logger names
  pkg/controllers/certmanager/log.go
  pkg/controllers/webhook/log.go
Labels: milestone 1.8.1

#5029 feat: add controller logger helper
  pkg/controllers/certmanager/controller.go
  pkg/controllers/certmanager/log.go
  pkg/controllers/config/controller.go
  pkg/controllers/config/log.go
  pkg/controllers/metrics/policy/log.go
  pkg/controllers/openapi/log.go
  pkg/controllers/policycache/controller.go
  pkg/controllers/policycache/log.go
  pkg/controllers/report/admission/controller.go
  pkg/controllers/report/admission/log.go
  pkg/controllers/report/aggregate/controller.go
  pkg/controllers/report/aggregate/log.go
  pkg/controllers/report/background/controller.go
  pkg/controllers/report/background/log.go
  pkg/controllers/report/resource/controller.go
  pkg/controllers/report/resource/log.go
  pkg/controllers/webhook/controller.go
  pkg/logging/log.go
Labels: cherry-pick-required, milestone 1.8.1

#5047 feat: add image verification support to background scan
  pkg/controllers/report/utils/scanner.go
Labels: cherry-pick-required, milestone 1.8.1

#5022 fix: go routines not gracefully shut down in controllers
  pkg/controllers/certmanager/controller.go
  pkg/controllers/config/controller.go
  pkg/controllers/openapi/controller.go
  pkg/controllers/policycache/controller.go
  pkg/controllers/report/admission/controller.go
  pkg/controllers/report/aggregate/controller.go
  pkg/controllers/report/background/controller.go
  pkg/controllers/report/resource/controller.go
  pkg/controllers/webhook/controller.go
  pkg/utils/controller/run.go
  pkg/webhooks/utils/policy_context_builder.go
Labels: cherry-pick-required, milestone 1.8.1

#5055 fix: detection of kyverno going down
  pkg/utils/runtime/utils.go
Labels: cherry-pick-required, milestone 1.8.1

#5059 fix: setup max procs with correct logger
  cmd/kyverno/main.go
Labels: cherry-pick-required, milestone 1.8.1

#5037 fix: image verification reports missing in admission mode
  pkg/webhooks/resource/handlers.go
  pkg/webhooks/resource/imageverification/handler.go
Labels: cherry-pick-required, milestone 1.8.1

#5063 feat: add webhook server logger
  pkg/logging/log.go
  pkg/webhooks/server.go
Labels: cherry-pick-required, milestone 1.8.1

#4938 added apiCalls support in kyverno-apply command
  cmd/cli/kubectl-kyverno/apply/apply_command.go
  cmd/cli/kubectl-kyverno/test/test_command.go
  cmd/cli/kubectl-kyverno/utils/common/common.go
  cmd/cli/kubectl-kyverno/utils/common/common_test.go
  cmd/cli/kubectl-kyverno/utils/store/store.go
  pkg/engine/jsonContext.go
Labels: milestone 1.9.0

#5079 fix: make response order predictable
  pkg/engine/validate/utils.go
  pkg/engine/validate/validate.go
Labels: cherry-pick-required, milestone 1.8.1

#5073 feat: add simple conformance tests
  .github/workflows/conformance.yaml
  Makefile
  pkg/policy/background.go
  pkg/policy/background_test.go
  pkg/policy/validate.go
  test/cli/test/admission_user_info/disallow_latest_tag.yaml
  test/conformance/main.go
  test/conformance/manifests/should-fail/background-userinfo-1.yaml
  test/conformance/manifests/should-fail/background-userinfo-2.yaml
  test/conformance/manifests/should-fail/background-userinfo-3.yaml
  test/conformance/manifests/should-fail/background-userinfo-4.yaml
  test/conformance/tests.yaml
Labels: cherry-pick-required, milestone 1.8.1

#5083 fix: use correct logger in webhook controller
  pkg/controllers/webhook/log.go
Labels: cherry-pick-required, milestone 1.8.1

#5082 test: add best practices policies in conformance tests
  test/conformance/main.go
  test/conformance/tests.yaml
Labels: cherry-pick-required, milestone 1.8.1

#5021 fix: handle resource cleanup when policy is deleted
  pkg/background/update_request_controller.go
Labels: cherry-pick-required, milestone 1.8.1

#5091 ci: Use the Docker login action for GHCR auth
  .github/workflows/release.yaml
Labels: cherry-pick-required, milestone 1.8.1

#5081 fix: allow delete of target resource data with synchronize false
  pkg/background/common/util.go
  pkg/background/generate/generate.go
  test/e2e/generate/config.go
Labels: cherry-pick-required, milestone 1.8.1

#5088 feat: add flag to configure the number of background scan workers
  CHANGELOG.md
  cmd/kyverno/main.go
Labels: cherry-pick-required, milestone 1.8.1

#5075 refactor: simplify variables regex
  Makefile
  pkg/engine/variables/vars.go
  pkg/policy/background.go
  pkg/policy/background_test.go
  pkg/policy/on_update_policy_test.go
  test/conformance/tests.yaml
Labels: cherry-pick-required, milestone 1.8.1

#5080 fix: use correct side effects in validating webhooks
  cmd/kyverno/main.go
  pkg/controllers/report/background/controller.go
  pkg/controllers/webhook/controller.go
Labels: cherry-pick-required, milestone 1.8.1

#5110 ci: Fix publishing install manifests with Flux
  .github/workflows/release.yaml
Labels: cherry-pick-required, milestone 1.8.1

#5024 feat: enable/disable Debug mode which shows entire AdmissionReview payload
  cmd/kyverno/main.go
  pkg/utils/util.go
  pkg/webhooks/debug_test.go
  pkg/webhooks/server.go
Labels: cherry-pick-required, milestone 1.8.2

#4991 [Feature] create command line option to set failurePolicy globally
  api/kyverno/v1/spec_types.go
  charts/kyverno/templates/crds.yaml
  cmd/kyverno/main.go
  config/crds/kyverno.io_clusterpolicies.yaml
  config/crds/kyverno.io_policies.yaml
  config/install.yaml
  config/install_debug.yaml
  docs/user/crd/index.html
  pkg/toggle/toggle.go
Labels: milestone 1.9.0

#5125 Remove old version of golang.org/x/sys
  go.mod
  go.sum
Labels: cherry-pick-required, milestone 1.8.1

#5127 fix: remove the empty add entry in Helm chart manifest
  charts/kyverno/Chart.yaml
Labels: milestone 1.8.1

#5112 feat: add categories support to our CRDs
  api/kyverno/v1/clusterpolicy_types.go
  api/kyverno/v1/policy_types.go
  api/kyverno/v1alpha2/admission_report_types.go
  api/kyverno/v1alpha2/background_scan_report_types.go
  api/kyverno/v1beta1/updaterequest_types.go
  api/kyverno/v2beta1/clusterpolicy_types.go
  api/kyverno/v2beta1/policy_types.go
  charts/kyverno/templates/crds.yaml
  config/crds/kyverno.io_admissionreports.yaml
  config/crds/kyverno.io_backgroundscanreports.yaml
  config/crds/kyverno.io_clusteradmissionreports.yaml
  config/crds/kyverno.io_clusterbackgroundscanreports.yaml
  config/crds/kyverno.io_clusterpolicies.yaml
  config/crds/kyverno.io_policies.yaml
  config/crds/kyverno.io_updaterequests.yaml
Labels: cherry-pick-required, milestone 1.8.2

#5026 feat: oci pull/push support for policie(s)
  .gitignore
  cmd/cli/kubectl-kyverno/main.go
  cmd/cli/kubectl-kyverno/oci/oci.go
  cmd/cli/kubectl-kyverno/oci/oci_pull.go
  cmd/cli/kubectl-kyverno/oci/oci_push.go
  go.mod
  go.sum
Labels: milestone 1.9.0

#5119 Add AGE in printer columns of CRDs
  api/kyverno/v1/clusterpolicy_types.go
  api/kyverno/v1/policy_types.go
  api/kyverno/v2beta1/clusterpolicy_types.go
  api/kyverno/v2beta1/policy_types.go
  charts/kyverno/templates/crds.yaml
  config/crds/kyverno.io_clusterpolicies.yaml
  config/crds/kyverno.io_policies.yaml
  config/install.yaml
  config/install_debug.yaml
Labels: milestone 1.9.0

#5132 fix finalizers mutation with patchesJson6902
  pkg/engine/mutate/patch/patchesUtils.go
  pkg/engine/mutate/patch/patchesUtils_test.go
Labels: mutation, milestone 1.9.0

#5123 feat: remove policy mutation for auto-gen rules
  .github/workflows/e2e-autogen-internals.yaml
  .github/workflows/e2e.yaml
  CHANGELOG.md
  Makefile
  charts/kyverno/README.md
  charts/kyverno/values.yaml
  cmd/cli/kubectl-kyverno/apply/apply_command.go
  cmd/cli/kubectl-kyverno/test/test_command.go
  cmd/cli/kubectl-kyverno/utils/common/common.go
  cmd/cli/kubectl-kyverno/utils/common/common_test.go
  cmd/kyverno/main.go
  config/install.yaml
  config/manifest/deployment.yaml
  pkg/autogen/autogen.go
  pkg/controllers/webhook/controller.go
  pkg/policy/policy_controller.go
  pkg/policymutation/policymutation.go
  pkg/toggle/toggle.go
  pkg/webhooks/policy/handlers.go
  pkg/webhooks/policy/handlers_test.go
Labels: milestone 1.9.0

#5157 fix: mutateExisting failure - reset resource version on update
  pkg/background/mutate/mutate.go
Labels: cherry-pick-required, milestone 1.8.2

#5158 fix: policy events created for non-applied resources
  pkg/webhooks/utils/event.go
Labels: cherry-pick-required, milestone 1.8.2

#5106 Fixed issue-5102: Show rule count and type in output
  api/kyverno/v1/clusterpolicy_types.go
  api/kyverno/v1/policy_status.go
  api/kyverno/v1/policy_types.go
  api/kyverno/v1/zz_generated.deepcopy.go
  api/kyverno/v2beta1/clusterpolicy_types.go
  api/kyverno/v2beta1/policy_types.go
  charts/kyverno/templates/crds.yaml
  config/crds/kyverno.io_clusterpolicies.yaml
  config/crds/kyverno.io_policies.yaml
  config/install.yaml
  config/install_debug.yaml
  docs/user/crd/index.html
  pkg/client/clientset/versioned/fake/register.go
  pkg/client/clientset/versioned/scheme/register.go
  pkg/controllers/webhook/controller.go
  pkg/controllers/webhook/utils.go
  pkg/controllers/webhook/utils_test.go
Labels: milestone 1.9.0

#5144 fix: configure klog and global logger to use zapr in json mode
  pkg/logging/log.go
Labels: cherry-pick-required, milestone 1.8.2

#5154 Add ability to use commands in comments
  .github/workflows/comment-commands.yaml
Labels: milestone 1.9.0

#5170 [Cli Bug] fix cli issue for ownerReferences resources
  cmd/cli/kubectl-kyverno/utils/common/common.go
  test/cli/test/owner_references/kyverno-test.yaml
  test/cli/test/owner_references/policy.yaml
  test/cli/test/owner_references/resource.yaml
Labels: milestone 1.9.0, lgtm

#5134 Corrected Kubernetes spelling
  charts/kyverno/README.md
  charts/kyverno/README.md.gotmpl
Labels: milestone 1.9.0, lgtm
