Repository kyverno/kyverno, pull requests merged in 2022-09, with the labels that each got.

#4468 chore: speed up local image builds
  Makefile
Labels: milestone 1.8.0

#4467 feat: enable autogen client from makefile
  .gitignore
  DEVELOPMENT.md
  Makefile
  api/kyverno/v1/zz_generated.deepcopy.go
  api/kyverno/v1alpha2/zz_generated.deepcopy.go
  api/kyverno/v1beta1/zz_generated.deepcopy.go
  api/policyreport/v1alpha2/zz_generated.deepcopy.go
  pkg/client/clientset/versioned/clientset.go
  pkg/client/clientset/versioned/fake/register.go
  pkg/client/clientset/versioned/scheme/register.go
  scripts/boilerplate.go.txt
  scripts/update-codegen.sh
Labels: milestone 1.8.0

#4474 Fix logger format
  pkg/utils/util.go
Labels: milestone 1.8.0

#4475 Add PodSecurity descriptions
  api/kyverno/v1/common_types.go
  charts/kyverno/templates/crds.yaml
  config/crds/kyverno.io_clusterpolicies.yaml
  config/crds/kyverno.io_policies.yaml
  config/install.yaml
  config/install_debug.yaml
  docs/crd/v1/index.html
Labels: milestone 1.8.0

#4041 refactor: to remove generate cleanup controller
  cmd/kyverno/main.go
  pkg/background/generate/cleanup/controller.go
  pkg/background/generate/cleanup/log.go
  pkg/background/generate/cleanup/utils.go
  pkg/background/update_request_controller.go
Labels: milestone 1.8.0

#4478 fix: auto update pr workflow
  .github/workflows/pr-update.yaml
Labels: milestone 1.8.0

#4476 docs: add api docs generation
  DEVELOPMENT.md
  Makefile
Labels: milestone 1.8.0

#4480 refactor: webhook policy context creation
  pkg/webhooks/resource/fake.go
  pkg/webhooks/resource/handlers.go
  pkg/webhooks/resource/utils.go
  pkg/webhooks/resource/validate_audit.go
  pkg/webhooks/utils/policy_context_builder.go
Labels: milestone 1.8.0

#4484 refactor: clean webhooks logs
  pkg/webhooks/resource/handlers.go
Labels: milestone 1.8.0

#4483 fix: release workflow
  .github/workflows/reuse.yaml
Labels: milestone 1.8.0

#4486 chore: relax auto update PRs conditions
  .github/workflows/pr-update.yaml
Labels: milestone 1.8.0

#4485 chore: bump cache action and improve paths
  .github/workflows/cli.yaml
  .github/workflows/e2e-autogen-internals.yaml
  .github/workflows/e2e.yaml
  .github/workflows/image-build.yaml
  .github/workflows/release.yaml
  .github/workflows/reuse.yaml
  .github/workflows/tests.yaml
Labels: milestone 1.8.0

#4479 chore: publish helm charts to ghcr.io
  .github/workflows/helm-release.yaml
Labels: milestone 1.8.0

#4488 Improve printer column name for validationFailureAction
  api/kyverno/v1/clusterpolicy_types.go
  api/kyverno/v1/policy_types.go
  charts/kyverno/templates/crds.yaml
  config/crds/kyverno.io_clusterpolicies.yaml
  config/crds/kyverno.io_policies.yaml
  config/install.yaml
  config/install_debug.yaml
Labels: milestone 1.8.0

#4491 fix: fetch history in pre-checks job
  .github/workflows/codecov.yaml
  .github/workflows/fossa.yml
  .github/workflows/helm-release.yaml
  .github/workflows/tests.yaml
Labels: milestone 1.8.0

#4494 refactor: verify codegen targets in makefile
  .github/workflows/tests.yaml
  .github/workflows/verify-codegen.yaml
  Makefile
Labels: milestone 1.8.0

#4493 fix: incorrect kustomize call in makefile
  Makefile
Labels: milestone 1.8.0

#4492 feat: support switching build with docker or ko
  Makefile
Labels: milestone 1.8.0

#4498 chore: refactor helm targets in makefile
  Makefile
Labels: milestone 1.8.0

#4501 docs: add section about switching between docker and ko
  DEVELOPMENT.md
Labels: milestone 1.8.0

#4506 chore: add wildcard unit test
  pkg/utils/wildcard/match_test.go
Labels: milestone 1.8.0

#4507 docs: add section for generating helm docs and crds
  DEVELOPMENT.md
Labels: milestone 1.8.0

#4511 chore: update my affiliation in maintainers
  MAINTAINERS.md
Labels: milestone 1.8.0

#4508 chore: add unit tests for pkg/utils/image
  pkg/utils/image/infos_test.go
Labels: milestone 1.8.0

#4509 chore: add unit tests for pkg/utils/os
  .github/workflows/codecov.yaml
  pkg/utils/os/env_test.go
Labels: milestone 1.8.0

#4510 chore: add unit tests for pkg/utils/wildcard
  pkg/engine/loadtargets.go
  pkg/engine/wildcards/wildcards.go
  pkg/utils/kube/wildcard.go
  pkg/utils/wildcard/match_test.go
  pkg/utils/wildcard/utils.go
  pkg/utils/wildcard/utils_test.go
Labels: milestone 1.8.0

#4512 chore: add unit tests for pkg/utils/yaml
  pkg/utils/yaml/utils_test.go
Labels: milestone 1.8.0

#4516 chore: add unit tests for pkg/utils/json
  pkg/utils/json/patch_test.go
Labels: milestone 1.8.0

#4503 chore: test for k8s 1.25
  .github/workflows/e2e-autogen-internals.yaml
  .github/workflows/e2e.yaml
  Makefile
Labels: milestone 1.8.0

#4515 fix: load policy and add tests
  cmd/cli/kubectl-kyverno/utils/common/common.go
  cmd/cli/kubectl-kyverno/utils/common/common_test.go
  pkg/autogen/autogen_test.go
  pkg/policy/allowed_vars_test.go
  pkg/utils/yaml/loadpolicy.go
  pkg/utils/yaml/loadpolicy_test.go
Labels: milestone 1.8.0

#4519 refactor: client wrappers
  cmd/kyverno/main.go
  pkg/background/common/status.go
  pkg/background/common/util.go
  pkg/background/generate/generate.go
  pkg/background/update_request_controller.go
  pkg/clients/wrappers/clientset.go
  pkg/clients/wrappers/kyverno/v1/clusterpolicy.go
  pkg/clients/wrappers/kyverno/v1/kyverno_client.go
  pkg/clients/wrappers/kyverno/v1/policy.go
  pkg/clients/wrappers/kyverno/v1alpha2/clusterreportchangerequest.go
  pkg/clients/wrappers/kyverno/v1alpha2/kyverno_client.go
  pkg/clients/wrappers/kyverno/v1alpha2/reportchangerequest.go
  pkg/clients/wrappers/kyverno/v1beta1/kyverno_client.go
  pkg/clients/wrappers/kyverno/v1beta1/updaterequest.go
  pkg/clients/wrappers/policyreport/v1alpha2/clusterpolicyreport.go
  pkg/clients/wrappers/policyreport/v1alpha2/policyreport.go
  pkg/clients/wrappers/policyreport/v1alpha2/policyreport_client.go
  pkg/common/common.go
  pkg/policy/policy_controller.go
  pkg/policy/report.go
  pkg/policyreport/changerequestcreator.go
  pkg/policyreport/policyreport.go
  pkg/policyreport/reportcontroller.go
  pkg/policyreport/reportrequest.go
  pkg/webhookconfig/configmanager.go
  pkg/webhookconfig/registration.go
  pkg/webhooks/resource/handlers.go
  pkg/webhooks/updaterequest/generator.go
Labels: milestone 1.8.0

#4490 fix: api reference docs
  .github/workflows/e2e-autogen-internals.yaml
  docs/crd/v1/index.html
  docs/crd/v1alpha2/index.html
  docs/crd/v1beta1/index.html
  docs/template/members.tpl
  docs/template/type.tpl
Labels: milestone 1.8.0

#4518 refactor: add auth interface and unit tests
  pkg/auth/auth.go
  pkg/auth/auth_test.go
  pkg/clients/dclient/fake.go
Labels: milestone 1.8.0

#4525 refactor: use generics in client wrappers
  pkg/clients/wrappers/kyverno/v1/clusterpolicy.go
  pkg/clients/wrappers/kyverno/v1/policy.go
  pkg/clients/wrappers/kyverno/v1alpha2/clusterreportchangerequest.go
  pkg/clients/wrappers/kyverno/v1alpha2/reportchangerequest.go
  pkg/clients/wrappers/kyverno/v1beta1/updaterequest.go
  pkg/clients/wrappers/policyreport/v1alpha2/clusterpolicyreport.go
  pkg/clients/wrappers/policyreport/v1alpha2/policyreport.go
  pkg/clients/wrappers/utils/wrapper.go
Labels: milestone 1.8.0

#4522 chore: add protectManagedResources flag to changelog
  CHANGELOG.md
Labels: milestone 1.8.0

#4527 add random filter
  go.mod
  go.sum
  pkg/engine/jmespath/functions.go
Labels: milestone 1.8.0

#4384 feat: allow cloning multiple resource from a namespace
  api/kyverno/v1/common_types.go
  api/kyverno/v1/zz_generated.deepcopy.go
  charts/kyverno/templates/crds.yaml
  config/crds/kyverno.io_clusterpolicies.yaml
  config/crds/kyverno.io_policies.yaml
  config/install.yaml
  config/install_debug.yaml
  docs/crd/v1/index.html
  pkg/background/generate/generate.go
  pkg/policy/generate/validate.go
  test/e2e/generate/config.go
  test/e2e/generate/generate_test.go
  test/e2e/generate/helpers.go
  test/e2e/generate/resources.go
Labels: milestone 1.8.0

#4528 refactor: webhook exclusion and unit tests
  pkg/webhooks/resource/handlers.go
  pkg/webhooks/resource/utils.go
  pkg/webhooks/utils/exclude.go
  pkg/webhooks/utils/exclude_test.go
Labels: milestone 1.8.0

#4529 refactor: webhook propagate start time along handlers
  pkg/webhooks/handlers/admission.go
  pkg/webhooks/policy/handlers.go
  pkg/webhooks/resource/handlers.go
  pkg/webhooks/resource/handlers_test.go
  pkg/webhooks/server.go
Labels: milestone 1.8.0

#4531 refactor: webhook block and unit tests
  pkg/utils/engine/response.go
  pkg/webhooks/resource/handlers.go
  pkg/webhooks/resource/utils.go
  pkg/webhooks/resource/validation.go
  pkg/webhooks/resource/validation_test.go
  pkg/webhooks/utils/block.go
  pkg/webhooks/utils/block_test.go
  pkg/webhooks/utils/warning.go
Labels: milestone 1.8.0

#4535 refactor: introduce ur updater
  pkg/webhooks/resource/fake.go
  pkg/webhooks/resource/generation.go
  pkg/webhooks/resource/handlers.go
  pkg/webhooks/utils/update_request_updater.go
  pkg/webhooks/utils/update_request_updater_test.go
Labels: milestone 1.8.0

#4540 fix: defer ur update until validation passes
  pkg/webhooks/resource/handlers.go
Labels: milestone 1.8.0

#4541 chore: add unit test for updating ur status
  pkg/webhooks/utils/update_request_updater_test.go
Labels: milestone 1.8.0

#4545 refactor: move webhook events utils in utils package
  pkg/webhooks/resource/handlers.go
  pkg/webhooks/resource/validation.go
  pkg/webhooks/utils/event.go
Labels: milestone 1.8.0

#4551 Update helm release config
  .github/workflows/helm-release.yaml
Labels: milestone 1.8.0

#4556 refactor: move validation handler out of webhooks package
  pkg/webhooks/resource/handlers.go
  pkg/webhooks/resource/utils.go
  pkg/webhooks/resource/validate_audit.go
  pkg/webhooks/resource/validation/validation.go
  pkg/webhooks/utils/policy_report.go
Labels: milestone 1.8.0

#4562 refactor: move validation audit out of webhooks package
  cmd/kyverno/main.go
  pkg/webhooks/resource/audit/validate_audit.go
  pkg/webhooks/resource/fake.go
  pkg/webhooks/resource/handlers.go
Labels: milestone 1.8.0

#4567 refactor: move mutation handler out of webhooks package
  pkg/webhooks/resource/handlers.go
  pkg/webhooks/resource/mutation/mutation.go
  pkg/webhooks/resource/utils.go
  pkg/webhooks/utils/error.go
Labels: milestone 1.8.0

#4569 refactor: move image verification handler out of webhooks package
  pkg/webhooks/resource/handlers.go
  pkg/webhooks/resource/imageverification/handler.go
  pkg/webhooks/resource/utils.go
Labels: cherry-pick-required, milestone 1.8.0

#4570 refactor: move generation handler out of webhooks package
  pkg/webhooks/resource/generation/generation.go
  pkg/webhooks/resource/generation/generation_test.go
  pkg/webhooks/resource/generation/utils.go
  pkg/webhooks/resource/handlers.go
  pkg/webhooks/resource/updaterequest.go
  pkg/webhooks/resource/utils.go
Labels: cherry-pick-required, milestone 1.8.0

#4573 chore: preserve pr title in cherry picks
  .github/cherry-pick-bot.yml
Labels: milestone 1.8.0

#4577 chore: add toggle package unit tests
  pkg/toggle/toggle_test.go
Labels: cherry-pick-required, milestone 1.8.0

#4576 fix: split policy report flag
  pkg/policyreport/changerequestcreator.go
Labels: cherry-pick-required, milestone 1.8.0

#4582 fix: typo
  api/kyverno/v1/common_types.go
  charts/kyverno/templates/crds.yaml
  config/crds/kyverno.io_clusterpolicies.yaml
  config/crds/kyverno.io_policies.yaml
  docs/crd/v1/index.html
Labels: cherry-pick-required, milestone 1.8.0

#4558 allow PSa validation with no exceptions
  pkg/engine/validation.go
Labels: cherry-pick-required, milestone 1.8.0

#4563 chore: switch to github.com/IGLOU-EU/go-wildcard
  go.mod
  go.sum
  pkg/utils/wildcard/match.go
Labels: cherry-pick-required, milestone 1.8.0

#4583 chore: add a codegen-quick makefile target
  Makefile
Labels: cherry-pick-required, milestone 1.8.0

#4594 enable autogen for validate.podsecurity with no exclude
  pkg/autogen/autogen.go
  pkg/autogen/autogen_test.go
  pkg/autogen/rule.go
Labels: cherry-pick-required

#4275 Fix multiple crd slowness issue
  pkg/openapi/crdSync.go
  pkg/policy/validate.go
Labels: cherry-pick-required, milestone 1.8.0

#4598 refactor: info in policyreport package
  pkg/policyreport/builder.go
  pkg/policyreport/changerequestcreator.go
  pkg/policyreport/info.go
  pkg/policyreport/reportrequest.go
Labels: cherry-pick-required, milestone 1.8.0

#4588 chore: add messages in makefile kind targets
  Makefile
Labels: cherry-pick-required, milestone 1.8.0

#4578 refactor: simplify RCR creator queue
  pkg/policyreport/changerequestcreator.go
Labels: cherry-pick-required, milestone 1.8.0

#4601 fix: lock in policy report mapper
  pkg/policyreport/mapper.go
  pkg/policyreport/reportrequest.go
Labels: cherry-pick-required, milestone 1.8.0

#4591 enhance jmespath random-filter
  pkg/engine/jmespath/functions.go
Labels: cherry-pick-required, milestone 1.8.0

#4617 fix: background printer column
  api/kyverno/v1/clusterpolicy_types.go
  api/kyverno/v1/policy_types.go
  api/kyverno/v1/spec_types.go
  charts/kyverno/templates/crds.yaml
  config/crds/kyverno.io_clusterpolicies.yaml
  config/crds/kyverno.io_policies.yaml
Labels: cherry-pick-required, milestone 1.8.0

#3491 Integrate Sonarcloud and Nancy github action
  .github/workflows/nancy.yaml
  .github/workflows/sonarcloud.yaml
  sonar-project.properties
Labels: milestone 1.9.0

#4627 chore: add makefile target to deploy metrics server
  Makefile
Labels: cherry-pick-required, milestone 1.8.0

#4631 chore: bump cosign 1.12.0 to fix vulnerabilities
  go.mod
  go.sum
Labels: cherry-pick-required, milestone 1.8.0

#4639 feat: add controller utils tools
  pkg/utils/controller/handlers.go
  pkg/utils/controller/metadata.go
  pkg/utils/controller/utils.go
Labels: cherry-pick-required, milestone 1.8.0

#4636 fix: remove RCR from mutation webhook
  pkg/webhooks/resource/handlers.go
Labels: cherry-pick-required, milestone 1.8.0

#4637 fix: incorrect namespace in report controller
  pkg/policyreport/reportcontroller.go
Labels: cherry-pick-required, milestone 1.8.0

#4642 feat: introduce RCR interface
  api/kyverno/v1alpha2/clusterreportchangerequest_types.go
  api/kyverno/v1alpha2/interface.go
  api/kyverno/v1alpha2/reportchangerequest_types.go
  docs/crd/v1alpha2/index.html
Labels: cherry-pick-required, milestone 1.8.0

#4640 refactor: add a couple of constants in api
  api/kyverno/v1/constants.go
  pkg/background/common/labels.go
  pkg/policyreport/policyreport.go
  pkg/policyreport/reportcontroller.go
  pkg/tls/renewer.go
  pkg/tls/utils.go
  pkg/webhookconfig/common.go
  pkg/webhookconfig/registration.go
  pkg/webhookconfig/status.go
  pkg/webhooks/resource/generation/generation.go
  pkg/webhooks/resource/handlers.go
  pkg/webhooks/server.go
Labels: cherry-pick-required, milestone 1.8.0

#4654 fix: missing elements in v2beta1 api
  api/kyverno/v2beta1/clusterpolicy_types.go
  api/kyverno/v2beta1/policy_types.go
  api/kyverno/v2beta1/spec_types.go
  api/kyverno/v2beta1/zz_generated.deepcopy.go
  charts/kyverno/templates/crds.yaml
  config/crds/kyverno.io_clusterpolicies.yaml
  config/crds/kyverno.io_policies.yaml
  docs/crd/v2beta1/index.html
Labels: cherry-pick-required, milestone 1.8.0

#4641 refactor: split policyreport api files
  api/policyreport/v1alpha2/clusterpolicyreport_types.go
  api/policyreport/v1alpha2/common.go
  api/policyreport/v1alpha2/policyreport_types.go
Labels: cherry-pick-required, milestone 1.8.0

#4646 refactor: update log based on the policy types
  pkg/policyreport/reportcontroller.go
Labels: cherry-pick-required, milestone 1.8.0

#4628 feat: add explicit key support to controller utils
  pkg/utils/controller/handlers.go
  pkg/utils/controller/run.go
Labels: cherry-pick-required, milestone 1.8.0

#4670 Fix issue for wildcard versions
  pkg/utils/kube/kind.go
  pkg/webhookconfig/configmanager.go
Labels: milestone 1.8.0

#4677 chore: bump minimum go version
  .github/workflows/cli.yaml
  .github/workflows/codecov.yaml
  .github/workflows/e2e-autogen-internals.yaml
  .github/workflows/e2e.yaml
  .github/workflows/fossa.yml
  .github/workflows/image-build.yaml
  .github/workflows/release.yaml
  .github/workflows/reuse.yaml
  .github/workflows/tests.yaml
  .github/workflows/verify-codegen.yaml
Labels: cherry-pick-required, milestone 1.8.0

#4653 fix: namespaced policy not validated in engine
  pkg/engine/validation.go
  test/cli/test/jmespath-brackets/policy.yaml
Labels: cherry-pick-required, milestone 1.8.0

#4684 fix: handle auth permission for cloneList validation
  pkg/policy/generate/validate.go
  test/e2e/generate/resources.go
Labels: cherry-pick-required, milestone 1.8.0

#4685 fix: bump net standard lib
  go.mod
  go.sum
Labels: cherry-pick-required, milestone 1.8.0

#4692 chore: cleanup go.mod
  go.mod
  go.sum
Labels: cherry-pick-required, milestone 1.8.0

#4697 fix: jmespath random error handling
  pkg/engine/jmespath/functions.go
Labels: cherry-pick-required, milestone 1.8.0

#4691 refactor: replace signal package by signal.NotifyContext
  cmd/initContainer/main.go
  cmd/kyverno/main.go
  pkg/signal/signal.go
  pkg/signal/signal_posix.go
Labels: cherry-pick-required, milestone 1.8.0

#4671 fix: namespaced policy targets validation and scoping them to the policy namespace
  api/kyverno/v1/clusterpolicy_types.go
  api/kyverno/v1/policy_types.go
  api/kyverno/v1/rule_test.go
  api/kyverno/v1/rule_types.go
  api/kyverno/v1/spec_test.go
  api/kyverno/v1/spec_types.go
  pkg/engine/loadtargets.go
Labels: cherry-pick-required, milestone 1.8.0

#4650 fix: split webhook handlers per failure policy
  pkg/webhookconfig/common.go
  pkg/webhookconfig/registration.go
  pkg/webhooks/policy/handlers.go
  pkg/webhooks/resource/fake.go
  pkg/webhooks/resource/handlers.go
  pkg/webhooks/resource/handlers_test.go
  pkg/webhooks/server.go
Labels: cherry-pick-required, milestone 1.8.0

#4680 refactor: use pod name as leader id
  charts/kyverno/templates/deployment.yaml
  cmd/initContainer/main.go
  cmd/kyverno/main.go
  config/install.yaml
  config/install_debug.yaml
  config/manifest/deployment.yaml
  pkg/leaderelection/leaderelection.go
Labels: cherry-pick-required, milestone 1.8.0

#4703 fix: missing client wrapper
  pkg/clients/wrappers/kyverno/v1/generaterequest.go
  pkg/clients/wrappers/kyverno/v1/kyverno_client.go
  pkg/clients/wrappers/kyverno/v1alpha2/kyverno_client.go
  pkg/clients/wrappers/kyverno/v1beta1/kyverno_client.go
  pkg/clients/wrappers/policyreport/v1alpha2/policyreport_client.go
Labels: cherry-pick-required, milestone 1.8.0

#4706 chore: refactor manifests related makefile targets
  Makefile
Labels: cherry-pick-required

#4718 fix: change key used in test
  pkg/engine/imageVerify_test.go
Labels: milestone 1.8.0

#4694 chore: enable overriding images repo
  .github/workflows/reuse.yaml
  Makefile
Labels: cherry-pick-required

#4693 chore: group unit and cli tests targets and separate sections
  Makefile
Labels: cherry-pick-required

#4710 Support PSa integration by `controlName` only
  api/kyverno/v1/common_types.go
  api/kyverno/v1/zz_generated.deepcopy.go
  charts/kyverno/templates/crds.yaml
  config/crds/kyverno.io_clusterpolicies.yaml
  config/crds/kyverno.io_policies.yaml
  config/install.yaml
  config/install_debug.yaml
  docs/crd/v1/index.html
  pkg/autogen/autogen_test.go
  pkg/engine/validation.go
  pkg/engine/validation_test.go
  pkg/pss/evaluate.go
  pkg/pss/evaluate_test.go
  pkg/pss/mapping.go
  pkg/pss/utils.go
  pkg/utils/util.go
  test/policy/validate/enforce-baseline-exclude-selinuxoptions.yaml
Labels: cherry-pick-required, milestone 1.8.0

#4727 fix: output make messages to stderr
  Makefile
Labels: cherry-pick-required, milestone 1.8.0

#4664 Added `x509_decode` JMESPath function
  go.mod
  pkg/engine/jmespath/functions.go
  pkg/engine/jmespath/functions_test.go
  test/cli/test/custom-functions/kyverno-test.yaml
  test/cli/test/custom-functions/policy.yaml
  test/cli/test/custom-functions/resources.yaml
  test/e2e/validate/config.go
  test/e2e/validate/resources.go
Labels: milestone 1.8.0

#4735 Add PSa policy validations
  api/kyverno/v1/common_types.go
  api/kyverno/v1/rule_test.go
  api/kyverno/v1/rule_types.go
  api/kyverno/v1/utils.go
  charts/kyverno/templates/crds.yaml
  config/crds/kyverno.io_clusterpolicies.yaml
  config/crds/kyverno.io_policies.yaml
  config/install.yaml
  config/install_debug.yaml
  pkg/pss/evaluate.go
  pkg/pss/mapping.go
  pkg/pss/utils.go
  pkg/pss/utils/mapping.go
  pkg/pss/utils/types.go
Labels: milestone 1.8.0

#4629 fix: containerd dependency vulnerability
  go.mod
  go.sum
Labels: milestone 1.8.0

#4722 fix: use a single leader election
  cmd/kyverno/main.go
Labels: cherry-pick-required, milestone 1.8.1

#4661 feat: allow users enable JSON logging with a --loggingFormat=json flag
  Makefile
  cmd/kyverno/main.go
  go.mod
  go.sum
Labels: cherry-pick-required, milestone 1.8.1

#4743 fix: reports not generated
  cmd/kyverno/main.go
Labels: cherry-pick-required, milestone 1.8.0

#4742 chore: speed up helm docs gen on mac
  Makefile
Labels: cherry-pick-required, milestone 1.8.1

#4724 feat: add typed client support and metrics wrapper
  pkg/clients/wrappers/clientset.go
  pkg/clients/wrappers/kyverno/v1/clusterpolicy.go
  pkg/clients/wrappers/kyverno/v1/generaterequest.go
  pkg/clients/wrappers/kyverno/v1/kyverno_client.go
  pkg/clients/wrappers/kyverno/v1/policy.go
  pkg/clients/wrappers/kyverno/v1alpha2/admissionreport.go
  pkg/clients/wrappers/kyverno/v1alpha2/backgroundscanreport.go
  pkg/clients/wrappers/kyverno/v1alpha2/clusteradmissionreport.go
  pkg/clients/wrappers/kyverno/v1alpha2/clusterbackgroundscanreport.go
  pkg/clients/wrappers/kyverno/v1alpha2/kyverno_client.go
  pkg/clients/wrappers/kyverno/v1beta1/kyverno_client.go
  pkg/clients/wrappers/kyverno/v1beta1/updaterequest.go
  pkg/clients/wrappers/policyreport/v1alpha2/clusterpolicyreport.go
  pkg/clients/wrappers/policyreport/v1alpha2/policyreport.go
  pkg/clients/wrappers/policyreport/v1alpha2/policyreport_client.go
  pkg/clients/wrappers/utils/metric.go
  pkg/clients/wrappers/utils/wrapper.go
  pkg/metrics/client.go
  pkg/tls/reader.go
  pkg/utils/controller/utils.go
  pkg/webhookconfig/common.go
Labels: cherry-pick-required, milestone 1.8.1

#4747 chore: use constant in cert manager controller
  pkg/controllers/certmanager/log.go
Labels: cherry-pick-required, milestone 1.8.1

#4751 fix: watch error in resource controller
  pkg/controllers/report/resource/controller.go
Labels: cherry-pick-required, milestone 1.8.0

#4750 add and use package level logger
  cmd/kyverno/main.go
  pkg/logging/log.go
Labels: cherry-pick-required, milestone 1.8.1

#4745 fix: helm self signed cert
  charts/kyverno/Chart.yaml
  charts/kyverno/templates/secret.yaml
Labels: cherry-pick-required, milestone 1.8.1

#4754 refactor: split main in a couple of funcs and use local loggers
  cmd/kyverno/main.go
  pkg/logging/log.go
Labels: cherry-pick-required, milestone 1.8.1

#4752 refactor: move from io/ioutil to io and os packages
  cmd/cli/kubectl-kyverno/jp/jp_command.go
  cmd/cli/kubectl-kyverno/test/test_command.go
  cmd/cli/kubectl-kyverno/utils/common/common.go
  cmd/cli/kubectl-kyverno/utils/common/fetch.go
  pkg/autogen/autogen_test.go
  pkg/config/config_test.go
  pkg/registryclient/client.go
  pkg/testrunner/scenario.go
  pkg/testrunner/scenario_test.go
  pkg/testrunner/utils.go
  pkg/webhooks/handlers/admission.go
Labels: cherry-pick-required, milestone 1.8.1

#4756 refactor: use context in dynamic client instead of chan
  Makefile
  cmd/cli/kubectl-kyverno/apply/apply_command.go
  cmd/initContainer/main.go
  cmd/kyverno/main.go
  pkg/clients/dclient/client.go
  pkg/clients/dclient/discovery.go
Labels: cherry-pick-required, milestone 1.8.1

#4760 refactor: use context in openapi controller
  cmd/kyverno/main.go
  pkg/openapi/crdSync.go
  pkg/policy/validate.go
Labels: cherry-pick-required, milestone 1.8.1

#4765 refactor: make server owner of the cleanup chan
  cmd/kyverno/main.go
  pkg/webhooks/server.go
Labels: cherry-pick-required, milestone 1.8.1
