Repository kyverno/kyverno, pull requests merged in 2022-12, with the labels that each got.

#5514 fix: cleanup policy validation
  cmd/cleanup-controller/handlers.go
  cmd/cleanup-controller/validate/validate.go
  pkg/validation/cleanuppolicy/validate.go
Labels: milestone 1.9.0

#5517 feat(policies chart): Add ability to set autogen behavior
  charts/kyverno-policies/Chart.yaml
  charts/kyverno-policies/README.md
  charts/kyverno-policies/ci/test-autogen-none-values.yaml
  charts/kyverno-policies/templates/baseline/disallow-capabilities.yaml
  charts/kyverno-policies/templates/baseline/disallow-host-namespaces.yaml
  charts/kyverno-policies/templates/baseline/disallow-host-path.yaml
  charts/kyverno-policies/templates/baseline/disallow-host-ports.yaml
  charts/kyverno-policies/templates/baseline/disallow-host-process.yaml
  charts/kyverno-policies/templates/baseline/disallow-privileged-containers.yaml
  charts/kyverno-policies/templates/baseline/disallow-proc-mount.yaml
  charts/kyverno-policies/templates/baseline/disallow-selinux.yaml
  charts/kyverno-policies/templates/baseline/restrict-apparmor-profiles.yaml
  charts/kyverno-policies/templates/baseline/restrict-seccomp.yaml
  charts/kyverno-policies/templates/baseline/restrict-sysctls.yaml
  charts/kyverno-policies/templates/other/require-non-root-groups.yaml
  charts/kyverno-policies/templates/restricted/disallow-capabilities-strict.yaml
  charts/kyverno-policies/templates/restricted/disallow-privilege-escalation.yaml
  charts/kyverno-policies/templates/restricted/require-run-as-non-root-user.yaml
  charts/kyverno-policies/templates/restricted/require-run-as-nonroot.yaml
  charts/kyverno-policies/templates/restricted/restrict-seccomp-strict.yaml
  charts/kyverno-policies/templates/restricted/restrict-volume-types.yaml
  charts/kyverno-policies/values.yaml
Labels: cherry-pick-required, milestone 1.8.3

#5518 feat: Add default CI test values for helm charts
  charts/kyverno-policies/ci/default-vaules.yaml
  charts/kyverno/ci/default-vaules.yaml
Labels: cherry-pick-required, milestone 1.8.3

#5525 fix: bug in report resource watcher
  pkg/controllers/report/resource/controller.go
Labels: cherry-pick-required, milestone 1.8.3

#5513 configure opentelemetry logger
  cmd/internal/metrics.go
Labels: milestone 1.9.0

#5523 refactor: make policy context immutable and fields private
  cmd/cli/kubectl-kyverno/utils/common/common.go
  pkg/background/common/context.go
  pkg/background/generate/generate.go
  pkg/controllers/report/utils/scanner.go
  pkg/cosign/client.go
  pkg/engine/background.go
  pkg/engine/generation.go
  pkg/engine/imageVerify.go
  pkg/engine/imageVerifyValidate.go
  pkg/engine/imageVerify_test.go
  pkg/engine/jsonContext.go
  pkg/engine/k8smanifest.go
  pkg/engine/k8smanifest_test.go
  pkg/engine/loadtargets.go
  pkg/engine/mutation.go
  pkg/engine/mutation_test.go
  pkg/engine/policyContext.go
  pkg/engine/utils.go
  pkg/engine/validation.go
  pkg/engine/validation_test.go
  pkg/policy/apply.go
  pkg/testrunner/scenario.go
  pkg/webhooks/resource/generation/generation.go
  pkg/webhooks/resource/handlers.go
  pkg/webhooks/resource/imageverification/handler.go
  pkg/webhooks/resource/mutation/mutation.go
  pkg/webhooks/resource/updaterequest.go
  pkg/webhooks/resource/validation/validation.go
  pkg/webhooks/resource/validation_test.go
  pkg/webhooks/utils/policy_context_builder.go
Labels: milestone 1.9.0

#5531 chore: enable dependabot
  .github/dependabot.yaml
Labels: milestone 1.9.0

#5530 Bump SLSA GitHub generator to 1.4.0
  .github/workflows/image.yaml
Labels: milestone 1.9.0

#5484 issue-4613: Add support for cache enhancements with informers
  cmd/kyverno/main.go
  pkg/engine/context/resolvers/constants.go
  pkg/engine/context/resolvers/resolvers.go
  pkg/engine/context/resolvers/resolvers_test.go
  pkg/engine/context/resolvers/types.go
  pkg/engine/context/resolvers/utils.go
  pkg/engine/context/resolvers/utils_test.go
  pkg/engine/imageVerify_test.go
  pkg/engine/jsonContext.go
  pkg/engine/policyContext.go
  pkg/webhooks/resource/fake.go
  pkg/webhooks/resource/handlers.go
  pkg/webhooks/utils/policy_context_builder.go
Labels: doc required, milestone 1.9.0

#4502 To support gitURLs for "apply" command
  cmd/cli/kubectl-kyverno/apply/apply_command.go
  cmd/cli/kubectl-kyverno/apply/apply_command_test.go
  cmd/cli/kubectl-kyverno/test/git.go
  cmd/cli/kubectl-kyverno/test/test_command.go
  cmd/cli/kubectl-kyverno/utils/common/common.go
  cmd/cli/kubectl-kyverno/utils/common/common_test.go
Labels: doc required, milestone 1.9.0

#3612 Kyverno CLI: added method to detect duplicate resource in kyverno test
  cmd/cli/kubectl-kyverno/test/test_command.go
Labels: doc required, milestone 1.9.0

#5552 refactor: cli jp command
  cmd/cli/kubectl-kyverno/jp/jp_command.go
Labels: milestone 1.9.0

#5550 refactor: cli test command
  cmd/cli/kubectl-kyverno/apply/apply_command.go
  cmd/cli/kubectl-kyverno/test/api/types.go
  cmd/cli/kubectl-kyverno/test/manifest/mutate.go
  cmd/cli/kubectl-kyverno/test/manifest/print.go
  cmd/cli/kubectl-kyverno/test/manifest/validate.go
  cmd/cli/kubectl-kyverno/test/test_command.go
  pkg/utils/git/git.go
  pkg/utils/git/predicate.go
Labels: milestone 1.9.0

#5544 refactor: jmespath arithmetic operations
  pkg/engine/jmespath/arithmetic.go
  pkg/engine/jmespath/functions_test.go
Labels: doc required, milestone 1.9.0

#5567 chore: disable dependabot auto rebase
  .github/dependabot.yaml
Labels: milestone 1.9.0

#5580 feat: add cleanup controller BYOSA and RBAC extensions
  charts/kyverno/README.md
  charts/kyverno/templates/cleanup-controller/_helpers.tpl
  charts/kyverno/templates/cleanup-controller/clusterrole.yaml
  charts/kyverno/templates/cleanup-controller/clusterrolebinding.yaml
  charts/kyverno/templates/cleanup-controller/deployment.yaml
  charts/kyverno/templates/cleanup-controller/role.yaml
  charts/kyverno/templates/cleanup-controller/rolebinding.yaml
  charts/kyverno/templates/cleanup-controller/serviceaccount.yaml
  charts/kyverno/templates/role.yaml
  charts/kyverno/templates/rolebinding.yaml
  charts/kyverno/values.yaml
Labels: milestone 1.9.0

#5577 adding --warn-exit-code flag
  cmd/cli/kubectl-kyverno/apply/apply_command.go
Labels: doc required, milestone 1.9.0

#5591 fix: replace + symbol with _ symbol on the Chart.Version field
  charts/kyverno/templates/_helpers.tpl
Labels: milestone 1.9.0

#5557 Delete category all from CRDs
  api/kyverno/v1/clusterpolicy_types.go
  api/kyverno/v1alpha1/cleanup_policy_types.go
  api/kyverno/v1alpha2/admission_report_types.go
  api/kyverno/v1alpha2/background_scan_report_types.go
  api/kyverno/v1beta1/updaterequest_types.go
  api/kyverno/v2beta1/clusterpolicy_types.go
  charts/kyverno/templates/crds.yaml
  config/crds/kyverno.io_admissionreports.yaml
  config/crds/kyverno.io_backgroundscanreports.yaml
  config/crds/kyverno.io_cleanuppolicies.yaml
  config/crds/kyverno.io_clusteradmissionreports.yaml
  config/crds/kyverno.io_clusterbackgroundscanreports.yaml
  config/crds/kyverno.io_clustercleanuppolicies.yaml
  config/crds/kyverno.io_clusterpolicies.yaml
  config/crds/kyverno.io_updaterequests.yaml
Labels: milestone 1.9.0

#5593 chore: bump a couple of deps
  go.mod
  go.sum
Labels: milestone 1.9.0

#5590 Fix: handling unexpected global-anchor-variable for the apply command
  pkg/engine/mutate/patch/strategicPreprocessing.go
  pkg/engine/mutate/patch/strategicPreprocessing_test.go
  test/cli/test-mutate/global-anchor/kyverno-test.yaml
  test/cli/test-mutate/global-anchor/patchedResource.yaml
  test/cli/test-mutate/global-anchor/patchedResourceWithVolume.yaml
  test/cli/test-mutate/global-anchor/policy.yaml
  test/cli/test-mutate/global-anchor/resources.yaml
Labels: milestone 1.9.0

#5576 feat: add cleanup handler
  Makefile
  charts/kyverno/README.md
  charts/kyverno/templates/cleanup-controller/clusterrole.yaml
  charts/kyverno/templates/cleanup-controller/deployment.yaml
  charts/kyverno/values.yaml
  cmd/cleanup-controller/handlers/admission/handlers.go
  cmd/cleanup-controller/handlers/cleanup/handlers.go
  cmd/cleanup-controller/main.go
  cmd/cleanup-controller/server.go
  pkg/controllers/cleanup/controller.go
  pkg/controllers/cleanup/utils.go
  pkg/controllers/report/aggregate/controller.go
  pkg/utils/controller/metadata.go
  pkg/utils/controller/selector.go
  scripts/kyverno.yaml
Labels: milestone 1.9.0

#5610 chore: bump a couple of deps
  go.mod
  go.sum
Labels: milestone 1.9.0

#5609 refactor: improve color and table printer management in cli test command
  cmd/cli/kubectl-kyverno/test/output.go
  cmd/cli/kubectl-kyverno/test/test_command.go
Labels: milestone 1.9.0

#5594 use helm values for CRD labels
  Makefile
  charts/kyverno/Chart.yaml
  charts/kyverno/templates/crds.yaml
  config/templates/helm-labels.yaml.envsubst
Labels: milestone 1.9.0

#5596 refactor: registry client
  cmd/cli/kubectl-kyverno/utils/common/common.go
  cmd/cli/kubectl-kyverno/utils/store/store.go
  cmd/kyverno/main.go
  pkg/background/generate/generate.go
  pkg/background/mutate/mutate.go
  pkg/background/update_request_controller.go
  pkg/controllers/report/background/controller.go
  pkg/controllers/report/utils/scanner.go
  pkg/cosign/cosign.go
  pkg/cosign/cosign_test.go
  pkg/engine/background.go
  pkg/engine/generation.go
  pkg/engine/imageVerify.go
  pkg/engine/imageVerifyValidate.go
  pkg/engine/imageVerify_test.go
  pkg/engine/jsonContext.go
  pkg/engine/mutation.go
  pkg/engine/mutation_test.go
  pkg/engine/validation.go
  pkg/engine/validation_test.go
  pkg/policy/apply.go
  pkg/policy/existing.go
  pkg/policy/policy_controller.go
  pkg/policy/updaterequest.go
  pkg/registryclient/client.go
  pkg/registryclient/client_test.go
  pkg/registryclient/utils.go
  pkg/testrunner/scenario.go
  pkg/webhooks/resource/generation/generation.go
  pkg/webhooks/resource/handlers.go
  pkg/webhooks/resource/imageverification/handler.go
  pkg/webhooks/resource/mutation/mutation.go
  pkg/webhooks/resource/updaterequest.go
  pkg/webhooks/resource/validation/validation.go
  pkg/webhooks/resource/validation_test.go
Labels: milestone 1.9.0

#5608 fix: mutation of cached object in bg scan controller
  pkg/controllers/report/background/controller.go
Labels: cherry-pick-required, milestone 1.8.4

#5619 fix: Panic on nil error
  pkg/background/mutate/mutate.go
Labels: cherry-pick-required, milestone 1.8.4

#5614 feat: implement cleanup policy matching
  api/kyverno/v1/common_types.go
  api/kyverno/v1/resource_description_types.go
  api/kyverno/v1/user_info_types.go
  api/kyverno/v1alpha1/cleanup_policy_test.go
  api/kyverno/v1alpha1/cleanup_policy_types.go
  api/kyverno/v1alpha1/zz_generated.deepcopy.go
  charts/kyverno/templates/crds.yaml
  cmd/cleanup-controller/handlers/cleanup/handlers.go
  cmd/cleanup-controller/handlers/cleanup/match.go
  cmd/cleanup-controller/main.go
  config/crds/kyverno.io_cleanuppolicies.yaml
  config/crds/kyverno.io_clustercleanuppolicies.yaml
  config/install.yaml
  config/install_debug.yaml
  docs/user/crd/index.html
Labels: milestone 1.9.0

#5624 fix: don't create orphan spans in instrumented clients
  hack/main.go
  pkg/clients/kube/corev1/events/resource.generated.go
  pkg/clients/kube/corev1/pods/resource.generated.go
  pkg/clients/kube/corev1/services/resource.generated.go
  pkg/clients/kube/discovery/resource.generated.go
  pkg/clients/kube/eventsv1beta1/events/resource.generated.go
  pkg/clients/kyverno/discovery/resource.generated.go
Labels: milestone 1.9.0

#5622 fix: registry client not propagated correctly
  pkg/engine/imageVerify.go
  pkg/engine/jsonContext.go
  pkg/webhooks/resource/fake.go
  pkg/webhooks/resource/handlers.go
  pkg/webhooks/resource/imageverification/handler.go
Labels: milestone 1.9.0

#5605 Add api docs
  docs/dev/api/README.md
Labels: milestone 1.9.0

#5629 fix: setup tracing and minor cleanup in tracing and metrics code
  cmd/internal/metrics.go
  cmd/internal/setup.go
  cmd/internal/tracing.go
  pkg/config/config.go
  pkg/config/metricsconfig.go
  pkg/config/rbac.go
  pkg/config/types.go
  pkg/config/webhook.go
  pkg/metrics/metrics.go
  pkg/tracing/tracing.go
  pkg/webhooks/handlers/metrics.go
Labels: milestone 1.9.0

#5626 feat: add conditions matching to cleanup controller
  api/kyverno/v2beta1/common_types.go
  charts/kyverno/templates/cleanup-controller/clusterrole.yaml
  cmd/cleanup-controller/handlers/cleanup/condition.go
  cmd/cleanup-controller/handlers/cleanup/condition_test.go
  cmd/cleanup-controller/handlers/cleanup/handlers.go
  pkg/engine/variables/vars.go
Labels: milestone 1.9.0

#5639 feat: propagate context through engine
  cmd/cli/kubectl-kyverno/utils/common/common.go
  cmd/kyverno/main.go
  pkg/background/generate/generate.go
  pkg/background/mutate/mutate.go
  pkg/controllers/report/background/controller.go
  pkg/controllers/report/utils/scanner.go
  pkg/cosign/cosign.go
  pkg/cosign/cosign_test.go
  pkg/engine/background.go
  pkg/engine/imageVerify.go
  pkg/engine/imageVerifyValidate.go
  pkg/engine/imageVerify_test.go
  pkg/engine/jsonContext.go
  pkg/engine/mutation.go
  pkg/engine/mutation_test.go
  pkg/engine/validation.go
  pkg/engine/validation_test.go
  pkg/policy/apply.go
  pkg/testrunner/scenario.go
  pkg/webhooks/resource/generation/generation.go
  pkg/webhooks/resource/generation/utils.go
  pkg/webhooks/resource/handlers.go
  pkg/webhooks/resource/imageverification/handler.go
  pkg/webhooks/resource/mutation/mutation.go
  pkg/webhooks/resource/updaterequest.go
  pkg/webhooks/resource/utils.go
  pkg/webhooks/resource/validation/validation.go
  pkg/webhooks/resource/validation_test.go
  pkg/webhooks/updaterequest/fake.go
  pkg/webhooks/updaterequest/generator.go
Labels: milestone 1.9.0

#5640 fix: Improve helm-test workflow
  .github/workflows/helm-test.yaml
Labels: milestone 1.9.0

#5628 feat: improve cleanup policies controller and chart
  charts/kyverno/README.md
  charts/kyverno/templates/_helpers.tpl
  charts/kyverno/templates/cleanup-controller/_helpers.tpl
  charts/kyverno/templates/cleanup-controller/deployment.yaml
  charts/kyverno/templates/cleanup-controller/poddisruptionbudget.yaml
  charts/kyverno/templates/poddisruptionbudget.yaml
  charts/kyverno/values.yaml
  cmd/cleanup-controller/main.go
  cmd/cleanup-controller/server.go
  pkg/webhooks/handlers/metrics.go
Labels: milestone 1.9.0

#5646 fix: missing permission in cleanup controller role
  .github/workflows/conformance.yaml
  charts/kyverno/templates/cleanup-controller/role.yaml
Labels: milestone 1.9.0

#5645 fix: grafana dashboard
  charts/kyverno/grafana/dashboard.json
  pkg/utils/controller/run.go
  pkg/webhooks/handlers/metrics.go
Labels: milestone 1.9.0

#5647 feat: add dev config with support for prom loki and tempo
  Makefile
  scripts/config/dev/kube-prometheus-stack.yaml
  scripts/config/dev/kyverno-policies.yaml
  scripts/config/dev/kyverno.yaml
  scripts/config/dev/loki-stack.yaml
  scripts/config/dev/metrics-server.yaml
  scripts/config/dev/tempo-datasource.yaml
  scripts/config/dev/tempo.yaml
  scripts/config/kind.yaml
  scripts/config/standard/kyverno-policies.yaml
  scripts/config/standard/kyverno.yaml
  scripts/config/standard/policy-reporter.yaml
Labels: milestone 1.9.0

#5589 Nested foreach
  .vscode/launch.json
  api/kyverno/v1/common_types.go
  api/kyverno/v1/zz_generated.deepcopy.go
  charts/kyverno/templates/crds.yaml
  cmd/cli/kubectl-kyverno/apply/apply_command_test.go
  config/crds/kyverno.io_clusterpolicies.yaml
  config/crds/kyverno.io_policies.yaml
  config/install.yaml
  config/install_debug.yaml
  docs/user/crd/index.html
  pkg/client/clientset/versioned/fake/register.go
  pkg/client/clientset/versioned/scheme/register.go
  pkg/engine/attestation_test.go
  pkg/engine/context/context.go
  pkg/engine/context/context_test.go
  pkg/engine/forceMutate.go
  pkg/engine/imageVerify_test.go
  pkg/engine/jmespath/functions_test.go
  pkg/engine/mutate/mutation.go
  pkg/engine/mutate/mutation_test.go
  pkg/engine/mutate/patch/patchJSON6902_test.go
  pkg/engine/mutate/patch/patchesUtils_test.go
  pkg/engine/mutation.go
  pkg/engine/mutation_test.go
  pkg/engine/policyContext.go
  pkg/engine/utils.go
  pkg/engine/utils_test.go
  pkg/engine/validate/validate_test.go
  pkg/engine/validation.go
  pkg/engine/validation_test.go
  pkg/engine/variables/variables_test.go
  pkg/engine/variables/vars.go
  pkg/engine/variables/vars_test.go
  pkg/engine/wildcards/wildcards_test.go
  pkg/openapi/manager_test.go
  pkg/policy/background.go
  pkg/policy/mutate/validate.go
  pkg/utils/api/json.go
Labels: milestone 1.9.0

#5653 feat: add metrics service and service monitor to cleanup controller
  .github/workflows/conformance.yaml
  .github/workflows/e2e.yaml
  charts/kyverno/README.md
  charts/kyverno/templates/cleanup-controller/_helpers.tpl
  charts/kyverno/templates/cleanup-controller/clusterrole.yaml
  charts/kyverno/templates/cleanup-controller/clusterrolebinding.yaml
  charts/kyverno/templates/cleanup-controller/deployment.yaml
  charts/kyverno/templates/cleanup-controller/poddisruptionbudget.yaml
  charts/kyverno/templates/cleanup-controller/role.yaml
  charts/kyverno/templates/cleanup-controller/rolebinding.yaml
  charts/kyverno/templates/cleanup-controller/secret.yaml
  charts/kyverno/templates/cleanup-controller/service.yaml
  charts/kyverno/templates/cleanup-controller/servicemonitor.yaml
  charts/kyverno/values.yaml
  cmd/cleanup-controller/handlers/cleanup/condition.go
  cmd/cleanup-controller/main.go
  scripts/config/dev/kyverno.yaml
Labels: milestone 1.9.0

#5463 feat: add engine traces
  charts/kyverno/templates/grafana/dashboard.yaml
  go.mod
  go.sum
  pkg/cosign/cosign.go
  pkg/engine/imageVerify.go
  pkg/engine/mutation.go
  pkg/engine/validation.go
  pkg/webhooks/resource/imageverification/handler.go
  pkg/webhooks/resource/mutation/mutation.go
  pkg/webhooks/resource/validation/validation.go
  pkg/webhooks/resource/validation_test.go
Labels: doc required, milestone 1.9.0

#5636 fix AllNotIn operator
  pkg/engine/variables/evaluate_test.go
  pkg/engine/variables/operator/allin.go
  pkg/engine/variables/operator/allnotin_test.go
Labels: milestone 1.9.0

#5671 feat: add certs controller to cleanup policies
  charts/kyverno/README.md
  charts/kyverno/templates/cleanup-controller/clusterrole.yaml
  charts/kyverno/templates/cleanup-controller/role.yaml
  charts/kyverno/templates/cleanup-controller/secret.yaml
  charts/kyverno/templates/secret.yaml
  charts/kyverno/values.yaml
  cmd/cleanup-controller/controller.go
  cmd/cleanup-controller/main.go
Labels: milestone 1.9.0

#5678 fix: case where deny message is not a string
  pkg/engine/validation.go
Labels: milestone 1.9.0

#5681 chore: rename exclude into match in policy exception
  api/kyverno/v2alpha1/exception_type.go
  api/kyverno/v2alpha1/zz_generated.deepcopy.go
  charts/kyverno/templates/crds.yaml
  config/crds/kyverno.io_policyexceptions.yaml
  config/install.yaml
  config/install_debug.yaml
  docs/user/crd/index.html
Labels: milestone 1.9.0

#5682 chore: remove secrets client from webhook controller
  cmd/kyverno/main.go
  pkg/controllers/webhook/controller.go
Labels: milestone 1.9.0

#5686 chore: remove deprecated flag splitPolicyReport
  CHANGELOG.md
  cmd/kyverno/main.go
Labels: doc required, milestone 1.9.0

#5687 fix: bump log level for autogen debug logs
  pkg/autogen/autogen.go
  pkg/autogen/log.go
  pkg/autogen/rule.go
Labels: milestone 1.9.0

#5688 chore: bump a couple of deps
  go.mod
  go.sum
Labels: milestone 1.9.0

#5679 feat: add policy exception validation webhook
  api/kyverno/v2alpha1/policy_exception_types.go
  cmd/kyverno/main.go
  pkg/config/config.go
  pkg/controllers/generic/webhook/controller.go
  pkg/utils/admission/exception.go
  pkg/validation/exception/validate.go
  pkg/webhooks/exception/validate.go
  pkg/webhooks/server.go
Labels: milestone 1.9.0

#5697 fix: exception validation follow up
  api/kyverno/v2alpha1/policy_exception_types.go
  cmd/kyverno/main.go
  pkg/webhooks/exception/validate.go
  pkg/webhooks/server.go
Labels: milestone 1.9.0

#5701 fix info kind error
  pkg/webhooks/handlers/admission.go
  pkg/webhooks/resource/validation/validation.go
Labels: milestone 1.9.0

#5677 fix: block policy admission if kyverno is down
  pkg/controllers/webhook/controller.go
Labels: milestone 1.9.0

#5680 feat: Implement PolicyException
  api/kyverno/v2alpha1/policy_exception_types.go
  cmd/cleanup-controller/handlers/cleanup/handlers.go
  cmd/kyverno/main.go
  pkg/engine/policyContext.go
  pkg/engine/validation.go
  pkg/utils/match/match.go
  pkg/webhooks/resource/fake.go
  pkg/webhooks/resource/handlers.go
  pkg/webhooks/utils/policy_context_builder.go
Labels: milestone 1.9.0

#5705 fix: Initializes configmap resolver in background components
  cmd/kyverno/main.go
  pkg/background/common/context.go
  pkg/background/generate/generate.go
  pkg/background/mutate/mutate.go
  pkg/background/update_request_controller.go
  pkg/controllers/report/background/controller.go
  pkg/controllers/report/utils/scanner.go
  pkg/policy/apply.go
  pkg/policy/existing.go
  pkg/policy/policy_controller.go
  pkg/policy/updaterequest.go
Labels: milestone 1.9.0

#5668 fix: allow policies from stdin in apply again
  cmd/cli/kubectl-kyverno/apply/.gitignore
  cmd/cli/kubectl-kyverno/apply/apply_command.go
  cmd/cli/kubectl-kyverno/apply/apply_command_test.go
  test/openshift/team-validate-ns-name.yaml
Labels: milestone 1.9.0

#5707 feat: add kuttl tests for #5704
  test/conformance/kuttl/validate/clusterpolicy/standard/audit/configmap-context-lookup/01-assert.yaml
  test/conformance/kuttl/validate/clusterpolicy/standard/audit/configmap-context-lookup/01-manifests.yaml
  test/conformance/kuttl/validate/clusterpolicy/standard/audit/configmap-context-lookup/02-assert.yaml
  test/conformance/kuttl/validate/clusterpolicy/standard/audit/configmap-context-lookup/02-goodpod.yaml
  test/conformance/kuttl/validate/clusterpolicy/standard/audit/configmap-context-lookup/03-assert.yaml
  test/conformance/kuttl/validate/clusterpolicy/standard/audit/configmap-context-lookup/99-cleanup.yaml
  test/conformance/kuttl/validate/clusterpolicy/standard/audit/configmap-context-lookup/README.md
  test/conformance/kuttl/verifyImages/clusterpolicy/standard/configmap-context-lookup/01-assert.yaml
  test/conformance/kuttl/verifyImages/clusterpolicy/standard/configmap-context-lookup/01-manifests.yaml
  test/conformance/kuttl/verifyImages/clusterpolicy/standard/configmap-context-lookup/99-cleanup.yaml
  test/conformance/kuttl/verifyImages/clusterpolicy/standard/configmap-context-lookup/README.md
Labels: milestone 1.9.0

#5710 fix: missing assignment in configmap resolver
  pkg/policy/policy_controller.go
Labels: milestone 1.9.0

#5708 fix: interface conversion panic
  pkg/utils/controller/handlers.go
Labels: cherry-pick-required, milestone 1.8.5

#5715 fix: logger panic
  pkg/engine/imageVerify.go
Labels: cherry-pick-required, milestone 1.8.5

#5713 Require predicate type
  api/kyverno/v1/image_verification_types.go
  charts/kyverno/templates/crds.yaml
  config/crds/kyverno.io_clusterpolicies.yaml
  config/crds/kyverno.io_policies.yaml
  config/install.yaml
  config/install_debug.yaml
  docs/user/crd/index.html
  pkg/engine/imageVerify.go
Labels: cherry-pick-required, milestone 1.8.5

#5691 refactor: supress usage of kustomize in build
  .github/workflows/e2e.yaml
  .github/workflows/release.yaml
  .gitignore
  Makefile
  charts/kyverno/templates/_helpers.tpl
  charts/kyverno/templates/aggregateroles.yaml
  charts/kyverno/templates/cleanup-controller/_helpers.tpl
  charts/kyverno/templates/cleanup-controller/deployment.yaml
  charts/kyverno/templates/clusterrole.yaml
  charts/kyverno/templates/clusterrolebinding.yaml
  charts/kyverno/templates/configmap.yaml
  charts/kyverno/templates/crds.yaml
  charts/kyverno/templates/deployment.yaml
  charts/kyverno/templates/helm-pre-delete-hook.yaml
  charts/kyverno/templates/imagepullsecret.yaml
  charts/kyverno/templates/metricsconfigmap.yaml
  charts/kyverno/templates/namespace.yaml
  charts/kyverno/templates/networkpolicy.yaml
  charts/kyverno/templates/poddisruptionbudget.yaml
  charts/kyverno/templates/role.yaml
  charts/kyverno/templates/rolebinding.yaml
  charts/kyverno/templates/secret.yaml
  charts/kyverno/templates/service.yaml
  charts/kyverno/templates/serviceaccount.yaml
  charts/kyverno/templates/servicemonitor.yaml
  charts/kyverno/values.yaml
  config/bundle/kustomization.yaml
  config/bundle/labels.yaml
  config/bundle/namespace.yaml
  config/crds/kustomization.yaml
  config/debug/kustomization.yaml
  config/debug/labels.yaml
  config/debug/namespace.yaml
  config/dryrun/dryrun_config.yaml
  config/e2e/rbac.yaml
  config/install.yaml
  config/install_debug.yaml
  config/k8s-resource/aggregateroles.yaml
  config/k8s-resource/clusterrolebindings.yaml
  config/k8s-resource/clusterroles.yaml
  config/k8s-resource/configmap.yaml
  config/k8s-resource/kustomization.yaml
  config/k8s-resource/metricsconfigmap.yaml
  config/k8s-resource/poddisruptionbudget.yaml
  config/k8s-resource/rolebindings.yaml
  config/k8s-resource/roles.yaml
  config/k8s-resource/service.yaml
  config/k8s-resource/serviceaccount.yaml
  config/kustomization.yaml
  config/labels.yaml
  config/manifest/deployment.yaml
  config/manifest/kustomization.yaml
  config/templates/helm-labels.yaml.envsubst
  config/templates/kustomization.yaml.envsubst
  config/templates/labels.yaml.envsubst
  pkg/policy/generate/validate.go
  test/conformance/kuttl/mutate/clusterpolicy/standard/existing/mutate-existing-node-status/01-manifests.yaml
  test/e2e/generate/resources.go
Labels: milestone 1.9.0

#5721 fix: add back install.yaml manifest
  Makefile
  config/install.yaml
Labels: milestone 1.9.0

#5728 Bump Go 1.19.4
  .github/workflows/cli.yaml
  .github/workflows/codecov.yaml
  .github/workflows/conformance.yaml
  .github/workflows/e2e.yaml
  .github/workflows/fossa.yml
  .github/workflows/image-build.yaml
  .github/workflows/release.yaml
  .github/workflows/reuse.yaml
  .github/workflows/tests.yaml
  .github/workflows/verify-codegen.yaml
Labels: milestone 1.9.0

#5729 fix: add rule type "ImageVerify"
  pkg/metrics/parsers.go
Labels: milestone 1.9.0

#5727 feat: force background scan regularly
  CHANGELOG.md
  cmd/kyverno/main.go
  pkg/controllers/report/background/controller.go
  pkg/controllers/report/utils/utils.go
Labels: milestone 1.9.0

#5731 fix: remove all category from all our CRDs
  api/kyverno/v1/policy_types.go
  api/kyverno/v2beta1/policy_types.go
  charts/kyverno/templates/crds.yaml
  config/crds/kyverno.io_policies.yaml
  config/install.yaml
Labels: milestone 1.9.0

#5712 feat: add exception logic
  pkg/engine/background.go
  pkg/engine/imageVerify.go
  pkg/engine/mutation.go
  pkg/engine/validation.go
Labels: milestone 1.9.0

#5732 chore: update k8s versions test grid
  .github/workflows/e2e.yaml
  Makefile
Labels: milestone 1.9.0

#5566 refactor: split CLI jp command
  cmd/cli/kubectl-kyverno/jp/function/function.go
  cmd/cli/kubectl-kyverno/jp/jp.go
  cmd/cli/kubectl-kyverno/jp/jp_command.go
  cmd/cli/kubectl-kyverno/jp/parse/parse.go
  cmd/cli/kubectl-kyverno/jp/query/query.go
Labels: doc required, milestone 1.9.0

#5122 Allows {{image}} var to be used in policies
  pkg/policy/validate.go
Labels: milestone 1.9.0

#5733 feat: run conformance tests with different k8s versions
  .github/workflows/conformance.yaml
Labels: milestone 1.9.0

#5735 feat: generate SLSA provenance on releases
  .github/workflows/image.yaml
  .github/workflows/release.yaml
Labels: milestone 1.9.0

#5737 chore: build cleanup controller image
  .github/workflows/image-build.yaml
  .github/workflows/image.yaml
  .github/workflows/release.yaml
  .github/workflows/reuse.yaml
Labels: milestone 1.9.0

#5739 fix: cleanup controller image build
  .github/workflows/reuse.yaml
  Makefile
Labels: milestone 1.9.0

#5740 chore: remove autogen internals tests
  .github/workflows/tests.yaml
Labels: milestone 1.9.0

#5742 chore: remove e2e tests
  .github/workflows/e2e.yaml
  Makefile
  litmuschaos/pod_cpu_hog/pod_cpu_hog_test.go
  litmuschaos/pod_cpu_hog/utils.go
  test/e2e/common/common.go
  test/e2e/framework/client/client.go
  test/e2e/framework/framework.go
  test/e2e/framework/gvr/gvr.go
  test/e2e/framework/id/clustered.go
  test/e2e/framework/id/id.go
  test/e2e/framework/resource/clustered.go
  test/e2e/framework/resource/namespaced.go
  test/e2e/framework/resource/resource.go
  test/e2e/framework/step/by.go
  test/e2e/framework/step/expect.go
  test/e2e/framework/step/policy.go
  test/e2e/framework/step/step.go
  test/e2e/framework/utils/named.go
  test/e2e/generate/config.go
  test/e2e/generate/generate_test.go
  test/e2e/generate/helpers.go
  test/e2e/generate/resources.go
  test/e2e/metrics/metrics_test.go
  test/e2e/mutate/config.go
  test/e2e/mutate/mutate_test.go
  test/e2e/mutate/resources.go
  test/e2e/validate/config.go
  test/e2e/validate/resources.go
  test/e2e/validate/validate_test.go
  test/e2e/verifyimages/config.go
  test/e2e/verifyimages/resources.go
  test/e2e/verifyimages/verifyimages_test.go
Labels: milestone 1.9.0

#5746 refactor: remove a couple of old util funcs
  pkg/policy/apply.go
  pkg/policy/common.go
  pkg/policy/policy_controller.go
  pkg/policycache/store.go
Labels: milestone 1.9.0

#5743 refactor: use typed client in auth
  pkg/auth/auth.go
  pkg/auth/auth_test.go
  pkg/clients/dclient/client.go
  pkg/engine/k8smanifest.go
  pkg/policy/generate/auth.go
  pkg/validation/cleanuppolicy/validate.go
Labels: milestone 1.9.0

#5750 refactor: remove common package
  pkg/background/common/resource.go
  pkg/background/generate/generate.go
  pkg/background/update_request_controller.go
  pkg/common/common.go
  pkg/controllers/certmanager/controller.go
  pkg/policy/existing.go
  pkg/tls/renewer.go
  pkg/utils/engine/labels.go
  pkg/utils/retry/retry.go
  pkg/webhooks/resource/generation/generation.go
  pkg/webhooks/resource/handlers.go
  pkg/webhooks/resource/mutation/mutation.go
Labels: milestone 1.9.0

#5749 refactor: auth package and add full unit test coverage
  pkg/auth/auth.go
  pkg/auth/auth_test.go
  pkg/engine/k8smanifest.go
  pkg/policy/generate/auth.go
  pkg/validation/cleanuppolicy/validate.go
Labels: milestone 1.9.0

#5752 test: add unit test for GetResourceName util
  pkg/utils/admission/utils_test.go
Labels: milestone 1.9.0

#5756 refactor: cleanup controller validating webhook
  cmd/cleanup-controller/controller.go
  cmd/cleanup-controller/main.go
  cmd/cleanup-controller/server.go
  pkg/config/config.go
Labels: milestone 1.9.0

#5754 refactor: move util funcs in sub packages
  cmd/initContainer/main.go
  cmd/kyverno/main.go
  pkg/background/generate/generate.go
  pkg/cosign/cosign.go
  pkg/engine/jsonutils/traverse.go
  pkg/engine/mutate/mutation.go
  pkg/engine/utils.go
  pkg/engine/validation.go
  pkg/policy/common.go
  pkg/policy/validate.go
  pkg/policycache/cache.go
  pkg/pss/evaluate.go
  pkg/userinfo/roleRef.go
  pkg/utils/data/data.go
  pkg/utils/data/data_test.go
  pkg/utils/kube/crd.go
  pkg/utils/kube/version.go
  pkg/utils/kube/version_test.go
  pkg/utils/util.go
  pkg/utils/util_test.go
  pkg/utils/wildcard/utils.go
  pkg/utils/wildcard/utils_test.go
  pkg/webhooks/handlers/dump_test.go
Labels: milestone 1.9.0

#5762 fix: image digest
  .github/workflows/reuse.yaml
Labels: cherry-pick-required

#5765 Bump go-plugin
  go.mod
  go.sum
Labels: cherry-pick-required, milestone 1.9.0

#5776 fix delete policy
  pkg/background/update_request_controller.go
Labels: cherry-pick-required, milestone 1.9.0

#5782 redirect stderr to get digest successfully
  .github/workflows/helm-release.yaml
Labels: cherry-pick-required, milestone 1.9.0

#5789 chore: update publicKey description
  api/kyverno/v1/image_verification_types.go
  charts/kyverno/templates/crds.yaml
  config/crds/kyverno.io_clusterpolicies.yaml
  config/crds/kyverno.io_policies.yaml
  config/install.yaml
  docs/user/crd/index.html
Labels: cherry-pick-required, milestone 1.9.0

#5787 fix cli output adjustments
  cmd/cli/kubectl-kyverno/apply/apply_command.go
  cmd/cli/kubectl-kyverno/jp/jp.go
  cmd/cli/kubectl-kyverno/oci/oci.go
  cmd/cli/kubectl-kyverno/test/test_command.go
  cmd/cli/kubectl-kyverno/version/command.go
Labels: cherry-pick-required, milestone 1.9.0

#5504 chore: switch to kyverno/kuttl
  Makefile
  test/conformance/kuttl/_aaa_template_resources/01-assert.yaml
  test/conformance/kuttl/_aaa_template_resources/01-manifests.yaml
  test/conformance/kuttl/_aaa_template_resources/02-assert.yaml
  test/conformance/kuttl/_aaa_template_resources/02-secret.yaml
  test/conformance/kuttl/_aaa_template_resources/03-delete.yaml
  test/conformance/kuttl/_aaa_template_resources/05-errors.yaml
  test/conformance/kuttl/_aaa_template_resources/99-cleanup.yaml
  test/conformance/kuttl/_aaa_template_resources/BEST_PRACTICES.md
  test/conformance/kuttl/_aaa_template_resources/README.md
  test/conformance/kuttl/_aaa_template_resources/commands/04-sleep.yaml
  test/conformance/kuttl/_aaa_template_resources/commands/99-cleanup.yaml
  test/conformance/kuttl/_aaa_template_resources/scaffold/01-policy.yaml
  test/conformance/kuttl/_aaa_template_resources/scaffold/02-resource.yaml
  test/conformance/kuttl/_aaa_template_resources/scaffold/README.md
  test/conformance/kuttl/_aaa_template_resources/scaffold/errors.yaml
  test/conformance/kuttl/_aaa_template_resources/scaffold/ns.yaml
  test/conformance/kuttl/_aaa_template_resources/scaffold/policy-ready.yaml
  test/conformance/kuttl/_aaa_template_resources/scaffold/policy.yaml
  test/conformance/kuttl/_aaa_template_resources/scaffold/resource-mutated.yaml
  test/conformance/kuttl/_aaa_template_resources/scaffold/resource.yaml
  test/conformance/kuttl/_aaa_template_resources/scaffold/script-check-for-error.yaml
  test/conformance/kuttl/_aaa_template_resources/scripts/01-script-check-for-error.yaml
  test/conformance/kuttl/_aaa_template_resources/scripts/02-script-check-for-output.yaml
  test/conformance/kuttl/kuttl-test.yaml
Labels: cherry-pick-required, milestone 1.9.0

#5797 enhance logging, fix pull flag description
  cmd/cli/kubectl-kyverno/oci/oci.go
  cmd/cli/kubectl-kyverno/oci/oci_pull.go
  cmd/cli/kubectl-kyverno/oci/oci_push.go
Labels: cherry-pick-required, milestone 1.9.0

#5747 refactor: policy controller package
  pkg/policy/common.go
  pkg/policy/condition.go
  pkg/policy/existing.go
  pkg/policy/policy_controller.go
  pkg/policy/report.go
  pkg/policy/resource_manager.go
  pkg/policy/updaterequest.go
Labels: milestone 1.9.0

#5801 fix arguments passed to DeepEqual
  pkg/webhooks/resource/validation/validation.go
Labels: cherry-pick-required, milestone 1.9.0

#5808 fix: error handling in last scan time parsing
  pkg/controllers/report/background/controller.go
Labels: cherry-pick-required, milestone 1.9.0
