Repository kyverno/kyverno, pull requests merged in 2023-09, with the labels that each got.

#8210 chore: build cli only once for conformance tests
  .github/workflows/conformance.yaml
Labels: milestone 1.11.0

#8209 chore: fix vscode launch.json for cli
  .vscode/launch.json
Labels: milestone 1.11.0

#8211 fix: logger calls
  pkg/engine/factories/contextloaderfactory.go
Labels: milestone 1.11.0

#8215 fix: revert rekor upgrade
  go.mod
  go.sum
Labels: milestone 1.11.0

#8216 feat: add support for wildcard in CLI filters
  cmd/cli/kubectl-kyverno/test/test_command.go
  cmd/cli/kubectl-kyverno/utils/filter/filter.go
  cmd/cli/kubectl-kyverno/utils/filter/filter_test.go
  docs/user/cli/kyverno_test.md
Labels: Documentation, milestone 1.11.0

#8218 fix: remove unused struct in cli
  cmd/cli/kubectl-kyverno/test/api/types.go
Labels: milestone 1.11.0

#8222 refactor: introduce experimental cli package
  cmd/cli/kubectl-kyverno/main.go
  cmd/cli/kubectl-kyverno/utils/experimental/experimental.go
  cmd/cli/kubectl-kyverno/utils/experimental/experimental_test.go
Labels: milestone 1.11.0

#8224 refactor: CLI oci commands
  cmd/cli/kubectl-kyverno/oci/command.go
  cmd/cli/kubectl-kyverno/oci/internal/annotations.go
  cmd/cli/kubectl-kyverno/oci/internal/annotations_test.go
  cmd/cli/kubectl-kyverno/oci/pull/command.go
  cmd/cli/kubectl-kyverno/oci/push/command.go
  docs/user/cli/kyverno_oci.md
  docs/user/cli/kyverno_oci_pull.md
  docs/user/cli/kyverno_oci_push.md
Labels: milestone 1.11.0

#8226 refactor: introduce source package in cli
  cmd/cli/kubectl-kyverno/apply/apply_command.go
  cmd/cli/kubectl-kyverno/utils/common/common.go
  cmd/cli/kubectl-kyverno/utils/common/common_test.go
  cmd/cli/kubectl-kyverno/utils/common/fetch.go
  cmd/cli/kubectl-kyverno/utils/common/regex.go
  cmd/cli/kubectl-kyverno/utils/source/git.go
  cmd/cli/kubectl-kyverno/utils/source/git_test.go
  cmd/cli/kubectl-kyverno/utils/source/http.go
  cmd/cli/kubectl-kyverno/utils/source/http_test.go
  cmd/cli/kubectl-kyverno/utils/source/stdin.go
  cmd/cli/kubectl-kyverno/utils/source/stdin_test.go
Labels: milestone 1.11.0

#8227 chore: name all cli command files the same
  cmd/cli/kubectl-kyverno/apply/command.go
  cmd/cli/kubectl-kyverno/apply/command_test.go
  cmd/cli/kubectl-kyverno/jp/command.go
  cmd/cli/kubectl-kyverno/jp/function/command.go
  cmd/cli/kubectl-kyverno/jp/parse/command.go
  cmd/cli/kubectl-kyverno/jp/query/command.go
  cmd/cli/kubectl-kyverno/oci/command.go
  cmd/cli/kubectl-kyverno/test/command.go
  cmd/cli/kubectl-kyverno/test/command_test.go
Labels: milestone 1.11.0

#8223 chore: add cli readme
  cmd/cli/kubectl-kyverno/README.md
Labels: milestone 1.11.0

#8233 chore: add gh action to the cli readme
  cmd/cli/kubectl-kyverno/README.md
Labels: milestone 1.11.0

#8232 chore: improve test coverage of cli utils package
  cmd/cli/kubectl-kyverno/utils/source/stdin.go
  cmd/cli/kubectl-kyverno/utils/source/stdin_test.go
  cmd/cli/kubectl-kyverno/utils/unstructured/unstructured.go
  cmd/cli/kubectl-kyverno/utils/unstructured/unstructured_test.go
Labels: milestone 1.11.0

#8212 refactor: cli test command
  Makefile
  cmd/cli/kubectl-kyverno/test/api/types.go
  cmd/cli/kubectl-kyverno/test/command.go
  cmd/cli/kubectl-kyverno/test/test.go
  cmd/cli/kubectl-kyverno/utils/output/table/table.go
  cmd/cli/kubectl-kyverno/utils/report/report.go
  test/cli/test-mutate/kyverno-test.yaml
  test/cli/test-mutate/patchedResource1.yaml
  test/cli/test-mutate/policy.yaml
  test/cli/test/any-all-wildcard/kyverno-test.yaml
  test/cli/test/mixed/kyverno-test.yaml
  test/cli/test/nil-values-in-variables/exclude_namespaces_dynamically/kyverno-test.yaml
  test/cli/test/owner_references/kyverno-test.yaml
  test/cli/test/secret/resources.yaml
  test/cli/test/simple/kyverno-test.yaml
  test/cli/test/wildcard_match_label_selector/kyverno-test.yaml
  test/cli/test/wildcard_mutate/resources.yaml
Labels: milestone 1.11.0

#8219 fix: check if VAPs are registered in the API server or not
  charts/kyverno/templates/NOTES.txt
  cmd/kyverno/main.go
Labels: milestone 1.11.0

#8243 chore: add more cli utils unit tests
  cmd/cli/kubectl-kyverno/testdata/values/bad-format.yaml
  cmd/cli/kubectl-kyverno/testdata/values/valid.yaml
  cmd/cli/kubectl-kyverno/utils/values/load_test.go
Labels: milestone 1.11.0

#8244 refactor: cli test loading
  cmd/cli/kubectl-kyverno/fix/test/command.go
  cmd/cli/kubectl-kyverno/fix/test/load.go
  cmd/cli/kubectl-kyverno/test/command.go
  cmd/cli/kubectl-kyverno/test/load.go
  cmd/cli/kubectl-kyverno/test/load_test.go
  cmd/cli/kubectl-kyverno/utils/test/test.go
Labels: milestone 1.11.0

#8248 fix test flake: update assertion in image verify cache test
  pkg/engine/image_verify_test.go
Labels: milestone 1.11.0

#8231 refactor: move all cli commands in a commands package
  cmd/cli/kubectl-kyverno/commands/apply/.gitignore
  cmd/cli/kubectl-kyverno/commands/apply/command.go
  cmd/cli/kubectl-kyverno/commands/apply/command_test.go
  cmd/cli/kubectl-kyverno/commands/apply/log.go
  cmd/cli/kubectl-kyverno/commands/apply/table.go
  cmd/cli/kubectl-kyverno/commands/command.go
  cmd/cli/kubectl-kyverno/commands/create/command.go
  cmd/cli/kubectl-kyverno/commands/create/metrics-config/command.go
  cmd/cli/kubectl-kyverno/commands/create/templates/metrics-config.yaml
  cmd/cli/kubectl-kyverno/commands/create/templates/templates.go
  cmd/cli/kubectl-kyverno/commands/create/templates/test.yaml
  cmd/cli/kubectl-kyverno/commands/create/templates/user-info.yaml
  cmd/cli/kubectl-kyverno/commands/create/templates/values.yaml
  cmd/cli/kubectl-kyverno/commands/create/test/command.go
  cmd/cli/kubectl-kyverno/commands/create/userinfo/command.go
  cmd/cli/kubectl-kyverno/commands/create/values/command.go
  cmd/cli/kubectl-kyverno/commands/docs/command.go
  cmd/cli/kubectl-kyverno/commands/fix/command.go
  cmd/cli/kubectl-kyverno/commands/fix/test/command.go
  cmd/cli/kubectl-kyverno/commands/jp/command.go
  cmd/cli/kubectl-kyverno/commands/jp/function/command.go
  cmd/cli/kubectl-kyverno/commands/jp/parse/command.go
  cmd/cli/kubectl-kyverno/commands/jp/query/command.go
  cmd/cli/kubectl-kyverno/commands/oci/command.go
  cmd/cli/kubectl-kyverno/commands/oci/internal/annotations.go
  cmd/cli/kubectl-kyverno/commands/oci/internal/annotations_test.go
  cmd/cli/kubectl-kyverno/commands/oci/pull/command.go
  cmd/cli/kubectl-kyverno/commands/oci/push/command.go
  cmd/cli/kubectl-kyverno/commands/test/api/types.go
  cmd/cli/kubectl-kyverno/commands/test/command.go
  cmd/cli/kubectl-kyverno/commands/test/command_test.go
  cmd/cli/kubectl-kyverno/commands/test/help.go
  cmd/cli/kubectl-kyverno/commands/test/load.go
  cmd/cli/kubectl-kyverno/commands/test/load_test.go
  cmd/cli/kubectl-kyverno/commands/test/test.go
  cmd/cli/kubectl-kyverno/commands/version/command.go
  cmd/cli/kubectl-kyverno/main.go
  cmd/cli/kubectl-kyverno/utils/common/common.go
  cmd/cli/kubectl-kyverno/utils/common/common_test.go
  cmd/cli/kubectl-kyverno/utils/common/fetch.go
  cmd/cli/kubectl-kyverno/utils/common/kyverno_resources_types.go
  cmd/cli/kubectl-kyverno/utils/common/validatingadmission_resources_types.go
  cmd/cli/kubectl-kyverno/utils/common/variables.go
  cmd/cli/kubectl-kyverno/utils/filter/filter.go
  cmd/cli/kubectl-kyverno/utils/filter/filter_test.go
  cmd/cli/kubectl-kyverno/utils/test/test.go
  cmd/cli/kubectl-kyverno/utils/test/test_test.go
  cmd/cli/kubectl-kyverno/utils/values/load.go
  cmd/cli/kubectl-kyverno/utils/values/load_test.go
  docs/user/cli/kyverno.md
Labels: milestone 1.11.0

#8250 fix: add cli test from #6463
  test/cli/test/restrict-something/kyverno-test.yaml
  test/cli/test/restrict-something/policy.yaml
  test/cli/test/restrict-something/resources.yaml
Labels: milestone 1.11.0

#8251 fix: return engine responses without checking TestResult.rule since it is empty in case of VAPs
  cmd/cli/kubectl-kyverno/commands/test/command.go
  test/cli/test/validating-admission-policies/disallow-host-path/deployments.yaml
  test/cli/test/validating-admission-policies/disallow-host-path/disallow-host-path.yaml
  test/cli/test/validating-admission-policies/disallow-host-path/kyverno-test.yaml
Labels: milestone 1.11.0

#8254 refactor: cli packages structure
  cmd/cli/kubectl-kyverno/commands/apply/table.go
  cmd/cli/kubectl-kyverno/commands/fix/test/command.go
  cmd/cli/kubectl-kyverno/commands/test/load.go
  cmd/cli/kubectl-kyverno/policy/annotations/annotations.go
  cmd/cli/kubectl-kyverno/policy/annotations/annotations_test.go
  cmd/cli/kubectl-kyverno/test/api/types.go
  cmd/cli/kubectl-kyverno/test/load.go
  cmd/cli/kubectl-kyverno/test/load_test.go
  cmd/cli/kubectl-kyverno/utils/common/common.go
  cmd/cli/kubectl-kyverno/utils/report/report.go
Labels: milestone 1.11.0

#8255 refactor: add a cobra utils package to build commands doc
  cmd/cli/kubectl-kyverno/commands/test/command.go
  cmd/cli/kubectl-kyverno/commands/test/doc.go
  cmd/cli/kubectl-kyverno/commands/test/help.go
  cmd/cli/kubectl-kyverno/utils/cobra/docs.go
  docs/user/cli/kyverno.md
  docs/user/cli/kyverno_test.md
Labels: milestone 1.11.0

#8247 feat: add multiple paths support to cli test command
  cmd/cli/kubectl-kyverno/commands/test/command.go
  cmd/cli/kubectl-kyverno/commands/test/load.go
  cmd/cli/kubectl-kyverno/test/load.go
Labels: Documentation, milestone 1.11.0

#8234 fix: return error in `LoadMatching`
  pkg/engine/context/deferred.go
  pkg/engine/context/deferred_test.go
Labels: milestone 1.11.0

#8256 refactor: introduce resource package in cli
  cmd/cli/kubectl-kyverno/commands/test/command.go
  cmd/cli/kubectl-kyverno/commands/test/compare.go
  cmd/cli/kubectl-kyverno/commands/test/load_test.go
  cmd/cli/kubectl-kyverno/commands/test/test.go
  cmd/cli/kubectl-kyverno/resource/resource.go
  cmd/cli/kubectl-kyverno/utils/common/common.go
  cmd/cli/kubectl-kyverno/utils/common/common_test.go
  cmd/cli/kubectl-kyverno/utils/common/fetch.go
Labels: milestone 1.11.0

#8259 docs: improve cli commands docs
  cmd/cli/kubectl-kyverno/commands/apply/command.go
  cmd/cli/kubectl-kyverno/commands/apply/doc.go
  cmd/cli/kubectl-kyverno/commands/command.go
  cmd/cli/kubectl-kyverno/commands/create/command.go
  cmd/cli/kubectl-kyverno/commands/create/doc.go
  cmd/cli/kubectl-kyverno/commands/create/metrics-config/command.go
  cmd/cli/kubectl-kyverno/commands/create/metrics-config/doc.go
  cmd/cli/kubectl-kyverno/commands/create/test/command.go
  cmd/cli/kubectl-kyverno/commands/create/test/doc.go
  cmd/cli/kubectl-kyverno/commands/create/user-info/command.go
  cmd/cli/kubectl-kyverno/commands/create/user-info/doc.go
  cmd/cli/kubectl-kyverno/commands/create/values/command.go
  cmd/cli/kubectl-kyverno/commands/create/values/doc.go
  cmd/cli/kubectl-kyverno/commands/doc.go
  cmd/cli/kubectl-kyverno/commands/docs/command.go
  cmd/cli/kubectl-kyverno/commands/docs/doc.go
  cmd/cli/kubectl-kyverno/commands/fix/command.go
  cmd/cli/kubectl-kyverno/commands/fix/doc.go
  cmd/cli/kubectl-kyverno/commands/fix/test/command.go
  cmd/cli/kubectl-kyverno/commands/fix/test/doc.go
  cmd/cli/kubectl-kyverno/commands/jp/command.go
  cmd/cli/kubectl-kyverno/commands/jp/doc.go
  cmd/cli/kubectl-kyverno/commands/jp/function/command.go
  cmd/cli/kubectl-kyverno/commands/jp/function/doc.go
  cmd/cli/kubectl-kyverno/commands/jp/parse/command.go
  cmd/cli/kubectl-kyverno/commands/jp/parse/doc.go
  cmd/cli/kubectl-kyverno/commands/jp/query/command.go
  cmd/cli/kubectl-kyverno/commands/jp/query/doc.go
  cmd/cli/kubectl-kyverno/commands/oci/command.go
  cmd/cli/kubectl-kyverno/commands/oci/doc.go
  cmd/cli/kubectl-kyverno/commands/oci/pull/command.go
  cmd/cli/kubectl-kyverno/commands/oci/pull/doc.go
  cmd/cli/kubectl-kyverno/commands/oci/push/command.go
  cmd/cli/kubectl-kyverno/commands/oci/push/doc.go
  cmd/cli/kubectl-kyverno/commands/test/command.go
  cmd/cli/kubectl-kyverno/commands/version/command.go
  cmd/cli/kubectl-kyverno/commands/version/doc.go
  cmd/cli/kubectl-kyverno/utils/cobra/docs.go
  cmd/cli/kubectl-kyverno/utils/cobra/docs_test.go
  docs/user/cli/kyverno.md
  docs/user/cli/kyverno_apply.md
  docs/user/cli/kyverno_completion.md
  docs/user/cli/kyverno_create.md
  docs/user/cli/kyverno_create_metrics-config.md
  docs/user/cli/kyverno_create_test.md
  docs/user/cli/kyverno_create_user-info.md
  docs/user/cli/kyverno_create_values.md
  docs/user/cli/kyverno_docs.md
  docs/user/cli/kyverno_fix.md
  docs/user/cli/kyverno_fix_test.md
  docs/user/cli/kyverno_jp.md
  docs/user/cli/kyverno_jp_function.md
  docs/user/cli/kyverno_jp_parse.md
  docs/user/cli/kyverno_jp_query.md
  docs/user/cli/kyverno_oci.md
  docs/user/cli/kyverno_oci_pull.md
  docs/user/cli/kyverno_oci_push.md
  docs/user/cli/kyverno_test.md
  docs/user/cli/kyverno_version.md
  pkg/engine/image_verify_test.go
Labels: milestone 1.11.0

#8261 feat: add 1.10.3 to github issue template
  .github/ISSUE_TEMPLATE/bug-cli.yaml
  .github/ISSUE_TEMPLATE/bug-other.yaml
  .github/ISSUE_TEMPLATE/bug-webhook.yaml
Labels: milestone 1.10.3

#8257 refactor: cli packages structure
  cmd/cli/kubectl-kyverno/commands/apply/command.go
  cmd/cli/kubectl-kyverno/commands/apply/table.go
  cmd/cli/kubectl-kyverno/commands/command.go
  cmd/cli/kubectl-kyverno/commands/create/values/command.go
  cmd/cli/kubectl-kyverno/commands/test/api/types.go
  cmd/cli/kubectl-kyverno/commands/test/command.go
  cmd/cli/kubectl-kyverno/commands/test/command_test.go
  cmd/cli/kubectl-kyverno/commands/test/compare.go
  cmd/cli/kubectl-kyverno/commands/test/test.go
  cmd/cli/kubectl-kyverno/experimental/experimental.go
  cmd/cli/kubectl-kyverno/experimental/experimental_test.go
  cmd/cli/kubectl-kyverno/output/color/color.go
  cmd/cli/kubectl-kyverno/output/color/color_test.go
  cmd/cli/kubectl-kyverno/output/table/printer.go
  cmd/cli/kubectl-kyverno/output/table/printer_test.go
  cmd/cli/kubectl-kyverno/output/table/table.go
  cmd/cli/kubectl-kyverno/test/filter/filter.go
  cmd/cli/kubectl-kyverno/test/filter/filter_test.go
  cmd/cli/kubectl-kyverno/test/load.go
  cmd/cli/kubectl-kyverno/test/load_test.go
  cmd/cli/kubectl-kyverno/utils/common/common.go
  cmd/cli/kubectl-kyverno/utils/common/common_test.go
  cmd/cli/kubectl-kyverno/utils/common/fetch.go
  cmd/cli/kubectl-kyverno/utils/common/kyverno_resources_types.go
  cmd/cli/kubectl-kyverno/utils/common/validatingadmission_resources_types.go
  cmd/cli/kubectl-kyverno/utils/common/variables.go
  cmd/cli/kubectl-kyverno/values/load.go
  cmd/cli/kubectl-kyverno/values/load_test.go
Labels: milestone 1.11.0

#8258 fix: bad test file causes all tests to pass with success
  cmd/cli/kubectl-kyverno/commands/test/command.go
  cmd/cli/kubectl-kyverno/commands/test/test.go
  cmd/cli/kubectl-kyverno/test/load.go
  cmd/cli/kubectl-kyverno/test/load_test.go
Labels: milestone 1.11.0

#8135 feat: generate backgroundscan reports for validating admission policies
  charts/kyverno/README.md
  charts/kyverno/templates/NOTES.txt
  charts/kyverno/templates/_helpers.tpl
  charts/kyverno/templates/reports-controller/deployment.yaml
  charts/kyverno/values.yaml
  cmd/reports-controller/main.go
  config/install-latest-testing.yaml
  pkg/controllers/report/aggregate/controller.go
  pkg/controllers/report/background/controller.go
  pkg/controllers/report/resource/controller.go
  pkg/controllers/report/utils/scanner.go
  pkg/controllers/report/utils/utils.go
  pkg/engine/api/policy.go
  pkg/event/events.go
  pkg/utils/report/labels.go
  pkg/utils/report/results.go
  pkg/utils/report/selector.go
Labels: Documentation, milestone 1.11.0

#8267 fix: cli exit cleanly
  cmd/cli/kubectl-kyverno/main.go
Labels: milestone 1.11.0

#8266 refactor: cli test command test execution
  cmd/cli/kubectl-kyverno/commands/apply/command.go
  cmd/cli/kubectl-kyverno/commands/test/command.go
  cmd/cli/kubectl-kyverno/commands/test/command_test.go
  cmd/cli/kubectl-kyverno/commands/test/output.go
  cmd/cli/kubectl-kyverno/commands/test/test.go
  cmd/cli/kubectl-kyverno/output/pluralize/pluralize.go
  cmd/cli/kubectl-kyverno/output/pluralize/pluralize_test.go
  cmd/cli/kubectl-kyverno/resource/duplicate.go
  cmd/cli/kubectl-kyverno/resource/duplicate_test.go
  cmd/cli/kubectl-kyverno/test/load.go
  cmd/cli/kubectl-kyverno/test/load_test.go
  cmd/cli/kubectl-kyverno/test/test_case.go
  cmd/cli/kubectl-kyverno/test/test_case_test.go
  cmd/cli/kubectl-kyverno/test/test_cases.go
  cmd/cli/kubectl-kyverno/test/test_cases_test.go
  cmd/cli/kubectl-kyverno/test/test_result.go
  cmd/cli/kubectl-kyverno/testdata/resources/all-unique.yaml
  cmd/cli/kubectl-kyverno/testdata/resources/with-duplicate.yaml
  cmd/cli/kubectl-kyverno/utils/common/common.go
  cmd/cli/kubectl-kyverno/utils/common/variables.go
  test/cli/test-unit/selectResourcesForCheck/dummy-policy.yaml
  test/cli/test-unit/selectResourcesForCheck/kyverno-test-duplicated-with-resource.yaml
  test/cli/test-unit/selectResourcesForCheck/kyverno-test-duplicated-with-resources.yaml
  test/cli/test-unit/selectResourcesForCheck/kyverno-test-uniq-with-resource.yaml
  test/cli/test-unit/selectResourcesForCheck/kyverno-test-uniq-with-resources.yaml
Labels: milestone 1.11.0

#8272 refactor: introduce userinfo package in the cli
  cmd/cli/kubectl-kyverno/commands/apply/command.go
  cmd/cli/kubectl-kyverno/commands/test/test.go
  cmd/cli/kubectl-kyverno/testdata/user-infos/invalid.yaml
  cmd/cli/kubectl-kyverno/testdata/user-infos/valid.yaml
  cmd/cli/kubectl-kyverno/userinfo/userinfo.go
  cmd/cli/kubectl-kyverno/userinfo/userinfo_test.go
  cmd/cli/kubectl-kyverno/utils/common/common.go
  cmd/cli/kubectl-kyverno/utils/common/common_test.go
  cmd/cli/kubectl-kyverno/utils/common/kyverno_policies_types.go
  test/cli/test/limit-configmap-for-sa/kyverno-test.yaml
  test/cli/test/limit-configmap-for-sa/user_info.yaml
Labels: milestone 1.11.0

#8275 refactor: introduce api package in cli
  cmd/cli/kubectl-kyverno/_testdata/resources/all-unique.yaml
  cmd/cli/kubectl-kyverno/_testdata/resources/with-duplicate.yaml
  cmd/cli/kubectl-kyverno/_testdata/tests/test-1/kyverno-test.yaml
  cmd/cli/kubectl-kyverno/_testdata/tests/test-2/kyverno-test.yaml
  cmd/cli/kubectl-kyverno/_testdata/tests/test-invalid/kyverno-test-invalid.yaml
  cmd/cli/kubectl-kyverno/_testdata/user-infos/invalid.yaml
  cmd/cli/kubectl-kyverno/_testdata/user-infos/valid.yaml
  cmd/cli/kubectl-kyverno/_testdata/values/bad-format.yaml
  cmd/cli/kubectl-kyverno/_testdata/values/valid.yaml
  cmd/cli/kubectl-kyverno/apis/test/test.go
  cmd/cli/kubectl-kyverno/apis/test/test_result.go
  cmd/cli/kubectl-kyverno/apis/values/namespace_selector.go
  cmd/cli/kubectl-kyverno/apis/values/policy.go
  cmd/cli/kubectl-kyverno/apis/values/resource.go
  cmd/cli/kubectl-kyverno/apis/values/rule.go
  cmd/cli/kubectl-kyverno/apis/values/subresource.go
  cmd/cli/kubectl-kyverno/apis/values/values.go
  cmd/cli/kubectl-kyverno/commands/apply/command.go
  cmd/cli/kubectl-kyverno/commands/create/values/command.go
  cmd/cli/kubectl-kyverno/commands/test/command.go
  cmd/cli/kubectl-kyverno/commands/test/output.go
  cmd/cli/kubectl-kyverno/resource/duplicate_test.go
  cmd/cli/kubectl-kyverno/test/filter/filter.go
  cmd/cli/kubectl-kyverno/test/filter/filter_test.go
  cmd/cli/kubectl-kyverno/test/load.go
  cmd/cli/kubectl-kyverno/test/load_test.go
  cmd/cli/kubectl-kyverno/test/test_case.go
  cmd/cli/kubectl-kyverno/test/test_case_test.go
  cmd/cli/kubectl-kyverno/test/test_result.go
  cmd/cli/kubectl-kyverno/userinfo/userinfo_test.go
  cmd/cli/kubectl-kyverno/utils/common/common.go
  cmd/cli/kubectl-kyverno/utils/common/common_test.go
  cmd/cli/kubectl-kyverno/utils/common/fetch.go
  cmd/cli/kubectl-kyverno/utils/common/kyverno_resources_types.go
  cmd/cli/kubectl-kyverno/utils/common/validatingadmission_resources_types.go
  cmd/cli/kubectl-kyverno/utils/common/variables.go
  cmd/cli/kubectl-kyverno/values/load.go
  cmd/cli/kubectl-kyverno/values/load_test.go
Labels: milestone 1.11.0

#8271 [Bug] Fix nil-dereference in pss validation
  pkg/engine/handlers/validation/validate_pss.go
Labels: milestone 1.11.0

#8276 refactor: combine unstructured and resource packages
  cmd/cli/kubectl-kyverno/commands/test/compare.go
  cmd/cli/kubectl-kyverno/resource/compare.go
  cmd/cli/kubectl-kyverno/resource/compare_test.go
  cmd/cli/kubectl-kyverno/resource/labels.go
  cmd/cli/kubectl-kyverno/resource/labels_test.go
  cmd/cli/kubectl-kyverno/resource/tidy.go
  cmd/cli/kubectl-kyverno/resource/tidy_test.go
  cmd/cli/kubectl-kyverno/userinfo/userinfo.go
  cmd/cli/kubectl-kyverno/utils/unstructured/unstructured.go
Labels: milestone 1.11.0

#8274 refactor: remove dependency from validation to cli
  cmd/cli/kubectl-kyverno/utils/common/regex.go
  pkg/validation/policy/validate.go
Labels: milestone 1.11.0

#8279 refactor: cli policy package
  cmd/cli/kubectl-kyverno/commands/apply/command.go
  cmd/cli/kubectl-kyverno/commands/oci/push/command.go
  cmd/cli/kubectl-kyverno/commands/test/load.go
  cmd/cli/kubectl-kyverno/commands/test/test.go
  cmd/cli/kubectl-kyverno/policy/load.go
  cmd/cli/kubectl-kyverno/resource/resource.go
  cmd/cli/kubectl-kyverno/source/git.go
  cmd/cli/kubectl-kyverno/source/git_test.go
  cmd/cli/kubectl-kyverno/source/http.go
  cmd/cli/kubectl-kyverno/source/http_test.go
  cmd/cli/kubectl-kyverno/source/stdin.go
  cmd/cli/kubectl-kyverno/source/stdin_test.go
  cmd/cli/kubectl-kyverno/utils/common/common.go
  cmd/cli/kubectl-kyverno/utils/common/common_test.go
Labels: milestone 1.11.0

#8280 fix: cli dependency to controller-runtime logger
  cmd/cli/kubectl-kyverno/commands/apply/command.go
  cmd/cli/kubectl-kyverno/commands/oci/push/command.go
  cmd/cli/kubectl-kyverno/commands/test/command.go
  cmd/cli/kubectl-kyverno/commands/test/test.go
  cmd/cli/kubectl-kyverno/log/log.go
  cmd/cli/kubectl-kyverno/main.go
  cmd/cli/kubectl-kyverno/utils/common/common.go
  cmd/cli/kubectl-kyverno/utils/common/fetch.go
  cmd/cli/kubectl-kyverno/utils/common/kyverno_policies_types.go
  cmd/cli/kubectl-kyverno/utils/common/variables.go
Labels: milestone 1.11.0

#8281 refactor: introduce cli processor package
  cmd/cli/kubectl-kyverno/commands/apply/command.go
  cmd/cli/kubectl-kyverno/commands/test/test.go
  cmd/cli/kubectl-kyverno/processor/generate.go
  cmd/cli/kubectl-kyverno/processor/policy_processor.go
  cmd/cli/kubectl-kyverno/processor/result.go
  cmd/cli/kubectl-kyverno/processor/utils.go
  cmd/cli/kubectl-kyverno/processor/vap_processor.go
  cmd/cli/kubectl-kyverno/utils/common/common.go
  cmd/cli/kubectl-kyverno/utils/common/common_test.go
  cmd/cli/kubectl-kyverno/utils/common/policy_interface.go
  cmd/cli/kubectl-kyverno/utils/common/resource_interface.go
  cmd/cli/kubectl-kyverno/utils/common/validating_admission_policies_types.go
  cmd/cli/kubectl-kyverno/utils/common/validating_admission_resources.go
Labels: milestone 1.11.0

#8286 feat: update ivcache `Set()` to use `Wait()`
  pkg/engine/image_verify_test.go
  pkg/imageverifycache/client.go
Labels: milestone 1.11.0

#8285 refactor: introduce cli variables package
  cmd/cli/kubectl-kyverno/commands/apply/command.go
  cmd/cli/kubectl-kyverno/commands/apply/command_test.go
  cmd/cli/kubectl-kyverno/commands/test/test.go
  cmd/cli/kubectl-kyverno/policy/variables.go
  cmd/cli/kubectl-kyverno/utils/common/common.go
  cmd/cli/kubectl-kyverno/utils/common/common_test.go
  cmd/cli/kubectl-kyverno/utils/common/fetch.go
  cmd/cli/kubectl-kyverno/utils/common/variables.go
  cmd/cli/kubectl-kyverno/values/load.go
  cmd/cli/kubectl-kyverno/variables/labels.go
  cmd/cli/kubectl-kyverno/variables/new.go
  cmd/cli/kubectl-kyverno/variables/parse.go
  cmd/cli/kubectl-kyverno/variables/utils.go
  cmd/cli/kubectl-kyverno/variables/variables.go
Labels: milestone 1.11.0

#8291 refactor: move utils cobra to command package
  cmd/cli/kubectl-kyverno/command/docs.go
  cmd/cli/kubectl-kyverno/command/docs_test.go
  cmd/cli/kubectl-kyverno/commands/apply/command.go
  cmd/cli/kubectl-kyverno/commands/command.go
  cmd/cli/kubectl-kyverno/commands/create/command.go
  cmd/cli/kubectl-kyverno/commands/create/metrics-config/command.go
  cmd/cli/kubectl-kyverno/commands/create/test/command.go
  cmd/cli/kubectl-kyverno/commands/create/user-info/command.go
  cmd/cli/kubectl-kyverno/commands/create/values/command.go
  cmd/cli/kubectl-kyverno/commands/docs/command.go
  cmd/cli/kubectl-kyverno/commands/fix/command.go
  cmd/cli/kubectl-kyverno/commands/fix/test/command.go
  cmd/cli/kubectl-kyverno/commands/jp/command.go
  cmd/cli/kubectl-kyverno/commands/jp/function/command.go
  cmd/cli/kubectl-kyverno/commands/jp/parse/command.go
  cmd/cli/kubectl-kyverno/commands/jp/query/command.go
  cmd/cli/kubectl-kyverno/commands/oci/command.go
  cmd/cli/kubectl-kyverno/commands/oci/pull/command.go
  cmd/cli/kubectl-kyverno/commands/oci/push/command.go
  cmd/cli/kubectl-kyverno/commands/test/command.go
  cmd/cli/kubectl-kyverno/commands/version/command.go
Labels: milestone 1.11.0

#8293 refactore: move utils store package
  cmd/cli/kubectl-kyverno/commands/apply/command.go
  cmd/cli/kubectl-kyverno/commands/test/command.go
  cmd/cli/kubectl-kyverno/commands/test/test.go
  cmd/cli/kubectl-kyverno/processor/generate.go
  cmd/cli/kubectl-kyverno/processor/policy_processor.go
  cmd/cli/kubectl-kyverno/store/contextloader.go
  cmd/cli/kubectl-kyverno/store/store.go
  cmd/cli/kubectl-kyverno/variables/variables.go
Labels: milestone 1.11.0

#8296 chore: improve unit tests in cli
  cmd/cli/kubectl-kyverno/values/load_test.go
  cmd/cli/kubectl-kyverno/variables/utils.go
  cmd/cli/kubectl-kyverno/variables/utils_test.go
  cmd/cli/kubectl-kyverno/variables/variables.go
  cmd/cli/kubectl-kyverno/variables/variables_test.go
Labels: milestone 1.11.0

#8300 chore: improve unit tests in cli
  cmd/cli/kubectl-kyverno/_testdata/policies/cpol-pod-requirements.yaml
  cmd/cli/kubectl-kyverno/_testdata/policies/pol-pod-requirements.yaml
  cmd/cli/kubectl-kyverno/report/report.go
  cmd/cli/kubectl-kyverno/report/report_test.go
  cmd/cli/kubectl-kyverno/userinfo/userinfo.go
  cmd/cli/kubectl-kyverno/userinfo/userinfo_test.go
  cmd/cli/kubectl-kyverno/values/load_test.go
  cmd/cli/kubectl-kyverno/variables/new_test.go
  cmd/cli/kubectl-kyverno/variables/parse_test.go
Labels: milestone 1.11.0

#8292 feat: add kuttl tests for validating admission policy reports
  .github/workflows/conformance.yaml
  scripts/config/validating-admission-policy-reports/kyverno.yaml
  test/conformance/kuttl/validating-admission-policy-reports/background/validating-admission-policy-fail/01-deployment.yaml
  test/conformance/kuttl/validating-admission-policy-reports/background/validating-admission-policy-fail/02-policy.yaml
  test/conformance/kuttl/validating-admission-policy-reports/background/validating-admission-policy-fail/03-bgscanr.yaml
  test/conformance/kuttl/validating-admission-policy-reports/background/validating-admission-policy-fail/04-sleep.yaml
  test/conformance/kuttl/validating-admission-policy-reports/background/validating-admission-policy-fail/README.md
  test/conformance/kuttl/validating-admission-policy-reports/background/validating-admission-policy-fail/bgscanr-assert.yaml
  test/conformance/kuttl/validating-admission-policy-reports/background/validating-admission-policy-fail/deployment-assert.yaml
  test/conformance/kuttl/validating-admission-policy-reports/background/validating-admission-policy-fail/deployment.yaml
  test/conformance/kuttl/validating-admission-policy-reports/background/validating-admission-policy-fail/policy.yaml
  test/conformance/kuttl/validating-admission-policy-reports/background/validating-admission-policy-pass/01-deployment.yaml
  test/conformance/kuttl/validating-admission-policy-reports/background/validating-admission-policy-pass/02-policy.yaml
  test/conformance/kuttl/validating-admission-policy-reports/background/validating-admission-policy-pass/03-bgscanr.yaml
  test/conformance/kuttl/validating-admission-policy-reports/background/validating-admission-policy-pass/04-sleep.yaml
  test/conformance/kuttl/validating-admission-policy-reports/background/validating-admission-policy-pass/README.md
  test/conformance/kuttl/validating-admission-policy-reports/background/validating-admission-policy-pass/bgscanr-assert.yaml
  test/conformance/kuttl/validating-admission-policy-reports/background/validating-admission-policy-pass/deployment-assert.yaml
  test/conformance/kuttl/validating-admission-policy-reports/background/validating-admission-policy-pass/deployment.yaml
  test/conformance/kuttl/validating-admission-policy-reports/background/validating-admission-policy-pass/policy.yaml
Labels: milestone 1.11.0

#8301 chore: improve unit tests in cli
  cmd/cli/kubectl-kyverno/commands/test/output.go
  cmd/cli/kubectl-kyverno/output/table/row.go
  cmd/cli/kubectl-kyverno/output/table/row_compact.go
  cmd/cli/kubectl-kyverno/output/table/table.go
  cmd/cli/kubectl-kyverno/output/table/table_test.go
  cmd/cli/kubectl-kyverno/variables/new_test.go
  cmd/cli/kubectl-kyverno/variables/variables_test.go
Labels: milestone 1.11.0

#8294 chore: remove validating admission policy support from v1.26
  .github/workflows/conformance.yaml
  charts/kyverno/templates/NOTES.txt
Labels: milestone 1.11.0

#8304 chore: improve unit tests in cli
  cmd/cli/kubectl-kyverno/_testdata/policies/cpol-limit-configmap-for-sa.yaml
  cmd/cli/kubectl-kyverno/_testdata/values/global-values.yaml
  cmd/cli/kubectl-kyverno/_testdata/values/limit-configmap-for-sa.yaml
  cmd/cli/kubectl-kyverno/commands/apply/command.go
  cmd/cli/kubectl-kyverno/commands/test/test.go
  cmd/cli/kubectl-kyverno/log/log_test.go
  cmd/cli/kubectl-kyverno/policy/variables_test.go
  cmd/cli/kubectl-kyverno/values/load_test.go
  cmd/cli/kubectl-kyverno/variables/new_test.go
  cmd/cli/kubectl-kyverno/variables/variables.go
  cmd/cli/kubectl-kyverno/variables/variables_test.go
Labels: milestone 1.11.0

#7908 feat: add custom keychains using fluxcd/oci/auth package
  cmd/cli/kubectl-kyverno/commands/oci/command.go
  go.mod
  go.sum
  pkg/registryclient/authn.go
  pkg/registryclient/client.go
Labels: milestone 1.11.0

#8310 chore: add validationAction in kuttl tests
  test/conformance/kuttl/generate-validating-admission-policy/clusterpolicy/standard/generate/cpol-all-match-resource/validatingadmissionpolicybinding.yaml
  test/conformance/kuttl/generate-validating-admission-policy/clusterpolicy/standard/generate/cpol-any-match-multiple-resources/validatingadmissionpolicybinding.yaml
  test/conformance/kuttl/generate-validating-admission-policy/clusterpolicy/standard/generate/cpol-any-match-resource/validatingadmissionpolicybinding.yaml
Labels: milestone 1.11.0

#8269 fix: Remove os.exit calls in apply command
  cmd/cli/kubectl-kyverno/commands/apply/command.go
  cmd/cli/kubectl-kyverno/commands/apply/command_test.go
Labels: milestone 1.11.0

#8307 feature(charts): resourceNames on extraResources for cleanup-controller
  charts/kyverno/templates/cleanup-controller/clusterrole.yaml
Labels: milestone 1.11.0

#8169 fix: use controller utils package in ttl controller
  pkg/controllers/ttl/controller.go
  pkg/controllers/ttl/manager.go
  pkg/utils/controller/handlers.go
Labels: milestone 1.11.0

#8316 fix: cache invalidation in FindResources
  pkg/clients/dclient/discovery.go
  pkg/engine/adapters/dclient.go
  pkg/engine/handlers/validation/validate_cel.go
Labels: milestone 1.11.0

#8325 fix: simplify cli autogen and labels selector check
  cmd/cli/kubectl-kyverno/processor/policy_processor.go
  cmd/cli/kubectl-kyverno/processor/utils.go
Labels: milestone 1.11.0

#8326 chore: add cli unit tests
  cmd/cli/kubectl-kyverno/test/load_test.go
  cmd/cli/kubectl-kyverno/test/test_case.go
  cmd/cli/kubectl-kyverno/test/test_case_test.go
Labels: milestone 1.11.0

#8319 fix: vap processor in cli
  cmd/cli/kubectl-kyverno/commands/apply/command.go
  cmd/cli/kubectl-kyverno/commands/test/test.go
  cmd/cli/kubectl-kyverno/processor/vap_processor.go
Labels: milestone 1.11.0

#8332 fix: generate empty kind
  pkg/controllers/webhook/controller.go
Labels: milestone 1.11.0

#8327 fix: cli engine invocation order
  cmd/cli/kubectl-kyverno/commands/apply/command.go
  cmd/cli/kubectl-kyverno/commands/apply/command_test.go
  cmd/cli/kubectl-kyverno/commands/test/test.go
  cmd/cli/kubectl-kyverno/processor/policy_processor.go
  cmd/cli/kubectl-kyverno/processor/policy_processor_test.go
  cmd/cli/kubectl-kyverno/processor/utils.go
  cmd/cli/kubectl-kyverno/utils/common/common_test.go
  test/cli/test-mutate/foreach/pod-updated-image.yaml
  test/cli/test-mutate/patched-resource.yaml
  test/cli/test-mutate/patchedResource8.yaml
Labels: milestone 1.11.0

#8318 feat: update condition in image verify cache tests
  pkg/engine/image_verify_test.go
Labels: milestone 1.11.0

#8333 fix: TODOs in cli
  cmd/cli/kubectl-kyverno/commands/apply/command.go
  cmd/cli/kubectl-kyverno/commands/apply/command_test.go
  cmd/cli/kubectl-kyverno/commands/test/command.go
  cmd/cli/kubectl-kyverno/output/table/table_test.go
  cmd/cli/kubectl-kyverno/policy/load.go
  cmd/cli/kubectl-kyverno/report/report.go
  cmd/cli/kubectl-kyverno/report/report_test.go
  cmd/cli/kubectl-kyverno/variables/parse.go
  pkg/engine/api/policy.go
Labels: milestone 1.11.0

#7972 test: add tests for isAnyNotIn function and lazy evaluate it
  pkg/engine/variables/operator/anyin.go
  pkg/engine/variables/operator/anynotin_test.go
Labels: milestone 1.11.0

#8305 fix: allow any type in cli test global values
  cmd/cli/kubectl-kyverno/apis/values/values.go
  cmd/cli/kubectl-kyverno/commands/create/values/command.go
  cmd/cli/kubectl-kyverno/variables/new_test.go
Labels: milestone 1.11.0

#8336 chore: improve cli version command and add tests
  cmd/cli/kubectl-kyverno/commands/version/command.go
  cmd/cli/kubectl-kyverno/commands/version/command_test.go
Labels: milestone 1.11.0

#8335 fix: disable cli logs when level is 0
  cmd/cli/kubectl-kyverno/log/log.go
Labels: milestone 1.11.0

#8339 fix: Kyverno test ignores variables.yaml file unless context is present
  test/cli/test/deny-modify-platform-label/deny-modify-platform-label.yaml
  test/cli/test/deny-modify-platform-label/kyverno-test.yaml
  test/cli/test/deny-modify-platform-label/resource.yaml
  test/cli/test/deny-modify-platform-label/variables.yaml
Labels: milestone 1.11.0

#8338 chore: switch back to official policies repo
  Makefile
Labels: milestone 1.11.0

#8342 chore: validate test files are up to date
  .github/workflows/conformance.yaml
  Makefile
  test/cli/test/validating-admission-policies/disallow-host-path/kyverno-test.yaml
Labels: milestone 1.11.0

#8341 fix: all tests fails when use mutiple results with generate-clone
  cmd/cli/kubectl-kyverno/processor/generate.go
  test/cli/test-generate/sync-multiple-resources/cm.yaml
  test/cli/test-generate/sync-multiple-resources/deployment.yaml
  test/cli/test-generate/sync-multiple-resources/gen-cm.yaml
  test/cli/test-generate/sync-multiple-resources/gen-secret.yaml
  test/cli/test-generate/sync-multiple-resources/kyverno-test.yaml
  test/cli/test-generate/sync-multiple-resources/policy.yaml
  test/cli/test-generate/sync-multiple-resources/secret.yaml
Labels: milestone 1.11.0

#8343 feat: compress test results in cli fix test command
  cmd/cli/kubectl-kyverno/commands/fix/test/command.go
  docs/user/cli/kyverno_fix_test.md
  test/cli/registry/kyverno-test.yaml
  test/cli/test-mutate/global-anchor/kyverno-test.yaml
  test/cli/test/admission_user_info/kyverno-test.yaml
  test/cli/test/anypattern_skip_error/kyverno-test.yaml
  test/cli/test/container_reorder/kyverno-test.yaml
  test/cli/test/deny-modify-platform-label/kyverno-test.yaml
  test/cli/test/foreach/kyverno-test.yaml
  test/cli/test/jmespath-brackets/kyverno-test.yaml
  test/cli/test/simple/kyverno-test.yaml
  test/cli/test/variables/kyverno-test.yaml
Labels: milestone 1.11.0

#8348 fix: kyverno test ignores namespace of resources in resource.yaml
  test/cli/test/disallow-service/kyverno-test.yaml
  test/cli/test/disallow-service/policy.yaml
  test/cli/test/disallow-service/resource.yaml
Labels: milestone 1.11.0

#8345 chore: add --compress to cli test files verification
  .github/workflows/conformance.yaml
Labels: milestone 1.11.0

#8350 chore: add gofiber/fiber/v2@v2.43.0 to nancy ignore
  .nancy-ignore
Labels: milestone 1.11.0

#8349 fix: Kyverno test fails to load resources
  test/cli/test-mutate/connection-draining/kyverno-test.yaml
  test/cli/test-mutate/connection-draining/patched.yaml
  test/cli/test-mutate/connection-draining/policy.yaml
  test/cli/test-mutate/connection-draining/resource.yaml
Labels: milestone 1.11.0

#8356 fix: ignore generating backgroundscan reports for Kyverno policies in case VAPs are generated
  pkg/controllers/report/utils/utils.go
Labels: Documentation, milestone 1.11.0

#8352 refactor: simplify cli processor
  cmd/cli/kubectl-kyverno/processor/policy_processor.go
  cmd/cli/kubectl-kyverno/processor/utils.go
Labels: milestone 1.11.0

#8337 fix: Auto-gen rules can not get variables from test input values
  cmd/cli/kubectl-kyverno/store/store.go
  test/cli/test/autogen-values/kyverno-test.yaml
  test/cli/test/autogen-values/policy.yaml
  test/cli/test/autogen-values/resource.yaml
  test/cli/test/autogen-values/values.yaml
Labels: milestone 1.11.0

#8354 fix: namespace in kyverno-test.yaml seems to have no effect in case of exclude
  cmd/cli/kubectl-kyverno/apis/test/test.go
  cmd/cli/kubectl-kyverno/apis/test/test_result.go
  cmd/cli/kubectl-kyverno/commands/apply/command.go
  cmd/cli/kubectl-kyverno/commands/apply/command_test.go
  cmd/cli/kubectl-kyverno/commands/fix/test/command.go
  cmd/cli/kubectl-kyverno/commands/test/command.go
  cmd/cli/kubectl-kyverno/commands/test/output.go
  cmd/cli/kubectl-kyverno/report/report.go
  cmd/cli/kubectl-kyverno/report/report_test.go
  cmd/cli/kubectl-kyverno/test/filter/filter.go
  cmd/cli/kubectl-kyverno/test/filter/filter_test.go
  cmd/cli/kubectl-kyverno/test/load_test.go
  test/cli/test-generate/create-default-pdb/kyverno-test.yaml
  test/cli/test-mutate/connection-draining/kyverno-test.yaml
  test/cli/test-mutate/kyverno-test.yaml
  test/cli/test/any-all-wildcard/kyverno-test.yaml
  test/cli/test/any-namespaceSelector/kyverno-test.yaml
  test/cli/test/exec-subresource/kyverno-test.yaml
  test/cli/test/images/digest/kyverno-test.yaml
  test/cli/test/jmespath-brackets/kyverno-test.yaml
  test/cli/test/jmespath-brackets/policy.yaml
  test/cli/test/limit-configmap-for-sa/kyverno-test.yaml
  test/cli/test/mixed/kyverno-test.yaml
  test/cli/test/scale-subresource/kyverno-test.yaml
  test/cli/test/simple/kyverno-test.yaml
Labels: Documentation, milestone 1.11.0

#8357 fix: verifyImages w/ multiple entries is not consistent
  cmd/cli/kubectl-kyverno/commands/apply/command.go
  cmd/cli/kubectl-kyverno/commands/apply/command_test.go
  cmd/cli/kubectl-kyverno/processor/policy_processor.go
Labels: milestone 1.11.0

#8360 refactor: cli proper error handling
  cmd/cli/kubectl-kyverno/commands/apply/command.go
  cmd/cli/kubectl-kyverno/commands/apply/log.go
  cmd/cli/kubectl-kyverno/commands/fix/test/command.go
  cmd/cli/kubectl-kyverno/commands/fix/test/options.go
  cmd/cli/kubectl-kyverno/commands/test/command.go
  cmd/cli/kubectl-kyverno/commands/test/load.go
  cmd/cli/kubectl-kyverno/commands/test/test.go
  cmd/cli/kubectl-kyverno/processor/policy_processor.go
  cmd/cli/kubectl-kyverno/userinfo/userinfo.go
  cmd/cli/kubectl-kyverno/utils/common/common.go
  cmd/cli/kubectl-kyverno/utils/sanitizedError/error.go
  cmd/cli/kubectl-kyverno/variables/new.go
Labels: milestone 1.11.0

#8358 fix: Kyverno apply produces false positives when validating 'empty dangling" tags
  cmd/cli/kubectl-kyverno/_testdata/apply/test-1/policy.yaml
  cmd/cli/kubectl-kyverno/_testdata/apply/test-1/resources.yaml
  cmd/cli/kubectl-kyverno/commands/apply/command.go
  cmd/cli/kubectl-kyverno/commands/apply/command_test.go
Labels: milestone 1.11.0

#8362 fix: kyverno test wrongly finds 'patchedResource mismatch' due to wrong order in array
  test/cli/test-mutate/bug-demo/kyverno-test.yaml
  test/cli/test-mutate/bug-demo/patched-resource-pattern.yaml
  test/cli/test-mutate/bug-demo/policy.yaml
  test/cli/test-mutate/bug-demo/resource.yaml
Labels: milestone 1.11.0

#8361 fix: Overridden request.operation is not considered by match/exclude with operations
  cmd/cli/kubectl-kyverno/processor/policy_processor.go
Labels: milestone 1.11.0

#8365 chore: add cli unit tests
  cmd/cli/kubectl-kyverno/commands/command.go
  cmd/cli/kubectl-kyverno/commands/command_test.go
  cmd/cli/kubectl-kyverno/commands/version/command.go
  cmd/cli/kubectl-kyverno/experimental/experimental.go
  cmd/cli/kubectl-kyverno/experimental/experimental_test.go
  cmd/cli/kubectl-kyverno/log/log.go
  cmd/cli/kubectl-kyverno/log/log_test.go
  cmd/cli/kubectl-kyverno/main.go
Labels: milestone 1.11.0

#8363 fix: kyverno test are applying previous mutation rules to subsequent test cases causing failures
  test/cli/test-mutate/karpenter-annotations-to-nodeselector/kyverno-test.yaml
  test/cli/test-mutate/karpenter-annotations-to-nodeselector/patched.yaml
  test/cli/test-mutate/karpenter-annotations-to-nodeselector/policy.yaml
  test/cli/test-mutate/karpenter-annotations-to-nodeselector/resource.yaml
Labels: milestone 1.11.0

#8366 chore: add cli commands unit tests
  cmd/cli/kubectl-kyverno/commands/command.go
  cmd/cli/kubectl-kyverno/commands/create/command.go
  cmd/cli/kubectl-kyverno/commands/create/command_test.go
  cmd/cli/kubectl-kyverno/commands/create/exception/command.go
  cmd/cli/kubectl-kyverno/commands/create/metrics-config/command.go
  cmd/cli/kubectl-kyverno/commands/create/metrics-config/command_test.go
  cmd/cli/kubectl-kyverno/commands/create/test/command.go
  cmd/cli/kubectl-kyverno/commands/create/test/command_test.go
  cmd/cli/kubectl-kyverno/commands/create/user-info/command.go
  cmd/cli/kubectl-kyverno/commands/create/user-info/command_test.go
  cmd/cli/kubectl-kyverno/commands/create/values/command.go
  cmd/cli/kubectl-kyverno/commands/create/values/command_test.go
  cmd/cli/kubectl-kyverno/commands/docs/command.go
  cmd/cli/kubectl-kyverno/commands/docs/command_test.go
  cmd/cli/kubectl-kyverno/commands/docs/options.go
  cmd/cli/kubectl-kyverno/commands/docs/utils.go
  cmd/cli/kubectl-kyverno/commands/fix/command.go
  cmd/cli/kubectl-kyverno/commands/fix/command_test.go
  cmd/cli/kubectl-kyverno/commands/fix/test/command.go
  cmd/cli/kubectl-kyverno/commands/fix/test/command_test.go
  cmd/cli/kubectl-kyverno/commands/fix/test/options.go
  cmd/cli/kubectl-kyverno/commands/jp/command.go
  cmd/cli/kubectl-kyverno/commands/jp/command_test.go
  cmd/cli/kubectl-kyverno/commands/jp/function/command.go
  cmd/cli/kubectl-kyverno/commands/jp/function/command_test.go
  cmd/cli/kubectl-kyverno/commands/jp/parse/command.go
  cmd/cli/kubectl-kyverno/commands/jp/parse/command_test.go
  cmd/cli/kubectl-kyverno/commands/jp/query/command.go
  cmd/cli/kubectl-kyverno/commands/jp/query/command_test.go
  cmd/cli/kubectl-kyverno/commands/oci/command.go
  cmd/cli/kubectl-kyverno/commands/oci/command_test.go
  cmd/cli/kubectl-kyverno/commands/oci/pull/command.go
  cmd/cli/kubectl-kyverno/commands/oci/pull/command_test.go
  cmd/cli/kubectl-kyverno/commands/oci/pull/doc.go
  cmd/cli/kubectl-kyverno/commands/oci/pull/options.go
  cmd/cli/kubectl-kyverno/commands/oci/push/command.go
  cmd/cli/kubectl-kyverno/commands/oci/push/command_test.go
  cmd/cli/kubectl-kyverno/commands/oci/push/doc.go
  cmd/cli/kubectl-kyverno/commands/oci/push/options.go
  cmd/cli/kubectl-kyverno/commands/version/command.go
  cmd/cli/kubectl-kyverno/commands/version/command_test.go
  docs/user/cli/kyverno_fix_test.md
  docs/user/cli/kyverno_oci_pull.md
  docs/user/cli/kyverno_oci_push.md
  test/cli/test-mutate/karpenter-annotations-to-nodeselector/kyverno-test.yaml
Labels: milestone 1.11.0

#8364 [Fix]: Wrong Field in the test
  test/conformance/kuttl/generate/clusterpolicy/cornercases/clone-list-sync-same-trigger-source-update-source/05-check.yaml
  test/conformance/kuttl/generate/clusterpolicy/cornercases/clone-sync-same-trigger-source-update-source/05-check.yaml
Labels: milestone 1.11.0

#8373 fix: Testing a generate rule for a custom resource fails
  cmd/cli/kubectl-kyverno/processor/generate.go
  pkg/clients/dclient/fake.go
  test/cli/test-generate/custom-resource/clone-secret.yaml
  test/cli/test-generate/custom-resource/gen-secret.yaml
  test/cli/test-generate/custom-resource/kyverno-test.yaml
  test/cli/test-generate/custom-resource/policy.yaml
  test/cli/test-generate/custom-resource/resource.yaml
Labels: milestone 1.11.0

#8374 chore: kuttl tests enhancement
  test/conformance/kuttl/validate/clusterpolicy/standard/enforce/ns-selector-with-wildcard-kind/04-clusterrole.yaml
  test/conformance/kuttl/validate/clusterpolicy/standard/enforce/ns-selector-with-wildcard-kind/05-delete-ns.yaml
  test/conformance/kuttl/validate/clusterpolicy/standard/enforce/ns-selector-with-wildcard-kind/06-delete-clulsterrole.yaml
Labels: milestone 1.11.0

#8376 fix generate VAPs kuttl tests
  test/conformance/kuttl/generate-validating-admission-policy/clusterpolicy/standard/generate/cpol-all-match-resource/policy-assert.yaml
  test/conformance/kuttl/generate-validating-admission-policy/clusterpolicy/standard/generate/cpol-any-match-multiple-resources/policy-assert.yaml
  test/conformance/kuttl/generate-validating-admission-policy/clusterpolicy/standard/generate/cpol-any-match-resource/policy-assert.yaml
Labels: milestone 1.11.0

#8375 fix: Result not correct when testing a mutate rule and foreach with add anchor
  test/cli/test-mutate/add-default-resources/add-default-resources.yaml
  test/cli/test-mutate/add-default-resources/kyverno-test.yaml
  test/cli/test-mutate/add-default-resources/patchedResource1.yaml
  test/cli/test-mutate/add-default-resources/patchedResource2.yaml
  test/cli/test-mutate/add-default-resources/patchedResource3.yaml
  test/cli/test-mutate/add-default-resources/resource.yaml
Labels: milestone 1.11.0

#8377 fix: Kyverno variable substitution might not work correctly if the top level variable key contains dots
  cmd/cli/kubectl-kyverno/processor/policy_processor.go
  test/cli/test/deny-modify-platform-label-2/deny-modify-platform-label.yaml
  test/cli/test/deny-modify-platform-label-2/kyverno-test.yaml
  test/cli/test/deny-modify-platform-label-2/resource.yaml
  test/cli/test/deny-modify-platform-label-2/variables.yaml
  test/cli/test/deny-modify-platform-label-3/deny-modify-platform-label.yaml
  test/cli/test/deny-modify-platform-label-3/kyverno-test.yaml
  test/cli/test/deny-modify-platform-label-3/resource.yaml
  test/cli/test/deny-modify-platform-label-3/variables.yaml
Labels: milestone 1.11.0

#8379 refactor: move cli path utils package
  cmd/cli/kubectl-kyverno/commands/test/test.go
  cmd/cli/kubectl-kyverno/path/path.go
  cmd/cli/kubectl-kyverno/path/path_test.go
Labels: milestone 1.11.0

#8329 chore: bump kuttl version
  Makefile
Labels: milestone 1.11.0

#8386 fix: cli test policy
  test/cli/test/disallow-service/policy.yaml
Labels: milestone 1.11.0

#8388 chore: lint test files
  test/cli/test-mutate/add-default-resources/kyverno-test.yaml
Labels: milestone 1.11.0

#8389 fix: replace fmt.Print calls by fmt.Fprint ones
  cmd/cli/kubectl-kyverno/commands/apply/command.go
  cmd/cli/kubectl-kyverno/commands/apply/command_test.go
  cmd/cli/kubectl-kyverno/commands/test/command.go
  cmd/cli/kubectl-kyverno/commands/test/output.go
  cmd/cli/kubectl-kyverno/commands/test/test.go
  cmd/cli/kubectl-kyverno/processor/generate.go
  cmd/cli/kubectl-kyverno/processor/policy_processor.go
  cmd/cli/kubectl-kyverno/processor/policy_processor_test.go
  cmd/cli/kubectl-kyverno/processor/result.go
  cmd/cli/kubectl-kyverno/utils/common/common.go
  cmd/cli/kubectl-kyverno/utils/common/fetch.go
  cmd/cli/kubectl-kyverno/utils/common/kyverno_resources_types.go
  cmd/cli/kubectl-kyverno/utils/common/validating_admission_resources.go
Labels: milestone 1.11.0

#8130 feat: add CTLogs verification to cosign
  pkg/cosign/cosign.go
  pkg/cosign/cosign_test.go
  pkg/engine/internal/imageverifier.go
  pkg/images/verifier.go
  test/cli/test/images/verify-signature/policies.yaml
Labels: Documentation, milestone 1.11.0

#8397 fix: cli test manifests
  test/cli/test-generate/sync-multiple-resources/policy.yaml
  test/cli/test/images/digest/policies.yaml
  test/cli/test/simple/policy.yaml
Labels: milestone 1.11.0

#8398 fix: cli output improvements
  cmd/cli/kubectl-kyverno/commands/apply/command.go
  cmd/cli/kubectl-kyverno/commands/apply/table.go
  cmd/cli/kubectl-kyverno/commands/test/command.go
  cmd/cli/kubectl-kyverno/commands/test/output.go
  cmd/cli/kubectl-kyverno/commands/test/test.go
  cmd/cli/kubectl-kyverno/output/table/printer.go
  cmd/cli/kubectl-kyverno/output/table/printer_test.go
  cmd/cli/kubectl-kyverno/processor/policy_processor.go
  cmd/cli/kubectl-kyverno/processor/result.go
Labels: milestone 1.11.0

#8396 chore: bump kuttl version
  Makefile
Labels: milestone 1.11.0

#8399 fix typo
  pkg/controllers/cleanup/controller.go
  pkg/controllers/generic/configmap/controller.go
  pkg/controllers/generic/logging/controller.go
  pkg/controllers/generic/webhook/controller.go
  pkg/controllers/metrics/policy/controller.go
  pkg/controllers/policycache/controller.go
  pkg/controllers/report/admission/controller.go
  pkg/controllers/report/aggregate/controller.go
  pkg/controllers/report/background/controller.go
  pkg/controllers/report/resource/controller.go
  pkg/controllers/validatingadmissionpolicy-generate/controller.go
  pkg/controllers/webhook/controller.go
Labels: milestone 1.11.0

#8384 feat: use kubectl-validate to load policies
  Makefile
  cmd/cli/kubectl-kyverno/_testdata/policies/check-image.yaml
  cmd/cli/kubectl-kyverno/data/crds/kyverno.io_clusterpolicies.yaml
  cmd/cli/kubectl-kyverno/data/crds/kyverno.io_policies.yaml
  cmd/cli/kubectl-kyverno/data/data.go
  cmd/cli/kubectl-kyverno/experimental/experimental.go
  cmd/cli/kubectl-kyverno/experimental/experimental_test.go
  cmd/cli/kubectl-kyverno/policy/load.go
  cmd/cli/kubectl-kyverno/policy/load_test.go
  go.mod
  go.sum
  test/cli/test/images/digest/policies.yaml
Labels: Documentation, milestone 1.11.0

#8406 chore: use upstream kubectl-validate
  go.mod
  go.sum
Labels: milestone 1.11.0

#8403 fix: load policies
  pkg/utils/yaml/loadpolicy.go
Labels: milestone 1.11.0

#8407 chore: add workflow to test cli with kubectl-validate enabled
  .github/workflows/cli.yaml
Labels: milestone 1.11.0

#8400 refactor: add cli fix package
  cmd/cli/kubectl-kyverno/commands/fix/test/options.go
  cmd/cli/kubectl-kyverno/fix/test.go
  test/cli/registry/kyverno-test.yaml
  test/cli/scenarios_to_cli/other/scenario_validate_healthChecks/kyverno-test.yaml
  test/cli/test-generate/add-quota/kyverno-test.yaml
  test/cli/test-generate/sync-multiple-resources/kyverno-test.yaml
  test/cli/test-mutate/add-default-resources/kyverno-test.yaml
  test/cli/test-mutate/connection-draining/kyverno-test.yaml
  test/cli/test-mutate/foreach/kyverno-test.yaml
  test/cli/test-mutate/karpenter-annotations-to-nodeselector/kyverno-test.yaml
  test/cli/test-mutate/kyverno-test.yaml
  test/cli/test/anypattern_skip_error/kyverno-test.yaml
  test/cli/test/autogen-values/kyverno-test.yaml
  test/cli/test/autogen/kyverno-test.yaml
  test/cli/test/context-entries/kyverno-test.yaml
  test/cli/test/context-foreach/kyverno-test.yaml
  test/cli/test/custom-functions/kyverno-test.yaml
  test/cli/test/deny-modify-platform-label-2/kyverno-test.yaml
  test/cli/test/disallow-service/kyverno-test.yaml
  test/cli/test/foreach/kyverno-test.yaml
  test/cli/test/images/signatures/kyverno-test.yaml
  test/cli/test/images/verify-signature/kyverno-test.yaml
  test/cli/test/jmespath-brackets/kyverno-test.yaml
  test/cli/test/limit-configmap-for-sa/kyverno-test.yaml
  test/cli/test/mixed/kyverno-test.yaml
  test/cli/test/multiple_condition_keys/kyverno-test.yaml
  test/cli/test/mutate-keda-scaled-object/kyverno-test.yaml
  test/cli/test/nil-values-in-variables/exclude_namespaces_dynamically/kyverno-test.yaml
  test/cli/test/nil-values-in-variables/limit-duration/kyverno-test.yaml
  test/cli/test/policy-reports-skip-validation/kyverno-test.yaml
  test/cli/test/preconditions/kyverno-test.yaml
  test/cli/test/resource_lists/kyverno-test.yaml
  test/cli/test/restrict-something/kyverno-test.yaml
  test/cli/test/restrict_ingress_host/kyverno-test.yaml
  test/cli/test/secret/kyverno-test.yaml
  test/cli/test/simple/kyverno-test.yaml
  test/cli/test/validating-admission-policies/disallow-host-path/kyverno-test.yaml
  test/cli/test/variables/kyverno-test.yaml
  test/cli/test/wildcard_match_label_selector/kyverno-test.yaml
Labels: milestone 1.11.0

#8410 chore: bump kubectl-validate
  cmd/cli/kubectl-kyverno/policy/load.go
  go.mod
  go.sum
Labels: milestone 1.11.0

#8411 fix: names not formatted correctly in cli output
  cmd/cli/kubectl-kyverno/output/color/color.go
Labels: milestone 1.11.0

#8408 fix: bump golang exp lib
  cmd/cli/kubectl-kyverno/commands/jp/function/command.go
  cmd/cli/kubectl-kyverno/fix/test.go
  go.mod
  go.sum
  pkg/controllers/webhook/utils.go
  pkg/utils/data/compare.go
  pkg/utils/report/results.go
Labels: milestone 1.11.0

#8419 refactor: move per namespace reports aggregator in a sub package
  cmd/reports-controller/main.go
  pkg/controllers/report/aggregate/namespace/controller.go
  pkg/controllers/report/aggregate/namespace/log.go
Labels: milestone 1.11.0

#8420 feat: detect duplicate resources in cli fix test
  cmd/cli/kubectl-kyverno/fix/test.go
Labels: milestone 1.11.0

#8418 chore: fix cli test files
  test/cli/test-mutate/connection-draining/kyverno-test.yaml
  test/cli/test-mutate/foreach/kyverno-test.yaml
  test/cli/test-mutate/global-anchor/kyverno-test.yaml
  test/cli/test-mutate/kyverno-test.yaml
  test/cli/test/anypattern_skip_error/kyverno-test.yaml
  test/cli/test/autogen/kyverno-test.yaml
  test/cli/test/custom-functions/kyverno-test.yaml
  test/cli/test/foreach/kyverno-test.yaml
  test/cli/test/images/verify-signature/kyverno-test.yaml
  test/cli/test/jmespath-brackets/kyverno-test.yaml
  test/cli/test/limit-configmap-for-sa/kyverno-test.yaml
  test/cli/test/mutate-keda-scaled-object/kyverno-test.yaml
  test/cli/test/resource_lists/kyverno-test.yaml
  test/cli/test/restrict-something/kyverno-test.yaml
  test/cli/test/restrict_ingress_host/kyverno-test.yaml
  test/cli/test/simple/kyverno-test.yaml
  test/cli/test/variables/kyverno-test.yaml
  test/cli/test/wildcard_mutate/kyverno-test.yaml
Labels: milestone 1.11.0

#8423 chore: apply policy fixes
  Makefile
  cmd/cli/kubectl-kyverno/commands/fix/policy/options.go
  test/cli/test/admission_user_info/disallow_latest_tag.yaml
  test/cli/test/any-all-wildcard/policy.yaml
  test/cli/test/any-namespaceSelector/policy.yaml
  test/cli/test/anypattern_skip_error/policy.yaml
  test/cli/test/autogen-values/policy.yaml
  test/cli/test/autogen/policy.yaml
  test/cli/test/container_reorder/policy.yml
  test/cli/test/context-entries/policies.yaml
  test/cli/test/context-foreach/policy.yaml
  test/cli/test/custom-functions/policy.yaml
  test/cli/test/default_value_to_create/check-supplemental-groups.yaml
  test/cli/test/deny-modify-platform-label-2/deny-modify-platform-label.yaml
  test/cli/test/deny-modify-platform-label-3/deny-modify-platform-label.yaml
  test/cli/test/deny-modify-platform-label/deny-modify-platform-label.yaml
  test/cli/test/depecated_apis/policy.yaml
  test/cli/test/disallow-service/policy.yaml
  test/cli/test/exec-subresource/deny-exec-by-pod-label.yaml
  test/cli/test/foreach-preconditions/policies.yaml
  test/cli/test/foreach/policies.yaml
  test/cli/test/images/digest/policies.yaml
  test/cli/test/images/secure-images/policies.yaml
  test/cli/test/images/signatures/policies.yaml
  test/cli/test/images/verify-signature/policies.yaml
  test/cli/test/jmespath-brackets/policy.yaml
  test/cli/test/limit-configmap-for-sa/limit_configmap_for_sa.yaml
  test/cli/test/manifests/verify-signature/policies.yaml
  test/cli/test/mixed/policy.yaml
  test/cli/test/multiple_condition_keys/policy.yaml
  test/cli/test/mutate-keda-scaled-object/policy.yaml
  test/cli/test/nil-values-in-variables/exclude_namespaces_dynamically/exclude_namespaces_dynamically.yaml
  test/cli/test/nil-values-in-variables/limit-duration/limit-duration.yaml
  test/cli/test/node-status/check_node_for_cve_2022_0185.yaml
  test/cli/test/owner_references/policy.yaml
  test/cli/test/policy-reports-skip-validation/policy.yaml
  test/cli/test/preconditions/policy.yaml
  test/cli/test/rangeoperators/policy.yaml
  test/cli/test/resource_lists/policy.yaml
  test/cli/test/restrict-something/policy.yaml
  test/cli/test/restrict_ingress_host/restrict_ingress_host.yaml
  test/cli/test/scale-subresource/enforce-replicas-for-scale-subresource.yml
  test/cli/test/secret/policy.yaml
  test/cli/test/simple/policy.yaml
  test/cli/test/unordered-context-variables/policy.yaml
  test/cli/test/variables/cm-array-example.yaml
  test/cli/test/variables/cm-blk-scalar-example.yaml
  test/cli/test/variables/cm-globalval-example.yaml
  test/cli/test/variables/cm-multiple-example.yaml
  test/cli/test/variables/cm-variable-example.yaml
  test/cli/test/variables/image-example.yaml
  test/cli/test/wildcard_match_label_selector/policy.yaml
  test/cli/test/wildcard_mutate/policy.yaml
Labels: milestone 1.11.0

#8425 chore: apply policy fixes
  test/cli/registry/image-example.yaml
  test/cli/test-fail/invalid-ns/policy.yaml
  test/cli/test-fail/missing-policy/policy.yaml
  test/cli/test-fail/missing-resource/policy.yaml
  test/cli/test-fail/missing-rule/policy.yaml
  test/cli/test-generate/add-network-policy/policy.yaml
  test/cli/test-generate/add-quota/policy.yaml
  test/cli/test-generate/sync-secrets/policy.yaml
Labels: milestone 1.11.0

#8430 fix: add missing omitempty tag
  api/kyverno/v1beta1/updaterequest_types.go
Labels: milestone 1.11.0

#8427 chore: apply policy fixes
  cmd/cli/kubectl-kyverno/_testdata/policies/check-image.yaml
  cmd/cli/kubectl-kyverno/_testdata/policies/cpol-limit-configmap-for-sa.yaml
  cmd/cli/kubectl-kyverno/_testdata/policies/cpol-pod-requirements.yaml
  cmd/cli/kubectl-kyverno/_testdata/policies/pol-pod-requirements.yaml
  test/best_practices/add_network_policy.yaml
  test/best_practices/add_ns_quota.yaml
  test/best_practices/add_safe_to_evict.yaml
  test/best_practices/disallow_bind_mounts.yaml
  test/best_practices/disallow_host_network_port.yaml
  test/best_practices/disallow_host_pid_ipc.yaml
  test/best_practices/disallow_latest_tag.yaml
  test/best_practices/disallow_privileged.yaml
  test/best_practices/disallow_sysctls.yaml
  test/best_practices/require_certain_labels.yaml
  test/best_practices/require_labels.yaml
  test/best_practices/require_pod_requests_limits.yaml
  test/best_practices/select-secrets.yaml
  test/cli/apply/policies/policy.yaml
  test/cli/scenarios_to_cli/other/scenario_validate_default_proc_mount/policy.yaml
  test/cli/scenarios_to_cli/other/scenario_validate_selinux_context/policy.yaml
  test/cli/scenarios_to_cli/other/scenario_validate_volume_whitelist/policy.yaml
  test/cli/test-mutate/bug-demo/policy.yaml
  test/cli/test-mutate/connection-draining/policy.yaml
  test/cli/test-mutate/foreach/addIfNotPresent/policies.yaml
  test/cli/test-mutate/foreach/cumulativePatch/policies.yaml
  test/cli/test-mutate/foreach/policies.yaml
  test/cli/test-mutate/patched-resource/policy.yaml
  test/cli/test-mutate/policy.yaml
  test/more/add_default_labels.yaml
  test/more/add_pod_default_seccompprofile.yaml
  test/more/create_pod_antiaffinity.yaml
  test/more/disallow_secrets_from_env_vars.yaml
  test/more/ensure_probes_different.yaml
  test/more/require_deployments_have_multiple_replicas.yaml
  test/more/require_drop_all.yaml
  test/more/restrict_automount_sa_token.yaml
  test/more/restrict_ingress_classes.yaml
  test/more/restrict_loadbalancer.yaml
  test/more/restrict_usergroup_fsgroup_id.yaml
  test/more/spread_pods_across_topology.yaml
Labels: milestone 1.11.0

#8428 fix: address vulnerability issues in notary implementations
  pkg/notary/notary.go
  pkg/notary/repository.go
Labels: milestone 1.11.0

#8429 feat: fix user infos used in tests
  cmd/cli/kubectl-kyverno/commands/apply/command.go
  cmd/cli/kubectl-kyverno/commands/fix/test/options.go
  cmd/cli/kubectl-kyverno/commands/test/test.go
  cmd/cli/kubectl-kyverno/fix/userinfo.go
  cmd/cli/kubectl-kyverno/userinfo/userinfo.go
  cmd/cli/kubectl-kyverno/userinfo/userinfo_test.go
  test/cli/test/admission_user_info/user_info.yaml
Labels: Documentation, milestone 1.11.0

#8438 feat: fix variables used in tests
  cmd/cli/kubectl-kyverno/commands/fix/test/options.go
  cmd/cli/kubectl-kyverno/fix/values.go
  test/cli/test-mutate/foreach/values.yaml
  test/cli/test-mutate/patched-resource/kyverno-test.yaml
  test/cli/test/any-namespaceSelector/value.yaml
  test/cli/test/autogen-values/values.yaml
  test/cli/test/context-foreach/values.yaml
  test/cli/test/deny-modify-platform-label-2/variables.yaml
  test/cli/test/deny-modify-platform-label-3/variables.yaml
  test/cli/test/deny-modify-platform-label/variables.yaml
  test/cli/test/limit-configmap-for-sa/variables.yaml
  test/cli/test/nil-values-in-variables/exclude_namespaces_dynamically/values.yaml
  test/cli/test/policy-reports-skip-validation/values.yaml
  test/cli/test/restrict_ingress_host/values.yaml
  test/cli/test/scale-subresource/values.yaml
  test/cli/test/simple/values.yaml
  test/cli/test/unordered-context-variables/variables.yaml
  test/cli/test/variables/variables.yaml
Labels: Documentation, milestone 1.11.0

#8385 feat: add support for custom sigstore using TUF
  .github/workflows/conformance.yaml
  CHANGELOG.md
  charts/kyverno/Chart.yaml
  charts/kyverno/README.md
  charts/kyverno/templates/_helpers.tpl
  charts/kyverno/templates/admission-controller/deployment.yaml
  charts/kyverno/templates/reports-controller/deployment.yaml
  charts/kyverno/values.yaml
  cmd/internal/flag.go
  cmd/internal/setup.go
  cmd/internal/tuf.go
  scripts/config/custom-sigstore/kyverno.yaml
  test/conformance/kuttl/custom-sigstore/standard/basic/01-manifest.yaml
  test/conformance/kuttl/custom-sigstore/standard/basic/02-assert.yaml
  test/conformance/kuttl/custom-sigstore/standard/basic/03-goodpod.yaml
  test/conformance/kuttl/custom-sigstore/standard/basic/04-assert.yaml
Labels: milestone 1.11.0

#8439 chore: embed cli schemas in cli
  Makefile
  cmd/cli/kubectl-kyverno/data/crds/cli.kyverno.io_tests.yaml
  cmd/cli/kubectl-kyverno/data/crds/cli.kyverno.io_userinfoes.yaml
  cmd/cli/kubectl-kyverno/data/crds/cli.kyverno.io_values.yaml
Labels: milestone 1.11.0

#8444 style: improve descriptions in notary verifier
  pkg/notary/notary.go
  pkg/notary/repository.go
Labels: milestone 1.11.0

#8436 feat: add a new wrapper logger for debugging
  pkg/notary/log.go
  pkg/notary/notary.go
Labels: milestone 1.11.0

#8442 chore: improve log messages
  pkg/background/mutate/mutate.go
Labels: milestone 1.11.0

#8324 skip other checks if operations do not match
  pkg/engine/utils/match.go
  pkg/engine/wildcards/wildcards.go
  pkg/utils/match/labels.go
Labels: milestone 1.11.0

#8450 chore: bump golang to 1.21
  .github/actions/setup-build-env/action.yaml
  go.mod
  go.sum
Labels: milestone 1.11.0

#8449 chore: fix policies
  Makefile
  cmd/cli/kubectl-kyverno/_testdata/tests/test-1/kyverno-test.yaml
  cmd/cli/kubectl-kyverno/_testdata/tests/test-2/kyverno-test.yaml
  cmd/cli/kubectl-kyverno/commands/fix/policy/options.go
  cmd/cli/kubectl-kyverno/test/load_test.go
  test/conformance/kuttl/_aaa_template_resources/01-manifests.yaml
  test/conformance/kuttl/_aaa_template_resources/scaffold/policy.yaml
  test/conformance/kuttl/deferred/foreach/manifests.yaml
  test/conformance/kuttl/exceptions/events-creation/policy.yaml
  test/conformance/kuttl/generate/clusterpolicy/cornercases/cpol-data-sync-remove-list-element/policy-remove-egress.yaml
  test/conformance/kuttl/generate/clusterpolicy/cornercases/cpol-data-sync-remove-list-element/policy.yaml
  test/conformance/kuttl/generate/clusterpolicy/standard/data/sync/cpol-data-sync-modify-policy/01-policy.yaml
  test/conformance/kuttl/generate/clusterpolicy/standard/data/sync/cpol-data-sync-modify-policy/04-modify-policy.yaml
  test/conformance/kuttl/generate/validation/clusterpolicy/immutable-rule-spec/update-rule-preconditions.yaml
  test/conformance/kuttl/generate/validation/policy/immutable-rule-spec/update-rule-preconditions.yaml
  test/conformance/kuttl/mutate/clusterpolicy/standard/basic-check-output/01-manifests.yaml
  test/conformance/kuttl/mutate/clusterpolicy/standard/mutate-node-status/01-manifests.yaml
  test/conformance/kuttl/mutate/e2e/foreach-patchStrategicMerge-context/02-policy.yaml
  test/conformance/kuttl/policy-validation/cluster-policy/admission-disabled/policy-mutate.yaml
  test/conformance/kuttl/policy-validation/cluster-policy/schema-validation-crd/01-policy.yaml
  test/conformance/kuttl/policy-validation/policy/admission-disabled/policy-mutate.yaml
  test/conformance/kuttl/validate/clusterpolicy/standard/variables/lazyload/conditions/01-manifests.yaml
  test/conformance/kuttl/validate/e2e/trusted-images/policy.yaml
  test/conformance/kuttl/verifyImages/clusterpolicy/standard/empty-image/policy.yaml
  test/conformance/kuttl/verifyImages/clusterpolicy/standard/imageExtractors-complex-keyless/policy.yaml
  test/conformance/kuttl/verifyImages/clusterpolicy/standard/imageExtractors-complex/policy.yaml
  test/conformance/kuttl/verifyImages/clusterpolicy/standard/imageExtractors-none/policy.yaml
  test/conformance/kuttl/verifyImages/clusterpolicy/standard/imageExtractors-simple/policy.yaml
  test/policy/deny/policy.yaml
  test/policy/mutate/policy_mutate_pod_disable_automountingapicred.yaml
  test/policy/mutate/policy_mutate_pod_foreach_with_context.yaml
  test/policy/validate/check_cpu_memory.yaml
  test/policy/validate/check_hostpath.yaml
  test/policy/validate/check_image_version.yaml
  test/policy/validate/check_memory_requests_same_yaml.yaml
  test/policy/validate/check_memory_requests_same_yaml_relative.yaml
  test/policy/validate/check_node_for_cve_2022_0185.yaml
  test/policy/validate/check_nodeport.yaml
  test/policy/validate/check_not_root.yaml
  test/policy/validate/check_probe_exists.yaml
  test/policy/validate/check_probe_intervals.yaml
  test/policy/validate/check_registries.yaml
Labels: milestone 1.11.0

#8454 fix: linter
  .github/workflows/lint.yaml
  cmd/cli/kubectl-kyverno/experimental/experimental.go
Labels: milestone 1.11.0

#8452 fix: use go 1.21 new packages
  cmd/cli/kubectl-kyverno/commands/jp/function/command.go
  cmd/cli/kubectl-kyverno/fix/test.go
  go.mod
  pkg/autogen/autogen.go
  pkg/background/generate/generate.go
  pkg/config/metricsconfig.go
  pkg/controllers/report/resource/controller.go
  pkg/controllers/validatingadmissionpolicy-generate/translation.go
  pkg/controllers/webhook/utils.go
  pkg/engine/jsonutils/traverse.go
  pkg/engine/utils/match.go
  pkg/openapi/utils.go
  pkg/utils/data/compare.go
  pkg/utils/report/results.go
  pkg/validation/policy/actions.go
  pkg/validation/policy/validate.go
Labels: milestone 1.11.0

#8453 chore: bump a couple of deps
  go.mod
  go.sum
Labels: milestone 1.11.0

#8443 feat: add check for digest mismatch
  pkg/registryclient/client.go
  pkg/registryclient/client_test.go
Labels: milestone 1.11.0

#8458 fix: use vap map in report aggregation
  cmd/reports-controller/main.go
  pkg/controllers/report/aggregate/resource/controller.go
Labels: milestone 1.11.0

#8459 fix: custom-sigstore conformance job
  .github/workflows/conformance.yaml
Labels: milestone 1.11.0

#8464 chore: add a required job to simplify branch protection
  .github/workflows/conformance.yaml
Labels: cherry-pick-required, milestone 1.11.0

#8468 chore: free disk space before running jobs
  .github/actions/setup-build-env/action.yaml
  .github/actions/setup-test-env/action.yaml
Labels: cherry-pick-required, milestone 1.11.0

#8471 fix: release workflow
  .github/actions/setup-build-env/action.yaml
  .github/actions/setup-test-env/action.yaml
  .github/workflows/release.yaml
Labels: cherry-pick-required, milestone 1.11.0

#8473 fix: publish images workflow
  .github/workflows/images-publish.yaml
Labels: cherry-pick-required, milestone 1.11.0

#8475 fix: release archive name template
  .github/workflows/release.yaml
  .goreleaser.yml
Labels: cherry-pick-required, milestone 1.11.0

#8478 fix: make free disk space action configurable
  .github/actions/setup-build-env/action.yaml
  .github/actions/setup-test-env/action.yaml
Labels: cherry-pick-required, milestone 1.11.0

#8476 release: fix chart versions for 1.11.0-beta.1
  charts/kyverno-policies/Chart.yaml
  charts/kyverno-policies/README.md
  charts/kyverno/Chart.yaml
  charts/kyverno/README.md
Labels: milestone 1.11.0

#8470 refactor: check subjects func
  pkg/utils/match/subjects.go
Labels: cherry-pick-required, milestone 1.11.0

#8482 chore: fix release
  .github/workflows/release.yaml
Labels: cherry-pick-required, milestone 1.11.0

#8483 fix: deep copy before validaitng
  cmd/cli/kubectl-kyverno/policy/load.go
Labels: cherry-pick-required, milestone 1.11.0

#8484 feat: add a package to convert unstructured into typed
  cmd/cli/kubectl-kyverno/_testdata/resources/namespace.yaml
  cmd/cli/kubectl-kyverno/resource/convert/convert.go
  cmd/cli/kubectl-kyverno/resource/convert/convert_test.go
Labels: cherry-pick-required, milestone 1.11.0

#8488 feat: add cli resource loader package
  cmd/cli/kubectl-kyverno/_testdata/resources/namespace.yaml
  cmd/cli/kubectl-kyverno/resource/loader/loader.go
  cmd/cli/kubectl-kyverno/resource/loader/loader_test.go
Labels: cherry-pick-required, milestone 1.11.0

#8489 feat: improve assertion and error messages in ivcache tests
  pkg/engine/image_verify_test.go
Labels: cherry-pick-required, milestone 1.11.0
