Repository kyverno/kyverno, pull requests merged in 2023-05, with the labels that each got.

#7068 fix: flaky github action
  .github/actions/kyverno-wait-ready/action.yaml
Labels: cherry-pick-required, milestone 1.10.0

#7063 refactor: engine response policy
  cmd/cli/kubectl-kyverno/apply/apply_command.go
  cmd/cli/kubectl-kyverno/apply/report.go
  cmd/cli/kubectl-kyverno/apply/report_test.go
  cmd/cli/kubectl-kyverno/test/test.go
  cmd/cli/kubectl-kyverno/utils/common/common.go
  pkg/background/generate/generate.go
  pkg/controllers/report/utils/events.go
  pkg/engine/api/engineresponse.go
  pkg/engine/api/engineresponse_test.go
  pkg/engine/metrics.go
  pkg/event/events.go
  pkg/utils/annotations.go
  pkg/utils/report/results.go
  pkg/webhooks/resource/utils.go
  pkg/webhooks/utils/block.go
  pkg/webhooks/utils/error.go
  pkg/webhooks/utils/warning.go
  pkg/webhooks/utils/warning_test.go
Labels: cherry-pick-required, milestone 1.10.0

#7080 feat: require `generate.apiVersion`
  pkg/policy/generate/validate.go
  pkg/policy/generate/validate_test.go
  test/conformance/kuttl/generate/clusterpolicy/cornercases/clone-role-and-rolebinding/01-manifests.yaml
  test/conformance/kuttl/generate/clusterpolicy/cornercases/data-role-and-rolebinding/01-manifests.yaml
Labels: cherry-pick-required, milestone 1.10.0

#7083 fix: remove excluded groups from matching
  cmd/cleanup-controller/handlers/cleanup/handlers.go
  pkg/engine/exceptions.go
  pkg/utils/match/match.go
Labels: cherry-pick-required, milestone 1.10.0

#7082 feat: add config inclusions support
  charts/kyverno/README.md
  charts/kyverno/values.yaml
  config/install-latest-testing.yaml
  pkg/config/config.go
  pkg/config/types.go
  pkg/config/types_test.go
  pkg/webhooks/handlers/filter.go
Labels: Documentation, cherry-pick-required, milestone 1.10.0

#7098 feat: generate policy validation - target resource scope & namespace settings
  api/kyverno/v1/common_types.go
  api/kyverno/v1/rule_test.go
  api/kyverno/v1/rule_types.go
  api/kyverno/v2beta1/rule_test.go
  api/kyverno/v2beta1/rule_types.go
  pkg/validation/policy/validate.go
  test/conformance/kuttl/generate/validation/clusterpolicy/target-namespace-scope/01-fail.yaml
  test/conformance/kuttl/generate/validation/clusterpolicy/target-namespace-scope/README.md
  test/conformance/kuttl/generate/validation/clusterpolicy/target-namespace-scope/policy-cluster-target.yaml
  test/conformance/kuttl/generate/validation/clusterpolicy/target-namespace-scope/policy-namespaced-target.yaml
  test/conformance/kuttl/generate/validation/policy/target-namespace-scope/01-fail.yaml
  test/conformance/kuttl/generate/validation/policy/target-namespace-scope/README.md
  test/conformance/kuttl/generate/validation/policy/target-namespace-scope/policy-namespaced-target.yaml
Labels: cherry-pick-required, milestone 1.10.0

#7071 lazy loading of context vars
  pkg/engine/api/contextloader.go
  pkg/engine/context/context.go
  pkg/engine/context/evaluate.go
  test/conformance/kuttl/validate/clusterpolicy/standard/apicalls/lazyload/01-assert.yaml
  test/conformance/kuttl/validate/clusterpolicy/standard/apicalls/lazyload/01-manifests.yaml
  test/conformance/kuttl/validate/clusterpolicy/standard/apicalls/lazyload/02-teststep.yaml
  test/conformance/kuttl/validate/clusterpolicy/standard/apicalls/lazyload/README.md
Labels: cherry-pick-required

#7113 Conditions message
  api/kyverno/v1/common_types.go
  charts/kyverno/templates/crds/crds.yaml
  config/crds/kyverno.io_clusterpolicies.yaml
  config/crds/kyverno.io_policies.yaml
  config/install-latest-testing.yaml
  docs/user/crd/index.html
  pkg/engine/attestation_test.go
  pkg/engine/background.go
  pkg/engine/engine.go
  pkg/engine/handlers/mutation/common.go
  pkg/engine/handlers/mutation/mutate_existing.go
  pkg/engine/handlers/validation/validate_resource.go
  pkg/engine/image_verify_test.go
  pkg/engine/internal/imageverifier.go
  pkg/engine/internal/preconditions.go
  pkg/engine/variables/evaluate.go
  pkg/engine/variables/evaluate_test.go
  pkg/utils/strings/join.go
  pkg/utils/strings/join_test.go
Labels: cherry-pick-required, milestone 1.10.0

#7125 fix: remove the duplicate entry from the admission clusterrole
  charts/kyverno/templates/admission-controller/role.yaml
  config/install-latest-testing.yaml
Labels: cherry-pick-required, milestone 1.10.0

#7142 chore: update background scan logging messages
  pkg/policy/policy_controller.go
Labels: cherry-pick-required, milestone 1.10.0

#7144 Update chart with v2 to v3 migration guidance.
  charts/kyverno/README.md
  charts/kyverno/README.md.gotmpl
  charts/kyverno/templates/validate.yaml
Labels: cherry-pick-required, milestone 1.10.0

#7147 add Controller Internals info
  docs/dev/controllers/README.md
Labels: Documentation

#6656 Supporting ValidatingAdmissionPolicy in kyverno cli (apply and test command)
  cmd/cli/kubectl-kyverno/apply/apply_command.go
  cmd/cli/kubectl-kyverno/apply/apply_command_test.go
  cmd/cli/kubectl-kyverno/apply/report.go
  cmd/cli/kubectl-kyverno/oci/oci_pull.go
  cmd/cli/kubectl-kyverno/oci/oci_push.go
  cmd/cli/kubectl-kyverno/test/api/types.go
  cmd/cli/kubectl-kyverno/test/test.go
  cmd/cli/kubectl-kyverno/test/test_command.go
  cmd/cli/kubectl-kyverno/test/test_command_test.go
  cmd/cli/kubectl-kyverno/utils/common/common.go
  cmd/cli/kubectl-kyverno/utils/common/common_test.go
  cmd/cli/kubectl-kyverno/utils/common/fetch.go
  cmd/cli/kubectl-kyverno/utils/common/kyverno_policies_types.go
  cmd/cli/kubectl-kyverno/utils/common/kyverno_resources_types.go
  cmd/cli/kubectl-kyverno/utils/common/policy_interface.go
  cmd/cli/kubectl-kyverno/utils/common/resource_interface.go
  cmd/cli/kubectl-kyverno/utils/common/validating_admission_policies_types.go
  cmd/cli/kubectl-kyverno/utils/common/validatingadmission_resources_types.go
  go.mod
  go.sum
  pkg/autogen/autogen_test.go
  pkg/engine/api/engineresponse.go
  pkg/utils/yaml/loadpolicy.go
  pkg/utils/yaml/loadpolicy_test.go
  pkg/validation/policy/allowed_vars_test.go
  test/cli/test-validating-admission-policy/validate-deployment/deployment1.yaml
  test/cli/test-validating-admission-policy/validate-deployment/deployment2.yaml
  test/cli/test-validating-admission-policy/validate-deployment/policy.yaml
Labels: milestone 1.11.0

#7010 Added `omit-events` flag to allow disabling of event emission
  cmd/background-controller/main.go
  cmd/kyverno/main.go
  cmd/reports-controller/main.go
  pkg/event/controller.go
  test/conformance/kuttl/flags/standard/emit-events/01-admission-controller-apply.yaml
  test/conformance/kuttl/flags/standard/emit-events/02-policy.yaml
  test/conformance/kuttl/flags/standard/emit-events/03-resource.yaml
  test/conformance/kuttl/flags/standard/emit-events/04-event.yaml
  test/conformance/kuttl/flags/standard/emit-events/05-script.yaml
  test/conformance/kuttl/flags/standard/emit-events/README.md
  test/conformance/kuttl/flags/standard/emit-events/admission-controller-assert.yaml
  test/conformance/kuttl/flags/standard/emit-events/admission-controller.yaml
  test/conformance/kuttl/flags/standard/emit-events/event-assert.yaml
  test/conformance/kuttl/flags/standard/emit-events/policy-assert.yaml
  test/conformance/kuttl/flags/standard/emit-events/policy.yaml
  test/conformance/kuttl/flags/standard/emit-events/resource-fail.yaml
  test/conformance/kuttl/flags/standard/emit-events/resource.yaml
Labels: Documentation, cherry-pick-required, milestone 1.10.0

#7153 fix: let reports controller quit when loosing the lead
  cmd/reports-controller/main.go
Labels: cherry-pick-required, milestone 1.10.0

#7152 chore: bump otel deps
  cmd/cleanup-controller/handlers/cleanup/handlers.go
  go.mod
  go.sum
  pkg/controllers/metrics/policy/controller.go
  pkg/engine/engine.go
  pkg/engine/metrics.go
  pkg/metrics/metrics.go
  pkg/utils/controller/run.go
  pkg/webhooks/handlers/metrics.go
Labels: milestone 1.11.0

#7163 fixed typo in the v2 to v3 helm migration guide
  charts/kyverno/README.md
  charts/kyverno/README.md.gotmpl
Labels: cherry-pick-required, milestone 1.10.0

#7166 chore: update dev doc for controllers
  docs/dev/controllers/README.md
Labels: milestone 1.11.0

#7181 feat: add logging feature to helm chart
  charts/kyverno/README.md
  charts/kyverno/templates/_helpers.tpl
  charts/kyverno/templates/admission-controller/deployment.yaml
  charts/kyverno/templates/background-controller/deployment.yaml
  charts/kyverno/templates/cleanup-controller/deployment.yaml
  charts/kyverno/templates/reports-controller/deployment.yaml
  charts/kyverno/values.yaml
  config/install-latest-testing.yaml
Labels: cherry-pick-required, milestone 1.10.0

#7139 refactor: hide json context from caller
  cmd/cli/kubectl-kyverno/apply/apply_command.go
  cmd/cli/kubectl-kyverno/test/test.go
  cmd/cli/kubectl-kyverno/utils/common/common_test.go
  cmd/cli/kubectl-kyverno/utils/common/kyverno_policies_types.go
  pkg/background/common/context.go
  pkg/controllers/report/utils/scanner.go
  pkg/engine/handlers/validation/validate_manifest_test.go
  pkg/engine/image_verify_test.go
  pkg/engine/mutation_test.go
  pkg/engine/policy_context.go
  pkg/engine/policycontext/policy_context.go
  pkg/engine/validation_test.go
  pkg/webhooks/resource/validation_test.go
Labels: milestone 1.11.0

#7183 fix: preconditions in mutate existing rules
  cmd/cleanup-controller/handlers/cleanup/handlers.go
  pkg/engine/context/context.go
  pkg/engine/handlers/mutation/mutate_existing.go
  pkg/engine/mutate/mutation.go
  test/conformance/kuttl/mutate/existing/preconditions/01-resources.yaml
  test/conformance/kuttl/mutate/existing/preconditions/02-policy.yaml
  test/conformance/kuttl/mutate/existing/preconditions/03-resources-assert.yaml
  test/conformance/kuttl/mutate/existing/preconditions/04-resources-error.yaml
  test/conformance/kuttl/mutate/existing/preconditions/README.md
  test/conformance/kuttl/mutate/existing/preconditions/policy-ready.yaml
  test/conformance/kuttl/mutate/existing/preconditions/policy.yaml
  test/conformance/kuttl/mutate/existing/preconditions/resources-assert.yaml
  test/conformance/kuttl/mutate/existing/preconditions/resources-error.yaml
  test/conformance/kuttl/mutate/existing/preconditions/resources.yaml
Labels: cherry-pick-required, milestone 1.10.0

#7186 refactor: use structured jsonpatch instead of byte arrays
  pkg/background/mutate/mutate.go
  pkg/engine/api/engineresponse.go
  pkg/engine/api/engineresponse_test.go
  pkg/engine/api/imageverifymetadata.go
  pkg/engine/api/imageverifymetadata_test.go
  pkg/engine/api/ruleresponse.go
  pkg/engine/handlers/mutation/common.go
  pkg/engine/image_verify_test.go
  pkg/engine/internal/imageverifier.go
  pkg/engine/mutate/mutation_test.go
  pkg/engine/mutation_test.go
  pkg/utils/annotations.go
  pkg/utils/annotations_test.go
  pkg/webhooks/resource/imageverification/handler.go
  pkg/webhooks/resource/mutation/mutation.go
Labels: milestone 1.11.0

#7079 fix: panic for policy variable validation
  pkg/validation/policy/validate.go
Labels: cherry-pick-required, milestone 1.10.1

#7196 fix: remove policy-reporter from dev lab
  Makefile
Labels: cherry-pick-required, milestone 1.10.0

#7198 fix: cleanup controller metrics name
  cmd/cleanup-controller/handlers/cleanup/handlers.go
Labels: cherry-pick-required, milestone 1.10.0

#7197 fix: http request metrics
  pkg/webhooks/handlers/admission.go
  pkg/webhooks/handlers/metrics.go
Labels: cherry-pick-required, milestone 1.10.0

#7203 remove duplicate code
  pkg/engine/internal/imageverifier.go
Labels: cherry-pick-required, milestone 1.10.0

#7204 handle Deny rules where conditions eval to true
  pkg/engine/variables/evaluate.go
  pkg/engine/variables/evaluate_test.go
Labels: cherry-pick-required, milestone 1.10.0

#7208 [Bug] Enforce message wrong
  pkg/webhooks/utils/block.go
  pkg/webhooks/utils/block_test.go
Labels: cherry-pick-required, milestone 1.10.0

#7220 fix: panic in reports controller
  pkg/controllers/report/admission/controller.go
Labels: cherry-pick-required, milestone 1.10.0

#7225 fix: do not exclude kube-system service accounts by default
  charts/kyverno/README.md
  charts/kyverno/values.yaml
  config/install-latest-testing.yaml
Labels: cherry-pick-required, milestone 1.10.0

#7218 fix: match logic misbehave
  pkg/background/mutate/mutate.go
  pkg/engine/engine.go
  pkg/engine/validation_test.go
  pkg/webhooks/resource/utils.go
  test/conformance/kuttl/mutate/clusterpolicy/standard/existing/multiple-rules-match-exclude/01-assert.yaml
  test/conformance/kuttl/mutate/clusterpolicy/standard/existing/multiple-rules-match-exclude/01-manifests.yaml
  test/conformance/kuttl/mutate/clusterpolicy/standard/existing/multiple-rules-match-exclude/02-script.yaml
  test/conformance/kuttl/mutate/clusterpolicy/standard/existing/multiple-rules-match-exclude/03-check.yaml
  test/conformance/kuttl/mutate/clusterpolicy/standard/existing/multiple-rules-match-exclude/README.md
  test/conformance/kuttl/mutate/clusterpolicy/standard/existing/multiple-rules-match-exclude/pod-bad.yaml
  test/conformance/kuttl/mutate/clusterpolicy/standard/existing/multiple-rules-match-exclude/pod-good.yaml
Labels: cherry-pick-required, milestone 1.10.0

#7238 lazy evaluate vars in conditions
  pkg/engine/background.go
  pkg/engine/internal/imageverifier.go
  pkg/engine/internal/preconditions.go
  pkg/engine/validation_test.go
  pkg/engine/variables/evaluate.go
  pkg/engine/variables/evaluate_test.go
  test/cli/test/nil-values-in-variables/limit-duration/kyverno-test.yaml
  test/cli/test/nil-values-in-variables/limit-duration/limit-duration.yaml
  test/conformance/kuttl/validate/clusterpolicy/standard/variables/lazyload/README.md
  test/conformance/kuttl/validate/clusterpolicy/standard/variables/lazyload/conditions/01-assert.yaml
  test/conformance/kuttl/validate/clusterpolicy/standard/variables/lazyload/conditions/01-manifests.yaml
  test/conformance/kuttl/validate/clusterpolicy/standard/variables/lazyload/conditions/02-assert.yaml
  test/conformance/kuttl/validate/clusterpolicy/standard/variables/lazyload/conditions/02-test.yaml
  test/conformance/kuttl/validate/clusterpolicy/standard/variables/lazyload/conditions/03-cleanup.yaml
  test/conformance/kuttl/validate/clusterpolicy/standard/variables/lazyload/conditions/03-manifests.yaml
  test/conformance/kuttl/validate/clusterpolicy/standard/variables/lazyload/conditions/04-test.yaml
  test/conformance/kuttl/validate/clusterpolicy/standard/variables/lazyload/conditions/pod-bad.yaml
  test/conformance/kuttl/validate/clusterpolicy/standard/variables/lazyload/conditions/pod-good.yaml
Labels: cherry-pick-required, milestone 1.10.0

#7259 fix: quote image in ImageInfo validation error
  pkg/utils/api/image.go
Labels: cherry-pick-required, milestone 1.10.0

#7261 fix: auto update webhooks not configuring fail endpoint
  pkg/controllers/webhook/controller.go
Labels: cherry-pick-required, milestone 1.10.0

#7263 fix: PSa latest version check
  pkg/pss/evaluate.go
  pkg/pss/evaluate_test.go
Labels: cherry-pick-required, milestone 1.10.0, milestone 1.9.4

#7276 feat: add yaml util to check empty document
  pkg/utils/yaml/utils.go
Labels: cherry-pick-required, milestone 1.10.0

#7286 Fix: [Bug] registry is not defaulted to ghcr.io for backgroundController
  charts/kyverno/README.md
  charts/kyverno/values.yaml
Labels: cherry-pick-required, milestone 1.10.0

#7283 chore: kuttl tests for podSecurity rule
  test/conformance/kuttl/validate/clusterpolicy/standard/psa/seccomp-latest-check-no-exclusion/01-policy.yaml
  test/conformance/kuttl/validate/clusterpolicy/standard/psa/seccomp-latest-check-no-exclusion/02-resources.yaml
  test/conformance/kuttl/validate/clusterpolicy/standard/psa/seccomp-latest-check-no-exclusion/README.md
  test/conformance/kuttl/validate/clusterpolicy/standard/psa/seccomp-latest-check-no-exclusion/bad-pod-1.yaml
  test/conformance/kuttl/validate/clusterpolicy/standard/psa/seccomp-latest-check-no-exclusion/bad-pod-2.yaml
  test/conformance/kuttl/validate/clusterpolicy/standard/psa/seccomp-latest-check-no-exclusion/good-pod.yaml
  test/conformance/kuttl/validate/clusterpolicy/standard/psa/seccomp-latest-check-no-exclusion/policy-assert.yaml
  test/conformance/kuttl/validate/clusterpolicy/standard/psa/seccomp-latest-check-no-exclusion/policy.yaml
Labels: cherry-pick-required, milestone 1.10.0

#7298 update note
  charts/kyverno/templates/NOTES.txt
Labels: cherry-pick-required, milestone 1.10.0

#7303 fix: do not use release name in chart
  charts/kyverno/templates/admission-controller/_helpers.tpl
  charts/kyverno/templates/background-controller/_helpers.tpl
  charts/kyverno/templates/cleanup-controller/_helpers.tpl
  charts/kyverno/templates/rbac/_helpers.tpl
  charts/kyverno/templates/reports-controller/_helpers.tpl
Labels: cherry-pick-required, milestone 1.10.0

#7308 fix: tls cipher suites
  cmd/cleanup-controller/server.go
  pkg/webhooks/server.go
Labels: cherry-pick-required, milestone 1.10.0

#7315 fix: chart `app.kubernetes.io/instance` label value
  charts/kyverno/templates/_helpers/_labels.tpl
Labels: cherry-pick-required, milestone 1.10.0

#7321 rename NotaryV2 to Notary
  api/kyverno/v1/image_verification_types.go
  api/kyverno/v2beta1/image_verification_types.go
  charts/kyverno/templates/crds/crds.yaml
  config/crds/kyverno.io_clusterpolicies.yaml
  config/crds/kyverno.io_policies.yaml
  config/install-latest-testing.yaml
  docs/user/crd/index.html
  pkg/engine/internal/imageverifier.go
  pkg/notary/notary.go
  pkg/notary/registry.go
  pkg/notary/truststore.go
Labels: milestone 1.10.0

#7312 feat: [Feature] add podLabels and podAnnotations to background clean and reports controllers
  charts/kyverno/README.md
  charts/kyverno/templates/admission-controller/deployment.yaml
  charts/kyverno/templates/background-controller/deployment.yaml
  charts/kyverno/templates/cleanup-controller/deployment.yaml
  charts/kyverno/templates/reports-controller/deployment.yaml
  charts/kyverno/values.yaml
Labels: cherry-pick-required, milestone 1.10.0

#7324 remove validation for deprecated field generateExistingOnPolicyUpdate
  api/kyverno/v1/spec_types.go
  api/kyverno/v2beta1/spec_types.go
Labels: cherry-pick-required, milestone 1.10.0

#7323 feat: add auth checker interface
  pkg/auth/auth.go
  pkg/auth/checker/auth.go
  pkg/auth/checker/helpers.go
  pkg/auth/checker/self.go
  pkg/auth/checker/subject.go
Labels: milestone 1.11.0

#7332 fix: panic in background reports
  pkg/controllers/report/background/controller.go
  pkg/controllers/report/utils/scanner.go
Labels: cherry-pick-required, milestone 1.10.1

#7295 Add scaling testing instructions
  docs/perf-testing/README.md
  docs/perf-testing/kwok.sh
  docs/perf-testing/main.go
  docs/perf-testing/node.sh
  docs/perf-testing/size.sh
Labels: cherry-pick-required, milestone 1.10.0

#7341 fix: config map name in helm chart
  charts/kyverno/templates/background-controller/deployment.yaml
  charts/kyverno/templates/cleanup-controller/deployment.yaml
  charts/kyverno/templates/reports-controller/deployment.yaml
  config/install-latest-testing.yaml
Labels: cherry-pick-required, milestone 1.10.0

#7338 fix: flaky kuttl test add-external-secret-prefix
  test/conformance/kuttl/mutate/refactor/add-external-secret-prefix/03-sleep.yaml
Labels: cherry-pick-required, milestone 1.10.1

#7339 fix: mutate resource in image verification handler
  pkg/engine/handlers/mutation/mutate_image.go
Labels: milestone 1.11.0

#7331 feat: cleanup job tolerations
  charts/kyverno/README.md
  charts/kyverno/templates/cleanup/cleanup-admission-reports.yaml
  charts/kyverno/templates/cleanup/cleanup-cluster-admission-reports.yaml
  charts/kyverno/values.yaml
Labels: cherry-pick-required, milestone 1.10.1

#7360 fix: helm migration guide
  charts/kyverno/README.md
  charts/kyverno/README.md.gotmpl
Labels: cherry-pick-required, milestone 1.10.0

#7363 fix: protect managed resource not considering other components
  pkg/webhooks/handlers/protect.go
Labels: cherry-pick-required, milestone 1.10.1

#7362 fix: permission validation message
  pkg/policy/mutate/validate.go
Labels: cherry-pick-required, milestone 1.10.1
