Repository kyverno/kyverno, pull requests merged in 2023-04, with the labels that each got.

#6751 refactor: don't process context/preconditions in invokeHandler
  pkg/background/generate/generate.go
  pkg/engine/api/engine.go
  pkg/engine/engine.go
  pkg/engine/generation.go
  pkg/engine/handlers/handler.go
  pkg/engine/handlers/mutation/common.go
  pkg/engine/handlers/mutation/mutate_existing.go
  pkg/engine/handlers/mutation/mutate_image.go
  pkg/engine/handlers/mutation/mutate_resource.go
  pkg/engine/handlers/validation/validate_image.go
  pkg/engine/handlers/validation/validate_manifest.go
  pkg/engine/handlers/validation/validate_pss.go
  pkg/engine/handlers/validation/validate_resource.go
  pkg/engine/imageVerify.go
  pkg/engine/image_verify.go
  pkg/engine/image_verify_test.go
  pkg/engine/policy_context.go
  pkg/engine/validation.go
Labels: milestone 1.10.0

#6683 [Chore] Bump to Go 1.20
  .github/actions/setup-build-env/action.yaml
  .github/workflows/tests.yaml
  Makefile
  go.mod
  litmuschaos/pod_cpu_hog/pod_cpu_hog_test.go
  pkg/clients/dclient/discovery_test.go
  pkg/controllers/webhook/utils_test.go
  pkg/engine/apicall/apiCall_test.go
  pkg/engine/jmespath/functions.go
  pkg/engine/variables/operator/allnotin_test.go
  pkg/utils/jsonpointer/pointer.go
  pkg/webhooks/resource/handlers_test.go
Labels: milestone 1.10.0

#6762 dep: bump allowed PSa to 1.26
  Makefile
  api/kyverno/v1/common_types.go
  charts/kyverno/templates/crds/crds.yaml
  config/crds/kyverno.io_clusterpolicies.yaml
  config/crds/kyverno.io_policies.yaml
  config/install-latest-testing.yaml
  docs/crd/v1/index.html
  docs/user/crd/index.html
Labels: milestone 1.10.0

#6763 chore: use Enforce instead of enforce in kuttl tests
  test/conformance/kuttl/exceptions/events-creation/policy.yaml
  test/conformance/kuttl/mutate/clusterpolicy/standard/existing/namespaceselector/policy.yaml
  test/conformance/kuttl/mutate/clusterpolicy/standard/existing/onpolicyupdate/namespaceselector/policy.yaml
  test/conformance/kuttl/validate/clusterpolicy/cornercases/external-metrics/cluster-policy.yaml
  test/conformance/kuttl/validate/clusterpolicy/cornercases/external-metrics/policy.yaml
  test/conformance/kuttl/validate/clusterpolicy/standard/enforce/operator-allnotin-01/01-manifests.yaml
  test/conformance/kuttl/validate/clusterpolicy/standard/enforce/resource-apply-block/01-manifests.yaml
  test/conformance/kuttl/validate/clusterpolicy/standard/gvk/policy.yaml
  test/conformance/kuttl/validate/clusterpolicy/standard/wildcard/block-verifyimage/policy.yaml
  test/conformance/kuttl/validate/e2e/global-anchor/policy.yaml
  test/conformance/kuttl/validate/e2e/trusted-images/policy.yaml
  test/conformance/kuttl/validate/e2e/x509-decode/policy.yaml
  test/conformance/kuttl/validate/e2e/yaml-signing/policy.yaml
  test/conformance/kuttl/verifyImages/clusterpolicy/cornercases/multiple-attestors/01-policy.yaml
  test/conformance/kuttl/verifyImages/clusterpolicy/standard/configmap-context-lookup/01-manifests.yaml
  test/conformance/kuttl/verifyImages/clusterpolicy/standard/imageExtractors-complex-keyless/policy.yaml
  test/conformance/kuttl/verifyImages/clusterpolicy/standard/imageExtractors-complex/policy.yaml
  test/conformance/kuttl/verifyImages/clusterpolicy/standard/imageExtractors-none/policy.yaml
  test/conformance/kuttl/verifyImages/clusterpolicy/standard/imageExtractors-simple/policy.yaml
  test/conformance/kuttl/verifyImages/clusterpolicy/standard/keyed-basic/01-manifests.yaml
  test/conformance/kuttl/verifyImages/clusterpolicy/standard/keyed-secret/01-manifests.yaml
  test/conformance/kuttl/verifyImages/clusterpolicy/standard/keyless-attestations-multiple-subjects-1/01-manifests.yaml
  test/conformance/kuttl/verifyImages/clusterpolicy/standard/keyless-attestations-multiple-subjects-2/01-manifests.yaml
  test/conformance/kuttl/verifyImages/clusterpolicy/standard/keyless-attestations-multiple-subjects-3/01-manifests.yaml
  test/conformance/kuttl/verifyImages/clusterpolicy/standard/keyless-attestations-multiple-subjects-4/01-manifests.yaml
  test/conformance/kuttl/verifyImages/clusterpolicy/standard/keyless-attestations-multiple-subjects-counts-1/01-manifests.yaml
  test/conformance/kuttl/verifyImages/clusterpolicy/standard/keyless-attestations-multiple-subjects-counts-2/01-manifests.yaml
  test/conformance/kuttl/verifyImages/clusterpolicy/standard/keyless-attestations-multiple-subjects-counts-3/01-manifests.yaml
  test/conformance/kuttl/verifyImages/clusterpolicy/standard/keyless-mutatedigest-verifydigest-required/01-manifests.yaml
  test/conformance/kuttl/verifyImages/clusterpolicy/standard/keyless-nomutatedigest-noverifydigest-norequired/01-manifests.yaml
  test/conformance/kuttl/verifyImages/clusterpolicy/standard/keyless-nomutatedigest-noverifydigest-required/01-manifests.yaml
  test/conformance/kuttl/verifyImages/clusterpolicy/standard/mutateDigest-noverifyDigest-norequired/01-manifests.yaml
  test/conformance/kuttl/verifyImages/clusterpolicy/standard/nomutateDigest-verifyDigest-norequired/01-manifests.yaml
Labels: milestone 1.10.0

#6764 fix: missing image pull secrets in helm hooks
  charts/kyverno/Chart.yaml
  charts/kyverno/README.md
  charts/kyverno/README.md.gotmpl
  charts/kyverno/templates/admission-controller/deployment.yaml
  charts/kyverno/templates/background-controller/deployment.yaml
  charts/kyverno/templates/cleanup-controller/deployment.yaml
  charts/kyverno/templates/hooks/pre-delete.yaml
  charts/kyverno/templates/reports-controller/deployment.yaml
  charts/kyverno/values.yaml
Labels: milestone 1.10.0

#6766 fix: don't filter on group when service based apiservice discovery fails
  pkg/clients/dclient/discovery.go
  pkg/clients/dclient/utils.go
  pkg/clients/dclient/utils_test.go
Labels: milestone 1.10.0

#6757 Adding validation to reject audit mode policy create/update when mutateDigest is set to true
  api/kyverno/v1/image_verification_test.go
  api/kyverno/v1/image_verification_types.go
  api/kyverno/v2beta1/image_verification_test.go
  api/kyverno/v2beta1/image_verification_types.go
  pkg/policy/validate.go
  test/conformance/kuttl/reports/background/verify-image-fail/policy.yaml
  test/conformance/kuttl/reports/background/verify-image-pass/policy.yaml
Labels: milestone 1.10.0

#6770 chore: use Audit instead of audit in kuttl tests
  test/conformance/kuttl/autogen/deployment-statefulset-job/policy-assert.yaml
  test/conformance/kuttl/autogen/deployment-statefulset-job/policy.yaml
  test/conformance/kuttl/autogen/none/policy-assert.yaml
  test/conformance/kuttl/autogen/none/policy.yaml
  test/conformance/kuttl/autogen/only-cronjob/policy-assert.yaml
  test/conformance/kuttl/autogen/only-cronjob/policy.yaml
  test/conformance/kuttl/autogen/only-deployment/policy-assert.yaml
  test/conformance/kuttl/autogen/only-deployment/policy.yaml
  test/conformance/kuttl/autogen/should-autogen/policy-assert.yaml
  test/conformance/kuttl/autogen/should-autogen/policy.yaml
  test/conformance/kuttl/autogen/should-not-autogen/policy-assert.yaml
  test/conformance/kuttl/autogen/should-not-autogen/policy.yaml
  test/conformance/kuttl/reports/admission/test-report-admission-mode/01-manifests.yaml
  test/conformance/kuttl/reports/background/background-scan-report-deletion/policy.yaml
  test/conformance/kuttl/reports/background/test-report-background-mode/policy-assert.yaml
  test/conformance/kuttl/reports/background/test-report-background-mode/policy.yaml
  test/conformance/kuttl/validate/clusterpolicy/standard/audit/background-match-clusterRoles/02-errors.yaml
  test/conformance/kuttl/validate/clusterpolicy/standard/audit/background-match-clusterRoles/manifests.yaml
  test/conformance/kuttl/validate/clusterpolicy/standard/audit/background-match-roles/02-errors.yaml
  test/conformance/kuttl/validate/clusterpolicy/standard/audit/background-match-roles/manifests.yaml
  test/conformance/kuttl/validate/clusterpolicy/standard/audit/background-vars-roles/02-errors.yaml
  test/conformance/kuttl/validate/clusterpolicy/standard/audit/background-vars-roles/manifests.yaml
  test/conformance/kuttl/validate/clusterpolicy/standard/audit/background-vars-serviceAccountName/02-errors.yaml
  test/conformance/kuttl/validate/clusterpolicy/standard/audit/background-vars-serviceAccountName/manifests.yaml
  test/conformance/kuttl/validate/clusterpolicy/standard/audit/background-vars-userInfo/02-errors.yaml
  test/conformance/kuttl/validate/clusterpolicy/standard/audit/background-vars-userInfo/manifests.yaml
  test/conformance/kuttl/validate/clusterpolicy/standard/audit/configmap-context-lookup/01-manifests.yaml
Labels: milestone 1.10.0

#6769 refactor: remove admission request/response pointers
  cmd/cleanup-controller/handlers/admission/handlers.go
  cmd/cleanup-controller/server.go
  pkg/utils/admission/response.go
  pkg/utils/admission/response_test.go
  pkg/webhooks/exception/validate.go
  pkg/webhooks/handlers/admission.go
  pkg/webhooks/handlers/dump.go
  pkg/webhooks/handlers/filter.go
  pkg/webhooks/handlers/metrics.go
  pkg/webhooks/handlers/protect.go
  pkg/webhooks/handlers/trace.go
  pkg/webhooks/handlers/types.go
  pkg/webhooks/handlers/verify.go
  pkg/webhooks/policy/handlers.go
  pkg/webhooks/resource/handlers.go
  pkg/webhooks/resource/handlers_test.go
  pkg/webhooks/resource/utils.go
  pkg/webhooks/server.go
Labels: milestone 1.10.0

#6754 feat: add context/preconditions support to mutate existing
  api/kyverno/v1/common_types.go
  api/kyverno/v1/resource_spec_types.go
  api/kyverno/v1/zz_generated.deepcopy.go
  charts/kyverno/templates/crds/crds.yaml
  config/crds/kyverno.io_clusterpolicies.yaml
  config/crds/kyverno.io_policies.yaml
  config/install-latest-testing.yaml
  docs/user/crd/index.html
  pkg/engine/engine.go
  pkg/engine/handlers/mutation/common.go
  pkg/engine/handlers/mutation/load_targets.go
  pkg/engine/handlers/mutation/mutate_existing.go
  pkg/engine/handlers/mutation/mutate_image.go
  pkg/engine/handlers/mutation/mutate_resource.go
  pkg/engine/handlers/validation/validate_image.go
  pkg/engine/handlers/validation/validate_manifest.go
  pkg/engine/handlers/validation/validate_pss.go
  pkg/engine/handlers/validation/validate_resource.go
  pkg/engine/image_verify.go
  pkg/engine/mutation.go
  pkg/engine/validation.go
  pkg/policy/mutate/validate.go
  pkg/policy/validate.go
  test/conformance/kuttl/mutate/clusterpolicy/standard/existing/target-context/01-resources.yaml
  test/conformance/kuttl/mutate/clusterpolicy/standard/existing/target-context/02-policy.yaml
  test/conformance/kuttl/mutate/clusterpolicy/standard/existing/target-context/03-trigger.yaml
  test/conformance/kuttl/mutate/clusterpolicy/standard/existing/target-context/04-verify.yaml
  test/conformance/kuttl/mutate/clusterpolicy/standard/existing/target-context/README.md
  test/conformance/kuttl/mutate/clusterpolicy/standard/existing/target-context/policy-assert.yaml
  test/conformance/kuttl/mutate/clusterpolicy/standard/existing/target-context/policy.yaml
  test/conformance/kuttl/mutate/clusterpolicy/standard/existing/target-context/resources-assert.yaml
  test/conformance/kuttl/mutate/clusterpolicy/standard/existing/target-context/resources.yaml
  test/conformance/kuttl/mutate/clusterpolicy/standard/existing/target-context/trigger.yaml
  test/conformance/kuttl/mutate/clusterpolicy/standard/existing/target-preconditions/01-resources.yaml
  test/conformance/kuttl/mutate/clusterpolicy/standard/existing/target-preconditions/02-policy.yaml
  test/conformance/kuttl/mutate/clusterpolicy/standard/existing/target-preconditions/03-trigger.yaml
  test/conformance/kuttl/mutate/clusterpolicy/standard/existing/target-preconditions/04-verify.yaml
  test/conformance/kuttl/mutate/clusterpolicy/standard/existing/target-preconditions/README.md
  test/conformance/kuttl/mutate/clusterpolicy/standard/existing/target-preconditions/policy-assert.yaml
  test/conformance/kuttl/mutate/clusterpolicy/standard/existing/target-preconditions/policy.yaml
  test/conformance/kuttl/mutate/clusterpolicy/standard/existing/target-preconditions/resources-assert.yaml
  test/conformance/kuttl/mutate/clusterpolicy/standard/existing/target-preconditions/resources.yaml
  test/conformance/kuttl/mutate/clusterpolicy/standard/existing/target-preconditions/trigger.yaml
  test/conformance/kuttl/policy-validation/cluster-policy/target-context/01-policies.yaml
  test/conformance/kuttl/policy-validation/cluster-policy/target-context/README.md
  test/conformance/kuttl/policy-validation/cluster-policy/target-context/policy-1.yaml
  test/conformance/kuttl/policy-validation/cluster-policy/target-context/policy-2.yaml
Labels: Documentation, milestone 1.10.0

#6774 refactor: remove more admission request pointers
  cmd/cleanup-controller/handlers/admission/handlers.go
  cmd/cleanup-controller/server.go
  pkg/background/common/context.go
  pkg/background/generate/generate.go
  pkg/engine/context/context.go
  pkg/engine/context/evaluate_test.go
  pkg/engine/handlers/validation/validate_manifest_test.go
  pkg/engine/policycontext/policy_context.go
  pkg/engine/validation_test.go
  pkg/utils/admission/cleanup.go
  pkg/utils/admission/dryrun.go
  pkg/utils/admission/dryrun_test.go
  pkg/utils/admission/exception.go
  pkg/utils/admission/policy.go
  pkg/utils/admission/resource.go
  pkg/utils/admission/resource_test.go
  pkg/utils/report/new.go
  pkg/webhooks/exception/validate.go
  pkg/webhooks/handlers/admission.go
  pkg/webhooks/handlers/dump.go
  pkg/webhooks/handlers/dump_test.go
  pkg/webhooks/handlers/filter.go
  pkg/webhooks/handlers/metrics.go
  pkg/webhooks/handlers/protect.go
  pkg/webhooks/handlers/trace.go
  pkg/webhooks/handlers/types.go
  pkg/webhooks/handlers/verify.go
  pkg/webhooks/policy/handlers.go
  pkg/webhooks/resource/fake.go
  pkg/webhooks/resource/generation/handler.go
  pkg/webhooks/resource/generation/utils.go
  pkg/webhooks/resource/handlers.go
  pkg/webhooks/resource/handlers_test.go
  pkg/webhooks/resource/imageverification/handler.go
  pkg/webhooks/resource/mutation/mutation.go
  pkg/webhooks/resource/updaterequest.go
  pkg/webhooks/resource/utils.go
  pkg/webhooks/resource/validation/validation.go
  pkg/webhooks/server.go
  pkg/webhooks/utils/policy_context_builder.go
Labels: milestone 1.10.0

#6773 feature: add wildcard support in policy exception rule names
  api/kyverno/v2alpha1/policy_exception_types.go
  test/conformance/kuttl/exceptions/with-wildcard/01-policy.yaml
  test/conformance/kuttl/exceptions/with-wildcard/02-exception.yaml
  test/conformance/kuttl/exceptions/with-wildcard/03-configmap.yaml
  test/conformance/kuttl/exceptions/with-wildcard/README.md
  test/conformance/kuttl/exceptions/with-wildcard/configmap-allowed.yaml
  test/conformance/kuttl/exceptions/with-wildcard/configmap-rejected.yaml
  test/conformance/kuttl/exceptions/with-wildcard/exception.yaml
  test/conformance/kuttl/exceptions/with-wildcard/policy-assert.yaml
  test/conformance/kuttl/exceptions/with-wildcard/policy.yaml
Labels: Documentation, milestone 1.10.0

#6765 feat: update resource filters
  charts/kyverno/values.yaml
  config/install-latest-testing.yaml
Labels: milestone 1.10.0

#6777 fix: clone test
  test/conformance/kuttl/generate/policy/cornercases/pol-clone-create-on-trigger-deletion/01-manifests.yaml
  test/conformance/kuttl/generate/policy/cornercases/pol-clone-create-on-trigger-deletion/04-assert.yaml
Labels: milestone 1.10.0

#6775 refactor: resolve roles/cluster roles/top level GVK earlier in the admission chain
  cmd/cleanup-controller/server.go
  cmd/kyverno/main.go
  pkg/engine/policycontext/policy_context.go
  pkg/webhooks/handlers/admission.go
  pkg/webhooks/handlers/dump.go
  pkg/webhooks/handlers/dump_test.go
  pkg/webhooks/handlers/enrich.go
  pkg/webhooks/handlers/protect.go
  pkg/webhooks/handlers/types.go
  pkg/webhooks/resource/fake.go
  pkg/webhooks/resource/handlers.go
  pkg/webhooks/resource/validation/validation.go
  pkg/webhooks/server.go
  pkg/webhooks/utils/policy_context_builder.go
Labels: milestone 1.10.0

#6760 fix: Support subresources as the trigger in generate rules
  pkg/background/generate/generate.go
  pkg/background/mutate/mutate.go
  pkg/policy/validate.go
  test/conformance/kuttl/generate/e2e/generate-on-subresource-trigger/01-cluster-policy.yaml
  test/conformance/kuttl/generate/e2e/generate-on-subresource-trigger/02-script.yaml
  test/conformance/kuttl/generate/e2e/generate-on-subresource-trigger/03-assert.yaml
  test/conformance/kuttl/generate/e2e/generate-on-subresource-trigger/99-cleanup.yaml
  test/conformance/kuttl/generate/e2e/generate-on-subresource-trigger/README.md
  test/conformance/kuttl/generate/e2e/generate-on-subresource-trigger/namespace-ready.yaml
  test/conformance/kuttl/generate/e2e/generate-on-subresource-trigger/namespace.yaml
  test/conformance/kuttl/generate/e2e/generate-on-subresource-trigger/policy-ready.yaml
  test/conformance/kuttl/generate/e2e/generate-on-subresource-trigger/policy.yaml
Labels: milestone 1.10.0

#6778 feat: add flag to skip resource filters in reports controller
  CHANGELOG.md
  charts/kyverno/README.md
  charts/kyverno/values.yaml
  cmd/background-controller/main.go
  cmd/cleanup-controller/main.go
  cmd/cli/kubectl-kyverno/utils/common/common.go
  cmd/kyverno/main.go
  cmd/reports-controller/main.go
  config/install-latest-testing.yaml
  pkg/config/config.go
  pkg/controllers/generic/webhook/controller.go
  pkg/controllers/webhook/controller.go
  pkg/engine/handlers/validation/validate_manifest_test.go
  pkg/engine/image_verify_test.go
  pkg/utils/api/image_test.go
  pkg/utils/image/infos_test.go
  pkg/webhooks/resource/fake.go
  pkg/webhooks/resource/validation_test.go
Labels: Documentation, milestone 1.10.0

#6781 refactor: kyverno_policy_results metric management
  cmd/background-controller/main.go
  cmd/cli/kubectl-kyverno/utils/common/common.go
  cmd/kyverno/main.go
  cmd/reports-controller/main.go
  pkg/engine/engine.go
  pkg/engine/image_verify_test.go
  pkg/engine/metrics.go
  pkg/engine/mutation_test.go
  pkg/engine/validation_test.go
  pkg/metrics/metrics.go
  pkg/metrics/policyresults/policyResults.go
  pkg/webhooks/resource/fake.go
  pkg/webhooks/resource/generation/handler.go
  pkg/webhooks/resource/mutation/mutation.go
  pkg/webhooks/resource/updaterequest.go
  pkg/webhooks/resource/validation/validation.go
  pkg/webhooks/resource/validation_test.go
  pkg/webhooks/utils/metrics.go
Labels: milestone 1.10.0

#6782 refactor: kyverno_policy_execution_duration_seconds metric management
  pkg/engine/engine.go
  pkg/engine/metrics.go
  pkg/metrics/metrics.go
  pkg/metrics/policyexecutionduration/policyExecutionDuration.go
  pkg/webhooks/resource/generation/handler.go
  pkg/webhooks/resource/mutation/mutation.go
  pkg/webhooks/resource/updaterequest.go
  pkg/webhooks/resource/validation/validation.go
  pkg/webhooks/utils/metrics.go
Labels: milestone 1.10.0

#6785 chore: bump a couple of deps
  go.mod
  go.sum
Labels: milestone 1.10.0

#6783 fix: histogram buckets
  pkg/metrics/metrics.go
Labels: milestone 1.10.0

#6784 refactor: engine rule response creation
  cmd/cli/kubectl-kyverno/apply/report_test.go
  cmd/cli/kubectl-kyverno/test/test_command.go
  cmd/cli/kubectl-kyverno/utils/common/common.go
  pkg/background/generate/generate.go
  pkg/background/mutate/mutate.go
  pkg/controllers/report/utils/events.go
  pkg/engine/api/engineresponse.go
  pkg/engine/api/engineresponse_test.go
  pkg/engine/api/policyresponse.go
  pkg/engine/api/ruleresponse.go
  pkg/engine/api/ruleresponse_test.go
  pkg/engine/background.go
  pkg/engine/engine.go
  pkg/engine/exceptions.go
  pkg/engine/forceMutate.go
  pkg/engine/handlers/handler.go
  pkg/engine/handlers/mutation/common.go
  pkg/engine/handlers/mutation/mutate_existing.go
  pkg/engine/handlers/mutation/mutate_image.go
  pkg/engine/handlers/mutation/mutate_resource.go
  pkg/engine/handlers/validation/validate_image.go
  pkg/engine/handlers/validation/validate_manifest.go
  pkg/engine/handlers/validation/validate_pss.go
  pkg/engine/handlers/validation/validate_resource.go
  pkg/engine/image_verify.go
  pkg/engine/image_verify_test.go
  pkg/engine/internal/imageverifier.go
  pkg/engine/internal/response.go
  pkg/engine/metrics.go
  pkg/engine/mutate/mutation.go
  pkg/engine/mutate/mutation_test.go
  pkg/engine/mutate/patch/patchJSON6902.go
  pkg/engine/mutate/patch/patchJSON6902_test.go
  pkg/engine/mutate/patch/patches.go
  pkg/engine/mutate/patch/strategicMergePatch.go
  pkg/engine/mutation.go
  pkg/engine/mutation_test.go
  pkg/engine/validation.go
  pkg/engine/validation_test.go
  pkg/event/events.go
  pkg/metrics/parsers.go
  pkg/policy/policy_controller.go
  pkg/utils/annotations.go
  pkg/utils/annotations_test.go
  pkg/utils/report/results.go
  pkg/webhooks/resource/generation/handler.go
  pkg/webhooks/resource/updaterequest.go
  pkg/webhooks/resource/validation_test.go
  pkg/webhooks/utils/block.go
  pkg/webhooks/utils/block_test.go
  pkg/webhooks/utils/error.go
  pkg/webhooks/utils/event.go
  pkg/webhooks/utils/warning.go
  pkg/webhooks/utils/warning_test.go
Labels: milestone 1.10.0

#6788 test: new kuttl test for image verify failure policy
  test/conformance/kuttl/verifyImages/clusterpolicy/standard/failure-policy-test-noconfigmap-diffimage-success/01-policy.yaml
  test/conformance/kuttl/verifyImages/clusterpolicy/standard/failure-policy-test-noconfigmap-diffimage-success/02-namespace.yaml
  test/conformance/kuttl/verifyImages/clusterpolicy/standard/failure-policy-test-noconfigmap-diffimage-success/03-create-bad-pod.yaml
  test/conformance/kuttl/verifyImages/clusterpolicy/standard/failure-policy-test-noconfigmap-diffimage-success/README.md
  test/conformance/kuttl/verifyImages/clusterpolicy/standard/failure-policy-test-noconfigmap-diffimage-success/bad-pod.yaml
  test/conformance/kuttl/verifyImages/clusterpolicy/standard/failure-policy-test-noconfigmap-diffimage-success/policy-ready.yaml
  test/conformance/kuttl/verifyImages/clusterpolicy/standard/failure-policy-test-noconfigmap-diffimage-success/policy.yaml
Labels: milestone 1.10.0

#6790 fix: replace background sa name in config by a flag
  charts/kyverno/README.md
  charts/kyverno/templates/admission-controller/deployment.yaml
  charts/kyverno/templates/config/configmap.yaml
  charts/kyverno/values.yaml
  cmd/kyverno/main.go
  config/install-latest-testing.yaml
  pkg/config/config.go
  pkg/webhooks/resource/handlers.go
  pkg/webhooks/resource/updaterequest.go
Labels: Documentation, milestone 1.10.0

#6792 refactor: engine execution stats
  cmd/cli/kubectl-kyverno/apply/report_test.go
  pkg/engine/api/policyresponse.go
  pkg/engine/api/ruleresponse.go
  pkg/engine/api/stats.go
  pkg/engine/image_verify.go
  pkg/engine/metrics.go
  pkg/engine/mutation.go
  pkg/engine/validation.go
Labels: milestone 1.10.0

#6789 fix: drop hardcoded default exclusions
  CHANGELOG.md
  charts/kyverno/README.md
  charts/kyverno/README.md.gotmpl
  charts/kyverno/values.yaml
  config/install-latest-testing.yaml
  pkg/config/config.go
Labels: milestone 1.10.0

#6780 feat: add subresource support to resource filters
  charts/kyverno/templates/config/_helpers.tpl
  charts/kyverno/templates/config/configmap.yaml
  charts/kyverno/values.yaml
  config/install-latest-testing.yaml
  pkg/config/config.go
  pkg/config/types.go
  pkg/config/types_test.go
  pkg/engine/background.go
  pkg/engine/internal/context.go
  pkg/engine/internal/match.go
  pkg/metrics/metrics.go
  pkg/tracing/config.go
  pkg/utils/tls/cert.go
  pkg/webhooks/handlers/filter.go
  test/conformance/kuttl/mutate/clusterpolicy/standard/existing/mutate-existing-node-status/modify-resource-filters.sh
  test/conformance/kuttl/mutate/clusterpolicy/standard/existing/mutate-pod-on-binding-request/modify-resource-filters.sh
  test/conformance/kuttl/mutate/clusterpolicy/standard/mutate-node-status/modify-resource-filters.sh
Labels: Documentation, milestone 1.10.0

#6796 refactor: engine response stats
  pkg/engine/api/engineresponse.go
  pkg/engine/api/ruleresponse.go
  pkg/engine/api/stats.go
  pkg/engine/engine.go
  pkg/engine/image_verify.go
  pkg/engine/mutation.go
  pkg/engine/validation.go
  pkg/utils/annotations_test.go
  pkg/webhooks/utils/block_test.go
Labels: milestone 1.10.0

#6798 reinstate Sam as a maintainer
  MAINTAINERS.md
Labels: milestone 1.10.0

#6804 refactor: simplify engine responses
  cmd/cli/kubectl-kyverno/apply/report_test.go
  pkg/controllers/report/utils/events.go
  pkg/engine/api/policyresponse.go
  pkg/engine/image_verify.go
  pkg/engine/mutation.go
  pkg/engine/validation.go
  pkg/event/events.go
  pkg/webhooks/utils/event.go
Labels: milestone 1.10.0

#6799 feat: add policy reporter to the dev lab
  Makefile
  scripts/config/dev/policy-reporter.yaml
Labels: milestone 1.10.0

#6797 fix: add logs in webhook middlewares
  pkg/config/config.go
  pkg/engine/api/resolver_test.go
  pkg/tracing/attributes.go
  pkg/tracing/helpers.go
  pkg/webhooks/handlers/admission.go
  pkg/webhooks/handlers/dump.go
  pkg/webhooks/handlers/enrich.go
  pkg/webhooks/handlers/filter.go
  pkg/webhooks/handlers/protect.go
  pkg/webhooks/handlers/trace.go
Labels: milestone 1.10.0

#6810 chore: support multiple helm values
  Makefile
  scripts/config/force-failure-policy-ignore/kyverno-policies.yaml
  scripts/config/force-failure-policy-ignore/kyverno.yaml
Labels: cherry-pick-required, milestone 1.10.0

#6808 fix: improve config management
  cmd/cleanup-controller/main.go
  cmd/kyverno/main.go
  pkg/config/config.go
  pkg/controllers/generic/webhook/controller.go
  pkg/controllers/webhook/controller.go
Labels: cherry-pick-required, milestone 1.10.0

#6820 chore: implement expected tagging strategy
  .github/actions/publish-image/action.yaml
  .github/workflows/cli.yaml
  .github/workflows/conformance.yaml
  .github/workflows/images-build.yaml
  .github/workflows/images-publish.yaml
  .github/workflows/release.yaml
  Makefile
Labels: cherry-pick-required, milestone 1.10.0

#6822 chore: implement expected tagging strategy (cherry-pick #6820)
  .github/actions/publish-image/action.yaml
  .github/workflows/cli.yaml
  .github/workflows/conformance.yaml
  .github/workflows/images-build.yaml
  .github/workflows/images-publish.yaml
  .github/workflows/release.yaml
  Makefile
Labels: milestone 1.10.0

#6821 fix: slsa provenance generation
  .github/workflows/images-publish.yaml
  .github/workflows/release.yaml
Labels: cherry-pick-required, milestone 1.10.0

#6824 chore: add slsa provenance jobs to all images published
  .github/workflows/images-publish.yaml
Labels: cherry-pick-required, milestone 1.10.0

#6825 fix: slsa generator for reports controller
  .github/workflows/images-publish.yaml
  .github/workflows/release.yaml
Labels: cherry-pick-required, milestone 1.10.0

#6828 chore: fix makefile nits
  Makefile
Labels: cherry-pick-required, milestone 1.10.0

#6811 chore: run conformance tests with multiple configs
  .github/workflows/conformance.yaml
  test/conformance/kuttl/force-failure-policy-ignore/cluster-policy/fail/01-policy.yaml
  test/conformance/kuttl/force-failure-policy-ignore/cluster-policy/fail/02-webhooks.yaml
  test/conformance/kuttl/force-failure-policy-ignore/cluster-policy/fail/README.md
  test/conformance/kuttl/force-failure-policy-ignore/cluster-policy/fail/policy-assert.yaml
  test/conformance/kuttl/force-failure-policy-ignore/cluster-policy/fail/policy.yaml
  test/conformance/kuttl/force-failure-policy-ignore/cluster-policy/fail/webhooks-assert.yaml
Labels: cherry-pick-required, milestone 1.10.0

#6838 fix: makefile nit
  Makefile
Labels: cherry-pick-required, milestone 1.10.0

#6818 fix: incorrect config loading when data is nil
  pkg/config/config.go
Labels: cherry-pick-required, milestone 1.10.0

#6837 refactor: factorise engine creation
  cmd/background-controller/main.go
  cmd/internal/config.go
  cmd/internal/engine.go
  cmd/internal/flag.go
  cmd/kyverno/main.go
  cmd/reports-controller/main.go
  pkg/background/update_request_controller.go
  pkg/controllers/report/background/controller.go
  pkg/policy/policy_controller.go
Labels: cherry-pick-required, milestone 1.10.0

#6840 fix: kuttl tests for force-failure-policy-ignore config
  test/conformance/kuttl/force-failure-policy-ignore/cluster-policy/fail/policy-assert.yaml
  test/conformance/kuttl/force-failure-policy-ignore/cluster-policy/fail/policy.yaml
  test/conformance/kuttl/force-failure-policy-ignore/cluster-policy/fail/webhooks-assert.yaml
Labels: cherry-pick-required, milestone 1.10.0

#6849 fix: account for cosign default repository
  pkg/engine/internal/imageverifier.go
Labels: cherry-pick-required, milestone 1.10.0

#6829 refactor: configuration config map controller
  charts/kyverno/templates/admission-controller/role.yaml
  charts/kyverno/templates/background-controller/role.yaml
  charts/kyverno/templates/cleanup-controller/role.yaml
  charts/kyverno/templates/reports-controller/role.yaml
  cmd/background-controller/main.go
  cmd/cleanup-controller/main.go
  cmd/internal/client.go
  cmd/internal/config.go
  cmd/internal/configmap.go
  cmd/internal/engine.go
  cmd/internal/metrics.go
  cmd/internal/setup.go
  cmd/kyverno-init/main.go
  cmd/kyverno/main.go
  cmd/reports-controller/main.go
  config/install-latest-testing.yaml
  pkg/config/config.go
  pkg/config/metricsconfig.go
  pkg/controllers/config/controller.go
  pkg/controllers/config/log.go
  pkg/controllers/generic/configmap/controller.go
  pkg/utils/image/infos_test.go
Labels: cherry-pick-required, milestone 1.10.0

#6847 chore: add kuttl tests with default config
  .github/workflows/conformance.yaml
  scripts/config/default/kyverno-policies.yaml
  scripts/config/default/kyverno.yaml
Labels: cherry-pick-required, milestone 1.10.0

#6853 refactor: move registry client init in internal package
  cmd/background-controller/main.go
  cmd/cleanup-controller/main.go
  cmd/internal/config.go
  cmd/internal/flag.go
  cmd/internal/registry.go
  cmd/internal/setup.go
  cmd/kyverno-init/main.go
  cmd/kyverno/main.go
  cmd/reports-controller/main.go
Labels: cherry-pick-required, milestone 1.10.0

#6846 feat: move cosign init in internal package
  cmd/background-controller/main.go
  cmd/internal/config.go
  cmd/internal/cosign.go
  cmd/internal/flag.go
  cmd/internal/setup.go
  cmd/kyverno/main.go
  cmd/reports-controller/main.go
Labels: cherry-pick-required, milestone 1.10.0

#6858 fix: add missing image pull secrets
  charts/kyverno/templates/background-controller/deployment.yaml
  charts/kyverno/templates/reports-controller/deployment.yaml
Labels: cherry-pick-required, milestone 1.10.0

#6869 fix: preserve source on trigger deletion for a generate policy with clone, sync
  pkg/background/generate/utils.go
  test/conformance/kuttl/generate/clusterpolicy/standard/clone/sync/cpol-clone-sync-delete-trigger/06-assert.yaml
  test/conformance/kuttl/generate/policy/standard/clone/sync/pol-clone-sync-delete-trigger/06-assert.yaml
Labels: cherry-pick-required, milestone 1.10.0

#6802 refactor: remove obsolete structs from CLI
  api/kyverno/v1/violated_rule_types.go
  api/kyverno/v1/zz_generated.deepcopy.go
  cmd/cli/kubectl-kyverno/apply/apply_command.go
  cmd/cli/kubectl-kyverno/apply/apply_command_test.go
  cmd/cli/kubectl-kyverno/apply/report.go
  cmd/cli/kubectl-kyverno/apply/report_test.go
  cmd/cli/kubectl-kyverno/test/test_command.go
  cmd/cli/kubectl-kyverno/utils/common/common.go
  cmd/cli/kubectl-kyverno/utils/common/info.go
  docs/user/crd/index.html
Labels: milestone 1.11.0

#6872 chore: add k8s 1.27 to the test grid
  .github/workflows/conformance.yaml
Labels: cherry-pick-required, milestone 1.10.0

#6871 refactor: cli test filter
  cmd/cli/kubectl-kyverno/test/filter.go
  cmd/cli/kubectl-kyverno/test/help.go
  cmd/cli/kubectl-kyverno/test/test_command.go
Labels: milestone 1.11.0

#6877 refactor: policy response
  pkg/engine/api/engineresponse.go
  pkg/engine/api/policyresponse.go
  pkg/engine/api/stats.go
  pkg/engine/image_verify.go
  pkg/engine/mutation.go
  pkg/engine/validation.go
  pkg/webhooks/resource/validation_test.go
Labels: cherry-pick-required, milestone 1.10.0

#6880 refactor: namespace labels in engine response
  pkg/engine/api/engineresponse.go
  pkg/engine/api/engineresponse_test.go
Labels: cherry-pick-required, milestone 1.10.0

#6885 fix: context in api call
  pkg/engine/api/context.go
  pkg/engine/apicall/apiCall.go
  pkg/engine/apicall/apiCall_test.go
Labels: cherry-pick-required, milestone 1.10.0

#6883 fix: make flag default values configurable
  cmd/internal/flag.go
  cmd/reports-controller/main.go
Labels: cherry-pick-required, milestone 1.10.0

#6878 fix: applies policies to the UPDATEs when resource deletionTimestamp is set
  pkg/webhooks/resource/imageverification/handler.go
  pkg/webhooks/resource/mutation/mutation.go
  pkg/webhooks/resource/validation/validation.go
  test/conformance/kuttl/validate/clusterpolicy/cornercases/apply-on-deletion/01-cluster-policy.yaml
  test/conformance/kuttl/validate/clusterpolicy/cornercases/apply-on-deletion/02-manifests.yaml
  test/conformance/kuttl/validate/clusterpolicy/cornercases/apply-on-deletion/03-path-service.yaml
  test/conformance/kuttl/validate/clusterpolicy/cornercases/apply-on-deletion/04-script-patch-svc-type.yaml
  test/conformance/kuttl/validate/clusterpolicy/cornercases/apply-on-deletion/05-update-svc-label.yaml
  test/conformance/kuttl/validate/clusterpolicy/cornercases/apply-on-deletion/06-remove-finalizer.yaml
  test/conformance/kuttl/validate/clusterpolicy/cornercases/apply-on-deletion/README.md
  test/conformance/kuttl/validate/clusterpolicy/cornercases/apply-on-deletion/ns.yaml
  test/conformance/kuttl/validate/clusterpolicy/cornercases/apply-on-deletion/policy-ready.yaml
  test/conformance/kuttl/validate/clusterpolicy/cornercases/apply-on-deletion/policy.yaml
  test/conformance/kuttl/validate/clusterpolicy/cornercases/apply-on-deletion/service.yaml
Labels: cherry-pick-required, milestone 1.10.0

#6874 fix: auth check the generate policy when use variables in name/namespace
  pkg/policy/generate/validate.go
  test/conformance/kuttl/generate/validation/clusterpolicy/permissions/02-update-clusterrole.yaml
  test/conformance/kuttl/generate/validation/clusterpolicy/permissions/04-delete.yaml
  test/conformance/kuttl/generate/validation/clusterpolicy/permissions/04-reset-clusterrole.yaml
  test/conformance/kuttl/generate/validation/clusterpolicy/permissions/05-pass.yaml
  test/conformance/kuttl/generate/validation/clusterpolicy/permissions/06-delete.yaml
  test/conformance/kuttl/generate/validation/clusterpolicy/permissions/policy-with-var.yaml
  test/conformance/kuttl/generate/validation/policy/permissions/03-update-clusterrole.yaml
  test/conformance/kuttl/generate/validation/policy/permissions/05-delete.yaml
  test/conformance/kuttl/generate/validation/policy/permissions/05-reset-clusterrole.yaml
Labels: cherry-pick-required, milestone 1.10.0

#6887 fix ns selector
  pkg/engine/utils/match.go
  pkg/event/controller.go
  pkg/utils/image/infos.go
  pkg/webhooks/resource/handlers.go
  pkg/webhooks/resource/imageverification/handler.go
  test/conformance/kuttl/verifyImages/clusterpolicy/standard/keyed-basic-namespace-selector/01-assert.yaml
  test/conformance/kuttl/verifyImages/clusterpolicy/standard/keyed-basic-namespace-selector/01-manifests.yaml
  test/conformance/kuttl/verifyImages/clusterpolicy/standard/keyed-basic-namespace-selector/02-assert.yaml
  test/conformance/kuttl/verifyImages/clusterpolicy/standard/keyed-basic-namespace-selector/02-goodpod.yaml
  test/conformance/kuttl/verifyImages/clusterpolicy/standard/keyed-basic-namespace-selector/03-teststep.yaml
  test/conformance/kuttl/verifyImages/clusterpolicy/standard/keyed-basic-namespace-selector/README.md
  test/conformance/kuttl/verifyImages/clusterpolicy/standard/keyed-basic-namespace-selector/pod-signed.yaml
  test/conformance/kuttl/verifyImages/clusterpolicy/standard/keyed-basic-namespace-selector/pod-unprotected-ns.yaml
  test/conformance/kuttl/verifyImages/clusterpolicy/standard/keyed-basic-namespace-selector/pod-unsigned.yaml
Labels: cherry-pick-required, milestone 1.10.0

#6895 chore: better matrix jobs
  .github/workflows/conformance.yaml
Labels: cherry-pick-required, milestone 1.10.0

#6900 chore: split generate kuttl tests
  .github/workflows/conformance.yaml
  test/conformance/kuttl/generate/clusterpolicy/standard/data/nosync/generate-on-subresource-trigger/01-cluster-policy.yaml
  test/conformance/kuttl/generate/clusterpolicy/standard/data/nosync/generate-on-subresource-trigger/02-script.yaml
  test/conformance/kuttl/generate/clusterpolicy/standard/data/nosync/generate-on-subresource-trigger/03-assert.yaml
  test/conformance/kuttl/generate/clusterpolicy/standard/data/nosync/generate-on-subresource-trigger/99-cleanup.yaml
  test/conformance/kuttl/generate/clusterpolicy/standard/data/nosync/generate-on-subresource-trigger/README.md
  test/conformance/kuttl/generate/clusterpolicy/standard/data/nosync/generate-on-subresource-trigger/namespace-ready.yaml
  test/conformance/kuttl/generate/clusterpolicy/standard/data/nosync/generate-on-subresource-trigger/namespace.yaml
  test/conformance/kuttl/generate/clusterpolicy/standard/data/nosync/generate-on-subresource-trigger/policy-ready.yaml
  test/conformance/kuttl/generate/clusterpolicy/standard/data/nosync/generate-on-subresource-trigger/policy.yaml
Labels: cherry-pick-required, milestone 1.10.0

#6899 chore: bump k8s patch versions
  .github/workflows/conformance.yaml
  Makefile
Labels: cherry-pick-required, milestone 1.10.0

#6882 refactor: introduce jmespath interface
  cmd/background-controller/main.go
  cmd/cleanup-controller/handlers/cleanup/condition_test.go
  cmd/cleanup-controller/handlers/cleanup/handlers.go
  cmd/cleanup-controller/main.go
  cmd/cli/kubectl-kyverno/jp/query/query.go
  cmd/cli/kubectl-kyverno/utils/common/common.go
  cmd/cli/kubectl-kyverno/utils/store/contextloader.go
  cmd/internal/engine.go
  cmd/internal/setup.go
  cmd/kyverno/main.go
  cmd/reports-controller/main.go
  pkg/background/common/context.go
  pkg/background/generate/generate.go
  pkg/background/mutate/mutate.go
  pkg/background/update_request_controller.go
  pkg/controllers/report/background/controller.go
  pkg/controllers/report/utils/scanner.go
  pkg/engine/api/context.go
  pkg/engine/api/contextloader.go
  pkg/engine/apicall/apiCall.go
  pkg/engine/apicall/apiCall_test.go
  pkg/engine/attestation_test.go
  pkg/engine/context/context.go
  pkg/engine/context/context_test.go
  pkg/engine/context/evaluate.go
  pkg/engine/context/evaluate_test.go
  pkg/engine/context/mock_context.go
  pkg/engine/engine.go
  pkg/engine/forceMutate_test.go
  pkg/engine/handlers/validation/validate_manifest_test.go
  pkg/engine/image_verify_test.go
  pkg/engine/jmespath/arithmetic.go
  pkg/engine/jmespath/arithmetic_test.go
  pkg/engine/jmespath/functions.go
  pkg/engine/jmespath/functions_test.go
  pkg/engine/jmespath/interface.go
  pkg/engine/jmespath/new.go
  pkg/engine/jmespath/new_test.go
  pkg/engine/jmespath/time_test.go
  pkg/engine/mutate/mutation_test.go
  pkg/engine/mutation_test.go
  pkg/engine/policycontext/policy_context.go
  pkg/engine/test/contextloader.go
  pkg/engine/validation_test.go
  pkg/engine/variables/evaluate_test.go
  pkg/engine/variables/variables_test.go
  pkg/engine/variables/vars_test.go
  pkg/policy/generate.go
  pkg/policy/mutate.go
  pkg/policy/policy_controller.go
  pkg/utils/api/image.go
  pkg/webhooks/resource/fake.go
  pkg/webhooks/resource/handlers.go
  pkg/webhooks/resource/validation_test.go
  pkg/webhooks/utils/policy_context_builder.go
Labels: cherry-pick-required, milestone 1.10.0

#6902 fix: deletion panic for PSa rule
  pkg/engine/handlers/validation/validate_pss.go
  test/conformance/kuttl/validate/clusterpolicy/standard/psa/test-deletion-request/01-policy.yaml
  test/conformance/kuttl/validate/clusterpolicy/standard/psa/test-deletion-request/02-resources.yaml
  test/conformance/kuttl/validate/clusterpolicy/standard/psa/test-deletion-request/03-delete.yaml
  test/conformance/kuttl/validate/clusterpolicy/standard/psa/test-deletion-request/README.md
  test/conformance/kuttl/validate/clusterpolicy/standard/psa/test-deletion-request/manifests.yaml
  test/conformance/kuttl/validate/clusterpolicy/standard/psa/test-deletion-request/policy-assert.yaml
  test/conformance/kuttl/validate/clusterpolicy/standard/psa/test-deletion-request/policy.yaml
Labels: cherry-pick-required, milestone 1.10.0

#6905 Fix incompatible types error in Kyverno helm chart
  charts/kyverno/templates/_helpers/_deployment.tpl
Labels: cherry-pick-required, milestone 1.10.0

#6901 chore: split unit tests and linter jobs
  .github/workflows/lint.yaml
  .github/workflows/tests.yaml
Labels: cherry-pick-required, milestone 1.10.0

#6914 chore: add kuttl test for namespace exclusion
  test/conformance/kuttl/validate/clusterpolicy/standard/exclude/exclude-namespace/01-policies.yaml
  test/conformance/kuttl/validate/clusterpolicy/standard/exclude/exclude-namespace/02-resources.yaml
  test/conformance/kuttl/validate/clusterpolicy/standard/exclude/exclude-namespace/README.md
  test/conformance/kuttl/validate/clusterpolicy/standard/exclude/exclude-namespace/policies-assert.yaml
  test/conformance/kuttl/validate/clusterpolicy/standard/exclude/exclude-namespace/policies.yaml
  test/conformance/kuttl/validate/clusterpolicy/standard/exclude/exclude-namespace/resources.yaml
  test/conformance/kuttl/validate/clusterpolicy/standard/wildcard/block-verifyimage/README.md
Labels: cherry-pick-required, milestone 1.10.0

#6335 feat: Removal of multiple elements using JSON patch in a foreach loop
  pkg/engine/handlers/mutation/common.go
  pkg/engine/mutate/patch/patchesUtils.go
  pkg/engine/mutate/patch/patchesUtils_test.go
  test/conformance/kuttl/mutate/policy/cornercases/foreach-remove-elements/01-policy.yaml
  test/conformance/kuttl/mutate/policy/cornercases/foreach-remove-elements/02-pod.yaml
  test/conformance/kuttl/mutate/policy/cornercases/foreach-remove-elements/README.md
  test/conformance/kuttl/mutate/policy/cornercases/foreach-remove-elements/pod-assert.yaml
  test/conformance/kuttl/mutate/policy/cornercases/foreach-remove-elements/pod.yaml
  test/conformance/kuttl/mutate/policy/cornercases/foreach-remove-elements/policy-assert.yaml
  test/conformance/kuttl/mutate/policy/cornercases/foreach-remove-elements/policy.yaml
Labels: cherry-pick-required, milestone 1.10.0

#6916 fix: kuttl test for the generate rule
  test/conformance/kuttl/generate/clusterpolicy/cornercases/cpol-clone-create-on-trigger-deletion/01-manifests.yaml
Labels: cherry-pick-required, milestone 1.10.0

#6925 fix: remove imageSignatureRepository flag from the background controller
  cmd/background-controller/main.go
Labels: cherry-pick-required, milestone 1.10.0

#6930 fix: enable tracing in api call
  pkg/engine/apicall/apiCall.go
Labels: cherry-pick-required, milestone 1.10.0

#6924 refactor: move clients creation in internal package
  cmd/background-controller/main.go
  cmd/cleanup-controller/main.go
  cmd/internal/client.go
  cmd/internal/config.go
  cmd/internal/setup.go
  cmd/kyverno-init/main.go
  cmd/kyverno/main.go
  cmd/reports-controller/main.go
  pkg/metrics/common_types.go
Labels: cherry-pick-required, milestone 1.10.0

#6744 Added Support for CSR in `x509_decode()`
  pkg/engine/jmespath/functions.go
  pkg/engine/jmespath/functions_test.go
  test/conformance/kuttl/validate/clusterpolicy/standard/enforce/csr/01-policy.yaml
  test/conformance/kuttl/validate/clusterpolicy/standard/enforce/csr/02-csr-create.yaml
  test/conformance/kuttl/validate/clusterpolicy/standard/enforce/csr/README.md
  test/conformance/kuttl/validate/clusterpolicy/standard/enforce/csr/csr-mutated.yaml
  test/conformance/kuttl/validate/clusterpolicy/standard/enforce/csr/csr.yaml
  test/conformance/kuttl/validate/clusterpolicy/standard/enforce/csr/policy-ready.yaml
  test/conformance/kuttl/validate/clusterpolicy/standard/enforce/csr/policy.yaml
Labels: cherry-pick-required, milestone 1.10.0

#6939 fix: remove status from policy webhooks
  pkg/controllers/webhook/controller.go
Labels: cherry-pick-required, milestone 1.10.0

#6936 feat: split chart values in readme per component
  charts/kyverno/README.md
  charts/kyverno/README.md.gotmpl
Labels: cherry-pick-required, milestone 1.10.0

#6941 fix: incorrect json patch validation
  pkg/policy/validate.go
  pkg/policy/validate_test.go
  test/conformance/kuttl/policy-validation/cluster-policy/success/01-policies.yaml
  test/conformance/kuttl/policy-validation/cluster-policy/success/README.md
  test/conformance/kuttl/policy-validation/cluster-policy/success/policy-1-assert.yaml
  test/conformance/kuttl/policy-validation/cluster-policy/success/policy-1.yaml
Labels: cherry-pick-required, milestone 1.10.0

#6940 feat: add verbosity level in helm chart values
  charts/kyverno/README.md
  charts/kyverno/templates/admission-controller/deployment.yaml
  charts/kyverno/templates/background-controller/deployment.yaml
  charts/kyverno/templates/cleanup-controller/deployment.yaml
  charts/kyverno/templates/reports-controller/deployment.yaml
  charts/kyverno/values.yaml
  config/install-latest-testing.yaml
Labels: cherry-pick-required, milestone 1.10.0

#6963 fix: match on ephemeral containers
  pkg/utils/match/kind.go
Labels: cherry-pick-required, milestone 1.10.0

#6957 fix: refine event permissions in default roles
  charts/kyverno/templates/admission-controller/clusterrole.yaml
  charts/kyverno/templates/background-controller/clusterrole.yaml
  charts/kyverno/templates/cleanup-controller/clusterrole.yaml
  charts/kyverno/templates/reports-controller/clusterrole.yaml
  config/install-latest-testing.yaml
  test/conformance/kuttl/generate/clusterpolicy/cornercases/generate-event-upon-edit/01-clusterrole.yaml
Labels: cherry-pick-required, milestone 1.10.0

#6966 Add kuttl test for ephemeral containers
  test/conformance/kuttl/validate/clusterpolicy/cornercases/ephemeral-containers/01-policy.yaml
  test/conformance/kuttl/validate/clusterpolicy/cornercases/ephemeral-containers/02-resource.yaml
  test/conformance/kuttl/validate/clusterpolicy/cornercases/ephemeral-containers/03-debug.yaml
  test/conformance/kuttl/validate/clusterpolicy/cornercases/ephemeral-containers/04-debugassert.yaml
  test/conformance/kuttl/validate/clusterpolicy/cornercases/ephemeral-containers/README.md
  test/conformance/kuttl/validate/clusterpolicy/cornercases/ephemeral-containers/policy-ready.yaml
  test/conformance/kuttl/validate/clusterpolicy/cornercases/ephemeral-containers/policy.yaml
  test/conformance/kuttl/validate/clusterpolicy/cornercases/ephemeral-containers/resource-assert.yaml
  test/conformance/kuttl/validate/clusterpolicy/cornercases/ephemeral-containers/resource.yaml
Labels: cherry-pick-required, milestone 1.10.0

#6942 refactor: restructure cli test command
  cmd/cli/kubectl-kyverno/main.go
  cmd/cli/kubectl-kyverno/test/filter.go
  cmd/cli/kubectl-kyverno/test/load.go
  cmd/cli/kubectl-kyverno/test/output.go
  cmd/cli/kubectl-kyverno/test/test.go
  cmd/cli/kubectl-kyverno/test/test_command.go
  cmd/cli/kubectl-kyverno/utils/common/common.go
  cmd/cli/kubectl-kyverno/utils/common/fetch.go
Labels: milestone 1.11.0

#6974 feat: add credential helpers flags
  cmd/internal/flag.go
  cmd/internal/registry.go
  pkg/registryclient/client.go
Labels: cherry-pick-required, milestone 1.10.0

#6978 fix: variables validation for background enabled policies
  pkg/policy/validate.go
  pkg/policy/validate_test.go
  pkg/utils/yaml/loadpolicy.go
  test/conformance/kuttl/policy-validation/cluster-policy/background-variables-update/01-policy.yaml
  test/conformance/kuttl/policy-validation/cluster-policy/background-variables-update/02-policy.yaml
  test/conformance/kuttl/policy-validation/cluster-policy/background-variables-update/README.md
  test/conformance/kuttl/policy-validation/cluster-policy/background-variables-update/policy-assert.yaml
  test/conformance/kuttl/policy-validation/cluster-policy/background-variables-update/policy-update.yaml
  test/conformance/kuttl/policy-validation/cluster-policy/background-variables-update/policy.yaml
Labels: cherry-pick-required, milestone 1.10.0

#6972 chore: restrict default permissions
  charts/kyverno/templates/admission-controller/clusterrole.yaml
  charts/kyverno/templates/background-controller/clusterrole.yaml
  config/install-latest-testing.yaml
Labels: cherry-pick-required, milestone 1.10.0

#6970 feat: new access checks for background policies
  charts/kyverno/templates/admission-controller/clusterrole.yaml
  charts/kyverno/templates/admission-controller/deployment.yaml
  charts/kyverno/templates/background-controller/clusterrolebinding.yaml
  charts/kyverno/templates/cleanup-controller/clusterrole.yaml
  charts/kyverno/templates/cleanup-controller/deployment.yaml
  cmd/cli/kubectl-kyverno/apply/apply_command.go
  cmd/cli/kubectl-kyverno/oci/oci_push.go
  cmd/cli/kubectl-kyverno/test/test.go
  cmd/kyverno/main.go
  config/install-latest-testing.yaml
  pkg/auth/auth.go
  pkg/auth/auth_test.go
  pkg/config/config.go
  pkg/engine/handlers/validation/validate_manifest.go
  pkg/policy/actions.go
  pkg/policy/generate/auth.go
  pkg/policy/generate/validate.go
  pkg/policy/mutate/auth.go
  pkg/policy/mutate/validate.go
  pkg/policy/validate.go
  pkg/policy/validate_test.go
  pkg/validation/cleanuppolicy/validate.go
  pkg/webhooks/policy/handlers.go
Labels: cherry-pick-required, milestone 1.10.0

#6993 chore: bump kind image to 1.27.1
  .github/workflows/conformance.yaml
Labels: cherry-pick-required, milestone 1.10.0

#6868 feat: bump k8s deps to 1.27
  charts/kyverno/templates/crds/crds.yaml
  config/crds/kyverno.io_admissionreports.yaml
  config/crds/kyverno.io_clusteradmissionreports.yaml
  config/install-latest-testing.yaml
  go.mod
  go.sum
  pkg/clients/kube/authenticationv1beta1/client.generated.go
  pkg/clients/kube/authenticationv1beta1/selfsubjectreviews/resource.generated.go
  pkg/clients/kube/certificatesv1alpha1/client.generated.go
  pkg/clients/kube/certificatesv1alpha1/clustertrustbundles/resource.generated.go
  pkg/clients/kube/clientset.generated.go
  pkg/clients/kube/extensionsv1beta1/client.generated.go
  pkg/clients/kube/networkingv1alpha1/client.generated.go
  pkg/clients/kube/networkingv1alpha1/ipaddresses/resource.generated.go
  pkg/clients/kube/resourcev1alpha1/client.generated.go
  pkg/clients/kube/resourcev1alpha2/client.generated.go
  pkg/clients/kube/resourcev1alpha2/podschedulingcontexts/resource.generated.go
  pkg/clients/kube/resourcev1alpha2/resourceclaims/resource.generated.go
  pkg/clients/kube/resourcev1alpha2/resourceclaimtemplates/resource.generated.go
  pkg/clients/kube/resourcev1alpha2/resourceclasses/resource.generated.go
Labels: cherry-pick-required, milestone 1.10.0

#6996 fix: disable autogen in foreach mutation with json patches
  pkg/autogen/autogen.go
  test/conformance/kuttl/autogen/foreach-jsonpatch/01-policy.yaml
  test/conformance/kuttl/autogen/foreach-jsonpatch/README.md
  test/conformance/kuttl/autogen/foreach-jsonpatch/policy-assert.yaml
  test/conformance/kuttl/autogen/foreach-jsonpatch/policy-error.yaml
  test/conformance/kuttl/autogen/foreach-jsonpatch/policy.yaml
Labels: cherry-pick-required, milestone 1.10.0

#6999 fix: add server ip config to cleanup controller
  .vscode/launch.json
  cmd/cleanup-controller/main.go
Labels: cherry-pick-required, milestone 1.10.0

#6935 feat: add features section in helm values
  charts/kyverno/README.md
  charts/kyverno/templates/_helpers.tpl
  charts/kyverno/templates/admission-controller/deployment.yaml
  charts/kyverno/templates/background-controller/deployment.yaml
  charts/kyverno/templates/cleanup-controller/deployment.yaml
  charts/kyverno/templates/reports-controller/deployment.yaml
  charts/kyverno/values.yaml
  config/install-latest-testing.yaml
  scripts/config/dev/kyverno.yaml
  scripts/config/exceptions-disabled/kyverno.yaml
  scripts/config/force-failure-policy-ignore/kyverno.yaml
  scripts/config/standard/kyverno.yaml
Labels: cherry-pick-required, milestone 1.10.0

#7007 fix: record configmap resource version to not reload when version didn't change
  pkg/controllers/generic/configmap/controller.go
Labels: cherry-pick-required, milestone 1.10.0

#7019 fix: helm template with metricsRefreshInterval
  charts/kyverno/templates/config/metricsconfigmap.yaml
Labels: cherry-pick-required, milestone 1.10.0

#6948 add support for Kubernetes API server POST
  api/kyverno/v1/common_types.go
  api/kyverno/v1/zz_generated.deepcopy.go
  charts/kyverno/templates/crds/crds.yaml
  config/crds/kyverno.io_cleanuppolicies.yaml
  config/crds/kyverno.io_clustercleanuppolicies.yaml
  config/crds/kyverno.io_clusterpolicies.yaml
  config/crds/kyverno.io_policies.yaml
  config/install-latest-testing.yaml
  docs/user/crd/index.html
  pkg/clients/dclient/client.go
  pkg/engine/apicall/apiCall.go
  pkg/engine/apicall/apiCall_test.go
  pkg/policy/validate.go
  test/conformance/kuttl/validate/clusterpolicy/standard/apicalls/subjectaccessreview/01-assert.yaml
  test/conformance/kuttl/validate/clusterpolicy/standard/apicalls/subjectaccessreview/01-manifests.yaml
  test/conformance/kuttl/validate/clusterpolicy/standard/apicalls/subjectaccessreview/02-teststep.yaml
  test/conformance/kuttl/validate/clusterpolicy/standard/apicalls/subjectaccessreview/README.md
  test/conformance/kuttl/validate/clusterpolicy/standard/apicalls/subjectaccessreview/cm-default-ns.yaml
  test/conformance/kuttl/validate/clusterpolicy/standard/apicalls/subjectaccessreview/cm-test-ns.yaml
Labels: cherry-pick-required, milestone 1.10.0

#7014 feat: update built-in resource schemas
  data/api-resources.json
  data/apiResources.go
  data/data.go
  data/preferred-resources.json
  data/preferredResources.go
  pkg/openapi/manager_test.go
Labels: cherry-pick-required, milestone 1.10.0

#7015 chore: use github.com/evanphx/json-patch/v5
  go.mod
  pkg/utils/json/patch.go
  pkg/utils/json/utils_test.go
Labels: cherry-pick-required, milestone 1.10.0

#7030 refactor: engine patchers
  pkg/engine/forceMutate.go
  pkg/engine/handlers/mutation/common.go
  pkg/engine/mutate/mutation.go
  pkg/engine/mutate/mutation_test.go
  pkg/engine/mutate/patch/patchJSON6902.go
  pkg/engine/mutate/patch/patchJSON6902_test.go
  pkg/engine/mutate/patch/patches.go
  pkg/engine/mutate/patch/patchesUtils.go
  pkg/engine/mutate/patch/patchesUtils_test.go
  pkg/engine/mutate/patch/strategicMergePatch.go
Labels: cherry-pick-required, milestone 1.10.0

#7037 update development doc
  DEVELOPMENT.md
Labels: cherry-pick-required, milestone 1.10.0

#7026 fix: generate policy validation to prevent endless loop
  cmd/cli/kubectl-kyverno/apply/apply_command.go
  cmd/cli/kubectl-kyverno/oci/oci_push.go
  cmd/cli/kubectl-kyverno/test/test.go
  pkg/controllers/report/utils/utils.go
  pkg/policy/policy_controller.go
  pkg/validation/policy/actions.go
  pkg/validation/policy/allowed_vars_test.go
  pkg/validation/policy/background.go
  pkg/validation/policy/background_test.go
  pkg/validation/policy/generate.go
  pkg/validation/policy/on_update_policy_test.go
  pkg/validation/policy/validate.go
  pkg/validation/policy/validate_test.go
  pkg/webhooks/policy/handlers.go
  test/conformance/kuttl/generate/policy/standard/data/sync/pol-data-sync-delete-rule/01-manifests.yaml
  test/conformance/kuttl/generate/policy/standard/data/sync/pol-data-sync-delete-rule/03-check.yaml
  test/conformance/kuttl/generate/policy/standard/data/sync/pol-data-sync-delete-rule/04-delete-rule.yaml
  test/conformance/kuttl/generate/policy/standard/data/sync/pol-data-sync-delete-rule/06-checks.yaml
  test/conformance/kuttl/generate/policy/standard/data/sync/pol-data-sync-delete-rule/configmap-remain.yaml
  test/conformance/kuttl/generate/policy/standard/data/sync/pol-data-sync-delete-rule/secret.yaml
  test/conformance/kuttl/generate/validation/clusterpolicy/prevent-loop/01-fail.yaml
  test/conformance/kuttl/generate/validation/clusterpolicy/prevent-loop/README.md
  test/conformance/kuttl/generate/validation/clusterpolicy/prevent-loop/policy.yaml
  test/conformance/kuttl/generate/validation/policy/immutable-downstream/01-policy.yaml
  test/conformance/kuttl/generate/validation/policy/prevent-loop/01-fail.yaml
  test/conformance/kuttl/generate/validation/policy/prevent-loop/README.md
  test/conformance/kuttl/generate/validation/policy/prevent-loop/policy.yaml
Labels: cherry-pick-required, milestone 1.10.0

#7039 fix: remove deletionTimestamp checks
  pkg/background/common/resource.go
  pkg/webhooks/resource/updaterequest.go
Labels: cherry-pick-required, milestone 1.10.0
