Repository kyverno/kyverno, pull requests merged in 2023-10, with the labels that each got.

#8555 Refactor fuzzing utils and add 3 fuzzers
  go.mod
  pkg/engine/context/fuzz_test.go
  pkg/engine/fuzz_test.go
  pkg/pss/fuzz_test.go
  pkg/utils/api/fuzz_test.go
  pkg/utils/fuzz/fuzz_interface.go
  pkg/utils/fuzz/policies.go
  pkg/utils/fuzz/policy_spec.go
  pkg/utils/fuzz/unstructured.go
  pkg/utils/fuzz/utils.go
  test/fuzz/options/FuzzBaselinePS.options
  test/fuzz/options/FuzzPodBypass.options
  test/fuzz/oss_fuzz_build.sh
  test/fuzz/seeds/FuzzBaselinePS_seed1
  test/fuzz/seeds/FuzzBaselinePS_seed2
  test/fuzz/seeds/FuzzPodBypass_seed1
  test/fuzz/seeds/FuzzPodBypass_seed2
Labels: cherry-pick-required, milestone 1.11.0

#8587 fix: use v2beta1 of policy exceptions
  api/kyverno/v2alpha1/policy_exception_types.go
  api/kyverno/v2beta1/policy_exception_types.go
  charts/kyverno/templates/crds/crds.yaml
  cmd/cli/kubectl-kyverno/data/crds/kyverno.io_policyexceptions.yaml
  cmd/internal/engine.go
  config/crds/kyverno.io_policyexceptions.yaml
  config/install-latest-testing.yaml
  pkg/engine/api/ruleresponse.go
  pkg/engine/api/selector.go
  pkg/engine/exceptions.go
  pkg/webhooks/resource/fake.go
Labels: cherry-pick-required, milestone 1.11.0

#8565 refactor: use GetKind() from the cleanup policy interface
  api/kyverno/v2alpha1/cleanup_policy_types.go
  pkg/event/events.go
Labels: cherry-pick-required, milestone 1.11.0

#8494 refactor: common remote authenticator for notary and cosign
  pkg/cosign/cosign.go
  pkg/engine/api/client.go
  pkg/images/verifier.go
  pkg/notary/notary.go
  pkg/notary/registry.go
  pkg/registryclient/client.go
Labels: cherry-pick-required, milestone 1.11.0

#8564 feat: generate events for CEL policies that generate VAPs
  cmd/kyverno/main.go
  pkg/controllers/validatingadmissionpolicy-generate/controller.go
  pkg/event/events.go
Labels: cherry-pick-required, milestone 1.11.0

#8594 chore: bump cleanup policies to v2beta1
  api/kyverno/v2alpha1/zz_generated.deepcopy.go
  api/kyverno/v2alpha1/zz_generated.register.go
  api/kyverno/v2beta1/cleanup_policy_interface.go
  api/kyverno/v2beta1/cleanup_policy_test.go
  api/kyverno/v2beta1/cleanup_policy_types.go
  api/kyverno/v2beta1/zz_generated.deepcopy.go
  api/kyverno/v2beta1/zz_generated.register.go
  charts/kyverno/templates/crds/crds.yaml
  cmd/cleanup-controller/main.go
  config/crds/kyverno.io_cleanuppolicies.yaml
  config/crds/kyverno.io_clustercleanuppolicies.yaml
  config/install-latest-testing.yaml
  docs/user/crd/index.html
  pkg/client/applyconfigurations/kyverno/v2beta1/cleanuppolicy.go
  pkg/client/applyconfigurations/kyverno/v2beta1/cleanuppolicyspec.go
  pkg/client/applyconfigurations/kyverno/v2beta1/cleanuppolicystatus.go
  pkg/client/applyconfigurations/kyverno/v2beta1/clustercleanuppolicy.go
  pkg/client/applyconfigurations/utils.go
  pkg/client/clientset/versioned/typed/kyverno/v2alpha1/fake/fake_kyverno_client.go
  pkg/client/clientset/versioned/typed/kyverno/v2alpha1/generated_expansion.go
  pkg/client/clientset/versioned/typed/kyverno/v2alpha1/kyverno_client.go
  pkg/client/clientset/versioned/typed/kyverno/v2beta1/cleanuppolicy.go
  pkg/client/clientset/versioned/typed/kyverno/v2beta1/clustercleanuppolicy.go
  pkg/client/clientset/versioned/typed/kyverno/v2beta1/fake/fake_cleanuppolicy.go
  pkg/client/clientset/versioned/typed/kyverno/v2beta1/fake/fake_clustercleanuppolicy.go
  pkg/client/clientset/versioned/typed/kyverno/v2beta1/fake/fake_kyverno_client.go
  pkg/client/clientset/versioned/typed/kyverno/v2beta1/generated_expansion.go
  pkg/client/clientset/versioned/typed/kyverno/v2beta1/kyverno_client.go
  pkg/client/informers/externalversions/generic.go
  pkg/client/informers/externalversions/kyverno/v2alpha1/interface.go
  pkg/client/informers/externalversions/kyverno/v2beta1/cleanuppolicy.go
  pkg/client/informers/externalversions/kyverno/v2beta1/clustercleanuppolicy.go
  pkg/client/informers/externalversions/kyverno/v2beta1/interface.go
  pkg/client/listers/kyverno/v2alpha1/expansion_generated.go
  pkg/client/listers/kyverno/v2beta1/cleanuppolicy.go
  pkg/client/listers/kyverno/v2beta1/clustercleanuppolicy.go
  pkg/client/listers/kyverno/v2beta1/expansion_generated.go
  pkg/clients/kyverno/kyvernov2alpha1/client.generated.go
  pkg/clients/kyverno/kyvernov2beta1/cleanuppolicies/resource.generated.go
  pkg/clients/kyverno/kyvernov2beta1/client.generated.go
  pkg/clients/kyverno/kyvernov2beta1/clustercleanuppolicies/resource.generated.go
  pkg/controllers/cleanup/controller.go
  pkg/event/controller.go
  pkg/event/events.go
  pkg/utils/admission/cleanup.go
  pkg/validation/cleanuppolicy/validate.go
  test/conformance/kuttl/cleanup/clusterpolicy/cleanup-pod/policy.yaml
  test/conformance/kuttl/cleanup/clusterpolicy/context-cleanup-pod/policy.yaml
  test/conformance/kuttl/cleanup/policy/cleanup-pod/policy.yaml
  test/conformance/kuttl/cleanup/validation/cron-format/clusterpolicy.yaml
  test/conformance/kuttl/cleanup/validation/cron-format/invalidpolicy.yaml
  test/conformance/kuttl/cleanup/validation/cron-format/policy.yaml
  test/conformance/kuttl/cleanup/validation/no-user-info-in-match/cleanuppolicy-with-clusterroles.yaml
  test/conformance/kuttl/cleanup/validation/no-user-info-in-match/cleanuppolicy-with-roles.yaml
  test/conformance/kuttl/cleanup/validation/no-user-info-in-match/cleanuppolicy-with-subjects.yaml
  test/conformance/kuttl/cleanup/validation/not-supported-attributes-in-context/cleanuppolicy-with-configmap.yaml
  test/conformance/kuttl/cleanup/validation/not-supported-attributes-in-context/cleanuppolicy-with-image-registry.yaml
  test/conformance/kuttl/generate/validation/clusterpolicy/target-namespace-scope/policy-pass-3.yaml
Labels: Documentation, cherry-pick-required, milestone 1.11.0

#8609 Revert "chore: bump cleanup policies to v2beta1"
  api/kyverno/v2alpha1/cleanup_policy_interface.go
  api/kyverno/v2alpha1/cleanup_policy_test.go
  api/kyverno/v2alpha1/cleanup_policy_types.go
  api/kyverno/v2alpha1/zz_generated.deepcopy.go
  api/kyverno/v2alpha1/zz_generated.register.go
  api/kyverno/v2beta1/zz_generated.deepcopy.go
  api/kyverno/v2beta1/zz_generated.register.go
  charts/kyverno/templates/crds/crds.yaml
  cmd/cleanup-controller/main.go
  config/crds/kyverno.io_cleanuppolicies.yaml
  config/crds/kyverno.io_clustercleanuppolicies.yaml
  config/install-latest-testing.yaml
  docs/user/crd/index.html
  pkg/client/applyconfigurations/kyverno/v2alpha1/cleanuppolicy.go
  pkg/client/applyconfigurations/kyverno/v2alpha1/cleanuppolicyspec.go
  pkg/client/applyconfigurations/kyverno/v2alpha1/cleanuppolicystatus.go
  pkg/client/applyconfigurations/kyverno/v2alpha1/clustercleanuppolicy.go
  pkg/client/applyconfigurations/utils.go
  pkg/client/clientset/versioned/typed/kyverno/v2alpha1/cleanuppolicy.go
  pkg/client/clientset/versioned/typed/kyverno/v2alpha1/clustercleanuppolicy.go
  pkg/client/clientset/versioned/typed/kyverno/v2alpha1/fake/fake_cleanuppolicy.go
  pkg/client/clientset/versioned/typed/kyverno/v2alpha1/fake/fake_clustercleanuppolicy.go
  pkg/client/clientset/versioned/typed/kyverno/v2alpha1/fake/fake_kyverno_client.go
  pkg/client/clientset/versioned/typed/kyverno/v2alpha1/generated_expansion.go
  pkg/client/clientset/versioned/typed/kyverno/v2alpha1/kyverno_client.go
  pkg/client/clientset/versioned/typed/kyverno/v2beta1/fake/fake_kyverno_client.go
  pkg/client/clientset/versioned/typed/kyverno/v2beta1/generated_expansion.go
  pkg/client/clientset/versioned/typed/kyverno/v2beta1/kyverno_client.go
  pkg/client/informers/externalversions/generic.go
  pkg/client/informers/externalversions/kyverno/v2alpha1/cleanuppolicy.go
  pkg/client/informers/externalversions/kyverno/v2alpha1/clustercleanuppolicy.go
  pkg/client/informers/externalversions/kyverno/v2alpha1/interface.go
  pkg/client/informers/externalversions/kyverno/v2beta1/interface.go
  pkg/client/listers/kyverno/v2alpha1/cleanuppolicy.go
  pkg/client/listers/kyverno/v2alpha1/clustercleanuppolicy.go
  pkg/client/listers/kyverno/v2alpha1/expansion_generated.go
  pkg/client/listers/kyverno/v2beta1/expansion_generated.go
  pkg/clients/kyverno/kyvernov2alpha1/cleanuppolicies/resource.generated.go
  pkg/clients/kyverno/kyvernov2alpha1/client.generated.go
  pkg/clients/kyverno/kyvernov2alpha1/clustercleanuppolicies/resource.generated.go
  pkg/clients/kyverno/kyvernov2beta1/client.generated.go
  pkg/controllers/cleanup/controller.go
  pkg/event/controller.go
  pkg/event/events.go
  pkg/utils/admission/cleanup.go
  pkg/validation/cleanuppolicy/validate.go
  test/conformance/kuttl/cleanup/clusterpolicy/cleanup-pod/policy.yaml
  test/conformance/kuttl/cleanup/clusterpolicy/context-cleanup-pod/policy.yaml
  test/conformance/kuttl/cleanup/policy/cleanup-pod/policy.yaml
  test/conformance/kuttl/cleanup/validation/cron-format/clusterpolicy.yaml
  test/conformance/kuttl/cleanup/validation/cron-format/invalidpolicy.yaml
  test/conformance/kuttl/cleanup/validation/cron-format/policy.yaml
  test/conformance/kuttl/cleanup/validation/no-user-info-in-match/cleanuppolicy-with-clusterroles.yaml
  test/conformance/kuttl/cleanup/validation/no-user-info-in-match/cleanuppolicy-with-roles.yaml
  test/conformance/kuttl/cleanup/validation/no-user-info-in-match/cleanuppolicy-with-subjects.yaml
  test/conformance/kuttl/cleanup/validation/not-supported-attributes-in-context/cleanuppolicy-with-configmap.yaml
  test/conformance/kuttl/cleanup/validation/not-supported-attributes-in-context/cleanuppolicy-with-image-registry.yaml
  test/conformance/kuttl/generate/validation/clusterpolicy/target-namespace-scope/policy-pass-3.yaml
Labels: cherry-pick-required, milestone 1.11.0

#8619 feat: move grafana dashboard to a subchart
  charts/kyverno/Chart.yaml
  charts/kyverno/README.md
  charts/kyverno/charts/grafana/Chart.yaml
  charts/kyverno/charts/grafana/README.md
  charts/kyverno/charts/grafana/dashboard/dashboard.json
  charts/kyverno/charts/grafana/templates/dashboard.yaml
  charts/kyverno/charts/grafana/values.yaml
  charts/kyverno/templates/grafana/dashboard.yaml
Labels: cherry-pick-required, milestone 1.11.0

#8569 fix: allow dropping metrics, labels and configuring histogram bucket boundaries to avoid high cardinality
  charts/kyverno/README.md
  charts/kyverno/templates/config/metricsconfigmap.yaml
  charts/kyverno/values.yaml
  config/install-latest-testing.yaml
  pkg/config/metricsconfig.go
  pkg/config/metricsconfig_test.go
  pkg/config/types.go
  pkg/config/types_test.go
  pkg/metrics/init.go
  pkg/metrics/metrics.go
Labels: cherry-pick-required, milestone 1.11.0

#8623 feat: move crds to a subchart
  Makefile
  charts/kyverno/Chart.yaml
  charts/kyverno/README.md
  charts/kyverno/charts/crds/Chart.yaml
  charts/kyverno/charts/crds/README.md
  charts/kyverno/charts/crds/templates/_helpers.tpl
  charts/kyverno/charts/crds/templates/crds.yaml
  charts/kyverno/charts/crds/values.yaml
  charts/kyverno/values.yaml
  config/install-latest-testing.yaml
Labels: Documentation, cherry-pick-required, milestone 1.11.0

#8637 deps: bump to Go 1.21.3
  .github/actions/setup-build-env/action.yaml
Labels: cherry-pick-required, milestone 1.11.0

#8648 fix(helm): add missing policyexceptions RBAC to background-controller
  charts/kyverno/templates/background-controller/clusterrole.yaml
  config/install-latest-testing.yaml
Labels: cherry-pick-required, milestone 1.11.0

#8652 fix(helm): add values for declaratively enabling PDBs
  charts/kyverno/README.md
  charts/kyverno/templates/admission-controller/poddisruptionbudget.yaml
  charts/kyverno/templates/background-controller/poddisruptionbudget.yaml
  charts/kyverno/templates/cleanup-controller/poddisruptionbudget.yaml
  charts/kyverno/templates/reports-controller/poddisruptionbudget.yaml
  charts/kyverno/values.yaml
Labels: cherry-pick-required, milestone 1.11.0

#8647 feat: use ubuntu:22.04 in devcontainer
  .devcontainer/Dockerfile
Labels: milestone 1.11.0

#8672 feat: adds ci test for building devcontainer image
  .github/workflows/devcontainer-build.yaml
Labels: milestone 1.12.0

#8673 remove duplicated log messages
  pkg/engine/jmespath/functions_test.go
  pkg/utils/image/infos.go
Labels: cherry-pick-required, milestone 1.11.0

#8675 feat: add arm64 support in devcontainers
  .devcontainer/Dockerfile
Labels: milestone 1.12.0

#8625 feat: Implement global values for image registry in Kyverno Helm chart
  charts/kyverno/README.md
  charts/kyverno/templates/_helpers/_image.tpl
  charts/kyverno/templates/admission-controller/deployment.yaml
  charts/kyverno/templates/background-controller/_helpers.tpl
  charts/kyverno/templates/background-controller/deployment.yaml
  charts/kyverno/templates/cleanup-controller/_helpers.tpl
  charts/kyverno/templates/cleanup-controller/deployment.yaml
  charts/kyverno/templates/cleanup/cleanup-admission-reports.yaml
  charts/kyverno/templates/cleanup/cleanup-cluster-admission-reports.yaml
  charts/kyverno/templates/hooks/pre-delete.yaml
  charts/kyverno/templates/reports-controller/_helpers.tpl
  charts/kyverno/templates/reports-controller/deployment.yaml
  charts/kyverno/values.yaml
Labels: cherry-pick-required, milestone 1.11.0

#8688 feat: fix outdated description of imageregistrycredentials
  api/kyverno/v1/image_verification_types.go
  charts/kyverno/charts/crds/templates/crds.yaml
  cmd/cli/kubectl-kyverno/data/crds/kyverno.io_clusterpolicies.yaml
  cmd/cli/kubectl-kyverno/data/crds/kyverno.io_policies.yaml
  config/crds/kyverno.io_cleanuppolicies.yaml
  config/crds/kyverno.io_clustercleanuppolicies.yaml
  config/crds/kyverno.io_clusterpolicies.yaml
  config/crds/kyverno.io_policies.yaml
  config/install-latest-testing.yaml
  docs/user/crd/index.html
Labels: cherry-pick-required, milestone 1.11.0

#8708 [Helm] AdmissionReport cleanup job tag bump
  .github/workflows/helm-test.yaml
  Makefile
  charts/kyverno/Chart.yaml
  charts/kyverno/README.md
  charts/kyverno/values.yaml
  config/install-latest-testing.yaml
Labels: cherry-pick-required, milestone 1.11.0

#8690 fix: add permissions to secrets for background controller role
  charts/kyverno/templates/background-controller/role.yaml
  config/install-latest-testing.yaml
Labels: cherry-pick-required, milestone 1.11.0

#8721 feat: add secrets name in background-controller's role
  charts/kyverno/templates/background-controller/role.yaml
  config/install-latest-testing.yaml
Labels: cherry-pick-required, milestone 1.11.0

#8577 feat: support conditions in PolicyException
  api/kyverno/v2alpha1/policy_exception_types.go
  api/kyverno/v2beta1/policy_exception_types.go
  api/kyverno/v2beta1/zz_generated.deepcopy.go
  charts/kyverno/charts/crds/templates/crds.yaml
  cmd/cli/kubectl-kyverno/data/crds/kyverno.io_policyexceptions.yaml
  config/crds/kyverno.io_policyexceptions.yaml
  config/install-latest-testing.yaml
  docs/user/crd/index.html
  pkg/client/applyconfigurations/kyverno/v2beta1/policyexceptionspec.go
  pkg/controllers/cleanup/controller.go
  pkg/engine/exceptions.go
  pkg/utils/conditions/condition.go
  pkg/utils/conditions/condition_test.go
  pkg/validation/exception/validate_test.go
  test/conformance/kuttl/exceptions/check-variables/standard/01-exception.yaml
  test/conformance/kuttl/exceptions/check-variables/standard/README.md
  test/conformance/kuttl/exceptions/check-variables/standard/exception-allowed.yaml
  test/conformance/kuttl/exceptions/check-variables/standard/exception-rejected.yaml
  test/conformance/kuttl/exceptions/conditions/01-policy.yaml
  test/conformance/kuttl/exceptions/conditions/02-exception.yaml
  test/conformance/kuttl/exceptions/conditions/03-deployment.yaml
  test/conformance/kuttl/exceptions/conditions/04-sleep.yaml
  test/conformance/kuttl/exceptions/conditions/README.md
  test/conformance/kuttl/exceptions/conditions/bad-deployment.yaml
  test/conformance/kuttl/exceptions/conditions/exception.yaml
  test/conformance/kuttl/exceptions/conditions/good-deployment.yaml
  test/conformance/kuttl/exceptions/conditions/policy.yaml
Labels: Documentation, milestone 1.12.0

#8732 fix: dynamically get branch name in helm test
  .github/workflows/helm-test.yaml
Labels: cherry-pick-required, milestone 1.11.0

#8734 fix: dynamically get branch name in helm test (cherry-pick: #8732)
  .github/workflows/helm-test.yaml
Labels: cherry-pick-completed

#8735 fix: replace base_ref with ref_name in helm test GHA
  .github/workflows/helm-test.yaml
Labels: cherry-pick-required, milestone 1.11.0

#8736 fix: replace base_ref with ref_name in helm test GHA (Cherry Pick #8735)
  .github/workflows/helm-test.yaml
Labels: milestone 1.11.0

#8744 fix: fetch correct branch name in helm-release workflow
  .github/workflows/helm-release.yaml
Labels: cherry-pick-required, milestone 1.11.0

#8737 fix: revert maintainers in helm charts
  .github/workflows/helm-release.yaml
  charts/kyverno/Chart.yaml
  charts/kyverno/README.md
Labels: cherry-pick-required, milestone 1.11.0

#8747 feat: disable validate maintainer for helm gha
  .github/workflows/helm-release.yaml
  .github/workflows/helm-test.yaml
  charts/kyverno-policies/Chart.yaml
  charts/kyverno-policies/README.md
Labels: cherry-pick-required, milestone 1.11.0

#8752 Revert "feat: add secrets name in background-controller's role"
  charts/kyverno/templates/background-controller/role.yaml
  config/install-latest-testing.yaml
Labels: cherry-pick-required, milestone 1.11.0

#8751 fix: grafana dashboard to support replicas
  charts/kyverno/charts/grafana/dashboard/dashboard.json
Labels: cherry-pick-required, milestone 1.11.0

#8758 chore: init ext packages
  cmd/cli/kubectl-kyverno/commands/apply/command.go
  cmd/cli/kubectl-kyverno/commands/test/command.go
  cmd/cli/kubectl-kyverno/commands/test/test.go
  cmd/cli/kubectl-kyverno/output/color/color.go
  cmd/cli/kubectl-kyverno/output/color/color_test.go
  ext/output/color/color.go
  ext/output/color/color_test.go
  ext/output/pluralize/pluralize.go
  ext/output/pluralize/pluralize_test.go
Labels: milestone 1.12.0

#8760 feat: add ext/yaml package
  cmd/cli/kubectl-kyverno/exception/load.go
  cmd/cli/kubectl-kyverno/policy/load.go
  cmd/cli/kubectl-kyverno/resource/resource.go
  ext/yaml/document.go
  ext/yaml/empty.go
  ext/yaml/split.go
  ext/yaml/split_test.go
  pkg/utils/yaml/loadpolicy.go
Labels: milestone 1.12.0

#8761 chore: fix nancy ignore
  .nancy-ignore
Labels: milestone 1.12.0

#8762 chore: run tests with chainsaw
  .github/workflows/conformance.yaml
  test/conformance/chainsaw/_config/common.yaml
  test/conformance/chainsaw/webhooks/all-scale/01-policy.yaml
  test/conformance/chainsaw/webhooks/all-scale/02-webhooks.yaml
  test/conformance/chainsaw/webhooks/all-scale/README.md
  test/conformance/chainsaw/webhooks/all-scale/policy-assert.yaml
  test/conformance/chainsaw/webhooks/all-scale/policy.yaml
  test/conformance/chainsaw/webhooks/all-scale/webhooks.yaml
  test/conformance/chainsaw/webhooks/double-wildcard/01-policy.yaml
  test/conformance/chainsaw/webhooks/double-wildcard/02-webhooks.yaml
  test/conformance/chainsaw/webhooks/double-wildcard/README.md
  test/conformance/chainsaw/webhooks/double-wildcard/policy-assert.yaml
  test/conformance/chainsaw/webhooks/double-wildcard/policy.yaml
  test/conformance/chainsaw/webhooks/double-wildcard/webhooks.yaml
  test/conformance/chainsaw/webhooks/expected-webhooks/01-webhooks.yaml
  test/conformance/chainsaw/webhooks/expected-webhooks/README.md
  test/conformance/chainsaw/webhooks/expected-webhooks/webhooks.yaml
  test/conformance/chainsaw/webhooks/only-pod/01-policy.yaml
  test/conformance/chainsaw/webhooks/only-pod/02-webhooks.yaml
  test/conformance/chainsaw/webhooks/only-pod/README.md
  test/conformance/chainsaw/webhooks/only-pod/policy-assert.yaml
  test/conformance/chainsaw/webhooks/only-pod/policy.yaml
  test/conformance/chainsaw/webhooks/only-pod/webhooks.yaml
  test/conformance/chainsaw/webhooks/pod-all-subresources/01-policy.yaml
  test/conformance/chainsaw/webhooks/pod-all-subresources/02-webhooks.yaml
  test/conformance/chainsaw/webhooks/pod-all-subresources/README.md
  test/conformance/chainsaw/webhooks/pod-all-subresources/policy-assert.yaml
  test/conformance/chainsaw/webhooks/pod-all-subresources/policy.yaml
  test/conformance/chainsaw/webhooks/pod-all-subresources/webhooks.yaml
  test/conformance/chainsaw/webhooks/scale/01-policy.yaml
  test/conformance/chainsaw/webhooks/scale/README.md
  test/conformance/chainsaw/webhooks/scale/policy.yaml
  test/conformance/chainsaw/webhooks/unknown-kind/01-unknown-kind.yaml
  test/conformance/chainsaw/webhooks/unknown-kind/02-unknown-kind-subresource.yaml
  test/conformance/chainsaw/webhooks/unknown-kind/03-wrong-version.yaml
  test/conformance/chainsaw/webhooks/unknown-kind/04-unknown-subresource.yaml
  test/conformance/chainsaw/webhooks/unknown-kind/README.md
  test/conformance/chainsaw/webhooks/unknown-kind/policy-1.yaml
  test/conformance/chainsaw/webhooks/unknown-kind/policy-2.yaml
  test/conformance/chainsaw/webhooks/unknown-kind/policy-3.yaml
  test/conformance/chainsaw/webhooks/unknown-kind/policy-4.yaml
  test/conformance/chainsaw/webhooks/wildcard/01-policy.yaml
  test/conformance/chainsaw/webhooks/wildcard/02-webhooks.yaml
  test/conformance/chainsaw/webhooks/wildcard/README.md
  test/conformance/chainsaw/webhooks/wildcard/policy-assert.yaml
  test/conformance/chainsaw/webhooks/wildcard/policy.yaml
  test/conformance/chainsaw/webhooks/wildcard/webhooks.yaml
Labels: milestone 1.12.0

#8766 feat: add utils packages in ext
  ext/file-info/ext.go
  ext/file/ext.go
  ext/file/ext_test.go
Labels: milestone 1.12.0

#8767 feat: add force color in color ext pkg
  cmd/cli/kubectl-kyverno/output/color/color.go
  ext/output/color/color.go
  ext/output/color/color_test.go
Labels: milestone 1.12.0

#8769 refactor: move resource/convert in ext
  cmd/cli/kubectl-kyverno/exception/load.go
  cmd/cli/kubectl-kyverno/policy/load.go
  cmd/cli/kubectl-kyverno/resource/load.go
  ext/resource/convert/convert.go
  ext/resource/convert/convert_test.go
Labels: milestone 1.12.0

#8772 chore: move utils/wildcard in ext
  api/kyverno/v1/rule_types.go
  api/kyverno/v2beta1/policy_exception_types.go
  cmd/cli/kubectl-kyverno/test/filter/filter.go
  ext/wildcard/match.go
  ext/wildcard/match_test.go
  ext/wildcard/utils.go
  ext/wildcard/utils_test.go
  pkg/clients/dclient/discovery.go
  pkg/clients/dclient/helpers.go
  pkg/config/config.go
  pkg/controllers/webhook/controller.go
  pkg/cosign/cosign.go
  pkg/engine/api/engineresponse.go
  pkg/engine/context/mock_context.go
  pkg/engine/handlers/mutation/load_targets.go
  pkg/engine/internal/imageverifier.go
  pkg/engine/jmespath/functions.go
  pkg/engine/pattern/pattern.go
  pkg/engine/utils/image.go
  pkg/engine/utils/match.go
  pkg/engine/variables/operator/allin.go
  pkg/engine/variables/operator/anyin.go
  pkg/engine/variables/operator/equal.go
  pkg/engine/variables/operator/in.go
  pkg/engine/variables/operator/notequal.go
  pkg/engine/wildcards/wildcards.go
  pkg/policy/generate/validate.go
  pkg/policycache/cache.go
  pkg/pss/evaluate.go
  pkg/utils/kube/wildcard.go
  pkg/utils/match/annotations.go
  pkg/utils/match/kind.go
  pkg/utils/match/match.go
  pkg/utils/match/name.go
  pkg/utils/match/subjects.go
  pkg/validation/policy/validate.go
Labels: milestone 1.12.0

#8777 fix: add VAP and VAPB to reports controller ClusterRole
  charts/kyverno/templates/reports-controller/clusterrole.yaml
Labels: milestone 1.11.0

#8778 fix: print the number of VAPs being applied to the resources in test command
  cmd/cli/kubectl-kyverno/commands/test/test.go
Labels: cherry-pick-required, milestone 1.11.0

#8785 fix: rename vap logging name to ValidatingAdmissionPolicy
  pkg/controllers/validatingadmissionpolicy-generate/policycheck.go
Labels: cherry-pick-required, milestone 1.11.0

#8780 refactor: move resource loader package to ext
  cmd/cli/kubectl-kyverno/exception/load.go
  cmd/cli/kubectl-kyverno/policy/load.go
  cmd/cli/kubectl-kyverno/resource/load.go
  ext/resource/loader/loader.go
  ext/resource/loader/loader_test.go
Labels: milestone 1.12.0

#8779 feat: update verify images types with better descriptions
  api/kyverno/v1/image_verification_types.go
  charts/kyverno/charts/crds/templates/crds.yaml
  cmd/cli/kubectl-kyverno/data/crds/kyverno.io_clusterpolicies.yaml
  cmd/cli/kubectl-kyverno/data/crds/kyverno.io_policies.yaml
  config/crds/kyverno.io_cleanuppolicies.yaml
  config/crds/kyverno.io_clustercleanuppolicies.yaml
  config/crds/kyverno.io_clusterpolicies.yaml
  config/crds/kyverno.io_policies.yaml
  config/install-latest-testing.yaml
  docs/user/crd/index.html
Labels: cherry-pick-required, milestone 1.11.0

#8768 add VAP and VAPB to admission controller ClusterRole
  charts/kyverno/templates/admission-controller/clusterrole.yaml
Labels: cherry-pick-required, milestone 1.11.0

#8793 chore: upgrade docker/docker to v24.0.7
  go.mod
  go.sum
Labels: cherry-pick-required, milestone 1.11.0

#8783 fix: generate events for scanning VAPs in reports controller
  pkg/engine/api/policy.go
  pkg/event/events.go
  test/conformance/kuttl/validating-admission-policy-reports/events/01-deployment.yaml
  test/conformance/kuttl/validating-admission-policy-reports/events/02-policy.yaml
  test/conformance/kuttl/validating-admission-policy-reports/events/03-sleep.yaml
  test/conformance/kuttl/validating-admission-policy-reports/events/04-event.yaml
  test/conformance/kuttl/validating-admission-policy-reports/events/README.md
  test/conformance/kuttl/validating-admission-policy-reports/events/deployment-assert.yaml
  test/conformance/kuttl/validating-admission-policy-reports/events/deployment.yaml
  test/conformance/kuttl/validating-admission-policy-reports/events/policy-event.yaml
  test/conformance/kuttl/validating-admission-policy-reports/events/policy.yaml
Labels: cherry-pick-required, milestone 1.11.0

#8784 fix: display helm warnings together
  charts/kyverno/templates/NOTES.txt
Labels: cherry-pick-required, milestone 1.11.0
