Repository kyverno/kyverno, pull requests merged in 2023-12, with the labels that each got.

#9060 fix: ttl cleanup not working with cluster wide resources
  pkg/controllers/ttl/controller.go
Labels: cherry-pick-required, milestone 1.11.2

#8322 optimize JSON context processing using in-memory maps
  .vscode/launch.json
  pkg/engine/context/context.go
  pkg/engine/context/deferred_test.go
  pkg/engine/context/evaluate.go
  pkg/engine/context/evaluate_test.go
  pkg/engine/context/loaders/variable.go
  pkg/engine/context/mock_context.go
  pkg/engine/context/utils.go
  pkg/engine/context/utils_test.go
  pkg/engine/handlers/mutation/common.go
  pkg/engine/jsonutils/convert.go
  pkg/engine/jsonutils/traverse_test.go
  pkg/engine/mutate/mutation.go
  pkg/engine/policycontext/policy_context.go
  pkg/engine/utils/foreach.go
  pkg/engine/utils/utils.go
  pkg/engine/validation_test.go
  pkg/engine/variables/variables_test.go
  pkg/engine/variables/vars.go
  pkg/engine/variables/vars_test.go
  pkg/validation/policy/validate.go
  test/cli/test/images/verify-signature/policies.yaml
Labels: milestone 1.12.0

#9070 chore: update chart.yaml with the changes
  charts/kyverno/Chart.yaml
Labels: cherry-pick-required, milestone 1.11.2

#9087 chore: convert chainsaw tests to Test resource
  test/conformance/chainsaw/autogen/conditions/01-policy.yaml
  test/conformance/chainsaw/autogen/conditions/chainsaw-test.yaml
  test/conformance/chainsaw/autogen/deployment-cronjob/01-policy.yaml
  test/conformance/chainsaw/autogen/deployment-cronjob/chainsaw-test.yaml
  test/conformance/chainsaw/autogen/deployment-statefulset-job/01-policy.yaml
  test/conformance/chainsaw/autogen/deployment-statefulset-job/chainsaw-test.yaml
  test/conformance/chainsaw/autogen/foreach-jsonpatch/01-policy.yaml
  test/conformance/chainsaw/autogen/foreach-jsonpatch/chainsaw-test.yaml
  test/conformance/chainsaw/autogen/none/01-policy.yaml
  test/conformance/chainsaw/autogen/none/chainsaw-test.yaml
  test/conformance/chainsaw/autogen/only-cronjob/01-policy.yaml
  test/conformance/chainsaw/autogen/only-cronjob/chainsaw-test.yaml
  test/conformance/chainsaw/autogen/only-deployment/01-policy.yaml
  test/conformance/chainsaw/autogen/only-deployment/chainsaw-test.yaml
  test/conformance/chainsaw/autogen/should-autogen/01-policy.yaml
  test/conformance/chainsaw/autogen/should-autogen/chainsaw-test.yaml
  test/conformance/chainsaw/autogen/should-not-autogen/01-policy.yaml
  test/conformance/chainsaw/autogen/should-not-autogen/chainsaw-test.yaml
Labels: milestone 1.12.0

#9085 fix: conformance tests
  .github/workflows/conformance.yaml
Labels: milestone 1.12.0

#9088 fix: nancy ignore
  .nancy-ignore
Labels: milestone 1.12.0

#8567 chore: set cert renewal time to 15 days before expiration
  cmd/cleanup-controller/main.go
  cmd/kyverno/main.go
  pkg/tls/renewer.go
Labels: Documentation, milestone 1.12.0

#9092 chore: remove kuttl from makefile
  Makefile
Labels: milestone 1.12.0

#9094 chore: convert chainsaw tests to Test resource
  test/conformance/chainsaw/background-only/cluster-policy/no-admission-event/01-policy.yaml
  test/conformance/chainsaw/background-only/cluster-policy/no-admission-event/02-resource.yaml
  test/conformance/chainsaw/background-only/cluster-policy/no-admission-event/03-event.yaml
  test/conformance/chainsaw/background-only/cluster-policy/no-admission-event/chainsaw-test.yaml
  test/conformance/chainsaw/background-only/cluster-policy/no-admission-report/01-policy.yaml
  test/conformance/chainsaw/background-only/cluster-policy/no-admission-report/02-resource.yaml
  test/conformance/chainsaw/background-only/cluster-policy/no-admission-report/03-report.yaml
  test/conformance/chainsaw/background-only/cluster-policy/no-admission-report/chainsaw-test.yaml
  test/conformance/chainsaw/background-only/cluster-policy/not-rejected/01-policy.yaml
  test/conformance/chainsaw/background-only/cluster-policy/not-rejected/02-resource.yaml
  test/conformance/chainsaw/background-only/cluster-policy/not-rejected/chainsaw-test.yaml
  test/conformance/chainsaw/background-only/policy/no-admission-event/01-policy.yaml
  test/conformance/chainsaw/background-only/policy/no-admission-event/02-resource.yaml
  test/conformance/chainsaw/background-only/policy/no-admission-event/03-event.yaml
  test/conformance/chainsaw/background-only/policy/no-admission-event/chainsaw-test.yaml
  test/conformance/chainsaw/background-only/policy/no-admission-report/01-policy.yaml
  test/conformance/chainsaw/background-only/policy/no-admission-report/02-resource.yaml
  test/conformance/chainsaw/background-only/policy/no-admission-report/03-report.yaml
  test/conformance/chainsaw/background-only/policy/no-admission-report/chainsaw-test.yaml
  test/conformance/chainsaw/background-only/policy/not-rejected/01-policy.yaml
  test/conformance/chainsaw/background-only/policy/not-rejected/02-resource.yaml
  test/conformance/chainsaw/background-only/policy/not-rejected/chainsaw-test.yaml
  test/conformance/chainsaw/cleanup/clusterpolicy/cleanup-pod/01-rbac.yaml
  test/conformance/chainsaw/cleanup/clusterpolicy/cleanup-pod/02-pod.yaml
  test/conformance/chainsaw/cleanup/clusterpolicy/cleanup-pod/03-policy.yaml
  test/conformance/chainsaw/cleanup/clusterpolicy/cleanup-pod/04-sleep.yaml
  test/conformance/chainsaw/cleanup/clusterpolicy/cleanup-pod/05-check.yaml
  test/conformance/chainsaw/cleanup/clusterpolicy/cleanup-pod/chainsaw-test.yaml
  test/conformance/chainsaw/cleanup/clusterpolicy/context-cleanup-pod/01-rbac.yaml
  test/conformance/chainsaw/cleanup/clusterpolicy/context-cleanup-pod/02-pod.yaml
  test/conformance/chainsaw/cleanup/clusterpolicy/context-cleanup-pod/03-policy.yaml
  test/conformance/chainsaw/cleanup/clusterpolicy/context-cleanup-pod/04-sleep.yaml
  test/conformance/chainsaw/cleanup/clusterpolicy/context-cleanup-pod/05-check.yaml
  test/conformance/chainsaw/cleanup/clusterpolicy/context-cleanup-pod/chainsaw-test.yaml
  test/conformance/chainsaw/cleanup/policy/cleanup-pod/01-rbac.yaml
  test/conformance/chainsaw/cleanup/policy/cleanup-pod/02-pod.yaml
  test/conformance/chainsaw/cleanup/policy/cleanup-pod/03-policy.yaml
  test/conformance/chainsaw/cleanup/policy/cleanup-pod/04-sleep.yaml
  test/conformance/chainsaw/cleanup/policy/cleanup-pod/05-check.yaml
  test/conformance/chainsaw/cleanup/policy/cleanup-pod/chainsaw-test.yaml
  test/conformance/chainsaw/cleanup/validation/cron-format/01-policy.yaml
  test/conformance/chainsaw/cleanup/validation/cron-format/02-clusterpolicy.yaml
  test/conformance/chainsaw/cleanup/validation/cron-format/03-invalidpolicy.yaml
  test/conformance/chainsaw/cleanup/validation/cron-format/chainsaw-test.yaml
  test/conformance/chainsaw/cleanup/validation/no-user-info-in-match/01-cleanuppolicy.yaml
  test/conformance/chainsaw/cleanup/validation/no-user-info-in-match/chainsaw-test.yaml
  test/conformance/chainsaw/cleanup/validation/not-supported-attributes-in-context/01-cleanup-policy.yaml
  test/conformance/chainsaw/cleanup/validation/not-supported-attributes-in-context/chainsaw-test.yaml
Labels: milestone 1.12.0

#9098 chore: improve ci perf
  .github/workflows/codecov.yaml
  .github/workflows/fossa.yml
  .github/workflows/sonarcloud.yaml
  .github/workflows/tests.yaml
Labels: milestone 1.12.0

#9103 chore: improve cluster startup in conformance tests
  .github/workflows/conformance.yaml
  Makefile
  test/conformance/chainsaw/.chainsaw.yaml
  test/conformance/chainsaw/verifyImages/clusterpolicy/standard/failure-policy-test-noconfigmap-diffimage-success/chainsaw-test.yaml
  test/conformance/chainsaw/verifyImages/clusterpolicy/standard/keyed-basic-namespace-selector/chainsaw-test.yaml
  test/conformance/chainsaw/verifyImages/clusterpolicy/standard/keyed-basic/chainsaw-test.yaml
  test/conformance/chainsaw/verifyImages/clusterpolicy/standard/keyed-secret/chainsaw-test.yaml
  test/conformance/chainsaw/verifyImages/clusterpolicy/standard/noconfigmap-diffimage-success/chainsaw-test.yaml
  test/conformance/chainsaw/verifyImages/clusterpolicy/standard/notary-attestation-verification/chainsaw-test.yaml
  test/conformance/chainsaw/verifyImages/clusterpolicy/standard/notary-image-verification-secret-from-policy/chainsaw-test.yaml
  test/conformance/chainsaw/verifyImages/clusterpolicy/standard/notary-image-verification/chainsaw-test.yaml
  test/conformance/chainsaw/verifyImages/clusterpolicy/standard/rollback-image-verification/chainsaw-test.yaml
Labels: milestone 1.12.0

#9015 feat: webhook labels
  charts/kyverno/README.md
  charts/kyverno/templates/config/configmap.yaml
  charts/kyverno/values.yaml
  pkg/config/config.go
  pkg/config/types.go
  pkg/config/types_test.go
  pkg/controllers/generic/webhook/controller.go
  pkg/controllers/webhook/controller.go
  pkg/controllers/webhook/utils.go
Labels: milestone 1.12.0

#9108 chore: update PR template to require documentation PR
  .github/PULL_REQUEST_TEMPLATE.md
Labels: milestone 1.12.0

#9114 chore: bump chainsaw
  .github/workflows/conformance.yaml
  test/conformance/chainsaw/.chainsaw.yaml
  test/conformance/chainsaw/cleanup/clusterpolicy/context-cleanup-pod/chainsaw-test.yaml
  test/conformance/chainsaw/cleanup/policy/cleanup-pod/chainsaw-test.yaml
  test/conformance/chainsaw/custom-sigstore/standard/basic/chainsaw-test.yaml
  test/conformance/chainsaw/events/clusterpolicy/generate-events-upon-fail-generation/chainsaw-test.yaml
  test/conformance/chainsaw/events/clusterpolicy/generate-events-upon-successful-generation/chainsaw-test.yaml
  test/conformance/chainsaw/generate/policy/standard/data/sync/pol-data-sync-delete-downstream/chainsaw-test.yaml
  test/conformance/chainsaw/mutate/clusterpolicy/standard/existing/onpolicyupdate/namespaceselector/chainsaw-test.yaml
  test/conformance/chainsaw/ttl/invalid-label/chainsaw-test.yaml
  test/conformance/chainsaw/ttl/past-timestamp/chainsaw-test.yaml
  test/conformance/chainsaw/validate/clusterpolicy/standard/cel/cel-preconditions/chainsaw-test.yaml
  test/conformance/chainsaw/validate/clusterpolicy/standard/cel/cel-variables/chainsaw-test.yaml
  test/conformance/chainsaw/validate/clusterpolicy/standard/cel/check-statefulset-namespace/chainsaw-test.yaml
  test/conformance/chainsaw/validate/clusterpolicy/standard/cel/parameter-resources/namespaced/set-paramref-namespace/chainsaw-test.yaml
  test/conformance/chainsaw/validate/clusterpolicy/standard/cel/parameter-resources/namespaced/unset-paramref-namespace/chainsaw-test.yaml
  test/conformance/chainsaw/validate/clusterpolicy/standard/enforce/api-initiated-pod-eviction/chainsaw-test.yaml
  test/conformance/chainsaw/validate/clusterpolicy/standard/enforce/block-pod-exec-requests/chainsaw-test.yaml
  test/conformance/chainsaw/validate/clusterpolicy/standard/enforce/bypass-with-policy-exception/chainsaw-test.yaml
  test/conformance/chainsaw/validate/clusterpolicy/standard/enforce/scaling-with-kubectl-scale/chainsaw-test.yaml
  test/conformance/chainsaw/validating-admission-policy-reports/background/validating-admission-policy-fail/chainsaw-test.yaml
  test/conformance/chainsaw/validating-admission-policy-reports/background/validating-admission-policy-pass/chainsaw-test.yaml
  test/conformance/chainsaw/validating-admission-policy-reports/events/chainsaw-test.yaml
  test/conformance/chainsaw/verifyImages/clusterpolicy/standard/rollback-image-verification/chainsaw-test.yaml
Labels: milestone 1.12.0

#9120 chore: bump chainsaw
  .github/workflows/conformance.yaml
Labels: milestone 1.12.0

#9125 feat: add myself (vishal-chdhry) to maintainers list
  MAINTAINERS.md
Labels: milestone 1.12.0

#9130 chore: add myself to the maintainers list
  MAINTAINERS.md
Labels: milestone 1.12.0

#9057 Update helm docs
  charts/kyverno-policies/Chart.yaml
  charts/kyverno/Chart.yaml
Labels: milestone 1.12.0

#9027 fix: allow changes to preexisting resource in violation of a policy in Enforce
  pkg/engine/api/policycontext.go
  pkg/engine/handlers/validation/validate_resource.go
  pkg/engine/policycontext/policy_context.go
  pkg/engine/utils/utils.go
  test/conformance/chainsaw/validate/clusterpolicy/standard/enforce/enforce-validate-existing/01-badpod.yaml
  test/conformance/chainsaw/validate/clusterpolicy/standard/enforce/enforce-validate-existing/02-policy.yaml
  test/conformance/chainsaw/validate/clusterpolicy/standard/enforce/enforce-validate-existing/03-goodpod.yaml
  test/conformance/chainsaw/validate/clusterpolicy/standard/enforce/enforce-validate-existing/04-bad-pod-update.yaml
  test/conformance/chainsaw/validate/clusterpolicy/standard/enforce/enforce-validate-existing/05-good-pod-update.yaml
  test/conformance/chainsaw/validate/clusterpolicy/standard/enforce/enforce-validate-existing/06-bad-to-good.yaml
  test/conformance/chainsaw/validate/clusterpolicy/standard/enforce/enforce-validate-existing/README.md
  test/conformance/chainsaw/validate/clusterpolicy/standard/enforce/enforce-validate-existing/bad-pod-ready.yaml
  test/conformance/chainsaw/validate/clusterpolicy/standard/enforce/enforce-validate-existing/bad-pod-update-test.sh
  test/conformance/chainsaw/validate/clusterpolicy/standard/enforce/enforce-validate-existing/bad-pod.yaml
  test/conformance/chainsaw/validate/clusterpolicy/standard/enforce/enforce-validate-existing/good-pod-ready.yaml
  test/conformance/chainsaw/validate/clusterpolicy/standard/enforce/enforce-validate-existing/good-pod-update-test.sh
  test/conformance/chainsaw/validate/clusterpolicy/standard/enforce/enforce-validate-existing/good-pod.yaml
  test/conformance/chainsaw/validate/clusterpolicy/standard/enforce/enforce-validate-existing/policy-ready.yaml
  test/conformance/chainsaw/validate/clusterpolicy/standard/enforce/enforce-validate-existing/policy.yaml
  test/conformance/chainsaw/validate/clusterpolicy/standard/enforce/enforce-validate-existing/update-bad-pod-to-comply.sh
Labels: cherry-pick-required, milestone 1.11.2

#9140 chore: bump chainsaw
  .github/workflows/conformance.yaml
Labels: milestone 1.12.0

#9143 chore: use new chainsaw github action
  .github/workflows/conformance.yaml
Labels: milestone 1.12.0

#9148 fix: chainsaw test
  test/conformance/chainsaw/validate/clusterpolicy/standard/enforce/enforce-validate-existing/01-badpod.yaml
  test/conformance/chainsaw/validate/clusterpolicy/standard/enforce/enforce-validate-existing/02-policy.yaml
  test/conformance/chainsaw/validate/clusterpolicy/standard/enforce/enforce-validate-existing/03-goodpod.yaml
  test/conformance/chainsaw/validate/clusterpolicy/standard/enforce/enforce-validate-existing/04-bad-pod-update.yaml
  test/conformance/chainsaw/validate/clusterpolicy/standard/enforce/enforce-validate-existing/05-good-pod-update.yaml
  test/conformance/chainsaw/validate/clusterpolicy/standard/enforce/enforce-validate-existing/06-bad-to-good.yaml
  test/conformance/chainsaw/validate/clusterpolicy/standard/enforce/enforce-validate-existing/chainsaw-test.yaml
Labels: milestone 1.12.0

#9158 chore: add 1.29 to the test grid
  .github/workflows/conformance.yaml
Labels: milestone 1.12.0

#9161 chore: add 1.29 to all test grids and remove 1.25
  .github/workflows/conformance.yaml
Labels: milestone 1.12.0

#9156 fix: add tolerations and affinity to the post-upgrade hook
  charts/kyverno/README.md
  charts/kyverno/templates/hooks/post-upgrade.yaml
  charts/kyverno/values.yaml
Labels: cherry-pick-required, milestone 1.11.2

#9163 fix: set logger level
  pkg/logging/log.go
Labels: cherry-pick-required, milestone 1.11.2

#9119 fix: updaterequests stuck in pending/fail infinite loop
  pkg/webhooks/resource/generation/handler.go
  pkg/webhooks/resource/generation/utils.go
  pkg/webhooks/resource/updaterequest.go
  pkg/webhooks/utils/match.go
  test/conformance/chainsaw/mutate/clusterpolicy/standard/existing/basic-delete/chainsaw-step-01-apply-1-4.yaml
  test/conformance/chainsaw/mutate/clusterpolicy/standard/existing/delete-trigger-namespace/chainsaw-test.yaml
  test/conformance/chainsaw/mutate/clusterpolicy/standard/existing/delete-trigger-namespace/configmap.yaml
  test/conformance/chainsaw/mutate/clusterpolicy/standard/existing/delete-trigger-namespace/namespace.yaml
  test/conformance/chainsaw/mutate/clusterpolicy/standard/existing/delete-trigger-namespace/patched-secret.yaml
  test/conformance/chainsaw/mutate/clusterpolicy/standard/existing/delete-trigger-namespace/policy-ready.yaml
  test/conformance/chainsaw/mutate/clusterpolicy/standard/existing/delete-trigger-namespace/policy.yaml
  test/conformance/chainsaw/mutate/clusterpolicy/standard/existing/delete-trigger-namespace/secret.yaml
Labels: cherry-pick-required, milestone 1.11.2

#9165 chore: move a mutateExisting chainsaw test under its directory
  test/conformance/chainsaw/mutate/clusterpolicy/standard/existing/preconditions/README.md
  test/conformance/chainsaw/mutate/clusterpolicy/standard/existing/preconditions/chainsaw-test.yaml
  test/conformance/chainsaw/mutate/clusterpolicy/standard/existing/preconditions/policy-ready.yaml
  test/conformance/chainsaw/mutate/clusterpolicy/standard/existing/preconditions/policy.yaml
  test/conformance/chainsaw/mutate/clusterpolicy/standard/existing/preconditions/resources-assert.yaml
  test/conformance/chainsaw/mutate/clusterpolicy/standard/existing/preconditions/resources-error.yaml
  test/conformance/chainsaw/mutate/clusterpolicy/standard/existing/preconditions/resources.yaml
Labels: milestone 1.12.0

#9168 improve messages
  pkg/controllers/validatingadmissionpolicy-generate/controller.go
  pkg/validation/policy/actions.go
Labels: cherry-pick-required, milestone 1.11.2

#9179 chore: use sigstore/cosign 2.2.2 on main
  go.mod
  go.sum
  pkg/engine/adapters/rclient.go
Labels: milestone 1.12.0

#9162 fix: limit the trigger name to a maximum of 63 characters for mutate existing rules
  pkg/background/common/labels.go
  test/conformance/chainsaw/mutate/clusterpolicy/cornercases/trigger-name-exceeds-63-characters/README.md
  test/conformance/chainsaw/mutate/clusterpolicy/cornercases/trigger-name-exceeds-63-characters/chainsaw-test.yaml
  test/conformance/chainsaw/mutate/clusterpolicy/cornercases/trigger-name-exceeds-63-characters/configmap-assert.yaml
  test/conformance/chainsaw/mutate/clusterpolicy/cornercases/trigger-name-exceeds-63-characters/configmap.yaml
  test/conformance/chainsaw/mutate/clusterpolicy/cornercases/trigger-name-exceeds-63-characters/patched-configmap.yaml
  test/conformance/chainsaw/mutate/clusterpolicy/cornercases/trigger-name-exceeds-63-characters/policy-assert.yaml
  test/conformance/chainsaw/mutate/clusterpolicy/cornercases/trigger-name-exceeds-63-characters/policy.yaml
  test/conformance/chainsaw/mutate/clusterpolicy/cornercases/trigger-name-exceeds-63-characters/secret-assert.yaml
  test/conformance/chainsaw/mutate/clusterpolicy/cornercases/trigger-name-exceeds-63-characters/secret.yaml
  test/conformance/chainsaw/mutate/clusterpolicy/cornercases/trigger-name-exceeds-63-characters/update-secret.yaml
Labels: cherry-pick-required, milestone 1.11.2

#9187 chore: fix conformance tests
  .github/workflows/conformance.yaml
Labels: milestone 1.12.0

#9189 fix: deprecate spec.schemaValidation
  api/kyverno/v1/clusterpolicy_types.go
  api/kyverno/v1/policy_interface.go
  api/kyverno/v1/policy_types.go
  api/kyverno/v1/spec_types.go
  api/kyverno/v2beta1/spec_types.go
  charts/kyverno/charts/crds/templates/crds.yaml
  cmd/cli/kubectl-kyverno/data/crds/kyverno.io_clusterpolicies.yaml
  cmd/cli/kubectl-kyverno/data/crds/kyverno.io_policies.yaml
  config/crds/kyverno.io_clusterpolicies.yaml
  config/crds/kyverno.io_policies.yaml
  config/install-latest-testing.yaml
  docs/user/crd/index.html
Labels: milestone 1.12.0

#9192 chore: add cli update test
  test/cli/test/update/kyverno-test.yaml
  test/cli/test/update/policy.yaml
  test/cli/test/update/resources.yaml
  test/cli/test/update/values.yaml
Labels: milestone 1.12.0

#9124 support for Add Variable unit test
  pkg/engine/context/context_test.go
Labels: milestone 1.12.0

#9198 chore: bump a couple of deps
  go.mod
  go.sum
  pkg/utils/json/patch_test.go
Labels: milestone 1.12.0

#9157 fix: add `skipBackgroundRequests` to configure loop protection option
  api/kyverno/v1/rule_types.go
  api/kyverno/v1beta1/updaterequest_types.go
  api/kyverno/v2beta1/rule_types.go
  charts/kyverno/charts/crds/templates/crds.yaml
  cmd/cli/kubectl-kyverno/data/crds/kyverno.io_clusterpolicies.yaml
  cmd/cli/kubectl-kyverno/data/crds/kyverno.io_policies.yaml
  config/crds/kyverno.io_clusterpolicies.yaml
  config/crds/kyverno.io_policies.yaml
  config/crds/kyverno.io_updaterequests.yaml
  config/install-latest-testing.yaml
  docs/user/crd/index.html
  pkg/background/common/util.go
  pkg/background/generate/generate.go
  pkg/background/mutate/mutate.go
  pkg/client/applyconfigurations/kyverno/v1/rule.go
  pkg/client/applyconfigurations/kyverno/v1beta1/updaterequeststatus.go
  pkg/client/applyconfigurations/kyverno/v2beta1/rule.go
  pkg/webhooks/policy/handlers.go
  pkg/webhooks/resource/handlers.go
  pkg/webhooks/resource/updaterequest.go
  pkg/webhooks/resource/utils.go
  test/conformance/chainsaw/generate/clusterpolicy/cornercases/cpol-data-sync-create-upon-generated-resource/README.md
  test/conformance/chainsaw/generate/clusterpolicy/cornercases/cpol-data-sync-create-upon-generated-resource/chainsaw-step-01-apply-1-1.yaml
  test/conformance/chainsaw/generate/clusterpolicy/cornercases/cpol-data-sync-create-upon-generated-resource/chainsaw-step-01-assert-1-1.yaml
  test/conformance/chainsaw/generate/clusterpolicy/cornercases/cpol-data-sync-create-upon-generated-resource/chainsaw-step-02-apply-1-1.yaml
  test/conformance/chainsaw/generate/clusterpolicy/cornercases/cpol-data-sync-create-upon-generated-resource/chainsaw-step-02-assert-1-1.yaml
  test/conformance/chainsaw/generate/clusterpolicy/cornercases/cpol-data-sync-create-upon-generated-resource/chainsaw-test.yaml
  test/conformance/chainsaw/generate/clusterpolicy/cornercases/cpol-data-sync-no-creation-upon-generated-resource/README.md
  test/conformance/chainsaw/generate/clusterpolicy/cornercases/cpol-data-sync-no-creation-upon-generated-resource/chainsaw-step-01-apply-1-1.yaml
  test/conformance/chainsaw/generate/clusterpolicy/cornercases/cpol-data-sync-no-creation-upon-generated-resource/chainsaw-step-01-assert-1-1.yaml
  test/conformance/chainsaw/generate/clusterpolicy/cornercases/cpol-data-sync-no-creation-upon-generated-resource/chainsaw-step-02-apply-1-1.yaml
  test/conformance/chainsaw/generate/clusterpolicy/cornercases/cpol-data-sync-no-creation-upon-generated-resource/chainsaw-step-02-assert-1-1.yaml
  test/conformance/chainsaw/generate/clusterpolicy/cornercases/cpol-data-sync-no-creation-upon-generated-resource/chainsaw-step-02-error-1-1.yaml
  test/conformance/chainsaw/generate/clusterpolicy/cornercases/cpol-data-sync-no-creation-upon-generated-resource/chainsaw-test.yaml
  test/conformance/chainsaw/generate/clusterpolicy/cornercases/cpol-data-sync-no-creation-upon-generated-resource/new.yaml
Labels: Documentation, cherry-pick-required, milestone 1.11.2

#8903 Extended the Trivy scan for N-2 Kyverno versions
  .github/workflows/report-on-vulnerabilities.yaml
Labels: milestone 1.12.0

#9200 refactor: make CLI store non static
  cmd/cli/kubectl-kyverno/commands/apply/command.go
  cmd/cli/kubectl-kyverno/commands/test/command.go
  cmd/cli/kubectl-kyverno/commands/test/test.go
  cmd/cli/kubectl-kyverno/processor/generate.go
  cmd/cli/kubectl-kyverno/processor/policy_processor.go
  cmd/cli/kubectl-kyverno/processor/policy_processor_test.go
  cmd/cli/kubectl-kyverno/store/contextloader.go
  cmd/cli/kubectl-kyverno/store/store.go
  cmd/cli/kubectl-kyverno/variables/variables.go
  cmd/cli/kubectl-kyverno/variables/variables_test.go
Labels: milestone 1.12.0

#9213 chore: add missing context unit test
  pkg/engine/context/context_test.go
Labels: milestone 1.12.0

#9211 chore: remove v2alpha1 version of policy exceptions
  api/kyverno/v2alpha1/policy_exception_types.go
  charts/kyverno/charts/crds/templates/crds.yaml
  cmd/cli/kubectl-kyverno/data/crds/kyverno.io_policyexceptions.yaml
  cmd/cli/kubectl-kyverno/exception/load.go
  config/crds/kyverno.io_policyexceptions.yaml
  config/install-latest-testing.yaml
Labels: Documentation, milestone 1.12.0

#9210 fix: add chainsaw test for mutate existing
  .vscode/launch.json
  test/conformance/chainsaw/mutate/clusterpolicy/standard/existing/multiple-trigger-resources/README.md
  test/conformance/chainsaw/mutate/clusterpolicy/standard/existing/multiple-trigger-resources/chainsaw-test.yaml
  test/conformance/chainsaw/mutate/clusterpolicy/standard/existing/multiple-trigger-resources/configmap.yaml
  test/conformance/chainsaw/mutate/clusterpolicy/standard/existing/multiple-trigger-resources/namespace.yaml
  test/conformance/chainsaw/mutate/clusterpolicy/standard/existing/multiple-trigger-resources/patched-pod.yaml
  test/conformance/chainsaw/mutate/clusterpolicy/standard/existing/multiple-trigger-resources/pod.yaml
  test/conformance/chainsaw/mutate/clusterpolicy/standard/existing/multiple-trigger-resources/policy-ready.yaml
  test/conformance/chainsaw/mutate/clusterpolicy/standard/existing/multiple-trigger-resources/policy.yaml
Labels: cherry-pick-required, milestone 1.11.2

#9151 fix(kubectl-kyverno): apply registry auth
  cmd/cli/kubectl-kyverno/commands/apply/command.go
  cmd/cli/kubectl-kyverno/commands/test/test.go
  cmd/cli/kubectl-kyverno/processor/policy_processor.go
  cmd/cli/kubectl-kyverno/processor/policy_processor_test.go
Labels: cherry-pick-required, milestone 1.11.2

#9226 chore: fix high vulnerabilities in release 1.10
  .github/workflows/lint.yaml
  cmd/cleanup-controller/handlers/cleanup/handlers.go
  go.mod
  go.sum
  pkg/controllers/metrics/policy/controller.go
  pkg/engine/context/loaders/imagedata.go
  pkg/engine/engine.go
  pkg/engine/metrics.go
  pkg/metrics/fake.go
  pkg/metrics/init.go
  pkg/metrics/metrics.go
  pkg/tracing/config.go
  pkg/tracing/helpers.go
  pkg/utils/controller/run.go
  pkg/webhooks/handlers/metrics.go
  pkg/webhooks/handlers/trace.go
Labels: security, milestone 1.10.7

#9220 feat: enable kubectl-validate by default in cli
  .github/workflows/cli.yaml
  cmd/cli/kubectl-kyverno/experimental/experimental.go
Labels: milestone 1.12.0

#9222 feat: add deprecation warnings in the CLI
  cmd/cli/kubectl-kyverno/commands/apply/command.go
  cmd/cli/kubectl-kyverno/commands/test/command.go
  cmd/cli/kubectl-kyverno/commands/test/test.go
  cmd/cli/kubectl-kyverno/deprecations/check.go
  cmd/cli/kubectl-kyverno/variables/new.go
  cmd/cli/kubectl-kyverno/variables/new_test.go
Labels: cherry-pick-required, milestone 1.11.2

#9230 fix: mutate existing force reconciliation
  pkg/policy/mutate.go
  pkg/policy/policy_controller.go
  test/conformance/chainsaw/mutate/clusterpolicy/standard/existing/background-false/chainsaw-step-01-apply-1-1.yaml
  test/conformance/chainsaw/mutate/clusterpolicy/standard/existing/background-false/chainsaw-step-01-apply-1-2.yaml
  test/conformance/chainsaw/mutate/clusterpolicy/standard/existing/background-false/chainsaw-step-03-assert-1-1.yaml
  test/conformance/chainsaw/mutate/clusterpolicy/standard/existing/background-false/chainsaw-test.yaml
Labels: Documentation, cherry-pick-required, milestone 1.11.2

#9102 Support more signature algorithms
  api/kyverno/v1/image_verification_test.go
  api/kyverno/v1/image_verification_types.go
  charts/kyverno/charts/crds/templates/crds.yaml
  cmd/cli/kubectl-kyverno/data/crds/kyverno.io_clusterpolicies.yaml
  cmd/cli/kubectl-kyverno/data/crds/kyverno.io_policies.yaml
  config/crds/kyverno.io_clusterpolicies.yaml
  config/crds/kyverno.io_policies.yaml
  config/install-latest-testing.yaml
  docs/user/crd/index.html
  pkg/cosign/cosign.go
  pkg/cosign/cosign_test.go
Labels: cherry-pick-required, milestone 1.11.2

#9239 fix launch.json
  .vscode/launch.json
Labels: cherry-pick-required, milestone 1.11.2

#9240 fix: remove unused file in a test
  test/conformance/chainsaw/generate/clusterpolicy/cornercases/cpol-data-sync-no-creation-upon-generated-resource/new.yaml
Labels: milestone 1.12.0

#9232 Fixed error log
  pkg/background/mutate/mutate.go
Labels: milestone 1.12.0

#9254 fix: set v2beta1 of exceptions the storage version
  api/kyverno/v2/policy_exception_types.go
  api/kyverno/v2beta1/policy_exception_types.go
  charts/kyverno/charts/crds/templates/crds.yaml
  cmd/cli/kubectl-kyverno/commands/create/exception/command_test.go
  cmd/cli/kubectl-kyverno/commands/create/templates/exception.yaml
  cmd/cli/kubectl-kyverno/data/crds/kyverno.io_policyexceptions.yaml
  cmd/cli/kubectl-kyverno/exception/load.go
  cmd/internal/engine.go
  config/crds/kyverno.io_policyexceptions.yaml
  config/install-latest-testing.yaml
  pkg/engine/api/ruleresponse.go
  pkg/engine/api/selector.go
  pkg/engine/exceptions.go
  pkg/engine/handlers/handler.go
  pkg/engine/handlers/mutation/mutate_existing.go
  pkg/engine/handlers/mutation/mutate_image.go
  pkg/engine/handlers/mutation/mutate_resource.go
  pkg/engine/handlers/validation/validate_cel.go
  pkg/engine/handlers/validation/validate_image.go
  pkg/engine/handlers/validation/validate_manifest.go
  pkg/engine/handlers/validation/validate_pss.go
  pkg/engine/handlers/validation/validate_resource.go
  pkg/engine/utils/exceptions.go
  pkg/utils/admission/exception.go
  pkg/validation/exception/validate.go
  pkg/validation/exception/validate_test.go
  pkg/webhooks/resource/fake.go
  test/conformance/chainsaw/exceptions/allows-rejects-creation/exception.yaml
  test/conformance/chainsaw/exceptions/applies-to-delete/exception.yaml
  test/conformance/chainsaw/exceptions/background-mode/standard/exception-allowed.yaml
  test/conformance/chainsaw/exceptions/background-mode/standard/exception-rejected.yaml
  test/conformance/chainsaw/exceptions/conditions/exception.yaml
  test/conformance/chainsaw/exceptions/events-creation/chainsaw-step-02-apply-2.yaml
  test/conformance/chainsaw/exceptions/only-for-specific-user/exception.yaml
  test/conformance/chainsaw/exceptions/with-wildcard/exception.yaml
  test/conformance/chainsaw/policy-validation/cluster-policy/policy-exceptions-disabled/policy_exception.yaml
  test/conformance/chainsaw/reports/admission/exception/exception.yaml
  test/conformance/chainsaw/reports/background/exception/exception.yaml
  test/conformance/chainsaw/validate/clusterpolicy/standard/enforce/bypass-with-policy-exception/chainsaw-step-01-apply-1-4.yaml
  test/conformance/chainsaw/validate/clusterpolicy/standard/enforce/bypass-with-policy-exception/chainsaw-step-01-assert-1-3.yaml
Labels: Documentation, milestone 1.12.0

#9236 refactor: events controller
  cmd/background-controller/main.go
  cmd/cleanup-controller/main.go
  cmd/kyverno/main.go
  cmd/reports-controller/main.go
  pkg/clients/dclient/client_test.go
  pkg/event/controller.go
  pkg/event/events.go
  pkg/event/info.go
  pkg/event/recorder.go
  pkg/utils/kube/unstructured.go
Labels: Documentation, milestone 1.12.0

#9257 chore: bump k8s to 1.29 stable (release 1.11)
  go.mod
  go.sum
Labels: milestone 1.11.2

#9147 bug: making `images` consistent with `image`
  pkg/engine/context/context.go
  pkg/utils/api/image_test.go
  pkg/utils/image/infos.go
  pkg/utils/image/infos_test.go
Labels: Documentation, cherry-pick-required

#9260 chore: bump a couple of deps
  go.mod
  go.sum
Labels: milestone 1.12.0

#9255 refactor: mutate checks
  api/kyverno/v1/policy_types.go
  api/kyverno/v1/rule_types.go
  api/kyverno/v1/spec_types.go
  api/kyverno/v2beta1/rule_types.go
  api/kyverno/v2beta1/spec_types.go
  cmd/cli/kubectl-kyverno/processor/policy_processor.go
  cmd/cli/kubectl-kyverno/processor/utils.go
  pkg/background/mutate/mutate.go
  pkg/controllers/webhook/controller.go
  pkg/engine/background.go
  pkg/engine/mutate/mutation.go
  pkg/engine/mutation.go
  pkg/policy/mutate.go
  pkg/policy/policy_controller.go
  pkg/validation/policy/background.go
  pkg/webhooks/resource/mutation/mutation.go
  pkg/webhooks/resource/updaterequest.go
Labels: milestone 1.12.0

#9265 fix: use http.MaxBytesReader instead of content length for API Calls
  pkg/engine/apicall/apiCall.go
  pkg/engine/apicall/apiCall_test.go
Labels: cherry-pick-required, milestone 1.11.2

#9261 feat: add cleanup policies v2
  api/kyverno/v2/cleanup_policy_test.go
  api/kyverno/v2/cleanup_policy_types.go
  api/kyverno/v2/condition.go
  api/kyverno/v2/match_resources_test.go
  api/kyverno/v2/match_resources_types.go
  api/kyverno/v2/zz_generated.deepcopy.go
  api/kyverno/v2/zz_generated.register.go
  charts/kyverno/charts/crds/templates/crds.yaml
  config/crds/kyverno.io_cleanuppolicies.yaml
  config/crds/kyverno.io_clustercleanuppolicies.yaml
  config/install-latest-testing.yaml
  docs/user/crd/index.html
  pkg/client/applyconfigurations/kyverno/v2/anyallconditions.go
  pkg/client/applyconfigurations/kyverno/v2/cleanuppolicy.go
  pkg/client/applyconfigurations/kyverno/v2/cleanuppolicyspec.go
  pkg/client/applyconfigurations/kyverno/v2/cleanuppolicystatus.go
  pkg/client/applyconfigurations/kyverno/v2/clustercleanuppolicy.go
  pkg/client/applyconfigurations/kyverno/v2/condition.go
  pkg/client/applyconfigurations/kyverno/v2/matchresources.go
  pkg/client/applyconfigurations/utils.go
  pkg/client/clientset/versioned/typed/kyverno/v2/cleanuppolicy.go
  pkg/client/clientset/versioned/typed/kyverno/v2/clustercleanuppolicy.go
  pkg/client/clientset/versioned/typed/kyverno/v2/fake/fake_cleanuppolicy.go
  pkg/client/clientset/versioned/typed/kyverno/v2/fake/fake_clustercleanuppolicy.go
  pkg/client/clientset/versioned/typed/kyverno/v2/fake/fake_kyverno_client.go
  pkg/client/clientset/versioned/typed/kyverno/v2/generated_expansion.go
  pkg/client/clientset/versioned/typed/kyverno/v2/kyverno_client.go
  pkg/client/informers/externalversions/generic.go
  pkg/client/informers/externalversions/kyverno/v2/cleanuppolicy.go
  pkg/client/informers/externalversions/kyverno/v2/clustercleanuppolicy.go
  pkg/client/informers/externalversions/kyverno/v2/interface.go
  pkg/client/listers/kyverno/v2/cleanuppolicy.go
  pkg/client/listers/kyverno/v2/clustercleanuppolicy.go
  pkg/client/listers/kyverno/v2/expansion_generated.go
  pkg/clients/kyverno/kyvernov2/cleanuppolicies/resource.generated.go
  pkg/clients/kyverno/kyvernov2/client.generated.go
  pkg/clients/kyverno/kyvernov2/clustercleanuppolicies/resource.generated.go
  test/conformance/chainsaw/generate/validation/clusterpolicy/target-namespace-scope/policy-pass-3.yaml
Labels: milestone 1.12.0

#9269 Support setting global extraEnvVars
  charts/kyverno/README.md
  charts/kyverno/templates/admission-controller/deployment.yaml
  charts/kyverno/templates/background-controller/deployment.yaml
  charts/kyverno/templates/cleanup-controller/deployment.yaml
  charts/kyverno/templates/reports-controller/deployment.yaml
  charts/kyverno/values.yaml
Labels: milestone 1.12.0

#9264 Add imagePullSecrets to post-upgrade job
  charts/kyverno/README.md
  charts/kyverno/templates/hooks/post-upgrade.yaml
  charts/kyverno/values.yaml
Labels: cherry-pick-required, milestone 1.11.2

#9270 feat: stop serving v2alpha1 cleanup policies
  api/kyverno/v2alpha1/cleanup_policy_types.go
  charts/kyverno/charts/crds/templates/crds.yaml
  config/crds/kyverno.io_cleanuppolicies.yaml
  config/crds/kyverno.io_clustercleanuppolicies.yaml
  config/install-latest-testing.yaml
Labels: milestone 1.12.0

#9259 chore: disable policy library kuttl tests in 1.11
  .github/workflows/conformance.yaml
Labels: milestone 1.11.2

#9279 fix: remove policy informer from vap controller
  cmd/kyverno/main.go
  pkg/controllers/validatingadmissionpolicy-generate/controller.go
Labels: milestone 1.12.0

#9282 fix: remove skip increment when resource not found in cli apply
  cmd/cli/kubectl-kyverno/processor/policy_processor_test.go
  cmd/cli/kubectl-kyverno/processor/result.go
Labels: cherry-pick-required, milestone 1.11.2

#9281 fix: large table row ID number format in CLI
  cmd/cli/kubectl-kyverno/output/table/row_compact.go
Labels: cherry-pick-required, milestone 1.11.2

#9274 fix(cli): handle excluded resources as pass
  cmd/cli/kubectl-kyverno/commands/test/output.go
  cmd/cli/kubectl-kyverno/output/color/color.go
  test/cli/test/exclude/kyverno-test.yaml
  test/cli/test/exclude/policy.yaml
  test/cli/test/exclude/resources.yaml
Labels: bug, cherry-pick-required, cli:test, milestone 1.11.2

#9295 fix(anchors): spread selectors
  test/conformance/chainsaw/validate/anchors/conditional/chainsaw-test.yaml
  test/conformance/chainsaw/validate/anchors/conditional/labelled-resource.yaml
  test/conformance/chainsaw/validate/anchors/conditional/namespace.yaml
  test/conformance/chainsaw/validate/anchors/conditional/policy-ready.yaml
  test/conformance/chainsaw/validate/anchors/conditional/policy.yaml
  test/conformance/chainsaw/validate/anchors/conditional/unlabelled-resource.yaml
Labels: cherry-pick-required, milestone 1.11.2

#9218 chore: add k8s 1.29 in custom-sigstore test
  .github/workflows/conformance.yaml
Labels: milestone 1.12.0
