Repository kyverno/kyverno, pull requests merged in 2023-02, with the labels that each got.

#6184 chore: the linter `structcheck` `varcheck` and `deadcode` are deprecated (since v1.49.0)
  .golangci.yml
Labels: milestone 1.10.0

#6180 feat: support arrays in jp items() function
  pkg/engine/jmespath/functions.go
  pkg/engine/jmespath/functions_test.go
Labels: milestone 1.10.0

#6165 chore: remove dependency on github.com/pkg/errors
  api/kyverno/v1/image_verification_types.go
  cmd/cleanup-controller/handlers/cleanup/condition.go
  go.mod
  pkg/background/common/context.go
  pkg/background/update_request_controller.go
  pkg/cosign/cosign.go
  pkg/engine/apicall/apiCall.go
  pkg/engine/context/context.go
  pkg/engine/context/evaluate.go
  pkg/engine/forceMutate.go
  pkg/engine/imageVerify.go
  pkg/engine/imageVerifyMetadata.go
  pkg/engine/imageVerifyValidate.go
  pkg/engine/jsonContext.go
  pkg/engine/k8smanifest.go
  pkg/engine/mutate/patch/strategicPreprocessing.go
  pkg/engine/policyContext.go
  pkg/engine/utils.go
  pkg/engine/validation.go
  pkg/leaderelection/leaderelection.go
  pkg/openapi/manager.go
  pkg/policy/mutate/validate.go
  pkg/policy/policy_controller.go
  pkg/policy/validate.go
  pkg/tls/reader.go
  pkg/utils/image/infos.go
  pkg/utils/kube/secret.go
  pkg/utils/retry/retry.go
  pkg/webhooks/resource/mutation/mutation.go
  pkg/webhooks/utils/policy_context_builder.go
Labels: milestone 1.10.0

#6187 fix: remove `exceptionNamespace` from init-container
  charts/kyverno/README.md
  charts/kyverno/values.yaml
  config/install.yaml
Labels: milestone 1.10.0

#6188 fix: namespaceSelector for background policies
  Makefile
  pkg/background/mutate/mutate.go
  pkg/background/update_request_controller.go
  pkg/policy/policy_controller.go
  pkg/webhooks/resource/handlers.go
  pkg/webhooks/resource/validation/validation.go
  scripts/config/standard/kyverno.yaml
  test/conformance/kuttl/mutate/clusterpolicy/standard/existing/basic-delete/01-manifests.yaml
  test/conformance/kuttl/mutate/clusterpolicy/standard/existing/basic-delete/02-delete-cm.yaml
  test/conformance/kuttl/mutate/clusterpolicy/standard/existing/basic-delete/03-assert.yaml
  test/conformance/kuttl/mutate/clusterpolicy/standard/existing/basic-delete/README.md
  test/conformance/kuttl/mutate/clusterpolicy/standard/existing/basic-delete/cleanup.yaml
  test/conformance/kuttl/mutate/clusterpolicy/standard/existing/namespaceselector/01-policy.yaml
  test/conformance/kuttl/mutate/clusterpolicy/standard/existing/namespaceselector/02-pod.yaml
  test/conformance/kuttl/mutate/clusterpolicy/standard/existing/namespaceselector/03-configmap.yaml
  test/conformance/kuttl/mutate/clusterpolicy/standard/existing/namespaceselector/04-assert.yaml
  test/conformance/kuttl/mutate/clusterpolicy/standard/existing/namespaceselector/README.md
  test/conformance/kuttl/mutate/clusterpolicy/standard/existing/namespaceselector/configmap.yaml
  test/conformance/kuttl/mutate/clusterpolicy/standard/existing/namespaceselector/pod.yaml
  test/conformance/kuttl/mutate/clusterpolicy/standard/existing/namespaceselector/policy-assert.yaml
  test/conformance/kuttl/mutate/clusterpolicy/standard/existing/namespaceselector/policy.yaml
  test/conformance/kuttl/mutate/clusterpolicy/standard/existing/onpolicyupdate/basic-create-policy/01-manifests.yaml
  test/conformance/kuttl/mutate/clusterpolicy/standard/existing/onpolicyupdate/basic-create-policy/02-assert.yaml
  test/conformance/kuttl/mutate/clusterpolicy/standard/existing/onpolicyupdate/basic-create-policy/02-create-clusterpolicy.yaml
  test/conformance/kuttl/mutate/clusterpolicy/standard/existing/onpolicyupdate/basic-create-policy/03-assert.yaml
  test/conformance/kuttl/mutate/clusterpolicy/standard/existing/onpolicyupdate/basic-create-policy/README.md
  test/conformance/kuttl/mutate/clusterpolicy/standard/existing/onpolicyupdate/basic-create-policy/cleanup.yaml
  test/conformance/kuttl/mutate/clusterpolicy/standard/existing/onpolicyupdate/namespaceselector/01-assert.yaml
  test/conformance/kuttl/mutate/clusterpolicy/standard/existing/onpolicyupdate/namespaceselector/01-manifests.yaml
  test/conformance/kuttl/mutate/clusterpolicy/standard/existing/onpolicyupdate/namespaceselector/02-policy.yaml
  test/conformance/kuttl/mutate/clusterpolicy/standard/existing/onpolicyupdate/namespaceselector/03-assert.yaml
  test/conformance/kuttl/mutate/clusterpolicy/standard/existing/onpolicyupdate/namespaceselector/README.md
  test/conformance/kuttl/mutate/clusterpolicy/standard/existing/onpolicyupdate/namespaceselector/policy-assert.yaml
  test/conformance/kuttl/mutate/clusterpolicy/standard/existing/onpolicyupdate/namespaceselector/policy.yaml
Labels: milestone 1.10.0

#6181 refactor: introduce engine interface in engine api
  cmd/background-controller/main.go
  cmd/cli/kubectl-kyverno/utils/common/common.go
  cmd/kyverno/main.go
  cmd/reports-controller/main.go
  pkg/background/generate/generate.go
  pkg/background/mutate/mutate.go
  pkg/background/update_request_controller.go
  pkg/controllers/report/background/controller.go
  pkg/controllers/report/utils/scanner.go
  pkg/engine/api/contextloader.go
  pkg/engine/api/engine.go
  pkg/engine/api/imageverifymetadata.go
  pkg/engine/background.go
  pkg/engine/engine.go
  pkg/engine/generation.go
  pkg/engine/imageVerify.go
  pkg/engine/imageVerifyValidate.go
  pkg/engine/imageVerify_test.go
  pkg/engine/jsonContext.go
  pkg/engine/mutation.go
  pkg/engine/mutation_test.go
  pkg/engine/validation.go
  pkg/engine/validation_test.go
  pkg/policy/policy_controller.go
  pkg/testrunner/scenario.go
  pkg/webhooks/resource/fake.go
  pkg/webhooks/resource/generation/generation.go
  pkg/webhooks/resource/handlers.go
  pkg/webhooks/resource/imageverification/handler.go
  pkg/webhooks/resource/mutation/mutation.go
  pkg/webhooks/resource/validation/validation.go
  pkg/webhooks/resource/validation_test.go
Labels: milestone 1.10.0

#6196 fix: jp items function
  pkg/engine/jmespath/functions.go
Labels: milestone 1.10.0

#6197 fix: admission review variables for DELETE operations
  pkg/background/common/resource.go
  pkg/webhooks/resource/utils.go
  test/conformance/kuttl/mutate/clusterpolicy/standard/existing/basic-delete/01-assert.yaml
  test/conformance/kuttl/mutate/clusterpolicy/standard/existing/basic-delete/01-manifests.yaml
  test/conformance/kuttl/mutate/clusterpolicy/standard/existing/basic-delete/02-delete-cm.yaml
  test/conformance/kuttl/mutate/clusterpolicy/standard/existing/basic-delete/03-assert.yaml
  test/conformance/kuttl/mutate/clusterpolicy/standard/existing/basic-delete/README.md
  test/conformance/kuttl/mutate/clusterpolicy/standard/existing/basic-delete/cleanup.yaml
Labels: cherry-pick-required, milestone 1.10.0, milestone 1.9.1

#6195 fix: image tagging strategy
  Makefile
Labels: cherry-pick-required, milestone 1.9.0

#6204 fix: exclude user names in configmap not working
  pkg/webhooks/handlers/filter.go
Labels: milestone 1.10.0

#6194 chore: publish images for the reports and the background controller
  .github/workflows/images-publish.yaml
  Makefile
Labels: milestone 1.10.0

#6199 refactor: more engine interface
  cmd/background-controller/main.go
  cmd/cli/kubectl-kyverno/utils/common/common.go
  cmd/kyverno/main.go
  cmd/reports-controller/main.go
  pkg/background/common/context.go
  pkg/background/generate/generate.go
  pkg/background/mutate/mutate.go
  pkg/background/update_request_controller.go
  pkg/controllers/report/background/controller.go
  pkg/controllers/report/utils/scanner.go
  pkg/engine/api/engine.go
  pkg/engine/api/policycontext.go
  pkg/engine/background.go
  pkg/engine/context/resolvers/resolvers.go
  pkg/engine/engine.go
  pkg/engine/generation.go
  pkg/engine/imageVerify_test.go
  pkg/engine/jsonContext.go
  pkg/engine/mutation_test.go
  pkg/engine/policyContext.go
  pkg/engine/validation_test.go
  pkg/policy/policy_controller.go
  pkg/testrunner/scenario.go
  pkg/webhooks/resource/fake.go
  pkg/webhooks/resource/generation/generation.go
  pkg/webhooks/resource/handlers.go
  pkg/webhooks/resource/imageverification/handler.go
  pkg/webhooks/resource/mutation/mutation.go
  pkg/webhooks/resource/updaterequest.go
  pkg/webhooks/resource/validation/validation.go
  pkg/webhooks/resource/validation_test.go
  pkg/webhooks/utils/policy_context_builder.go
Labels: milestone 1.10.0

#6200 fix: image tagging strategy
  Makefile
Labels: milestone 1.9.0

#6202 test: add a couple unit tests
  pkg/engine/jmespath/functions.go
  pkg/engine/jmespath/functions_test.go
  pkg/engine/jmespath/new.go
  pkg/engine/jmespath/new_test.go
Labels: milestone 1.10.0

#6205 fix: add engine api unit tests
  pkg/engine/api/imageverifymetadata.go
  pkg/engine/api/imageverifymetadata_test.go
Labels: milestone 1.10.0

#6218 fix: ko publish image targets
  Makefile
Labels: milestone 1.10.0

#6216 fix: namespaceSelector for audit rules
  pkg/webhooks/resource/validation/validation.go
  test/conformance/kuttl/reports/admission/namespaceselector/01-policy.yaml
  test/conformance/kuttl/reports/admission/namespaceselector/02-pod.yaml
  test/conformance/kuttl/reports/admission/namespaceselector/03-report.yaml
  test/conformance/kuttl/reports/admission/namespaceselector/README.md
  test/conformance/kuttl/reports/admission/namespaceselector/pods.yaml
  test/conformance/kuttl/reports/admission/namespaceselector/policy-assert.yaml
  test/conformance/kuttl/reports/admission/namespaceselector/policy.yaml
  test/conformance/kuttl/reports/admission/namespaceselector/report-expected.yaml
  test/conformance/kuttl/reports/admission/namespaceselector/report-unexpected.yaml
Labels: cherry-pick-required, milestone 1.10.0, milestone 1.9.1

#6211 [kyverno helm chart] make sigstore volume configurable
  charts/kyverno/Chart.yaml
  charts/kyverno/README.md
  charts/kyverno/templates/admission-controller/deployment.yaml
  charts/kyverno/values.yaml
Labels: milestone 1.10.0

#6217 chore: remove install manifest
  Makefile
  config/install.yaml
  config/install_debug.yaml
Labels: milestone 1.10.0

#6212 refactor: add more functionnalities to engine interface
  cmd/background-controller/main.go
  cmd/cli/kubectl-kyverno/utils/common/common.go
  cmd/kyverno/main.go
  cmd/reports-controller/main.go
  pkg/background/common/context.go
  pkg/controllers/report/background/controller.go
  pkg/controllers/report/utils/scanner.go
  pkg/engine/api/engine.go
  pkg/engine/api/policycontext.go
  pkg/engine/background.go
  pkg/engine/engine.go
  pkg/engine/exceptions.go
  pkg/engine/generation.go
  pkg/engine/imageVerify.go
  pkg/engine/imageVerify_test.go
  pkg/engine/mutation.go
  pkg/engine/mutation_test.go
  pkg/engine/policyContext.go
  pkg/engine/validation.go
  pkg/engine/validation_test.go
  pkg/testrunner/scenario.go
  pkg/webhooks/resource/fake.go
  pkg/webhooks/resource/handlers.go
  pkg/webhooks/resource/validation_test.go
  pkg/webhooks/utils/policy_context_builder.go
  scripts/config/standard/kyverno.yaml
  test/conformance/kuttl/reports/background/exception/exception.yaml
Labels: milestone 1.10.0

#6219 chore: add a few unit tests for jp functions
  cmd/cli/kubectl-kyverno/jp/function/function.go
  pkg/engine/jmespath/functionentry.go
  pkg/engine/jmespath/functionentry_test.go
  pkg/engine/jmespath/functions.go
  pkg/engine/jmespath/functions_test.go
  pkg/engine/jmespath/new.go
  pkg/engine/jmespath/utils.go
Labels: milestone 1.10.0

#5700 add kuttl validate use case test for allnotin
  test/conformance/kuttl/validate/clusterpolicy/standard/enforce/operator-allnotin-01/01-assert.yaml
  test/conformance/kuttl/validate/clusterpolicy/standard/enforce/operator-allnotin-01/01-manifests.yaml
  test/conformance/kuttl/validate/clusterpolicy/standard/enforce/operator-allnotin-01/02-script.yaml
  test/conformance/kuttl/validate/clusterpolicy/standard/enforce/operator-allnotin-01/03-deployment.yaml
  test/conformance/kuttl/validate/clusterpolicy/standard/enforce/operator-allnotin-01/04-delete.yaml
  test/conformance/kuttl/validate/clusterpolicy/standard/enforce/operator-allnotin-01/README.md
  test/conformance/kuttl/validate/clusterpolicy/standard/enforce/operator-allnotin-01/resource.yaml
Labels: milestone 1.10.0

#6229 fix: jp divide quantities
  pkg/engine/jmespath/arithmetic.go
  pkg/engine/jmespath/functions_test.go
Labels: cherry-pick-required, milestone 1.9.1

#6230 fix: add more jp unit tests and check for out of bounds argument
  go.mod
  go.sum
  pkg/engine/jmespath/functions.go
  pkg/engine/jmespath/new.go
  pkg/engine/jmespath/time_test.go
  pkg/engine/jmespath/utils.go
Labels: milestone 1.10.0

#6235 refactor: make funcs part of engine struct to reduce parameter passing
  pkg/engine/background.go
  pkg/engine/engine.go
  pkg/engine/generation.go
  pkg/engine/imageVerify.go
  pkg/engine/imageVerifyValidate.go
  pkg/engine/imageVerify_test.go
  pkg/engine/mutation.go
  pkg/engine/mutation_test.go
  pkg/engine/validation.go
  pkg/engine/validation_test.go
Labels: milestone 1.10.0

#6239 fix: error management in jp functions
  pkg/engine/jmespath/arithmetic.go
  pkg/engine/jmespath/error.go
  pkg/engine/jmespath/functions.go
  pkg/engine/jmespath/utils.go
Labels: milestone 1.10.0

#6240 fix: add tests for jp arithmetic funcs
  pkg/engine/jmespath/arithmetic.go
  pkg/engine/jmespath/arithmetic_test.go
  pkg/engine/jmespath/error.go
  pkg/engine/jmespath/functions_test.go
Labels: milestone 1.10.0

#6241 refactor: introduce internal engine package
  pkg/engine/background.go
  pkg/engine/imageVerify.go
  pkg/engine/imageVerifyValidate.go
  pkg/engine/internal/context.go
  pkg/engine/internal/logging.go
  pkg/engine/internal/response.go
  pkg/engine/jsonContext.go
  pkg/engine/k8smanifest.go
  pkg/engine/k8smanifest_test.go
  pkg/engine/mutation.go
  pkg/engine/utils.go
  pkg/engine/validation.go
Labels: milestone 1.10.0

#6237 feat: enable leader election for the background controller
  api/kyverno/v1beta1/updaterequest_types.go
  charts/kyverno/templates/crds/crds.yaml
  cmd/background-controller/main.go
  config/crds/kyverno.io_updaterequests.yaml
  docs/user/crd/index.html
  pkg/background/update_request_controller.go
  test/conformance/kuttl/generate/clusterpolicy/standard/clone/nosync/cpol-clone-nosync-delete-downstream/03-sleep.yaml
  test/conformance/kuttl/generate/clusterpolicy/standard/clone/nosync/cpol-clone-nosync-delete-downstream/04-delete-secret.yaml
  test/conformance/kuttl/generate/clusterpolicy/standard/clone/nosync/cpol-clone-nosync-delete-downstream/05-sleep.yaml
  test/conformance/kuttl/generate/clusterpolicy/standard/clone/nosync/cpol-clone-nosync-delete-downstream/06-errors.yaml
  test/conformance/kuttl/generate/clusterpolicy/standard/clone/sync/cpol-clone-sync-delete-downstream/03-sleep.yaml
  test/conformance/kuttl/generate/clusterpolicy/standard/clone/sync/cpol-clone-sync-delete-downstream/04-delete-secret.yaml
  test/conformance/kuttl/generate/clusterpolicy/standard/clone/sync/cpol-clone-sync-delete-downstream/05-sleep.yaml
  test/conformance/kuttl/generate/clusterpolicy/standard/clone/sync/cpol-clone-sync-delete-downstream/06-assert.yaml
  test/conformance/kuttl/generate/clusterpolicy/standard/clone/sync/cpol-clone-sync-delete-policy/03-sleep.yaml
  test/conformance/kuttl/generate/clusterpolicy/standard/clone/sync/cpol-clone-sync-delete-policy/04-delete.yaml
  test/conformance/kuttl/generate/clusterpolicy/standard/clone/sync/cpol-clone-sync-delete-policy/05-sleep.yaml
  test/conformance/kuttl/generate/clusterpolicy/standard/clone/sync/cpol-clone-sync-delete-policy/06-assert.yaml
  test/conformance/kuttl/generate/clusterpolicy/standard/data/nosync/cpol-data-nosync-delete-downstream/03-sleep.yaml
  test/conformance/kuttl/generate/clusterpolicy/standard/data/nosync/cpol-data-nosync-delete-downstream/04-downstream-delete.yaml
  test/conformance/kuttl/generate/clusterpolicy/standard/data/nosync/cpol-data-nosync-delete-downstream/05-errors.yaml
  test/conformance/kuttl/generate/policy/standard/clone/nosync/pol-clone-nosync-delete-downstream/03-sleep.yaml
  test/conformance/kuttl/generate/policy/standard/clone/nosync/pol-clone-nosync-delete-downstream/04-delete-downstream.yaml
  test/conformance/kuttl/generate/policy/standard/clone/nosync/pol-clone-nosync-delete-downstream/05-sleep.yaml
  test/conformance/kuttl/generate/policy/standard/clone/nosync/pol-clone-nosync-delete-downstream/06-errors.yaml
Labels: cherry-pick-required, milestone 1.10.0, milestone 1.9.1

#6233 refactor: move client out of policy context
  cmd/background-controller/main.go
  cmd/cli/kubectl-kyverno/utils/common/common.go
  cmd/kyverno/main.go
  cmd/reports-controller/main.go
  pkg/background/common/context.go
  pkg/controllers/report/utils/scanner.go
  pkg/engine/api/contextloader.go
  pkg/engine/api/engine.go
  pkg/engine/api/policycontext.go
  pkg/engine/api/selector.go
  pkg/engine/background.go
  pkg/engine/common.go
  pkg/engine/common_test.go
  pkg/engine/engine.go
  pkg/engine/imageVerify.go
  pkg/engine/imageVerify_test.go
  pkg/engine/jsonContext.go
  pkg/engine/k8smanifest.go
  pkg/engine/k8smanifest_test.go
  pkg/engine/loadtargets.go
  pkg/engine/mutation.go
  pkg/engine/mutation_test.go
  pkg/engine/policyContext.go
  pkg/engine/validation.go
  pkg/engine/validation_test.go
  pkg/testrunner/scenario.go
  pkg/webhooks/resource/fake.go
  pkg/webhooks/resource/validation_test.go
  pkg/webhooks/utils/policy_context_builder.go
Labels: milestone 1.10.0

#6213 feat: Check if admission controller replica count is set to zero
  charts/kyverno/Chart.yaml
  charts/kyverno/templates/_helpers/_deployment.tpl
  charts/kyverno/templates/admission-controller/deployment.yaml
  charts/kyverno/templates/background-controller/deployment.yaml
  charts/kyverno/templates/cleanup-controller/deployment.yaml
  charts/kyverno/templates/reports-controller/deployment.yaml
Labels: milestone 1.10.0

#6247 refactor: use more engine internals
  api/kyverno/v1/image_verification_types.go
  pkg/engine/attestation_test.go
  pkg/engine/background.go
  pkg/engine/exceptions.go
  pkg/engine/imageVerify.go
  pkg/engine/imageVerifyValidate.go
  pkg/engine/imageVerify_test.go
  pkg/engine/internal/imageverifier.go
  pkg/engine/internal/preconditions.go
  pkg/engine/internal/response.go
  pkg/engine/k8smanifest.go
  pkg/engine/mutation.go
  pkg/engine/utils.go
  pkg/engine/validation.go
  pkg/engine/validation_test.go
Labels: milestone 1.10.0

#6253 refactor: context loading and engine methods
  cmd/background-controller/main.go
  cmd/cli/kubectl-kyverno/utils/common/common.go
  cmd/kyverno/main.go
  cmd/reports-controller/main.go
  pkg/background/generate/generate.go
  pkg/controllers/report/background/controller.go
  pkg/controllers/report/utils/scanner.go
  pkg/engine/api/contextloader.go
  pkg/engine/api/engine.go
  pkg/engine/background.go
  pkg/engine/engine.go
  pkg/engine/generation.go
  pkg/engine/imageVerify.go
  pkg/engine/imageVerifyValidate.go
  pkg/engine/imageVerify_test.go
  pkg/engine/internal/context.go
  pkg/engine/jsonContext.go
  pkg/engine/mutation.go
  pkg/engine/mutation_test.go
  pkg/engine/validation.go
  pkg/engine/validation_test.go
  pkg/policy/policy_controller.go
  pkg/testrunner/scenario.go
  pkg/webhooks/resource/fake.go
  pkg/webhooks/resource/generation/generation.go
  pkg/webhooks/resource/handlers.go
  pkg/webhooks/resource/imageverification/handler.go
  pkg/webhooks/resource/updaterequest.go
  pkg/webhooks/resource/validation_test.go
Labels: milestone 1.10.0

#6242 fix: do not pass dynamicConfig to matchesResourceDescriptionMatchHelper (#6231)
  pkg/engine/utils.go
  pkg/engine/utils_test.go
Labels: milestone 1.10.0

#6252 test: add a couple pattern unit tests
  pkg/engine/pattern/pattern.go
  pkg/engine/pattern/pattern_test.go
  test/conformance/kuttl/generate/policy/standard/clone/sync/pol-clone-sync-delete-policy/03-sleep.yaml
  test/conformance/kuttl/generate/policy/standard/clone/sync/pol-clone-sync-delete-policy/04-delete-policy.yaml
  test/conformance/kuttl/generate/policy/standard/clone/sync/pol-clone-sync-delete-policy/05-sleep.yaml
  test/conformance/kuttl/generate/policy/standard/clone/sync/pol-clone-sync-delete-policy/06-assert.yaml
Labels: milestone 1.10.0

#6183 #6055 Add JMESPath support to imageExtractors
  api/kyverno/v1/rule_types.go
  charts/kyverno/templates/crds/crds.yaml
  config/crds/kyverno.io_clusterpolicies.yaml
  config/crds/kyverno.io_policies.yaml
  docs/user/crd/index.html
  pkg/engine/jmespath/functions.go
  pkg/engine/jmespath/functions_test.go
  pkg/policy/allowed_vars_test.go
  pkg/policy/validate.go
  pkg/policy/validate_test.go
  pkg/utils/api/image.go
  pkg/utils/api/image_test.go
  test/cli/test/images/verify-signature/kyverno-test.yaml
  test/cli/test/images/verify-signature/policies.yaml
  test/cli/test/images/verify-signature/resources.yaml
Labels: milestone 1.10.0

#6236 chore(helm): change title of grafana dashboard
  charts/kyverno/Chart.yaml
  charts/kyverno/grafana/dashboard.json
Labels: milestone 1.10.0

#6260 refactor: remove store dependency in engine pkg
  cmd/background-controller/main.go
  cmd/cli/kubectl-kyverno/apply/apply_command.go
  cmd/cli/kubectl-kyverno/test/test_command.go
  cmd/cli/kubectl-kyverno/utils/common/common.go
  cmd/cli/kubectl-kyverno/utils/store/contextloader.go
  cmd/cli/kubectl-kyverno/utils/store/store.go
  cmd/kyverno/main.go
  cmd/reports-controller/main.go
  pkg/engine/api/context.go
  pkg/engine/api/contextloader.go
  pkg/engine/engine.go
  pkg/engine/imageVerify_test.go
  pkg/engine/mutation_test.go
  pkg/engine/test/contextloader.go
  pkg/engine/utils.go
  pkg/engine/validation_test.go
  pkg/testrunner/scenario.go
  pkg/webhooks/resource/fake.go
  pkg/webhooks/resource/validation_test.go
Labels: milestone 1.10.0

#6263 move from k8s.gcr.io to registry.k8s.io
  pkg/engine/validate/validate_test.go
  test/cli/test-mutate/foreach/addIfNotPresent/deploy-patched.yaml
  test/cli/test-mutate/foreach/addIfNotPresent/resources.yaml
  test/cli/test/foreach/resources.yaml
  test/cli/test/owner_references/resource.yaml
  test/output/pod-with-default-volume.yaml
  test/output/pod-with-emptydir.yaml
  test/output/pod-with-hostpath.yaml
  test/resources/pod-with-default-volume.yaml
  test/resources/pod-with-emptydir.yaml
  test/resources/pod-with-hostpath.yaml
  test/resources/resource_validate_healthChecks.yaml
Labels: milestone 1.10.0

#6275 chore: add error logs in wait for cache sync helper
  cmd/cleanup-controller/main.go
  cmd/internal/informer.go
  cmd/kyverno/main.go
Labels: milestone 1.9.1

#6262 refactor: add a few response helpers in engine internal
  pkg/engine/imageVerifyValidate.go
  pkg/engine/internal/imageverifier.go
  pkg/engine/internal/response.go
  pkg/engine/k8smanifest.go
  pkg/engine/mutation.go
  pkg/engine/utils.go
  pkg/engine/validation.go
Labels: milestone 1.10.0

#6278 chore: support merge queue
  .github/workflows/check-actions.yaml
  .github/workflows/cli.yaml
  .github/workflows/codecov.yaml
  .github/workflows/images-build.yaml
  .github/workflows/tests.yaml
  .github/workflows/verify-codegen.yaml
Labels: milestone 1.10.0

#6280 refactor: improve engine logger management
  cmd/cli/kubectl-kyverno/apply/apply_command.go
  cmd/cli/kubectl-kyverno/oci/oci_push.go
  cmd/cli/kubectl-kyverno/test/test_command.go
  cmd/kyverno/main.go
  pkg/clients/dclient/utils.go
  pkg/engine/apicall/apiCall_test.go
  pkg/engine/attestation_test.go
  pkg/engine/background.go
  pkg/engine/engine.go
  pkg/engine/forceMutate.go
  pkg/engine/forceMutate_test.go
  pkg/engine/generation.go
  pkg/engine/imageVerify.go
  pkg/engine/imageVerify_test.go
  pkg/engine/internal/logging.go
  pkg/engine/mutate/mutation_test.go
  pkg/engine/mutate/patch/patchJSON6902_test.go
  pkg/engine/mutate/patch/patchesUtils_test.go
  pkg/engine/mutate/patch/strategicMergePatch_test.go
  pkg/engine/mutate/patch/strategicPreprocessing_test.go
  pkg/engine/mutation.go
  pkg/engine/pattern/pattern_test.go
  pkg/engine/validate/validate_test.go
  pkg/engine/validation.go
  pkg/engine/variables/evaluate_test.go
  pkg/engine/variables/variables_test.go
  pkg/engine/variables/vars_test.go
  pkg/openapi/manager.go
  pkg/openapi/manager_test.go
  pkg/policy/validate_test.go
Labels: milestone 1.10.0

#6279 chore: add error logs in wait for cache sync helper
  cmd/background-controller/main.go
  cmd/cleanup-controller/main.go
  cmd/internal/informer.go
  cmd/kyverno/main.go
  cmd/reports-controller/main.go
Labels: milestone 1.10.0

#6283 chore: remove testrunner package
  pkg/testrunner/scenario.go
  pkg/testrunner/scenario_test.go
  pkg/testrunner/testrunner_test.go
  pkg/testrunner/utils.go
Labels: milestone 1.10.0

#6277 test: add pattern pkg unit tests
  pkg/engine/pattern/pattern.go
  pkg/engine/pattern/pattern_test.go
Labels: milestone 1.10.0

#6159 refactor: remove PolicySpec from engine api
  cmd/cli/kubectl-kyverno/apply/report_test.go
  cmd/cli/kubectl-kyverno/test/test_command.go
  cmd/cli/kubectl-kyverno/utils/common/common.go
  pkg/background/generate/generate.go
  pkg/controllers/report/utils/events.go
  pkg/engine/api/engineresponse.go
  pkg/engine/api/policyresponse.go
  pkg/engine/api/policyspec.go
  pkg/engine/background.go
  pkg/engine/generation.go
  pkg/engine/imageVerify.go
  pkg/engine/internal/response.go
  pkg/engine/mutation.go
  pkg/event/events.go
  pkg/utils/annotations.go
  pkg/utils/annotations_test.go
  pkg/webhooks/resource/generation/generation.go
  pkg/webhooks/resource/generation/utils.go
  pkg/webhooks/resource/utils.go
  pkg/webhooks/utils/block.go
  pkg/webhooks/utils/block_test.go
  pkg/webhooks/utils/error.go
Labels: milestone 1.10.0

#6281 chore: generate controller cleanups
  pkg/background/generate/generate.go
  pkg/background/generate/utils.go
  pkg/background/update_request_controller.go
Labels: milestone 1.10.0

#6291 chore: add label keys for generate policies
  pkg/background/common/labels.go
  pkg/background/generate/generate.go
  pkg/background/generate/labels.go
  pkg/background/update_request_controller.go
  pkg/policy/validate.go
  pkg/webhooks/resource/generation/generation.go
  pkg/webhooks/resource/generation/generation_test.go
  pkg/webhooks/resource/generation/utils.go
  pkg/webhooks/resource/handlers.go
  pkg/webhooks/utils/update_request_updater.go
  pkg/webhooks/utils/update_request_updater_test.go
Labels: milestone 1.10.0

#6294 feat: add new fields to UR for generate rule details
  api/kyverno/v1/resource_spec_types.go
  api/kyverno/v1beta1/updaterequest_types.go
  charts/kyverno/templates/crds/crds.yaml
  config/crds/kyverno.io_updaterequests.yaml
  docs/user/crd/index.html
  pkg/background/common/context.go
  pkg/background/common/resource.go
  pkg/background/generate/generate.go
  pkg/background/mutate/mutate.go
  pkg/background/update_request_controller.go
  pkg/client/listers/kyverno/v1beta1/updaterequest_expansion.go
  pkg/policy/policy_controller.go
  pkg/webhooks/resource/handlers.go
  pkg/webhooks/updaterequest/generator.go
Labels: milestone 1.10.0

#6296 fix: use client instead of discovery for sanity checks
  cmd/kyverno/main.go
  pkg/utils/kube/crd.go
Labels: cherry-pick-required, milestone 1.10.0, milestone 1.9.1

#6301 refactor: make engine stats standard fields
  pkg/engine/api/policyresponse.go
  pkg/engine/api/ruleresponse.go
  pkg/engine/api/ruleresponse_test.go
  pkg/engine/background.go
  pkg/engine/generation.go
  pkg/engine/imageVerify.go
  pkg/engine/internal/response.go
  pkg/engine/mutate/patch/patchJSON6902.go
  pkg/engine/mutate/patch/strategicMergePatch.go
  pkg/engine/mutation.go
  pkg/engine/validation.go
  pkg/metrics/policyexecutionduration/policyExecutionDuration.go
  pkg/webhooks/resource/validation_test.go
Labels: milestone 1.10.0

#6298 refactor: propagate exception in rule response
  pkg/controllers/report/utils/events.go
  pkg/engine/api/ruleresponse.go
  pkg/engine/exceptions.go
  pkg/event/events.go
  pkg/webhooks/utils/event.go
Labels: milestone 1.10.0

#6302 feat: add new instrumented clients
  cmd/internal/client.go
  go.mod
  go.sum
  hack/main.go
  pkg/clients/aggregator/apiregistrationv1/apiservices/resource.generated.go
  pkg/clients/aggregator/apiregistrationv1/client.generated.go
  pkg/clients/aggregator/apiregistrationv1beta1/apiservices/resource.generated.go
  pkg/clients/aggregator/apiregistrationv1beta1/client.generated.go
  pkg/clients/aggregator/clientset.generated.go
  pkg/clients/aggregator/discovery/resource.generated.go
  pkg/clients/aggregator/interface.generated.go
  pkg/clients/apiserver/apiextensionsv1/client.generated.go
  pkg/clients/apiserver/apiextensionsv1/customresourcedefinitions/resource.generated.go
  pkg/clients/apiserver/apiextensionsv1beta1/client.generated.go
  pkg/clients/apiserver/apiextensionsv1beta1/customresourcedefinitions/resource.generated.go
  pkg/clients/apiserver/clientset.generated.go
  pkg/clients/apiserver/discovery/resource.generated.go
  pkg/clients/apiserver/interface.generated.go
Labels: milestone 1.10.0

#6304 refactor: remove validate failure actions from response
  pkg/engine/api/engineresponse.go
  pkg/engine/api/engineresponse_test.go
  pkg/engine/api/policyresponse.go
  pkg/engine/internal/response.go
  pkg/webhooks/utils/block_test.go
Labels: milestone 1.10.0

#6303 fix: use apiserver instrumented client
  cmd/kyverno/main.go
Labels: milestone 1.10.0

#6297 chore: build docker images for all supported platforms
  Makefile
Labels: milestone 1.10.0

#6319 fix: add roles and clusterroles when dumping admission requests
  cmd/cleanup-controller/server.go
  cmd/kyverno/main.go
  pkg/webhooks/handlers/dump.go
  pkg/webhooks/handlers/dump_test.go
  pkg/webhooks/resource/fake.go
  pkg/webhooks/resource/handlers.go
  pkg/webhooks/server.go
Labels: cherry-pick-required, milestone 1.9.1

#6323 fix: add roles and clusterroles when dumping admission requests (cherry-pick #6319)
  cmd/cleanup-controller/server.go
  cmd/kyverno/main.go
  pkg/webhooks/handlers/dump.go
  pkg/webhooks/handlers/dump_test.go
  pkg/webhooks/resource/fake.go
  pkg/webhooks/resource/handlers.go
  pkg/webhooks/server.go
Labels: milestone 1.9.1

#6344 chore(deps): bump golang.org/x/net (cherry-pick #6341)
  go.mod
  go.sum
Labels: milestone 1.9.1

#6351 fix: use labels.Everything in userinfo clusterroles matching
  pkg/userinfo/roleRef.go
Labels: milestone 1.10.0

#6011 Notary v2
  .vscode/launch.json
  api/kyverno/v1/image_verification_types.go
  api/kyverno/v2beta1/image_verification_types.go
  charts/kyverno/templates/crds/crds.yaml
  config/crds/kyverno.io_clusterpolicies.yaml
  config/crds/kyverno.io_policies.yaml
  docs/user/crd/index.html
  go.mod
  go.sum
  pkg/cosign/cosign.go
  pkg/cosign/cosign_test.go
  pkg/engine/imageVerify.go
  pkg/engine/internal/imageverifier.go
  pkg/engine/mutation_test.go
  pkg/engine/utils.go
  pkg/images/verifier.go
  pkg/notaryv2/notaryv2.go
  pkg/notaryv2/registry.go
  pkg/notaryv2/truststore.go
  pkg/registryclient/client.go
  pkg/registryclient/client_test.go
Labels: milestone 1.10.0

#6359 chore(deps): bump github.com/sigstore/k8s-manifest-sigstore (cherry-pick #6320)
  go.mod
  go.sum
Labels: milestone 1.9.1

#6365 fix: logger key value in wrong order
  pkg/utils/image/infos.go
Labels: cherry-pick-required, milestone 1.10.0, milestone 1.9.1

#6363 fix: missing metrics for policies in audit mode
  pkg/webhooks/resource/validation/validation.go
Labels: cherry-pick-required, milestone 1.9.1

#6358 fix: role matching from authentication infos
  pkg/userinfo/roleRef.go
  pkg/userinfo/roleRef_test.go
Labels: milestone 1.10.0

#6368 fix: delete certificate secret if type is not TLS
  pkg/controllers/certmanager/controller.go
  pkg/tls/renewer.go
Labels: cherry-pick-required, milestone 1.9.1

#6357 refactor: user/groups exclusions
  cmd/cleanup-controller/server.go
  pkg/config/config.go
  pkg/engine/background.go
  pkg/engine/exceptions.go
  pkg/engine/mutation.go
  pkg/engine/validation.go
  pkg/userinfo/roleRef.go
  pkg/webhooks/handlers/dump.go
  pkg/webhooks/handlers/dump_test.go
  pkg/webhooks/handlers/filter.go
  pkg/webhooks/server.go
  pkg/webhooks/utils/policy_context_builder.go
Labels: Documentation, milestone 1.10.0

#6322 feat: change mapping strategy for generate URs
  api/kyverno/v1beta1/constants.go
  api/kyverno/v1beta1/updaterequest_types.go
  charts/kyverno/templates/crds/crds.yaml
  cmd/kyverno/main.go
  config/crds/kyverno.io_updaterequests.yaml
  docs/user/crd/index.html
  pkg/background/common/constants.go
  pkg/background/common/context.go
  pkg/background/common/labels.go
  pkg/background/common/util.go
  pkg/background/generate/generate.go
  pkg/background/generate/source.go
  pkg/background/generate/utils.go
  pkg/policy/generate.go
  pkg/policy/mutate.go
  pkg/policy/policy_controller.go
  pkg/policy/updaterequest.go
  pkg/webhooks/resource/generation/generation.go
  pkg/webhooks/resource/generation/handler.go
  pkg/webhooks/resource/generation/utils.go
  pkg/webhooks/resource/handlers.go
  pkg/webhooks/resource/updaterequest.go
  pkg/webhooks/updaterequest/generator.go
  test/conformance/kuttl/generate/clusterpolicy/standard/clone/sync/cpol-clone-sync-delete-source/05-errors.yaml
  test/conformance/kuttl/generate/clusterpolicy/standard/clone/sync/cpol-clone-sync-delete-source/README.md
Labels: milestone 1.10.0

#6374 fix: autoUpdateWebhooks=false causes ClusterPolicy to never be ready
  pkg/controllers/webhook/controller.go
Labels: cherry-pick-required, milestone 1.9.1

#6300 chore: bump a couple of deps
  go.mod
  go.sum
Labels: milestone 1.10.0

#6381 fix: remove dynamic config from match helpers
  pkg/engine/utils.go
  pkg/utils/match/match.go
  pkg/utils/match/subjects.go
Labels: milestone 1.10.0

#6380 fix: remove dead code
  pkg/config/config.go
Labels: milestone 1.10.0

#6383 feat: upgrade otel
  go.mod
  go.sum
  pkg/controllers/metrics/policy/controller.go
  pkg/metrics/metrics.go
  pkg/tracing/config.go
  pkg/tracing/helpers.go
  pkg/utils/controller/run.go
  pkg/webhooks/handlers/metrics.go
  pkg/webhooks/handlers/trace.go
Labels: milestone 1.10.0

#6389 Redirection in kuttl readme fixed
  test/conformance/kuttl/README.md
Labels: milestone 1.10.0

#6386 feat: add kuttl test for Policy (Namespaced) with generate rule, clone and sync
  test/conformance/kuttl/generate/policy/standard/clone/sync/pol-clone-sync-modify-downstream/01-assert.yaml
  test/conformance/kuttl/generate/policy/standard/clone/sync/pol-clone-sync-modify-downstream/01-manifests.yaml
  test/conformance/kuttl/generate/policy/standard/clone/sync/pol-clone-sync-modify-downstream/02-assert.yaml
  test/conformance/kuttl/generate/policy/standard/clone/sync/pol-clone-sync-modify-downstream/02-policy.yaml
  test/conformance/kuttl/generate/policy/standard/clone/sync/pol-clone-sync-modify-downstream/03-trigger.yaml
  test/conformance/kuttl/generate/policy/standard/clone/sync/pol-clone-sync-modify-downstream/04-assert.yaml
  test/conformance/kuttl/generate/policy/standard/clone/sync/pol-clone-sync-modify-downstream/05-modify.yaml
  test/conformance/kuttl/generate/policy/standard/clone/sync/pol-clone-sync-modify-downstream/06-sleep.yaml
  test/conformance/kuttl/generate/policy/standard/clone/sync/pol-clone-sync-modify-downstream/07-assert.yaml
  test/conformance/kuttl/generate/policy/standard/clone/sync/pol-clone-sync-modify-downstream/README.md
  test/conformance/kuttl/generate/policy/standard/clone/sync/pol-clone-sync-modify-downstream/downstream.yaml
Labels: milestone 1.10.0

#6395 chore: remove dead code
  pkg/engine/context/utils.go
Labels: milestone 1.10.0

#6336 feat: add a kuttl test for ClusterPolicy with generate rule, data and sync
  scripts/config/standard/kyverno.yaml
  test/conformance/kuttl/generate/clusterpolicy/standard/data/sync/cpol-data-sync-modify-policy/01-assert.yaml
  test/conformance/kuttl/generate/clusterpolicy/standard/data/sync/cpol-data-sync-modify-policy/01-policy.yaml
  test/conformance/kuttl/generate/clusterpolicy/standard/data/sync/cpol-data-sync-modify-policy/02-ns.yaml
  test/conformance/kuttl/generate/clusterpolicy/standard/data/sync/cpol-data-sync-modify-policy/03-assert.yaml
  test/conformance/kuttl/generate/clusterpolicy/standard/data/sync/cpol-data-sync-modify-policy/04-assert.yaml
  test/conformance/kuttl/generate/clusterpolicy/standard/data/sync/cpol-data-sync-modify-policy/04-modify-policy.yaml
  test/conformance/kuttl/generate/clusterpolicy/standard/data/sync/cpol-data-sync-modify-policy/05-sleep.yaml
  test/conformance/kuttl/generate/clusterpolicy/standard/data/sync/cpol-data-sync-modify-policy/06-assert.yaml
  test/conformance/kuttl/generate/clusterpolicy/standard/data/sync/cpol-data-sync-modify-policy/README.md
Labels: milestone 1.10.0

#6387 feat: add the kuttl test for Policy (Namespaced) with generate rule, data, and sync
  test/conformance/kuttl/generate/policy/standard/data/sync/pol-data-sync-modify-downstream/01-policy.yaml
  test/conformance/kuttl/generate/policy/standard/data/sync/pol-data-sync-modify-downstream/02-secret.yaml
  test/conformance/kuttl/generate/policy/standard/data/sync/pol-data-sync-modify-downstream/03-assert.yaml
  test/conformance/kuttl/generate/policy/standard/data/sync/pol-data-sync-modify-downstream/04-modify.yaml
  test/conformance/kuttl/generate/policy/standard/data/sync/pol-data-sync-modify-downstream/04-sleep.yaml
  test/conformance/kuttl/generate/policy/standard/data/sync/pol-data-sync-modify-downstream/05-assert.yaml
  test/conformance/kuttl/generate/policy/standard/data/sync/pol-data-sync-modify-downstream/README.md
Labels: milestone 1.10.0

#6350 feat: add view aggregated cluster role support
  charts/kyverno/Chart.yaml
  charts/kyverno/templates/rbac/_helpers.tpl
  charts/kyverno/templates/rbac/policies.yaml
  charts/kyverno/templates/rbac/policyreports.yaml
  charts/kyverno/templates/rbac/reports.yaml
  charts/kyverno/templates/rbac/updaterequests.yaml
  test/conformance/kuttl/rbac/aggregate-to-admin/admin-policies.yaml
  test/conformance/kuttl/rbac/aggregate-to-admin/admin-policyreport.yaml
  test/conformance/kuttl/rbac/aggregate-to-admin/admin-reports.yaml
  test/conformance/kuttl/rbac/aggregate-to-admin/admin-updaterequest.yaml
Labels: milestone 1.10.0

#6407 test: add the kuttl test pol-clone-sync-modify-source
  test/conformance/kuttl/generate/policy/standard/clone/sync/pol-clone-sync-modify-source/01-assert.yaml
  test/conformance/kuttl/generate/policy/standard/clone/sync/pol-clone-sync-modify-source/01-manifests.yaml
  test/conformance/kuttl/generate/policy/standard/clone/sync/pol-clone-sync-modify-source/02-trigger.yaml
  test/conformance/kuttl/generate/policy/standard/clone/sync/pol-clone-sync-modify-source/03-assert.yaml
  test/conformance/kuttl/generate/policy/standard/clone/sync/pol-clone-sync-modify-source/04-modifysource.yaml
  test/conformance/kuttl/generate/policy/standard/clone/sync/pol-clone-sync-modify-source/05-assert.yaml
  test/conformance/kuttl/generate/policy/standard/clone/sync/pol-clone-sync-modify-source/README.md
Labels: milestone 1.10.0

#6338 cleanup-controller metrics
  cmd/cleanup-controller/handlers/cleanup/handlers.go
  cmd/cleanup-controller/main.go
Labels: milestone 1.10.0

#6397 refactor: remove MutateResourceWithImageInfo
  CHANGELOG.md
  cmd/cli/kubectl-kyverno/utils/common/common.go
  pkg/engine/context/imageutils.go
  pkg/engine/mutation_test.go
  pkg/webhooks/resource/handlers.go
  pkg/webhooks/resource/handlers_test.go
  test/conformance/kuttl/mutate/e2e/patchesjson6902-simple/README.md
  test/conformance/kuttl/mutate/e2e/patchesjson6902-simple/resource-mutated.yaml
Labels: Documentation, milestone 1.10.0

#6411 fix: cascading mutations
  pkg/engine/mutation.go
  test/conformance/kuttl/mutate/cascading/first-rule-is-foreach/01-policy.yaml
  test/conformance/kuttl/mutate/cascading/first-rule-is-foreach/02-configmap.yaml
  test/conformance/kuttl/mutate/cascading/first-rule-is-foreach/README.md
  test/conformance/kuttl/mutate/cascading/first-rule-is-foreach/configmap-assert.yaml
  test/conformance/kuttl/mutate/cascading/first-rule-is-foreach/configmap.yaml
  test/conformance/kuttl/mutate/cascading/first-rule-is-foreach/policy-assert.yaml
  test/conformance/kuttl/mutate/cascading/first-rule-is-foreach/policy.yaml
  test/conformance/kuttl/mutate/cascading/no-foreach/01-policy.yaml
  test/conformance/kuttl/mutate/cascading/no-foreach/02-configmap.yaml
  test/conformance/kuttl/mutate/cascading/no-foreach/README.md
  test/conformance/kuttl/mutate/cascading/no-foreach/configmap-assert.yaml
  test/conformance/kuttl/mutate/cascading/no-foreach/configmap.yaml
  test/conformance/kuttl/mutate/cascading/no-foreach/policy-assert.yaml
  test/conformance/kuttl/mutate/cascading/no-foreach/policy.yaml
Labels: milestone 1.10.0

#6423 chore: split kuttl tests
  .github/workflows/conformance.yaml
  test/conformance/kuttl/_config/common.yaml
Labels: milestone 1.10.0

#6424 fix: panic when fails to fetch resource GVK
  pkg/controllers/policycache/controller.go
Labels: cherry-pick-required, milestone 1.10.0, milestone 1.9.1

#6425 chore: add cascading kuttl test
  test/conformance/kuttl/mutate/cascading/two-foreach-rules/01-policy.yaml
  test/conformance/kuttl/mutate/cascading/two-foreach-rules/02-configmap.yaml
  test/conformance/kuttl/mutate/cascading/two-foreach-rules/README.md
  test/conformance/kuttl/mutate/cascading/two-foreach-rules/configmap-assert.yaml
  test/conformance/kuttl/mutate/cascading/two-foreach-rules/configmap.yaml
  test/conformance/kuttl/mutate/cascading/two-foreach-rules/policy-assert.yaml
  test/conformance/kuttl/mutate/cascading/two-foreach-rules/policy.yaml
Labels: milestone 1.10.0

#6384 SLSA provenance added for background and reports controller
  .github/workflows/release.yaml
Labels: milestone 1.10.0
