Repository kyverno/kyverno, pull requests merged in 2023-06, with the labels that each got.

#6800 Added `fetchAttestations` method to notaryV2 implimentation
  api/kyverno/v1/image_verification_types.go
  api/kyverno/v2beta1/image_verification_types.go
  charts/kyverno/templates/crds/crds.yaml
  config/crds/kyverno.io_clusterpolicies.yaml
  config/crds/kyverno.io_policies.yaml
  config/install-latest-testing.yaml
  docs/user/crd/index.html
  go.mod
  go.sum
  pkg/cosign/cosign.go
  pkg/engine/api/context.go
  pkg/engine/handlers/mutation/mutate_image.go
  pkg/engine/internal/imageverifier.go
  pkg/images/verifier.go
  pkg/notary/notary.go
  pkg/notary/notary_test.go
  pkg/notary/registry.go
  pkg/notary/repository.go
  pkg/notary/truststore.go
  pkg/notaryv2/notaryv2.go
  pkg/notaryv2/registry.go
  pkg/validation/policy/validate.go
  test/conformance/kuttl/flags/standard/emit-events/admission-controller-assert.yaml
  test/conformance/kuttl/verifyImages/clusterpolicy/standard/notary-attestation-verification/01-policy.yaml
  test/conformance/kuttl/verifyImages/clusterpolicy/standard/notary-attestation-verification/02-resource.yaml
  test/conformance/kuttl/verifyImages/clusterpolicy/standard/notary-attestation-verification/README.md
  test/conformance/kuttl/verifyImages/clusterpolicy/standard/notary-attestation-verification/pod-assert.yaml
  test/conformance/kuttl/verifyImages/clusterpolicy/standard/notary-attestation-verification/pod.yaml
  test/conformance/kuttl/verifyImages/clusterpolicy/standard/notary-attestation-verification/policy-ready.yaml
  test/conformance/kuttl/verifyImages/clusterpolicy/standard/notary-attestation-verification/policy.yaml
  test/conformance/kuttl/verifyImages/clusterpolicy/standard/notary-image-verification/01-policy.yaml
  test/conformance/kuttl/verifyImages/clusterpolicy/standard/notary-image-verification/02-resource.yaml
  test/conformance/kuttl/verifyImages/clusterpolicy/standard/notary-image-verification/README.md
  test/conformance/kuttl/verifyImages/clusterpolicy/standard/notary-image-verification/pod-assert.yaml
  test/conformance/kuttl/verifyImages/clusterpolicy/standard/notary-image-verification/pod.yaml
  test/conformance/kuttl/verifyImages/clusterpolicy/standard/notary-image-verification/policy-ready.yaml
  test/conformance/kuttl/verifyImages/clusterpolicy/standard/notary-image-verification/policy.yaml
Labels: milestone 1.11.0

#7383 fix: missing/incorrect env variables
  charts/kyverno/templates/admission-controller/deployment.yaml
  config/install-latest-testing.yaml
  pkg/utils/os/env.go
Labels: cherry-pick-required, milestone 1.10.1

#7380 Allow setting verbs for clusterrole extraresources on backgroundController
  charts/kyverno/templates/background-controller/clusterrole.yaml
  charts/kyverno/values.yaml
  scripts/config/standard/kyverno.yaml
Labels: cherry-pick-required, milestone 1.10.1

#7391 chore: deprecate imageSignatureRepository flag
  CHANGELOG.md
  cmd/internal/flag.go
  cmd/internal/setup.go
Labels: milestone 1.11.0

#7388 Remove policy validation prevent loop for generate
  pkg/validation/policy/generate.go
  pkg/validation/policy/validate.go
  test/conformance/kuttl/generate/validation/clusterpolicy/prevent-loop/01-pass.yaml
  test/conformance/kuttl/generate/validation/clusterpolicy/prevent-loop/README.md
  test/conformance/kuttl/generate/validation/policy/prevent-loop/01-ns.yaml
  test/conformance/kuttl/generate/validation/policy/prevent-loop/02-pass.yaml
  test/conformance/kuttl/generate/validation/policy/prevent-loop/README.md
  test/conformance/kuttl/generate/validation/policy/prevent-loop/policy.yaml
Labels: cherry-pick-required, milestone 1.10.1

#7397 fix: cosign global var
  cmd/cli/kubectl-kyverno/utils/common/common.go
  cmd/cli/kubectl-kyverno/utils/common/kyverno_policies_types.go
  cmd/internal/cosign.go
  cmd/internal/engine.go
  cmd/internal/setup.go
  pkg/cosign/cosign.go
  pkg/engine/engine.go
  pkg/engine/handlers/mutation/mutate_image.go
  pkg/engine/image_verify.go
  pkg/engine/image_verify_test.go
  pkg/engine/internal/imageverifier.go
  pkg/engine/mutation_test.go
  pkg/engine/validation_test.go
  pkg/webhooks/resource/fake.go
  pkg/webhooks/resource/validation_test.go
Labels: milestone 1.11.0

#7251 Fix: [Bug] The default field in a context variable does not replace nil results
  pkg/engine/api/context.go
  test/conformance/kuttl/mutate/clusterpolicy/cornercases/mutate-using-default-context/00-policy.yaml
  test/conformance/kuttl/mutate/clusterpolicy/cornercases/mutate-using-default-context/01-pod.yaml
  test/conformance/kuttl/mutate/clusterpolicy/cornercases/mutate-using-default-context/README.md
  test/conformance/kuttl/mutate/clusterpolicy/cornercases/mutate-using-default-context/pod-assert.yaml
  test/conformance/kuttl/mutate/clusterpolicy/cornercases/mutate-using-default-context/pod.yaml
  test/conformance/kuttl/mutate/clusterpolicy/cornercases/mutate-using-default-context/policy-assert.yaml
  test/conformance/kuttl/mutate/clusterpolicy/cornercases/mutate-using-default-context/policy.yaml
Labels: cherry-pick-required, milestone 1.10.1

#7401 fix: replace mattbaird/jsonpatch with appscode/jsonpatch
  go.mod
  go.sum
  pkg/engine/mutate/patch/patchesUtils.go
  pkg/engine/mutate/patch/patchesUtils_test.go
Labels: milestone 1.11.0

#7403 fix: missing extraEnvVars in helm chart
  charts/kyverno/README.md
  charts/kyverno/templates/admission-controller/deployment.yaml
  charts/kyverno/templates/background-controller/deployment.yaml
  charts/kyverno/templates/cleanup-controller/deployment.yaml
  charts/kyverno/templates/reports-controller/deployment.yaml
  charts/kyverno/values.yaml
  config/install-latest-testing.yaml
Labels: cherry-pick-required, milestone 1.10.1

#7409 update migration guide with generate guidance
  charts/kyverno/README.md
  charts/kyverno/README.md.gotmpl
Labels: cherry-pick-required, milestone 1.10.0

#7413 expose JSON Pointer in Images variable for extension services
  pkg/utils/api/image.go
Labels: milestone 1.11.0

#7415 fix: json patch unit tests
  pkg/engine/mutate/patch/patchesUtils.go
  pkg/engine/mutate/patch/patchesUtils_test.go
Labels: milestone 1.11.0

#7411 charts: changes validationFailureAction default value
  charts/kyverno-policies/README.md
  charts/kyverno-policies/values.yaml
Labels: milestone 1.11.0

#7416 feat: hold custom labels
  pkg/controllers/report/aggregate/controller.go
  pkg/utils/report/labels.go
Labels: cherry-pick-required, milestone 1.10.1

#7420 feat: add config exclusions in the engine
  pkg/engine/engine.go
Labels: milestone 1.11.0

#7422 fix: stop recording json patches in rule responses (part 2)
  pkg/engine/handlers/mutation/mutate_image.go
  pkg/engine/image_verify_test.go
  pkg/engine/internal/imageverifier.go
Labels: milestone 1.11.0

#7417 fix: array element removal should be synced to the downstream resource with a generate data sync rule
  api/kyverno/v1/common_types.go
  cmd/cli/kubectl-kyverno/utils/common/common.go
  pkg/background/generate/clone.go
  pkg/background/generate/data.go
  pkg/background/generate/generate.go
  pkg/background/generate/response.go
  pkg/background/generate/utils.go
  test/conformance/kuttl/generate/clusterpolicy/cornercases/cpol-data-sync-remove-list-element/01-clusterpolicy.yaml
  test/conformance/kuttl/generate/clusterpolicy/cornercases/cpol-data-sync-remove-list-element/02-ns.yaml
  test/conformance/kuttl/generate/clusterpolicy/cornercases/cpol-data-sync-remove-list-element/03-check.yaml
  test/conformance/kuttl/generate/clusterpolicy/cornercases/cpol-data-sync-remove-list-element/04-update-cpol.yaml
  test/conformance/kuttl/generate/clusterpolicy/cornercases/cpol-data-sync-remove-list-element/05-sleep.yaml
  test/conformance/kuttl/generate/clusterpolicy/cornercases/cpol-data-sync-remove-list-element/06-checks.yaml
  test/conformance/kuttl/generate/clusterpolicy/cornercases/cpol-data-sync-remove-list-element/README.md
  test/conformance/kuttl/generate/clusterpolicy/cornercases/cpol-data-sync-remove-list-element/netpol-new.yaml
  test/conformance/kuttl/generate/clusterpolicy/cornercases/cpol-data-sync-remove-list-element/netpol.yaml
  test/conformance/kuttl/generate/clusterpolicy/cornercases/cpol-data-sync-remove-list-element/policy-ready.yaml
  test/conformance/kuttl/generate/clusterpolicy/cornercases/cpol-data-sync-remove-list-element/policy-remove-egress.yaml
  test/conformance/kuttl/generate/clusterpolicy/cornercases/cpol-data-sync-remove-list-element/policy.yaml
  test/conformance/kuttl/generate/policy/standard/clone/nosync/pol-clone-nosync-modify-downstream/03-modify-downstream.yaml
  test/conformance/kuttl/generate/policy/standard/clone/nosync/pol-clone-nosync-modify-downstream/05-assert.yaml
  test/conformance/kuttl/generate/policy/standard/clone/nosync/pol-clone-nosync-modify-downstream/99-cleanup.yaml
  test/conformance/kuttl/generate/policy/standard/clone/nosync/pol-clone-nosync-modify-downstream/cloned-secret.yaml
  test/conformance/kuttl/generate/policy/standard/clone/nosync/pol-clone-nosync-modify-downstream/create-cm.yaml
  test/conformance/kuttl/generate/policy/standard/clone/nosync/pol-clone-nosync-modify-downstream/manifests.yaml
  test/conformance/kuttl/generate/policy/standard/clone/nosync/pol-clone-nosync-modify-downstream/policy-ready.yaml
  test/conformance/kuttl/generate/policy/standard/clone/nosync/pol-clone-nosync-modify-source/05-assert.yaml
  test/conformance/kuttl/generate/policy/standard/clone/nosync/pol-clone-nosync-modify-source/cloned-secret.yaml
  test/conformance/kuttl/generate/policy/standard/clone/nosync/pol-clone-nosync-modify-source/manifests.yaml
  test/conformance/kuttl/generate/policy/standard/data/sync/pol-data-sync-modify-downstream/01-policy.yaml
  test/conformance/kuttl/generate/policy/standard/data/sync/pol-data-sync-modify-downstream/02-secret.yaml
  test/conformance/kuttl/generate/policy/standard/data/sync/pol-data-sync-modify-downstream/03-assert.yaml
  test/conformance/kuttl/generate/policy/standard/data/sync/pol-data-sync-modify-downstream/04-modify.yaml
  test/conformance/kuttl/generate/policy/standard/data/sync/pol-data-sync-modify-downstream/05-assert.yaml
Labels: cherry-pick-required, milestone 1.10.1

#7428 fix: reports discovery error
  pkg/clients/dclient/discovery.go
Labels: cherry-pick-required, milestone 1.10.1

#7433 fix: exceptions not considered on delete
  pkg/engine/exceptions.go
  test/conformance/kuttl/exceptions/applies-to-delete/01-policy.yaml
  test/conformance/kuttl/exceptions/applies-to-delete/02-exception.yaml
  test/conformance/kuttl/exceptions/applies-to-delete/03-namespace.yaml
  test/conformance/kuttl/exceptions/applies-to-delete/04-deployment.yaml
  test/conformance/kuttl/exceptions/applies-to-delete/05-delete.yaml
  test/conformance/kuttl/exceptions/applies-to-delete/README.md
  test/conformance/kuttl/exceptions/applies-to-delete/deployment.yaml
  test/conformance/kuttl/exceptions/applies-to-delete/exception.yaml
  test/conformance/kuttl/exceptions/applies-to-delete/namespace.yaml
  test/conformance/kuttl/exceptions/applies-to-delete/policy-assert.yaml
  test/conformance/kuttl/exceptions/applies-to-delete/policy.yaml
Labels: cherry-pick-required, milestone 1.10.1

#7439 fix: error reported when sanity check fails
  cmd/kyverno/main.go
  pkg/utils/kube/crd.go
Labels: cherry-pick-required, milestone 1.10.1

#7440 fixed typo in admission controller chart template
  charts/kyverno/templates/admission-controller/deployment.yaml
  config/install-latest-testing.yaml
Labels: cherry-pick-required, milestone 1.10.1

#7443 refactor: remove json patches from rule response in tests
  pkg/engine/mutate/mutation_test.go
  pkg/engine/mutate/testdata/endpoints.yaml
Labels: milestone 1.11.0

#7438 chore: remove last-applied-patches annotation
  pkg/background/mutate/mutate.go
  pkg/utils/annotations.go
  pkg/utils/annotations_test.go
  pkg/webhooks/resource/mutation/mutation.go
Labels: milestone 1.11.0

#7447 refactor: remove json patches from mutation tests
  pkg/clients/dclient/fake.go
  pkg/engine/mutation_test.go
Labels: milestone 1.11.0

#7450 Remove response patches
  pkg/engine/api/ruleresponse.go
  pkg/engine/handlers/mutation/common.go
Labels: milestone 1.11.0

#7449 refactor: remove json patches from engine response
  pkg/engine/forceMutate.go
  pkg/engine/handlers/mutation/common.go
  pkg/engine/mutate/mutation.go
  pkg/engine/mutate/mutation_test.go
  pkg/engine/mutate/patch/patchJSON6902.go
  pkg/engine/mutate/patch/patchJSON6902_test.go
  pkg/engine/mutate/patch/patchers.go
  pkg/engine/mutate/patch/patchesUtils.go
  pkg/engine/mutate/patch/patchesUtils_test.go
  pkg/engine/mutate/patch/strategicMergePatch.go
  pkg/engine/mutate/patch/strategicMergePatch_test.go
Labels: milestone 1.11.0

#7453 chore: add buffer unit tests
  pkg/engine/mutate/patch/buffer.go
  pkg/engine/mutate/patch/buffer_test.go
Labels: milestone 1.11.0

#7460 fix: flaky generate test
  test/conformance/kuttl/generate/clusterpolicy/standard/clone/sync/cpol-clone-sync-delete-source/00-sleep.yaml
  test/conformance/kuttl/generate/clusterpolicy/standard/clone/sync/cpol-clone-sync-delete-source/03-deletesource.yaml
  test/conformance/kuttl/generate/clusterpolicy/standard/clone/sync/cpol-clone-sync-delete-source/04-sleep.yaml
  test/conformance/kuttl/generate/clusterpolicy/standard/clone/sync/cpol-clone-sync-delete-source/05-errors.yaml
  test/conformance/kuttl/generate/clusterpolicy/standard/clone/sync/cpol-clone-sync-delete-source/99-cleanup.yaml
  test/conformance/kuttl/generate/clusterpolicy/standard/clone/sync/cpol-clone-sync-delete-source/cloned.yaml
  test/conformance/kuttl/generate/clusterpolicy/standard/clone/sync/cpol-clone-sync-delete-source/ns.yaml
  test/conformance/kuttl/generate/clusterpolicy/standard/clone/sync/cpol-clone-sync-delete-source/policy.yaml
Labels: cherry-pick-required, milestone 1.10.1

#7464 fix: rule name not required in the crd schema
  api/kyverno/v1/rule_types.go
  api/kyverno/v2beta1/rule_types.go
  charts/kyverno/templates/crds/crds.yaml
  config/crds/kyverno.io_clusterpolicies.yaml
  config/crds/kyverno.io_policies.yaml
  config/install-latest-testing.yaml
Labels: cherry-pick-required, milestone 1.10.1

#7452 feat: switch json patch lib for real
  go.mod
  go.sum
  pkg/engine/api/engineresponse.go
  pkg/engine/api/imageverifymetadata.go
  pkg/engine/handlers/mutation/mutate_image.go
  pkg/engine/image_verify_test.go
  pkg/engine/internal/imageverifier.go
  pkg/engine/mutate/patch/patchesUtils.go
  pkg/webhooks/resource/imageverification/handler.go
  pkg/webhooks/resource/mutation/mutation.go
Labels: milestone 1.11.0

#7435 fix: add missing webhook timeouts
  pkg/controllers/webhook/controller.go
Labels: cherry-pick-required, milestone 1.10.1

#7336 feat: obey the order field in patchStrategicMerge method
  pkg/engine/handlers/mutation/common.go
  pkg/engine/mutation_test.go
Labels: cherry-pick-required, milestone 1.10.1

#7474 fix: image pull secrets in admission controller
  charts/kyverno/templates/admission-controller/deployment.yaml
Labels: cherry-pick-required, milestone 1.10.1

#7473 fix: background controller panics during variables substitution
  pkg/engine/handlers/mutation/load_targets.go
Labels: cherry-pick-required, milestone 1.10.1

#7478 feat: sign released artifacts
  .github/workflows/release.yaml
  .goreleaser.yml
Labels: cherry-pick-required, milestone 1.10.1

#7377 refactor: introduce abstract client interface in engine
  cmd/cli/kubectl-kyverno/utils/common/common.go
  cmd/cli/kubectl-kyverno/utils/common/kyverno_policies_types.go
  cmd/cli/kubectl-kyverno/utils/store/contextloader.go
  cmd/internal/engine.go
  pkg/clients/dclient/helpers.go
  pkg/engine/adapters/dclient.go
  pkg/engine/api/client.go
  pkg/engine/api/context.go
  pkg/engine/api/contextloader.go
  pkg/engine/apicall/apiCall.go
  pkg/engine/engine.go
  pkg/engine/handlers/mutation/load_targets.go
  pkg/engine/handlers/mutation/mutate_existing.go
  pkg/engine/handlers/validation/validate_cel.go
  pkg/engine/handlers/validation/validate_manifest.go
  pkg/engine/mutation_test.go
  pkg/engine/test/contextloader.go
  pkg/webhooks/resource/fake.go
Labels: milestone 1.11.0

#7487 fix: propagate context when listing resources
  pkg/clients/dclient/helpers.go
  pkg/engine/adapters/dclient.go
  pkg/engine/api/client.go
  pkg/engine/handlers/mutation/load_targets.go
  pkg/engine/handlers/mutation/mutate_existing.go
Labels: milestone 1.11.0

#7501 feat: use context for toggles management
  api/kyverno/v1/spec_types.go
  cmd/kyverno/main.go
  pkg/controllers/webhook/controller.go
  pkg/toggle/context.go
  pkg/toggle/toggle.go
  pkg/toggle/toggle_test.go
  pkg/webhooks/resource/handlers.go
  pkg/webhooks/resource/imageverification/handler.go
  pkg/webhooks/resource/validation/validation.go
  pkg/webhooks/server.go
Labels: milestone 1.11.0

#7499 fix: use RawClient in context loader
  cmd/cli/kubectl-kyverno/utils/store/contextloader.go
  pkg/engine/api/contextloader.go
  pkg/engine/test/contextloader.go
Labels: milestone 1.11.0

#7466 fix: cloneList sync behavior
  cmd/cli/kubectl-kyverno/utils/common/fetch.go
  pkg/background/generate/cleanup.go
  pkg/background/generate/generate.go
  pkg/webhooks/resource/generation/handler.go
  test/conformance/kuttl/generate/clusterpolicy/cornercases/clone-list-sync-same-trigger-source-delete-source/01-assert.yaml
  test/conformance/kuttl/generate/clusterpolicy/cornercases/clone-list-sync-same-trigger-source-delete-source/01-manifests.yaml
  test/conformance/kuttl/generate/clusterpolicy/cornercases/clone-list-sync-same-trigger-source-delete-source/02-check.yaml
  test/conformance/kuttl/generate/clusterpolicy/cornercases/clone-list-sync-same-trigger-source-delete-source/03-delete.yaml
  test/conformance/kuttl/generate/clusterpolicy/cornercases/clone-list-sync-same-trigger-source-delete-source/04-sleep.yaml
  test/conformance/kuttl/generate/clusterpolicy/cornercases/clone-list-sync-same-trigger-source-delete-source/05-check.yaml
  test/conformance/kuttl/generate/clusterpolicy/cornercases/clone-list-sync-same-trigger-source-delete-source/README.md
  test/conformance/kuttl/generate/clusterpolicy/cornercases/clone-list-sync-same-trigger-source-delete-source/target.yaml
  test/conformance/kuttl/generate/clusterpolicy/cornercases/clone-list-sync-same-trigger-source-delete-source/trigger.yaml
  test/conformance/kuttl/generate/clusterpolicy/cornercases/clone-list-sync-same-trigger-source-update-source/01-assert.yaml
  test/conformance/kuttl/generate/clusterpolicy/cornercases/clone-list-sync-same-trigger-source-update-source/01-manifests.yaml
  test/conformance/kuttl/generate/clusterpolicy/cornercases/clone-list-sync-same-trigger-source-update-source/02-check.yaml
  test/conformance/kuttl/generate/clusterpolicy/cornercases/clone-list-sync-same-trigger-source-update-source/03-update-trigger.yaml
  test/conformance/kuttl/generate/clusterpolicy/cornercases/clone-list-sync-same-trigger-source-update-source/04-sleep.yaml
  test/conformance/kuttl/generate/clusterpolicy/cornercases/clone-list-sync-same-trigger-source-update-source/05-check.yaml
  test/conformance/kuttl/generate/clusterpolicy/cornercases/clone-list-sync-same-trigger-source-update-source/README.md
  test/conformance/kuttl/generate/clusterpolicy/cornercases/clone-list-sync-same-trigger-source-update-source/target-2.yaml
  test/conformance/kuttl/generate/clusterpolicy/cornercases/clone-list-sync-same-trigger-source-update-source/target.yaml
  test/conformance/kuttl/generate/clusterpolicy/cornercases/clone-list-sync-same-trigger-source-update-source/trigger.yaml
  test/conformance/kuttl/generate/clusterpolicy/cornercases/clone-sync-same-trigger-source-delete-source/01-assert.yaml
  test/conformance/kuttl/generate/clusterpolicy/cornercases/clone-sync-same-trigger-source-delete-source/01-manifests.yaml
  test/conformance/kuttl/generate/clusterpolicy/cornercases/clone-sync-same-trigger-source-delete-source/02-check.yaml
  test/conformance/kuttl/generate/clusterpolicy/cornercases/clone-sync-same-trigger-source-delete-source/03-delete.yaml
  test/conformance/kuttl/generate/clusterpolicy/cornercases/clone-sync-same-trigger-source-delete-source/04-sleep.yaml
  test/conformance/kuttl/generate/clusterpolicy/cornercases/clone-sync-same-trigger-source-delete-source/05-check.yaml
  test/conformance/kuttl/generate/clusterpolicy/cornercases/clone-sync-same-trigger-source-delete-source/README.md
  test/conformance/kuttl/generate/clusterpolicy/cornercases/clone-sync-same-trigger-source-delete-source/target.yaml
  test/conformance/kuttl/generate/clusterpolicy/cornercases/clone-sync-same-trigger-source-delete-source/trigger.yaml
  test/conformance/kuttl/generate/clusterpolicy/cornercases/clone-sync-same-trigger-source-update-source/01-assert.yaml
  test/conformance/kuttl/generate/clusterpolicy/cornercases/clone-sync-same-trigger-source-update-source/01-manifests.yaml
  test/conformance/kuttl/generate/clusterpolicy/cornercases/clone-sync-same-trigger-source-update-source/02-check.yaml
  test/conformance/kuttl/generate/clusterpolicy/cornercases/clone-sync-same-trigger-source-update-source/03-update-trigger.yaml
  test/conformance/kuttl/generate/clusterpolicy/cornercases/clone-sync-same-trigger-source-update-source/04-sleep.yaml
  test/conformance/kuttl/generate/clusterpolicy/cornercases/clone-sync-same-trigger-source-update-source/05-check.yaml
  test/conformance/kuttl/generate/clusterpolicy/cornercases/clone-sync-same-trigger-source-update-source/README.md
  test/conformance/kuttl/generate/clusterpolicy/cornercases/clone-sync-same-trigger-source-update-source/target-2.yaml
  test/conformance/kuttl/generate/clusterpolicy/cornercases/clone-sync-same-trigger-source-update-source/target.yaml
  test/conformance/kuttl/generate/clusterpolicy/cornercases/clone-sync-same-trigger-source-update-source/trigger.yaml
  test/conformance/kuttl/generate/policy/standard/data/sync/pol-data-sync-delete-trigger/01-assert.yaml
  test/conformance/kuttl/generate/policy/standard/data/sync/pol-data-sync-delete-trigger/04-assert.yaml
Labels: cherry-pick-required, milestone 1.10.1

#7503 fix: misleading error message in deny conditions
  pkg/engine/handlers/validation/validate_resource.go
  pkg/engine/validation_test.go
Labels: cherry-pick-required, milestone 1.10.1

#7515 fix: log level initialisation
  pkg/logging/log.go
Labels: cherry-pick-required, milestone 1.10.1

#7517 fix: Remove ownerReferences when cloning across Namespaces
  pkg/background/generate/clone.go
  test/conformance/kuttl/generate/clusterpolicy/cornercases/cpol-clone-delete-ownerreferences-across-namespaces/01-policy.yaml
  test/conformance/kuttl/generate/clusterpolicy/cornercases/cpol-clone-delete-ownerreferences-across-namespaces/02-set-ownerreference.yaml
  test/conformance/kuttl/generate/clusterpolicy/cornercases/cpol-clone-delete-ownerreferences-across-namespaces/03-trigger.yaml
  test/conformance/kuttl/generate/clusterpolicy/cornercases/cpol-clone-delete-ownerreferences-across-namespaces/04-check-no-ownerreference.yaml
  test/conformance/kuttl/generate/clusterpolicy/cornercases/cpol-clone-delete-ownerreferences-across-namespaces/README.md
  test/conformance/kuttl/generate/clusterpolicy/cornercases/cpol-clone-delete-ownerreferences-across-namespaces/created-secret.yaml
  test/conformance/kuttl/generate/clusterpolicy/cornercases/cpol-clone-delete-ownerreferences-across-namespaces/policy-ready.yaml
  test/conformance/kuttl/generate/clusterpolicy/cornercases/cpol-clone-delete-ownerreferences-across-namespaces/policy.yaml
  test/conformance/kuttl/generate/clusterpolicy/cornercases/cpol-clone-delete-ownerreferences-across-namespaces/trigger.yaml
Labels: cherry-pick-required, milestone 1.10.1

#7529 refactor: introduce engine image data client interface
  cmd/cli/kubectl-kyverno/utils/common/common.go
  cmd/cli/kubectl-kyverno/utils/common/kyverno_policies_types.go
  cmd/cli/kubectl-kyverno/utils/store/contextloader.go
  cmd/internal/engine.go
  pkg/engine/adapters/rclient.go
  pkg/engine/api/client.go
  pkg/engine/api/context.go
  pkg/engine/api/contextloader.go
  pkg/engine/context/evaluate.go
  pkg/engine/engine.go
  pkg/engine/image_verify_test.go
  pkg/engine/mutation_test.go
  pkg/engine/test/contextloader.go
  pkg/engine/validation_test.go
  pkg/webhooks/resource/fake.go
  pkg/webhooks/resource/validation_test.go
Labels: milestone 1.11.0

#7528 Updated the message to the level4log and removed err that originated from ApplyBackgroundChecks.
  pkg/policy/policy_controller.go
Labels: milestone 1.11.0

#7468 feat: add API server priority and fairness configuration for kyverno
  charts/kyverno/README.md
  charts/kyverno/templates/_helpers/_flowcontrol.tpl
  charts/kyverno/templates/admission-controller/flowschema.yaml
  charts/kyverno/templates/admission-controller/prioritylevelconfiguration.yaml
  charts/kyverno/templates/reports-controller/flowschema.yaml
  charts/kyverno/templates/reports-controller/prioritylevelconfiguration.yaml
  charts/kyverno/values.yaml
Labels: milestone 1.11.0

#7531 refactor: generate reconciliation on policy updates
  api/kyverno/v1/spec_types.go
  api/kyverno/v2beta1/rule_types.go
  pkg/policy/generate.go
  pkg/policy/policy_controller.go
  pkg/policy/utils.go
Labels: cherry-pick-required, milestone 1.10.1

#6526 fix: add type conversion error judgment to avoid program panic
  pkg/engine/wildcards/wildcards.go
Labels: cherry-pick-required, milestone 1.10.1

#7536 refactor: cut dependency between image verifier and registry client
  pkg/cosign/cosign.go
  pkg/cosign/cosign_test.go
  pkg/engine/internal/imageverifier.go
  pkg/images/verifier.go
  pkg/notary/notary.go
  pkg/notary/registry.go
Labels: milestone 1.11.0

#7496 fix: Delete downstream objects on precondition fail
  .github/actions/kyverno-logs/action.yaml
  pkg/engine/background.go
  pkg/policy/generate.go
  pkg/policy/utils.go
  pkg/policy/utils_test.go
  pkg/webhooks/resource/generation/handler.go
  test/conformance/kuttl/generate/clusterpolicy/standard/clone/sync/cpol-clone-sync-existing-update-trigger-no-precondition/01-trigger.yaml
  test/conformance/kuttl/generate/clusterpolicy/standard/clone/sync/cpol-clone-sync-existing-update-trigger-no-precondition/02-assert.yaml
  test/conformance/kuttl/generate/clusterpolicy/standard/clone/sync/cpol-clone-sync-existing-update-trigger-no-precondition/02-manifests.yaml
  test/conformance/kuttl/generate/clusterpolicy/standard/clone/sync/cpol-clone-sync-existing-update-trigger-no-precondition/03-sleep.yaml
  test/conformance/kuttl/generate/clusterpolicy/standard/clone/sync/cpol-clone-sync-existing-update-trigger-no-precondition/04-downstream-created.yaml
  test/conformance/kuttl/generate/clusterpolicy/standard/clone/sync/cpol-clone-sync-existing-update-trigger-no-precondition/05-update-trigger.yaml
  test/conformance/kuttl/generate/clusterpolicy/standard/clone/sync/cpol-clone-sync-existing-update-trigger-no-precondition/06-sleep.yaml
  test/conformance/kuttl/generate/clusterpolicy/standard/clone/sync/cpol-clone-sync-existing-update-trigger-no-precondition/07-downstream-deleted.yaml
  test/conformance/kuttl/generate/clusterpolicy/standard/clone/sync/cpol-clone-sync-existing-update-trigger-no-precondition/README.md
  test/conformance/kuttl/generate/clusterpolicy/standard/clone/sync/cpol-clone-sync-existing-update-trigger-no-precondition/downstream.yaml
  test/conformance/kuttl/generate/clusterpolicy/standard/clone/sync/cpol-clone-sync-no-existing-update-trigger-no-precondition/01-assert.yaml
  test/conformance/kuttl/generate/clusterpolicy/standard/clone/sync/cpol-clone-sync-no-existing-update-trigger-no-precondition/01-manifests.yaml
  test/conformance/kuttl/generate/clusterpolicy/standard/clone/sync/cpol-clone-sync-no-existing-update-trigger-no-precondition/02-trigger.yaml
  test/conformance/kuttl/generate/clusterpolicy/standard/clone/sync/cpol-clone-sync-no-existing-update-trigger-no-precondition/03-downstream-created.yaml
  test/conformance/kuttl/generate/clusterpolicy/standard/clone/sync/cpol-clone-sync-no-existing-update-trigger-no-precondition/04-update-trigger.yaml
  test/conformance/kuttl/generate/clusterpolicy/standard/clone/sync/cpol-clone-sync-no-existing-update-trigger-no-precondition/05-sleep.yaml
  test/conformance/kuttl/generate/clusterpolicy/standard/clone/sync/cpol-clone-sync-no-existing-update-trigger-no-precondition/06-downstream-deleted.yaml
  test/conformance/kuttl/generate/clusterpolicy/standard/clone/sync/cpol-clone-sync-no-existing-update-trigger-no-precondition/README.md
  test/conformance/kuttl/generate/clusterpolicy/standard/clone/sync/cpol-clone-sync-no-existing-update-trigger-no-precondition/downstream.yaml
  test/conformance/kuttl/generate/clusterpolicy/standard/data/sync/cpol-data-sync-existing-update-trigger-no-precondition/01-rbac.yaml
  test/conformance/kuttl/generate/clusterpolicy/standard/data/sync/cpol-data-sync-existing-update-trigger-no-precondition/01-trigger.yaml
  test/conformance/kuttl/generate/clusterpolicy/standard/data/sync/cpol-data-sync-existing-update-trigger-no-precondition/02-assert.yaml
  test/conformance/kuttl/generate/clusterpolicy/standard/data/sync/cpol-data-sync-existing-update-trigger-no-precondition/02-manifests.yaml
  test/conformance/kuttl/generate/clusterpolicy/standard/data/sync/cpol-data-sync-existing-update-trigger-no-precondition/03-update-trigger.yaml
  test/conformance/kuttl/generate/clusterpolicy/standard/data/sync/cpol-data-sync-existing-update-trigger-no-precondition/04-downstream-created.yaml
  test/conformance/kuttl/generate/clusterpolicy/standard/data/sync/cpol-data-sync-existing-update-trigger-no-precondition/05-update-trigger.yaml
  test/conformance/kuttl/generate/clusterpolicy/standard/data/sync/cpol-data-sync-existing-update-trigger-no-precondition/06-sleep.yaml
  test/conformance/kuttl/generate/clusterpolicy/standard/data/sync/cpol-data-sync-existing-update-trigger-no-precondition/07-downstream-deleted.yaml
  test/conformance/kuttl/generate/clusterpolicy/standard/data/sync/cpol-data-sync-existing-update-trigger-no-precondition/README.md
  test/conformance/kuttl/generate/clusterpolicy/standard/data/sync/cpol-data-sync-existing-update-trigger-no-precondition/downstream.yaml
  test/conformance/kuttl/generate/clusterpolicy/standard/data/sync/cpol-data-sync-no-existing-update-trigger-no-precondition/01-rbac.yaml
  test/conformance/kuttl/generate/clusterpolicy/standard/data/sync/cpol-data-sync-no-existing-update-trigger-no-precondition/02-assert.yaml
  test/conformance/kuttl/generate/clusterpolicy/standard/data/sync/cpol-data-sync-no-existing-update-trigger-no-precondition/02-manifests.yaml
  test/conformance/kuttl/generate/clusterpolicy/standard/data/sync/cpol-data-sync-no-existing-update-trigger-no-precondition/03-trigger.yaml
  test/conformance/kuttl/generate/clusterpolicy/standard/data/sync/cpol-data-sync-no-existing-update-trigger-no-precondition/04-downstream-created.yaml
  test/conformance/kuttl/generate/clusterpolicy/standard/data/sync/cpol-data-sync-no-existing-update-trigger-no-precondition/05-update-trigger.yaml
  test/conformance/kuttl/generate/clusterpolicy/standard/data/sync/cpol-data-sync-no-existing-update-trigger-no-precondition/06-sleep.yaml
  test/conformance/kuttl/generate/clusterpolicy/standard/data/sync/cpol-data-sync-no-existing-update-trigger-no-precondition/07-downstream-deleted.yaml
  test/conformance/kuttl/generate/clusterpolicy/standard/data/sync/cpol-data-sync-no-existing-update-trigger-no-precondition/README.md
  test/conformance/kuttl/generate/clusterpolicy/standard/data/sync/cpol-data-sync-no-existing-update-trigger-no-precondition/downstream.yaml
Labels: cherry-pick-required, milestone 1.10.1

#7552 fix: recursive lazy loading
  pkg/engine/context/evaluate.go
Labels: cherry-pick-required, milestone 1.10.1

#7546 feat: cache regex
  pkg/config/types.go
  pkg/validation/policy/validate.go
Labels: milestone 1.11.0

#7563 Fix: Mutate: Foreach: Error cause is missing
  pkg/engine/handlers/mutation/common.go
Labels: cherry-pick-required, milestone 1.10.1

#7114 Enable flexible registry credential configurations
  api/kyverno/v1/common_types.go
  api/kyverno/v1/image_verification_types.go
  api/kyverno/v1/zz_generated.deepcopy.go
  api/kyverno/v2beta1/image_verification_types.go
  api/kyverno/v2beta1/zz_generated.deepcopy.go
  charts/kyverno/templates/crds/crds.yaml
  cmd/background-controller/main.go
  cmd/cli/kubectl-kyverno/utils/common/common.go
  cmd/cli/kubectl-kyverno/utils/common/kyverno_policies_types.go
  cmd/cli/kubectl-kyverno/utils/store/contextloader.go
  cmd/internal/engine.go
  cmd/internal/registry.go
  cmd/internal/setup.go
  cmd/kyverno/main.go
  cmd/reports-controller/main.go
  config/crds/kyverno.io_cleanuppolicies.yaml
  config/crds/kyverno.io_clustercleanuppolicies.yaml
  config/crds/kyverno.io_clusterpolicies.yaml
  config/crds/kyverno.io_policies.yaml
  config/install-latest-testing.yaml
  docs/user/crd/index.html
  pkg/engine/adapters/rclient.go
  pkg/engine/api/client.go
  pkg/engine/api/context.go
  pkg/engine/api/contextloader.go
  pkg/engine/engine.go
  pkg/engine/factories/contextloaderfactory.go
  pkg/engine/factories/registryclientfactory.go
  pkg/engine/handlers/mutation/mutate_image.go
  pkg/engine/image_verify.go
  pkg/engine/image_verify_test.go
  pkg/engine/internal/imageverifier.go
  pkg/engine/mutation_test.go
  pkg/engine/test/contextloader.go
  pkg/engine/validation_test.go
  pkg/webhooks/resource/fake.go
  pkg/webhooks/resource/handlers.go
  pkg/webhooks/resource/validation_test.go
  test/conformance/kuttl/verifyImages/clusterpolicy/standard/keyed-secret-from-policy/01-assert.yaml
  test/conformance/kuttl/verifyImages/clusterpolicy/standard/keyed-secret-from-policy/01-manifests.yaml
  test/conformance/kuttl/verifyImages/clusterpolicy/standard/keyed-secret-from-policy/02-assert.yaml
  test/conformance/kuttl/verifyImages/clusterpolicy/standard/keyed-secret-from-policy/02-goodpod.yaml
  test/conformance/kuttl/verifyImages/clusterpolicy/standard/keyed-secret-from-policy/README.md
Labels: Documentation, milestone 1.11.0

#7564 fix: background image verification not working
  pkg/controllers/report/utils/scanner.go
Labels: cherry-pick-required, milestone 1.10.1

#7475 feat: make aggregated reports optional
  CHANGELOG.md
  charts/kyverno/README.md
  charts/kyverno/templates/_helpers.tpl
  charts/kyverno/templates/reports-controller/deployment.yaml
  charts/kyverno/values.yaml
  cmd/reports-controller/main.go
  config/install-latest-testing.yaml
Labels: doc required, milestone 1.11.0

#7572 Helpers to providers
  api/kyverno/v1/image_verification_types.go
  api/kyverno/v1/zz_generated.deepcopy.go
  charts/kyverno/templates/crds/crds.yaml
  cmd/internal/registry.go
  config/crds/kyverno.io_cleanuppolicies.yaml
  config/crds/kyverno.io_clustercleanuppolicies.yaml
  config/crds/kyverno.io_clusterpolicies.yaml
  config/crds/kyverno.io_policies.yaml
  config/install-latest-testing.yaml
  docs/user/crd/index.html
  pkg/engine/factories/registryclientfactory.go
  pkg/registryclient/client.go
Labels: milestone 1.11.0

#7575 fix: update typos in docs/dev/reports/README.md
  docs/dev/reports/README.md
Labels: milestone 1.11.0

#7573 Update version drop-downs
  .github/ISSUE_TEMPLATE/bug-cli.yaml
  .github/ISSUE_TEMPLATE/bug-other.yaml
  .github/ISSUE_TEMPLATE/bug-webhook.yaml
Labels: milestone 1.11.0

#6772 fix: couple of issues in policy interface
  api/kyverno/v1/clusterpolicy_test.go
  api/kyverno/v1/clusterpolicy_types.go
  api/kyverno/v1/policy_interface.go
  api/kyverno/v1/policy_types.go
  api/kyverno/v2beta1/clusterpolicy_test.go
Labels: milestone 1.11.0

#7571 fix: autogen not working correctly with cronjob conditions
  pkg/autogen/autogen.go
  pkg/autogen/autogen_test.go
  pkg/autogen/rule.go
  test/conformance/kuttl/autogen/conditions/01-policy.yaml
  test/conformance/kuttl/autogen/conditions/README.md
  test/conformance/kuttl/autogen/conditions/policy-assert.yaml
  test/conformance/kuttl/autogen/conditions/policy.yaml
Labels: cherry-pick-required, milestone 1.10.1

#7580 chore: bump otel deps
  cmd/cleanup-controller/handlers/cleanup/handlers.go
  go.mod
  go.sum
  pkg/controllers/metrics/policy/controller.go
  pkg/engine/engine.go
  pkg/metrics/fake.go
  pkg/metrics/init.go
  pkg/utils/controller/run.go
  pkg/webhooks/handlers/metrics.go
Labels: milestone 1.11.0

#7582 fix: validate subject kind
  api/kyverno/v1/user_info_types.go
  test/conformance/kuttl/policy-validation/cluster-policy/invalid-subject-kind/01-policies.yaml
  test/conformance/kuttl/policy-validation/cluster-policy/invalid-subject-kind/README.md
  test/conformance/kuttl/policy-validation/cluster-policy/invalid-subject-kind/policy.yaml
Labels: milestone 1.11.0

#7136 Add JMESPath function for dynamic object/array lookup
  pkg/engine/jmespath/error.go
  pkg/engine/jmespath/functions.go
  pkg/engine/jmespath/functions_test.go
  pkg/engine/jmespath/utils.go
  pkg/engine/jmespath/utils_test.go
Labels: Documentation, milestone 1.11.0

#7585 chore: fix token permissions
  .github/workflows/fossa.yml
  .github/workflows/helm-test.yaml
Labels: milestone 1.11.0

#7568 Test policy library
  .github/workflows/conformance.yaml
Labels: milestone 1.11.0

#7587 fix: scorecard workflow
  .github/workflows/scorecard.yaml
Labels: milestone 1.11.0

#7588 fix: make configuring max procs not exit in case of error
  cmd/internal/maxprocs.go
Labels: cherry-pick-required, milestone 1.10.1

#7589 chore: reduce sleep duration for generate kuttl tests
  test/conformance/kuttl/generate/clusterpolicy/cornercases/pod-restart-on-cm-update/05-sleep.yaml
  test/conformance/kuttl/generate/clusterpolicy/standard/clone/nosync/cpol-clone-nosync-delete-source/04-forcesleep.yaml
  test/conformance/kuttl/generate/clusterpolicy/standard/clone/nosync/cpol-clone-nosync-modify-downstream/04-forcesleep.yaml
  test/conformance/kuttl/generate/clusterpolicy/standard/clone/nosync/cpol-clone-nosync-modify-source/04-forcesleep.yaml
  test/conformance/kuttl/generate/clusterpolicy/standard/clone/sync/cpol-clone-sync-delete-policy/00-sleep.yaml
  test/conformance/kuttl/generate/clusterpolicy/standard/clone/sync/cpol-clone-sync-delete-policy/05-sleep.yaml
  test/conformance/kuttl/generate/clusterpolicy/standard/clone/sync/cpol-clone-sync-delete-rule/00-sleep.yaml
  test/conformance/kuttl/generate/clusterpolicy/standard/clone/sync/cpol-clone-sync-modify-downstream/00-sleep.yaml
  test/conformance/kuttl/generate/clusterpolicy/standard/existing/existing-basic-add-rule-data/03-sleep.yaml
  test/conformance/kuttl/generate/clusterpolicy/standard/existing/existing-basic-add-rule-data/06-sleep.yaml
  test/conformance/kuttl/generate/clusterpolicy/standard/existing/existing-basic-create-policy-data/03-sleep.yaml
  test/conformance/kuttl/generate/policy/standard/clone/nosync/pol-clone-nosync-delete-downstream/05-sleep.yaml
  test/conformance/kuttl/generate/policy/standard/clone/nosync/pol-clone-nosync-delete-policy/04-sleep.yaml
  test/conformance/kuttl/generate/policy/standard/clone/nosync/pol-clone-nosync-delete-rule/04-sleep.yaml
  test/conformance/kuttl/generate/policy/standard/clone/nosync/pol-clone-nosync-delete-source/04-sleep.yaml
  test/conformance/kuttl/generate/policy/standard/clone/nosync/pol-clone-nosync-modify-downstream/04-sleep.yaml
  test/conformance/kuttl/generate/policy/standard/clone/nosync/pol-clone-nosync-modify-source/04-sleep.yaml
  test/conformance/kuttl/generate/policy/standard/clone/sync/pol-clone-sync-delete-policy/05-sleep.yaml
  test/conformance/kuttl/generate/policy/standard/clone/sync/pol-clone-sync-delete-rule/04-sleep.yaml
  test/conformance/kuttl/generate/policy/standard/clone/sync/pol-clone-sync-delete-source/04-sleep.yaml
  test/conformance/kuttl/generate/policy/standard/data/sync/pol-data-sync-delete-trigger/03-sleep.yaml
Labels: milestone 1.10.1

#7596 fix: CLI tests
  .github/workflows/cli.yaml
  Makefile
Labels: cherry-pick-required, milestone 1.10.1

#7579 fix: deletion mismatch for the generate policy
  api/kyverno/v1/resource_spec_types.go
  pkg/background/generate/cleanup.go
  test/conformance/kuttl/generate/clusterpolicy/standard/clone/sync/cpol-clone-list-sync-delete-source/01-assert.yaml
  test/conformance/kuttl/generate/clusterpolicy/standard/clone/sync/cpol-clone-list-sync-delete-source/01-manifests.yaml
  test/conformance/kuttl/generate/clusterpolicy/standard/clone/sync/cpol-clone-list-sync-delete-source/02-check.yaml
  test/conformance/kuttl/generate/clusterpolicy/standard/clone/sync/cpol-clone-list-sync-delete-source/03-delete.yaml
  test/conformance/kuttl/generate/clusterpolicy/standard/clone/sync/cpol-clone-list-sync-delete-source/04-sleep.yaml
  test/conformance/kuttl/generate/clusterpolicy/standard/clone/sync/cpol-clone-list-sync-delete-source/05-check.yaml
  test/conformance/kuttl/generate/clusterpolicy/standard/clone/sync/cpol-clone-list-sync-delete-source/README.md
  test/conformance/kuttl/generate/clusterpolicy/standard/clone/sync/cpol-clone-list-sync-delete-source/target-1.yaml
  test/conformance/kuttl/generate/clusterpolicy/standard/clone/sync/cpol-clone-list-sync-delete-source/target-2.yaml
  test/conformance/kuttl/generate/clusterpolicy/standard/clone/sync/cpol-clone-list-sync-delete-source/triggers.yaml
  test/conformance/kuttl/generate/clusterpolicy/standard/data/sync/cpol-data-sync-delete-one-trigger/01-assert.yaml
  test/conformance/kuttl/generate/clusterpolicy/standard/data/sync/cpol-data-sync-delete-one-trigger/01-manifests.yaml
  test/conformance/kuttl/generate/clusterpolicy/standard/data/sync/cpol-data-sync-delete-one-trigger/02-check.yaml
  test/conformance/kuttl/generate/clusterpolicy/standard/data/sync/cpol-data-sync-delete-one-trigger/03-delete.yaml
  test/conformance/kuttl/generate/clusterpolicy/standard/data/sync/cpol-data-sync-delete-one-trigger/04-sleep.yaml
  test/conformance/kuttl/generate/clusterpolicy/standard/data/sync/cpol-data-sync-delete-one-trigger/05-check.yaml
  test/conformance/kuttl/generate/clusterpolicy/standard/data/sync/cpol-data-sync-delete-one-trigger/README.md
  test/conformance/kuttl/generate/clusterpolicy/standard/data/sync/cpol-data-sync-delete-one-trigger/target-1.yaml
  test/conformance/kuttl/generate/clusterpolicy/standard/data/sync/cpol-data-sync-delete-one-trigger/target-others.yaml
  test/conformance/kuttl/generate/clusterpolicy/standard/data/sync/cpol-data-sync-delete-one-trigger/trigger-1.yaml
  test/conformance/kuttl/generate/clusterpolicy/standard/data/sync/cpol-data-sync-delete-one-trigger/trigger-others.yaml
Labels: cherry-pick-required, milestone 1.10.1

#7605 fix: scorecard workflow
  .github/workflows/scorecard.yaml
Labels: cherry-pick-required, milestone 1.10.1

#7611 fix: token permissions on report vulns workflow
  .github/workflows/report-on-vulnerabilities.yaml
Labels: milestone 1.11.0

#7619 fix: token permissions
  .github/workflows/check-actions.yaml
Labels: milestone 1.11.0

#7617 fix: update the flag descriptions of the reports-controller
  cmd/reports-controller/main.go
Labels: cherry-pick-required, milestone 1.10.1

#7613 fix: panic if env var not defined
  charts/kyverno/templates/admission-controller/deployment.yaml
  charts/kyverno/templates/background-controller/deployment.yaml
  charts/kyverno/templates/cleanup-controller/deployment.yaml
  charts/kyverno/templates/reports-controller/deployment.yaml
  cmd/internal/check.go
  cmd/internal/setup.go
  config/install-latest-testing.yaml
Labels: milestone 1.11.0

#7623 fix: service account name env var defined twice
  charts/kyverno/templates/cleanup-controller/deployment.yaml
  config/install-latest-testing.yaml
Labels: milestone 1.11.0

#7620 fix: reduce number of queries to detect delete operations
  pkg/engine/variables/vars.go
Labels: milestone 1.11.0

#7624 fix: token permissions
  .github/workflows/conformance.yaml
Labels: milestone 1.11.0

#7626 fix: harden cleanup controller rbac
  charts/kyverno/templates/cleanup-controller/clusterrole.yaml
  charts/kyverno/templates/cleanup-controller/role.yaml
  config/install-latest-testing.yaml
Labels: milestone 1.11.0

#7629 fix: stop using lister in tls renewer
  cmd/cleanup-controller/main.go
  cmd/cleanup-controller/server.go
  cmd/kyverno/main.go
  pkg/tls/renewer.go
  pkg/utils/runtime/utils.go
  pkg/webhooks/handlers/probe.go
Labels: milestone 1.11.0

#7615 fix workflow
  .github/workflows/report-on-vulnerabilities.yaml
Labels: milestone 1.11.0

#7633 feat: enable Helm webhook cleanup hook by default
  charts/kyverno/Chart.yaml
  charts/kyverno/README.md
  charts/kyverno/templates/admission-controller/role.yaml
  charts/kyverno/templates/hooks/pre-delete.yaml
  charts/kyverno/values.yaml
Labels: cherry-pick-required, milestone 1.10.1

#7630 fix: cleanup controllerutils client interfaces
  pkg/utils/controller/utils.go
  pkg/webhooks/server.go
Labels: milestone 1.11.0

#7634 fix: harden certs secrets management
  charts/kyverno/templates/cleanup-controller/role.yaml
  cmd/cleanup-controller/main.go
  cmd/kyverno/main.go
  config/install-latest-testing.yaml
  pkg/controllers/certmanager/controller.go
  pkg/informers/helpers.go
  pkg/informers/secrets.go
Labels: milestone 1.11.0

#7628 fix: auth checks with the APIVersion and the subresource
  pkg/auth/auth.go
  pkg/policy/generate/auth.go
  pkg/policy/generate/fake/auth.go
  pkg/policy/generate/validate.go
  pkg/policy/mutate/auth.go
  pkg/policy/mutate/validate.go
  test/conformance/kuttl/generate/validation/clusterpolicy/permissions/no-permission/01-fail-no-permission.yaml
  test/conformance/kuttl/generate/validation/clusterpolicy/permissions/no-permission/02-update-clusterrole.yaml
  test/conformance/kuttl/generate/validation/clusterpolicy/permissions/no-permission/03-pass.yaml
  test/conformance/kuttl/generate/validation/clusterpolicy/permissions/no-permission/04-delete.yaml
  test/conformance/kuttl/generate/validation/clusterpolicy/permissions/no-permission/05-pass.yaml
  test/conformance/kuttl/generate/validation/clusterpolicy/permissions/no-permission/06-delete.yaml
  test/conformance/kuttl/generate/validation/clusterpolicy/permissions/no-permission/README.md
  test/conformance/kuttl/generate/validation/clusterpolicy/permissions/no-permission/policy-assert.yaml
  test/conformance/kuttl/generate/validation/clusterpolicy/permissions/no-permission/policy-with-var.yaml
  test/conformance/kuttl/generate/validation/clusterpolicy/permissions/no-permission/policy.yaml
  test/conformance/kuttl/generate/validation/clusterpolicy/permissions/same-kind/01-clusterrole.yaml
  test/conformance/kuttl/generate/validation/clusterpolicy/permissions/same-kind/01-crd.yaml
  test/conformance/kuttl/generate/validation/clusterpolicy/permissions/same-kind/02-assert.yaml
  test/conformance/kuttl/generate/validation/clusterpolicy/permissions/same-kind/03-check.yaml
  test/conformance/kuttl/generate/validation/clusterpolicy/permissions/same-kind/README.md
  test/conformance/kuttl/generate/validation/clusterpolicy/permissions/same-kind/policy-1-subresource.yaml
  test/conformance/kuttl/generate/validation/clusterpolicy/permissions/same-kind/policy-1.yaml
  test/conformance/kuttl/generate/validation/clusterpolicy/permissions/same-kind/policy-2-subresource.yaml
  test/conformance/kuttl/generate/validation/clusterpolicy/permissions/same-kind/policy-2.yaml
  test/conformance/kuttl/generate/validation/clusterpolicy/target-namespace-scope/01-update-clusterrole.yaml
Labels: cherry-pick-required, milestone 1.10.1

#7638 fix: harden rbac permissions
  charts/kyverno/templates/background-controller/role.yaml
  charts/kyverno/templates/reports-controller/role.yaml
  config/install-latest-testing.yaml
Labels: milestone 1.11.0

#7650 [Chore] bump notation-go from 1.0.0-rc.3 -> 1.0.0-rc.6
  .nancy-ignore
  go.mod
  go.sum
  pkg/notary/notary.go
  pkg/notary/repository.go
  pkg/notary/repository_test.go
Labels: cherry-pick-required, milestone 1.10.1

#7653 fix: vscode debug config
  .vscode/launch.json
Labels: milestone 1.11.0

#7665 fix: pr updater workflow
  .github/workflows/pr-update.yaml
Labels: milestone 1.11.0

#7666 [Chore] bump notation-go from 1.0.0-rc.3 -> 1.0.0-rc.6
  .nancy-ignore
  go.mod
  go.sum
  pkg/notary/notary.go
Labels: cherry-pick-required, milestone 1.10.1

#7671 refactor: add specific loaders from #7597
  pkg/engine/api/context.go
  pkg/engine/api/contextloader.go
  pkg/engine/api/resolver_test.go
  pkg/engine/apicall/apiCall.go
  pkg/engine/apicall/apiCall_test.go
  pkg/engine/context/loader.go
  pkg/engine/context/loaders/apicall.go
  pkg/engine/context/loaders/configmap.go
  pkg/engine/context/loaders/imagedata.go
  pkg/engine/context/loaders/variable.go
Labels: cherry-pick-required, milestone 1.10.1

#7659 feat: add cluster select and relabling config for ServiceMonitors
  charts/kyverno/README.md
  charts/kyverno/ci/monitoring-values.yaml
  charts/kyverno/grafana/dashboard.json
  charts/kyverno/templates/admission-controller/servicemonitor.yaml
  charts/kyverno/templates/background-controller/servicemonitor.yaml
  charts/kyverno/templates/cleanup-controller/servicemonitor.yaml
  charts/kyverno/templates/grafana/dashboard.yaml
  charts/kyverno/templates/reports-controller/servicemonitor.yaml
  charts/kyverno/values.yaml
Labels: cherry-pick-required, milestone 1.10.1

#7672 fix: cleanup controller context from #7597
  charts/kyverno/templates/cleanup-controller/clusterrole.yaml
  cmd/cleanup-controller/handlers/cleanup/handlers.go
  cmd/cleanup-controller/main.go
  config/install-latest-testing.yaml
Labels: cherry-pick-required, milestone 1.10.1

#7669 fix: cleanup controller rbac
  charts/kyverno/templates/cleanup-controller/role.yaml
  config/install-latest-testing.yaml
Labels: cherry-pick-required, milestone 1.10.1

#7675 refactor: add specific loaders from #7597 (cherry-pick #7671)
  pkg/engine/api/context.go
  pkg/engine/api/contextloader.go
  pkg/engine/api/resolver_test.go
  pkg/engine/apicall/apiCall.go
  pkg/engine/apicall/apiCall_test.go
  pkg/engine/context/loader.go
  pkg/engine/context/loaders/apicall.go
  pkg/engine/context/loaders/configmap.go
  pkg/engine/context/loaders/imagedata.go
  pkg/engine/context/loaders/variable.go
Labels: milestone 1.10.1

#7676 refactor: migrate context loaders (part 1) from #7597
  pkg/engine/context/context.go
  pkg/engine/context/evaluate.go
  pkg/engine/factories/contextloaderfactory.go
Labels: cherry-pick-required, milestone 1.10.1

#7677 refactor: migrate context loaders (part 2) from #7597
  Makefile
  cmd/cli/kubectl-kyverno/apply/apply_command.go
  cmd/cli/kubectl-kyverno/test/test.go
  cmd/cli/kubectl-kyverno/utils/store/contextloader.go
  cmd/cli/kubectl-kyverno/utils/store/store.go
  pkg/engine/api/context.go
  pkg/engine/mutation_test.go
  pkg/engine/test/contextloader.go
  pkg/engine/validation_test.go
  test/cli/registry/kyverno-test.yaml
  test/cli/test/context-entries/kyverno-test.yaml
Labels: cherry-pick-required, milestone 1.10.1

#7678 refactor: migrate context loaders (part 1) from #7597 (cherry-pick #7676)
  cmd/cli/kubectl-kyverno/utils/store/contextloader.go
  cmd/internal/engine.go
  pkg/engine/api/contextloader.go
  pkg/engine/context/context.go
  pkg/engine/context/evaluate.go
  pkg/engine/factories/contextloaderfactory.go
  pkg/engine/image_verify_test.go
  pkg/engine/mutation_test.go
  pkg/engine/validation_test.go
  pkg/webhooks/resource/fake.go
  pkg/webhooks/resource/validation_test.go
Labels: milestone 1.10.1

#7680 feat: add lazy loading feature flag
  charts/kyverno/README.md
  charts/kyverno/templates/_helpers.tpl
  charts/kyverno/templates/admission-controller/deployment.yaml
  charts/kyverno/templates/background-controller/deployment.yaml
  charts/kyverno/templates/cleanup-controller/deployment.yaml
  charts/kyverno/templates/reports-controller/deployment.yaml
  charts/kyverno/values.yaml
  cmd/background-controller/main.go
  cmd/cleanup-controller/main.go
  cmd/internal/config.go
  cmd/internal/flag.go
  cmd/kyverno/main.go
  cmd/reports-controller/main.go
  config/install-latest-testing.yaml
  pkg/engine/context/loaders/apicall.go
  pkg/engine/factories/contextloaderfactory.go
  pkg/toggle/context.go
  pkg/toggle/toggle.go
Labels: cherry-pick-required, milestone 1.10.1

#7679 fix: cleanup controller rbac (cherry-pick #7669)
  charts/kyverno/templates/cleanup-controller/role.yaml
  config/install-latest-testing.yaml
Labels: milestone 1.10.1

#7667 fix: factorise confimap informer code
  pkg/controllers/generic/configmap/controller.go
  pkg/informers/configmaps.go
Labels: milestone 1.11.0

#7690 refactor: migrate context loaders (part 2) from #7597 (cherry-pick #7677)
  Makefile
  cmd/cli/kubectl-kyverno/apply/apply_command.go
  cmd/cli/kubectl-kyverno/test/test_command.go
  cmd/cli/kubectl-kyverno/utils/store/contextloader.go
  cmd/cli/kubectl-kyverno/utils/store/store.go
  pkg/engine/api/context.go
  pkg/engine/mutation_test.go
  pkg/engine/test/contextloader.go
  pkg/engine/validation_test.go
  test/cli/registry/kyverno-test.yaml
  test/cli/test/context-entries/kyverno-test.yaml
Labels: milestone 1.10.1

#7691 feat: add lazy loading feature flag (cherry-pick #7680)
  charts/kyverno/README.md
  charts/kyverno/templates/_helpers.tpl
  charts/kyverno/templates/admission-controller/deployment.yaml
  charts/kyverno/templates/background-controller/deployment.yaml
  charts/kyverno/templates/cleanup-controller/deployment.yaml
  charts/kyverno/templates/reports-controller/deployment.yaml
  charts/kyverno/values.yaml
  cmd/background-controller/main.go
  cmd/cleanup-controller/main.go
  cmd/internal/config.go
  cmd/internal/flag.go
  cmd/kyverno/main.go
  cmd/reports-controller/main.go
  config/install-latest-testing.yaml
  pkg/engine/context/loaders/apicall.go
  pkg/engine/factories/contextloaderfactory.go
  pkg/toggle/toggle.go
Labels: milestone 1.10.1

#7692 fix: image verification (cherry-pick #7652)
  pkg/engine/internal/imageverifier.go
  test/conformance/kuttl/verifyImages/clusterpolicy/standard/update-multi-containers/01-policy.yaml
  test/conformance/kuttl/verifyImages/clusterpolicy/standard/update-multi-containers/02-resource.yaml
  test/conformance/kuttl/verifyImages/clusterpolicy/standard/update-multi-containers/README.md
  test/conformance/kuttl/verifyImages/clusterpolicy/standard/update-multi-containers/policy-assert.yaml
  test/conformance/kuttl/verifyImages/clusterpolicy/standard/update-multi-containers/policy.yaml
  test/conformance/kuttl/verifyImages/clusterpolicy/standard/update-multi-containers/resource-v1.yaml
  test/conformance/kuttl/verifyImages/clusterpolicy/standard/update-multi-containers/resource-v2.yaml
Labels: milestone 1.10.1

#7694 Fix deferred loading (cherry-pick #7597)
  .github/workflows/conformance.yaml
  Makefile
  cmd/cleanup-controller/handlers/cleanup/handlers.go
  pkg/config/config.go
  pkg/engine/api/resolver_test.go
  pkg/engine/context/context.go
  pkg/engine/context/deferred.go
  pkg/engine/context/deferred_test.go
  pkg/engine/context/evaluate.go
  pkg/engine/context/loader.go
  pkg/engine/engine.go
  pkg/engine/factories/contextloaderfactory.go
  pkg/engine/policycontext/policy_context.go
  test/conformance/kuttl/deferred/dependencies/01-apply-manifests.yaml
  test/conformance/kuttl/deferred/dependencies/02-testcase.yaml
  test/conformance/kuttl/deferred/dependencies/README.md
  test/conformance/kuttl/deferred/dependencies/deploy.yaml
  test/conformance/kuttl/deferred/dependencies/manifests.yaml
  test/conformance/kuttl/deferred/dependencies/policy-assert.yaml
  test/conformance/kuttl/deferred/foreach/01-apply.yaml
  test/conformance/kuttl/deferred/foreach/02-testcase.yaml
  test/conformance/kuttl/deferred/foreach/README.md
  test/conformance/kuttl/deferred/foreach/cm-assert.yaml
  test/conformance/kuttl/deferred/foreach/cm.yaml
  test/conformance/kuttl/deferred/foreach/manifests.yaml
  test/conformance/kuttl/deferred/foreach/policy-assert.yaml
  test/conformance/kuttl/deferred/recursive/01-policy.yaml
  test/conformance/kuttl/deferred/recursive/02-resource.yaml
  test/conformance/kuttl/deferred/recursive/README.md
  test/conformance/kuttl/deferred/recursive/policy-assert.yaml
  test/conformance/kuttl/deferred/recursive/policy.yaml
  test/conformance/kuttl/deferred/recursive/resource-assert.yaml
  test/conformance/kuttl/deferred/recursive/resource.yaml
  test/conformance/kuttl/deferred/resolve-overriden-variable/01-policy.yaml
  test/conformance/kuttl/deferred/resolve-overriden-variable/02-resource.yaml
  test/conformance/kuttl/deferred/resolve-overriden-variable/README.md
  test/conformance/kuttl/deferred/resolve-overriden-variable/policy-assert.yaml
  test/conformance/kuttl/deferred/resolve-overriden-variable/policy.yaml
  test/conformance/kuttl/deferred/resolve-overriden-variable/resource-assert.yaml
  test/conformance/kuttl/deferred/resolve-overriden-variable/resource.yaml
  test/conformance/kuttl/deferred/two-rules/01-policy.yaml
  test/conformance/kuttl/deferred/two-rules/02-resource.yaml
  test/conformance/kuttl/deferred/two-rules/README.md
  test/conformance/kuttl/deferred/two-rules/policy-assert.yaml
  test/conformance/kuttl/deferred/two-rules/policy.yaml
  test/conformance/kuttl/deferred/two-rules/resource-assert.yaml
  test/conformance/kuttl/deferred/two-rules/resource.yaml
Labels: milestone 1.10.1

#7688 fix: Swap any/all in the error message.
  pkg/validation/policy/background.go
Labels: cherry-pick-required, milestone 1.10.1

#7644 fix: customizable tracer configuration
  pkg/tracing/config.go
Labels: cherry-pick-required, milestone 1.10.1

#7704 fix: lock schema manager when updating it
  pkg/controllers/openapi/controller.go
  pkg/controllers/openapi/manager.go
  pkg/openapi/manager.go
Labels: cherry-pick-required, milestone 1.10.1

#7711 fix: release signing
  .github/workflows/release.yaml
  .goreleaser.yml
Labels: milestone 1.10.1

#7712 fix: remove show goreleaser version step
  .github/workflows/release.yaml
Labels: milestone 1.10.1

#7683 Feat: Upgrade controller-gen to v0.12.0 and fix tooling
  Makefile
  charts/kyverno/templates/crds/crds.yaml
  config/crds/kyverno.io_admissionreports.yaml
  config/crds/kyverno.io_backgroundscanreports.yaml
  config/crds/kyverno.io_cleanuppolicies.yaml
  config/crds/kyverno.io_clusteradmissionreports.yaml
  config/crds/kyverno.io_clusterbackgroundscanreports.yaml
  config/crds/kyverno.io_clustercleanuppolicies.yaml
  config/crds/kyverno.io_clusterpolicies.yaml
  config/crds/kyverno.io_policies.yaml
  config/crds/kyverno.io_policyexceptions.yaml
  config/crds/kyverno.io_updaterequests.yaml
  config/crds/wgpolicyk8s.io_clusterpolicyreports.yaml
  config/crds/wgpolicyk8s.io_policyreports.yaml
  config/install-latest-testing.yaml
Labels: milestone 1.11.0

#7713 fix: release signing (cherry-pick #7711)
  .github/workflows/release.yaml
  .goreleaser.yml
Labels: milestone 1.11.0

#7716 chore: use github token instead of pat
  .github/workflows/images-publish.yaml
Labels: milestone 1.11.0

#7719 fix: reduce token permissions
  .github/workflows/check-actions.yaml
  .github/workflows/cli.yaml
  .github/workflows/codecov.yaml
  .github/workflows/comment-commands.yaml
  .github/workflows/fossa.yml
  .github/workflows/images-build.yaml
Labels: milestone 1.11.0

#7721 fix: reduce token permissions
  .github/workflows/check-actions.yaml
  .github/workflows/cli.yaml
  .github/workflows/codecov.yaml
  .github/workflows/comment-commands.yaml
  .github/workflows/conformance.yaml
  .github/workflows/fossa.yml
  .github/workflows/helm-release.yaml
  .github/workflows/helm-test.yaml
  .github/workflows/images-build.yaml
  .github/workflows/images-publish.yaml
  .github/workflows/lint.yaml
  .github/workflows/nancy.yaml
  .github/workflows/pr-update.yaml
  .github/workflows/release.yaml
  .github/workflows/report-on-vulnerabilities.yaml
  .github/workflows/scorecard.yaml
  .github/workflows/sonarcloud.yaml
  .github/workflows/tests.yaml
  .github/workflows/verify-codegen.yaml
Labels: milestone 1.11.0

#7717 fix: make `test --fail-only` return 1 if there are failed tests
  cmd/cli/kubectl-kyverno/test/test_command.go
Labels: milestone 1.11.0

#7723 fix: use gh token instead of pat
  .github/workflows/helm-release.yaml
Labels: milestone 1.11.0

#7720 fix: remove obsolete scripts
  scripts/README.md
  scripts/create-e2e-infrastruture.sh
  scripts/deploy-controller-debug.sh
  scripts/deploy-controller.sh
  scripts/generate-self-signed-cert-and-k8secrets-debug.sh
  scripts/generate-self-signed-cert-and-k8secrets.sh
  scripts/generate-server-cert.sh
  scripts/verify-deployment.sh
Labels: milestone 1.11.0

#7729 fix: reduce token permissions
  .github/workflows/release.yaml
Labels: milestone 1.11.0

#7727 fix: use github token instead of pat
  .github/workflows/release.yaml
Labels: milestone 1.11.0

#7654 fix: use golang builtin version management
  .goreleaser.yml
  Makefile
  cmd/cli/kubectl-kyverno/main.go
  cmd/cli/kubectl-kyverno/version/command.go
  pkg/metrics/metrics.go
  pkg/tracing/config.go
  pkg/version/version.go
Labels: milestone 1.11.0
