Repository kyverno/kyverno, pull requests merged in 2023-03, with the labels that each got.

#6328 feat: add validations for generate immutable fields
  cmd/cli/kubectl-kyverno/apply/apply_command.go
  cmd/cli/kubectl-kyverno/oci/oci_push.go
  cmd/cli/kubectl-kyverno/test/test_command.go
  pkg/policy/validate.go
  pkg/policy/validate_test.go
  pkg/webhooks/policy/handlers.go
  test/conformance/kuttl/generate/validation/clusterpolicy/immutable-clone/01-cluster-policy.yaml
  test/conformance/kuttl/generate/validation/clusterpolicy/immutable-clone/02-update.yaml
  test/conformance/kuttl/generate/validation/clusterpolicy/immutable-clone/README.md
  test/conformance/kuttl/generate/validation/clusterpolicy/immutable-clone/policy-ready.yaml
  test/conformance/kuttl/generate/validation/clusterpolicy/immutable-clone/policy.yaml
  test/conformance/kuttl/generate/validation/clusterpolicy/immutable-clone/update-name.yaml
  test/conformance/kuttl/generate/validation/clusterpolicy/immutable-clone/update-namespace.yaml
  test/conformance/kuttl/generate/validation/clusterpolicy/immutable-clonelist/01-cluster-policy.yaml
  test/conformance/kuttl/generate/validation/clusterpolicy/immutable-clonelist/02-update.yaml
  test/conformance/kuttl/generate/validation/clusterpolicy/immutable-clonelist/README.md
  test/conformance/kuttl/generate/validation/clusterpolicy/immutable-clonelist/cluster-policy-ready.yaml
  test/conformance/kuttl/generate/validation/clusterpolicy/immutable-clonelist/cluster-policy.yaml
  test/conformance/kuttl/generate/validation/clusterpolicy/immutable-clonelist/update-kinds.yaml
  test/conformance/kuttl/generate/validation/clusterpolicy/immutable-clonelist/update-ns.yaml
  test/conformance/kuttl/generate/validation/clusterpolicy/immutable-clonelist/update-selector.yaml
  test/conformance/kuttl/generate/validation/clusterpolicy/immutable-downstream/01-assert.yaml
  test/conformance/kuttl/generate/validation/clusterpolicy/immutable-downstream/01-policy.yaml
  test/conformance/kuttl/generate/validation/clusterpolicy/immutable-downstream/02-update.yaml
  test/conformance/kuttl/generate/validation/clusterpolicy/immutable-downstream/README.md
  test/conformance/kuttl/generate/validation/clusterpolicy/immutable-downstream/update-apiversion.yaml
  test/conformance/kuttl/generate/validation/clusterpolicy/immutable-downstream/update-kind.yaml
  test/conformance/kuttl/generate/validation/clusterpolicy/immutable-downstream/update-name.yaml
  test/conformance/kuttl/generate/validation/clusterpolicy/immutable-downstream/update-namespace.yaml
  test/conformance/kuttl/generate/validation/policy/immutable-clone/01-policy.yaml
  test/conformance/kuttl/generate/validation/policy/immutable-clone/02-update.yaml
  test/conformance/kuttl/generate/validation/policy/immutable-clone/README.md
  test/conformance/kuttl/generate/validation/policy/immutable-clone/policy-ready.yaml
  test/conformance/kuttl/generate/validation/policy/immutable-clone/policy.yaml
  test/conformance/kuttl/generate/validation/policy/immutable-clone/update-name.yaml
  test/conformance/kuttl/generate/validation/policy/immutable-clone/update-namespace.yaml
  test/conformance/kuttl/generate/validation/policy/immutable-clonelist/01-policy.yaml
  test/conformance/kuttl/generate/validation/policy/immutable-clonelist/02-update.yaml
  test/conformance/kuttl/generate/validation/policy/immutable-clonelist/README.md
  test/conformance/kuttl/generate/validation/policy/immutable-clonelist/policy-ready.yaml
  test/conformance/kuttl/generate/validation/policy/immutable-clonelist/policy.yaml
  test/conformance/kuttl/generate/validation/policy/immutable-clonelist/update-kinds.yaml
  test/conformance/kuttl/generate/validation/policy/immutable-clonelist/update-ns.yaml
  test/conformance/kuttl/generate/validation/policy/immutable-clonelist/update-selector.yaml
  test/conformance/kuttl/generate/validation/policy/immutable-downstream/01-assert.yaml
  test/conformance/kuttl/generate/validation/policy/immutable-downstream/01-policy.yaml
  test/conformance/kuttl/generate/validation/policy/immutable-downstream/02-update.yaml
  test/conformance/kuttl/generate/validation/policy/immutable-downstream/README.md
  test/conformance/kuttl/generate/validation/policy/immutable-downstream/update-apiversion.yaml
  test/conformance/kuttl/generate/validation/policy/immutable-downstream/update-kind.yaml
  test/conformance/kuttl/generate/validation/policy/immutable-downstream/update-name.yaml
  test/conformance/kuttl/generate/validation/policy/immutable-downstream/update-namespace.yaml
Labels: milestone 1.10.0

#6429 fix: error log
  pkg/engine/variables/vars.go
Labels: cherry-pick-required, milestone 1.9.1

#6439 fix: remove timestamp checks for the clone rule
  cmd/cli/kubectl-kyverno/utils/common/common.go
  pkg/background/common/context.go
  pkg/background/generate/generate.go
  pkg/background/mutate/mutate.go
  pkg/policy/policy_controller.go
  test/conformance/kuttl/generate/clusterpolicy/cornercases/cpol-clone-sync-create-source-after-policy/01-assert.yaml
  test/conformance/kuttl/generate/clusterpolicy/cornercases/cpol-clone-sync-create-source-after-policy/01-manifests.yaml
  test/conformance/kuttl/generate/clusterpolicy/cornercases/cpol-clone-sync-create-source-after-policy/02-assert.yaml
  test/conformance/kuttl/generate/clusterpolicy/cornercases/cpol-clone-sync-create-source-after-policy/02-ns.yaml
  test/conformance/kuttl/generate/clusterpolicy/cornercases/cpol-clone-sync-create-source-after-policy/README.md
  test/conformance/kuttl/generate/policy/cornercases/pol-clone-sync-create-source-after-policy/01-assert.yaml
  test/conformance/kuttl/generate/policy/cornercases/pol-clone-sync-create-source-after-policy/01-manifests.yaml
  test/conformance/kuttl/generate/policy/cornercases/pol-clone-sync-create-source-after-policy/02-assert.yaml
  test/conformance/kuttl/generate/policy/cornercases/pol-clone-sync-create-source-after-policy/02-configmap.yaml
  test/conformance/kuttl/generate/policy/cornercases/pol-clone-sync-create-source-after-policy/README.md
Labels: milestone 1.10.0

#6453 refactor: helm admission controller replicas
  charts/kyverno/README.md
  charts/kyverno/README.md.gotmpl
  charts/kyverno/templates/NOTES.txt
  charts/kyverno/templates/admission-controller/deployment.yaml
  charts/kyverno/templates/admission-controller/poddisruptionbudget.yaml
  charts/kyverno/templates/validate.yaml
  charts/kyverno/values.yaml
Labels: milestone 1.10.0

#6454 refactor: helm admission controller config
  charts/kyverno/README.md
  charts/kyverno/README.md.gotmpl
  charts/kyverno/templates/admission-controller/deployment.yaml
  charts/kyverno/templates/admission-controller/poddisruptionbudget.yaml
  charts/kyverno/templates/cleanup-controller/deployment.yaml
  charts/kyverno/values.yaml
Labels: milestone 1.10.0

#6457 refactor: helm admission controller config
  charts/kyverno/README.md
  charts/kyverno/README.md.gotmpl
  charts/kyverno/templates/admission-controller/deployment.yaml
  charts/kyverno/templates/admission-controller/secret.yaml
  charts/kyverno/values.yaml
Labels: milestone 1.10.0

#6459 fix: update resource info in polex events
  pkg/event/events.go
Labels: cherry-pick-required, milestone 1.10.0, milestone 1.9.1

#6460 refactor: helm admission controller config
  charts/kyverno/README.md
  charts/kyverno/README.md.gotmpl
  charts/kyverno/templates/admission-controller/deployment.yaml
  charts/kyverno/templates/admission-controller/servicemonitor.yaml
  charts/kyverno/values.yaml
  scripts/config/dev/kyverno.yaml
Labels: milestone 1.10.0

#6321 [BREAKING CHANGE] fix: rename GenerateExistingOnPolicyUpdate to GenerateExisting
  api/kyverno/v1/spec_types.go
  api/kyverno/v2beta1/spec_types.go
  charts/kyverno/templates/crds/crds.yaml
  config/crds/kyverno.io_clusterpolicies.yaml
  config/crds/kyverno.io_policies.yaml
  docs/crd/v1/index.html
  docs/user/crd/index.html
  pkg/background/generate/generate.go
  pkg/policy/generate.go
  pkg/policy/policy_controller.go
  test/conformance/kuttl/generate/clusterpolicy/standard/clone/sync/cpol-clone-list-sync-create/cluster-policy.yaml
  test/conformance/kuttl/generate/clusterpolicy/standard/clone/sync/cpol-clone-list-sync-update/cluster-policy.yaml
  test/conformance/kuttl/generate/clusterpolicy/standard/data/nosync/cpol-data-nosync-delete-downstream/01-manifests.yaml
  test/conformance/kuttl/generate/clusterpolicy/standard/data/sync/cpol-data-sync-create/01-manifests.yaml
  test/conformance/kuttl/generate/clusterpolicy/standard/data/sync/cpol-data-sync-delete-policy/01-manifests.yaml
  test/conformance/kuttl/generate/clusterpolicy/standard/data/sync/cpol-data-sync-modify-rule/01-manifests.yaml
  test/conformance/kuttl/generate/clusterpolicy/standard/data/sync/cpol-data-sync-modify-rule/03-policy-update.yaml
  test/conformance/kuttl/generate/clusterpolicy/standard/existing/existing-basic-create-data/policy.yaml
  test/conformance/kuttl/generate/clusterpolicy/standard/existing/existing-basic-create-preconditions-data/policy.yaml
Labels: milestone 1.10.0

#6470 chore: rename generateExistingOnPolicyUpdate to generateExisting in tests
  pkg/policy/validate_test.go
  test/conformance/kuttl/generate/clusterpolicy/standard/data/nosync/cpol-data-nosync-delete-policy/policy.yaml
  test/conformance/kuttl/generate/clusterpolicy/standard/data/nosync/cpol-data-nosync-delete-rule/policy-with-rule-removed.yaml
  test/conformance/kuttl/generate/clusterpolicy/standard/data/nosync/cpol-data-nosync-delete-rule/policy.yaml
  test/conformance/kuttl/generate/clusterpolicy/standard/data/nosync/cpol-data-nosync-modify-downstream/policy.yaml
  test/conformance/kuttl/generate/clusterpolicy/standard/data/nosync/cpol-data-nosync-modify-rule/policy.yaml
  test/conformance/kuttl/generate/clusterpolicy/standard/data/nosync/cpol-data-nosync-modify-rule/rule-modified.yaml
  test/conformance/kuttl/generate/clusterpolicy/standard/data/sync/cpol-data-sync-delete-downstream/01-manifests.yaml
  test/conformance/kuttl/generate/clusterpolicy/standard/data/sync/cpol-data-sync-delete-rule/delete-rule.yaml
  test/conformance/kuttl/generate/clusterpolicy/standard/data/sync/cpol-data-sync-delete-rule/policy.yaml
  test/conformance/kuttl/generate/clusterpolicy/standard/data/sync/cpol-data-sync-modify-downstream/01-manifests.yaml
  test/conformance/kuttl/generate/policy/standard/data/nosync/pol-data-nosync-delete-rule/policy-with-rule-removed.yaml
  test/conformance/kuttl/generate/policy/standard/data/nosync/pol-data-nosync-delete-rule/policy.yaml
  test/conformance/kuttl/generate/policy/standard/data/sync/pol-data-sync-delete-rule/01-manifests.yaml
  test/conformance/kuttl/generate/policy/standard/data/sync/pol-data-sync-delete-rule/04-delete-rule.yaml
  test/conformance/kuttl/generate/policy/standard/data/sync/pol-data-sync-modify-rule/01-manifests.yaml
  test/conformance/kuttl/generate/policy/standard/data/sync/pol-data-sync-modify-rule/03-policy-update.yaml
  test/conformance/kuttl/generate/validation/clusterpolicy/immutable-clonelist/cluster-policy.yaml
  test/conformance/kuttl/generate/validation/clusterpolicy/immutable-clonelist/update-kinds.yaml
  test/conformance/kuttl/generate/validation/clusterpolicy/immutable-clonelist/update-ns.yaml
  test/conformance/kuttl/generate/validation/clusterpolicy/immutable-clonelist/update-selector.yaml
  test/conformance/kuttl/generate/validation/clusterpolicy/immutable-downstream/01-policy.yaml
  test/conformance/kuttl/generate/validation/clusterpolicy/immutable-downstream/update-apiversion.yaml
  test/conformance/kuttl/generate/validation/clusterpolicy/immutable-downstream/update-kind.yaml
  test/conformance/kuttl/generate/validation/clusterpolicy/immutable-downstream/update-name.yaml
  test/conformance/kuttl/generate/validation/clusterpolicy/immutable-downstream/update-namespace.yaml
  test/conformance/kuttl/generate/validation/policy/immutable-clonelist/policy.yaml
  test/conformance/kuttl/generate/validation/policy/immutable-clonelist/update-kinds.yaml
  test/conformance/kuttl/generate/validation/policy/immutable-clonelist/update-ns.yaml
  test/conformance/kuttl/generate/validation/policy/immutable-clonelist/update-selector.yaml
  test/conformance/kuttl/generate/validation/policy/immutable-downstream/01-policy.yaml
  test/conformance/kuttl/generate/validation/policy/immutable-downstream/update-apiversion.yaml
  test/conformance/kuttl/generate/validation/policy/immutable-downstream/update-kind.yaml
  test/conformance/kuttl/generate/validation/policy/immutable-downstream/update-name.yaml
  test/conformance/kuttl/generate/validation/policy/immutable-downstream/update-namespace.yaml
Labels: milestone 1.10.0

#6438 feat: disallow variables for a generate rule
  api/kyverno/v1/common_types.go
  api/kyverno/v1/rule_test.go
  api/kyverno/v1/rule_types.go
  api/kyverno/v2alpha1/policy_exception_types.go
  api/kyverno/v2beta1/rule_test.go
  api/kyverno/v2beta1/rule_types.go
  cmd/cli/kubectl-kyverno/utils/common/common.go
  pkg/engine/variables/regex/utils.go
  pkg/engine/variables/regex/vars.go
  pkg/engine/variables/regex/vars_test.go
  pkg/engine/variables/vars.go
  pkg/engine/variables/vars_test.go
  pkg/policy/generate/validate.go
  pkg/policy/validate.go
Labels: milestone 1.10.0

#6473 refactor: helm admission controller config
  Makefile
  charts/kyverno/README.md
  charts/kyverno/README.md.gotmpl
  charts/kyverno/ci/imageRegistry-values.yaml
  charts/kyverno/templates/NOTES.txt
  charts/kyverno/templates/admission-controller/deployment.yaml
  charts/kyverno/values.yaml
Labels: milestone 1.10.0

#6474 refactor: helm admission controller config
  Makefile
  charts/kyverno/README.md
  charts/kyverno/README.md.gotmpl
  charts/kyverno/ci/imageRegistry-values.yaml
  charts/kyverno/templates/NOTES.txt
  charts/kyverno/templates/admission-controller/deployment.yaml
  charts/kyverno/templates/admission-controller/service.yaml
  charts/kyverno/templates/networkpolicy.yaml
  charts/kyverno/templates/tests/_helpers.tpl
  charts/kyverno/templates/tests/admission-controller-liveness.yaml
  charts/kyverno/templates/tests/admission-controller-metrics.yaml
  charts/kyverno/templates/tests/admission-controller-readiness.yaml
  charts/kyverno/values.yaml
Labels: milestone 1.10.0

#6501 refactor: helm admission controller config
  charts/kyverno/README.md
  charts/kyverno/README.md.gotmpl
  charts/kyverno/ci/extraContainers-values.yaml
  charts/kyverno/templates/admission-controller/deployment.yaml
  charts/kyverno/values.yaml
  scripts/config/dev/kyverno.yaml
  scripts/config/standard/kyverno.yaml
Labels: milestone 1.10.0

#6472 fix: apply generate existing when a new rule is added
  pkg/policy/generate.go
  test/conformance/kuttl/generate/clusterpolicy/standard/existing/existing-basic-add-rule-data/01-existing.yaml
  test/conformance/kuttl/generate/clusterpolicy/standard/existing/existing-basic-add-rule-data/02-policy.yaml
  test/conformance/kuttl/generate/clusterpolicy/standard/existing/existing-basic-add-rule-data/03-sleep.yaml
  test/conformance/kuttl/generate/clusterpolicy/standard/existing/existing-basic-add-rule-data/04-checks.yaml
  test/conformance/kuttl/generate/clusterpolicy/standard/existing/existing-basic-add-rule-data/05-add-rule.yaml
  test/conformance/kuttl/generate/clusterpolicy/standard/existing/existing-basic-add-rule-data/06-sleep.yaml
  test/conformance/kuttl/generate/clusterpolicy/standard/existing/existing-basic-add-rule-data/07-checks.yaml
  test/conformance/kuttl/generate/clusterpolicy/standard/existing/existing-basic-add-rule-data/README.md
  test/conformance/kuttl/generate/clusterpolicy/standard/existing/existing-basic-add-rule-data/add-rule.yaml
  test/conformance/kuttl/generate/clusterpolicy/standard/existing/existing-basic-add-rule-data/existing-resources.yaml
  test/conformance/kuttl/generate/clusterpolicy/standard/existing/existing-basic-add-rule-data/netpol-blue.yaml
  test/conformance/kuttl/generate/clusterpolicy/standard/existing/existing-basic-add-rule-data/netpol-summer.yaml
  test/conformance/kuttl/generate/clusterpolicy/standard/existing/existing-basic-add-rule-data/netpol-yellow.yaml
  test/conformance/kuttl/generate/clusterpolicy/standard/existing/existing-basic-add-rule-data/policy-ready.yaml
  test/conformance/kuttl/generate/clusterpolicy/standard/existing/existing-basic-add-rule-data/policy.yaml
  test/conformance/kuttl/generate/clusterpolicy/standard/existing/existing-basic-create-policy-data/01-existing.yaml
  test/conformance/kuttl/generate/clusterpolicy/standard/existing/existing-basic-create-policy-data/02-policy.yaml
  test/conformance/kuttl/generate/clusterpolicy/standard/existing/existing-basic-create-policy-data/03-sleep.yaml
  test/conformance/kuttl/generate/clusterpolicy/standard/existing/existing-basic-create-policy-data/04-checks.yaml
  test/conformance/kuttl/generate/clusterpolicy/standard/existing/existing-basic-create-policy-data/README.md
  test/conformance/kuttl/generate/clusterpolicy/standard/existing/existing-basic-create-policy-data/existing-resources.yaml
  test/conformance/kuttl/generate/clusterpolicy/standard/existing/existing-basic-create-policy-data/fail-generated-resources.yaml
  test/conformance/kuttl/generate/clusterpolicy/standard/existing/existing-basic-create-policy-data/generated-resources.yaml
  test/conformance/kuttl/generate/clusterpolicy/standard/existing/existing-basic-create-policy-data/policy-ready.yaml
  test/conformance/kuttl/generate/clusterpolicy/standard/existing/existing-basic-create-policy-data/policy.yaml
  test/conformance/kuttl/generate/clusterpolicy/standard/existing/existing-basic-create-policy-preconditions-data/01-existing.yaml
  test/conformance/kuttl/generate/clusterpolicy/standard/existing/existing-basic-create-policy-preconditions-data/02-policy.yaml
  test/conformance/kuttl/generate/clusterpolicy/standard/existing/existing-basic-create-policy-preconditions-data/03-sleep.yaml
  test/conformance/kuttl/generate/clusterpolicy/standard/existing/existing-basic-create-policy-preconditions-data/04-checks.yaml
  test/conformance/kuttl/generate/clusterpolicy/standard/existing/existing-basic-create-policy-preconditions-data/README.md
  test/conformance/kuttl/generate/clusterpolicy/standard/existing/existing-basic-create-policy-preconditions-data/existing-resources.yaml
  test/conformance/kuttl/generate/clusterpolicy/standard/existing/existing-basic-create-policy-preconditions-data/fail-generated-resources.yaml
  test/conformance/kuttl/generate/clusterpolicy/standard/existing/existing-basic-create-policy-preconditions-data/generated-resources.yaml
  test/conformance/kuttl/generate/clusterpolicy/standard/existing/existing-basic-create-policy-preconditions-data/policy-ready.yaml
  test/conformance/kuttl/generate/clusterpolicy/standard/existing/existing-basic-create-policy-preconditions-data/policy.yaml
Labels: milestone 1.10.0

#6502 fix: release
  Makefile
Labels: milestone 1.9.1

#6504 refactor: helm admission controller config
  charts/kyverno/README.md
  charts/kyverno/README.md.gotmpl
  charts/kyverno/templates/admission-controller/deployment.yaml
  charts/kyverno/values.yaml
Labels: milestone 1.10.0

#6510 fix: compile regex globally
  pkg/utils/kube/kind.go
  pkg/utils/kube/kind_test.go
Labels: milestone 1.10.0

#6516 fix: lookup GVK from GVR
  pkg/background/mutate/mutate.go
  pkg/clients/dclient/discovery.go
  pkg/clients/dclient/discovery_test.go
  pkg/clients/dclient/fake.go
  pkg/clients/dclient/utils.go
Labels: milestone 1.10.0

#6518 chore: upload install manifest
  .github/workflows/verify-codegen.yaml
Labels: milestone 1.10.0

#6523 fix: file name
  pkg/utils/policy/marshal.go
Labels: milestone 1.10.0

#6517 fix: lookup GVR from GVK
  pkg/auth/auth.go
  pkg/auth/auth_test.go
  pkg/clients/dclient/client.go
  pkg/clients/dclient/discovery.go
  pkg/clients/dclient/fake.go
Labels: milestone 1.10.0

#6524 refactor: reduce userinfos deps and add unit tests
  pkg/userinfo/roleRef.go
  pkg/userinfo/roleRef_test.go
  pkg/webhooks/handlers/dump.go
  pkg/webhooks/utils/policy_context_builder.go
Labels: milestone 1.10.0

#6522 fix: improve reports controller default values and workers
  charts/kyverno/README.md
  charts/kyverno/templates/reports-controller/deployment.yaml
  charts/kyverno/values.yaml
  pkg/controllers/report/admission/controller.go
  scripts/config/standard/kyverno.yaml
Labels: cherry-pick-required, milestone 1.10.0, milestone 1.9.2

#6529 test: add a kuttl test for rule deletion
  test/conformance/kuttl/generate/clusterpolicy/cornercases/cpol-data-sync-to-nosync-delete-rule/01-clusterpolicy.yaml
  test/conformance/kuttl/generate/clusterpolicy/cornercases/cpol-data-sync-to-nosync-delete-rule/02-ns.yaml
  test/conformance/kuttl/generate/clusterpolicy/cornercases/cpol-data-sync-to-nosync-delete-rule/03-check.yaml
  test/conformance/kuttl/generate/clusterpolicy/cornercases/cpol-data-sync-to-nosync-delete-rule/04-update-sync.yaml
  test/conformance/kuttl/generate/clusterpolicy/cornercases/cpol-data-sync-to-nosync-delete-rule/05-delete-rule.yaml
  test/conformance/kuttl/generate/clusterpolicy/cornercases/cpol-data-sync-to-nosync-delete-rule/06-sleep.yaml
  test/conformance/kuttl/generate/clusterpolicy/cornercases/cpol-data-sync-to-nosync-delete-rule/07-checks.yaml
  test/conformance/kuttl/generate/clusterpolicy/cornercases/cpol-data-sync-to-nosync-delete-rule/README.md
  test/conformance/kuttl/generate/clusterpolicy/cornercases/cpol-data-sync-to-nosync-delete-rule/configmap.yaml
  test/conformance/kuttl/generate/clusterpolicy/cornercases/cpol-data-sync-to-nosync-delete-rule/delete-rule.yaml
  test/conformance/kuttl/generate/clusterpolicy/cornercases/cpol-data-sync-to-nosync-delete-rule/policy-ready.yaml
  test/conformance/kuttl/generate/clusterpolicy/cornercases/cpol-data-sync-to-nosync-delete-rule/policy.yaml
  test/conformance/kuttl/generate/clusterpolicy/cornercases/cpol-data-sync-to-nosync-delete-rule/secret.yaml
Labels: milestone 1.10.0

#6532 fix: improve reports controller default values and workers (cherry-pick #6522)
  cmd/internal/flag.go
  pkg/controllers/report/admission/controller.go
Labels: milestone 1.9.2

#6530 fix: namespace matching for background namespaced policies
  pkg/engine/background.go
  test/conformance/kuttl/generate/policy/standard/existing/match-trigger-namespace/01-assert.yaml
  test/conformance/kuttl/generate/policy/standard/existing/match-trigger-namespace/01-manifests.yaml
  test/conformance/kuttl/generate/policy/standard/existing/match-trigger-namespace/02-sleep.yaml
  test/conformance/kuttl/generate/policy/standard/existing/match-trigger-namespace/03-assert.yaml
  test/conformance/kuttl/generate/policy/standard/existing/match-trigger-namespace/README.md
  test/conformance/kuttl/generate/policy/standard/existing/non-match-trigger-namespace/01-assert.yaml
  test/conformance/kuttl/generate/policy/standard/existing/non-match-trigger-namespace/01-manifests.yaml
  test/conformance/kuttl/generate/policy/standard/existing/non-match-trigger-namespace/02-sleep.yaml
  test/conformance/kuttl/generate/policy/standard/existing/non-match-trigger-namespace/03-errors.yaml
  test/conformance/kuttl/generate/policy/standard/existing/non-match-trigger-namespace/README.md
Labels: milestone 1.10.0

#6531 fix: process audit policies when admission reports are disabled
  pkg/webhooks/resource/validation/validation.go
Labels: cherry-pick-required, milestone 1.10.0, milestone 1.9.2

#6540 fix: increase burst
  cmd/internal/flag.go
Labels: milestone 1.9.2

#6541 fix: increase reports controller default burst
  charts/kyverno/README.md
  charts/kyverno/values.yaml
Labels: milestone 1.10.0

#6545 fix: process audit policies when admission reports are disabled (cherry-pick #6531)
  pkg/webhooks/resource/validation/validation.go
Labels: milestone 1.9.2

#6546 chore: bump a couple of deps
  go.mod
  go.sum
Labels: milestone 1.10.0

#6536 Release v1.9.2-rc.1
  charts/kyverno-policies/Chart.yaml
  charts/kyverno-policies/README.md
  charts/kyverno/Chart.yaml
  charts/kyverno/README.md
Labels: hold-merge

#6547 test: add kuttl tests for policy kinds validation
  pkg/policy/validate.go
  test/conformance/kuttl/webhooks/unknown-kind/01-unknown-kind.yaml
  test/conformance/kuttl/webhooks/unknown-kind/02-unknown-kind-subresource.yaml
  test/conformance/kuttl/webhooks/unknown-kind/03-wrong-version.yaml
  test/conformance/kuttl/webhooks/unknown-kind/04-unknown-subresource.yaml
  test/conformance/kuttl/webhooks/unknown-kind/README.md
  test/conformance/kuttl/webhooks/unknown-kind/policy-1.yaml
  test/conformance/kuttl/webhooks/unknown-kind/policy-2.yaml
  test/conformance/kuttl/webhooks/unknown-kind/policy-3.yaml
  test/conformance/kuttl/webhooks/unknown-kind/policy-4.yaml
Labels: milestone 1.10.0

#6553 test: clean up a couple kuttl tests
  test/conformance/kuttl/validate/clusterpolicy/standard/audit/configmap-context-lookup/99-cleanup.yaml
  test/conformance/kuttl/validate/clusterpolicy/standard/enforce/api-initiated-pod-eviction/99-cleanup.yaml
  test/conformance/kuttl/validate/clusterpolicy/standard/enforce/block-pod-exec-requests/99-cleanup.yaml
  test/conformance/kuttl/validate/clusterpolicy/standard/enforce/bypass-with-policy-exception/99-cleanup.yaml
  test/conformance/kuttl/validate/clusterpolicy/standard/enforce/resource-apply-block/02-resource.yaml
  test/conformance/kuttl/validate/clusterpolicy/standard/enforce/resource-apply-block/02-script.yaml
  test/conformance/kuttl/validate/clusterpolicy/standard/enforce/resource-apply-block/99-cleanup.yaml
  test/conformance/kuttl/validate/clusterpolicy/standard/enforce/scaling-with-kubectl-scale/99-cleanup.yaml
  test/conformance/kuttl/validate/e2e/adding-key-to-config-map/99-cleanup.yaml
  test/conformance/kuttl/validate/e2e/lowercase-kind-crd/02-resource.yaml
  test/conformance/kuttl/validate/e2e/lowercase-kind-crd/02-script.yaml
  test/conformance/kuttl/validate/e2e/lowercase-kind-crd/99-cleanup.yaml
Labels: milestone 1.10.0

#6555 fix: admission reports apiVersion column
  api/kyverno/v1alpha2/admission_report_types.go
  charts/kyverno/templates/crds/crds.yaml
  config/crds/kyverno.io_admissionreports.yaml
  config/crds/kyverno.io_clusteradmissionreports.yaml
Labels: milestone 1.10.0

#6563 fix: remove hasVerifyYaml from policy cache
  pkg/policycache/store.go
  pkg/policycache/type.go
Labels: milestone 1.10.0

#6564 Add Roadmap.md and link to active releases / roadap
  ROADMAP.md
Labels: milestone 1.10.0

#6566 fix: adding verbosity to the ./pkg/autogen unit tests
  pkg/autogen/autogen_test.go
Labels: milestone 1.10.0

#6569 fix: controller duration computation
  pkg/utils/controller/run.go
Labels: cherry-pick-required, milestone 1.9.2

#6570 chore: add vscode config to debug reports controller
  .vscode/launch.json
Labels: milestone 1.10.0

#6575 fix: add back default generate permissions
  charts/kyverno/templates/background-controller/clusterrole.yaml
Labels: milestone 1.10.0

#6576 fix: use GVRS to load mutation targets
  pkg/engine/loadtargets.go
Labels: milestone 1.10.0

#6577 chore: remove unused discovery method GetServerVersion
  pkg/clients/dclient/discovery.go
  pkg/clients/dclient/fake.go
Labels: milestone 1.10.0

#6579 feat: add webhook annotations support in config map
  CHANGELOG.md
  charts/kyverno/Chart.yaml
  charts/kyverno/README.md
  charts/kyverno/templates/config/configmap.yaml
  charts/kyverno/values.yaml
  cmd/cleanup-controller/main.go
  cmd/kyverno/main.go
  pkg/config/config.go
  pkg/config/types.go
  pkg/controllers/generic/webhook/controller.go
  pkg/controllers/webhook/controller.go
  pkg/controllers/webhook/utils.go
Labels: Documentation, milestone 1.10.0

#6581 test: add config package unit tests
  pkg/config/client_test.go
  pkg/config/types.go
  pkg/config/types_test.go
Labels: milestone 1.10.0

#6582 refactor: helm admission controller rbac config
  charts/kyverno/README.md
  charts/kyverno/README.md.gotmpl
  charts/kyverno/templates/admission-controller/_helpers.tpl
  charts/kyverno/templates/admission-controller/clusterrole.yaml
  charts/kyverno/templates/admission-controller/clusterrolebinding.yaml
  charts/kyverno/templates/admission-controller/role.yaml
  charts/kyverno/templates/admission-controller/rolebinding.yaml
  charts/kyverno/templates/admission-controller/serviceaccount.yaml
  charts/kyverno/templates/rbac/policies.yaml
  charts/kyverno/templates/rbac/policyreports.yaml
  charts/kyverno/templates/rbac/reports.yaml
  charts/kyverno/templates/rbac/updaterequests.yaml
  charts/kyverno/values.yaml
Labels: milestone 1.10.0

#6578 chore: bring back `install-latest-testing.yaml`
  .github/workflows/verify-codegen.yaml
  Makefile
  config/install-latest-testing.yaml
Labels: milestone 1.10.0

#6586 fix: remove obsolete generatecontrollerExtraResources from helm chart
  charts/kyverno/README.md
  charts/kyverno/values.yaml
Labels: milestone 1.10.0

#6585 fix: add annotations support for all SA in helm chart
  charts/kyverno/README.md
  charts/kyverno/templates/background-controller/serviceaccount.yaml
  charts/kyverno/templates/cleanup-controller/serviceaccount.yaml
  charts/kyverno/templates/reports-controller/serviceaccount.yaml
  charts/kyverno/values.yaml
Labels: milestone 1.10.0

#6600 fix: add missing service monitor for background controller
  charts/kyverno/templates/background-controller/servicemonitor.yaml
  scripts/config/dev/kyverno.yaml
  scripts/config/standard/kyverno.yaml
Labels: milestone 1.10.0

#6599 refactor: helm chart network policies
  charts/kyverno/README.md
  charts/kyverno/README.md.gotmpl
  charts/kyverno/templates/admission-controller/networkpolicy.yaml
  charts/kyverno/templates/background-controller/deployment.yaml
  charts/kyverno/templates/background-controller/networkpolicy.yaml
  charts/kyverno/templates/cleanup-controller/networkpolicy.yaml
  charts/kyverno/templates/networkpolicy.yaml
  charts/kyverno/templates/reports-controller/deployment.yaml
  charts/kyverno/templates/reports-controller/networkpolicy.yaml
  charts/kyverno/values.yaml
Labels: milestone 1.10.0

#6604 fix: add message to bypass schema validation when it fails
  pkg/policy/validate.go
Labels: cherry-pick-required, milestone 1.9.2

#6595 test: add config package unit test
  pkg/config/types_test.go
Labels: milestone 1.10.0

#6601 feat: log when changes happen in policies
  cmd/cleanup-controller/main.go
  cmd/kyverno/main.go
  pkg/controllers/generic/logging/controller.go
Labels: milestone 1.10.0

#6596 refactor: helm chart config
  charts/kyverno/README.md
  charts/kyverno/README.md.gotmpl
  charts/kyverno/templates/config/_helpers.tpl
  charts/kyverno/templates/config/configmap.yaml
  charts/kyverno/values.yaml
Labels: milestone 1.10.0

#6602 fix: schema validation for mutateExisting type of policy
  pkg/openapi/manager.go
  test/conformance/kuttl/validate/clusterpolicy/cornercases/schema-validation-for-mutateExisting/00-policy.yaml
  test/conformance/kuttl/validate/clusterpolicy/cornercases/schema-validation-for-mutateExisting/README.md
  test/conformance/kuttl/validate/clusterpolicy/cornercases/schema-validation-for-mutateExisting/policy-assert.yaml
  test/conformance/kuttl/validate/clusterpolicy/cornercases/schema-validation-for-mutateExisting/policy.yaml
Labels: milestone 1.10.0

#6598 chore: cleanup generate codebase
  pkg/background/common/labels.go
  pkg/background/generate/generate.go
  pkg/background/generate/labels.go
  pkg/engine/api/engineresponse.go
  pkg/policy/validate.go
  pkg/webhooks/resource/fake.go
  pkg/webhooks/resource/generation/handler.go
  pkg/webhooks/resource/handlers.go
  pkg/webhooks/resource/mutation/mutation.go
  pkg/webhooks/resource/updaterequest.go
  pkg/webhooks/updaterequest/generator.go
  pkg/webhooks/utils/update_request_updater.go
  pkg/webhooks/utils/update_request_updater_test.go
  test/conformance/kuttl/generate/clusterpolicy/standard/clone/sync/cpol-clone-list-sync-create/resource-assert.yaml
  test/conformance/kuttl/generate/clusterpolicy/standard/clone/sync/cpol-clone-list-sync-update/resource-assert.yaml
  test/conformance/kuttl/generate/clusterpolicy/standard/clone/sync/cpol-clone-list-sync-update/synchronized-target.yaml
  test/conformance/kuttl/mutate/clusterpolicy/standard/existing/namespaceselector/04-assert.yaml
  test/conformance/kuttl/mutate/clusterpolicy/standard/existing/namespaceselector/configmap.yaml
  test/conformance/kuttl/mutate/clusterpolicy/standard/existing/namespaceselector/pod.yaml
  test/conformance/kuttl/mutate/clusterpolicy/standard/existing/namespaceselector/policy-assert.yaml
  test/conformance/kuttl/mutate/clusterpolicy/standard/existing/namespaceselector/policy.yaml
  test/conformance/kuttl/mutate/clusterpolicy/standard/existing/onpolicyupdate/namespaceselector/01-assert.yaml
  test/conformance/kuttl/mutate/clusterpolicy/standard/existing/onpolicyupdate/namespaceselector/01-manifests.yaml
  test/conformance/kuttl/mutate/clusterpolicy/standard/existing/onpolicyupdate/namespaceselector/04-assert.yaml
  test/conformance/kuttl/mutate/clusterpolicy/standard/existing/onpolicyupdate/namespaceselector/README.md
Labels: milestone 1.10.0

#5107 fix: improve shutdown gracefulness
  cmd/background-controller/main.go
  cmd/kyverno/main.go
  cmd/reports-controller/main.go
  pkg/controllers/metrics/policy/controller.go
  pkg/event/controller.go
  pkg/utils/controller/run.go
Labels: milestone 1.10.0

#6611 fix: map APIResource in FindResources results
  pkg/clients/dclient/discovery.go
  pkg/clients/dclient/fake.go
  pkg/controllers/webhook/controller.go
  pkg/engine/loadtargets.go
  pkg/policy/validate.go
  pkg/policycache/cache.go
  pkg/policycache/cache_test.go
  pkg/policycache/store.go
  pkg/policycache/test.go
Labels: milestone 1.10.0

#6568 refactor: admission reports aggregation
  api/kyverno/v1alpha2/admission_report_types.go
  charts/kyverno/templates/crds/crds.yaml
  cmd/reports-controller/main.go
  config/crds/kyverno.io_admissionreports.yaml
  config/crds/kyverno.io_clusteradmissionreports.yaml
  pkg/controllers/report/admission/controller.go
  pkg/utils/controller/metadata.go
  pkg/utils/report/labels.go
  pkg/utils/report/new.go
  pkg/webhooks/resource/imageverification/handler.go
  pkg/webhooks/resource/validation/validation.go
  test/conformance/kuttl/reports/admission/exception/report-assert.yaml
Labels: milestone 1.10.0

#6588 refactor: make extraArgs objects in helm chart
  charts/kyverno/README.md
  charts/kyverno/README.md.gotmpl
  charts/kyverno/templates/admission-controller/deployment.yaml
  charts/kyverno/templates/background-controller/deployment.yaml
  charts/kyverno/templates/cleanup-controller/deployment.yaml
  charts/kyverno/values.yaml
  scripts/config/dev/kyverno.yaml
  scripts/config/standard/kyverno.yaml
Labels: milestone 1.10.0

#6612 fix: use GVR in reports resource controller
  pkg/controllers/report/resource/controller.go
Labels: milestone 1.10.0

#6613 refactoring: helm logging, tracing and metering config
  charts/kyverno/README.md
  charts/kyverno/README.md.gotmpl
  charts/kyverno/templates/admission-controller/deployment.yaml
  charts/kyverno/values.yaml
  scripts/config/dev/kyverno.yaml
  scripts/config/standard/kyverno.yaml
Labels: milestone 1.10.0

#6356 refactor: change admission controller deployment name
  charts/kyverno/README.md
  charts/kyverno/README.md.gotmpl
  charts/kyverno/templates/admission-controller/deployment.yaml
Labels: Documentation, milestone 1.10.0

#6627 chore: add reports controller debug logs
  .github/actions/kyverno-logs/action.yaml
Labels: milestone 1.10.0

#6635 fix: incorrect old resource check
  pkg/engine/validation.go
Labels: milestone 1.10.0

#6625 refactor: do not allow matching with subresource kind
  pkg/clients/dclient/discovery.go
  pkg/controllers/report/resource/controller.go
  pkg/controllers/webhook/controller.go
  pkg/controllers/webhook/utils.go
  pkg/controllers/webhook/utils_test.go
  pkg/engine/loadtargets.go
  pkg/policycache/cache.go
  pkg/policycache/cache_test.go
  pkg/policycache/store.go
  pkg/policycache/test.go
  pkg/webhooks/resource/handlers.go
  pkg/webhooks/resource/validation/validation.go
  test/conformance/kuttl/validate/clusterpolicy/standard/enforce/block-pod-exec-requests/01-manifests.yaml
  test/conformance/kuttl/webhooks/scale/01-policy.yaml
  test/conformance/kuttl/webhooks/scale/02-webhooks.yaml
  test/conformance/kuttl/webhooks/scale/README.md
  test/conformance/kuttl/webhooks/scale/policy-assert.yaml
  test/conformance/kuttl/webhooks/scale/webhooks.yaml
Labels: milestone 1.10.0

#6634 fix: skip duplicate PSa checks for the latest version
  pkg/pss/evaluate.go
  test/conformance/kuttl/reports/background/test-report-background-mode/report-assert.yaml
Labels: cherry-pick-required, milestone 1.10.0, milestone 1.9.2

#6639 chore: add vscode config to debug background controller
  .vscode/launch.json
Labels: milestone 1.10.0

#6640 fix: remove a couple DeepEqual and fix deletion check bug
  pkg/auth/auth.go
  pkg/background/common/context.go
  pkg/engine/imageVerifyValidate.go
  pkg/engine/internal/imageverifier.go
  pkg/engine/internal/logging.go
  pkg/engine/internal/response.go
  pkg/engine/mutation.go
  pkg/engine/validation.go
  pkg/webhooks/resource/generation/handler.go
  pkg/webhooks/resource/imageverification/handler.go
  pkg/webhooks/resource/mutation/mutation.go
  pkg/webhooks/resource/validation/validation.go
Labels: milestone 1.10.0

#6633 refactor: implement matching based on top level GVK + subresource
  cmd/cleanup-controller/handlers/cleanup/handlers.go
  cmd/cli/kubectl-kyverno/utils/common/common.go
  pkg/engine/api/policycontext.go
  pkg/engine/background.go
  pkg/engine/common.go
  pkg/engine/common_test.go
  pkg/engine/exceptions.go
  pkg/engine/imageVerify.go
  pkg/engine/mutation.go
  pkg/engine/policyContext.go
  pkg/engine/utils.go
  pkg/engine/utils_test.go
  pkg/engine/validation.go
  pkg/utils/match/kind.go
  pkg/utils/match/kind_test.go
  pkg/utils/match/match.go
  pkg/webhooks/utils/policy_context_builder.go
  test/cli/test/exec-subresource/deny-exec-by-pod-label.yaml
  test/cli/test/scale-subresource/enforce-replicas-for-scale-subresource.yml
Labels: milestone 1.10.0

#6631 test: add kuttl tests for ephemeral containers
  test/conformance/kuttl/validate/clusterpolicy/standard/debug/with-pod/01-resources.yaml
  test/conformance/kuttl/validate/clusterpolicy/standard/debug/with-pod/02-policies.yaml
  test/conformance/kuttl/validate/clusterpolicy/standard/debug/with-pod/03-debug.yaml
  test/conformance/kuttl/validate/clusterpolicy/standard/debug/with-pod/README.md
  test/conformance/kuttl/validate/clusterpolicy/standard/debug/with-pod/policies-assert.yaml
  test/conformance/kuttl/validate/clusterpolicy/standard/debug/with-pod/policies.yaml
  test/conformance/kuttl/validate/clusterpolicy/standard/debug/with-pod/resources.yaml
  test/conformance/kuttl/validate/clusterpolicy/standard/debug/with-subresource/01-policies.yaml
  test/conformance/kuttl/validate/clusterpolicy/standard/debug/with-subresource/02-resources.yaml
  test/conformance/kuttl/validate/clusterpolicy/standard/debug/with-subresource/03-debug.yaml
  test/conformance/kuttl/validate/clusterpolicy/standard/debug/with-subresource/README.md
  test/conformance/kuttl/validate/clusterpolicy/standard/debug/with-subresource/policies-assert.yaml
  test/conformance/kuttl/validate/clusterpolicy/standard/debug/with-subresource/policies.yaml
  test/conformance/kuttl/validate/clusterpolicy/standard/debug/with-subresource/resources.yaml
  test/conformance/kuttl/validate/clusterpolicy/standard/debug/with-wildcard/01-policies.yaml
  test/conformance/kuttl/validate/clusterpolicy/standard/debug/with-wildcard/02-resources.yaml
  test/conformance/kuttl/validate/clusterpolicy/standard/debug/with-wildcard/03-debug.yaml
  test/conformance/kuttl/validate/clusterpolicy/standard/debug/with-wildcard/README.md
  test/conformance/kuttl/validate/clusterpolicy/standard/debug/with-wildcard/policies-assert.yaml
  test/conformance/kuttl/validate/clusterpolicy/standard/debug/with-wildcard/policies.yaml
  test/conformance/kuttl/validate/clusterpolicy/standard/debug/with-wildcard/resources.yaml
Labels: milestone 1.10.0

#6648 fix: GVK fallback in policy context
  pkg/engine/policyContext.go
Labels: milestone 1.10.0

#6644 fix: check if resource is empty when matching
  pkg/engine/background.go
  pkg/engine/mutation.go
  pkg/engine/utils.go
  pkg/engine/utils_test.go
  pkg/engine/validation.go
Labels: milestone 1.10.0

#6610 fix: block generate policies when lack of permission to operate downstream resources
  charts/kyverno/templates/background-controller/clusterrolebinding.yaml
  pkg/policy/actions.go
  pkg/policy/generate/validate.go
  pkg/policy/generate/validate_test.go
  pkg/policy/mutate/auth.go
  pkg/policy/mutate/validate.go
  pkg/policy/validate.go
  pkg/policy/validate/validate.go
  pkg/policy/validate/validate_test.go
  test/conformance/kuttl/generate/policy/standard/existing/match-trigger-namespace/01-manifests.yaml
  test/conformance/kuttl/generate/policy/standard/existing/match-trigger-namespace/03-assert.yaml
  test/conformance/kuttl/generate/policy/standard/existing/non-match-trigger-namespace/01-manifests.yaml
  test/conformance/kuttl/generate/policy/standard/existing/non-match-trigger-namespace/03-errors.yaml
  test/conformance/kuttl/generate/validation/clusterpolicy/immutable-rule-spec/01-policy.yaml
  test/conformance/kuttl/generate/validation/clusterpolicy/immutable-rule-spec/update-rule-exclude.yaml
  test/conformance/kuttl/generate/validation/clusterpolicy/immutable-rule-spec/update-rule-generate-synchronize.yaml
  test/conformance/kuttl/generate/validation/clusterpolicy/immutable-rule-spec/update-rule-match.yaml
  test/conformance/kuttl/generate/validation/clusterpolicy/immutable-rule-spec/update-rule-name.yaml
  test/conformance/kuttl/generate/validation/clusterpolicy/immutable-rule-spec/update-rule-preconditions.yaml
  test/conformance/kuttl/generate/validation/clusterpolicy/permissions/01-fail-no-permission.yaml
  test/conformance/kuttl/generate/validation/clusterpolicy/permissions/02-update-clusterrole.yaml
  test/conformance/kuttl/generate/validation/clusterpolicy/permissions/03-pass.yaml
  test/conformance/kuttl/generate/validation/clusterpolicy/permissions/04-reset-clusterrole.yaml
  test/conformance/kuttl/generate/validation/clusterpolicy/permissions/README.md
  test/conformance/kuttl/generate/validation/clusterpolicy/permissions/policy-assert.yaml
  test/conformance/kuttl/generate/validation/clusterpolicy/permissions/policy.yaml
  test/conformance/kuttl/generate/validation/policy/immutable-rule-spec/01-policy.yaml
  test/conformance/kuttl/generate/validation/policy/immutable-rule-spec/update-rule-exclude.yaml
  test/conformance/kuttl/generate/validation/policy/immutable-rule-spec/update-rule-generate-synchronize.yaml
  test/conformance/kuttl/generate/validation/policy/immutable-rule-spec/update-rule-match.yaml
  test/conformance/kuttl/generate/validation/policy/immutable-rule-spec/update-rule-name.yaml
  test/conformance/kuttl/generate/validation/policy/immutable-rule-spec/update-rule-preconditions.yaml
  test/conformance/kuttl/generate/validation/policy/permissions/01-ns.yaml
  test/conformance/kuttl/generate/validation/policy/permissions/02-fail-no-permission.yaml
  test/conformance/kuttl/generate/validation/policy/permissions/03-update-clusterrole.yaml
  test/conformance/kuttl/generate/validation/policy/permissions/04-pass.yaml
  test/conformance/kuttl/generate/validation/policy/permissions/05-reset-clusterrole.yaml
  test/conformance/kuttl/generate/validation/policy/permissions/README.md
  test/conformance/kuttl/generate/validation/policy/permissions/policy-assert.yaml
  test/conformance/kuttl/generate/validation/policy/permissions/policy.yaml
  test/conformance/kuttl/mutate/clusterpolicy/standard/existing/validation/auth-check/01-fail-no-permission.yaml
  test/conformance/kuttl/mutate/clusterpolicy/standard/existing/validation/auth-check/02-update-clusterrole.yaml
  test/conformance/kuttl/mutate/clusterpolicy/standard/existing/validation/auth-check/03-pass.yaml
  test/conformance/kuttl/mutate/clusterpolicy/standard/existing/validation/auth-check/04-reset-clusterrole.yaml
  test/conformance/kuttl/mutate/clusterpolicy/standard/existing/validation/auth-check/README.md
  test/conformance/kuttl/mutate/clusterpolicy/standard/existing/validation/auth-check/policy-assert.yaml
  test/conformance/kuttl/mutate/clusterpolicy/standard/existing/validation/auth-check/policy.yaml
  test/conformance/kuttl/mutate/policy/standard/existing/validation/auth-check/01-ns.yaml
  test/conformance/kuttl/mutate/policy/standard/existing/validation/auth-check/02-fail-no-permission.yaml
  test/conformance/kuttl/mutate/policy/standard/existing/validation/auth-check/03-update-clusterrole.yaml
  test/conformance/kuttl/mutate/policy/standard/existing/validation/auth-check/04-pass.yaml
  test/conformance/kuttl/mutate/policy/standard/existing/validation/auth-check/05-reset-clusterrole.yaml
  test/conformance/kuttl/mutate/policy/standard/existing/validation/auth-check/README.md
  test/conformance/kuttl/mutate/policy/standard/existing/validation/auth-check/policy-assert.yaml
  test/conformance/kuttl/mutate/policy/standard/existing/validation/auth-check/policy.yaml
  test/conformance/kuttl/validate/clusterpolicy/cornercases/schema-validation-for-mutateExisting/00-update-clusterrole.yaml
  test/conformance/kuttl/validate/clusterpolicy/cornercases/schema-validation-for-mutateExisting/01-policy.yaml
  test/conformance/kuttl/validate/clusterpolicy/cornercases/schema-validation-for-mutateExisting/02-reset-update-clusterrole.yaml
Labels: milestone 1.10.0

#6647 refactor: return structs instead of pointer in engine api
  cmd/cli/kubectl-kyverno/utils/common/common.go
  pkg/controllers/report/utils/scanner.go
  pkg/engine/api/engine.go
  pkg/engine/background.go
  pkg/engine/engine.go
  pkg/engine/generation.go
  pkg/engine/mutation.go
  pkg/engine/mutation_test.go
  pkg/engine/validation.go
  pkg/engine/validation_test.go
  pkg/webhooks/resource/generation/handler.go
  pkg/webhooks/resource/mutation/mutation.go
  pkg/webhooks/resource/updaterequest.go
  pkg/webhooks/resource/validation/validation.go
  pkg/webhooks/resource/validation_test.go
Labels: milestone 1.10.0

#6649 fix: do not create UR for dryrun admission requests
  cmd/cli/kubectl-kyverno/main.go
  pkg/utils/admission/dryrun.go
  pkg/utils/admission/dryrun_test.go
  pkg/webhooks/handlers/trace.go
  pkg/webhooks/resource/handlers.go
  pkg/webhooks/resource/imageverification/handler.go
  pkg/webhooks/resource/validation/validation.go
Labels: milestone 1.10.0

#6650 fix: use FindResources in CLI
  cmd/cli/kubectl-kyverno/utils/common/common.go
  cmd/cli/kubectl-kyverno/utils/common/fetch.go
Labels: milestone 1.10.0

#6571 fix: policy validation with subresource and background scan enabled
  .github/workflows/conformance.yaml
  pkg/policy/validate.go
  test/conformance/kuttl/policy-validation/cluster-policy/background-subresource/01-policy.yaml
  test/conformance/kuttl/policy-validation/cluster-policy/background-subresource/02-policy.yaml
  test/conformance/kuttl/policy-validation/cluster-policy/background-subresource/03-policy.yaml
  test/conformance/kuttl/policy-validation/cluster-policy/background-subresource/04-policy.yaml
  test/conformance/kuttl/policy-validation/cluster-policy/background-subresource/05-policy.yaml
  test/conformance/kuttl/policy-validation/cluster-policy/background-subresource/README.md
  test/conformance/kuttl/policy-validation/cluster-policy/background-subresource/policy-1.yaml
  test/conformance/kuttl/policy-validation/cluster-policy/background-subresource/policy-2.yaml
  test/conformance/kuttl/policy-validation/cluster-policy/background-subresource/policy-3.yaml
  test/conformance/kuttl/policy-validation/cluster-policy/background-subresource/policy-4.yaml
  test/conformance/kuttl/policy-validation/cluster-policy/background-subresource/policy-5.yaml
  test/conformance/kuttl/policy-validation/policy/background-subresource/01-policy.yaml
  test/conformance/kuttl/policy-validation/policy/background-subresource/02-policy.yaml
  test/conformance/kuttl/policy-validation/policy/background-subresource/03-policy.yaml
  test/conformance/kuttl/policy-validation/policy/background-subresource/04-policy.yaml
  test/conformance/kuttl/policy-validation/policy/background-subresource/05-policy.yaml
  test/conformance/kuttl/policy-validation/policy/background-subresource/README.md
  test/conformance/kuttl/policy-validation/policy/background-subresource/policy-1.yaml
  test/conformance/kuttl/policy-validation/policy/background-subresource/policy-2.yaml
  test/conformance/kuttl/policy-validation/policy/background-subresource/policy-3.yaml
  test/conformance/kuttl/policy-validation/policy/background-subresource/policy-4.yaml
  test/conformance/kuttl/policy-validation/policy/background-subresource/policy-5.yaml
Labels: milestone 1.10.0

#6630 fix: correct cli test duplicate check
  cmd/cli/kubectl-kyverno/test/test_command.go
Labels: milestone 1.10.0

#6652 refactor: discovery client
  pkg/clients/dclient/discovery.go
  pkg/clients/dclient/fake.go
  pkg/policycache/cache.go
  pkg/policycache/test.go
Labels: milestone 1.10.0

#6552 [Feature] The ability to sum quantities
  pkg/engine/jmespath/arithmetic_test.go
  pkg/engine/jmespath/functions.go
Labels: milestone 1.10.0

#6580 fix: adding verbosity to openapi unit tests
  pkg/openapi/manager_test.go
Labels: milestone 1.10.0

#6657 fix: filter name in add/sum error
  pkg/engine/jmespath/arithmetic.go
  pkg/engine/jmespath/functions.go
Labels: milestone 1.10.0

#6651 refactor: remove more pointers from engine api
  cmd/cli/kubectl-kyverno/utils/common/common.go
  pkg/controllers/report/background/controller.go
  pkg/controllers/report/utils/events.go
  pkg/controllers/report/utils/scanner.go
  pkg/engine/api/engine.go
  pkg/engine/api/engineresponse.go
  pkg/engine/api/imageverifymetadata.go
  pkg/engine/api/imageverifymetadata_test.go
  pkg/engine/background.go
  pkg/engine/engine.go
  pkg/engine/generation.go
  pkg/engine/imageVerify.go
  pkg/engine/imageVerify_test.go
  pkg/engine/mutation.go
  pkg/engine/validation.go
  pkg/event/events.go
  pkg/utils/annotations.go
  pkg/utils/annotations_test.go
  pkg/utils/engine/response.go
  pkg/utils/report/new.go
  pkg/utils/report/results.go
  pkg/webhooks/resource/imageverification/handler.go
  pkg/webhooks/resource/mutation/mutation.go
  pkg/webhooks/resource/validation/validation.go
  pkg/webhooks/resource/validation_test.go
  pkg/webhooks/utils/block.go
  pkg/webhooks/utils/block_test.go
  pkg/webhooks/utils/error.go
  pkg/webhooks/utils/event.go
  pkg/webhooks/utils/warning.go
  pkg/webhooks/utils/warning_test.go
Labels: milestone 1.10.0

#6289 refactor: engine matching/filtering
  pkg/controllers/report/background/controller.go
  pkg/controllers/report/utils/scanner.go
  pkg/engine/background.go
  pkg/engine/engine.go
  pkg/engine/generation.go
  pkg/engine/imageVerify.go
  pkg/engine/internal/match.go
  pkg/engine/mutation.go
  pkg/engine/validation.go
  pkg/webhooks/resource/imageverification/handler.go
Labels: milestone 1.10.0

#6655 fix: handle upgrade for generateExisting policies
  api/kyverno/v1/spec_types.go
  api/kyverno/v1/zz_generated.deepcopy.go
  api/kyverno/v2beta1/spec_types.go
  api/kyverno/v2beta1/zz_generated.deepcopy.go
  charts/kyverno/templates/crds/crds.yaml
  config/crds/kyverno.io_clusterpolicies.yaml
  config/crds/kyverno.io_policies.yaml
  config/install-latest-testing.yaml
  docs/user/crd/index.html
Labels: milestone 1.10.0

#6670 feat: add support for ready message
  api/kyverno/v1/clusterpolicy_types.go
  api/kyverno/v1/policy_status.go
  api/kyverno/v1/policy_types.go
  api/kyverno/v2beta1/clusterpolicy_types.go
  api/kyverno/v2beta1/policy_types.go
  charts/kyverno/templates/crds/crds.yaml
  config/crds/kyverno.io_clusterpolicies.yaml
  config/crds/kyverno.io_policies.yaml
  config/install-latest-testing.yaml
  pkg/controllers/webhook/controller.go
  pkg/webhooks/handlers/trace.go
Labels: milestone 1.10.0

#6668 fix: HasVerifyImages check
  api/kyverno/v1/rule_types.go
  api/kyverno/v2alpha1/cleanup_policy_types.go
  api/kyverno/v2beta1/rule_types.go
  pkg/utils/data/equal.go
Labels: milestone 1.10.0

#6646 created dev container
  .devcontainer/Dockerfile
  .devcontainer/devcontainer.json
  DEVELOPMENT.md
Labels: milestone 1.10.0

#6680 refactor: introduce engine handler
  pkg/engine/engine.go
  pkg/engine/handlers/handler.go
  pkg/engine/handlers/manifest/k8smanifest.go
  pkg/engine/handlers/manifest/k8smanifest_test.go
  pkg/engine/imageVerifyValidate.go
  pkg/engine/imageVerify_test.go
  pkg/engine/mutation_test.go
  pkg/engine/policyContext.go
  pkg/engine/policycontext/policyContext.go
  pkg/engine/resources/resources.go
  pkg/engine/utils/utils.go
  pkg/engine/validation.go
  pkg/engine/validation_test.go
Labels: milestone 1.10.0

#6684 refactor: implement mutation rule handlers
  pkg/engine/background.go
  pkg/engine/engine.go
  pkg/engine/handlers/handler.go
  pkg/engine/handlers/manifest/k8smanifest.go
  pkg/engine/handlers/mutation/common.go
  pkg/engine/handlers/mutation/loadtargets.go
  pkg/engine/handlers/mutation/loadtargets_test.go
  pkg/engine/handlers/mutation/mutate.go
  pkg/engine/handlers/mutation/mutateexisting.go
  pkg/engine/mutation.go
  pkg/engine/policycontext/policyContext.go
  pkg/engine/utils/foreach.go
  pkg/engine/utils/match.go
  pkg/engine/utils/utils_test.go
  pkg/engine/validation.go
Labels: milestone 1.10.0

#6676 fix: failed to update UR status
  pkg/background/common/resource.go
  pkg/background/common/util.go
  pkg/background/generate/generate.go
  pkg/background/generate/utils.go
  pkg/background/update_request_controller.go
Labels: milestone 1.10.0

#6694 refactor: factorise rule handler invocation code
  pkg/engine/background.go
  pkg/engine/engine.go
  pkg/engine/exceptions.go
  pkg/engine/handlers/handler.go
  pkg/engine/handlers/manifest/k8smanifest.go
  pkg/engine/handlers/mutation/mutate.go
  pkg/engine/handlers/mutation/mutateexisting.go
  pkg/engine/imageVerify.go
  pkg/engine/mutation.go
  pkg/engine/validation.go
Labels: milestone 1.10.0

#6696 fix: auth validation for mutate existing policies
  pkg/policy/mutate/validate.go
Labels: milestone 1.10.0

#6695 refactor: introduce validation handler
  pkg/engine/engine.go
  pkg/engine/handlers/validation/validate.go
  pkg/engine/validation.go
Labels: milestone 1.10.0

#6698 chore: update argocd lab
  scripts/labs/argocd/0-cluster.sh
  scripts/labs/argocd/7-kyverno.sh
  scripts/labs/argocd/8-kyverno-policies.sh
Labels: cherry-pick-required, milestone 1.9.2

#6701 test: add kuttl tests for manifests verification
  .github/workflows/conformance.yaml
  test/conformance/kuttl/verify-manifests/multi-signatures/01-policy.yaml
  test/conformance/kuttl/verify-manifests/multi-signatures/02-resources.yaml
  test/conformance/kuttl/verify-manifests/multi-signatures/README.md
  test/conformance/kuttl/verify-manifests/multi-signatures/policy-assert.yaml
  test/conformance/kuttl/verify-manifests/multi-signatures/policy.yaml
  test/conformance/kuttl/verify-manifests/multi-signatures/resource-no-signature.yaml
  test/conformance/kuttl/verify-manifests/multi-signatures/resource-one-signature.yaml
  test/conformance/kuttl/verify-manifests/multi-signatures/resource-two-signatures.yaml
  test/conformance/kuttl/verify-manifests/single-signature/01-policy.yaml
  test/conformance/kuttl/verify-manifests/single-signature/02-resources.yaml
  test/conformance/kuttl/verify-manifests/single-signature/README.md
  test/conformance/kuttl/verify-manifests/single-signature/policy-assert.yaml
  test/conformance/kuttl/verify-manifests/single-signature/policy.yaml
  test/conformance/kuttl/verify-manifests/single-signature/resource-no-signature.yaml
  test/conformance/kuttl/verify-manifests/single-signature/resource-one-signature.yaml
  test/conformance/kuttl/verify-manifests/single-signature/resource-two-signatures.yaml
Labels: milestone 1.10.0

#6704 refactor: make use of handlers in engine validation
  pkg/engine/api/engine.go
  pkg/engine/background.go
  pkg/engine/engine.go
  pkg/engine/exceptions.go
  pkg/engine/handlers/mutation/load_targets.go
  pkg/engine/handlers/mutation/load_targets_test.go
  pkg/engine/handlers/mutation/mutate_existing.go
  pkg/engine/handlers/mutation/mutate_resource.go
  pkg/engine/handlers/validation/validate_image.go
  pkg/engine/handlers/validation/validate_manifest.go
  pkg/engine/handlers/validation/validate_manifest_test.go
  pkg/engine/handlers/validation/validate_resource.go
  pkg/engine/imageVerify.go
  pkg/engine/mutation.go
  pkg/engine/policycontext/policyContext.go
  pkg/engine/utils/match.go
  pkg/engine/utils/utils_test.go
  pkg/engine/validation.go
Labels: milestone 1.10.0

#6707 fix: allow image to be not present
  pkg/utils/api/image.go
Labels: milestone 1.10.0

#6706 fix: propagate error when parsing an image fails
  cmd/cli/kubectl-kyverno/utils/common/common.go
  pkg/utils/api/image.go
Labels: milestone 1.10.0

#6708 fix: allow overriding PDB api version
  charts/kyverno/Chart.yaml
  charts/kyverno/README.md
  charts/kyverno/templates/_helpers/_pdb.tpl
  charts/kyverno/values.yaml
Labels: milestone 1.10.0

#6710 chore: remove dead code
  pkg/engine/utils/match.go
  pkg/engine/utils/utils_test.go
Labels: milestone 1.10.0

#6658 feat: add operations support in match/exclude
  api/kyverno/v1/common_types.go
  api/kyverno/v1/match_resources_test.go
  api/kyverno/v1/resource_description_test.go
  api/kyverno/v1/resource_description_types.go
  api/kyverno/v1/zz_generated.deepcopy.go
  api/kyverno/v2beta1/match_resources_test.go
  api/kyverno/v2beta1/resource_description_test.go
  api/kyverno/v2beta1/resource_description_types.go
  api/kyverno/v2beta1/zz_generated.deepcopy.go
  charts/kyverno/templates/crds/crds.yaml
  cmd/cli/kubectl-kyverno/utils/common/common.go
  config/crds/kyverno.io_cleanuppolicies.yaml
  config/crds/kyverno.io_clustercleanuppolicies.yaml
  config/crds/kyverno.io_clusterpolicies.yaml
  config/crds/kyverno.io_policies.yaml
  config/crds/kyverno.io_policyexceptions.yaml
  config/install-latest-testing.yaml
  docs/user/crd/index.html
  pkg/background/common/context.go
  pkg/controllers/report/utils/scanner.go
  pkg/engine/api/policycontext.go
  pkg/engine/background.go
  pkg/engine/engine.go
  pkg/engine/handlers/validation/validate_manifest_test.go
  pkg/engine/imageVerify_test.go
  pkg/engine/mutation_test.go
  pkg/engine/policycontext/policy_context.go
  pkg/engine/utils/match.go
  pkg/engine/utils/utils_test.go
  pkg/engine/validation_test.go
  pkg/webhooks/resource/validation_test.go
  test/conformance/kuttl/validate/clusterpolicy/standard/operations/only-update/01-policy.yaml
  test/conformance/kuttl/validate/clusterpolicy/standard/operations/only-update/02-resources.yaml
  test/conformance/kuttl/validate/clusterpolicy/standard/operations/only-update/README.md
  test/conformance/kuttl/validate/clusterpolicy/standard/operations/only-update/pod-create.yaml
  test/conformance/kuttl/validate/clusterpolicy/standard/operations/only-update/pod-update.yaml
  test/conformance/kuttl/validate/clusterpolicy/standard/operations/only-update/policy-assert.yaml
  test/conformance/kuttl/validate/clusterpolicy/standard/operations/only-update/policy.yaml
Labels: Documentation, milestone 1.10.0

#6715 fix: cap and validate webhook timeout
  api/kyverno/v1/spec_types.go
  api/kyverno/v2beta1/spec_types.go
  pkg/controllers/webhook/controller.go
  pkg/controllers/webhook/utils.go
  test/conformance/kuttl/policy-validation/cluster-policy/invalid-timeout/01-policies.yaml
  test/conformance/kuttl/policy-validation/cluster-policy/invalid-timeout/README.md
  test/conformance/kuttl/policy-validation/cluster-policy/invalid-timeout/policy-1.yaml
  test/conformance/kuttl/policy-validation/cluster-policy/invalid-timeout/policy-2.yaml
  test/conformance/kuttl/policy-validation/policy/invalid-timeout/01-policies.yaml
  test/conformance/kuttl/policy-validation/policy/invalid-timeout/README.md
  test/conformance/kuttl/policy-validation/policy/invalid-timeout/policy-1.yaml
  test/conformance/kuttl/policy-validation/policy/invalid-timeout/policy-2.yaml
Labels: milestone 1.10.0

#6720 chore: update tools versions
  Makefile
  charts/kyverno/templates/crds/crds.yaml
  config/crds/kyverno.io_admissionreports.yaml
  config/crds/kyverno.io_backgroundscanreports.yaml
  config/crds/kyverno.io_cleanuppolicies.yaml
  config/crds/kyverno.io_clusteradmissionreports.yaml
  config/crds/kyverno.io_clusterbackgroundscanreports.yaml
  config/crds/kyverno.io_clustercleanuppolicies.yaml
  config/crds/kyverno.io_clusterpolicies.yaml
  config/crds/kyverno.io_policies.yaml
  config/crds/kyverno.io_policyexceptions.yaml
  config/crds/kyverno.io_updaterequests.yaml
  config/crds/wgpolicyk8s.io_clusterpolicyreports.yaml
  config/crds/wgpolicyk8s.io_policyreports.yaml
  config/install-latest-testing.yaml
Labels: milestone 1.10.0

#6719 test: add kuttl test for bad manifest signatures
  test/conformance/kuttl/verify-manifests/multi-signatures/02-resources.yaml
  test/conformance/kuttl/verify-manifests/multi-signatures/resource-bad-signatures.yaml
  test/conformance/kuttl/verify-manifests/single-signature/02-resources.yaml
  test/conformance/kuttl/verify-manifests/single-signature/resource-bad-signatures.yaml
Labels: milestone 1.10.0

#6721 refactor: add preconditions check to engine invokeHandler
  pkg/engine/engine.go
Labels: milestone 1.10.0

#6544 fix: Don't check for subresource existence when it is the trigger.
  pkg/background/mutate/mutate.go
  pkg/config/config.go
  test/conformance/kuttl/mutate/clusterpolicy/standard/existing/mutate-pod-on-binding-request/01-assert.yaml
  test/conformance/kuttl/mutate/clusterpolicy/standard/existing/mutate-pod-on-binding-request/01-manifests.yaml
  test/conformance/kuttl/mutate/clusterpolicy/standard/existing/mutate-pod-on-binding-request/02-assert.yaml
  test/conformance/kuttl/mutate/clusterpolicy/standard/existing/mutate-pod-on-binding-request/02-script.yaml
  test/conformance/kuttl/mutate/clusterpolicy/standard/existing/mutate-pod-on-binding-request/99-cleanup.yaml
  test/conformance/kuttl/mutate/clusterpolicy/standard/existing/mutate-pod-on-binding-request/README.md
  test/conformance/kuttl/mutate/clusterpolicy/standard/existing/mutate-pod-on-binding-request/modify-resource-filters.sh
Labels: milestone 1.10.0

#6725 chore: remove unused context variable
  pkg/engine/forceMutate.go
  pkg/engine/handlers/mutation/common.go
  pkg/engine/mutate/mutation.go
  pkg/engine/mutate/patch/patches.go
Labels: milestone 1.10.0

#6726 fix: missing volume for sigstore in reports controller
  charts/kyverno/README.md
  charts/kyverno/templates/reports-controller/deployment.yaml
  charts/kyverno/values.yaml
Labels: milestone 1.10.0

#6727 chore: bump default k8s version to v1.26.2
  Makefile
Labels: milestone 1.10.0

#6728 test: bgscan report with image verification rule passing
  test/conformance/kuttl/reports/background/verify-image-fail/01-pod.yaml
  test/conformance/kuttl/reports/background/verify-image-fail/02-policy.yaml
  test/conformance/kuttl/reports/background/verify-image-fail/03-bgscanr.yaml
  test/conformance/kuttl/reports/background/verify-image-fail/README.md
  test/conformance/kuttl/reports/background/verify-image-fail/bgscanr-assert.yaml
  test/conformance/kuttl/reports/background/verify-image-fail/pod-assert.yaml
  test/conformance/kuttl/reports/background/verify-image-fail/pod.yaml
  test/conformance/kuttl/reports/background/verify-image-fail/policy-assert.yaml
  test/conformance/kuttl/reports/background/verify-image-fail/policy.yaml
  test/conformance/kuttl/reports/background/verify-image-pass/01-pod.yaml
  test/conformance/kuttl/reports/background/verify-image-pass/02-policy.yaml
  test/conformance/kuttl/reports/background/verify-image-pass/03-bgscanr.yaml
  test/conformance/kuttl/reports/background/verify-image-pass/README.md
  test/conformance/kuttl/reports/background/verify-image-pass/bgscanr-assert.yaml
  test/conformance/kuttl/reports/background/verify-image-pass/pod-assert.yaml
  test/conformance/kuttl/reports/background/verify-image-pass/pod.yaml
  test/conformance/kuttl/reports/background/verify-image-pass/policy-assert.yaml
  test/conformance/kuttl/reports/background/verify-image-pass/policy.yaml
Labels: milestone 1.10.0

#6734 fix: event message for the image verify rule
  pkg/event/events.go
Labels: milestone 1.10.0

#6724 refactor: introduce pss validation handler
  api/kyverno/v1/rule_types.go
  api/kyverno/v1/spec_types.go
  api/kyverno/v2beta1/rule_types.go
  api/kyverno/v2beta1/spec_types.go
  cmd/cli/kubectl-kyverno/utils/common/common.go
  pkg/controllers/report/utils/utils.go
  pkg/controllers/webhook/controller.go
  pkg/engine/engine.go
  pkg/engine/handlers/validation/validate_pss.go
  pkg/engine/handlers/validation/validate_resource.go
  pkg/engine/validation.go
  pkg/policycache/store.go
Labels: milestone 1.10.0

#6738 refactor: engine responses
  pkg/engine/api/engineresponse.go
  pkg/engine/api/policyresponse.go
  pkg/engine/api/stats.go
  pkg/engine/background.go
  pkg/engine/engine.go
  pkg/engine/generation.go
  pkg/engine/imageVerify.go
  pkg/engine/internal/response.go
  pkg/engine/mutation.go
  pkg/engine/validation.go
  pkg/utils/annotations_test.go
  pkg/webhooks/utils/block_test.go
Labels: milestone 1.10.0

#6739 fix: missing source in polex events
  pkg/controllers/report/utils/events.go
  pkg/event/events.go
  pkg/webhooks/utils/event.go
  test/conformance/kuttl/exceptions/events-creation/01-policy.yaml
  test/conformance/kuttl/exceptions/events-creation/02-exception.yaml
  test/conformance/kuttl/exceptions/events-creation/03-manifests.yaml
  test/conformance/kuttl/exceptions/events-creation/04-sleep.yaml
  test/conformance/kuttl/exceptions/events-creation/05-assert.yaml
  test/conformance/kuttl/exceptions/events-creation/README.md
  test/conformance/kuttl/exceptions/events-creation/policy-assert.yaml
  test/conformance/kuttl/exceptions/events-creation/policy.yaml
Labels: milestone 1.10.0

#6736 refactor - fire generate upon trigger deletion
  api/kyverno/v1/resource_description_types.go
  api/kyverno/v2beta1/resource_description_types.go
  pkg/webhooks/resource/generation/handler.go
  pkg/webhooks/resource/generation/utils.go
  test/conformance/kuttl/generate/clusterpolicy/cornercases/cpol-data-create-on-trigger-deletion/01-manifests.yaml
Labels: milestone 1.10.0

#6735 refactor: introduce image mutation handler
  pkg/engine/engine.go
  pkg/engine/handlers/handler.go
  pkg/engine/handlers/mutation/common.go
  pkg/engine/handlers/mutation/mutate_image.go
  pkg/engine/handlers/validation/validate_image.go
  pkg/engine/handlers/validation/validate_resource.go
  pkg/engine/imageVerify.go
  pkg/engine/internal/preconditions.go
  pkg/engine/mutation.go
  pkg/engine/validation.go
  pkg/engine/variables/vars.go
Labels: milestone 1.10.0

#6622 [test] test events creation upon generate rule application
  pkg/event/controller.go
  pkg/event/info.go
  test/conformance/kuttl/generate/clusterpolicy/cornercases/generate-event-upon-edit/01-clusterrole.yaml
  test/conformance/kuttl/generate/clusterpolicy/cornercases/generate-event-upon-edit/02-assert.yaml
  test/conformance/kuttl/generate/clusterpolicy/cornercases/generate-event-upon-edit/02-clusterpolicy.yaml
  test/conformance/kuttl/generate/clusterpolicy/cornercases/generate-event-upon-edit/03-configmap_orig.yaml
  test/conformance/kuttl/generate/clusterpolicy/cornercases/generate-event-upon-edit/04-configmap_edit_1.yaml
  test/conformance/kuttl/generate/clusterpolicy/cornercases/generate-event-upon-edit/05-assert.yaml
  test/conformance/kuttl/generate/clusterpolicy/cornercases/generate-event-upon-edit/06-configmap_edit_2.yaml
  test/conformance/kuttl/generate/clusterpolicy/cornercases/generate-event-upon-edit/07-assert.yaml
  test/conformance/kuttl/generate/clusterpolicy/cornercases/generate-event-upon-edit/08-reset-clusterrole.yaml
  test/conformance/kuttl/generate/clusterpolicy/cornercases/generate-event-upon-edit/README.md
Labels: milestone 1.10.0

#6752 test: kuttl new test for mutate foreach
  test/conformance/kuttl/mutate/e2e/foreach-patchStrategicMerge-context/01-manifests.yaml
  test/conformance/kuttl/mutate/e2e/foreach-patchStrategicMerge-context/02-assert.yaml
  test/conformance/kuttl/mutate/e2e/foreach-patchStrategicMerge-context/02-policy.yaml
  test/conformance/kuttl/mutate/e2e/foreach-patchStrategicMerge-context/03-assert.yaml
  test/conformance/kuttl/mutate/e2e/foreach-patchStrategicMerge-context/03-pod.yaml
  test/conformance/kuttl/mutate/e2e/foreach-patchStrategicMerge-context/README.md
Labels: milestone 1.10.0
