Repository kyverno/kyverno, pull requests merged in 2023-01, with the labels that each got.

#5819 add source archive checksum into the checksums.txt
  .goreleaser.yml
Labels: cherry-pick-required, milestone 1.9.0

#5813 Adds JMESPath filter for returning current time
  pkg/engine/jmespath/functions.go
Labels: cherry-pick-required, milestone 1.9.0

#5832 fix: default value for validationFailureAction
  api/kyverno/v1/spec_types.go
  api/kyverno/v2beta1/spec_types.go
  charts/kyverno/templates/crds.yaml
  config/crds/kyverno.io_clusterpolicies.yaml
  config/crds/kyverno.io_policies.yaml
  config/install.yaml
  docs/user/crd/index.html
Labels: cherry-pick-required, milestone 1.9.0

#4715 Adding configuration option for default registry domain
  charts/kyverno/README.md
  charts/kyverno/templates/configmap.yaml
  charts/kyverno/values.yaml
  cmd/cleanup-controller/handlers/cleanup/handlers.go
  cmd/cleanup-controller/main.go
  cmd/cleanup-controller/server.go
  cmd/cli/kubectl-kyverno/utils/common/common.go
  cmd/kyverno/main.go
  config/install.yaml
  pkg/background/common/context.go
  pkg/config/config.go
  pkg/controllers/report/background/controller.go
  pkg/controllers/report/utils/scanner.go
  pkg/engine/context/context.go
  pkg/engine/imageVerify.go
  pkg/engine/imageVerifyValidate.go
  pkg/engine/imageVerify_test.go
  pkg/engine/mutation_test.go
  pkg/engine/policyContext.go
  pkg/engine/validation.go
  pkg/engine/validation_test.go
  pkg/policy/apply.go
  pkg/policy/policy_controller.go
  pkg/policy/validate.go
  pkg/policy/validate_test.go
  pkg/testrunner/scenario.go
  pkg/utils/api/image.go
  pkg/utils/api/image_test.go
  pkg/utils/image/infos.go
  pkg/utils/image/infos_test.go
  pkg/webhooks/resource/handlers.go
  pkg/webhooks/resource/imageverification/handler.go
  pkg/webhooks/resource/validation/validation.go
  pkg/webhooks/resource/validation_test.go
Labels: milestone 1.10.0

#5835 fix: enum values for ValidationFailureActionOverride
  api/kyverno/v1/spec_types.go
  charts/kyverno/templates/crds.yaml
  config/crds/kyverno.io_clusterpolicies.yaml
  config/crds/kyverno.io_policies.yaml
  config/install.yaml
Labels: cherry-pick-required, milestone 1.9.0

#5829 chore: cleanup codecov workflow
  .github/workflows/codecov.yaml
  .github/workflows/comment-commands.yaml
  .github/workflows/conformance.yaml
Labels: cherry-pick-required, milestone 1.9.0

#5834 chore: add a couple unit tests
  pkg/utils/kube/tombstone_test.go
  pkg/utils/kube/unstructured_test.go
  pkg/utils/kube/wildcard.go
  pkg/utils/kube/wildcard_test.go
Labels: cherry-pick-required, milestone 1.9.0

#5828 refactor: move utils into sub packages
  pkg/autogen/rule.go
  pkg/background/common/context.go
  pkg/controllers/openapi/controller.go
  pkg/controllers/openapi/utils.go
  pkg/engine/common/utils.go
  pkg/engine/policyContext.go
  pkg/engine/validation_test.go
  pkg/policy/validate.go
  pkg/utils/admission/resource.go
  pkg/utils/admission/resource_test.go
  pkg/utils/admission/utils.go
  pkg/utils/admission/utils_test.go
  pkg/utils/api/json.go
  pkg/utils/kube/secret.go
  pkg/utils/util.go
  pkg/webhooks/handlers/dump.go
  pkg/webhooks/handlers/protect.go
Labels: cherry-pick-required, milestone 1.9.0

#5837 fix webhookCleanup enable switch syntax
  charts/kyverno/Chart.yaml
  charts/kyverno/README.md
  charts/kyverno/templates/helm-pre-delete-hook.yaml
  charts/kyverno/values.yaml
Labels: milestone 1.10.0

#5844 chore: cleanup a couple workflows
  .github/workflows/fossa.yml
  .github/workflows/helm-test.yaml
  .github/workflows/nancy.yaml
  .github/workflows/sonarcloud.yaml
Labels: cherry-pick-required, milestone 1.9.0

#5847 chore: move ConvertToUnstructured from engine utils to kube utils
  cmd/cli/kubectl-kyverno/apply/report.go
  cmd/cli/kubectl-kyverno/utils/common/common.go
  cmd/cli/kubectl-kyverno/utils/common/fetch.go
  pkg/background/generate/generate.go
  pkg/clients/dclient/client.go
  pkg/engine/forceMutate_test.go
  pkg/engine/imageVerify_test.go
  pkg/engine/mutate/mutation_test.go
  pkg/engine/mutation_test.go
  pkg/engine/utils/utils.go
  pkg/engine/utils_test.go
  pkg/engine/validation_test.go
  pkg/utils/admission/resource.go
  pkg/utils/api/image_test.go
  pkg/utils/kube/unstructured.go
  pkg/utils/kube/unstructured_test.go
  pkg/webhooks/handlers/dump.go
  pkg/webhooks/resource/generation/generation.go
  pkg/webhooks/resource/handlers.go
  pkg/webhooks/resource/validation_test.go
Labels: cherry-pick-required, milestone 1.9.0

#5843 fix: improve cli help message
  cmd/cli/kubectl-kyverno/jp/function/function.go
  cmd/cli/kubectl-kyverno/jp/jp.go
  cmd/cli/kubectl-kyverno/jp/parse/parse.go
  cmd/cli/kubectl-kyverno/jp/query/query.go
Labels: cherry-pick-required, milestone 1.9.0

#5840 chore: bump a couple of deps
  go.mod
  go.sum
Labels: cherry-pick-required, milestone 1.9.0

#5810 feat: improve background scan reports enqueue logic
  pkg/controllers/report/aggregate/controller.go
  pkg/controllers/report/background/controller.go
  pkg/controllers/report/utils/utils.go
  test/conformance/kuttl/kuttl-test.yaml
  test/conformance/kuttl/reports/background/test-report-background-mode/01-pod.yaml
  test/conformance/kuttl/reports/background/test-report-background-mode/02-policy.yaml
  test/conformance/kuttl/reports/background/test-report-background-mode/03-report.yaml
  test/conformance/kuttl/reports/background/test-report-background-mode/99-cleanup.yaml
  test/conformance/kuttl/reports/background/test-report-background-mode/README.md
  test/conformance/kuttl/reports/background/test-report-background-mode/pod-assert.yaml
  test/conformance/kuttl/reports/background/test-report-background-mode/pod.yaml
  test/conformance/kuttl/reports/background/test-report-background-mode/policy-assert.yaml
  test/conformance/kuttl/reports/background/test-report-background-mode/policy.yaml
  test/conformance/kuttl/reports/background/test-report-background-mode/report-assert.yaml
Labels: cherry-pick-required, milestone 1.9.0

#5846 fix(chart/kyverno): handle multiple extraArgs in init container
  charts/kyverno/Chart.yaml
  charts/kyverno/templates/deployment.yaml
  config/install.yaml
Labels: cherry-pick-required, milestone 1.9.0

#5823 Walk back change in PSS policy to send to to_upper
  charts/kyverno-policies/Chart.yaml
  charts/kyverno-policies/templates/restricted/disallow-capabilities-strict.yaml
Labels: cherry-pick-required, milestone 1.9.0

#5851 feat: cleanup new validatingwebhooks
  charts/kyverno/templates/helm-pre-delete-hook.yaml
Labels: cherry-pick-required, milestone 1.9.0

#5807 fix: background scan events
  cmd/kyverno/main.go
  pkg/controllers/report/background/controller.go
  pkg/controllers/report/utils/events.go
  pkg/controllers/report/utils/scanner.go
  pkg/policy/apply.go
  pkg/policy/common.go
  pkg/policy/policy_controller.go
  pkg/policy/resource_manager.go
  pkg/policy/utils.go
Labels: cherry-pick-required, milestone 1.9.0

#5862 fix: incorrect variable substitution`request.object.*` for mutateExisting policies
  pkg/engine/mutate/mutation.go
  test/conformance/kuttl/mutate/clusterpolicy/cornercases/variables-mutate-existing/01-assert.yaml
  test/conformance/kuttl/mutate/clusterpolicy/cornercases/variables-mutate-existing/01-policy.yaml
  test/conformance/kuttl/mutate/clusterpolicy/cornercases/variables-mutate-existing/02-assert.yaml
  test/conformance/kuttl/mutate/clusterpolicy/cornercases/variables-mutate-existing/02-resources.yaml
  test/conformance/kuttl/mutate/clusterpolicy/cornercases/variables-mutate-existing/03-update-cm.yaml
  test/conformance/kuttl/mutate/clusterpolicy/cornercases/variables-mutate-existing/04-cm-assert.yaml
  test/conformance/kuttl/mutate/clusterpolicy/cornercases/variables-mutate-existing/99-cleanup.yaml
  test/conformance/kuttl/mutate/clusterpolicy/cornercases/variables-mutate-existing/README.md
  test/conformance/kuttl/mutate/clusterpolicy/cornercases/variables-mutate-existing/update-mycm.yaml
Labels: cherry-pick-required, milestone 1.9.0

#5865 fix: force background scan recomputation
  pkg/controllers/report/background/controller.go
Labels: cherry-pick-required, milestone 1.9.0

#5875 fix validation checks for foreach and nested foreach
  pkg/policy/validate/validate.go
Labels: cherry-pick-required, milestone 1.9.0

#5871 refactor: improve background scan reconciliation
  pkg/controllers/report/background/controller.go
  pkg/controllers/report/resource/controller.go
  pkg/utils/controller/metadata.go
Labels: cherry-pick-required, milestone 1.9.0

#5881 fix: Add group to subresources declaration in value.yaml file for CLI
  cmd/cli/kubectl-kyverno/apply/apply_command.go
  cmd/cli/kubectl-kyverno/test/test_command.go
Labels: cherry-pick-required, milestone 1.9.0

#5883 chore: small gh workflows improvements
  .github/workflows/cli.yaml
  .github/workflows/comment-commands.yaml
  .github/workflows/fossa.yml
  .github/workflows/pr-update.yaml
Labels: cherry-pick-required, milestone 1.9.0

#5885 chore: use gh composite actions
  .github/actions/kyverno-logs/action.yaml
  .github/actions/kyverno-wait-ready/action.yaml
  .github/workflows/conformance.yaml
  Makefile
Labels: cherry-pick-required, milestone 1.9.0

#5870 fix: add missing kuttl assert file
  test/conformance/kuttl/mutate/clusterpolicy/cornercases/variables-mutate-existing/05-pod-assert.yaml
  test/conformance/kuttl/mutate/clusterpolicy/cornercases/variables-mutate-existing/06-errors.yaml
Labels: cherry-pick-required, milestone 1.9.0

#5888 fix: use var 'target.*' in cleanup policies
  cmd/cleanup-controller/handlers/cleanup/handlers.go
  pkg/validation/cleanuppolicy/validate.go
  test/conformance/kuttl/cleanup/clusterpolicy/cleanup-pod/00-assert.yaml
  test/conformance/kuttl/cleanup/clusterpolicy/cleanup-pod/00-manifests.yaml
  test/conformance/kuttl/cleanup/clusterpolicy/cleanup-pod/01-assert.yaml
  test/conformance/kuttl/cleanup/clusterpolicy/cleanup-pod/01-policy.yaml
  test/conformance/kuttl/cleanup/clusterpolicy/cleanup-pod/02-sleep.yaml
  test/conformance/kuttl/cleanup/clusterpolicy/cleanup-pod/03-errors.yaml
  test/conformance/kuttl/cleanup/clusterpolicy/cleanup-pod/99-cleanup.yaml
  test/conformance/kuttl/cleanup/clusterpolicy/cleanup-pod/README.md
  test/conformance/kuttl/cleanup/policy/cleanup-pod/00-assert.yaml
  test/conformance/kuttl/cleanup/policy/cleanup-pod/00-manifests.yaml
  test/conformance/kuttl/cleanup/policy/cleanup-pod/01-assert.yaml
  test/conformance/kuttl/cleanup/policy/cleanup-pod/01-policy.yaml
  test/conformance/kuttl/cleanup/policy/cleanup-pod/02-sleep.yaml
  test/conformance/kuttl/cleanup/policy/cleanup-pod/03-errors.yaml
  test/conformance/kuttl/cleanup/policy/cleanup-pod/99-cleanup.yaml
  test/conformance/kuttl/cleanup/policy/cleanup-pod/README.md
  test/conformance/kuttl/cleanup/validation/cron-format/00-assert.yaml
  test/conformance/kuttl/cleanup/validation/cron-format/00-cleanuppolicy.yaml
  test/conformance/kuttl/cleanup/validation/cron-format/01-assert.yaml
  test/conformance/kuttl/cleanup/validation/cron-format/01-clustercleanuppolicy.yaml
  test/conformance/kuttl/cleanup/validation/cron-format/02-create-task.yaml
  test/conformance/kuttl/cleanup/validation/cron-format/badcleanuppolicy.yaml
Labels: cherry-pick-required, milestone 1.9.0

#5892 chore: add setup-build-env gh action
  .github/actions/setup-build-env/action.yaml
  .github/workflows/cli.yaml
  .github/workflows/codecov.yaml
  .github/workflows/conformance.yaml
  .github/workflows/fossa.yml
  .github/workflows/helm-release.yaml
  .github/workflows/helm-test.yaml
  .github/workflows/image-build.yaml
  .github/workflows/nancy.yaml
  .github/workflows/release.yaml
  .github/workflows/report-on-vulnerabilities.yaml
  .github/workflows/sonarcloud.yaml
  .github/workflows/tests.yaml
  .github/workflows/verify-codegen.yaml
Labels: cherry-pick-required, milestone 1.9.0

#5897 chore: add setup test env gh action
  .github/actions/setup-test-env/action.yaml
  .github/workflows/conformance.yaml
  .github/workflows/scorecard.yaml
Labels: cherry-pick-required, milestone 1.9.0

#5907 chore: make check actions pinned by hash a standalone ci job
  .github/workflows/check-actions.yaml
  .github/workflows/tests.yaml
Labels: cherry-pick-required, milestone 1.9.0

#5909 fix: configure gh workflow permission
  .github/workflows/cli.yaml
  .github/workflows/codecov.yaml
  .github/workflows/fossa.yml
  .github/workflows/nancy.yaml
  .github/workflows/sonarcloud.yaml
  .github/workflows/verify-codegen.yaml
Labels: cherry-pick-required, milestone 1.9.0

#5913 fix: golangci-lint workflow
  .github/workflows/tests.yaml
  .github/workflows/verify-codegen.yaml
Labels: cherry-pick-required, milestone 1.9.0

#5906 fix: mutateExisting - set resourceVersion before update
  pkg/background/mutate/mutate.go
Labels: cherry-pick-required, milestone 1.9.0

#5886 fix: Configure webhook to add `ephemeralcontainers` for policies matching on Pod
  pkg/controllers/webhook/utils.go
  pkg/engine/utils.go
  pkg/policy/validate.go
  pkg/utils/match/match.go
  pkg/utils/match/match_test.go
Labels: cherry-pick-required, milestone 1.9.0

#5904 fix: cleanup controller - restrict cronjobs by PSS restricted checks
  pkg/controllers/cleanup/controller.go
Labels: cherry-pick-required, milestone 1.9.0

#5898 switch app version to latest
  charts/kyverno/Chart.yaml
  charts/kyverno/README.md
Labels: milestone 1.10.0

#5914 chore: add missing gh workflow concurrency statements
  .github/workflows/cli.yaml
  .github/workflows/codecov.yaml
  .github/workflows/fossa.yml
  .github/workflows/helm-release.yaml
  .github/workflows/helm-test.yaml
  .github/workflows/image-build.yaml
  .github/workflows/image.yaml
  .github/workflows/nancy.yaml
  .github/workflows/release.yaml
  .github/workflows/scorecard.yaml
  .github/workflows/sonarcloud.yaml
Labels: cherry-pick-required, milestone 1.9.0

#5921 chore: do not run pr update workflow if token is not defined
  .github/workflows/pr-update.yaml
Labels: milestone 1.10.0

#5817 Added a time_add() filter to add duration and absolute time
  pkg/engine/jmespath/functions.go
  pkg/engine/jmespath/functions_test.go
Labels: cherry-pick-required, milestone 1.9.0

#5925 fix: condition jobs in gh workflows
  .github/actions/is-defined/action.yaml
  .github/workflows/pr-update.yaml
Labels: milestone 1.10.0

#5926 fix: condition jobs in gh workflows
  .github/workflows/pr-update.yaml
Labels: milestone 1.10.0

#5920 chore: simplify tests workflow
  .github/workflows/tests.yaml
  Makefile
Labels: cherry-pick-required, milestone 1.9.0

#5918 chore: do not run sonar workflow if token is not defined
  .github/workflows/sonarcloud.yaml
Labels: milestone 1.10.0

#5910 chore: fix releaser badge
  .github/workflows/cli.yaml
  README.md
Labels: cherry-pick-required, milestone 1.9.0

#5927 chore: do not run scorecard workflow if token is not defined
  .github/workflows/scorecard.yaml
Labels: milestone 1.10.0

#5931 fix: missing user info matching
  cmd/cleanup-controller/handlers/cleanup/handlers.go
  pkg/engine/validation.go
  pkg/utils/match/match.go
Labels: cherry-pick-required, milestone 1.9.0

#5935 test: add kuttl test for policy exception
  Makefile
  test/conformance/kuttl/exceptions/allows-rejects-creation/01-policy.yaml
  test/conformance/kuttl/exceptions/allows-rejects-creation/02-exception.yaml
  test/conformance/kuttl/exceptions/allows-rejects-creation/03-configmap.yaml
  test/conformance/kuttl/exceptions/allows-rejects-creation/README.md
  test/conformance/kuttl/exceptions/allows-rejects-creation/configmap-allowed.yaml
  test/conformance/kuttl/exceptions/allows-rejects-creation/configmap-rejected.yaml
  test/conformance/kuttl/exceptions/allows-rejects-creation/exception.yaml
  test/conformance/kuttl/exceptions/allows-rejects-creation/policy-assert.yaml
  test/conformance/kuttl/exceptions/allows-rejects-creation/policy.yaml
  test/conformance/kuttl/exceptions/only-for-specific-user/01-policy.yaml
  test/conformance/kuttl/exceptions/only-for-specific-user/02-exception.yaml
  test/conformance/kuttl/exceptions/only-for-specific-user/03-configmap.yaml
  test/conformance/kuttl/exceptions/only-for-specific-user/README.md
  test/conformance/kuttl/exceptions/only-for-specific-user/configmap.yaml
  test/conformance/kuttl/exceptions/only-for-specific-user/exception.yaml
  test/conformance/kuttl/exceptions/only-for-specific-user/policy-assert.yaml
  test/conformance/kuttl/exceptions/only-for-specific-user/policy.yaml
Labels: cherry-pick-required, milestone 1.9.0

#5943 fix: cleanup policies with user infos in match/exclude should be rejected
  api/kyverno/v1/user_info_types.go
  api/kyverno/v2alpha1/cleanup_policy_types.go
  api/kyverno/v2beta1/match_resources_types.go
  test/conformance/kuttl/cleanup/validation/no-user-info-in-match/01-cleanuppolicy.yaml
  test/conformance/kuttl/cleanup/validation/no-user-info-in-match/README.md
  test/conformance/kuttl/cleanup/validation/no-user-info-in-match/cleanuppolicy-with-clusterroles.yaml
  test/conformance/kuttl/cleanup/validation/no-user-info-in-match/cleanuppolicy-with-roles.yaml
  test/conformance/kuttl/cleanup/validation/no-user-info-in-match/cleanuppolicy-with-subjects.yaml
Labels: cherry-pick-required, milestone 1.9.0

#5928 Fixes `time_now` failing
  pkg/engine/jmespath/functions.go
  pkg/engine/jmespath/functions_test.go
Labels: cherry-pick-required, milestone 1.9.0

#5948 fix: update policy exception CRD description
  api/kyverno/v2alpha1/policy_exception_types.go
  charts/kyverno/templates/crds.yaml
  config/crds/kyverno.io_policyexceptions.yaml
  config/install.yaml
  docs/user/crd/index.html
Labels: cherry-pick-required, milestone 1.9.0

#5941 chore: policy report - improve logging
  pkg/config/config.go
  pkg/controllers/report/background/controller.go
  pkg/controllers/report/resource/controller.go
  pkg/controllers/report/utils/utils.go
Labels: cherry-pick-required, milestone 1.9.0

#5950 feat: add more time jmespath filters
  pkg/engine/jmespath/functions.go
  pkg/engine/jmespath/functions_test.go
  pkg/engine/jmespath/time.go
  pkg/engine/jmespath/time_test.go
Labels: cherry-pick-required, milestone 1.9.0

#5956 fix: imageRef mismatch
  pkg/engine/imageVerify.go
  test/conformance/kuttl/verifyImages/clusterpolicy/cornercases/multiple-attestors/01-assert.yaml
  test/conformance/kuttl/verifyImages/clusterpolicy/cornercases/multiple-attestors/01-policy.yaml
  test/conformance/kuttl/verifyImages/clusterpolicy/cornercases/multiple-attestors/02-assert.yaml
  test/conformance/kuttl/verifyImages/clusterpolicy/cornercases/multiple-attestors/02-pod.yaml
  test/conformance/kuttl/verifyImages/clusterpolicy/cornercases/multiple-attestors/99-cleanup.yaml
  test/conformance/kuttl/verifyImages/clusterpolicy/cornercases/multiple-attestors/README.md
Labels: cherry-pick-required, milestone 1.9.0

#5958 refactor: engine pattern package and add duration support
  pkg/background/generate/validate.go
  pkg/engine/common/common.go
  pkg/engine/common/pattern.go
  pkg/engine/common/pattern_test.go
  pkg/engine/operator/operator.go
  pkg/engine/pattern/pattern.go
  pkg/engine/pattern/pattern_test.go
  pkg/engine/validate/validate.go
  pkg/engine/variables/operator/anyin.go
Labels: doc required, milestone 1.10.0

#5960 fix: chart kyverno-policies invalid annotations
  charts/kyverno-policies/Chart.yaml
Labels: cherry-pick-required, milestone 1.9.0

#5966 feat: add cluster role aggregation to cleanup controller
  charts/kyverno/templates/cleanup-controller/_helpers.tpl
  charts/kyverno/templates/cleanup-controller/clusterrole.yaml
  charts/kyverno/templates/cleanup-controller/clusterrolebinding.yaml
  charts/kyverno/templates/cleanup-controller/role.yaml
  charts/kyverno/templates/cleanup-controller/rolebinding.yaml
  config/install.yaml
Labels: cherry-pick-required, milestone 1.9.0

#5967 chore: upload CRDs manifests to GH release
  .github/workflows/release.yaml
Labels: cherry-pick-required, milestone 1.9.0

#5965 fix: helm selector
  charts/kyverno/templates/_helpers.tpl
Labels: cherry-pick-required, milestone 1.9.0

#5964 [Enhancement] Removes dead code from `pkg/policy`
  pkg/policy/condition.go
  pkg/policy/policy_controller.go
  pkg/policy/validate_test.go
Labels: milestone 1.10.0

#5977 chore: log out deleted resources at default level for cleanup policies
  cmd/cleanup-controller/handlers/cleanup/handlers.go
Labels: cherry-pick-required, milestone 1.9.0

#5974 fix: invoke cleanup process during shutdown
  charts/kyverno/templates/clusterrole.yaml
  cmd/internal/setup.go
  cmd/kyverno/main.go
  config/install.yaml
  pkg/controllers/generic/webhook/controller.go
  pkg/controllers/webhook/controller.go
  pkg/controllers/webhook/utils.go
  pkg/utils/annotations.go
  pkg/webhooks/server.go
Labels: cherry-pick-required, milestone 1.9.0

#5982 feat: create events for cleanup policies
  charts/kyverno/templates/cleanup-controller/clusterrole.yaml
  cmd/cleanup-controller/handlers/cleanup/event.go
  cmd/cleanup-controller/handlers/cleanup/handlers.go
  config/install.yaml
Labels: cherry-pick-required, milestone 1.9.0

#5994 fix: drop events when queue size is zero
  pkg/event/controller.go
Labels: milestone 1.10.0

#5987 fix: generate policy exception events
  pkg/controllers/report/utils/events.go
  pkg/event/events.go
  pkg/webhooks/utils/event.go
Labels: cherry-pick-required, milestone 1.9.0

#5988 feat: create warning events on errors for cleanup policies
  cmd/cleanup-controller/handlers/cleanup/handlers.go
Labels: cherry-pick-required, milestone 1.9.0

#5980 fix: policy exceptions not working in background mode
  cmd/kyverno/main.go
  pkg/controllers/report/background/controller.go
  pkg/controllers/report/utils/scanner.go
  pkg/engine/validation.go
  test/conformance/kuttl/reports/admission/exception/01-policy.yaml
  test/conformance/kuttl/reports/admission/exception/02-exception.yaml
  test/conformance/kuttl/reports/admission/exception/03-configmap.yaml
  test/conformance/kuttl/reports/admission/exception/04-report.yaml
  test/conformance/kuttl/reports/admission/exception/README.md
  test/conformance/kuttl/reports/admission/exception/configmap.yaml
  test/conformance/kuttl/reports/admission/exception/exception.yaml
  test/conformance/kuttl/reports/admission/exception/policy-assert.yaml
  test/conformance/kuttl/reports/admission/exception/policy.yaml
  test/conformance/kuttl/reports/admission/exception/report-assert.yaml
  test/conformance/kuttl/reports/background/exception/01-policy.yaml
  test/conformance/kuttl/reports/background/exception/02-exception.yaml
  test/conformance/kuttl/reports/background/exception/03-configmap.yaml
  test/conformance/kuttl/reports/background/exception/04-report.yaml
  test/conformance/kuttl/reports/background/exception/README.md
  test/conformance/kuttl/reports/background/exception/configmap.yaml
  test/conformance/kuttl/reports/background/exception/exception.yaml
  test/conformance/kuttl/reports/background/exception/policy-assert.yaml
  test/conformance/kuttl/reports/background/exception/policy.yaml
  test/conformance/kuttl/reports/background/exception/report-assert.yaml
Labels: cherry-pick-required, milestone 1.9.0

#5998 chore: log out cleanup policy events
  pkg/controllers/cleanup/controller.go
Labels: cherry-pick-required, milestone 1.9.0

#6008 fix: policy match Kind case-senstive
  pkg/engine/utils_test.go
  pkg/utils/match/kind.go
  pkg/utils/match/kind_test.go
  test/cli/test/wildcard_match_label_selector/policy.yaml
  test/conformance/kuttl/validate/e2e/lowercase-kind-crd/00-create-crd.yaml
  test/conformance/kuttl/validate/e2e/lowercase-kind-crd/01-assert.yaml
  test/conformance/kuttl/validate/e2e/lowercase-kind-crd/01-manifests.yaml
  test/conformance/kuttl/validate/e2e/lowercase-kind-crd/02-script.yaml
  test/conformance/kuttl/validate/e2e/lowercase-kind-crd/99-cleanup.yaml
  test/conformance/kuttl/validate/e2e/lowercase-kind-crd/README.md
  test/conformance/kuttl/validate/e2e/lowercase-kind-crd/postgresqls-ready.yaml
  test/conformance/kuttl/validate/e2e/lowercase-kind-crd/postgresqls.yaml
  test/conformance/kuttl/validate/e2e/lowercase-kind-crd/resource.yaml
Labels: cherry-pick-required, milestone 1.9.0

#5962 fix: change inrange operator regexs
  pkg/engine/operator/operator.go
  pkg/engine/operator/operator_test.go
  pkg/engine/pattern/pattern.go
  pkg/engine/pattern/pattern_test.go
  test/cli/test/rangeoperators/kyverno-test.yaml
  test/cli/test/rangeoperators/policy.yaml
  test/cli/test/rangeoperators/resources.yaml
  test/conformance/kuttl/rangeoperators/standard/01-policy.yaml
  test/conformance/kuttl/rangeoperators/standard/02-resource.yaml
  test/conformance/kuttl/rangeoperators/standard/README.md
  test/conformance/kuttl/rangeoperators/standard/policy-assert.yaml
  test/conformance/kuttl/rangeoperators/standard/policy.yaml
  test/conformance/kuttl/rangeoperators/standard/resource.yaml
Labels: cherry-pick-required, milestone 1.9.0

#6017 optimize the tables and partial descriptions in the document
  ADOPTERS.md
  CONTRIBUTING.md
  DEVELOPMENT.md
  MAINTAINERS.md
Labels: milestone 1.10.0

#4461 feat: Use standard selector for validationFailureActionOverrides
  api/kyverno/v1/spec_types.go
  api/kyverno/v1/zz_generated.deepcopy.go
  charts/kyverno/templates/crds.yaml
  config/crds/kyverno.io_clusterpolicies.yaml
  config/crds/kyverno.io_policies.yaml
  config/install.yaml
  config/install_debug.yaml
  docs/crd/v1/index.html
  docs/user/crd/index.html
  pkg/engine/response/response.go
  pkg/engine/validation.go
  pkg/utils/match/labels.go
  pkg/webhooks/resource/validation_test.go
Labels: milestone 1.10.0

#6020 fix: ns labels matching
  pkg/engine/utils.go
  test/conformance/kuttl/validate/clusterpolicy/standard/enforce/ns-selector-with-wildcard-kind/01-ns.yaml
  test/conformance/kuttl/validate/clusterpolicy/standard/enforce/ns-selector-with-wildcard-kind/02-policy.yaml
  test/conformance/kuttl/validate/clusterpolicy/standard/enforce/ns-selector-with-wildcard-kind/03-pod-fail.yaml
  test/conformance/kuttl/validate/clusterpolicy/standard/enforce/ns-selector-with-wildcard-kind/README.md
  test/conformance/kuttl/validate/clusterpolicy/standard/enforce/ns-selector-with-wildcard-kind/ns.yaml
  test/conformance/kuttl/validate/clusterpolicy/standard/enforce/ns-selector-with-wildcard-kind/pod-fail.yaml
  test/conformance/kuttl/validate/clusterpolicy/standard/enforce/ns-selector-with-wildcard-kind/pod-pass.yaml
  test/conformance/kuttl/validate/clusterpolicy/standard/enforce/ns-selector-with-wildcard-kind/policy-assert.yaml
  test/conformance/kuttl/validate/clusterpolicy/standard/enforce/ns-selector-with-wildcard-kind/policy.yaml
Labels: cherry-pick-required, milestone 1.9.0

#5352 feat: add separate reports-controller
  .gitignore
  Makefile
  cmd/reports-controller/main.go
Labels: milestone 1.10.0

#6024 chore: simplify pr update workflow
  .github/workflows/pr-update.yaml
Labels: milestone 1.10.0

#6025 chore: simplify images build workflow
  .github/workflows/image-build.yaml
  .github/workflows/images-build.yaml
Labels: milestone 1.10.0

#6029 chore: improve publish images workflow
  .github/actions/publish-image/action.yaml
  .github/workflows/image.yaml
  .github/workflows/images-publish.yaml
Labels: milestone 1.10.0

#6030 feat: add missing polex flags
  charts/kyverno/README.md
  charts/kyverno/values.yaml
  cmd/kyverno/main.go
  cmd/reports-controller/main.go
  config/install.yaml
  pkg/controllers/report/background/controller.go
  pkg/controllers/report/utils/scanner.go
  pkg/engine/policyContext.go
  pkg/webhooks/resource/handlers.go
  pkg/webhooks/utils/policy_context_builder.go
  scripts/config/dev/kyverno.yaml
  scripts/config/standard/kyverno.yaml
Labels: cherry-pick-required, milestone 1.9.0

#6031 chore: simplify release workflow
  .github/workflows/release.yaml
  .github/workflows/reuse.yaml
Labels: milestone 1.10.0

#6044 chore: remove prateek and vyanky from codeowners
  CODEOWNERS
Labels: milestone 1.10.0

#6041 docs: add tagging strategy in DEVELOPMENT.md
  DEVELOPMENT.md
Labels: milestone 1.10.0

#6043 feat: remove generate request CRD
  CHANGELOG.md
  api/kyverno/v1/generaterequest_types.go
  api/kyverno/v1/register.go
  api/kyverno/v1/zz_generated.deepcopy.go
  charts/kyverno/templates/aggregateroles.yaml
  charts/kyverno/templates/clusterrole.yaml
  charts/kyverno/templates/crds.yaml
  cmd/initContainer/main.go
  config/crds/kyverno.io_generaterequests.yaml
  config/install.yaml
  data/apiResources.go
  data/preferredResources.go
  docs/user/crd/index.html
  pkg/client/clientset/versioned/typed/kyverno/v1/fake/fake_generaterequest.go
  pkg/client/clientset/versioned/typed/kyverno/v1/fake/fake_kyverno_client.go
  pkg/client/clientset/versioned/typed/kyverno/v1/generated_expansion.go
  pkg/client/clientset/versioned/typed/kyverno/v1/generaterequest.go
  pkg/client/clientset/versioned/typed/kyverno/v1/kyverno_client.go
  pkg/client/informers/externalversions/generic.go
  pkg/client/informers/externalversions/kyverno/v1/generaterequest.go
  pkg/client/informers/externalversions/kyverno/v1/interface.go
  pkg/client/listers/kyverno/v1/expansion_generated.go
  pkg/client/listers/kyverno/v1/generaterequest.go
  pkg/clients/kyverno/kyvernov1/client.generated.go
  pkg/clients/kyverno/kyvernov1/generaterequests/resource.generated.go
  pkg/engine/utils.go
  pkg/webhooks/utils/exclude.go
  pkg/webhooks/utils/exclude_test.go
  test/conformance/kuttl/rbac/aggregate-to-admin/00-cluster-role.yaml
  test/conformance/kuttl/rbac/aggregate-to-admin/admin-generaterequest.yaml
Labels: milestone 1.10.0

#6045 feat: remove report controllers from kyverno admission controller
  Makefile
  charts/kyverno/README.md
  charts/kyverno/templates/reports-controller/_helpers.tpl
  charts/kyverno/templates/reports-controller/clusterrole.yaml
  charts/kyverno/templates/reports-controller/clusterrolebinding.yaml
  charts/kyverno/templates/reports-controller/deployment.yaml
  charts/kyverno/templates/reports-controller/poddisruptionbudget.yaml
  charts/kyverno/templates/reports-controller/role.yaml
  charts/kyverno/templates/reports-controller/rolebinding.yaml
  charts/kyverno/templates/reports-controller/service.yaml
  charts/kyverno/templates/reports-controller/serviceaccount.yaml
  charts/kyverno/templates/reports-controller/servicemonitor.yaml
  charts/kyverno/values.yaml
  cmd/kyverno/main.go
  config/install.yaml
Labels: milestone 1.10.0

#6047 fix: replace + with _ in Chart.Version label field
  charts/kyverno-policies/templates/_helpers.tpl
Labels: cherry-pick-required, milestone 1.9.0

#6057 chore: bump a couple of deps
  go.mod
  go.sum
Labels: milestone 1.10.0

#6053 chore: run helm test
  .github/actions/setup-test-env/action.yaml
  .github/workflows/helm-test.yaml
  Makefile
Labels: milestone 1.10.0

#6042 fix: comment format
  api/kyverno/v1/common_types.go
  api/kyverno/v1/policy_status.go
  charts/kyverno/templates/crds.yaml
  config/crds/kyverno.io_clusterpolicies.yaml
  config/crds/kyverno.io_policies.yaml
  config/install.yaml
  docs/user/crd/index.html
Labels: milestone 1.10.0

#6051 fix: pin busybox image tag in helm tests
  charts/kyverno/README.md
  charts/kyverno/values.yaml
Labels: cherry-pick-required, milestone 1.9.0

#6058 fix: dev lab
  scripts/config/dev/kube-prometheus-stack.yaml
  scripts/config/dev/kyverno.yaml
Labels: milestone 1.10.0

#6050 feat: add new updaterequest_controller entrypoint
  cmd/kyverno/main.go
  cmd/updaterequest-controller/main.go
  pkg/utils/kube/crd.go
Labels: milestone 1.10.0

#6065 refactor: helm namespace override
  charts/kyverno/README.md
  charts/kyverno/README.md.gotmpl
  charts/kyverno/templates/_helpers.tpl
  charts/kyverno/values.yaml
Labels: milestone 1.10.0

#6066 fix: helm default values ci file name
  charts/kyverno/ci/default-values.yaml
  charts/kyverno/ci/default-vaules.yaml
Labels: milestone 1.10.0

#6069 refactor: move helm image pull secrets in config folder
  charts/kyverno/README.md
  charts/kyverno/templates/_helpers.tpl
  charts/kyverno/templates/config/_helpers.tpl
  charts/kyverno/templates/config/imagepullsecret.yaml
  charts/kyverno/values.yaml
Labels: milestone 1.10.0

#6067 refactor: helm chart crds management
  Makefile
  charts/kyverno/README.md
  charts/kyverno/README.md.gotmpl
  charts/kyverno/templates/_helpers.tpl
  charts/kyverno/templates/crds/_helpers.tpl
  charts/kyverno/templates/crds/crds.yaml
  charts/kyverno/values.yaml
  config/install.yaml
Labels: milestone 1.10.0

#6061 Add namespace in test pod and webhooks cleanup job helm template
  charts/kyverno/templates/helm-pre-delete-hook.yaml
  charts/kyverno/templates/tests/test.yaml
Labels: milestone 1.10.0

#6075 fix: helm test workflow cache key
  .github/workflows/helm-test.yaml
Labels: milestone 1.10.0

#6076 refactor: helm templating management
  charts/kyverno/templates/_helpers.tpl
  charts/kyverno/templates/_templating/namespace.yaml
  config/install.yaml
Labels: milestone 1.10.0

#6046 validate polex activation and namespace
  cmd/kyverno/main.go
  pkg/validation/exception/validate.go
  pkg/validation/exception/validate_test.go
  pkg/webhooks/exception/validate.go
Labels: cherry-pick-required, milestone 1.9.0

#6074 refactor: helm tests
  charts/kyverno/README.md
  charts/kyverno/README.md.gotmpl
  charts/kyverno/ci/imageRegistry-values.yaml
  charts/kyverno/templates/_helpers.tpl
  charts/kyverno/templates/tests/_helpers.tpl
  charts/kyverno/templates/tests/admission-controller-liveness.yaml
  charts/kyverno/templates/tests/admission-controller-metrics.yaml
  charts/kyverno/templates/tests/admission-controller-readiness.yaml
  charts/kyverno/templates/tests/test.yaml
  charts/kyverno/values.yaml
  config/install.yaml
  test/conformance/kuttl/mutate/clusterpolicy/standard/existing/mutate-existing-node-status/01-manifests.yaml
Labels: milestone 1.10.0

#6083 fix: run event generator to add audit mode events
  cmd/reports-controller/main.go
Labels: milestone 1.10.0

#6098 fix: allow deletion of namespace containing managed resources
  pkg/webhooks/handlers/protect.go
Labels: cherry-pick-required, milestone 1.9.0

#6048 fix: don't release leader lock on context cancelled
  pkg/leaderelection/leaderelection.go
Labels: milestone 1.10.0

#6100 fix: cleanup-controller version
  .ko.yaml
Labels: cherry-pick-required, milestone 1.9.0

#6112 fix: tracing attributes length and tracer name
  cmd/cleanup-controller/main.go
  cmd/initContainer/main.go
  cmd/internal/setup.go
  cmd/internal/tracing.go
  cmd/kyverno/main.go
  cmd/reports-controller/main.go
  pkg/tracing/attributes.go
  pkg/tracing/config.go
  pkg/webhooks/handlers/trace.go
Labels: milestone 1.9.0

#6101 fix: new binaries version
  .ko.yaml
Labels: milestone 1.10.0

#6117 fix: tracing attributes length and tracer name
  cmd/cleanup-controller/main.go
  cmd/initContainer/main.go
  cmd/internal/setup.go
  cmd/internal/tracing.go
  cmd/kyverno/main.go
  cmd/reports-controller/main.go
  cmd/updaterequest-controller/main.go
  pkg/tracing/attributes.go
  pkg/tracing/config.go
  pkg/webhooks/handlers/trace.go
Labels: milestone 1.10.0

#6120 fix: allow configmap.data/configmap.metadata in policy validation
  pkg/policy/allowed_vars_test.go
  pkg/policy/validate.go
Labels: milestone 1.10.0

#6122 fix: policy exception event source
  Makefile
  pkg/controllers/report/utils/events.go
  pkg/event/events.go
  pkg/webhooks/utils/event.go
Labels: milestone 1.9.0

#6125 fix: create events for audit mode policies
  pkg/webhooks/resource/validation/validation.go
Labels: milestone 1.10.0

#6085 feat: add helm tests for cleanup controller
  charts/kyverno/templates/tests/cleanup-controller-liveness.yaml
  charts/kyverno/templates/tests/cleanup-controller-metrics.yaml
  charts/kyverno/templates/tests/cleanup-controller-readiness.yaml
Labels: milestone 1.10.0

#6121 fix: helm pre-delete hook
  charts/kyverno/templates/admission-controller/role.yaml
  charts/kyverno/templates/admission-controller/rolebinding.yaml
  charts/kyverno/templates/hooks/_helpers.tpl
  charts/kyverno/templates/hooks/pre-delete.yaml
Labels: milestone 1.10.0

#6124 refactor: event package
  cmd/cleanup-controller/handlers/cleanup/handlers.go
  pkg/event/controller.go
  pkg/event/events.go
  pkg/event/fake.go
  pkg/event/info.go
  pkg/event/reason.go
  pkg/event/recorder.go
  pkg/event/source.go
  test/conformance/kuttl/events/policy/policy-applied/01-policy.yaml
  test/conformance/kuttl/events/policy/policy-applied/02-resource.yaml
  test/conformance/kuttl/events/policy/policy-applied/03-event.yaml
  test/conformance/kuttl/events/policy/policy-applied/README.md
  test/conformance/kuttl/events/policy/policy-applied/event-assert.yaml
  test/conformance/kuttl/events/policy/policy-applied/policy-assert.yaml
  test/conformance/kuttl/events/policy/policy-applied/policy.yaml
  test/conformance/kuttl/events/policy/policy-applied/resource.yaml
  test/conformance/kuttl/events/policy/policy-violation/01-policy.yaml
  test/conformance/kuttl/events/policy/policy-violation/02-resource.yaml
  test/conformance/kuttl/events/policy/policy-violation/03-event.yaml
  test/conformance/kuttl/events/policy/policy-violation/README.md
  test/conformance/kuttl/events/policy/policy-violation/event-assert.yaml
  test/conformance/kuttl/events/policy/policy-violation/policy-assert.yaml
  test/conformance/kuttl/events/policy/policy-violation/policy.yaml
  test/conformance/kuttl/events/policy/policy-violation/resource.yaml
Labels: milestone 1.10.0

#6126 fix: update kuttl to fix deletion race
  Makefile
Labels: milestone 1.10.0

#6130 refactor: helm admission controller part 2
  charts/kyverno/README.md
  charts/kyverno/README.md.gotmpl
  charts/kyverno/templates/_helpers.tpl
  charts/kyverno/templates/_helpers/_image.tpl
  charts/kyverno/templates/_helpers/_pdb.tpl
  charts/kyverno/templates/admission-controller/_helpers.tpl
  charts/kyverno/templates/admission-controller/deployment.yaml
  charts/kyverno/templates/admission-controller/poddisruptionbudget.yaml
  charts/kyverno/templates/admission-controller/secret.yaml
  charts/kyverno/templates/admission-controller/service.yaml
  charts/kyverno/templates/admission-controller/servicemonitor.yaml
  charts/kyverno/templates/cleanup-controller/_helpers.tpl
  charts/kyverno/templates/cleanup-controller/poddisruptionbudget.yaml
  charts/kyverno/templates/hooks/pre-delete.yaml
  charts/kyverno/templates/poddisruptionbudget.yaml
  charts/kyverno/templates/reports-controller/_helpers.tpl
  charts/kyverno/templates/reports-controller/poddisruptionbudget.yaml
  charts/kyverno/templates/tests/admission-controller-liveness.yaml
  charts/kyverno/templates/tests/admission-controller-metrics.yaml
  charts/kyverno/templates/tests/admission-controller-readiness.yaml
  charts/kyverno/values.yaml
  config/install.yaml
Labels: milestone 1.10.0

#6136 refactor: add names and security context helpers to helm chart
  charts/kyverno/templates/_helpers.tpl
  charts/kyverno/templates/_helpers/_names.tpl
  charts/kyverno/templates/admission-controller/deployment.yaml
  charts/kyverno/templates/cleanup-controller/_helpers.tpl
  charts/kyverno/templates/cleanup-controller/deployment.yaml
  charts/kyverno/templates/reports-controller/_helpers.tpl
  charts/kyverno/templates/reports-controller/deployment.yaml
  charts/kyverno/templates/tests/_helpers.tpl
  charts/kyverno/templates/tests/admission-controller-liveness.yaml
  charts/kyverno/templates/tests/admission-controller-metrics.yaml
  charts/kyverno/templates/tests/admission-controller-readiness.yaml
  charts/kyverno/templates/tests/cleanup-controller-liveness.yaml
  charts/kyverno/templates/tests/cleanup-controller-metrics.yaml
  charts/kyverno/templates/tests/cleanup-controller-readiness.yaml
  charts/kyverno/templates/tests/reports-controller-metrics.yaml
  config/install.yaml
Labels: milestone 1.10.0

#6110 Make the grafana dashboard configmap name customizable
  charts/kyverno/README.md
  charts/kyverno/templates/grafana/dashboard.yaml
  charts/kyverno/values.yaml
Labels: milestone 1.10.0

#6141 fix: missing image tag values in makefile
  Makefile
Labels: milestone 1.10.0

#6140 chore: remove obsolete targets from makefile
  Makefile
Labels: milestone 1.10.0

#6094 chore: add rollout targets to makefile
  Makefile
Labels: milestone 1.10.0

#6118 fix: Overriding .Values.service.port doesn't work
  charts/kyverno/templates/admission-controller/deployment.yaml
  charts/kyverno/templates/cleanup-controller/deployment.yaml
  cmd/cleanup-controller/main.go
  cmd/kyverno/main.go
  config/install.yaml
  pkg/controllers/generic/webhook/controller.go
  pkg/controllers/webhook/controller.go
Labels: milestone 1.10.0

#6139 refactor: rename initContainer to kyverno-init
  .github/workflows/images-publish.yaml
  .github/workflows/release.yaml
  .gitignore
  .ko.yaml
  DEVELOPMENT.md
  Makefile
  cmd/kyverno-init/main.go
Labels: milestone 1.10.0

#6153 chore: add deployed components to helm chart notes
  charts/kyverno/templates/NOTES.txt
Labels: milestone 1.10.0

#6071 fix: use conditions to show policy ready status
  api/kyverno/v1/clusterpolicy_types.go
  api/kyverno/v1/policy_types.go
  api/kyverno/v2beta1/clusterpolicy_types.go
  api/kyverno/v2beta1/policy_types.go
  charts/kyverno/templates/crds/crds.yaml
  config/crds/kyverno.io_clusterpolicies.yaml
  config/crds/kyverno.io_policies.yaml
  config/install.yaml
Labels: milestone 1.10.0

#6154 refactor: introduce engine api package
  cmd/cli/kubectl-kyverno/apply/report.go
  cmd/cli/kubectl-kyverno/apply/report_test.go
  cmd/cli/kubectl-kyverno/test/test_command.go
  cmd/cli/kubectl-kyverno/utils/common/common.go
  cmd/cli/kubectl-kyverno/utils/common/info.go
  pkg/background/generate/generate.go
  pkg/background/mutate/mutate.go
  pkg/controllers/report/utils/events.go
  pkg/controllers/report/utils/scanner.go
  pkg/engine/api/response.go
  pkg/engine/api/response_test.go
  pkg/engine/api/status.go
  pkg/engine/background.go
  pkg/engine/forceMutate.go
  pkg/engine/generation.go
  pkg/engine/imageVerify.go
  pkg/engine/imageVerifyValidate.go
  pkg/engine/imageVerify_test.go
  pkg/engine/k8smanifest.go
  pkg/engine/mutate/mutation.go
  pkg/engine/mutate/mutation_test.go
  pkg/engine/mutate/patch/patchJSON6902.go
  pkg/engine/mutate/patch/patchJSON6902_test.go
  pkg/engine/mutate/patch/patches.go
  pkg/engine/mutate/patch/strategicMergePatch.go
  pkg/engine/mutation.go
  pkg/engine/mutation_test.go
  pkg/engine/response/status.go
  pkg/engine/utils.go
  pkg/engine/validate/validate_test.go
  pkg/engine/validation.go
  pkg/engine/validation_test.go
  pkg/event/events.go
  pkg/metrics/parsers.go
  pkg/metrics/policyexecutionduration/policyExecutionDuration.go
  pkg/metrics/policyresults/policyResults.go
  pkg/policy/policy_controller.go
  pkg/testrunner/scenario.go
  pkg/testrunner/scenario_test.go
  pkg/utils/annotations.go
  pkg/utils/annotations_test.go
  pkg/utils/engine/response.go
  pkg/utils/report/new.go
  pkg/utils/report/results.go
  pkg/webhooks/resource/generation/generation.go
  pkg/webhooks/resource/generation/utils.go
  pkg/webhooks/resource/imageverification/handler.go
  pkg/webhooks/resource/mutation/mutation.go
  pkg/webhooks/resource/updaterequest.go
  pkg/webhooks/resource/utils.go
  pkg/webhooks/resource/validation/validation.go
  pkg/webhooks/resource/validation_test.go
  pkg/webhooks/utils/block.go
  pkg/webhooks/utils/block_test.go
  pkg/webhooks/utils/error.go
  pkg/webhooks/utils/event.go
  pkg/webhooks/utils/metrics.go
  pkg/webhooks/utils/warning.go
  pkg/webhooks/utils/warning_test.go
Labels: milestone 1.10.0

#6133 Replaces manually written logic with regex for matching anchor elements
  pkg/engine/anchor/anchor.go
  pkg/engine/anchor/anchorKey.go
  pkg/engine/anchor/anchor_test.go
  pkg/engine/anchor/anchormap.go
  pkg/engine/anchor/anchormap_test.go
  pkg/engine/anchor/common.go
  pkg/engine/anchor/common_test.go
  pkg/engine/anchor/error.go
  pkg/engine/anchor/error_test.go
  pkg/engine/anchor/handlers.go
  pkg/engine/anchor/utils.go
  pkg/engine/anchor/utils_test.go
  pkg/engine/mutate/patch/strategicPreprocessing.go
  pkg/engine/mutate/patch/strategicPreprocessing_test.go
  pkg/engine/utils/utils.go
  pkg/engine/validate/utils.go
  pkg/engine/validate/validate.go
  pkg/engine/wildcards/wildcards.go
  pkg/policy/common/validate_pattern.go
  pkg/policy/generate/validate.go
  pkg/policy/validate/validate.go
Labels: milestone 1.10.0

#6158 chore: remove unused functions from engine package
  pkg/engine/common/utils.go
  pkg/engine/utils/utils.go
  pkg/engine/utils/utils_test.go
  pkg/engine/validation_test.go
Labels: milestone 1.10.0

#6079 chore: improve a couple kuttl tests
  test/conformance/kuttl/_aaa_template_resources/99-cleanup.yaml
  test/conformance/kuttl/_aaa_template_resources/commands/99-cleanup.yaml
  test/conformance/kuttl/cleanup/clusterpolicy/cleanup-pod/01-assert.yaml
  test/conformance/kuttl/cleanup/clusterpolicy/cleanup-pod/01-policy.yaml
  test/conformance/kuttl/cleanup/clusterpolicy/cleanup-pod/01-rbac.yaml
  test/conformance/kuttl/cleanup/clusterpolicy/cleanup-pod/02-pod.yaml
  test/conformance/kuttl/cleanup/clusterpolicy/cleanup-pod/02-sleep.yaml
  test/conformance/kuttl/cleanup/clusterpolicy/cleanup-pod/03-policy.yaml
  test/conformance/kuttl/cleanup/clusterpolicy/cleanup-pod/04-sleep.yaml
  test/conformance/kuttl/cleanup/clusterpolicy/cleanup-pod/05-check.yaml
  test/conformance/kuttl/cleanup/clusterpolicy/cleanup-pod/99-cleanup.yaml
  test/conformance/kuttl/cleanup/clusterpolicy/cleanup-pod/README.md
  test/conformance/kuttl/cleanup/clusterpolicy/cleanup-pod/pod-assert.yaml
  test/conformance/kuttl/cleanup/clusterpolicy/cleanup-pod/pod.yaml
  test/conformance/kuttl/cleanup/clusterpolicy/cleanup-pod/policy.yaml
  test/conformance/kuttl/cleanup/clusterpolicy/cleanup-pod/rbac.yaml
  test/conformance/kuttl/cleanup/policy/cleanup-pod/01-assert.yaml
  test/conformance/kuttl/cleanup/policy/cleanup-pod/01-rbac.yaml
  test/conformance/kuttl/cleanup/policy/cleanup-pod/02-pod.yaml
  test/conformance/kuttl/cleanup/policy/cleanup-pod/02-sleep.yaml
  test/conformance/kuttl/cleanup/policy/cleanup-pod/03-policy.yaml
  test/conformance/kuttl/cleanup/policy/cleanup-pod/04-sleep.yaml
  test/conformance/kuttl/cleanup/policy/cleanup-pod/05-check.yaml
  test/conformance/kuttl/cleanup/policy/cleanup-pod/99-cleanup.yaml
  test/conformance/kuttl/cleanup/policy/cleanup-pod/pod-assert.yaml
  test/conformance/kuttl/cleanup/policy/cleanup-pod/pod.yaml
  test/conformance/kuttl/cleanup/policy/cleanup-pod/policy.yaml
  test/conformance/kuttl/cleanup/policy/cleanup-pod/rbac.yaml
  test/conformance/kuttl/cleanup/validation/cron-format/01-clustercleanuppolicy.yaml
  test/conformance/kuttl/cleanup/validation/cron-format/01-policy.yaml
  test/conformance/kuttl/cleanup/validation/cron-format/02-clusterpolicy.yaml
  test/conformance/kuttl/cleanup/validation/cron-format/02-create-task.yaml
  test/conformance/kuttl/cleanup/validation/cron-format/03-invalidpolicy.yaml
  test/conformance/kuttl/cleanup/validation/cron-format/README.md
  test/conformance/kuttl/cleanup/validation/cron-format/clusterpolicy.yaml
  test/conformance/kuttl/cleanup/validation/cron-format/invalidpolicy.yaml
  test/conformance/kuttl/cleanup/validation/cron-format/policy.yaml
Labels: milestone 1.10.0

#6156 refactor: clean engine api package
  pkg/engine/api/engineresponse.go
  pkg/engine/api/engineresponse_test.go
  pkg/engine/api/policyresponse.go
  pkg/engine/api/policyspec.go
  pkg/engine/api/resourcespec.go
  pkg/engine/api/resourcespec_test.go
  pkg/engine/api/response.go
  pkg/engine/api/response_test.go
  pkg/engine/api/ruleresponse.go
  pkg/engine/api/ruleresponse_test.go
  pkg/engine/api/rulestatus.go
  pkg/engine/api/ruletype.go
  pkg/engine/api/stats.go
  pkg/engine/api/status.go
  pkg/engine/background.go
  pkg/engine/generation.go
  pkg/engine/mutate/patch/patchJSON6902.go
  pkg/engine/mutate/patch/strategicMergePatch.go
  pkg/engine/mutation.go
  pkg/engine/validation.go
  pkg/metrics/policyexecutionduration/policyExecutionDuration.go
  pkg/webhooks/utils/error.go
Labels: milestone 1.10.0

#6134 fix: reduce dependency from engine to cli
  cmd/cli/kubectl-kyverno/apply/apply_command.go
  cmd/cli/kubectl-kyverno/test/test_command.go
  cmd/cli/kubectl-kyverno/utils/common/common.go
  cmd/cli/kubectl-kyverno/utils/store/store.go
  pkg/engine/jsonContext.go
  pkg/engine/mutation.go
  pkg/engine/mutation_test.go
  pkg/engine/utils.go
  pkg/engine/validation.go
  pkg/engine/validation_test.go
Labels: milestone 1.10.0

#6161 test: add more engine api package tests
  api/kyverno/v1/spec_types.go
  pkg/engine/api/engineresponse_test.go
Labels: milestone 1.10.0

#6138 refactor: use image registry in helm values
  Makefile
  charts/kyverno/README.md
  charts/kyverno/README.md.gotmpl
  charts/kyverno/values.yaml
Labels: milestone 1.10.0

#6163 refactor: complete engine api tests
  pkg/engine/api/engineresponse_test.go
Labels: milestone 1.10.0

#6160 refactor: merge engine common and utils packages
  pkg/engine/background.go
  pkg/engine/common/utils.go
  pkg/engine/utils.go
  pkg/engine/utils/utils.go
  pkg/engine/validation.go
Labels: milestone 1.10.0

#6166 chore: clean up the unnecessary package import rename
  pkg/engine/jsonContext.go
Labels: milestone 1.10.0

#6167 chore: clean up the unnecessary package import rename found
  cmd/cli/kubectl-kyverno/apply/report.go
  cmd/cli/kubectl-kyverno/main.go
  pkg/background/common/resource.go
Labels: milestone 1.10.0

#6162 refactor: move resolver interface and utils into engine api package
  cmd/kyverno/main.go
  cmd/reports-controller/main.go
  cmd/updaterequest-controller/main.go
  pkg/background/common/context.go
  pkg/background/generate/generate.go
  pkg/background/mutate/mutate.go
  pkg/background/update_request_controller.go
  pkg/controllers/report/background/controller.go
  pkg/controllers/report/utils/scanner.go
  pkg/engine/api/resolver.go
  pkg/engine/api/resolver_test.go
  pkg/engine/context/resolvers/constants.go
  pkg/engine/context/resolvers/resolvers.go
  pkg/engine/context/resolvers/resolvers_test.go
  pkg/engine/context/resolvers/types.go
  pkg/engine/policyContext.go
  pkg/policy/policy_controller.go
  pkg/webhooks/resource/handlers.go
  pkg/webhooks/utils/policy_context_builder.go
Labels: milestone 1.10.0

#6175 optimize the document for readability
  docs/dev/api/README.md
  docs/dev/troubleshooting/reports.md
Labels: milestone 1.10.0

#6164 refactor: introduce context loader interface in engine api
  cmd/cli/kubectl-kyverno/utils/common/common.go
  cmd/kyverno/main.go
  cmd/reports-controller/main.go
  cmd/updaterequest-controller/main.go
  pkg/background/generate/generate.go
  pkg/background/mutate/mutate.go
  pkg/background/update_request_controller.go
  pkg/controllers/report/background/controller.go
  pkg/controllers/report/utils/scanner.go
  pkg/engine/api/contextloader.go
  pkg/engine/background.go
  pkg/engine/generation.go
  pkg/engine/imageVerify.go
  pkg/engine/imageVerifyValidate.go
  pkg/engine/imageVerify_test.go
  pkg/engine/jsonContext.go
  pkg/engine/mutation.go
  pkg/engine/mutation_test.go
  pkg/engine/validation.go
  pkg/engine/validation_test.go
  pkg/policy/policy_controller.go
  pkg/testrunner/scenario.go
  pkg/webhooks/resource/fake.go
  pkg/webhooks/resource/generation/generation.go
  pkg/webhooks/resource/handlers.go
  pkg/webhooks/resource/imageverification/handler.go
  pkg/webhooks/resource/mutation/mutation.go
  pkg/webhooks/resource/updaterequest.go
  pkg/webhooks/resource/validation/validation.go
  pkg/webhooks/resource/validation_test.go
Labels: milestone 1.10.0

#6177 refactor: introduce policy context interface in engine api
  cmd/cli/kubectl-kyverno/utils/common/common.go
  pkg/engine/api/policycontext.go
  pkg/engine/background.go
  pkg/engine/common.go
  pkg/engine/common_test.go
  pkg/engine/generation.go
  pkg/engine/imageVerify.go
  pkg/engine/imageVerifyValidate.go
  pkg/engine/imageVerify_test.go
  pkg/engine/jsonContext.go
  pkg/engine/k8smanifest.go
  pkg/engine/loadtargets.go
  pkg/engine/mutation.go
  pkg/engine/policyContext.go
  pkg/engine/utils.go
  pkg/engine/validation.go
Labels: milestone 1.10.0

#6157 feat: template background controller
  .github/actions/kyverno-logs/action.yaml
  .gitignore
  .ko.yaml
  Makefile
  charts/kyverno/README.md
  charts/kyverno/templates/NOTES.txt
  charts/kyverno/templates/background-controller/_helpers.tpl
  charts/kyverno/templates/background-controller/clusterrole.yaml
  charts/kyverno/templates/background-controller/clusterrolebinding.yaml
  charts/kyverno/templates/background-controller/deployment.yaml
  charts/kyverno/templates/background-controller/poddisruptionbudget.yaml
  charts/kyverno/templates/background-controller/role.yaml
  charts/kyverno/templates/background-controller/rolebinding.yaml
  charts/kyverno/templates/background-controller/service.yaml
  charts/kyverno/templates/background-controller/serviceaccount.yaml
  charts/kyverno/values.yaml
  cmd/background-controller/main.go
  cmd/kyverno/main.go
  config/install.yaml
  scripts/config/standard/kyverno.yaml
Labels: milestone 1.10.0
