Repository kyverno/kyverno, pull requests merged in 2023-08, with the labels that each got.

#7949 chore: move cache enabled label
  api/kyverno/constants.go
  pkg/engine/context/resolvers/constants.go
  pkg/engine/context/resolvers/resolvers_test.go
  pkg/engine/context/resolvers/utils.go
  pkg/engine/context/resolvers/utils_test.go
Labels: milestone 1.11.0

#7955 chore: move kyverno.io/verify-images constant
  api/kyverno/constants.go
  pkg/controllers/report/utils/scanner.go
  pkg/engine/api/imageverifymetadata.go
  pkg/engine/image_verify_test.go
  pkg/engine/internal/imageverifier.go
  pkg/engine/utils/image.go
Labels: milestone 1.11.0

#7821 feat: add ttl controller
  .github/workflows/conformance.yaml
  api/kyverno/constants.go
  charts/kyverno/README.md
  charts/kyverno/templates/_helpers.tpl
  charts/kyverno/templates/cleanup-controller/clusterrole.yaml
  charts/kyverno/templates/cleanup-controller/deployment.yaml
  charts/kyverno/values.yaml
  cmd/cleanup-controller/handlers/admission/handlers.go
  cmd/cleanup-controller/handlers/resource-admission/handlers.go
  cmd/cleanup-controller/main.go
  cmd/cleanup-controller/server.go
  cmd/kyverno/main.go
  config/install-latest-testing.yaml
  pkg/config/config.go
  pkg/controllers/generic/webhook/controller.go
  pkg/controllers/ttl-controller/controller.go
  pkg/controllers/ttl-controller/manager.go
  pkg/controllers/ttl-controller/utils.go
  pkg/controllers/ttl-controller/utils_test.go
  pkg/utils/admission/cleanup.go
  pkg/validation/ttl-label/validate.go
  scripts/config/dev/kyverno.yaml
  scripts/config/standard/kyverno.yaml
  scripts/config/ttl/kyverno.yaml
  test/conformance/kuttl/ttl/invalid-label/01-pod.yaml
  test/conformance/kuttl/ttl/invalid-label/02-wait.yaml
  test/conformance/kuttl/ttl/invalid-label/03-check.yaml
  test/conformance/kuttl/ttl/invalid-label/README.md
  test/conformance/kuttl/ttl/invalid-label/pod-assert.yaml
  test/conformance/kuttl/ttl/invalid-label/pod.yaml
  test/conformance/kuttl/ttl/past-timestamp/01-pod.yaml
  test/conformance/kuttl/ttl/past-timestamp/02-wait.yaml
  test/conformance/kuttl/ttl/past-timestamp/03-check.yaml
  test/conformance/kuttl/ttl/past-timestamp/README.md
  test/conformance/kuttl/ttl/past-timestamp/pod-assert.yaml
  test/conformance/kuttl/ttl/past-timestamp/pod.yaml
  test/conformance/kuttl/ttl/permission-lack/01-resource.yaml
  test/conformance/kuttl/ttl/permission-lack/02-wait.yaml
  test/conformance/kuttl/ttl/permission-lack/03-check.yaml
  test/conformance/kuttl/ttl/permission-lack/README.md
  test/conformance/kuttl/ttl/permission-lack/resource-assert.yaml
  test/conformance/kuttl/ttl/permission-lack/resource.yaml
  test/conformance/kuttl/ttl/valid-label/01-pod.yaml
  test/conformance/kuttl/ttl/valid-label/02-wait.yaml
  test/conformance/kuttl/ttl/valid-label/03-check.yaml
  test/conformance/kuttl/ttl/valid-label/README.md
  test/conformance/kuttl/ttl/valid-label/pod-assert.yaml
  test/conformance/kuttl/ttl/valid-label/pod.yaml
Labels: milestone 1.11.0

#7957 chore: rename ttl controller package
  cmd/cleanup-controller/main.go
  pkg/controllers/ttl/controller.go
  pkg/controllers/ttl/manager.go
  pkg/controllers/ttl/utils.go
  pkg/controllers/ttl/utils_test.go
Labels: milestone 1.11.0

#7958 chore: move ttl formats to constants
  api/kyverno/constants.go
  pkg/controllers/ttl/utils.go
  pkg/validation/ttl-label/validate.go
Labels: milestone 1.11.0

#7705 feat: Add support for server-side-apply in generate rules
  api/kyverno/v1/spec_types.go
  api/kyverno/v2beta1/spec_types.go
  charts/kyverno/templates/crds/crds.yaml
  config/crds/kyverno.io_clusterpolicies.yaml
  config/crds/kyverno.io_policies.yaml
  config/install-latest-testing.yaml
  docs/user/crd/index.html
  pkg/background/generate/clone.go
  pkg/background/generate/generate.go
  pkg/client/applyconfigurations/kyverno/v1/spec.go
  pkg/client/applyconfigurations/kyverno/v2beta1/spec.go
  pkg/clients/dclient/client.go
  test/conformance/kuttl/generate/clusterpolicy/standard/clone/sync/cpol-clone-sync-modify-downstream-apply/00-sleep.yaml
  test/conformance/kuttl/generate/clusterpolicy/standard/clone/sync/cpol-clone-sync-modify-downstream-apply/01-policy.yaml
  test/conformance/kuttl/generate/clusterpolicy/standard/clone/sync/cpol-clone-sync-modify-downstream-apply/02-resource.yaml
  test/conformance/kuttl/generate/clusterpolicy/standard/clone/sync/cpol-clone-sync-modify-downstream-apply/03-modifydownstream.yaml
  test/conformance/kuttl/generate/clusterpolicy/standard/clone/sync/cpol-clone-sync-modify-downstream-apply/README.md
  test/conformance/kuttl/generate/clusterpolicy/standard/clone/sync/cpol-clone-sync-modify-downstream-apply/cloned.yaml
  test/conformance/kuttl/generate/clusterpolicy/standard/clone/sync/cpol-clone-sync-modify-downstream-apply/editeddownstream.yaml
  test/conformance/kuttl/generate/clusterpolicy/standard/clone/sync/cpol-clone-sync-modify-downstream-apply/finalsecret.yaml
  test/conformance/kuttl/generate/clusterpolicy/standard/clone/sync/cpol-clone-sync-modify-downstream-apply/ns.yaml
  test/conformance/kuttl/generate/clusterpolicy/standard/clone/sync/cpol-clone-sync-modify-downstream-apply/policy-ready.yaml
  test/conformance/kuttl/generate/clusterpolicy/standard/clone/sync/cpol-clone-sync-modify-downstream-apply/policy.yaml
Labels: Documentation, milestone 1.11.0

#7960 refactor: ttl label validation
  cmd/cleanup-controller/handlers/admission/policy/handlers.go
  cmd/cleanup-controller/handlers/admission/resource/handlers.go
  cmd/cleanup-controller/handlers/resource-admission/handlers.go
  cmd/cleanup-controller/main.go
  pkg/utils/admission/cleanup.go
  pkg/utils/admission/metadata.go
  pkg/validation/resource/validate.go
  pkg/validation/ttl-label/validate.go
Labels: milestone 1.11.0

#7963 chore: fix cleanup controller debug in vscode
  .vscode/launch.json
Labels: milestone 1.11.0

#7964 fix: ttl cleanup controller events processing
  pkg/controllers/ttl/controller.go
Labels: milestone 1.11.0

#7966 fix: ttl manager stop informer on error
  pkg/controllers/ttl/manager.go
Labels: milestone 1.11.0

#7890 feat: add basic structure for image verify cache
  api/kyverno/v1/image_verification_types.go
  api/kyverno/v2beta1/image_verification_types.go
  charts/kyverno/templates/crds/crds.yaml
  cmd/background-controller/main.go
  cmd/cleanup-controller/handlers/cleanup/handlers.go
  cmd/cli/kubectl-kyverno/utils/common/common.go
  cmd/cli/kubectl-kyverno/utils/common/kyverno_policies_types.go
  cmd/cli/kubectl-kyverno/utils/store/contextloader.go
  cmd/internal/config.go
  cmd/internal/engine.go
  cmd/internal/flag.go
  cmd/internal/imageverifycache.go
  cmd/internal/setup.go
  cmd/kyverno/main.go
  cmd/reports-controller/main.go
  config/crds/kyverno.io_clusterpolicies.yaml
  config/crds/kyverno.io_policies.yaml
  config/install-latest-testing.yaml
  docs/user/crd/index.html
  pkg/client/applyconfigurations/kyverno/v1/imageverification.go
  pkg/client/applyconfigurations/kyverno/v2beta1/imageverification.go
  pkg/engine/api/contextloader.go
  pkg/engine/engine.go
  pkg/engine/factories/contextloaderfactory.go
  pkg/engine/handlers/mutation/mutate_image.go
  pkg/engine/image_verify.go
  pkg/engine/image_verify_test.go
  pkg/engine/internal/imageverifier.go
  pkg/engine/mutation_test.go
  pkg/engine/validation_test.go
  pkg/imageverifycache/client.go
  pkg/imageverifycache/interface.go
  pkg/webhooks/resource/fake.go
  pkg/webhooks/resource/validation_test.go
Labels: milestone 1.11.0

#7943 Fixes kyverno cli container reorder
  cmd/cli/kubectl-kyverno/utils/common/kyverno_policies_types.go
  test/cli/test/container_reorder/kyverno-test.yaml
  test/cli/test/container_reorder/policy.yml
  test/cli/test/container_reorder/resources.yaml
Labels: milestone 1.11.0

#7974 fix:Add Missing Severity Cases in SeverityFromString Function
  pkg/utils/report/results.go
Labels: milestone 1.11.0

#7970 feat(chart) Allow podSecurityContext and securityContext for webhooksCleanup
  charts/kyverno/Chart.yaml
  charts/kyverno/README.md
  charts/kyverno/templates/hooks/pre-delete.yaml
  charts/kyverno/values.yaml
Labels: cherry-pick-required, milestone 1.11.0

#7981 fix: Fixed issue with AddVariable that prevented certain variables
  pkg/engine/context/context.go
Labels: milestone 1.11.0

#7945 fix: Kyverno cli apply duplicate result counts
  cmd/cli/kubectl-kyverno/apply/apply_command.go
  cmd/cli/kubectl-kyverno/utils/common/common.go
  cmd/cli/kubectl-kyverno/utils/common/kyverno_policies_types.go
Labels: milestone 1.11.0

#7982 fix: return err in load data
  pkg/engine/context/deferred.go
Labels: cherry-pick-required, milestone 1.10.3

#7988 fix, enhancement
  pkg/controllers/ttl/controller.go
Labels: milestone 1.11.0

#7984 Remove length restriction in --set
  cmd/cli/kubectl-kyverno/apply/apply_command.go
  cmd/cli/kubectl-kyverno/apply/apply_command_test.go
  test/cli/apply/policies-set/policy.yaml
  test/cli/apply/resources-set/resources.yaml
Labels: milestone 1.11.0

#7248 Support for Cosign 2.0
  api/kyverno/v1/image_verification_types.go
  charts/kyverno/templates/crds/crds.yaml
  config/crds/kyverno.io_clusterpolicies.yaml
  config/crds/kyverno.io_policies.yaml
  config/install-latest-testing.yaml
  docs/user/crd/index.html
  go.mod
  go.sum
  pkg/client/applyconfigurations/kyverno/v1/ctlog.go
  pkg/cosign/client.go
  pkg/cosign/cosign.go
  pkg/cosign/cosign_test.go
  pkg/cosign/mock.go
  pkg/engine/api/client.go
  pkg/engine/handlers/validation/validate_manifest_test.go
  pkg/engine/image_verify_test.go
  pkg/engine/internal/imageverifier.go
  pkg/images/verifier.go
  pkg/notary/notary.go
  pkg/registryclient/client.go
  pkg/validation/policy/validate.go
  test/cli/test/images/signatures/policies.yaml
  test/cli/test/images/verify-signature/policies.yaml
  test/conformance/kuttl/reports/background/verify-image-fail/policy.yaml
  test/conformance/kuttl/reports/background/verify-image-pass/policy.yaml
  test/conformance/kuttl/validate/clusterpolicy/standard/wildcard/block-verifyimage/policy.yaml
  test/conformance/kuttl/validate/e2e/yaml-signing/policy.yaml
  test/conformance/kuttl/verify-manifests/multi-signatures/policy.yaml
  test/conformance/kuttl/verifyImages/clusterpolicy/cornercases/multiple-attestors/01-policy.yaml
  test/conformance/kuttl/verifyImages/clusterpolicy/standard/empty-image/policy.yaml
  test/conformance/kuttl/verifyImages/clusterpolicy/standard/failure-policy-test-noconfigmap-diffimage-success/policy.yaml
  test/conformance/kuttl/verifyImages/clusterpolicy/standard/imageExtractors-complex-keyless/policy.yaml
  test/conformance/kuttl/verifyImages/clusterpolicy/standard/keyed-basic-namespace-selector/01-manifests.yaml
  test/conformance/kuttl/verifyImages/clusterpolicy/standard/keyed-basic/01-manifests.yaml
  test/conformance/kuttl/verifyImages/clusterpolicy/standard/keyed-secret/01-manifests.yaml
  test/conformance/kuttl/verifyImages/clusterpolicy/standard/keyless-attestations-multiple-subjects-1/01-manifests.yaml
  test/conformance/kuttl/verifyImages/clusterpolicy/standard/keyless-attestations-multiple-subjects-2/01-manifests.yaml
  test/conformance/kuttl/verifyImages/clusterpolicy/standard/keyless-attestations-multiple-subjects-3/01-manifests.yaml
  test/conformance/kuttl/verifyImages/clusterpolicy/standard/keyless-attestations-multiple-subjects-counts-1/01-manifests.yaml
  test/conformance/kuttl/verifyImages/clusterpolicy/standard/keyless-attestations-multiple-subjects-counts-2/01-manifests.yaml
  test/conformance/kuttl/verifyImages/clusterpolicy/standard/keyless-attestations-multiple-subjects-counts-3/01-manifests.yaml
  test/conformance/kuttl/verifyImages/clusterpolicy/standard/keyless-mutatedigest-verifydigest-required/01-manifests.yaml
  test/conformance/kuttl/verifyImages/clusterpolicy/standard/keyless-nomutatedigest-noverifydigest-norequired/01-manifests.yaml
  test/conformance/kuttl/verifyImages/clusterpolicy/standard/keyless-nomutatedigest-noverifydigest-required/01-manifests.yaml
  test/conformance/kuttl/verifyImages/clusterpolicy/standard/rollback-image-verification/policy.yaml
Labels: milestone 1.11.0

#8016 Add an abstraction interface for Kyverno policies and validating admission policies
  cmd/cli/kubectl-kyverno/apply/apply_command.go
  cmd/cli/kubectl-kyverno/apply/report.go
  cmd/cli/kubectl-kyverno/apply/report_test.go
  cmd/cli/kubectl-kyverno/apply/table.go
  cmd/cli/kubectl-kyverno/test/test.go
  cmd/cli/kubectl-kyverno/utils/common/common.go
  pkg/engine/api/engineresponse.go
  pkg/engine/api/engineresponse_test.go
  pkg/engine/api/policy.go
  pkg/engine/metrics.go
  pkg/event/events.go
  pkg/utils/report/results.go
  pkg/validatingadmissionpolicy/validatingadmissionpolicy.go
  pkg/webhooks/utils/block_test.go
  pkg/webhooks/utils/warning_test.go
Labels: milestone 1.11.0

#8036 chore: add k8s 1.28 testing
  .github/workflows/conformance.yaml
Labels: milestone 1.11.0

#8039 chore: add 1.28 to issue template
  .github/ISSUE_TEMPLATE/bug-webhook.yaml
Labels: milestone 1.11.0

#8038 chore: bump codegen tools
  Makefile
  pkg/client/clientset/versioned/typed/kyverno/v1/fake/fake_clusterpolicy.go
  pkg/client/clientset/versioned/typed/kyverno/v1/fake/fake_policy.go
  pkg/client/clientset/versioned/typed/kyverno/v1alpha2/fake/fake_admissionreport.go
  pkg/client/clientset/versioned/typed/kyverno/v1alpha2/fake/fake_backgroundscanreport.go
  pkg/client/clientset/versioned/typed/kyverno/v1alpha2/fake/fake_clusteradmissionreport.go
  pkg/client/clientset/versioned/typed/kyverno/v1alpha2/fake/fake_clusterbackgroundscanreport.go
  pkg/client/clientset/versioned/typed/kyverno/v1beta1/fake/fake_updaterequest.go
  pkg/client/clientset/versioned/typed/kyverno/v2alpha1/fake/fake_cleanuppolicy.go
  pkg/client/clientset/versioned/typed/kyverno/v2alpha1/fake/fake_clustercleanuppolicy.go
  pkg/client/clientset/versioned/typed/kyverno/v2alpha1/fake/fake_policyexception.go
  pkg/client/clientset/versioned/typed/kyverno/v2beta1/fake/fake_clusterpolicy.go
  pkg/client/clientset/versioned/typed/kyverno/v2beta1/fake/fake_policy.go
  pkg/client/clientset/versioned/typed/policyreport/v1alpha2/fake/fake_clusterpolicyreport.go
  pkg/client/clientset/versioned/typed/policyreport/v1alpha2/fake/fake_policyreport.go
  pkg/client/informers/externalversions/factory.go
Labels: milestone 1.11.0

#8040 fix: image logger
  pkg/utils/image/infos.go
Labels: milestone 1.11.0

#7885 fix: apply command doesn't consider git and non-git paths together (#7832)
  cmd/cli/kubectl-kyverno/apply/apply_command.go
  cmd/cli/kubectl-kyverno/apply/apply_command_test.go
Labels: milestone 1.11.0

#8027 feat: add fuzzers from cncf-fuzzing
  api/kyverno/v1/fuzz_test.go
  api/kyverno/v2beta1/fuzz_test.go
  go.mod
  go.sum
  pkg/engine/anchor/fuzz_test.go
  pkg/engine/api/fuzz_test.go
  pkg/engine/fuzz_test.go
  pkg/engine/variables/fuzz_test.go
  pkg/validation/policy/fuzz_test.go
Labels: milestone 1.11.0

#8043 chore: remove tests for k8s v1.24
  .github/workflows/conformance.yaml
Labels: milestone 1.11.0

#8052 chore: use k8s 1.27 by default
  Makefile
Labels: milestone 1.11.0

#8053 fix: server name without port to generated certificate
  pkg/tls/keypair.go
Labels: milestone 1.11.0

#8057 test: move OSS-Fuzz build script from cncf-fuzzing
  test/fuzz/oss_fuzz_build.sh
Labels: milestone 1.11.0

#8042 feat: add match conditions support in webhooks
  CHANGELOG.md
  charts/kyverno/Chart.yaml
  charts/kyverno/README.md
  charts/kyverno/templates/NOTES.txt
  charts/kyverno/templates/config/configmap.yaml
  charts/kyverno/values.yaml
  pkg/config/config.go
  pkg/config/types.go
  pkg/controllers/generic/webhook/controller.go
  pkg/controllers/webhook/controller.go
Labels: Documentation, milestone 1.11.0

#8064 chore: bump a couple of deps
  go.mod
  go.sum
Labels: milestone 1.11.0

#7995 Refactor Kyverno CLI
  cmd/cli/kubectl-kyverno/apply/apply_command.go
  cmd/cli/kubectl-kyverno/apply/apply_command_test.go
  cmd/cli/kubectl-kyverno/utils/common/kyverno_policies_types.go
Labels: milestone 1.11.0

#8066 chore: bump a couple of deps
  go.mod
  go.sum
Labels: milestone 1.11.0

#8067 fix: image pull policy missing
  charts/kyverno/Chart.yaml
  charts/kyverno/templates/background-controller/deployment.yaml
  charts/kyverno/templates/cleanup-controller/deployment.yaml
  charts/kyverno/templates/reports-controller/deployment.yaml
  charts/kyverno/values.yaml
  config/install-latest-testing.yaml
Labels: milestone 1.11.0

#8071 feat: support namespaceObject variable in CEL expressions
  pkg/engine/adapters/dclient.go
  pkg/engine/api/client.go
  pkg/engine/handlers/validation/validate_cel.go
  test/conformance/kuttl/validate/clusterpolicy/standard/cel/check-statefulset-namespace/01-ns.yaml
  test/conformance/kuttl/validate/clusterpolicy/standard/cel/check-statefulset-namespace/02-policy.yaml
  test/conformance/kuttl/validate/clusterpolicy/standard/cel/check-statefulset-namespace/03-statefulset.yaml
  test/conformance/kuttl/validate/clusterpolicy/standard/cel/check-statefulset-namespace/README.md
  test/conformance/kuttl/validate/clusterpolicy/standard/cel/check-statefulset-namespace/ns.yaml
  test/conformance/kuttl/validate/clusterpolicy/standard/cel/check-statefulset-namespace/policy-assert.yaml
  test/conformance/kuttl/validate/clusterpolicy/standard/cel/check-statefulset-namespace/policy.yaml
  test/conformance/kuttl/validate/clusterpolicy/standard/cel/check-statefulset-namespace/statefulset-fail.yaml
  test/conformance/kuttl/validate/clusterpolicy/standard/cel/check-statefulset-namespace/statefulset-pass.yaml
Labels: milestone 1.11.0

#8075 chore: replace usage of v1alpha1 with v1beta1 for cel subrule
  api/kyverno/v1/common_types.go
  api/kyverno/v1/zz_generated.deepcopy.go
  charts/kyverno/templates/crds/crds.yaml
  config/crds/kyverno.io_clusterpolicies.yaml
  config/crds/kyverno.io_policies.yaml
  config/install-latest-testing.yaml
  docs/user/crd/index.html
  pkg/client/applyconfigurations/kyverno/v1/cel.go
Labels: milestone 1.11.0

#8077 fix: stop hiding flags in the cli
  cmd/cli/kubectl-kyverno/main.go
Labels: milestone 1.11.0

#8079 chore: add support for different kind config
  Makefile
  scripts/config/kind/default.yaml
  scripts/config/kind/vap.yaml
Labels: milestone 1.11.0

#8072 feat: use kyverno/action-install-cli action for conformance workflow
  .github/workflows/conformance.yaml
Labels: milestone 1.11.0

#8080 fix: allow mutation of policy reports
  pkg/webhooks/utils/exclude.go
  pkg/webhooks/utils/exclude_test.go
Labels: milestone 1.11.0

#8082 chore: replace usage of v1beta1 with v1alpha1 for cel subrule
  api/kyverno/v1/common_types.go
  api/kyverno/v1/zz_generated.deepcopy.go
  charts/kyverno/templates/crds/crds.yaml
  config/crds/kyverno.io_clusterpolicies.yaml
  config/crds/kyverno.io_policies.yaml
  config/install-latest-testing.yaml
  docs/user/crd/index.html
  pkg/client/applyconfigurations/kyverno/v1/cel.go
Labels: milestone 1.11.0

#8081 fix: crash when applying unquoted null
  pkg/validation/policy/validate.go
  pkg/validation/policy/validate_test.go
Labels: milestone 1.11.0

#8085 fix: generate/validation kuttl tests
  test/conformance/kuttl/generate/validation/clusterpolicy/permissions/no-permission/02-clusterrole.yaml
  test/conformance/kuttl/generate/validation/clusterpolicy/permissions/no-permission/06-delete.yaml
  test/conformance/kuttl/generate/validation/clusterpolicy/target-namespace-scope/01-clusterrole.yaml
  test/conformance/kuttl/generate/validation/clusterpolicy/target-namespace-scope/03-delete.yaml
  test/conformance/kuttl/generate/validation/clusterpolicy/target-namespace-scope/04-delete.yaml
  test/conformance/kuttl/generate/validation/policy/permissions/03-clusterrole.yaml
  test/conformance/kuttl/generate/validation/policy/permissions/05-delete.yaml
Labels: milestone 1.11.0

#8087 fix: generate/clusterpolicy kuttl tests
  test/conformance/kuttl/generate/clusterpolicy/cornercases/generate-event-upon-edit/08-reset-clusterrole.yaml
  test/conformance/kuttl/generate/clusterpolicy/cornercases/pod-restart-on-cm-update/cluster-role.yaml
Labels: milestone 1.11.0

#8090 chore: improve performance of engine fuzzers
  pkg/engine/fuzz_test.go
  test/fuzz/dictionaries/fuzz.dict
  test/fuzz/oss_fuzz_build.sh
Labels: milestone 1.11.0

#8083 refactor: background controller permissions
  charts/kyverno/README.md
  charts/kyverno/templates/admission-controller/clusterrole.yaml
  charts/kyverno/templates/background-controller/clusterrole.yaml
  charts/kyverno/values.yaml
  config/install-latest-testing.yaml
  pkg/policy/generate/validate.go
Labels: milestone 1.11.0

#8098 refactor CEL validation in Kyverno policies
  pkg/engine/handlers/validation/validate_cel.go
Labels: milestone 1.11.0

#8099 fix: check if client is set in CEL validations
  cmd/cli/kubectl-kyverno/utils/common/kyverno_policies_types.go
  pkg/engine/handlers/validation/validate_cel.go
Labels: milestone 1.11.0

#8102 chore: add mocks to mutate fuzzer
  pkg/engine/fuzz_test.go
Labels: milestone 1.11.0

#8104 fix: context propagation in tracing
  cmd/cleanup-controller/server.go
  pkg/tracing/config.go
  pkg/webhooks/handlers/types.go
  pkg/webhooks/server.go
Labels: milestone 1.11.0

#8096 [Feat]: added ttl-metrics
  pkg/controllers/ttl/controller.go
  pkg/controllers/ttl/manager.go
Labels: Documentation, milestone 1.11.0

#8105 chore: add kind config with kubelet and apiserver tracing
  scripts/config/kind/tracing.yaml
  scripts/config/kube-apiserver/tracing-configuration.yaml
Labels: milestone 1.11.0

#8103 feat: support variables for CEL in Kyverno policies
  api/kyverno/v1/common_types.go
  api/kyverno/v1/zz_generated.deepcopy.go
  charts/kyverno/templates/crds/crds.yaml
  config/crds/kyverno.io_clusterpolicies.yaml
  config/crds/kyverno.io_policies.yaml
  config/install-latest-testing.yaml
  docs/user/crd/index.html
  pkg/client/applyconfigurations/kyverno/v1/cel.go
  pkg/engine/handlers/validation/validate_cel.go
  test/conformance/kuttl/validate/clusterpolicy/standard/cel/cel-variables/01-ns.yaml
  test/conformance/kuttl/validate/clusterpolicy/standard/cel/cel-variables/02-policy.yaml
  test/conformance/kuttl/validate/clusterpolicy/standard/cel/cel-variables/03-resources.yaml
  test/conformance/kuttl/validate/clusterpolicy/standard/cel/cel-variables/README.md
  test/conformance/kuttl/validate/clusterpolicy/standard/cel/cel-variables/deployments-fail.yaml
  test/conformance/kuttl/validate/clusterpolicy/standard/cel/cel-variables/deployments-pass.yaml
  test/conformance/kuttl/validate/clusterpolicy/standard/cel/cel-variables/ns.yaml
  test/conformance/kuttl/validate/clusterpolicy/standard/cel/cel-variables/policy-assert.yaml
  test/conformance/kuttl/validate/clusterpolicy/standard/cel/cel-variables/policy.yaml
Labels: milestone 1.11.0, CEL

#8107 fix: reduce tls package dependencies
  pkg/tls/keypair.go
  pkg/tls/reader.go
  pkg/tls/renewer.go
  pkg/tls/utils.go
Labels: milestone 1.11.0

#8106 chore: add otel collector to dev lab
  Makefile
  scripts/config/dev/otel-collector.yaml
Labels: milestone 1.11.0

#8108 refactor: create cel package for compiling expressions
  api/kyverno/v1/rule_types.go
  api/kyverno/v1/zz_generated.deepcopy.go
  docs/user/crd/index.html
  pkg/client/applyconfigurations/kyverno/v1/rule.go
  pkg/engine/fuzz_test.go
  pkg/engine/handlers/validation/validate_cel.go
  pkg/utils/cel/cel.go
  pkg/validatingadmissionpolicy/validatingadmissionpolicy.go
Labels: milestone 1.11.0

#8110 fix: cli logs not working
  cmd/cli/kubectl-kyverno/main.go
Labels: milestone 1.11.0

#8116 fix: cli tests scenarios_to_cli/other
  test/cli/scenarios_to_cli/other/scenario_mutate_endpoint/kyverno-test.yaml
  test/cli/scenarios_to_cli/other/scenario_mutate_endpoint/patchedresource.yaml
  test/cli/scenarios_to_cli/other/scenario_mutate_endpoint/policy.yaml
  test/cli/scenarios_to_cli/other/scenario_mutate_endpoint/resource.yaml
  test/cli/scenarios_to_cli/other/scenario_mutate_pod_spec/kyverno-test.yaml
  test/cli/scenarios_to_cli/other/scenario_mutate_pod_spec/patchedresource.yaml
  test/cli/scenarios_to_cli/other/scenario_mutate_pod_spec/policy.yaml
  test/cli/scenarios_to_cli/other/scenario_mutate_pod_spec/resource.yaml
  test/cli/scenarios_to_cli/other/scenario_validate_default_proc_mount/kyverno-test.yaml
  test/cli/scenarios_to_cli/other/scenario_validate_default_proc_mount/policy.yaml
  test/cli/scenarios_to_cli/other/scenario_validate_default_proc_mount/resource.yaml
  test/cli/scenarios_to_cli/other/scenario_validate_disallow_default_serviceaccount/kyverno-test.yaml
  test/cli/scenarios_to_cli/other/scenario_validate_disallow_default_serviceaccount/policy.yaml
  test/cli/scenarios_to_cli/other/scenario_validate_disallow_default_serviceaccount/resource.yaml
  test/cli/scenarios_to_cli/other/scenario_validate_healthChecks/kyverno-test.yaml
  test/cli/scenarios_to_cli/other/scenario_validate_healthChecks/policy.yaml
  test/cli/scenarios_to_cli/other/scenario_validate_healthChecks/resource.yaml
  test/cli/scenarios_to_cli/other/scenario_validate_selinux_context/kyverno-test.yaml
  test/cli/scenarios_to_cli/other/scenario_validate_selinux_context/policy.yaml
  test/cli/scenarios_to_cli/other/scenario_validate_selinux_context/resource.yaml
  test/cli/scenarios_to_cli/other/scenario_validate_volume_whitelist/kyverno-test.yaml
  test/cli/scenarios_to_cli/other/scenario_validate_volume_whitelist/policy.yaml
  test/cli/scenarios_to_cli/other/scenario_validate_volume_whitelist/resource.yaml
Labels: milestone 1.11.0

#8115 fix: conditions v2beta1 help
  api/kyverno/v2beta1/common_types.go
  api/kyverno/v2beta1/rule_types.go
  charts/kyverno/templates/crds/crds.yaml
  config/crds/kyverno.io_clusterpolicies.yaml
  config/crds/kyverno.io_policies.yaml
  config/install-latest-testing.yaml
  docs/user/crd/index.html
Labels: milestone 1.11.0

#8125 chore: bump a couple of deps
  go.mod
  go.sum
Labels: milestone 1.11.0

#8112 [Feat] TTL controller log improvements
  cmd/cleanup-controller/handlers/admission/resource/handlers.go
  pkg/controllers/ttl/controller.go
  pkg/controllers/ttl/manager.go
Labels: milestone 1.10.1

#8127 fix: misleading warning about matching on status
  pkg/validation/policy/validate.go
Labels: milestone 1.11.0

#8126 chore: bump kustomize
  go.mod
  go.sum
Labels: milestone 1.11.0

#8131 [update] The nancy-ignore file is not updated
  .nancy-ignore
Labels: milestone 1.11.0

#8132 fix: nancy ignore file
  .nancy-ignore
Labels: milestone 1.11.0

#8134 feat: add ttl manager metric for tracked resources
  pkg/controllers/ttl/manager.go
Labels: Documentation, milestone 1.11.0

#8136 chore: add .helmignore to .helmignore
  charts/kyverno-policies/.helmignore
  charts/kyverno/.helmignore
Labels: milestone 1.11.0

#8129 fix: update certmanager and config to take common name and namespace as arguments
  cmd/cleanup-controller/main.go
  cmd/kyverno-init/main.go
  cmd/kyverno/main.go
  pkg/config/tls.go
  pkg/controllers/certmanager/controller.go
  pkg/controllers/generic/webhook/controller.go
  pkg/controllers/webhook/controller.go
  pkg/tls/renewer.go
Labels: milestone 1.11.0

#8084 feat: support namespaced parameter resources for CEL expressions in Kyverno policies
  pkg/engine/adapters/dclient.go
  pkg/engine/api/client.go
  pkg/engine/handlers/validation/validate_cel.go
  pkg/policy/validate/validate.go
  test/conformance/kuttl/validate/clusterpolicy/standard/cel/parameter-resources/clusterscoped/01-crd.yaml
  test/conformance/kuttl/validate/clusterpolicy/standard/cel/parameter-resources/clusterscoped/02-namespaceConstraint.yaml
  test/conformance/kuttl/validate/clusterpolicy/standard/cel/parameter-resources/clusterscoped/03-policy.yaml
  test/conformance/kuttl/validate/clusterpolicy/standard/cel/parameter-resources/clusterscoped/04-ns.yaml
  test/conformance/kuttl/validate/clusterpolicy/standard/cel/parameter-resources/clusterscoped/README.md
  test/conformance/kuttl/validate/clusterpolicy/standard/cel/parameter-resources/clusterscoped/crd-assert.yaml
  test/conformance/kuttl/validate/clusterpolicy/standard/cel/parameter-resources/clusterscoped/crd.yaml
  test/conformance/kuttl/validate/clusterpolicy/standard/cel/parameter-resources/clusterscoped/namespaceConstraint.yaml
  test/conformance/kuttl/validate/clusterpolicy/standard/cel/parameter-resources/clusterscoped/ns-fail.yaml
  test/conformance/kuttl/validate/clusterpolicy/standard/cel/parameter-resources/clusterscoped/ns-pass.yaml
  test/conformance/kuttl/validate/clusterpolicy/standard/cel/parameter-resources/clusterscoped/policy-assert.yaml
  test/conformance/kuttl/validate/clusterpolicy/standard/cel/parameter-resources/clusterscoped/policy.yaml
  test/conformance/kuttl/validate/clusterpolicy/standard/cel/parameter-resources/namespaced/match-clusterscoped-resource/01-crd.yaml
  test/conformance/kuttl/validate/clusterpolicy/standard/cel/parameter-resources/namespaced/match-clusterscoped-resource/02-nameConstraint.yaml
  test/conformance/kuttl/validate/clusterpolicy/standard/cel/parameter-resources/namespaced/match-clusterscoped-resource/03-policy.yaml
  test/conformance/kuttl/validate/clusterpolicy/standard/cel/parameter-resources/namespaced/match-clusterscoped-resource/04-ns.yaml
  test/conformance/kuttl/validate/clusterpolicy/standard/cel/parameter-resources/namespaced/match-clusterscoped-resource/README.md
  test/conformance/kuttl/validate/clusterpolicy/standard/cel/parameter-resources/namespaced/match-clusterscoped-resource/crd-assert.yaml
  test/conformance/kuttl/validate/clusterpolicy/standard/cel/parameter-resources/namespaced/match-clusterscoped-resource/crd.yaml
  test/conformance/kuttl/validate/clusterpolicy/standard/cel/parameter-resources/namespaced/match-clusterscoped-resource/nameConstraint.yaml
  test/conformance/kuttl/validate/clusterpolicy/standard/cel/parameter-resources/namespaced/match-clusterscoped-resource/ns.yaml
  test/conformance/kuttl/validate/clusterpolicy/standard/cel/parameter-resources/namespaced/match-clusterscoped-resource/policy-assert.yaml
  test/conformance/kuttl/validate/clusterpolicy/standard/cel/parameter-resources/namespaced/match-clusterscoped-resource/policy.yaml
  test/conformance/kuttl/validate/clusterpolicy/standard/cel/parameter-resources/namespaced/set-paramref-namespace/01-ns.yaml
  test/conformance/kuttl/validate/clusterpolicy/standard/cel/parameter-resources/namespaced/set-paramref-namespace/02-crd.yaml
  test/conformance/kuttl/validate/clusterpolicy/standard/cel/parameter-resources/namespaced/set-paramref-namespace/03-replicaLimit.yaml
  test/conformance/kuttl/validate/clusterpolicy/standard/cel/parameter-resources/namespaced/set-paramref-namespace/04-policy.yaml
  test/conformance/kuttl/validate/clusterpolicy/standard/cel/parameter-resources/namespaced/set-paramref-namespace/05-resources.yaml
  test/conformance/kuttl/validate/clusterpolicy/standard/cel/parameter-resources/namespaced/set-paramref-namespace/README.md
  test/conformance/kuttl/validate/clusterpolicy/standard/cel/parameter-resources/namespaced/set-paramref-namespace/crd-assert.yaml
  test/conformance/kuttl/validate/clusterpolicy/standard/cel/parameter-resources/namespaced/set-paramref-namespace/crd.yaml
  test/conformance/kuttl/validate/clusterpolicy/standard/cel/parameter-resources/namespaced/set-paramref-namespace/deployment-fail.yaml
  test/conformance/kuttl/validate/clusterpolicy/standard/cel/parameter-resources/namespaced/set-paramref-namespace/deployment-pass.yaml
  test/conformance/kuttl/validate/clusterpolicy/standard/cel/parameter-resources/namespaced/set-paramref-namespace/ns.yaml
  test/conformance/kuttl/validate/clusterpolicy/standard/cel/parameter-resources/namespaced/set-paramref-namespace/policy-assert.yaml
  test/conformance/kuttl/validate/clusterpolicy/standard/cel/parameter-resources/namespaced/set-paramref-namespace/policy.yaml
  test/conformance/kuttl/validate/clusterpolicy/standard/cel/parameter-resources/namespaced/set-paramref-namespace/replicaLimit.yaml
  test/conformance/kuttl/validate/clusterpolicy/standard/cel/parameter-resources/namespaced/unset-paramref-namespace/01-ns.yaml
  test/conformance/kuttl/validate/clusterpolicy/standard/cel/parameter-resources/namespaced/unset-paramref-namespace/02-crd.yaml
  test/conformance/kuttl/validate/clusterpolicy/standard/cel/parameter-resources/namespaced/unset-paramref-namespace/03-replicaLimit.yaml
  test/conformance/kuttl/validate/clusterpolicy/standard/cel/parameter-resources/namespaced/unset-paramref-namespace/04-policy.yaml
  test/conformance/kuttl/validate/clusterpolicy/standard/cel/parameter-resources/namespaced/unset-paramref-namespace/05-resources.yaml
  test/conformance/kuttl/validate/clusterpolicy/standard/cel/parameter-resources/namespaced/unset-paramref-namespace/06-sleep.yaml
  test/conformance/kuttl/validate/clusterpolicy/standard/cel/parameter-resources/namespaced/unset-paramref-namespace/README.md
  test/conformance/kuttl/validate/clusterpolicy/standard/cel/parameter-resources/namespaced/unset-paramref-namespace/crd-assert.yaml
  test/conformance/kuttl/validate/clusterpolicy/standard/cel/parameter-resources/namespaced/unset-paramref-namespace/crd.yaml
  test/conformance/kuttl/validate/clusterpolicy/standard/cel/parameter-resources/namespaced/unset-paramref-namespace/ns.yaml
  test/conformance/kuttl/validate/clusterpolicy/standard/cel/parameter-resources/namespaced/unset-paramref-namespace/policy-assert.yaml
  test/conformance/kuttl/validate/clusterpolicy/standard/cel/parameter-resources/namespaced/unset-paramref-namespace/policy.yaml
  test/conformance/kuttl/validate/clusterpolicy/standard/cel/parameter-resources/namespaced/unset-paramref-namespace/replicaLimit.yaml
  test/conformance/kuttl/validate/clusterpolicy/standard/cel/parameter-resources/namespaced/unset-paramref-namespace/statefulset-fail.yaml
  test/conformance/kuttl/validate/clusterpolicy/standard/cel/parameter-resources/namespaced/unset-paramref-namespace/statefulset-pass.yaml
Labels: milestone 1.11.0

#8128 [Feat]: Perform permissions check when TTL label is observed
  cmd/cleanup-controller/handlers/admission/policy/handlers.go
  cmd/cleanup-controller/handlers/admission/resource/handlers.go
  cmd/cleanup-controller/main.go
  pkg/controllers/ttl/manager.go
  pkg/controllers/ttl/utils.go
Labels: milestone 1.11.0

#8138 fix: vscode debug config
  .vscode/launch.json
Labels: milestone 1.11.0

#8139 chore: add kind config file for v1beta1 of validating admission policies
  scripts/config/kind/vap-v1alpha1.yaml
  scripts/config/kind/vap-v1beta1.yaml
Labels: milestone 1.11.0

#8142 chore: remove old comment from helm chart
  charts/kyverno/values.yaml
Labels: milestone 1.11.0

#8145 fix: validate the YAML test file syntactically and schematically
  cmd/cli/kubectl-kyverno/test/load.go
  cmd/cli/kubectl-kyverno/test/load_test.go
  cmd/cli/kubectl-kyverno/test/test.go
  cmd/cli/kubectl-kyverno/test/test_command.go
Labels: milestone 1.11.0

#8153 chore: add a timeout to setup-build-env action
  .github/workflows/cli.yaml
  .github/workflows/codecov.yaml
  .github/workflows/conformance.yaml
  .github/workflows/fossa.yml
  .github/workflows/helm-release.yaml
  .github/workflows/helm-test.yaml
  .github/workflows/images-build.yaml
  .github/workflows/images-publish.yaml
  .github/workflows/lint.yaml
  .github/workflows/nancy.yaml
  .github/workflows/release.yaml
  .github/workflows/sonarcloud.yaml
  .github/workflows/tests.yaml
  .github/workflows/verify-codegen.yaml
Labels: milestone 1.11.0

#8143 fix: build cli in conformance tests
  .github/workflows/conformance.yaml
Labels: milestone 1.11.0

#8157 refactor: remove logger from tls package
  pkg/tls/keypair.go
  pkg/tls/log.go
  pkg/tls/renewer.go
  pkg/tls/utils.go
Labels: milestone 1.11.0

#8154 chore: enable admissionregistration v1alpha1 in kind config
  scripts/config/kind/vap-v1beta1.yaml
Labels: milestone 1.11.0

#8160 fix: add description to CLI create command
  cmd/cli/kubectl-kyverno/create/command.go
Labels: milestone 1.11.0

#8163 fix: support fully-qualified file paths in cli test command
  cmd/cli/kubectl-kyverno/test/test.go
Labels: milestone 1.11.0

#8165 fix: remove cli manifest commands
  CHANGELOG.md
  cmd/cli/kubectl-kyverno/test/manifest/mutate.go
  cmd/cli/kubectl-kyverno/test/manifest/print.go
  cmd/cli/kubectl-kyverno/test/manifest/validate.go
  cmd/cli/kubectl-kyverno/test/test_command.go
Labels: Documentation, milestone 1.11.0

#8155 fix: check caSecretName and tlsSecretName flags
  cmd/cleanup-controller/main.go
  cmd/kyverno/main.go
Labels: milestone 1.11.0

#8167 chore: add cli path utils unit tests
  cmd/cli/kubectl-kyverno/utils/path/path_test.go
Labels: milestone 1.11.0

#7969 added verify image ristretto cache implementation
  cmd/internal/flag.go
  cmd/internal/imageverifycache.go
  go.mod
  go.sum
  pkg/engine/handlers/mutation/mutate_image.go
  pkg/engine/image_verify_test.go
  pkg/engine/internal/imageverifier.go
  pkg/imageverifycache/client.go
Labels: milestone 1.11.0

#8159 feat: bump otel libs
  go.mod
  go.sum
  pkg/metrics/metrics.go
  pkg/tracing/config.go
  pkg/tracing/helpers.go
  pkg/webhooks/handlers/metrics.go
  pkg/webhooks/handlers/trace.go
Labels: milestone 1.11.0

#8175 chore: merge go.mod indirect deps
  go.mod
Labels: milestone 1.11.0

#8177 refactor: refactor cli filters and add unit tests
  cmd/cli/kubectl-kyverno/test/filter.go
  cmd/cli/kubectl-kyverno/test/test.go
  cmd/cli/kubectl-kyverno/test/test_command.go
  cmd/cli/kubectl-kyverno/utils/filter/filter.go
  cmd/cli/kubectl-kyverno/utils/filter/filter_test.go
Labels: milestone 1.11.0

#8179 feat: add cli docs command
  cmd/cli/kubectl-kyverno/docs/docs.go
  cmd/cli/kubectl-kyverno/main.go
  docs/user/cli/kyverno.md
  docs/user/cli/kyverno_apply.md
  docs/user/cli/kyverno_completion.md
  docs/user/cli/kyverno_completion_bash.md
  docs/user/cli/kyverno_completion_fish.md
  docs/user/cli/kyverno_completion_powershell.md
  docs/user/cli/kyverno_completion_zsh.md
  docs/user/cli/kyverno_create.md
  docs/user/cli/kyverno_create_metrics-config.md
  docs/user/cli/kyverno_create_test.md
  docs/user/cli/kyverno_create_user-info.md
  docs/user/cli/kyverno_create_values.md
  docs/user/cli/kyverno_docs.md
  docs/user/cli/kyverno_jp.md
  docs/user/cli/kyverno_jp_function.md
  docs/user/cli/kyverno_jp_parse.md
  docs/user/cli/kyverno_jp_query.md
  docs/user/cli/kyverno_test.md
  docs/user/cli/kyverno_version.md
  go.mod
  go.sum
Labels: milestone 1.11.0

#8100 fix: extend retry function to mutate rules
  pkg/background/common/util.go
  pkg/background/generate/generate.go
  pkg/background/generate/utils.go
  pkg/background/mutate/mutate.go
  pkg/background/update_request_controller.go
Labels: milestone 1.11.0, lgtm

#8181 fix: website docs generation
  cmd/cli/kubectl-kyverno/docs/docs.go
Labels: milestone 1.11.0

#8168 feat: allow kyverno test variables directly in test
  cmd/cli/kubectl-kyverno/apply/apply_command.go
  cmd/cli/kubectl-kyverno/create/values/command.go
  cmd/cli/kubectl-kyverno/test/api/types.go
  cmd/cli/kubectl-kyverno/test/test.go
  cmd/cli/kubectl-kyverno/utils/common/common.go
  cmd/cli/kubectl-kyverno/utils/common/common_test.go
  cmd/cli/kubectl-kyverno/utils/common/fetch.go
  cmd/cli/kubectl-kyverno/utils/common/kyverno_resources_types.go
  cmd/cli/kubectl-kyverno/utils/common/validatingadmission_resources_types.go
  cmd/cli/kubectl-kyverno/utils/common/variables.go
  cmd/cli/kubectl-kyverno/utils/values/load.go
  cmd/cli/kubectl-kyverno/utils/values/types.go
  test/cli/test/exec-subresource/kyverno-test.yaml
  test/cli/test/exec-subresource/values.yaml
Labels: Documentation, milestone 1.11.0

#8182 feat: support validating admission policy variables in the CLI
  cmd/cli/kubectl-kyverno/apply/apply_command_test.go
  pkg/validatingadmissionpolicy/validatingadmissionpolicy.go
  test/cli/test-validating-admission-policy/check-deployment-labels/deployment1.yaml
  test/cli/test-validating-admission-policy/check-deployment-labels/deployment2.yaml
  test/cli/test-validating-admission-policy/check-deployment-labels/policy.yaml
Labels: milestone 1.11.0

#8183 fix: kyverno test doesn't fail when mutated YAML != patchedResource YAML
  cmd/cli/kubectl-kyverno/test/test.go
Labels: milestone 1.11.0

#8187 chore: increase setup-build-env timeout
  .github/workflows/cli.yaml
  .github/workflows/codecov.yaml
  .github/workflows/conformance.yaml
  .github/workflows/fossa.yml
  .github/workflows/helm-release.yaml
  .github/workflows/helm-test.yaml
  .github/workflows/images-build.yaml
  .github/workflows/images-publish.yaml
  .github/workflows/lint.yaml
  .github/workflows/nancy.yaml
  .github/workflows/release.yaml
  .github/workflows/sonarcloud.yaml
  .github/workflows/tests.yaml
  .github/workflows/verify-codegen.yaml
Labels: milestone 1.11.0

#8188 fix: mutation unit test not working as expected
  cmd/cli/kubectl-kyverno/test/test.go
  cmd/cli/kubectl-kyverno/utils/unstructured/unstructured.go
  cmd/cli/kubectl-kyverno/utils/unstructured/unstructured_test.go
  test/cli/test-mutate/patched-resource/kyverno-test.yaml
  test/cli/test-mutate/patched-resource/patched-resource.yaml
  test/cli/test-mutate/patched-resource/policy.yaml
  test/cli/test-mutate/patched-resource/resource.yaml
Labels: milestone 1.11.0

#8189 fix: kyverno test generated resource inconsistency
  Makefile
  cmd/cli/kubectl-kyverno/test/test.go
  cmd/cli/kubectl-kyverno/utils/unstructured/unstructured.go
  cmd/cli/kubectl-kyverno/utils/unstructured/unstructured_test.go
Labels: milestone 1.11.0

#8191 fix: verification of cli docs breaks CI
  Makefile
Labels: milestone 1.11.0

#8193 fix: verification of cli docs breaks CI (for real)
  Makefile
  cmd/cli/kubectl-kyverno/docs/docs.go
  docs/user/cli/kyverno.md
  docs/user/cli/kyverno_apply.md
  docs/user/cli/kyverno_completion.md
  docs/user/cli/kyverno_completion_bash.md
  docs/user/cli/kyverno_completion_fish.md
  docs/user/cli/kyverno_completion_powershell.md
  docs/user/cli/kyverno_completion_zsh.md
  docs/user/cli/kyverno_create.md
  docs/user/cli/kyverno_create_metrics-config.md
  docs/user/cli/kyverno_create_test.md
  docs/user/cli/kyverno_create_user-info.md
  docs/user/cli/kyverno_create_values.md
  docs/user/cli/kyverno_docs.md
  docs/user/cli/kyverno_jp.md
  docs/user/cli/kyverno_jp_function.md
  docs/user/cli/kyverno_jp_parse.md
  docs/user/cli/kyverno_jp_query.md
  docs/user/cli/kyverno_test.md
  docs/user/cli/kyverno_version.md
Labels: milestone 1.11.0

#8199 chore: add a couple unit tests
  cmd/cli/kubectl-kyverno/utils/color/color_test.go
Labels: milestone 1.11.0

#8192 fix: propagate registration and error in controllerutils pkg
  pkg/controllers/certmanager/controller.go
  pkg/controllers/cleanup/controller.go
  pkg/controllers/generic/configmap/controller.go
  pkg/controllers/generic/logging/controller.go
  pkg/controllers/generic/webhook/controller.go
  pkg/controllers/metrics/policy/controller.go
  pkg/controllers/policycache/controller.go
  pkg/controllers/report/admission/controller.go
  pkg/controllers/report/aggregate/controller.go
  pkg/controllers/report/background/controller.go
  pkg/controllers/report/resource/controller.go
  pkg/controllers/validatingadmissionpolicy-generate/controller.go
  pkg/controllers/webhook/controller.go
  pkg/utils/controller/handlers.go
Labels: milestone 1.11.0

#8186 feat: remove description from deprecated fields
  CHANGELOG.md
  api/kyverno/v1/image_verification_types.go
  api/kyverno/v1/policy_status.go
  api/kyverno/v1/policy_types.go
  api/kyverno/v1beta1/updaterequest_types.go
  charts/kyverno/templates/crds/crds.yaml
  config/crds/kyverno.io_clusterpolicies.yaml
  config/crds/kyverno.io_policies.yaml
  config/crds/kyverno.io_updaterequests.yaml
  config/install-latest-testing.yaml
  docs/user/crd/index.html
Labels: milestone 1.11.0

#8197 fix: multiple test cases for generate policy lead to wrong test results
  cmd/cli/kubectl-kyverno/test/test.go
  test/cli/test-generate/multiple-resources/generated-resource-1.yaml
  test/cli/test-generate/multiple-resources/generated-resource-2.yaml
  test/cli/test-generate/multiple-resources/kyverno-test.yaml
  test/cli/test-generate/multiple-resources/policy.yaml
  test/cli/test-generate/multiple-resources/resources.yaml
Labels: milestone 1.11.0

#8201 refactor: introduce cli annotations utils package
  cmd/cli/kubectl-kyverno/apply/report.go
  cmd/cli/kubectl-kyverno/apply/table.go
  cmd/cli/kubectl-kyverno/test/test.go
  cmd/cli/kubectl-kyverno/utils/annotations/annotations.go
  cmd/cli/kubectl-kyverno/utils/annotations/annotations_test.go
  cmd/cli/kubectl-kyverno/utils/common/common.go
Labels: milestone 1.11.0
