Repository kyverno/kyverno, pull requests merged in 2023-07, with the labels that each got.

#7730 feat: Add option to add imagePullSecrets to cleanup CronJobs
  charts/kyverno/README.md
  charts/kyverno/templates/cleanup/cleanup-admission-reports.yaml
  charts/kyverno/templates/cleanup/cleanup-cluster-admission-reports.yaml
  charts/kyverno/values.yaml
Labels: cherry-pick-required, milestone 1.10.1

#7733 fix: typo in check cmd
  cmd/internal/check.go
Labels: milestone 1.11.0

#7736 fix: nits in cli flags
  cmd/cli/kubectl-kyverno/apply/apply_command.go
  cmd/cli/kubectl-kyverno/test/test.go
  cmd/cli/kubectl-kyverno/test/test_command.go
  cmd/cli/kubectl-kyverno/utils/common/common.go
Labels: milestone 1.11.0

#7738 chore: bump ko version
  Makefile
Labels: milestone 1.11.0

#7737 chore: bump kind node versions
  .github/workflows/conformance.yaml
  Makefile
Labels: milestone 1.11.0

#7739 fix: refactor cli values loading and remove dead code
  cmd/cli/kubectl-kyverno/apply/apply_command.go
  cmd/cli/kubectl-kyverno/test/api/types.go
  cmd/cli/kubectl-kyverno/utils/common/common.go
  cmd/cli/kubectl-kyverno/utils/common/common_test.go
  cmd/cli/kubectl-kyverno/utils/common/fetch.go
  cmd/cli/kubectl-kyverno/utils/common/kyverno_resources_types.go
  cmd/cli/kubectl-kyverno/utils/common/validatingadmission_resources_types.go
  cmd/cli/kubectl-kyverno/utils/values/load.go
  cmd/cli/kubectl-kyverno/utils/values/types.go
Labels: milestone 1.11.0

#7489 [Feature] round() JMESPath function
  pkg/engine/jmespath/arithmetic.go
  pkg/engine/jmespath/arithmetic_test.go
  pkg/engine/jmespath/error.go
  pkg/engine/jmespath/functions.go
Labels: Documentation, milestone 1.11.0

#7746 fix: improve cli apply args check
  cmd/cli/kubectl-kyverno/apply/apply_command.go
Labels: milestone 1.11.0

#7748 fix: remove cli dead code
  cmd/cli/kubectl-kyverno/apply/apply_command.go
  cmd/cli/kubectl-kyverno/apply/apply_command_test.go
  cmd/cli/kubectl-kyverno/apply/generate.go
  cmd/cli/kubectl-kyverno/apply/generate_test.go
  cmd/cli/kubectl-kyverno/apply/log.go
  cmd/cli/kubectl-kyverno/apply/report.go
  cmd/cli/kubectl-kyverno/apply/report_test.go
  cmd/cli/kubectl-kyverno/test/test.go
  cmd/cli/kubectl-kyverno/utils/common/common.go
Labels: milestone 1.11.0

#7747 Replaced gcr crane with gcr remote
  pkg/notary/notary.go
  pkg/notary/notary_test.go
  pkg/notary/registry.go
  pkg/notary/repository.go
  pkg/notary/repository_test.go
Labels: milestone 1.11.0

#7758 fix(kubectl-kyverno): dump error validation response message
  cmd/cli/kubectl-kyverno/utils/common/common.go
Labels: milestone 1.11.0

#7761 chore: use register-gen to register k8s types
  Makefile
  api/kyverno/register.go
  api/kyverno/v1/register.go
  api/kyverno/v1/zz_generated.register.go
  api/kyverno/v1alpha2/zz_generated.register.go
  api/kyverno/v1beta1/register.go
  api/kyverno/v1beta1/zz_generated.register.go
  api/kyverno/v2alpha1/zz_generated.register.go
  api/kyverno/v2beta1/register.go
  api/kyverno/v2beta1/zz_generated.register.go
  api/policyreport/register.go
  api/policyreport/v1alpha2/register.go
  api/policyreport/v1alpha2/zz_generated.register.go
  pkg/client/clientset/versioned/clientset.go
  pkg/client/clientset/versioned/fake/clientset_generated.go
  pkg/client/clientset/versioned/fake/register.go
  pkg/client/clientset/versioned/scheme/register.go
  pkg/client/clientset/versioned/typed/kyverno/v2beta1/clusterpolicy.go
  pkg/client/clientset/versioned/typed/kyverno/v2beta1/doc.go
  pkg/client/clientset/versioned/typed/kyverno/v2beta1/fake/doc.go
  pkg/client/clientset/versioned/typed/kyverno/v2beta1/fake/fake_clusterpolicy.go
  pkg/client/clientset/versioned/typed/kyverno/v2beta1/fake/fake_kyverno_client.go
  pkg/client/clientset/versioned/typed/kyverno/v2beta1/fake/fake_policy.go
  pkg/client/clientset/versioned/typed/kyverno/v2beta1/generated_expansion.go
  pkg/client/clientset/versioned/typed/kyverno/v2beta1/kyverno_client.go
  pkg/client/clientset/versioned/typed/kyverno/v2beta1/policy.go
  pkg/client/informers/externalversions/generic.go
  pkg/client/informers/externalversions/kyverno/interface.go
  pkg/client/informers/externalversions/kyverno/v2beta1/clusterpolicy.go
  pkg/client/informers/externalversions/kyverno/v2beta1/interface.go
  pkg/client/informers/externalversions/kyverno/v2beta1/policy.go
  pkg/client/listers/kyverno/v2beta1/clusterpolicy.go
  pkg/client/listers/kyverno/v2beta1/expansion_generated.go
  pkg/client/listers/kyverno/v2beta1/policy.go
  pkg/clients/kyverno/clientset.generated.go
  pkg/clients/kyverno/kyvernov2beta1/client.generated.go
  pkg/clients/kyverno/kyvernov2beta1/clusterpolicies/resource.generated.go
  pkg/clients/kyverno/kyvernov2beta1/policies/resource.generated.go
Labels: milestone 1.11.0

#7765 chore: introduce defaulters-gen
  Makefile
  api/kyverno/v1/zz_generated.defaults.go
  api/kyverno/v1alpha2/zz_generated.defaults.go
  api/kyverno/v1beta1/zz_generated.defaults.go
  api/kyverno/v2alpha1/zz_generated.defaults.go
  api/kyverno/v2beta1/zz_generated.defaults.go
  api/policyreport/v1alpha2/zz_generated.defaults.go
Labels: milestone 1.11.0

#7757 feat: add table output to cli apply command
  cmd/cli/kubectl-kyverno/apply/apply_command.go
  cmd/cli/kubectl-kyverno/apply/table.go
  cmd/cli/kubectl-kyverno/test/output.go
  cmd/cli/kubectl-kyverno/test/test_command.go
  cmd/cli/kubectl-kyverno/utils/color/color.go
  cmd/cli/kubectl-kyverno/utils/output/table/printer.go
  cmd/cli/kubectl-kyverno/utils/output/table/table.go
Labels: Documentation, milestone 1.11.0

#7715 chore: bump cosign in gh workflows
  .github/actions/publish-image/action.yaml
  .github/workflows/helm-release.yaml
  .github/workflows/images-publish.yaml
  .github/workflows/release.yaml
Labels: milestone 1.11.0

#7766 chore: switch to deepcopy-gen
  Makefile
  api/kyverno/v1/zz_generated.deepcopy.go
  api/kyverno/v1alpha2/zz_generated.deepcopy.go
  api/kyverno/v1beta1/updaterequest_types.go
  api/kyverno/v1beta1/zz_generated.deepcopy.go
  api/kyverno/v2alpha1/zz_generated.deepcopy.go
  api/kyverno/v2beta1/zz_generated.deepcopy.go
  api/policyreport/v1alpha2/zz_generated.deepcopy.go
Labels: milestone 1.11.0

#7767 chore: increase linter timeout
  .golangci.yml
Labels: milestone 1.11.0

#7773 Move fetchClusterPolicies() and fetchPolicies() to utils
  pkg/controllers/report/background/controller.go
  pkg/controllers/report/resource/controller.go
  pkg/controllers/report/utils/utils.go
Labels: milestone 1.11.0

#7774 chart: fix admission controller rbac templating
  charts/kyverno/Chart.yaml
  charts/kyverno/templates/admission-controller/role.yaml
Labels: cherry-pick-required, milestone 1.10.2

#7726 fix: remove jmespath replace directive
  cmd/cli/kubectl-kyverno/jp/parse/parse.go
  cmd/cli/kubectl-kyverno/jp/query/query.go
  go.mod
  go.sum
  pkg/engine/engine.go
  pkg/engine/handlers/validation/validate_resource.go
  pkg/engine/jmespath/functionentry.go
  pkg/engine/jmespath/functionentry_test.go
  pkg/engine/jmespath/functions.go
  pkg/engine/jmespath/new.go
  pkg/engine/variables/errs.go
  pkg/engine/variables/vars.go
  pkg/validation/policy/validate.go
Labels: milestone 1.11.0

#7778 feat: add `create test` cli command
  cmd/cli/kubectl-kyverno/create/command.go
  cmd/cli/kubectl-kyverno/create/templates/templates.go
  cmd/cli/kubectl-kyverno/create/templates/test.yaml
  cmd/cli/kubectl-kyverno/create/test/command.go
  cmd/cli/kubectl-kyverno/main.go
Labels: milestone 1.11.0

#7780 feat: add `create user-info` cli command
  cmd/cli/kubectl-kyverno/create/command.go
  cmd/cli/kubectl-kyverno/create/templates/templates.go
  cmd/cli/kubectl-kyverno/create/templates/user-info.yaml
  cmd/cli/kubectl-kyverno/create/userinfo/command.go
Labels: milestone 1.11.0

#7787 feat: add `images` to allowed variables in substitution
  pkg/validation/policy/validate.go
  pkg/validation/policy/validate_test.go
Labels: milestone 1.11.0

#7550 feat: add events for successful generation
  pkg/background/generate/generate.go
  pkg/event/events.go
  test/conformance/kuttl/events/clusterpolicy/generate-events-upon-successful-generation/01-policy.yaml
  test/conformance/kuttl/events/clusterpolicy/generate-events-upon-successful-generation/02-resource.yaml
  test/conformance/kuttl/events/clusterpolicy/generate-events-upon-successful-generation/03-sleep.yaml
  test/conformance/kuttl/events/clusterpolicy/generate-events-upon-successful-generation/04-event.yaml
  test/conformance/kuttl/events/clusterpolicy/generate-events-upon-successful-generation/README.md
  test/conformance/kuttl/events/clusterpolicy/generate-events-upon-successful-generation/policy-assert.yaml
  test/conformance/kuttl/events/clusterpolicy/generate-events-upon-successful-generation/policy-event.yaml
  test/conformance/kuttl/events/clusterpolicy/generate-events-upon-successful-generation/policy.yaml
  test/conformance/kuttl/events/clusterpolicy/generate-events-upon-successful-generation/resource-event.yaml
  test/conformance/kuttl/events/clusterpolicy/generate-events-upon-successful-generation/resource.yaml
  test/conformance/kuttl/events/clusterpolicy/generate-events-upon-successful-mutation/01-policy.yaml
  test/conformance/kuttl/events/clusterpolicy/generate-events-upon-successful-mutation/02-resource.yaml
  test/conformance/kuttl/events/clusterpolicy/generate-events-upon-successful-mutation/03-event.yaml
  test/conformance/kuttl/events/clusterpolicy/generate-events-upon-successful-mutation/README.md
  test/conformance/kuttl/events/clusterpolicy/generate-events-upon-successful-mutation/event-assert.yaml
  test/conformance/kuttl/events/clusterpolicy/generate-events-upon-successful-mutation/policy-assert.yaml
  test/conformance/kuttl/events/clusterpolicy/generate-events-upon-successful-mutation/policy.yaml
  test/conformance/kuttl/events/clusterpolicy/generate-events-upon-successful-mutation/resource.yaml
  test/conformance/kuttl/events/clusterpolicy/no-events-upon-fail-generation/01-crd.yaml
  test/conformance/kuttl/events/clusterpolicy/no-events-upon-fail-generation/02-policy.yaml
  test/conformance/kuttl/events/clusterpolicy/no-events-upon-fail-generation/03-resource.yaml
  test/conformance/kuttl/events/clusterpolicy/no-events-upon-fail-generation/04-event.yaml
  test/conformance/kuttl/events/clusterpolicy/no-events-upon-fail-generation/event.yaml
  test/conformance/kuttl/events/clusterpolicy/no-events-upon-fail-generation/policy-assert.yaml
  test/conformance/kuttl/events/clusterpolicy/no-events-upon-fail-generation/policy.yaml
  test/conformance/kuttl/events/clusterpolicy/no-events-upon-fail-generation/resource.yaml
  test/conformance/kuttl/events/clusterpolicy/no-events-upon-skip-generation/01-policy.yaml
  test/conformance/kuttl/events/clusterpolicy/no-events-upon-skip-generation/02-resource.yaml
  test/conformance/kuttl/events/clusterpolicy/no-events-upon-skip-generation/03-event.yaml
  test/conformance/kuttl/events/clusterpolicy/no-events-upon-skip-generation/README.md
  test/conformance/kuttl/events/clusterpolicy/no-events-upon-skip-generation/event.yaml
  test/conformance/kuttl/events/clusterpolicy/no-events-upon-skip-generation/policy-assert.yaml
  test/conformance/kuttl/events/clusterpolicy/no-events-upon-skip-generation/policy.yaml
  test/conformance/kuttl/events/clusterpolicy/no-events-upon-skip-generation/resource.yaml
Labels: cherry-pick-required, milestone 1.10.2

#7798 fix: aggregated admission report not updated correctly
  pkg/controllers/report/admission/controller.go
  test/conformance/kuttl/reports/admission/update/01-policy.yaml
  test/conformance/kuttl/reports/admission/update/02-deployment-fail.yaml
  test/conformance/kuttl/reports/admission/update/03-report-fail-assert.yaml
  test/conformance/kuttl/reports/admission/update/04-deployment-pass.yaml
  test/conformance/kuttl/reports/admission/update/05-report-pass-assert.yaml
  test/conformance/kuttl/reports/admission/update/README.md
  test/conformance/kuttl/reports/admission/update/deployment-fail-assert.yaml
  test/conformance/kuttl/reports/admission/update/deployment-fail.yaml
  test/conformance/kuttl/reports/admission/update/deployment-pass-assert.yaml
  test/conformance/kuttl/reports/admission/update/deployment-pass.yaml
  test/conformance/kuttl/reports/admission/update/policy-assert.yaml
  test/conformance/kuttl/reports/admission/update/policy.yaml
  test/conformance/kuttl/reports/admission/update/report-fail-assert.yaml
  test/conformance/kuttl/reports/admission/update/report-pass-assert.yaml
Labels: cherry-pick-required, milestone 1.10.2

#7802 fix: remove obsolete method in discovery
  pkg/clients/dclient/discovery.go
  pkg/clients/dclient/fake.go
  pkg/controllers/openapi/controller.go
  pkg/validation/cleanuppolicy/validate.go
  pkg/validation/policy/validate.go
Labels: milestone 1.11.0

#7806 refactor: remove manual keychain refresh from client
  cmd/internal/registry.go
  pkg/engine/api/client.go
  pkg/engine/factories/registryclientfactory.go
  pkg/images/verifier.go
  pkg/notary/registry.go
  pkg/registryclient/authn.go
  pkg/registryclient/client.go
  pkg/registryclient/utils.go
Labels: milestone 1.11.0

#7810 fix: skip creating event for an empty resource name
  pkg/event/events.go
  pkg/webhooks/utils/event.go
Labels: cherry-pick-required, milestone 1.10.2

#7823 Feat: cloneList rule validation
  api/kyverno/v1/clusterpolicy_types.go
  api/kyverno/v1/common_types.go
  api/kyverno/v1/policy_types.go
  test/conformance/kuttl/generate/validation/clusterpolicy/cloneList/01-clusterrole.yaml
  test/conformance/kuttl/generate/validation/clusterpolicy/cloneList/02-check.yaml
  test/conformance/kuttl/generate/validation/clusterpolicy/cloneList/README.md
  test/conformance/kuttl/generate/validation/clusterpolicy/cloneList/policy-fail-1.yaml
  test/conformance/kuttl/generate/validation/clusterpolicy/cloneList/policy-fail-2.yaml
  test/conformance/kuttl/generate/validation/clusterpolicy/cloneList/policy-fail-3.yaml
  test/conformance/kuttl/generate/validation/clusterpolicy/cloneList/policy-pass.yaml
  test/conformance/kuttl/generate/validation/policy/cloneList/01-ns.yaml
  test/conformance/kuttl/generate/validation/policy/cloneList/02-check.yaml
  test/conformance/kuttl/generate/validation/policy/cloneList/README.md
  test/conformance/kuttl/generate/validation/policy/cloneList/policy-fail-1.yaml
  test/conformance/kuttl/generate/validation/policy/cloneList/policy-fail-2.yaml
  test/conformance/kuttl/generate/validation/policy/cloneList/policy-fail-3.yaml
  test/conformance/kuttl/generate/validation/policy/cloneList/policy-pass.yaml
Labels: cherry-pick-required, milestone 1.10.2

#7828 bug: add severity and category in cluster policy report
  cmd/cli/kubectl-kyverno/apply/report.go
  cmd/cli/kubectl-kyverno/apply/report_test.go
  pkg/utils/report/results.go
Labels: cherry-pick-required, milestone 1.10.2

#7834 Added log message for API call failures
  pkg/engine/context/deferred.go
  pkg/engine/context/deferred_test.go
  pkg/engine/factories/contextloaderfactory.go
Labels: cherry-pick-required, milestone 1.10.2

#7851 Add nodeSelector for cleanupJob CronJob resources
  charts/kyverno/Chart.yaml
  charts/kyverno/README.md
  charts/kyverno/ci/cleanupJobs-values.yaml
  charts/kyverno/templates/cleanup/cleanup-admission-reports.yaml
  charts/kyverno/templates/cleanup/cleanup-cluster-admission-reports.yaml
  charts/kyverno/values.yaml
Labels: cherry-pick-required, milestone 1.10.2

#7857 fix type confusion in policy validation
  pkg/validation/policy/validate.go
Labels: cherry-pick-required, milestone 1.10.2

#7858 fix: add tekton/pipeline to nancy ignore list
  .nancy-ignore
Labels: cherry-pick-required, milestone 1.10.2

#7837 fix: namespace label matching for Namespace
  pkg/engine/utils/match.go
  test/conformance/kuttl/validate/clusterpolicy/standard/enforce/ns-selector-with-wildcard-kind/01-policy.yaml
  test/conformance/kuttl/validate/clusterpolicy/standard/enforce/ns-selector-with-wildcard-kind/02-ns.yaml
  test/conformance/kuttl/validate/clusterpolicy/standard/enforce/ns-selector-with-wildcard-kind/04-clusterrole.yaml
  test/conformance/kuttl/validate/clusterpolicy/standard/enforce/ns-selector-with-wildcard-kind/05-delete-ns.yaml
  test/conformance/kuttl/validate/clusterpolicy/standard/enforce/ns-selector-with-wildcard-kind/06-delete-clulsterrole.yaml
  test/conformance/kuttl/validate/clusterpolicy/standard/enforce/ns-selector-with-wildcard-kind/README.md
Labels: cherry-pick-required, milestone 1.10.2

#7869 feat: skip schema validation for CRD
  pkg/openapi/manager.go
  test/conformance/kuttl/policy-validation/cluster-policy/schema-validation-crd/01-policy.yaml
  test/conformance/kuttl/policy-validation/cluster-policy/schema-validation-crd/README.md
  test/conformance/kuttl/policy-validation/cluster-policy/schema-validation-crd/policy-assert.yaml
Labels: cherry-pick-required, milestone 1.10.2

#7871 feat(chart) Add configurations for cleanup jobs and webhooks
  charts/kyverno/Chart.yaml
  charts/kyverno/README.md
  charts/kyverno/ci/cleanupJobs-values.yaml
  charts/kyverno/ci/hooks-values.yaml
  charts/kyverno/templates/cleanup/_helpers.tpl
  charts/kyverno/templates/cleanup/cleanup-admission-reports.yaml
  charts/kyverno/templates/cleanup/cleanup-cluster-admission-reports.yaml
  charts/kyverno/templates/hooks/pre-delete.yaml
  charts/kyverno/values.yaml
  config/install-latest-testing.yaml
Labels: cherry-pick-required, milestone 1.10.2

#7874 policy validation: fix assignment to entry in nil map
  pkg/validation/policy/validate.go
Labels: cherry-pick-required, milestone 1.10.2

#7872 Added missing info about adding remote upstream in `CONTRIBUTING.md`
  CONTRIBUTING.md
Labels: milestone 1.11.0

#7813 adding env to doc
  DEVELOPMENT.md
Labels: milestone 1.11.0

#7859 feat: add auto-gen rules for CEL
  pkg/autogen/autogen.go
  pkg/autogen/autogen_test.go
  pkg/autogen/rule.go
Labels: milestone 1.11.0

#7877 fix log level in `logging` package
  pkg/logging/log.go
Labels: cherry-pick-required, milestone 1.10.2

#7883 fix(policy chart): Skip DELETE requests on policies using deny statements
  charts/kyverno-policies/Chart.yaml
  charts/kyverno-policies/ci/test-preconditions-values.yaml
  charts/kyverno-policies/templates/baseline/disallow-capabilities.yaml
  charts/kyverno-policies/templates/restricted/restrict-volume-types.yaml
Labels: cherry-pick-required, milestone 1.10.2

#7888 add flag for policy reports
  CHANGELOG.md
  charts/kyverno/README.md
  charts/kyverno/templates/_helpers.tpl
  charts/kyverno/templates/reports-controller/deployment.yaml
  charts/kyverno/values.yaml
  cmd/reports-controller/main.go
  config/install-latest-testing.yaml
  pkg/controllers/report/background/controller.go
Labels: cherry-pick-required, milestone 1.10.2

#7673 feat: migrate to events.k8s.io/v1
  pkg/background/generate/generate.go
  pkg/background/mutate/mutate.go
  pkg/clients/dclient/client.go
  pkg/clients/dclient/client_test.go
  pkg/event/action.go
  pkg/event/controller.go
  pkg/event/events.go
  pkg/event/info.go
  pkg/event/recorder.go
  pkg/policy/policy_controller.go
  pkg/webhooks/resource/generation/handler.go
  pkg/webhooks/resource/updaterequest.go
  test/conformance/kuttl/background-only/cluster-policy/no-admission-event/admission-event.yaml
  test/conformance/kuttl/background-only/cluster-policy/no-admission-event/background-event.yaml
  test/conformance/kuttl/background-only/policy/no-admission-event/admission-event.yaml
  test/conformance/kuttl/background-only/policy/no-admission-event/background-event.yaml
  test/conformance/kuttl/events/clusterpolicy/generate-events-upon-successful-generation/policy-event.yaml
  test/conformance/kuttl/events/clusterpolicy/generate-events-upon-successful-generation/resource-event.yaml
  test/conformance/kuttl/events/clusterpolicy/generate-events-upon-successful-mutation/event-assert.yaml
  test/conformance/kuttl/events/clusterpolicy/no-events-upon-fail-generation/event.yaml
  test/conformance/kuttl/events/clusterpolicy/no-events-upon-skip-generation/event.yaml
  test/conformance/kuttl/events/policy/policy-applied/event-assert.yaml
  test/conformance/kuttl/events/policy/policy-violation/event-assert.yaml
  test/conformance/kuttl/exceptions/events-creation/05-assert.yaml
Labels: milestone 1.11.0

#7902 Updated registryClient comments
  pkg/registryclient/client.go
Labels: milestone 1.11.0

#7835 refactor validating admission policies
  cmd/cli/kubectl-kyverno/apply/apply_command.go
  cmd/cli/kubectl-kyverno/apply/apply_command_test.go
  cmd/cli/kubectl-kyverno/apply/report.go
  cmd/cli/kubectl-kyverno/test/api/types.go
  cmd/cli/kubectl-kyverno/test/test.go
  cmd/cli/kubectl-kyverno/test/test_command.go
  cmd/cli/kubectl-kyverno/utils/common/fetch.go
  cmd/cli/kubectl-kyverno/utils/common/validating_admission_policies_types.go
  cmd/cli/kubectl-kyverno/utils/common/validatingadmission_resources_types.go
  pkg/validatingadmissionpolicy/log.go
  pkg/validatingadmissionpolicy/validatingadmissionpolicy.go
  pkg/validatingadmissionpolicy/validatingadmissionpolicy_test.go
  test/cli/test-validating-admission-policy/validate-deployment/policy.yaml
  test/cli/test-vap/check-deployments-replica/deployment1.yaml
  test/cli/test-vap/check-deployments-replica/deployment2.yaml
  test/cli/test-vap/check-deployments-replica/policy.yaml
  test/cli/test-vap/disallow-host-path/pod1.yaml
  test/cli/test-vap/disallow-host-path/pod2.yaml
  test/cli/test-vap/disallow-host-path/policy.yaml
Labels: milestone 1.11.0

#7906 feat: update default keychain in registry to be empty
  cmd/internal/flag.go
  pkg/registryclient/authn.go
  pkg/registryclient/client.go
Labels: milestone 1.11.0

#7929 fix: rename vap to its full name
  cmd/cli/kubectl-kyverno/apply/apply_command_test.go
  test/cli/test-validating-admission-policy/check-deployments-replica/deployment1.yaml
  test/cli/test-validating-admission-policy/check-deployments-replica/deployment2.yaml
  test/cli/test-validating-admission-policy/check-deployments-replica/policy.yaml
  test/cli/test-validating-admission-policy/disallow-host-path/pod1.yaml
  test/cli/test-validating-admission-policy/disallow-host-path/pod2.yaml
  test/cli/test-validating-admission-policy/disallow-host-path/policy.yaml
Labels: milestone 1.11.0

#7926 fix(chart): only create ServiceMonitor if cluster supports it
  charts/kyverno/Chart.yaml
  charts/kyverno/templates/admission-controller/servicemonitor.yaml
  charts/kyverno/templates/background-controller/servicemonitor.yaml
  charts/kyverno/templates/cleanup-controller/servicemonitor.yaml
  charts/kyverno/templates/reports-controller/servicemonitor.yaml
Labels: cherry-pick-required, milestone 1.10.2

#7927 Adding `other` folder's subfolders to workflows/conformance.yaml's tests array.
  .github/workflows/conformance.yaml
Labels: milestone 1.11.0

#7782 feat: add create `metrics-config` cli command
  cmd/cli/kubectl-kyverno/create/command.go
  cmd/cli/kubectl-kyverno/create/metrics-config/command.go
  cmd/cli/kubectl-kyverno/create/templates/metrics-config.yaml
  cmd/cli/kubectl-kyverno/create/templates/templates.go
  go.mod
  go.sum
Labels: milestone 1.11.0

#7791 test: add tests for ghcr private repository
  .github/workflows/conformance.yaml
  pkg/notary/notary_test.go
  pkg/notary/registry.go
  pkg/notary/repository.go
  test/conformance/kuttl/verifyImages/clusterpolicy/standard/keyed-secret-from-policy/README.md
  test/conformance/kuttl/verifyImages/clusterpolicy/standard/notary-image-verification-secret-from-policy/01-manifests.yaml
  test/conformance/kuttl/verifyImages/clusterpolicy/standard/notary-image-verification-secret-from-policy/02-assert-manifest.yaml
  test/conformance/kuttl/verifyImages/clusterpolicy/standard/notary-image-verification-secret-from-policy/03-bad-pod.yaml
  test/conformance/kuttl/verifyImages/clusterpolicy/standard/notary-image-verification-secret-from-policy/04-secret.yaml
  test/conformance/kuttl/verifyImages/clusterpolicy/standard/notary-image-verification-secret-from-policy/05-assert-secret.yaml
  test/conformance/kuttl/verifyImages/clusterpolicy/standard/notary-image-verification-secret-from-policy/06-pod.yaml
  test/conformance/kuttl/verifyImages/clusterpolicy/standard/notary-image-verification-secret-from-policy/07-assert.yaml
  test/conformance/kuttl/verifyImages/clusterpolicy/standard/notary-image-verification-secret-from-policy/08-cleanup.yaml
  test/conformance/kuttl/verifyImages/clusterpolicy/standard/notary-image-verification-secret-from-policy/README.md
Labels: milestone 1.11.0

#7941 chore: organize constants better
  api/kyverno/constants.go
  api/kyverno/v1/clusterpolicy_test.go
  api/kyverno/v1/clusterpolicy_types.go
  api/kyverno/v1/policy_test.go
  api/kyverno/v1/policy_types.go
  api/kyverno/v1/utils.go
  api/kyverno/v2beta1/clusterpolicy_test.go
  api/kyverno/v2beta1/clusterpolicy_types.go
  api/kyverno/v2beta1/policy_test.go
  api/kyverno/v2beta1/policy_types.go
  pkg/autogen/autogen.go
  pkg/autogen/autogen_test.go
  pkg/validation/policy/validate.go
Labels: milestone 1.11.0

#7942 chore: move cert.kyverno.io/managed-by label in constants
  api/kyverno/constants.go
  pkg/tls/renewer.go
  pkg/tls/utils.go
Labels: milestone 1.11.0

#7944 chore: move more constants
  api/kyverno/constants.go
  pkg/controllers/generic/webhook/controller.go
  pkg/controllers/webhook/controller.go
  pkg/controllers/webhook/utils.go
  pkg/utils/annotations.go
  pkg/webhooks/server.go
Labels: milestone 1.11.0

#7779 feat: add `create values` cli command
  cmd/cli/kubectl-kyverno/create/command.go
  cmd/cli/kubectl-kyverno/create/templates/templates.go
  cmd/cli/kubectl-kyverno/create/templates/values.yaml
  cmd/cli/kubectl-kyverno/create/values/command.go
Labels: milestone 1.11.0
