Repository kyverno/kyverno, pull requests merged in 2023-11, with the labels that each got.

#8813 fix: upgrade cosign installer version in release 1.10 and use cosign 1.13.1
  .github/workflows/helm-release.yaml
  .github/workflows/images-publish.yaml
  .github/workflows/release.yaml
Labels: milestone 1.10.4

#8776 fix: display a message when the controller has no permissions for VAPs
  cmd/kyverno/main.go
  pkg/controllers/validatingadmissionpolicy-generate/controller.go
  pkg/toggle/context.go
  pkg/toggle/toggle.go
  pkg/utils/validatingadmissionpolicy/permissions.go
  pkg/validation/policy/actions.go
  pkg/validation/policy/validate.go
Labels: cherry-pick-required, milestone 1.11.0

#8786 Changes to correctly run delete operation in kyverno11beta4
  cmd/cli/kubectl-kyverno/processor/policy_processor.go
  cmd/cli/kubectl-kyverno/processor/utils.go
  pkg/engine/policycontext/policy_context.go
  test/cli/test/deny-pod-delete-match-opn-block/README.md
  test/cli/test/deny-pod-delete-match-opn-block/deny-pod-delete-match-opn-block.yaml
  test/cli/test/deny-pod-delete-match-opn-block/kyverno-test.yaml
  test/cli/test/deny-pod-delete-match-opn-block/resources.yaml
  test/cli/test/deny-pod-delete-match-opn-block/values.yaml
  test/cli/test/deny-pod-delete-validate-deny/README.md
  test/cli/test/deny-pod-delete-validate-deny/deny-pod-delete-validate-deny.yaml
  test/cli/test/deny-pod-delete-validate-deny/kyverno-test.yaml
  test/cli/test/deny-pod-delete-validate-deny/resources.yaml
  test/cli/test/deny-pod-delete-validate-deny/values.yaml
Labels: cherry-pick-required, milestone 1.11.0

#8770 feat: update descriptions of image verify cache flags
  cmd/internal/flag.go
  pkg/imageverifycache/client.go
Labels: cherry-pick-required, milestone 1.11.0

#8855 chore: bump cosign version to v2.2.1
  cmd/cli/kubectl-kyverno/test/load_test.go
  go.mod
  go.sum
  pkg/clients/apiserver/apiextensionsv1/customresourcedefinitions/resource.generated.go
  pkg/clients/apiserver/apiextensionsv1beta1/customresourcedefinitions/resource.generated.go
Labels: cherry-pick-required, milestone 1.11.0

#8654 Reduce deps
  pkg/cosign/cosign.go
  pkg/engine/api/client.go
  pkg/images/verifier.go
  pkg/notary/notary.go
  pkg/notary/registry.go
  pkg/registryclient/client.go
Labels: milestone 1.12.0

#8870 feat: add GHSA-vfp6-jrw2-99g9 fixes in cosign v1.13.1
  go.mod
  go.sum
Labels: milestone 1.10.5

#8712 Reduced verbosity of admission request filter INFO log message
  pkg/webhooks/handlers/filter.go
Labels: milestone 1.11.1

#8893 chore(deps): bump go.opentelemetry.io/contrib/instrumentation/google.golang.org/grpc/otelgrpc from 0.45.0 to 0.46.0
  go.mod
  go.sum
Labels: cherry-pick-required, milestone 1.11.1, milestone 1.12.0

#8894 Close reponse right after succesful request
  pkg/engine/apicall/apiCall.go
Labels: cherry-pick-required, milestone 1.11.1, milestone 1.12.0

#8713 feat: compute policy exceptions as a part of the rule execution
  pkg/engine/background.go
  pkg/engine/engine.go
  pkg/engine/exceptions.go
  pkg/engine/handlers/handler.go
  pkg/engine/handlers/mutation/mutate_existing.go
  pkg/engine/handlers/mutation/mutate_image.go
  pkg/engine/handlers/mutation/mutate_resource.go
  pkg/engine/handlers/validation/validate_cel.go
  pkg/engine/handlers/validation/validate_image.go
  pkg/engine/handlers/validation/validate_manifest.go
  pkg/engine/handlers/validation/validate_pss.go
  pkg/engine/handlers/validation/validate_resource.go
  pkg/engine/utils/exceptions.go
Labels: milestone 1.12.0

#8311 fix: use ungreedy pattern to process all variables
  pkg/engine/variables/regex/vars.go
  pkg/engine/variables/vars_test.go
Labels: milestone 1.12.0

#8908 fix: use v2beta1 version of exceptions in kyverno create CLI
  cmd/cli/kubectl-kyverno/commands/create/exception/command.go
  cmd/cli/kubectl-kyverno/commands/create/exception/command_test.go
  cmd/cli/kubectl-kyverno/commands/create/templates/exception.yaml
Labels: milestone 1.11.1

#8827 Add policyKind option to kyverno-policies chart
  charts/kyverno-policies/Chart.yaml
  charts/kyverno-policies/README.md
  charts/kyverno-policies/templates/baseline/disallow-capabilities.yaml
  charts/kyverno-policies/templates/baseline/disallow-host-namespaces.yaml
  charts/kyverno-policies/templates/baseline/disallow-host-path.yaml
  charts/kyverno-policies/templates/baseline/disallow-host-ports.yaml
  charts/kyverno-policies/templates/baseline/disallow-host-process.yaml
  charts/kyverno-policies/templates/baseline/disallow-privileged-containers.yaml
  charts/kyverno-policies/templates/baseline/disallow-proc-mount.yaml
  charts/kyverno-policies/templates/baseline/disallow-selinux.yaml
  charts/kyverno-policies/templates/baseline/restrict-apparmor-profiles.yaml
  charts/kyverno-policies/templates/baseline/restrict-seccomp.yaml
  charts/kyverno-policies/templates/baseline/restrict-sysctls.yaml
  charts/kyverno-policies/templates/other/require-non-root-groups.yaml
  charts/kyverno-policies/templates/restricted/disallow-capabilities-strict.yaml
  charts/kyverno-policies/templates/restricted/disallow-privilege-escalation.yaml
  charts/kyverno-policies/templates/restricted/require-run-as-non-root-user.yaml
  charts/kyverno-policies/templates/restricted/require-run-as-nonroot.yaml
  charts/kyverno-policies/templates/restricted/restrict-seccomp-strict.yaml
  charts/kyverno-policies/templates/restricted/restrict-volume-types.yaml
  charts/kyverno-policies/values.yaml
Labels: cherry-pick-required, milestone 1.11.1, milestone 1.12.0

#8911 [Helm] correct typo in README for Kyverno 1.10+
  charts/kyverno/README.md
  charts/kyverno/README.md.gotmpl
Labels: cherry-pick-required, milestone 1.11.1, milestone 1.12.0

#8913 Revert "fix(chart): only create ServiceMonitor if cluster supports it (#7926)
  charts/kyverno/Chart.yaml
  charts/kyverno/templates/admission-controller/servicemonitor.yaml
  charts/kyverno/templates/background-controller/servicemonitor.yaml
  charts/kyverno/templates/cleanup-controller/servicemonitor.yaml
  charts/kyverno/templates/reports-controller/servicemonitor.yaml
Labels: cherry-pick-required, milestone 1.11.1, milestone 1.12.0

#8907 fix: Add chart parameters for setting revisionHistoryLimit
  charts/kyverno/Chart.yaml
  charts/kyverno/README.md
  charts/kyverno/templates/admission-controller/deployment.yaml
  charts/kyverno/templates/background-controller/deployment.yaml
  charts/kyverno/templates/cleanup-controller/deployment.yaml
  charts/kyverno/templates/reports-controller/deployment.yaml
  charts/kyverno/values.yaml
  config/install-latest-testing.yaml
Labels: cherry-pick-required, milestone 1.11.1, milestone 1.12.0

#7728 Make server ports configurable, resolves #7279
  charts/kyverno/README.md
  charts/kyverno/templates/admission-controller/deployment.yaml
  charts/kyverno/templates/cleanup-controller/deployment.yaml
  charts/kyverno/values.yaml
  cmd/cleanup-controller/main.go
  cmd/cleanup-controller/server.go
  cmd/internal/flag.go
  cmd/kyverno/main.go
  config/install-latest-testing.yaml
  pkg/controllers/generic/webhook/controller.go
  pkg/controllers/webhook/controller.go
  pkg/webhooks/server.go
Labels: Documentation, milestone 1.12.0

#8932 feat: allow setting admission controller replica count to 2
  charts/kyverno/Chart.yaml
  charts/kyverno/templates/NOTES.txt
  charts/kyverno/templates/validate.yaml
Labels: milestone 1.12.0

#8950 chore: run rbac testsuite using chainsaw
  .github/workflows/conformance.yaml
  test/conformance/chainsaw/rbac/aggregate-to-admin/00-cluster-role.yaml
  test/conformance/chainsaw/rbac/aggregate-to-admin/README.md
  test/conformance/chainsaw/rbac/aggregate-to-admin/admin-policies.yaml
  test/conformance/chainsaw/rbac/aggregate-to-admin/admin-policyreport.yaml
  test/conformance/chainsaw/rbac/aggregate-to-admin/admin-reports.yaml
  test/conformance/chainsaw/rbac/aggregate-to-admin/admin-updaterequest.yaml
Labels: milestone 1.12.0

#8947 fix: change names of fuzzing policies
  pkg/utils/fuzz/policies.go
Labels: milestone 1.12.0

#8956 chore: run range operators tests with chainsaw
  .github/workflows/conformance.yaml
  test/conformance/chainsaw/rangeoperators/standard/01-policy.yaml
  test/conformance/chainsaw/rangeoperators/standard/02-resource.yaml
  test/conformance/chainsaw/rangeoperators/standard/README.md
  test/conformance/chainsaw/rangeoperators/standard/policy-assert.yaml
  test/conformance/chainsaw/rangeoperators/standard/policy.yaml
  test/conformance/chainsaw/rangeoperators/standard/resource.yaml
Labels: milestone 1.12.0

#8967 chore: bump chainsaw
  .github/workflows/conformance.yaml
Labels: milestone 1.12.0

#8966 chore: run force-failure-policy-ignore test using chainsaw
  .github/workflows/conformance.yaml
  test/conformance/chainsaw/force-failure-policy-ignore/cluster-policy/fail/01-policy.yaml
  test/conformance/chainsaw/force-failure-policy-ignore/cluster-policy/fail/02-webhooks.yaml
  test/conformance/chainsaw/force-failure-policy-ignore/cluster-policy/fail/README.md
  test/conformance/chainsaw/force-failure-policy-ignore/cluster-policy/fail/policy-assert.yaml
  test/conformance/chainsaw/force-failure-policy-ignore/cluster-policy/fail/policy.yaml
  test/conformance/chainsaw/force-failure-policy-ignore/cluster-policy/fail/webhooks-assert.yaml
Labels: milestone 1.12.0

#8614 feat: Add external_url_check custom JMESPath function
  pkg/engine/jmespath/functions.go
  pkg/engine/jmespath/functions_test.go
Labels: Documentation, milestone 1.12.0

#8957 feat: add checks for max response size in API Call
  cmd/background-controller/main.go
  cmd/internal/engine.go
  cmd/kyverno/main.go
  cmd/reports-controller/main.go
  pkg/engine/apicall/apiCall.go
  pkg/engine/apicall/apiCall_test.go
  pkg/engine/context/loaders/apicall.go
  pkg/engine/factories/contextloaderfactory.go
Labels: cherry-pick-required, milestone 1.11.1

#8946 Allow excluding resources from config.resourceFilters
  charts/kyverno/Chart.yaml
  charts/kyverno/README.md
  charts/kyverno/README.md.gotmpl
  charts/kyverno/ci/resourceFilters-values.yaml
  charts/kyverno/templates/config/_helpers.tpl
  charts/kyverno/values.yaml
Labels: milestone 1.12.0

#8969 Allow defining ca-certificates bundle for Kyverno deployments
  charts/kyverno/Chart.yaml
  charts/kyverno/README.md
  charts/kyverno/templates/admission-controller/_helpers.tpl
  charts/kyverno/templates/admission-controller/deployment.yaml
  charts/kyverno/templates/background-controller/_helpers.tpl
  charts/kyverno/templates/background-controller/deployment.yaml
  charts/kyverno/templates/reports-controller/_helpers.tpl
  charts/kyverno/templates/reports-controller/deployment.yaml
  charts/kyverno/values.yaml
Labels: milestone 1.12.0

#8953 fix: update KeysAreMissing() to ignore negations in resource
  pkg/engine/anchor/anchormap.go
  test/conformance/kuttl/validate/clusterpolicy/standard/enforce/failure-policy-ignore-anchor/01-policy.yaml
  test/conformance/kuttl/validate/clusterpolicy/standard/enforce/failure-policy-ignore-anchor/02-pod.yaml
  test/conformance/kuttl/validate/clusterpolicy/standard/enforce/failure-policy-ignore-anchor/README.md
  test/conformance/kuttl/validate/clusterpolicy/standard/enforce/failure-policy-ignore-anchor/pod.yaml
  test/conformance/kuttl/validate/clusterpolicy/standard/enforce/failure-policy-ignore-anchor/policy-assert.yaml
  test/conformance/kuttl/validate/clusterpolicy/standard/enforce/failure-policy-ignore-anchor/policy.yaml
Labels: cherry-pick-required, milestone 1.11.1, milestone 1.12.0

#8983 fix: remove the additional dash in kyverno create exception
  cmd/cli/kubectl-kyverno/commands/create/exception/command_test.go
  cmd/cli/kubectl-kyverno/commands/create/templates/exception.yaml
Labels: cherry-pick-required, milestone 1.11.1

#8951 chore: run events test suite using chainsaw
  .github/workflows/conformance.yaml
  test/conformance/chainsaw/events/clusterpolicy/generate-events-upon-fail-generation/01-crd.yaml
  test/conformance/chainsaw/events/clusterpolicy/generate-events-upon-fail-generation/02-policy.yaml
  test/conformance/chainsaw/events/clusterpolicy/generate-events-upon-fail-generation/03-resource.yaml
  test/conformance/chainsaw/events/clusterpolicy/generate-events-upon-fail-generation/04-event.yaml
  test/conformance/chainsaw/events/clusterpolicy/generate-events-upon-fail-generation/README.md
  test/conformance/chainsaw/events/clusterpolicy/generate-events-upon-fail-generation/crd-assert.yaml
  test/conformance/chainsaw/events/clusterpolicy/generate-events-upon-fail-generation/crd.yaml
  test/conformance/chainsaw/events/clusterpolicy/generate-events-upon-fail-generation/event.yaml
  test/conformance/chainsaw/events/clusterpolicy/generate-events-upon-fail-generation/policy-assert.yaml
  test/conformance/chainsaw/events/clusterpolicy/generate-events-upon-fail-generation/policy.yaml
  test/conformance/chainsaw/events/clusterpolicy/generate-events-upon-fail-generation/resource.yaml
  test/conformance/chainsaw/events/clusterpolicy/generate-events-upon-successful-generation/01-policy.yaml
  test/conformance/chainsaw/events/clusterpolicy/generate-events-upon-successful-generation/02-resource.yaml
  test/conformance/chainsaw/events/clusterpolicy/generate-events-upon-successful-generation/03-event.yaml
  test/conformance/chainsaw/events/clusterpolicy/generate-events-upon-successful-generation/README.md
  test/conformance/chainsaw/events/clusterpolicy/generate-events-upon-successful-generation/policy-assert.yaml
  test/conformance/chainsaw/events/clusterpolicy/generate-events-upon-successful-generation/policy-event.yaml
  test/conformance/chainsaw/events/clusterpolicy/generate-events-upon-successful-generation/policy.yaml
  test/conformance/chainsaw/events/clusterpolicy/generate-events-upon-successful-generation/resource-event.yaml
  test/conformance/chainsaw/events/clusterpolicy/generate-events-upon-successful-generation/resource.yaml
  test/conformance/chainsaw/events/clusterpolicy/generate-events-upon-successful-mutation/01-policy.yaml
  test/conformance/chainsaw/events/clusterpolicy/generate-events-upon-successful-mutation/02-resource.yaml
  test/conformance/chainsaw/events/clusterpolicy/generate-events-upon-successful-mutation/03-event.yaml
  test/conformance/chainsaw/events/clusterpolicy/generate-events-upon-successful-mutation/README.md
  test/conformance/chainsaw/events/clusterpolicy/generate-events-upon-successful-mutation/event-assert.yaml
  test/conformance/chainsaw/events/clusterpolicy/generate-events-upon-successful-mutation/policy-assert.yaml
  test/conformance/chainsaw/events/clusterpolicy/generate-events-upon-successful-mutation/policy.yaml
  test/conformance/chainsaw/events/clusterpolicy/generate-events-upon-successful-mutation/resource.yaml
  test/conformance/chainsaw/events/clusterpolicy/no-events-upon-skip-generation/01-policy.yaml
  test/conformance/chainsaw/events/clusterpolicy/no-events-upon-skip-generation/02-resource.yaml
  test/conformance/chainsaw/events/clusterpolicy/no-events-upon-skip-generation/03-event.yaml
  test/conformance/chainsaw/events/clusterpolicy/no-events-upon-skip-generation/README.md
  test/conformance/chainsaw/events/clusterpolicy/no-events-upon-skip-generation/event.yaml
  test/conformance/chainsaw/events/clusterpolicy/no-events-upon-skip-generation/policy-assert.yaml
  test/conformance/chainsaw/events/clusterpolicy/no-events-upon-skip-generation/policy.yaml
  test/conformance/chainsaw/events/clusterpolicy/no-events-upon-skip-generation/resource.yaml
  test/conformance/chainsaw/events/policy/policy-applied/01-policy.yaml
  test/conformance/chainsaw/events/policy/policy-applied/02-resource.yaml
  test/conformance/chainsaw/events/policy/policy-applied/03-event.yaml
  test/conformance/chainsaw/events/policy/policy-applied/README.md
  test/conformance/chainsaw/events/policy/policy-applied/event-assert.yaml
  test/conformance/chainsaw/events/policy/policy-applied/policy-assert.yaml
  test/conformance/chainsaw/events/policy/policy-applied/policy.yaml
  test/conformance/chainsaw/events/policy/policy-applied/resource.yaml
  test/conformance/chainsaw/events/policy/policy-violation/01-policy.yaml
  test/conformance/chainsaw/events/policy/policy-violation/02-resource.yaml
  test/conformance/chainsaw/events/policy/policy-violation/03-event.yaml
  test/conformance/chainsaw/events/policy/policy-violation/README.md
  test/conformance/chainsaw/events/policy/policy-violation/event-assert.yaml
  test/conformance/chainsaw/events/policy/policy-violation/policy-assert.yaml
  test/conformance/chainsaw/events/policy/policy-violation/policy.yaml
  test/conformance/chainsaw/events/policy/policy-violation/resource.yaml
Labels: milestone 1.12.0

#8981 feat: add checks for max response size in API Call (release 1.10.6)
  cmd/background-controller/main.go
  cmd/internal/engine.go
  cmd/kyverno/main.go
  cmd/reports-controller/main.go
  pkg/engine/apicall/apiCall.go
  pkg/engine/apicall/apiCall_test.go
  pkg/engine/context/loaders/apicall.go
  pkg/engine/factories/contextloaderfactory.go
Labels: milestone 1.10.6

#8952 fix: block mutation only when failurePolicy is set to fail
  pkg/webhooks/resource/mutation/mutation.go
  test/conformance/kuttl/mutate/clusterpolicy/cornercases/defaulting-namespace-labels/01-manifests.yaml
  test/conformance/kuttl/mutate/clusterpolicy/cornercases/defaulting-namespace-labels/04-manifests.yaml
  test/conformance/kuttl/mutate/clusterpolicy/cornercases/mutate-with-404-api-call/01-policy.yaml
  test/conformance/kuttl/mutate/clusterpolicy/cornercases/mutate-with-404-api-call/02-pod.yaml
  test/conformance/kuttl/mutate/clusterpolicy/cornercases/mutate-with-404-api-call/README.md
  test/conformance/kuttl/mutate/clusterpolicy/cornercases/mutate-with-404-api-call/pod-assert.yaml
  test/conformance/kuttl/mutate/clusterpolicy/cornercases/mutate-with-404-api-call/pod.yaml
  test/conformance/kuttl/mutate/clusterpolicy/cornercases/mutate-with-404-api-call/policy-assert.yaml
  test/conformance/kuttl/mutate/clusterpolicy/cornercases/mutate-with-404-api-call/policy.yaml
Labels: cherry-pick-required, milestone 1.11.1, milestone 1.12.0

#8985 chore: bump otel libs
  go.mod
  go.sum
Labels: milestone 1.12.0

#8987 chore: bump a couple of deps
  go.mod
  go.sum
Labels: milestone 1.12.0

#8937 chore: run autogen tests with chainsaw
  .github/workflows/conformance.yaml
  test/conformance/chainsaw/autogen/conditions/01-policy.yaml
  test/conformance/chainsaw/autogen/conditions/README.md
  test/conformance/chainsaw/autogen/conditions/policy-assert.yaml
  test/conformance/chainsaw/autogen/conditions/policy.yaml
  test/conformance/chainsaw/autogen/deployment-cronjob/01-policy.yaml
  test/conformance/chainsaw/autogen/deployment-cronjob/README.md
  test/conformance/chainsaw/autogen/deployment-cronjob/policy-assert.yaml
  test/conformance/chainsaw/autogen/deployment-cronjob/policy.yaml
  test/conformance/chainsaw/autogen/deployment-statefulset-job/01-policy.yaml
  test/conformance/chainsaw/autogen/deployment-statefulset-job/README.md
  test/conformance/chainsaw/autogen/deployment-statefulset-job/policy-assert.yaml
  test/conformance/chainsaw/autogen/deployment-statefulset-job/policy.yaml
  test/conformance/chainsaw/autogen/foreach-jsonpatch/01-policy.yaml
  test/conformance/chainsaw/autogen/foreach-jsonpatch/README.md
  test/conformance/chainsaw/autogen/foreach-jsonpatch/policy-assert.yaml
  test/conformance/chainsaw/autogen/foreach-jsonpatch/policy-error.yaml
  test/conformance/chainsaw/autogen/foreach-jsonpatch/policy.yaml
  test/conformance/chainsaw/autogen/none/01-policy.yaml
  test/conformance/chainsaw/autogen/none/README.md
  test/conformance/chainsaw/autogen/none/policy-assert.yaml
  test/conformance/chainsaw/autogen/none/policy.yaml
  test/conformance/chainsaw/autogen/only-cronjob/01-policy.yaml
  test/conformance/chainsaw/autogen/only-cronjob/README.md
  test/conformance/chainsaw/autogen/only-cronjob/policy-assert.yaml
  test/conformance/chainsaw/autogen/only-cronjob/policy.yaml
  test/conformance/chainsaw/autogen/only-deployment/01-policy.yaml
  test/conformance/chainsaw/autogen/only-deployment/README.md
  test/conformance/chainsaw/autogen/only-deployment/policy-assert.yaml
  test/conformance/chainsaw/autogen/only-deployment/policy.yaml
  test/conformance/chainsaw/autogen/should-autogen/01-policy.yaml
  test/conformance/chainsaw/autogen/should-autogen/README.md
  test/conformance/chainsaw/autogen/should-autogen/policy-assert.yaml
  test/conformance/chainsaw/autogen/should-autogen/policy.yaml
  test/conformance/chainsaw/autogen/should-not-autogen/01-policy.yaml
  test/conformance/chainsaw/autogen/should-not-autogen/README.md
  test/conformance/chainsaw/autogen/should-not-autogen/policy-assert.yaml
  test/conformance/chainsaw/autogen/should-not-autogen/policy.yaml
Labels: milestone 1.12.0

#8965 chore: run vap reports test suite using chainsaw
  .github/workflows/conformance.yaml
  test/conformance/chainsaw/validating-admission-policy-reports/background/validating-admission-policy-fail/01-deployment.yaml
  test/conformance/chainsaw/validating-admission-policy-reports/background/validating-admission-policy-fail/02-policy.yaml
  test/conformance/chainsaw/validating-admission-policy-reports/background/validating-admission-policy-fail/03-report.yaml
  test/conformance/chainsaw/validating-admission-policy-reports/background/validating-admission-policy-fail/README.md
  test/conformance/chainsaw/validating-admission-policy-reports/background/validating-admission-policy-fail/deployment-assert.yaml
  test/conformance/chainsaw/validating-admission-policy-reports/background/validating-admission-policy-fail/deployment.yaml
  test/conformance/chainsaw/validating-admission-policy-reports/background/validating-admission-policy-fail/policy.yaml
  test/conformance/chainsaw/validating-admission-policy-reports/background/validating-admission-policy-fail/report-assert.yaml
  test/conformance/chainsaw/validating-admission-policy-reports/background/validating-admission-policy-pass/01-deployment.yaml
  test/conformance/chainsaw/validating-admission-policy-reports/background/validating-admission-policy-pass/02-policy.yaml
  test/conformance/chainsaw/validating-admission-policy-reports/background/validating-admission-policy-pass/03-report.yaml
  test/conformance/chainsaw/validating-admission-policy-reports/background/validating-admission-policy-pass/README.md
  test/conformance/chainsaw/validating-admission-policy-reports/background/validating-admission-policy-pass/deployment-assert.yaml
  test/conformance/chainsaw/validating-admission-policy-reports/background/validating-admission-policy-pass/deployment.yaml
  test/conformance/chainsaw/validating-admission-policy-reports/background/validating-admission-policy-pass/policy.yaml
  test/conformance/chainsaw/validating-admission-policy-reports/background/validating-admission-policy-pass/report-assert.yaml
  test/conformance/chainsaw/validating-admission-policy-reports/events/01-deployment.yaml
  test/conformance/chainsaw/validating-admission-policy-reports/events/02-policy.yaml
  test/conformance/chainsaw/validating-admission-policy-reports/events/03-event.yaml
  test/conformance/chainsaw/validating-admission-policy-reports/events/README.md
  test/conformance/chainsaw/validating-admission-policy-reports/events/deployment-assert.yaml
  test/conformance/chainsaw/validating-admission-policy-reports/events/deployment.yaml
  test/conformance/chainsaw/validating-admission-policy-reports/events/policy-event.yaml
  test/conformance/chainsaw/validating-admission-policy-reports/events/policy.yaml
Labels: milestone 1.12.0

#8998 chore: bump chainsaw
  .github/workflows/conformance.yaml
Labels: milestone 1.12.0

#8999 chore: cleanup go.mod
  go.mod
Labels: milestone 1.12.0

#9008 fix: extend chainsaw cleanup timeout
  test/conformance/chainsaw/_config/common.yaml
Labels: milestone 1.12.0

#9014 fix: use the default namespace in case --namespace isn't set in kyverno create exception
  cmd/cli/kubectl-kyverno/commands/create/exception/command_test.go
  cmd/cli/kubectl-kyverno/commands/create/templates/exception.yaml
Labels: cherry-pick-required, milestone 1.11.1

#9012 chore: enable all chainsaw tests
  .github/workflows/conformance.yaml
  test/conformance/chainsaw/_config/common.yaml
  test/conformance/chainsaw/mutate/clusterpolicy/standard/existing/basic-create-patchesJson6902/04-cleanup.yaml
  test/conformance/chainsaw/mutate/clusterpolicy/standard/existing/basic-create-patchesJson6902/cleanup.yaml
  test/conformance/chainsaw/mutate/clusterpolicy/standard/existing/basic-create/04-cleanup.yaml
  test/conformance/chainsaw/mutate/clusterpolicy/standard/existing/basic-create/cleanup.yaml
  test/conformance/chainsaw/mutate/clusterpolicy/standard/existing/basic-delete/04-cleanup.yaml
  test/conformance/chainsaw/mutate/clusterpolicy/standard/existing/basic-delete/cleanup.yaml
  test/conformance/chainsaw/mutate/clusterpolicy/standard/existing/basic-update/04-cleanup.yaml
  test/conformance/chainsaw/mutate/clusterpolicy/standard/existing/basic-update/cleanup.yaml
  test/conformance/chainsaw/mutate/clusterpolicy/standard/existing/onpolicyupdate/basic-create-policy/04-cleanup.yaml
  test/conformance/chainsaw/mutate/clusterpolicy/standard/existing/onpolicyupdate/basic-create-policy/cleanup.yaml
  test/conformance/chainsaw/mutate/refactor/foreach/remove-multiple-elements-in-descending-order/pod-error.yaml
  test/conformance/chainsaw/mutate/refactor/nested-foreach/remove-all-env-vars/pod-error.yaml
  test/conformance/chainsaw/policy-validation/cluster-policy/policy-exceptions-disabled/01-policy_exception.yaml
  test/conformance/chainsaw/validate/clusterpolicy/standard/cel/parameter-resources/clusterscoped/02-namespaceConstraint.yaml
  test/conformance/chainsaw/validate/clusterpolicy/standard/cel/parameter-resources/namespaced/match-clusterscoped-resource/02-nameConstraint.yaml
  test/conformance/chainsaw/validate/clusterpolicy/standard/cel/parameter-resources/namespaced/set-paramref-namespace/03-replicaLimit.yaml
  test/conformance/chainsaw/validate/clusterpolicy/standard/cel/parameter-resources/namespaced/unset-paramref-namespace/03-replicaLimit.yaml
  test/conformance/chainsaw/validate/clusterpolicy/standard/variables/lazyload/conditions/01-policy.yaml
  test/conformance/chainsaw/validate/clusterpolicy/standard/variables/lazyload/conditions/02-assert.yaml
  test/conformance/chainsaw/validate/clusterpolicy/standard/variables/lazyload/conditions/02-test.yaml
  test/conformance/chainsaw/validate/clusterpolicy/standard/variables/lazyload/conditions/03-cleanup.yaml
  test/conformance/chainsaw/validate/clusterpolicy/standard/variables/lazyload/conditions/policy-2.yaml
  test/conformance/chainsaw/validate/clusterpolicy/standard/variables/lazyload/conditions/policy-assert.yaml
  test/conformance/chainsaw/validate/clusterpolicy/standard/variables/lazyload/conditions/policy.yaml
  test/conformance/chainsaw/verifyImages/clusterpolicy/cornercases/multiple-attestors/chainsaw-test.yaml
  test/conformance/chainsaw/verifyImages/clusterpolicy/standard/rollback-image-verification/03-test.yaml
  test/conformance/chainsaw/verifyImages/clusterpolicy/standard/update-multi-containers/02-resource.yaml
Labels: milestone 1.12.0

#9017 chore: replace more kuttl tests by chainsaw
  .github/workflows/conformance.yaml
Labels: milestone 1.12.0

#9018 chore: replace more kuttl tests by chainsaw
  .github/workflows/conformance.yaml
Labels: milestone 1.12.0

#8887 fix: delete VAPs in case Kyverno policies can't be translated
  pkg/controllers/validatingadmissionpolicy-generate/controller.go
  test/conformance/kuttl/generate-validating-admission-policy/clusterpolicy/cornercases/check-deletion-of-vaps-after-modifying-kyverno-policy/01-policy.yaml
  test/conformance/kuttl/generate-validating-admission-policy/clusterpolicy/cornercases/check-deletion-of-vaps-after-modifying-kyverno-policy/02-validatingadmissionpolicy.yaml
  test/conformance/kuttl/generate-validating-admission-policy/clusterpolicy/cornercases/check-deletion-of-vaps-after-modifying-kyverno-policy/03-update-policy.yaml
  test/conformance/kuttl/generate-validating-admission-policy/clusterpolicy/cornercases/check-deletion-of-vaps-after-modifying-kyverno-policy/04-check-validatingadmissionpolicy.yaml
  test/conformance/kuttl/generate-validating-admission-policy/clusterpolicy/cornercases/check-deletion-of-vaps-after-modifying-kyverno-policy/policy-assert.yaml
  test/conformance/kuttl/generate-validating-admission-policy/clusterpolicy/cornercases/check-deletion-of-vaps-after-modifying-kyverno-policy/policy.yaml
  test/conformance/kuttl/generate-validating-admission-policy/clusterpolicy/cornercases/check-deletion-of-vaps-after-modifying-kyverno-policy/updated-policy.yaml
  test/conformance/kuttl/generate-validating-admission-policy/clusterpolicy/cornercases/check-deletion-of-vaps-after-modifying-kyverno-policy/validatingadmissionpolicy.yaml
  test/conformance/kuttl/generate-validating-admission-policy/clusterpolicy/cornercases/check-deletion-of-vaps-after-modifying-kyverno-policy/validatingadmissionpolicybinding.yaml
Labels: cherry-pick-required, milestone 1.11.1

#8989 fix(test): random results when namespace is not specified [v1.9-v1.10]
  cmd/cli/kubectl-kyverno/test/test_command.go
Labels: cherry-pick-required, milestone 1.10.6

#8990 Remove var check
  cmd/cli/kubectl-kyverno/commands/apply/command.go
  cmd/cli/kubectl-kyverno/commands/test/test.go
  cmd/cli/kubectl-kyverno/variables/new.go
  cmd/cli/kubectl-kyverno/variables/utils.go
  cmd/cli/kubectl-kyverno/variables/utils_test.go
  cmd/cli/kubectl-kyverno/variables/variables.go
  cmd/cli/kubectl-kyverno/variables/variables_test.go
Labels: cherry-pick-required, milestone 1.11.1

#9026 fix: cleanup older policy reports
  charts/kyverno/README.md
  charts/kyverno/templates/hooks/post-upgrade.yaml
  charts/kyverno/values.yaml
Labels: cherry-pick-required, milestone 1.11.1

#9038 chore: bump chainsaw
  .github/workflows/conformance.yaml
Labels: milestone 1.12.0

#9041 fix(helm): Rename dashboard.json to kyverno-dashboard.json
  charts/kyverno/charts/grafana/dashboard/kyverno-dashboard.json
Labels: milestone 1.12.0

#9045 chore: add 1.10.4-6 & 1.11.1 to github issue templates
  .github/ISSUE_TEMPLATE/bug-cli.yaml
  .github/ISSUE_TEMPLATE/bug-other.yaml
  .github/ISSUE_TEMPLATE/bug-webhook.yaml
Labels: milestone 1.12.0

#9052 chore: use Kubernetes 1.28 by default
  DEVELOPMENT.md
  Makefile
Labels: milestone 1.12.0
