Repository kyverno/kyverno, pull requests merged in 2024-09, with the labels that each got.

#10972 chore: simplify e2e matrix
  .github/workflows/conformance.yaml
Labels: milestone 1.13.0, size:L

#10973 chore: use dynamic matrix
  .github/e2e-matrix.json
  .github/workflows/conformance.yaml
Labels: milestone 1.13.0, size:L

#10975 fix: configure dependabot to work with composite actions
  .github/dependabot.yml
Labels: milestone 1.13.0, size:XS

#10974 chore: split conformance jobs per folder
  .github/actions/run-tests/action.yaml
  .github/workflows/conformance.yaml
Labels: milestone 1.13.0, size:XL

#10976 feat: add chainsaw matrix script
  .github/workflows/conformance.yaml
  hack/chainsaw-matrix/go.mod
  hack/chainsaw-matrix/go.sum
  hack/chainsaw-matrix/main.go
  test/conformance/chainsaw/e2e-matrix.json
Labels: milestone 1.13.0, size:L

#10983 chore: remove deprecated option in install-helm action
  .github/workflows/conformance.yaml
  .github/workflows/load-testing.yml
Labels: milestone 1.13.0, size:S

#10985 chore: update upload/download artifact actions
  .github/actions/publish-image/action.yaml
  .github/actions/run-tests/action.yaml
  .github/workflows/codecov.yaml
  .github/workflows/conformance.yaml
  .github/workflows/load-testing.yml
  .github/workflows/nancy.yaml
  .github/workflows/report-on-vulnerabilities.yaml
  .github/workflows/scorecard.yaml
Labels: milestone 1.13.0, size:M

#10984 chore: more e2e matrix based jobs
  .github/actions/run-tests/action.yaml
  .github/workflows/conformance.yaml
  hack/chainsaw-matrix/main.go
  test/conformance/chainsaw/e2e-matrix.json
Labels: milestone 1.13.0, size:L

#10986 chore: add e2e matrix codegen and verification
  Makefile
Labels: milestone 1.13.0, size:M

#10964 chore: remove unused fields
  test/conformance/chainsaw/generate/foreach/clusterpolicy/clone/sync/cpol-clone-list-sync-delete-source/1-1-policy.yaml
Labels: milestone 1.13.0, size:XS

#10941 fix: use failureAction and failureActionOverrides in validate rules
  charts/kyverno-policies/Chart.yaml
  charts/kyverno-policies/templates/baseline/disallow-capabilities.yaml
  charts/kyverno-policies/templates/baseline/disallow-host-namespaces.yaml
  charts/kyverno-policies/templates/baseline/disallow-host-path.yaml
  charts/kyverno-policies/templates/baseline/disallow-host-ports.yaml
  charts/kyverno-policies/templates/baseline/disallow-host-process.yaml
  charts/kyverno-policies/templates/baseline/disallow-privileged-containers.yaml
  charts/kyverno-policies/templates/baseline/disallow-proc-mount.yaml
  charts/kyverno-policies/templates/baseline/disallow-selinux.yaml
  charts/kyverno-policies/templates/baseline/restrict-apparmor-profiles.yaml
  charts/kyverno-policies/templates/baseline/restrict-seccomp.yaml
  charts/kyverno-policies/templates/baseline/restrict-sysctls.yaml
  charts/kyverno-policies/templates/other/require-non-root-groups.yaml
  charts/kyverno-policies/templates/restricted/disallow-capabilities-strict.yaml
  charts/kyverno-policies/templates/restricted/disallow-privilege-escalation.yaml
  charts/kyverno-policies/templates/restricted/require-run-as-non-root-user.yaml
  charts/kyverno-policies/templates/restricted/require-run-as-nonroot.yaml
  charts/kyverno-policies/templates/restricted/restrict-seccomp-strict.yaml
  charts/kyverno-policies/templates/restricted/restrict-volume-types.yaml
Labels: milestone 1.13.0, size:L

#10971 Custom annotations on deployment
  charts/kyverno/README.md
  charts/kyverno/templates/admission-controller/deployment.yaml
  charts/kyverno/templates/background-controller/deployment.yaml
  charts/kyverno/templates/cleanup-controller/deployment.yaml
  charts/kyverno/templates/reports-controller/deployment.yaml
  charts/kyverno/values.yaml
Labels: milestone 1.13.0, size:M

#10990 feat: add openapi validation around any/all
  api/kyverno/v1/match_resources_types.go
  charts/kyverno/charts/crds/templates/kyverno.io/kyverno.io_clusterpolicies.yaml
  charts/kyverno/charts/crds/templates/kyverno.io/kyverno.io_policies.yaml
  cmd/cli/kubectl-kyverno/data/crds/kyverno.io_clusterpolicies.yaml
  cmd/cli/kubectl-kyverno/data/crds/kyverno.io_policies.yaml
  config/crds/kyverno/kyverno.io_clusterpolicies.yaml
  config/crds/kyverno/kyverno.io_policies.yaml
  config/install-latest-testing.yaml
Labels: milestone 1.13.0, size:L

#10992 chore: disable fail-fast in conformance
  .github/workflows/conformance.yaml
Labels: milestone 1.13.0, size:M

#10993 feat: add context entry openapi validation
  api/kyverno/v1/common_types.go
  charts/kyverno/charts/crds/templates/kyverno.io/kyverno.io_cleanuppolicies.yaml
  charts/kyverno/charts/crds/templates/kyverno.io/kyverno.io_clustercleanuppolicies.yaml
  charts/kyverno/charts/crds/templates/kyverno.io/kyverno.io_clusterpolicies.yaml
  charts/kyverno/charts/crds/templates/kyverno.io/kyverno.io_policies.yaml
  cmd/cli/kubectl-kyverno/data/crds/kyverno.io_clusterpolicies.yaml
  cmd/cli/kubectl-kyverno/data/crds/kyverno.io_policies.yaml
  config/crds/kyverno/kyverno.io_cleanuppolicies.yaml
  config/crds/kyverno/kyverno.io_clustercleanuppolicies.yaml
  config/crds/kyverno/kyverno.io_clusterpolicies.yaml
  config/crds/kyverno/kyverno.io_policies.yaml
  config/install-latest-testing.yaml
Labels: milestone 1.13.0, size:XXL

#10933 feat: enable custom data in policy reports using properties
  api/kyverno/v1/rule_types.go
  api/kyverno/v1/zz_generated.deepcopy.go
  charts/kyverno/charts/crds/templates/kyverno.io/kyverno.io_clusterpolicies.yaml
  charts/kyverno/charts/crds/templates/kyverno.io/kyverno.io_policies.yaml
  cmd/cli/kubectl-kyverno/data/crds/kyverno.io_clusterpolicies.yaml
  cmd/cli/kubectl-kyverno/data/crds/kyverno.io_policies.yaml
  cmd/cli/kubectl-kyverno/report/report_test.go
  config/crds/kyverno/kyverno.io_clusterpolicies.yaml
  config/crds/kyverno/kyverno.io_policies.yaml
  config/install-latest-testing.yaml
  docs/user/crd/index.html
  docs/user/crd/kyverno.v1.html
  pkg/client/applyconfigurations/kyverno/v1/rule.go
  pkg/engine/api/engineresponse_test.go
  pkg/engine/api/ruleresponse.go
  pkg/engine/api/ruleresponse_test.go
  pkg/engine/background.go
  pkg/engine/engine.go
  pkg/engine/handlers/handler.go
  pkg/engine/handlers/mutation/common.go
  pkg/engine/handlers/mutation/mutate_existing.go
  pkg/engine/handlers/mutation/mutate_image.go
  pkg/engine/handlers/mutation/mutate_resource.go
  pkg/engine/handlers/validation/validate_assert.go
  pkg/engine/handlers/validation/validate_cel.go
  pkg/engine/handlers/validation/validate_image.go
  pkg/engine/handlers/validation/validate_manifest.go
  pkg/engine/handlers/validation/validate_pss.go
  pkg/engine/handlers/validation/validate_resource.go
  pkg/engine/internal/imageverifier.go
  pkg/engine/internal/rule.go
  pkg/engine/mutate/mutation_test.go
  pkg/utils/report/results.go
  pkg/validatingadmissionpolicy/validate.go
  pkg/webhooks/utils/block_test.go
  pkg/webhooks/utils/warning_test.go
  test/conformance/chainsaw/e2e-matrix.json
  test/conformance/chainsaw/reports/admission/test-report-properties/README.md
  test/conformance/chainsaw/reports/admission/test-report-properties/chainsaw-step-01-apply-1.yaml
  test/conformance/chainsaw/reports/admission/test-report-properties/chainsaw-step-01-assert-1.yaml
  test/conformance/chainsaw/reports/admission/test-report-properties/chainsaw-step-02-apply-1.yaml
  test/conformance/chainsaw/reports/admission/test-report-properties/chainsaw-step-03-assert-1.yaml
  test/conformance/chainsaw/reports/admission/test-report-properties/chainsaw-test.yaml
Labels: milestone 1.13.0, size:XL

#10924 Evaluate one version of each pod security standard
  pkg/pss/evaluate.go
  pkg/pss/evaluate_test.go
Labels: milestone 1.12.6, size:L

#10995 fix: context entry name should be required
  api/kyverno/v1/common_types.go
  charts/kyverno/charts/crds/templates/kyverno.io/kyverno.io_cleanuppolicies.yaml
  charts/kyverno/charts/crds/templates/kyverno.io/kyverno.io_clustercleanuppolicies.yaml
  charts/kyverno/charts/crds/templates/kyverno.io/kyverno.io_clusterpolicies.yaml
  charts/kyverno/charts/crds/templates/kyverno.io/kyverno.io_policies.yaml
  cmd/cli/kubectl-kyverno/data/crds/kyverno.io_clusterpolicies.yaml
  cmd/cli/kubectl-kyverno/data/crds/kyverno.io_policies.yaml
  config/crds/kyverno/kyverno.io_cleanuppolicies.yaml
  config/crds/kyverno/kyverno.io_clustercleanuppolicies.yaml
  config/crds/kyverno/kyverno.io_clusterpolicies.yaml
  config/crds/kyverno/kyverno.io_policies.yaml
  config/install-latest-testing.yaml
Labels: milestone 1.13.0, size:L

#10997 feat: add resource description openapi validation
  api/kyverno/v1/resource_description_types.go
  charts/kyverno/charts/crds/templates/kyverno.io/kyverno.io_cleanuppolicies.yaml
  charts/kyverno/charts/crds/templates/kyverno.io/kyverno.io_clustercleanuppolicies.yaml
  charts/kyverno/charts/crds/templates/kyverno.io/kyverno.io_clusterpolicies.yaml
  charts/kyverno/charts/crds/templates/kyverno.io/kyverno.io_policies.yaml
  charts/kyverno/charts/crds/templates/kyverno.io/kyverno.io_policyexceptions.yaml
  cmd/cli/kubectl-kyverno/data/crds/kyverno.io_clusterpolicies.yaml
  cmd/cli/kubectl-kyverno/data/crds/kyverno.io_policies.yaml
  cmd/cli/kubectl-kyverno/data/crds/kyverno.io_policyexceptions.yaml
  config/crds/kyverno/kyverno.io_cleanuppolicies.yaml
  config/crds/kyverno/kyverno.io_clustercleanuppolicies.yaml
  config/crds/kyverno/kyverno.io_clusterpolicies.yaml
  config/crds/kyverno/kyverno.io_policies.yaml
  config/crds/kyverno/kyverno.io_policyexceptions.yaml
  config/install-latest-testing.yaml
Labels: milestone 1.13.0, size:XL

#10782 feat: delete webhook configurations after kyverno is uninstalled
  charts/kyverno/README.md
  charts/kyverno/templates/admission-controller/clusterrole.yaml
  charts/kyverno/templates/admission-controller/deployment.yaml
  charts/kyverno/templates/admission-controller/role.yaml
  charts/kyverno/templates/admission-controller/rolebinding.yaml
  charts/kyverno/templates/admission-controller/serviceaccount.yaml
  charts/kyverno/templates/cleanup-controller/clusterrole.yaml
  charts/kyverno/templates/cleanup-controller/deployment.yaml
  charts/kyverno/templates/cleanup-controller/role.yaml
  charts/kyverno/templates/cleanup-controller/rolebinding.yaml
  charts/kyverno/templates/cleanup-controller/serviceaccount.yaml
  charts/kyverno/values.yaml
  cmd/cleanup-controller/main.go
  cmd/kyverno/main.go
  config/install-latest-testing.yaml
  pkg/config/config.go
  pkg/controllers/generic/webhook/controller.go
  pkg/controllers/webhook/cleanup.go
  pkg/controllers/webhook/controller.go
  pkg/informers/deployment.go
  pkg/utils/controller/utils.go
  pkg/webhooks/server.go
Labels: milestone 1.13.0, size:XL

#11010 chore: refactor conformance workflow
  .github/workflows/conformance.yaml
Labels: milestone 1.13.0, size:L

#11012 fix: concurrent map read and map write when applying a validate.podSecurity rule
  pkg/pss/utils/mapping.go
Labels: milestone 1.13.0, size:S

#11013 feat: more openapi validation in v2 api
  api/kyverno/v2beta1/match_resources_types.go
  charts/kyverno/charts/crds/templates/kyverno.io/kyverno.io_cleanuppolicies.yaml
  charts/kyverno/charts/crds/templates/kyverno.io/kyverno.io_clustercleanuppolicies.yaml
  charts/kyverno/charts/crds/templates/kyverno.io/kyverno.io_clusterpolicies.yaml
  charts/kyverno/charts/crds/templates/kyverno.io/kyverno.io_policies.yaml
  charts/kyverno/charts/crds/templates/kyverno.io/kyverno.io_policyexceptions.yaml
  cmd/cli/kubectl-kyverno/data/crds/kyverno.io_clusterpolicies.yaml
  cmd/cli/kubectl-kyverno/data/crds/kyverno.io_policies.yaml
  cmd/cli/kubectl-kyverno/data/crds/kyverno.io_policyexceptions.yaml
  config/crds/kyverno/kyverno.io_cleanuppolicies.yaml
  config/crds/kyverno/kyverno.io_clustercleanuppolicies.yaml
  config/crds/kyverno/kyverno.io_clusterpolicies.yaml
  config/crds/kyverno/kyverno.io_policies.yaml
  config/crds/kyverno/kyverno.io_policyexceptions.yaml
  config/install-latest-testing.yaml
Labels: milestone 1.13.0, size:L

#11011 fix: use failureAction in reports properties chainsaw test
  test/conformance/chainsaw/reports/admission/test-report-properties/chainsaw-step-01-apply-1.yaml
Labels: milestone 1.13.0, size:XS

#10999 feat: make deprecated ready status a pointer and set it to null
  api/kyverno/v1/policy_status.go
  api/kyverno/v1/zz_generated.deepcopy.go
  api/kyverno/v2alpha1/global_context_entry_status.go
  api/kyverno/v2alpha1/zz_generated.deepcopy.go
  charts/kyverno/charts/crds/templates/kyverno.io/kyverno.io_clusterpolicies.yaml
  charts/kyverno/charts/crds/templates/kyverno.io/kyverno.io_globalcontextentries.yaml
  charts/kyverno/charts/crds/templates/kyverno.io/kyverno.io_policies.yaml
  cmd/cli/kubectl-kyverno/data/crds/kyverno.io_clusterpolicies.yaml
  cmd/cli/kubectl-kyverno/data/crds/kyverno.io_policies.yaml
  config/crds/kyverno/kyverno.io_clusterpolicies.yaml
  config/crds/kyverno/kyverno.io_globalcontextentries.yaml
  config/crds/kyverno/kyverno.io_policies.yaml
  config/install-latest-testing.yaml
  test/conformance/chainsaw/globalcontext/gctxentry-not-exist/clusterpolicy-assert.yaml
Labels: milestone 1.13.0, size:M

#10998 feat: add global context entry openapi validation
  api/kyverno/v2alpha1/global_context_entry_types.go
  charts/kyverno/charts/crds/templates/kyverno.io/kyverno.io_globalcontextentries.yaml
  config/crds/kyverno/kyverno.io_globalcontextentries.yaml
  config/install-latest-testing.yaml
  test/conformance/chainsaw/globalcontext/validate-crd/chainsaw-test.yaml
Labels: milestone 1.13.0, size:M

#10784 test: Uncomment tests for the policy validation feature and modify signatures
  pkg/validation/policy/validate_test.go
Labels: milestone 1.13.0, size:XS

#10594 feat:support default value into apiCall context variables
  api/kyverno/v1/common_types.go
  api/kyverno/v1/zz_generated.deepcopy.go
  charts/kyverno/charts/crds/templates/kyverno.io/kyverno.io_cleanuppolicies.yaml
  charts/kyverno/charts/crds/templates/kyverno.io/kyverno.io_clustercleanuppolicies.yaml
  charts/kyverno/charts/crds/templates/kyverno.io/kyverno.io_clusterpolicies.yaml
  charts/kyverno/charts/crds/templates/kyverno.io/kyverno.io_policies.yaml
  cmd/cli/kubectl-kyverno/data/crds/kyverno.io_clusterpolicies.yaml
  cmd/cli/kubectl-kyverno/data/crds/kyverno.io_policies.yaml
  config/crds/kyverno/kyverno.io_cleanuppolicies.yaml
  config/crds/kyverno/kyverno.io_clustercleanuppolicies.yaml
  config/crds/kyverno/kyverno.io_clusterpolicies.yaml
  config/crds/kyverno/kyverno.io_policies.yaml
  config/install-latest-testing.yaml
  docs/user/crd/index.html
  docs/user/crd/kyverno.v1.html
  pkg/client/applyconfigurations/kyverno/v1/contextapicall.go
  pkg/engine/apicall/apiCall.go
  pkg/engine/context/loaders/apicall.go
  test/conformance/chainsaw/e2e-matrix.json
  test/conformance/chainsaw/validate/clusterpolicy/standard/apicalls/default/README.md
  test/conformance/chainsaw/validate/clusterpolicy/standard/apicalls/default/chainsaw-test.yaml
  test/conformance/chainsaw/validate/clusterpolicy/standard/apicalls/default/ns-bad.yaml
  test/conformance/chainsaw/validate/clusterpolicy/standard/apicalls/default/pod-bad.yaml
  test/conformance/chainsaw/validate/clusterpolicy/standard/apicalls/default/pod.yaml
  test/conformance/chainsaw/validate/clusterpolicy/standard/apicalls/default/policy.yaml
Labels: milestone 1.13.0, size:XXL

#10086 feat: add support for signature algorithm in cosign cert and kms verification
  api/kyverno/v1/image_verification_types.go
  charts/kyverno/charts/crds/templates/kyverno.io/kyverno.io_clusterpolicies.yaml
  charts/kyverno/charts/crds/templates/kyverno.io/kyverno.io_policies.yaml
  cmd/cli/kubectl-kyverno/data/crds/kyverno.io_clusterpolicies.yaml
  cmd/cli/kubectl-kyverno/data/crds/kyverno.io_policies.yaml
  config/crds/kyverno/kyverno.io_clusterpolicies.yaml
  config/crds/kyverno/kyverno.io_policies.yaml
  config/install-latest-testing.yaml
  docs/user/crd/index.html
  docs/user/crd/kyverno.v1.html
  pkg/client/applyconfigurations/kyverno/v1/attestor.go
  pkg/cosign/cosign.go
  pkg/engine/internal/imageverifier.go
Labels: milestone 1.13.0, size:XXL

#11018 fix: attempt to fix the Trivy scan failures
  .github/actions/setup-build-env/action.yaml
Labels: milestone 1.13.0, size:XS

#10214 feat: show violations and mutations as warning
  api/kyverno/v1/spec_types.go
  api/kyverno/v1/zz_generated.deepcopy.go
  charts/kyverno/charts/crds/templates/kyverno.io/kyverno.io_clusterpolicies.yaml
  charts/kyverno/charts/crds/templates/kyverno.io/kyverno.io_policies.yaml
  cmd/cli/kubectl-kyverno/data/crds/kyverno.io_clusterpolicies.yaml
  cmd/cli/kubectl-kyverno/data/crds/kyverno.io_policies.yaml
  config/crds/kyverno/kyverno.io_clusterpolicies.yaml
  config/crds/kyverno/kyverno.io_policies.yaml
  config/install-latest-testing.yaml
  docs/user/crd/index.html
  docs/user/crd/kyverno.v1.html
  pkg/client/applyconfigurations/kyverno/v1/spec.go
  pkg/engine/api/engineresponse.go
  pkg/engine/api/policyresponse.go
  pkg/policycache/store.go
  pkg/policycache/type.go
  pkg/webhooks/resource/handlers.go
  pkg/webhooks/resource/handlers_test.go
  pkg/webhooks/resource/mutation/mutation.go
  pkg/webhooks/resource/validation/validation.go
  pkg/webhooks/utils/warning.go
  test/conformance/chainsaw/e2e-matrix.json
  test/conformance/chainsaw/mutate/e2e/emit-warning/README.md
  test/conformance/chainsaw/mutate/e2e/emit-warning/chainsaw-test.yaml
  test/conformance/chainsaw/mutate/e2e/emit-warning/pod.yaml
  test/conformance/chainsaw/mutate/e2e/emit-warning/policy-assert.yaml
  test/conformance/chainsaw/mutate/e2e/emit-warning/policy.yaml
  test/conformance/chainsaw/reports/admission/test-report-audit-warn/README.md
  test/conformance/chainsaw/reports/admission/test-report-audit-warn/chainsaw-step-01-apply-1.yaml
  test/conformance/chainsaw/reports/admission/test-report-audit-warn/chainsaw-step-01-assert-1.yaml
  test/conformance/chainsaw/reports/admission/test-report-audit-warn/chainsaw-step-02-apply-1.yaml
  test/conformance/chainsaw/reports/admission/test-report-audit-warn/chainsaw-step-03-assert-1.yaml
  test/conformance/chainsaw/reports/admission/test-report-audit-warn/chainsaw-test.yaml
  test/conformance/chainsaw/validate/clusterpolicy/standard/emit-warning/README.md
  test/conformance/chainsaw/validate/clusterpolicy/standard/emit-warning/chainsaw-test.yaml
  test/conformance/chainsaw/validate/clusterpolicy/standard/emit-warning/pod.yaml
  test/conformance/chainsaw/validate/clusterpolicy/standard/emit-warning/policy-assert.yaml
  test/conformance/chainsaw/validate/clusterpolicy/standard/emit-warning/policy.yaml
Labels: Documentation, milestone 1.13.0, size:XL

#9960 feat:Add support for condition validation across multiple image verification attestations or context entry
  api/kyverno/v1/image_verification_types.go
  api/kyverno/v1/rule_types.go
  api/kyverno/v1/zz_generated.deepcopy.go
  api/kyverno/v2beta1/image_verification_types.go
  api/kyverno/v2beta1/zz_generated.deepcopy.go
  charts/kyverno/README.md
  charts/kyverno/charts/crds/templates/kyverno.io/kyverno.io_clusterpolicies.yaml
  charts/kyverno/charts/crds/templates/kyverno.io/kyverno.io_policies.yaml
  charts/kyverno/values.yaml
  cmd/cli/kubectl-kyverno/data/crds/kyverno.io_clusterpolicies.yaml
  cmd/cli/kubectl-kyverno/data/crds/kyverno.io_policies.yaml
  config/crds/kyverno/kyverno.io_clusterpolicies.yaml
  config/crds/kyverno/kyverno.io_policies.yaml
  config/install-latest-testing.yaml
  docs/user/crd/index.html
  docs/user/crd/kyverno.v1.html
  docs/user/crd/kyverno.v2beta1.html
  pkg/client/applyconfigurations/kyverno/v1/attestation.go
  pkg/client/applyconfigurations/kyverno/v1/imageverification.go
  pkg/client/applyconfigurations/kyverno/v1/validateimageverification.go
  pkg/client/applyconfigurations/kyverno/v2beta1/imageverification.go
  pkg/client/applyconfigurations/utils.go
  pkg/engine/handlers/mutation/mutate_image.go
  pkg/engine/image_verify_test.go
  pkg/engine/internal/imageverifier.go
  pkg/validation/policy/validate.go
  test/conformance/chainsaw/e2e-matrix.json
  test/conformance/chainsaw/verifyImages/clusterpolicy/standard/multiple-image-verification-attestations-fail/README.md
  test/conformance/chainsaw/verifyImages/clusterpolicy/standard/multiple-image-verification-attestations-fail/chainsaw-test.yaml
  test/conformance/chainsaw/verifyImages/clusterpolicy/standard/multiple-image-verification-attestations-fail/pod.yaml
  test/conformance/chainsaw/verifyImages/clusterpolicy/standard/multiple-image-verification-attestations-fail/policy-ready.yaml
  test/conformance/chainsaw/verifyImages/clusterpolicy/standard/multiple-image-verification-attestations-fail/policy.yaml
  test/conformance/chainsaw/verifyImages/clusterpolicy/standard/multiple-image-verification-attestations-pass/README.md
  test/conformance/chainsaw/verifyImages/clusterpolicy/standard/multiple-image-verification-attestations-pass/chainsaw-test.yaml
  test/conformance/chainsaw/verifyImages/clusterpolicy/standard/multiple-image-verification-attestations-pass/pod-assert.yaml
  test/conformance/chainsaw/verifyImages/clusterpolicy/standard/multiple-image-verification-attestations-pass/pod.yaml
  test/conformance/chainsaw/verifyImages/clusterpolicy/standard/multiple-image-verification-attestations-pass/policy-ready.yaml
  test/conformance/chainsaw/verifyImages/clusterpolicy/standard/multiple-image-verification-attestations-pass/policy.yaml
  test/conformance/chainsaw/verifyImages/clusterpolicy/standard/multiple-image-verification-attestations-trivy-vex-fail/README.md
  test/conformance/chainsaw/verifyImages/clusterpolicy/standard/multiple-image-verification-attestations-trivy-vex-fail/chainsaw-test.yaml
  test/conformance/chainsaw/verifyImages/clusterpolicy/standard/multiple-image-verification-attestations-trivy-vex-fail/pod.yaml
  test/conformance/chainsaw/verifyImages/clusterpolicy/standard/multiple-image-verification-attestations-trivy-vex-fail/policy-ready.yaml
  test/conformance/chainsaw/verifyImages/clusterpolicy/standard/multiple-image-verification-attestations-trivy-vex-fail/policy.yaml
  test/conformance/chainsaw/verifyImages/clusterpolicy/standard/multiple-image-verification-attestations-trivy-vex-pass/README.md
  test/conformance/chainsaw/verifyImages/clusterpolicy/standard/multiple-image-verification-attestations-trivy-vex-pass/chainsaw-test.yaml
  test/conformance/chainsaw/verifyImages/clusterpolicy/standard/multiple-image-verification-attestations-trivy-vex-pass/pod-assert.yaml
  test/conformance/chainsaw/verifyImages/clusterpolicy/standard/multiple-image-verification-attestations-trivy-vex-pass/pod.yaml
  test/conformance/chainsaw/verifyImages/clusterpolicy/standard/multiple-image-verification-attestations-trivy-vex-pass/policy-ready.yaml
  test/conformance/chainsaw/verifyImages/clusterpolicy/standard/multiple-image-verification-attestations-trivy-vex-pass/policy.yaml
Labels: Documentation, milestone 1.13.0, size:XXL

#11015 feat: remove yaml markers
  api/kyverno/v1/clusterpolicy_types.go
  api/kyverno/v1/common_types.go
  api/kyverno/v1/image_verification_types.go
  api/kyverno/v1/match_resources_types.go
  api/kyverno/v1/policy_status.go
  api/kyverno/v1/policy_types.go
  api/kyverno/v1/resource_description_types.go
  api/kyverno/v1/resource_spec_types.go
  api/kyverno/v1/rule_types.go
  api/kyverno/v1/spec_types.go
  api/kyverno/v1/user_info_types.go
  api/kyverno/v1beta1/updaterequest_types.go
  api/kyverno/v2/cleanup_policy_types.go
  api/kyverno/v2/condition.go
  api/kyverno/v2/policy_exception_types.go
  api/kyverno/v2/updaterequest_types.go
  api/kyverno/v2alpha1/global_context_entry_types.go
  api/kyverno/v2beta1/cleanup_policy_types.go
  api/kyverno/v2beta1/clusterpolicy_types.go
  api/kyverno/v2beta1/common_types.go
  api/kyverno/v2beta1/image_verification_types.go
  api/kyverno/v2beta1/match_resources_types.go
  api/kyverno/v2beta1/policy_exception_types.go
  api/kyverno/v2beta1/policy_types.go
  api/kyverno/v2beta1/resource_description_types.go
  api/kyverno/v2beta1/rule_types.go
  api/kyverno/v2beta1/spec_types.go
  pkg/autogen/rule.go
  pkg/engine/mutate/mutation_test.go
Labels: milestone 1.13.0, size:XL

#10748 fix: range through all resources to build webhook
  pkg/controllers/webhook/controller_test.go
  pkg/controllers/webhook/utils.go
  pkg/controllers/webhook/utils_test.go
  test/conformance/chainsaw/webhooks/pod-all-subresources/webhooks.yaml
  test/conformance/chainsaw/webhooks/policy-clusterpolicy-namespaced-resources/webhooks.yaml
Labels: cherry-pick-required, milestone 1.12.6, size:L

#11020 feat: remove remaining yaml markers
  api/kyverno/v1/common_types.go
  api/kyverno/v1/image_verification_types.go
  api/kyverno/v1/spec_types.go
  api/kyverno/v2beta1/image_verification_types.go
Labels: milestone 1.13.0, size:S

#11021 fix: unsupported defaults in api
  api/kyverno/v1/rule_types.go
  api/kyverno/v1/zz_generated.deepcopy.go
  api/kyverno/v2beta1/rule_types.go
  api/kyverno/v2beta1/zz_generated.deepcopy.go
  pkg/webhooks/resource/utils.go
Labels: milestone 1.13.0, size:S

#10965 feature of sleep duration and managing deployment of pods
  charts/kyverno/README.md
  charts/kyverno/templates/tests/admission-controller-liveness.yaml
  charts/kyverno/templates/tests/admission-controller-metrics.yaml
  charts/kyverno/templates/tests/admission-controller-readiness.yaml
  charts/kyverno/templates/tests/cleanup-controller-liveness.yaml
  charts/kyverno/templates/tests/cleanup-controller-metrics.yaml
  charts/kyverno/templates/tests/cleanup-controller-readiness.yaml
  charts/kyverno/templates/tests/reports-controller-metrics.yaml
  charts/kyverno/values.yaml
Labels: milestone 1.13.0, size:S

#11028 feat: helm tests sleep follow up
  charts/kyverno/README.md
  charts/kyverno/templates/tests/admission-controller-liveness.yaml
  charts/kyverno/templates/tests/admission-controller-metrics.yaml
  charts/kyverno/templates/tests/admission-controller-readiness.yaml
  charts/kyverno/templates/tests/cleanup-controller-liveness.yaml
  charts/kyverno/templates/tests/cleanup-controller-metrics.yaml
  charts/kyverno/templates/tests/cleanup-controller-readiness.yaml
  charts/kyverno/templates/tests/reports-controller-metrics.yaml
  charts/kyverno/values.yaml
Labels: milestone 1.13.0

#11033 fix: chainsaw tests
  test/conformance/chainsaw/generate/clusterpolicy/cornercases/cpol-clone-delete-ownerreferences-across-namespaces-deprecated/policy.yaml
  test/conformance/chainsaw/mutate/e2e/variables-in-keys/policy.yaml
  test/conformance/chainsaw/reports/admission/test-report-audit-warn/chainsaw-step-01-apply-1.yaml
  test/conformance/chainsaw/validate/clusterpolicy/standard/emit-warning/policy.yaml
Labels: milestone 1.13.0, size:XS

#11034 fix: chainsaw tests
  test/conformance/chainsaw/generate/clusterpolicy/cornercases/cpol-clone-delete-ownerreferences-across-namespaces/policy.yaml
  test/conformance/chainsaw/generate/clusterpolicy/standard/clone/multiple/sync/basic-create/resource-assert.yaml
  test/conformance/chainsaw/verifyImages/clusterpolicy/standard/skip-image-reference/policy.yaml
Labels: milestone 1.13.0

#11039 fix: remove yaml markers from api
  api/kyverno/v1/common_types.go
Labels: milestone 1.13.0, size:XS

#11043 chore: fix trivy action version
  .github/workflows/report-on-vulnerabilities.yaml
Labels: milestone 1.13.0

#11026 fix(status): don't get the policy twice before status update
  pkg/controllers/webhook/controller.go
Labels: milestone 1.13.0, size:S

#11046 Adding myself as contributor
  CONTRIBUTORS.md
Labels: milestone 1.13.0, size:XS

#11045 chore: add missing versions in actions refs
  .github/workflows/conformance.yaml
Labels: milestone 1.13.0, size:XS

#11044 chore: verify chainsaw with cosign
  .github/actions/run-tests/action.yaml
  .github/workflows/conformance.yaml
Labels: milestone 1.13.0, size:S

#11037 feat: use pointer in rule (generate field)
  api/kyverno/v1/rule_types.go
  api/kyverno/v1/zz_generated.deepcopy.go
  pkg/controllers/webhook/controller_test.go
  pkg/metrics/parsers.go
  pkg/policy/generate.go
  pkg/utils/fuzz/policy_spec.go
  pkg/validation/policy/actions.go
  pkg/validation/policy/validate.go
Labels: cherry-pick-required, milestone 1.13.0, size:M

#9166 bug: print failure message when rule fails in kyverno apply
  cmd/cli/kubectl-kyverno/commands/apply/command.go
Labels: cherry-pick-required, milestone 1.13.0, size:M

#11048 fix: make match field required in rule API
  api/kyverno/v1/rule_types.go
  api/kyverno/v2/cleanup_policy_types.go
  api/kyverno/v2beta1/cleanup_policy_types.go
  api/kyverno/v2beta1/rule_types.go
  charts/kyverno/charts/crds/templates/kyverno.io/kyverno.io_cleanuppolicies.yaml
  charts/kyverno/charts/crds/templates/kyverno.io/kyverno.io_clustercleanuppolicies.yaml
  charts/kyverno/charts/crds/templates/kyverno.io/kyverno.io_clusterpolicies.yaml
  charts/kyverno/charts/crds/templates/kyverno.io/kyverno.io_policies.yaml
  cmd/cli/kubectl-kyverno/data/crds/kyverno.io_clusterpolicies.yaml
  cmd/cli/kubectl-kyverno/data/crds/kyverno.io_policies.yaml
  config/crds/kyverno/kyverno.io_cleanuppolicies.yaml
  config/crds/kyverno/kyverno.io_clustercleanuppolicies.yaml
  config/crds/kyverno/kyverno.io_clusterpolicies.yaml
  config/crds/kyverno/kyverno.io_policies.yaml
  config/install-latest-testing.yaml
Labels: cherry-pick-required, milestone 1.13.0, size:M

#11054 added Anudeep to CONTRIBUTORS.md
  CONTRIBUTORS.md
Labels: milestone 1.13.0, size:XS

#11053 Update CONTRIBUTORS.md
  CONTRIBUTORS.md
Labels: milestone 1.13.0, size:XS

#9987 Generate Policy Exceptions
  cmd/cli/kubectl-kyverno/commands/apply/command.go
  cmd/cli/kubectl-kyverno/commands/apply/print.go
  docs/user/cli/commands/kyverno_apply.md
Labels: Documentation, cherry-pick-required, milestone 1.13.0, size:L

#11041 support HTTP headers in service API calls
  api/kyverno/v1/common_types.go
  api/kyverno/v1/zz_generated.deepcopy.go
  charts/kyverno/charts/crds/templates/kyverno.io/kyverno.io_cleanuppolicies.yaml
  charts/kyverno/charts/crds/templates/kyverno.io/kyverno.io_clustercleanuppolicies.yaml
  charts/kyverno/charts/crds/templates/kyverno.io/kyverno.io_clusterpolicies.yaml
  charts/kyverno/charts/crds/templates/kyverno.io/kyverno.io_globalcontextentries.yaml
  charts/kyverno/charts/crds/templates/kyverno.io/kyverno.io_policies.yaml
  cmd/cli/kubectl-kyverno/data/crds/kyverno.io_clusterpolicies.yaml
  cmd/cli/kubectl-kyverno/data/crds/kyverno.io_policies.yaml
  config/crds/kyverno/kyverno.io_cleanuppolicies.yaml
  config/crds/kyverno/kyverno.io_clustercleanuppolicies.yaml
  config/crds/kyverno/kyverno.io_clusterpolicies.yaml
  config/crds/kyverno/kyverno.io_globalcontextentries.yaml
  config/crds/kyverno/kyverno.io_policies.yaml
  config/install-latest-testing.yaml
  docs/user/crd/index.html
  docs/user/crd/kyverno.v1.html
  pkg/client/applyconfigurations/kyverno/v1/httpheader.go
  pkg/client/applyconfigurations/kyverno/v1/servicecall.go
  pkg/client/applyconfigurations/utils.go
  pkg/engine/apicall/apiCall_test.go
  pkg/engine/apicall/executor.go
Labels: cherry-pick-required, milestone 1.13.0, size:XXL

#11065 fix: avoid generating empty urs
  pkg/webhooks/updaterequest/generator.go
Labels: cherry-pick-required, milestone 1.13.0, size:XS

#11066 chore: remove code owner MarcelMue
  CODEOWNERS
Labels: cherry-pick-required, milestone 1.13.0, size:XS

#11050 feat: use pointer in rule (exclude field)
  api/kyverno/v1/match_resources_types.go
  api/kyverno/v1/rule_types.go
  api/kyverno/v1/zz_generated.deepcopy.go
  api/kyverno/v2beta1/match_resources_types.go
  api/kyverno/v2beta1/rule_types.go
  api/kyverno/v2beta1/zz_generated.deepcopy.go
  cmd/cli/kubectl-kyverno/utils/common/common.go
  pkg/autogen/autogen.go
  pkg/autogen/rule.go
  pkg/controllers/webhook/controller_test.go
  pkg/controllers/webhook/utils.go
  pkg/controllers/webhook/utils_test.go
  pkg/engine/handlers/validation/utils.go
  pkg/engine/utils/match.go
  pkg/engine/utils/utils_test.go
  pkg/utils/fuzz/policy_spec.go
  pkg/validatingadmissionpolicy/builder.go
  pkg/validatingadmissionpolicy/kyvernopolicy_checker.go
  pkg/validation/policy/background.go
  pkg/validation/policy/validate.go
Labels: cherry-pick-required, milestone 1.13.0, size:L

#11072 chore: fix sonar exclusions
  sonar-project.properties
Labels: cherry-pick-required, milestone 1.13.0

#11076 feat: use pointer in rule (generate field)
  api/kyverno/v2beta1/rule_types.go
  api/kyverno/v2beta1/zz_generated.deepcopy.go
Labels: cherry-pick-required, milestone 1.13.0, size:S

#11078 feat: use pointer in rule (mutation field)
  api/kyverno/v1/rule_types.go
  api/kyverno/v1/zz_generated.deepcopy.go
  api/kyverno/v2beta1/rule_types.go
  api/kyverno/v2beta1/zz_generated.deepcopy.go
  pkg/autogen/autogen.go
  pkg/autogen/rule.go
  pkg/controllers/webhook/controller_test.go
  pkg/controllers/webhook/utils_test.go
  pkg/engine/mutate/mutation.go
  pkg/engine/mutate/mutation_test.go
  pkg/metrics/parsers.go
  pkg/policycache/cache_test.go
  pkg/utils/fuzz/policy_spec.go
  pkg/validation/policy/actions.go
  pkg/validation/policy/validate.go
  pkg/validation/policy/validate_test.go
Labels: cherry-pick-required, milestone 1.13.0, size:L

#11077 fix: make webhook cleanup setup optional and add cleanup ci test
  .github/workflows/conformance.yaml
  pkg/controllers/generic/webhook/controller.go
  pkg/controllers/webhook/controller.go
  scripts/config/kyverno-cleanup/kyverno.yaml
Labels: cherry-pick-required, milestone 1.13.0, size:M

#11088 fix: bump docker in release 1.12
  go.mod
  go.sum
Labels: milestone 1.12.6, size:XS

#11096 chore: bump otel libs
  go.mod
  go.sum
Labels: cherry-pick-required, milestone 1.13.0, size:M

#11095 feat: use pointer in rule (validate field)
  api/kyverno/v1/rule_types.go
  api/kyverno/v1/spec_test.go
  api/kyverno/v1/zz_generated.deepcopy.go
  api/kyverno/v2beta1/rule_types.go
  api/kyverno/v2beta1/spec_test.go
  api/kyverno/v2beta1/zz_generated.deepcopy.go
  pkg/autogen/autogen.go
  pkg/autogen/rule.go
  pkg/engine/api/engineresponse_test.go
  pkg/metrics/parsers.go
  pkg/policy/validate/validate.go
  pkg/policy/validate/validate_test.go
  pkg/utils/fuzz/policy_spec.go
  pkg/validation/policy/validate.go
  pkg/validation/policy/validate_test.go
  pkg/webhooks/utils/block_test.go
Labels: cherry-pick-required, milestone 1.13.0, size:L

#11101 fix broken oss-fuzz build
  test/fuzz/oss_fuzz_build.sh
Labels: cherry-pick-required, milestone 1.13.0, size:XS

#11103 feat: add flag to pass tuf root directly
  CHANGELOG.md
  charts/kyverno/README.md
  charts/kyverno/templates/_helpers.tpl
  charts/kyverno/values.yaml
  cmd/internal/flag.go
  cmd/internal/tuf.go
Labels: cherry-pick-required, milestone 1.13.0, size:S

#11115 Generate Policy Exceptions (cherry-pick #9987)
  cmd/cli/kubectl-kyverno/commands/apply/command.go
  cmd/cli/kubectl-kyverno/commands/apply/print.go
  docs/user/cli/commands/kyverno_apply.md
Labels: size:L

#11119 chore: fix sonar exclusions
  sonar-project.properties
Labels: cherry-pick-required, milestone 1.13.0, size:XS

#11116 chore: add dependabot groups for k8s and otel
  .github/dependabot.yml
Labels: cherry-pick-required, milestone 1.13.0, size:XS

#11114 Release v1.13.0-beta.1
  charts/kyverno-policies/Chart.yaml
  charts/kyverno-policies/README.md
  charts/kyverno/Chart.yaml
  charts/kyverno/README.md
  charts/kyverno/charts/crds/Chart.yaml
  charts/kyverno/charts/crds/README.md
  charts/kyverno/charts/grafana/Chart.yaml
  charts/kyverno/charts/grafana/README.md
  config/install-latest-testing.yaml
Labels: size:M

#11135 fix: go releaser config
  .github/workflows/release.yaml
  .goreleaser.yml
Labels: cherry-pick-required, milestone 1.13.0

#11138 move governance
  ADOPTERS.md
  CONTRIBUTORS.md
  MAINTAINERS.md
Labels: milestone 1.14.0, size:M

#11112 fix: Updated Go version to v1.23.1 to address CVE-2024-34156
  .github/actions/setup-build-env/action.yaml
  go.mod
Labels: milestone 1.12.6, size:XS

#11142 fix: Updated Go version to v1.23.1 to address CVE-2024-34156 (#11112)
  .github/actions/setup-build-env/action.yaml
  go.mod
  pkg/engine/jmespath/functions_test.go
Labels: milestone 1.12.6, size:XS

#11147 fix: Added missing label info in the cleanup metrics (#10321)
  pkg/controllers/ttl/controller.go
Labels: cherry-pick-required, milestone 1.13.0, size:XS

#11151 Release v1.12.6-rc.1
  charts/kyverno-policies/Chart.yaml
  charts/kyverno-policies/README.md
  charts/kyverno/Chart.yaml
  charts/kyverno/README.md
  charts/kyverno/charts/crds/Chart.yaml
  charts/kyverno/charts/crds/README.md
  charts/kyverno/charts/grafana/Chart.yaml
  charts/kyverno/charts/grafana/README.md
  config/install-latest-testing.yaml
Labels: size:M

#11162 fix: range through all resources to build webhook
  pkg/controllers/webhook/controller_test.go
  pkg/controllers/webhook/utils.go
  pkg/controllers/webhook/utils_test.go
  test/conformance/chainsaw/webhooks/pod-all-subresources/webhooks.yaml
Labels: size:L

#11164 chore: update dependabot gomod config
  .github/dependabot.yml
Labels: cherry-pick-required, milestone 1.13.0, size:XS

#11163 feat: add helm upgrade tests
  .github/workflows/conformance.yaml
Labels: cherry-pick-required, milestone 1.13.0, size:M

#11176 fix: get ns labels before creating a policy context (cherry-pick #10773)
  cmd/cli/kubectl-kyverno/processor/policy_processor.go
Labels: size:S

#11070 fix(chart,kyverno): update dashboard to support Grafana 11
  charts/kyverno/charts/grafana/dashboard/kyverno-dashboard.json
Labels: cherry-pick-required, milestone 1.13.0, size:XS

#11165 Release v1.12.6-rc.2
  charts/kyverno-policies/Chart.yaml
  charts/kyverno-policies/README.md
  charts/kyverno/Chart.yaml
  charts/kyverno/README.md
  charts/kyverno/charts/crds/Chart.yaml
  charts/kyverno/charts/crds/README.md
  charts/kyverno/charts/grafana/Chart.yaml
  charts/kyverno/charts/grafana/README.md
  config/install-latest-testing.yaml
Labels: size:M

#11190 fix: remove unused functions
  pkg/utils/generator/clusterephemeralreports.go
  pkg/utils/generator/ephemeralreports.go
Labels: cherry-pick-required, milestone 1.13.0, size:M

#11194 fix(helm): remove namespace from RoleBinding/roleRef field (cherry-pick #10685)
  charts/kyverno/templates/hooks/pre-delete-configmap.yaml
Labels: size:XS

#10233 fix: skip processing the oldObject for audit policies
  pkg/engine/handlers/validation/validate_assert.go
  pkg/engine/handlers/validation/validate_pss.go
  pkg/engine/handlers/validation/validate_resource.go
  pkg/engine/handlers/validation/validate_resource_test.go
  test/conformance/chainsaw/reports/admission/update-deployment/README.md
  test/conformance/chainsaw/reports/admission/update-deployment/chainsaw-test.yaml
  test/conformance/chainsaw/reports/admission/update-deployment/deployment.yaml
  test/conformance/chainsaw/reports/admission/update-deployment/policy-assert.yaml
  test/conformance/chainsaw/reports/admission/update-deployment/policy.yaml
  test/conformance/chainsaw/reports/admission/update-deployment/report-assert.yaml
  test/conformance/chainsaw/reports/admission/update-deployment/update-deployment.yaml
Labels: cherry-pick-required, milestone 1.13.0, size:L

#11217 fix(status): status comparison is wrong ( cherry-pick #11203)
  api/kyverno/v1/rule_types.go
  api/kyverno/v1/zz_generated.deepcopy.go
  api/kyverno/v2beta1/rule_types.go
  api/kyverno/v2beta1/zz_generated.deepcopy.go
  pkg/autogen/autogen.go
  pkg/autogen/rule.go
  pkg/controllers/webhook/controller.go
  pkg/globalcontext/externalapi/entry.go
  pkg/globalcontext/k8sresource/entry.go
  pkg/utils/controller/utils.go
  pkg/webhooks/resource/utils.go
Labels: size:L

#11218 fix: print out errors when starting admission reports watcher
  cmd/kyverno/main.go
Labels: cherry-pick-required, milestone 1.13.0, size:XS

#11225 fix(webhook): error variable
  pkg/controllers/webhook/controller.go
Labels: cherry-pick-required, milestone 1.13.0, size:XS

#11228 fix(webhook): error variable (cherry-pick #11225)
  pkg/controllers/webhook/controller.go
Labels: size:XS

#11230 fix: webhooks reconciliation when no policies
  pkg/controllers/webhook/controller.go
Labels: cherry-pick-required, milestone 1.12.6

#11233 fix: webhooks reconciliation with policies
  pkg/config/types.go
  pkg/controllers/webhook/controller.go
  pkg/controllers/webhook/utils.go
Labels: cherry-pick-required, milestone 1.12.6, size:M

#11237 feat: add dumpPatch flag
  charts/kyverno/README.md
  charts/kyverno/templates/_helpers.tpl
  charts/kyverno/templates/admission-controller/deployment.yaml
  charts/kyverno/values.yaml
  cmd/kyverno/main.go
  config/install-latest-testing.yaml
  pkg/toggle/context.go
  pkg/toggle/toggle.go
  pkg/webhooks/resource/mutation/mutation.go
Labels: cherry-pick-required, milestone 1.13.0, size:S

#11236 fix: policy status updates not stabilising
  pkg/autogen/rule.go
Labels: cherry-pick-required, milestone 1.12.6, size:M

#11246 Release `v1.12.6-rc.3`
  charts/kyverno-policies/Chart.yaml
  charts/kyverno-policies/README.md
  charts/kyverno/Chart.yaml
  charts/kyverno/README.md
  charts/kyverno/charts/crds/Chart.yaml
  charts/kyverno/charts/crds/README.md
  charts/kyverno/charts/grafana/Chart.yaml
  charts/kyverno/charts/grafana/README.md
  config/install-latest-testing.yaml
Labels: size:M

#11242 chore: remove uneeded cleanupJobs keys from values.yaml and README
  charts/kyverno/README.md
  charts/kyverno/README.md.gotmpl
  charts/kyverno/values.yaml
Labels: cherry-pick-required, milestone 1.13.0, size:XL

#11222 fix: foreach list validation
  pkg/engine/utils/foreach.go
  pkg/engine/utils/foreach_test.go
Labels: cherry-pick-required, milestone 1.13.0, size:M

#11247 Release v1.13.0-rc.1
  charts/kyverno-policies/Chart.yaml
  charts/kyverno-policies/README.md
  charts/kyverno/Chart.yaml
  charts/kyverno/README.md
  charts/kyverno/charts/crds/Chart.yaml
  charts/kyverno/charts/crds/README.md
  charts/kyverno/charts/grafana/Chart.yaml
  charts/kyverno/charts/grafana/README.md
  config/install-latest-testing.yaml
Labels: hold-merge, size:M

#11255 Release v1.12.6
  charts/kyverno-policies/Chart.yaml
  charts/kyverno-policies/README.md
  charts/kyverno/Chart.yaml
  charts/kyverno/README.md
  charts/kyverno/charts/crds/Chart.yaml
  charts/kyverno/charts/crds/README.md
  charts/kyverno/charts/grafana/Chart.yaml
  charts/kyverno/charts/grafana/README.md
  config/install-latest-testing.yaml
Labels: size:M

#11256 chore: pin go.opentelemetry.io/otel/semconv/v1.24.0
  pkg/metrics/metrics.go
  pkg/tracing/config.go
Labels: cherry-pick-required, milestone 1.13.0, size:XS

#11207 Added propagationPolicy to TTL controller for resource deletion
  api/kyverno/constants.go
  pkg/controllers/ttl/controller.go
Labels: milestone 1.14.0, size:M

#11263 add Corestream as an adopter
  ADOPTERS.md
Labels: milestone 1.14.0, size:XS

#11262 update PR templates for supported versions
  .github/ISSUE_TEMPLATE/bug-cli.yaml
  .github/ISSUE_TEMPLATE/bug-other.yaml
  .github/ISSUE_TEMPLATE/bug-webhook.yaml
Labels: milestone 1.14.0, size:M

#11267 fix: overwrite the managed-by label for target resources
  pkg/background/common/labels.go
  test/conformance/chainsaw/e2e-matrix.json
  test/conformance/chainsaw/generate/clusterpolicy/cornercases/clone-source-managed-by-label-helm/README.md
  test/conformance/chainsaw/generate/clusterpolicy/cornercases/clone-source-managed-by-label-helm/chainsaw-step-01-apply-1-1.yaml
  test/conformance/chainsaw/generate/clusterpolicy/cornercases/clone-source-managed-by-label-helm/chainsaw-step-01-apply-1-2.yaml
  test/conformance/chainsaw/generate/clusterpolicy/cornercases/clone-source-managed-by-label-helm/chainsaw-step-01-assert-1-1.yaml
  test/conformance/chainsaw/generate/clusterpolicy/cornercases/clone-source-managed-by-label-helm/chainsaw-step-02-apply-1-1.yaml
  test/conformance/chainsaw/generate/clusterpolicy/cornercases/clone-source-managed-by-label-helm/chainsaw-step-02-assert-1-1.yaml
  test/conformance/chainsaw/generate/clusterpolicy/cornercases/clone-source-managed-by-label-helm/chainsaw-step-06-apply-1-1.yaml
  test/conformance/chainsaw/generate/clusterpolicy/cornercases/clone-source-managed-by-label-helm/chainsaw-test.yaml
  test/conformance/chainsaw/generate/clusterpolicy/cornercases/clone-source-managed-by-label-helm/permissions.yaml
Labels: cherry-pick-required, size:L, milestone 1.12.7

#11266 Minor changes in dev docs
  docs/dev/api/README.md
  docs/dev/controllers/README.md
  docs/dev/feature-flags/README.md
  docs/dev/reports/README.md
  docs/dev/troubleshooting/reports.md
Labels: milestone 1.14.0, size:S

#11270 fix: overwrite the managed-by label for target resources (cherry-pick #11267)
  pkg/background/common/labels.go
  test/conformance/chainsaw/generate/clusterpolicy/cornercases/clone-source-managed-by-label-helm/README.md
  test/conformance/chainsaw/generate/clusterpolicy/cornercases/clone-source-managed-by-label-helm/chainsaw-step-01-apply-1-1.yaml
  test/conformance/chainsaw/generate/clusterpolicy/cornercases/clone-source-managed-by-label-helm/chainsaw-step-01-apply-1-2.yaml
  test/conformance/chainsaw/generate/clusterpolicy/cornercases/clone-source-managed-by-label-helm/chainsaw-step-01-assert-1-1.yaml
  test/conformance/chainsaw/generate/clusterpolicy/cornercases/clone-source-managed-by-label-helm/chainsaw-step-02-apply-1-1.yaml
  test/conformance/chainsaw/generate/clusterpolicy/cornercases/clone-source-managed-by-label-helm/chainsaw-step-02-assert-1-1.yaml
  test/conformance/chainsaw/generate/clusterpolicy/cornercases/clone-source-managed-by-label-helm/chainsaw-step-06-apply-1-1.yaml
  test/conformance/chainsaw/generate/clusterpolicy/cornercases/clone-source-managed-by-label-helm/chainsaw-test.yaml
  test/conformance/chainsaw/generate/clusterpolicy/cornercases/clone-source-managed-by-label-helm/permissions.yaml
Labels: size:L

#11271 fix(refactor): move breaker resource counter to pkg
  cmd/kyverno/main.go
  pkg/breaker/resource_counter.go
Labels: milestone 1.13.0, size:XS
