Repository kyverno/kyverno, pull requests merged in 2024-06, with the labels that each got.

#10360 Fix typo
  pkg/webhooks/handlers/filter.go
Labels: milestone 1.13.0

#10285 chore: bump k8s libs to 0.30
  charts/kyverno/charts/crds/templates/kyverno.io/kyverno.io_updaterequests.yaml
  charts/kyverno/values.yaml
  cmd/cli/kubectl-kyverno/data/data.go
  cmd/cli/kubectl-kyverno/exception/load.go
  cmd/cli/kubectl-kyverno/policy/load.go
  config/crds/kyverno/kyverno.io_updaterequests.yaml
  config/install-latest-testing.yaml
  ext/resource/loader/loader_test.go
  go.mod
  go.sum
  pkg/clients/kube/admissionregistrationv1/client.generated.go
  pkg/clients/kube/admissionregistrationv1/validatingadmissionpolicies/resource.generated.go
  pkg/clients/kube/admissionregistrationv1/validatingadmissionpolicybindings/resource.generated.go
  pkg/clients/kube/clientset.generated.go
  pkg/clients/kube/resourcev1alpha2/client.generated.go
  pkg/clients/kube/resourcev1alpha2/resourceclaimparameters/resource.generated.go
  pkg/clients/kube/resourcev1alpha2/resourceclassparameters/resource.generated.go
  pkg/clients/kube/resourcev1alpha2/resourceslices/resource.generated.go
  pkg/clients/kube/storagemigrationv1alpha1/client.generated.go
  pkg/clients/kube/storagemigrationv1alpha1/storageversionmigrations/resource.generated.go
  pkg/engine/handlers/validation/validate_cel.go
  pkg/pss/evaluate.go
  pkg/utils/cel/cel.go
  pkg/validatingadmissionpolicy/validate.go
  pkg/validatingadmissionpolicy/version_converter.go
  pkg/validation/policy/validate.go
Labels: milestone 1.13.0

#10378 chore: bump deps (part 1)
  go.mod
  go.sum
Labels: milestone 1.13.0

#10379 chore: update issue templates
  .github/ISSUE_TEMPLATE/bug-cli.yaml
  .github/ISSUE_TEMPLATE/bug-other.yaml
  .github/ISSUE_TEMPLATE/bug-webhook.yaml
Labels: milestone 1.13.0

#10348 fix: get ns labels in the cluster mode when using the CLI
  .github/workflows/conformance.yaml
  cmd/cli/kubectl-kyverno/processor/policy_processor.go
  test/conformance/chainsaw/cli/apply/apply-exception-with-ns-selector/README.md
  test/conformance/chainsaw/cli/apply/apply-exception-with-ns-selector/chainsaw-test.yaml
  test/conformance/chainsaw/cli/apply/apply-exception-with-ns-selector/exception.yaml
  test/conformance/chainsaw/cli/apply/apply-exception-with-ns-selector/pod.yaml
  test/conformance/chainsaw/cli/apply/apply-exception-with-ns-selector/policy.yaml
Labels: cherry-pick-required, milestone 1.12.4

#10381 chore: bump controller runtime
  go.mod
  go.sum
Labels: milestone 1.13.0

#10384 chore: bump a couple more deps
  go.mod
  go.sum
Labels: milestone 1.13.0

#10385 chore: bump a couple more deps
  go.mod
  go.sum
Labels: milestone 1.13.0

#10392 chore: bump a couple more deps
  go.mod
  go.sum
Labels: milestone 1.13.0

#10368 Add global tolerations
  charts/kyverno/Chart.yaml
  charts/kyverno/README.md
  charts/kyverno/templates/admission-controller/deployment.yaml
  charts/kyverno/templates/background-controller/deployment.yaml
  charts/kyverno/templates/cleanup-controller/deployment.yaml
  charts/kyverno/templates/cleanup/cleanup-admission-reports.yaml
  charts/kyverno/templates/cleanup/cleanup-cluster-admission-reports.yaml
  charts/kyverno/templates/cleanup/cleanup-cluster-ephemeral-reports.yaml
  charts/kyverno/templates/cleanup/cleanup-ephemeral-reports.yaml
  charts/kyverno/templates/cleanup/cleanup-update-requests.yaml
  charts/kyverno/templates/hooks/post-upgrade-clean-reports.yaml
  charts/kyverno/templates/hooks/post-upgrade-migrate-resources.yaml
  charts/kyverno/templates/hooks/pre-delete-scale-to-zero.yaml
  charts/kyverno/templates/reports-controller/deployment.yaml
  charts/kyverno/values.yaml
Labels: milestone 1.13.0

#9933 Fix : failed to parse BACKGROUND_SCAN_INTERVAL log message wrong
  pkg/policy/policy_controller.go
Labels: milestone 1.13.0

#10398 fix(gctx): returning old error
  pkg/globalcontext/externalapi/entry.go
Labels: API Call, cherry-pick-required, global context, milestone 1.12.4

#10133 support inline exceptions in cli apply
  cmd/cli/kubectl-kyverno/commands/apply/command.go
  cmd/cli/kubectl-kyverno/exception/load.go
  cmd/cli/kubectl-kyverno/exception/load_test.go
  docs/user/cli/commands/kyverno_apply.md
Labels: Documentation, milestone 1.13.0

#10404 fix: add verbosity to background scanner log
  pkg/controllers/report/utils/scanner.go
Labels: milestone 1.12.4

#10414 update dev guide
  DEVELOPMENT.md
Labels: milestone 1.13.0

#10416 chore: add chainsaw test for controllers leader election
  .github/workflows/conformance.yaml
  test/conformance/chainsaw/lease/admission-controller/chainsaw-test.yaml
  test/conformance/chainsaw/lease/background-controller/chainsaw-test.yaml
  test/conformance/chainsaw/lease/cleanup-controller/chainsaw-test.yaml
  test/conformance/chainsaw/lease/reports-controller/chainsaw-test.yaml
Labels: cherry-pick-required, milestone 1.12.4

#10423 fix: indentation in priority level configuration template for admission controller
  charts/kyverno/templates/admission-controller/prioritylevelconfiguration.yaml
Labels: milestone 1.13.0

#10431 fix: avoid creating duplicate urs for background policies
  api/kyverno/v1beta1/updaterequest_types.go
  charts/kyverno/charts/crds/templates/kyverno.io/kyverno.io_updaterequests.yaml
  config/crds/kyverno/kyverno.io_updaterequests.yaml
  config/install-latest-testing.yaml
  pkg/policy/generate.go
  pkg/policy/mutate.go
  pkg/policy/policy_controller.go
Labels: cherry-pick-required, milestone 1.12.4

#10455 chore: temporarily remove sigstore tests to unblock PRs
  .github/workflows/conformance.yaml
Labels: milestone 1.13.0

#10441 feat: add generateExisting field under the generate rule
  api/kyverno/v1/common_types.go
  api/kyverno/v1/spec_types.go
  api/kyverno/v1/zz_generated.deepcopy.go
  api/kyverno/v2beta1/spec_types.go
  charts/kyverno/charts/crds/templates/kyverno.io/kyverno.io_clusterpolicies.yaml
  charts/kyverno/charts/crds/templates/kyverno.io/kyverno.io_policies.yaml
  cmd/cli/kubectl-kyverno/data/crds/kyverno.io_clusterpolicies.yaml
  cmd/cli/kubectl-kyverno/data/crds/kyverno.io_policies.yaml
  config/crds/kyverno/kyverno.io_clusterpolicies.yaml
  config/crds/kyverno/kyverno.io_policies.yaml
  config/install-latest-testing.yaml
  docs/user/crd/index.html
  docs/user/crd/kyverno.v1.html
  docs/user/crd/kyverno.v2beta1.html
  pkg/client/applyconfigurations/kyverno/v1/generation.go
Labels: milestone 1.13.0, apiversion-management

#10462 fix: fetch all branches (max 100) in report on vulnerability workflow
  .github/workflows/report-on-vulnerabilities.yaml
Labels: milestone 1.13.0

#10457 feat: cleanup v2alpha1 kyverno api
  api/kyverno/v2/cleanup_policy_types.go
  api/kyverno/v2/policy_exception_types.go
  api/kyverno/v2alpha1/cleanup_policy_test.go
  api/kyverno/v2alpha1/cleanup_policy_types.go
  api/kyverno/v2alpha1/policy_exception_types.go
  api/kyverno/v2alpha1/zz_generated.deepcopy.go
  api/kyverno/v2alpha1/zz_generated.register.go
  api/kyverno/v2beta1/cleanup_policy_interface.go
  api/kyverno/v2beta1/cleanup_policy_types.go
  api/kyverno/v2beta1/policy_exception_types.go
  charts/kyverno/charts/crds/templates/kyverno.io/kyverno.io_cleanuppolicies.yaml
  charts/kyverno/charts/crds/templates/kyverno.io/kyverno.io_clustercleanuppolicies.yaml
  charts/kyverno/charts/crds/templates/kyverno.io/kyverno.io_policyexceptions.yaml
  cmd/cleanup-controller/main.go
  cmd/cli/kubectl-kyverno/data/crds/kyverno.io_policyexceptions.yaml
  cmd/cli/kubectl-kyverno/exception/load.go
  cmd/cli/kubectl-kyverno/exception/load_test.go
  config/crds/kyverno/kyverno.io_cleanuppolicies.yaml
  config/crds/kyverno/kyverno.io_clustercleanuppolicies.yaml
  config/crds/kyverno/kyverno.io_policyexceptions.yaml
  config/install-latest-testing.yaml
  docs/user/crd/index.html
  docs/user/crd/kyverno.v2alpha1.html
  docs/user/crd/kyverno.v2beta1.html
  pkg/client/applyconfigurations/kyverno/v2alpha1/cleanuppolicy.go
  pkg/client/applyconfigurations/kyverno/v2alpha1/clustercleanuppolicy.go
  pkg/client/applyconfigurations/kyverno/v2alpha1/policyexception.go
  pkg/client/applyconfigurations/utils.go
  pkg/client/clientset/versioned/typed/kyverno/v2alpha1/cleanuppolicy.go
  pkg/client/clientset/versioned/typed/kyverno/v2alpha1/clustercleanuppolicy.go
  pkg/client/clientset/versioned/typed/kyverno/v2alpha1/fake/fake_cleanuppolicy.go
  pkg/client/clientset/versioned/typed/kyverno/v2alpha1/fake/fake_clustercleanuppolicy.go
  pkg/client/clientset/versioned/typed/kyverno/v2alpha1/fake/fake_kyverno_client.go
  pkg/client/clientset/versioned/typed/kyverno/v2alpha1/fake/fake_policyexception.go
  pkg/client/clientset/versioned/typed/kyverno/v2alpha1/generated_expansion.go
  pkg/client/clientset/versioned/typed/kyverno/v2alpha1/kyverno_client.go
  pkg/client/clientset/versioned/typed/kyverno/v2alpha1/policyexception.go
  pkg/client/informers/externalversions/generic.go
  pkg/client/informers/externalversions/kyverno/v2alpha1/cleanuppolicy.go
  pkg/client/informers/externalversions/kyverno/v2alpha1/clustercleanuppolicy.go
  pkg/client/informers/externalversions/kyverno/v2alpha1/interface.go
  pkg/client/informers/externalversions/kyverno/v2alpha1/policyexception.go
  pkg/client/listers/kyverno/v2alpha1/cleanuppolicy.go
  pkg/client/listers/kyverno/v2alpha1/clustercleanuppolicy.go
  pkg/client/listers/kyverno/v2alpha1/expansion_generated.go
  pkg/client/listers/kyverno/v2alpha1/policyexception.go
  pkg/clients/kyverno/kyvernov2alpha1/cleanuppolicies/resource.generated.go
  pkg/clients/kyverno/kyvernov2alpha1/client.generated.go
  pkg/clients/kyverno/kyvernov2alpha1/clustercleanuppolicies/resource.generated.go
  pkg/clients/kyverno/kyvernov2alpha1/policyexceptions/resource.generated.go
  pkg/controllers/cleanup/controller.go
  pkg/event/events.go
  pkg/utils/admission/cleanup.go
  pkg/utils/admission/cleanup_test.go
  pkg/validation/cleanuppolicy/validate.go
Labels: release notes, milestone 1.13.0, apiversion-management

#10473 feat: add custom sigstore conformance tests
  .github/workflows/conformance.yaml
  test/conformance/chainsaw/custom-sigstore/standard/basic/policy.yaml
Labels: cherry-pick-required, milestone 1.12.4

#10463 feat: add workflow to cleanup stale branches
  .github/workflows/clean-stale-branches.yaml
Labels: milestone 1.13.0

#10480 feat: fix custom sigstore conformance tests (#10473)
  .github/workflows/conformance.yaml
  test/conformance/chainsaw/custom-sigstore/standard/basic/policy.yaml
Labels: milestone 1.12.4

#10491 fix: use generate name for admission reports
  pkg/utils/report/new.go
Labels: cherry-pick-required, milestone 1.12.5

#10487 test: Improved test coverage for clusterpolicy_types.go
  api/kyverno/v1/clusterpolicy_test.go
Labels: milestone 1.13.0

#10496 chore: bump bitnami/kubectl to 1.30.2
  charts/kyverno/README.md
  charts/kyverno/values.yaml
  config/install-latest-testing.yaml
Labels: milestone 1.13.0

#10228 feat: add support for cosign experimental OCI 1.1 signatures
  api/kyverno/v1/image_verification_types.go
  charts/kyverno/charts/crds/templates/kyverno.io/kyverno.io_clusterpolicies.yaml
  charts/kyverno/charts/crds/templates/kyverno.io/kyverno.io_policies.yaml
  cmd/cli/kubectl-kyverno/data/crds/kyverno.io_clusterpolicies.yaml
  cmd/cli/kubectl-kyverno/data/crds/kyverno.io_policies.yaml
  config/crds/kyverno/kyverno.io_clusterpolicies.yaml
  config/crds/kyverno/kyverno.io_policies.yaml
  config/install-latest-testing.yaml
  docs/user/crd/index.html
  docs/user/crd/kyverno.v1.html
  pkg/client/applyconfigurations/kyverno/v1/imageverification.go
  pkg/cosign/cosign.go
  pkg/cosign/cosign_test.go
  pkg/engine/internal/imageverifier.go
  pkg/images/verifier.go
  test/conformance/chainsaw/verifyImages/clusterpolicy/standard/keyed-oci11/README.md
  test/conformance/chainsaw/verifyImages/clusterpolicy/standard/keyed-oci11/chainsaw-step-01-apply-1.yaml
  test/conformance/chainsaw/verifyImages/clusterpolicy/standard/keyed-oci11/chainsaw-step-01-apply-2.yaml
  test/conformance/chainsaw/verifyImages/clusterpolicy/standard/keyed-oci11/chainsaw-step-01-assert-1.yaml
  test/conformance/chainsaw/verifyImages/clusterpolicy/standard/keyed-oci11/chainsaw-step-02-apply-1.yaml
  test/conformance/chainsaw/verifyImages/clusterpolicy/standard/keyed-oci11/chainsaw-step-02-assert-1.yaml
  test/conformance/chainsaw/verifyImages/clusterpolicy/standard/keyed-oci11/chainsaw-test.yaml
Labels: Documentation, milestone 1.13.0

#10501 fix: missing codegen deep copy dependency
  Makefile
Labels: milestone 1.13.0

#10461 feat: add mutateExistingOnPolicyUpdate field under the mutate rule
  api/kyverno/v1/common_types.go
  api/kyverno/v1/spec_types.go
  api/kyverno/v1/zz_generated.deepcopy.go
  api/kyverno/v2beta1/spec_types.go
  charts/kyverno/charts/crds/templates/kyverno.io/kyverno.io_clusterpolicies.yaml
  charts/kyverno/charts/crds/templates/kyverno.io/kyverno.io_policies.yaml
  cmd/cli/kubectl-kyverno/data/crds/kyverno.io_clusterpolicies.yaml
  cmd/cli/kubectl-kyverno/data/crds/kyverno.io_policies.yaml
  config/crds/kyverno/kyverno.io_clusterpolicies.yaml
  config/crds/kyverno/kyverno.io_policies.yaml
  config/install-latest-testing.yaml
  docs/user/crd/index.html
  docs/user/crd/kyverno.v1.html
  docs/user/crd/kyverno.v2beta1.html
  pkg/client/applyconfigurations/kyverno/v1/mutation.go
Labels: milestone 1.13.0, apiversion-management

#10507 chore: use mutateExistingOnPolicyUpdate under mutate rule in chainsaw tests
  pkg/engine/mutation_test.go
  test/conformance/chainsaw/generate/clusterpolicy/cornercases/pod-restart-on-cm-update/policy.yaml
  test/conformance/chainsaw/mutate/clusterpolicy/cornercases/variables-mutate-existing/chainsaw-step-01-apply-1-1.yaml
  test/conformance/chainsaw/mutate/clusterpolicy/standard/existing/background-false/chainsaw-step-01-apply-1-2.yaml
  test/conformance/chainsaw/mutate/clusterpolicy/standard/existing/basic-create-patchesJson6902/chainsaw-step-01-apply-1-3.yaml
  test/conformance/chainsaw/mutate/clusterpolicy/standard/existing/basic-create/chainsaw-step-01-apply-1-3.yaml
  test/conformance/chainsaw/mutate/clusterpolicy/standard/existing/basic-delete/chainsaw-step-01-apply-1-4.yaml
  test/conformance/chainsaw/mutate/clusterpolicy/standard/existing/basic-update/chainsaw-step-01-apply-1-4.yaml
  test/conformance/chainsaw/mutate/clusterpolicy/standard/existing/delete-trigger-namespace/policy.yaml
  test/conformance/chainsaw/mutate/clusterpolicy/standard/existing/multiple-rules-match-exclude/chainsaw-step-01-apply-1-5.yaml
  test/conformance/chainsaw/mutate/clusterpolicy/standard/existing/multiple-trigger-resources/policy.yaml
  test/conformance/chainsaw/mutate/clusterpolicy/standard/existing/namespaceselector/policy.yaml
  test/conformance/chainsaw/mutate/clusterpolicy/standard/existing/onpolicyupdate/basic-create-policy/chainsaw-step-02-apply-1-1.yaml
  test/conformance/chainsaw/mutate/clusterpolicy/standard/existing/onpolicyupdate/namespaceselector/policy.yaml
  test/conformance/chainsaw/mutate/clusterpolicy/standard/existing/preconditions/policy.yaml
  test/conformance/chainsaw/mutate/clusterpolicy/standard/existing/validation/auth-check/cpol-namespace-variable/policy.yaml
  test/conformance/chainsaw/mutate/clusterpolicy/standard/existing/validation/auth-check/cpol-standard-auth-check/policy.yaml
  test/conformance/chainsaw/mutate/clusterpolicy/standard/existing/validation/mutate-existing-require-targets/policy-no-targets.yaml
  test/conformance/chainsaw/mutate/clusterpolicy/standard/existing/validation/mutate-existing-require-targets/policy-targets.yaml
  test/conformance/chainsaw/mutate/clusterpolicy/standard/existing/validation/target-variable-validation/policy-bad.yaml
  test/conformance/chainsaw/mutate/clusterpolicy/standard/existing/validation/target-variable-validation/policy-good.yaml
  test/conformance/chainsaw/mutate/policy/standard/existing/validation/auth-check/policy.yaml
  test/conformance/chainsaw/validate/clusterpolicy/cornercases/schema-validation-for-mutateExisting/policy.yaml
Labels: milestone 1.13.0, apiversion-management

#10504 feat: remove old intermediate reports types
  Makefile
  api/kyverno/v2/admission_report_types.go
  api/kyverno/v2/background_scan_report_types.go
  api/kyverno/v2/zz_generated.deepcopy.go
  api/kyverno/v2/zz_generated.register.go
  charts/kyverno/README.md
  charts/kyverno/charts/crds/templates/kyverno.io/kyverno.io_admissionreports.yaml
  charts/kyverno/charts/crds/templates/kyverno.io/kyverno.io_backgroundscanreports.yaml
  charts/kyverno/charts/crds/templates/kyverno.io/kyverno.io_clusteradmissionreports.yaml
  charts/kyverno/charts/crds/templates/kyverno.io/kyverno.io_clusterbackgroundscanreports.yaml
  charts/kyverno/values.yaml
  cmd/reports-controller/main.go
  config/crds/kyverno/kyverno.io_admissionreports.yaml
  config/crds/kyverno/kyverno.io_backgroundscanreports.yaml
  config/crds/kyverno/kyverno.io_clusteradmissionreports.yaml
  config/crds/kyverno/kyverno.io_clusterbackgroundscanreports.yaml
  config/install-latest-testing.yaml
  docs/user/crd/index.html
  pkg/client/applyconfigurations/kyverno/v2/admissionreport.go
  pkg/client/applyconfigurations/kyverno/v2/admissionreportspec.go
  pkg/client/applyconfigurations/kyverno/v2/backgroundscanreport.go
  pkg/client/applyconfigurations/kyverno/v2/backgroundscanreportspec.go
  pkg/client/applyconfigurations/kyverno/v2/clusteradmissionreport.go
  pkg/client/applyconfigurations/kyverno/v2/clusterbackgroundscanreport.go
  pkg/client/applyconfigurations/utils.go
  pkg/client/clientset/versioned/typed/kyverno/v2/admissionreport.go
  pkg/client/clientset/versioned/typed/kyverno/v2/backgroundscanreport.go
  pkg/client/clientset/versioned/typed/kyverno/v2/clusteradmissionreport.go
  pkg/client/clientset/versioned/typed/kyverno/v2/clusterbackgroundscanreport.go
  pkg/client/clientset/versioned/typed/kyverno/v2/fake/fake_admissionreport.go
  pkg/client/clientset/versioned/typed/kyverno/v2/fake/fake_backgroundscanreport.go
  pkg/client/clientset/versioned/typed/kyverno/v2/fake/fake_clusteradmissionreport.go
  pkg/client/clientset/versioned/typed/kyverno/v2/fake/fake_clusterbackgroundscanreport.go
  pkg/client/clientset/versioned/typed/kyverno/v2/fake/fake_kyverno_client.go
  pkg/client/clientset/versioned/typed/kyverno/v2/generated_expansion.go
  pkg/client/clientset/versioned/typed/kyverno/v2/kyverno_client.go
  pkg/client/informers/externalversions/generic.go
  pkg/client/informers/externalversions/kyverno/v2/admissionreport.go
  pkg/client/informers/externalversions/kyverno/v2/backgroundscanreport.go
  pkg/client/informers/externalversions/kyverno/v2/clusteradmissionreport.go
  pkg/client/informers/externalversions/kyverno/v2/clusterbackgroundscanreport.go
  pkg/client/informers/externalversions/kyverno/v2/interface.go
  pkg/client/listers/kyverno/v2/admissionreport.go
  pkg/client/listers/kyverno/v2/backgroundscanreport.go
  pkg/client/listers/kyverno/v2/clusteradmissionreport.go
  pkg/client/listers/kyverno/v2/clusterbackgroundscanreport.go
  pkg/client/listers/kyverno/v2/expansion_generated.go
  pkg/clients/kyverno/kyvernov2/admissionreports/resource.generated.go
  pkg/clients/kyverno/kyvernov2/backgroundscanreports/resource.generated.go
  pkg/clients/kyverno/kyvernov2/client.generated.go
  pkg/clients/kyverno/kyvernov2/clusteradmissionreports/resource.generated.go
  pkg/clients/kyverno/kyvernov2/clusterbackgroundscanreports/resource.generated.go
Labels: milestone 1.13.0, apiversion-management

#10515 feat: migrate webhookTimeoutSeconds and failurePolicy
  api/kyverno/v1/common_types.go
  api/kyverno/v1/spec_types.go
  api/kyverno/v1/zz_generated.deepcopy.go
  api/kyverno/v2beta1/common_types.go
  api/kyverno/v2beta1/spec_types.go
  api/kyverno/v2beta1/zz_generated.deepcopy.go
  charts/kyverno/charts/crds/templates/kyverno.io/kyverno.io_clusterpolicies.yaml
  charts/kyverno/charts/crds/templates/kyverno.io/kyverno.io_policies.yaml
  cmd/cli/kubectl-kyverno/data/crds/kyverno.io_clusterpolicies.yaml
  cmd/cli/kubectl-kyverno/data/crds/kyverno.io_policies.yaml
  config/crds/kyverno/kyverno.io_clusterpolicies.yaml
  config/crds/kyverno/kyverno.io_policies.yaml
  config/install-latest-testing.yaml
  docs/user/crd/index.html
  docs/user/crd/kyverno.v1.html
  docs/user/crd/kyverno.v2beta1.html
  pkg/client/applyconfigurations/kyverno/v1/webhookconfiguration.go
  pkg/client/applyconfigurations/kyverno/v2beta1/spec.go
  pkg/client/applyconfigurations/utils.go
  pkg/controllers/webhook/controller.go
Labels: milestone 1.13.0, apiversion-management

#10521 fix: Golang CVE
  .github/actions/setup-build-env/action.yaml
  go.mod
Labels: milestone 1.11.5

#10474 fix: add BuildTime and BuildHash in version info
  .goreleaser.yml
Labels: milestone 1.13.0

#10529 chore: use v2 for exceptions in chainsaw tests
  cmd/cli/kubectl-kyverno/commands/create/exception/command_test.go
  cmd/cli/kubectl-kyverno/commands/create/templates/exception.yaml
  pkg/event/events.go
  pkg/validation/exception/validate_test.go
  test/cli/test-exceptions/exceptions-1/exception.yaml
  test/cli/test-exceptions/exceptions-2/exception.yaml
  test/cli/test-exceptions/exceptions-3/exception.yaml
  test/conformance/chainsaw/cli/apply/apply-exception-with-ns-selector/exception.yaml
  test/conformance/chainsaw/exceptions/allows-rejects-creation/exception.yaml
  test/conformance/chainsaw/exceptions/applies-to-delete/exception.yaml
  test/conformance/chainsaw/exceptions/background-mode/standard/exception-allowed.yaml
  test/conformance/chainsaw/exceptions/background-mode/standard/exception-rejected.yaml
  test/conformance/chainsaw/exceptions/conditions/exception.yaml
  test/conformance/chainsaw/exceptions/events-creation/chainsaw-step-02-apply-2.yaml
  test/conformance/chainsaw/exceptions/exclude-capabilities/exception.yaml
  test/conformance/chainsaw/exceptions/exclude-host-ports/exception.yaml
  test/conformance/chainsaw/exceptions/exclude-host-process-and-host-namespaces/exception.yaml
  test/conformance/chainsaw/exceptions/exclude-hostpath-volume/exception.yaml
  test/conformance/chainsaw/exceptions/exclude-privilege-escalation/exception.yaml
  test/conformance/chainsaw/exceptions/exclude-privileged-containers/exception.yaml
  test/conformance/chainsaw/exceptions/exclude-restricted-capabilities/exception.yaml
  test/conformance/chainsaw/exceptions/exclude-restricted-seccomp/exception.yaml
  test/conformance/chainsaw/exceptions/exclude-running-as-nonroot-user/exception.yaml
  test/conformance/chainsaw/exceptions/exclude-running-as-nonroot/exception.yaml
  test/conformance/chainsaw/exceptions/exclude-seccomp/exception.yaml
  test/conformance/chainsaw/exceptions/exclude-selinux/exception.yaml
  test/conformance/chainsaw/exceptions/exclude-sysctls/exception.yaml
  test/conformance/chainsaw/exceptions/exclude-volume-types/exception.yaml
  test/conformance/chainsaw/exceptions/good-bad-conditions/failing-exception.yaml
  test/conformance/chainsaw/exceptions/good-bad-conditions/passing-exception.yaml
  test/conformance/chainsaw/exceptions/only-for-specific-user/exception.yaml
  test/conformance/chainsaw/exceptions/with-wildcard/exception.yaml
  test/conformance/chainsaw/generate-validating-admission-policy/clusterpolicy/standard/skip-generate/cpol-with-exceptions/exception.yaml
  test/conformance/chainsaw/policy-validation/cluster-policy/policy-exceptions-disabled/policy_exception.yaml
  test/conformance/chainsaw/reports/admission/exception/exception.yaml
  test/conformance/chainsaw/reports/background/exception-with-conditions/exception.yaml
  test/conformance/chainsaw/reports/background/exception-with-podsecurity/exception.yaml
  test/conformance/chainsaw/reports/background/exception/exception.yaml
  test/conformance/chainsaw/validate/clusterpolicy/standard/enforce/bypass-with-policy-exception/chainsaw-step-01-apply-1-4.yaml
  test/conformance/chainsaw/validate/clusterpolicy/standard/enforce/bypass-with-policy-exception/chainsaw-step-01-assert-1-3.yaml
Labels: milestone 1.13.0, apiversion-management

#10530 chore: use v2 clients for policy exceptions
  api/kyverno/v2/policy_exception_types.go
  cmd/cli/kubectl-kyverno/commands/apply/command.go
  cmd/cli/kubectl-kyverno/exception/load.go
  cmd/cli/kubectl-kyverno/processor/exceptions.go
  cmd/cli/kubectl-kyverno/processor/policy_processor.go
  cmd/internal/engine.go
  cmd/kyverno/main.go
  cmd/reports-controller/main.go
  pkg/controllers/exceptions/controller.go
  pkg/controllers/report/background/controller.go
  pkg/controllers/report/utils/utils.go
  pkg/controllers/validatingadmissionpolicy-generate/controller.go
  pkg/engine/api/ruleresponse.go
  pkg/engine/api/selector.go
  pkg/engine/exceptions.go
  pkg/engine/handlers/handler.go
  pkg/engine/handlers/mutation/mutate_existing.go
  pkg/engine/handlers/mutation/mutate_image.go
  pkg/engine/handlers/mutation/mutate_resource.go
  pkg/engine/handlers/validation/validate_cel.go
  pkg/engine/handlers/validation/validate_image.go
  pkg/engine/handlers/validation/validate_manifest.go
  pkg/engine/handlers/validation/validate_pss.go
  pkg/engine/handlers/validation/validate_resource.go
  pkg/engine/utils/exceptions.go
  pkg/exceptions/selector.go
  pkg/utils/admission/exception.go
  pkg/utils/admission/exception_test.go
  pkg/utils/report/metadata.go
  pkg/validation/exception/validate.go
  pkg/webhooks/resource/fake.go
Labels: milestone 1.13.0, apiversion-management

#10499 feat: add reports circuit breaker
  cmd/kyverno/breaker.go
  cmd/kyverno/main.go
  pkg/d4f/breaker.go
  pkg/d4f/breaker_test.go
  pkg/webhooks/resource/handlers.go
  pkg/webhooks/resource/imageverification/handler.go
  pkg/webhooks/resource/validation/validation.go
Labels: cherry-pick-required, milestone 1.12.5

#10478 fix: reset mutable fields orphandownstream
  pkg/validation/policy/generate.go
  test/conformance/chainsaw/generate/clusterpolicy/standard/data/sync/cpol-data-sync-orphan-downstream-delete-policy/chainsaw-test.yaml
  test/conformance/chainsaw/generate/clusterpolicy/standard/data/sync/cpol-data-sync-orphan-downstream-delete-policy/configmap-assert.yaml
  test/conformance/chainsaw/generate/clusterpolicy/standard/data/sync/cpol-data-sync-orphan-downstream-delete-policy/configmap.yaml
  test/conformance/chainsaw/generate/clusterpolicy/standard/data/sync/cpol-data-sync-orphan-downstream-delete-policy/namespace.yaml
  test/conformance/chainsaw/generate/clusterpolicy/standard/data/sync/cpol-data-sync-orphan-downstream-delete-policy/policy-orphan.yaml
  test/conformance/chainsaw/generate/clusterpolicy/standard/data/sync/cpol-data-sync-orphan-downstream-delete-policy/policy-ready.yaml
  test/conformance/chainsaw/generate/clusterpolicy/standard/data/sync/cpol-data-sync-orphan-downstream-delete-policy/policy.yaml
  test/conformance/chainsaw/generate/validation/clusterpolicy/orphan/README.md
  test/conformance/chainsaw/generate/validation/clusterpolicy/orphan/chainsaw-test.yaml
  test/conformance/chainsaw/generate/validation/clusterpolicy/orphan/policy-assert.yaml
  test/conformance/chainsaw/generate/validation/clusterpolicy/orphan/policy-with-orphan.yaml
  test/conformance/chainsaw/generate/validation/clusterpolicy/orphan/policy.yaml
Labels: milestone 1.13.0

#10533 feat: remove old reports from helm chart and disable cleanup jobs by default
  charts/kyverno/README.md
  charts/kyverno/charts/crds/README.md
  charts/kyverno/charts/crds/values.yaml
  charts/kyverno/ci/cleanupJobs-values.yaml
  charts/kyverno/templates/admission-controller/clusterrole.yaml
  charts/kyverno/templates/admission-controller/flowschema.yaml
  charts/kyverno/templates/cleanup/cleanup-admission-reports.yaml
  charts/kyverno/templates/cleanup/cleanup-cluster-admission-reports.yaml
  charts/kyverno/templates/cleanup/cleanup-update-requests.yaml
  charts/kyverno/templates/cleanup/clusterrole.yaml
  charts/kyverno/templates/rbac/reports.yaml
  charts/kyverno/templates/reports-controller/clusterrole.yaml
  charts/kyverno/templates/reports-controller/flowschema.yaml
  charts/kyverno/values.yaml
  config/install-latest-testing.yaml
  test/conformance/chainsaw/generate/clusterpolicy/cornercases/cpol-data-trigger-not-present/rbac.yaml
  test/conformance/chainsaw/rbac/aggregate-to-admin/admin-reports.yaml
Labels: milestone 1.13.0

#10310 fix: correctly validate patterns for old and new objects
  pkg/background/generate/generate.go
  test/conformance/chainsaw/generate/clusterpolicy/standard/data/sync/cpol-data-sync-modify-downstream/chainsaw-step-06-apply-1-1.yaml
  test/conformance/chainsaw/generate/clusterpolicy/standard/data/sync/cpol-data-sync-modify-downstream/chainsaw-step-08-assert-1-1.yaml
  test/conformance/chainsaw/generate/clusterpolicy/standard/data/sync/cpol-data-sync-modify-downstream/chainsaw-test.yaml
Labels: cherry-pick-required, milestone 1.12.5

#10528 feat: migrate validationFailureAction and validationFailureActionOverrides
  api/kyverno/v1/common_types.go
  api/kyverno/v1/spec_types.go
  api/kyverno/v1/zz_generated.deepcopy.go
  api/kyverno/v2beta1/common_types.go
  api/kyverno/v2beta1/spec_types.go
  api/kyverno/v2beta1/zz_generated.deepcopy.go
  charts/kyverno/charts/crds/templates/kyverno.io/kyverno.io_clusterpolicies.yaml
  charts/kyverno/charts/crds/templates/kyverno.io/kyverno.io_policies.yaml
  cmd/cli/kubectl-kyverno/data/crds/kyverno.io_clusterpolicies.yaml
  cmd/cli/kubectl-kyverno/data/crds/kyverno.io_policies.yaml
  cmd/cli/kubectl-kyverno/policy/load_test.go
  config/crds/kyverno/kyverno.io_clusterpolicies.yaml
  config/crds/kyverno/kyverno.io_policies.yaml
  config/install-latest-testing.yaml
  docs/user/crd/index.html
  docs/user/crd/kyverno.v1.html
  docs/user/crd/kyverno.v2beta1.html
  pkg/client/applyconfigurations/kyverno/v1/validation.go
  pkg/client/applyconfigurations/kyverno/v2beta1/validation.go
  pkg/controllers/metrics/policy/metrics.go
  pkg/engine/api/engineresponse.go
  pkg/engine/api/engineresponse_test.go
  pkg/metrics/parsers.go
  pkg/policycache/cache.go
  pkg/policycache/store.go
  pkg/validatingadmissionpolicy/builder.go
  pkg/validatingadmissionpolicy/kyvernopolicy_checker.go
  pkg/validatingadmissionpolicy/kyvernopolicy_checker_test.go
  pkg/validation/policy/validate.go
  pkg/webhooks/resource/validation/validation.go
  pkg/webhooks/resource/validation_test.go
  pkg/webhooks/utils/block_test.go
Labels: milestone 1.13.0, apiversion-management

#10543 feat: remove kyverno client v2beta1
  Makefile
  api/kyverno/v2/cleanup_policy_interface.go
  api/kyverno/v2/match_resources_test.go
  api/kyverno/v2/match_resources_types.go
  api/kyverno/v2/policy_exception_types.go
  api/kyverno/v2/zz_generated.deepcopy.go
  cmd/cleanup-controller/main.go
  docs/user/crd/index.html
  pkg/client/applyconfigurations/kyverno/v2/cleanuppolicyspec.go
  pkg/client/applyconfigurations/kyverno/v2/policyexceptionspec.go
  pkg/client/applyconfigurations/kyverno/v2beta1/webhookconfiguration.go
  pkg/client/applyconfigurations/utils.go
  pkg/client/clientset/versioned/clientset.go
  pkg/client/clientset/versioned/fake/clientset_generated.go
  pkg/client/clientset/versioned/fake/register.go
  pkg/client/clientset/versioned/scheme/register.go
  pkg/client/clientset/versioned/typed/kyverno/v2beta1/cleanuppolicy.go
  pkg/client/clientset/versioned/typed/kyverno/v2beta1/clustercleanuppolicy.go
  pkg/client/clientset/versioned/typed/kyverno/v2beta1/clusterpolicy.go
  pkg/client/clientset/versioned/typed/kyverno/v2beta1/doc.go
  pkg/client/clientset/versioned/typed/kyverno/v2beta1/fake/doc.go
  pkg/client/clientset/versioned/typed/kyverno/v2beta1/fake/fake_cleanuppolicy.go
  pkg/client/clientset/versioned/typed/kyverno/v2beta1/fake/fake_clustercleanuppolicy.go
  pkg/client/clientset/versioned/typed/kyverno/v2beta1/fake/fake_clusterpolicy.go
  pkg/client/clientset/versioned/typed/kyverno/v2beta1/fake/fake_kyverno_client.go
  pkg/client/clientset/versioned/typed/kyverno/v2beta1/fake/fake_policy.go
  pkg/client/clientset/versioned/typed/kyverno/v2beta1/fake/fake_policyexception.go
  pkg/client/clientset/versioned/typed/kyverno/v2beta1/generated_expansion.go
  pkg/client/clientset/versioned/typed/kyverno/v2beta1/kyverno_client.go
  pkg/client/clientset/versioned/typed/kyverno/v2beta1/policy.go
  pkg/client/clientset/versioned/typed/kyverno/v2beta1/policyexception.go
  pkg/client/informers/externalversions/generic.go
  pkg/client/informers/externalversions/kyverno/interface.go
  pkg/client/informers/externalversions/kyverno/v2beta1/cleanuppolicy.go
  pkg/client/informers/externalversions/kyverno/v2beta1/clustercleanuppolicy.go
  pkg/client/informers/externalversions/kyverno/v2beta1/clusterpolicy.go
  pkg/client/informers/externalversions/kyverno/v2beta1/interface.go
  pkg/client/informers/externalversions/kyverno/v2beta1/policy.go
  pkg/client/informers/externalversions/kyverno/v2beta1/policyexception.go
  pkg/clients/kyverno/clientset.generated.go
  pkg/clients/kyverno/kyvernov2beta1/cleanuppolicies/resource.generated.go
  pkg/clients/kyverno/kyvernov2beta1/client.generated.go
  pkg/clients/kyverno/kyvernov2beta1/clustercleanuppolicies/resource.generated.go
  pkg/clients/kyverno/kyvernov2beta1/clusterpolicies/resource.generated.go
  pkg/clients/kyverno/kyvernov2beta1/policies/resource.generated.go
  pkg/clients/kyverno/kyvernov2beta1/policyexceptions/resource.generated.go
  pkg/controllers/cleanup/controller.go
  pkg/event/events.go
  pkg/utils/admission/cleanup.go
  pkg/utils/admission/cleanup_test.go
  pkg/utils/conditions/condition.go
  pkg/utils/conditions/condition_test.go
  pkg/validation/cleanuppolicy/validate.go
Labels: milestone 1.13.0, apiversion-management

#10550 feat: rework conditions marshaling
  api/kyverno/v2/condition.go
  api/kyverno/v2/condition_test.go
  api/kyverno/v2/zz_generated.deepcopy.go
  docs/user/crd/index.html
  pkg/client/applyconfigurations/kyverno/v2/any.go
  pkg/client/applyconfigurations/kyverno/v2/condition.go
  pkg/utils/conditions/condition_test.go
Labels: milestone 1.13.0

#10553 feat: make any struct common to all api versions
  api/kyverno/any.go
  api/kyverno/v2/condition.go
  api/kyverno/v2/condition_test.go
  docs/user/crd/index.html
  pkg/client/applyconfigurations/kyverno/v2/condition.go
  pkg/utils/conditions/condition_test.go
Labels: milestone 1.13.0

#10557 feat: add 1.12.4 to issue templates
  .github/ISSUE_TEMPLATE/bug-cli.yaml
  .github/ISSUE_TEMPLATE/bug-other.yaml
  .github/ISSUE_TEMPLATE/bug-webhook.yaml
Labels: milestone 1.13.0

#10560 move mutate existing rule skipped log to v4
  pkg/background/mutate/mutate.go
Labels: milestone 1.13.0

#10554 fix rule type for mutate and generate rules
  pkg/engine/background.go
  pkg/engine/handlers/mutation/mutate_existing.go
  pkg/engine/handlers/mutation/mutate_image.go
  pkg/engine/handlers/mutation/mutate_resource.go
Labels: milestone 1.13.0
