Repository kyverno/kyverno, pull requests merged in 2024-05, with the labels that each got.

#10152 fix: add error check in jmespath type conversion in context variables
  pkg/engine/context/loaders/variable.go
  test/conformance/chainsaw/validate/clusterpolicy/cornercases/invalid-jmespath-variable-substitution/README.md
  test/conformance/chainsaw/validate/clusterpolicy/cornercases/invalid-jmespath-variable-substitution/chainsaw-test.yaml
  test/conformance/chainsaw/validate/clusterpolicy/cornercases/invalid-jmespath-variable-substitution/pod.yaml
  test/conformance/chainsaw/validate/clusterpolicy/cornercases/invalid-jmespath-variable-substitution/policy-assert.yaml
  test/conformance/chainsaw/validate/clusterpolicy/cornercases/invalid-jmespath-variable-substitution/policy.yaml
Labels: cherry-pick-required, milestone 1.13.0, milestone 1.12.1

#10156 Ensure CA certificate ConfigMaps get defined
  charts/kyverno/Chart.yaml
  charts/kyverno/ci/caCertsConfigMap-values.yaml
  charts/kyverno/templates/admission-controller/configmap.yaml
  charts/kyverno/templates/background-controller/configmap.yaml
  charts/kyverno/templates/reports-controller/configmap.yaml
Labels: cherry-pick-required, milestone 1.13.0, milestone 1.12.1

#10162 fix: add pods/ephemeralcontainers to the generated VAPs
  pkg/validatingadmissionpolicy/builder.go
  test/conformance/chainsaw/generate-validating-admission-policy/clusterpolicy/standard/generate/block-ephemeral-containers/README.md
  test/conformance/chainsaw/generate-validating-admission-policy/clusterpolicy/standard/generate/block-ephemeral-containers/chainsaw-test.yaml
  test/conformance/chainsaw/generate-validating-admission-policy/clusterpolicy/standard/generate/block-ephemeral-containers/pod.yaml
  test/conformance/chainsaw/generate-validating-admission-policy/clusterpolicy/standard/generate/block-ephemeral-containers/policy-assert.yaml
  test/conformance/chainsaw/generate-validating-admission-policy/clusterpolicy/standard/generate/block-ephemeral-containers/policy.yaml
  test/conformance/chainsaw/generate-validating-admission-policy/clusterpolicy/standard/generate/block-ephemeral-containers/validatingadmissionpolicy.yaml
  test/conformance/chainsaw/generate-validating-admission-policy/clusterpolicy/standard/generate/block-ephemeral-containers/validatingadmissionpolicybinding.yaml
Labels: Documentation, cherry-pick-required, milestone 1.12.2

#10036 allow kyverno apply command to continue on failure
  cmd/cli/kubectl-kyverno/commands/apply/command.go
  docs/user/cli/commands/kyverno_apply.md
Labels: Documentation, cherry-pick-required, milestone 1.13.0, milestone 1.12.2

#9855 fix: add CONNECT operation in the webhook config for pod/exec subresource
  pkg/controllers/webhook/utils.go
  test/conformance/chainsaw/webhooks/pod-exec-subresource/README.md
  test/conformance/chainsaw/webhooks/pod-exec-subresource/chainsaw-test.yaml
  test/conformance/chainsaw/webhooks/pod-exec-subresource/policy-assert.yaml
  test/conformance/chainsaw/webhooks/pod-exec-subresource/policy.yaml
  test/conformance/chainsaw/webhooks/pod-exec-subresource/webhooks.yaml
Labels: cherry-pick-required, milestone 1.13.0, milestone 1.12.2

#9994 fix(polex): multiple polexes with conditions
  pkg/engine/utils/exceptions.go
  test/conformance/chainsaw/exceptions/good-bad-conditions/README.md
  test/conformance/chainsaw/exceptions/good-bad-conditions/chainsaw-test.yaml
  test/conformance/chainsaw/exceptions/good-bad-conditions/failing-exception.yaml
  test/conformance/chainsaw/exceptions/good-bad-conditions/good-deployment.yaml
  test/conformance/chainsaw/exceptions/good-bad-conditions/passing-exception.yaml
  test/conformance/chainsaw/exceptions/good-bad-conditions/policy.yaml
Labels: cherry-pick-required, milestone 1.13.0, milestone 1.12.2

#10181 fix: skip generating VAPs for policies that match multiple resources with a namespace/object selector
  pkg/validatingadmissionpolicy/kyvernopolicy_checker.go
  test/conformance/chainsaw/generate-validating-admission-policy/clusterpolicy/standard/skip-generate/cpol-any-match-multiple-resources-with-namespace-selector/chainsaw-test.yaml
  test/conformance/chainsaw/generate-validating-admission-policy/clusterpolicy/standard/skip-generate/cpol-any-match-multiple-resources-with-namespace-selector/policy-assert.yaml
  test/conformance/chainsaw/generate-validating-admission-policy/clusterpolicy/standard/skip-generate/cpol-any-match-multiple-resources-with-namespace-selector/policy.yaml
  test/conformance/chainsaw/generate-validating-admission-policy/clusterpolicy/standard/skip-generate/cpol-any-match-multiple-resources-with-namespace-selector/validatingadmissionpolicy.yaml
  test/conformance/chainsaw/generate-validating-admission-policy/clusterpolicy/standard/skip-generate/cpol-any-match-multiple-resources-with-namespace-selector/validatingadmissionpolicybinding.yaml
  test/conformance/chainsaw/generate-validating-admission-policy/clusterpolicy/standard/skip-generate/cpol-any-match-multiple-resources-with-object-selector/chainsaw-test.yaml
  test/conformance/chainsaw/generate-validating-admission-policy/clusterpolicy/standard/skip-generate/cpol-any-match-multiple-resources-with-object-selector/policy-assert.yaml
  test/conformance/chainsaw/generate-validating-admission-policy/clusterpolicy/standard/skip-generate/cpol-any-match-multiple-resources-with-object-selector/policy.yaml
  test/conformance/chainsaw/generate-validating-admission-policy/clusterpolicy/standard/skip-generate/cpol-any-match-multiple-resources-with-object-selector/validatingadmissionpolicy.yaml
  test/conformance/chainsaw/generate-validating-admission-policy/clusterpolicy/standard/skip-generate/cpol-any-match-multiple-resources-with-object-selector/validatingadmissionpolicybinding.yaml
Labels: cherry-pick-required, milestone 1.13.0, milestone 1.12.2

#10083 feat: add cronjob ttl support
  charts/kyverno/Chart.yaml
  charts/kyverno/README.md
  charts/kyverno/templates/cleanup/cleanup-admission-reports.yaml
  charts/kyverno/templates/cleanup/cleanup-cluster-admission-reports.yaml
  charts/kyverno/values.yaml
Labels: helm, milestone 1.13.0

#10177 chore: make cli results count public
  cmd/cli/kubectl-kyverno/commands/apply/command.go
  cmd/cli/kubectl-kyverno/processor/policy_processor_test.go
  cmd/cli/kubectl-kyverno/processor/result.go
Labels: cherry-pick-required, milestone 1.13.0, milestone 1.12.2

#9981 feat: support generating VAPs in case of matching resources in specific namespaces
  pkg/validatingadmissionpolicy/builder.go
  pkg/validatingadmissionpolicy/kyvernopolicy_checker.go
  pkg/validatingadmissionpolicy/kyvernopolicy_checker_test.go
  test/conformance/chainsaw/generate-validating-admission-policy/clusterpolicy/standard/generate/cpol-match-resource-in-specific-namespace/chainsaw-test.yaml
  test/conformance/chainsaw/generate-validating-admission-policy/clusterpolicy/standard/generate/cpol-match-resource-in-specific-namespace/policy-assert.yaml
  test/conformance/chainsaw/generate-validating-admission-policy/clusterpolicy/standard/generate/cpol-match-resource-in-specific-namespace/policy.yaml
  test/conformance/chainsaw/generate-validating-admission-policy/clusterpolicy/standard/generate/cpol-match-resource-in-specific-namespace/validatingadmissionpolicy.yaml
  test/conformance/chainsaw/generate-validating-admission-policy/clusterpolicy/standard/generate/cpol-match-resource-in-specific-namespace/validatingadmissionpolicybinding.yaml
  test/conformance/chainsaw/generate-validating-admission-policy/clusterpolicy/standard/skip-generate/cpol-match-resource-in-specific-namespace/validatingadmissionpolicy.yaml
Labels: Documentation, milestone 1.13.0

#10205 fix: skip generating VAPs in case namespace's name contains wildcards
  pkg/validatingadmissionpolicy/kyvernopolicy_checker.go
  pkg/validatingadmissionpolicy/kyvernopolicy_checker_test.go
  test/conformance/chainsaw/generate-validating-admission-policy/clusterpolicy/standard/skip-generate/cpol-any-match-resources-in-namespaces-with-wildcard/chainsaw-test.yaml
  test/conformance/chainsaw/generate-validating-admission-policy/clusterpolicy/standard/skip-generate/cpol-any-match-resources-in-namespaces-with-wildcard/policy-assert.yaml
  test/conformance/chainsaw/generate-validating-admission-policy/clusterpolicy/standard/skip-generate/cpol-any-match-resources-in-namespaces-with-wildcard/policy.yaml
  test/conformance/chainsaw/generate-validating-admission-policy/clusterpolicy/standard/skip-generate/cpol-any-match-resources-in-namespaces-with-wildcard/validatingadmissionpolicy.yaml
  test/conformance/chainsaw/generate-validating-admission-policy/clusterpolicy/standard/skip-generate/cpol-any-match-resources-in-namespaces-with-wildcard/validatingadmissionpolicybinding.yaml
Labels: milestone 1.13.0

#10225 kyverno-1.12 CVE fix
  go.mod
  go.sum
Labels: cherry-pick-required, milestone 1.12.2

#10216 [Bug] [CLI] Level parameter of the apply and test commands does not work
  cmd/cli/kubectl-kyverno/log/log.go
  cmd/cli/kubectl-kyverno/log/log_test.go
Labels: cherry-pick-required, milestone 1.12.2

#10245 fix: isolate reports creation context
  pkg/webhooks/resource/validation/validation.go
Labels: cherry-pick-required, milestone 1.13.0, milestone 1.12.2

#10252 fix: deepcopy patched resource in foreach mutate
  pkg/engine/handlers/mutation/common.go
  pkg/engine/utils/foreach.go
  pkg/engine/utils/foreach_test.go
  test/conformance/chainsaw/mutate/clusterpolicy/standard/existing/descending-patchJson6902/README.md
  test/conformance/chainsaw/mutate/clusterpolicy/standard/existing/descending-patchJson6902/chainsaw-test.yaml
  test/conformance/chainsaw/mutate/clusterpolicy/standard/existing/descending-patchJson6902/policy-assert.yaml
  test/conformance/chainsaw/mutate/clusterpolicy/standard/existing/descending-patchJson6902/policy.yaml
  test/conformance/chainsaw/mutate/clusterpolicy/standard/existing/descending-patchJson6902/target-pod-assert.yaml
  test/conformance/chainsaw/mutate/clusterpolicy/standard/existing/descending-patchJson6902/target-pod-updated.yaml
  test/conformance/chainsaw/mutate/clusterpolicy/standard/existing/descending-patchJson6902/target-pod.yaml
  test/conformance/chainsaw/mutate/clusterpolicy/standard/existing/descending-patchJson6902/trigger-pod-assert.yaml
  test/conformance/chainsaw/mutate/clusterpolicy/standard/existing/descending-patchJson6902/trigger-pod.yaml
Labels: cherry-pick-required, release-critical, milestone 1.13.0, milestone 1.12.2

#10255 truncate event messages to 1024 chars
  pkg/event/events.go
  pkg/event/events_test.go
Labels: cherry-pick-required, milestone 1.13.0, milestone 1.12.2

#10250 feat(perf): add new linter `prealloc` to enforce slice declarations best practice
  .golangci.yml
  cmd/cli/kubectl-kyverno/commands/apply/command.go
  cmd/cli/kubectl-kyverno/commands/fix/policy/options.go
  cmd/cli/kubectl-kyverno/commands/jp/parse/command.go
  cmd/cli/kubectl-kyverno/commands/jp/query/command.go
  cmd/cli/kubectl-kyverno/commands/json/scan/options.go
  cmd/cli/kubectl-kyverno/commands/test/command.go
  cmd/cli/kubectl-kyverno/commands/test/test.go
  cmd/cli/kubectl-kyverno/fix/test.go
  cmd/cli/kubectl-kyverno/output/table/table.go
  cmd/cli/kubectl-kyverno/output/table/table_test.go
  cmd/cli/kubectl-kyverno/path/path.go
  cmd/cli/kubectl-kyverno/processor/policy_processor.go
  cmd/cli/kubectl-kyverno/processor/vap_processor.go
  cmd/cli/kubectl-kyverno/resource/resource.go
  cmd/cli/kubectl-kyverno/utils/common/kyverno_resources_types.go
  cmd/cli/kubectl-kyverno/utils/common/validating_admission_resources.go
  pkg/autogen/autogen.go
  pkg/controllers/report/aggregate/controller.go
  pkg/controllers/report/background/controller.go
  pkg/controllers/webhook/controller.go
  pkg/controllers/webhook/utils.go
  pkg/cosign/cosign.go
  pkg/engine/adapters/dclient.go
  pkg/engine/handlers/mutation/load_targets.go
  pkg/engine/handlers/validation/validate_pss.go
  pkg/engine/internal/imageverifier.go
  pkg/engine/jmespath/functionentry.go
  pkg/event/events.go
  pkg/informers/helpers.go
  pkg/policy/utils.go
  pkg/pss/evaluate.go
  pkg/utils/api/image.go
  pkg/utils/json/utils.go
  pkg/utils/report/results.go
  pkg/validatingadmissionpolicy/api.go
  pkg/validatingadmissionpolicy/version_converter.go
Labels: cherry-pick-required, milestone 1.13.0, milestone 1.12.2

#10263 fix flake test in VAPs
  test/conformance/chainsaw/generate-validating-admission-policy/clusterpolicy/standard/generate/cpol-any-match-resources-by-names/policy-assert.yaml
Labels: cherry-pick-required, milestone 1.13.0, milestone 1.12.2

#10164 fix: process the matched resources only for mutate existing policies
  pkg/policy/generate.go
  pkg/policy/mutate.go
  pkg/policy/policy_controller.go
  pkg/policy/utils.go
  pkg/policy/utils_test.go
Labels: cherry-pick-required, milestone 1.13.0, milestone 1.12.2

#10254 feat(helm): GrafanaDashboard configuration
  charts/kyverno/README.md
  charts/kyverno/charts/grafana/templates/dashboard.yaml
  charts/kyverno/values.yaml
Labels: milestone 1.13.0

#10270 Fix cli load policies from fs
  cmd/cli/kubectl-kyverno/_testdata/policies-invalid/artifacthub-pkg.yml
  cmd/cli/kubectl-kyverno/_testdata/policies-invalid/chainsaw-test.yaml
  cmd/cli/kubectl-kyverno/_testdata/policies-invalid/policy-ready.yaml
  cmd/cli/kubectl-kyverno/_testdata/policies-mixed/artifacthub-pkg.yml
  cmd/cli/kubectl-kyverno/_testdata/policies-mixed/cpol-pod-requirements.yaml
  cmd/cli/kubectl-kyverno/_testdata/policies-mixed/nested/artifacthub-pkg.yml
  cmd/cli/kubectl-kyverno/_testdata/policies-mixed/nested/cpol-pod-requirements.yaml
  cmd/cli/kubectl-kyverno/commands/apply/command.go
  cmd/cli/kubectl-kyverno/commands/fix/policy/options.go
  cmd/cli/kubectl-kyverno/commands/oci/push/options.go
  cmd/cli/kubectl-kyverno/commands/test/command.go
  cmd/cli/kubectl-kyverno/commands/test/compare.go
  cmd/cli/kubectl-kyverno/commands/test/load.go
  cmd/cli/kubectl-kyverno/commands/test/output.go
  cmd/cli/kubectl-kyverno/commands/test/test.go
  cmd/cli/kubectl-kyverno/policy/legacy_loader.go
  cmd/cli/kubectl-kyverno/policy/load.go
  cmd/cli/kubectl-kyverno/policy/load_test.go
  cmd/cli/kubectl-kyverno/policy/variables_test.go
  cmd/cli/kubectl-kyverno/report/report_test.go
Labels: cherry-pick-required, milestone 1.13.0, milestone 1.12.2

#10262 fix: configure webhook operations list correctly across policies
  pkg/controllers/webhook/controller_test.go
  pkg/controllers/webhook/utils.go
  pkg/controllers/webhook/utils_test.go
Labels: cherry-pick-required, milestone 1.13.0, milestone 1.12.2

#10274 fix: sort webhookconfig.operations
  pkg/controllers/webhook/utils.go
  test/conformance/chainsaw/webhook-configurations/webhook-registeration/webhook.yaml
  test/conformance/chainsaw/webhooks/all-scale/webhooks.yaml
  test/conformance/chainsaw/webhooks/clusterpolicy/webhooks.yaml
  test/conformance/chainsaw/webhooks/double-wildcard/webhooks.yaml
  test/conformance/chainsaw/webhooks/dyn-op-validate-multiple/webhooks.yaml
  test/conformance/chainsaw/webhooks/only-pod/webhooks.yaml
  test/conformance/chainsaw/webhooks/pod-all-subresources/webhooks.yaml
  test/conformance/chainsaw/webhooks/policy-clusterpolicy-different-resource-group/webhooks.yaml
  test/conformance/chainsaw/webhooks/policy-clusterpolicy-namespaced-clusterscoped-resources/webhooks.yaml
  test/conformance/chainsaw/webhooks/policy-clusterpolicy-namespaced-resources/webhooks.yaml
  test/conformance/chainsaw/webhooks/policy-clusterpolicy-same-resource/webhooks.yaml
  test/conformance/chainsaw/webhooks/policy-clusterpolicy-wildcard-resource/webhooks.yaml
  test/conformance/chainsaw/webhooks/policy-different-resource-group/webhooks.yaml
  test/conformance/chainsaw/webhooks/policy-wildcard-resource/webhooks.yaml
  test/conformance/chainsaw/webhooks/policy/webhooks.yaml
Labels: cherry-pick-required, milestone 1.13.0, milestone 1.12.2

#10236 fix: add a copy method to the policy context
  pkg/engine/api/policycontext.go
  pkg/engine/handlers/validation/validate_resource.go
  pkg/engine/policycontext/policy_context.go
  test/cli/test/multiple-validate-rules/kyverno-test.yaml
  test/cli/test/multiple-validate-rules/policy.yaml
  test/cli/test/multiple-validate-rules/resource.yaml
Labels: cherry-pick-required, milestone 1.13.0, milestone 1.12.2

#10206 fix(anchor): skip anchors don't have priority
  pkg/engine/validate/validate.go
  pkg/engine/validate/validate_test.go
Labels: cherry-pick-required, milestone 1.13.0, milestone 1.12.2

#10293 chore: make continue-on-fail flag available outside package
  cmd/cli/kubectl-kyverno/commands/apply/command.go
Labels: cherry-pick-required, milestone 1.13.0, milestone 1.12.2

#10300 chore: bump tools and add kubernetes v1.30 to conformance
  .github/actions/setup-test-env/action.yaml
  .github/workflows/conformance.yaml
  .github/workflows/load-testing.yml
  Makefile
  charts/kyverno/charts/crds/templates/kyverno.io/kyverno.io_admissionreports.yaml
  charts/kyverno/charts/crds/templates/kyverno.io/kyverno.io_backgroundscanreports.yaml
  charts/kyverno/charts/crds/templates/kyverno.io/kyverno.io_cleanuppolicies.yaml
  charts/kyverno/charts/crds/templates/kyverno.io/kyverno.io_clusteradmissionreports.yaml
  charts/kyverno/charts/crds/templates/kyverno.io/kyverno.io_clusterbackgroundscanreports.yaml
  charts/kyverno/charts/crds/templates/kyverno.io/kyverno.io_clustercleanuppolicies.yaml
  charts/kyverno/charts/crds/templates/kyverno.io/kyverno.io_clusterpolicies.yaml
  charts/kyverno/charts/crds/templates/kyverno.io/kyverno.io_globalcontextentries.yaml
  charts/kyverno/charts/crds/templates/kyverno.io/kyverno.io_policies.yaml
  charts/kyverno/charts/crds/templates/kyverno.io/kyverno.io_policyexceptions.yaml
  charts/kyverno/charts/crds/templates/kyverno.io/kyverno.io_updaterequests.yaml
  charts/kyverno/charts/crds/templates/reports.kyverno.io/reports.kyverno.io_clusterephemeralreports.yaml
  charts/kyverno/charts/crds/templates/reports.kyverno.io/reports.kyverno.io_ephemeralreports.yaml
  charts/kyverno/charts/crds/templates/wgpolicyk8s.io/wgpolicyk8s.io_clusterpolicyreports.yaml
  charts/kyverno/charts/crds/templates/wgpolicyk8s.io/wgpolicyk8s.io_policyreports.yaml
  cmd/cli/kubectl-kyverno/data/crds/kyverno.io_clusterpolicies.yaml
  cmd/cli/kubectl-kyverno/data/crds/kyverno.io_policies.yaml
  cmd/cli/kubectl-kyverno/data/crds/kyverno.io_policyexceptions.yaml
  config/crds/kyverno/kyverno.io_admissionreports.yaml
  config/crds/kyverno/kyverno.io_backgroundscanreports.yaml
  config/crds/kyverno/kyverno.io_cleanuppolicies.yaml
  config/crds/kyverno/kyverno.io_clusteradmissionreports.yaml
  config/crds/kyverno/kyverno.io_clusterbackgroundscanreports.yaml
  config/crds/kyverno/kyverno.io_clustercleanuppolicies.yaml
  config/crds/kyverno/kyverno.io_clusterpolicies.yaml
  config/crds/kyverno/kyverno.io_globalcontextentries.yaml
  config/crds/kyverno/kyverno.io_policies.yaml
  config/crds/kyverno/kyverno.io_policyexceptions.yaml
  config/crds/kyverno/kyverno.io_updaterequests.yaml
  config/crds/policyreport/wgpolicyk8s.io_clusterpolicyreports.yaml
  config/crds/policyreport/wgpolicyk8s.io_policyreports.yaml
  config/crds/reports/reports.kyverno.io_clusterephemeralreports.yaml
  config/crds/reports/reports.kyverno.io_ephemeralreports.yaml
  config/install-latest-testing.yaml
Labels: milestone 1.13.0

#10287 feat: add support for background scanning of existing resource in image verification
  pkg/controllers/report/utils/scanner.go
  pkg/engine/handlers/validation/validate_image.go
  test/conformance/chainsaw/verifyImages/clusterpolicy/standard/verify-image-background-audit/README.md
  test/conformance/chainsaw/verifyImages/clusterpolicy/standard/verify-image-background-audit/chainsaw-step-01-apply-1.yaml
  test/conformance/chainsaw/verifyImages/clusterpolicy/standard/verify-image-background-audit/chainsaw-step-01-apply-2.yaml
  test/conformance/chainsaw/verifyImages/clusterpolicy/standard/verify-image-background-audit/chainsaw-step-01-assert-1.yaml
  test/conformance/chainsaw/verifyImages/clusterpolicy/standard/verify-image-background-audit/chainsaw-step-02-apply-1.yaml
  test/conformance/chainsaw/verifyImages/clusterpolicy/standard/verify-image-background-audit/chainsaw-step-02-assert-1.yaml
  test/conformance/chainsaw/verifyImages/clusterpolicy/standard/verify-image-background-audit/chainsaw-step-03-assert-1.yaml
  test/conformance/chainsaw/verifyImages/clusterpolicy/standard/verify-image-background-audit/chainsaw-test.yaml
  test/conformance/chainsaw/verifyImages/clusterpolicy/standard/verify-image-background-basic/README.md
  test/conformance/chainsaw/verifyImages/clusterpolicy/standard/verify-image-background-basic/chainsaw-step-01-apply-1.yaml
  test/conformance/chainsaw/verifyImages/clusterpolicy/standard/verify-image-background-basic/chainsaw-step-01-apply-2.yaml
  test/conformance/chainsaw/verifyImages/clusterpolicy/standard/verify-image-background-basic/chainsaw-step-01-assert-1.yaml
  test/conformance/chainsaw/verifyImages/clusterpolicy/standard/verify-image-background-basic/chainsaw-step-02-apply-1.yaml
  test/conformance/chainsaw/verifyImages/clusterpolicy/standard/verify-image-background-basic/chainsaw-step-02-assert-1.yaml
  test/conformance/chainsaw/verifyImages/clusterpolicy/standard/verify-image-background-basic/chainsaw-step-03-assert-1.yaml
  test/conformance/chainsaw/verifyImages/clusterpolicy/standard/verify-image-background-basic/chainsaw-test.yaml
  test/conformance/chainsaw/verifyImages/clusterpolicy/standard/verify-image-background-existing/README.md
  test/conformance/chainsaw/verifyImages/clusterpolicy/standard/verify-image-background-existing/chainsaw-step-01-apply-1.yaml
  test/conformance/chainsaw/verifyImages/clusterpolicy/standard/verify-image-background-existing/chainsaw-step-01-apply-2.yaml
  test/conformance/chainsaw/verifyImages/clusterpolicy/standard/verify-image-background-existing/chainsaw-step-01-assert-1.yaml
  test/conformance/chainsaw/verifyImages/clusterpolicy/standard/verify-image-background-existing/chainsaw-step-02-apply-1.yaml
  test/conformance/chainsaw/verifyImages/clusterpolicy/standard/verify-image-background-existing/chainsaw-step-02-assert-1.yaml
  test/conformance/chainsaw/verifyImages/clusterpolicy/standard/verify-image-background-existing/chainsaw-step-03-assert-1.yaml
  test/conformance/chainsaw/verifyImages/clusterpolicy/standard/verify-image-background-existing/chainsaw-test.yaml
Labels: cherry-pick-required, milestone 1.13.0, milestone 1.12.3

#10309 chore: add new versions for issue templates
  .github/ISSUE_TEMPLATE/bug-cli.yaml
  .github/ISSUE_TEMPLATE/bug-other.yaml
  .github/ISSUE_TEMPLATE/bug-webhook.yaml
Labels: milestone 1.13.0

#10249 feat: add a cleanup cronjob to delete urs
  charts/kyverno/README.md
  charts/kyverno/templates/cleanup/cleanup-update-requests.yaml
  charts/kyverno/templates/cleanup/clusterrole.yaml
  charts/kyverno/values.yaml
  config/install-latest-testing.yaml
Labels: cherry-pick-required, milestone 1.13.0, milestone 1.12.3

#10325 feat: add cleanup cronjobs for (cluster)ephemeralreports
  charts/kyverno/README.md
  charts/kyverno/templates/cleanup/cleanup-cluster-ephemeral-reports.yaml
  charts/kyverno/templates/cleanup/cleanup-ephemeral-reports.yaml
  charts/kyverno/templates/cleanup/clusterrole.yaml
  charts/kyverno/values.yaml
  config/install-latest-testing.yaml
Labels: cherry-pick-required, milestone 1.13.0, milestone 1.12.3

#10327 fix: remove unused parameters
  cmd/cli/kubectl-kyverno/commands/apply/command.go
  cmd/cli/kubectl-kyverno/commands/apply/command_test.go
  cmd/cli/kubectl-kyverno/processor/policy_processor.go
  cmd/cli/kubectl-kyverno/processor/policy_processor_test.go
  cmd/cli/kubectl-kyverno/processor/result.go
  cmd/cli/kubectl-kyverno/processor/vap_processor.go
Labels: cherry-pick-required, milestone 1.12.3

#10333 chore: update nancy ignore
  .nancy-ignore
Labels: milestone 1.13.0

#10320 feat: ability to add custom policies in values file
  charts/kyverno-policies/README.md
  charts/kyverno-policies/README.md.gotmpl
  charts/kyverno-policies/templates/_helpers.tpl
  charts/kyverno-policies/templates/other/custom-policies.yaml
  charts/kyverno-policies/values.yaml
Labels: milestone 1.13.0

#10332 chore: fix check milestone job
  .github/workflows/check-milestone.yaml
Labels: milestone 1.13.0

#10330 fix: remove unused parameters
  pkg/engine/background.go
  pkg/engine/engine.go
  pkg/engine/forceMutate.go
  pkg/engine/fuzz_test.go
  pkg/engine/generation.go
  pkg/engine/image_verify_test.go
  pkg/engine/internal/imageverifier.go
  pkg/engine/internal/match.go
  pkg/engine/mutation_test.go
Labels: cherry-pick-required, milestone 1.13.0, milestone 1.12.3

#10338 chore: normalize go mod
  go.mod
  go.sum
Labels: milestone 1.13.0

#10331 feat: add aggregation workers flag
  cmd/reports-controller/main.go
Labels: Documentation, cherry-pick-required, milestone 1.13.0, milestone 1.12.3

#10345 chore: bump chainsaw
  .chainsaw.yaml
  .github/workflows/conformance.yaml
Labels: cherry-pick-required, milestone 1.12.4

#10346 chore: update milestone check
  .github/workflows/check-milestone-label.yaml
  .github/workflows/check-milestone.yaml
Labels: milestone 1.13.0

#10288 chore: add condition checking to notary attestation verify chainsaw test
  test/conformance/chainsaw/verifyImages/clusterpolicy/standard/notary-attestation-verification/policy.yaml
Labels: cherry-pick-required, milestone 1.12.4
