Repository kyverno/kyverno, pull requests merged in 2024-11, with the labels that each got.

#11504 fix: switch configmap removal to use post-delete helm hook
  charts/kyverno/Chart.yaml
  charts/kyverno/templates/hooks/post-delete-configmap.yaml
Labels: cherry-pick-required, milestone 1.13.0, size:S

#11512 Release kyverno chart 3.3.2 (v1.13.0)
  charts/kyverno/Chart.yaml
  charts/kyverno/README.md
  charts/kyverno/charts/crds/Chart.yaml
  charts/kyverno/charts/crds/README.md
  charts/kyverno/charts/grafana/Chart.yaml
  charts/kyverno/charts/grafana/README.md
  config/install-latest-testing.yaml
Labels: size:M

#11482 fix(chart): correct behavior for global image registry
  charts/kyverno/templates/_helpers/_image.tpl
Labels: cherry-pick-required, size:XS, milestone 1.13.1

#11516 fix: use webhook object instead of a list
  charts/kyverno/Chart.yaml
  charts/kyverno/README.md
  charts/kyverno/templates/config/_helpers.tpl
  charts/kyverno/values.yaml
  config/install-latest-testing.yaml
  pkg/config/config.go
  pkg/config/types.go
  pkg/controllers/webhook/controller.go
Labels: cherry-pick-required, size:M, milestone 1.13.1

#11509 chore: change controller rated limiting queue
  pkg/background/update_request_controller.go
  pkg/controllers/certmanager/controller.go
  pkg/controllers/cleanup/controller.go
  pkg/controllers/exceptions/controller.go
  pkg/controllers/generic/configmap/controller.go
  pkg/controllers/generic/webhook/controller.go
  pkg/controllers/globalcontext/controller.go
  pkg/controllers/policycache/controller.go
  pkg/controllers/report/aggregate/controller.go
  pkg/controllers/report/background/controller.go
  pkg/controllers/report/resource/controller.go
  pkg/controllers/validatingadmissionpolicy-generate/controller.go
  pkg/controllers/webhook/controller.go
  pkg/event/controller.go
  pkg/policy/policy_controller.go
Labels: milestone 1.14.0, size:L

#11515 feat(ci): enhance load testing (cherry-pick #11429)
  .github/workflows/load-testing.yml
  Makefile
  scripts/config/standard-with-profiling/kyverno.yaml
  scripts/config/stress-with-profiling/kyverno.yaml
  test/load/k6/pull_request-matrix.json
  test/load/k6/release-matrix.json
  test/load/k6/reports-size-in-etcd.sh
  test/load/k6/schedule-matrix.json
Labels: size:XL, milestone 1.12.7

#11483 feat(chart):add Helms' CustomLabels to the pods metadata of jobs and cronjobs k8s ressources
  charts/kyverno/Chart.yaml
  charts/kyverno/templates/cleanup/cleanup-admission-reports.yaml
  charts/kyverno/templates/cleanup/cleanup-cluster-admission-reports.yaml
  charts/kyverno/templates/cleanup/cleanup-cluster-ephemeral-reports.yaml
  charts/kyverno/templates/cleanup/cleanup-ephemeral-reports.yaml
  charts/kyverno/templates/cleanup/cleanup-update-requests.yaml
  config/install-latest-testing.yaml
Labels: milestone 1.12.6, size:M

#11434 Autogenv2 rule evaluation logic
  pkg/autogen/v2/autogen.go
  pkg/autogen/v2/autogen_test.go
Labels: lgtm, milestone 1.14.0, size:M

#11505 set the defautl namespace for policy
  pkg/engine/internal/match.go
Labels: cherry-pick-required, size:XS, milestone 1.13.1

#11514 Release Kyverno chart 3.2.8 (v1.12.6)
  charts/kyverno/Chart.yaml
  charts/kyverno/README.md
  charts/kyverno/charts/crds/Chart.yaml
  charts/kyverno/charts/crds/README.md
  charts/kyverno/charts/grafana/Chart.yaml
  charts/kyverno/charts/grafana/README.md
  config/install-latest-testing.yaml
Labels: size:M

#11461 fix(validate): custom match conditions errors
  pkg/validation/policy/validate.go
  test/conformance/chainsaw/webhook-configurations/match-conditions-fail/README.md
  test/conformance/chainsaw/webhook-configurations/match-conditions-fail/chainsaw-test.yaml
  test/conformance/chainsaw/webhook-configurations/match-conditions-fail/policy.yaml
Labels: cherry-pick-required, size:M, milestone 1.13.1

#11529 fix: remove logic that uses annotation to skip image verification
  pkg/engine/image_verify_test.go
  pkg/engine/internal/imageverifier.go
Labels: cherry-pick-required, size:L, milestone 1.13.1

#11530 fix: update match logic for old object validation (#11427)
  pkg/engine/handlers/validation/utils.go
  pkg/engine/handlers/validation/validate_resource.go
Labels: size:M

#11543 fix(validate): custom match conditions errors (cherry-pick #11461)
  pkg/validation/policy/validate.go
  test/conformance/chainsaw/webhook-configurations/match-conditions-fail/README.md
  test/conformance/chainsaw/webhook-configurations/match-conditions-fail/chainsaw-test.yaml
  test/conformance/chainsaw/webhook-configurations/match-conditions-fail/policy.yaml
Labels: size:M

#11486 fix: match failure action case insensitively for validating old object
  pkg/engine/handlers/validation/validate_assert.go
  pkg/engine/handlers/validation/validate_pss.go
  pkg/engine/handlers/validation/validate_resource.go
  test/conformance/chainsaw/validate/clusterpolicy/standard/enforce/enforce-validate-existing-deprecated/README.md
  test/conformance/chainsaw/validate/clusterpolicy/standard/enforce/enforce-validate-existing-deprecated/bad-pod-ready.yaml
  test/conformance/chainsaw/validate/clusterpolicy/standard/enforce/enforce-validate-existing-deprecated/bad-pod-update-test.sh
  test/conformance/chainsaw/validate/clusterpolicy/standard/enforce/enforce-validate-existing-deprecated/bad-pod.yaml
  test/conformance/chainsaw/validate/clusterpolicy/standard/enforce/enforce-validate-existing-deprecated/chainsaw-test.yaml
  test/conformance/chainsaw/validate/clusterpolicy/standard/enforce/enforce-validate-existing-deprecated/good-pod-ready.yaml
  test/conformance/chainsaw/validate/clusterpolicy/standard/enforce/enforce-validate-existing-deprecated/good-pod-update-test.sh
  test/conformance/chainsaw/validate/clusterpolicy/standard/enforce/enforce-validate-existing-deprecated/good-pod.yaml
  test/conformance/chainsaw/validate/clusterpolicy/standard/enforce/enforce-validate-existing-deprecated/policy.yaml
  test/conformance/chainsaw/validate/clusterpolicy/standard/enforce/enforce-validate-existing-deprecated/update-bad-pod-to-comply.sh
Labels: cherry-pick-required, size:L, milestone 1.13.1

#11542 fix: add celPreconditions in autogen rules (cherry-pick #11503)
  pkg/autogen/autogen.go
  pkg/autogen/rule.go
  test/conformance/chainsaw/autogen/cel-preconditions/README.md
  test/conformance/chainsaw/autogen/cel-preconditions/chainsaw-test.yaml
  test/conformance/chainsaw/autogen/cel-preconditions/check-autogen.yaml
  test/conformance/chainsaw/autogen/cel-preconditions/policy.yaml
Labels: size:L

#11544 fix: remove logic that uses annotation to skip image verification (cherry-pick #11529)
  pkg/engine/image_verify_test.go
  pkg/engine/internal/imageverifier.go
Labels: size:L, milestone 1.12.7

#11549 fix: add 'immutable fields' back in the policy validation msg for FluxCD
  pkg/validation/policy/generate.go
Labels: cherry-pick-required, milestone 1.13.1

#11550 fix: panic for nil rule response when processing old object
  pkg/engine/handlers/validation/validate_resource.go
Labels: cherry-pick-required, size:XS, milestone 1.13.1

#11554 Release v1.13.1-rc.1
  charts/kyverno-policies/Chart.yaml
  charts/kyverno-policies/README.md
  charts/kyverno/Chart.yaml
  charts/kyverno/README.md
  charts/kyverno/charts/crds/Chart.yaml
  charts/kyverno/charts/crds/README.md
  charts/kyverno/charts/grafana/Chart.yaml
  charts/kyverno/charts/grafana/README.md
  config/install-latest-testing.yaml
Labels: hold-merge, size:M

#11535 toggle for autogen version
  pkg/toggle/context.go
  pkg/toggle/toggle.go
Labels: milestone 1.14.0, size:S

#11564 Add SHA1 and MD5 hash functions to JMESPath
  pkg/engine/jmespath/functions.go
  pkg/engine/jmespath/functions_test.go
Labels: milestone 1.14.0, size:M

#11569 Set the UserAgent in client-go based calls to kube-apiserver
  pkg/config/client.go
Labels: cherry-pick-required, size:S, milestone 1.13.2

#11570 Release 1.13.1
  charts/kyverno-policies/Chart.yaml
  charts/kyverno-policies/README.md
  charts/kyverno/Chart.yaml
  charts/kyverno/README.md
  charts/kyverno/charts/crds/Chart.yaml
  charts/kyverno/charts/crds/README.md
  charts/kyverno/charts/grafana/Chart.yaml
  charts/kyverno/charts/grafana/README.md
  config/install-latest-testing.yaml
Labels: size:M

#11580 fix: update explicit webhook based on the policy type
  pkg/controllers/webhook/controller.go
Labels: cherry-pick-required, size:XS, milestone 1.13.2

#9883 feat: Add Manifest Index to ImageRegistry context
  pkg/engine/adapters/rclient.go
  pkg/engine/api/client.go
  pkg/engine/context/loaders/imagedata.go
  test/cli/registry/image-example.yaml
  test/cli/registry/kyverno-test.yaml
  test/cli/registry/resources.yaml
  test/cli/test/globalcontext/values.yaml
Labels: cherry-pick-required, size:L, milestone 1.13.2

#11587 fix: Add missing error check
  pkg/background/generate/data.go
Labels: cherry-pick-required, size:XS, milestone 1.13.2

#11591 fix: add a check for nil rule response
  pkg/engine/handlers/validation/validate_resource.go
Labels: cherry-pick-required, size:XS, milestone 1.13.2

#11586 fix: use generate name for background scan reports
  pkg/background/generate/controller.go
  pkg/background/mutate/mutate.go
  pkg/utils/report/new.go
Labels: cherry-pick-required, size:S, milestone 1.13.2

#11498 feat(ci): test upgrade conformance
  .github/actions/run-tests/action.yaml
  .github/workflows/conformance.yaml
  scripts/config/kind/vap-v1beta1.yaml
Labels: cherry-pick-required, size:L, milestone 1.13.2

#11600 fix: use ephemeralreportsfor reports controller in helm
  charts/kyverno/Chart.yaml
  charts/kyverno/templates/validate.yaml
Labels: cherry-pick-required, size:S, milestone 1.13.2

#11602 fix(ci): run conformance upgrade on schedule
  .github/workflows/conformance.yaml
Labels: size:XS, milestone 1.13.2

#11484 Passed the deleteOptions to the DeleteResource client
  pkg/background/generate/cleanup.go
  pkg/clients/dclient/client.go
  pkg/clients/dclient/client_test.go
  pkg/controllers/cleanup/controller.go
  pkg/utils/fuzz/fuzz_interface.go
Labels: milestone 1.14.0, size:S

#11594 fix: return nil error when trigger resource not found for a subresouces
  .github/actions/run-tests/action.yaml
  pkg/background/generate/controller.go
  test/conformance/chainsaw/generate/clusterpolicy/standard/data/nosync/generate-on-eviction-subresource-trigger/README.md
  test/conformance/chainsaw/generate/clusterpolicy/standard/data/nosync/generate-on-eviction-subresource-trigger/chainsaw-step-03-assert-1-1.yaml
  test/conformance/chainsaw/generate/clusterpolicy/standard/data/nosync/generate-on-eviction-subresource-trigger/chainsaw-test.yaml
  test/conformance/chainsaw/generate/clusterpolicy/standard/data/nosync/generate-on-eviction-subresource-trigger/namespace-ready.yaml
  test/conformance/chainsaw/generate/clusterpolicy/standard/data/nosync/generate-on-eviction-subresource-trigger/namespace.yaml
  test/conformance/chainsaw/generate/clusterpolicy/standard/data/nosync/generate-on-eviction-subresource-trigger/policy.yaml
Labels: cherry-pick-required, size:L, milestone 1.13.2

#11258 fix: kubernetes and kyverno version annotations in kyverno-policies helm chart (#1165)
  charts/kyverno-policies/README.md
  charts/kyverno-policies/templates/baseline/disallow-capabilities.yaml
  charts/kyverno-policies/templates/baseline/disallow-host-namespaces.yaml
  charts/kyverno-policies/templates/baseline/disallow-host-path.yaml
  charts/kyverno-policies/templates/baseline/disallow-host-ports.yaml
  charts/kyverno-policies/templates/baseline/disallow-host-process.yaml
  charts/kyverno-policies/templates/baseline/disallow-privileged-containers.yaml
  charts/kyverno-policies/templates/baseline/disallow-proc-mount.yaml
  charts/kyverno-policies/templates/baseline/disallow-selinux.yaml
  charts/kyverno-policies/templates/baseline/restrict-apparmor-profiles.yaml
  charts/kyverno-policies/templates/baseline/restrict-seccomp.yaml
  charts/kyverno-policies/templates/baseline/restrict-sysctls.yaml
  charts/kyverno-policies/templates/other/require-non-root-groups.yaml
  charts/kyverno-policies/templates/restricted/disallow-capabilities-strict.yaml
  charts/kyverno-policies/templates/restricted/disallow-privilege-escalation.yaml
  charts/kyverno-policies/templates/restricted/require-run-as-non-root-user.yaml
  charts/kyverno-policies/templates/restricted/require-run-as-nonroot.yaml
  charts/kyverno-policies/templates/restricted/restrict-seccomp-strict.yaml
  charts/kyverno-policies/templates/restricted/restrict-volume-types.yaml
  charts/kyverno-policies/values.yaml
Labels: milestone 1.14.0, size:M

#11619 fix: Open the mutated resources file in append mode to allow additions to it
  cmd/cli/kubectl-kyverno/processor/policy_processor.go
Labels: cherry-pick-required, size:XS, milestone 1.13.2

#11662 fix: use deleteOptions in cleanup controller
  pkg/controllers/cleanup/controller.go
Labels: milestone 1.14.0

#11653 fix(policy chart): fix the merging of policyExclude customizations to avoid wrong overrides (#11533)
  charts/kyverno-policies/Chart.yaml
  charts/kyverno-policies/templates/baseline/disallow-capabilities.yaml
  charts/kyverno-policies/templates/baseline/disallow-host-namespaces.yaml
  charts/kyverno-policies/templates/baseline/disallow-host-path.yaml
  charts/kyverno-policies/templates/baseline/disallow-host-ports.yaml
  charts/kyverno-policies/templates/baseline/disallow-host-process.yaml
  charts/kyverno-policies/templates/baseline/disallow-privileged-containers.yaml
  charts/kyverno-policies/templates/baseline/disallow-proc-mount.yaml
  charts/kyverno-policies/templates/baseline/restrict-apparmor-profiles.yaml
  charts/kyverno-policies/templates/baseline/restrict-seccomp.yaml
  charts/kyverno-policies/templates/baseline/restrict-sysctls.yaml
  charts/kyverno-policies/templates/restricted/disallow-privilege-escalation.yaml
  charts/kyverno-policies/templates/restricted/require-run-as-non-root-user.yaml
  charts/kyverno-policies/templates/restricted/require-run-as-nonroot.yaml
  charts/kyverno-policies/templates/restricted/restrict-seccomp-strict.yaml
  charts/kyverno-policies/templates/restricted/restrict-volume-types.yaml
Labels: cherry-pick-required, size:M, milestone 1.13.2

#11657 feat: add/improve error logs
  pkg/engine/background.go
Labels: milestone 1.14.0, size:XS

#11651 fix: add conversion function in Helm template
  charts/kyverno/templates/config/_helpers.tpl
  config/install-latest-testing.yaml
Labels: cherry-pick-required, size:S, milestone 1.13.2

#11604 fix(chart): global image registry bug in 3.3.3
  charts/kyverno/Chart.yaml
  charts/kyverno/README.md
  charts/kyverno/templates/_helpers/_image.tpl
  charts/kyverno/templates/background-controller/_helpers.tpl
  charts/kyverno/templates/cleanup-controller/_helpers.tpl
  charts/kyverno/templates/reports-controller/_helpers.tpl
  charts/kyverno/values.yaml
Labels: cherry-pick-required, size:M, milestone 1.13.2

#11673 chore: Add a new field in the test results CRD to specify patched resources
  cmd/cli/kubectl-kyverno/apis/v1alpha1/test_result.go
  cmd/cli/kubectl-kyverno/config/crds/cli.kyverno.io_tests.yaml
  cmd/cli/kubectl-kyverno/data/crds/cli.kyverno.io_tests.yaml
  docs/user/cli/crd/index.html
  docs/user/cli/crd/kyverno_kubectl.v1alpha1.html
Labels: size:M
