Repository kyverno/kyverno, pull requests merged in 2024-04, with the labels that each got.

#9976 fix: exclude prs from dependabot in check milestone workflow
  .github/workflows/check-milestone.yaml
Labels: milestone 1.13.0

#9980 chore: changes to use latest kyverno-json apis
  cmd/cli/kubectl-kyverno/apis/v1alpha1/test.go
  cmd/cli/kubectl-kyverno/commands/json/scan/options.go
  docs/user/cli/crd/index.html
  docs/user/cli/crd/kyverno_kubectl.v1alpha1.html
  go.mod
  go.sum
Labels: cherry-pick-required, milestone 1.12.1

#9955 fix: polex matching code
  cmd/background-controller/main.go
  cmd/internal/engine.go
  cmd/kyverno/main.go
  cmd/reports-controller/main.go
  pkg/controllers/exceptions/controller.go
  pkg/controllers/exceptions/log.go
  pkg/engine/utils/exceptions.go
  pkg/utils/match/match.go
Labels: milestone 1.13.0

#9984 fix(autogen): only generate rule for request kind
  cmd/cli/kubectl-kyverno/commands/apply/command.go
  cmd/cli/kubectl-kyverno/commands/test/test.go
  cmd/cli/kubectl-kyverno/processor/generate.go
  cmd/cli/kubectl-kyverno/processor/result.go
  cmd/cli/kubectl-kyverno/utils/common/common.go
  cmd/cli/kubectl-kyverno/utils/common/fetch.go
  cmd/cli/kubectl-kyverno/utils/common/kyverno_resources_types.go
  pkg/autogen/autogen.go
  pkg/autogen/autogen_test.go
  pkg/background/generate/generate.go
  pkg/controllers/exceptions/controller.go
  pkg/controllers/metrics/policy/controller.go
  pkg/controllers/report/aggregate/controller.go
  pkg/controllers/report/utils/utils.go
  pkg/controllers/webhook/controller.go
  pkg/controllers/webhook/utils_test.go
  pkg/engine/background.go
  pkg/engine/fuzz_test.go
  pkg/engine/generation.go
  pkg/engine/image_verify.go
  pkg/engine/mutate/patch/strategicMergePatch_test.go
  pkg/engine/mutation.go
  pkg/engine/utils/utils_test.go
  pkg/engine/validation.go
  pkg/policy/generate.go
  pkg/policycache/cache_test.go
  pkg/policycache/store.go
  pkg/validation/policy/background.go
  pkg/validation/policy/validate.go
  pkg/webhooks/resource/updaterequest.go
Labels: cherry-pick-required, milestone 1.12.0

#10001 chore: bump to go 1.22.2
  .github/actions/setup-build-env/action.yaml
  go.mod
  pkg/engine/jmespath/functions_test.go
Labels: milestone 1.13.0

#10013 chore: bump chainsaw to v0.1.9
  .github/workflows/conformance.yaml
Labels: milestone 1.12.0

#10024 fix: re-use the maxQueuedEvents
  cmd/background-controller/main.go
  cmd/cleanup-controller/main.go
  cmd/kyverno/main.go
  cmd/reports-controller/main.go
  pkg/event/controller.go
  pkg/event/controller_test.go
Labels: cherry-pick-required, milestone 1.12.0

#10000 chore: bump cosign to v2.2.4
  go.mod
  go.sum
Labels: cherry-pick-required, milestone 1.12.0

#10032 fix: policy status reconciliation
  pkg/controllers/webhook/controller.go
  pkg/engine/jmespath/functions_test.go
  pkg/utils/controller/utils.go
Labels: cherry-pick-required, milestone 1.12.0

#10048 feat(audit): use a worker pool for Audit policies
  .github/workflows/load-testing.yml
  cmd/kyverno/main.go
  go.mod
  go.sum
  pkg/webhooks/resource/fake.go
  pkg/webhooks/resource/handlers.go
  pkg/webhooks/resource/handlers_test.go
  pkg/webhooks/resource/updaterequest.go
  pkg/webhooks/resource/validation/utils.go
  pkg/webhooks/resource/validation/validation.go
  scripts/config/standard-with-profiling/kyverno.yaml
  scripts/config/stress-with-profiling/kyverno.yaml
Labels: Documentation, cherry-pick-required, milestone 1.12.0

#10057 fix: add mutex to mock policy context builder
  pkg/webhooks/resource/handlers_test.go
  pkg/webhooks/resource/updaterequest.go
Labels: cherry-pick-required, milestone 1.12.0

#10014 refactor: add a function to check if VAPs are registered in the API server
  cmd/kyverno/main.go
  cmd/reports-controller/main.go
  pkg/validatingadmissionpolicy/utils.go
Labels: cherry-pick-required, milestone 1.13.0, milestone 1.12.1

#10060 Release v1.12.0-rc.5
  charts/kyverno-policies/Chart.yaml
  charts/kyverno-policies/README.md
  charts/kyverno/Chart.yaml
  charts/kyverno/README.md
  charts/kyverno/charts/crds/Chart.yaml
  charts/kyverno/charts/crds/README.md
  charts/kyverno/charts/grafana/Chart.yaml
  charts/kyverno/charts/grafana/README.md
  config/install-latest-testing.yaml
Labels: hold-merge

#9875 [kyverno helm chart] make webhook pod annotations configurable
  charts/kyverno/README.md
  charts/kyverno/templates/hooks/post-upgrade-clean-reports.yaml
  charts/kyverno/templates/hooks/post-upgrade-migrate-resources.yaml
  charts/kyverno/templates/hooks/pre-delete-scale-to-zero.yaml
  charts/kyverno/values.yaml
Labels: milestone 1.13.0

#9977 fix: evaluate namespaceObject for Kyverno policies in the CLI
  pkg/engine/handlers/validation/validate_cel.go
  test/cli/test/check-deployment-namespace-cel/kyverno-test.yaml
  test/cli/test/check-deployment-namespace-cel/policy.yaml
  test/cli/test/check-deployment-namespace-cel/resources.yaml
Labels: cherry-pick-required, milestone 1.13.0, milestone 1.12.1

#10016 Fix: metrics exposure inconsistencies and unwanted side-effects
  pkg/config/metricsconfig.go
  pkg/config/metricsconfig_test.go
Labels: milestone 1.13.0

#9462 [Bug] Enabling many-to-one comparisons for `AnyNotIn` operator
  pkg/engine/variables/operator/anyin.go
  pkg/engine/variables/operator/anynotin_test.go
Labels: milestone 1.13.0

#9940 fix: return skip when celPreconditions/matchConditions aren't met
  pkg/engine/handlers/validation/validate_cel.go
  pkg/validatingadmissionpolicy/validate.go
  test/cli/test-validating-admission-policy/with-match-conditions/disallow-host-path.yaml
  test/cli/test-validating-admission-policy/with-match-conditions/kyverno-test.yaml
  test/cli/test-validating-admission-policy/with-match-conditions/resources.yaml
  test/cli/test/cel-preconditions/disallow-host-path.yaml
  test/cli/test/cel-preconditions/kyverno-test.yaml
  test/cli/test/cel-preconditions/resources.yaml
Labels: cherry-pick-required, milestone 1.13.0, milestone 1.12.1

#10089 update dev docs
  DEVELOPMENT.md
  docs/dev/README.md
Labels: milestone 1.13.0

#10087 chore(deps): bump k8s.io/apimachinery from 0.29.4 to 0.30.0
  charts/kyverno/charts/crds/templates/kyverno.io/kyverno.io_admissionreports.yaml
  charts/kyverno/charts/crds/templates/kyverno.io/kyverno.io_backgroundscanreports.yaml
  charts/kyverno/charts/crds/templates/kyverno.io/kyverno.io_cleanuppolicies.yaml
  charts/kyverno/charts/crds/templates/kyverno.io/kyverno.io_clusteradmissionreports.yaml
  charts/kyverno/charts/crds/templates/kyverno.io/kyverno.io_clusterbackgroundscanreports.yaml
  charts/kyverno/charts/crds/templates/kyverno.io/kyverno.io_clustercleanuppolicies.yaml
  charts/kyverno/charts/crds/templates/kyverno.io/kyverno.io_clusterpolicies.yaml
  charts/kyverno/charts/crds/templates/kyverno.io/kyverno.io_policies.yaml
  charts/kyverno/charts/crds/templates/kyverno.io/kyverno.io_policyexceptions.yaml
  charts/kyverno/charts/crds/templates/reports.kyverno.io/reports.kyverno.io_clusterephemeralreports.yaml
  charts/kyverno/charts/crds/templates/reports.kyverno.io/reports.kyverno.io_ephemeralreports.yaml
  charts/kyverno/charts/crds/templates/wgpolicyk8s.io/wgpolicyk8s.io_clusterpolicyreports.yaml
  charts/kyverno/charts/crds/templates/wgpolicyk8s.io/wgpolicyk8s.io_policyreports.yaml
  cmd/cli/kubectl-kyverno/data/crds/kyverno.io_clusterpolicies.yaml
  cmd/cli/kubectl-kyverno/data/crds/kyverno.io_policies.yaml
  cmd/cli/kubectl-kyverno/data/crds/kyverno.io_policyexceptions.yaml
  config/crds/kyverno/kyverno.io_admissionreports.yaml
  config/crds/kyverno/kyverno.io_backgroundscanreports.yaml
  config/crds/kyverno/kyverno.io_cleanuppolicies.yaml
  config/crds/kyverno/kyverno.io_clusteradmissionreports.yaml
  config/crds/kyverno/kyverno.io_clusterbackgroundscanreports.yaml
  config/crds/kyverno/kyverno.io_clustercleanuppolicies.yaml
  config/crds/kyverno/kyverno.io_clusterpolicies.yaml
  config/crds/kyverno/kyverno.io_policies.yaml
  config/crds/kyverno/kyverno.io_policyexceptions.yaml
  config/crds/policyreport/wgpolicyk8s.io_clusterpolicyreports.yaml
  config/crds/policyreport/wgpolicyk8s.io_policyreports.yaml
  config/crds/reports/reports.kyverno.io_clusterephemeralreports.yaml
  config/crds/reports/reports.kyverno.io_ephemeralreports.yaml
  config/install-latest-testing.yaml
  go.mod
  go.sum
Labels: milestone 1.13.0

#10061 feat: update flowcontrol API version to v1
  charts/kyverno/templates/_helpers/_flowcontrol.tpl
Labels: milestone 1.13.0

#10116 chore: update perf docs for 1.12
  docs/perf-testing/README.md
  docs/perf-testing/deployment.sh
  docs/perf-testing/kwok.sh
  docs/perf-testing/node.sh
  docs/perf-testing/pod.sh
  docs/perf-testing/size.sh
Labels: cherry-pick-required, milestone 1.12.0

#10101 chore: remove a package that is imported twice
  pkg/controllers/webhook/utils_test.go
Labels: cherry-pick-required, milestone 1.12.1

#10148 fix: fetch only adopted ephemeral report
  pkg/controllers/report/aggregate/controller.go
Labels: cherry-pick-required, milestone 1.13.0, milestone 1.12.1

#10146 fix: skip rules without operation in resource webhook creation
  pkg/controllers/webhook/utils.go
  pkg/controllers/webhook/utils_test.go
Labels: cherry-pick-required, milestone 1.13.0, milestone 1.12.1
