Repository kyverno/kyverno, pull requests merged in 2024-10, with the labels that each got.

#11281 feat: use more chainsaw test templates
  test/conformance/chainsaw/_step-templates/policy-ready.yaml
  test/conformance/chainsaw/assert/allow-existing-violations/chainsaw-test.yaml
  test/conformance/chainsaw/assert/allow-existing-violations/policy-ready.yaml
  test/conformance/chainsaw/assert/old-object-exists/chainsaw-test.yaml
  test/conformance/chainsaw/assert/old-object-exists/policy-ready.yaml
  test/conformance/chainsaw/background-only/cluster-policy/no-admission-event-deprecated/chainsaw-test.yaml
  test/conformance/chainsaw/background-only/cluster-policy/no-admission-event-deprecated/policy-assert.yaml
  test/conformance/chainsaw/background-only/cluster-policy/no-admission-event/chainsaw-test.yaml
  test/conformance/chainsaw/background-only/cluster-policy/no-admission-event/policy-assert.yaml
  test/conformance/chainsaw/background-only/cluster-policy/no-admission-report-deprecated/chainsaw-test.yaml
  test/conformance/chainsaw/background-only/cluster-policy/no-admission-report-deprecated/policy-assert.yaml
  test/conformance/chainsaw/background-only/cluster-policy/no-admission-report/chainsaw-test.yaml
  test/conformance/chainsaw/background-only/cluster-policy/no-admission-report/policy-assert.yaml
  test/conformance/chainsaw/background-only/cluster-policy/not-rejected-deprecated/chainsaw-test.yaml
  test/conformance/chainsaw/background-only/cluster-policy/not-rejected-deprecated/policy-assert.yaml
  test/conformance/chainsaw/background-only/cluster-policy/not-rejected/chainsaw-test.yaml
  test/conformance/chainsaw/background-only/cluster-policy/not-rejected/policy-assert.yaml
  test/conformance/chainsaw/background-only/policy/no-admission-event-deprecated/chainsaw-test.yaml
  test/conformance/chainsaw/background-only/policy/no-admission-event-deprecated/policy-assert.yaml
  test/conformance/chainsaw/background-only/policy/no-admission-event/chainsaw-test.yaml
  test/conformance/chainsaw/background-only/policy/no-admission-event/policy-assert.yaml
  test/conformance/chainsaw/background-only/policy/no-admission-report-deprecated/chainsaw-test.yaml
  test/conformance/chainsaw/background-only/policy/no-admission-report-deprecated/policy-assert.yaml
  test/conformance/chainsaw/background-only/policy/no-admission-report/chainsaw-test.yaml
  test/conformance/chainsaw/background-only/policy/no-admission-report/policy-assert.yaml
  test/conformance/chainsaw/background-only/policy/not-rejected-deprecated/chainsaw-test.yaml
  test/conformance/chainsaw/background-only/policy/not-rejected-deprecated/policy-assert.yaml
  test/conformance/chainsaw/background-only/policy/not-rejected/chainsaw-test.yaml
  test/conformance/chainsaw/background-only/policy/not-rejected/policy-assert.yaml
  test/conformance/chainsaw/webhooks/all-scale/chainsaw-test.yaml
  test/conformance/chainsaw/webhooks/all-scale/policy-assert.yaml
  test/conformance/chainsaw/webhooks/clusterpolicy/chainsaw-test.yaml
  test/conformance/chainsaw/webhooks/clusterpolicy/policy-assert.yaml
  test/conformance/chainsaw/webhooks/double-wildcard/chainsaw-test.yaml
  test/conformance/chainsaw/webhooks/double-wildcard/policy-assert.yaml
  test/conformance/chainsaw/webhooks/dyn-op-mutate-multiple/chainsaw-test.yaml
  test/conformance/chainsaw/webhooks/dyn-op-mutate-multiple/policy-assert.yaml
  test/conformance/chainsaw/webhooks/dyn-op-mutate/chainsaw-test.yaml
  test/conformance/chainsaw/webhooks/dyn-op-mutate/policy-assert.yaml
  test/conformance/chainsaw/webhooks/dyn-op-validate/chainsaw-test.yaml
  test/conformance/chainsaw/webhooks/dyn-op-validate/policy-assert.yaml
  test/conformance/chainsaw/webhooks/only-pod/chainsaw-test.yaml
  test/conformance/chainsaw/webhooks/only-pod/policy-assert.yaml
  test/conformance/chainsaw/webhooks/pod-all-subresources/chainsaw-test.yaml
  test/conformance/chainsaw/webhooks/pod-all-subresources/policy-assert.yaml
  test/conformance/chainsaw/webhooks/pod-exec-subresource/chainsaw-test.yaml
  test/conformance/chainsaw/webhooks/pod-exec-subresource/policy-assert.yaml
  test/conformance/chainsaw/webhooks/policy-clusterpolicy-namespaced-clusterscoped-resources/chainsaw-test.yaml
  test/conformance/chainsaw/webhooks/policy-clusterpolicy-namespaced-clusterscoped-resources/clusterpolicy-assert.yaml
  test/conformance/chainsaw/webhooks/policy-clusterscope-resource/chainsaw-test.yaml
  test/conformance/chainsaw/webhooks/policy-wildcard-resource/chainsaw-test.yaml
  test/conformance/chainsaw/webhooks/policy-wildcard-resource/policy-assert.yaml
  test/conformance/chainsaw/webhooks/policy/chainsaw-test.yaml
  test/conformance/chainsaw/webhooks/policy/policy-assert.yaml
Labels: cherry-pick-required, milestone 1.13.0, size:XL

#11265 feat: add reporting to mutate and generate rules
  charts/kyverno/templates/background-controller/clusterrole.yaml
  cmd/background-controller/main.go
  config/install-latest-testing.yaml
  pkg/background/generate/controller.go
  pkg/background/mutate/mutate.go
  pkg/background/update_request_controller.go
  pkg/breaker/resource_counter.go
  pkg/controllers/report/aggregate/controller.go
  pkg/policy/generate/fake.go
  pkg/policy/generate/validate.go
  pkg/policy/mutate/validate.go
  pkg/utils/report/new.go
  pkg/utils/report/results.go
  pkg/validation/policy/actions.go
  pkg/webhooks/resource/handlers.go
  pkg/webhooks/resource/mutation/mutation.go
  pkg/webhooks/resource/mutation/utils.go
  test/conformance/chainsaw/e2e-matrix.json
  test/conformance/chainsaw/reports/admission/mutation/README.md
  test/conformance/chainsaw/reports/admission/mutation/chainsaw-step-01-apply-1-1.yaml
  test/conformance/chainsaw/reports/admission/mutation/chainsaw-step-01-assert-1-1.yaml
  test/conformance/chainsaw/reports/admission/mutation/chainsaw-step-02-apply-1-1.yaml
  test/conformance/chainsaw/reports/admission/mutation/chainsaw-step-02-assert-1-1.yaml
  test/conformance/chainsaw/reports/admission/mutation/chainsaw-step-03-assert-1-1.yaml
  test/conformance/chainsaw/reports/admission/mutation/chainsaw-test.yaml
  test/conformance/chainsaw/reports/background/generate/README.md
  test/conformance/chainsaw/reports/background/generate/chainsaw-step-01-apply-1-1.yaml
  test/conformance/chainsaw/reports/background/generate/chainsaw-step-01-apply-1-2.yaml
  test/conformance/chainsaw/reports/background/generate/chainsaw-step-01-assert-1-1.yaml
  test/conformance/chainsaw/reports/background/generate/chainsaw-step-02-apply-1-1.yaml
  test/conformance/chainsaw/reports/background/generate/chainsaw-step-03-assert-1-1.yaml
  test/conformance/chainsaw/reports/background/generate/chainsaw-test.yaml
  test/conformance/chainsaw/reports/background/generate/permissions.yaml
  test/conformance/chainsaw/reports/background/mutate-existing/README.md
  test/conformance/chainsaw/reports/background/mutate-existing/chainsaw-step-01-apply-1-1.yaml
  test/conformance/chainsaw/reports/background/mutate-existing/chainsaw-step-01-apply-1-2.yaml
  test/conformance/chainsaw/reports/background/mutate-existing/chainsaw-step-01-apply-1-3.yaml
  test/conformance/chainsaw/reports/background/mutate-existing/chainsaw-step-01-assert-1-1.yaml
  test/conformance/chainsaw/reports/background/mutate-existing/chainsaw-step-02-apply-1-1.yaml
  test/conformance/chainsaw/reports/background/mutate-existing/chainsaw-step-03-assert-1-1.yaml
  test/conformance/chainsaw/reports/background/mutate-existing/chainsaw-test.yaml
Labels: cherry-pick-required, milestone 1.13.0, size:XL

#11285 feat: use more chainsaw test templates
  test/conformance/chainsaw/events/clusterpolicy/generate-events-upon-fail-generation/chainsaw-test.yaml
  test/conformance/chainsaw/events/clusterpolicy/generate-events-upon-fail-generation/policy-assert.yaml
  test/conformance/chainsaw/events/clusterpolicy/generate-events-upon-successful-generation/chainsaw-test.yaml
  test/conformance/chainsaw/events/clusterpolicy/generate-events-upon-successful-generation/policy-assert.yaml
  test/conformance/chainsaw/events/clusterpolicy/generate-events-upon-successful-mutation/chainsaw-test.yaml
  test/conformance/chainsaw/events/clusterpolicy/generate-events-upon-successful-mutation/policy-assert.yaml
  test/conformance/chainsaw/events/clusterpolicy/message-exceeds-1024-characters/chainsaw-test.yaml
  test/conformance/chainsaw/events/clusterpolicy/message-exceeds-1024-characters/policy-assert.yaml
  test/conformance/chainsaw/events/clusterpolicy/no-events-upon-skip-generation/chainsaw-test.yaml
  test/conformance/chainsaw/events/clusterpolicy/no-events-upon-skip-generation/policy-assert.yaml
  test/conformance/chainsaw/events/policy/policy-applied-deprecated/chainsaw-test.yaml
  test/conformance/chainsaw/events/policy/policy-applied-deprecated/policy-assert.yaml
  test/conformance/chainsaw/events/policy/policy-applied/chainsaw-test.yaml
  test/conformance/chainsaw/events/policy/policy-applied/policy-assert.yaml
  test/conformance/chainsaw/events/policy/policy-violation-deprecated/chainsaw-test.yaml
  test/conformance/chainsaw/events/policy/policy-violation-deprecated/policy-assert.yaml
  test/conformance/chainsaw/events/policy/policy-violation/chainsaw-test.yaml
  test/conformance/chainsaw/events/policy/policy-violation/policy-assert.yaml
  test/conformance/chainsaw/force-failure-policy-ignore/cluster-policy/fail-deprecated/chainsaw-test.yaml
  test/conformance/chainsaw/force-failure-policy-ignore/cluster-policy/fail-deprecated/policy-assert.yaml
  test/conformance/chainsaw/force-failure-policy-ignore/cluster-policy/fail/chainsaw-test.yaml
  test/conformance/chainsaw/force-failure-policy-ignore/cluster-policy/fail/policy-assert.yaml
  test/conformance/chainsaw/rbac/mutate-policy-with-clusterrole/chainsaw-test.yaml
  test/conformance/chainsaw/rbac/mutate-policy-with-clusterrole/policy-assert.yaml
  test/conformance/chainsaw/rbac/mutate-policy-with-clusterrole/policy.yaml
Labels: cherry-pick-required, milestone 1.13.0, size:L

#11306 feat: add reporting to mutate and generate rules (cherry-pick #11265)
  charts/kyverno/templates/background-controller/clusterrole.yaml
  cmd/background-controller/main.go
  cmd/kyverno/main.go
  config/install-latest-testing.yaml
  pkg/background/generate/controller.go
  pkg/background/mutate/mutate.go
  pkg/background/update_request_controller.go
  pkg/breaker/resource_counter.go
  pkg/controllers/report/aggregate/controller.go
  pkg/policy/generate/fake.go
  pkg/policy/generate/validate.go
  pkg/policy/mutate/validate.go
  pkg/utils/report/new.go
  pkg/utils/report/results.go
  pkg/validation/policy/actions.go
  pkg/webhooks/resource/handlers.go
  pkg/webhooks/resource/mutation/mutation.go
  pkg/webhooks/resource/mutation/utils.go
  test/conformance/chainsaw/e2e-matrix.json
  test/conformance/chainsaw/reports/admission/mutation/README.md
  test/conformance/chainsaw/reports/admission/mutation/chainsaw-step-01-apply-1-1.yaml
  test/conformance/chainsaw/reports/admission/mutation/chainsaw-step-01-assert-1-1.yaml
  test/conformance/chainsaw/reports/admission/mutation/chainsaw-step-02-apply-1-1.yaml
  test/conformance/chainsaw/reports/admission/mutation/chainsaw-step-02-assert-1-1.yaml
  test/conformance/chainsaw/reports/admission/mutation/chainsaw-step-03-assert-1-1.yaml
  test/conformance/chainsaw/reports/admission/mutation/chainsaw-test.yaml
  test/conformance/chainsaw/reports/background/generate/README.md
  test/conformance/chainsaw/reports/background/generate/chainsaw-step-01-apply-1-1.yaml
  test/conformance/chainsaw/reports/background/generate/chainsaw-step-01-apply-1-2.yaml
  test/conformance/chainsaw/reports/background/generate/chainsaw-step-01-assert-1-1.yaml
  test/conformance/chainsaw/reports/background/generate/chainsaw-step-02-apply-1-1.yaml
  test/conformance/chainsaw/reports/background/generate/chainsaw-step-03-assert-1-1.yaml
  test/conformance/chainsaw/reports/background/generate/chainsaw-test.yaml
  test/conformance/chainsaw/reports/background/generate/permissions.yaml
  test/conformance/chainsaw/reports/background/mutate-existing/README.md
  test/conformance/chainsaw/reports/background/mutate-existing/chainsaw-step-01-apply-1-1.yaml
  test/conformance/chainsaw/reports/background/mutate-existing/chainsaw-step-01-apply-1-2.yaml
  test/conformance/chainsaw/reports/background/mutate-existing/chainsaw-step-01-apply-1-3.yaml
  test/conformance/chainsaw/reports/background/mutate-existing/chainsaw-step-01-assert-1-1.yaml
  test/conformance/chainsaw/reports/background/mutate-existing/chainsaw-step-02-apply-1-1.yaml
  test/conformance/chainsaw/reports/background/mutate-existing/chainsaw-step-03-assert-1-1.yaml
  test/conformance/chainsaw/reports/background/mutate-existing/chainsaw-test.yaml
Labels: size:XL

#11308 chore: use more chainsaw step templates
  test/conformance/chainsaw/reports/admission/exception/chainsaw-test.yaml
  test/conformance/chainsaw/reports/admission/exception/policy-assert.yaml
  test/conformance/chainsaw/reports/admission/mutation/chainsaw-step-01-assert-1-1.yaml
  test/conformance/chainsaw/reports/admission/mutation/chainsaw-test.yaml
  test/conformance/chainsaw/reports/admission/mutation/policy.yaml
  test/conformance/chainsaw/reports/admission/namespaceselector-assert/chainsaw-test.yaml
  test/conformance/chainsaw/reports/admission/namespaceselector-assert/policy-assert.yaml
  test/conformance/chainsaw/reports/admission/namespaceselector/chainsaw-test.yaml
  test/conformance/chainsaw/reports/admission/namespaceselector/policy-assert.yaml
  test/conformance/chainsaw/reports/admission/test-report-admission-mode/chainsaw-step-01-assert-1.yaml
  test/conformance/chainsaw/reports/admission/test-report-admission-mode/chainsaw-test.yaml
  test/conformance/chainsaw/reports/admission/test-report-admission-mode/policy.yaml
  test/conformance/chainsaw/reports/admission/test-report-audit-warn/chainsaw-step-01-assert-1.yaml
  test/conformance/chainsaw/reports/admission/test-report-audit-warn/chainsaw-test.yaml
  test/conformance/chainsaw/reports/admission/test-report-audit-warn/policy.yaml
  test/conformance/chainsaw/reports/admission/test-report-properties/chainsaw-step-01-assert-1.yaml
  test/conformance/chainsaw/reports/admission/test-report-properties/chainsaw-test.yaml
  test/conformance/chainsaw/reports/admission/test-report-properties/policy.yaml
  test/conformance/chainsaw/reports/admission/two-rules-with-different-modes/chainsaw-test.yaml
  test/conformance/chainsaw/reports/admission/two-rules-with-different-modes/policy-assert.yaml
  test/conformance/chainsaw/reports/admission/update-deployment/chainsaw-test.yaml
  test/conformance/chainsaw/reports/admission/update-deployment/policy-assert.yaml
  test/conformance/chainsaw/reports/admission/update/chainsaw-test.yaml
  test/conformance/chainsaw/reports/admission/update/policy-assert.yaml
  test/conformance/chainsaw/reports/background/exception-assert/chainsaw-test.yaml
  test/conformance/chainsaw/reports/background/exception-assert/policy-assert.yaml
  test/conformance/chainsaw/reports/background/exception-with-conditions/chainsaw-test.yaml
  test/conformance/chainsaw/reports/background/exception-with-conditions/policy-assert.yaml
  test/conformance/chainsaw/reports/background/exception-with-podsecurity/chainsaw-test.yaml
  test/conformance/chainsaw/reports/background/exception-with-podsecurity/policy-assert.yaml
  test/conformance/chainsaw/reports/background/exception/chainsaw-test.yaml
  test/conformance/chainsaw/reports/background/exception/policy-assert.yaml
  test/conformance/chainsaw/reports/background/generate/chainsaw-step-01-assert-1-1.yaml
  test/conformance/chainsaw/reports/background/generate/chainsaw-test.yaml
  test/conformance/chainsaw/reports/background/generate/policy.yaml
  test/conformance/chainsaw/reports/background/multiple-exceptions-with-pod-security/chainsaw-test.yaml
  test/conformance/chainsaw/reports/background/multiple-exceptions-with-pod-security/policy-assert.yaml
  test/conformance/chainsaw/reports/background/mutate-existing/chainsaw-step-01-assert-1-1.yaml
  test/conformance/chainsaw/reports/background/mutate-existing/chainsaw-test.yaml
  test/conformance/chainsaw/reports/background/mutate-existing/ns.yaml
  test/conformance/chainsaw/reports/background/mutate-existing/policy.yaml
  test/conformance/chainsaw/reports/background/mutate-existing/secret.yaml
  test/conformance/chainsaw/reports/background/report-deletion/chainsaw-test.yaml
  test/conformance/chainsaw/reports/background/report-deletion/policy-assert.yaml
  test/conformance/chainsaw/reports/background/test-report-background-mode/chainsaw-test.yaml
  test/conformance/chainsaw/reports/background/test-report-background-mode/policy-assert.yaml
  test/conformance/chainsaw/reports/background/two-rules-with-different-modes/chainsaw-test.yaml
  test/conformance/chainsaw/reports/background/two-rules-with-different-modes/policy-assert.yaml
  test/conformance/chainsaw/reports/background/verify-image-fail/chainsaw-test.yaml
  test/conformance/chainsaw/reports/background/verify-image-fail/policy-assert.yaml
  test/conformance/chainsaw/reports/background/verify-image-pass/chainsaw-test.yaml
  test/conformance/chainsaw/reports/background/verify-image-pass/policy-assert.yaml
Labels: cherry-pick-required, milestone 1.13.0, size:L

#11280 chore: bump chainsaw
  .github/actions/kyverno-logs/action.yaml
  .github/actions/run-tests/action.yaml
  .github/dependabot.yml
  .github/workflows/conformance.yaml
  Makefile
  hack/chainsaw-matrix/go.mod
  hack/chainsaw-matrix/go.sum
  hack/chainsaw-matrix/main.go
  test/conformance/chainsaw/e2e-matrix.json
Labels: cherry-pick-required, milestone 1.13.0, size:XL

#11314 chore(deps): bump kyverno/action-install-chainsaw from 0.2.10 to 0.2.11 (cherry-pick #11289)
  .github/workflows/conformance.yaml
Labels: size:XS

#11315 chore: bump chainsaw (cherry-pick #11280)
  .github/actions/kyverno-logs/action.yaml
  .github/actions/run-tests/action.yaml
  .github/dependabot.yml
  .github/workflows/conformance.yaml
  Makefile
  hack/chainsaw-matrix/go.mod
  hack/chainsaw-matrix/go.sum
  hack/chainsaw-matrix/main.go
  test/conformance/chainsaw/e2e-matrix.json
Labels: size:XL

#11212 Package initialization for new autogen approach with some tests
  pkg/autogenv2/autogen.go
  pkg/autogenv2/autogen_test.go
  pkg/autogenv2/log.go
Labels: milestone 1.14.0, size:XL

#11339 fix: add permission for mutate existing report test
  test/conformance/chainsaw/reports/background/mutate-existing/chainsaw-test.yaml
  test/conformance/chainsaw/reports/background/mutate-existing/permissions.yaml
Labels: cherry-pick-required, milestone 1.13.0, size:S

#11342 fix: use aws mirror of trivy db to fix rate limiter issue
  .github/workflows/devcontainer-build.yaml
  .github/workflows/images-build.yaml
  .github/workflows/images-publish.yaml
  .github/workflows/release.yaml
  .github/workflows/report-on-vulnerabilities.yaml
Labels: cherry-pick-required, milestone 1.13.0, size:M

#11277 Test/ttl cleanup deletion policy
  pkg/controllers/ttl/controller.go
  pkg/controllers/ttl/controller_test.go
Labels: milestone 1.14.0, size:M

#11346 chore: use ptr package
  pkg/autogen/autogen_test.go
  pkg/config/metricsconfig_test.go
  pkg/config/types_test.go
  pkg/controllers/ttl/controller.go
  pkg/controllers/ttl/controller_test.go
Labels: milestone 1.14.0, size:L

#11347 fix: use aws mirror of trivy db to fix rate limiter issue (#11342)
  .github/workflows/devcontainer-build.yaml
  .github/workflows/images-build.yaml
  .github/workflows/images-publish.yaml
  .github/workflows/release.yaml
  .github/workflows/report-on-vulnerabilities.yaml
Labels: size:M

#11243 fix: Allow images to be pulled from insecure registry when allowInsecureRegistry flag is set to true (#10934)
  pkg/cosign/cosign.go
  pkg/cosign/sigstore.go
  pkg/cosign/sigstore_test.go
  pkg/engine/adapters/rclient.go
  pkg/engine/api/client.go
  pkg/images/verifier.go
  pkg/notary/notary.go
  pkg/notary/notary_test.go
  pkg/notary/registry.go
  pkg/registryclient/client.go
Labels: cherry-pick-required, milestone 1.13.0, size:M

#11340 fix: transfer image verify chainsaw test images to kyverno
  test/conformance/chainsaw/verifyImages/clusterpolicy/standard/keyless-attestation-invalid-attestor/pod.yaml
  test/conformance/chainsaw/verifyImages/clusterpolicy/standard/keyless-attestation-invalid-attestor/policy.yaml
  test/conformance/chainsaw/verifyImages/clusterpolicy/standard/keyless-attestation-regexp/pod.yaml
  test/conformance/chainsaw/verifyImages/clusterpolicy/standard/keyless-attestation-regexp/policy.yaml
  test/conformance/chainsaw/verifyImages/clusterpolicy/standard/keyless-attestations-multiple-subjects-1/chainsaw-step-02-apply-1.yaml
  test/conformance/chainsaw/verifyImages/clusterpolicy/standard/keyless-attestations-multiple-subjects-1/chainsaw-step-02-assert-1.yaml
  test/conformance/chainsaw/verifyImages/clusterpolicy/standard/keyless-attestations-multiple-subjects-1/policy.yaml
  test/conformance/chainsaw/verifyImages/clusterpolicy/standard/keyless-attestations-multiple-subjects-2/chainsaw-step-02-apply-1.yaml
  test/conformance/chainsaw/verifyImages/clusterpolicy/standard/keyless-attestations-multiple-subjects-2/chainsaw-step-02-assert-1.yaml
  test/conformance/chainsaw/verifyImages/clusterpolicy/standard/keyless-attestations-multiple-subjects-2/policy.yaml
  test/conformance/chainsaw/verifyImages/clusterpolicy/standard/keyless-attestations-multiple-subjects-3/pod.yaml
  test/conformance/chainsaw/verifyImages/clusterpolicy/standard/keyless-attestations-multiple-subjects-3/policy.yaml
  test/conformance/chainsaw/verifyImages/clusterpolicy/standard/keyless-attestations-multiple-subjects-4/chainsaw-step-02-apply-1.yaml
  test/conformance/chainsaw/verifyImages/clusterpolicy/standard/keyless-attestations-multiple-subjects-4/chainsaw-step-02-assert-1.yaml
  test/conformance/chainsaw/verifyImages/clusterpolicy/standard/keyless-attestations-multiple-subjects-4/policy.yaml
  test/conformance/chainsaw/verifyImages/clusterpolicy/standard/keyless-attestations-multiple-subjects-counts-1/chainsaw-step-02-apply-1.yaml
  test/conformance/chainsaw/verifyImages/clusterpolicy/standard/keyless-attestations-multiple-subjects-counts-1/chainsaw-step-02-assert-1.yaml
  test/conformance/chainsaw/verifyImages/clusterpolicy/standard/keyless-attestations-multiple-subjects-counts-1/policy.yaml
  test/conformance/chainsaw/verifyImages/clusterpolicy/standard/keyless-attestations-multiple-subjects-counts-2/pod.yaml
  test/conformance/chainsaw/verifyImages/clusterpolicy/standard/keyless-attestations-multiple-subjects-counts-2/policy.yaml
  test/conformance/chainsaw/verifyImages/clusterpolicy/standard/keyless-attestations-multiple-subjects-counts-3/pod.yaml
  test/conformance/chainsaw/verifyImages/clusterpolicy/standard/keyless-attestations-multiple-subjects-counts-3/policy.yaml
  test/conformance/chainsaw/verifyImages/clusterpolicy/standard/keyless-image-invalid-attestor/pod.yaml
  test/conformance/chainsaw/verifyImages/clusterpolicy/standard/keyless-image-invalid-attestor/policy.yaml
  test/conformance/chainsaw/verifyImages/clusterpolicy/standard/keyless-mutatedigest-verifydigest-required/chainsaw-step-02-apply-1.yaml
  test/conformance/chainsaw/verifyImages/clusterpolicy/standard/keyless-mutatedigest-verifydigest-required/chainsaw-step-02-assert-1.yaml
  test/conformance/chainsaw/verifyImages/clusterpolicy/standard/keyless-mutatedigest-verifydigest-required/policy.yaml
  test/conformance/chainsaw/verifyImages/clusterpolicy/standard/keyless-nomutatedigest-noverifydigest-norequired/chainsaw-step-02-apply-1.yaml
  test/conformance/chainsaw/verifyImages/clusterpolicy/standard/keyless-nomutatedigest-noverifydigest-norequired/chainsaw-step-02-assert-1.yaml
  test/conformance/chainsaw/verifyImages/clusterpolicy/standard/keyless-nomutatedigest-noverifydigest-norequired/policy.yaml
  test/conformance/chainsaw/verifyImages/clusterpolicy/standard/keyless-nomutatedigest-noverifydigest-required/chainsaw-step-02-apply-1.yaml
  test/conformance/chainsaw/verifyImages/clusterpolicy/standard/keyless-nomutatedigest-noverifydigest-required/chainsaw-step-02-assert-1.yaml
  test/conformance/chainsaw/verifyImages/clusterpolicy/standard/keyless-nomutatedigest-noverifydigest-required/policy.yaml
  test/conformance/chainsaw/verifyImages/clusterpolicy/standard/skip-image-reference/bad.yaml
  test/conformance/chainsaw/verifyImages/clusterpolicy/standard/skip-image-reference/policy.yaml
  test/conformance/chainsaw/verifyImages/clusterpolicy/standard/skip-image-reference/skipped.yaml
Labels: cherry-pick-required, milestone 1.13.0, size:M

#11328 Added chainsaw test for the ttl based cleanup poliy
  test/conformance/chainsaw/ttl/propagation-policy/background/chainsaw-test.yaml
  test/conformance/chainsaw/ttl/propagation-policy/background/job.yaml
  test/conformance/chainsaw/ttl/propagation-policy/background/pod-assert.yaml
  test/conformance/chainsaw/ttl/propagation-policy/foreground/chainsaw-test.yaml
  test/conformance/chainsaw/ttl/propagation-policy/foreground/job.yaml
  test/conformance/chainsaw/ttl/propagation-policy/foreground/pod-assert.yaml
  test/conformance/chainsaw/ttl/propagation-policy/orphan/chainsaw-test.yaml
  test/conformance/chainsaw/ttl/propagation-policy/orphan/job.yaml
  test/conformance/chainsaw/ttl/propagation-policy/orphan/pod-assert.yaml
Labels: milestone 1.14.0, size:L

#11297 chore: Add a new field in the test results CRD to specify patched resources
  cmd/cli/kubectl-kyverno/apis/v1alpha1/test_result.go
  cmd/cli/kubectl-kyverno/config/crds/cli.kyverno.io_tests.yaml
  cmd/cli/kubectl-kyverno/data/crds/cli.kyverno.io_tests.yaml
  docs/user/cli/crd/index.html
  docs/user/cli/crd/kyverno_kubectl.v1alpha1.html
Labels: milestone 1.14.0, size:M

#11058 add support for shallow substitution
  charts/kyverno/values.yaml
  config/install-latest-testing.yaml
  pkg/engine/variables/regex/vars.go
  pkg/engine/variables/vars.go
  pkg/engine/variables/vars_test.go
Labels: cherry-pick-required, milestone 1.13.0, size:M

#11361 feat: add --backgroundReports flag to disable background controller reports
  charts/kyverno/README.md
  charts/kyverno/templates/_helpers.tpl
  charts/kyverno/templates/background-controller/deployment.yaml
  charts/kyverno/values.yaml
  cmd/background-controller/main.go
  config/install-latest-testing.yaml
  pkg/background/generate/controller.go
  pkg/background/mutate/mutate.go
  pkg/background/update_request_controller.go
Labels: Documentation, cherry-pick-required, milestone 1.13.0, size:L

#11378 feat(cache): use shallow copy instead of deep copy
  pkg/policycache/cache.go
Labels: milestone 1.13.0, size:M

#11380 feat(cache): use shallow copy instead of deep copy (cherry-pick #11378)
  pkg/policycache/cache.go
Labels: size:M

#11329 Reports controller circuit breaker
  cmd/background-controller/main.go
  cmd/reports-controller/main.go
  pkg/breaker/breaker.go
  pkg/controllers/report/background/controller.go
Labels: milestone 1.13.0, size:M

#11376 feat: add helm configuration for reporting in different rules
  charts/kyverno/README.md
  charts/kyverno/templates/_helpers.tpl
  charts/kyverno/templates/admission-controller/deployment.yaml
  charts/kyverno/templates/background-controller/deployment.yaml
  charts/kyverno/templates/reports-controller/deployment.yaml
  charts/kyverno/values.yaml
  cmd/background-controller/main.go
  cmd/internal/config.go
  cmd/internal/flag.go
  cmd/internal/reporting.go
  cmd/internal/setup.go
  cmd/kyverno/main.go
  cmd/reports-controller/main.go
  config/install-latest-testing.yaml
  pkg/background/generate/controller.go
  pkg/background/mutate/mutate.go
  pkg/background/update_request_controller.go
  pkg/controllers/report/background/controller.go
  pkg/controllers/report/utils/scanner.go
  pkg/utils/report/config.go
  pkg/webhooks/resource/fake.go
  pkg/webhooks/resource/handlers.go
  pkg/webhooks/resource/imageverification/handler.go
  pkg/webhooks/resource/mutation/mutation.go
  pkg/webhooks/resource/mutation/utils.go
  pkg/webhooks/resource/validation/utils.go
  pkg/webhooks/resource/validation/validation.go
Labels: Documentation, cherry-pick-required, milestone 1.13.0, size:L

#11344 chore: add delay after policy gets ready
  test/conformance/chainsaw/_step-templates/policy-ready.yaml
Labels: cherry-pick-required, milestone 1.13.0, size:XS

#11327 Added GetNames and GetKinds function
  pkg/autogenv2/autogen.go
  pkg/autogenv2/autogen_test.go
  pkg/controllers/webhook/controller.go
Labels: milestone 1.14.0, size:L

#11398 feat: update engine response.generatedResources to support multiple resource
  cmd/cli/kubectl-kyverno/commands/test/command.go
  cmd/cli/kubectl-kyverno/commands/test/compare.go
  cmd/cli/kubectl-kyverno/processor/generate.go
  cmd/cli/kubectl-kyverno/resource/resource.go
  pkg/background/generate/controller.go
  pkg/engine/api/ruleresponse.go
  pkg/utils/report/results.go
  test/conformance/chainsaw/reports/background/generate/chainsaw-step-03-assert-1-1.yaml
Labels: cherry-pick-required, milestone 1.13.0, size:L

#11409 chore: Bump python installation in helm test to 3.8.13 as the installation action doesnt support ubuntu 24
  .github/workflows/helm-test.yaml
Labels: milestone 1.14.0, size:XS

#11397 fix: use autogen v2 in exceptions controller
  pkg/controllers/exceptions/controller.go
Labels: milestone 1.14.0, size:XS

#11416 refactor: move autogen v1 and v2 packages
  cmd/cli/kubectl-kyverno/commands/apply/command.go
  cmd/cli/kubectl-kyverno/commands/test/test.go
  cmd/cli/kubectl-kyverno/processor/generate.go
  cmd/cli/kubectl-kyverno/processor/result.go
  cmd/cli/kubectl-kyverno/utils/common/common.go
  cmd/cli/kubectl-kyverno/utils/common/fetch.go
  cmd/cli/kubectl-kyverno/utils/common/kyverno_resources_types.go
  pkg/autogen/v1/autogen.go
  pkg/autogen/v1/autogen_test.go
  pkg/autogen/v1/log.go
  pkg/autogen/v1/rule.go
  pkg/autogen/v2/autogen.go
  pkg/autogen/v2/autogen_test.go
  pkg/autogen/v2/log.go
  pkg/controllers/exceptions/controller.go
  pkg/controllers/metrics/policy/controller.go
  pkg/controllers/report/aggregate/controller.go
  pkg/controllers/report/utils/utils.go
  pkg/controllers/webhook/controller.go
  pkg/controllers/webhook/utils_test.go
  pkg/engine/background.go
  pkg/engine/fuzz_test.go
  pkg/engine/generation.go
  pkg/engine/image_verify.go
  pkg/engine/mutate/patch/strategicMergePatch_test.go
  pkg/engine/mutation.go
  pkg/engine/utils/utils_test.go
  pkg/engine/validation.go
  pkg/policy/generate.go
  pkg/policycache/cache_test.go
  pkg/policycache/store.go
  pkg/validation/policy/background.go
  pkg/validation/policy/validate.go
  pkg/webhooks/resource/updaterequest.go
Labels: milestone 1.14.0

#11418 refactor: introduce autogen interface
  cmd/cli/kubectl-kyverno/commands/apply/command.go
  cmd/cli/kubectl-kyverno/commands/test/test.go
  cmd/cli/kubectl-kyverno/processor/generate.go
  cmd/cli/kubectl-kyverno/processor/result.go
  cmd/cli/kubectl-kyverno/utils/common/common.go
  cmd/cli/kubectl-kyverno/utils/common/fetch.go
  cmd/cli/kubectl-kyverno/utils/common/kyverno_resources_types.go
  pkg/autogen/autogen.go
  pkg/autogen/v1/v1.go
  pkg/autogen/v2/autogen.go
  pkg/autogen/v2/v2.go
  pkg/controllers/exceptions/controller.go
  pkg/controllers/metrics/policy/controller.go
  pkg/controllers/report/aggregate/controller.go
  pkg/controllers/report/utils/utils.go
  pkg/controllers/webhook/controller.go
  pkg/controllers/webhook/utils_test.go
  pkg/engine/background.go
  pkg/engine/fuzz_test.go
  pkg/engine/generation.go
  pkg/engine/image_verify.go
  pkg/engine/mutate/patch/strategicMergePatch_test.go
  pkg/engine/mutation.go
  pkg/engine/utils/utils_test.go
  pkg/engine/validation.go
  pkg/policy/generate.go
  pkg/policycache/cache_test.go
  pkg/policycache/store.go
  pkg/validation/policy/background.go
  pkg/validation/policy/validate.go
  pkg/webhooks/resource/updaterequest.go
Labels: milestone 1.14.0, size:L

#11420 feat: add options to configure resync period for informers in helm chart
  charts/kyverno/README.md
  charts/kyverno/templates/admission-controller/deployment.yaml
  charts/kyverno/templates/background-controller/deployment.yaml
  charts/kyverno/templates/cleanup-controller/deployment.yaml
  charts/kyverno/templates/reports-controller/deployment.yaml
  charts/kyverno/values.yaml
  cmd/background-controller/main.go
  cmd/cleanup-controller/main.go
  cmd/internal/configmap.go
  cmd/internal/engine.go
  cmd/internal/flag.go
  cmd/internal/setup.go
  cmd/kyverno/main.go
  cmd/reports-controller/main.go
  config/install-latest-testing.yaml
  pkg/controllers/ttl/manager.go
Labels: cherry-pick-required, milestone 1.13.0, size:L

#11429 feat(ci): enhance load testing ci
  .github/workflows/load-testing.yml
  Makefile
  scripts/config/standard-with-profiling/kyverno.yaml
  scripts/config/stress-with-profiling/kyverno.yaml
  test/load/k6/pull_request-matrix.json
  test/load/k6/release-matrix.json
  test/load/k6/reports-size-in-etcd.sh
  test/load/k6/schedule-matrix.json
Labels: milestone 1.14.0, size:XL

#11419 feat: improve webhooks rules generation
  pkg/controllers/webhook/controller.go
  pkg/controllers/webhook/controller_test.go
  pkg/controllers/webhook/utils.go
  pkg/controllers/webhook/utils_test.go
  pkg/controllers/webhook/utils_webhook.go
Labels: cherry-pick-required, milestone 1.13.0, size:XXL

#11427 fix: update match logic for old object validation
  pkg/engine/handlers/validation/utils.go
  pkg/engine/handlers/validation/validate_assert.go
  pkg/engine/handlers/validation/validate_pss.go
  pkg/engine/handlers/validation/validate_resource.go
Labels: cherry-pick-required, milestone 1.13.0, size:M

#11444 feat(ci): enhance load testing (cherry-pick #11429)
  .github/workflows/load-testing.yml
  Makefile
  scripts/config/standard-with-profiling/kyverno.yaml
  scripts/config/stress-with-profiling/kyverno.yaml
  test/load/k6/pull_request-matrix.json
  test/load/k6/release-matrix.json
  test/load/k6/reports-size-in-etcd.sh
  test/load/k6/schedule-matrix.json
Labels: size:XL

#11447 Release v1.13.0-rc.3
  charts/kyverno-policies/Chart.yaml
  charts/kyverno-policies/README.md
  charts/kyverno/Chart.yaml
  charts/kyverno/README.md
  charts/kyverno/charts/crds/Chart.yaml
  charts/kyverno/charts/crds/README.md
  charts/kyverno/charts/grafana/Chart.yaml
  charts/kyverno/charts/grafana/README.md
  config/install-latest-testing.yaml
Labels: size:M

#11449 feat: improve webhooks rules generation (cherry-pick #11419)
  pkg/controllers/webhook/controller.go
  pkg/controllers/webhook/controller_test.go
  pkg/controllers/webhook/utils.go
  pkg/controllers/webhook/utils_test.go
  pkg/controllers/webhook/utils_webhook.go
Labels: size:XXL

#11448 chore: bump sigstore/sigstore to 1.8.10
  go.mod
  go.sum
Labels: cherry-pick-required, milestone 1.13.0, size:XS

#11368 Introduced the DeletionPropagationPolicy field in CleanupPolicy and C…
  api/kyverno/v2/cleanup_policy_types.go
  api/kyverno/v2/zz_generated.deepcopy.go
  api/kyverno/v2beta1/cleanup_policy_types.go
  api/kyverno/v2beta1/zz_generated.deepcopy.go
  charts/kyverno/charts/crds/templates/kyverno.io/kyverno.io_cleanuppolicies.yaml
  charts/kyverno/charts/crds/templates/kyverno.io/kyverno.io_clustercleanuppolicies.yaml
  config/crds/kyverno/kyverno.io_cleanuppolicies.yaml
  config/crds/kyverno/kyverno.io_clustercleanuppolicies.yaml
  config/install-latest-testing.yaml
  docs/user/crd/index.html
  docs/user/crd/kyverno.v2.html
  docs/user/crd/kyverno.v2beta1.html
  pkg/client/applyconfigurations/kyverno/v2/cleanuppolicyspec.go
  pkg/client/applyconfigurations/kyverno/v2beta1/cleanuppolicyspec.go
  pkg/controllers/cleanup/controller.go
Labels: milestone 1.14.0, size:L

#11451 chore: bump sigstore/sigstore in release 1.13
  go.mod
  go.sum
Labels: size:S

#11480 feat: skip azure keychain based login for mcr registry
  pkg/registryclient/authn.go
Labels: cherry-pick-required, size:XS, milestone 1.13.1

#11492 fix: use digest instead of tag for custom-sigstore-tuf conformance test
  test/conformance/chainsaw/sigstore-custom-tuf/sigstore-image-verification-test/pod.yaml
Labels: cherry-pick-required, size:XS, milestone 1.13.1

#11489 fix: add emitWarning field in v2beta1
  api/kyverno/v2beta1/spec_types.go
  api/kyverno/v2beta1/zz_generated.deepcopy.go
  charts/kyverno/Chart.yaml
  charts/kyverno/charts/crds/templates/kyverno.io/kyverno.io_clusterpolicies.yaml
  charts/kyverno/charts/crds/templates/kyverno.io/kyverno.io_policies.yaml
  cmd/cli/kubectl-kyverno/data/crds/kyverno.io_clusterpolicies.yaml
  cmd/cli/kubectl-kyverno/data/crds/kyverno.io_policies.yaml
  config/crds/kyverno/kyverno.io_clusterpolicies.yaml
  config/crds/kyverno/kyverno.io_policies.yaml
  config/install-latest-testing.yaml
  docs/user/crd/index.html
  docs/user/crd/kyverno.v2beta1.html
  pkg/client/applyconfigurations/kyverno/v2beta1/spec.go
Labels: cherry-pick-required, size:L, milestone 1.13.1

#11500 Release Helm Chart 3.3.1 (Kyvernno v1.13.0)
  charts/kyverno/Chart.yaml
  charts/kyverno/README.md
  charts/kyverno/charts/crds/Chart.yaml
  charts/kyverno/charts/crds/README.md
  charts/kyverno/charts/grafana/Chart.yaml
  charts/kyverno/charts/grafana/README.md
  config/install-latest-testing.yaml
Labels: size:M

#11501 fix: support VAP stable version v1 in the CLI
  cmd/cli/kubectl-kyverno/policy/load.go
Labels: cherry-pick-required, size:S, milestone 1.13.1

#11503 fix: add celPreconditions in autogen rules
  pkg/autogen/v1/autogen.go
  pkg/autogen/v1/rule.go
  test/conformance/chainsaw/autogen/cel-preconditions/README.md
  test/conformance/chainsaw/autogen/cel-preconditions/chainsaw-test.yaml
  test/conformance/chainsaw/autogen/cel-preconditions/check-autogen.yaml
  test/conformance/chainsaw/autogen/cel-preconditions/policy.yaml
Labels: cherry-pick-required, size:L, milestone 1.13.1
