Repository kyverno/kyverno, pull requests merged in 2024-01, with the labels that each got.

#9323 feat: add new client for events
  cmd/background-controller/main.go
  cmd/cleanup-controller/main.go
  cmd/internal/client.go
  cmd/internal/config.go
  cmd/internal/flag.go
  cmd/internal/setup.go
  cmd/kyverno/main.go
  cmd/reports-controller/main.go
  pkg/event/controller.go
Labels: Documentation, milestone 1.12.0

#9326 chore(deps): bump kubectl-validate version
  go.mod
  go.sum
Labels: milestone 1.12.0

#9332 fix a chainsaw test
  test/conformance/chainsaw/generate-validating-admission-policy/clusterpolicy/standard/skip-generate/cpol-exclude/validatingadmissionpolicybinding.yaml
Labels: milestone 1.12.0

#9331 fix: remove the check of exclude in VAPs
  pkg/controllers/validatingadmissionpolicy-generate/policycheck.go
  test/conformance/chainsaw/generate-validating-admission-policy/clusterpolicy/standard/skip-generate/cpol-exclude-namespace/chainsaw-test.yaml
  test/conformance/chainsaw/generate-validating-admission-policy/clusterpolicy/standard/skip-generate/cpol-exclude-namespace/policy-assert.yaml
  test/conformance/chainsaw/generate-validating-admission-policy/clusterpolicy/standard/skip-generate/cpol-exclude-namespace/policy.yaml
  test/conformance/chainsaw/generate-validating-admission-policy/clusterpolicy/standard/skip-generate/cpol-exclude-namespace/validatingadmissionpolicy.yaml
  test/conformance/chainsaw/generate-validating-admission-policy/clusterpolicy/standard/skip-generate/cpol-exclude-namespace/validatingadmissionpolicybinding.yaml
Labels: milestone 1.12.0

#9333 fix: non-trigger resources should be skipped for background policies regardless of `skipBackgroundRequests` settings
  pkg/webhooks/resource/generation/handler.go
  pkg/webhooks/resource/updaterequest.go
  pkg/webhooks/resource/utils.go
Labels: cherry-pick-required, milestone 1.11.3

#9341 fix PSA chainsaw tests
  test/conformance/chainsaw/validate/clusterpolicy/standard/psa/test-exclusion-host-ports/bad-pod.yaml
  test/conformance/chainsaw/validate/clusterpolicy/standard/psa/test-exclusion-host-ports/good-pod.yaml
  test/conformance/chainsaw/validate/clusterpolicy/standard/psa/test-exclusion-hostprocesses/bad-pod.yaml
  test/conformance/chainsaw/validate/clusterpolicy/standard/psa/test-exclusion-hostprocesses/excluded-pod.yaml
  test/conformance/chainsaw/validate/clusterpolicy/standard/psa/test-exclusion-hostprocesses/good-pod.yaml
  test/conformance/chainsaw/validate/clusterpolicy/standard/psa/test-exclusion-procmount/excluded-pod.yaml
Labels: milestone 1.12.0

#9315 fix: update CLI to use store for fetching regclient
  cmd/cli/kubectl-kyverno/commands/apply/command.go
  cmd/cli/kubectl-kyverno/commands/test/test.go
  cmd/cli/kubectl-kyverno/processor/policy_processor.go
  cmd/cli/kubectl-kyverno/processor/policy_processor_test.go
Labels: type:cli, cherry-pick-required, milestone 1.11.3

#9345 fix: update CLI to use store for fetching regclient
  cmd/cli/kubectl-kyverno/commands/test/test.go
Labels: milestone 1.11.3

#9144 support for SHA256 jmespath function
  pkg/engine/jmespath/functions.go
  pkg/engine/jmespath/functions_test.go
Labels: Documentation, milestone 1.12.0

#9339 Add global nodeSelector
  charts/kyverno/Chart.yaml
  charts/kyverno/README.md
  charts/kyverno/ci/nodeSelector-global-values.yaml
  charts/kyverno/templates/admission-controller/deployment.yaml
  charts/kyverno/templates/background-controller/deployment.yaml
  charts/kyverno/templates/cleanup-controller/deployment.yaml
  charts/kyverno/templates/cleanup/cleanup-admission-reports.yaml
  charts/kyverno/templates/cleanup/cleanup-cluster-admission-reports.yaml
  charts/kyverno/templates/hooks/post-upgrade.yaml
  charts/kyverno/templates/hooks/pre-delete.yaml
  charts/kyverno/templates/reports-controller/deployment.yaml
  charts/kyverno/values.yaml
Labels: milestone 1.12.0

#9355 fix: clean up URs if the trigger doesn't exist
  pkg/background/generate/generate.go
  pkg/validation/policy/background.go
  test/conformance/chainsaw/generate/clusterpolicy/cornercases/cpol-data-trigger-not-present/README.md
  test/conformance/chainsaw/generate/clusterpolicy/cornercases/cpol-data-trigger-not-present/chainsaw-test.yaml
  test/conformance/chainsaw/generate/clusterpolicy/cornercases/cpol-data-trigger-not-present/generated.yaml
  test/conformance/chainsaw/generate/clusterpolicy/cornercases/cpol-data-trigger-not-present/policy-ready.yaml
  test/conformance/chainsaw/generate/clusterpolicy/cornercases/cpol-data-trigger-not-present/policy.yaml
  test/conformance/chainsaw/generate/clusterpolicy/cornercases/cpol-data-trigger-not-present/rbac.yaml
  test/conformance/chainsaw/generate/clusterpolicy/cornercases/cpol-data-trigger-not-present/roles.yaml
Labels: milestone 1.12.0

#9391 feat: add podLabels to the hook jobs pod template
  charts/kyverno/Chart.yaml
  charts/kyverno/README.md
  charts/kyverno/templates/hooks/post-upgrade.yaml
  charts/kyverno/templates/hooks/pre-delete.yaml
  charts/kyverno/values.yaml
Labels: milestone 1.12.0

#9408 chore: bump bitnami/kubectl
  charts/kyverno/README.md
  charts/kyverno/values.yaml
  config/install-latest-testing.yaml
Labels: milestone 1.12.0

#8659 feat: re-evaluate policy exceptions for existing resources and modify reports accordingly
  cmd/reports-controller/main.go
  pkg/controllers/report/background/controller.go
  pkg/controllers/report/utils/utils.go
  pkg/utils/report/labels.go
  pkg/utils/report/results.go
  test/conformance/chainsaw/reports/admission/exception/report-assert.yaml
  test/conformance/chainsaw/reports/background/exception/README.md
  test/conformance/chainsaw/reports/background/exception/chainsaw-test.yaml
  test/conformance/chainsaw/reports/background/exception/report-assert.yaml
Labels: Documentation, milestone 1.12.0

#9428 fix: nancy ignore list
  .nancy-ignore
Labels: milestone 1.12.0

#9426 chore: bump a couple of deps
  go.mod
  go.sum
Labels: milestone 1.12.0

#9433 chore: use upstream cosign on main
  go.mod
  go.sum
Labels: milestone 1.12.0

#9404 fix: add v1beta1 of VAPs in the CLI
  cmd/cli/kubectl-kyverno/commands/apply/command.go
  cmd/cli/kubectl-kyverno/policy/load.go
Labels: cherry-pick-required, milestone 1.11.4

#9440 chore: bump a couple of deps
  go.mod
  go.sum
Labels: milestone 1.12.0

#9392 fix: use the correct API version for VAPs in the generated events
  pkg/engine/api/policy.go
  pkg/event/events.go
Labels: cherry-pick-required, milestone 1.11.4

#9386 feat: skip generating VAP when an exception is defined
  api/kyverno/v2/policy_exception_types.go
  api/kyverno/v2alpha1/policy_exception_types.go
  api/kyverno/v2beta1/policy_exception_types.go
  cmd/kyverno/main.go
  pkg/controllers/validatingadmissionpolicy-generate/controller.go
  pkg/controllers/validatingadmissionpolicy-generate/policycheck.go
  test/conformance/chainsaw/generate-validating-admission-policy/clusterpolicy/standard/skip-generate/cpol-with-exceptions/chainsaw-test.yaml
  test/conformance/chainsaw/generate-validating-admission-policy/clusterpolicy/standard/skip-generate/cpol-with-exceptions/exception.yaml
  test/conformance/chainsaw/generate-validating-admission-policy/clusterpolicy/standard/skip-generate/cpol-with-exceptions/policy-assert.yaml
  test/conformance/chainsaw/generate-validating-admission-policy/clusterpolicy/standard/skip-generate/cpol-with-exceptions/policy.yaml
  test/conformance/chainsaw/generate-validating-admission-policy/clusterpolicy/standard/skip-generate/cpol-with-exceptions/validatingadmissionpolicy.yaml
  test/conformance/chainsaw/generate-validating-admission-policy/clusterpolicy/standard/skip-generate/cpol-with-exceptions/validatingadmissionpolicybinding.yaml
Labels: Documentation, milestone 1.12.0

#9442 chore: bump otel deps
  go.mod
  go.sum
  pkg/metrics/metrics.go
  pkg/tracing/config.go
  pkg/tracing/helpers.go
  pkg/webhooks/handlers/metrics.go
  pkg/webhooks/handlers/trace.go
Labels: milestone 1.12.0

#9463 fix: change generic policy to not return any
  cmd/cli/kubectl-kyverno/processor/result.go
  pkg/controllers/report/background/controller.go
  pkg/controllers/report/utils/scanner.go
  pkg/engine/api/engineresponse.go
  pkg/engine/api/policy.go
  pkg/engine/metrics.go
  pkg/event/events.go
  pkg/utils/report/results.go
Labels: milestone 1.12.0

#9461 Update CONTRIBUTORS.md
  CONTRIBUTORS.md
Labels: milestone 1.12.0

#9465 chore: load cli image when deploying locally
  Makefile
Labels: milestone 1.12.0

#9467 update README for new features and OSS security index card
  README.md
Labels: milestone 1.12.0

#9464 Update DEVELOPMENT.md
  DEVELOPMENT.md
Labels: milestone 1.12.0

#9412 feat: migrate existing policy exceptions to the new storage version in helm hook
  Makefile
  charts/kyverno/README.md
  charts/kyverno/templates/admission-controller/clusterrole.yaml
  charts/kyverno/templates/hooks/crds-migration/exceptions-post-upgrade.yaml
  charts/kyverno/values.yaml
  config/install-latest-testing.yaml
Labels: milestone 1.12.0

#9338 feat: add profiling to the helm Chart
  charts/kyverno/Chart.yaml
  charts/kyverno/README.md
  charts/kyverno/templates/admission-controller/deployment.yaml
  charts/kyverno/templates/admission-controller/service.yaml
  charts/kyverno/templates/background-controller/deployment.yaml
  charts/kyverno/templates/background-controller/service.yaml
  charts/kyverno/templates/cleanup-controller/deployment.yaml
  charts/kyverno/templates/cleanup-controller/service.yaml
  charts/kyverno/templates/reports-controller/deployment.yaml
  charts/kyverno/templates/reports-controller/service.yaml
  charts/kyverno/values.yaml
  config/install-latest-testing.yaml
Labels: milestone 1.12.0

#8880 fix: allow multiple keys in verifyImages.attestations.attestors.entries
  pkg/engine/internal/imageverifier.go
  test/conformance/chainsaw/verifyImages/clusterpolicy/standard/keyless-attestation-invalid-attestor/README.md
  test/conformance/chainsaw/verifyImages/clusterpolicy/standard/keyless-attestation-invalid-attestor/chainsaw-test.yaml
  test/conformance/chainsaw/verifyImages/clusterpolicy/standard/keyless-attestation-invalid-attestor/pod-assert.yaml
  test/conformance/chainsaw/verifyImages/clusterpolicy/standard/keyless-attestation-invalid-attestor/pod.yaml
  test/conformance/chainsaw/verifyImages/clusterpolicy/standard/keyless-attestation-invalid-attestor/policy-assert.yaml
  test/conformance/chainsaw/verifyImages/clusterpolicy/standard/keyless-attestation-invalid-attestor/policy.yaml
  test/conformance/chainsaw/verifyImages/clusterpolicy/standard/keyless-image-invalid-attestor/README.md
  test/conformance/chainsaw/verifyImages/clusterpolicy/standard/keyless-image-invalid-attestor/chainsaw-test.yaml
  test/conformance/chainsaw/verifyImages/clusterpolicy/standard/keyless-image-invalid-attestor/pod-assert.yaml
  test/conformance/chainsaw/verifyImages/clusterpolicy/standard/keyless-image-invalid-attestor/pod.yaml
  test/conformance/chainsaw/verifyImages/clusterpolicy/standard/keyless-image-invalid-attestor/policy-assert.yaml
  test/conformance/chainsaw/verifyImages/clusterpolicy/standard/keyless-image-invalid-attestor/policy.yaml
Labels: milestone 1.12.0

#9420 feat: migrate existing cleanup policies to the new storage version in helm hook
  charts/kyverno/README.md
  charts/kyverno/templates/admission-controller/clusterrole.yaml
  charts/kyverno/templates/cleanup-controller/clusterrole.yaml
  charts/kyverno/templates/hooks/crds-migration/cleanup-post-upgrade.yaml
  charts/kyverno/values.yaml
  config/install-latest-testing.yaml
Labels: milestone 1.12.0

#9481 feat: improve crd migration helm hooks
  Makefile
  charts/kyverno/README.md
  charts/kyverno/templates/admission-controller/clusterrole.yaml
  charts/kyverno/templates/cleanup-controller/clusterrole.yaml
  charts/kyverno/templates/hooks/crds-migration/cleanup-post-upgrade.yaml
  charts/kyverno/templates/hooks/crds-migration/exceptions-post-upgrade.yaml
  charts/kyverno/templates/hooks/post-upgrade-clean-reports.yaml
  charts/kyverno/templates/hooks/post-upgrade-migrate-resources.yaml
  charts/kyverno/templates/hooks/pre-delete-scale-to-zero.yaml
  charts/kyverno/values.yaml
  config/install-latest-testing.yaml
Labels: milestone 1.12.0

#9476 feat: support all valid jsonpatches in validation webhook
  pkg/validation/policy/validate.go
Labels: milestone 1.12.0

#9482 fix: align clusterroles and bindings names
  charts/kyverno/templates/cleanup/clusterrole.yaml
  charts/kyverno/templates/cleanup/clusterrolebinding.yaml
  config/install-latest-testing.yaml
Labels: milestone 1.12.0

#9486 test: added test for pkg/utils/admission/cleanup.go
  pkg/utils/admission/cleanup_test.go
Labels: milestone 1.12.0

#9487 chore: bump a couple of deps
  go.mod
  go.sum
Labels: milestone 1.12.0

#9468 feat: support validatingadmissionpolicybindings in CLI apply command
  cmd/cli/kubectl-kyverno/commands/apply/command.go
  cmd/cli/kubectl-kyverno/commands/fix/policy/options.go
  cmd/cli/kubectl-kyverno/commands/oci/pull/options.go
  cmd/cli/kubectl-kyverno/commands/oci/push/options.go
  cmd/cli/kubectl-kyverno/commands/test/test.go
  cmd/cli/kubectl-kyverno/policy/load.go
  cmd/cli/kubectl-kyverno/policy/load_test.go
  cmd/cli/kubectl-kyverno/policy/variables_test.go
  cmd/cli/kubectl-kyverno/processor/policy_processor_test.go
  cmd/cli/kubectl-kyverno/processor/vap_processor.go
  cmd/cli/kubectl-kyverno/report/report_test.go
  pkg/autogen/autogen_test.go
  pkg/controllers/report/background/controller.go
  pkg/controllers/report/utils/scanner.go
  pkg/controllers/validatingadmissionpolicy-generate/policycheck_test.go
  pkg/utils/yaml/loadpolicy.go
  pkg/utils/yaml/loadpolicy_test.go
  pkg/validatingadmissionpolicy/api.go
  pkg/validatingadmissionpolicy/utils.go
  pkg/validatingadmissionpolicy/validatingadmissionpolicy.go
  pkg/validatingadmissionpolicy/validatingadmissionpolicy_test.go
  pkg/validation/policy/allowed_vars_test.go
Labels: Documentation, milestone 1.12.0

#8633 feat: add skipImageReferences in verify images
  api/kyverno/v1/image_verification_types.go
  api/kyverno/v1/zz_generated.deepcopy.go
  api/kyverno/v2beta1/image_verification_types.go
  api/kyverno/v2beta1/zz_generated.deepcopy.go
  charts/kyverno/charts/crds/templates/crds.yaml
  cmd/cli/kubectl-kyverno/data/crds/kyverno.io_clusterpolicies.yaml
  cmd/cli/kubectl-kyverno/data/crds/kyverno.io_policies.yaml
  config/crds/kyverno.io_clusterpolicies.yaml
  config/crds/kyverno.io_policies.yaml
  config/install-latest-testing.yaml
  docs/user/crd/index.html
  pkg/client/applyconfigurations/kyverno/v1/imageverification.go
  pkg/client/applyconfigurations/kyverno/v2beta1/imageverification.go
  pkg/engine/api/imageverifymetadata.go
  pkg/engine/api/imageverifymetadata_test.go
  pkg/engine/api/ruleresponse.go
  pkg/engine/handlers/validation/validate_image.go
  pkg/engine/image_verify_test.go
  pkg/engine/internal/imageverifier.go
  pkg/engine/utils/image.go
  pkg/webhooks/utils/warning.go
  test/conformance/chainsaw/verifyImages/clusterpolicy/standard/keyless-attestations-multiple-subjects-1/chainsaw-step-02-assert-1.yaml
  test/conformance/chainsaw/verifyImages/clusterpolicy/standard/keyless-attestations-multiple-subjects-2/chainsaw-step-02-assert-1.yaml
  test/conformance/chainsaw/verifyImages/clusterpolicy/standard/keyless-attestations-multiple-subjects-4/chainsaw-step-02-assert-1.yaml
  test/conformance/chainsaw/verifyImages/clusterpolicy/standard/keyless-attestations-multiple-subjects-counts-1/chainsaw-step-02-assert-1.yaml
  test/conformance/chainsaw/verifyImages/clusterpolicy/standard/keyless-mutatedigest-verifydigest-required/chainsaw-step-02-assert-1.yaml
  test/conformance/chainsaw/verifyImages/clusterpolicy/standard/keyless-nomutatedigest-noverifydigest-norequired/chainsaw-step-02-assert-1.yaml
  test/conformance/chainsaw/verifyImages/clusterpolicy/standard/keyless-nomutatedigest-noverifydigest-required/chainsaw-step-02-assert-1.yaml
  test/conformance/chainsaw/verifyImages/clusterpolicy/standard/skip-image-reference/README.md
  test/conformance/chainsaw/verifyImages/clusterpolicy/standard/skip-image-reference/bad.yaml
  test/conformance/chainsaw/verifyImages/clusterpolicy/standard/skip-image-reference/chainsaw-test.yaml
  test/conformance/chainsaw/verifyImages/clusterpolicy/standard/skip-image-reference/pod-assert.yaml
  test/conformance/chainsaw/verifyImages/clusterpolicy/standard/skip-image-reference/pod.yaml
  test/conformance/chainsaw/verifyImages/clusterpolicy/standard/skip-image-reference/policy-ready.yaml
  test/conformance/chainsaw/verifyImages/clusterpolicy/standard/skip-image-reference/policy.yaml
  test/conformance/chainsaw/verifyImages/clusterpolicy/standard/skip-image-reference/skipped-assert.yaml
  test/conformance/chainsaw/verifyImages/clusterpolicy/standard/skip-image-reference/skipped.yaml
Labels: Documentation, milestone 1.12.0

#9492 fix: kyverno apply panic for mutate policies
  pkg/policy/auth/auth.go
  pkg/policy/auth/fake/auth.go
  pkg/policy/generate/fake.go
  pkg/policy/generate/validate.go
  pkg/policy/mutate/auth.go
  pkg/policy/mutate/validate.go
  pkg/validation/policy/actions.go
Labels: milestone 1.12.0

#9493 chore(helm): omit normal events by default
  charts/kyverno/README.md
  charts/kyverno/values.yaml
  config/install-latest-testing.yaml
  scripts/config/standard/kyverno.yaml
Labels: milestone 1.12.0

#9507 feat: add more granular rbac rules to remove wildcards
  charts/kyverno/templates/admission-controller/clusterrole.yaml
  charts/kyverno/templates/reports-controller/clusterrole.yaml
  config/install-latest-testing.yaml
Labels: milestone 1.12.0

#9380 feat: use assertion trees in cli test command
  cmd/cli/kubectl-kyverno/apis/v1alpha1/test.go
  cmd/cli/kubectl-kyverno/commands/test/command.go
  cmd/cli/kubectl-kyverno/commands/test/output.go
  go.mod
  go.sum
Labels: Documentation, milestone 1.12.0

#9509 fix: reduce logs in controllers when an item is not found
  pkg/utils/controller/run.go
Labels: milestone 1.12.0

#9520 test: added test for pkg/utils/admission/policy.go
  pkg/utils/admission/policy_test.go
Labels: milestone 1.12.0

#9343 feat: support podSecurity exclusion in exceptions
  api/kyverno/v2/policy_exception_types.go
  api/kyverno/v2/zz_generated.deepcopy.go
  api/kyverno/v2beta1/policy_exception_types.go
  api/kyverno/v2beta1/zz_generated.deepcopy.go
  charts/kyverno/charts/crds/templates/crds.yaml
  cmd/cli/kubectl-kyverno/data/crds/kyverno.io_policyexceptions.yaml
  config/crds/kyverno.io_policyexceptions.yaml
  config/install-latest-testing.yaml
  docs/user/crd/index.html
  pkg/client/applyconfigurations/kyverno/v2/policyexceptionspec.go
  pkg/client/applyconfigurations/kyverno/v2beta1/policyexceptionspec.go
  pkg/engine/handlers/validation/validate_pss.go
  pkg/pss/evaluate.go
  pkg/pss/evaluate_test.go
  pkg/pss/fuzz_test.go
  test/conformance/chainsaw/exceptions/exclude-capabilities/README.md
  test/conformance/chainsaw/exceptions/exclude-capabilities/chainsaw-test.yaml
  test/conformance/chainsaw/exceptions/exclude-capabilities/exception.yaml
  test/conformance/chainsaw/exceptions/exclude-capabilities/ns.yaml
  test/conformance/chainsaw/exceptions/exclude-capabilities/pod-allowed.yaml
  test/conformance/chainsaw/exceptions/exclude-capabilities/pod-rejected-1.yaml
  test/conformance/chainsaw/exceptions/exclude-capabilities/pod-rejected-2.yaml
  test/conformance/chainsaw/exceptions/exclude-capabilities/policy-assert.yaml
  test/conformance/chainsaw/exceptions/exclude-capabilities/policy.yaml
  test/conformance/chainsaw/exceptions/exclude-host-ports/README.md
  test/conformance/chainsaw/exceptions/exclude-host-ports/chainsaw-test.yaml
  test/conformance/chainsaw/exceptions/exclude-host-ports/exception.yaml
  test/conformance/chainsaw/exceptions/exclude-host-ports/ns.yaml
  test/conformance/chainsaw/exceptions/exclude-host-ports/pod-allowed-1.yaml
  test/conformance/chainsaw/exceptions/exclude-host-ports/pod-allowed-2.yaml
  test/conformance/chainsaw/exceptions/exclude-host-ports/pod-rejected.yaml
  test/conformance/chainsaw/exceptions/exclude-host-ports/policy-assert.yaml
  test/conformance/chainsaw/exceptions/exclude-host-ports/policy.yaml
  test/conformance/chainsaw/exceptions/exclude-host-process-and-host-namespaces/README.md
  test/conformance/chainsaw/exceptions/exclude-host-process-and-host-namespaces/chainsaw-test.yaml
  test/conformance/chainsaw/exceptions/exclude-host-process-and-host-namespaces/exception.yaml
  test/conformance/chainsaw/exceptions/exclude-host-process-and-host-namespaces/ns.yaml
  test/conformance/chainsaw/exceptions/exclude-host-process-and-host-namespaces/pod-allowed-1.yaml
  test/conformance/chainsaw/exceptions/exclude-host-process-and-host-namespaces/pod-allowed-2.yaml
  test/conformance/chainsaw/exceptions/exclude-host-process-and-host-namespaces/pod-allowed-3.yaml
  test/conformance/chainsaw/exceptions/exclude-host-process-and-host-namespaces/pod-rejected.yaml
  test/conformance/chainsaw/exceptions/exclude-host-process-and-host-namespaces/policy-assert.yaml
  test/conformance/chainsaw/exceptions/exclude-host-process-and-host-namespaces/policy.yaml
Labels: Documentation, milestone 1.12.0

#9530 #9529 Support adding extra elements to the default resourceFilters list
  charts/kyverno/README.md
  charts/kyverno/README.md.gotmpl
  charts/kyverno/ci/resourceFiltersInclude-values.yaml
  charts/kyverno/templates/config/_helpers.tpl
  charts/kyverno/values.yaml
Labels: milestone 1.12.0

#9531 fix: move new reports api to top level folder
  Makefile
  api/reports/v1/admission_report_types.go
  api/reports/v1/background_scan_report_types.go
  api/reports/v1/doc.go
  api/reports/v1/zz_generated.deepcopy.go
  api/reports/v1/zz_generated.defaults.go
  api/reports/v1/zz_generated.register.go
  docs/user/crd/index.html
  pkg/client/applyconfigurations/kyverno/v1alpha2/admissionreportspec.go
  pkg/client/applyconfigurations/kyverno/v1alpha2/backgroundscanreportspec.go
  pkg/client/applyconfigurations/kyverno/v2alpha1/cleanuppolicyspec.go
  pkg/client/applyconfigurations/kyverno/v2alpha1/cleanuppolicystatus.go
  pkg/client/applyconfigurations/kyverno/v2alpha1/exception.go
  pkg/client/applyconfigurations/kyverno/v2alpha1/policyexceptionspec.go
  pkg/client/applyconfigurations/utils.go
  pkg/client/clientset/versioned/doc.go
  pkg/client/clientset/versioned/fake/register.go
  pkg/client/clientset/versioned/scheme/register.go
  pkg/client/clientset/versioned/typed/reports/v1/admissionreport.go
  pkg/client/clientset/versioned/typed/reports/v1/backgroundscanreport.go
  pkg/client/clientset/versioned/typed/reports/v1/clusteradmissionreport.go
  pkg/client/clientset/versioned/typed/reports/v1/clusterbackgroundscanreport.go
  pkg/client/clientset/versioned/typed/reports/v1/fake/fake_admissionreport.go
  pkg/client/clientset/versioned/typed/reports/v1/fake/fake_backgroundscanreport.go
  pkg/client/clientset/versioned/typed/reports/v1/fake/fake_clusteradmissionreport.go
  pkg/client/clientset/versioned/typed/reports/v1/fake/fake_clusterbackgroundscanreport.go
  pkg/client/clientset/versioned/typed/reports/v1/reports_client.go
  pkg/client/informers/externalversions/generic.go
  pkg/client/informers/externalversions/reports/v1/admissionreport.go
  pkg/client/informers/externalversions/reports/v1/backgroundscanreport.go
  pkg/client/informers/externalversions/reports/v1/clusteradmissionreport.go
  pkg/client/informers/externalversions/reports/v1/clusterbackgroundscanreport.go
  pkg/client/listers/kyverno/v1beta1/expansion_generated.go
  pkg/client/listers/kyverno/v1beta1/updaterequest_expansion.go
  pkg/client/listers/reports/v1/admissionreport.go
  pkg/client/listers/reports/v1/backgroundscanreport.go
  pkg/client/listers/reports/v1/clusteradmissionreport.go
  pkg/client/listers/reports/v1/clusterbackgroundscanreport.go
  pkg/clients/kyverno/reportsv1/admissionreports/resource.generated.go
  pkg/clients/kyverno/reportsv1/backgroundscanreports/resource.generated.go
  pkg/clients/kyverno/reportsv1/clusteradmissionreports/resource.generated.go
  pkg/clients/kyverno/reportsv1/clusterbackgroundscanreports/resource.generated.go
  pkg/report/copy.go
  pkg/report/create.go
  pkg/report/delete.go
  pkg/report/new.go
  pkg/report/report_manager.go
  pkg/report/update.go
Labels: milestone 1.12.0

#9483 feat: configure admission webhooks per policy
  api/kyverno/v1/common_types.go
  api/kyverno/v1/spec_types.go
  api/kyverno/v1/zz_generated.deepcopy.go
  api/kyverno/v2beta1/common_types.go
  api/kyverno/v2beta1/spec_types.go
  api/kyverno/v2beta1/zz_generated.deepcopy.go
  charts/kyverno/charts/crds/templates/crds.yaml
  cmd/cli/kubectl-kyverno/data/crds/kyverno.io_clusterpolicies.yaml
  cmd/cli/kubectl-kyverno/data/crds/kyverno.io_policies.yaml
  config/crds/kyverno.io_clusterpolicies.yaml
  config/crds/kyverno.io_policies.yaml
  config/install-latest-testing.yaml
  docs/user/crd/index.html
  pkg/client/applyconfigurations/kyverno/v1/spec.go
  pkg/client/applyconfigurations/kyverno/v1/webhookconfiguration.go
  pkg/client/applyconfigurations/kyverno/v2beta1/spec.go
  pkg/client/applyconfigurations/kyverno/v2beta1/webhookconfiguration.go
  pkg/client/applyconfigurations/utils.go
  pkg/config/config.go
  pkg/controllers/policycache/controller.go
  pkg/controllers/webhook/controller.go
  pkg/controllers/webhook/utils.go
  pkg/controllers/webhook/utils_test.go
  pkg/validation/policy/validate.go
  pkg/webhooks/handlers/admission.go
  pkg/webhooks/handlers/types.go
  pkg/webhooks/resource/handlers.go
  pkg/webhooks/server.go
Labels: Documentation, milestone 1.12.0

#9532 fix(policies): Add ability to configure skipBackgroundRequests
  charts/kyverno-policies/Chart.yaml
  charts/kyverno-policies/README.md
  charts/kyverno-policies/templates/baseline/disallow-capabilities.yaml
  charts/kyverno-policies/templates/baseline/disallow-host-namespaces.yaml
  charts/kyverno-policies/templates/baseline/disallow-host-path.yaml
  charts/kyverno-policies/templates/baseline/disallow-host-ports.yaml
  charts/kyverno-policies/templates/baseline/disallow-host-process.yaml
  charts/kyverno-policies/templates/baseline/disallow-privileged-containers.yaml
  charts/kyverno-policies/templates/baseline/disallow-proc-mount.yaml
  charts/kyverno-policies/templates/baseline/disallow-selinux.yaml
  charts/kyverno-policies/templates/baseline/restrict-apparmor-profiles.yaml
  charts/kyverno-policies/templates/baseline/restrict-seccomp.yaml
  charts/kyverno-policies/templates/baseline/restrict-sysctls.yaml
  charts/kyverno-policies/templates/other/require-non-root-groups.yaml
  charts/kyverno-policies/templates/restricted/disallow-capabilities-strict.yaml
  charts/kyverno-policies/templates/restricted/disallow-privilege-escalation.yaml
  charts/kyverno-policies/templates/restricted/require-run-as-non-root-user.yaml
  charts/kyverno-policies/templates/restricted/require-run-as-nonroot.yaml
  charts/kyverno-policies/templates/restricted/restrict-seccomp-strict.yaml
  charts/kyverno-policies/templates/restricted/restrict-volume-types.yaml
  charts/kyverno-policies/values.yaml
Labels: cherry-pick-required, milestone 1.11.5

#9538 test: added test for pkg/utils/admission/metadata.go
  pkg/utils/admission/metadata_test.go
Labels: milestone 1.12.0

#9535 chore: configure gh workflows schemas
  .github/workflows/check-actions.yaml
  .github/workflows/cli.yaml
  .github/workflows/codecov.yaml
  .github/workflows/comment-commands.yaml
  .github/workflows/devcontainer-build.yaml
  .github/workflows/fossa.yml
  .github/workflows/helm-release.yaml
  .github/workflows/helm-test.yaml
  .github/workflows/images-build.yaml
  .github/workflows/images-publish.yaml
  .github/workflows/lint.yaml
  .github/workflows/nancy.yaml
  .github/workflows/pr-update.yaml
  .github/workflows/release.yaml
  .github/workflows/report-on-vulnerabilities.yaml
  .github/workflows/scorecard.yaml
  .github/workflows/sonarcloud.yaml
  .github/workflows/tests.yaml
  .github/workflows/verify-codegen.yaml
Labels: milestone 1.12.0

#9539 chore: remove reference to kuttl
  CONTRIBUTING.md
  test/conformance/chainsaw/mutate/e2e/jmespath-logic/README.md
  test/conformance/chainsaw/verifyImages/clusterpolicy/standard/configmap-context-lookup/README.md
Labels: milestone 1.12.0

#9427 chore: bump json-patch
  go.mod
  go.sum
Labels: milestone 1.12.0

#9540 chore: bump a couple of deps
  go.mod
  go.sum
Labels: milestone 1.12.0

#9534 fix: show skip when foreach with zero elements
  pkg/engine/handlers/validation/validate_resource.go
Labels: milestone 1.12.0

#9533 Fix: not showing error during policy validation error
  cmd/cli/kubectl-kyverno/commands/apply/command.go
  cmd/cli/kubectl-kyverno/processor/result.go
Labels: milestone 1.12.0

#9416 feat: use awslabs keychain for AWS and gcr keychain for GCP
  cmd/cli/kubectl-kyverno/commands/oci/command.go
  cmd/cli/kubectl-kyverno/commands/oci/pull/command_test.go
  cmd/cli/kubectl-kyverno/commands/oci/push/command_test.go
  go.mod
  pkg/registryclient/authn.go
  pkg/registryclient/client.go
Labels: cherry-pick-required, milestone 1.12.0, milestone 1.11.5

#9543 fix: follow up for #9534
  pkg/engine/handlers/validation/validate_resource.go
Labels: milestone 1.12.0

#9542 fix: CRDs codegen
  Makefile
  api/reports/v1/ephemeral_report_types.go
  charts/kyverno/README.md
  charts/kyverno/charts/crds/README.md
  charts/kyverno/charts/crds/templates/kyverno.yaml
  charts/kyverno/charts/crds/templates/policyreport.yaml
  charts/kyverno/charts/crds/templates/reports.yaml
  charts/kyverno/charts/crds/values.yaml
  charts/kyverno/templates/admission-controller/clusterrole.yaml
  charts/kyverno/templates/admission-controller/flowschema.yaml
  charts/kyverno/templates/cleanup/clusterrole.yaml
  charts/kyverno/templates/rbac/reports.yaml
  charts/kyverno/templates/reports-controller/clusterrole.yaml
  charts/kyverno/templates/reports-controller/flowschema.yaml
  charts/kyverno/values.yaml
  config/crds/kyverno/kyverno.io_admissionreports.yaml
  config/crds/kyverno/kyverno.io_backgroundscanreports.yaml
  config/crds/kyverno/kyverno.io_cleanuppolicies.yaml
  config/crds/kyverno/kyverno.io_clusteradmissionreports.yaml
  config/crds/kyverno/kyverno.io_clusterbackgroundscanreports.yaml
  config/crds/kyverno/kyverno.io_clustercleanuppolicies.yaml
  config/crds/kyverno/kyverno.io_clusterpolicies.yaml
  config/crds/kyverno/kyverno.io_policies.yaml
  config/crds/kyverno/kyverno.io_policyexceptions.yaml
  config/crds/kyverno/kyverno.io_updaterequests.yaml
  config/crds/policyreport/wgpolicyk8s.io_clusterpolicyreports.yaml
  config/crds/policyreport/wgpolicyk8s.io_policyreports.yaml
  config/crds/reports.kyverno.io_backgroundscanreports.yaml
  config/crds/reports.kyverno.io_clusterbackgroundscanreports.yaml
  config/crds/reports/reports.kyverno.io_clusterephemeralreports.yaml
  config/crds/reports/reports.kyverno.io_ephemeralreports.yaml
  config/install-latest-testing.yaml
  pkg/utils/kube/crd.go
  test/conformance/chainsaw/generate/clusterpolicy/cornercases/cpol-data-trigger-not-present/rbac.yaml
  test/conformance/chainsaw/rbac/aggregate-to-admin/admin-reports.yaml
Labels: milestone 1.12.0

#9546 feat: add openapi-gen to policyreports
  api/policyreport/v1alpha2/doc.go
Labels: milestone 1.12.0

#9385 fix: Allow generate cli tests to work with server-side apply policies
  cmd/cli/kubectl-kyverno/policy/load.go
  test/cli/test-generate/use-server-side-apply/generatedResource.yaml
  test/cli/test-generate/use-server-side-apply/kyverno-test.yaml
  test/cli/test-generate/use-server-side-apply/policy.yaml
  test/cli/test-generate/use-server-side-apply/resource.yaml
Labels: milestone 1.12.0

#9506 feat: support vap bindings in reports
  cmd/reports-controller/main.go
  pkg/controllers/report/background/controller.go
  pkg/controllers/report/utils/scanner.go
  pkg/controllers/report/utils/utils.go
  pkg/engine/api/ruleresponse.go
  pkg/utils/report/labels.go
  pkg/utils/report/results.go
  pkg/validatingadmissionpolicy/validatingadmissionpolicy.go
  test/conformance/chainsaw/validating-admission-policy-reports/background/with-validating-admission-policy-binding-fail/README.md
  test/conformance/chainsaw/validating-admission-policy-reports/background/with-validating-admission-policy-binding-fail/chainsaw-test.yaml
  test/conformance/chainsaw/validating-admission-policy-reports/background/with-validating-admission-policy-binding-fail/deployment-assert.yaml
  test/conformance/chainsaw/validating-admission-policy-reports/background/with-validating-admission-policy-binding-fail/deployment.yaml
  test/conformance/chainsaw/validating-admission-policy-reports/background/with-validating-admission-policy-binding-fail/ns.yaml
  test/conformance/chainsaw/validating-admission-policy-reports/background/with-validating-admission-policy-binding-fail/policy.yaml
  test/conformance/chainsaw/validating-admission-policy-reports/background/with-validating-admission-policy-binding-fail/report-assert.yaml
  test/conformance/chainsaw/validating-admission-policy-reports/background/with-validating-admission-policy-binding-no-reports/README.md
  test/conformance/chainsaw/validating-admission-policy-reports/background/with-validating-admission-policy-binding-no-reports/chainsaw-test.yaml
  test/conformance/chainsaw/validating-admission-policy-reports/background/with-validating-admission-policy-binding-no-reports/deployment-assert.yaml
  test/conformance/chainsaw/validating-admission-policy-reports/background/with-validating-admission-policy-binding-no-reports/deployment.yaml
  test/conformance/chainsaw/validating-admission-policy-reports/background/with-validating-admission-policy-binding-no-reports/policy.yaml
  test/conformance/chainsaw/validating-admission-policy-reports/background/with-validating-admission-policy-binding-no-reports/report-error.yaml
  test/conformance/chainsaw/validating-admission-policy-reports/background/with-validating-admission-policy-binding-pass/README.md
  test/conformance/chainsaw/validating-admission-policy-reports/background/with-validating-admission-policy-binding-pass/chainsaw-test.yaml
  test/conformance/chainsaw/validating-admission-policy-reports/background/with-validating-admission-policy-binding-pass/deployment-assert.yaml
  test/conformance/chainsaw/validating-admission-policy-reports/background/with-validating-admission-policy-binding-pass/deployment.yaml
  test/conformance/chainsaw/validating-admission-policy-reports/background/with-validating-admission-policy-binding-pass/ns.yaml
  test/conformance/chainsaw/validating-admission-policy-reports/background/with-validating-admission-policy-binding-pass/policy.yaml
  test/conformance/chainsaw/validating-admission-policy-reports/background/with-validating-admission-policy-binding-pass/report-assert.yaml
Labels: Documentation, milestone 1.12.0

#9547 feat: use awslabs keychain for AWS and gcr keychain for GCP cherry-pick #9416
  cmd/cli/kubectl-kyverno/commands/oci/command.go
  cmd/cli/kubectl-kyverno/commands/oci/pull/command_test.go
  cmd/cli/kubectl-kyverno/commands/oci/push/command_test.go
  go.mod
  go.sum
  pkg/registryclient/authn.go
  pkg/registryclient/client.go
Labels: milestone 1.11.5

#9515 ci: add load testing workflow
  .github/workflows/load-testing.yml
  Makefile
  scripts/config/default-with-profiling/kyverno.yaml
  scripts/config/kind/default.yaml
  scripts/config/standard-with-profiling/kyverno.yaml
Labels: milestone 1.12.0

#9155 fix: validate pattern premature skip
  pkg/engine/anchor/error.go
  pkg/engine/anchor/handlers.go
  pkg/engine/validate/validate.go
  test/conformance/chainsaw/validate/clusterpolicy/cornercases/validate-pattern-should-fail/README.md
  test/conformance/chainsaw/validate/clusterpolicy/cornercases/validate-pattern-should-fail/chainsaw-test.yaml
  test/conformance/chainsaw/validate/clusterpolicy/cornercases/validate-pattern-should-fail/event-assert.yaml
  test/conformance/chainsaw/validate/clusterpolicy/cornercases/validate-pattern-should-fail/policy-assert.yaml
  test/conformance/chainsaw/validate/clusterpolicy/cornercases/validate-pattern-should-fail/policy.yaml
  test/conformance/chainsaw/validate/clusterpolicy/cornercases/validate-pattern-should-fail/resource.yaml
  test/conformance/chainsaw/validate/clusterpolicy/cornercases/validate-pattern-should-pass/README.md
  test/conformance/chainsaw/validate/clusterpolicy/cornercases/validate-pattern-should-pass/chainsaw-test.yaml
  test/conformance/chainsaw/validate/clusterpolicy/cornercases/validate-pattern-should-pass/event-assert.yaml
  test/conformance/chainsaw/validate/clusterpolicy/cornercases/validate-pattern-should-pass/policy-assert.yaml
  test/conformance/chainsaw/validate/clusterpolicy/cornercases/validate-pattern-should-pass/policy.yaml
  test/conformance/chainsaw/validate/clusterpolicy/cornercases/validate-pattern-should-pass/report-pass-assert.yaml
  test/conformance/chainsaw/validate/clusterpolicy/cornercases/validate-pattern-should-pass/resource.yaml
  test/conformance/chainsaw/validate/clusterpolicy/cornercases/validate-pattern-should-skip/README.md
  test/conformance/chainsaw/validate/clusterpolicy/cornercases/validate-pattern-should-skip/chainsaw-test.yaml
  test/conformance/chainsaw/validate/clusterpolicy/cornercases/validate-pattern-should-skip/policy-assert.yaml
  test/conformance/chainsaw/validate/clusterpolicy/cornercases/validate-pattern-should-skip/policy.yaml
  test/conformance/chainsaw/validate/clusterpolicy/cornercases/validate-pattern-should-skip/report-skip-assert.yaml
  test/conformance/chainsaw/validate/clusterpolicy/cornercases/validate-pattern-should-skip/resource.yaml
Labels: milestone 1.12.0

#9459 added tests for validate foreach with 0 elements
  pkg/engine/validation_test.go
Labels: milestone 1.12.0

#9554 fix: nancy ignore
  .nancy-ignore
Labels: milestone 1.12.0

#9552 Add Helm note for AKS users
  charts/kyverno/README.md
  charts/kyverno/README.md.gotmpl
  charts/kyverno/templates/NOTES.txt
Labels: milestone 1.12.0

#9555 fix: helm chart jobs
  charts/kyverno/templates/admission-controller/deployment.yaml
  charts/kyverno/templates/background-controller/deployment.yaml
  charts/kyverno/templates/cleanup-controller/deployment.yaml
  charts/kyverno/templates/cleanup/cleanup-admission-reports.yaml
  charts/kyverno/templates/cleanup/cleanup-cluster-admission-reports.yaml
  charts/kyverno/templates/cleanup/clusterrole.yaml
  charts/kyverno/templates/hooks/post-upgrade-clean-reports.yaml
  charts/kyverno/templates/hooks/post-upgrade-migrate-resources.yaml
  charts/kyverno/templates/hooks/pre-delete-scale-to-zero.yaml
  charts/kyverno/templates/reports-controller/deployment.yaml
  config/install-latest-testing.yaml
Labels: milestone 1.12.0

#8566 feat: reuse --protectManagedResources flag in the cleanup controller
  charts/kyverno/templates/cleanup-controller/deployment.yaml
  cmd/cleanup-controller/main.go
  config/install-latest-testing.yaml
  pkg/controllers/cleanup/controller.go
Labels: Documentation, milestone 1.12.0

#9173 feat(jmespath):time_parse() support epoch time
  pkg/engine/jmespath/time.go
  pkg/engine/jmespath/time_test.go
Labels: Documentation, milestone 1.12.0

#9553 fix: make alternate reports storage transparent
  api/reports/v1/ephemeral_report_types.go
  charts/kyverno/README.md
  charts/kyverno/charts/crds/templates/reports.yaml
  charts/kyverno/templates/_helpers.tpl
  charts/kyverno/templates/admission-controller/deployment.yaml
  charts/kyverno/templates/background-controller/deployment.yaml
  charts/kyverno/templates/reports-controller/deployment.yaml
  charts/kyverno/values.yaml
  cmd/background-controller/main.go
  cmd/internal/config.go
  cmd/internal/flag.go
  cmd/internal/setup.go
  cmd/kyverno/main.go
  cmd/reports-controller/main.go
  config/crds/reports/reports.kyverno.io_clusterephemeralreports.yaml
  config/crds/reports/reports.kyverno.io_ephemeralreports.yaml
  config/install-latest-testing.yaml
  pkg/controllers/report/admission/controller.go
  pkg/controllers/report/aggregate/namespace/controller.go
  pkg/controllers/report/aggregate/resource/controller.go
  pkg/controllers/report/aggregate/resource/utils.go
  pkg/controllers/report/background/controller.go
  pkg/controllers/report/resource/controller.go
  pkg/report/new.go
  pkg/report/report_manager.go
  pkg/utils/report/copy.go
  pkg/utils/report/create.go
  pkg/utils/report/delete.go
  pkg/utils/report/metadata.go
  pkg/utils/report/new.go
  pkg/utils/report/update.go
  pkg/webhooks/resource/handlers.go
  pkg/webhooks/resource/imageverification/handler.go
  pkg/webhooks/resource/validation/validation.go
  test/conformance/chainsaw/validate/clusterpolicy/standard/audit/configmap-context-lookup/chainsaw-step-03-assert-1-1.yaml
Labels: milestone 1.12.0

#9324 feat: use custom events watcher
  cmd/background-controller/main.go
  cmd/cleanup-controller/main.go
  cmd/cleanup-controller/server.go
  cmd/kyverno/main.go
  cmd/reports-controller/main.go
  pkg/event/controller.go
  pkg/event/controller_test.go
  pkg/webhooks/server.go
Labels: milestone 1.12.0

#9570 chore: remove reports aggregation per namespace
  cmd/reports-controller/main.go
  pkg/controllers/report/aggregate/controller.go
  pkg/controllers/report/aggregate/log.go
  pkg/controllers/report/aggregate/namespace/controller.go
  pkg/controllers/report/aggregate/resource/log.go
  pkg/controllers/report/aggregate/utils.go
Labels: milestone 1.12.0

#9572 fix: omit events flag
  charts/kyverno/templates/_helpers.tpl
  cmd/background-controller/main.go
  cmd/kyverno/main.go
  cmd/reports-controller/main.go
  config/install-latest-testing.yaml
  test/conformance/chainsaw/flags/standard/emit-events/README.md
  test/conformance/chainsaw/flags/standard/emit-events/admission-controller.yaml
Labels: milestone 1.12.0

#9574 fix: nancy ignore
  .nancy-ignore
Labels: milestone 1.12.0

#9573 chore: small nits in cli test command
  cmd/cli/kubectl-kyverno/commands/test/command.go
  cmd/cli/kubectl-kyverno/commands/test/test.go
Labels: milestone 1.12.0

#8624 feat: add fail/warn on deprecated/invalid operators
  pkg/engine/variables/operator/utils.go
  pkg/validation/policy/validate.go
  test/conformance/chainsaw/policy-validation/cluster-policy/deprecated-operations/README.md
  test/conformance/chainsaw/policy-validation/cluster-policy/deprecated-operations/chainsaw-test.yaml
  test/conformance/chainsaw/policy-validation/cluster-policy/deprecated-operations/policy-deprecated-operator.yaml
  test/conformance/chainsaw/policy-validation/cluster-policy/deprecated-operations/policy-invalid-operator.yaml
Labels: milestone 1.12.0

#8857 feat: added ability to bump version using in-file editing
  Makefile
  charts/kyverno-policies/Chart.yaml
  charts/kyverno-policies/README.md
  charts/kyverno/Chart.yaml
  charts/kyverno/README.md
  charts/kyverno/charts/crds/Chart.yaml
  charts/kyverno/charts/crds/README.md
  charts/kyverno/charts/grafana/Chart.yaml
  charts/kyverno/charts/grafana/README.md
  config/install-latest-testing.yaml
Labels: milestone 1.12.0

#8437 Changes to dynamically configure webhooks
  pkg/controllers/webhook/controller.go
  pkg/controllers/webhook/controller_test.go
  pkg/controllers/webhook/utils.go
  pkg/controllers/webhook/utils_test.go
  test/conformance/chainsaw/webhooks/dyn-op-mutate-multiple/README.md
  test/conformance/chainsaw/webhooks/dyn-op-mutate-multiple/chainsaw-test.yaml
  test/conformance/chainsaw/webhooks/dyn-op-mutate-multiple/policy-assert.yaml
  test/conformance/chainsaw/webhooks/dyn-op-mutate-multiple/policy.yaml
  test/conformance/chainsaw/webhooks/dyn-op-mutate-multiple/webhooks.yaml
  test/conformance/chainsaw/webhooks/dyn-op-mutate/README.md
  test/conformance/chainsaw/webhooks/dyn-op-mutate/chainsaw-test.yaml
  test/conformance/chainsaw/webhooks/dyn-op-mutate/policy-assert.yaml
  test/conformance/chainsaw/webhooks/dyn-op-mutate/policy.yaml
  test/conformance/chainsaw/webhooks/dyn-op-mutate/webhooks.yaml
  test/conformance/chainsaw/webhooks/dyn-op-validate-and-mutate/README.md
  test/conformance/chainsaw/webhooks/dyn-op-validate-and-mutate/chainsaw-test.yaml
  test/conformance/chainsaw/webhooks/dyn-op-validate-and-mutate/policy-01.yaml
  test/conformance/chainsaw/webhooks/dyn-op-validate-and-mutate/policy-03.yaml
  test/conformance/chainsaw/webhooks/dyn-op-validate-and-mutate/policy-assert1.yaml
  test/conformance/chainsaw/webhooks/dyn-op-validate-and-mutate/policy-assert2.yaml
  test/conformance/chainsaw/webhooks/dyn-op-validate-and-mutate/policy.yaml
  test/conformance/chainsaw/webhooks/dyn-op-validate-and-mutate/webhooks-02.yaml
  test/conformance/chainsaw/webhooks/dyn-op-validate-and-mutate/webhooks-04.yaml
  test/conformance/chainsaw/webhooks/dyn-op-validate-and-mutate/webhooks.yaml
  test/conformance/chainsaw/webhooks/dyn-op-validate-multiple/README.md
  test/conformance/chainsaw/webhooks/dyn-op-validate-multiple/chainsaw-test.yaml
  test/conformance/chainsaw/webhooks/dyn-op-validate-multiple/policy-assert.yaml
  test/conformance/chainsaw/webhooks/dyn-op-validate-multiple/policy.yaml
  test/conformance/chainsaw/webhooks/dyn-op-validate-multiple/webhooks.yaml
  test/conformance/chainsaw/webhooks/dyn-op-validate/README.md
  test/conformance/chainsaw/webhooks/dyn-op-validate/chainsaw-test.yaml
  test/conformance/chainsaw/webhooks/dyn-op-validate/policy-assert.yaml
  test/conformance/chainsaw/webhooks/dyn-op-validate/policy.yaml
  test/conformance/chainsaw/webhooks/dyn-op-validate/webhooks.yaml
Labels: Documentation, milestone 1.12.0

#9561 chore: add chainsaw tests for policy based webhook configuration
  .github/workflows/conformance.yaml
  test/conformance/chainsaw/webhook-configurations/cpol-match-conditions-block/README.md
  test/conformance/chainsaw/webhook-configurations/cpol-match-conditions-block/chainsaw-test.yaml
  test/conformance/chainsaw/webhook-configurations/cpol-match-conditions-block/ns.yaml
  test/conformance/chainsaw/webhook-configurations/cpol-match-conditions-block/pod.yaml
  test/conformance/chainsaw/webhook-configurations/cpol-match-conditions-block/policy-assert.yaml
  test/conformance/chainsaw/webhook-configurations/cpol-match-conditions-block/policy.yaml
  test/conformance/chainsaw/webhook-configurations/cpol-match-conditions-pass/README.md
  test/conformance/chainsaw/webhook-configurations/cpol-match-conditions-pass/chainsaw-test.yaml
  test/conformance/chainsaw/webhook-configurations/cpol-match-conditions-pass/ns.yaml
  test/conformance/chainsaw/webhook-configurations/cpol-match-conditions-pass/pod.yaml
  test/conformance/chainsaw/webhook-configurations/cpol-match-conditions-pass/policy-assert.yaml
  test/conformance/chainsaw/webhook-configurations/cpol-match-conditions-pass/policy.yaml
Labels: milestone 1.12.0

#9525 Support PolicyExceptions with CLI
  cmd/cli/kubectl-kyverno/apis/v1alpha1/test.go
  cmd/cli/kubectl-kyverno/commands/apply/command.go
  cmd/cli/kubectl-kyverno/commands/apply/command_test.go
  cmd/cli/kubectl-kyverno/commands/test/test.go
  cmd/cli/kubectl-kyverno/config/crds/cli.kyverno.io_tests.yaml
  cmd/cli/kubectl-kyverno/data/crds/cli.kyverno.io_tests.yaml
  cmd/cli/kubectl-kyverno/exception/load.go
  cmd/cli/kubectl-kyverno/exception/load_test.go
  cmd/cli/kubectl-kyverno/processor/exceptions.go
  cmd/cli/kubectl-kyverno/processor/policy_processor.go
  docs/user/cli/commands/kyverno_apply.md
Labels: Documentation, milestone 1.12.0

#9583 test: added test for pkg/utils/policy/marshal.go
  pkg/utils/policy/marshal_test.go
Labels: milestone 1.12.0
