Repository kyverno/kyverno, pull requests merged in 2024-02, with the labels that each got.

#9585 fix: update cli docs
  docs/user/cli/crd/index.html
Labels: milestone 1.12.0

#8849 Deploy specific controllers
  Makefile
  charts/kyverno/README.md
  charts/kyverno/charts/crds/README.md
  charts/kyverno/charts/crds/templates/kyverno.io/kyverno.io_admissionreports.yaml
  charts/kyverno/charts/crds/templates/kyverno.io/kyverno.io_backgroundscanreports.yaml
  charts/kyverno/charts/crds/templates/kyverno.io/kyverno.io_cleanuppolicies.yaml
  charts/kyverno/charts/crds/templates/kyverno.io/kyverno.io_clusteradmissionreports.yaml
  charts/kyverno/charts/crds/templates/kyverno.io/kyverno.io_clusterbackgroundscanreports.yaml
  charts/kyverno/charts/crds/templates/kyverno.io/kyverno.io_clustercleanuppolicies.yaml
  charts/kyverno/charts/crds/templates/kyverno.io/kyverno.io_clusterpolicies.yaml
  charts/kyverno/charts/crds/templates/kyverno.io/kyverno.io_policies.yaml
  charts/kyverno/charts/crds/templates/kyverno.io/kyverno.io_policyexceptions.yaml
  charts/kyverno/charts/crds/templates/kyverno.io/kyverno.io_updaterequests.yaml
  charts/kyverno/charts/crds/templates/kyverno.yaml
  charts/kyverno/charts/crds/templates/reports.kyverno.io/reports.kyverno.io_clusterephemeralreports.yaml
  charts/kyverno/charts/crds/templates/reports.kyverno.io/reports.kyverno.io_ephemeralreports.yaml
  charts/kyverno/charts/crds/templates/wgpolicyk8s.io/wgpolicyk8s.io_clusterpolicyreports.yaml
  charts/kyverno/charts/crds/templates/wgpolicyk8s.io/wgpolicyk8s.io_policyreports.yaml
  charts/kyverno/charts/crds/values.yaml
  charts/kyverno/templates/admission-controller/clusterrole.yaml
  charts/kyverno/templates/background-controller/clusterrole.yaml
  charts/kyverno/templates/cleanup-controller/clusterrole.yaml
  charts/kyverno/templates/reports-controller/clusterrole.yaml
  charts/kyverno/values.yaml
  cmd/background-controller/main.go
  cmd/cleanup-controller/main.go
  cmd/kyverno/main.go
  cmd/reports-controller/main.go
  config/install-latest-testing.yaml
  pkg/utils/kube/crd.go
Labels: milestone 1.12.0

#9591 feat: add global context crd
  api/kyverno/v1/common_types.go
  api/kyverno/v1/zz_generated.deepcopy.go
  api/kyverno/v2alpha1/global_context_entry_status.go
  api/kyverno/v2alpha1/global_context_entry_types.go
  api/kyverno/v2alpha1/zz_generated.deepcopy.go
  api/kyverno/v2alpha1/zz_generated.register.go
  config/crds/kyverno/kyverno.io_globalcontextentries.yaml
  docs/user/crd/index.html
  pkg/client/applyconfigurations/kyverno/v1/externalapicall.go
  pkg/client/applyconfigurations/kyverno/v1/kubernetesresource.go
  pkg/client/applyconfigurations/kyverno/v2alpha1/globalcontextentry.go
  pkg/client/applyconfigurations/kyverno/v2alpha1/globalcontextentryspec.go
  pkg/client/applyconfigurations/kyverno/v2alpha1/globalcontextentrystatus.go
  pkg/client/applyconfigurations/utils.go
  pkg/client/clientset/versioned/typed/kyverno/v2alpha1/fake/fake_globalcontextentry.go
  pkg/client/clientset/versioned/typed/kyverno/v2alpha1/fake/fake_kyverno_client.go
  pkg/client/clientset/versioned/typed/kyverno/v2alpha1/generated_expansion.go
  pkg/client/clientset/versioned/typed/kyverno/v2alpha1/globalcontextentry.go
  pkg/client/clientset/versioned/typed/kyverno/v2alpha1/kyverno_client.go
  pkg/client/informers/externalversions/generic.go
  pkg/client/informers/externalversions/kyverno/v2alpha1/globalcontextentry.go
  pkg/client/informers/externalversions/kyverno/v2alpha1/interface.go
  pkg/client/listers/kyverno/v2alpha1/expansion_generated.go
  pkg/client/listers/kyverno/v2alpha1/globalcontextentry.go
  pkg/clients/kyverno/kyvernov2alpha1/client.generated.go
  pkg/clients/kyverno/kyvernov2alpha1/globalcontextentries/resource.generated.go
Labels: milestone 1.12.0

#9592 fix: codecov args
  .github/workflows/codecov.yaml
Labels: milestone 1.12.0

#9595 feat: add global context crd to codegen
  Makefile
  api/kyverno/v1/common_types.go
  api/kyverno/v1/zz_generated.deepcopy.go
  api/kyverno/v2alpha1/global_context_entry_types.go
  api/kyverno/v2alpha1/zz_generated.deepcopy.go
  charts/kyverno/README.md
  charts/kyverno/charts/crds/README.md
  charts/kyverno/charts/crds/templates/kyverno.io/kyverno.io_globalcontextentries.yaml
  charts/kyverno/charts/crds/values.yaml
  charts/kyverno/values.yaml
  config/install-latest-testing.yaml
  docs/user/crd/index.html
  pkg/client/applyconfigurations/kyverno/v2alpha1/externalapicall.go
  pkg/client/applyconfigurations/kyverno/v2alpha1/globalcontextentryspec.go
  pkg/client/applyconfigurations/kyverno/v2alpha1/kubernetesresource.go
  pkg/client/applyconfigurations/utils.go
Labels: milestone 1.12.0

#9598 fix: client codegen not deleting old files
  Makefile
Labels: milestone 1.12.0

#9597 fix: codecov missing token
  .github/workflows/codecov.yaml
Labels: milestone 1.12.0

#9596 fix: make ApplyCommandConfig public again
  cmd/cli/kubectl-kyverno/commands/apply/command.go
  cmd/cli/kubectl-kyverno/commands/apply/command_test.go
Labels: milestone 1.12.0

#9600 chore(deps): bump github.com/sigstore/cosign/v2 from 2.2.2 to 2.2.3
  go.mod
  go.sum
  pkg/cosign/cosign.go
Labels: milestone 1.12.0

#9606 chore: enable chainsaw fail fast
  test/conformance/chainsaw/.chainsaw.yaml
Labels: milestone 1.12.0

#9276 Feat: Human readable timestamps in logs
  cmd/cli/kubectl-kyverno/log/log.go
  cmd/internal/flag.go
  cmd/internal/logging.go
  pkg/logging/log.go
Labels: milestone 1.12.0

#9238 move error message to log
  cmd/cli/kubectl-kyverno/commands/apply/command.go
Labels: milestone 1.12.0

#9609 make exception in cli exportable
  cmd/cli/kubectl-kyverno/commands/apply/command.go
Labels: milestone 1.12.0

#9599 feat: apply `.matchConditions` when generating reports
  pkg/engine/engine.go
  pkg/engine/handlers/validation/validate_cel.go
  pkg/engine/internal/match.go
  pkg/utils/cel/cel.go
  pkg/validatingadmissionpolicy/utils.go
  pkg/validatingadmissionpolicy/validatingadmissionpolicy.go
  test/conformance/chainsaw/webhook-configurations/match-conditions-standard/README.md
  test/conformance/chainsaw/webhook-configurations/match-conditions-standard/chainsaw-test.yaml
  test/conformance/chainsaw/webhook-configurations/match-conditions-standard/ns.yaml
  test/conformance/chainsaw/webhook-configurations/match-conditions-standard/pod.yaml
  test/conformance/chainsaw/webhook-configurations/match-conditions-standard/policy-assert.yaml
  test/conformance/chainsaw/webhook-configurations/match-conditions-standard/policy.yaml
  test/conformance/chainsaw/webhook-configurations/match-conditions-standard/report-assert.yaml
  test/conformance/chainsaw/webhook-configurations/match-conditions-standard/report-error.yaml
  test/conformance/chainsaw/webhook-configurations/match-conditions-userinfo/README.md
  test/conformance/chainsaw/webhook-configurations/match-conditions-userinfo/chainsaw-test.yaml
  test/conformance/chainsaw/webhook-configurations/match-conditions-userinfo/ns.yaml
  test/conformance/chainsaw/webhook-configurations/match-conditions-userinfo/pod.yaml
  test/conformance/chainsaw/webhook-configurations/match-conditions-userinfo/policy-assert.yaml
  test/conformance/chainsaw/webhook-configurations/match-conditions-userinfo/policy.yaml
  test/conformance/chainsaw/webhook-configurations/match-conditions-userinfo/report-error-1.yaml
  test/conformance/chainsaw/webhook-configurations/match-conditions-userinfo/report-error-2.yaml
Labels: milestone 1.12.0

#9601 feat: add globalcontext controller
  charts/kyverno/templates/admission-controller/clusterrole.yaml
  charts/kyverno/templates/background-controller/clusterrole.yaml
  charts/kyverno/templates/cleanup-controller/clusterrole.yaml
  charts/kyverno/templates/reports-controller/clusterrole.yaml
  cmd/background-controller/main.go
  cmd/cleanup-controller/main.go
  cmd/internal/config.go
  cmd/internal/flag.go
  cmd/kyverno/main.go
  cmd/reports-controller/main.go
  config/install-latest-testing.yaml
  pkg/controllers/globalcontext/controller.go
  pkg/controllers/globalcontext/log.go
  pkg/engine/apicall/apiCall.go
  pkg/engine/apicall/caller.go
  pkg/engine/apicall/client.go
  pkg/engine/apicall/config.go
  pkg/engine/globalcontext/externalapi/entry.go
  pkg/engine/globalcontext/invalid/entry.go
  pkg/engine/globalcontext/k8sresource/entry.go
  pkg/engine/globalcontext/store/entry.go
  pkg/engine/globalcontext/store/store.go
Labels: milestone 1.12.0

#9614 feat: add global context support in helm chart
  charts/kyverno/README.md
  charts/kyverno/templates/_helpers.tpl
  charts/kyverno/templates/admission-controller/deployment.yaml
  charts/kyverno/templates/background-controller/deployment.yaml
  charts/kyverno/templates/cleanup-controller/deployment.yaml
  charts/kyverno/templates/reports-controller/deployment.yaml
  charts/kyverno/values.yaml
  cmd/background-controller/main.go
  cmd/cleanup-controller/main.go
  cmd/kyverno/main.go
  cmd/reports-controller/main.go
  config/install-latest-testing.yaml
Labels: milestone 1.12.0

#9615 feat: update refreshInterval in globalcontext CRD to use a duration
  api/kyverno/v2alpha1/global_context_entry_types.go
  api/kyverno/v2alpha1/zz_generated.deepcopy.go
  charts/kyverno/charts/crds/templates/kyverno.io/kyverno.io_globalcontextentries.yaml
  config/crds/kyverno/kyverno.io_globalcontextentries.yaml
  config/install-latest-testing.yaml
  docs/user/crd/index.html
  pkg/client/applyconfigurations/kyverno/v2alpha1/externalapicall.go
  pkg/controllers/globalcontext/controller.go
Labels: milestone 1.12.0

#9618 chore: move global context package out of engine
  cmd/background-controller/main.go
  cmd/cleanup-controller/main.go
  cmd/kyverno/main.go
  cmd/reports-controller/main.go
  pkg/controllers/globalcontext/controller.go
  pkg/globalcontext/externalapi/entry.go
  pkg/globalcontext/invalid/entry.go
  pkg/globalcontext/k8sresource/entry.go
  pkg/globalcontext/store/entry.go
  pkg/globalcontext/store/store.go
Labels: milestone 1.12.0

#9620 feat: consider maxAPICallResponseLength
  charts/kyverno/README.md
  charts/kyverno/templates/_helpers.tpl
  charts/kyverno/values.yaml
  cmd/background-controller/main.go
  cmd/cleanup-controller/main.go
  cmd/kyverno/main.go
  cmd/reports-controller/main.go
  config/install-latest-testing.yaml
  pkg/controllers/globalcontext/controller.go
  pkg/globalcontext/externalapi/entry.go
Labels: milestone 1.12.0

#9608 sanity check in parent chart for crd-controller mismatch
  charts/kyverno/templates/validate.yaml
Labels: milestone 1.12.0

#9624 support -e shorthand letter with --exception flag
  cmd/cli/kubectl-kyverno/commands/apply/command.go
  docs/user/cli/commands/kyverno_apply.md
Labels: milestone 1.12.0

#9212 (docs) changed docs tool to kubernetes-sigs/reference-docs
  Makefile
  docs/user/cli/crd/kyverno_kubectl.v1alpha1.html
  docs/user/config-api.yaml
  docs/user/config-cli-api.yaml
  docs/user/crd/kyverno.v1.html
  docs/user/crd/kyverno.v1alpha2.html
  docs/user/crd/kyverno.v1beta1.html
  docs/user/crd/kyverno.v2alpha1.html
  docs/user/crd/kyverno.v2beta1.html
  docs/user/crd/kyverno_policyreport.v1alpha2.html
  docs/user/html/members.tpl
  docs/user/html/pkg.tpl
  docs/user/html/type.tpl
Labels: milestone 1.12.0

#9628 feat: add chainsaw tests for global context crd validation
  .github/workflows/conformance.yaml
  test/conformance/chainsaw/globalcontext/validate-crd/README.md
  test/conformance/chainsaw/globalcontext/validate-crd/chainsaw-test.yaml
  test/conformance/chainsaw/globalcontext/validate-crd/multiple-resources.yaml
  test/conformance/chainsaw/globalcontext/validate-crd/no-resource.yaml
  test/conformance/chainsaw/globalcontext/validate-crd/valid-context-assert.yaml
  test/conformance/chainsaw/globalcontext/validate-crd/valid-context.yaml
Labels: milestone 1.12.0

#9630 chore: remove renovate config
  renovate.json
Labels: milestone 1.12.0

#9602 feat: add globalcontext loader and interface
  api/kyverno/v1/common_types.go
  api/kyverno/v1/zz_generated.deepcopy.go
  charts/kyverno/charts/crds/templates/kyverno.io/kyverno.io_cleanuppolicies.yaml
  charts/kyverno/charts/crds/templates/kyverno.io/kyverno.io_clustercleanuppolicies.yaml
  charts/kyverno/charts/crds/templates/kyverno.io/kyverno.io_clusterpolicies.yaml
  charts/kyverno/charts/crds/templates/kyverno.io/kyverno.io_policies.yaml
  cmd/background-controller/main.go
  cmd/cleanup-controller/main.go
  cmd/cli/kubectl-kyverno/data/crds/kyverno.io_clusterpolicies.yaml
  cmd/cli/kubectl-kyverno/data/crds/kyverno.io_policies.yaml
  cmd/internal/engine.go
  cmd/kyverno/main.go
  cmd/reports-controller/main.go
  config/crds/kyverno/kyverno.io_cleanuppolicies.yaml
  config/crds/kyverno/kyverno.io_clustercleanuppolicies.yaml
  config/crds/kyverno/kyverno.io_clusterpolicies.yaml
  config/crds/kyverno/kyverno.io_policies.yaml
  config/install-latest-testing.yaml
  docs/user/crd/index.html
  docs/user/crd/kyverno.v1.html
  pkg/client/applyconfigurations/kyverno/v1/contextentry.go
  pkg/client/applyconfigurations/kyverno/v1/globalcontextentryreference.go
  pkg/client/applyconfigurations/utils.go
  pkg/controllers/webhook/controller.go
  pkg/engine/context/loaders/globalcontext.go
  pkg/engine/factories/contextloaderfactory.go
Labels: cherry-pick-required, milestone 1.12.0

#9643 fix: global context validation
  api/kyverno/v2alpha1/global_context_entry_types.go
  test/conformance/chainsaw/globalcontext/validate-crd/chainsaw-test.yaml
Labels: cherry-pick-required, milestone 1.12.0

#9616 feat: use the check block for checking CLI output in chainsaw tests
  test/conformance/chainsaw/flags/standard/emit-events/chainsaw-test.yaml
  test/conformance/chainsaw/generate/clusterpolicy/cornercases/cpol-data-trigger-not-present/chainsaw-test.yaml
  test/conformance/chainsaw/mutate/clusterpolicy/standard/existing/delete-trigger-namespace/chainsaw-test.yaml
  test/conformance/chainsaw/mutate/clusterpolicy/standard/existing/multiple-trigger-resources/chainsaw-test.yaml
  test/conformance/chainsaw/validate/clusterpolicy/cornercases/cel-messages-upon-resource-failure/chainsaw-test.yaml
  test/conformance/chainsaw/validate/clusterpolicy/standard/audit/background-match-clusterRoles/chainsaw-test.yaml
  test/conformance/chainsaw/validate/clusterpolicy/standard/audit/background-match-roles/chainsaw-test.yaml
  test/conformance/chainsaw/validate/clusterpolicy/standard/audit/background-vars-roles/chainsaw-test.yaml
  test/conformance/chainsaw/validate/clusterpolicy/standard/audit/background-vars-serviceAccountName/chainsaw-test.yaml
  test/conformance/chainsaw/validate/clusterpolicy/standard/audit/background-vars-userInfo/chainsaw-test.yaml
  test/conformance/chainsaw/validate/clusterpolicy/standard/enforce/block-pod-exec-requests/chainsaw-test.yaml
  test/conformance/chainsaw/validate/clusterpolicy/standard/enforce/bypass-with-policy-exception/chainsaw-test.yaml
  test/conformance/chainsaw/validate/clusterpolicy/standard/enforce/operator-allnotin-01/chainsaw-test.yaml
  test/conformance/chainsaw/validate/clusterpolicy/standard/enforce/scaling-with-kubectl-scale/chainsaw-test.yaml
Labels: cherry-pick-required, milestone 1.12.0

#9652 chore(globalcontext): remove global context flag
  charts/kyverno/README.md
  charts/kyverno/templates/_helpers.tpl
  charts/kyverno/values.yaml
  cmd/background-controller/main.go
  cmd/cleanup-controller/main.go
  cmd/internal/config.go
  cmd/internal/flag.go
  cmd/kyverno/main.go
  cmd/reports-controller/main.go
  config/install-latest-testing.yaml
Labels: cherry-pick-required, milestone 1.12.0

#9657 fix: add missing migrations
  charts/kyverno/README.md
  charts/kyverno/values.yaml
Labels: cherry-pick-required, milestone 1.12.0

#9661 test(globalcontext): add e2e tests
  api/kyverno/v1/common_types.go
  api/kyverno/v2alpha1/global_context_entry_types.go
  pkg/controllers/webhook/controller.go
  pkg/engine/context/loaders/globalcontext.go
  pkg/globalcontext/externalapi/entry.go
  pkg/validation/policy/validate.go
  test/conformance/chainsaw/globalcontext/apicall-correct/README.md
  test/conformance/chainsaw/globalcontext/apicall-correct/chainsaw-test.yaml
  test/conformance/chainsaw/globalcontext/apicall-correct/clusterpolicy-succeeded.yaml
  test/conformance/chainsaw/globalcontext/apicall-correct/clusterpolicy.yaml
  test/conformance/chainsaw/globalcontext/apicall-correct/gctxentry.yaml
  test/conformance/chainsaw/globalcontext/apicall-correct/main-deployment.yaml
  test/conformance/chainsaw/globalcontext/apicall-correct/namespace.yaml
  test/conformance/chainsaw/globalcontext/apicall-correct/new-deployment-exists.yaml
  test/conformance/chainsaw/globalcontext/apicall-correct/new-deployment.yaml
  test/conformance/chainsaw/globalcontext/apicall-not-exist/README.md
  test/conformance/chainsaw/globalcontext/apicall-not-exist/chainsaw-test.yaml
  test/conformance/chainsaw/globalcontext/apicall-not-exist/clusterpolicy-failed.yaml
  test/conformance/chainsaw/globalcontext/apicall-not-exist/clusterpolicy.yaml
  test/conformance/chainsaw/globalcontext/apicall-not-exist/gctxentry.yaml
  test/conformance/chainsaw/globalcontext/apicall-not-exist/main-deployment.yaml
  test/conformance/chainsaw/globalcontext/apicall-not-exist/namespace.yaml
  test/conformance/chainsaw/globalcontext/apicall-not-exist/new-deployment.yaml
  test/conformance/chainsaw/globalcontext/resource-correct/README.md
  test/conformance/chainsaw/globalcontext/resource-correct/chainsaw-test.yaml
  test/conformance/chainsaw/globalcontext/resource-correct/clusterpolicy-succeeded.yaml
  test/conformance/chainsaw/globalcontext/resource-correct/clusterpolicy.yaml
  test/conformance/chainsaw/globalcontext/resource-correct/gctxentry.yaml
  test/conformance/chainsaw/globalcontext/resource-correct/main-deployment.yaml
  test/conformance/chainsaw/globalcontext/resource-correct/namespace.yaml
  test/conformance/chainsaw/globalcontext/resource-correct/new-deployment-exists.yaml
  test/conformance/chainsaw/globalcontext/resource-correct/new-deployment.yaml
  test/conformance/chainsaw/globalcontext/resource-not-exist/README.md
  test/conformance/chainsaw/globalcontext/resource-not-exist/chainsaw-test.yaml
  test/conformance/chainsaw/globalcontext/resource-not-exist/clusterpolicy-failed.yaml
  test/conformance/chainsaw/globalcontext/resource-not-exist/clusterpolicy.yaml
  test/conformance/chainsaw/globalcontext/resource-not-exist/gctxentry.yaml
  test/conformance/chainsaw/globalcontext/resource-not-exist/main-deployment.yaml
  test/conformance/chainsaw/globalcontext/resource-not-exist/namespace.yaml
  test/conformance/chainsaw/globalcontext/resource-not-exist/new-deployment.yaml
Labels: cherry-pick-required, milestone 1.12.0

#9645 feat: add chainsaw test for policy webhook based configuration
  test/conformance/chainsaw/webhook-configurations/webhook-registeration/README.md
  test/conformance/chainsaw/webhook-configurations/webhook-registeration/chainsaw-test.yaml
  test/conformance/chainsaw/webhook-configurations/webhook-registeration/policy-assert.yaml
  test/conformance/chainsaw/webhook-configurations/webhook-registeration/policy.yaml
  test/conformance/chainsaw/webhook-configurations/webhook-registeration/webhook.yaml
Labels: cherry-pick-required, milestone 1.12.0

#9680 chore: bump kind and k8s images
  .github/actions/setup-test-env/action.yaml
  .github/workflows/conformance.yaml
  .github/workflows/load-testing.yml
  Makefile
Labels: cherry-pick-required, milestone 1.12.0

#9677 feat: remove admission report controller
  cmd/reports-controller/main.go
  pkg/controllers/report/admission/controller.go
  pkg/controllers/report/admission/log.go
Labels: cherry-pick-required, milestone 1.12.0

#9679 fix: don't delete garbage collected policy reports
  pkg/controllers/report/aggregate/controller.go
  pkg/controllers/report/aggregate/utils.go
Labels: cherry-pick-required, milestone 1.12.0

#9672 feat: add chainsaw tests for exceptions
  test/conformance/chainsaw/reports/background/exception-with-conditions/README.md
  test/conformance/chainsaw/reports/background/exception-with-conditions/chainsaw-test.yaml
  test/conformance/chainsaw/reports/background/exception-with-conditions/deployment.yaml
  test/conformance/chainsaw/reports/background/exception-with-conditions/exception.yaml
  test/conformance/chainsaw/reports/background/exception-with-conditions/ns.yaml
  test/conformance/chainsaw/reports/background/exception-with-conditions/policy-assert.yaml
  test/conformance/chainsaw/reports/background/exception-with-conditions/policy.yaml
  test/conformance/chainsaw/reports/background/exception-with-conditions/report-assert.yaml
  test/conformance/chainsaw/reports/background/exception-with-podsecurity/README.md
  test/conformance/chainsaw/reports/background/exception-with-podsecurity/chainsaw-test.yaml
  test/conformance/chainsaw/reports/background/exception-with-podsecurity/exception.yaml
  test/conformance/chainsaw/reports/background/exception-with-podsecurity/pod.yaml
  test/conformance/chainsaw/reports/background/exception-with-podsecurity/policy-assert.yaml
  test/conformance/chainsaw/reports/background/exception-with-podsecurity/policy.yaml
  test/conformance/chainsaw/reports/background/exception-with-podsecurity/report-assert.yaml
Labels: cherry-pick-required, milestone 1.12.0

#9690 chore: rename admission to ephemeral in reports aggregation controller
  pkg/controllers/report/aggregate/controller.go
Labels: cherry-pick-required, milestone 1.12.0

#9691 fix: modify the conformance config name
  .github/workflows/conformance.yaml
  DEVELOPMENT.md
Labels: cherry-pick-required, milestone 1.12.0

#9694 chore: mark doc as required for new features in PR template
  .github/PULL_REQUEST_TEMPLATE.md
Labels: milestone 1.13.0

#9658 [Bug] Fix message and formatting of podSecurity validation failure with restrictedField
  pkg/pss/evaluate.go
  test/conformance/chainsaw/reports/background/test-report-background-mode/report-assert.yaml
Labels: cherry-pick-required, milestone 1.12.0

#9697 fix: reports aggregation
  charts/kyverno/README.md
  charts/kyverno/values.yaml
  cmd/reports-controller/main.go
  config/install-latest-testing.yaml
  pkg/controllers/report/aggregate/controller.go
  pkg/controllers/report/aggregate/utils.go
  pkg/utils/report/metadata.go
Labels: Documentation, cherry-pick-required, milestone 1.12.0

#9698 fix: remove deprecated imageSignatureRepository flag
  cmd/cli/kubectl-kyverno/processor/generate.go
  cmd/cli/kubectl-kyverno/processor/policy_processor.go
  cmd/internal/engine.go
  cmd/internal/flag.go
  pkg/engine/engine.go
  pkg/engine/fuzz_test.go
  pkg/engine/handlers/mutation/mutate_image.go
  pkg/engine/image_verify.go
  pkg/engine/image_verify_test.go
  pkg/engine/internal/imageverifier.go
  pkg/engine/mutation_test.go
  pkg/engine/validation_test.go
  pkg/webhooks/resource/fake.go
  pkg/webhooks/resource/validation_test.go
Labels: Documentation, cherry-pick-required, milestone 1.12.0

#9714 fix: add the support of v2alpha1 exceptions in the CLI
  cmd/cli/kubectl-kyverno/exception/load.go
Labels: cherry-pick-required, milestone 1.12.0

#9749 add plural form aliases for resources and exceptions flags
  cmd/cli/kubectl-kyverno/commands/apply/command.go
  docs/user/cli/commands/kyverno_apply.md
Labels: milestone 1.13.0

#9719 fix: Policies skipped because of preconditions not met should not be included in admission requests denial responses
  pkg/webhooks/utils/block.go
  test/conformance/chainsaw/validate/clusterpolicy/cornercases/check-message-upon-resource-failure/README.md
  test/conformance/chainsaw/validate/clusterpolicy/cornercases/check-message-upon-resource-failure/chainsaw-test.yaml
  test/conformance/chainsaw/validate/clusterpolicy/cornercases/check-message-upon-resource-failure/policy-1.yaml
  test/conformance/chainsaw/validate/clusterpolicy/cornercases/check-message-upon-resource-failure/policy-2.yaml
  test/conformance/chainsaw/validate/clusterpolicy/cornercases/check-message-upon-resource-failure/policy-assert1.yaml
  test/conformance/chainsaw/validate/clusterpolicy/cornercases/check-message-upon-resource-failure/policy-assert2.yaml
  test/conformance/chainsaw/validate/clusterpolicy/cornercases/check-message-upon-resource-failure/resource.yaml
Labels: cherry-pick-required, milestone 1.12.0

#9713 Fix :variables are not getting processed in validation message for "anyPattern"
  pkg/engine/handlers/validation/validate_resource.go
  test/conformance/chainsaw/validate/clusterpolicy/cornercases/variable-substitution-failure-messages/README.md
  test/conformance/chainsaw/validate/clusterpolicy/cornercases/variable-substitution-failure-messages/chainsaw-test.yaml
  test/conformance/chainsaw/validate/clusterpolicy/cornercases/variable-substitution-failure-messages/pod.yaml
  test/conformance/chainsaw/validate/clusterpolicy/cornercases/variable-substitution-failure-messages/policy-assert.yaml
  test/conformance/chainsaw/validate/clusterpolicy/cornercases/variable-substitution-failure-messages/policy.yaml
Labels: cherry-pick-required, milestone 1.12.0

#9751 feat: apply VAP bindings in CLI apply command in offline mode
  cmd/cli/kubectl-kyverno/commands/apply/command.go
  cmd/cli/kubectl-kyverno/commands/apply/command_test.go
  cmd/cli/kubectl-kyverno/processor/vap_processor.go
  pkg/controllers/report/utils/scanner.go
  pkg/validatingadmissionpolicy/matcher.go
  pkg/validatingadmissionpolicy/validate.go
  test/cli/test-validating-admission-policy/with-bindings-1/deployment1.yaml
  test/cli/test-validating-admission-policy/with-bindings-1/deployment2.yaml
  test/cli/test-validating-admission-policy/with-bindings-1/policy.yaml
  test/cli/test-validating-admission-policy/with-bindings-2/deployment1.yaml
  test/cli/test-validating-admission-policy/with-bindings-2/deployment2.yaml
  test/cli/test-validating-admission-policy/with-bindings-2/policy.yaml
  test/cli/test-validating-admission-policy/with-bindings-3/deployment1.yaml
  test/cli/test-validating-admission-policy/with-bindings-3/deployment2.yaml
  test/cli/test-validating-admission-policy/with-bindings-3/deployment3.yaml
  test/cli/test-validating-admission-policy/with-bindings-3/policy.yaml
  test/cli/test-validating-admission-policy/with-bindings-3/values.yaml
  test/cli/test-validating-admission-policy/with-bindings-4/deployment1.yaml
  test/cli/test-validating-admission-policy/with-bindings-4/deployment2.yaml
  test/cli/test-validating-admission-policy/with-bindings-4/policy.yaml
Labels: Documentation, cherry-pick-required, milestone 1.12.0

#9763 chore: bump chainsaw
  .github/workflows/conformance.yaml
Labels: cherry-pick-required, milestone 1.12.0

#9775 chore: default logging format to rfc3339
  pkg/logging/log.go
Labels: cherry-pick-required, milestone 1.12.0

#9791 fix: remove unnecessary podSecurity chainsaw test
  test/conformance/chainsaw/validate/clusterpolicy/standard/psa/test-exclusion-procmount/README.md
  test/conformance/chainsaw/validate/clusterpolicy/standard/psa/test-exclusion-procmount/bad-pod.yaml
  test/conformance/chainsaw/validate/clusterpolicy/standard/psa/test-exclusion-procmount/chainsaw-test.yaml
  test/conformance/chainsaw/validate/clusterpolicy/standard/psa/test-exclusion-procmount/excluded-pod.yaml
  test/conformance/chainsaw/validate/clusterpolicy/standard/psa/test-exclusion-procmount/good-pod.yaml
  test/conformance/chainsaw/validate/clusterpolicy/standard/psa/test-exclusion-procmount/policy-assert.yaml
  test/conformance/chainsaw/validate/clusterpolicy/standard/psa/test-exclusion-procmount/policy.yaml
Labels: cherry-pick-required, milestone 1.12.0

#9790 fix: remove unnecessary validation check for podSecurity rule
  api/kyverno/v1/common_types.go
  pkg/pss/evaluate.go
Labels: cherry-pick-required, milestone 1.12.0

#9783 update versions
  api/kyverno/v1/common_types.go
  charts/kyverno/charts/crds/templates/kyverno.io/kyverno.io_clusterpolicies.yaml
  charts/kyverno/charts/crds/templates/kyverno.io/kyverno.io_policies.yaml
  cmd/cli/kubectl-kyverno/data/crds/kyverno.io_clusterpolicies.yaml
  cmd/cli/kubectl-kyverno/data/crds/kyverno.io_policies.yaml
  config/crds/kyverno/kyverno.io_clusterpolicies.yaml
  config/crds/kyverno/kyverno.io_policies.yaml
  config/install-latest-testing.yaml
  docs/user/crd/index.html
  docs/user/crd/kyverno.v1.html
Labels: cherry-pick-required, milestone 1.12.0

#9781 chore: add tests for exceptions in the CLI
  test/cli/test-exceptions/exceptions-1/exception.yaml
  test/cli/test-exceptions/exceptions-1/kyverno-test.yaml
  test/cli/test-exceptions/exceptions-1/policy.yaml
  test/cli/test-exceptions/exceptions-1/resources.yaml
  test/cli/test-exceptions/exceptions-2/exception.yaml
  test/cli/test-exceptions/exceptions-2/kyverno-test.yaml
  test/cli/test-exceptions/exceptions-2/policy.yaml
  test/cli/test-exceptions/exceptions-2/resources.yaml
  test/cli/test-exceptions/exceptions-3/exception.yaml
  test/cli/test-exceptions/exceptions-3/kyverno-test.yaml
  test/cli/test-exceptions/exceptions-3/policy.yaml
  test/cli/test-exceptions/exceptions-3/resources.yaml
Labels: cherry-pick-required, milestone 1.12.0

#9813 fix(globalcontext): old WaitGroup not stopping
  api/kyverno/v2alpha1/global_context_entry_status.go
  api/kyverno/v2alpha1/global_context_entry_types.go
  api/kyverno/v2alpha1/zz_generated.deepcopy.go
  charts/kyverno/charts/crds/templates/kyverno.io/kyverno.io_globalcontextentries.yaml
  config/crds/kyverno/kyverno.io_globalcontextentries.yaml
  config/install-latest-testing.yaml
  docs/user/crd/index.html
  docs/user/crd/kyverno.v2alpha1.html
  pkg/client/applyconfigurations/kyverno/v2alpha1/globalcontextentrystatus.go
  pkg/globalcontext/event/reason.go
  pkg/globalcontext/externalapi/entry.go
  pkg/globalcontext/k8sresource/entry.go
  pkg/globalcontext/store/store.go
Labels: cherry-pick-required, milestone 1.12.0

#9817 fix: add podSecurity validation checks for exceptions
  api/kyverno/v1/common_types.go
  api/kyverno/v1/rule_types.go
  api/kyverno/v2beta1/policy_exception_types.go
  pkg/policy/validate/validate.go
  test/conformance/chainsaw/policy-validation/cluster-policy/invalid-pod-security-exceptions/chainsaw-test.yaml
  test/conformance/chainsaw/policy-validation/cluster-policy/invalid-pod-security-exceptions/exception-1.yaml
  test/conformance/chainsaw/policy-validation/cluster-policy/invalid-pod-security-exceptions/exception-2.yaml
  test/conformance/chainsaw/policy-validation/cluster-policy/invalid-pod-security-exceptions/exception-3.yaml
  test/conformance/chainsaw/policy-validation/cluster-policy/invalid-pod-security-rule/chainsaw-test.yaml
Labels: cherry-pick-required, milestone 1.12.0
