Repository kyverno/kyverno, pull requests merged in 2024-08, with the labels that each got.

#10762 fix: critical docker vulnerability in release 1.11
  .github/workflows/conformance.yaml
  go.mod
  go.sum
  pkg/notary/notary_test.go
  pkg/notary/repository_test.go
Labels: milestone 1.11.6

#10773 fix: get ns labels before creating a policy context
  cmd/cli/kubectl-kyverno/processor/policy_processor.go
Labels: cherry-pick-required, milestone 1.12.6

#10763 feat: add kyverno json support to validation rule
  .github/workflows/conformance.yaml
  api/kyverno/v1/common_types.go
  api/kyverno/v1/zz_generated.deepcopy.go
  api/kyverno/v2beta1/common_types.go
  api/kyverno/v2beta1/zz_generated.deepcopy.go
  charts/kyverno/charts/crds/templates/kyverno.io/kyverno.io_clusterpolicies.yaml
  charts/kyverno/charts/crds/templates/kyverno.io/kyverno.io_policies.yaml
  cmd/cli/kubectl-kyverno/data/crds/kyverno.io_clusterpolicies.yaml
  cmd/cli/kubectl-kyverno/data/crds/kyverno.io_policies.yaml
  config/crds/kyverno/kyverno.io_clusterpolicies.yaml
  config/crds/kyverno/kyverno.io_policies.yaml
  config/install-latest-testing.yaml
  docs/user/crd/index.html
  docs/user/crd/kyverno.v1.html
  docs/user/crd/kyverno.v2beta1.html
  pkg/client/applyconfigurations/kyverno/v1/validation.go
  pkg/client/applyconfigurations/kyverno/v2beta1/validation.go
  pkg/engine/handlers/validation/validate_assert.go
  pkg/engine/validation.go
  pkg/policy/validate/validate.go
  test/conformance/chainsaw/assert/old-object-exists/README.md
  test/conformance/chainsaw/assert/old-object-exists/chainsaw-test.yaml
  test/conformance/chainsaw/assert/old-object-exists/ns-ready.yaml
  test/conformance/chainsaw/assert/old-object-exists/ns-update.yaml
  test/conformance/chainsaw/assert/old-object-exists/ns.yaml
  test/conformance/chainsaw/assert/old-object-exists/policy-ready.yaml
  test/conformance/chainsaw/assert/old-object-exists/policy.yaml
Labels: Documentation, milestone 1.13.0

#10777 feat: add more policy validation around policies using kyverno-json
  pkg/validation/policy/validate.go
  test/conformance/chainsaw/policy-validation/cluster-policy/assert/README.md
  test/conformance/chainsaw/policy-validation/cluster-policy/assert/bad-context-name.yaml
  test/conformance/chainsaw/policy-validation/cluster-policy/assert/chainsaw-test.yaml
  test/conformance/chainsaw/policy-validation/cluster-policy/assert/no-foreach.yaml
  test/conformance/chainsaw/policy-validation/cluster-policy/assert/ok.yaml
  test/conformance/chainsaw/policy-validation/policy/assert/README.md
  test/conformance/chainsaw/policy-validation/policy/assert/bad-context-name.yaml
  test/conformance/chainsaw/policy-validation/policy/assert/chainsaw-test.yaml
  test/conformance/chainsaw/policy-validation/policy/assert/no-foreach.yaml
  test/conformance/chainsaw/policy-validation/policy/assert/ok.yaml
Labels: milestone 1.13.0

#10778 fix: allow exceptions to match Pod/ephemeralcontainers by default
  pkg/engine/utils/exceptions.go
  test/conformance/chainsaw/exceptions/exclude-ephemeral-containers/README.md
  test/conformance/chainsaw/exceptions/exclude-ephemeral-containers/chainsaw-test.yaml
  test/conformance/chainsaw/exceptions/exclude-ephemeral-containers/exception.yaml
  test/conformance/chainsaw/exceptions/exclude-ephemeral-containers/excluded-pod.yaml
  test/conformance/chainsaw/exceptions/exclude-ephemeral-containers/policy-assert.yaml
  test/conformance/chainsaw/exceptions/exclude-ephemeral-containers/policy.yaml
Labels: milestone 1.13.0

#10776 feat: switch to custom crd generator
  Makefile
  cmd/cli/kubectl-kyverno/data/crds/kyverno.io_clusterpolicies.yaml
  cmd/cli/kubectl-kyverno/data/crds/kyverno.io_policies.yaml
  cmd/cli/kubectl-kyverno/data/crds/kyverno.io_policyexceptions.yaml
  config/crds/kyverno/kyverno.io_cleanuppolicies.yaml
  config/crds/kyverno/kyverno.io_clustercleanuppolicies.yaml
  config/crds/kyverno/kyverno.io_clusterpolicies.yaml
  config/crds/kyverno/kyverno.io_globalcontextentries.yaml
  config/crds/kyverno/kyverno.io_policies.yaml
  config/crds/kyverno/kyverno.io_policyexceptions.yaml
  config/crds/kyverno/kyverno.io_updaterequests.yaml
  config/crds/policyreport/wgpolicyk8s.io_clusterpolicyreports.yaml
  config/crds/policyreport/wgpolicyk8s.io_policyreports.yaml
  config/crds/reports/reports.kyverno.io_clusterephemeralreports.yaml
  config/crds/reports/reports.kyverno.io_ephemeralreports.yaml
  go.mod
  go.sum
  hack/controller-gen/main.go
  hack/controller-gen/markers.go
Labels: milestone 1.13.0

#10780 feat: assert rule autogen
  api/kyverno/v1/rule_types.go
  pkg/autogen/autogen.go
  pkg/autogen/autogen_test.go
  pkg/autogen/rule.go
  test/conformance/chainsaw/autogen/assert-autogen/README.md
  test/conformance/chainsaw/autogen/assert-autogen/chainsaw-test.yaml
  test/conformance/chainsaw/autogen/assert-autogen/policy-assert.yaml
  test/conformance/chainsaw/autogen/assert-autogen/policy.yaml
Labels: milestone 1.13.0, size:L

#10700 feat(json): unmarshal at decode time
  api/kyverno/v1/common_types.go
  api/kyverno/v1/resource_spec_types.go
  api/kyverno/v1/rule_types.go
  api/kyverno/v1/wrappers.go
  api/kyverno/v1/zz_generated.deepcopy.go
  cmd/cli/kubectl-kyverno/fix/policy.go
  docs/user/crd/index.html
  docs/user/crd/kyverno.v1.html
  pkg/autogen/autogen.go
  pkg/autogen/rule.go
  pkg/client/applyconfigurations/kyverno/v1/deny.go
  pkg/client/applyconfigurations/kyverno/v1/rule.go
  pkg/client/applyconfigurations/kyverno/v1/targetresourcespec.go
  pkg/engine/handlers/validation/validate_resource.go
  pkg/engine/utils/utils.go
  pkg/engine/variables/evaluate.go
  pkg/utils/api/json.go
  pkg/utils/fuzz/policy_spec.go
  pkg/validation/policy/validate.go
Labels: performance, milestone 1.13.0, size:L

#10760 Remove cleanup cronjobs for updaterequests and ephemeralreports
  charts/kyverno/README.md
  charts/kyverno/ci/cleanupJobs-values.yaml
  charts/kyverno/templates/cleanup/_helpers.tpl
  charts/kyverno/templates/cleanup/cleanup-cluster-ephemeral-reports.yaml
  charts/kyverno/templates/cleanup/cleanup-ephemeral-reports.yaml
  charts/kyverno/templates/cleanup/cleanup-update-requests.yaml
  charts/kyverno/templates/cleanup/clusterrole.yaml
  charts/kyverno/templates/cleanup/clusterrolebinding.yaml
  charts/kyverno/templates/cleanup/serviceaccount.yaml
  charts/kyverno/values.yaml
  config/install-latest-testing.yaml
Labels: milestone 1.13.0, size:XL

#10794 bugfix: reconcile only PolicyReports managed by Kyverno
  pkg/controllers/report/aggregate/controller.go
  pkg/controllers/report/aggregate/controller_test.go
Labels: milestone 1.13.0, size:L

#10221 fix: add the resource name to the SubjectAccessReview
  api/kyverno/v2beta1/match_resources_types.go
  pkg/auth/auth.go
  pkg/auth/auth_test.go
  pkg/auth/checker/auth.go
  pkg/auth/checker/helpers.go
  pkg/auth/checker/self.go
  pkg/auth/checker/subject.go
  pkg/engine/adapters/dclient.go
  pkg/policy/auth/auth.go
  pkg/validation/cleanuppolicy/validate.go
Labels: milestone 1.13.0, size:L

#10797 feat: add tests for different values of mutateExistingOnPolicyUpdate
  api/kyverno/v1/common_types.go
  api/kyverno/v1/spec_types.go
  api/kyverno/v2beta1/spec_types.go
  pkg/policy/mutate.go
  pkg/validation/policy/validate.go
  test/conformance/chainsaw/mutate/clusterpolicy/standard/existing/onpolicyupdate/different-configurations-for-mutate-existing/README.md
  test/conformance/chainsaw/mutate/clusterpolicy/standard/existing/onpolicyupdate/different-configurations-for-mutate-existing/chainsaw-test.yaml
  test/conformance/chainsaw/mutate/clusterpolicy/standard/existing/onpolicyupdate/different-configurations-for-mutate-existing/configmaps.yaml
  test/conformance/chainsaw/mutate/clusterpolicy/standard/existing/onpolicyupdate/different-configurations-for-mutate-existing/mutated-secret-error.yaml
  test/conformance/chainsaw/mutate/clusterpolicy/standard/existing/onpolicyupdate/different-configurations-for-mutate-existing/mutated-secret.yaml
  test/conformance/chainsaw/mutate/clusterpolicy/standard/existing/onpolicyupdate/different-configurations-for-mutate-existing/namespaces.yaml
  test/conformance/chainsaw/mutate/clusterpolicy/standard/existing/onpolicyupdate/different-configurations-for-mutate-existing/policy-ready.yaml
  test/conformance/chainsaw/mutate/clusterpolicy/standard/existing/onpolicyupdate/different-configurations-for-mutate-existing/policy.yaml
  test/conformance/chainsaw/mutate/clusterpolicy/standard/existing/onpolicyupdate/different-configurations-for-mutate-existing/secrets.yaml
  test/conformance/chainsaw/mutate/clusterpolicy/standard/existing/onpolicyupdate/different-mutate-existing-values/README.md
  test/conformance/chainsaw/mutate/clusterpolicy/standard/existing/onpolicyupdate/different-mutate-existing-values/chainsaw-test.yaml
  test/conformance/chainsaw/mutate/clusterpolicy/standard/existing/onpolicyupdate/different-mutate-existing-values/configmaps.yaml
  test/conformance/chainsaw/mutate/clusterpolicy/standard/existing/onpolicyupdate/different-mutate-existing-values/mutated-secret-error.yaml
  test/conformance/chainsaw/mutate/clusterpolicy/standard/existing/onpolicyupdate/different-mutate-existing-values/mutated-secret.yaml
  test/conformance/chainsaw/mutate/clusterpolicy/standard/existing/onpolicyupdate/different-mutate-existing-values/namespaces.yaml
  test/conformance/chainsaw/mutate/clusterpolicy/standard/existing/onpolicyupdate/different-mutate-existing-values/policy-ready.yaml
  test/conformance/chainsaw/mutate/clusterpolicy/standard/existing/onpolicyupdate/different-mutate-existing-values/policy.yaml
  test/conformance/chainsaw/mutate/clusterpolicy/standard/existing/onpolicyupdate/different-mutate-existing-values/secrets.yaml
Labels: milestone 1.13.0, apiversion-management, size:L

#10807 feat: add tests for different values of generateExisting
  api/kyverno/v1/common_types.go
  api/kyverno/v1/spec_types.go
  api/kyverno/v2beta1/spec_types.go
  pkg/background/generate/generate.go
  pkg/policy/generate.go
  pkg/utils/fuzz/policy_spec.go
  test/cli/test-generate/sync-multiple-resources/policy.yaml
  test/conformance/chainsaw/generate/clusterpolicy/standard/existing/different-configurations-for-generate-existing/README.md
  test/conformance/chainsaw/generate/clusterpolicy/standard/existing/different-configurations-for-generate-existing/chainsaw-test.yaml
  test/conformance/chainsaw/generate/clusterpolicy/standard/existing/different-configurations-for-generate-existing/existing-resources.yaml
  test/conformance/chainsaw/generate/clusterpolicy/standard/existing/different-configurations-for-generate-existing/fail-generated-resources.yaml
  test/conformance/chainsaw/generate/clusterpolicy/standard/existing/different-configurations-for-generate-existing/generated-resources.yaml
  test/conformance/chainsaw/generate/clusterpolicy/standard/existing/different-configurations-for-generate-existing/policy-ready.yaml
  test/conformance/chainsaw/generate/clusterpolicy/standard/existing/different-configurations-for-generate-existing/policy.yaml
  test/conformance/chainsaw/generate/clusterpolicy/standard/existing/different-generate-existing-values/README.md
  test/conformance/chainsaw/generate/clusterpolicy/standard/existing/different-generate-existing-values/chainsaw-test.yaml
  test/conformance/chainsaw/generate/clusterpolicy/standard/existing/different-generate-existing-values/existing-resources.yaml
  test/conformance/chainsaw/generate/clusterpolicy/standard/existing/different-generate-existing-values/fail-generated-resources.yaml
  test/conformance/chainsaw/generate/clusterpolicy/standard/existing/different-generate-existing-values/generated-resources.yaml
  test/conformance/chainsaw/generate/clusterpolicy/standard/existing/different-generate-existing-values/policy-ready.yaml
  test/conformance/chainsaw/generate/clusterpolicy/standard/existing/different-generate-existing-values/policy.yaml
  test/conformance/chainsaw/generate/validation/clusterpolicy/target-namespace-scope/policy-fail-2-ns-cluster-target.yaml
  test/conformance/chainsaw/generate/validation/clusterpolicy/target-namespace-scope/policy-pass-1-ns-namespaced-target.yaml
  test/conformance/chainsaw/generate/validation/clusterpolicy/target-namespace-scope/policy-pass-2-no-ns-cluster-target.yaml
  test/conformance/chainsaw/generate/validation/clusterpolicy/use-generate-existing-on-policy-update/README.md
  test/conformance/chainsaw/generate/validation/clusterpolicy/use-generate-existing-on-policy-update/chainsaw-test.yaml
  test/conformance/chainsaw/generate/validation/clusterpolicy/use-generate-existing-on-policy-update/policy.yaml
  test/conformance/chainsaw/generate/validation/policy/target-namespace-scope/policy-fail-1.yaml
  test/conformance/chainsaw/generate/validation/policy/target-namespace-scope/policy-fail-2.yaml
  test/conformance/chainsaw/generate/validation/policy/target-namespace-scope/policy-fail-3.yaml
  test/conformance/chainsaw/generate/validation/policy/target-namespace-scope/policy-pass.yaml
  test/conformance/chainsaw/generate/validation/policy/use-generate-existing-on-policy-update/README.md
  test/conformance/chainsaw/generate/validation/policy/use-generate-existing-on-policy-update/chainsaw-test.yaml
  test/conformance/chainsaw/generate/validation/policy/use-generate-existing-on-policy-update/policy.yaml
Labels: milestone 1.13.0, apiversion-management, size:L

#10816 feat: add tests checking policy creation
  test/conformance/chainsaw/rbac/cleanup-policy-with-clusterrole/README.md
  test/conformance/chainsaw/rbac/cleanup-policy-with-clusterrole/chainsaw-test.yaml
  test/conformance/chainsaw/rbac/cleanup-policy-with-clusterrole/clusterrole.yaml
  test/conformance/chainsaw/rbac/cleanup-policy-with-clusterrole/policy-assert.yaml
  test/conformance/chainsaw/rbac/cleanup-policy-with-clusterrole/policy.yaml
  test/conformance/chainsaw/rbac/mutate-policy-with-clusterrole/README.md
  test/conformance/chainsaw/rbac/mutate-policy-with-clusterrole/chainsaw-test.yaml
  test/conformance/chainsaw/rbac/mutate-policy-with-clusterrole/clusterrole.yaml
  test/conformance/chainsaw/rbac/mutate-policy-with-clusterrole/policy-assert.yaml
  test/conformance/chainsaw/rbac/mutate-policy-with-clusterrole/policy.yaml
Labels: milestone 1.13.0, size:L

#10702 feat(mutate): minimize unmarshals
  api/kyverno/v1/common_types.go
  api/kyverno/v1/zz_generated.deepcopy.go
  docs/user/crd/index.html
  docs/user/crd/kyverno.v1.html
  go.mod
  pkg/client/applyconfigurations/kyverno/v1/foreachmutation.go
  pkg/engine/handlers/mutation/common.go
  pkg/engine/mutate/mutation.go
  pkg/engine/mutate/mutation_test.go
  pkg/policy/mutate/validate.go
Labels: performance, milestone 1.13.0, size:M

#10703 feat(mutate): don't eagerly process img-ver
  pkg/webhooks/resource/handlers.go
  test/conformance/chainsaw/verifyImages/clusterpolicy/standard/with-mutation/README.md
  test/conformance/chainsaw/verifyImages/clusterpolicy/standard/with-mutation/chainsaw-test.yaml
  test/conformance/chainsaw/verifyImages/clusterpolicy/standard/with-mutation/img-cpol-assert.yaml
  test/conformance/chainsaw/verifyImages/clusterpolicy/standard/with-mutation/img-cpol.yaml
  test/conformance/chainsaw/verifyImages/clusterpolicy/standard/with-mutation/mut-cpol-assert.yaml
  test/conformance/chainsaw/verifyImages/clusterpolicy/standard/with-mutation/mut-cpol.yaml
  test/conformance/chainsaw/verifyImages/clusterpolicy/standard/with-mutation/ns.yaml
  test/conformance/chainsaw/verifyImages/clusterpolicy/standard/with-mutation/test-pod-assert.yaml
  test/conformance/chainsaw/verifyImages/clusterpolicy/standard/with-mutation/test-pod.yaml
Labels: milestone 1.13.0, size:L

#10822 feat(audit): enable audit logs for kind
  scripts/config/kind/audit-config.yaml
  scripts/config/kind/audit-policy.yaml
Labels: milestone 1.13.0, size:M

#10829 fix: check permissions for validate.cel subrules only
  pkg/validation/policy/actions.go
Labels: milestone 1.13.0, size:XS

#10771 feat: generate VAPs from exceptions
  pkg/controllers/validatingadmissionpolicy-generate/controller.go
  pkg/validatingadmissionpolicy/builder.go
  pkg/validatingadmissionpolicy/kyvernopolicy_checker.go
  pkg/validatingadmissionpolicy/kyvernopolicy_checker_test.go
  pkg/validation/policy/validate.go
  test/conformance/chainsaw/generate-validating-admission-policy/clusterpolicy/standard/generate/cpol-with-an-exception-excluding-namespaces/chainsaw-test.yaml
  test/conformance/chainsaw/generate-validating-admission-policy/clusterpolicy/standard/generate/cpol-with-an-exception-excluding-namespaces/exception.yaml
  test/conformance/chainsaw/generate-validating-admission-policy/clusterpolicy/standard/generate/cpol-with-an-exception-excluding-namespaces/policy-assert.yaml
  test/conformance/chainsaw/generate-validating-admission-policy/clusterpolicy/standard/generate/cpol-with-an-exception-excluding-namespaces/policy.yaml
  test/conformance/chainsaw/generate-validating-admission-policy/clusterpolicy/standard/generate/cpol-with-an-exception-excluding-namespaces/validatingadmissionpolicy.yaml
  test/conformance/chainsaw/generate-validating-admission-policy/clusterpolicy/standard/generate/cpol-with-an-exception-excluding-namespaces/validatingadmissionpolicybinding.yaml
  test/conformance/chainsaw/generate-validating-admission-policy/clusterpolicy/standard/generate/cpol-with-an-exception/chainsaw-test.yaml
  test/conformance/chainsaw/generate-validating-admission-policy/clusterpolicy/standard/generate/cpol-with-an-exception/exception.yaml
  test/conformance/chainsaw/generate-validating-admission-policy/clusterpolicy/standard/generate/cpol-with-an-exception/policy-assert.yaml
  test/conformance/chainsaw/generate-validating-admission-policy/clusterpolicy/standard/generate/cpol-with-an-exception/policy.yaml
  test/conformance/chainsaw/generate-validating-admission-policy/clusterpolicy/standard/generate/cpol-with-an-exception/validatingadmissionpolicy.yaml
  test/conformance/chainsaw/generate-validating-admission-policy/clusterpolicy/standard/generate/cpol-with-an-exception/validatingadmissionpolicybinding.yaml
  test/conformance/chainsaw/generate-validating-admission-policy/clusterpolicy/standard/generate/cpol-with-two-exceptions/chainsaw-test.yaml
  test/conformance/chainsaw/generate-validating-admission-policy/clusterpolicy/standard/generate/cpol-with-two-exceptions/exception.yaml
  test/conformance/chainsaw/generate-validating-admission-policy/clusterpolicy/standard/generate/cpol-with-two-exceptions/policy-assert.yaml
  test/conformance/chainsaw/generate-validating-admission-policy/clusterpolicy/standard/generate/cpol-with-two-exceptions/policy.yaml
  test/conformance/chainsaw/generate-validating-admission-policy/clusterpolicy/standard/generate/cpol-with-two-exceptions/validatingadmissionpolicy.yaml
  test/conformance/chainsaw/generate-validating-admission-policy/clusterpolicy/standard/generate/cpol-with-two-exceptions/validatingadmissionpolicybinding.yaml
  test/conformance/chainsaw/generate-validating-admission-policy/clusterpolicy/standard/skip-generate/cpol-with-exception-and-conditions/chainsaw-test.yaml
  test/conformance/chainsaw/generate-validating-admission-policy/clusterpolicy/standard/skip-generate/cpol-with-exception-and-conditions/exception.yaml
  test/conformance/chainsaw/generate-validating-admission-policy/clusterpolicy/standard/skip-generate/cpol-with-exception-and-conditions/policy-assert.yaml
  test/conformance/chainsaw/generate-validating-admission-policy/clusterpolicy/standard/skip-generate/cpol-with-exception-and-conditions/policy.yaml
  test/conformance/chainsaw/generate-validating-admission-policy/clusterpolicy/standard/skip-generate/cpol-with-exception-and-conditions/validatingadmissionpolicy.yaml
  test/conformance/chainsaw/generate-validating-admission-policy/clusterpolicy/standard/skip-generate/cpol-with-exception-and-conditions/validatingadmissionpolicybinding.yaml
  test/conformance/chainsaw/generate-validating-admission-policy/clusterpolicy/standard/skip-generate/cpol-with-exception-and-namespace-selector/chainsaw-test.yaml
  test/conformance/chainsaw/generate-validating-admission-policy/clusterpolicy/standard/skip-generate/cpol-with-exception-and-namespace-selector/exception.yaml
  test/conformance/chainsaw/generate-validating-admission-policy/clusterpolicy/standard/skip-generate/cpol-with-exception-and-namespace-selector/policy-assert.yaml
  test/conformance/chainsaw/generate-validating-admission-policy/clusterpolicy/standard/skip-generate/cpol-with-exception-and-namespace-selector/policy.yaml
  test/conformance/chainsaw/generate-validating-admission-policy/clusterpolicy/standard/skip-generate/cpol-with-exception-and-namespace-selector/validatingadmissionpolicy.yaml
  test/conformance/chainsaw/generate-validating-admission-policy/clusterpolicy/standard/skip-generate/cpol-with-exception-and-namespace-selector/validatingadmissionpolicybinding.yaml
  test/conformance/chainsaw/generate-validating-admission-policy/clusterpolicy/standard/skip-generate/cpol-with-exception-and-object-selector/chainsaw-test.yaml
  test/conformance/chainsaw/generate-validating-admission-policy/clusterpolicy/standard/skip-generate/cpol-with-exception-and-object-selector/exception.yaml
  test/conformance/chainsaw/generate-validating-admission-policy/clusterpolicy/standard/skip-generate/cpol-with-exception-and-object-selector/policy-assert.yaml
  test/conformance/chainsaw/generate-validating-admission-policy/clusterpolicy/standard/skip-generate/cpol-with-exception-and-object-selector/policy.yaml
  test/conformance/chainsaw/generate-validating-admission-policy/clusterpolicy/standard/skip-generate/cpol-with-exception-and-object-selector/validatingadmissionpolicy.yaml
  test/conformance/chainsaw/generate-validating-admission-policy/clusterpolicy/standard/skip-generate/cpol-with-exception-and-object-selector/validatingadmissionpolicybinding.yaml
  test/conformance/chainsaw/generate-validating-admission-policy/clusterpolicy/standard/skip-generate/cpol-with-exception-in-specific-namespace/chainsaw-test.yaml
  test/conformance/chainsaw/generate-validating-admission-policy/clusterpolicy/standard/skip-generate/cpol-with-exception-in-specific-namespace/exception.yaml
  test/conformance/chainsaw/generate-validating-admission-policy/clusterpolicy/standard/skip-generate/cpol-with-exception-in-specific-namespace/policy-assert.yaml
  test/conformance/chainsaw/generate-validating-admission-policy/clusterpolicy/standard/skip-generate/cpol-with-exception-in-specific-namespace/policy.yaml
  test/conformance/chainsaw/generate-validating-admission-policy/clusterpolicy/standard/skip-generate/cpol-with-exception-in-specific-namespace/validatingadmissionpolicy.yaml
  test/conformance/chainsaw/generate-validating-admission-policy/clusterpolicy/standard/skip-generate/cpol-with-exception-in-specific-namespace/validatingadmissionpolicybinding.yaml
Labels: Documentation, milestone 1.13.0, size:XL

#10809 test(gctx): cli variable injection
  test/cli/test/globalcontext/kyverno-test.yaml
  test/cli/test/globalcontext/policy.yaml
  test/cli/test/globalcontext/resources.yaml
  test/cli/test/globalcontext/values.yaml
Labels: Documentation, milestone 1.13.0, size:M

#10790 feat(logger): replace zap with zerlog for perf
  go.mod
  go.sum
  pkg/logging/log.go
Labels: milestone 1.13.0, size:M

#10832 fix: Reconfigured metric kyverno_policy_results_total to kyverno_policy_results in grafana dashboard config #6781
  charts/kyverno/charts/grafana/dashboard/kyverno-dashboard.json
Labels: milestone 1.13.0, size:S

#10835 Move Trey Dockendorf to Maintainer Emeritus
  MAINTAINERS.md
Labels: milestone 1.13.0, size:XS

#10572 Updated application logic to treat an empty 'group' string as the core API group for GlobalContextEntry
  api/kyverno/v2alpha1/global_context_entry_types.go
  api/kyverno/v2alpha1/global_context_entry_types_test.go
  charts/kyverno/charts/crds/templates/kyverno.io/kyverno.io_globalcontextentries.yaml
  config/crds/kyverno/kyverno.io_globalcontextentries.yaml
  config/install-latest-testing.yaml
Labels: milestone 1.13.0, size:L

#10850 chore: refactor background controller
  pkg/background/generate/clone.go
  pkg/background/generate/controller.go
  pkg/background/generate/generator.go
  pkg/background/generate/utils.go
Labels: milestone 1.13.0, size:L

#10852 fix(codegen): missing crd version
  Makefile
  charts/kyverno/charts/crds/templates/kyverno.io/kyverno.io_updaterequests.yaml
  config/crds/kyverno/kyverno.io_updaterequests.yaml
  config/install-latest-testing.yaml
Labels: milestone 1.13.0, size:XXL

#10863 rename package: d4f --> breaker
  cmd/kyverno/main.go
  pkg/breaker/breaker.go
  pkg/breaker/breaker_test.go
  pkg/webhooks/resource/handlers.go
  pkg/webhooks/resource/imageverification/handler.go
  pkg/webhooks/resource/validation/validation.go
Labels: milestone 1.13.0, size:S

#10867 fix(log): set zerolog level to logr level
  pkg/logging/log.go
Labels: milestone 1.13.0, size:S

#10862 update message
  pkg/controllers/webhook/controller.go
Labels: milestone 1.13.0, size:XS

#10739 feat: add updateRequestThreshold parameter to kyverno config template
  charts/kyverno/README.md
  charts/kyverno/templates/config/configmap.yaml
  charts/kyverno/values.yaml
  config/install-latest-testing.yaml
Labels: milestone 1.13.0, size:XS

#10815 feat: add full regexp support to cosign
  api/kyverno/v1/image_verification_types.go
  charts/kyverno/charts/crds/templates/kyverno.io/kyverno.io_clusterpolicies.yaml
  charts/kyverno/charts/crds/templates/kyverno.io/kyverno.io_policies.yaml
  cmd/cli/kubectl-kyverno/data/crds/kyverno.io_clusterpolicies.yaml
  cmd/cli/kubectl-kyverno/data/crds/kyverno.io_policies.yaml
  config/crds/kyverno/kyverno.io_clusterpolicies.yaml
  config/crds/kyverno/kyverno.io_policies.yaml
  config/install-latest-testing.yaml
  docs/user/crd/index.html
  docs/user/crd/kyverno.v1.html
  pkg/client/applyconfigurations/kyverno/v1/keylessattestor.go
  pkg/cosign/cosign.go
  pkg/cosign/cosign_test.go
  pkg/engine/internal/imageverifier.go
  pkg/images/verifier.go
  test/conformance/chainsaw/verifyImages/clusterpolicy/standard/keyless-attestation-regexp/README.md
  test/conformance/chainsaw/verifyImages/clusterpolicy/standard/keyless-attestation-regexp/chainsaw-test.yaml
  test/conformance/chainsaw/verifyImages/clusterpolicy/standard/keyless-attestation-regexp/pod-assert.yaml
  test/conformance/chainsaw/verifyImages/clusterpolicy/standard/keyless-attestation-regexp/pod.yaml
  test/conformance/chainsaw/verifyImages/clusterpolicy/standard/keyless-attestation-regexp/policy-assert.yaml
  test/conformance/chainsaw/verifyImages/clusterpolicy/standard/keyless-attestation-regexp/policy.yaml
Labels: Documentation, milestone 1.13.0, size:XXL

#10567 feat: add support for sigstore bundle verification
  api/kyverno/v1/image_verification_types.go
  charts/kyverno/charts/crds/templates/kyverno.io/kyverno.io_clusterpolicies.yaml
  charts/kyverno/charts/crds/templates/kyverno.io/kyverno.io_policies.yaml
  cmd/cli/kubectl-kyverno/data/crds/kyverno.io_clusterpolicies.yaml
  cmd/cli/kubectl-kyverno/data/crds/kyverno.io_policies.yaml
  config/crds/kyverno/kyverno.io_clusterpolicies.yaml
  config/crds/kyverno/kyverno.io_policies.yaml
  config/install-latest-testing.yaml
  docs/user/crd/index.html
  docs/user/crd/kyverno.v1.html
  go.mod
  go.sum
  pkg/cosign/cosign.go
  pkg/cosign/sigstore.go
  pkg/cosign/sigstore_test.go
  pkg/engine/internal/imageverifier.go
  pkg/images/verifier.go
  test/conformance/chainsaw/verifyImages/clusterpolicy/standard/sigstore-attestation-verification-regexp/README.md
  test/conformance/chainsaw/verifyImages/clusterpolicy/standard/sigstore-attestation-verification-regexp/chainsaw-test.yaml
  test/conformance/chainsaw/verifyImages/clusterpolicy/standard/sigstore-attestation-verification-regexp/pod-assert.yaml
  test/conformance/chainsaw/verifyImages/clusterpolicy/standard/sigstore-attestation-verification-regexp/pod.yaml
  test/conformance/chainsaw/verifyImages/clusterpolicy/standard/sigstore-attestation-verification-regexp/policy-assert.yaml
  test/conformance/chainsaw/verifyImages/clusterpolicy/standard/sigstore-attestation-verification-regexp/policy.yaml
  test/conformance/chainsaw/verifyImages/clusterpolicy/standard/sigstore-attestation-verification-test/README.md
  test/conformance/chainsaw/verifyImages/clusterpolicy/standard/sigstore-attestation-verification-test/chainsaw-test.yaml
  test/conformance/chainsaw/verifyImages/clusterpolicy/standard/sigstore-attestation-verification-test/pod-assert.yaml
  test/conformance/chainsaw/verifyImages/clusterpolicy/standard/sigstore-attestation-verification-test/pod.yaml
  test/conformance/chainsaw/verifyImages/clusterpolicy/standard/sigstore-attestation-verification-test/policy-assert.yaml
  test/conformance/chainsaw/verifyImages/clusterpolicy/standard/sigstore-attestation-verification-test/policy.yaml
  test/conformance/chainsaw/verifyImages/clusterpolicy/standard/sigstore-image-verification-test/README.md
  test/conformance/chainsaw/verifyImages/clusterpolicy/standard/sigstore-image-verification-test/chainsaw-test.yaml
  test/conformance/chainsaw/verifyImages/clusterpolicy/standard/sigstore-image-verification-test/pod-assert.yaml
  test/conformance/chainsaw/verifyImages/clusterpolicy/standard/sigstore-image-verification-test/pod.yaml
  test/conformance/chainsaw/verifyImages/clusterpolicy/standard/sigstore-image-verification-test/policy-assert.yaml
  test/conformance/chainsaw/verifyImages/clusterpolicy/standard/sigstore-image-verification-test/policy.yaml
Labels: Documentation, milestone 1.13.0, size:XL

#10874 chore(log): add caller
  pkg/logging/log.go
Labels: milestone 1.13.0, size:XS

#10877 reduce recursions for nested var substitution
  pkg/engine/variables/vars.go
  pkg/engine/variables/vars_test.go
Labels: milestone 1.13.0, size:S

#10887 fix: bump docker in release 1.11
  go.mod
  go.sum
Labels: milestone 1.11.6, size:XS

#10709 fix: properly use useCache field in image verification policies
  pkg/engine/image_verify_test.go
  pkg/engine/internal/imageverifier.go
  pkg/imageverifycache/client.go
  pkg/imageverifycache/interface.go
Labels: cherry-pick-required, milestone 1.13.0, size:M

#10891 chore: bump notary version to 1.2.0-rc-1
  go.mod
  go.sum
Labels: milestone 1.13.0, size:XS

#10901 feat: regexp support for sigstore bundle
  pkg/cosign/sigstore.go
  test/conformance/chainsaw/verifyImages/clusterpolicy/standard/sigstore-attestation-verification-regexp/policy.yaml
Labels: milestone 1.13.0, size:S

#10796 feat(gctx): retry logic
  api/kyverno/v2alpha1/global_context_entry_types.go
  charts/kyverno/charts/crds/templates/kyverno.io/kyverno.io_globalcontextentries.yaml
  config/crds/kyverno/kyverno.io_globalcontextentries.yaml
  config/install-latest-testing.yaml
  docs/user/crd/index.html
  docs/user/crd/kyverno.v2alpha1.html
  pkg/client/applyconfigurations/kyverno/v2alpha1/externalapicall.go
  pkg/globalcontext/externalapi/entry.go
  test/conformance/chainsaw/globalcontext/apicall-correct/chainsaw-test.yaml
  test/conformance/chainsaw/globalcontext/apicall-correct/main-deployment.yaml
  test/conformance/chainsaw/globalcontext/apicall-correct/new-deployment.yaml
  test/conformance/chainsaw/globalcontext/apicall-failed/gctxentry.yaml
  test/conformance/chainsaw/globalcontext/gctxentry-not-exist/chainsaw-test.yaml
  test/conformance/chainsaw/globalcontext/gctxentry-not-exist/main-deployment.yaml
  test/conformance/chainsaw/globalcontext/not-ready/chainsaw-test.yaml
  test/conformance/chainsaw/globalcontext/not-ready/gctxentry.yaml
  test/conformance/chainsaw/globalcontext/not-ready/main-deployment.yaml
  test/conformance/chainsaw/globalcontext/not-ready/new-deployment.yaml
  test/conformance/chainsaw/globalcontext/resource-correct/chainsaw-test.yaml
  test/conformance/chainsaw/globalcontext/resource-correct/main-deployment.yaml
  test/conformance/chainsaw/globalcontext/resource-correct/new-deployment.yaml
  test/conformance/chainsaw/globalcontext/validate-crd/valid-context.yaml
Labels: milestone 1.13.0, size:L

#10882 move Chip Zoller to emeritus
  CODEOWNERS
  MAINTAINERS.md
Labels: milestone 1.13.0, size:XS

#10925 chore: improve our crds generator code
  Makefile
  go.mod
  go.sum
  hack/controller-gen/go.mod
  hack/controller-gen/go.sum
Labels: milestone 1.13.0, size:M

#10926 fix: update docs generation
  docs/user/config-api.yaml
  docs/user/crd/kyverno.v2.html
  docs/user/crd/kyverno.v2beta1.html
  docs/user/crd/kyverno_reports.v1.html
Labels: milestone 1.13.0, size:XL

#10927 feat: bump controller gen package
  Makefile
  api/kyverno/v1/common_types.go
  charts/kyverno/charts/crds/templates/kyverno.io/kyverno.io_cleanuppolicies.yaml
  charts/kyverno/charts/crds/templates/kyverno.io/kyverno.io_clustercleanuppolicies.yaml
  charts/kyverno/charts/crds/templates/kyverno.io/kyverno.io_clusterpolicies.yaml
  charts/kyverno/charts/crds/templates/kyverno.io/kyverno.io_globalcontextentries.yaml
  charts/kyverno/charts/crds/templates/kyverno.io/kyverno.io_policies.yaml
  charts/kyverno/charts/crds/templates/kyverno.io/kyverno.io_policyexceptions.yaml
  charts/kyverno/charts/crds/templates/kyverno.io/kyverno.io_updaterequests.yaml
  charts/kyverno/charts/crds/templates/reports.kyverno.io/reports.kyverno.io_clusterephemeralreports.yaml
  charts/kyverno/charts/crds/templates/reports.kyverno.io/reports.kyverno.io_ephemeralreports.yaml
  charts/kyverno/charts/crds/templates/wgpolicyk8s.io/wgpolicyk8s.io_clusterpolicyreports.yaml
  charts/kyverno/charts/crds/templates/wgpolicyk8s.io/wgpolicyk8s.io_policyreports.yaml
  cmd/cli/kubectl-kyverno/data/crds/kyverno.io_clusterpolicies.yaml
  cmd/cli/kubectl-kyverno/data/crds/kyverno.io_policies.yaml
  config/crds/kyverno/kyverno.io_cleanuppolicies.yaml
  config/crds/kyverno/kyverno.io_clustercleanuppolicies.yaml
  config/crds/kyverno/kyverno.io_clusterpolicies.yaml
  config/crds/kyverno/kyverno.io_globalcontextentries.yaml
  config/crds/kyverno/kyverno.io_policies.yaml
  config/crds/kyverno/kyverno.io_updaterequests.yaml
  config/crds/policyreport/wgpolicyk8s.io_clusterpolicyreports.yaml
  config/crds/policyreport/wgpolicyk8s.io_policyreports.yaml
  config/crds/reports/reports.kyverno.io_clusterephemeralreports.yaml
  config/crds/reports/reports.kyverno.io_ephemeralreports.yaml
  config/install-latest-testing.yaml
  hack/controller-gen/go.mod
  hack/controller-gen/go.sum
  test/conformance/chainsaw/globalcontext/validate-reference/chainsaw-test.yaml
Labels: milestone 1.13.0, size:XXL

#10910 fix: fixed the pinned dependencies issue
  .github/workflows/check-milestone-label.yaml
Labels: milestone 1.13.0, size:XS

#10944 adding @YTGhost to codeowners
  CODEOWNERS
Labels: milestone 1.13.0, size:XS

#10938 feat: bump to k8s 1.31
  .github/workflows/lint.yaml
  .golangci.yml
  cmd/cleanup-controller/main.go
  cmd/cli/kubectl-kyverno/commands/fix/policy/options.go
  cmd/cli/kubectl-kyverno/commands/fix/test/options.go
  cmd/cli/kubectl-kyverno/experimental/experimental.go
  cmd/cli/kubectl-kyverno/processor/policy_processor.go
  cmd/kyverno/main.go
  go.mod
  go.sum
  pkg/background/update_request_controller.go
  pkg/clients/kube/clientset.generated.go
  pkg/clients/kube/coordinationv1alpha1/client.generated.go
  pkg/clients/kube/coordinationv1alpha1/leasecandidates/resource.generated.go
  pkg/clients/kube/networkingv1beta1/client.generated.go
  pkg/clients/kube/networkingv1beta1/ipaddresses/resource.generated.go
  pkg/clients/kube/networkingv1beta1/servicecidrs/resource.generated.go
  pkg/clients/kube/resourcev1alpha2/client.generated.go
  pkg/clients/kube/resourcev1alpha3/client.generated.go
  pkg/clients/kube/resourcev1alpha3/deviceclasses/resource.generated.go
  pkg/clients/kube/resourcev1alpha3/podschedulingcontexts/resource.generated.go
  pkg/clients/kube/resourcev1alpha3/resourceclaims/resource.generated.go
  pkg/clients/kube/resourcev1alpha3/resourceclaimtemplates/resource.generated.go
  pkg/clients/kube/resourcev1alpha3/resourceslices/resource.generated.go
  pkg/clients/kube/storagev1beta1/client.generated.go
  pkg/clients/kube/storagev1beta1/volumeattributesclasses/resource.generated.go
  pkg/controllers/certmanager/controller.go
  pkg/controllers/cleanup/controller.go
  pkg/controllers/exceptions/controller.go
  pkg/controllers/generic/configmap/controller.go
  pkg/controllers/generic/webhook/controller.go
  pkg/controllers/globalcontext/controller.go
  pkg/controllers/policycache/controller.go
  pkg/controllers/report/aggregate/controller.go
  pkg/controllers/report/background/controller.go
  pkg/controllers/report/resource/controller.go
  pkg/controllers/ttl/controller.go
  pkg/controllers/validatingadmissionpolicy-generate/controller.go
  pkg/controllers/webhook/controller.go
  pkg/cosign/cosign.go
  pkg/cosign/sigstore.go
  pkg/engine/utils/match.go
  pkg/event/controller.go
  pkg/metrics/metrics.go
  pkg/policy/generate/validate.go
  pkg/policy/mutate/validate.go
  pkg/policy/policy_controller.go
  pkg/tracing/config.go
  pkg/utils/cel/cel.go
  pkg/utils/controller/handlers.go
  pkg/utils/controller/run.go
  pkg/utils/fuzz/policies.go
  pkg/validation/policy/validate.go
  pkg/webhooks/resource/mutation/mutation.go
Labels: milestone 1.13.0, size:XXL

#10943 chore: add --reportsServiceAccountName in launch.json
  .vscode/launch.json
Labels: milestone 1.13.0, size:XS

#10864 explicit protocol selection with appProtocol
  charts/kyverno/templates/admission-controller/service.yaml
  charts/kyverno/templates/cleanup-controller/service.yaml
  config/install-latest-testing.yaml
Labels: milestone 1.13.0, size:XS

#10922 Make KUBECONFIG Optional
  docs/perf-testing/README.md
Labels: milestone 1.13.0, size:XS

#10888 feat: `foreach` support for `clone`
  api/kyverno/v1/common_types.go
  api/kyverno/v1/zz_generated.deepcopy.go
  docs/user/crd/index.html
  docs/user/crd/kyverno.v1.html
  pkg/background/generate/cleanup.go
  pkg/background/generate/clone.go
  pkg/background/generate/controller.go
  pkg/background/generate/generator.go
  pkg/client/applyconfigurations/kyverno/v1/foreachgeneration.go
  pkg/client/applyconfigurations/kyverno/v1/generatepattern.go
  pkg/client/applyconfigurations/kyverno/v1/generation.go
  pkg/client/applyconfigurations/utils.go
  pkg/controllers/webhook/controller.go
  pkg/policy/generate.go
  pkg/policy/generate/validate.go
  pkg/webhooks/resource/generation/handler.go
  scripts/config/standard/kyverno.yaml
  test/conformance/chainsaw/generate/foreach/clusterpolicy/clone/sync/cpol-clone-list-sync-delete-source/1-0-existing.yaml
  test/conformance/chainsaw/generate/foreach/clusterpolicy/clone/sync/cpol-clone-list-sync-delete-source/1-1-policy.yaml
  test/conformance/chainsaw/generate/foreach/clusterpolicy/clone/sync/cpol-clone-list-sync-delete-source/1-2-policy-assert.yaml
  test/conformance/chainsaw/generate/foreach/clusterpolicy/clone/sync/cpol-clone-list-sync-delete-source/2-1-trigger.yaml
  test/conformance/chainsaw/generate/foreach/clusterpolicy/clone/sync/cpol-clone-list-sync-delete-source/3-1-target-expected.yaml
  test/conformance/chainsaw/generate/foreach/clusterpolicy/clone/sync/cpol-clone-list-sync-delete-source/3-2-target-none-expected.yaml
  test/conformance/chainsaw/generate/foreach/clusterpolicy/clone/sync/cpol-clone-list-sync-delete-source/README.md
  test/conformance/chainsaw/generate/foreach/clusterpolicy/clone/sync/cpol-clone-list-sync-delete-source/chainsaw-test.yaml
  test/conformance/chainsaw/generate/foreach/clusterpolicy/clone/sync/cpol-clone-sync-create-delete-source/1-1-source.yaml
  test/conformance/chainsaw/generate/foreach/clusterpolicy/clone/sync/cpol-clone-sync-create-delete-source/2-1-policy.yaml
  test/conformance/chainsaw/generate/foreach/clusterpolicy/clone/sync/cpol-clone-sync-create-delete-source/2-2-policy-assert.yaml
  test/conformance/chainsaw/generate/foreach/clusterpolicy/clone/sync/cpol-clone-sync-create-delete-source/3-1-trigger.yaml
  test/conformance/chainsaw/generate/foreach/clusterpolicy/clone/sync/cpol-clone-sync-create-delete-source/4-1-cloned-target.yaml
  test/conformance/chainsaw/generate/foreach/clusterpolicy/clone/sync/cpol-clone-sync-create-delete-source/4-2-no-cloned-target.yaml
  test/conformance/chainsaw/generate/foreach/clusterpolicy/clone/sync/cpol-clone-sync-create-delete-source/README.md
  test/conformance/chainsaw/generate/foreach/clusterpolicy/clone/sync/cpol-clone-sync-create-delete-source/chainsaw-test.yaml
  test/conformance/chainsaw/generate/foreach/clusterpolicy/clone/sync/cpol-clone-sync-create/1-1-source.yaml
  test/conformance/chainsaw/generate/foreach/clusterpolicy/clone/sync/cpol-clone-sync-create/2-1-policy.yaml
  test/conformance/chainsaw/generate/foreach/clusterpolicy/clone/sync/cpol-clone-sync-create/2-2-policy-assert.yaml
  test/conformance/chainsaw/generate/foreach/clusterpolicy/clone/sync/cpol-clone-sync-create/3-1-trigger.yaml
  test/conformance/chainsaw/generate/foreach/clusterpolicy/clone/sync/cpol-clone-sync-create/4-1-cloned-target.yaml
  test/conformance/chainsaw/generate/foreach/clusterpolicy/clone/sync/cpol-clone-sync-create/4-2-no-cloned-target.yaml
  test/conformance/chainsaw/generate/foreach/clusterpolicy/clone/sync/cpol-clone-sync-create/README.md
  test/conformance/chainsaw/generate/foreach/clusterpolicy/clone/sync/cpol-clone-sync-create/chainsaw-test.yaml
  test/conformance/chainsaw/generate/foreach/existing/cpol-clone-sync-create/1-1-source.yaml
  test/conformance/chainsaw/generate/foreach/existing/cpol-clone-sync-create/2-1-policy.yaml
  test/conformance/chainsaw/generate/foreach/existing/cpol-clone-sync-create/2-2-policy-assert.yaml
  test/conformance/chainsaw/generate/foreach/existing/cpol-clone-sync-create/3-1-cloned-target.yaml
  test/conformance/chainsaw/generate/foreach/existing/cpol-clone-sync-create/3-2-no-cloned-target.yaml
  test/conformance/chainsaw/generate/foreach/existing/cpol-clone-sync-create/README.md
  test/conformance/chainsaw/generate/foreach/existing/cpol-clone-sync-create/chainsaw-test.yaml
Labels: milestone 1.13.0, size:XL

#10945 fix: match wildcard names for generateExisting policies
  pkg/policy/utils.go
  pkg/policy/utils_test.go
  test/conformance/chainsaw/generate/clusterpolicy/standard/existing/existing-with-wildcard-name-matching/README.md
  test/conformance/chainsaw/generate/clusterpolicy/standard/existing/existing-with-wildcard-name-matching/chainsaw-test.yaml
  test/conformance/chainsaw/generate/clusterpolicy/standard/existing/existing-with-wildcard-name-matching/existing-resources.yaml
  test/conformance/chainsaw/generate/clusterpolicy/standard/existing/existing-with-wildcard-name-matching/generated-resources.yaml
  test/conformance/chainsaw/generate/clusterpolicy/standard/existing/existing-with-wildcard-name-matching/permissions.yaml
  test/conformance/chainsaw/generate/clusterpolicy/standard/existing/existing-with-wildcard-name-matching/policy-ready.yaml
  test/conformance/chainsaw/generate/clusterpolicy/standard/existing/existing-with-wildcard-name-matching/policy.yaml
Labels: milestone 1.13.0, size:L

#10936 fix: variable substitution error handling in policy validation
  pkg/validation/policy/validate.go
  pkg/validation/policy/validate_test.go
Labels: milestone 1.13.0, size:M

#10787 Deferred loading for image info in policy context
  pkg/engine/context/context.go
  pkg/engine/context/context_test.go
  pkg/engine/policycontext/policy_context.go
Labels: milestone 1.13.0, size:L

#10837 add image name in all logs
  pkg/engine/internal/imageverifier.go
Labels: milestone 1.13.0, size:M

#10459 change metrics default to stable defaults
  charts/kyverno/README.md
  charts/kyverno/values.yaml
  config/install-latest-testing.yaml
Labels: milestone 1.13.0, size:S

#10956 update K8s compatibility test versions
  .github/ISSUE_TEMPLATE/bug-webhook.yaml
  .github/workflows/conformance.yaml
  .github/workflows/load-testing.yml
Labels: milestone 1.13.0, size:L
