Repository kyverno/kyverno, pull requests merged in 2024-12, with the labels that each got.

#11686 fix: check the patchedResources in kyverno-test
  cmd/cli/kubectl-kyverno/apis/v1alpha1/test_result.go
  cmd/cli/kubectl-kyverno/commands/test/command.go
  cmd/cli/kubectl-kyverno/deprecations/check.go
  docs/user/cli/crd/index.html
  docs/user/cli/crd/kyverno_kubectl.v1alpha1.html
  test/cli/scenarios_to_cli/other/scenario_mutate_endpoint/kyverno-test.yaml
  test/cli/scenarios_to_cli/other/scenario_mutate_pod_spec/kyverno-test.yaml
  test/cli/test-mutate/add-default-resources/kyverno-test.yaml
  test/cli/test-mutate/bug-demo/kyverno-test.yaml
  test/cli/test-mutate/connection-draining/kyverno-test.yaml
  test/cli/test-mutate/foreach/addIfNotPresent/kyverno-test.yaml
  test/cli/test-mutate/foreach/cumulativePatch/kyverno-test.yaml
  test/cli/test-mutate/foreach/kyverno-test.yaml
  test/cli/test-mutate/foreach/replaceRegistry/kyverno-test.yaml
  test/cli/test-mutate/global-anchor/kyverno-test.yaml
  test/cli/test-mutate/karpenter-annotations-to-nodeselector/kyverno-test.yaml
  test/cli/test-mutate/kyverno-test.yaml
  test/cli/test-mutate/patched-resource/kyverno-test.yaml
  test/cli/test/mixed-deprecated/kyverno-test.yaml
  test/cli/test/mixed/kyverno-test.yaml
  test/cli/test/mutate-keda-scaled-object/kyverno-test.yaml
  test/cli/test/secret/kyverno-test.yaml
  test/cli/test/wildcard_mutate/kyverno-test.yaml
Labels: cherry-pick-required, size:L, milestone 1.13.2

#11681 Fix(doc): correct invalid links in documentation
  api/kyverno/v1/common_types.go
  charts/kyverno/charts/crds/templates/kyverno.io/kyverno.io_clusterpolicies.yaml
  charts/kyverno/charts/crds/templates/kyverno.io/kyverno.io_policies.yaml
  cmd/cli/kubectl-kyverno/data/crds/kyverno.io_clusterpolicies.yaml
  cmd/cli/kubectl-kyverno/data/crds/kyverno.io_policies.yaml
  config/crds/kyverno/kyverno.io_clusterpolicies.yaml
  config/crds/kyverno/kyverno.io_policies.yaml
  config/install-latest-testing.yaml
  docs/crd/v1/index.html
  docs/user/crd/index.html
  docs/user/crd/kyverno.v1.html
Labels: milestone 1.14.0, size:L

#11682 fix: api call chainsaw tests
  test/conformance/chainsaw/validate/clusterpolicy/standard/apicalls/default/chainsaw-test.yaml
  test/conformance/chainsaw/validate/clusterpolicy/standard/apicalls/default/ns-bad.yaml
  test/conformance/chainsaw/validate/clusterpolicy/standard/apicalls/default/pod-bad.yaml
  test/conformance/chainsaw/validate/clusterpolicy/standard/apicalls/default/pod.yaml
  test/conformance/chainsaw/validate/clusterpolicy/standard/apicalls/default/policy.yaml
Labels: cherry-pick-required, size:M, milestone 1.13.2

#11674 feat: Show textual diff when generate test fails
  cmd/cli/kubectl-kyverno/commands/test/command.go
  cmd/cli/kubectl-kyverno/commands/test/compare.go
  go.mod
Labels: cherry-pick-required, size:M, milestone 1.13.2

#11644 fix: properly verify precondition in old object validation
  pkg/engine/api/policycontext.go
  pkg/engine/handlers/validation/utils.go
  pkg/engine/handlers/validation/validate_assert.go
  pkg/engine/handlers/validation/validate_pss.go
  pkg/engine/handlers/validation/validate_resource.go
  pkg/engine/handlers/validation/validate_resource_test.go
  test/conformance/chainsaw/validate/clusterpolicy/standard/enforce/validate-existing-with-precondition/README.md
  test/conformance/chainsaw/validate/clusterpolicy/standard/enforce/validate-existing-with-precondition/chainsaw-test.yaml
  test/conformance/chainsaw/validate/clusterpolicy/standard/enforce/validate-existing-with-precondition/ingress-ready.yaml
  test/conformance/chainsaw/validate/clusterpolicy/standard/enforce/validate-existing-with-precondition/ingress-update.yaml
  test/conformance/chainsaw/validate/clusterpolicy/standard/enforce/validate-existing-with-precondition/ingress.yaml
  test/conformance/chainsaw/validate/clusterpolicy/standard/enforce/validate-existing-with-precondition/policy.yaml
Labels: size:L, milestone 1.13.2

#11717 fix: add metrics-server Helm repo
  Makefile
Labels: cherry-pick-required, size:XS, milestone 1.13.2

#11714 fix(readme): add changelog for spec.validate[*].allowExistingViolations field in kyverno chart
  charts/kyverno-policies/Chart.yaml
Labels: cherry-pick-required, size:XS, milestone 1.13.2

#11720 add allowExistingViolations option in policy chart (cherry pick #11656)
  charts/kyverno-policies/README.md
  charts/kyverno-policies/templates/baseline/disallow-capabilities.yaml
  charts/kyverno-policies/templates/baseline/disallow-host-namespaces.yaml
  charts/kyverno-policies/templates/baseline/disallow-host-path.yaml
  charts/kyverno-policies/templates/baseline/disallow-host-ports.yaml
  charts/kyverno-policies/templates/baseline/disallow-host-process.yaml
  charts/kyverno-policies/templates/baseline/disallow-privileged-containers.yaml
  charts/kyverno-policies/templates/baseline/disallow-proc-mount.yaml
  charts/kyverno-policies/templates/baseline/disallow-selinux.yaml
  charts/kyverno-policies/templates/baseline/restrict-apparmor-profiles.yaml
  charts/kyverno-policies/templates/baseline/restrict-seccomp.yaml
  charts/kyverno-policies/templates/baseline/restrict-sysctls.yaml
  charts/kyverno-policies/templates/other/require-non-root-groups.yaml
  charts/kyverno-policies/templates/restricted/disallow-capabilities-strict.yaml
  charts/kyverno-policies/templates/restricted/disallow-privilege-escalation.yaml
  charts/kyverno-policies/templates/restricted/require-run-as-non-root-user.yaml
  charts/kyverno-policies/templates/restricted/require-run-as-nonroot.yaml
  charts/kyverno-policies/templates/restricted/restrict-seccomp-strict.yaml
  charts/kyverno-policies/templates/restricted/restrict-volume-types.yaml
  charts/kyverno-policies/values.yaml
Labels: size:S

#11713 Release v1.13.2-rc.1
  charts/kyverno-policies/Chart.yaml
  charts/kyverno-policies/README.md
  charts/kyverno/Chart.yaml
  charts/kyverno/README.md
  charts/kyverno/charts/crds/Chart.yaml
  charts/kyverno/charts/crds/README.md
  charts/kyverno/charts/grafana/Chart.yaml
  charts/kyverno/charts/grafana/README.md
  config/install-latest-testing.yaml
Labels: hold-merge, size:M

#11752 chore: bump golang.org/x/crypto 0.31.0
  go.mod
  go.sum
Labels: size:S, milestone 1.12.7

#11753 chore: bump golang.org/x/crypto 0.31.0
  go.mod
  go.sum
Labels: size:S, milestone 1.13.3

#11620 distributed labels in group, version, and resource so it doesn't exceed
  pkg/utils/report/metadata.go
  test/conformance/chainsaw/reports/admission/label/README.md
  test/conformance/chainsaw/reports/admission/label/chainsaw-test.yaml
  test/conformance/chainsaw/reports/admission/label/crd-definition.yaml
  test/conformance/chainsaw/reports/admission/label/crd-permission.yaml
  test/conformance/chainsaw/reports/admission/label/ephemeral-report.yaml
  test/conformance/chainsaw/reports/admission/label/policy.yaml
  test/conformance/chainsaw/reports/admission/label/resource.yaml
Labels: size:L, milestone 1.13.3

#11772 fix: update custom sigstore conformance tests to fix issues with ubuntu 24.01 runner
  .github/workflows/conformance.yaml
Labels: milestone 1.14.0, size:XS

#11762 fix: remove extra line in configmap
  charts/kyverno/templates/config/_helpers.tpl
  config/install-latest-testing.yaml
Labels: cherry-pick-required, size:XS, milestone 1.13.2

#11780 fix: exemption error caused by convertChecks function
  pkg/engine/handlers/validation/validate_pss.go
Labels: cherry-pick-required, size:XS, milestone 1.13.3

#11453 Mutate existing CLI support
  cmd/cli/kubectl-kyverno/apis/v1alpha1/test.go
  cmd/cli/kubectl-kyverno/apis/v1alpha1/test_result.go
  cmd/cli/kubectl-kyverno/commands/apply/command.go
  cmd/cli/kubectl-kyverno/commands/test/command.go
  cmd/cli/kubectl-kyverno/commands/test/compare.go
  cmd/cli/kubectl-kyverno/commands/test/output.go
  cmd/cli/kubectl-kyverno/commands/test/test.go
  cmd/cli/kubectl-kyverno/config/crds/cli.kyverno.io_tests.yaml
  cmd/cli/kubectl-kyverno/config/crds/cli.kyverno.io_userinfoes.yaml
  cmd/cli/kubectl-kyverno/config/crds/cli.kyverno.io_values.yaml
  cmd/cli/kubectl-kyverno/data/crds/cli.kyverno.io_tests.yaml
  cmd/cli/kubectl-kyverno/data/crds/cli.kyverno.io_userinfoes.yaml
  cmd/cli/kubectl-kyverno/data/crds/cli.kyverno.io_values.yaml
  cmd/cli/kubectl-kyverno/fix/test.go
  cmd/cli/kubectl-kyverno/processor/generate.go
  cmd/cli/kubectl-kyverno/processor/policy_processor.go
  cmd/cli/kubectl-kyverno/resource/resource.go
  cmd/cli/kubectl-kyverno/test/load.go
  cmd/cli/kubectl-kyverno/test/load_test.go
  cmd/internal/engine.go
  docs/user/cli/commands/kyverno_apply.md
  docs/user/cli/crd/index.html
  docs/user/cli/crd/kyverno_kubectl.v1alpha1.html
  pkg/engine/engine.go
  pkg/engine/fuzz_test.go
  pkg/engine/handlers/validation/validate_cel.go
  pkg/engine/image_verify_test.go
  pkg/engine/mutation_test.go
  pkg/engine/validation.go
  pkg/engine/validation_test.go
  pkg/webhooks/resource/fake.go
  pkg/webhooks/resource/validation_test.go
  test/cli/test-mutate/add-default-resources/kyverno-test.yaml
  test/cli/test-mutate/global-anchor/kyverno-test.yaml
  test/cli/test-mutate/karpenter-annotations-to-nodeselector/kyverno-test.yaml
  test/cli/test-mutate/kyverno-test.yaml
  test/cli/test-mutate/mutate-existing-fail/kyverno-test.yaml
  test/cli/test-mutate/mutate-existing-fail/mutated-secret.yaml
  test/cli/test-mutate/mutate-existing-fail/policy.yaml
  test/cli/test-mutate/mutate-existing-fail/raw-secret.yaml
  test/cli/test-mutate/mutate-existing-fail/trigger-cm.yaml
  test/cli/test-mutate/mutate-existing/kyverno-test.yaml
  test/cli/test-mutate/mutate-existing/mutated-secret.yaml
  test/cli/test-mutate/mutate-existing/policy.yaml
  test/cli/test-mutate/mutate-existing/raw-secret.yaml
  test/cli/test-mutate/mutate-existing/trigger-cm.yaml
  test/cli/test-mutate/same-name-mutate-existing/cm.yaml
  test/cli/test-mutate/same-name-mutate-existing/kyverno-test.yaml
  test/cli/test-mutate/same-name-mutate-existing/mutated-resources.yaml
  test/cli/test-mutate/same-name-mutate-existing/policy.yaml
  test/cli/test-mutate/same-name-mutate-existing/secret-1.yaml
  test/cli/test-mutate/same-name-mutate-existing/secret-2.yaml
  test/cli/test/mutate-keda-scaled-object/kyverno-test.yaml
Labels: milestone 1.14.0, size:XL

#11584 fix: [Helm] mergeOverwrite overwrites nested objects #11536
  charts/kyverno/templates/admission-controller/deployment.yaml
  charts/kyverno/templates/background-controller/deployment.yaml
  charts/kyverno/templates/cleanup-controller/deployment.yaml
  charts/kyverno/templates/reports-controller/deployment.yaml
Labels: cherry-pick-required, size:S, milestone 1.13.3

#11770 fix: copy all the fields of public keys when splitting
  pkg/engine/internal/imageverifier.go
Labels: cherry-pick-required, size:S, milestone 1.13.3

#11777 fix: update custom sigstore conformance tests to fix issues with ubuntu 24.01 runner (cherry-pick #11772)
  .github/workflows/conformance.yaml
Labels: size:XS

#11794 fix: update chainsaw test apply timeout to 30s
  .chainsaw.yaml
  1
  test/cli/test-mutate/karpenter-annotations-to-nodeselector/kyverno-test.yaml
  test/cli/test-mutate/kyverno-test.yaml
Labels: cherry-pick-required, size:S, milestone 1.13.3

#11803 fix: cleanup unwanted files
  1
Labels: milestone 1.14.0, size:XS

#11800 chore: bump python to 3.13.1
  .github/workflows/helm-release.yaml
  .github/workflows/helm-test.yaml
Labels: milestone 1.14.0, size:XS

#11801 chore: bump python to 3.13.1
  .github/workflows/helm-release.yaml
  .github/workflows/helm-test.yaml
Labels: size:XS, milestone 1.13.3

#11825 chore: bump x/net 0.33.0
  go.mod
  go.sum
Labels: milestone 1.14.0, size:XS
