Repository kyverno/kyverno, pull requests merged in 2024-03, with the labels that each got.

#9838 fix: use gcr crane opts while fetching image descriptors
  pkg/registryclient/client.go
Labels: cherry-pick-required, milestone 1.12.0

#9845 fix: add missing unit tests for podSecurity.hostpathVolume check
  go.mod
  go.sum
  pkg/pss/evaluate_test.go
  test/conformance/chainsaw/exceptions/exclude-hostpath-volume/exception.yaml
  test/conformance/chainsaw/validate/clusterpolicy/standard/psa/test-exclusion-hostpath-volume/bad-pod.yaml
  test/conformance/chainsaw/validate/clusterpolicy/standard/psa/test-exclusion-hostpath-volume/chainsaw-test.yaml
  test/conformance/chainsaw/validate/clusterpolicy/standard/psa/test-exclusion-hostpath-volume/policy.yaml
Labels: cherry-pick-required, milestone 1.12.0

#9849 fix: release CRDs manifests
  .github/workflows/release.yaml
Labels: cherry-pick-required, milestone 1.12.0

#9785 [Bug] [CLI] PSS report does not show properties with control details
  .chainsaw.yaml
  cmd/cli/kubectl-kyverno/_testdata/policies/restricted.yaml
  cmd/cli/kubectl-kyverno/report/report.go
  cmd/cli/kubectl-kyverno/report/report_test.go
  pkg/utils/report/results.go
Labels: milestone 1.13.0

#9880 chore(apicall): remove duplicate code
  pkg/engine/apicall/apiCall.go
  pkg/engine/apicall/apiCall_test.go
  pkg/engine/apicall/executor.go
  pkg/globalcontext/externalapi/entry.go
Labels: milestone 1.13.0

#9869 add control names and images to PSS results
  cmd/cli/kubectl-kyverno/commands/apply/command.go
  pkg/engine/handlers/validation/validate_image.go
  pkg/engine/handlers/validation/validate_pss.go
  pkg/engine/handlers/validation/validate_resource.go
  pkg/pss/evaluate.go
  pkg/pss/utils/mapping.go
  pkg/pss/utils/types.go
  pkg/utils/report/metadata.go
  pkg/utils/report/results.go
  test/conformance/chainsaw/reports/background/test-report-background-mode/report-assert.yaml
Labels: milestone 1.13.0

#9887 give public access to PreProcessPattern
  pkg/engine/mutate/patch/strategicMergePatch.go
  pkg/engine/mutate/patch/strategicPreprocessing.go
  pkg/engine/mutate/patch/strategicPreprocessing_test.go
Labels: milestone 1.13.0

#9864 fix: Adjust chart templates to handle hostNetwork set to true
  charts/kyverno/templates/admission-controller/deployment.yaml
  charts/kyverno/templates/admission-controller/service.yaml
  charts/kyverno/templates/cleanup-controller/deployment.yaml
  charts/kyverno/templates/cleanup-controller/service.yaml
Labels: milestone 1.13.0

#9893 fix: properly update policy context after preexisting resource in violation check
  pkg/background/generate/cleanup.go
  pkg/engine/api/policycontext.go
  pkg/engine/context/context.go
  pkg/engine/handlers/mutation/common.go
  pkg/engine/handlers/mutation/mutate_existing.go
  pkg/engine/handlers/validation/validate_manifest_test.go
  pkg/engine/handlers/validation/validate_resource.go
  pkg/engine/handlers/validation/validate_resource_test.go
  pkg/engine/policycontext/policy_context.go
  pkg/engine/policycontext/policy_context_test.go
  pkg/webhooks/resource/updaterequest.go
  test/conformance/chainsaw/validate/e2e/old-object-exists/README.md
  test/conformance/chainsaw/validate/e2e/old-object-exists/chainsaw-test.yaml
  test/conformance/chainsaw/validate/e2e/old-object-exists/ns-ready.yaml
  test/conformance/chainsaw/validate/e2e/old-object-exists/ns-update.yaml
  test/conformance/chainsaw/validate/e2e/old-object-exists/ns.yaml
  test/conformance/chainsaw/validate/e2e/old-object-exists/policy-ready.yaml
  test/conformance/chainsaw/validate/e2e/old-object-exists/policy.yaml
Labels: cherry-pick-required, hold-merge, milestone 1.12.1

#9903 fix(globalcontext): panics and validation
  api/kyverno/v1/common_types.go
  api/kyverno/v2alpha1/global_context_entry_types.go
  charts/kyverno/charts/crds/templates/kyverno.io/kyverno.io_cleanuppolicies.yaml
  charts/kyverno/charts/crds/templates/kyverno.io/kyverno.io_clustercleanuppolicies.yaml
  charts/kyverno/charts/crds/templates/kyverno.io/kyverno.io_clusterpolicies.yaml
  charts/kyverno/charts/crds/templates/kyverno.io/kyverno.io_globalcontextentries.yaml
  charts/kyverno/charts/crds/templates/kyverno.io/kyverno.io_policies.yaml
  cmd/cli/kubectl-kyverno/data/crds/kyverno.io_clusterpolicies.yaml
  cmd/cli/kubectl-kyverno/data/crds/kyverno.io_policies.yaml
  config/crds/kyverno/kyverno.io_cleanuppolicies.yaml
  config/crds/kyverno/kyverno.io_clustercleanuppolicies.yaml
  config/crds/kyverno/kyverno.io_clusterpolicies.yaml
  config/crds/kyverno/kyverno.io_globalcontextentries.yaml
  config/crds/kyverno/kyverno.io_policies.yaml
  config/install-latest-testing.yaml
  docs/user/crd/index.html
  docs/user/crd/kyverno.v1.html
  docs/user/crd/kyverno.v2alpha1.html
  pkg/controllers/globalcontext/controller.go
  pkg/globalcontext/externalapi/entry.go
  pkg/globalcontext/k8sresource/entry.go
  pkg/logging/log.go
  pkg/validation/policy/validate.go
  test/conformance/chainsaw/globalcontext/gctxentry-not-exist/chainsaw-test.yaml
  test/conformance/chainsaw/globalcontext/gctxentry-not-exist/clusterpolicy-assert.yaml
  test/conformance/chainsaw/globalcontext/validate-apicall-data/README.md
  test/conformance/chainsaw/globalcontext/validate-apicall-data/chainsaw-test.yaml
  test/conformance/chainsaw/globalcontext/validate-apicall-data/gctxentry.yaml
  test/conformance/chainsaw/globalcontext/validate-reference/README.md
  test/conformance/chainsaw/globalcontext/validate-reference/chainsaw-test.yaml
  test/conformance/chainsaw/globalcontext/validate-reference/clusterpolicy.yaml
Labels: cherry-pick-required, milestone 1.12.0

#9916 chore: simplify getting exception name
  pkg/engine/exceptions.go
Labels: milestone 1.13.0

#9942 chore: run codegen-fix-tests
  test/cli/test-generate/clone-list/kyverno-test.yaml
  test/cli/test/deny-pod-delete-match-opn-block/values.yaml
  test/cli/test/update/values.yaml
Labels: milestone 1.12.1

#9948 Default exclusions in webhooks
  charts/kyverno/README.md
  charts/kyverno/templates/NOTES.txt
  charts/kyverno/values.yaml
  config/install-latest-testing.yaml
Labels: cherry-pick-required, milestone 1.12.0

#9939 Make ports configurable for background-controller & reports-controller
  charts/kyverno/README.md
  charts/kyverno/templates/background-controller/deployment.yaml
  charts/kyverno/templates/background-controller/service.yaml
  charts/kyverno/templates/reports-controller/deployment.yaml
  charts/kyverno/templates/reports-controller/service.yaml
  charts/kyverno/values.yaml
Labels: milestone 1.13.0

#9935 fix: deferred loader panic when mutate and generate policies are applied
  pkg/engine/context/deferred_test.go
  pkg/engine/context/mock_deferred.go
  pkg/webhooks/resource/fake.go
  pkg/webhooks/resource/handlers.go
  pkg/webhooks/resource/handlers_test.go
  pkg/webhooks/resource/updaterequest.go
  test/conformance/chainsaw/generate/clusterpolicy/standard/data/sync/cpol-data-sync-mutate-and-generate/README.md
  test/conformance/chainsaw/generate/clusterpolicy/standard/data/sync/cpol-data-sync-mutate-and-generate/chainsaw-test.yaml
  test/conformance/chainsaw/generate/clusterpolicy/standard/data/sync/cpol-data-sync-mutate-and-generate/first-pod.yaml
  test/conformance/chainsaw/generate/clusterpolicy/standard/data/sync/cpol-data-sync-mutate-and-generate/ns.yaml
  test/conformance/chainsaw/generate/clusterpolicy/standard/data/sync/cpol-data-sync-mutate-and-generate/pod1.yaml
  test/conformance/chainsaw/generate/clusterpolicy/standard/data/sync/cpol-data-sync-mutate-and-generate/pod2.yaml
  test/conformance/chainsaw/generate/clusterpolicy/standard/data/sync/cpol-data-sync-mutate-and-generate/pod3.yaml
  test/conformance/chainsaw/generate/clusterpolicy/standard/data/sync/cpol-data-sync-mutate-and-generate/pod4.yaml
  test/conformance/chainsaw/generate/clusterpolicy/standard/data/sync/cpol-data-sync-mutate-and-generate/pod5.yaml
  test/conformance/chainsaw/generate/clusterpolicy/standard/data/sync/cpol-data-sync-mutate-and-generate/policies.yaml
Labels: lgtm, milestone 1.12.0

#9970 fix: cosign ctlog unit tests
  pkg/cosign/cosign_test.go
Labels: cherry-pick-required, milestone 1.12.0

#9966 chore: add a job to check the PR milestone is set
  .github/workflows/check-milestone.yaml
Labels: milestone 1.13.0

#9961 feat: add TSA cert chain support in cosign
  api/kyverno/v1/image_verification_types.go
  charts/kyverno/charts/crds/templates/kyverno.io/kyverno.io_clusterpolicies.yaml
  charts/kyverno/charts/crds/templates/kyverno.io/kyverno.io_policies.yaml
  cmd/cli/kubectl-kyverno/data/crds/kyverno.io_clusterpolicies.yaml
  cmd/cli/kubectl-kyverno/data/crds/kyverno.io_policies.yaml
  config/crds/kyverno/kyverno.io_clusterpolicies.yaml
  config/crds/kyverno/kyverno.io_policies.yaml
  config/install-latest-testing.yaml
  docs/user/crd/index.html
  docs/user/crd/kyverno.v1.html
  pkg/client/applyconfigurations/kyverno/v1/ctlog.go
  pkg/cosign/cosign.go
  pkg/cosign/cosign_test.go
  pkg/engine/internal/imageverifier.go
  pkg/images/verifier.go
  test/conformance/chainsaw/verifyImages/clusterpolicy/standard/keyed-tsa/README.md
  test/conformance/chainsaw/verifyImages/clusterpolicy/standard/keyed-tsa/chainsaw-step-01-apply-1.yaml
  test/conformance/chainsaw/verifyImages/clusterpolicy/standard/keyed-tsa/chainsaw-step-01-apply-2.yaml
  test/conformance/chainsaw/verifyImages/clusterpolicy/standard/keyed-tsa/chainsaw-step-01-assert-1.yaml
  test/conformance/chainsaw/verifyImages/clusterpolicy/standard/keyed-tsa/chainsaw-step-02-apply-1.yaml
  test/conformance/chainsaw/verifyImages/clusterpolicy/standard/keyed-tsa/chainsaw-step-02-assert-1.yaml
  test/conformance/chainsaw/verifyImages/clusterpolicy/standard/keyed-tsa/chainsaw-test.yaml
Labels: Documentation
