Repository kyverno/kyverno, pull requests merged in 2024-07, with the labels that each got.

#10566 fix: include error message when policy context creation failed
  pkg/webhooks/resource/validation/validation.go
Labels: milestone 1.13.0

#10579 feat: fix notary tests
  pkg/notary/notary_test.go
  pkg/notary/repository_test.go
Labels: cherry-pick-required, milestone 1.12.5

#10583 fix: cleanup policy name is appended to logs
  pkg/controllers/cleanup/controller.go
Labels: cherry-pick-required, milestone 1.12.5

#10582 fix: failed to delete resource
  pkg/controllers/cleanup/controller.go
Labels: cherry-pick-required, milestone 1.12.5

#10577 updating adopters list - adding InfraCloud
  ADOPTERS.md
Labels: milestone 1.13.0

#10596 feat: make reports breaker threshold configurable
  charts/kyverno/Chart.yaml
  charts/kyverno/README.md
  charts/kyverno/templates/_helpers.tpl
  charts/kyverno/values.yaml
  config/install-latest-testing.yaml
Labels: cherry-pick-required, milestone 1.12.5

#10597 feat: remove reports chunking
  CHANGELOG.md
  charts/kyverno/Chart.yaml
  charts/kyverno/README.md
  charts/kyverno/templates/_helpers.tpl
  charts/kyverno/templates/reports-controller/deployment.yaml
  charts/kyverno/values.yaml
  cmd/reports-controller/main.go
  config/install-latest-testing.yaml
Labels: milestone 1.13.0

#10395 feat(events): normalize gctx events reason to be inline with other po…
  pkg/event/controller.go
  pkg/globalcontext/event/event.go
  pkg/globalcontext/event/event_test.go
  pkg/globalcontext/event/reason.go
  pkg/globalcontext/externalapi/entry.go
  pkg/globalcontext/k8sresource/entry.go
Labels: cherry-pick-required, events, milestone 1.12.5

#10600 feat: improve api json parsing
  api/kyverno/v2beta1/common_types.go
  api/kyverno/v2beta1/spec_test.go
  api/kyverno/v2beta1/zz_generated.deepcopy.go
  docs/user/crd/index.html
  docs/user/crd/kyverno.v2beta1.html
  pkg/client/applyconfigurations/kyverno/v2beta1/condition.go
  pkg/client/applyconfigurations/kyverno/v2beta1/validation.go
Labels: milestone 1.13.0, apiversion-management

#10611 fix: CEL policies aren't applied to deleted resources
  pkg/engine/handlers/validation/validate_cel.go
  test/conformance/chainsaw/validate/clusterpolicy/cornercases/cel-messages-upon-resource-failure(deprecated)/policy.yaml
  test/conformance/chainsaw/validate/clusterpolicy/cornercases/cel-messages-upon-resource-failure/policy.yaml
  test/conformance/chainsaw/validate/clusterpolicy/standard/cel(deprecated)/authorizor-checks/with-permissions/policy.yaml
  test/conformance/chainsaw/validate/clusterpolicy/standard/cel(deprecated)/authorizor-checks/without-permissions/policy.yaml
  test/conformance/chainsaw/validate/clusterpolicy/standard/cel(deprecated)/cel-preconditions/policy.yaml
  test/conformance/chainsaw/validate/clusterpolicy/standard/cel(deprecated)/cel-variables/policy.yaml
  test/conformance/chainsaw/validate/clusterpolicy/standard/cel(deprecated)/check-statefulset-namespace/policy.yaml
  test/conformance/chainsaw/validate/clusterpolicy/standard/cel(deprecated)/disallow-host-port/policy.yaml
  test/conformance/chainsaw/validate/clusterpolicy/standard/cel(deprecated)/parameter-resources/clusterscoped/policy.yaml
  test/conformance/chainsaw/validate/clusterpolicy/standard/cel(deprecated)/parameter-resources/namespaced/match-clusterscoped-resource/policy.yaml
  test/conformance/chainsaw/validate/clusterpolicy/standard/cel(deprecated)/parameter-resources/namespaced/set-paramref-namespace/policy.yaml
  test/conformance/chainsaw/validate/clusterpolicy/standard/cel(deprecated)/parameter-resources/namespaced/unset-paramref-namespace/policy.yaml
  test/conformance/chainsaw/validate/clusterpolicy/standard/cel/authorizor-checks/with-permissions/policy.yaml
  test/conformance/chainsaw/validate/clusterpolicy/standard/cel/authorizor-checks/without-permissions/policy.yaml
  test/conformance/chainsaw/validate/clusterpolicy/standard/cel/cel-preconditions/policy.yaml
  test/conformance/chainsaw/validate/clusterpolicy/standard/cel/cel-variables/policy.yaml
  test/conformance/chainsaw/validate/clusterpolicy/standard/cel/check-statefulset-namespace/policy.yaml
  test/conformance/chainsaw/validate/clusterpolicy/standard/cel/deny/README.md
  test/conformance/chainsaw/validate/clusterpolicy/standard/cel/deny/chainsaw-test.yaml
  test/conformance/chainsaw/validate/clusterpolicy/standard/cel/deny/policy-assert.yaml
  test/conformance/chainsaw/validate/clusterpolicy/standard/cel/deny/policy.yaml
  test/conformance/chainsaw/validate/clusterpolicy/standard/cel/disallow-host-port/pod-fail.yaml
  test/conformance/chainsaw/validate/clusterpolicy/standard/cel/disallow-host-port/pod-pass.yaml
  test/conformance/chainsaw/validate/clusterpolicy/standard/cel/disallow-host-port/policy.yaml
  test/conformance/chainsaw/validate/clusterpolicy/standard/cel/parameter-resources/clusterscoped/policy.yaml
  test/conformance/chainsaw/validate/clusterpolicy/standard/cel/parameter-resources/namespaced/match-clusterscoped-resource/policy.yaml
  test/conformance/chainsaw/validate/clusterpolicy/standard/cel/parameter-resources/namespaced/set-paramref-namespace/policy.yaml
  test/conformance/chainsaw/validate/clusterpolicy/standard/cel/parameter-resources/namespaced/unset-paramref-namespace/policy.yaml
Labels: cherry-pick-required, milestone 1.12.5

#10613 feat: don't rely on events unicity in resource counters
  cmd/kyverno/breaker.go
Labels: cherry-pick-required, milestone 1.12.5

#10615 fix(json-ctx): overwrite element each iteration
  pkg/engine/context/context.go
  pkg/engine/context/utils.go
  pkg/engine/context/utils_test.go
Labels: milestone 1.12.5

#10639 fix: compute operations for mutatingwebhookconf
  pkg/controllers/webhook/controller.go
  pkg/controllers/webhook/controller_test.go
Labels: cherry-pick-required, milestone 1.12.5

#10617 fix: rename level 1 logs to INFO from DEBUG
  pkg/logging/log.go
Labels: cherry-pick-required, milestone 1.12.5

#10636 fix: truncate event messages to 1024 chars
  pkg/event/controller.go
  pkg/event/events.go
  pkg/event/events_test.go
  test/conformance/chainsaw/events/clusterpolicy/message-exceeds-1024-characters/chainsaw-test.yaml
  test/conformance/chainsaw/events/clusterpolicy/message-exceeds-1024-characters/event-assert.yaml
  test/conformance/chainsaw/events/clusterpolicy/message-exceeds-1024-characters/policy-assert.yaml
  test/conformance/chainsaw/events/clusterpolicy/message-exceeds-1024-characters/policy.yaml
  test/conformance/chainsaw/events/clusterpolicy/message-exceeds-1024-characters/resource.yaml
Labels: cherry-pick-required, milestone 1.12.6

#10664 feat add chainsaw tests for pod security and exceptions
  go.mod
  go.sum
  pkg/pss/evaluate_test.go
  scripts/config/kind/default.yaml
  test/conformance/chainsaw/exceptions/psa-run-as-non-root/README.md
  test/conformance/chainsaw/exceptions/psa-run-as-non-root/bad-pod-01.yaml
  test/conformance/chainsaw/exceptions/psa-run-as-non-root/bad-pod-02.yaml
  test/conformance/chainsaw/exceptions/psa-run-as-non-root/chainsaw-test.yaml
  test/conformance/chainsaw/exceptions/psa-run-as-non-root/exception.yaml
  test/conformance/chainsaw/exceptions/psa-run-as-non-root/good-pod.yaml
  test/conformance/chainsaw/exceptions/psa-run-as-non-root/policy-assert.yaml
  test/conformance/chainsaw/exceptions/psa-run-as-non-root/policy.yaml
  test/conformance/chainsaw/validate/clusterpolicy/cornercases/psa-run-as-non-root/README.md
  test/conformance/chainsaw/validate/clusterpolicy/cornercases/psa-run-as-non-root/bad-pod-01.yaml
  test/conformance/chainsaw/validate/clusterpolicy/cornercases/psa-run-as-non-root/bad-pod-02.yaml
  test/conformance/chainsaw/validate/clusterpolicy/cornercases/psa-run-as-non-root/chainsaw-test.yaml
  test/conformance/chainsaw/validate/clusterpolicy/cornercases/psa-run-as-non-root/good-pod.yaml
  test/conformance/chainsaw/validate/clusterpolicy/cornercases/psa-run-as-non-root/policy-assert.yaml
  test/conformance/chainsaw/validate/clusterpolicy/cornercases/psa-run-as-non-root/policy.yaml
Labels: milestone 1.13.0

#10669 update governance
  CODE_OF_CONDUCT.md
  CONTRIBUTING.md
  GOVERNANCE.md
  README.md
Labels: milestone 1.13.0

#10678 disable up cleanup crobjob
  charts/kyverno/README.md
  charts/kyverno/values.yaml
  config/install-latest-testing.yaml
Labels: cherry-pick-required, milestone 1.12.6

#10679 chore: extend expiration date in nancy ignore
  .nancy-ignore
Labels: milestone 1.13.0

#10685 fix(helm): remove namespace from RoleBinding/roleRef field
  charts/kyverno/templates/hooks/pre-delete-configmap.yaml
Labels: milestone 1.13.0

#10691 Add 1.12.5 to issue templates
  .github/ISSUE_TEMPLATE/bug-cli.yaml
  .github/ISSUE_TEMPLATE/bug-other.yaml
  .github/ISSUE_TEMPLATE/bug-webhook.yaml
Labels: milestone 1.13.0

#10706 Updated the outdated example mentioned in Development.md file with latest one
  DEVELOPMENT.md
Labels: milestone 1.13.0

#10103 test: Improved test coverage for forceMutate.go in engine package
  pkg/engine/forceMutate_test.go
Labels: milestone 1.13.0

#10716 change security to point to org repo
  SECURITY.md
Labels: milestone 1.13.0

#10719 chore: retrayable/http version bump (CVE-fix)
  go.mod
  go.sum
Labels: cherry-pick-required, milestone 1.12.6

#10726 fix: Check for the client being nil before applying a mutation
  pkg/engine/mutation.go
Labels: cherry-pick-required, milestone 1.12.6

#10738 fix: check the resource namespace
  cmd/cli/kubectl-kyverno/processor/policy_processor.go
  test/conformance/chainsaw/cli/apply/apply-on-cluster-scoped-resources/chainsaw-test.yaml
  test/conformance/chainsaw/cli/apply/apply-on-cluster-scoped-resources/policy.yaml
Labels: milestone 1.12.6

#10724 feat(json): reduce reliance on `DocumentToUntyped()`
  api/kyverno/v1/common_types.go
  api/kyverno/v1/zz_generated.deepcopy.go
  docs/user/crd/index.html
  docs/user/crd/kyverno.v1.html
  pkg/client/applyconfigurations/kyverno/v1/variable.go
  pkg/engine/context/loaders/variable.go
  pkg/engine/jsonutils/convert.go
  pkg/validation/policy/validate.go
Labels: milestone 1.13.0

#10723 feat(autogen): use static bytes instead of string
  pkg/autogen/autogen.go
  pkg/autogen/autogen_test.go
  pkg/autogen/rule.go
Labels: milestone 1.13.0

#10701 feat(json): unmarshal once per policy
  api/kyverno/v1/common_types.go
  api/kyverno/v1/wrappers.go
  api/kyverno/v1/zz_generated.deepcopy.go
  docs/user/crd/index.html
  docs/user/crd/kyverno.v1.html
  pkg/client/applyconfigurations/kyverno/v1/foreachmutation.go
  pkg/client/applyconfigurations/kyverno/v1/foreachvalidation.go
  pkg/engine/forceMutate.go
  pkg/engine/handlers/mutation/common.go
  pkg/engine/handlers/validation/validate_resource.go
  pkg/policy/mutate/validate.go
  pkg/policy/validate/validate.go
  pkg/utils/api/json.go
  pkg/validation/policy/validate.go
Labels: performance, milestone 1.13.0

#10752 chore: bump kyverno-json
  go.mod
  go.sum
Labels: milestone 1.13.0

#10725 feat: Move Nancy scan to a periodic job
  .github/workflows/nancy.yaml
Labels: milestone 1.12.6

#10687 chore: bump chainsaw
  .github/workflows/conformance.yaml
  test/conformance/chainsaw/_step-templates/apply-policy.yaml
  test/conformance/chainsaw/autogen/conditions/chainsaw-test.yaml
  test/conformance/chainsaw/cli/apply/apply-exception-with-ns-selector/chainsaw-test.yaml
  test/conformance/chainsaw/generate/clusterpolicy/cornercases/cpol-data-trigger-not-present/chainsaw-test.yaml
  test/conformance/chainsaw/globalcontext/validate-reference/chainsaw-test.yaml
  test/conformance/chainsaw/mutate/clusterpolicy/standard/existing/delete-trigger-namespace(deprecated)/chainsaw-test.yaml
  test/conformance/chainsaw/mutate/clusterpolicy/standard/existing/delete-trigger-namespace/chainsaw-test.yaml
  test/conformance/chainsaw/mutate/clusterpolicy/standard/existing/multiple-trigger-resources(deprecated)/chainsaw-test.yaml
  test/conformance/chainsaw/mutate/clusterpolicy/standard/existing/multiple-trigger-resources/chainsaw-test.yaml
  test/conformance/chainsaw/policy-validation/cluster-policy/invalid-pod-security-exceptions/chainsaw-test.yaml
  test/conformance/chainsaw/policy-validation/cluster-policy/invalid-pod-security-rule/chainsaw-test.yaml
  test/conformance/chainsaw/validate/clusterpolicy/cornercases/check-message-upon-resource-failure-deprecated/chainsaw-test.yaml
  test/conformance/chainsaw/validate/clusterpolicy/cornercases/check-message-upon-resource-failure/chainsaw-test.yaml
  test/conformance/chainsaw/validate/clusterpolicy/cornercases/invalid-jmespath-variable-substitution-deprecated/chainsaw-test.yaml
  test/conformance/chainsaw/validate/clusterpolicy/cornercases/invalid-jmespath-variable-substitution/chainsaw-test.yaml
  test/conformance/chainsaw/validate/clusterpolicy/cornercases/variable-substitution-failure-messages-deprecated/chainsaw-test.yaml
  test/conformance/chainsaw/validate/clusterpolicy/cornercases/variable-substitution-failure-messages/chainsaw-test.yaml
Labels: cherry-pick-required, milestone 1.12.6
