Repository kyverno/kyverno, pull requests merged in 2025-04, with the labels that each got.

#12610 Release 1.14.0-rc.1
  charts/kyverno-policies/Chart.yaml
  charts/kyverno-policies/README.md
  charts/kyverno/Chart.yaml
  charts/kyverno/README.md
  charts/kyverno/charts/crds/Chart.yaml
  charts/kyverno/charts/crds/README.md
  charts/kyverno/charts/grafana/Chart.yaml
  charts/kyverno/charts/grafana/README.md
  config/install-latest-testing.yaml
Labels: size:M

#12648 chore: disable global context test
  test/conformance/chainsaw/imagevalidatingpolicies/context/globalreference/chainsaw-test.yaml
Labels: cherry-pick-required, milestone 1.14.0, size:XS

#12637 Feature: add --cluster-wide-resources flag to kyverno apply command
  cmd/cli/kubectl-kyverno/commands/apply/command.go
  cmd/cli/kubectl-kyverno/commands/test/test.go
  cmd/cli/kubectl-kyverno/data/api-group-resources.json
  cmd/cli/kubectl-kyverno/utils/common/common.go
  cmd/cli/kubectl-kyverno/utils/common/fetch.go
  cmd/cli/kubectl-kyverno/utils/common/kyverno_resources_types.go
  cmd/cli/kubectl-kyverno/utils/common/validating_admission_resources.go
  docs/user/cli/commands/kyverno_apply.md
  test/conformance/chainsaw/cli/test/matchCondition-false/kyverno-test.yaml
Labels: milestone 1.14.0, size:L

#12653 chore: fix ivpol chainsaw tests for reports
  test/conformance/chainsaw/imagevalidatingpolicies/report/admission/deployment.yaml
  test/conformance/chainsaw/imagevalidatingpolicies/report/admission/policy.yaml
  test/conformance/chainsaw/imagevalidatingpolicies/report/admission/report.yaml
  test/conformance/chainsaw/imagevalidatingpolicies/report/background/deployment.yaml
  test/conformance/chainsaw/imagevalidatingpolicies/report/background/policy.yaml
  test/conformance/chainsaw/imagevalidatingpolicies/report/background/report.yaml
Labels: cherry-pick-required, milestone 1.14.0, size:S

#12650 chore: add ivpol report labels
  pkg/utils/report/metadata.go
Labels: cherry-pick-required, milestone 1.14.0, size:S

#12546 chore: add policy-ready step template for validating-policies
  test/conformance/chainsaw/_step-templates/validating-policy-ready.yaml
  test/conformance/chainsaw/validating-policies/autogen/autogen-deployments-cronjobs/chainsaw-test.yaml
  test/conformance/chainsaw/validating-policies/autogen/autogen-deployments-cronjobs/policy-assert.yaml
  test/conformance/chainsaw/validating-policies/autogen/autogen-deployments-statefulsets/chainsaw-test.yaml
  test/conformance/chainsaw/validating-policies/autogen/autogen-deployments-statefulsets/policy-assert.yaml
  test/conformance/chainsaw/validating-policies/autogen/none/chainsaw-test.yaml
  test/conformance/chainsaw/validating-policies/autogen/none/policy-assert.yaml
  test/conformance/chainsaw/validating-policies/autogen/should-autogen/chainsaw-test.yaml
  test/conformance/chainsaw/validating-policies/autogen/should-autogen/policy-assert.yaml
  test/conformance/chainsaw/validating-policies/context/configmap/chainsaw-test.yaml
  test/conformance/chainsaw/validating-policies/context/configmap/policy-assert.yaml
  test/conformance/chainsaw/validating-policies/context/globalreference/chainsaw-test.yaml
  test/conformance/chainsaw/validating-policies/context/globalreference/policy-assert.yaml
  test/conformance/chainsaw/validating-policies/context/image-data/chainsaw-test.yaml
  test/conformance/chainsaw/validating-policies/context/image-data/policy-assert.yaml
  test/conformance/chainsaw/validating-policies/context/imagereference/chainsaw-test.yaml
  test/conformance/chainsaw/validating-policies/context/imagereference/policy-assert.yaml
  test/conformance/chainsaw/validating-policies/context/resource/chainsaw-test.yaml
  test/conformance/chainsaw/validating-policies/context/resource/policy-assert.yaml
  test/conformance/chainsaw/validating-policies/match-conditions/failure-policy/default/chainsaw-test.yaml
  test/conformance/chainsaw/validating-policies/match-conditions/failure-policy/default/policy-assert.yaml
  test/conformance/chainsaw/validating-policies/match-conditions/failure-policy/fail/chainsaw-test.yaml
  test/conformance/chainsaw/validating-policies/match-conditions/failure-policy/fail/policy-assert.yaml
  test/conformance/chainsaw/validating-policies/match-conditions/failure-policy/ignore/chainsaw-test.yaml
  test/conformance/chainsaw/validating-policies/match-conditions/failure-policy/ignore/policy-assert.yaml
  test/conformance/chainsaw/validating-policies/report/admission/chainsaw-test.yaml
  test/conformance/chainsaw/validating-policies/report/admission/policy-assert.yaml
  test/conformance/chainsaw/validating-policies/report/message-exp/chainsaw-test.yaml
  test/conformance/chainsaw/validating-policies/report/message-exp/policy-assert.yaml
  test/conformance/chainsaw/validating-policies/validation-actions/audit/chainsaw-test.yaml
  test/conformance/chainsaw/validating-policies/validation-actions/audit/policy-assert.yaml
  test/conformance/chainsaw/validating-policies/validation-actions/deny/chainsaw-test.yaml
  test/conformance/chainsaw/validating-policies/validation-actions/deny/policy-assert.yaml
  test/conformance/chainsaw/validating-policies/validation-actions/none/chainsaw-test.yaml
  test/conformance/chainsaw/validating-policies/validation-actions/none/policy-assert.yaml
  test/conformance/chainsaw/validating-policies/validation-actions/warn/chainsaw-test.yaml
  test/conformance/chainsaw/validating-policies/validation-actions/warn/policy-assert.yaml
  test/conformance/chainsaw/validating-policies/validation-rules/accept/chainsaw-test.yaml
  test/conformance/chainsaw/validating-policies/validation-rules/accept/policy-assert.yaml
  test/conformance/chainsaw/validating-policies/validation-rules/reject/chainsaw-test.yaml
  test/conformance/chainsaw/validating-policies/validation-rules/reject/policy-assert.yaml
  test/conformance/chainsaw/validating-policies/validation-rules/with-match-conditions/chainsaw-test.yaml
  test/conformance/chainsaw/validating-policies/validation-rules/with-match-conditions/policy-assert.yaml
  test/conformance/chainsaw/validating-policies/webhook-configuration/match-conditions/chainsaw-test.yaml
  test/conformance/chainsaw/validating-policies/webhook-configuration/match-conditions/policy-assert.yaml
  test/conformance/chainsaw/validating-policies/webhook-configuration/multiple/policy-assert.yaml
  test/conformance/chainsaw/validating-policies/webhook-configuration/single/chainsaw-test.yaml
  test/conformance/chainsaw/validating-policies/webhook-configuration/single/policy-assert.yaml
Labels: cherry-pick-required, milestone 1.14.0, size:XL

#12621 fix: job returns success if configmap is not found
  charts/kyverno/templates/hooks/post-delete-configmap.yaml
Labels: cherry-pick-required, milestone 1.14.0, size:XS

#12636 fix: add missing nil check in pss validation
  pkg/engine/handlers/validation/validate_pss.go
Labels: cherry-pick-required, milestone 1.14.0, size:XS

#12660 feat: add cli test command support for ivpols
  cmd/cli/kubectl-kyverno/commands/apply/command.go
  cmd/cli/kubectl-kyverno/commands/test/test.go
  cmd/kyverno/main.go
  pkg/cel/engine/imageverifyengine.go
  pkg/cel/engine/imageverifyengine_test.go
  pkg/controllers/report/utils/scanner.go
  pkg/webhooks/resource/ivpol/handler.go
Labels: cherry-pick-required, milestone 1.14.0, size:L

#12652 chore: add chainsaw test for policies with the same name
  pkg/utils/report/results.go
  test/conformance/chainsaw/validating-admission-policy-reports/background/policies-with-the-same-name/README.md
  test/conformance/chainsaw/validating-admission-policy-reports/background/policies-with-the-same-name/chainsaw-test.yaml
  test/conformance/chainsaw/validating-admission-policy-reports/background/policies-with-the-same-name/deployment-assert.yaml
  test/conformance/chainsaw/validating-admission-policy-reports/background/policies-with-the-same-name/deployment.yaml
  test/conformance/chainsaw/validating-admission-policy-reports/background/policies-with-the-same-name/imagevalidatingpolicy-assert.yaml
  test/conformance/chainsaw/validating-admission-policy-reports/background/policies-with-the-same-name/imagevalidatingpolicy.yaml
  test/conformance/chainsaw/validating-admission-policy-reports/background/policies-with-the-same-name/report-assert.yaml
  test/conformance/chainsaw/validating-admission-policy-reports/background/policies-with-the-same-name/validatingadmissionpolicy.yaml
  test/conformance/chainsaw/validating-admission-policy-reports/background/policies-with-the-same-name/validatingpolicy-assert.yaml
  test/conformance/chainsaw/validating-admission-policy-reports/background/policies-with-the-same-name/validatingpolicy.yaml
Labels: cherry-pick-required, milestone 1.14.0, size:L

#12699 fix: forbid json and k8s resources at the same time in the CLI
  cmd/cli/kubectl-kyverno/commands/apply/command.go
  cmd/cli/kubectl-kyverno/commands/apply/command_test.go
Labels: cherry-pick-required, milestone 1.14.0, size:S

#12703 align naming of ImageValidatingPolicy related code
  api/policies.kyverno.io/v1alpha1/imageverification_policy_test.go
  cmd/cli/kubectl-kyverno/commands/apply/command.go
  cmd/cli/kubectl-kyverno/commands/test/test.go
  cmd/cli/kubectl-kyverno/policy/legacy_loader.go
  cmd/cli/kubectl-kyverno/policy/load.go
  pkg/cel/engine/imageverifyengine.go
  pkg/cel/engine/imageverifyengine_test.go
  pkg/cel/engine/ivpolprovider.go
  pkg/cel/engine/provider.go
  pkg/config/config.go
  pkg/controllers/policystatus/controller.go
  pkg/controllers/policystatus/ivpol.go
  pkg/controllers/report/aggregate/utils.go
  pkg/controllers/report/background/controller.go
  pkg/controllers/report/utils/scanner.go
  pkg/controllers/webhook/controller.go
  pkg/controllers/webhook/validatingpolicy.go
  pkg/controllers/webhook/validatingpolicy_test.go
  pkg/engine/api/policy.go
  pkg/imageverification/evaluator/eval.go
  pkg/imageverification/evaluator/eval_test.go
  pkg/utils/admission/policy.go
  pkg/utils/admission/policy_test.go
  pkg/utils/report/metadata.go
  pkg/utils/report/results.go
  pkg/utils/report/source.go
  pkg/utils/yaml/loadpolicy.go
  pkg/webhooks/policy/handlers.go
  pkg/webhooks/server.go
Labels: cherry-pick-required, milestone 1.14.0, size:L

#12708 Update ADOPTERS.md
  ADOPTERS.md
Labels: milestone 1.14.0, size:XS

#12711 fix: add result count for VPs in the CLI
  cmd/cli/kubectl-kyverno/processor/policy_processor.go
Labels: cherry-pick-required, milestone 1.14.0, size:XS

#12714 fix: Update Go version to fix CVE-2025-22871 vulnerability
  .devcontainer/Dockerfile
  .github/actions/setup-build-env/action.yaml
  go.mod
Labels: cherry-pick-required, size:S, milestone 1.13.5

#12395 feat(cli): return an error if tests are required
  cmd/cli/kubectl-kyverno/commands/test/command.go
  cmd/cli/kubectl-kyverno/commands/test/command_test.go
  docs/user/cli/commands/kyverno_test.md
Labels: cherry-pick-required, milestone 1.14.0, size:M

#12721 chainsaw test for http
  test/conformance/chainsaw/validating-policies/context/api-call/http-get/README.md
  test/conformance/chainsaw/validating-policies/context/api-call/http-get/bad-pod.yaml
  test/conformance/chainsaw/validating-policies/context/api-call/http-get/chainsaw-test.yaml
  test/conformance/chainsaw/validating-policies/context/api-call/http-get/good-pod.yaml
  test/conformance/chainsaw/validating-policies/context/api-call/http-get/http-pod.yaml
  test/conformance/chainsaw/validating-policies/context/api-call/http-get/policy.yaml
  test/conformance/chainsaw/validating-policies/context/api-call/http-get/service.yaml
  test/conformance/chainsaw/validating-policies/context/api-call/http-post/README.md
  test/conformance/chainsaw/validating-policies/context/api-call/http-post/bad-pod.yaml
  test/conformance/chainsaw/validating-policies/context/api-call/http-post/chainsaw-test.yaml
  test/conformance/chainsaw/validating-policies/context/api-call/http-post/good-pod.yaml
  test/conformance/chainsaw/validating-policies/context/api-call/http-post/http-pod.yaml
  test/conformance/chainsaw/validating-policies/context/api-call/http-post/policy.yaml
  test/conformance/chainsaw/validating-policies/context/api-call/http-post/service.yaml
Labels: cherry-pick-required, milestone 1.14.0, size:L

#12712 chore: add --noDate to cli docs command
  Makefile
  charts/kyverno/charts/crds/templates/kyverno.io/kyverno.io_cleanuppolicies.yaml
  charts/kyverno/charts/crds/templates/kyverno.io/kyverno.io_clustercleanuppolicies.yaml
  charts/kyverno/charts/crds/templates/kyverno.io/kyverno.io_clusterpolicies.yaml
  charts/kyverno/charts/crds/templates/kyverno.io/kyverno.io_globalcontextentries.yaml
  charts/kyverno/charts/crds/templates/kyverno.io/kyverno.io_policies.yaml
  charts/kyverno/charts/crds/templates/kyverno.io/kyverno.io_policyexceptions.yaml
  charts/kyverno/charts/crds/templates/kyverno.io/kyverno.io_updaterequests.yaml
  charts/kyverno/charts/crds/templates/policies.kyverno.io/policies.kyverno.io_imagevalidatingpolicies.yaml
  charts/kyverno/charts/crds/templates/policies.kyverno.io/policies.kyverno.io_policyexceptions.yaml
  charts/kyverno/charts/crds/templates/policies.kyverno.io/policies.kyverno.io_validatingpolicies.yaml
  charts/kyverno/charts/crds/templates/reports.kyverno.io/reports.kyverno.io_clusterephemeralreports.yaml
  charts/kyverno/charts/crds/templates/reports.kyverno.io/reports.kyverno.io_ephemeralreports.yaml
  charts/kyverno/charts/crds/templates/wgpolicyk8s.io/wgpolicyk8s.io_clusterpolicyreports.yaml
  charts/kyverno/charts/crds/templates/wgpolicyk8s.io/wgpolicyk8s.io_policyreports.yaml
  cmd/cli/kubectl-kyverno/commands/docs/command.go
  cmd/cli/kubectl-kyverno/commands/docs/options.go
  cmd/cli/kubectl-kyverno/commands/docs/utils.go
  config/install-latest-testing.yaml
  docs/user/cli/commands/kyverno_docs.md
Labels: cherry-pick-required, milestone 1.14.0, size:M

#12600 fix-fail-only-flag
  cmd/cli/kubectl-kyverno/commands/test/command.go
Labels: cherry-pick-required, milestone 1.14.0, size:S

#12608 feat(helm): Add `dnsconfig` value to deployments
  charts/kyverno/README.md
  charts/kyverno/templates/admission-controller/deployment.yaml
  charts/kyverno/templates/background-controller/deployment.yaml
  charts/kyverno/templates/cleanup-controller/deployment.yaml
  charts/kyverno/templates/reports-controller/deployment.yaml
  charts/kyverno/values.yaml
Labels: cherry-pick-required, milestone 1.14.0, size:M

#12728 fix: evaluate celexceptions with ivpol in CLI
  cmd/cli/kubectl-kyverno/commands/apply/command.go
  cmd/cli/kubectl-kyverno/commands/apply/command_test.go
  cmd/cli/kubectl-kyverno/commands/test/test.go
  pkg/cel/engine/ivpolprovider.go
  pkg/controllers/report/utils/scanner.go
  test/cli/test-image-validating-policy/with-cel-exceptions/exception.yaml
  test/cli/test-image-validating-policy/with-cel-exceptions/kyverno-test.yaml
  test/cli/test-image-validating-policy/with-cel-exceptions/policy.yaml
  test/cli/test-image-validating-policy/with-cel-exceptions/resources.yaml
Labels: cherry-pick-required, milestone 1.14.0, size:L

#12734 feat: add --markdownLinks to cli docs command
  cmd/cli/kubectl-kyverno/commands/docs/command.go
  cmd/cli/kubectl-kyverno/commands/docs/options.go
  cmd/cli/kubectl-kyverno/commands/docs/utils.go
  docs/user/cli/commands/kyverno_docs.md
Labels: cherry-pick-required, milestone 1.14.0, size:XS

#12727 [fix] The source property is populated for VP, VAP and ImageValidatingPolicy
  cmd/cli/kubectl-kyverno/report/report_test.go
  pkg/utils/report/results.go
  test/conformance/chainsaw/validating-admission-policy-reports/background/policies-with-the-same-name/report-assert.yaml
Labels: cherry-pick-required, milestone 1.14.0, size:M

#12750 Apply PolicyException on Background Scanning for ivpol and vpol
  pkg/controllers/report/utils/scanner.go
  pkg/event/events.go
Labels: cherry-pick-required, milestone 1.14.0, size:L

#12744 Fix Namespace Selector Error Propagation and Scope Policy for Accurate Rule Evaluation
  api/kyverno/v1/spec_types.go
  pkg/background/generate/controller.go
  pkg/background/mutate/mutate.go
  pkg/policy/generate.go
  pkg/policy/policy_controller.go
  pkg/utils/engine/labels.go
  pkg/utils/engine/labels_test.go
  pkg/webhooks/resource/generation/handler.go
  pkg/webhooks/resource/handlers.go
  pkg/webhooks/resource/imageverification/handler.go
  pkg/webhooks/resource/mutation/mutation.go
  pkg/webhooks/resource/updaterequest.go
  pkg/webhooks/resource/validation/validation.go
Labels: cherry-pick-required, milestone 1.14.0, size:XL

#12755 chore: add local CLI tests for the new policy types in the workflow
  Makefile
  test/cli/test-cel-exceptions/check-deployment-labels/kyverno-test.yaml
  test/cli/test-exceptions/exceptions-3/exception.yaml
  test/cli/test-validating-policy/check-deployment-namespace/kyverno-test.yaml
  test/cli/test-validating-policy/check-deployment-namespace/values.yaml
Labels: cherry-pick-required, milestone 1.14.0, size:M

#12722 fix: allow policy creation if GVK is not found
  cmd/kyverno/main.go
  pkg/controllers/webhook/controller.go
  pkg/validation/policy/validate.go
  test/conformance/chainsaw/policy-validation/cluster-policy/crd-non-exist/README.md
  test/conformance/chainsaw/policy-validation/cluster-policy/crd-non-exist/chainsaw-test.yaml
  test/conformance/chainsaw/policy-validation/cluster-policy/crd-non-exist/policy-notready-assert.yaml
  test/conformance/chainsaw/policy-validation/cluster-policy/crd-non-exist/policy-ready-assert.yaml
  test/conformance/chainsaw/policy-validation/cluster-policy/crd-non-exist/policy.yaml
Labels: cherry-pick-required, milestone 1.14.0, size:L

#12757 refactor: cel libs names, return types and cleanup TODOs
  pkg/cel/libs/http/lib.go
  pkg/cel/libs/image/lib.go
  pkg/cel/libs/imageverify/lib.go
  pkg/cel/libs/resource/lib.go
  pkg/cel/libs/user/impl_test.go
  pkg/cel/libs/user/lib.go
  test/conformance/chainsaw/validating-policies/context/parse-sa/policy.yaml
Labels: cherry-pick-required, milestone 1.14.0, size:L

#10586 Add HorizontalPodAutoscaler to admission-controller
  charts/kyverno/README.md
  charts/kyverno/templates/admission-controller/horizontalpodautoscaler.yaml
  charts/kyverno/values.yaml
Labels: cherry-pick-required, milestone 1.14.0, size:M

#12751 chore: add chainsaw tests for exceptions in the reports
  test/conformance/chainsaw/imagevalidatingpolicies/report/with-exception/bad-deployment.yaml
  test/conformance/chainsaw/imagevalidatingpolicies/report/with-exception/chainsaw-test.yaml
  test/conformance/chainsaw/imagevalidatingpolicies/report/with-exception/exception.yaml
  test/conformance/chainsaw/imagevalidatingpolicies/report/with-exception/fail-report-assert.yaml
  test/conformance/chainsaw/imagevalidatingpolicies/report/with-exception/policy-assert.yaml
  test/conformance/chainsaw/imagevalidatingpolicies/report/with-exception/policy.yaml
  test/conformance/chainsaw/imagevalidatingpolicies/report/with-exception/skipped-deployment.yaml
  test/conformance/chainsaw/imagevalidatingpolicies/report/with-exception/skipped-report-assert.yaml
  test/conformance/chainsaw/validating-policies/report/with-exception/bad-deployment.yaml
  test/conformance/chainsaw/validating-policies/report/with-exception/chainsaw-test.yaml
  test/conformance/chainsaw/validating-policies/report/with-exception/exception.yaml
  test/conformance/chainsaw/validating-policies/report/with-exception/fail-report-assert.yaml
  test/conformance/chainsaw/validating-policies/report/with-exception/policy-assert.yaml
  test/conformance/chainsaw/validating-policies/report/with-exception/policy.yaml
  test/conformance/chainsaw/validating-policies/report/with-exception/skipped-deployment.yaml
  test/conformance/chainsaw/validating-policies/report/with-exception/skipped-report-assert.yaml
Labels: cherry-pick-required, milestone 1.14.0, size:L

#12767 fix: skip webhook registration if vap is generated from validate.cel subrule
  pkg/controllers/webhook/controller.go
  test/conformance/chainsaw/generate-validating-admission-policy/clusterpolicy/standard/generate/cpol-all-match-resource/chainsaw-test.yaml
  test/conformance/chainsaw/generate-validating-admission-policy/clusterpolicy/standard/generate/cpol-all-match-resource/validatingwebhookconfiguration.yaml
  test/conformance/chainsaw/generate-validating-admission-policy/clusterpolicy/standard/generate/cpol-any-exclude-namespace-match-resource/chainsaw-test.yaml
  test/conformance/chainsaw/generate-validating-admission-policy/clusterpolicy/standard/generate/cpol-any-exclude-namespace-match-resource/validatingwebhookconfiguration.yaml
  test/conformance/chainsaw/generate-validating-admission-policy/clusterpolicy/standard/generate/cpol-any-exclude-resource-match-with-namespace-selector/chainsaw-test.yaml
  test/conformance/chainsaw/generate-validating-admission-policy/clusterpolicy/standard/generate/cpol-any-exclude-resource-match-with-namespace-selector/validatingwebhookconfiguration.yaml
  test/conformance/chainsaw/generate-validating-admission-policy/clusterpolicy/standard/generate/cpol-any-exclude-resource-match-with-object-selector/chainsaw-test.yaml
  test/conformance/chainsaw/generate-validating-admission-policy/clusterpolicy/standard/generate/cpol-any-exclude-resource-match-with-object-selector/validatingwebhookconfiguration.yaml
  test/conformance/chainsaw/generate-validating-admission-policy/clusterpolicy/standard/generate/cpol-any-exclude-resource/chainsaw-test.yaml
  test/conformance/chainsaw/generate-validating-admission-policy/clusterpolicy/standard/generate/cpol-any-exclude-resource/validatingwebhookconfiguration.yaml
  test/conformance/chainsaw/generate-validating-admission-policy/clusterpolicy/standard/generate/cpol-any-match-multiple-resources/chainsaw-test.yaml
  test/conformance/chainsaw/generate-validating-admission-policy/clusterpolicy/standard/generate/cpol-any-match-multiple-resources/validatingwebhookconfiguration.yaml
  test/conformance/chainsaw/generate-validating-admission-policy/clusterpolicy/standard/generate/cpol-any-match-resource/chainsaw-test.yaml
  test/conformance/chainsaw/generate-validating-admission-policy/clusterpolicy/standard/generate/cpol-any-match-resource/validatingwebhookconfiguration.yaml
  test/conformance/chainsaw/generate-validating-admission-policy/clusterpolicy/standard/generate/cpol-any-match-resources-by-names/chainsaw-test.yaml
  test/conformance/chainsaw/generate-validating-admission-policy/clusterpolicy/standard/generate/cpol-any-match-resources-by-names/validatingwebhookconfiguration.yaml
  test/conformance/chainsaw/generate-validating-admission-policy/clusterpolicy/standard/generate/cpol-match-all-exclude-one/chainsaw-test.yaml
  test/conformance/chainsaw/generate-validating-admission-policy/clusterpolicy/standard/generate/cpol-match-all-exclude-one/validatingwebhookconfiguration.yaml
  test/conformance/chainsaw/generate-validating-admission-policy/clusterpolicy/standard/generate/cpol-match-kind-with-wildcard/chainsaw-test.yaml
  test/conformance/chainsaw/generate-validating-admission-policy/clusterpolicy/standard/generate/cpol-match-kind-with-wildcard/validatingwebhookconfiguration.yaml
  test/conformance/chainsaw/generate-validating-admission-policy/clusterpolicy/standard/generate/cpol-match-resource-in-specific-namespace/chainsaw-test.yaml
  test/conformance/chainsaw/generate-validating-admission-policy/clusterpolicy/standard/generate/cpol-match-resource-in-specific-namespace/validatingwebhookconfiguration.yaml
  test/conformance/chainsaw/generate-validating-admission-policy/clusterpolicy/standard/generate/cpol-with-an-exception-excluding-namespaces/chainsaw-test.yaml
  test/conformance/chainsaw/generate-validating-admission-policy/clusterpolicy/standard/generate/cpol-with-an-exception-excluding-namespaces/validatingwebhookconfiguration.yaml
  test/conformance/chainsaw/generate-validating-admission-policy/clusterpolicy/standard/generate/cpol-with-an-exception/chainsaw-test.yaml
  test/conformance/chainsaw/generate-validating-admission-policy/clusterpolicy/standard/generate/cpol-with-an-exception/validatingwebhookconfiguration.yaml
  test/conformance/chainsaw/generate-validating-admission-policy/clusterpolicy/standard/generate/cpol-with-two-exceptions/chainsaw-test.yaml
  test/conformance/chainsaw/generate-validating-admission-policy/clusterpolicy/standard/generate/cpol-with-two-exceptions/validatingwebhookconfiguration.yaml
  test/conformance/chainsaw/generate-validating-admission-policy/validatingpolicy/check-deployment-labels/chainsaw-test.yaml
  test/conformance/chainsaw/generate-validating-admission-policy/validatingpolicy/check-deployment-labels/validatingwebhookconfiguration.yaml
  test/conformance/chainsaw/generate-validating-admission-policy/validatingpolicy/generation-config/default/chainsaw-test.yaml
  test/conformance/chainsaw/generate-validating-admission-policy/validatingpolicy/generation-config/default/validatingwebhookconfiguration.yaml
  test/conformance/chainsaw/generate-validating-admission-policy/validatingpolicy/generation-config/disabled/chainsaw-test.yaml
  test/conformance/chainsaw/generate-validating-admission-policy/validatingpolicy/generation-config/disabled/validatingwebhookconfiguration.yaml
  test/conformance/chainsaw/generate-validating-admission-policy/validatingpolicy/generation-config/enabled/chainsaw-test.yaml
  test/conformance/chainsaw/generate-validating-admission-policy/validatingpolicy/generation-config/enabled/validatingwebhookconfiguration.yaml
  test/conformance/chainsaw/generate-validating-admission-policy/validatingpolicy/with-cel-exception/chainsaw-test.yaml
  test/conformance/chainsaw/generate-validating-admission-policy/validatingpolicy/with-cel-exception/validatingwebhookconfiguration.yaml
  test/conformance/chainsaw/generate-validating-admission-policy/validatingpolicy/with-multiple-exceptions/chainsaw-test.yaml
  test/conformance/chainsaw/generate-validating-admission-policy/validatingpolicy/with-multiple-exceptions/validatingwebhookconfiguration.yaml
Labels: cherry-pick-required, milestone 1.14.0, size:L

#12765 chore: bump controller gen
  Makefile
  charts/kyverno/charts/crds/templates/kyverno.io/kyverno.io_cleanuppolicies.yaml
  charts/kyverno/charts/crds/templates/kyverno.io/kyverno.io_clustercleanuppolicies.yaml
  charts/kyverno/charts/crds/templates/kyverno.io/kyverno.io_clusterpolicies.yaml
  charts/kyverno/charts/crds/templates/kyverno.io/kyverno.io_globalcontextentries.yaml
  charts/kyverno/charts/crds/templates/kyverno.io/kyverno.io_policies.yaml
  charts/kyverno/charts/crds/templates/kyverno.io/kyverno.io_policyexceptions.yaml
  charts/kyverno/charts/crds/templates/kyverno.io/kyverno.io_updaterequests.yaml
  charts/kyverno/charts/crds/templates/policies.kyverno.io/policies.kyverno.io_imagevalidatingpolicies.yaml
  charts/kyverno/charts/crds/templates/policies.kyverno.io/policies.kyverno.io_policyexceptions.yaml
  charts/kyverno/charts/crds/templates/policies.kyverno.io/policies.kyverno.io_validatingpolicies.yaml
  charts/kyverno/charts/crds/templates/reports.kyverno.io/reports.kyverno.io_clusterephemeralreports.yaml
  charts/kyverno/charts/crds/templates/reports.kyverno.io/reports.kyverno.io_ephemeralreports.yaml
  charts/kyverno/charts/crds/templates/wgpolicyk8s.io/wgpolicyk8s.io_clusterpolicyreports.yaml
  charts/kyverno/charts/crds/templates/wgpolicyk8s.io/wgpolicyk8s.io_policyreports.yaml
  config/install-latest-testing.yaml
Labels: cherry-pick-required, milestone 1.14.0, size:M

#12779 fix: CanAutoGen logic
  pkg/cel/autogen/autogen.go
  pkg/cel/autogen/support.go
Labels: cherry-pick-required, milestone 1.14.0, size:M

#11763 fix: regex to parse kinds correctly
  pkg/utils/kube/kind.go
  pkg/utils/kube/kind_test.go
Labels: end user, cherry-pick-required, milestone 1.14.0, size:XS

#12607 version update kubectl
  charts/kyverno/README.md
  charts/kyverno/values.yaml
Labels: cherry-pick-required, milestone 1.14.0, size:XS

#12732 resource.Post API
  pkg/cel/libs/resource/impl.go
  pkg/cel/libs/resource/lib.go
  pkg/cel/libs/resource/mock.go
  pkg/cel/libs/resource/types.go
  pkg/cel/libs/resource/utils.go
  pkg/cel/libs/resource/utils_test.go
  pkg/cel/policy/compiler_test.go
  pkg/cel/policy/context.go
  pkg/cel/policy/fake_context.go
  test/conformance/chainsaw/validating-policies/context/resource/get/chainsaw-test.yaml
  test/conformance/chainsaw/validating-policies/context/resource/get/negative.yaml
  test/conformance/chainsaw/validating-policies/context/resource/get/pod.yaml
  test/conformance/chainsaw/validating-policies/context/resource/get/policy.yaml
  test/conformance/chainsaw/validating-policies/context/resource/get/positive.yaml
  test/conformance/chainsaw/validating-policies/context/resource/post/chainsaw-step-03-apply-1.yaml
  test/conformance/chainsaw/validating-policies/context/resource/post/chainsaw-step-03-apply-2.yaml
  test/conformance/chainsaw/validating-policies/context/resource/post/chainsaw-step-03-apply-3.yaml
  test/conformance/chainsaw/validating-policies/context/resource/post/chainsaw-step-03-apply-4.yaml
  test/conformance/chainsaw/validating-policies/context/resource/post/chainsaw-step-03-apply-5.yaml
  test/conformance/chainsaw/validating-policies/context/resource/post/chainsaw-test.yaml
  test/conformance/chainsaw/validating-policies/context/resource/post/check-subjectaccessreview.yaml
  test/conformance/chainsaw/validating-policies/context/resource/post/cm-one.yaml
  test/conformance/chainsaw/validating-policies/context/resource/post/cm-two.yaml
  test/conformance/chainsaw/validating-policies/context/resource/post/ns.yaml
Labels: cherry-pick-required, milestone 1.14.0, size:L

#12686 fix: add default value for actions in VPOLs
  api/policies.kyverno.io/v1alpha1/validating_policy.go
  charts/kyverno/charts/crds/templates/policies.kyverno.io/policies.kyverno.io_validatingpolicies.yaml
  cmd/cli/kubectl-kyverno/data/crds/policies.kyverno.io_validatingpolicies.yaml
  config/crds/policies.kyverno.io/policies.kyverno.io_validatingpolicies.yaml
  config/install-latest-testing.yaml
  pkg/admissionpolicy/builder.go
  test/conformance/chainsaw/generate-validating-admission-policy/validatingpolicy/missing-action/chainsaw-test.yaml
  test/conformance/chainsaw/generate-validating-admission-policy/validatingpolicy/missing-action/policy-assert.yaml
  test/conformance/chainsaw/generate-validating-admission-policy/validatingpolicy/missing-action/policy.yaml
  test/conformance/chainsaw/generate-validating-admission-policy/validatingpolicy/missing-action/validatingadmissionpolicy.yaml
  test/conformance/chainsaw/generate-validating-admission-policy/validatingpolicy/missing-action/validatingadmissionpolicybinding.yaml
  test/conformance/chainsaw/generate-validating-admission-policy/validatingpolicy/missing-action/validatingwebhookconfiguration.yaml
  test/conformance/chainsaw/validating-policies/validation-checks/invalid-action/chainsaw-test.yaml
  test/conformance/chainsaw/validating-policies/validation-checks/invalid-action/policy.yaml
Labels: cherry-pick-required, milestone 1.14.0, size:L

#12793 fix: restrict failurePolicy to either Fail or Ignore
  api/policies.kyverno.io/v1alpha1/imageverification_policy.go
  api/policies.kyverno.io/v1alpha1/validating_policy.go
  charts/kyverno/charts/crds/templates/policies.kyverno.io/policies.kyverno.io_imagevalidatingpolicies.yaml
  charts/kyverno/charts/crds/templates/policies.kyverno.io/policies.kyverno.io_validatingpolicies.yaml
  cmd/cli/kubectl-kyverno/data/crds/policies.kyverno.io_imagevalidatingpolicies.yaml
  cmd/cli/kubectl-kyverno/data/crds/policies.kyverno.io_validatingpolicies.yaml
  config/crds/policies.kyverno.io/policies.kyverno.io_imagevalidatingpolicies.yaml
  config/crds/policies.kyverno.io/policies.kyverno.io_validatingpolicies.yaml
  config/install-latest-testing.yaml
  docs/user/crd/index.html
Labels: cherry-pick-required, milestone 1.14.0, size:M

#12789 refactor: cel autogen package
  pkg/cel/autogen/autogen.go
  pkg/cel/autogen/autogen_test.go
  pkg/cel/autogen/ivpol.go
  pkg/cel/autogen/match.go
  pkg/cel/autogen/rule.go
  pkg/cel/autogen/rule_test.go
  pkg/cel/autogen/support.go
  pkg/controllers/webhook/validatingpolicy.go
  test/conformance/chainsaw/validating-policies/autogen/autogen-deployments-cronjobs/check-autogen.yaml
  test/conformance/chainsaw/validating-policies/autogen/should-autogen/check-autogen.yaml
  test/conformance/chainsaw/validating-policies/webhook-configuration/match-conditions/webhooks.yaml
Labels: cherry-pick-required, milestone 1.14.0, size:L

#12784 feat: Relax immutability requirements on match statements for generate rules
  pkg/validation/policy/generate.go
  pkg/validation/policy/validate_test.go
Labels: cherry-pick-required, milestone 1.14.0, size:L

#12770 fix: skip VAP generation in case autogen is enabled
  pkg/controllers/validatingadmissionpolicy-generate/controller.go
  test/conformance/chainsaw/generate-validating-admission-policy/validatingpolicy/autogen-enabled/chainsaw-test.yaml
  test/conformance/chainsaw/generate-validating-admission-policy/validatingpolicy/autogen-enabled/policy-assert.yaml
  test/conformance/chainsaw/generate-validating-admission-policy/validatingpolicy/autogen-enabled/policy.yaml
  test/conformance/chainsaw/generate-validating-admission-policy/validatingpolicy/autogen-enabled/validatingadmissionpolicy.yaml
  test/conformance/chainsaw/generate-validating-admission-policy/validatingpolicy/autogen-enabled/validatingadmissionpolicybinding.yaml
Labels: cherry-pick-required, milestone 1.14.0, size:L

#12758 chore: add local CLI tests for the new policy types in the workflow (…
  charts/kyverno/README.md
  charts/kyverno/templates/hooks/post-delete-configmap.yaml
  charts/kyverno/templates/hooks/post-upgrade-clean-reports.yaml
  charts/kyverno/templates/hooks/post-upgrade-migrate-resources.yaml
  charts/kyverno/templates/hooks/pre-delete-scale-to-zero.yaml
  charts/kyverno/values.yaml
Labels: cherry-pick-required, milestone 1.14.0, size:M

#12810 fix: restrict validationActions in IVPOLs
  api/policies.kyverno.io/v1alpha1/imageverification_policy.go
  api/policies.kyverno.io/v1alpha1/validating_policy.go
  charts/kyverno/charts/crds/templates/policies.kyverno.io/policies.kyverno.io_imagevalidatingpolicies.yaml
  cmd/cli/kubectl-kyverno/data/crds/policies.kyverno.io_imagevalidatingpolicies.yaml
  config/crds/policies.kyverno.io/policies.kyverno.io_imagevalidatingpolicies.yaml
  config/install-latest-testing.yaml
  pkg/cel/engine/ivpolprovider.go
  pkg/cel/engine/provider.go
  test/conformance/chainsaw/image-validating-policies/validation-checks/invalid-action/chainsaw-test.yaml
  test/conformance/chainsaw/image-validating-policies/validation-checks/invalid-action/policy.yaml
Labels: cherry-pick-required, milestone 1.14.0, size:L

#12808 fix(cleanup): ensure resourceFilters in configmap are respected during cleanup
  go.mod
  go.sum
  pkg/config/mocks/mock_config.go
  pkg/controllers/cleanup/controller.go
  pkg/controllers/cleanup/controller_test.go
Labels: milestone 1.14.0, size:L

#12811 refactor: autogen cel package
  api/policies.kyverno.io/v1alpha1/imagevalidating_policy.go
  api/policies.kyverno.io/v1alpha1/zz_generated.deepcopy.go
  docs/user/crd/index.html
  pkg/cel/autogen/autogen.go
  pkg/cel/autogen/autogen_test.go
  pkg/cel/autogen/config.go
  pkg/cel/autogen/ivpol.go
  pkg/cel/autogen/ivpol_test.go
  pkg/cel/autogen/match.go
  pkg/cel/autogen/rule.go
  pkg/cel/autogen/rule_test.go
  pkg/cel/autogen/support_test.go
  pkg/cel/engine/vpolengine.go
  pkg/cel/policy/compiler.go
  pkg/controllers/policystatus/vpol.go
  pkg/controllers/webhook/validatingpolicy.go
  pkg/controllers/webhook/validatingpolicy_test.go
  test/conformance/chainsaw/image-validating-policies/autogen/autogen-deployments-cronjobs/check-autogen.yaml
  test/conformance/chainsaw/validating-policies/autogen/autogen-deployments-cronjobs/check-autogen.yaml
  test/conformance/chainsaw/validating-policies/autogen/autogen-deployments-statefulsets/check-autogen.yaml
  test/conformance/chainsaw/validating-policies/autogen/should-autogen/check-autogen.yaml
  test/conformance/chainsaw/validating-policies/webhook-configuration/match-conditions/webhooks.yaml
Labels: cherry-pick-required, milestone 1.14.0, size:XXL

#12803 chore: add and use step_template for imageverification-policies
  test/conformance/chainsaw/_step-templates/image-validating-policy-ready.yaml
  test/conformance/chainsaw/image-validating-policies/autogen/autogen-deployments-cronjobs/chainsaw-test.yaml
  test/conformance/chainsaw/image-validating-policies/autogen/autogen-deployments-cronjobs/policy-assert.yaml
  test/conformance/chainsaw/image-validating-policies/autogen/none/chainsaw-test.yaml
  test/conformance/chainsaw/image-validating-policies/autogen/none/policy-assert.yaml
  test/conformance/chainsaw/image-validating-policies/context/globalreference/chainsaw-test.yaml
  test/conformance/chainsaw/image-validating-policies/context/globalreference/policy-assert.yaml
  test/conformance/chainsaw/image-validating-policies/context/imagedata/image-data-arch/chainsaw-test.yaml
  test/conformance/chainsaw/image-validating-policies/context/imagedata/image-data-arch/policy-assert.yaml
  test/conformance/chainsaw/image-validating-policies/context/imagedata/image-data/chainsaw-test.yaml
  test/conformance/chainsaw/image-validating-policies/context/imagedata/image-data/policy-assert.yaml
  test/conformance/chainsaw/image-validating-policies/context/imagedata/imagereference/chainsaw-test.yaml
  test/conformance/chainsaw/image-validating-policies/context/imagedata/imagereference/policy-assert.yaml
  test/conformance/chainsaw/image-validating-policies/context/resource/chainsaw-test.yaml
  test/conformance/chainsaw/image-validating-policies/context/resource/policy-assert.yaml
  test/conformance/chainsaw/image-validating-policies/exceptions/chainsaw-test.yaml
  test/conformance/chainsaw/image-validating-policies/exceptions/policy-assert.yaml
  test/conformance/chainsaw/image-validating-policies/match-conditions/chainsaw-test.yaml
  test/conformance/chainsaw/image-validating-policies/match-conditions/policy-assert.yaml
  test/conformance/chainsaw/image-validating-policies/report/admission/chainsaw-test.yaml
  test/conformance/chainsaw/image-validating-policies/report/admission/policy-assert.yaml
Labels: cherry-pick-required, milestone 1.14.0, size:L

#12801 Fix global context chainsaw test
  test/conformance/chainsaw/image-validating-policies/context/globalreference/chainsaw-test.yaml
  test/conformance/chainsaw/image-validating-policies/context/globalreference/gctx-assert.yaml
Labels: cherry-pick-required, milestone 1.14.0, size:S

#12792 feat: relax variable validation checks for generate clone type
  api/kyverno/v1/clusterpolicy_test.go
  api/kyverno/v1/clusterpolicy_types.go
  api/kyverno/v1/common_types.go
  api/kyverno/v1/fuzz_test.go
  api/kyverno/v1/policy_interface.go
  api/kyverno/v1/policy_test.go
  api/kyverno/v1/policy_types.go
  api/kyverno/v1/rule_test.go
  api/kyverno/v1/rule_types.go
  api/kyverno/v1/spec_test.go
  api/kyverno/v1/spec_types.go
  api/kyverno/v2beta1/clusterpolicy_test.go
  api/kyverno/v2beta1/clusterpolicy_types.go
  api/kyverno/v2beta1/fuzz_test.go
  api/kyverno/v2beta1/policy_test.go
  api/kyverno/v2beta1/policy_types.go
  api/kyverno/v2beta1/rule_test.go
  api/kyverno/v2beta1/rule_types.go
  api/kyverno/v2beta1/spec_test.go
  api/kyverno/v2beta1/spec_types.go
  pkg/validation/policy/validate.go
  test/conformance/chainsaw/generate/clusterpolicy/standard/clone/sync/cpol-clone-list-sync-delete-source/policy.yaml
  test/conformance/chainsaw/generate/clusterpolicy/standard/clone/sync/cpol-clone-list-sync-update-source/policy.yaml
  test/conformance/chainsaw/generate/clusterpolicy/standard/clone/sync/cpol-clone-sync-delete-rule/policy.yaml
  test/conformance/chainsaw/generate/clusterpolicy/standard/clone/sync/cpol-clone-sync-delete-source/policy.yaml
  test/conformance/chainsaw/generate/clusterpolicy/standard/clone/sync/cpol-clone-sync-modify-downstream/policy.yaml
  test/conformance/chainsaw/generate/clusterpolicy/standard/clone/sync/cpol-clone-sync-modify-source/policy.yaml
Labels: cherry-pick-required, milestone 1.14.0, size:L

#12826 chore: rename `imagedata.Get` to `image.GetMetadata`
  pkg/cel/libs/imagedata/impl.go
  pkg/cel/libs/imagedata/impl_test.go
  pkg/cel/libs/imagedata/lib.go
  pkg/cel/policy/compiler.go
  test/conformance/chainsaw/image-validating-policies/context/imagedata/image-data-arch/policy.yaml
  test/conformance/chainsaw/image-validating-policies/context/imagedata/image-data/policy.yaml
  test/conformance/chainsaw/validating-policies/context/image-data-arch/policy.yaml
  test/conformance/chainsaw/validating-policies/context/image-data/policy.yaml
Labels: cherry-pick-required, milestone 1.14.0, size:S

#12817 rename fields
  api/policies.kyverno.io/v1alpha1/imagevalidating_policy.go
  api/policies.kyverno.io/v1alpha1/zz_generated.deepcopy.go
  charts/kyverno/charts/crds/templates/policies.kyverno.io/policies.kyverno.io_imagevalidatingpolicies.yaml
  cmd/cli/kubectl-kyverno/data/crds/policies.kyverno.io_imagevalidatingpolicies.yaml
  config/crds/policies.kyverno.io/policies.kyverno.io_imagevalidatingpolicies.yaml
  config/install-latest-testing.yaml
  docs/user/crd/index.html
  pkg/cel/autogen/ivpol_test.go
  pkg/cel/engine/ivpolengine_test.go
  pkg/cel/libs/imageverify/impl.go
  pkg/imageverification/evaluator/compiler.go
  pkg/imageverification/evaluator/eval_test.go
  pkg/imageverification/evaluator/policy.go
  pkg/imageverification/match/match.go
  pkg/imageverification/match/match_test.go
  test/cli/test-image-validating-policy/check-json/ivpol-json.yaml
  test/cli/test-image-validating-policy/sample-policy/policy.yaml
  test/cli/test-image-validating-policy/with-cel-exceptions/policy.yaml
  test/conformance/chainsaw/image-validating-policies/autogen/autogen-deployments-cronjobs/check-autogen.yaml
  test/conformance/chainsaw/image-validating-policies/autogen/autogen-deployments-cronjobs/policy.yaml
  test/conformance/chainsaw/image-validating-policies/autogen/none/policy.yaml
  test/conformance/chainsaw/image-validating-policies/context/imagedata/image-data-arch/policy.yaml
  test/conformance/chainsaw/image-validating-policies/context/imagedata/image-data/policy.yaml
  test/conformance/chainsaw/image-validating-policies/context/imagedata/imagereference/policy.yaml
  test/conformance/chainsaw/image-validating-policies/context/resource/policy.yaml
  test/conformance/chainsaw/image-validating-policies/exceptions/policy.yaml
  test/conformance/chainsaw/image-validating-policies/match-conditions/policy.yaml
  test/conformance/chainsaw/image-validating-policies/report/admission/policy.yaml
  test/conformance/chainsaw/image-validating-policies/report/background/policy.yaml
  test/conformance/chainsaw/image-validating-policies/report/with-exception/policy.yaml
  test/conformance/chainsaw/image-validating-policies/validation-checks/invalid-action/policy.yaml
  test/conformance/chainsaw/validating-admission-policy-reports/background/policies-with-the-same-name/imagevalidatingpolicy.yaml
Labels: cherry-pick-required, milestone 1.14.0, size:XXL

#12833 fix: bump golang.org/x/crypto to v0.37.0 to resolve CVE-2025-22869
  go.mod
  go.sum
Labels: cherry-pick-required, size:S, milestone 1.13.5

#12844 chore: rename cel helper payload() to extractPayload()
  pkg/cel/engine/ivpolengine_test.go
  pkg/cel/libs/imageverify/lib.go
  pkg/imageverification/evaluator/eval_test.go
  test/cli/test-image-validating-policy/check-json/ivpol-json.yaml
  test/cli/test-image-validating-policy/sample-policy/policy.yaml
  test/cli/test-image-validating-policy/with-cel-exceptions/policy.yaml
  test/conformance/chainsaw/image-validating-policies/autogen/autogen-deployments-cronjobs/check-autogen.yaml
  test/conformance/chainsaw/image-validating-policies/autogen/autogen-deployments-cronjobs/policy.yaml
  test/conformance/chainsaw/image-validating-policies/autogen/none/policy.yaml
  test/conformance/chainsaw/image-validating-policies/exceptions/policy.yaml
  test/conformance/chainsaw/image-validating-policies/match-conditions/policy.yaml
  test/conformance/chainsaw/image-validating-policies/validation-checks/invalid-action/policy.yaml
Labels: cherry-pick-required, milestone 1.14.0, size:S

#12832 refactor: cel policies autogen
  api/policies.kyverno.io/v1alpha1/imagevalidating_policy.go
  cmd/cli/kubectl-kyverno/processor/policy_processor.go
  cmd/kyverno/main.go
  pkg/cel/autogen/config.go
  pkg/cel/autogen/data.go
  pkg/cel/autogen/match.go
  pkg/cel/autogen/replacement.go
  pkg/cel/autogen/replacement_test.go
  pkg/cel/autogen/rule.go
  pkg/cel/autogen/support_test.go
  pkg/cel/autogen/target.go
  pkg/cel/compiler/compiler.go
  pkg/cel/compiler/compiler_test.go
  pkg/cel/compiler/env.go
  pkg/cel/compiler/env_test.go
  pkg/cel/compiler/exception.go
  pkg/cel/compiler/namespace.go
  pkg/cel/compiler/request.go
  pkg/cel/compiler/validation.go
  pkg/cel/compiler/variables.go
  pkg/cel/engine/criteria.go
  pkg/cel/engine/engine.go
  pkg/cel/engine/ivpolengine.go
  pkg/cel/engine/ivpolengine_test.go
  pkg/cel/engine/ivpolprovider.go
  pkg/cel/engine/namespace.go
  pkg/cel/engine/provider.go
  pkg/cel/engine/request.go
  pkg/cel/engine/response.go
  pkg/cel/engine/vpolengine.go
  pkg/cel/libs/resource/utils_test.go
  pkg/cel/matching/criteria.go
  pkg/cel/policies/ivpol/autogen/autogen.go
  pkg/cel/policies/ivpol/autogen/autogen_test.go
  pkg/cel/policies/vpol/autogen/autogen.go
  pkg/cel/policies/vpol/autogen/autogen_test.go
  pkg/cel/policies/vpol/compiler/compiler.go
  pkg/cel/policies/vpol/compiler/policy.go
  pkg/cel/policies/vpol/engine/engine.go
  pkg/cel/policies/vpol/engine/exception.go
  pkg/cel/policies/vpol/engine/policy.go
  pkg/cel/policies/vpol/engine/provider.go
  pkg/cel/policies/vpol/engine/reconciler.go
  pkg/cel/policies/vpol/validate.go
  pkg/cel/policy/compiler.go
  pkg/cel/policy/interface.go
  pkg/cel/policy/policy.go
  pkg/cel/policy/types.go
  pkg/cel/resource/openapi_test.go
  pkg/controllers/policystatus/ivpol.go
  pkg/controllers/policystatus/vpol.go
  pkg/controllers/report/utils/scanner.go
  pkg/controllers/webhook/validatingpolicy.go
  pkg/imageverification/evaluator/compiler.go
  pkg/imageverification/evaluator/policy.go
  pkg/imageverification/variables/images_test.go
  pkg/webhooks/policy/handlers.go
Labels: cherry-pick-required, milestone 1.14.0, size:XXL

#12856 fix: missing docs for new policy types
  Makefile
  api/policies.kyverno.io/v1alpha1/imagevalidating_policy.go
  api/policies.kyverno.io/v1alpha1/policy_status.go
  docs/user/config-api.yaml
  docs/user/crd/index.html
  docs/user/crd/kyverno_cel_policies.v1alpha1.html
Labels: cherry-pick-required, milestone 1.14.0, size:XXL

#12852 fix: remove cached autogen pols
  pkg/cel/autogen/data.go
  pkg/cel/policies/ivpol/autogen/autogen.go
  pkg/cel/policies/ivpol/autogen/autogen_test.go
  pkg/cel/policies/vpol/autogen/autogen_test.go
  test/conformance/chainsaw/image-validating-policies/autogen/autogen-deployments-cronjobs/check-autogen.yaml
  test/conformance/chainsaw/validating-policies/autogen/autogen-deployments-cronjobs/check-autogen.yaml
  test/conformance/chainsaw/validating-policies/autogen/autogen-deployments-statefulsets/check-autogen.yaml
  test/conformance/chainsaw/validating-policies/autogen/should-autogen/check-autogen.yaml
  test/conformance/chainsaw/validating-policies/webhook-configuration/match-conditions/webhooks.yaml
Labels: cherry-pick-required, milestone 1.14.0, size:L

#12277 [feat] Introduce skipColor flag
  cmd/cli/kubectl-kyverno/log/log.go
  cmd/internal/flag.go
  cmd/internal/logging.go
  pkg/logging/log.go
Labels: size:S, milestone 1.15.0

#12864 refactor: improve new policy types api and test coverage
  api/policies.kyverno.io/v1alpha1/conditions.go
  api/policies.kyverno.io/v1alpha1/conditions_test.go
  api/policies.kyverno.io/v1alpha1/imagevalidating_policy.go
  api/policies.kyverno.io/v1alpha1/imagevalidating_policy_test.go
  api/policies.kyverno.io/v1alpha1/validating_policy_test.go
  api/policies.kyverno.io/v1alpha1/zz_generated.deepcopy.go
  charts/kyverno/charts/crds/templates/policies.kyverno.io/policies.kyverno.io_imagevalidatingpolicies.yaml
  cmd/cli/kubectl-kyverno/data/crds/policies.kyverno.io_imagevalidatingpolicies.yaml
  config/crds/policies.kyverno.io/policies.kyverno.io_imagevalidatingpolicies.yaml
  config/install-latest-testing.yaml
  docs/user/crd/index.html
  docs/user/crd/kyverno_cel_policies.v1alpha1.html
  pkg/cel/libs/imageverify/impl_test.go
  pkg/cel/policies/ivpol/autogen/autogen_test.go
  pkg/cel/policies/ivpol/engine/engine_test.go
  pkg/controllers/policystatus/ivpol.go
  pkg/controllers/policystatus/vpol.go
  pkg/imageverification/evaluator/eval_test.go
  pkg/imageverification/imageverifiers/cosign/opts.go
  pkg/imageverification/imageverifiers/notary/helpers.go
  pkg/imageverification/imageverifiers/notary/notary_test.go
  pkg/imageverification/match/match.go
  pkg/imageverification/match/match_test.go
  pkg/imageverification/variables/attestors.go
  pkg/imageverification/variables/attestors_test.go
  test/cli/test-image-validating-policy/check-json/ivpol-json.yaml
  test/cli/test-image-validating-policy/sample-policy/policy.yaml
  test/cli/test-image-validating-policy/with-cel-exceptions/policy.yaml
  test/conformance/chainsaw/image-validating-policies/autogen/autogen-deployments-cronjobs/check-autogen.yaml
  test/conformance/chainsaw/image-validating-policies/autogen/autogen-deployments-cronjobs/policy.yaml
  test/conformance/chainsaw/image-validating-policies/autogen/none/policy.yaml
  test/conformance/chainsaw/image-validating-policies/context/globalreference/policy.yaml
  test/conformance/chainsaw/image-validating-policies/context/imagedata/image-data-arch/policy.yaml
  test/conformance/chainsaw/image-validating-policies/context/imagedata/image-data/policy.yaml
  test/conformance/chainsaw/image-validating-policies/context/imagedata/imagereference/policy.yaml
  test/conformance/chainsaw/image-validating-policies/context/resource/policy.yaml
  test/conformance/chainsaw/image-validating-policies/exceptions/policy.yaml
  test/conformance/chainsaw/image-validating-policies/match-conditions/policy.yaml
  test/conformance/chainsaw/image-validating-policies/report/admission/policy.yaml
  test/conformance/chainsaw/image-validating-policies/report/background/policy.yaml
  test/conformance/chainsaw/image-validating-policies/report/with-exception/policy.yaml
  test/conformance/chainsaw/image-validating-policies/standard/notary-basic/policy.yaml
  test/conformance/chainsaw/image-validating-policies/standard/notary-configmap-cert/policy.yaml
  test/conformance/chainsaw/image-validating-policies/validation-checks/invalid-action/policy.yaml
  test/conformance/chainsaw/validating-admission-policy-reports/background/policies-with-the-same-name/imagevalidatingpolicy.yaml
Labels: cherry-pick-required, milestone 1.14.0, size:XXL

#12867 Release v1.14.0
  charts/kyverno-policies/Chart.yaml
  charts/kyverno-policies/README.md
  charts/kyverno/Chart.yaml
  charts/kyverno/README.md
  charts/kyverno/charts/crds/Chart.yaml
  charts/kyverno/charts/crds/README.md
  charts/kyverno/charts/grafana/Chart.yaml
  charts/kyverno/charts/grafana/README.md
  config/install-latest-testing.yaml
Labels: hold-merge, size:M

#12875 chore: add cel/utils unit tests
  pkg/cel/utils/convert.go
  pkg/cel/utils/convert_test.go
Labels: cherry-pick-required, size:M, milestone 1.14.1

#12877 chore: add cel/compiler unit tests
  pkg/cel/compiler/compiler.go
  pkg/cel/compiler/compiler_test.go
Labels: cherry-pick-required, size:L, milestone 1.14.1

#12886 chore: add fake context unit tests
  pkg/cel/libs/fake_context_test.go
Labels: cherry-pick-required, size:L, milestone 1.14.1

#12873 chore: add cel/autogen unit tests
  pkg/cel/autogen/match.go
  pkg/cel/autogen/match_test.go
Labels: cherry-pick-required, size:L, milestone 1.14.1

#12899 fix: object matching in cel/matching package
  pkg/cel/matching/criteria_test.go
  pkg/cel/matching/matcher.go
  pkg/cel/matching/matcher_test.go
Labels: cherry-pick-required, size:XL, milestone 1.14.1

#12892 chore: add sigstore dependabot group
  .github/dependabot.yml
Labels: size:XS, milestone 1.15.0

#12904 chore: add cel/engine unit tests
  pkg/cel/autogen/match_test.go
  pkg/cel/engine/exception.go
  pkg/cel/engine/exception_test.go
  pkg/cel/engine/request_test.go
  pkg/cel/policies/ivpol/engine/reconciler.go
  pkg/cel/policies/vpol/engine/reconciler.go
Labels: cherry-pick-required, size:L, milestone 1.14.1

#12906 chore: update codegen api docs targets
  Makefile
Labels: size:S, milestone 1.15.0

#12907 chore: update codegen crds targets
  Makefile
Labels: size:M, milestone 1.15.0

#12908 chore: remove gopath shim from makefile
  Makefile
Labels: size:M, milestone 1.15.0

#12909 chore: bump helm-docs
  Makefile
  charts/kyverno-policies/README.md
  charts/kyverno/README.md
  charts/kyverno/charts/crds/README.md
  charts/kyverno/charts/grafana/README.md
Labels: size:S, milestone 1.15.0

#12910 chore: stop using go-acc
  .github/workflows/codecov.yaml
  .gitignore
  Makefile
Labels: size:L, milestone 1.15.0

#12911 chore: merge codecov and test workflow
  .github/workflows/check-milestone-label.yaml
  .github/workflows/codecov.yaml
  .github/workflows/tests.yaml
Labels: size:L, milestone 1.15.0

#12912 chore: refactor codegen targets
  .github/workflows/conformance.yaml
  .github/workflows/verify-codegen.yaml
  Makefile
  cmd/cli/kubectl-kyverno/data/api-group-resources.json
  docs/user/config-api.yaml
  docs/user/config-cli-api.yaml
Labels: size:XXL, milestone 1.15.0

#12913 fix: codecov job missing checkout
  .github/workflows/tests.yaml
Labels: size:XS, milestone 1.15.0

#12918 chore: add folders to codecov ignore config
  codecov.yml
Labels: size:XS, milestone 1.15.0

#12919 feat: remove CLI legacy loader
  .github/workflows/cli.yaml
  cmd/cli/kubectl-kyverno/commands/fix/policy/options.go
  cmd/cli/kubectl-kyverno/experimental/experimental.go
  cmd/cli/kubectl-kyverno/policy/legacy_loader.go
  cmd/cli/kubectl-kyverno/policy/load.go
  cmd/cli/kubectl-kyverno/policy/load_test.go
Labels: size:M, milestone 1.15.0

#12920 fix: use upstream object matcher
  pkg/cel/matching/matcher.go
Labels: cherry-pick-required, size:M, milestone 1.14.1

#12923 fix: check milestone workflow
  .github/workflows/check-milestone-label.yaml
Labels: size:S, milestone 1.15.0

#12925 Cherry pick of #12744 CommitID:3ff923 to release 1.13
  api/kyverno/v1/spec_types.go
  pkg/background/generate/controller.go
  pkg/background/mutate/mutate.go
  pkg/policy/generate.go
  pkg/policy/policy_controller.go
  pkg/utils/engine/labels.go
  pkg/utils/engine/labels_test.go
  pkg/webhooks/resource/generation/handler.go
  pkg/webhooks/resource/handlers.go
  pkg/webhooks/resource/imageverification/handler.go
  pkg/webhooks/resource/mutation/mutation.go
  pkg/webhooks/resource/updaterequest.go
  pkg/webhooks/resource/validation/validation.go
Labels: size:XL

#12927 chore: add 1.14.0 to the bug templates
  .github/ISSUE_TEMPLATE/bug-cli.yaml
  .github/ISSUE_TEMPLATE/bug-other.yaml
  .github/ISSUE_TEMPLATE/bug-webhook.yaml
Labels: cherry-pick-required, size:XS, milestone 1.14.1

#12924 fix: check if apiGroup and apiVersion are defined
  pkg/admissionpolicy/validate.go
Labels: cherry-pick-required, size:XS, milestone 1.14.1

#12936 fix: rewrite cel/matching package with upstream code (cherry-pick #12929)
  pkg/cel/matching/matcher.go
  pkg/cel/matching/predicates/namespace/matcher.go
  pkg/cel/matching/predicates/namespace/matcher_test.go
Labels: size:L

#12934 refactor: cel http lib
  pkg/cel/libs/http/http.go
  pkg/cel/libs/http/impl.go
  pkg/cel/libs/http/impl_test.go
  pkg/cel/libs/http/lib.go
  pkg/cel/libs/http/types.go
  pkg/cel/policies/vpol/compiler/compiler.go
  pkg/cel/policies/vpol/compiler/policy.go
  pkg/imageverification/evaluator/compiler.go
Labels: cherry-pick-required, size:M, milestone 1.14.1

#12942 chore: add cel/compiler unit tests
  pkg/cel/compiler/compiler.go
  pkg/cel/compiler/compiler_test.go
  pkg/cel/policies/vpol/compiler/compiler.go
  pkg/imageverification/evaluator/compiler.go
Labels: cherry-pick-required, size:L, milestone 1.14.1

#12945 Release v1.13.5
  charts/kyverno-policies/Chart.yaml
  charts/kyverno-policies/README.md
  charts/kyverno/Chart.yaml
  charts/kyverno/README.md
  charts/kyverno/charts/crds/Chart.yaml
  charts/kyverno/charts/crds/README.md
  charts/kyverno/charts/grafana/Chart.yaml
  charts/kyverno/charts/grafana/README.md
  config/install-latest-testing.yaml
Labels: size:M

#12946 add support for auditAnnotations in ivpols
  api/policies.kyverno.io/v1alpha1/imagevalidating_policy.go
  api/policies.kyverno.io/v1alpha1/zz_generated.deepcopy.go
  charts/kyverno/charts/crds/templates/policies.kyverno.io/policies.kyverno.io_imagevalidatingpolicies.yaml
  cmd/cli/kubectl-kyverno/commands/apply/command.go
  cmd/cli/kubectl-kyverno/data/crds/policies.kyverno.io_imagevalidatingpolicies.yaml
  config/crds/policies.kyverno.io/policies.kyverno.io_imagevalidatingpolicies.yaml
  config/install-latest-testing.yaml
  docs/user/crd/index.html
  docs/user/crd/kyverno_cel_policies.v1alpha1.html
  pkg/cel/policies/ivpol/engine/engine.go
  pkg/imageverification/evaluator/compiler.go
  pkg/imageverification/evaluator/policy.go
  test/conformance/chainsaw/image-validating-policies/report/admission/policy.yaml
  test/conformance/chainsaw/image-validating-policies/report/admission/report.yaml
Labels: cherry-pick-required, size:XL, milestone 1.14.1

#12950 refactor: centralize CEL keys
  pkg/cel/compiler/compiler.go
  pkg/cel/compiler/keys.go
  pkg/imageverification/evaluator/compiler.go
  pkg/imageverification/evaluator/policy.go
Labels: cherry-pick-required, size:M, milestone 1.14.1

#12937 fix: convert gvk to gvr for VAPs in the CLI
  cmd/cli/kubectl-kyverno/processor/policy_processor.go
  cmd/cli/kubectl-kyverno/processor/utils.go
  pkg/admissionpolicy/validate.go
  pkg/controllers/report/utils/scanner.go
Labels: cherry-pick-required, size:M, milestone 1.14.1

#12955 refactor: ivpol image matching code
  pkg/cel/compiler/compiler.go
  pkg/cel/compiler/compiler_test.go
  pkg/cel/compiler/env.go
  pkg/cel/compiler/env_test.go
  pkg/cel/compiler/image.go
  pkg/cel/compiler/keys.go
  pkg/cel/libs/imageverify/impl.go
  pkg/cel/libs/resource/utils_test.go
  pkg/cel/matching/image.go
  pkg/cel/matching/image_test.go
  pkg/cel/policies/vpol/compiler/compiler.go
  pkg/cel/resource/openapi_test.go
  pkg/imageverification/evaluator/compiler.go
  pkg/imageverification/evaluator/policy.go
  pkg/imageverification/match/match.go
Labels: cherry-pick-required, size:L, milestone 1.14.1

#12957 fix: do not panic for vpols without match constraints
  pkg/admissionpolicy/validate.go
  pkg/admissionpolicy/validate_test.go
Labels: cherry-pick-required, size:M, milestone 1.14.1

#12961 fix: check output type of image reference match expression
  pkg/cel/compiler/compiler.go
  pkg/cel/matching/image_test.go
Labels: cherry-pick-required, size:M, milestone 1.14.1

#12964 chore: add cel/compiler unit tests
  pkg/cel/compiler/compiler.go
  pkg/cel/compiler/compiler_test.go
  pkg/cel/compiler/env_test.go
  pkg/cel/compiler/image_test.go
Labels: cherry-pick-required, size:L, milestone 1.14.1

#12971 chore: remove dead code
  pkg/cel/compiler/keys.go
  pkg/imageverification/evaluator/compiler.go
  pkg/imageverification/evaluator/policy.go
  pkg/imageverification/variables/attest.go
Labels: cherry-pick-required, size:S, milestone 1.14.1

#12968 fix: validate required match constraints in kubernetes env
  pkg/cel/policies/vpol/validate.go
Labels: cherry-pick-required, size:S, milestone 1.14.1

#12979 fix: Kyverno 1.14.0 cannot map gvk to gvr for custom resources
  cmd/cli/kubectl-kyverno/commands/apply/command.go
Labels: cherry-pick-required, size:XS, milestone 1.14.1

#12799 feature: support multiple output formats (json, yaml, markdown, junit) for CLI test command
  cmd/cli/kubectl-kyverno/commands/test/command.go
  cmd/cli/kubectl-kyverno/commands/test/output.go
  docs/user/cli/commands/kyverno_test.md
Labels: size:L, milestone 1.15.0
