Repository kyverno/kyverno, pull requests merged in 2025-06, with the labels that each got.

#13218 chore: Add webhook-config tests for ivpol
  test/conformance/chainsaw/image-validating-policies/webhook-configuration/basic/single/chainsaw-test.yaml
  test/conformance/chainsaw/image-validating-policies/webhook-configuration/basic/single/policy.yaml
  test/conformance/chainsaw/image-validating-policies/webhook-configuration/basic/single/webhooks.yaml
  test/conformance/chainsaw/image-validating-policies/webhook-configuration/combined/chainsaw-test.yaml
  test/conformance/chainsaw/image-validating-policies/webhook-configuration/combined/policy1-finegrained.yaml
  test/conformance/chainsaw/image-validating-policies/webhook-configuration/combined/policy2-basic.yaml
  test/conformance/chainsaw/image-validating-policies/webhook-configuration/combined/webhooks.yaml
  test/conformance/chainsaw/image-validating-policies/webhook-configuration/fine-grained/match-conditions/chainsaw-test.yaml
  test/conformance/chainsaw/image-validating-policies/webhook-configuration/fine-grained/match-conditions/policy.yaml
  test/conformance/chainsaw/image-validating-policies/webhook-configuration/fine-grained/match-conditions/webhooks.yaml
  test/conformance/chainsaw/image-validating-policies/webhook-configuration/fine-grained/match-constraints/chainsaw-test.yaml
  test/conformance/chainsaw/image-validating-policies/webhook-configuration/fine-grained/match-constraints/policy.yaml
  test/conformance/chainsaw/image-validating-policies/webhook-configuration/fine-grained/match-constraints/webhooks.yaml
  test/conformance/chainsaw/image-validating-policies/webhook-configuration/fine-grained/timeout/chainsaw-test.yaml
  test/conformance/chainsaw/image-validating-policies/webhook-configuration/fine-grained/timeout/policy.yaml
  test/conformance/chainsaw/image-validating-policies/webhook-configuration/fine-grained/timeout/webhooks.yaml
Labels: cherry-pick-required, size:XXL, milestone 1.14.2

#13299 release v.14.2
  charts/kyverno-policies/Chart.yaml
  charts/kyverno-policies/README.md
  charts/kyverno/Chart.yaml
  charts/kyverno/README.md
  charts/kyverno/charts/crds/Chart.yaml
  charts/kyverno/charts/crds/README.md
  charts/kyverno/charts/grafana/Chart.yaml
  charts/kyverno/charts/grafana/README.md
  config/install-latest-testing.yaml
Labels: size:M

#13278 chart: Allow for setting unhealthyPodEvictionPolicy in PDBs
  charts/kyverno/README.md
  charts/kyverno/templates/_helpers/_pdb.tpl
  charts/kyverno/values.yaml
Labels: size:S, milestone 1.15.0

#13323 feat: add engine response for GPOLs
  pkg/background/gpol/controller.go
  pkg/cel/libs/context.go
  pkg/cel/libs/fake_context.go
  pkg/cel/policies/gpol/compiler/policy.go
  pkg/cel/policies/gpol/engine/engine.go
  pkg/cel/policies/gpol/engine/response.go
Labels: size:L, milestone 1.15.0

#13324 chore: remove unused types
  pkg/cel/policies/dpol/engine/engine.go
Labels: size:XS, milestone 1.15.0

#13326 feat: generate reports for GPOLs
  charts/kyverno/templates/reports-controller/clusterrole.yaml
  cmd/reports-controller/main.go
  config/install-latest-testing.yaml
  pkg/background/gpol/controller.go
  pkg/background/update_request_controller.go
  pkg/cel/policies/gpol/engine/engine.go
  pkg/controllers/report/aggregate/controller.go
  pkg/controllers/report/aggregate/controller_test.go
  pkg/controllers/report/aggregate/utils.go
  pkg/utils/report/metadata.go
  pkg/utils/report/results.go
  pkg/utils/report/source.go
  test/conformance/chainsaw/generating-policies/reports/generate-cm/chainsaw-test.yaml
  test/conformance/chainsaw/generating-policies/reports/generate-cm/namespace.yaml
  test/conformance/chainsaw/generating-policies/reports/generate-cm/permissions.yaml
  test/conformance/chainsaw/generating-policies/reports/generate-cm/policy.yaml
  test/conformance/chainsaw/generating-policies/reports/generate-cm/report-assert.yaml
  test/conformance/chainsaw/generating-policies/reports/generate-secrets/chainsaw-test.yaml
  test/conformance/chainsaw/generating-policies/reports/generate-secrets/namespace.yaml
  test/conformance/chainsaw/generating-policies/reports/generate-secrets/permissions.yaml
  test/conformance/chainsaw/generating-policies/reports/generate-secrets/policy.yaml
  test/conformance/chainsaw/generating-policies/reports/generate-secrets/report-assert.yaml
  test/conformance/chainsaw/generating-policies/reports/generate-secrets/source.yaml
Labels: size:L, milestone 1.15.0

#13249 fix: decouple notary image verifier from api
  pkg/cel/libs/imageverify/impl.go
  pkg/imageverification/imagedataloader/options.go
  pkg/imageverification/imageverifiers/notary/helpers.go
  pkg/imageverification/imageverifiers/notary/log.go
  pkg/imageverification/imageverifiers/notary/verifier.go
  pkg/imageverification/imageverifiers/notary/verifier_test.go
Labels: cherry-pick-required, size:L, milestone 1.14.2

#13361 add helm value for better reports-server support
  Makefile
  charts/kyverno/README.md
  charts/kyverno/charts/crds/README.md
  charts/kyverno/charts/crds/templates/reports.kyverno.io/reports.kyverno.io_clusterephemeralreports.yaml
  charts/kyverno/charts/crds/templates/reports.kyverno.io/reports.kyverno.io_ephemeralreports.yaml
  charts/kyverno/charts/crds/templates/wgpolicyk8s.io/wgpolicyk8s.io_clusterpolicyreports.yaml
  charts/kyverno/charts/crds/templates/wgpolicyk8s.io/wgpolicyk8s.io_policyreports.yaml
  charts/kyverno/charts/crds/values.yaml
  charts/kyverno/templates/reports-controller/deployment.yaml
  charts/kyverno/templates/validate.yaml
  charts/kyverno/values.yaml
Labels: cherry-pick-required, size:M, milestone 1.14.3

#13365 feat: support gpols in CLI apply
  cmd/background-controller/main.go
  cmd/cli/kubectl-kyverno/commands/apply/command.go
  cmd/cli/kubectl-kyverno/policy/load.go
  cmd/cli/kubectl-kyverno/processor/policy_processor.go
  cmd/cli/kubectl-kyverno/processor/result.go
  cmd/cli/kubectl-kyverno/processor/utils.go
  pkg/background/gpol/controller.go
  pkg/background/update_request_controller.go
  pkg/cel/libs/fake_context.go
  pkg/cel/policies/gpol/engine/engine.go
  pkg/cel/policies/gpol/engine/fetch.go
  pkg/cel/policies/gpol/engine/provider.go
  test/cli/test-generating-policy/clone/generate-secrets-and-networkpolicies/context.yaml
  test/cli/test-generating-policy/clone/generate-secrets-and-networkpolicies/generated-resources.yaml
  test/cli/test-generating-policy/clone/generate-secrets-and-networkpolicies/policy.yaml
  test/cli/test-generating-policy/clone/generate-secrets-and-networkpolicies/resource.yaml
  test/cli/test-generating-policy/clone/generate-secrets/context.yaml
  test/cli/test-generating-policy/clone/generate-secrets/generated-resources.yaml
  test/cli/test-generating-policy/clone/generate-secrets/policy.yaml
  test/cli/test-generating-policy/clone/generate-secrets/resource.yaml
  test/cli/test-generating-policy/data/generate-cm/generated-resource.yaml
  test/cli/test-generating-policy/data/generate-cm/policy.yaml
  test/cli/test-generating-policy/data/generate-cm/resource.yaml
Labels: size:XL, milestone 1.15.0

#13366 Cherry Pick #13361
  Makefile
  charts/kyverno/README.md
  charts/kyverno/charts/crds/README.md
  charts/kyverno/charts/crds/templates/reports.kyverno.io/reports.kyverno.io_clusterephemeralreports.yaml
  charts/kyverno/charts/crds/templates/reports.kyverno.io/reports.kyverno.io_ephemeralreports.yaml
  charts/kyverno/charts/crds/templates/wgpolicyk8s.io/wgpolicyk8s.io_clusterpolicyreports.yaml
  charts/kyverno/charts/crds/templates/wgpolicyk8s.io/wgpolicyk8s.io_policyreports.yaml
  charts/kyverno/charts/crds/values.yaml
  charts/kyverno/templates/reports-controller/deployment.yaml
  charts/kyverno/templates/validate.yaml
  charts/kyverno/values.yaml
Labels: size:M

#13349 use a base image that supports s390x/ppc64le
  .ko.yaml
Labels: cherry-pick-required, size:M, milestone 1.14.3

#13377 chore: bump a couple of deps
  go.mod
  go.sum
  pkg/imageverification/imageverifiers/notary/verifier_test.go
Labels: size:S, milestone 1.15.0

#13364 feat(gctx): prefer use built-in informer for native resources
  cmd/background-controller/main.go
  cmd/cleanup-controller/main.go
  cmd/kyverno/main.go
  cmd/reports-controller/main.go
  pkg/controllers/globalcontext/controller.go
  pkg/globalcontext/k8sresource/entry.go
Labels: cherry-pick-required, size:S, milestone 1.14.3

#13383 chore: bump linter
  .github/workflows/lint.yaml
  .golangci.yml
  cmd/cli/kubectl-kyverno/processor/policy_processor.go
  pkg/engine/utils/match.go
  pkg/imageverification/imagedataloader/context.go
  pkg/webhooks/resource/mutation/mutation.go
Labels: size:S, milestone 1.15.0

#13395 feat: update tools to kube 1.33
  go.mod
  hack/api-group-resources/go.mod
  hack/api-group-resources/go.sum
  hack/controller-gen/go.mod
  hack/controller-gen/go.sum
Labels: size:M, milestone 1.15.0

#13392 feat: implement mutating policy reporting
  cmd/kyverno/main.go
  pkg/webhooks/resource/mpol/handler.go
Labels: size:M, milestone 1.15.0

#13400 chore: fix required conformance jobs
  .github/workflows/conformance.yaml
Labels: size:L, milestone 1.15.0

#13402 chore: update chainsaw test to kube 1.30 - 1.33
  .github/workflows/conformance.yaml
Labels: size:M, milestone 1.15.0

#13409 fix: mutatingpolicy compilation
  pkg/cel/policies/mpol/compiler/policy.go
  pkg/cel/policies/mpol/engine/engine.go
  pkg/cel/policies/mpol/engine/provider.go
  pkg/cel/policies/mpol/engine/reconciler.go
  pkg/webhooks/resource/mpol/handler.go
  pkg/webhooks/server.go
  test/conformance/chainsaw/mutating-policies/admission/jsonpatch/chainsaw-test.yaml
  test/conformance/chainsaw/mutating-policies/admission/jsonpatch/deployments.yaml
  test/conformance/chainsaw/mutating-policies/admission/jsonpatch/patched-deployments.yaml
  test/conformance/chainsaw/mutating-policies/admission/jsonpatch/policy.yaml
Labels: size:L, milestone 1.15.0

#13410 Release v1.14.3
  Makefile
  charts/kyverno-policies/Chart.yaml
  charts/kyverno-policies/README.md
  charts/kyverno/Chart.yaml
  charts/kyverno/README.md
  charts/kyverno/charts/crds/Chart.yaml
  charts/kyverno/charts/crds/README.md
  charts/kyverno/charts/grafana/Chart.yaml
  charts/kyverno/charts/grafana/README.md
  config/install-latest-testing.yaml
Labels: size:M

#13319 feat(chart): add ability to disable automount of service account token
  charts/kyverno/README.md
  charts/kyverno/templates/admission-controller/deployment.yaml
  charts/kyverno/templates/background-controller/deployment.yaml
  charts/kyverno/templates/cleanup-controller/deployment.yaml
  charts/kyverno/templates/hooks/post-delete-configmap.yaml
  charts/kyverno/templates/hooks/post-upgrade-clean-reports.yaml
  charts/kyverno/templates/hooks/post-upgrade-migrate-resources.yaml
  charts/kyverno/templates/hooks/pre-delete-scale-to-zero.yaml
  charts/kyverno/templates/reports-controller/deployment.yaml
  charts/kyverno/templates/tests/admission-controller-liveness.yaml
  charts/kyverno/templates/tests/admission-controller-metrics.yaml
  charts/kyverno/templates/tests/admission-controller-readiness.yaml
  charts/kyverno/templates/tests/cleanup-controller-liveness.yaml
  charts/kyverno/templates/tests/cleanup-controller-metrics.yaml
  charts/kyverno/templates/tests/cleanup-controller-readiness.yaml
  charts/kyverno/templates/tests/reports-controller-metrics.yaml
  charts/kyverno/values.yaml
Labels: size:L, milestone 1.15.0

#13421 Fix: use the introduced testResult.patchResources field if provided
  cmd/cli/kubectl-kyverno/commands/test/command.go
  test/cli/test-mutating-admission-policy/check-labels/expected-patched.yaml
  test/cli/test-mutating-admission-policy/check-labels/resource1.yaml
Labels: cherry-pick-required, size:S, milestone 1.14.4

#13420 Init MutatingPolicy support in the CLI test command
  Makefile
  cmd/cli/kubectl-kyverno/apis/v1alpha1/test_result.go
  cmd/cli/kubectl-kyverno/commands/test/command.go
  cmd/cli/kubectl-kyverno/commands/test/output.go
  cmd/cli/kubectl-kyverno/commands/test/test.go
  cmd/cli/kubectl-kyverno/config/crds/cli.kyverno.io_tests.yaml
  cmd/cli/kubectl-kyverno/data/crds/cli.kyverno.io_tests.yaml
  cmd/cli/kubectl-kyverno/policy/load.go
  cmd/cli/kubectl-kyverno/processor/policy_processor.go
  docs/user/cli/crd/index.html
  docs/user/cli/crd/kyverno_kubectl.v1alpha1.html
  pkg/cel/policies/mpol/engine/provider.go
  test/cli/test-mutating-policy/mutating-label/kyverno-test.yaml
  test/cli/test-mutating-policy/mutating-label/patchedResource.yaml
  test/cli/test-mutating-policy/mutating-label/policy.yaml
  test/cli/test-mutating-policy/mutating-label/resource.yaml
Labels: size:L, milestone 1.15.0

#13423 feat: add support for configuring controller runtime bind address
  charts/kyverno/README.md
  charts/kyverno/templates/_helpers.tpl
  charts/kyverno/templates/admission-controller/deployment.yaml
  charts/kyverno/values.yaml
  cmd/kyverno/main.go
  config/install-latest-testing.yaml
Labels: cherry-pick-required, size:M, milestone 1.14.4

#13433 Add chainsaw test for dpol: cel-libraries
  test/conformance/chainsaw/deleting-policies/cel-lib/http-lib/README.md
  test/conformance/chainsaw/deleting-policies/cel-lib/http-lib/chainsaw-test.yaml
  test/conformance/chainsaw/deleting-policies/cel-lib/http-lib/pod-assert.yaml
  test/conformance/chainsaw/deleting-policies/cel-lib/http-lib/pod.yaml
  test/conformance/chainsaw/deleting-policies/cel-lib/http-lib/policy.yaml
  test/conformance/chainsaw/deleting-policies/cel-lib/http-lib/rbac.yaml
  test/conformance/chainsaw/deleting-policies/cel-lib/resource-lib.yaml/README.md
  test/conformance/chainsaw/deleting-policies/cel-lib/resource-lib.yaml/chainsaw-test.yaml
  test/conformance/chainsaw/deleting-policies/cel-lib/resource-lib.yaml/configmap.yaml
  test/conformance/chainsaw/deleting-policies/cel-lib/resource-lib.yaml/pod-assert.yaml
  test/conformance/chainsaw/deleting-policies/cel-lib/resource-lib.yaml/pod.yaml
  test/conformance/chainsaw/deleting-policies/cel-lib/resource-lib.yaml/policy.yaml
  test/conformance/chainsaw/deleting-policies/cel-lib/resource-lib.yaml/rbac.yaml
Labels: size:L, milestone 1.15.0

#13442 feat: synchronize on GPOL update
  pkg/background/common/resource.go
  pkg/background/gpol/dynamic_watcher.go
  pkg/background/gpol/generate_controller.go
  pkg/cel/libs/context.go
  pkg/cel/libs/fake_context.go
  pkg/cel/policies/gpol/engine/engine.go
  pkg/policy/generate.go
  pkg/policy/gpol.go
  pkg/policy/policy_controller.go
  pkg/policy/updaterequest.go
  test/conformance/chainsaw/generating-policies/clone/sync/update-policy-to-disable-sync/chainsaw-test.yaml
  test/conformance/chainsaw/generating-policies/clone/sync/update-policy-to-disable-sync/downstream-assert.yaml
  test/conformance/chainsaw/generating-policies/clone/sync/update-policy-to-disable-sync/downstream-error.yaml
  test/conformance/chainsaw/generating-policies/clone/sync/update-policy-to-disable-sync/namespace.yaml
  test/conformance/chainsaw/generating-policies/clone/sync/update-policy-to-disable-sync/permissions.yaml
  test/conformance/chainsaw/generating-policies/clone/sync/update-policy-to-disable-sync/policy-assert.yaml
  test/conformance/chainsaw/generating-policies/clone/sync/update-policy-to-disable-sync/policy-modified.yaml
  test/conformance/chainsaw/generating-policies/clone/sync/update-policy-to-disable-sync/policy.yaml
  test/conformance/chainsaw/generating-policies/clone/sync/update-policy-to-disable-sync/source-modified.yaml
  test/conformance/chainsaw/generating-policies/clone/sync/update-policy-to-disable-sync/source.yaml
  test/conformance/chainsaw/generating-policies/clone/sync/update-policy-to-disable-sync/updated-downstream-assert.yaml
  test/conformance/chainsaw/generating-policies/data/sync/sync-modify-policy-and-downstream-another-kind/chainsaw-test.yaml
  test/conformance/chainsaw/generating-policies/data/sync/sync-modify-policy-and-downstream-another-kind/configmap-assert.yaml
  test/conformance/chainsaw/generating-policies/data/sync/sync-modify-policy-and-downstream-another-kind/configmap-error.yaml
  test/conformance/chainsaw/generating-policies/data/sync/sync-modify-policy-and-downstream-another-kind/namespace.yaml
  test/conformance/chainsaw/generating-policies/data/sync/sync-modify-policy-and-downstream-another-kind/networkpolicy-assert.yaml
  test/conformance/chainsaw/generating-policies/data/sync/sync-modify-policy-and-downstream-another-kind/policy-assert.yaml
  test/conformance/chainsaw/generating-policies/data/sync/sync-modify-policy-and-downstream-another-kind/policy-modified.yaml
  test/conformance/chainsaw/generating-policies/data/sync/sync-modify-policy-and-downstream-another-kind/policy.yaml
  test/conformance/chainsaw/generating-policies/data/sync/sync-modify-policy-and-downstream-data/chainsaw-test.yaml
  test/conformance/chainsaw/generating-policies/data/sync/sync-modify-policy-and-downstream-data/downstream-assert.yaml
  test/conformance/chainsaw/generating-policies/data/sync/sync-modify-policy-and-downstream-data/downstream-modified.yaml
  test/conformance/chainsaw/generating-policies/data/sync/sync-modify-policy-and-downstream-data/namespace.yaml
  test/conformance/chainsaw/generating-policies/data/sync/sync-modify-policy-and-downstream-data/policy-assert.yaml
  test/conformance/chainsaw/generating-policies/data/sync/sync-modify-policy-and-downstream-data/policy-modified.yaml
  test/conformance/chainsaw/generating-policies/data/sync/sync-modify-policy-and-downstream-data/policy.yaml
  test/conformance/chainsaw/generating-policies/data/sync/sync-modify-policy-and-downstream-name/chainsaw-test.yaml
  test/conformance/chainsaw/generating-policies/data/sync/sync-modify-policy-and-downstream-name/downstream-assert.yaml
  test/conformance/chainsaw/generating-policies/data/sync/sync-modify-policy-and-downstream-name/downstream-error.yaml
  test/conformance/chainsaw/generating-policies/data/sync/sync-modify-policy-and-downstream-name/downstream-modified.yaml
  test/conformance/chainsaw/generating-policies/data/sync/sync-modify-policy-and-downstream-name/namespace.yaml
  test/conformance/chainsaw/generating-policies/data/sync/sync-modify-policy-and-downstream-name/policy-assert.yaml
  test/conformance/chainsaw/generating-policies/data/sync/sync-modify-policy-and-downstream-name/policy-modified.yaml
  test/conformance/chainsaw/generating-policies/data/sync/sync-modify-policy-and-downstream-name/policy.yaml
  test/conformance/chainsaw/generating-policies/data/sync/update-policy-to-disable-sync/chainsaw-test.yaml
  test/conformance/chainsaw/generating-policies/data/sync/update-policy-to-disable-sync/configmap-assert.yaml
  test/conformance/chainsaw/generating-policies/data/sync/update-policy-to-disable-sync/configmap-error.yaml
  test/conformance/chainsaw/generating-policies/data/sync/update-policy-to-disable-sync/namespace.yaml
  test/conformance/chainsaw/generating-policies/data/sync/update-policy-to-disable-sync/policy-assert.yaml
  test/conformance/chainsaw/generating-policies/data/sync/update-policy-to-disable-sync/policy-modified.yaml
  test/conformance/chainsaw/generating-policies/data/sync/update-policy-to-disable-sync/policy.yaml
Labels: size:XL, milestone 1.15.0

#13443 [e2e] Add chainsaw test for Dpol: image-lib
  pkg/cel/policies/dpol/compiler/compiler.go
  test/conformance/chainsaw/deleting-policies/cel-lib/image-lib/chainsaw-test.yaml
  test/conformance/chainsaw/deleting-policies/cel-lib/image-lib/pod-assert.yaml
  test/conformance/chainsaw/deleting-policies/cel-lib/image-lib/pod.yaml
  test/conformance/chainsaw/deleting-policies/cel-lib/image-lib/policy.yaml
  test/conformance/chainsaw/deleting-policies/cel-lib/image-lib/rbac.yaml
Labels: size:M, milestone 1.15.0

#13439 feat: support mpol auto-generate rules for pod controllers
  api/policies.kyverno.io/v1alpha1/autogen.go
  api/policies.kyverno.io/v1alpha1/mutating_policy.go
  api/policies.kyverno.io/v1alpha1/zz_generated.deepcopy.go
  charts/kyverno/charts/crds/templates/policies.kyverno.io/policies.kyverno.io_mutatingpolicies.yaml
  cmd/cli/kubectl-kyverno/data/crds/policies.kyverno.io_mutatingpolicies.yaml
  config/crds/policies.kyverno.io/policies.kyverno.io_mutatingpolicies.yaml
  config/install-latest-testing.yaml
  docs/user/crd/index.html
  docs/user/crd/kyverno_cel_policies.v1alpha1.html
  pkg/cel/policies/mpol/autogen/autogen.go
  pkg/cel/policies/mpol/compiler/policy.go
  pkg/cel/policies/mpol/engine/provider.go
  pkg/cel/policies/mpol/engine/reconciler.go
  pkg/controllers/policystatus/mpol.go
  pkg/controllers/webhook/validating.go
  pkg/controllers/webhook/validating_test.go
  test/conformance/chainsaw/mutating-policies/autogen/standard/chainsaw-test.yaml
  test/conformance/chainsaw/mutating-policies/autogen/standard/deployments.yaml
  test/conformance/chainsaw/mutating-policies/autogen/standard/patched-resources.yaml
  test/conformance/chainsaw/mutating-policies/autogen/standard/policy-assert.yaml
  test/conformance/chainsaw/mutating-policies/autogen/standard/policy.yaml
Labels: size:XXL, milestone 1.15.0

#13446 Add chainsaw test for image-data library: dpol
  test/conformance/chainsaw/deleting-policies/cel-lib/image-data-lib/chainsaw-test.yaml
  test/conformance/chainsaw/deleting-policies/cel-lib/image-data-lib/pod-assert.yaml
  test/conformance/chainsaw/deleting-policies/cel-lib/image-data-lib/pod.yaml
  test/conformance/chainsaw/deleting-policies/cel-lib/image-data-lib/policy.yaml
  test/conformance/chainsaw/deleting-policies/cel-lib/image-data-lib/rbac.yaml
Labels: size:M, milestone 1.15.0

#13449 chore: run compilation checks upon mpol admission
  api/policies.kyverno.io/v1alpha1/mutating_policy.go
  api/policies.kyverno.io/v1alpha1/zz_generated.deepcopy.go
  charts/kyverno/charts/crds/templates/policies.kyverno.io/policies.kyverno.io_mutatingpolicies.yaml
  cmd/cli/kubectl-kyverno/data/crds/policies.kyverno.io_mutatingpolicies.yaml
  config/crds/policies.kyverno.io/policies.kyverno.io_mutatingpolicies.yaml
  config/install-latest-testing.yaml
  docs/user/crd/index.html
  docs/user/crd/kyverno_cel_policies.v1alpha1.html
  pkg/cel/policies/mpol/autogen/autogen_test.go
  pkg/cel/policies/mpol/validate.go
  pkg/webhooks/policy/handlers.go
  pkg/webhooks/policy/handlers_test.go
Labels: size:XXL, milestone 1.15.0

#13393 feat: context are not supported when using the CEL Expressions in validate rules
  pkg/validation/policy/validate.go
  test/conformance/chainsaw/policy-validation/cluster-policy/cel-expressions/chainsaw-test.yaml
  test/conformance/chainsaw/policy-validation/cluster-policy/cel-expressions/policy-3.yaml
Labels: size:M, milestone 1.15.0

#13458 chore(gpol): remove background from the API
  api/policies.kyverno.io/v1alpha1/generating_policy.go
  api/policies.kyverno.io/v1alpha1/zz_generated.deepcopy.go
  charts/kyverno/charts/crds/templates/policies.kyverno.io/policies.kyverno.io_generatingpolicies.yaml
  cmd/cli/kubectl-kyverno/data/crds/policies.kyverno.io_generatingpolicies.yaml
  config/crds/policies.kyverno.io/policies.kyverno.io_generatingpolicies.yaml
  config/install-latest-testing.yaml
  docs/user/crd/index.html
  docs/user/crd/kyverno_cel_policies.v1alpha1.html
  pkg/controllers/policystatus/controller.go
Labels: size:L, milestone 1.15.0

#13450 chore(gpol): add chainsaw tests
  pkg/background/gpol/dynamic_watcher.go
  pkg/background/gpol/generate_controller.go
  pkg/policy/gpol.go
  pkg/webhooks/resource/gpol/handler.go
  test/conformance/chainsaw/generating-policies/clone/sync/sync-delete-one-source/chainsaw-test.yaml
  test/conformance/chainsaw/generating-policies/clone/sync/sync-delete-one-source/downstream1-assert.yaml
  test/conformance/chainsaw/generating-policies/clone/sync/sync-delete-one-source/downstream2-assert.yaml
  test/conformance/chainsaw/generating-policies/clone/sync/sync-delete-one-source/downstream3-assert.yaml
  test/conformance/chainsaw/generating-policies/clone/sync/sync-delete-one-source/permissions.yaml
  test/conformance/chainsaw/generating-policies/clone/sync/sync-delete-one-source/policy-assert.yaml
  test/conformance/chainsaw/generating-policies/clone/sync/sync-delete-one-source/policy.yaml
  test/conformance/chainsaw/generating-policies/clone/sync/sync-delete-one-source/source.yaml
  test/conformance/chainsaw/generating-policies/clone/sync/sync-delete-one-source/trigger.yaml
  test/conformance/chainsaw/generating-policies/clone/sync/sync-delete-one-trigger/chainsaw-test.yaml
  test/conformance/chainsaw/generating-policies/clone/sync/sync-delete-one-trigger/first-downstream-assert.yaml
  test/conformance/chainsaw/generating-policies/clone/sync/sync-delete-one-trigger/namespaces.yaml
  test/conformance/chainsaw/generating-policies/clone/sync/sync-delete-one-trigger/permissions.yaml
  test/conformance/chainsaw/generating-policies/clone/sync/sync-delete-one-trigger/policy-assert.yaml
  test/conformance/chainsaw/generating-policies/clone/sync/sync-delete-one-trigger/policy.yaml
  test/conformance/chainsaw/generating-policies/clone/sync/sync-delete-one-trigger/second-downstream-assert.yaml
  test/conformance/chainsaw/generating-policies/clone/sync/sync-delete-one-trigger/source.yaml
  test/conformance/chainsaw/generating-policies/clone/sync/sync-delete-one-trigger/triggers.yaml
  test/conformance/chainsaw/generating-policies/clone/sync/sync-modify-one-source/chainsaw-test.yaml
  test/conformance/chainsaw/generating-policies/clone/sync/sync-modify-one-source/downstream1-assert.yaml
  test/conformance/chainsaw/generating-policies/clone/sync/sync-modify-one-source/downstream1-updated-assert.yaml
  test/conformance/chainsaw/generating-policies/clone/sync/sync-modify-one-source/downstream2-assert.yaml
  test/conformance/chainsaw/generating-policies/clone/sync/sync-modify-one-source/downstream3-assert.yaml
  test/conformance/chainsaw/generating-policies/clone/sync/sync-modify-one-source/permissions.yaml
  test/conformance/chainsaw/generating-policies/clone/sync/sync-modify-one-source/policy-assert.yaml
  test/conformance/chainsaw/generating-policies/clone/sync/sync-modify-one-source/policy.yaml
  test/conformance/chainsaw/generating-policies/clone/sync/sync-modify-one-source/source-modified.yaml
  test/conformance/chainsaw/generating-policies/clone/sync/sync-modify-one-source/source.yaml
  test/conformance/chainsaw/generating-policies/clone/sync/sync-modify-one-source/trigger.yaml
  test/conformance/chainsaw/generating-policies/clone/sync/sync-modify-policy-to-change-source/chainsaw-test.yaml
  test/conformance/chainsaw/generating-policies/clone/sync/sync-modify-policy-to-change-source/downstream-assert.yaml
  test/conformance/chainsaw/generating-policies/clone/sync/sync-modify-policy-to-change-source/new-downstream-assert.yaml
  test/conformance/chainsaw/generating-policies/clone/sync/sync-modify-policy-to-change-source/new-source.yaml
  test/conformance/chainsaw/generating-policies/clone/sync/sync-modify-policy-to-change-source/permissions.yaml
  test/conformance/chainsaw/generating-policies/clone/sync/sync-modify-policy-to-change-source/policy-assert.yaml
  test/conformance/chainsaw/generating-policies/clone/sync/sync-modify-policy-to-change-source/policy-modified.yaml
  test/conformance/chainsaw/generating-policies/clone/sync/sync-modify-policy-to-change-source/policy.yaml
  test/conformance/chainsaw/generating-policies/clone/sync/sync-modify-policy-to-change-source/source.yaml
  test/conformance/chainsaw/generating-policies/clone/sync/sync-modify-policy-to-change-source/trigger.yaml
  test/conformance/chainsaw/generating-policies/data/sync/sync-delete-one-trigger/chainsaw-test.yaml
  test/conformance/chainsaw/generating-policies/data/sync/sync-delete-one-trigger/first-downstream-assert.yaml
  test/conformance/chainsaw/generating-policies/data/sync/sync-delete-one-trigger/first-trigger.yaml
  test/conformance/chainsaw/generating-policies/data/sync/sync-delete-one-trigger/namespaces.yaml
  test/conformance/chainsaw/generating-policies/data/sync/sync-delete-one-trigger/policy-assert.yaml
  test/conformance/chainsaw/generating-policies/data/sync/sync-delete-one-trigger/policy.yaml
  test/conformance/chainsaw/generating-policies/data/sync/sync-delete-one-trigger/second-downstream-assert.yaml
  test/conformance/chainsaw/generating-policies/data/sync/sync-delete-one-trigger/second-trigger.yaml
  test/conformance/chainsaw/generating-policies/data/sync/sync-modify-policy-with-two-triggers/chainsaw-test.yaml
  test/conformance/chainsaw/generating-policies/data/sync/sync-modify-policy-with-two-triggers/downstream-assert.yaml
  test/conformance/chainsaw/generating-policies/data/sync/sync-modify-policy-with-two-triggers/downstream-modified.yaml
  test/conformance/chainsaw/generating-policies/data/sync/sync-modify-policy-with-two-triggers/namespace.yaml
  test/conformance/chainsaw/generating-policies/data/sync/sync-modify-policy-with-two-triggers/policy-assert.yaml
  test/conformance/chainsaw/generating-policies/data/sync/sync-modify-policy-with-two-triggers/policy-modified.yaml
  test/conformance/chainsaw/generating-policies/data/sync/sync-modify-policy-with-two-triggers/policy.yaml
Labels: size:XL, milestone 1.15.0

#11881 Fix the webhooks setting type
  charts/kyverno/templates/config/configmap.yaml
Labels: cherry-pick-required, size:XS, milestone 1.14.4

#13480 Add unit test for dpol
  pkg/cel/policies/dpol/engine/engine_test.go
Labels: size:L, milestone 1.15.0

#12557 fix: handle default timestamp format in logging
  pkg/logging/log.go
  pkg/logging/log_test.go
Labels: size:M, milestone 1.15.0

#13483 fix: add watcher for autogen resources and append all results to the …
  pkg/controllers/report/resource/controller.go
  pkg/controllers/report/utils/scanner.go
Labels: cherry-pick-required, size:S, milestone 1.14.5

#13453 [e2e] Add chainsaw test for dpol: schedule
  test/conformance/chainsaw/deleting-policies/schedule/README.md
  test/conformance/chainsaw/deleting-policies/schedule/chainsaw-test.yaml
  test/conformance/chainsaw/deleting-policies/schedule/pod-assert.yaml
  test/conformance/chainsaw/deleting-policies/schedule/pod.yaml
  test/conformance/chainsaw/deleting-policies/schedule/policy.yaml
  test/conformance/chainsaw/deleting-policies/schedule/rbac.yaml
Labels: size:L, milestone 1.15.0

#13494 Adding Kubermatic to Kyverno adopters list
  ADOPTERS.md
Labels: size:XS, milestone 1.15.0

#13447 Add chainsaw test for Dpol: globalcontext-lib
  test/conformance/chainsaw/deleting-policies/cel-lib/globalcontext-lib/chainsaw-test.yaml
  test/conformance/chainsaw/deleting-policies/cel-lib/globalcontext-lib/deployment.yaml
  test/conformance/chainsaw/deleting-policies/cel-lib/globalcontext-lib/gctxentry.yaml
  test/conformance/chainsaw/deleting-policies/cel-lib/globalcontext-lib/ns.yaml
  test/conformance/chainsaw/deleting-policies/cel-lib/globalcontext-lib/pod-assert.yaml
  test/conformance/chainsaw/deleting-policies/cel-lib/globalcontext-lib/pod.yaml
  test/conformance/chainsaw/deleting-policies/cel-lib/globalcontext-lib/policy.yaml
  test/conformance/chainsaw/deleting-policies/cel-lib/globalcontext-lib/rbac.yaml
Labels: size:L, milestone 1.15.0

#13495 feat: support polex for gpols
  api/policies.kyverno.io/v1alpha1/generating_policy.go
  charts/kyverno/templates/background-controller/clusterrole.yaml
  cmd/background-controller/main.go
  cmd/cli/kubectl-kyverno/processor/policy_processor.go
  config/install-latest-testing.yaml
  pkg/background/gpol/generate_controller.go
  pkg/cel/policies/gpol/compiler/compiler.go
  pkg/cel/policies/gpol/compiler/policy.go
  pkg/cel/policies/gpol/engine/engine.go
  pkg/cel/policies/gpol/engine/fetch.go
  pkg/cel/policies/gpol/engine/policy.go
  pkg/cel/policies/gpol/validate.go
  test/cli/test-generating-policy/clone/with-exceptions/context.yaml
  test/cli/test-generating-policy/clone/with-exceptions/exception.yaml
  test/cli/test-generating-policy/clone/with-exceptions/generated-resources1.yaml
  test/cli/test-generating-policy/clone/with-exceptions/generated-resources2.yaml
  test/cli/test-generating-policy/clone/with-exceptions/kyverno-test.yaml
  test/cli/test-generating-policy/clone/with-exceptions/policy.yaml
  test/cli/test-generating-policy/clone/with-exceptions/resource.yaml
  test/cli/test-generating-policy/data/with-exceptions/exception.yaml
  test/cli/test-generating-policy/data/with-exceptions/generated-resource1.yaml
  test/cli/test-generating-policy/data/with-exceptions/generated-resource2.yaml
  test/cli/test-generating-policy/data/with-exceptions/kyverno-test.yaml
  test/cli/test-generating-policy/data/with-exceptions/policy.yaml
  test/cli/test-generating-policy/data/with-exceptions/resource.yaml
  test/conformance/chainsaw/generating-policies/exceptions/clone-generate-secrets/chainsaw-test.yaml
  test/conformance/chainsaw/generating-policies/exceptions/clone-generate-secrets/exception.yaml
  test/conformance/chainsaw/generating-policies/exceptions/clone-generate-secrets/permissions.yaml
  test/conformance/chainsaw/generating-policies/exceptions/clone-generate-secrets/policy-assert.yaml
  test/conformance/chainsaw/generating-policies/exceptions/clone-generate-secrets/policy.yaml
  test/conformance/chainsaw/generating-policies/exceptions/clone-generate-secrets/secrets-assert.yaml
  test/conformance/chainsaw/generating-policies/exceptions/clone-generate-secrets/secrets-error.yaml
  test/conformance/chainsaw/generating-policies/exceptions/clone-generate-secrets/source.yaml
  test/conformance/chainsaw/generating-policies/exceptions/clone-generate-secrets/triggers.yaml
  test/conformance/chainsaw/generating-policies/exceptions/data-generate-cm/chainsaw-test.yaml
  test/conformance/chainsaw/generating-policies/exceptions/data-generate-cm/configmap-error.yaml
  test/conformance/chainsaw/generating-policies/exceptions/data-generate-cm/configmaps-assert.yaml
  test/conformance/chainsaw/generating-policies/exceptions/data-generate-cm/exception.yaml
  test/conformance/chainsaw/generating-policies/exceptions/data-generate-cm/policy-assert.yaml
  test/conformance/chainsaw/generating-policies/exceptions/data-generate-cm/policy.yaml
  test/conformance/chainsaw/generating-policies/exceptions/data-generate-cm/triggers.yaml
  test/conformance/chainsaw/generating-policies/reports/with-exceptions/chainsaw-test.yaml
  test/conformance/chainsaw/generating-policies/reports/with-exceptions/exception.yaml
  test/conformance/chainsaw/generating-policies/reports/with-exceptions/permissions.yaml
  test/conformance/chainsaw/generating-policies/reports/with-exceptions/policy-assert.yaml
  test/conformance/chainsaw/generating-policies/reports/with-exceptions/policy.yaml
  test/conformance/chainsaw/generating-policies/reports/with-exceptions/report-assert.yaml
  test/conformance/chainsaw/generating-policies/reports/with-exceptions/triggers.yaml
Labels: size:XL, milestone 1.15.0

#13415 Fix cleanup controller resource watch failure
  pkg/controllers/cleanup/controller.go
  pkg/controllers/cleanup/controller_test.go
Labels: size:L, milestone 1.15.0

#13414 feat: apply GPOLs in cluster mode in CLI
  cmd/cli/kubectl-kyverno/processor/policy_processor.go
  cmd/cli/kubectl-kyverno/utils/common/fetch.go
  test/conformance/chainsaw/cli/apply/apply-gpols-in-cluster-mode-with-context/chainsaw-test.yaml
  test/conformance/chainsaw/cli/apply/apply-gpols-in-cluster-mode-with-context/context.yaml
  test/conformance/chainsaw/cli/apply/apply-gpols-in-cluster-mode-with-context/policy.yaml
  test/conformance/chainsaw/cli/apply/apply-gpols-in-cluster-mode/chainsaw-test.yaml
  test/conformance/chainsaw/cli/apply/apply-gpols-in-cluster-mode/policy.yaml
Labels: size:L, milestone 1.15.0
