Repository kyverno/kyverno, pull requests merged in 2025-09, with the labels that each got.

#13923 chore: fix chainsaw tests
  .github/workflows/conformance.yaml
  test/conformance/chainsaw/generate-validating-admission-policy/validatingpolicy/check-deployment-labels/policy.yaml
  test/conformance/chainsaw/generate-validating-admission-policy/validatingpolicy/generation-config/enabled/policy.yaml
  test/conformance/chainsaw/generate-validating-admission-policy/validatingpolicy/missing-action/policy.yaml
  test/conformance/chainsaw/generate-validating-admission-policy/validatingpolicy/with-cel-exception/policy.yaml
  test/conformance/chainsaw/generate-validating-admission-policy/validatingpolicy/with-multiple-exceptions/policy.yaml
  test/conformance/chainsaw/validating-policies/exceptions/empty-policy-ref/README.md
  test/conformance/chainsaw/validating-policies/exceptions/empty-policy-ref/chainsaw-test.yaml
  test/conformance/chainsaw/validating-policies/exceptions/empty-policy-ref/exception.yaml
Labels: cherry-pick-required, size:M, milestone 1.15.2

#13924 feature: Split openreports CRD installation from controller flag enabling in the helm chart #13874
  charts/kyverno/Chart.lock
  charts/kyverno/Chart.yaml
  charts/kyverno/README.md
  charts/kyverno/ci/openreports-values.yaml
  charts/kyverno/templates/_helpers.tpl
  charts/kyverno/templates/reports-controller/deployment.yaml
  charts/kyverno/values.yaml
Labels: size:M, milestone 1.15.2

#13930 Cherry pick #13924
  charts/kyverno/Chart.lock
  charts/kyverno/Chart.yaml
  charts/kyverno/README.md
  charts/kyverno/ci/openreports-values.yaml
  charts/kyverno/templates/_helpers.tpl
  charts/kyverno/templates/reports-controller/deployment.yaml
  charts/kyverno/values.yaml
Labels: size:M

#13922 feat: generate VAPs from fine-grained exceptions
  pkg/admissionpolicy/builder.go
  test/conformance/chainsaw/generate-validating-admission-policy/validatingpolicy/with-finegrained-exception/bad-pod.yaml
  test/conformance/chainsaw/generate-validating-admission-policy/validatingpolicy/with-finegrained-exception/chainsaw-test.yaml
  test/conformance/chainsaw/generate-validating-admission-policy/validatingpolicy/with-finegrained-exception/exception.yaml
  test/conformance/chainsaw/generate-validating-admission-policy/validatingpolicy/with-finegrained-exception/good-pod.yaml
  test/conformance/chainsaw/generate-validating-admission-policy/validatingpolicy/with-finegrained-exception/policy.yaml
  test/conformance/chainsaw/generate-validating-admission-policy/validatingpolicy/with-finegrained-exception/skipped-pod.yaml
  test/conformance/chainsaw/generate-validating-admission-policy/validatingpolicy/with-finegrained-exception/validatingadmissionpolicy.yaml
  test/conformance/chainsaw/generate-validating-admission-policy/validatingpolicy/with-finegrained-exception/validatingadmissionpolicybinding.yaml
  test/conformance/chainsaw/generate-validating-admission-policy/validatingpolicy/with-finegrained-exception/validatingwebhookconfiguration.yaml
Labels: size:L, milestone 1.16.0

#13904 docs: improve API documentation clarity and fix typos
  docs/dev/api/README.md
Labels: size:S, milestone 1.16.0

#13896 feat: vpol performance metric
  charts/kyverno/README.md
  charts/kyverno/values.yaml
  cmd/kyverno/main.go
  config/install-latest-testing.yaml
  pkg/cel/policies/vpol/engine/engine.go
  pkg/cel/policies/vpol/engine/metrics.go
  pkg/controllers/report/utils/scanner.go
  pkg/metrics/metrics.go
  pkg/metrics/parsers.go
  pkg/metrics/vpol.go
Labels: size:L, milestone 1.16.0

#13963 feat: ivpol performance metric
  charts/kyverno/README.md
  charts/kyverno/values.yaml
  cmd/kyverno/main.go
  config/install-latest-testing.yaml
  pkg/cel/policies/ivpol/engine/engine.go
  pkg/cel/policies/ivpol/engine/metrics.go
  pkg/controllers/report/utils/scanner.go
  pkg/metrics/ivpol.go
  pkg/metrics/metrics.go
Labels: Documentation, size:L, milestone 1.16.0

#13972 fix: add mutation compiler errors
  pkg/cel/policies/mpol/compiler/compiler.go
  pkg/cel/policies/mpol/compiler/compiler_test.go
Labels: cherry-pick-required, size:M, milestone 1.15.2

#13952 fixing custom msg issue with pod controller
  docs/dev/reports/README.md
  pkg/autogen/v1/autogen.go
  pkg/autogen/v1/rule.go
  pkg/utils/report/results.go
Labels: size:M, milestone 1.16.0

#13885 fix invalid array acces
  pkg/controllers/report/aggregate/controller.go
Labels: size:XS, milestone 1.15.2

#14006 fix: Fix repository for helm hooks (cherry-pick #13933)
  charts/kyverno/README.md
  charts/kyverno/values.yaml
Labels: size:XS

#13966 Shorten helm hook names. Closes #13931
  charts/kyverno/templates/hooks/pre-delete-remove-mutatingwebhookconfiguration.yaml
  charts/kyverno/templates/hooks/pre-delete-remove-validatingwebhookconfiguration.yaml
Labels: cherry-pick-required, size:XS, milestone 1.15.2

#14023 chore: fix chainsaw tests (Cherry-pick #13923)
  .github/workflows/conformance.yaml
  test/conformance/chainsaw/generate-validating-admission-policy/validatingpolicy/check-deployment-labels/policy.yaml
  test/conformance/chainsaw/generate-validating-admission-policy/validatingpolicy/generation-config/enabled/policy.yaml
  test/conformance/chainsaw/generate-validating-admission-policy/validatingpolicy/missing-action/policy.yaml
  test/conformance/chainsaw/generate-validating-admission-policy/validatingpolicy/with-cel-exception/policy.yaml
  test/conformance/chainsaw/generate-validating-admission-policy/validatingpolicy/with-multiple-exceptions/policy.yaml
  test/conformance/chainsaw/validating-policies/exceptions/empty-policy-ref/README.md
  test/conformance/chainsaw/validating-policies/exceptions/empty-policy-ref/chainsaw-test.yaml
  test/conformance/chainsaw/validating-policies/exceptions/empty-policy-ref/exception.yaml
Labels: size:M

#14025 feat: support cel quantity lib
  pkg/cel/compiler/env.go
Labels: size:XS, milestone 1.16.0

#14030 Release v1.15.2
  charts/kyverno-policies/Chart.yaml
  charts/kyverno-policies/README.md
  charts/kyverno/Chart.lock
  charts/kyverno/Chart.yaml
  charts/kyverno/README.md
  charts/kyverno/charts/crds/Chart.yaml
  charts/kyverno/charts/crds/README.md
  charts/kyverno/charts/grafana/Chart.yaml
  charts/kyverno/charts/grafana/README.md
  config/install-latest-testing.yaml
Labels: size:M

#14034 Add Sophotech to adopters list
  ADOPTERS.md
Labels: size:XS, milestone 1.16.0

#14035 Correct minor typo (Cherry-pick #14033)
  charts/kyverno/README.md
  charts/kyverno/values.yaml
Labels: size:S

#14054 feat: Add Swiss Post as a Kyverno Adopter
  ADOPTERS.md
Labels: size:XS, milestone 1.16.0

#14055 feat: enable events for vpol
  cmd/kyverno/main.go
  pkg/engine/api/engineresponse.go
  pkg/event/events.go
  pkg/webhooks/resource/handlers.go
  pkg/webhooks/resource/validation/validation.go
  pkg/webhooks/resource/vpol/handler.go
  test/conformance/chainsaw/validating-policies/validation-actions/audit/chainsaw-test.yaml
  test/conformance/chainsaw/validating-policies/validation-actions/audit/event-assert.yaml
  test/conformance/chainsaw/validating-policies/validation-actions/deny/chainsaw-test.yaml
  test/conformance/chainsaw/validating-policies/validation-actions/deny/event-assert.yaml
  test/conformance/chainsaw/validating-policies/validation-actions/deny/policy.yaml
Labels: size:L, milestone 1.16.0

#14050 Add NamespacedDeletingPolicy and add common compiler interface for DeletingPolicies
  Makefile
  api/policies.kyverno.io/v1alpha1/deleting_policy.go
  api/policies.kyverno.io/v1alpha1/zz_generated.deepcopy.go
  api/policies.kyverno.io/v1alpha1/zz_generated.register.go
  charts/crds/templates/policies.kyverno.io/policies.kyverno.io_namespaceddeletingpolicies.yaml
  charts/kyverno/README.md
  charts/kyverno/charts/crds/templates/policies.kyverno.io/policies.kyverno.io_namespaceddeletingpolicies.yaml
  charts/kyverno/values.yaml
  cmd/cli/kubectl-kyverno/commands/apply/command.go
  cmd/cli/kubectl-kyverno/commands/test/test.go
  cmd/cli/kubectl-kyverno/policy/load.go
  cmd/cli/kubectl-kyverno/utils/common/fetch.go
  config/crds/policies.kyverno.io/policies.kyverno.io_namespaceddeletingpolicies.yaml
  config/install-latest-testing.yaml
  docs/user/crd/index.html
  docs/user/crd/kyverno_cel_policies.v1alpha1.html
  pkg/cel/policies/dpol/compiler/compiler.go
  pkg/cel/policies/dpol/compiler/compiler_test.go
  pkg/cel/policies/dpol/engine/engine.go
  pkg/cel/policies/dpol/engine/engine_test.go
  pkg/cel/policies/dpol/engine/fetch.go
  pkg/cel/policies/dpol/engine/policy.go
  pkg/cel/policies/dpol/engine/provider.go
  pkg/cel/policies/dpol/engine/provider_test.go
  pkg/cel/policies/dpol/validate.go
  pkg/client/clientset/versioned/typed/policies.kyverno.io/v1alpha1/fake/fake_namespaceddeletingpolicy.go
  pkg/client/clientset/versioned/typed/policies.kyverno.io/v1alpha1/fake/fake_policies.kyverno.io_client.go
  pkg/client/clientset/versioned/typed/policies.kyverno.io/v1alpha1/generated_expansion.go
  pkg/client/clientset/versioned/typed/policies.kyverno.io/v1alpha1/namespaceddeletingpolicy.go
  pkg/client/clientset/versioned/typed/policies.kyverno.io/v1alpha1/policies.kyverno.io_client.go
  pkg/client/informers/externalversions/generic.go
  pkg/client/informers/externalversions/policies.kyverno.io/v1alpha1/interface.go
  pkg/client/informers/externalversions/policies.kyverno.io/v1alpha1/namespaceddeletingpolicy.go
  pkg/client/listers/policies.kyverno.io/v1alpha1/expansion_generated.go
  pkg/client/listers/policies.kyverno.io/v1alpha1/namespaceddeletingpolicy.go
  pkg/clients/kyverno/policiesv1alpha1/client.generated.go
  pkg/clients/kyverno/policiesv1alpha1/namespaceddeletingpolicies/resource.generated.go
  pkg/controllers/deleting/controller.go
  pkg/engine/api/policy.go
  pkg/event/events.go
  pkg/metrics/deleting.go
  pkg/utils/admission/policy.go
Labels: size:XXL, milestone 1.16.0
