Repository kyverno/kyverno, pull requests merged in 2025-07, with the labels that each got.

#13300 Complete CLI fix command documentation with website URLs
  cmd/cli/kubectl-kyverno/commands/apply/doc.go
  cmd/cli/kubectl-kyverno/commands/jp/doc.go
  cmd/cli/kubectl-kyverno/commands/jp/function/doc.go
  cmd/cli/kubectl-kyverno/commands/jp/query/doc.go
  cmd/cli/kubectl-kyverno/commands/test/doc.go
  docs/user/cli/commands/kyverno_apply.md
  docs/user/cli/commands/kyverno_jp.md
  docs/user/cli/commands/kyverno_jp_function.md
  docs/user/cli/commands/kyverno_jp_query.md
  docs/user/cli/commands/kyverno_test.md
Labels: size:S, milestone 1.15.0

#13460 feat: support mpol for existing resources
  api/kyverno/v2/updaterequest_types.go
  api/policies.kyverno.io/v1alpha1/deleting_policy.go
  api/policies.kyverno.io/v1alpha1/mutating_policy.go
  api/policies.kyverno.io/v1alpha1/zz_generated.deepcopy.go
  charts/kyverno/charts/crds/templates/kyverno.io/kyverno.io_updaterequests.yaml
  charts/kyverno/charts/crds/templates/policies.kyverno.io/policies.kyverno.io_deletingpolicies.yaml
  charts/kyverno/charts/crds/templates/policies.kyverno.io/policies.kyverno.io_mutatingpolicies.yaml
  charts/kyverno/templates/background-controller/clusterrole.yaml
  cmd/background-controller/main.go
  cmd/cli/kubectl-kyverno/data/crds/policies.kyverno.io_deletingpolicies.yaml
  cmd/cli/kubectl-kyverno/data/crds/policies.kyverno.io_mutatingpolicies.yaml
  cmd/kyverno/main.go
  config/crds/kyverno/kyverno.io_updaterequests.yaml
  config/crds/policies.kyverno.io/policies.kyverno.io_deletingpolicies.yaml
  config/crds/policies.kyverno.io/policies.kyverno.io_mutatingpolicies.yaml
  config/install-latest-testing.yaml
  docs/user/crd/index.html
  docs/user/crd/kyverno_cel_policies.v1alpha1.html
  pkg/background/mpol/processor.go
  pkg/background/update_request_controller.go
  pkg/cel/policies/mpol/compiler/policy.go
  pkg/cel/policies/mpol/engine/engine.go
  pkg/cel/policies/mpol/engine/provider.go
  pkg/cel/policies/mpol/engine/reconciler.go
  pkg/webhooks/resource/mpol/handler.go
  test/conformance/chainsaw/mutating-policies/existing/same-trigger-target/chainsaw-test.yaml
  test/conformance/chainsaw/mutating-policies/existing/same-trigger-target/ns-assert.yaml
  test/conformance/chainsaw/mutating-policies/existing/same-trigger-target/ns-update.yaml
  test/conformance/chainsaw/mutating-policies/existing/same-trigger-target/ns.yaml
  test/conformance/chainsaw/mutating-policies/existing/same-trigger-target/policy-assert.yaml
  test/conformance/chainsaw/mutating-policies/existing/same-trigger-target/policy.yaml
Labels: size:XL, milestone 1.15.0

#12797 Add ability to set annotations on kyverno servicemonitors in helm chart
  charts/kyverno/README.md
  charts/kyverno/templates/admission-controller/servicemonitor.yaml
  charts/kyverno/templates/background-controller/servicemonitor.yaml
  charts/kyverno/templates/cleanup-controller/servicemonitor.yaml
  charts/kyverno/templates/reports-controller/servicemonitor.yaml
  charts/kyverno/values.yaml
Labels: size:S, milestone 1.15.0

#13512 chore(gpol): add chainsaw tests
  test/conformance/chainsaw/generating-policies/foreach/data/data-generate-nps/chainsaw-test.yaml
  test/conformance/chainsaw/generating-policies/foreach/data/data-generate-nps/downstream-assert.yaml
  test/conformance/chainsaw/generating-policies/foreach/data/data-generate-nps/downstream-error.yaml
  test/conformance/chainsaw/generating-policies/foreach/data/data-generate-nps/namespaces.yaml
  test/conformance/chainsaw/generating-policies/foreach/data/data-generate-nps/policy-assert.yaml
  test/conformance/chainsaw/generating-policies/foreach/data/data-generate-nps/policy.yaml
Labels: size:L, milestone 1.15.0

#13514 disallow celPreconditions without validate.cel
  pkg/policy/generate/validate.go
  pkg/policy/mutate/validate.go
  pkg/policy/validate/validate.go
  test/conformance/chainsaw/policy-validation/cluster-policy/cel-preconditions/README.md
  test/conformance/chainsaw/policy-validation/cluster-policy/cel-preconditions/chainsaw-test.yaml
  test/conformance/chainsaw/policy-validation/cluster-policy/cel-preconditions/generate-policy.yaml
  test/conformance/chainsaw/policy-validation/cluster-policy/cel-preconditions/mutate-policy.yaml
  test/conformance/chainsaw/policy-validation/cluster-policy/cel-preconditions/validate-policy.yaml
Labels: cherry-pick-required, size:L, milestone 1.15.0

#13517 Release v1.15.0-alpha.1
  charts/kyverno-policies/Chart.yaml
  charts/kyverno-policies/README.md
  charts/kyverno/Chart.yaml
  charts/kyverno/README.md
  charts/kyverno/charts/crds/Chart.yaml
  charts/kyverno/charts/crds/README.md
  charts/kyverno/charts/grafana/Chart.yaml
  charts/kyverno/charts/grafana/README.md
  config/install-latest-testing.yaml
Labels: size:L

#13524 render Openreports resources in the helm chart and propagate the value to flags
  .github/workflows/helm-test.yaml
  Makefile
  charts/kyverno/Chart.lock
  charts/kyverno/Chart.yaml
  charts/kyverno/README.md
  charts/kyverno/templates/admission-controller/deployment.yaml
  charts/kyverno/templates/reports-controller/clusterrole.yaml
  charts/kyverno/templates/reports-controller/deployment.yaml
  charts/kyverno/values.yaml
  config/install-latest-testing.yaml
Labels: cherry-pick-required, size:M, milestone 1.15.0

#13550 fix: optimized namespace fetching in policy processor and restmapper client
  cmd/cli/kubectl-kyverno/commands/apply/command.go
  cmd/cli/kubectl-kyverno/processor/policy_processor.go
  pkg/utils/restmapper/restmapper.go
Labels: size:S, milestone 1.16.0

#13553 Render Openreports resources in the helm chart and propagate the value to flags (cherry-pick #13524)
  .github/workflows/helm-test.yaml
  Makefile
  charts/kyverno/Chart.lock
  charts/kyverno/Chart.yaml
  charts/kyverno/README.md
  charts/kyverno/templates/admission-controller/deployment.yaml
  charts/kyverno/templates/reports-controller/clusterrole.yaml
  charts/kyverno/templates/reports-controller/deployment.yaml
  charts/kyverno/values.yaml
  config/install-latest-testing.yaml
Labels: size:M

#13556 call openreports make command before debug deploy
  Makefile
Labels: cherry-pick-required, size:XS, milestone 1.15.0

#13561 feat: generate maps given cel exceptions
  pkg/admissionpolicy/builder.go
  pkg/controllers/admissionpolicygenerator/generate-map.go
  pkg/controllers/admissionpolicygenerator/generate-vap.go
  pkg/controllers/admissionpolicygenerator/polex.go
  test/conformance/chainsaw/generate-mutating-admission-policy/with-cel-exceptions/chainsaw-test.yaml
  test/conformance/chainsaw/generate-mutating-admission-policy/with-cel-exceptions/exception.yaml
  test/conformance/chainsaw/generate-mutating-admission-policy/with-cel-exceptions/mutatingadmissionpolicy.yaml
  test/conformance/chainsaw/generate-mutating-admission-policy/with-cel-exceptions/mutatingadmissionpolicybinding.yaml
  test/conformance/chainsaw/generate-mutating-admission-policy/with-cel-exceptions/mutatingwebhookconfiguration.yaml
  test/conformance/chainsaw/generate-mutating-admission-policy/with-cel-exceptions/policy-assert.yaml
  test/conformance/chainsaw/generate-mutating-admission-policy/with-cel-exceptions/policy.yaml
  test/conformance/chainsaw/generate-mutating-admission-policy/with-multiple-exceptions/chainsaw-test.yaml
  test/conformance/chainsaw/generate-mutating-admission-policy/with-multiple-exceptions/exception.yaml
  test/conformance/chainsaw/generate-mutating-admission-policy/with-multiple-exceptions/mutatingadmissionpolicy.yaml
  test/conformance/chainsaw/generate-mutating-admission-policy/with-multiple-exceptions/mutatingadmissionpolicybinding.yaml
  test/conformance/chainsaw/generate-mutating-admission-policy/with-multiple-exceptions/mutatingwebhookconfiguration.yaml
  test/conformance/chainsaw/generate-mutating-admission-policy/with-multiple-exceptions/policy-assert.yaml
  test/conformance/chainsaw/generate-mutating-admission-policy/with-multiple-exceptions/policy.yaml
Labels: cherry-pick-required, size:L, milestone 1.15.0

#13518 Add unit test for mpol
  api/policies.kyverno.io/v1alpha1/mutating_policy_test.go
  pkg/cel/policies/mpol/autogen/autogen_test.go
  pkg/cel/policies/mpol/compiler/compiler.go
  pkg/cel/policies/mpol/compiler/compiler_test.go
  pkg/cel/policies/mpol/compiler/policy_test.go
  pkg/cel/policies/mpol/engine/engine.go
  pkg/cel/policies/mpol/engine/engine_test.go
  pkg/cel/policies/mpol/engine/predicate_test.go
  pkg/cel/policies/mpol/engine/provider_test.go
  pkg/cel/policies/mpol/engine/reconciler_test.go
  pkg/cel/policies/mpol/validate_test.go
Labels: cherry-pick-required, size:XXL, milestone 1.15.0

#13570 Improve VPOL performance
  cmd/kyverno/__debug_bin3691443181
  cmd/kyverno/main.go
  pkg/webhooks/resource/validation/utils.go
  pkg/webhooks/resource/validation/validation.go
  pkg/webhooks/resource/vpol/handler.go
Labels: cherry-pick-required, size:S, milestone 1.15.0

#13573 fix: generate map tests
  scripts/config/kind/vap-v1beta1.yaml
  test/conformance/chainsaw/generate-mutating-admission-policy/with-cel-exceptions/chainsaw-test.yaml
  test/conformance/chainsaw/generate-mutating-admission-policy/with-multiple-exceptions/chainsaw-test.yaml
Labels: cherry-pick-required, size:S, milestone 1.15.0

#13574 init apiserver client in kyverno pre
  cmd/kyverno-init/main.go
Labels: cherry-pick-required, size:XS, milestone 1.15.0

#13571 fix: restore dynamic watchers cache for GPOLs
  api/kyverno/v2/updaterequest_types.go
  charts/kyverno/charts/crds/templates/kyverno.io/kyverno.io_updaterequests.yaml
  cmd/cli/kubectl-kyverno/processor/policy_processor.go
  config/crds/kyverno/kyverno.io_updaterequests.yaml
  config/install-latest-testing.yaml
  docs/user/crd/index.html
  docs/user/crd/kyverno.v2.html
  pkg/background/gpol/dynamic_watcher.go
  pkg/background/gpol/generate_controller.go
  pkg/cel/libs/context.go
  pkg/cel/libs/fake_context.go
  pkg/cel/policies/dpol/compiler/policy_test.go
  pkg/cel/policies/dpol/engine/engine_test.go
  pkg/cel/policies/gpol/engine/engine.go
  pkg/cel/policies/mpol/compiler/policy_test.go
  pkg/cel/policies/mpol/engine/engine_test.go
  pkg/policy/generate.go
  pkg/policy/gpol.go
  pkg/policy/policy_controller.go
  pkg/policy/updaterequest.go
  pkg/webhooks/resource/gpol/utils.go
  test/conformance/chainsaw/generating-policies/clone/sync/sync-delete-downstream/chainsaw-test.yaml
  test/conformance/chainsaw/generating-policies/clone/sync/sync-delete-one-source/chainsaw-test.yaml
  test/conformance/chainsaw/generating-policies/clone/sync/sync-delete-one-trigger/chainsaw-test.yaml
  test/conformance/chainsaw/generating-policies/clone/sync/sync-delete-policy/chainsaw-test.yaml
  test/conformance/chainsaw/generating-policies/clone/sync/sync-delete-source/chainsaw-test.yaml
  test/conformance/chainsaw/generating-policies/clone/sync/sync-delete-trigger/chainsaw-test.yaml
  test/conformance/chainsaw/generating-policies/clone/sync/sync-modify-downstream/chainsaw-test.yaml
  test/conformance/chainsaw/generating-policies/clone/sync/sync-modify-one-source/chainsaw-test.yaml
  test/conformance/chainsaw/generating-policies/clone/sync/sync-modify-policy-to-change-source/chainsaw-test.yaml
  test/conformance/chainsaw/generating-policies/clone/sync/sync-modify-source/chainsaw-test.yaml
  test/conformance/chainsaw/generating-policies/clone/sync/update-policy-to-disable-sync/chainsaw-test.yaml
  test/conformance/chainsaw/generating-policies/data/sync/sync-delete-downstream/chainsaw-test.yaml
  test/conformance/chainsaw/generating-policies/data/sync/sync-delete-one-trigger/chainsaw-test.yaml
  test/conformance/chainsaw/generating-policies/data/sync/sync-delete-policy-with-orphan-downstream/chainsaw-test.yaml
  test/conformance/chainsaw/generating-policies/data/sync/sync-delete-policy-without-orphan-downstream/chainsaw-test.yaml
  test/conformance/chainsaw/generating-policies/data/sync/sync-delete-trigger/chainsaw-test.yaml
  test/conformance/chainsaw/generating-policies/data/sync/sync-modify-downstream/chainsaw-test.yaml
  test/conformance/chainsaw/generating-policies/data/sync/sync-modify-policy-and-downstream-another-kind/chainsaw-test.yaml
  test/conformance/chainsaw/generating-policies/data/sync/sync-modify-policy-and-downstream-data/chainsaw-test.yaml
  test/conformance/chainsaw/generating-policies/data/sync/sync-modify-policy-and-downstream-name/chainsaw-test.yaml
  test/conformance/chainsaw/generating-policies/data/sync/sync-modify-policy-with-two-triggers/chainsaw-test.yaml
  test/conformance/chainsaw/generating-policies/data/sync/update-policy-to-disable-sync/chainsaw-test.yaml
  test/conformance/chainsaw/generating-policies/exceptions/clone-generate-secrets/chainsaw-test.yaml
  test/conformance/chainsaw/generating-policies/exceptions/data-generate-cm/chainsaw-test.yaml
  test/conformance/chainsaw/generating-policies/foreach/clone/clone-list-sync-create/chainsaw-test.yaml
  test/conformance/chainsaw/generating-policies/foreach/clone/clone-sync-create/chainsaw-test.yaml
  test/conformance/chainsaw/generating-policies/foreach/data/data-filtered-resource/chainsaw-test.yaml
  test/conformance/chainsaw/generating-policies/foreach/data/data-generate-nps/chainsaw-test.yaml
  test/conformance/chainsaw/generating-policies/foreach/data/data-indexed-resource/chainsaw-test.yaml
  test/conformance/chainsaw/generating-policies/foreach/data/data-sync-create/chainsaw-test.yaml
  test/conformance/chainsaw/generating-policies/reports/error-generating-resource/chainsaw-test.yaml
  test/conformance/chainsaw/generating-policies/reports/generate-cm/chainsaw-test.yaml
  test/conformance/chainsaw/generating-policies/reports/generate-secrets/chainsaw-test.yaml
  test/conformance/chainsaw/generating-policies/reports/with-exceptions/chainsaw-test.yaml
Labels: cherry-pick-required, size:L, milestone 1.15.0

#13554 chore: add mpol policyexception Chainsaw tests
  pkg/background/mpol/processor.go
  pkg/cel/policies/mpol/compiler/eval.go
  pkg/cel/policies/mpol/compiler/policy.go
  pkg/cel/policies/mpol/compiler/policy_test.go
  pkg/cel/policies/mpol/engine/engine.go
  pkg/cel/policies/mpol/engine/engine_test.go
  test/conformance/chainsaw/mutating-policies/exceptions/regular/chainsaw-test.yaml
  test/conformance/chainsaw/mutating-policies/exceptions/regular/exception.yaml
  test/conformance/chainsaw/mutating-policies/exceptions/regular/good-deployment-assert.yaml
  test/conformance/chainsaw/mutating-policies/exceptions/regular/good-deployment.yaml
  test/conformance/chainsaw/mutating-policies/exceptions/regular/policy.yaml
  test/conformance/chainsaw/mutating-policies/exceptions/regular/skipped-deployment.yaml
Labels: cherry-pick-required, size:L, milestone 1.15.0

#13601 fix: gce for audit reporting
  cmd/reports-controller/main.go
  pkg/controllers/report/background/controller.go
  pkg/controllers/report/utils/scanner.go
  test/conformance/chainsaw/validating-policies/report/background/globalcontextentry/chainsaw-test.yaml
  test/conformance/chainsaw/validating-policies/report/background/globalcontextentry/globalcontextentry.yaml
  test/conformance/chainsaw/validating-policies/report/background/globalcontextentry/policy.yaml
  test/conformance/chainsaw/validating-policies/report/background/globalcontextentry/test-deployment.yaml
  test/conformance/chainsaw/validating-policies/report/background/standard/chainsaw-test.yaml
  test/conformance/chainsaw/validating-policies/report/background/standard/deployment.yaml
  test/conformance/chainsaw/validating-policies/report/background/standard/policy-assert.yaml
  test/conformance/chainsaw/validating-policies/report/background/standard/policy.yaml
  test/conformance/chainsaw/validating-policies/report/background/standard/report.yaml
Labels: cherry-pick-required, size:L, milestone 1.15.0

#13607 chore: add a chainsaw test
  test/conformance/chainsaw/cli/apply/apply-vps-in-cluster-mode-with-context/chainsaw-test.yaml
  test/conformance/chainsaw/cli/apply/apply-vps-in-cluster-mode-with-context/configmap.yaml
  test/conformance/chainsaw/cli/apply/apply-vps-in-cluster-mode-with-context/pods.yaml
  test/conformance/chainsaw/cli/apply/apply-vps-in-cluster-mode-with-context/policy.yaml
Labels: cherry-pick-required, size:M, milestone 1.15.0

#13610 fix: reporting for mutate existing policy
  pkg/background/mpol/log.go
  pkg/background/mpol/processor.go
  pkg/background/update_request_controller.go
  test/conformance/chainsaw/mutating-policies/existing/different-trigger-target/chainsaw-test.yaml
  test/conformance/chainsaw/mutating-policies/reporting/different-trigger-target/chainsaw-test.yaml
  test/conformance/chainsaw/mutating-policies/reporting/different-trigger-target/configmaps-assert.yaml
  test/conformance/chainsaw/mutating-policies/reporting/different-trigger-target/configmaps.yaml
  test/conformance/chainsaw/mutating-policies/reporting/different-trigger-target/policy-assert.yaml
  test/conformance/chainsaw/mutating-policies/reporting/different-trigger-target/policy.yaml
  test/conformance/chainsaw/mutating-policies/reporting/different-trigger-target/policyreport-assert.yaml
  test/conformance/chainsaw/mutating-policies/reporting/different-trigger-target/test-namespace-update.yaml
  test/conformance/chainsaw/mutating-policies/reporting/different-trigger-target/test-namespace.yaml
Labels: cherry-pick-required, size:L, milestone 1.15.0

#13628 install oras in testing flow as its required by policies lib tests
  .github/workflows/conformance.yaml
  test/conformance/chainsaw/mutating-policies/reporting/different-trigger-target/chainsaw-test.yaml
  test/conformance/chainsaw/mutating-policies/reporting/different-trigger-target/policy-assert.yaml
Labels: size:M, milestone 1.16.0

#13636 fix: handle nil namespace pointer in CLI mode for ValidatingPolicies …
  pkg/cel/matching/predicates/namespace/matcher.go
  pkg/cel/matching/predicates/namespace/matcher_test.go
Labels: cherry-pick-required, size:L, milestone 1.15.0

#13651 Cherry pick retry report informer init
  cmd/background-controller/main.go
  cmd/kyverno/main.go
  cmd/reports-controller/main.go
  pkg/background/generate/controller.go
  pkg/background/gpol/generate_controller.go
  pkg/background/mpol/processor.go
  pkg/background/mutate/mutate.go
  pkg/background/update_request_controller.go
  pkg/breaker/breaker.go
  pkg/controllers/report/background/controller.go
  pkg/webhooks/resource/handlers.go
  pkg/webhooks/resource/imageverification/handler.go
  pkg/webhooks/resource/mpol/handler.go
  pkg/webhooks/resource/mutation/mutation.go
  pkg/webhooks/resource/validation/validation.go
  pkg/webhooks/resource/vpol/handler.go
Labels: size:L

#13564 add tag to identifier when given with digest in image
  pkg/engine/adapters/rclient.go
  pkg/engine/adapters/rclient_test.go
Labels: cherry-pick-required, size:L, milestone 1.15.0

#13670 chore: fix chainsaw test
  test/conformance/chainsaw/generating-policies/data/nosync/generate-on-eviction-subresource-trigger/chainsaw-test.yaml
Labels: cherry-pick-required, size:XS, milestone 1.15.0

#13656 Support forceFailurePolicyIgnore in `vpol` `mpol` `ivpol`
  api/policies.kyverno.io/v1alpha1/imagevalidating_policy.go
  api/policies.kyverno.io/v1alpha1/mutating_policy.go
  api/policies.kyverno.io/v1alpha1/validating_policy.go
  test/conformance/chainsaw/force-failure-policy-ignore/image-validating-policy/fail/README.md
  test/conformance/chainsaw/force-failure-policy-ignore/image-validating-policy/fail/chainsaw-test.yaml
  test/conformance/chainsaw/force-failure-policy-ignore/image-validating-policy/fail/policy.yaml
  test/conformance/chainsaw/force-failure-policy-ignore/image-validating-policy/fail/webhooks.yaml
  test/conformance/chainsaw/force-failure-policy-ignore/mutating-policy/fail/README.md
  test/conformance/chainsaw/force-failure-policy-ignore/mutating-policy/fail/chainsaw-test.yaml
  test/conformance/chainsaw/force-failure-policy-ignore/mutating-policy/fail/policy.yaml
  test/conformance/chainsaw/force-failure-policy-ignore/mutating-policy/fail/webhooks.yaml
  test/conformance/chainsaw/force-failure-policy-ignore/validating-policy/fail/README.md
  test/conformance/chainsaw/force-failure-policy-ignore/validating-policy/fail/chainsaw-test.yaml
  test/conformance/chainsaw/force-failure-policy-ignore/validating-policy/fail/policy.yaml
  test/conformance/chainsaw/force-failure-policy-ignore/validating-policy/fail/webhooks.yaml
Labels: cherry-pick-required, size:L, milestone 1.15.0

#13681 chore: fix chainsaw test
  test/conformance/chainsaw/generating-policies/data/nosync/generate-on-eviction-subresource-trigger/chainsaw-test.yaml
Labels: cherry-pick-required, size:XS, milestone 1.15.0

#13661 Release v1.15.0-rc.2
  charts/kyverno-policies/Chart.yaml
  charts/kyverno-policies/README.md
  charts/kyverno/Chart.lock
  charts/kyverno/Chart.yaml
  charts/kyverno/README.md
  charts/kyverno/charts/crds/Chart.yaml
  charts/kyverno/charts/crds/README.md
  charts/kyverno/charts/grafana/Chart.yaml
  charts/kyverno/charts/grafana/README.md
  config/install-latest-testing.yaml
Labels: size:M

#13703 Release v1.15.0-rc.4
  Makefile
  charts/kyverno-policies/Chart.yaml
  charts/kyverno-policies/README.md
  charts/kyverno/Chart.lock
  charts/kyverno/Chart.yaml
  charts/kyverno/README.md
  charts/kyverno/charts/crds/Chart.yaml
  charts/kyverno/charts/crds/README.md
  charts/kyverno/charts/grafana/Chart.yaml
  charts/kyverno/charts/grafana/README.md
  config/install-latest-testing.yaml
Labels: size:L

#13625 fix: display resource names for excluded resources in kyverno test output
  cmd/cli/kubectl-kyverno/commands/test/output.go
  cmd/cli/kubectl-kyverno/commands/test/output_excluded_test.go
Labels: size:L, milestone 1.16.0

#13694 chore(deps): bump github.com/open-policy-agent/opa from 1.1.0 to 1.4.0
  go.mod
  go.sum
Labels: size:M, milestone 1.14.5

#13721 Release v1.15.0
  Makefile
  charts/kyverno-policies/Chart.yaml
  charts/kyverno-policies/README.md
  charts/kyverno/Chart.lock
  charts/kyverno/Chart.yaml
  charts/kyverno/README.md
  charts/kyverno/charts/crds/Chart.yaml
  charts/kyverno/charts/crds/README.md
  charts/kyverno/charts/grafana/Chart.yaml
  charts/kyverno/charts/grafana/README.md
  config/install-latest-testing.yaml
Labels: size:M

#13723 chore: update bug templates
  .github/ISSUE_TEMPLATE/bug-cli.yaml
  .github/ISSUE_TEMPLATE/bug-other.yaml
  .github/ISSUE_TEMPLATE/bug-webhook.yaml
Labels: size:S, milestone 1.16.0
