Repository kyverno/kyverno, pull requests merged in 2025-05, with the labels that each got.

#12983 Update ADOPTERS.md
  ADOPTERS.md
Labels: size:XS, milestone 1.14.1

#12987 chore: use GetRESTMapper()
  cmd/cli/kubectl-kyverno/commands/apply/command.go
  cmd/cli/kubectl-kyverno/commands/test/test.go
  cmd/cli/kubectl-kyverno/processor/policy_processor.go
  cmd/cli/kubectl-kyverno/processor/utils.go
  pkg/utils/restmapper/restmapper.go
Labels: cherry-pick-required, size:M, milestone 1.14.2

#12994 cherry pick
  .github/workflows/clean-stale-branches.yaml
Labels: size:XS

#12980 fix: get kinds from vaps, vpols, and ivpols
  cmd/cli/kubectl-kyverno/utils/common/fetch.go
  pkg/admissionpolicy/validate.go
  pkg/admissionpolicy/validate_test.go
  pkg/controllers/report/resource/controller.go
Labels: cherry-pick-required, size:L, milestone 1.14.2

#13006 refactor: move image extraction in in cel/compiler
  pkg/cel/compiler/images.go
  pkg/cel/compiler/images_test.go
  pkg/imageverification/evaluator/compiler.go
  pkg/imageverification/evaluator/policy.go
  pkg/imageverification/variables/attest.go
Labels: cherry-pick-required, size:M, milestone 1.14.2

#13016 chore: create a dedicated cluster when generating api-group-resources (cherry-pick #13015)
  Makefile
  scripts/config/kind/codegen.yaml
Labels: size:XS

#12990 refactor: edit warning message in test cli
  cmd/cli/kubectl-kyverno/deprecations/check.go
Labels: cherry-pick-required, size:XS, milestone 1.14.2

#13026 feat: support image extraction from old object
  pkg/cel/compiler/images.go
  pkg/cel/compiler/images_test.go
  pkg/imageverification/evaluator/compiler.go
Labels: cherry-pick-required, size:L, milestone 1.14.2

#13036 refactor: simplify image lib
  pkg/cel/libs/image/impl.go
  pkg/cel/libs/image/lib.go
  pkg/cel/libs/image/lib_test.go
  pkg/cel/libs/image/types.go
Labels: cherry-pick-required, size:L, milestone 1.14.2

#13038 fix: don't register custom libs when compiling match conditions (cherry-pick #13032)
  pkg/cel/policies/vpol/compiler/compiler.go
Labels: size:S

#13035 fix: use the generic policy in the CLI
  cmd/cli/kubectl-kyverno/commands/apply/command.go
  cmd/cli/kubectl-kyverno/commands/test/test.go
  cmd/cli/kubectl-kyverno/utils/common/common.go
  cmd/cli/kubectl-kyverno/utils/common/fetch.go
  cmd/cli/kubectl-kyverno/utils/common/kyverno_resources_types.go
  cmd/cli/kubectl-kyverno/utils/common/validating_admission_resources.go
Labels: size:L, milestone 1.14.2

#13040 chore: fix names in tests
  test/conformance/chainsaw/validating-policies/autogen/autogen-deployments-cronjobs/policy.yaml
  test/conformance/chainsaw/validating-policies/autogen/autogen-deployments-statefulsets/policy.yaml
  test/conformance/chainsaw/validating-policies/autogen/none/policy.yaml
  test/conformance/chainsaw/validating-policies/autogen/should-autogen/policy.yaml
  test/conformance/chainsaw/validating-policies/autogen/should-not-autogen/policy.yaml
  test/conformance/chainsaw/validating-policies/validation-checks/invalid-action/policy.yaml
  test/conformance/chainsaw/validating-policies/validation-rules/with-match-conditions/policy.yaml
  test/conformance/chainsaw/validating-policies/webhook-configuration/match-conditions/policy.yaml
  test/conformance/chainsaw/validating-policies/webhook-configuration/match-conditions/webhooks.yaml
Labels: cherry-pick-required, size:S, milestone 1.14.2

#13045 feat: add globalContext lib overload
  pkg/cel/libs/globalcontext/impl.go
  pkg/cel/libs/globalcontext/impl_test.go
  pkg/cel/libs/globalcontext/lib.go
Labels: cherry-pick-required, size:L, milestone 1.14.2

#13047 fix: cel image lib and add unit tests
  pkg/cel/libs/image/types.go
  pkg/cel/libs/image/types_test.go
Labels: cherry-pick-required, size:L, milestone 1.14.2

#13049 chore: add missing tests in cel imagedata lib
  pkg/cel/libs/imagedata/impl.go
  pkg/cel/libs/imagedata/impl_test.go
Labels: cherry-pick-required, size:M, milestone 1.14.2

#13053 chore: remove unused function in CLI
  cmd/cli/kubectl-kyverno/utils/common/fetch.go
Labels: cherry-pick-required, size:S, milestone 1.14.2

#13054 refactor: use resource fetcher in the CLI
  cmd/cli/kubectl-kyverno/utils/common/common.go
  cmd/cli/kubectl-kyverno/utils/common/fetch.go
Labels: cherry-pick-required, size:L, milestone 1.14.2

#13063 Update ADOPTERS.md with Finastra
  ADOPTERS.md
Labels: size:XS, milestone 1.15.0

#13061 refactor: cel resource lib to remove util functions
  pkg/cel/libs/resource/impl.go
  pkg/cel/libs/resource/impl_test.go
  pkg/cel/libs/resource/lib.go
  pkg/cel/libs/resource/utils.go
  pkg/cel/libs/resource/utils_test.go
Labels: cherry-pick-required, size:L, milestone 1.14.2

#13059 fix: use the generic policy in the CLI (cherry-pick #13035)
  cmd/cli/kubectl-kyverno/commands/apply/command.go
  cmd/cli/kubectl-kyverno/commands/test/test.go
  cmd/cli/kubectl-kyverno/utils/common/common.go
  cmd/cli/kubectl-kyverno/utils/common/fetch.go
  cmd/cli/kubectl-kyverno/utils/common/kyverno_resources_types.go
  cmd/cli/kubectl-kyverno/utils/common/validating_admission_resources.go
Labels: size:L

#13060 chore: update CLI warning messages
  cmd/cli/kubectl-kyverno/deprecations/check.go
Labels: cherry-pick-required, size:XS, milestone 1.14.2

#13065 refactor: cel libs mocks
  pkg/cel/libs/globalcontext/impl_test.go
  pkg/cel/libs/globalcontext/mock.go
  pkg/cel/libs/imagedata/impl_test.go
  pkg/cel/libs/imagedata/mock.go
  pkg/cel/libs/resource/impl_test.go
  pkg/cel/libs/resource/mock.go
  pkg/cel/policies/ivpol/engine/engine_test.go
Labels: cherry-pick-required, size:L, milestone 1.14.2

#13067 fix: proper error handling in cel policy engines
  pkg/cel/policies/vpol/compiler/compiler.go
  pkg/imageverification/evaluator/compiler.go
Labels: cherry-pick-required, size:XS, milestone 1.14.2

#13072 fix: CVE-2025-46569
  go.mod
  go.sum
Labels: size:L, milestone 1.13.6

#13078 chore: remove unused function in CLI (cherry-pick #13053)
  cmd/cli/kubectl-kyverno/utils/common/fetch.go
Labels: size:S

#13073 fix: changes if condition to check for RegExp field (Cherry-pick #12237)
  pkg/cosign/cosign.go
Labels: size:XS

#13071 chore: bump github.com/golang-jwt/jwt/v5 from 5.2.1 to 5.2.2
  go.mod
  go.sum
Labels: size:XS, milestone 1.14.2

#13079 chore: remove println statements
  pkg/cel/libs/http/impl.go
  pkg/cel/libs/http/lib.go
Labels: cherry-pick-required, size:S, milestone 1.14.2

#13080 refactor: use resource fetcher in the CLI (Cherry-pick #13054)
  cmd/cli/kubectl-kyverno/utils/common/common.go
  cmd/cli/kubectl-kyverno/utils/common/fetch.go
Labels: size:L

#13084 fix: apply VPs in cluster mode in the CLI
  cmd/cli/kubectl-kyverno/commands/apply/command.go
  cmd/cli/kubectl-kyverno/utils/common/fetch.go
  test/conformance/chainsaw/cli/apply/apply-vaps-in-cluster-mode/chainsaw-test.yaml
  test/conformance/chainsaw/cli/apply/apply-vaps-in-cluster-mode/deployment1.yaml
  test/conformance/chainsaw/cli/apply/apply-vaps-in-cluster-mode/deployment2.yaml
  test/conformance/chainsaw/cli/apply/apply-vaps-in-cluster-mode/policy.yaml
  test/conformance/chainsaw/cli/apply/apply-vps-in-cluster-mode/chainsaw-test.yaml
  test/conformance/chainsaw/cli/apply/apply-vps-in-cluster-mode/deployment1.yaml
  test/conformance/chainsaw/cli/apply/apply-vps-in-cluster-mode/deployment2.yaml
  test/conformance/chainsaw/cli/apply/apply-vps-in-cluster-mode/policy.yaml
Labels: cherry-pick-required, size:L, milestone 1.14.2

#13083 test: add cli test with namespaceObject
  cmd/cli/kubectl-kyverno/commands/fix/test/options.go
  test/cli/test-validating-policy/with-namespaceObject-2/kyverno-test.yaml
  test/cli/test-validating-policy/with-namespaceObject-2/policy.yaml
  test/cli/test-validating-policy/with-namespaceObject-2/resources.yaml
  test/cli/test-validating-policy/with-namespaceObject-2/values.yaml
Labels: cherry-pick-required, size:L, milestone 1.14.2

#13097 chore: improve cel libs unit tests env creation
  pkg/cel/libs/globalcontext/impl_test.go
  pkg/cel/libs/image/lib_test.go
  pkg/cel/libs/imagedata/impl_test.go
  pkg/cel/libs/imagedata/lib_test.go
  pkg/cel/libs/resource/lib_test.go
  pkg/cel/libs/user/impl_test.go
Labels: cherry-pick-required, size:M, milestone 1.14.2

#13094 fix: continue loop when a list error occurs
  pkg/background/generate/clone.go
Labels: cherry-pick-required, size:XS, milestone 1.14.2

#13100 chore: add missing unit tests in http lib
  pkg/cel/libs/http/impl.go
  pkg/cel/libs/http/impl_test.go
  pkg/cel/libs/resource/impl.go
  pkg/cel/utils/function.go
Labels: cherry-pick-required, size:L, milestone 1.14.2

#13104 refactor: webhook reconciliation for vpols and ivpols
  pkg/controllers/webhook/validatingpolicy.go
Labels: cherry-pick-required, size:L, milestone 1.14.2

#13098 fix: apply VPs in cluster mode in the CLI (cherry-pick #13084)
  cmd/cli/kubectl-kyverno/commands/apply/command.go
  cmd/cli/kubectl-kyverno/utils/common/fetch.go
  test/conformance/chainsaw/cli/apply/apply-vaps-in-cluster-mode/chainsaw-test.yaml
  test/conformance/chainsaw/cli/apply/apply-vaps-in-cluster-mode/deployment1.yaml
  test/conformance/chainsaw/cli/apply/apply-vaps-in-cluster-mode/deployment2.yaml
  test/conformance/chainsaw/cli/apply/apply-vaps-in-cluster-mode/policy.yaml
  test/conformance/chainsaw/cli/apply/apply-vps-in-cluster-mode/chainsaw-test.yaml
  test/conformance/chainsaw/cli/apply/apply-vps-in-cluster-mode/deployment1.yaml
  test/conformance/chainsaw/cli/apply/apply-vps-in-cluster-mode/deployment2.yaml
  test/conformance/chainsaw/cli/apply/apply-vps-in-cluster-mode/policy.yaml
Labels: size:L

#13108 chore: fix typo
  pkg/controllers/webhook/controller.go
Labels: cherry-pick-required, size:XS, milestone 1.14.2

#13095 feat: add mutatingpolicy api
  api/policies.kyverno.io/v1alpha1/mutatingpolicy.go
  api/policies.kyverno.io/v1alpha1/zz_generated.deepcopy.go
  api/policies.kyverno.io/v1alpha1/zz_generated.register.go
  config/crds/policies.kyverno.io/policies.kyverno.io_mutatingpolicies.yaml
  docs/user/crd/index.html
  docs/user/crd/kyverno_cel_policies.v1alpha1.html
  go.mod
  pkg/client/clientset/versioned/typed/policies.kyverno.io/v1alpha1/fake/fake_mutatingpolicy.go
  pkg/client/clientset/versioned/typed/policies.kyverno.io/v1alpha1/fake/fake_policies.kyverno.io_client.go
  pkg/client/clientset/versioned/typed/policies.kyverno.io/v1alpha1/generated_expansion.go
  pkg/client/clientset/versioned/typed/policies.kyverno.io/v1alpha1/mutatingpolicy.go
  pkg/client/clientset/versioned/typed/policies.kyverno.io/v1alpha1/policies.kyverno.io_client.go
  pkg/client/informers/externalversions/generic.go
  pkg/client/informers/externalversions/policies.kyverno.io/v1alpha1/interface.go
  pkg/client/informers/externalversions/policies.kyverno.io/v1alpha1/mutatingpolicy.go
  pkg/client/listers/policies.kyverno.io/v1alpha1/expansion_generated.go
  pkg/client/listers/policies.kyverno.io/v1alpha1/mutatingpolicy.go
  pkg/clients/kyverno/policiesv1alpha1/client.generated.go
  pkg/clients/kyverno/policiesv1alpha1/mutatingpolicies/resource.generated.go
Labels: size:XXL, milestone 1.15.0

#13101 fix: apply IVPs in cluster mode in the CLI
  cmd/cli/kubectl-kyverno/utils/common/fetch.go
  test/conformance/chainsaw/cli/apply/apply-ivps-in-cluster-mode-with-polex/chainsaw-test.yaml
  test/conformance/chainsaw/cli/apply/apply-ivps-in-cluster-mode-with-polex/exception.yaml
  test/conformance/chainsaw/cli/apply/apply-ivps-in-cluster-mode-with-polex/policy.yaml
  test/conformance/chainsaw/cli/apply/apply-ivps-in-cluster-mode-with-polex/resources.yaml
  test/conformance/chainsaw/cli/apply/apply-ivps-in-cluster-mode/bad-pod.yaml
  test/conformance/chainsaw/cli/apply/apply-ivps-in-cluster-mode/chainsaw-test.yaml
  test/conformance/chainsaw/cli/apply/apply-ivps-in-cluster-mode/good-pod.yaml
  test/conformance/chainsaw/cli/apply/apply-ivps-in-cluster-mode/policy.yaml
Labels: cherry-pick-required, size:L, milestone 1.14.2

#13114 handle nil matchConstraints in IVPOL
  pkg/cel/matching/criteria.go
  pkg/cel/matching/criteria_test.go
Labels: cherry-pick-required, size:S, milestone 1.14.2

#13057 Ensure spec.template.metadata isn't null
  charts/kyverno/Chart.yaml
  charts/kyverno/templates/hooks/post-delete-configmap.yaml
  charts/kyverno/templates/hooks/post-upgrade-clean-reports.yaml
  charts/kyverno/templates/hooks/post-upgrade-migrate-resources.yaml
  charts/kyverno/templates/hooks/pre-delete-scale-to-zero.yaml
Labels: cherry-pick-required, size:S, milestone 1.14.2

#13125 fix: remove the delete permission of exceptions
  charts/kyverno/Chart.yaml
  charts/kyverno/templates/admission-controller/clusterrole.yaml
  config/install-latest-testing.yaml
Labels: cherry-pick-required, size:M, milestone 1.14.2

#13127 fix: missing infos in ivpol autogen
  pkg/cel/policies/ivpol/engine/provider.go
  pkg/cel/policies/ivpol/engine/reconciler.go
  test/conformance/chainsaw/image-validating-policies/context/globalreference/chainsaw-test.yaml
Labels: cherry-pick-required, size:S, milestone 1.14.2

#13142 fix: skip chainsaw test based on deleted image
  test/conformance/chainsaw/verifyImages/clusterpolicy/standard/update-multi-containers/chainsaw-test.yaml
Labels: cherry-pick-required, size:XS, milestone 1.14.2

#13106 fix: inject policy names in webhook configs
  cmd/cli/kubectl-kyverno/commands/apply/command.go
  cmd/cli/kubectl-kyverno/commands/test/test.go
  cmd/cli/kubectl-kyverno/processor/policy_processor.go
  cmd/kyverno/main.go
  pkg/cel/engine/engine.go
  pkg/cel/policies/ivpol/engine/engine.go
  pkg/cel/policies/ivpol/engine/engine_test.go
  pkg/cel/policies/ivpol/engine/predicate.go
  pkg/cel/policies/vpol/engine/engine.go
  pkg/cel/policies/vpol/engine/predicate.go
  pkg/cel/policies/vpol/engine/provider.go
  pkg/controllers/report/utils/scanner.go
  pkg/controllers/webhook/controller.go
  pkg/controllers/webhook/validatingpolicy.go
  pkg/controllers/webhook/validatingpolicy_test.go
  pkg/webhooks/resource/ivpol/handler.go
  pkg/webhooks/resource/vpol/handler.go
  pkg/webhooks/server.go
  test/conformance/chainsaw/generate-validating-admission-policy/validatingpolicy/generation-config/default/validatingwebhookconfiguration.yaml
  test/conformance/chainsaw/generate-validating-admission-policy/validatingpolicy/generation-config/disabled/validatingwebhookconfiguration.yaml
  test/conformance/chainsaw/validating-policies/webhook-configuration/match-conditions/webhooks.yaml
  test/conformance/chainsaw/validating-policies/webhook-configuration/multiple/webhooks.yaml
  test/conformance/chainsaw/validating-policies/webhook-configuration/single/webhooks.yaml
  test/conformance/chainsaw/verifyImages/clusterpolicy/standard/update-multi-containers/policy.yaml
  test/conformance/chainsaw/verifyImages/clusterpolicy/standard/update-multi-containers/resource-v1.yaml
  test/conformance/chainsaw/verifyImages/clusterpolicy/standard/update-multi-containers/resource-v2.yaml
Labels: cherry-pick-required, size:XL, milestone 1.14.2

#11967 check vap and vapd with v1 version
  pkg/admissionpolicy/utils.go
Labels: cherry-pick-required, size:XS, milestone 1.14.2

#13139 chore: add the GeneratingPolicy API
  api/policies.kyverno.io/v1alpha1/generating_policy.go
  api/policies.kyverno.io/v1alpha1/zz_generated.deepcopy.go
  api/policies.kyverno.io/v1alpha1/zz_generated.register.go
  config/crds/policies.kyverno.io/policies.kyverno.io_generatingpolicies.yaml
  docs/user/crd/index.html
  docs/user/crd/kyverno_cel_policies.v1alpha1.html
  pkg/client/clientset/versioned/typed/policies.kyverno.io/v1alpha1/fake/fake_generatingpolicy.go
  pkg/client/clientset/versioned/typed/policies.kyverno.io/v1alpha1/fake/fake_policies.kyverno.io_client.go
  pkg/client/clientset/versioned/typed/policies.kyverno.io/v1alpha1/generated_expansion.go
  pkg/client/clientset/versioned/typed/policies.kyverno.io/v1alpha1/generatingpolicy.go
  pkg/client/clientset/versioned/typed/policies.kyverno.io/v1alpha1/policies.kyverno.io_client.go
  pkg/client/informers/externalversions/generic.go
  pkg/client/informers/externalversions/policies.kyverno.io/v1alpha1/generatingpolicy.go
  pkg/client/informers/externalversions/policies.kyverno.io/v1alpha1/interface.go
  pkg/client/listers/policies.kyverno.io/v1alpha1/expansion_generated.go
  pkg/client/listers/policies.kyverno.io/v1alpha1/generatingpolicy.go
  pkg/clients/kyverno/policiesv1alpha1/client.generated.go
  pkg/clients/kyverno/policiesv1alpha1/generatingpolicies/resource.generated.go
Labels: size:XXL, milestone 1.15.0

#13138 fix(wildcards): nil values in JMESPath var subst
  pkg/engine/wildcards/wildcards.go
  pkg/engine/wildcards/wildcards_test.go
Labels: cherry-pick-required, cherry-pick-completed, size:L, milestone 1.14.2

#13148 Fix the link of Kyverno policy chart types
  charts/kyverno-policies/README.md
  charts/kyverno-policies/values.yaml
Labels: cherry-pick-required, size:XS, milestone 1.14.2

#13137 fix: kyverno start failed when disable policy report crd
  cmd/kyverno/main.go
  pkg/webhooks/resource/vpol/handler.go
Labels: cherry-pick-required, size:M, milestone 1.14.2

#13154 feat: add a new CEL custom function to generate resources
  pkg/cel/libs/context.go
  pkg/cel/libs/fake_context.go
  pkg/cel/libs/generator/impl.go
  pkg/cel/libs/generator/impl_test.go
  pkg/cel/libs/generator/lib.go
  pkg/cel/libs/generator/lib_test.go
  pkg/cel/libs/generator/mock.go
  pkg/cel/libs/generator/types.go
Labels: size:L, milestone 1.15.0

#13165 feat: compile generatingpolicies
  pkg/cel/compiler/compiler.go
  pkg/cel/compiler/compiler_test.go
  pkg/cel/compiler/keys.go
  pkg/cel/policies/gpol/compiler/compiler.go
  pkg/cel/policies/gpol/compiler/policy.go
Labels: size:L, milestone 1.15.0

#13167 chore: add mpol and gpol crds in helm chart
  Makefile
  charts/kyverno/charts/crds/README.md
  charts/kyverno/charts/crds/templates/policies.kyverno.io/policies.kyverno.io_generatingpolicies.yaml
  charts/kyverno/charts/crds/templates/policies.kyverno.io/policies.kyverno.io_mutatingpolicies.yaml
  charts/kyverno/charts/crds/values.yaml
  config/install-latest-testing.yaml
Labels: size:XXL, milestone 1.15.0

#13164 cherry pick #13137
  cmd/kyverno/main.go
  pkg/webhooks/resource/vpol/handler.go
Labels: size:M

#13170 chore: remove redundant imported modules
  cmd/kyverno/main.go
  pkg/imageverification/evaluator/validate.go
  pkg/policy/generate.go
  pkg/utils/admission/celexception_test.go
  pkg/utils/admission/cleanup_test.go
  pkg/utils/admission/exception_test.go
  pkg/utils/admission/globalcontext_test.go
  pkg/utils/admission/metadata_test.go
  pkg/utils/admission/policy_test.go
Labels: size:M, milestone 1.15.0

#13017 feat: Add comprehensive chainsaw tests for ivpol
  .github/actions/run-tests/action.yaml
  .github/workflows/conformance.yaml
  test/conformance/chainsaw/image-validating-policies/autogen/autogen-deployments-cronjobs/good-deployment.yaml
  test/conformance/chainsaw/image-validating-policies/autogen/autogen-deployments-statefulsets/bad-statefulset.yaml
  test/conformance/chainsaw/image-validating-policies/autogen/autogen-deployments-statefulsets/chainsaw-test.yaml
  test/conformance/chainsaw/image-validating-policies/autogen/autogen-deployments-statefulsets/check-autogen.yaml
  test/conformance/chainsaw/image-validating-policies/autogen/autogen-deployments-statefulsets/good-statefulset.yaml
  test/conformance/chainsaw/image-validating-policies/autogen/autogen-deployments-statefulsets/policy.yaml
  test/conformance/chainsaw/image-validating-policies/autogen/should-autogen/chainsaw-test.yaml
  test/conformance/chainsaw/image-validating-policies/autogen/should-autogen/check-autogen.yaml
  test/conformance/chainsaw/image-validating-policies/autogen/should-autogen/policy.yaml
  test/conformance/chainsaw/image-validating-policies/autogen/should-not-autogen/chainsaw-test.yaml
  test/conformance/chainsaw/image-validating-policies/autogen/should-not-autogen/check-autogen.yaml
  test/conformance/chainsaw/image-validating-policies/autogen/should-not-autogen/policy-assert.yaml
  test/conformance/chainsaw/image-validating-policies/autogen/should-not-autogen/policy.yaml
  test/conformance/chainsaw/image-validating-policies/context/configmap/chainsaw-test.yaml
  test/conformance/chainsaw/image-validating-policies/context/configmap/configmap.yaml
  test/conformance/chainsaw/image-validating-policies/context/configmap/negative.yaml
  test/conformance/chainsaw/image-validating-policies/context/configmap/policy.yaml
  test/conformance/chainsaw/image-validating-policies/context/configmap/positive.yaml
  test/conformance/chainsaw/image-validating-policies/match-conditions/bad-pod.yaml
  test/conformance/chainsaw/image-validating-policies/validation-actions/audit/chainsaw-test.yaml
  test/conformance/chainsaw/image-validating-policies/validation-actions/audit/deployment.yaml
  test/conformance/chainsaw/image-validating-policies/validation-actions/audit/policy.yaml
  test/conformance/chainsaw/image-validating-policies/validation-actions/deny/chainsaw-test.yaml
  test/conformance/chainsaw/image-validating-policies/validation-actions/deny/deployment.yaml
  test/conformance/chainsaw/image-validating-policies/validation-actions/deny/policy.yaml
  test/conformance/chainsaw/image-validating-policies/validation-actions/none/chainsaw-test.yaml
  test/conformance/chainsaw/image-validating-policies/validation-actions/none/deployment.yaml
  test/conformance/chainsaw/image-validating-policies/validation-actions/none/policy.yaml
  test/conformance/chainsaw/image-validating-policies/validation-actions/warn/chainsaw-test.yaml
  test/conformance/chainsaw/image-validating-policies/validation-actions/warn/deployment.yaml
  test/conformance/chainsaw/image-validating-policies/validation-actions/warn/policy.yaml
  test/conformance/chainsaw/image-validating-policies/validation-rules/accept/chainsaw-test.yaml
  test/conformance/chainsaw/image-validating-policies/validation-rules/accept/deployment.yaml
  test/conformance/chainsaw/image-validating-policies/validation-rules/accept/policy.yaml
  test/conformance/chainsaw/image-validating-policies/validation-rules/reject/chainsaw-test.yaml
  test/conformance/chainsaw/image-validating-policies/validation-rules/reject/deployment.yaml
  test/conformance/chainsaw/image-validating-policies/validation-rules/reject/policy.yaml
Labels: cherry-pick-required, size:XXL, milestone 1.14.2

#13168 chore: Add exception tests for image validating policies
  test/conformance/chainsaw/image-validating-policies/exceptions/autogen/README.md
  test/conformance/chainsaw/image-validating-policies/exceptions/autogen/bad-resources.yaml
  test/conformance/chainsaw/image-validating-policies/exceptions/autogen/chainsaw-test.yaml
  test/conformance/chainsaw/image-validating-policies/exceptions/autogen/check-autogen.yaml
  test/conformance/chainsaw/image-validating-policies/exceptions/autogen/exception.yaml
  test/conformance/chainsaw/image-validating-policies/exceptions/autogen/good-resources.yaml
  test/conformance/chainsaw/image-validating-policies/exceptions/autogen/policy.yaml
  test/conformance/chainsaw/image-validating-policies/exceptions/autogen/skipped-resources.yaml
  test/conformance/chainsaw/image-validating-policies/exceptions/regular/bad-pod.yaml
  test/conformance/chainsaw/image-validating-policies/exceptions/regular/chainsaw-test.yaml
  test/conformance/chainsaw/image-validating-policies/exceptions/regular/exception-assert.yaml
  test/conformance/chainsaw/image-validating-policies/exceptions/regular/exception.yaml
  test/conformance/chainsaw/image-validating-policies/exceptions/regular/good-pod.yaml
  test/conformance/chainsaw/image-validating-policies/exceptions/regular/policy.yaml
  test/conformance/chainsaw/image-validating-policies/exceptions/regular/skipped-pod.yaml
  test/conformance/chainsaw/image-validating-policies/exceptions/wrong-exception/README.md
  test/conformance/chainsaw/image-validating-policies/exceptions/wrong-exception/chainsaw-test.yaml
  test/conformance/chainsaw/image-validating-policies/exceptions/wrong-exception/exception.yaml
  test/conformance/chainsaw/image-validating-policies/exceptions/wrong-exception/good-deployment.yaml
  test/conformance/chainsaw/image-validating-policies/exceptions/wrong-exception/policy.yaml
  test/conformance/chainsaw/image-validating-policies/exceptions/wrong-exception/skipped-deployment.yaml
Labels: cherry-pick-required, size:XL, milestone 1.14.2

#13141 feat: add dynamic CRD watcher using informer
  charts/kyverno/README.md
  charts/kyverno/templates/admission-controller/clusterrole.yaml
  charts/kyverno/templates/admission-controller/deployment.yaml
  charts/kyverno/values.yaml
  cmd/cli/kubectl-kyverno/commands/apply/command.go
  cmd/internal/client.go
  cmd/internal/flag.go
  cmd/internal/setup.go
  config/install-latest-testing.yaml
  pkg/clients/dclient/client.go
  pkg/clients/dclient/discovery.go
Labels: size:M, milestone 1.15.0

#13008 feat: Init DeletingPolicy API and Compiler
  Makefile
  api/policies.kyverno.io/v1alpha1/deleting_policy.go
  api/policies.kyverno.io/v1alpha1/zz_generated.deepcopy.go
  api/policies.kyverno.io/v1alpha1/zz_generated.register.go
  charts/kyverno/charts/crds/templates/policies.kyverno.io/policies.kyverno.io_deletingpolicies.yaml
  cmd/cli/kubectl-kyverno/data/crds/policies.kyverno.io_deletingpolicies.yaml
  config/crds/policies.kyverno.io/policies.kyverno.io_deletingpolicies.yaml
  docs/user/crd/index.html
  docs/user/crd/kyverno_cel_policies.v1alpha1.html
  pkg/cel/policies/dpol/compiler/compiler.go
  pkg/cel/policies/dpol/compiler/eval.go
  pkg/cel/policies/dpol/compiler/policy.go
  pkg/client/clientset/versioned/typed/policies.kyverno.io/v1alpha1/deletingpolicy.go
  pkg/client/clientset/versioned/typed/policies.kyverno.io/v1alpha1/fake/fake_deletingpolicy.go
  pkg/client/clientset/versioned/typed/policies.kyverno.io/v1alpha1/fake/fake_policies.kyverno.io_client.go
  pkg/client/clientset/versioned/typed/policies.kyverno.io/v1alpha1/generated_expansion.go
  pkg/client/clientset/versioned/typed/policies.kyverno.io/v1alpha1/policies.kyverno.io_client.go
  pkg/client/informers/externalversions/generic.go
  pkg/client/informers/externalversions/policies.kyverno.io/v1alpha1/deletingpolicy.go
  pkg/client/informers/externalversions/policies.kyverno.io/v1alpha1/interface.go
  pkg/client/listers/policies.kyverno.io/v1alpha1/deletingpolicy.go
  pkg/client/listers/policies.kyverno.io/v1alpha1/expansion_generated.go
  pkg/clients/kyverno/policiesv1alpha1/client.generated.go
  pkg/clients/kyverno/policiesv1alpha1/deletingpolicies/resource.generated.go
Labels: size:XXL, milestone 1.15.0

#13181 chore: add mpol and gpol crds in the CLI
  Makefile
  cmd/cli/kubectl-kyverno/data/crds/policies.kyverno.io_generatingpolicies.yaml
  cmd/cli/kubectl-kyverno/data/crds/policies.kyverno.io_mutatingpolicies.yaml
Labels: size:XXL, milestone 1.15.0

#12999 fix: ensure consistent ordering of imagePullSecrets in Helm chart
  CHANGELOG.md
  charts/kyverno/templates/_helpers.tpl
  charts/kyverno/templates/admission-controller/deployment.yaml
  charts/kyverno/templates/background-controller/deployment.yaml
  charts/kyverno/templates/cleanup-controller/deployment.yaml
  charts/kyverno/templates/hooks/post-delete-configmap.yaml
  charts/kyverno/templates/hooks/post-upgrade-clean-reports.yaml
  charts/kyverno/templates/hooks/post-upgrade-migrate-resources.yaml
  charts/kyverno/templates/hooks/pre-delete-scale-to-zero.yaml
  charts/kyverno/templates/reports-controller/deployment.yaml
  charts/kyverno/templates/tests/admission-controller-liveness.yaml
  charts/kyverno/templates/tests/admission-controller-metrics.yaml
  charts/kyverno/templates/tests/admission-controller-readiness.yaml
  charts/kyverno/templates/tests/cleanup-controller-liveness.yaml
  charts/kyverno/templates/tests/cleanup-controller-metrics.yaml
  charts/kyverno/templates/tests/cleanup-controller-readiness.yaml
  charts/kyverno/templates/tests/helper-functions-test.yaml
  charts/kyverno/templates/tests/reports-controller-metrics.yaml
Labels: cherry-pick-required, size:M, milestone 1.14.2

#13169 feat: add GeneratingPolicy validation webhook
  api/policies.kyverno.io/v1alpha1/generating_policy.go
  charts/kyverno/charts/crds/templates/policies.kyverno.io/policies.kyverno.io_generatingpolicies.yaml
  cmd/cli/kubectl-kyverno/data/crds/policies.kyverno.io_generatingpolicies.yaml
  config/crds/policies.kyverno.io/policies.kyverno.io_generatingpolicies.yaml
  config/install-latest-testing.yaml
  pkg/cel/policies/gpol/validate.go
  pkg/controllers/webhook/controller.go
  pkg/utils/admission/policy.go
  pkg/webhooks/policy/handlers.go
  test/conformance/chainsaw/generating-policies/validate/invalid-cel-expression/chainsaw-test.yaml
  test/conformance/chainsaw/generating-policies/validate/invalid-cel-expression/policy.yaml
  test/conformance/chainsaw/generating-policies/validate/missing-generate/chainsaw-test.yaml
  test/conformance/chainsaw/generating-policies/validate/missing-generate/policy.yaml
  test/conformance/chainsaw/generating-policies/validate/missing-match-constraints/chainsaw-test.yaml
  test/conformance/chainsaw/generating-policies/validate/missing-match-constraints/policy.yaml
Labels: size:L, milestone 1.15.0

#13171 chore: Add tests for validating and imagevalidating policies with policy exception disabled
  .github/workflows/conformance.yaml
  test/conformance/chainsaw/policy-exceptions-disabled/image-validating-policies/bad-pod.yaml
  test/conformance/chainsaw/policy-exceptions-disabled/image-validating-policies/chainsaw-test.yaml
  test/conformance/chainsaw/policy-exceptions-disabled/image-validating-policies/exception.yaml
  test/conformance/chainsaw/policy-exceptions-disabled/image-validating-policies/good-pod.yaml
  test/conformance/chainsaw/policy-exceptions-disabled/image-validating-policies/policy.yaml
  test/conformance/chainsaw/policy-exceptions-disabled/validating-policies/bad-deployment.yaml
  test/conformance/chainsaw/policy-exceptions-disabled/validating-policies/chainsaw-test.yaml
  test/conformance/chainsaw/policy-exceptions-disabled/validating-policies/exception.yaml
  test/conformance/chainsaw/policy-exceptions-disabled/validating-policies/good-deployment.yaml
  test/conformance/chainsaw/policy-exceptions-disabled/validating-policies/policy.yaml
Labels: cherry-pick-required, size:L, milestone 1.14.2

#13190 fix: server crashes when an invalid VP is created
  pkg/cel/policies/vpol/validate.go
  test/conformance/chainsaw/validating-policies/validation-checks/missing-match-constraints/chainsaw-test.yaml
  test/conformance/chainsaw/validating-policies/validation-checks/missing-match-constraints/policy.yaml
Labels: cherry-pick-required, size:M, milestone 1.14.2

#13153 Fix: test-case-selector flag
  cmd/cli/kubectl-kyverno/commands/test/command.go
  cmd/cli/kubectl-kyverno/test/filter/filter.go
  cmd/cli/kubectl-kyverno/test/filter/filter_test.go
Labels: size:M, milestone 1.15.0

#13192 feat: add dynamic CRD watcher using informer (Cherry pick 13141)
  charts/kyverno/README.md
  charts/kyverno/templates/admission-controller/clusterrole.yaml
  charts/kyverno/templates/admission-controller/deployment.yaml
  charts/kyverno/values.yaml
  cmd/cli/kubectl-kyverno/commands/apply/command.go
  cmd/internal/client.go
  cmd/internal/flag.go
  cmd/internal/setup.go
  config/install-latest-testing.yaml
  pkg/clients/dclient/client.go
  pkg/clients/dclient/discovery.go
Labels: size:M

#13175 fix: rewrite match conditions only for webhook config
  api/policies.kyverno.io/v1alpha1/autogen.go
  api/policies.kyverno.io/v1alpha1/zz_generated.deepcopy.go
  charts/kyverno/charts/crds/templates/policies.kyverno.io/policies.kyverno.io_imagevalidatingpolicies.yaml
  charts/kyverno/charts/crds/templates/policies.kyverno.io/policies.kyverno.io_mutatingpolicies.yaml
  charts/kyverno/charts/crds/templates/policies.kyverno.io/policies.kyverno.io_validatingpolicies.yaml
  cmd/cli/kubectl-kyverno/data/crds/policies.kyverno.io_imagevalidatingpolicies.yaml
  cmd/cli/kubectl-kyverno/data/crds/policies.kyverno.io_mutatingpolicies.yaml
  cmd/cli/kubectl-kyverno/data/crds/policies.kyverno.io_validatingpolicies.yaml
  config/crds/policies.kyverno.io/policies.kyverno.io_imagevalidatingpolicies.yaml
  config/crds/policies.kyverno.io/policies.kyverno.io_mutatingpolicies.yaml
  config/crds/policies.kyverno.io/policies.kyverno.io_validatingpolicies.yaml
  config/install-latest-testing.yaml
  docs/user/crd/index.html
  docs/user/crd/kyverno_cel_policies.v1alpha1.html
  pkg/cel/autogen/config.go
  pkg/cel/autogen/data.go
  pkg/cel/autogen/match.go
  pkg/cel/autogen/match_test.go
  pkg/cel/autogen/target.go
  pkg/cel/policies/ivpol/autogen/autogen.go
  pkg/cel/policies/ivpol/autogen/autogen_test.go
  pkg/cel/policies/vpol/autogen/autogen.go
  pkg/cel/policies/vpol/autogen/autogen_test.go
  pkg/controllers/webhook/validatingpolicy.go
  pkg/controllers/webhook/validatingpolicy_test.go
  test/conformance/chainsaw/image-validating-policies/autogen/autogen-deployments-cronjobs/check-autogen.yaml
  test/conformance/chainsaw/image-validating-policies/autogen/autogen-deployments-statefulsets/check-autogen.yaml
  test/conformance/chainsaw/image-validating-policies/autogen/should-autogen/check-autogen.yaml
  test/conformance/chainsaw/image-validating-policies/exceptions/autogen/check-autogen.yaml
  test/conformance/chainsaw/validating-policies/autogen/autogen-deployments-cronjobs/check-autogen.yaml
  test/conformance/chainsaw/validating-policies/autogen/autogen-deployments-statefulsets/check-autogen.yaml
  test/conformance/chainsaw/validating-policies/autogen/should-autogen/check-autogen.yaml
  test/conformance/chainsaw/validating-policies/exceptions/autogen/check-autogen.yaml
  test/conformance/chainsaw/validating-policies/webhook-configuration/match-conditions/webhooks.yaml
Labels: cherry-pick-required, size:XL, milestone 1.14.2

#13196 feat: Add comprehensive chainsaw tests for ivpol (cherry-pick #13017)
  .github/actions/run-tests/action.yaml
  .github/workflows/conformance.yaml
  test/conformance/chainsaw/image-validating-policies/autogen/autogen-deployments-cronjobs/good-deployment.yaml
  test/conformance/chainsaw/image-validating-policies/autogen/autogen-deployments-statefulsets/bad-statefulset.yaml
  test/conformance/chainsaw/image-validating-policies/autogen/autogen-deployments-statefulsets/chainsaw-test.yaml
  test/conformance/chainsaw/image-validating-policies/autogen/autogen-deployments-statefulsets/check-autogen.yaml
  test/conformance/chainsaw/image-validating-policies/autogen/autogen-deployments-statefulsets/good-statefulset.yaml
  test/conformance/chainsaw/image-validating-policies/autogen/autogen-deployments-statefulsets/policy.yaml
  test/conformance/chainsaw/image-validating-policies/autogen/should-autogen/chainsaw-test.yaml
  test/conformance/chainsaw/image-validating-policies/autogen/should-autogen/check-autogen.yaml
  test/conformance/chainsaw/image-validating-policies/autogen/should-autogen/policy.yaml
  test/conformance/chainsaw/image-validating-policies/autogen/should-not-autogen/chainsaw-test.yaml
  test/conformance/chainsaw/image-validating-policies/autogen/should-not-autogen/check-autogen.yaml
  test/conformance/chainsaw/image-validating-policies/autogen/should-not-autogen/policy-assert.yaml
  test/conformance/chainsaw/image-validating-policies/autogen/should-not-autogen/policy.yaml
  test/conformance/chainsaw/image-validating-policies/context/configmap/chainsaw-test.yaml
  test/conformance/chainsaw/image-validating-policies/context/configmap/configmap.yaml
  test/conformance/chainsaw/image-validating-policies/context/configmap/negative.yaml
  test/conformance/chainsaw/image-validating-policies/context/configmap/policy.yaml
  test/conformance/chainsaw/image-validating-policies/context/configmap/positive.yaml
  test/conformance/chainsaw/image-validating-policies/match-conditions/bad-pod.yaml
  test/conformance/chainsaw/image-validating-policies/validation-actions/audit/chainsaw-test.yaml
  test/conformance/chainsaw/image-validating-policies/validation-actions/audit/deployment.yaml
  test/conformance/chainsaw/image-validating-policies/validation-actions/audit/policy.yaml
  test/conformance/chainsaw/image-validating-policies/validation-actions/deny/chainsaw-test.yaml
  test/conformance/chainsaw/image-validating-policies/validation-actions/deny/deployment.yaml
  test/conformance/chainsaw/image-validating-policies/validation-actions/deny/policy.yaml
  test/conformance/chainsaw/image-validating-policies/validation-actions/none/chainsaw-test.yaml
  test/conformance/chainsaw/image-validating-policies/validation-actions/none/deployment.yaml
  test/conformance/chainsaw/image-validating-policies/validation-actions/none/policy.yaml
  test/conformance/chainsaw/image-validating-policies/validation-actions/warn/chainsaw-test.yaml
  test/conformance/chainsaw/image-validating-policies/validation-actions/warn/deployment.yaml
  test/conformance/chainsaw/image-validating-policies/validation-actions/warn/policy.yaml
  test/conformance/chainsaw/image-validating-policies/validation-rules/accept/chainsaw-test.yaml
  test/conformance/chainsaw/image-validating-policies/validation-rules/accept/deployment.yaml
  test/conformance/chainsaw/image-validating-policies/validation-rules/accept/policy.yaml
  test/conformance/chainsaw/image-validating-policies/validation-rules/reject/chainsaw-test.yaml
  test/conformance/chainsaw/image-validating-policies/validation-rules/reject/deployment.yaml
  test/conformance/chainsaw/image-validating-policies/validation-rules/reject/policy.yaml
Labels: size:XXL

#13198 chore: Add exception tests for validating policies (cherry-pick #13111)
  test/conformance/chainsaw/cel-policy-exceptions/exclude-deployments/chainsaw-test.yaml
  test/conformance/chainsaw/validating-policies/exceptions/autogen/README.md
  test/conformance/chainsaw/validating-policies/exceptions/autogen/bad-resources.yaml
  test/conformance/chainsaw/validating-policies/exceptions/autogen/chainsaw-test.yaml
  test/conformance/chainsaw/validating-policies/exceptions/autogen/check-autogen.yaml
  test/conformance/chainsaw/validating-policies/exceptions/autogen/exception.yaml
  test/conformance/chainsaw/validating-policies/exceptions/autogen/good-resources.yaml
  test/conformance/chainsaw/validating-policies/exceptions/autogen/policy.yaml
  test/conformance/chainsaw/validating-policies/exceptions/autogen/skipped-resources.yaml
  test/conformance/chainsaw/validating-policies/exceptions/exclude-deployments/bad-deployment.yaml
  test/conformance/chainsaw/validating-policies/exceptions/exclude-deployments/chainsaw-test.yaml
  test/conformance/chainsaw/validating-policies/exceptions/exclude-deployments/exception.yaml
  test/conformance/chainsaw/validating-policies/exceptions/exclude-deployments/policy.yaml
  test/conformance/chainsaw/validating-policies/exceptions/exclude-deployments/skipped-deployment.yaml
  test/conformance/chainsaw/validating-policies/exceptions/regular/bad-deployment.yaml
  test/conformance/chainsaw/validating-policies/exceptions/regular/chainsaw-test.yaml
  test/conformance/chainsaw/validating-policies/exceptions/regular/exception.yaml
  test/conformance/chainsaw/validating-policies/exceptions/regular/good-deployment.yaml
  test/conformance/chainsaw/validating-policies/exceptions/regular/policy.yaml
  test/conformance/chainsaw/validating-policies/exceptions/regular/skipped-deployment.yaml
  test/conformance/chainsaw/validating-policies/exceptions/wrong-exception/README.md
  test/conformance/chainsaw/validating-policies/exceptions/wrong-exception/chainsaw-test.yaml
  test/conformance/chainsaw/validating-policies/exceptions/wrong-exception/exception.yaml
  test/conformance/chainsaw/validating-policies/exceptions/wrong-exception/good-deployment.yaml
  test/conformance/chainsaw/validating-policies/exceptions/wrong-exception/policy.yaml
  test/conformance/chainsaw/validating-policies/exceptions/wrong-exception/skipped-deployment.yaml
Labels: size:XL

#13158 update watchdog to create lease on initial setup
  pkg/controllers/webhook/controller.go
Labels: cherry-pick-required, size:M, milestone 1.14.2

#13012 feat: CLI - apply: add option to clone from private repo
  cmd/cli/kubectl-kyverno/commands/apply/command.go
  cmd/cli/kubectl-kyverno/commands/test/load.go
  docs/user/cli/commands/kyverno_apply.md
  pkg/utils/git/git.go
Labels: size:S, milestone 1.15.0

#13202 chore: Add exception tests for image validating policies (cherry-pick #13168)
  test/conformance/chainsaw/image-validating-policies/exceptions/autogen/README.md
  test/conformance/chainsaw/image-validating-policies/exceptions/autogen/bad-resources.yaml
  test/conformance/chainsaw/image-validating-policies/exceptions/autogen/chainsaw-test.yaml
  test/conformance/chainsaw/image-validating-policies/exceptions/autogen/check-autogen.yaml
  test/conformance/chainsaw/image-validating-policies/exceptions/autogen/exception.yaml
  test/conformance/chainsaw/image-validating-policies/exceptions/autogen/good-resources.yaml
  test/conformance/chainsaw/image-validating-policies/exceptions/autogen/policy.yaml
  test/conformance/chainsaw/image-validating-policies/exceptions/autogen/skipped-resources.yaml
  test/conformance/chainsaw/image-validating-policies/exceptions/regular/bad-pod.yaml
  test/conformance/chainsaw/image-validating-policies/exceptions/regular/chainsaw-test.yaml
  test/conformance/chainsaw/image-validating-policies/exceptions/regular/exception-assert.yaml
  test/conformance/chainsaw/image-validating-policies/exceptions/regular/exception.yaml
  test/conformance/chainsaw/image-validating-policies/exceptions/regular/good-pod.yaml
  test/conformance/chainsaw/image-validating-policies/exceptions/regular/policy.yaml
  test/conformance/chainsaw/image-validating-policies/exceptions/regular/skipped-pod.yaml
  test/conformance/chainsaw/image-validating-policies/exceptions/wrong-exception/README.md
  test/conformance/chainsaw/image-validating-policies/exceptions/wrong-exception/chainsaw-test.yaml
  test/conformance/chainsaw/image-validating-policies/exceptions/wrong-exception/exception.yaml
  test/conformance/chainsaw/image-validating-policies/exceptions/wrong-exception/good-deployment.yaml
  test/conformance/chainsaw/image-validating-policies/exceptions/wrong-exception/policy.yaml
  test/conformance/chainsaw/image-validating-policies/exceptions/wrong-exception/skipped-deployment.yaml
Labels: size:XL

#12037 fix(cli): ensure JMESPath expressions handle number types correctly
  cmd/cli/kubectl-kyverno/commands/apply/command.go
  cmd/cli/kubectl-kyverno/commands/apply/command_test.go
  cmd/cli/kubectl-kyverno/commands/test/test.go
  cmd/cli/kubectl-kyverno/commands/test/test_test.go
  test/cli/apply/type/policy1.yaml
  test/cli/apply/type/policy2.yaml
  test/cli/apply/type/policy3.yaml
  test/cli/apply/type/resource.yaml
  test/cli/test/type/kyverno-test.yaml
  test/cli/test/type/policy1.yaml
  test/cli/test/type/policy2.yaml
  test/cli/test/type/policy3.yaml
  test/cli/test/type/resource.yaml
Labels: cherry-pick-required, size:L, milestone 1.14.2

#13203 chore: Add tests for validating and imagevalidating policies with policy exception disabled (cherry-pick #13171)
  .github/workflows/conformance.yaml
  test/conformance/chainsaw/policy-exceptions-disabled/image-validating-policies/bad-pod.yaml
  test/conformance/chainsaw/policy-exceptions-disabled/image-validating-policies/chainsaw-test.yaml
  test/conformance/chainsaw/policy-exceptions-disabled/image-validating-policies/exception.yaml
  test/conformance/chainsaw/policy-exceptions-disabled/image-validating-policies/good-pod.yaml
  test/conformance/chainsaw/policy-exceptions-disabled/image-validating-policies/policy.yaml
  test/conformance/chainsaw/policy-exceptions-disabled/validating-policies/bad-deployment.yaml
  test/conformance/chainsaw/policy-exceptions-disabled/validating-policies/chainsaw-test.yaml
  test/conformance/chainsaw/policy-exceptions-disabled/validating-policies/exception.yaml
  test/conformance/chainsaw/policy-exceptions-disabled/validating-policies/good-deployment.yaml
  test/conformance/chainsaw/policy-exceptions-disabled/validating-policies/policy.yaml
Labels: size:L

#13184 deploy(kyverno-policies): add support for passing custom annotations to chart
  charts/kyverno-policies/README.md
  charts/kyverno-policies/ci/test-with-annotations.yaml
  charts/kyverno-policies/templates/_helpers.tpl
  charts/kyverno-policies/templates/baseline/disallow-capabilities.yaml
  charts/kyverno-policies/templates/baseline/disallow-host-namespaces.yaml
  charts/kyverno-policies/templates/baseline/disallow-host-path.yaml
  charts/kyverno-policies/templates/baseline/disallow-host-ports.yaml
  charts/kyverno-policies/templates/baseline/disallow-host-process.yaml
  charts/kyverno-policies/templates/baseline/disallow-privileged-containers.yaml
  charts/kyverno-policies/templates/baseline/disallow-proc-mount.yaml
  charts/kyverno-policies/templates/baseline/disallow-selinux.yaml
  charts/kyverno-policies/templates/baseline/restrict-apparmor-profiles.yaml
  charts/kyverno-policies/templates/baseline/restrict-seccomp.yaml
  charts/kyverno-policies/templates/baseline/restrict-sysctls.yaml
  charts/kyverno-policies/templates/other/require-non-root-groups.yaml
  charts/kyverno-policies/templates/restricted/disallow-capabilities-strict.yaml
  charts/kyverno-policies/templates/restricted/disallow-privilege-escalation.yaml
  charts/kyverno-policies/templates/restricted/require-run-as-non-root-user.yaml
  charts/kyverno-policies/templates/restricted/require-run-as-nonroot.yaml
  charts/kyverno-policies/templates/restricted/restrict-seccomp-strict.yaml
  charts/kyverno-policies/templates/restricted/restrict-volume-types.yaml
  charts/kyverno-policies/values.yaml
Labels: cherry-pick-required, size:M, milestone 1.14.2

#13212 feat: add webhook config to the GPOLs
  api/policies.kyverno.io/v1alpha1/generating_policy.go
  api/policies.kyverno.io/v1alpha1/zz_generated.deepcopy.go
  charts/kyverno/charts/crds/templates/policies.kyverno.io/policies.kyverno.io_generatingpolicies.yaml
  cmd/cli/kubectl-kyverno/data/crds/policies.kyverno.io_generatingpolicies.yaml
  config/crds/policies.kyverno.io/policies.kyverno.io_generatingpolicies.yaml
  config/install-latest-testing.yaml
  docs/user/crd/index.html
  docs/user/crd/kyverno_cel_policies.v1alpha1.html
Labels: size:L, milestone 1.15.0

#13216 fix: rewrite match conditions only for webhook config (cherry-pick #13175)
  api/policies.kyverno.io/v1alpha1/autogen.go
  api/policies.kyverno.io/v1alpha1/zz_generated.deepcopy.go
  charts/kyverno/charts/crds/templates/policies.kyverno.io/policies.kyverno.io_imagevalidatingpolicies.yaml
  charts/kyverno/charts/crds/templates/policies.kyverno.io/policies.kyverno.io_validatingpolicies.yaml
  cmd/cli/kubectl-kyverno/data/crds/policies.kyverno.io_imagevalidatingpolicies.yaml
  cmd/cli/kubectl-kyverno/data/crds/policies.kyverno.io_validatingpolicies.yaml
  config/crds/policies.kyverno.io/policies.kyverno.io_imagevalidatingpolicies.yaml
  config/crds/policies.kyverno.io/policies.kyverno.io_validatingpolicies.yaml
  config/install-latest-testing.yaml
  docs/user/crd/index.html
  docs/user/crd/kyverno_cel_policies.v1alpha1.html
  pkg/cel/autogen/config.go
  pkg/cel/autogen/data.go
  pkg/cel/autogen/match.go
  pkg/cel/autogen/match_test.go
  pkg/cel/autogen/target.go
  pkg/cel/policies/ivpol/autogen/autogen.go
  pkg/cel/policies/ivpol/autogen/autogen_test.go
  pkg/cel/policies/vpol/autogen/autogen.go
  pkg/cel/policies/vpol/autogen/autogen_test.go
  pkg/controllers/webhook/validatingpolicy.go
  pkg/controllers/webhook/validatingpolicy_test.go
  test/conformance/chainsaw/image-validating-policies/autogen/autogen-deployments-cronjobs/check-autogen.yaml
  test/conformance/chainsaw/image-validating-policies/autogen/autogen-deployments-statefulsets/check-autogen.yaml
  test/conformance/chainsaw/image-validating-policies/autogen/should-autogen/check-autogen.yaml
  test/conformance/chainsaw/image-validating-policies/exceptions/autogen/check-autogen.yaml
  test/conformance/chainsaw/validating-policies/autogen/autogen-deployments-cronjobs/check-autogen.yaml
  test/conformance/chainsaw/validating-policies/autogen/autogen-deployments-statefulsets/check-autogen.yaml
  test/conformance/chainsaw/validating-policies/autogen/should-autogen/check-autogen.yaml
  test/conformance/chainsaw/validating-policies/exceptions/autogen/check-autogen.yaml
  test/conformance/chainsaw/validating-policies/webhook-configuration/match-conditions/webhooks.yaml
Labels: size:XL

#13228 feat: improve ivpol attestor api
  api/policies.kyverno.io/v1alpha1/imagevalidating_policy.go
  charts/kyverno/charts/crds/templates/policies.kyverno.io/policies.kyverno.io_imagevalidatingpolicies.yaml
  cmd/cli/kubectl-kyverno/data/crds/policies.kyverno.io_imagevalidatingpolicies.yaml
  config/crds/policies.kyverno.io/policies.kyverno.io_imagevalidatingpolicies.yaml
  config/install-latest-testing.yaml
Labels: cherry-pick-required, size:M, milestone 1.14.2

#13238 dpol validation webhook
  pkg/cel/policies/dpol/validate.go
  pkg/controllers/webhook/controller.go
  pkg/engine/api/policy.go
  pkg/utils/admission/policy.go
  pkg/utils/admission/policy_test.go
  pkg/webhooks/policy/handlers.go
Labels: size:M, milestone 1.15.0

#13240 feat: add mutate existing API
  api/policies.kyverno.io/v1alpha1/common.go
  api/policies.kyverno.io/v1alpha1/common_test.go
  api/policies.kyverno.io/v1alpha1/mutating_policy.go
  api/policies.kyverno.io/v1alpha1/validating_policy.go
  api/policies.kyverno.io/v1alpha1/validating_policy_test.go
  api/policies.kyverno.io/v1alpha1/zz_generated.deepcopy.go
  charts/kyverno/charts/crds/templates/policies.kyverno.io/policies.kyverno.io_mutatingpolicies.yaml
  cmd/cli/kubectl-kyverno/data/crds/policies.kyverno.io_mutatingpolicies.yaml
  config/crds/policies.kyverno.io/policies.kyverno.io_mutatingpolicies.yaml
  config/install-latest-testing.yaml
  docs/perf-testing/deployment.sh
  docs/user/crd/index.html
  docs/user/crd/kyverno_cel_policies.v1alpha1.html
Labels: size:XXL, milestone 1.15.0

#13245 feat: add GPOL provider
  pkg/cel/policies/gpol/engine/fetch.go
  pkg/cel/policies/gpol/engine/policy.go
  pkg/cel/policies/gpol/engine/provider.go
Labels: size:M, milestone 1.15.0

#12895 refactor(cel): rename image() to parseImageReference
  .github/actions/setup-build-env/action.yaml
  pkg/cel/libs/image/lib.go
  pkg/cel/libs/image/lib_test.go
  pkg/cel/policies/ivpol/engine/engine_test.go
  test/conformance/chainsaw/image-validating-policies/context/imagedata/imagereference/policy.yaml
  test/conformance/chainsaw/validating-policies/context/imagereference/policy.yaml
Labels: size:L, milestone 1.15.0

#13243 chore: reduce coupling with k8s api
  pkg/imageverification/imagedataloader/authn.go
  pkg/imageverification/imagedataloader/secrets.go
  pkg/imageverification/imageverifiers/cosign/opts.go
  pkg/imageverification/imageverifiers/cosign/verifier.go
Labels: cherry-pick-required, size:S, milestone 1.14.2

#13260 chore: shard vpol chainsaw tests (cherry-pick #13253)
  .github/workflows/conformance.yaml
Labels: size:XS

#13256 refactor: simplify imageverify lib implementation
  pkg/cel/libs/imageverify/impl.go
  pkg/cel/libs/imageverify/lib.go
Labels: cherry-pick-required, size:L, milestone 1.14.2

#12667 feat: support Cli for map
  Makefile
  cmd/cli/kubectl-kyverno/apis/v1alpha1/test_result.go
  cmd/cli/kubectl-kyverno/commands/apply/command.go
  cmd/cli/kubectl-kyverno/commands/apply/command_test.go
  cmd/cli/kubectl-kyverno/commands/oci/pull/options.go
  cmd/cli/kubectl-kyverno/commands/test/command.go
  cmd/cli/kubectl-kyverno/commands/test/test.go
  cmd/cli/kubectl-kyverno/config/crds/cli.kyverno.io_tests.yaml
  cmd/cli/kubectl-kyverno/data/crds/cli.kyverno.io_tests.yaml
  cmd/cli/kubectl-kyverno/policy/load.go
  cmd/cli/kubectl-kyverno/processor/policy_processor.go
  cmd/cli/kubectl-kyverno/processor/policy_processor_test.go
  cmd/cli/kubectl-kyverno/processor/result.go
  docs/user/cli/crd/index.html
  docs/user/cli/crd/kyverno_kubectl.v1alpha1.html
  pkg/admissionpolicy/kyvernopolicy_checker_test.go
  pkg/admissionpolicy/mutate.go
  pkg/admissionpolicy/mutate_test.go
  pkg/admissionpolicy/validate_test.go
  pkg/autogen/v1/autogen_test.go
  pkg/autogen/v2/autogen_test.go
  pkg/engine/api/policy.go
  pkg/utils/report/results.go
  pkg/utils/report/source.go
  pkg/utils/yaml/loadpolicy.go
  pkg/utils/yaml/loadpolicy_test.go
  pkg/validation/policy/allowed_vars_test.go
  test/cli/test-mutating-admission-policy/Check-replica/expected-patched.yaml
  test/cli/test-mutating-admission-policy/Check-replica/kyverno-test.yaml
  test/cli/test-mutating-admission-policy/Check-replica/policy.yaml
  test/cli/test-mutating-admission-policy/Check-replica/resource.yaml
  test/cli/test-mutating-admission-policy/check-labels/expected-patched.yaml
  test/cli/test-mutating-admission-policy/check-labels/kyverno-test.yaml
  test/cli/test-mutating-admission-policy/check-labels/policy.yaml
  test/cli/test-mutating-admission-policy/check-labels/resource1.yaml
  test/cli/test-mutating-admission-policy/check-labels/resource2.yaml
  test/cli/test-mutating-admission-policy/check-ns-add-label/expected-patched.yaml
  test/cli/test-mutating-admission-policy/check-ns-add-label/kyverno-test.yaml
  test/cli/test-mutating-admission-policy/check-ns-add-label/policy.yaml
  test/cli/test-mutating-admission-policy/check-ns-add-label/resource1.yaml
  test/cli/test-mutating-admission-policy/check-ns-add-label/resource2.yaml
  test/cli/test-mutating-admission-policy/match-condition/expected-patched.yaml
  test/cli/test-mutating-admission-policy/match-condition/kyverno-test.yaml
  test/cli/test-mutating-admission-policy/match-condition/policy.yaml
  test/cli/test-mutating-admission-policy/match-condition/resource1.yaml
  test/cli/test-mutating-admission-policy/match-condition/resource2.yaml
  test/cli/test-mutating-admission-policy/test-mutating-admission-policy-binding/expected-patched.yaml
  test/cli/test-mutating-admission-policy/test-mutating-admission-policy-binding/kyverno-test.yaml
  test/cli/test-mutating-admission-policy/test-mutating-admission-policy-binding/policy.yaml
  test/cli/test-mutating-admission-policy/test-mutating-admission-policy-binding/resource1.yaml
  test/cli/test-mutating-admission-policy/test-mutating-admission-policy-binding/resource2.yaml
  test/cli/test-mutating-admission-policy/test-mutating-admission-policy-binding/test-ns.yaml
  test/cli/test-mutating-admission-policy/test-mutating-admission-policy-binding/values.yaml
Labels: size:XL, milestone 1.15.0

#13275 fix: remove the duplicate webhook registeration for gpol
  pkg/config/config.go
  pkg/webhooks/server.go
Labels: size:S, milestone 1.15.0

#12623 improve cert nil check
  pkg/tls/renewer.go
  pkg/tls/utils.go
Labels: cherry-pick-required, size:S, milestone 1.14.2

#13277 feat: register webhook for mpol
  api/policies.kyverno.io/v1alpha1/mutating_policy.go
  charts/kyverno/templates/admission-controller/clusterrole.yaml
  cmd/kyverno/main.go
  config/install-latest-testing.yaml
  pkg/cel/policies/mpol/compiler/compiler.go
  pkg/cel/policies/mpol/compiler/utils.go
  pkg/config/config.go
  pkg/controllers/webhook/controller.go
  pkg/controllers/webhook/utils.go
  pkg/controllers/webhook/validatingpolicy.go
Labels: size:L, milestone 1.15.0

#13232 fix: remove ununsed code in imageverify lib
  pkg/cel/libs/imageverify/impl.go
  pkg/cel/libs/imageverify/utils.go
Labels: cherry-pick-required, size:S, milestone 1.14.2

#13286 Support JSON Payload for dpols in kyverno cli test command
  .github/workflows/conformance.yaml
  Makefile
  cmd/cli/kubectl-kyverno/commands/test/test.go
  pkg/cel/policies/dpol/engine/engine.go
  test/cli/test-deleting-policy/deleting-json/kyverno-test.yaml
  test/cli/test-deleting-policy/deleting-json/payload.json
  test/cli/test-deleting-policy/deleting-json/policy.yaml
  test/cli/test-deleting-policy/deleting-pod-by-name/kyverno-test.yaml
  test/cli/test-deleting-policy/deleting-pod-by-name/policy.yaml
  test/cli/test-deleting-policy/deleting-pod-by-name/resource.yaml
  test/conformance/chainsaw/deleting-policies/delete-pod/README.md
  test/conformance/chainsaw/deleting-policies/delete-pod/chainsaw-test.yaml
  test/conformance/chainsaw/deleting-policies/delete-pod/pod-assert.yaml
  test/conformance/chainsaw/deleting-policies/delete-pod/pod.yaml
  test/conformance/chainsaw/deleting-policies/delete-pod/policy.yaml
  test/conformance/chainsaw/deleting-policies/delete-pod/rbac.yaml
Labels: size:L, milestone 1.15.0

#13288 chore: shard vpol chainsaw tests (cherry-pick #13261)
  .github/workflows/conformance.yaml
Labels: size:XS

#13266 refactor: image data loader
  pkg/imageverification/imagedataloader/authn.go
  pkg/imageverification/imagedataloader/loader.go
  pkg/imageverification/imagedataloader/loader_test.go
  pkg/imageverification/imagedataloader/reference.go
  pkg/imageverification/imageverifiers/cosign/verifier.go
  pkg/imageverification/imageverifiers/notary/notary.go
  pkg/imageverification/imageverifiers/notary/repo.go
Labels: cherry-pick-required, size:L, milestone 1.14.2
