Repository kyverno/kyverno, pull requests merged in 2025-08, with the labels that each got.

#13731 chore: Fix codegen-manifest-release missing target
  Makefile
Labels: cherry-pick-required, size:XS, milestone 1.15.1

#13749 Fix broken link
  CONTRIBUTING.md
Labels: size:XS, milestone 1.16.0

#13736 add unit-test for gpol: engine package
  pkg/cel/policies/gpol/engine/engine_test.go
  pkg/cel/policies/gpol/engine/fetch_test.go
Labels: cherry-pick-required, size:L, milestone 1.15.1

#13762 add unit-test for gpol: engine package (cherry-pick #13736)
  pkg/cel/policies/gpol/engine/engine_test.go
  pkg/cel/policies/gpol/engine/fetch_test.go
Labels: size:L

#13763 remove unused function in metrics
  pkg/metrics/parsers.go
Labels: cherry-pick-required, size:S, milestone 1.15.1

#13764 Fix the broken link in doc
  cmd/cli/kubectl-kyverno/commands/jp/parse/doc.go
  docs/user/cli/commands/kyverno_jp_parse.md
Labels: size:XS, milestone 1.16.0

#13770 cherry pick #13729
  api/kyverno/v1/common_types.go
  docs/user/crd/index.html
  docs/user/crd/kyverno.v1.html
Labels: size:S

#13754 Don't error if resolving kinds fails for a cel based policy
  cmd/cli/kubectl-kyverno/utils/common/fetch.go
  pkg/admissionpolicy/validate.go
  pkg/admissionpolicy/validate_test.go
  pkg/controllers/deleting/controller.go
  pkg/controllers/report/resource/controller.go
Labels: cherry-pick-required, size:M, milestone 1.15.1

#13756 Fix JSON logging format not working correctly
  charts/kyverno/templates/_helpers.tpl
  pkg/logging/log.go
Labels: cherry-pick-required, size:XS, milestone 1.15.1

#13534 feat: implement CRD change callbacks and ignore resource not found error
  pkg/clients/dclient/discovery.go
  pkg/clients/dclient/fake.go
  pkg/controllers/webhook/controller.go
  pkg/utils/fuzz/fuzz_interface.go
  scripts/config/standard/kyverno.yaml
  test/conformance/chainsaw/policy-validation/cluster-policy/crd-non-exist/README.md
  test/conformance/chainsaw/policy-validation/cluster-policy/crd-non-exist/chainsaw-test.yaml
  test/conformance/chainsaw/policy-validation/cluster-policy/crd-non-exist/crd-ready.yaml
  test/conformance/chainsaw/policy-validation/cluster-policy/crd-non-exist/crd.yaml
  test/conformance/chainsaw/policy-validation/cluster-policy/crd-non-exist/custom-resource.yaml
  test/conformance/chainsaw/policy-validation/cluster-policy/crd-non-exist/deployment.yaml
  test/conformance/chainsaw/policy-validation/cluster-policy/crd-non-exist/policy-notready-assert.yaml
  test/conformance/chainsaw/policy-validation/cluster-policy/crd-non-exist/policy-ready-assert.yaml
  test/conformance/chainsaw/policy-validation/cluster-policy/crd-non-exist/policy.yaml
Labels: size:L, milestone 1.16.0

#13804 test : improve unit test coverage for new policy types
  pkg/cel/policies/dpol/engine/engine_test.go
  pkg/cel/policies/dpol/engine/fetch.go
  pkg/cel/policies/dpol/engine/fetch_test.go
  pkg/cel/policies/gpol/engine/fetch_test.go
Labels: cherry-pick-required, size:L, milestone 1.15.1

#13816 ci(chery-pick): reset cherry-pick branch if already exists
  .github/actions/cherry-pick/action.yaml
Labels: size:S, milestone 1.16.0

#13790 replace openreports module name with the new name after the change in the openreports repo (#13768)
  api/policyreport/v1alpha2/clusterpolicyreport_types.go
  api/policyreport/v1alpha2/policyreport_types.go
  api/reports/v1/ephemeral_report_types.go
  api/reports/v1/interface.go
  api/reports/v1/zz_generated.deepcopy.go
  cmd/cli/kubectl-kyverno/apis/v1alpha1/test_result.go
  cmd/cli/kubectl-kyverno/commands/apply/command_test.go
  cmd/cli/kubectl-kyverno/commands/apply/print.go
  cmd/cli/kubectl-kyverno/policy/annotations/annotations.go
  cmd/cli/kubectl-kyverno/policy/annotations/annotations_test.go
  cmd/cli/kubectl-kyverno/report/report.go
  cmd/cli/kubectl-kyverno/report/report_test.go
  cmd/internal/client.go
  cmd/internal/setup.go
  cmd/reports-controller/main.go
  docs/user/cli/crd/index.html
  docs/user/cli/crd/kyverno_kubectl.v1alpha1.html
  docs/user/crd/index.html
  docs/user/crd/kyverno_reports.v1.html
  go.mod
  go.sum
  pkg/controllers/report/aggregate/controller.go
  pkg/controllers/report/aggregate/controller_test.go
  pkg/controllers/report/aggregate/utils.go
  pkg/controllers/report/background/controller.go
  pkg/openreports/common.go
  pkg/openreports/openreports.go
  pkg/openreports/wgpolicy.go
  pkg/openreports/wgpolicy_test.go
  pkg/utils/report/create_permanent.go
  pkg/utils/report/delete.go
  pkg/utils/report/new.go
  pkg/utils/report/results.go
  pkg/utils/report/update.go
Labels: size:L

#13782 chore: sign off cherry-pick commit
  .github/actions/cherry-pick/action.yaml
  .github/workflows/cherry-pick-on-merge.yaml
Labels: size:XS, milestone 1.16.0

#13813 release v1.15.1-rc.1
  Makefile
  charts/kyverno-policies/Chart.yaml
  charts/kyverno-policies/README.md
  charts/kyverno/Chart.lock
  charts/kyverno/Chart.yaml
  charts/kyverno/README.md
  charts/kyverno/charts/crds/Chart.yaml
  charts/kyverno/charts/crds/README.md
  charts/kyverno/charts/grafana/Chart.yaml
  charts/kyverno/charts/grafana/README.md
  config/install-latest-testing.yaml
Labels: size:M

#13800 test: add unit test for pkg/background/dynamic_watcher.go
  pkg/background/gpol/dynamic_watcher_test.go
Labels: cherry-pick-required, size:XL, milestone 1.15.2

#13822 fix: CVE-2025-47907
  .devcontainer/Dockerfile
  go.mod
  hack/api-group-resources/go.mod
  hack/controller-gen/go.mod
Labels: cherry-pick-required, size:S, milestone 1.15.1

#13826 Release v1.15.1-rc.2
  charts/kyverno-policies/Chart.yaml
  charts/kyverno-policies/README.md
  charts/kyverno/Chart.lock
  charts/kyverno/Chart.yaml
  charts/kyverno/README.md
  charts/kyverno/charts/crds/Chart.yaml
  charts/kyverno/charts/crds/README.md
  charts/kyverno/charts/grafana/Chart.yaml
  charts/kyverno/charts/grafana/README.md
  config/install-latest-testing.yaml
Labels: size:M

#13825 chore: Update go version to fix CVE-2025-47907
  .devcontainer/Dockerfile
  go.mod
  hack/api-group-resources/go.mod
  hack/controller-gen/go.mod
Labels: size:S, milestone 1.14.5

#13838 Release v1.15.1-rc.3
  charts/kyverno-policies/Chart.yaml
  charts/kyverno-policies/README.md
  charts/kyverno/Chart.lock
  charts/kyverno/Chart.yaml
  charts/kyverno/README.md
  charts/kyverno/charts/crds/Chart.yaml
  charts/kyverno/charts/crds/README.md
  charts/kyverno/charts/grafana/Chart.yaml
  charts/kyverno/charts/grafana/README.md
  config/install-latest-testing.yaml
Labels: size:M

#13802 test: added test for pkg/utils/controller/utils.go
  pkg/utils/controller/utils_test.go
Labels: size:L, milestone 1.16.0

#13843 Release v1.15.1
  charts/kyverno-policies/Chart.yaml
  charts/kyverno-policies/README.md
  charts/kyverno/Chart.lock
  charts/kyverno/Chart.yaml
  charts/kyverno/README.md
  charts/kyverno/charts/crds/Chart.yaml
  charts/kyverno/charts/crds/README.md
  charts/kyverno/charts/grafana/Chart.yaml
  charts/kyverno/charts/grafana/README.md
  config/install-latest-testing.yaml
Labels: size:M

#13584 [fix] Handle generateName edgecases in matchesResourceRules when GetName() …
  pkg/cel/matching/matcher.go
  pkg/cel/matching/matcher_test.go
Labels: size:L, milestone 1.15.2

#13847 test: add unit test for mpol compiler package
  pkg/cel/policies/mpol/compiler/policy_test.go
  pkg/cel/policies/mpol/compiler/type_converter_test.go
Labels: size:L, milestone 1.16.0

#13902 fix: correct spelling of 'received' in API call test
  test/conformance/chainsaw/mutating-policies/context/api-call/http-post/http-pod.yaml
  test/conformance/chainsaw/mutating-policies/context/api-call/http-post/policy.yaml
Labels: size:XS, milestone 1.16.0

#13801 test: added test for pkg/utils/controller/run.go
  pkg/utils/controller/run_test.go
Labels: size:M, milestone 1.16.0

#13919 Apply resourceFilter for new policy types in background scans
  pkg/controllers/report/utils/scanner.go
Labels: cherry-pick-required, size:M, milestone 1.15.2

#13920 fix: pass userInfo to VAPs and MAPs in the CLI
  cmd/cli/kubectl-kyverno/commands/apply/command_test.go
  cmd/cli/kubectl-kyverno/processor/policy_processor.go
  pkg/admissionpolicy/mutate.go
  pkg/admissionpolicy/user_info.go
  pkg/admissionpolicy/validate.go
  pkg/controllers/report/utils/scanner.go
  pkg/engine/handlers/validation/validate_cel.go
  pkg/engine/internal/auth.go
  pkg/engine/internal/match.go
  test/cli/test-mutating-admission-policy/check-user-info/kyverno-test.yaml
  test/cli/test-mutating-admission-policy/check-user-info/patched-resource.yaml
  test/cli/test-mutating-admission-policy/check-user-info/policy.yaml
  test/cli/test-mutating-admission-policy/check-user-info/resource.yaml
  test/cli/test-mutating-admission-policy/check-user-info/userinfo.yaml
  test/cli/test-validating-admission-policy/check-user-info/deployment.yaml
  test/cli/test-validating-admission-policy/check-user-info/kyverno-test.yaml
  test/cli/test-validating-admission-policy/check-user-info/policy.yaml
  test/cli/test-validating-admission-policy/check-user-info/userinfo.yaml
Labels: cherry-pick-required, size:L, milestone 1.15.2
