Repository kyverno/kyverno, pull requests merged in 2025-03, with the labels that each got.

#12056 Indicate in report result the origin, admission, or background
  cmd/cli/kubectl-kyverno/report/report_test.go
  pkg/utils/report/results.go
Labels: milestone 1.14.0, size:L

#12271 chore: add VP/CEL unit tests
  api/policies.kyverno.io/v1alpha1/policy_exception_test.go
Labels: milestone 1.14.0, size:L

#12240 Update post-delete-configmap.yaml
  charts/kyverno/templates/hooks/post-delete-configmap.yaml
Labels: milestone 1.14.0, size:XS

#12279 feat: add evaluation config to image verification policies
  api/policies.kyverno.io/v1alpha1/imageverification_policy_spec_types.go
  api/policies.kyverno.io/v1alpha1/zz_generated.deepcopy.go
  config/crds/policies.kyverno.io/policies.kyverno.io_imageverificationpolicies.yaml
  docs/user/crd/index.html
  pkg/imageverification/evaluator/eval.go
  pkg/imageverification/evaluator/eval_test.go
  pkg/imageverification/evaluator/policy.go
  pkg/imageverification/imagedataloader/loader_test.go
  pkg/imageverification/imageverifiers/notary/repo.go
Labels: milestone 1.14.0, size:L

#12282 feat: image verify performance fix and tests
  pkg/imageverification/evaluator/eval_test.go
  pkg/imageverification/imagedataloader/loader.go
Labels: milestone 1.14.0, size:S

#12281 chore: add unit tests
  api/policies.kyverno.io/v1alpha1/imageverification_policy_types_test.go
Labels: milestone 1.14.0, size:M

#12286 fix: autogen refactor
  pkg/cel/autogen/autogen.go
  pkg/cel/autogen/autogen_test.go
  pkg/cel/autogen/rule.go
  pkg/cel/autogen/rule_test.go
  pkg/controllers/webhook/validatingpolicy.go
Labels: milestone 1.14.0, size:L

#12289 chore: add policy API unit tests
  api/policies.kyverno.io/v1alpha1/imageverification_policy_spec_types_test.go
Labels: milestone 1.14.0, size:L

#12288 feat: add cel evaluator for json payload
  pkg/cel/autogen/autogen.go
  pkg/cel/engine/engine.go
  pkg/cel/policy/compiler.go
  pkg/cel/policy/policy.go
  pkg/cel/policy/policy_test.go
Labels: milestone 1.14.0, size:L

#12287 feat: support CELPolicyException in the report-controller
  charts/kyverno/templates/reports-controller/clusterrole.yaml
  cmd/reports-controller/main.go
  config/install-latest-testing.yaml
  pkg/controllers/report/background/controller.go
  pkg/controllers/report/utils/scanner.go
  pkg/controllers/report/utils/utils.go
Labels: milestone 1.14.0, size:M

#12297 docs: add popular use cases section to README
  README.md
Labels: milestone 1.14.0, size:M

#12298 fix: use object key in json image verification
  pkg/imageverification/evaluator/compiler.go
  pkg/imageverification/evaluator/eval_test.go
  pkg/imageverification/evaluator/policy.go
  pkg/imageverification/variables/images.go
  pkg/imageverification/variables/images_test.go
Labels: milestone 1.14.0, size:L

#12303 feat: add api-group-resources codegen
  Makefile
  cmd/cli/kubectl-kyverno/data/api-group-resources.json
  hack/api-group-resources/go.mod
  hack/api-group-resources/go.sum
  hack/api-group-resources/main.go
Labels: milestone 1.14.0, size:XXL

#12301 feat: support GVK to GVR mapping in the CLI
  cmd/cli/kubectl-kyverno/commands/apply/command.go
  cmd/cli/kubectl-kyverno/data/data.go
Labels: milestone 1.14.0, size:M

#12296 feat: support json payload via CLI apply command
  cmd/cli/kubectl-kyverno/commands/apply/command.go
  cmd/cli/kubectl-kyverno/commands/apply/command_test.go
  cmd/cli/kubectl-kyverno/utils/common/common.go
  cmd/cli/kubectl-kyverno/utils/common/fetch.go
  docs/user/cli/commands/kyverno_apply.md
  pkg/cel/engine/engine.go
  pkg/cel/policy/policy_test.go
  test/cli/test-validating-policy/json-check-dockerfile/payload.json
  test/cli/test-validating-policy/json-check-dockerfile/policy.yaml
Labels: milestone 1.14.0, size:L

#12055 feat(vp): implement gctx in context library
  cmd/cli/kubectl-kyverno/commands/apply/command.go
  cmd/kyverno/main.go
  pkg/cel/libs/context/impl.go
  pkg/cel/libs/context/impl_test.go
  pkg/cel/libs/context/lib.go
  pkg/cel/libs/context/types.go
  pkg/cel/policy/context.go
  pkg/controllers/report/utils/scanner.go
  test/conformance/chainsaw/validating-policies/context/globalreference/README.md
  test/conformance/chainsaw/validating-policies/context/globalreference/chainsaw-test.yaml
  test/conformance/chainsaw/validating-policies/context/globalreference/gctxentry.yaml
  test/conformance/chainsaw/validating-policies/context/globalreference/main-deployment.yaml
  test/conformance/chainsaw/validating-policies/context/globalreference/namespace.yaml
  test/conformance/chainsaw/validating-policies/context/globalreference/new-deployment-exists.yaml
  test/conformance/chainsaw/validating-policies/context/globalreference/new-deployment.yaml
  test/conformance/chainsaw/validating-policies/context/globalreference/policy.yaml
Labels: milestone 1.14.0, size:L

#12311 Skip reporting for vpol when vap generation is enabled
  pkg/controllers/report/background/controller.go
Labels: milestone 1.14.0, size:XS

#12314 chore: ignore kyverno.tar file
  .gitignore
Labels: milestone 1.14.0, size:XS

#12319 feat: support rest mapper in cli with cluster enabled
  cmd/cli/kubectl-kyverno/commands/apply/command.go
Labels: milestone 1.14.0, size:S

#12317 feat: add parse image reference function
  pkg/cel/libs/context/impl.go
  pkg/cel/libs/context/impl_test.go
  pkg/cel/libs/context/lib.go
  pkg/cel/libs/context/types.go
  pkg/cel/policy/context.go
  pkg/imageverification/imagedataloader/loader.go
Labels: milestone 1.14.0, size:M

#12312 feat: skip applying a VP which is converted to VAP
  pkg/cel/engine/provider.go
  pkg/controllers/validatingadmissionpolicy-generate/controller.go
Labels: milestone 1.14.0, size:S

#12335 Add CEL HTTP Lib to the imageverification compiler
  pkg/imageverification/evaluator/compiler.go
Labels: milestone 1.14.0, size:XS

#11962 chore: add dryrun as label
  api/kyverno/v2/updaterequest_types.go
  charts/kyverno/charts/crds/templates/kyverno.io/kyverno.io_updaterequests.yaml
  cmd/cli/kubectl-kyverno/config/crds/cli.kyverno.io_userinfoes.yaml
  cmd/cli/kubectl-kyverno/data/crds/cli.kyverno.io_userinfoes.yaml
  config/crds/kyverno/kyverno.io_updaterequests.yaml
  config/install-latest-testing.yaml
  docs/user/crd/index.html
  docs/user/crd/kyverno.v2.html
  pkg/engine/engine.go
  pkg/engine/metrics.go
  pkg/webhooks/utils/policy_context_builder.go
Labels: milestone 1.14.0, size:M

#12337 Add CEL context.Lib to the imageverification compiler
  pkg/imageverification/evaluator/compiler.go
Labels: milestone 1.14.0, size:XS

#12333 fix: nits in cel context lib
  pkg/cel/libs/context/impl.go
  pkg/cel/libs/context/impl_test.go
  pkg/cel/libs/context/lib.go
  pkg/cel/libs/context/types.go
  pkg/cel/policy/context.go
Labels: milestone 1.14.0, size:M

#12356 fix: Update copyrights to 2025
  README.md
Labels: milestone 1.14.0, size:XS

#12344 feat: support mock in CLI for VPs
  cmd/cli/kubectl-kyverno/apis/v1alpha1/context.go
  cmd/cli/kubectl-kyverno/commands/apply/command.go
  cmd/cli/kubectl-kyverno/commands/apply/command_test.go
  cmd/cli/kubectl-kyverno/config/crds/cli.kyverno.io_contexts.yaml
  cmd/cli/kubectl-kyverno/context/load.go
  cmd/cli/kubectl-kyverno/context/load_test.go
  cmd/cli/kubectl-kyverno/data/crds/cli.kyverno.io_contexts.yaml
  docs/user/cli/commands/kyverno_apply.md
  docs/user/cli/crd/index.html
  docs/user/cli/crd/kyverno_kubectl.v1alpha1.html
  pkg/cel/policy/fake_context.go
  test/cli/test-validating-policy/policy-with-cm/context.yaml
  test/cli/test-validating-policy/policy-with-cm/pod1.yaml
  test/cli/test-validating-policy/policy-with-cm/pod2.yaml
  test/cli/test-validating-policy/policy-with-cm/policy.yaml
Labels: milestone 1.14.0, size:XL

#12365 fix: use pointer in context config map getter
  pkg/cel/libs/context/impl_test.go
  pkg/cel/libs/context/types.go
  pkg/cel/policy/context.go
  pkg/cel/policy/fake_context.go
Labels: milestone 1.14.0, size:S

#12318 feat: webhook handlers for image verification
  Makefile
  api/kyverno/constants.go
  api/policies.kyverno.io/v1alpha1/imageverification_policy.go
  charts/kyverno/README.md
  charts/kyverno/charts/crds/templates/policies.kyverno.io/policies.kyverno.io_imageverificationpolicies.yaml
  charts/kyverno/templates/admission-controller/clusterrole.yaml
  charts/kyverno/templates/reports-controller/clusterrole.yaml
  charts/kyverno/values.yaml
  cmd/cli/kubectl-kyverno/data/crds/policies.kyverno.io_imageverificationpolicies.yaml
  cmd/kyverno/main.go
  config/install-latest-testing.yaml
  pkg/cel/autogen/ivpol.go
  pkg/cel/autogen/ivpol_test.go
  pkg/cel/engine/imageverifyengine.go
  pkg/cel/engine/imageverifyengine_test.go
  pkg/cel/engine/provider.go
  pkg/cel/engine/vpolengine.go
  pkg/cel/libs/context/impl_test.go
  pkg/cel/libs/context/mock.go
  pkg/imageverification/evaluator/eval.go
  pkg/imageverification/evaluator/eval_test.go
  pkg/imageverification/evaluator/validate.go
  pkg/imageverification/variables/images.go
  pkg/imageverification/variables/images_test.go
  pkg/webhooks/resource/ivpol/handler.go
Labels: milestone 1.14.0, size:XXL

#12374 feat: make image ref parsing a static function
  pkg/cel/libs/context/impl_test.go
  pkg/cel/libs/context/mock.go
  pkg/cel/policy/context.go
  pkg/cel/policy/fake_context.go
  pkg/imageverification/imagedataloader/loader.go
Labels: milestone 1.14.0, size:S

#12379 fix: providing the http provider in the compiler
  pkg/cel/libs/http/http.go
  pkg/cel/policy/compiler.go
  pkg/cel/policy/policy.go
Labels: milestone 1.14.0, size:S

#12377 Minor fixes in Contributing and Development docs
  CONTRIBUTING.md
  DEVELOPMENT.md
Labels: milestone 1.14.0, size:L

#12380 feat: mock list resources in context
  cmd/cli/kubectl-kyverno/apis/v1alpha1/context.go
  cmd/cli/kubectl-kyverno/config/crds/cli.kyverno.io_contexts.yaml
  cmd/cli/kubectl-kyverno/data/crds/cli.kyverno.io_contexts.yaml
  docs/user/cli/crd/index.html
  docs/user/cli/crd/kyverno_kubectl.v1alpha1.html
  pkg/cel/policy/context.go
  pkg/cel/policy/fake_context.go
Labels: milestone 1.14.0, size:XL

#12390 Fix: data access in message expressions
  pkg/cel/policy/policy.go
Labels: milestone 1.14.0, size:XS

#12391 feat: register webhook for ivpol
  api/policies.kyverno.io/v1alpha1/imageverification_policy.go
  api/policies.kyverno.io/v1alpha1/policy_interface.go
  cmd/kyverno/main.go
  pkg/cel/autogen/autogen.go
  pkg/config/config.go
  pkg/controllers/webhook/controller.go
  pkg/controllers/webhook/validatingpolicy.go
  pkg/controllers/webhook/validatingpolicy_test.go
  pkg/engine/api/policy.go
  test/conformance/chainsaw/validating-policies/webhook-configuration/match-conditions/webhooks.yaml
  test/conformance/chainsaw/validating-policies/webhook-configuration/multiple/webhooks.yaml
  test/conformance/chainsaw/validating-policies/webhook-configuration/single/webhooks.yaml
Labels: milestone 1.14.0, size:L

#12393 fix: add missing context type and http type in ivpols
  pkg/imageverification/evaluator/compiler.go
Labels: milestone 1.14.0, size:XS

#12394 Fix: data access in audit annotations
  pkg/cel/policy/policy.go
Labels: milestone 1.14.0, size:XS

#12396 fix: image parse func and add chainsaw tests
  pkg/cel/engine/imageverifyengine.go
  pkg/cel/engine/imageverifyengine_test.go
  pkg/cel/env.go
  pkg/cel/libs/context/impl.go
  pkg/cel/libs/context/impl_test.go
  pkg/cel/libs/context/lib.go
  pkg/cel/libs/context/mock.go
  pkg/cel/libs/context/types.go
  pkg/cel/libs/image/lib.go
  pkg/cel/libs/image/lib_test.go
  pkg/cel/libs/image/types.go
  pkg/cel/policy/context.go
  pkg/cel/policy/fake_context.go
  pkg/cel/policy/utils.go
  pkg/imageverification/imagedataloader/loader.go
  test/conformance/chainsaw/validating-policies/context/imagereference/bad-deployment.yaml
  test/conformance/chainsaw/validating-policies/context/imagereference/chainsaw-test.yaml
  test/conformance/chainsaw/validating-policies/context/imagereference/deployment.yaml
  test/conformance/chainsaw/validating-policies/context/imagereference/policy.yaml
Labels: milestone 1.14.0, size:XL

#12383 solves the cronjob autogen nested path issue
  pkg/cel/autogen/rule.go
  test/conformance/chainsaw/validating-policies/autogen/autogen-deployments-cronjobs/bad-deployment.yaml
  test/conformance/chainsaw/validating-policies/autogen/autogen-deployments-cronjobs/check-autogen.yaml
  test/conformance/chainsaw/validating-policies/autogen/autogen-deployments-cronjobs/good-deployment.yaml
  test/conformance/chainsaw/validating-policies/autogen/should-autogen/check-autogen.yaml
Labels: milestone 1.14.0, size:L

#12384 feat: support vps in cli test command
  cmd/cli/kubectl-kyverno/apis/v1alpha1/test.go
  cmd/cli/kubectl-kyverno/apis/v1alpha1/test_result.go
  cmd/cli/kubectl-kyverno/commands/apply/command.go
  cmd/cli/kubectl-kyverno/commands/test/command.go
  cmd/cli/kubectl-kyverno/commands/test/output.go
  cmd/cli/kubectl-kyverno/commands/test/test.go
  cmd/cli/kubectl-kyverno/config/crds/cli.kyverno.io_tests.yaml
  cmd/cli/kubectl-kyverno/data/crds/cli.kyverno.io_tests.yaml
  docs/user/cli/crd/index.html
  docs/user/cli/crd/kyverno_kubectl.v1alpha1.html
  pkg/imageverification/imagedataloader/options.go
Labels: milestone 1.14.0, size:L

#12403 feat: webhook integration image verification policies
  pkg/webhooks/resource/ivpol/handler.go
Labels: milestone 1.14.0, size:M

#12410 feat: add user info in cel engine
  cmd/cli/kubectl-kyverno/commands/apply/command.go
  cmd/cli/kubectl-kyverno/commands/test/test.go
  pkg/cel/engine/vpolengine.go
  pkg/controllers/report/utils/scanner.go
Labels: milestone 1.14.0, size:M

#12411 Update ADOPTERS.md
  ADOPTERS.md
Labels: milestone 1.14.0, size:XS

#12414 feat: add cel user lib
  pkg/cel/libs/user/impl.go
  pkg/cel/libs/user/impl_test.go
  pkg/cel/libs/user/lib.go
  pkg/cel/libs/user/types.go
  pkg/cel/policy/compiler.go
  pkg/imageverification/evaluator/compiler.go
Labels: milestone 1.14.0, size:L

#12392 feat: serve admission requests for imageverificationpolicies
  api/policies.kyverno.io/v1alpha1/imageverification_policy.go
  api/policies.kyverno.io/v1alpha1/imageverification_policy_test.go
  api/policies.kyverno.io/v1alpha1/policy_interface.go
  api/policies.kyverno.io/v1alpha1/policy_status.go
  api/policies.kyverno.io/v1alpha1/policy_status_test.go
  api/policies.kyverno.io/v1alpha1/validating_policy.go
  api/policies.kyverno.io/v1alpha1/validating_policy_test.go
  api/policies.kyverno.io/v1alpha1/zz_generated.deepcopy.go
  charts/kyverno/charts/crds/templates/policies.kyverno.io/policies.kyverno.io_imageverificationpolicies.yaml
  charts/kyverno/charts/crds/templates/policies.kyverno.io/policies.kyverno.io_validatingpolicies.yaml
  cmd/cli/kubectl-kyverno/data/crds/policies.kyverno.io_imageverificationpolicies.yaml
  cmd/cli/kubectl-kyverno/data/crds/policies.kyverno.io_validatingpolicies.yaml
  cmd/kyverno/main.go
  config/crds/policies.kyverno.io/policies.kyverno.io_imageverificationpolicies.yaml
  config/crds/policies.kyverno.io/policies.kyverno.io_validatingpolicies.yaml
  config/install-latest-testing.yaml
  docs/user/crd/index.html
  pkg/cel/autogen/ivpol.go
  pkg/cel/autogen/rule.go
  pkg/cel/engine/imageverifyengine.go
  pkg/cel/engine/imageverifyengine_test.go
  pkg/cel/engine/provider.go
  pkg/config/config.go
  pkg/controllers/policystatus/controller.go
  pkg/controllers/policystatus/ivpol.go
  pkg/controllers/policystatus/vpol.go
  pkg/controllers/validatingadmissionpolicy-generate/controller.go
  pkg/controllers/webhook/controller.go
  pkg/controllers/webhook/utils.go
  pkg/controllers/webhook/validatingpolicy.go
  pkg/controllers/webhook/validatingpolicy_test.go
  pkg/imageverification/evaluator/compiler.go
  pkg/imageverification/evaluator/eval.go
  pkg/imageverification/evaluator/eval_test.go
  pkg/imageverification/evaluator/log.go
  pkg/imageverification/evaluator/validate.go
  pkg/imageverification/imageverifierfunctions/impl_test.go
  pkg/imageverification/imageverifierfunctions/lib.go
  pkg/webhooks/server.go
  pkg/webhooks/types.go
  test/conformance/chainsaw/validating-policies/webhook-configuration/match-conditions/webhooks.yaml
  test/conformance/chainsaw/validating-policies/webhook-configuration/multiple/webhooks.yaml
  test/conformance/chainsaw/validating-policies/webhook-configuration/single/webhooks.yaml
Labels: milestone 1.14.0, size:XXL

#12417 chore: make function comment match function name
  pkg/engine/variables/operator/allin.go
  pkg/engine/variables/operator/anyin.go
  pkg/engine/wildcards/wildcards.go
  pkg/validation/policy/validate.go
Labels: milestone 1.14.0, size:S

#12423 feat: enable mutating webhook for ivpol
  api/policies.kyverno.io/v1alpha1/imageverification_policy.go
  api/policies.kyverno.io/v1alpha1/policy_status.go
  api/policies.kyverno.io/v1alpha1/policy_status_test.go
  api/policies.kyverno.io/v1alpha1/validating_policy.go
  api/policies.kyverno.io/v1alpha1/zz_generated.deepcopy.go
  cmd/kyverno/main.go
  docs/user/crd/index.html
  pkg/cel/autogen/rule.go
  pkg/cel/engine/imageverifyengine.go
  pkg/config/config.go
  pkg/controllers/policystatus/ivpol.go
  pkg/controllers/policystatus/vpol.go
  pkg/controllers/webhook/controller.go
  pkg/controllers/webhook/validatingpolicy_test.go
  pkg/imageverification/evaluator/policy.go
  pkg/webhooks/server.go
  pkg/webhooks/types.go
  test/conformance/chainsaw/imageverificationpolicies/match-conditions/bad-pod.yaml
  test/conformance/chainsaw/imageverificationpolicies/match-conditions/chainsaw-test.yaml
  test/conformance/chainsaw/imageverificationpolicies/match-conditions/good-pod.yaml
  test/conformance/chainsaw/imageverificationpolicies/match-conditions/policy.yaml
  test/conformance/chainsaw/validating-policies/webhook-configuration/match-conditions/webhooks.yaml
  test/conformance/chainsaw/validating-policies/webhook-configuration/multiple/webhooks.yaml
  test/conformance/chainsaw/validating-policies/webhook-configuration/single/webhooks.yaml
Labels: milestone 1.14.0, size:XXL

#12415 chainsaw test to check messageExpression interpolation
  test/conformance/chainsaw/validating-policies/report-message-exp/chainsaw-test.yaml
  test/conformance/chainsaw/validating-policies/report-message-exp/deployment.yaml
  test/conformance/chainsaw/validating-policies/report-message-exp/policy.yaml
  test/conformance/chainsaw/validating-policies/report-message-exp/report.yaml
Labels: milestone 1.14.0, size:L

#12425 feat: add globalcontext CEL lib
  pkg/cel/engine/imageverifyengine.go
  pkg/cel/engine/imageverifyengine_test.go
  pkg/cel/engine/vpolengine.go
  pkg/cel/libs/globalcontext/impl.go
  pkg/cel/libs/globalcontext/impl_test.go
  pkg/cel/libs/globalcontext/lib.go
  pkg/cel/libs/globalcontext/types.go
  pkg/cel/libs/resource/impl.go
  pkg/cel/libs/resource/impl_test.go
  pkg/cel/libs/resource/lib.go
  pkg/cel/libs/resource/lib_test.go
  pkg/cel/libs/resource/mock.go
  pkg/cel/libs/resource/types.go
  pkg/cel/policy/compiler.go
  pkg/cel/policy/compiler_test.go
  pkg/cel/policy/context.go
  pkg/cel/policy/policy.go
  pkg/imageverification/evaluator/compiler.go
  test/cli/test-validating-policy/policy-with-cm/policy.yaml
  test/conformance/chainsaw/validating-policies/context/configmap/policy.yaml
  test/conformance/chainsaw/validating-policies/context/globalreference/policy.yaml
  test/conformance/chainsaw/validating-policies/context/image-data/policy.yaml
  test/conformance/chainsaw/validating-policies/context/resource/policy.yaml
Labels: milestone 1.14.0, size:XL

#12426 feat: simplify resource cel lib
  pkg/cel/libs/resource/impl.go
  pkg/cel/libs/resource/impl_test.go
  pkg/cel/libs/resource/mock.go
  pkg/cel/libs/resource/types.go
  pkg/cel/policy/context.go
  pkg/cel/policy/fake_context.go
Labels: milestone 1.14.0, size:M

#12427 feat: remove GetConfigMap from CEL lib
  pkg/cel/libs/resource/impl.go
  pkg/cel/libs/resource/impl_test.go
  pkg/cel/libs/resource/lib.go
  pkg/cel/libs/resource/types.go
  pkg/cel/policy/compiler_test.go
  test/cli/test-validating-policy/policy-with-cm/policy.yaml
  test/conformance/chainsaw/validating-policies/context/configmap/policy.yaml
Labels: milestone 1.14.0, size:M

#12432 Implement Reporting and Background scan for ImageVerificationPolicy
  cmd/reports-controller/main.go
  pkg/cel/engine/ivpolprovider.go
  pkg/cel/policy/filter.go
  pkg/cel/policy/filter_test.go
  pkg/controllers/report/aggregate/controller.go
  pkg/controllers/report/aggregate/controller_test.go
  pkg/controllers/report/aggregate/utils.go
  pkg/controllers/report/background/controller.go
  pkg/controllers/report/resource/controller.go
  pkg/controllers/report/utils/scanner.go
  pkg/controllers/report/utils/utils.go
  pkg/utils/report/results.go
  pkg/utils/report/source.go
Labels: milestone 1.14.0, size:L

#12433 fix: check if response includes a policy for ivpol
  pkg/controllers/report/utils/scanner.go
Labels: milestone 1.14.0, size:S

#12434 fix: set correct policy for ivpols
  pkg/controllers/report/utils/scanner.go
Labels: milestone 1.14.0, size:XS

#12436 fix: engine response for ivpol background scanning
  pkg/controllers/report/utils/scanner.go
Labels: milestone 1.14.0, size:S

#12449 chore: move imageverify cel lib
  pkg/cel/libs/imageverify/impl.go
  pkg/cel/libs/imageverify/impl_test.go
  pkg/cel/libs/imageverify/lib.go
  pkg/cel/libs/imageverify/utils.go
  pkg/imageverification/evaluator/compiler.go
  pkg/imageverification/evaluator/policy.go
Labels: milestone 1.14.0, size:S

#12450 chore: bump a couple of deps
  hack/api-group-resources/go.mod
  hack/api-group-resources/go.sum
Labels: milestone 1.14.0, size:M

#12452 chore: enable ivpol chainsaw tests in CI
  .github/workflows/conformance.yaml
Labels: milestone 1.14.0, size:S

#12451 chore: add api-group-resources to dependabot config
  .github/dependabot.yml
Labels: milestone 1.14.0, size:XS

#12458 chore: add some cel lib unit tests
  pkg/cel/libs/globalcontext/impl_test.go
  pkg/cel/libs/user/impl_test.go
  pkg/cel/libs/user/lib.go
Labels: milestone 1.14.0, size:M

#12457 feat: adopt psa to v1.32.3
  go.mod
  go.sum
  pkg/pss/evaluate_test.go
  pkg/pss/utils/mapping.go
Labels: validate.podSecurity, milestone 1.14.0, size:XL

#12474 chore: skip webhook registration if vap is generated
  pkg/controllers/webhook/controller.go
  test/conformance/chainsaw/generate-validating-admission-policy/validatingpolicy/check-deployment-labels/chainsaw-test.yaml
  test/conformance/chainsaw/generate-validating-admission-policy/validatingpolicy/check-deployment-labels/policy-assert.yaml
Labels: milestone 1.14.0, size:S

#12479 Add ValidatingPolicy Validation Webhook
  pkg/cel/policy/validate.go
  pkg/controllers/webhook/controller.go
  pkg/utils/admission/policy.go
  pkg/utils/admission/policy_test.go
  pkg/webhooks/policy/handlers.go
Labels: milestone 1.14.0, size:L

#12454 feat: support json in CLI test
  cmd/cli/kubectl-kyverno/apis/v1alpha1/test.go
  cmd/cli/kubectl-kyverno/commands/test/command_test.go
  cmd/cli/kubectl-kyverno/commands/test/test.go
  cmd/cli/kubectl-kyverno/config/crds/cli.kyverno.io_tests.yaml
  cmd/cli/kubectl-kyverno/data/crds/cli.kyverno.io_tests.yaml
  docs/user/cli/crd/index.html
  docs/user/cli/crd/kyverno_kubectl.v1alpha1.html
  test/cli/test-validating-policy/json-check-dockerfile/kyverno-test.yaml
Labels: milestone 1.14.0, size:L

#12492 feat: support ivpol via CLI apply
  cmd/cli/kubectl-kyverno/commands/apply/command.go
  cmd/cli/kubectl-kyverno/commands/apply/command_test.go
  cmd/cli/kubectl-kyverno/commands/oci/pull/options.go
  cmd/cli/kubectl-kyverno/policy/legacy_loader.go
  cmd/cli/kubectl-kyverno/policy/load.go
  cmd/cli/kubectl-kyverno/processor/policy_processor_test.go
  pkg/admissionpolicy/kyvernopolicy_checker_test.go
  pkg/admissionpolicy/validate_test.go
  pkg/autogen/v1/autogen_test.go
  pkg/autogen/v2/autogen_test.go
  pkg/utils/yaml/loadpolicy.go
  pkg/utils/yaml/loadpolicy_test.go
  pkg/validation/policy/allowed_vars_test.go
Labels: milestone 1.14.0, size:L

#12498 feat: release 1.14.0-alpha.1
  charts/kyverno-policies/Chart.yaml
  charts/kyverno-policies/README.md
  charts/kyverno/Chart.yaml
  charts/kyverno/README.md
  charts/kyverno/charts/crds/Chart.yaml
  charts/kyverno/charts/crds/README.md
  charts/kyverno/charts/grafana/Chart.yaml
  charts/kyverno/charts/grafana/README.md
  config/install-latest-testing.yaml
Labels: milestone 1.14.0, size:M

#12516 fix: image verify exception flake
  test/conformance/chainsaw/imageverificationpolicies/exceptions/chainsaw-test.yaml
Labels: cherry-pick-required, milestone 1.14.0, size:S

#12514 Minor fixes in troubleshooting doc
  docs/dev/troubleshooting/reports.md
Labels: milestone 1.14.0, size:S

#12517 fix CVE: bump `golang-jwt/jwt/v4`
  docs/user/crd/kyverno.v1.html
  docs/user/crd/kyverno.v2.html
  docs/user/crd/kyverno.v2beta1.html
  go.mod
  go.sum
Labels: size:M

#12487 handle runtime error
  pkg/cel/engine/vpolengine.go
  test/conformance/chainsaw/cli/test/matchCondition-false/kyverno-test.yaml
  test/conformance/chainsaw/cli/test/matchCondition-false/policy.yaml
  test/conformance/chainsaw/cli/test/matchCondition-false/resource.yaml
Labels: cherry-pick-required, milestone 1.14.0, size:L

#12511 feat: support json for ivpol via CLI apply
  api/policies.kyverno.io/v1alpha1/imageverification_policy.go
  charts/kyverno/charts/crds/templates/policies.kyverno.io/policies.kyverno.io_imagevalidatingpolicies.yaml
  cmd/cli/kubectl-kyverno/commands/apply/command.go
  cmd/cli/kubectl-kyverno/commands/apply/command_test.go
  cmd/cli/kubectl-kyverno/data/crds/policies.kyverno.io_imagevalidatingpolicies.yaml
  config/crds/policies.kyverno.io/policies.kyverno.io_imagevalidatingpolicies.yaml
  config/install-latest-testing.yaml
  docs/user/crd/index.html
  test/cli/test-image-validating-policy/check-json/ivpol-json.yaml
  test/cli/test-image-validating-policy/check-json/ivpol-payload-fail.json
  test/cli/test-image-validating-policy/check-json/ivpol-payload-pass.json
Labels: cherry-pick-required, milestone 1.14.0, size:L

#12500 chainsaw-test imagedata arch
  test/conformance/chainsaw/validating-policies/context/image-data-arch/chainsaw-test.yaml
  test/conformance/chainsaw/validating-policies/context/image-data-arch/pod-bad.yaml
  test/conformance/chainsaw/validating-policies/context/image-data-arch/pod-good.yaml
  test/conformance/chainsaw/validating-policies/context/image-data-arch/policy-assert.yaml
  test/conformance/chainsaw/validating-policies/context/image-data-arch/policy.yaml
Labels: cherry-pick-required, milestone 1.14.0, size:M

#12536 chore: add a chainsaw test for vpol to block ephemeral containers
  test/conformance/chainsaw/validating-policies/subresources/block-ephemeral-containers/chainsaw-test.yaml
  test/conformance/chainsaw/validating-policies/subresources/block-ephemeral-containers/pod.yaml
  test/conformance/chainsaw/validating-policies/subresources/block-ephemeral-containers/policy-assert.yaml
  test/conformance/chainsaw/validating-policies/subresources/block-ephemeral-containers/policy.yaml
Labels: cherry-pick-required, milestone 1.14.0, size:M

#12334 chore: use kube 1.32 by default in makefile
  Makefile
Labels: cherry-pick-required, milestone 1.14.0, size:XS

#12503 Minor fixes in feature flags reademe file
  docs/dev/feature-flags/README.md
Labels: cherry-pick-required, milestone 1.14.0, size:S

#12545 chore: remove unused field in vap processor
  cmd/cli/kubectl-kyverno/commands/apply/command.go
  cmd/cli/kubectl-kyverno/commands/test/test.go
  cmd/cli/kubectl-kyverno/processor/vap_processor.go
Labels: cherry-pick-required, milestone 1.14.0, size:XS

#12310 chore: update supported k8s versions
  .github/actions/run-tests/action.yaml
  .github/workflows/conformance.yaml
  .github/workflows/load-testing.yml
  scripts/config/kind/vap-v1beta1.yaml
  test/conformance/chainsaw/mutate/clusterpolicy/standard/userInfo-roles-clusterRoles/chainsaw-step-04-assert-1-1.yaml
Labels: cherry-pick-required, milestone 1.14.0, size:M

#12553 chore: update tooling deps
  Makefile
  hack/api-group-resources/go.mod
  hack/api-group-resources/go.sum
  hack/client-wrapper/main.go
  hack/controller-gen/go.mod
  hack/controller-gen/go.sum
Labels: cherry-pick-required, milestone 1.14.0, size:M

#12555 feat: bump kube libs to 1.32
  go.mod
  go.sum
Labels: cherry-pick-required, milestone 1.14.0, size:M

#12548 chore: chainsaw tests for ivpol autogen
  test/conformance/chainsaw/imageverificationpolicies/autogen/autogen-deployments-cronjobs/bad-deployment.yaml
  test/conformance/chainsaw/imageverificationpolicies/autogen/autogen-deployments-cronjobs/chainsaw-test.yaml
  test/conformance/chainsaw/imageverificationpolicies/autogen/autogen-deployments-cronjobs/check-autogen.yaml
  test/conformance/chainsaw/imageverificationpolicies/autogen/autogen-deployments-cronjobs/good-deployment.yaml
  test/conformance/chainsaw/imageverificationpolicies/autogen/autogen-deployments-cronjobs/policy-assert.yaml
  test/conformance/chainsaw/imageverificationpolicies/autogen/autogen-deployments-cronjobs/policy.yaml
  test/conformance/chainsaw/imageverificationpolicies/autogen/none/chainsaw-test.yaml
  test/conformance/chainsaw/imageverificationpolicies/autogen/none/check-autogen.yaml
  test/conformance/chainsaw/imageverificationpolicies/autogen/none/policy-assert.yaml
  test/conformance/chainsaw/imageverificationpolicies/autogen/none/policy.yaml
Labels: cherry-pick-required, milestone 1.14.0, size:L

#12559 feat: bump kube libs to 1.32 (cherry-pick #12555)
  go.mod
  go.sum
Labels: size:M

#12561 fix: CLI policies processing order
  cmd/cli/kubectl-kyverno/commands/apply/command.go
  cmd/cli/kubectl-kyverno/commands/test/test.go
  cmd/cli/kubectl-kyverno/processor/policy_processor.go
  cmd/cli/kubectl-kyverno/processor/vap_processor.go
Labels: milestone 1.14.0, size:L

#12569 fix: enable k8s resource lookup for ivpol
  pkg/imageverification/evaluator/policy.go
  test/conformance/chainsaw/imagevalidatingpolicies/context/resource/chainsaw-test.yaml
  test/conformance/chainsaw/imagevalidatingpolicies/context/resource/negative.yaml
  test/conformance/chainsaw/imagevalidatingpolicies/context/resource/pod.yaml
  test/conformance/chainsaw/imagevalidatingpolicies/context/resource/policy-assert.yaml
  test/conformance/chainsaw/imagevalidatingpolicies/context/resource/policy.yaml
  test/conformance/chainsaw/imagevalidatingpolicies/context/resource/positive.yaml
Labels: cherry-pick-required, milestone 1.14.0, size:L

#12567 fix: CLI policies processing order (VPOL)
  cmd/cli/kubectl-kyverno/commands/apply/command.go
  cmd/cli/kubectl-kyverno/commands/apply/command_test.go
  cmd/cli/kubectl-kyverno/commands/test/test.go
  cmd/cli/kubectl-kyverno/processor/policy_processor.go
Labels: cherry-pick-required, milestone 1.14.0, size:L

#12575 fix: use correct resource in cli processor
  cmd/cli/kubectl-kyverno/processor/policy_processor.go
Labels: cherry-pick-required, milestone 1.14.0, size:XS

#12576 chore: add Chainsaw test for ivpol admission reporting
  test/conformance/chainsaw/imagevalidatingpolicies/report/admission/chainsaw-test.yaml
  test/conformance/chainsaw/imagevalidatingpolicies/report/admission/deployment.yaml
  test/conformance/chainsaw/imagevalidatingpolicies/report/admission/policy-assert.yaml
  test/conformance/chainsaw/imagevalidatingpolicies/report/admission/policy.yaml
  test/conformance/chainsaw/imagevalidatingpolicies/report/admission/report.yaml
  test/conformance/chainsaw/validating-policies/report/admission/chainsaw-test.yaml
  test/conformance/chainsaw/validating-policies/report/admission/deployment.yaml
  test/conformance/chainsaw/validating-policies/report/admission/policy-assert.yaml
  test/conformance/chainsaw/validating-policies/report/admission/policy.yaml
  test/conformance/chainsaw/validating-policies/report/admission/report.yaml
  test/conformance/chainsaw/validating-policies/report/message-exp/chainsaw-test.yaml
  test/conformance/chainsaw/validating-policies/report/message-exp/deployment.yaml
  test/conformance/chainsaw/validating-policies/report/message-exp/policy-assert.yaml
  test/conformance/chainsaw/validating-policies/report/message-exp/policy.yaml
  test/conformance/chainsaw/validating-policies/report/message-exp/report.yaml
Labels: cherry-pick-required, milestone 1.14.0, size:L

#12579 chore: add tests for background reporting
  cmd/kyverno/main.go
  pkg/controllers/policystatus/controller.go
  pkg/controllers/webhook/controller.go
  pkg/controllers/webhook/recorder.go
  pkg/controllers/webhook/utils.go
  test/conformance/chainsaw/imagevalidatingpolicies/report/background/chainsaw-test.yaml
  test/conformance/chainsaw/imagevalidatingpolicies/report/background/deployment.yaml
  test/conformance/chainsaw/imagevalidatingpolicies/report/background/policy-assert.yaml
  test/conformance/chainsaw/imagevalidatingpolicies/report/background/policy.yaml
  test/conformance/chainsaw/imagevalidatingpolicies/report/background/report.yaml
  test/conformance/chainsaw/validating-policies/report/background/chainsaw-test.yaml
  test/conformance/chainsaw/validating-policies/report/background/deployment.yaml
  test/conformance/chainsaw/validating-policies/report/background/policy-assert.yaml
  test/conformance/chainsaw/validating-policies/report/background/policy.yaml
  test/conformance/chainsaw/validating-policies/report/background/report.yaml
Labels: cherry-pick-required, milestone 1.14.0, size:L

#12582 feat: improve vpol api for autogen
  api/policies.kyverno.io/v1alpha1/validating_policy.go
  api/policies.kyverno.io/v1alpha1/zz_generated.deepcopy.go
  charts/kyverno/charts/crds/templates/policies.kyverno.io/policies.kyverno.io_validatingpolicies.yaml
  cmd/cli/kubectl-kyverno/data/crds/policies.kyverno.io_validatingpolicies.yaml
  config/crds/policies.kyverno.io/policies.kyverno.io_validatingpolicies.yaml
  config/install-latest-testing.yaml
  docs/user/crd/index.html
  pkg/cel/autogen/autogen.go
  pkg/controllers/validatingadmissionpolicy-generate/controller.go
  test/conformance/chainsaw/generate-validating-admission-policy/validatingpolicy/check-deployment-labels/policy.yaml
  test/conformance/chainsaw/generate-validating-admission-policy/validatingpolicy/generation-config/disabled/policy.yaml
  test/conformance/chainsaw/generate-validating-admission-policy/validatingpolicy/generation-config/enabled/policy.yaml
  test/conformance/chainsaw/generate-validating-admission-policy/validatingpolicy/with-cel-exception/policy.yaml
  test/conformance/chainsaw/generate-validating-admission-policy/validatingpolicy/with-multiple-exceptions/policy.yaml
  test/conformance/chainsaw/validating-policies/autogen/autogen-deployments-cronjobs/README.md
  test/conformance/chainsaw/validating-policies/autogen/autogen-deployments-cronjobs/policy.yaml
  test/conformance/chainsaw/validating-policies/autogen/autogen-deployments-statefulsets/README.md
  test/conformance/chainsaw/validating-policies/autogen/autogen-deployments-statefulsets/policy.yaml
  test/conformance/chainsaw/validating-policies/autogen/none/README.md
  test/conformance/chainsaw/validating-policies/autogen/none/policy.yaml
Labels: cherry-pick-required, milestone 1.14.0, size:L

#12577 Add Webhook validation for IVPOL
  pkg/controllers/webhook/controller.go
  pkg/imageverification/evaluator/validate.go
  pkg/utils/admission/policy.go
  pkg/utils/admission/policy_test.go
  pkg/webhooks/policy/handlers.go
Labels: cherry-pick-required, milestone 1.14.0, size:M

#12603 fix: pod controllers autogen api
  api/policies.kyverno.io/v1alpha1/validating_policy.go
  api/policies.kyverno.io/v1alpha1/zz_generated.deepcopy.go
  charts/kyverno/charts/crds/templates/policies.kyverno.io/policies.kyverno.io_validatingpolicies.yaml
  cmd/cli/kubectl-kyverno/data/crds/policies.kyverno.io_validatingpolicies.yaml
  config/crds/policies.kyverno.io/policies.kyverno.io_validatingpolicies.yaml
  config/install-latest-testing.yaml
  docs/user/crd/index.html
  pkg/cel/autogen/autogen_test.go
  test/conformance/chainsaw/validating-policies/autogen/autogen-deployments-cronjobs/policy.yaml
  test/conformance/chainsaw/validating-policies/autogen/autogen-deployments-statefulsets/policy.yaml
  test/conformance/chainsaw/validating-policies/autogen/none/policy.yaml
Labels: cherry-pick-required, milestone 1.14.0, size:M

#12605 fix: rename autogen configuration
  api/policies.kyverno.io/v1alpha1/validating_policy.go
  api/policies.kyverno.io/v1alpha1/zz_generated.deepcopy.go
  charts/kyverno/charts/crds/templates/policies.kyverno.io/policies.kyverno.io_validatingpolicies.yaml
  cmd/cli/kubectl-kyverno/data/crds/policies.kyverno.io_validatingpolicies.yaml
  config/crds/policies.kyverno.io/policies.kyverno.io_validatingpolicies.yaml
  config/install-latest-testing.yaml
  docs/user/crd/index.html
  pkg/cel/autogen/autogen.go
  test/conformance/chainsaw/generate-validating-admission-policy/validatingpolicy/check-deployment-labels/policy.yaml
  test/conformance/chainsaw/generate-validating-admission-policy/validatingpolicy/generation-config/disabled/policy.yaml
  test/conformance/chainsaw/generate-validating-admission-policy/validatingpolicy/generation-config/enabled/policy.yaml
  test/conformance/chainsaw/generate-validating-admission-policy/validatingpolicy/with-cel-exception/policy.yaml
  test/conformance/chainsaw/generate-validating-admission-policy/validatingpolicy/with-multiple-exceptions/policy.yaml
  test/conformance/chainsaw/validating-policies/autogen/autogen-deployments-cronjobs/policy.yaml
  test/conformance/chainsaw/validating-policies/autogen/autogen-deployments-statefulsets/policy.yaml
  test/conformance/chainsaw/validating-policies/autogen/none/policy.yaml
Labels: cherry-pick-required, milestone 1.14.0, size:L
