Repository kyverno/kyverno, pull requests merged in 2025-10, with the labels that each got.

#14106 feat: enable events gen for gpol, mpol, ivpol
  cmd/background-controller/main.go
  cmd/cleanup-controller/main.go
  cmd/kyverno/main.go
  cmd/reports-controller/main.go
  pkg/background/generate/controller.go
  pkg/background/gpol/generate_controller.go
  pkg/background/mpol/processor.go
  pkg/background/mpol/processor_test.go
  pkg/background/mutate/mutate.go
  pkg/background/update_request_controller.go
  pkg/controllers/report/utils/scanner.go
  pkg/event/controller.go
  pkg/event/controller_test.go
  pkg/event/events.go
  pkg/webhooks/resource/generation/handler.go
  pkg/webhooks/resource/handlers.go
  pkg/webhooks/resource/imageverification/handler.go
  pkg/webhooks/resource/ivpol/handler.go
  pkg/webhooks/resource/mpol/handler.go
  pkg/webhooks/resource/mutation/mutation.go
  pkg/webhooks/resource/updaterequest.go
  pkg/webhooks/resource/vpol/handler.go
  pkg/webhooks/utils/event.go
  test/conformance/chainsaw/image-validating-policies/report/admission/chainsaw-test.yaml
  test/conformance/chainsaw/image-validating-policies/report/admission/events-assert.yaml
  test/conformance/chainsaw/mutating-policies/reporting/events-violation/chainsaw-test.yaml
  test/conformance/chainsaw/mutating-policies/reporting/events-violation/configmap.yaml
  test/conformance/chainsaw/mutating-policies/reporting/events-violation/event-assert.yaml
  test/conformance/chainsaw/mutating-policies/reporting/events-violation/ns.yaml
  test/conformance/chainsaw/mutating-policies/reporting/events-violation/policy.yaml
Labels: size:L, milestone 1.16.0

#14109 add check for namespace
  pkg/engine/utils/exceptions.go
Labels: cherry-pick-required, size:S, milestone 1.15.3

#14117 support label selector in resource.List CEL lib
  pkg/cel/libs/context.go
  pkg/cel/libs/fake_context.go
  pkg/cel/libs/fake_context_test.go
  pkg/cel/libs/resource/impl.go
  pkg/cel/libs/resource/impl_test.go
  pkg/cel/libs/resource/lib.go
  pkg/cel/libs/resource/mock.go
  pkg/cel/libs/resource/types.go
Labels: size:L, milestone 1.16.0

#14116 feat: support Kyverno CEL libs in policy `matchConditions`
  pkg/cel/compiler/matchconditions.go
  pkg/controllers/webhook/controller.go
  pkg/controllers/webhook/expression_cache.go
  pkg/controllers/webhook/validating.go
  pkg/controllers/webhook/validating_test.go
  test/conformance/chainsaw/mutating-policies/matchconditions/cel-libs/chainsaw-test.yaml
  test/conformance/chainsaw/mutating-policies/matchconditions/cel-libs/pod-not-patched.yaml
  test/conformance/chainsaw/mutating-policies/matchconditions/cel-libs/pod-resources-patched.yaml
  test/conformance/chainsaw/mutating-policies/matchconditions/cel-libs/pod-resources.yaml
  test/conformance/chainsaw/mutating-policies/matchconditions/cel-libs/policy.yaml
Labels: size:XL, milestone 1.16.0

#14096 fix(controllers): stop status-driven hot-loops
  pkg/controllers/cleanup/controller.go
  pkg/controllers/cleanup/controller_test.go
  pkg/controllers/deleting/controller.go
  pkg/controllers/deleting/controller_test.go
Labels: cherry-pick-required, cherry-pick-completed, size:L, milestone 1.15.3
