Repository kyverno/kyverno, pull requests merged in 2025-02, with the labels that each got.

#12061 fix: remove 1.27 and 1.28 from tests
  .github/workflows/conformance.yaml
Labels: milestone 1.14.0, size:XS

#12052 feat: add validation message in cel engine response
  pkg/cel/engine/engine.go
  pkg/cel/policy/compiler.go
  pkg/cel/policy/policy.go
Labels: milestone 1.14.0, size:M

#12054 feat: add admission request cel variable
  pkg/cel/engine/engine.go
  pkg/cel/policy/policy.go
Labels: milestone 1.14.0, size:S

#12036 feat: create image data loader
  cmd/cli/kubectl-kyverno/commands/apply/command.go
  cmd/cli/kubectl-kyverno/commands/oci/command.go
  cmd/cli/kubectl-kyverno/commands/oci/pull/command_test.go
  cmd/cli/kubectl-kyverno/commands/oci/push/command_test.go
  pkg/cel/libs/context/impl_test.go
  pkg/cel/libs/context/lib.go
  pkg/cel/libs/context/types.go
  pkg/cel/policy/context.go
  pkg/imagedataloader/authn.go
  pkg/imagedataloader/loader.go
  pkg/imagedataloader/loader_test.go
  pkg/imagedataloader/options.go
  pkg/imagedataloader/secrets.go
  pkg/registryclient/authn.go
  pkg/registryclient/client.go
Labels: milestone 1.14.0, size:XL

#12063 feat: add message expression support to validating policies
  pkg/cel/policy/compiler.go
  pkg/cel/policy/policy.go
Labels: milestone 1.14.0, size:M

#12070 feat: add context provider in admission handling
  cmd/kyverno/main.go
  pkg/cel/libs/context/impl.go
  pkg/cel/libs/context/lib.go
  pkg/cel/policy/compiler.go
  pkg/webhooks/server.go
  test/conformance/chainsaw/validating-policies/context/configmap/chainsaw-test.yaml
  test/conformance/chainsaw/validating-policies/context/configmap/configmap.yaml
  test/conformance/chainsaw/validating-policies/context/configmap/negative.yaml
  test/conformance/chainsaw/validating-policies/context/configmap/policy.yaml
  test/conformance/chainsaw/validating-policies/context/configmap/positive.yaml
Labels: milestone 1.14.0, size:L

#12072 feat: consider validation actions (Deny)
  api/kyverno/v2alpha1/spec_types.go
  charts/kyverno/charts/crds/templates/kyverno.io/kyverno.io_validatingpolicies.yaml
  cmd/cli/kubectl-kyverno/data/crds/kyverno.io_validatingpolicies.yaml
  config/crds/kyverno/kyverno.io_validatingpolicies.yaml
  config/install-latest-testing.yaml
  docs/user/crd/index.html
  docs/user/crd/kyverno.v2alpha1.html
  pkg/cel/engine/engine.go
  pkg/cel/engine/provider.go
  pkg/webhooks/server.go
  test/conformance/chainsaw/validating-policies/validation-actions/audit/chainsaw-test.yaml
  test/conformance/chainsaw/validating-policies/validation-actions/audit/deployment.yaml
  test/conformance/chainsaw/validating-policies/validation-actions/audit/policy.yaml
  test/conformance/chainsaw/validating-policies/validation-actions/deny/chainsaw-test.yaml
  test/conformance/chainsaw/validating-policies/validation-actions/deny/deployment.yaml
  test/conformance/chainsaw/validating-policies/validation-actions/deny/policy.yaml
  test/conformance/chainsaw/validating-policies/validation-actions/none/chainsaw-test.yaml
  test/conformance/chainsaw/validating-policies/validation-actions/none/deployment.yaml
  test/conformance/chainsaw/validating-policies/validation-actions/none/policy.yaml
  test/conformance/chainsaw/validating-policies/validation-actions/warn/chainsaw-test.yaml
  test/conformance/chainsaw/validating-policies/validation-actions/warn/deployment.yaml
  test/conformance/chainsaw/validating-policies/validation-actions/warn/policy.yaml
Labels: milestone 1.14.0, size:L

#12077 tests: add chainsaw test for image data loading
  test/conformance/chainsaw/validating-policies/context/image-data/chainsaw-test.yaml
  test/conformance/chainsaw/validating-policies/context/image-data/deployment.yaml
  test/conformance/chainsaw/validating-policies/context/image-data/policy.yaml
Labels: milestone 1.14.0, size:M

#12078 chore: remove polex compiler
  pkg/cel/exception/compiler.go
  pkg/cel/exception/compiler_test.go
  pkg/cel/exception/exception.go
Labels: milestone 1.14.0, size:L

#12079 refactor: webhook server/handlers
  cmd/kyverno/main.go
  pkg/webhooks/exception/validate.go
  pkg/webhooks/globalcontext/validate.go
  pkg/webhooks/policy/handlers.go
  pkg/webhooks/resource/handlers.go
  pkg/webhooks/resource/vpol/handler.go
  pkg/webhooks/server.go
  pkg/webhooks/types.go
Labels: milestone 1.14.0, size:L

#12082 fix(flag): lookup kubeconfig only after parsing
  cmd/internal/flag.go
Labels: milestone 1.14.0, size:S

#12081 feat: consider Warn validation action
  pkg/webhooks/resource/vpol/handler.go
Labels: milestone 1.14.0, size:S

#12084 chore: add celpolicyexceptions in helm chart
  Makefile
  charts/kyverno/README.md
  charts/kyverno/charts/crds/templates/kyverno.io/kyverno.io_celpolicyexceptions.yaml
  charts/kyverno/values.yaml
  cmd/cli/kubectl-kyverno/data/crds/kyverno.io_celpolicyexceptions.yaml
  config/install-latest-testing.yaml
Labels: milestone 1.14.0, size:XXL

#12090 feat: add reporting to validating admission handler
  cmd/internal/flag.go
  cmd/kyverno/main.go
  pkg/webhooks/resource/vpol/handler.go
Labels: milestone 1.14.0, size:M

#12096 feat: add validating policies to reports aggregation
  charts/kyverno/templates/reports-controller/clusterrole.yaml
  cmd/reports-controller/main.go
  config/install-latest-testing.yaml
  pkg/controllers/report/aggregate/controller.go
  pkg/controllers/report/aggregate/controller_test.go
  pkg/controllers/report/aggregate/utils.go
  pkg/engine/api/policy.go
  pkg/utils/report/results.go
  pkg/utils/report/source.go
  test/conformance/chainsaw/validating-policies/report/chainsaw-test.yaml
  test/conformance/chainsaw/validating-policies/report/deployment.yaml
  test/conformance/chainsaw/validating-policies/report/policy.yaml
  test/conformance/chainsaw/validating-policies/report/report.yaml
Labels: milestone 1.14.0, size:L

#12100 chore: make validating policies e2e tests required
  .github/workflows/conformance.yaml
Labels: milestone 1.14.0, size:XS

#12103 chore: remove polex match constraints
  api/kyverno/v2alpha1/policy_exception.go
  api/kyverno/v2alpha1/zz_generated.deepcopy.go
  charts/kyverno/charts/crds/templates/kyverno.io/kyverno.io_celpolicyexceptions.yaml
  cmd/cli/kubectl-kyverno/data/crds/kyverno.io_celpolicyexceptions.yaml
  config/crds/kyverno/kyverno.io_celpolicyexceptions.yaml
  config/install-latest-testing.yaml
  docs/user/crd/index.html
  docs/user/crd/kyverno.v2alpha1.html
  pkg/client/applyconfigurations/kyverno/v2alpha1/celpolicyexceptionspec.go
  pkg/validation/exception/validate_test.go
  test/conformance/chainsaw/cel-policy-exceptions/empty-policy-ref/exception.yaml
Labels: milestone 1.14.0, size:XXL

#12102 feat: use namespace in bg scan instead of just labels
  pkg/controllers/report/background/controller.go
  pkg/controllers/report/utils/scanner.go
Labels: milestone 1.14.0, size:S

#12101 feat: implement background scan
  cmd/cli/kubectl-kyverno/commands/apply/command.go
  cmd/cli/kubectl-kyverno/utils/common/fetch.go
  cmd/reports-controller/main.go
  pkg/admissionpolicy/validate.go
  pkg/admissionpolicy/validate_test.go
  pkg/cel/engine/engine.go
  pkg/controllers/report/aggregate/controller.go
  pkg/controllers/report/background/controller.go
  pkg/controllers/report/resource/controller.go
  pkg/controllers/report/utils/scanner.go
  pkg/controllers/report/utils/utils.go
  pkg/utils/admission/resource.go
  pkg/utils/controller/run.go
  pkg/utils/report/metadata.go
  pkg/webhooks/resource/vpol/handler.go
Labels: milestone 1.14.0, size:L

#12106 replace ghcr.io to reg.kyverno.io (cherry-pick #12031)
  charts/kyverno/README.md
  charts/kyverno/values.yaml
  config/install-latest-testing.yaml
Labels: size:M

#12112 feat: add autogen pod controllers to webhooks
  pkg/controllers/webhook/validatingpolicy.go
Labels: milestone 1.14.0, size:XS

#12092 chore: log action and message when creating event
  pkg/event/controller.go
Labels: milestone 1.14.0, size:XS

#12113 feat: compile and evaluate polex's match conditions
  charts/kyverno/templates/admission-controller/clusterrole.yaml
  cmd/kyverno/main.go
  config/install-latest-testing.yaml
  pkg/cel/engine/provider.go
  pkg/cel/policy/compiler.go
  pkg/cel/policy/compiler_test.go
  pkg/cel/policy/policy.go
  test/conformance/chainsaw/cel-policy-exceptions/exclude-deployments/bad-deployment.yaml
  test/conformance/chainsaw/cel-policy-exceptions/exclude-deployments/chainsaw-test.yaml
  test/conformance/chainsaw/cel-policy-exceptions/exclude-deployments/exception.yaml
  test/conformance/chainsaw/cel-policy-exceptions/exclude-deployments/ns.yaml
  test/conformance/chainsaw/cel-policy-exceptions/exclude-deployments/policy.yaml
  test/conformance/chainsaw/cel-policy-exceptions/exclude-deployments/skipped-deployment.yaml
Labels: milestone 1.14.0, size:L

#12119 chore(deps): bump go dependencies to fix CVEs
  go.mod
  go.sum
Labels: size:S, milestone 1.13.4

#12125 Revert "replace ghcr.io to reg.kyverno.io (cherry-pick #12031)"
  charts/kyverno/README.md
  charts/kyverno/values.yaml
  config/install-latest-testing.yaml
Labels: milestone 1.13.4

#12126 Release v1.13.4
  charts/kyverno-policies/Chart.yaml
  charts/kyverno-policies/README.md
  charts/kyverno/Chart.yaml
  charts/kyverno/README.md
  charts/kyverno/charts/crds/Chart.yaml
  charts/kyverno/charts/crds/README.md
  charts/kyverno/charts/grafana/Chart.yaml
  charts/kyverno/charts/grafana/README.md
  config/install-latest-testing.yaml
Labels: size:M

#12135 feat: add cel-autogen chainsaw tests
  pkg/cel/autogen/autogen.go
  test/conformance/chainsaw/validating-policies/autogen/autogen-deployments-cronjobs/README.md
  test/conformance/chainsaw/validating-policies/autogen/autogen-deployments-cronjobs/chainsaw-test.yaml
  test/conformance/chainsaw/validating-policies/autogen/autogen-deployments-cronjobs/check-autogen.yaml
  test/conformance/chainsaw/validating-policies/autogen/autogen-deployments-cronjobs/policy.yaml
  test/conformance/chainsaw/validating-policies/autogen/autogen-deployments-statefulsets/README.md
  test/conformance/chainsaw/validating-policies/autogen/autogen-deployments-statefulsets/chainsaw-test.yaml
  test/conformance/chainsaw/validating-policies/autogen/autogen-deployments-statefulsets/check-autogen.yaml
  test/conformance/chainsaw/validating-policies/autogen/autogen-deployments-statefulsets/policy.yaml
  test/conformance/chainsaw/validating-policies/autogen/none/README.md
  test/conformance/chainsaw/validating-policies/autogen/none/chainsaw-test.yaml
  test/conformance/chainsaw/validating-policies/autogen/none/check-autogen.yaml
  test/conformance/chainsaw/validating-policies/autogen/none/policy.yaml
  test/conformance/chainsaw/validating-policies/autogen/should-autogen/README.md
  test/conformance/chainsaw/validating-policies/autogen/should-autogen/chainsaw-test.yaml
  test/conformance/chainsaw/validating-policies/autogen/should-autogen/check-autogen.yaml
  test/conformance/chainsaw/validating-policies/autogen/should-autogen/policy.yaml
  test/conformance/chainsaw/validating-policies/autogen/should-not-autogen/README.md
  test/conformance/chainsaw/validating-policies/autogen/should-not-autogen/chainsaw-test.yaml
  test/conformance/chainsaw/validating-policies/autogen/should-not-autogen/check-autogen.yaml
  test/conformance/chainsaw/validating-policies/autogen/should-not-autogen/policy.yaml
Labels: milestone 1.14.0, size:L

#12129 Don't fail disabling reports CRDs when sanitychecks is disabled (for …
  charts/kyverno/templates/validate.yaml
Labels: size:XS, milestone 1.13.5

#12145 update issue templates with missing releases
  .github/ISSUE_TEMPLATE/bug-cli.yaml
  .github/ISSUE_TEMPLATE/bug-other.yaml
  .github/ISSUE_TEMPLATE/bug-webhook.yaml
Labels: milestone 1.14.0, size:S

#12146 fix: update match conditions for autogen rules
  pkg/cel/autogen/autogen.go
  pkg/cel/autogen/autogen_test.go
  pkg/cel/autogen/rule.go
  pkg/cel/autogen/rule_test.go
  pkg/controllers/webhook/validatingpolicy.go
  test/conformance/chainsaw/validating-policies/autogen/autogen-deployments-cronjobs/chainsaw-test.yaml
  test/conformance/chainsaw/validating-policies/autogen/autogen-deployments-cronjobs/check-autogen.yaml
  test/conformance/chainsaw/validating-policies/autogen/autogen-deployments-statefulsets/chainsaw-test.yaml
  test/conformance/chainsaw/validating-policies/autogen/autogen-deployments-statefulsets/check-autogen.yaml
  test/conformance/chainsaw/validating-policies/autogen/none/chainsaw-test.yaml
  test/conformance/chainsaw/validating-policies/autogen/should-autogen/chainsaw-test.yaml
  test/conformance/chainsaw/validating-policies/autogen/should-autogen/check-autogen.yaml
  test/conformance/chainsaw/validating-policies/autogen/should-not-autogen/chainsaw-test.yaml
Labels: milestone 1.14.0, size:L

#12144 Add helm changelog for reports-server related fix
  charts/kyverno/Chart.yaml
Labels: cherry-pick-required, size:XS, milestone 1.13.4

#12156 chore: remove vp and celpolex from the kyverno group
  api/kyverno/v2alpha1/policy_exception.go
  api/kyverno/v2alpha1/policy_interface.go
  api/kyverno/v2alpha1/policy_status.go
  api/kyverno/v2alpha1/spec_types.go
  api/kyverno/v2alpha1/validating_policy.go
  api/kyverno/v2alpha1/zz_generated.deepcopy.go
  api/kyverno/v2alpha1/zz_generated.register.go
  config/crds/kyverno/kyverno.io_celpolicyexceptions.yaml
  config/crds/kyverno/kyverno.io_validatingpolicies.yaml
  docs/user/crd/index.html
  docs/user/crd/kyverno.v2alpha1.html
  pkg/client/applyconfigurations/utils.go
  pkg/client/clientset/versioned/typed/kyverno/v2alpha1/celpolicyexception.go
  pkg/client/clientset/versioned/typed/kyverno/v2alpha1/fake/fake_celpolicyexception.go
  pkg/client/clientset/versioned/typed/kyverno/v2alpha1/fake/fake_kyverno_client.go
  pkg/client/clientset/versioned/typed/kyverno/v2alpha1/fake/fake_validatingpolicy.go
  pkg/client/clientset/versioned/typed/kyverno/v2alpha1/generated_expansion.go
  pkg/client/clientset/versioned/typed/kyverno/v2alpha1/kyverno_client.go
  pkg/client/clientset/versioned/typed/kyverno/v2alpha1/validatingpolicy.go
  pkg/client/informers/externalversions/generic.go
  pkg/client/informers/externalversions/kyverno/v2alpha1/celpolicyexception.go
  pkg/client/informers/externalversions/kyverno/v2alpha1/interface.go
  pkg/client/informers/externalversions/kyverno/v2alpha1/validatingpolicy.go
  pkg/client/listers/kyverno/v2alpha1/celpolicyexception.go
  pkg/client/listers/kyverno/v2alpha1/expansion_generated.go
  pkg/client/listers/kyverno/v2alpha1/validatingpolicy.go
  pkg/clients/kyverno/kyvernov2alpha1/celpolicyexceptions/resource.generated.go
  pkg/clients/kyverno/kyvernov2alpha1/client.generated.go
  pkg/clients/kyverno/kyvernov2alpha1/validatingpolicies/resource.generated.go
Labels: milestone 1.14.0, size:XXL

#12162 fix: sort autogen resources list
  pkg/cel/autogen/autogen.go
  test/conformance/chainsaw/validating-policies/autogen/should-autogen/check-autogen.yaml
Labels: milestone 1.14.0, size:XS

#12080 feat: add image verification crd
  api/policies.kyverno.io/v1alpha1/imageverification_policy_spec_types.go
  api/policies.kyverno.io/v1alpha1/imageverification_policy_types.go
  api/policies.kyverno.io/v1alpha1/zz_generated.deepcopy.go
  api/policies.kyverno.io/v1alpha1/zz_generated.register.go
  config/crds/policies.kyverno.io/policies.kyverno.io_imageverificationpolicies.yaml
  docs/user/crd/index.html
  pkg/client/applyconfigurations/kyverno/v2alpha1/attestation.go
  pkg/client/applyconfigurations/kyverno/v2alpha1/attestor.go
  pkg/client/applyconfigurations/kyverno/v2alpha1/certificate.go
  pkg/client/applyconfigurations/kyverno/v2alpha1/cosign.go
  pkg/client/applyconfigurations/kyverno/v2alpha1/credentials.go
  pkg/client/applyconfigurations/kyverno/v2alpha1/ctlog.go
  pkg/client/applyconfigurations/kyverno/v2alpha1/identity.go
  pkg/client/applyconfigurations/kyverno/v2alpha1/image.go
  pkg/client/applyconfigurations/kyverno/v2alpha1/imagerule.go
  pkg/client/applyconfigurations/kyverno/v2alpha1/imageverificationpolicy.go
  pkg/client/applyconfigurations/kyverno/v2alpha1/imageverificationpolicyspec.go
  pkg/client/applyconfigurations/kyverno/v2alpha1/intoto.go
  pkg/client/applyconfigurations/kyverno/v2alpha1/key.go
  pkg/client/applyconfigurations/kyverno/v2alpha1/keyless.go
  pkg/client/applyconfigurations/kyverno/v2alpha1/notary.go
  pkg/client/applyconfigurations/kyverno/v2alpha1/referrer.go
  pkg/client/applyconfigurations/kyverno/v2alpha1/source.go
  pkg/client/applyconfigurations/kyverno/v2alpha1/tuf.go
  pkg/client/applyconfigurations/kyverno/v2alpha1/tufroot.go
  pkg/client/applyconfigurations/policies.kyverno.io/v1alpha1/attestation.go
  pkg/client/applyconfigurations/policies.kyverno.io/v1alpha1/attestor.go
  pkg/client/applyconfigurations/policies.kyverno.io/v1alpha1/certificate.go
  pkg/client/applyconfigurations/policies.kyverno.io/v1alpha1/cosign.go
  pkg/client/applyconfigurations/policies.kyverno.io/v1alpha1/credentials.go
  pkg/client/applyconfigurations/policies.kyverno.io/v1alpha1/ctlog.go
  pkg/client/applyconfigurations/policies.kyverno.io/v1alpha1/identity.go
  pkg/client/applyconfigurations/policies.kyverno.io/v1alpha1/image.go
  pkg/client/applyconfigurations/policies.kyverno.io/v1alpha1/imagerule.go
  pkg/client/applyconfigurations/policies.kyverno.io/v1alpha1/imageverificationpolicy.go
  pkg/client/applyconfigurations/policies.kyverno.io/v1alpha1/imageverificationpolicyspec.go
  pkg/client/applyconfigurations/policies.kyverno.io/v1alpha1/intoto.go
  pkg/client/applyconfigurations/policies.kyverno.io/v1alpha1/key.go
  pkg/client/applyconfigurations/policies.kyverno.io/v1alpha1/keyless.go
  pkg/client/applyconfigurations/policies.kyverno.io/v1alpha1/notary.go
  pkg/client/applyconfigurations/policies.kyverno.io/v1alpha1/referrer.go
  pkg/client/applyconfigurations/policies.kyverno.io/v1alpha1/source.go
  pkg/client/applyconfigurations/policies.kyverno.io/v1alpha1/tuf.go
  pkg/client/applyconfigurations/policies.kyverno.io/v1alpha1/tufroot.go
  pkg/client/applyconfigurations/utils.go
  pkg/client/clientset/versioned/typed/policies.kyverno.io/v1alpha1/fake/fake_imageverificationpolicy.go
  pkg/client/clientset/versioned/typed/policies.kyverno.io/v1alpha1/fake/fake_policies.kyverno.io_client.go
  pkg/client/clientset/versioned/typed/policies.kyverno.io/v1alpha1/generated_expansion.go
  pkg/client/clientset/versioned/typed/policies.kyverno.io/v1alpha1/imageverificationpolicy.go
  pkg/client/clientset/versioned/typed/policies.kyverno.io/v1alpha1/policies.kyverno.io_client.go
  pkg/client/informers/externalversions/generic.go
  pkg/client/informers/externalversions/policies.kyverno.io/v1alpha1/imageverificationpolicy.go
  pkg/client/informers/externalversions/policies.kyverno.io/v1alpha1/interface.go
  pkg/client/listers/policies.kyverno.io/v1alpha1/expansion_generated.go
  pkg/client/listers/policies.kyverno.io/v1alpha1/imageverificationpolicy.go
  pkg/clients/kyverno/policiesv1alpha1/client.generated.go
  pkg/clients/kyverno/policiesv1alpha1/imageverificationpolicies/resource.generated.go
Labels: milestone 1.14.0, size:XXL

#12073 fix: Certificate Renewer Does Not Remove Old CA Certificate From Secret
  pkg/tls/renewer.go
Labels: milestone 1.14.0, size:XS

#12153 feat: configure admission and background flag for ValidatingPolicies
  api/policies.kyverno.io/v1alpha1/spec_types.go
  api/policies.kyverno.io/v1alpha1/zz_generated.deepcopy.go
  charts/kyverno/charts/crds/templates/policies.kyverno.io/policies.kyverno.io_validatingpolicies.yaml
  cmd/cli/kubectl-kyverno/data/crds/policies.kyverno.io_validatingpolicies.yaml
  config/crds/policies.kyverno.io/policies.kyverno.io_validatingpolicies.yaml
  config/install-latest-testing.yaml
  docs/user/crd/index.html
  pkg/cel/policy/filter.go
  pkg/client/applyconfigurations/policies.kyverno.io/v1alpha1/validatingpolicyspec.go
  pkg/controllers/report/background/controller.go
  pkg/controllers/webhook/controller.go
  pkg/utils/slices/filter.go
  pkg/utils/slices/filter_test.go
Labels: milestone 1.14.0, size:L

#12140 update the docs for logging
  docs/dev/logging/logging.md
Labels: milestone 1.14.0, size:M

#12165 fix CEL autogen
  pkg/cel/autogen/rule.go
  pkg/cel/autogen/rule_test.go
  pkg/controllers/webhook/validatingpolicy.go
  test/conformance/chainsaw/validating-policies/autogen/autogen-deployments-cronjobs/check-autogen.yaml
  test/conformance/chainsaw/validating-policies/autogen/autogen-deployments-statefulsets/check-autogen.yaml
  test/conformance/chainsaw/validating-policies/autogen/should-autogen/check-autogen.yaml
Labels: milestone 1.14.0, size:S

#12043 add get to rbac.authorization.k8s.io
  charts/kyverno/templates/admission-controller/clusterrole.yaml
  config/install-latest-testing.yaml
Labels: milestone 1.14.0, size:XS

#12173 refactor: status manager
  api/policies.kyverno.io/v1alpha1/policy_status.go
  api/policies.kyverno.io/v1alpha1/validating_policy.go
  charts/kyverno/charts/crds/templates/policies.kyverno.io/policies.kyverno.io_validatingpolicies.yaml
  cmd/cli/kubectl-kyverno/data/crds/policies.kyverno.io_validatingpolicies.yaml
  cmd/kyverno/main.go
  config/crds/policies.kyverno.io/policies.kyverno.io_validatingpolicies.yaml
  config/install-latest-testing.yaml
  pkg/controllers/policystatus/controller.go
  pkg/controllers/webhook/controller.go
  pkg/controllers/webhook/recorder.go
Labels: milestone 1.14.0, size:L

#12163 feat: compile and evaluate autogen rules
  pkg/cel/engine/engine.go
  pkg/cel/policy/compiler.go
  pkg/cel/policy/compiler_test.go
  pkg/cel/policy/policy.go
Labels: milestone 1.14.0, size:L

#12175 feat: add image data context
  pkg/imagedataloader/context.go
Labels: milestone 1.14.0, size:M

#12150 feat: add MutatingPolicies CRD
  api/policies.kyverno.io/v1alpha1/mutating_policy.go
  api/policies.kyverno.io/v1alpha1/mutating_spec_types.go
  api/policies.kyverno.io/v1alpha1/validating_spec_types.go
  api/policies.kyverno.io/v1alpha1/zz_generated.deepcopy.go
  api/policies.kyverno.io/v1alpha1/zz_generated.register.go
  config/crds/policies.kyverno.io/policies.kyverno.io_mutatingpolicies.yaml
  docs/user/crd/index.html
  pkg/client/clientset/versioned/typed/policies.kyverno.io/v1alpha1/fake/fake_mutatingpolicy.go
  pkg/client/clientset/versioned/typed/policies.kyverno.io/v1alpha1/fake/fake_policies.kyverno.io_client.go
  pkg/client/clientset/versioned/typed/policies.kyverno.io/v1alpha1/generated_expansion.go
  pkg/client/clientset/versioned/typed/policies.kyverno.io/v1alpha1/mutatingpolicy.go
  pkg/client/clientset/versioned/typed/policies.kyverno.io/v1alpha1/policies.kyverno.io_client.go
  pkg/client/informers/externalversions/generic.go
  pkg/client/informers/externalversions/policies.kyverno.io/v1alpha1/interface.go
  pkg/client/informers/externalversions/policies.kyverno.io/v1alpha1/mutatingpolicy.go
  pkg/client/listers/policies.kyverno.io/v1alpha1/expansion_generated.go
  pkg/client/listers/policies.kyverno.io/v1alpha1/mutatingpolicy.go
  pkg/clients/kyverno/policiesv1alpha1/client.generated.go
  pkg/clients/kyverno/policiesv1alpha1/mutatingpolicies/resource.generated.go
Labels: milestone 1.14.0, size:XXL

#12176 README: fix markdown syntax
  README.md
Labels: milestone 1.14.0, size:XS

#12184 chore: cel policies nits
  Makefile
  cmd/cli/kubectl-kyverno/policy/load.go
Labels: milestone 1.14.0, size:S

#12158 use serviceAccountName instead of deprecated serviceAccount
  charts/kyverno/templates/hooks/post-delete-configmap.yaml
  charts/kyverno/templates/hooks/post-upgrade-clean-reports.yaml
  charts/kyverno/templates/hooks/post-upgrade-migrate-resources.yaml
  charts/kyverno/templates/hooks/pre-delete-scale-to-zero.yaml
Labels: milestone 1.14.0, size:XS

#12160 feat: add notary verifier with tsa support
  api/policies.kyverno.io/v1alpha1/imageverification_policy_spec_types.go
  api/policies.kyverno.io/v1alpha1/zz_generated.deepcopy.go
  pkg/imagedataloader/loader.go
  pkg/imagedataloader/utils.go
  pkg/imageverifiers/notary/helpers.go
  pkg/imageverifiers/notary/log.go
  pkg/imageverifiers/notary/notary.go
  pkg/imageverifiers/notary/notary_test.go
  pkg/imageverifiers/notary/repo.go
  pkg/imageverifiers/notary/repo_test.go
  pkg/notary/notary.go
Labels: milestone 1.14.0, size:XL

#12195 fix: codegen
  docs/user/crd/kyverno.v1.html
  docs/user/crd/kyverno.v2.html
  docs/user/crd/kyverno.v2beta1.html
Labels: milestone 1.14.0

#12197 fix: publish codecov reports
  .github/workflows/codecov.yaml
Labels: milestone 1.14.0, size:M

#12193 fix: add result count for VPs in the CLI
  cmd/cli/kubectl-kyverno/commands/apply/command.go
  cmd/cli/kubectl-kyverno/processor/result.go
Labels: milestone 1.14.0, size:S

#12199 chore: bump cobra dependency
  go.mod
  go.sum
  hack/controller-gen/go.mod
  hack/controller-gen/go.sum
Labels: milestone 1.14.0, size:XS

#12182 feat: support celexceptions in the CLI `apply` command
  cmd/cli/kubectl-kyverno/_testdata/exceptions/celexception.yaml
  cmd/cli/kubectl-kyverno/_testdata/exceptions/exception-and-celexception.yaml
  cmd/cli/kubectl-kyverno/commands/apply/command.go
  cmd/cli/kubectl-kyverno/commands/apply/command_test.go
  cmd/cli/kubectl-kyverno/commands/test/test.go
  cmd/cli/kubectl-kyverno/exception/load.go
  cmd/cli/kubectl-kyverno/exception/load_test.go
  pkg/cel/engine/engine.go
  pkg/cel/engine/provider.go
  pkg/cel/policy/compiler.go
  pkg/cel/policy/policy.go
  pkg/controllers/report/utils/scanner.go
  pkg/engine/api/ruleresponse.go
  test/cli/test-cel-exceptions/check-deployment-labels/bad-deployment.yaml
  test/cli/test-cel-exceptions/check-deployment-labels/exception.yaml
  test/cli/test-cel-exceptions/check-deployment-labels/good-deployment.yaml
  test/cli/test-cel-exceptions/check-deployment-labels/policy.yaml
  test/cli/test-cel-exceptions/check-deployment-labels/skipped-deployment.yaml
Labels: milestone 1.14.0, size:L

#12192 fix: modify celexception flake test
  .github/workflows/conformance.yaml
  test/conformance/chainsaw/cel-policy-exceptions/exclude-deployments/chainsaw-test.yaml
  test/conformance/chainsaw/cel-policy-exceptions/exclude-deployments/exception.yaml
  test/conformance/chainsaw/cel-policy-exceptions/exclude-deployments/ns.yaml
  test/conformance/chainsaw/cel-policy-exceptions/exclude-deployments/skipped-deployment.yaml
Labels: milestone 1.14.0, size:S

#12115 Validating policy audit annotations
  pkg/cel/engine/engine.go
  pkg/cel/policy/policy.go
  pkg/webhooks/resource/vpol/handler.go
  test/conformance/chainsaw/validating-policies/context/configmap/chainsaw-test.yaml
  test/conformance/chainsaw/validating-policies/report/report.yaml
  test/conformance/chainsaw/validating-policies/validation-actions/deny/chainsaw-test.yaml
  test/conformance/chainsaw/validating-policies/validation-actions/none/chainsaw-test.yaml
Labels: milestone 1.14.0, size:L

#12205 chore: add resource manifests in autogen tests
  test/conformance/chainsaw/validating-policies/autogen/autogen-deployments-cronjobs/bad-deployment.yaml
  test/conformance/chainsaw/validating-policies/autogen/autogen-deployments-cronjobs/chainsaw-test.yaml
  test/conformance/chainsaw/validating-policies/autogen/autogen-deployments-cronjobs/good-deployment.yaml
  test/conformance/chainsaw/validating-policies/autogen/autogen-deployments-statefulsets/bad-statefulset.yaml
  test/conformance/chainsaw/validating-policies/autogen/autogen-deployments-statefulsets/chainsaw-test.yaml
  test/conformance/chainsaw/validating-policies/autogen/autogen-deployments-statefulsets/good-statefulset.yaml
Labels: milestone 1.14.0, size:L

#11970 Update _pdb.tpl
  charts/kyverno/templates/_helpers/_pdb.tpl
Labels: milestone 1.14.0, size:XS

#12196 feat: cosign verifier for new image verifier crd
  api/policies.kyverno.io/v1alpha1/imageverification_policy_spec_types.go
  api/policies.kyverno.io/v1alpha1/zz_generated.deepcopy.go
  config/crds/policies.kyverno.io/policies.kyverno.io_imageverificationpolicies.yaml
  docs/user/crd/index.html
  pkg/imagedataloader/loader.go
  pkg/imageverifiers/cosign/certs.go
  pkg/imageverifiers/cosign/kms.go
  pkg/imageverifiers/cosign/opts.go
  pkg/imageverifiers/cosign/verifier.go
  pkg/imageverifiers/cosign/verifier_test.go
Labels: milestone 1.14.0, size:XL

#12217 fix: add unit tests for cosign keyed image verification
  pkg/imageverifiers/cosign/verifier.go
  pkg/imageverifiers/cosign/verifier_test.go
Labels: milestone 1.14.0, size:M

#12218 feat: add reporting attributes to mpol
  api/policies.kyverno.io/v1alpha1/mutating_spec_types.go
  api/policies.kyverno.io/v1alpha1/zz_generated.deepcopy.go
  config/crds/policies.kyverno.io/policies.kyverno.io_mutatingpolicies.yaml
  docs/user/crd/index.html
Labels: milestone 1.14.0, size:M

#12220 chore(refactor): refactor image verification packages
  cmd/cli/kubectl-kyverno/commands/apply/command.go
  cmd/cli/kubectl-kyverno/commands/oci/command.go
  cmd/cli/kubectl-kyverno/commands/oci/pull/command_test.go
  cmd/cli/kubectl-kyverno/commands/oci/push/command_test.go
  pkg/cel/libs/context/impl_test.go
  pkg/cel/libs/context/types.go
  pkg/cel/policy/context.go
  pkg/imageverification/imagedataloader/authn.go
  pkg/imageverification/imagedataloader/context.go
  pkg/imageverification/imagedataloader/loader.go
  pkg/imageverification/imagedataloader/loader_test.go
  pkg/imageverification/imagedataloader/options.go
  pkg/imageverification/imagedataloader/secrets.go
  pkg/imageverification/imagedataloader/utils.go
  pkg/imageverification/imageverifiers/cosign/certs.go
  pkg/imageverification/imageverifiers/cosign/kms.go
  pkg/imageverification/imageverifiers/cosign/opts.go
  pkg/imageverification/imageverifiers/cosign/verifier.go
  pkg/imageverification/imageverifiers/cosign/verifier_test.go
  pkg/imageverification/imageverifiers/notary/helpers.go
  pkg/imageverification/imageverifiers/notary/log.go
  pkg/imageverification/imageverifiers/notary/notary.go
  pkg/imageverification/imageverifiers/notary/notary_test.go
  pkg/imageverification/imageverifiers/notary/repo.go
  pkg/imageverification/imageverifiers/notary/repo_test.go
  pkg/notary/notary.go
  pkg/registryclient/client.go
Labels: milestone 1.14.0, size:M

#12230 chore: add CEL unit tests
  pkg/cel/env_test.go
  pkg/cel/utils/convert_test.go
Labels: milestone 1.14.0, size:L

#12232 chore: add cel unit tests
  pkg/cel/resource/openapi.go
  pkg/cel/resource/openapi_test.go
Labels: milestone 1.14.0, size:S

#12245 chore: add codecov config and exclude api generated files
  codecov.yml
Labels: milestone 1.14.0, size:XS

#12246 feat: stop reusing admissionregistrationv1.ValidatingAdmissionPolicySpec
  api/policies.kyverno.io/v1alpha1/validating_spec_types.go
  api/policies.kyverno.io/v1alpha1/zz_generated.deepcopy.go
  charts/kyverno/charts/crds/templates/policies.kyverno.io/policies.kyverno.io_validatingpolicies.yaml
  cmd/cli/kubectl-kyverno/data/crds/policies.kyverno.io_validatingpolicies.yaml
  codecov.yml
  config/crds/policies.kyverno.io/policies.kyverno.io_validatingpolicies.yaml
  config/install-latest-testing.yaml
  docs/user/crd/index.html
  pkg/admissionpolicy/builder.go
  pkg/cel/policy/compiler_test.go
  pkg/controllers/webhook/validatingpolicy_test.go
Labels: milestone 1.14.0, size:XL

#12244 feat: introduce generic exception interface
  api/policies.kyverno.io/v1alpha1/policy_exception.go
  charts/kyverno/charts/crds/templates/policies.kyverno.io/policies.kyverno.io_celpolicyexceptions.yaml
  cmd/cli/kubectl-kyverno/data/crds/policies.kyverno.io_celpolicyexceptions.yaml
  config/crds/policies.kyverno.io/policies.kyverno.io_celpolicyexceptions.yaml
  config/install-latest-testing.yaml
  docs/user/crd/index.html
  pkg/cel/engine/engine.go
  pkg/engine/api/exception.go
  pkg/engine/api/ruleresponse.go
  pkg/engine/background.go
  pkg/engine/handlers/mutation/mutate_existing.go
  pkg/engine/handlers/mutation/mutate_image.go
  pkg/engine/handlers/mutation/mutate_resource.go
  pkg/engine/handlers/validation/validate_assert.go
  pkg/engine/handlers/validation/validate_cel.go
  pkg/engine/handlers/validation/validate_image.go
  pkg/engine/handlers/validation/validate_manifest.go
  pkg/engine/handlers/validation/validate_pss.go
  pkg/engine/handlers/validation/validate_resource.go
  pkg/utils/report/results.go
Labels: milestone 1.14.0, size:L

#12234 Add aggegration toggle for clusterRoles
  charts/kyverno/Chart.yaml
  charts/kyverno/README.md
  charts/kyverno/templates/rbac/_helpers.tpl
  charts/kyverno/values.yaml
Labels: milestone 1.14.0, size:M

#12233 feat: add cel library for image verification
  api/kyverno/v1/image_verification_types.go
  api/policies.kyverno.io/v1alpha1/imageverification_policy_spec_types.go
  go.mod
  pkg/imageverification/imagedataloader/context.go
  pkg/imageverification/imagedataloader/loader.go
  pkg/imageverification/imageverifierfunctions/impl.go
  pkg/imageverification/imageverifierfunctions/impl_test.go
  pkg/imageverification/imageverifierfunctions/lib.go
  pkg/imageverification/imageverifierfunctions/utils.go
  pkg/imageverification/imageverifiers/cosign/verifier.go
  pkg/imageverification/imageverifiers/cosign/verifier_test.go
  pkg/imageverification/imageverifiers/notary/notary.go
  pkg/imageverification/imageverifiers/notary/notary_test.go
  pkg/imageverification/match/match.go
  pkg/imageverification/match/match_test.go
  pkg/webhooks/resource/handlers_test.go
Labels: milestone 1.14.0, size:XL

#12252 chore: bump kube deps to 1.32.2
  go.mod
  go.sum
Labels: milestone 1.14.0, size:S

#12243 feat: improve validating policy api
  api/policies.kyverno.io/v1alpha1/validating_spec_types.go
  api/policies.kyverno.io/v1alpha1/validating_spec_types_test.go
  api/policies.kyverno.io/v1alpha1/zz_generated.deepcopy.go
  charts/kyverno/charts/crds/templates/policies.kyverno.io/policies.kyverno.io_validatingpolicies.yaml
  cmd/cli/kubectl-kyverno/data/crds/policies.kyverno.io_validatingpolicies.yaml
  config/crds/policies.kyverno.io/policies.kyverno.io_validatingpolicies.yaml
  config/install-latest-testing.yaml
  docs/user/crd/index.html
  pkg/cel/policy/filter_test.go
  pkg/utils/slices/filter.go
Labels: milestone 1.14.0, size:XL

#12251 feat: add evaluator for image verification policies
  api/policies.kyverno.io/v1alpha1/imageverification_policy_types.go
  pkg/cel/policy/compiler.go
  pkg/cel/policy/policy.go
  pkg/cel/policy/types.go
  pkg/imageverification/evaluator/compiler.go
  pkg/imageverification/evaluator/eval.go
  pkg/imageverification/evaluator/policy.go
  pkg/imageverification/imageverifierfunctions/impl.go
  pkg/imageverification/imageverifierfunctions/lib.go
  pkg/imageverification/imageverifierfunctions/utils.go
  pkg/imageverification/match/match.go
  pkg/imageverification/match/match_test.go
  pkg/imageverification/variables/attest.go
  pkg/imageverification/variables/images.go
  pkg/imageverification/variables/images_test.go
Labels: milestone 1.14.0, size:XL

#12201 fix(gctx): remove unnecessary json Marshal/Unmarshal operations to reduce memory usage
  pkg/engine/context/loaders/globalcontext.go
  pkg/globalcontext/externalapi/entry.go
Labels: milestone 1.14.0, size:M

#12262 feat: add evaluation mode to api
  api/policies.kyverno.io/v1alpha1/validating_spec_types.go
  charts/kyverno/charts/crds/templates/policies.kyverno.io/policies.kyverno.io_validatingpolicies.yaml
  cmd/cli/kubectl-kyverno/data/crds/policies.kyverno.io_validatingpolicies.yaml
  config/crds/policies.kyverno.io/policies.kyverno.io_validatingpolicies.yaml
  config/install-latest-testing.yaml
  docs/user/crd/index.html
Labels: milestone 1.14.0, size:M

#12181 feat: context function to request resources from api server
  cmd/cli/kubectl-kyverno/commands/apply/command.go
  cmd/kyverno/main.go
  pkg/cel/libs/context/impl.go
  pkg/cel/libs/context/impl_test.go
  pkg/cel/libs/context/lib.go
  pkg/cel/libs/context/types.go
  pkg/cel/policy/context.go
  pkg/cel/utils/convert.go
  pkg/controllers/report/utils/scanner.go
  test/conformance/chainsaw/validating-policies/context/resource/chainsaw-test.yaml
  test/conformance/chainsaw/validating-policies/context/resource/negative.yaml
  test/conformance/chainsaw/validating-policies/context/resource/pod.yaml
  test/conformance/chainsaw/validating-policies/context/resource/policy.yaml
  test/conformance/chainsaw/validating-policies/context/resource/positive.yaml
Labels: milestone 1.14.0, size:L

#12237 changes if condition to check for RegExp field
  pkg/cosign/cosign.go
Labels: milestone 1.14.0, size:XS

#12266 feat(test): image verification on any payload
  api/policies.kyverno.io/v1alpha1/imageverification_policy_spec_types.go
  config/crds/policies.kyverno.io/policies.kyverno.io_imageverificationpolicies.yaml
  docs/user/crd/index.html
  pkg/imageverification/evaluator/compiler.go
  pkg/imageverification/evaluator/eval.go
  pkg/imageverification/evaluator/eval_test.go
  pkg/imageverification/imagedataloader/utils.go
  pkg/imageverification/imageverifierfunctions/impl.go
  pkg/imageverification/imageverifierfunctions/utils.go
Labels: milestone 1.14.0, size:L

#12272 fix chainsaw test
  test/conformance/chainsaw/generate-validating-admission-policy/validatingpolicy/with-cel-exception/chainsaw-test.yaml
Labels: milestone 1.14.0, size:XS

#12261 chore: remove mutatingpolicies
  api/policies.kyverno.io/v1alpha1/mutating_policy.go
  api/policies.kyverno.io/v1alpha1/mutating_spec_types.go
  api/policies.kyverno.io/v1alpha1/zz_generated.deepcopy.go
  api/policies.kyverno.io/v1alpha1/zz_generated.register.go
  config/crds/policies.kyverno.io/policies.kyverno.io_mutatingpolicies.yaml
  docs/user/crd/index.html
  pkg/cel/policy/interface.go
  pkg/cel/policy/mpol.go
  pkg/cel/policy/mpol_test.go
  pkg/client/clientset/versioned/typed/policies.kyverno.io/v1alpha1/fake/fake_mutatingpolicy.go
  pkg/client/clientset/versioned/typed/policies.kyverno.io/v1alpha1/fake/fake_policies.kyverno.io_client.go
  pkg/client/clientset/versioned/typed/policies.kyverno.io/v1alpha1/generated_expansion.go
  pkg/client/clientset/versioned/typed/policies.kyverno.io/v1alpha1/mutatingpolicy.go
  pkg/client/clientset/versioned/typed/policies.kyverno.io/v1alpha1/policies.kyverno.io_client.go
  pkg/client/informers/externalversions/generic.go
  pkg/client/informers/externalversions/policies.kyverno.io/v1alpha1/interface.go
  pkg/client/informers/externalversions/policies.kyverno.io/v1alpha1/mutatingpolicy.go
  pkg/client/listers/policies.kyverno.io/v1alpha1/expansion_generated.go
  pkg/client/listers/policies.kyverno.io/v1alpha1/mutatingpolicy.go
  pkg/clients/kyverno/policiesv1alpha1/client.generated.go
  pkg/clients/kyverno/policiesv1alpha1/mutatingpolicies/resource.generated.go
Labels: milestone 1.14.0, size:XXL
