Repository kyverno/kyverno, pull requests merged in 2025-01, with the labels that each got.

#11835 Fix panic in background controller when updating Generate rule
  pkg/policy/generate.go
Labels: cherry-pick-required, size:XS, milestone 1.13.3

#11821 Fix panic situation when rules are empty
  pkg/validatingadmissionpolicy/kyvernopolicy_checker.go
  pkg/validatingadmissionpolicy/kyvernopolicy_checker_test.go
Labels: cherry-pick-required, size:S, milestone 1.13.3

#11811 Fix: Policy with failureActionOverrides not applying desired failure actions in desired namespaces
  pkg/policycache/cache.go
  pkg/policycache/cache_test.go
Labels: cherry-pick-required, size:M, milestone 1.13.3

#11815 fix global context error message logic error
  pkg/engine/context/loaders/globalcontext.go
Labels: cherry-pick-required, size:XS, milestone 1.13.3

#11851 fix: increase chainsaw apply timeout to 30s
  .github/workflows/conformance.yaml
  Makefile
  test/conformance/chainsaw/.chainsaw.yaml
Labels: size:XS

#11799 bump: golang.org/x/net to 0.33.0
  go.mod
  go.sum
Labels: size:XS, milestone 1.12.7

#11788 remove policy exception dependancy from globalcontext and add some tests
  cmd/kyverno/main.go
  pkg/validation/globalcontext/validate.go
  pkg/validation/globalcontext/validate_test.go
  pkg/webhooks/globalcontext/validate.go
Labels: cherry-pick-required, size:M, milestone 1.13.3

#11824 Set operations in a cel validate policy
  test/conformance/chainsaw/generate-validating-admission-policy/clusterpolicy/standard/generate/block-ephemeral-containers/policy.yaml
Labels: size:XS, milestone 1.12.7

#11840 Add flag for JSON output in policy reports
  cmd/cli/kubectl-kyverno/commands/apply/command.go
  cmd/cli/kubectl-kyverno/commands/apply/print.go
  docs/user/cli/commands/kyverno_apply.md
Labels: milestone 1.14.0, size:M

#11869 fix: sorting in fix test command
  cmd/cli/kubectl-kyverno/fix/test.go
  test/cli/test-mutate/add-default-resources/kyverno-test.yaml
  test/cli/test-mutate/global-anchor/kyverno-test.yaml
  test/cli/test/mutate-keda-scaled-object/kyverno-test.yaml
Labels: milestone 1.14.0, size:S

#11790 feat: add kyverno vap API
  api/kyverno/v2alpha1/validating_policy.go
  api/kyverno/v2alpha1/zz_generated.deepcopy.go
  api/kyverno/v2alpha1/zz_generated.register.go
  config/crds/kyverno/kyverno.io_validatingpolicies.yaml
  docs/user/crd/index.html
  docs/user/crd/kyverno.v2alpha1.html
  pkg/cel/libs/context/impl.go
  pkg/cel/libs/context/lib.go
  pkg/cel/libs/context/types.go
  pkg/cel/utils/convert.go
  pkg/client/applyconfigurations/kyverno/v2alpha1/validatingpolicy.go
  pkg/client/applyconfigurations/utils.go
  pkg/client/clientset/versioned/typed/kyverno/v2alpha1/fake/fake_kyverno_client.go
  pkg/client/clientset/versioned/typed/kyverno/v2alpha1/fake/fake_validatingpolicy.go
  pkg/client/clientset/versioned/typed/kyverno/v2alpha1/generated_expansion.go
  pkg/client/clientset/versioned/typed/kyverno/v2alpha1/kyverno_client.go
  pkg/client/clientset/versioned/typed/kyverno/v2alpha1/validatingpolicy.go
  pkg/client/informers/externalversions/generic.go
  pkg/client/informers/externalversions/kyverno/v2alpha1/interface.go
  pkg/client/informers/externalversions/kyverno/v2alpha1/validatingpolicy.go
  pkg/client/listers/kyverno/v2alpha1/expansion_generated.go
  pkg/client/listers/kyverno/v2alpha1/validatingpolicy.go
  pkg/clients/kyverno/kyvernov2alpha1/client.generated.go
  pkg/clients/kyverno/kyvernov2alpha1/validatingpolicies/resource.generated.go
Labels: milestone 1.14.0, size:XXL

#11870 feat: add validating policy crd in helm chart
  Makefile
  charts/kyverno/README.md
  charts/kyverno/charts/crds/README.md
  charts/kyverno/charts/crds/templates/kyverno.io/kyverno.io_validatingpolicies.yaml
  charts/kyverno/charts/crds/values.yaml
  charts/kyverno/values.yaml
  config/install-latest-testing.yaml
Labels: milestone 1.14.0, size:XXL

#11874 Add Tigera to Kyverno ADOPTERS.md
  ADOPTERS.md
Labels: milestone 1.14.0, size:XS

#11867 fix(reports-controller): add a flag to disable reports sanity checks
  charts/kyverno/Chart.yaml
  charts/kyverno/README.md
  charts/kyverno/templates/reports-controller/deployment.yaml
  charts/kyverno/values.yaml
  cmd/reports-controller/main.go
  config/install-latest-testing.yaml
Labels: cherry-pick-required, size:S, milestone 1.13.3

#11860 chore: bump go-git to 5.13.0
  go.mod
  go.sum
Labels: milestone 1.14.0, size:XS

#11876 chore: bump a couple of deps
  go.mod
  go.sum
Labels: milestone 1.14.0, size:M

#11878 chore: bump a couple of deps
  go.mod
  go.sum
Labels: milestone 1.14.0

#11786 chore(deps): bump github.com/open-policy-agent/opa from 0.67.1 to 0.68.0 (cherry-pick #11199)
  go.mod
  go.sum
Labels: size:XS

#11879 chore: bump a couple of deps
  hack/controller-gen/go.mod
  hack/controller-gen/go.sum
Labels: milestone 1.14.0, size:S

#11891 refactor: get policy helper
  pkg/utils/yaml/loadpolicy.go
Labels: milestone 1.14.0, size:L

#11890 chore: bump a couple of deps
  go.mod
  go.sum
Labels: milestone 1.14.0, size:M

#11883 feat: add support for loading validating policies in the cli
  Makefile
  cmd/cli/kubectl-kyverno/commands/oci/pull/options.go
  cmd/cli/kubectl-kyverno/data/crds/kyverno.io_validatingpolicies.yaml
  cmd/cli/kubectl-kyverno/policy/legacy_loader.go
  cmd/cli/kubectl-kyverno/policy/load.go
  cmd/cli/kubectl-kyverno/processor/policy_processor_test.go
  pkg/autogen/v1/autogen_test.go
  pkg/autogen/v2/autogen_test.go
  pkg/utils/yaml/loadpolicy.go
  pkg/utils/yaml/loadpolicy_test.go
  pkg/validatingadmissionpolicy/kyvernopolicy_checker_test.go
  pkg/validatingadmissionpolicy/validate_test.go
  pkg/validation/policy/allowed_vars_test.go
Labels: milestone 1.14.0, size:XL

#11898 feat: add context cel lib to get config map
  pkg/cel/libs/context/impl.go
  pkg/cel/libs/context/lib.go
  pkg/cel/libs/context/types.go
Labels: milestone 1.14.0, size:M

#11913 feat: add CEL variables support
  pkg/cel/policy/compiler.go
Labels: milestone 1.14.0, size:S

#11918 feat: add auditAnnotation in CEL Compiler
  pkg/cel/policy/compiler.go
  pkg/cel/policy/policy.go
Labels: milestone 1.14.0, size:M

#11919 Implement Object type checking based on OpenAPI v3 schema
  pkg/cel/resource/openapi.go
  pkg/cel/resource/openapi_test.go
Labels: milestone 1.14.0, size:L

#11928 refactor: cleanup cli apply functions
  cmd/cli/kubectl-kyverno/commands/apply/command.go
Labels: milestone 1.14.0, size:L

#11931 chore: move CEL package to admissionpolicy package
  cmd/cli/kubectl-kyverno/processor/vap_processor.go
  cmd/cli/kubectl-kyverno/utils/common/fetch.go
  cmd/cli/kubectl-kyverno/utils/common/validating_admission_resources.go
  cmd/kyverno/main.go
  cmd/reports-controller/main.go
  pkg/admissionpolicy/api.go
  pkg/admissionpolicy/builder.go
  pkg/admissionpolicy/compiler.go
  pkg/admissionpolicy/kyvernopolicy_checker.go
  pkg/admissionpolicy/kyvernopolicy_checker_test.go
  pkg/admissionpolicy/log.go
  pkg/admissionpolicy/matcher.go
  pkg/admissionpolicy/utils.go
  pkg/admissionpolicy/validate.go
  pkg/admissionpolicy/validate_test.go
  pkg/admissionpolicy/version_converter.go
  pkg/controllers/report/resource/controller.go
  pkg/controllers/report/utils/scanner.go
  pkg/controllers/validatingadmissionpolicy-generate/controller.go
  pkg/engine/handlers/validation/validate_cel.go
  pkg/engine/internal/match.go
  pkg/validation/policy/actions.go
  pkg/validation/policy/validate.go
Labels: milestone 1.14.0, size:M

#11929 chore: use v1 of VAPs in the tests
  test/cli/test-validating-admission-policy/check-deployment-labels/policy.yaml
  test/cli/test-validating-admission-policy/check-deployments-replica/policy.yaml
  test/cli/test-validating-admission-policy/disallow-host-path/policy.yaml
  test/cli/test-validating-admission-policy/with-bindings-1/policy.yaml
  test/cli/test-validating-admission-policy/with-bindings-2/policy.yaml
  test/cli/test-validating-admission-policy/with-bindings-3/policy.yaml
  test/cli/test-validating-admission-policy/with-bindings-4/policy.yaml
  test/cli/test-validating-admission-policy/with-match-conditions/disallow-host-path.yaml
  test/cli/test-validating-admission-policy/with-namespaceObject-1/policy.yaml
  test/cli/test-validating-admission-policy/with-namespaceObject-2/policy.yaml
  test/cli/test/validating-admission-policies/disallow-host-path/disallow-host-path.yaml
Labels: milestone 1.14.0, size:M

#11930 chore: add 1.13.1 and 1.13.2 to issue templates
  .github/ISSUE_TEMPLATE/bug-cli.yaml
  .github/ISSUE_TEMPLATE/bug-other.yaml
  .github/ISSUE_TEMPLATE/bug-webhook.yaml
Labels: milestone 1.14.0, size:XS

#11937 feat: release 1.12.7
  .github/workflows/helm-test.yaml
  charts/kyverno-policies/Chart.yaml
  charts/kyverno-policies/README.md
  charts/kyverno/Chart.yaml
  charts/kyverno/README.md
  charts/kyverno/charts/crds/Chart.yaml
  charts/kyverno/charts/crds/README.md
  charts/kyverno/charts/grafana/Chart.yaml
  charts/kyverno/charts/grafana/README.md
  config/install-latest-testing.yaml
Labels: size:M

#11834 fix:[Bug] [CLI] CEL scanning a namespace yaml object makes Kyverno crash
  pkg/admissionpolicy/validate.go
  test/cli/test-validating-admission-policy/match-namespaces/kyverno-test.yaml
  test/cli/test-validating-admission-policy/match-namespaces/policy.yaml
  test/cli/test-validating-admission-policy/match-namespaces/resources.yaml
Labels: release-critical, size:M, milestone 1.13.3

#11842 fix the result column for Kyverno test
  cmd/cli/kubectl-kyverno/commands/test/output.go
Labels: size:S, milestone 1.13.3

#11892 feat: register webhook configurations for validatingpolicies
  api/kyverno/v2alpha1/spec_types.go
  api/kyverno/v2alpha1/validating_policy.go
  api/kyverno/v2alpha1/zz_generated.deepcopy.go
  charts/kyverno/charts/crds/templates/kyverno.io/kyverno.io_validatingpolicies.yaml
  charts/kyverno/templates/admission-controller/clusterrole.yaml
  cmd/cli/kubectl-kyverno/data/crds/kyverno.io_validatingpolicies.yaml
  cmd/kyverno/main.go
  config/crds/kyverno/kyverno.io_validatingpolicies.yaml
  config/install-latest-testing.yaml
  docs/user/crd/index.html
  docs/user/crd/kyverno.v2alpha1.html
  pkg/client/applyconfigurations/kyverno/v2alpha1/validatingpolicy.go
  pkg/client/applyconfigurations/kyverno/v2alpha1/validatingpolicyspec.go
  pkg/client/applyconfigurations/kyverno/v2alpha1/webhookconfiguration.go
  pkg/client/applyconfigurations/utils.go
  pkg/config/config.go
  pkg/controllers/webhook/controller.go
  pkg/controllers/webhook/utils.go
  pkg/controllers/webhook/validatingpolicy.go
  pkg/controllers/webhook/validatingpolicy_test.go
  pkg/validation/exception/globalcontext/validate.go
  pkg/validation/exception/globalcontext/validate_test.go
Labels: milestone 1.14.0, size:XXL

#11946 feat: add MAP's mutation logic for the CLI
  pkg/admissionpolicy/compiler.go
  pkg/admissionpolicy/mutate.go
  pkg/admissionpolicy/mutate_test.go
  pkg/admissionpolicy/validate.go
  pkg/engine/api/policy.go
  pkg/engine/handlers/validation/validate_cel.go
  pkg/engine/internal/match.go
  pkg/validation/policy/validate.go
Labels: milestone 1.14.0, size:XL

#11922 feat: add generic policy interface
  api/kyverno/v2alpha1/policy_interface.go
  api/kyverno/v2alpha1/validating_policy.go
  docs/user/crd/index.html
Labels: milestone 1.14.0, size:S

#11947 feat: use policy provider
  cmd/cli/kubectl-kyverno/commands/apply/command.go
  cmd/cli/kubectl-kyverno/commands/apply/command_test.go
  pkg/cel/engine/engine.go
  pkg/cel/engine/provider.go
  test/cli/test-validating-policy/check-deployment-labels/deployment1.yaml
  test/cli/test-validating-policy/check-deployment-labels/deployment2.yaml
  test/cli/test-validating-policy/check-deployment-labels/policy.yaml
Labels: milestone 1.14.0, size:L

#11958 feat: add namespace support in CLI values
  cmd/cli/kubectl-kyverno/apis/v1alpha1/values_spec.go
  cmd/cli/kubectl-kyverno/commands/apply/command.go
  cmd/cli/kubectl-kyverno/config/crds/cli.kyverno.io_values.yaml
  cmd/cli/kubectl-kyverno/data/crds/cli.kyverno.io_values.yaml
  cmd/cli/kubectl-kyverno/variables/variables.go
  docs/user/cli/crd/index.html
  docs/user/cli/crd/kyverno_kubectl.v1alpha1.html
  pkg/cel/engine/engine.go
  pkg/cel/policy/policy.go
Labels: milestone 1.14.0, size:L

#11959 fix: cli schema generation
  Makefile
  cmd/cli/kubectl-kyverno/apis/v1alpha1/test_result.go
  cmd/cli/kubectl-kyverno/commands/test/output.go
  cmd/cli/kubectl-kyverno/config/crds/cli.kyverno.io_tests.yaml
  cmd/cli/kubectl-kyverno/data/crds/cli.kyverno.io_tests.yaml
  cmd/cli/kubectl-kyverno/fix/test.go
  cmd/cli/kubectl-kyverno/test/load_test.go
  docs/user/cli/crd/index.html
  docs/user/cli/crd/kyverno_kubectl.v1alpha1.html
  test/cli/test-mutate/mutate-existing/kyverno-test.yaml
Labels: milestone 1.14.0, size:XL

#11963 feat: add validating policy engine api wrapper
  cmd/cli/kubectl-kyverno/commands/apply/command.go
  pkg/cel/engine/engine.go
  pkg/cel/engine/provider.go
  pkg/cel/policy/compiler.go
  pkg/cel/policy/policy.go
  pkg/engine/api/policy.go
Labels: milestone 1.14.0, size:L

#11966 Add OVHcloud in ADOPTERS.md
  ADOPTERS.md
Labels: milestone 1.14.0, size:XS

#11971 feat: introduce evaluation results in cel engine
  pkg/cel/engine/engine.go
  pkg/cel/policy/policy.go
Labels: milestone 1.14.0, size:L

#11974 refactor: reduce generic policy interface
  cmd/cli/kubectl-kyverno/commands/apply/command.go
  cmd/cli/kubectl-kyverno/commands/apply/table.go
  cmd/cli/kubectl-kyverno/commands/test/output.go
  cmd/cli/kubectl-kyverno/processor/policy_processor.go
  cmd/cli/kubectl-kyverno/report/report.go
  pkg/controllers/report/background/controller.go
  pkg/controllers/report/utils/events.go
  pkg/engine/api/policy.go
  pkg/event/events.go
  pkg/utils/report/metadata.go
  pkg/utils/report/results.go
  pkg/utils/report/selector.go
  pkg/webhooks/resource/handlers.go
  pkg/webhooks/resource/utils.go
  pkg/webhooks/utils/block.go
  pkg/webhooks/utils/error.go
  pkg/webhooks/utils/warning.go
Labels: milestone 1.14.0, size:L

#11977 refactor: reduce generic policy interface
  cmd/cli/kubectl-kyverno/commands/apply/command.go
  cmd/cli/kubectl-kyverno/commands/apply/print.go
  cmd/cli/kubectl-kyverno/commands/apply/table.go
  cmd/cli/kubectl-kyverno/commands/test/output.go
  cmd/cli/kubectl-kyverno/processor/policy_processor.go
  cmd/cli/kubectl-kyverno/processor/result.go
  cmd/cli/kubectl-kyverno/report/report.go
  cmd/cli/kubectl-kyverno/utils/common/common.go
  pkg/admissionpolicy/mutate.go
  pkg/admissionpolicy/validate.go
  pkg/cel/engine/engine.go
  pkg/cel/engine/provider.go
  pkg/cel/policy/policy.go
  pkg/controllers/report/background/controller.go
  pkg/controllers/report/utils/events.go
  pkg/controllers/report/utils/scanner.go
  pkg/engine/api/engineresponse.go
  pkg/engine/api/policy.go
  pkg/event/events.go
  pkg/utils/report/metadata.go
  pkg/utils/report/results.go
  pkg/utils/report/selector.go
  pkg/webhooks/resource/handlers.go
  pkg/webhooks/resource/utils.go
  pkg/webhooks/utils/block.go
  pkg/webhooks/utils/error.go
  pkg/webhooks/utils/warning.go
Labels: milestone 1.14.0, size:L

#11983 fix: implement cel context lib correctly
  pkg/cel/engine/engine.go
  pkg/cel/libs/context/impl_test.go
  pkg/cel/libs/context/lib.go
  pkg/cel/libs/context/lib_test.go
  pkg/cel/libs/context/types.go
  pkg/cel/policy/policy.go
Labels: milestone 1.14.0, size:M

#11733 Fix default value for apiCall context
  pkg/engine/apicall/apiCall.go
  pkg/engine/apicall/apiCall_test.go
  pkg/engine/context/loaders/apicall.go
Labels: cherry-pick-required, release-critical, size:M, milestone 1.13.3

#11986 feat: add support for more context elements
  pkg/cel/libs/context/impl.go
  pkg/cel/libs/context/impl_test.go
  pkg/cel/libs/context/lib.go
  pkg/cel/libs/context/types.go
Labels: milestone 1.14.0, size:L

#11993 chore: remove unused functions in autogen
  pkg/autogen/v1/autogen.go
  pkg/autogen/v1/autogen_test.go
Labels: milestone 1.14.0, size:L

#11995 feat: implement cel engine context provider
  cmd/cli/kubectl-kyverno/commands/apply/command.go
  cmd/cli/kubectl-kyverno/commands/apply/command_test.go
  pkg/cel/engine/engine.go
  pkg/cel/policy/context.go
Labels: milestone 1.14.0, size:L

#12006 test: add more cli vp tests
  cmd/cli/kubectl-kyverno/commands/apply/command_test.go
  test/cli/test-validating-policy/check-deployments-replica/deployment1.yaml
  test/cli/test-validating-policy/check-deployments-replica/deployment2.yaml
  test/cli/test-validating-policy/check-deployments-replica/policy.yaml
  test/cli/test-validating-policy/disallow-host-path/pod1.yaml
  test/cli/test-validating-policy/disallow-host-path/pod2.yaml
  test/cli/test-validating-policy/disallow-host-path/policy.yaml
Labels: milestone 1.14.0, size:L

#11996 feat: add autogen package for ValidatingPolicies
  pkg/cel/autogen/autogen.go
  pkg/cel/autogen/autogen_test.go
  pkg/cel/autogen/rule.go
  pkg/cel/autogen/rule_test.go
Labels: milestone 1.14.0, size:XXL

#12007 feat: register cel context lib
  pkg/cel/policy/compiler.go
  pkg/cel/policy/compiler_test.go
Labels: milestone 1.14.0, size:M

#12009 fix: make flags compatible with controller-runtime
  cmd/internal/flag.go
Labels: milestone 1.14.0, size:XS

#12015 feat: add validating policy webhook handler
  pkg/config/config.go
  pkg/controllers/webhook/validatingpolicy.go
  pkg/controllers/webhook/validatingpolicy_test.go
  pkg/webhooks/server.go
Labels: milestone 1.14.0, size:M

#12016 fix: test typo
  test/cli/test-validating-admission-policy/check-deployment-labels/policy.yaml
  test/cli/test-validating-admission-policy/check-deployments-replica/policy.yaml
  test/cli/test-validating-policy/check-deployment-labels/policy.yaml
  test/cli/test-validating-policy/check-deployments-replica/policy.yaml
Labels: milestone 1.14.0, size:XS

#12017 feat: add validation action to VPs
  api/kyverno/v2alpha1/spec_types.go
  api/kyverno/v2alpha1/zz_generated.deepcopy.go
  charts/kyverno/charts/crds/templates/kyverno.io/kyverno.io_validatingpolicies.yaml
  cmd/cli/kubectl-kyverno/data/crds/kyverno.io_validatingpolicies.yaml
  config/crds/kyverno/kyverno.io_validatingpolicies.yaml
  config/install-latest-testing.yaml
  docs/user/crd/index.html
  docs/user/crd/kyverno.v2alpha1.html
  pkg/client/applyconfigurations/kyverno/v2alpha1/validatingpolicyspec.go
Labels: milestone 1.14.0, size:L

#12019 feat: add rest config support in setup code
  cmd/internal/config.go
  cmd/internal/setup.go
Labels: milestone 1.14.0, size:S

#12008 feat: watch validating policies
  cmd/kyverno/main.go
  docs/user/cli/commands/kyverno.md
  docs/user/cli/commands/kyverno_completion.md
  docs/user/cli/commands/kyverno_completion_bash.md
  docs/user/cli/commands/kyverno_completion_fish.md
  docs/user/cli/commands/kyverno_completion_powershell.md
  docs/user/cli/commands/kyverno_completion_zsh.md
  docs/user/cli/commands/kyverno_create.md
  docs/user/cli/commands/kyverno_create_cluster-role.md
  docs/user/cli/commands/kyverno_create_exception.md
  docs/user/cli/commands/kyverno_create_metrics-config.md
  docs/user/cli/commands/kyverno_create_test.md
  docs/user/cli/commands/kyverno_create_user-info.md
  docs/user/cli/commands/kyverno_create_values.md
  docs/user/cli/commands/kyverno_docs.md
  docs/user/cli/commands/kyverno_fix.md
  docs/user/cli/commands/kyverno_fix_policy.md
  docs/user/cli/commands/kyverno_fix_test.md
  docs/user/cli/commands/kyverno_jp.md
  docs/user/cli/commands/kyverno_jp_function.md
  docs/user/cli/commands/kyverno_jp_parse.md
  docs/user/cli/commands/kyverno_jp_query.md
  docs/user/cli/commands/kyverno_json.md
  docs/user/cli/commands/kyverno_json_scan.md
  docs/user/cli/commands/kyverno_oci.md
  docs/user/cli/commands/kyverno_oci_pull.md
  docs/user/cli/commands/kyverno_oci_push.md
  docs/user/cli/commands/kyverno_test.md
  docs/user/cli/commands/kyverno_version.md
  pkg/cel/engine/provider.go
Labels: milestone 1.14.0, size:L

#12028 fix: don't sort cel policies
  pkg/cel/engine/provider.go
Labels: milestone 1.14.0, size:M

#12034 feat(validating policies): add match constraints support
  cmd/cli/kubectl-kyverno/commands/apply/command.go
  cmd/kyverno/main.go
  pkg/cel/engine/criteria.go
  pkg/cel/engine/engine.go
  pkg/cel/matching/matcher.go
Labels: milestone 1.14.0, size:L

#12031 replace ghcr.io to reg.kyverno.io
  charts/kyverno/README.md
  charts/kyverno/values.yaml
  config/install-latest-testing.yaml
Labels: milestone 1.14.0, size:M

#11979 fix: error handling and reduce log clutter
  pkg/engine/handlers/validation/validate_resource.go
Labels: milestone 1.14.0, size:XS

#12041 feat: use admission attributes
  pkg/cel/engine/engine.go
  pkg/cel/matching/matcher.go
Labels: milestone 1.14.0, size:M

#12042 fix: cel lib get config map return type
  pkg/cel/libs/context/lib.go
  pkg/cel/libs/context/types.go
Labels: milestone 1.14.0

#12044 feat: use more admission attributes
  pkg/cel/engine/engine.go
  pkg/cel/policy/policy.go
Labels: milestone 1.14.0, size:L

#12046 feat: support admission review in cel engine
  pkg/cel/engine/engine.go
  pkg/webhooks/server.go
Labels: milestone 1.14.0, size:M

#12040 chore: bump golang.org/x/net to 0.33.0 for release-1.13
  go.mod
  go.sum
Labels: size:XS, milestone 1.13.3

#12047 feat: process cel engine response in webhook handler
  pkg/cel/engine/criteria.go
  pkg/cel/engine/engine.go
  pkg/webhooks/server.go
Labels: milestone 1.14.0, size:M

#12038 feat: add CEL PolicyException CRD
  api/kyverno/v2alpha1/policy_exception.go
  api/kyverno/v2alpha1/zz_generated.deepcopy.go
  api/kyverno/v2alpha1/zz_generated.register.go
  config/crds/kyverno/kyverno.io_celpolicyexceptions.yaml
  docs/user/crd/index.html
  docs/user/crd/kyverno.v2alpha1.html
  pkg/client/applyconfigurations/kyverno/v2alpha1/celpolicyexception.go
  pkg/client/applyconfigurations/kyverno/v2alpha1/celpolicyexceptionspec.go
  pkg/client/applyconfigurations/kyverno/v2alpha1/policyref.go
  pkg/client/applyconfigurations/utils.go
  pkg/client/clientset/versioned/typed/kyverno/v2alpha1/celpolicyexception.go
  pkg/client/clientset/versioned/typed/kyverno/v2alpha1/fake/fake_celpolicyexception.go
  pkg/client/clientset/versioned/typed/kyverno/v2alpha1/fake/fake_kyverno_client.go
  pkg/client/clientset/versioned/typed/kyverno/v2alpha1/generated_expansion.go
  pkg/client/clientset/versioned/typed/kyverno/v2alpha1/kyverno_client.go
  pkg/client/informers/externalversions/generic.go
  pkg/client/informers/externalversions/kyverno/v2alpha1/celpolicyexception.go
  pkg/client/informers/externalversions/kyverno/v2alpha1/interface.go
  pkg/client/listers/kyverno/v2alpha1/celpolicyexception.go
  pkg/client/listers/kyverno/v2alpha1/expansion_generated.go
  pkg/clients/kyverno/kyvernov2alpha1/celpolicyexceptions/resource.generated.go
  pkg/clients/kyverno/kyvernov2alpha1/client.generated.go
Labels: milestone 1.14.0, size:XXL

#12051 fix: match the old object against the object selector for VAPs in the CLI
  pkg/admissionpolicy/matcher.go
Labels: milestone 1.14.0, size:S
