Repository kyverno/kyverno, changes with the owners that CODEOWNERS names for each.
All owners: @marcelmue, @vyankyGH, @samj1912, @prateekpandey14

CODEOWNERS:

# Areas of code where @marcelmue always wants to be a reviewer/notified.
/pkg/webhooks @marcelmue
/pkg/policy/mutate @marcelmue
/pkg/engine @marcelmue @vyankyGH
/pkg/kyverno @vyankyGH
/pkg/openapi @vyankyGH
/pkg/policycache @vyankyGH
/pkg/policy/validate @vyankyGH
/test @vyankyGH
/pkg @samj1912
/cmd @samj1912
/pkg/webhooks @prateekpandey14
/pkg/engine @prateekpandey14
/pkg/generate @prateekpandey14
/pkg/policy/generate @prateekpandey14
/api @prateekpandey14

feat: add linux/s390x builds (#3277)
  .goreleaser.yml
  .krew.yaml
  Makefile
Owners: none

updates
  api/kyverno/v1/policy_types.go
  charts/kyverno/templates/crds.yaml
  config/crds/kyverno.io_clusterpolicies.yaml
  config/crds/kyverno.io_policies.yaml
  config/install.yaml
  config/install_debug.yaml
Owners: @prateekpandey14

update trivy scanning
  .github/workflows/image-build.yaml
  .github/workflows/reuse.yaml
Owners: none

latest will point to main
  .github/workflows/image.yaml
  .github/workflows/reuse.yaml
  Makefile
Owners: none

update trivy scanning (#3284)
  .github/workflows/image-build.yaml
  .github/workflows/reuse.yaml
Owners: none

update trivy scanning (#3284)
  .github/workflows/image-build.yaml
  .github/workflows/reuse.yaml
Owners: none

update trivy scanning (#3284)
  .github/workflows/image-build.yaml
  .github/workflows/reuse.yaml
Owners: none

tag v1.6.1-rc1
  charts/kyverno-policies/Chart.yaml
  charts/kyverno/Chart.yaml
  charts/kyverno/templates/crds.yaml
  config/install.yaml
  config/release/install.yaml
  config/release/kustomization.yaml
  config/release/labels.yaml
Owners: none

Publish kyverno-policies-v2.3.1-rc1.tgz kyverno-v2.3.1-rc1.tgz
  index.yaml
  kyverno-policies-v2.3.1-rc1.tgz
  kyverno-v2.3.1-rc1.tgz
Owners: none

Run E2E tests on all supported k8s versions
  .github/workflows/e2e.yaml
  Makefile
  scripts/create-e2e-infrastruture.sh
  test/e2e/common/common.go
  test/e2e/mutate/config.go
  test/e2e/mutate/mutate_test.go
  test/e2e/mutate/resources.go
Owners: @vyankyGH

Filter kyverno resources instead of entire kyverno namespace (#3170) (#3171)
  charts/kyverno/README.md
  charts/kyverno/values.yaml
  config/install.yaml
  config/install_debug.yaml
  config/k8s-resource/configmap.yaml
  config/manifest/deployment.yaml
Owners: none

Shallow clone git repositories for kyverno test command
  pkg/kyverno/test/git.go
Owners: @samj1912

fix: comma separated lists in config
  charts/kyverno/templates/configmap.yaml
Owners: none

Shallow clone git repositories for kyverno test command
  pkg/kyverno/test/git.go
Owners: @samj1912

latest will point to main (#3285)
  .github/workflows/image.yaml
  .github/workflows/reuse.yaml
  Makefile
Owners: none

Run E2E tests on all supported k8s versions (#3256)
  .github/workflows/e2e.yaml
  Makefile
  scripts/create-e2e-infrastruture.sh
  test/e2e/common/common.go
  test/e2e/mutate/config.go
  test/e2e/mutate/mutate_test.go
  test/e2e/mutate/resources.go
Owners: @vyankyGH

fix: comma separated lists in config (#3290)
  charts/kyverno/templates/configmap.yaml
Owners: none

validate and block policy based on the matched kind cache
  go.mod
  go.sum
  pkg/policy/validate.go
  pkg/policy/validate_test.go
Owners: @samj1912

validate and block policy based on the matched kind cache (#3283)
  go.mod
  go.sum
  pkg/policy/validate.go
  pkg/policy/validate_test.go
Owners: @samj1912

validate and block policy based on the matched kind cache (#3283)
  go.mod
  go.sum
  pkg/policy/validate.go
  pkg/policy/validate_test.go
Owners: @samj1912

arranging permissions
  .github/workflows/release.yaml
Owners: none

validate and block policy based on the matched kind cache (#3283) (#3291)
  go.mod
  go.sum
  pkg/policy/validate.go
  pkg/policy/validate_test.go
Owners: @samj1912
