Repository kyverno/kyverno, changes with the owners that CODEOWNERS names for each.
All owners: @marcelmue, @vyankyGH, @chipzoller, @eddycharly, @prateekpandey14, @treydock

Fix: Typo in x509_decode JMESPath function's note (#4773)
  pkg/engine/jmespath/functions.go
Owners: @prateekpandey14

fix: parse flags error handling (#4775)
  cmd/kyverno/main.go
Owners: none

fix: remove reference to controller runtime log (#4779)
  pkg/policy/validate.go
Owners: none

fix: debug mode (#4785)
  Makefile
  cmd/kyverno/main.go
  pkg/webhookconfig/registration.go
Owners: none

fix: new cert manager controller never returns error (#4789)
  cmd/kyverno/main.go
  pkg/controllers/certmanager/controller.go
Owners: none

chore: bump a few deps (#4790)
  go.mod
  go.sum
Owners: none

fix: remove explicit wait for cache sync (#4791)
  pkg/controllers/certmanager/controller.go
  pkg/controllers/config/controller.go
  pkg/controllers/policycache/controller.go
Owners: none

refactor: split main into funcs (#4795)
  cmd/kyverno/main.go
Owners: none

refactor: split main func for metrics (#4796)
  cmd/kyverno/main.go
Owners: none

chore: bump a couple of deps (#4802)
  go.mod
  go.sum
Owners: none

chore: use concurrent map v2 (generics) (#4803)
  go.mod
  go.sum
  pkg/openapi/validation.go
  pkg/openapi/validation_test.go
Owners: @vyankyGH

merge
  cmd/kyverno/main.go
  go.mod
  go.sum
  pkg/config/client.go
  pkg/version/version.go
Owners: none

fix
  pkg/pss/evaluate.go
Owners: none

chore: bump a couple of deps
  go.mod
  go.sum
Owners: none

feature: use cert extension oid as key (#4854)
  pkg/cosign/cosign.go
Owners: none

fix: auto gen enabled when using names
  pkg/autogen/autogen.go
  pkg/autogen/autogen_test.go
Owners: @eddycharly

cleanup
  pkg/webhooks/server.go
Owners: @prateekpandey14

watchdog check
  pkg/controllers/webhook/controller.go
Owners: none

fix: background scan labels
  pkg/utils/report/labels.go
Owners: @eddycharly

fix: don't specify rules when aggregationRule is set
  charts/kyverno/templates/clusterrole.yaml
  config/install.yaml
  config/install_debug.yaml
  config/k8s-resource/clusterroles.yaml
Owners: @treydock, @eddycharly

update cosign
  go.mod
  go.sum
  pkg/cosign/cosign.go
  pkg/engine/imageVerify_test.go
Owners: @prateekpandey14

update Golang
  go.mod
  go.sum
Owners: none

update Golang
  .github/workflows/cli.yaml
  .github/workflows/e2e-autogen-internals.yaml
  .github/workflows/e2e.yaml
  .github/workflows/image-build.yaml
  .github/workflows/release.yaml
  .github/workflows/reuse.yaml
  .github/workflows/tests.yaml
Owners: none

fix flags
  cmd/cli/kubectl-kyverno/main.go
  cmd/initContainer/main.go
  cmd/kyverno/main.go
  go.mod
  go.sum
Owners: none

gen crds
  charts/kyverno/templates/crds.yaml
  config/crds/kyverno.io_clusterpolicies.yaml
  config/crds/kyverno.io_clusterreportchangerequests.yaml
  config/crds/kyverno.io_generaterequests.yaml
  config/crds/kyverno.io_policies.yaml
  config/crds/kyverno.io_reportchangerequests.yaml
  config/crds/kyverno.io_updaterequests.yaml
  config/crds/wgpolicyk8s.io_clusterpolicyreports.yaml
  config/crds/wgpolicyk8s.io_policyreports.yaml
  config/install.yaml
  config/install_debug.yaml
  docs/crd/v1/index.html
Owners: @treydock, @eddycharly, @chipzoller

fix cosign tests
  pkg/cosign/cosign_test.go
Owners: none

fix controller-gen install
  Makefile
Owners: none

codegen again!
  charts/kyverno/templates/crds.yaml
  config/crds/kyverno.io_clusterpolicies.yaml
  config/crds/kyverno.io_clusterreportchangerequests.yaml
  config/crds/kyverno.io_generaterequests.yaml
  config/crds/kyverno.io_policies.yaml
  config/crds/kyverno.io_reportchangerequests.yaml
  config/crds/kyverno.io_updaterequests.yaml
  config/crds/wgpolicyk8s.io_clusterpolicyreports.yaml
  config/crds/wgpolicyk8s.io_policyreports.yaml
  config/install.yaml
  config/install_debug.yaml
Owners: @treydock, @eddycharly

fix generated docs
  docs/crd/v1/index.html
Owners: @chipzoller

update wait time
  test/e2e/mutate/mutate_test.go
Owners: @vyankyGH, @chipzoller, @eddycharly

revert Golang version
  .github/workflows/cli.yaml
  .github/workflows/e2e-autogen-internals.yaml
  .github/workflows/e2e.yaml
  .github/workflows/image-build.yaml
  .github/workflows/release.yaml
  .github/workflows/reuse.yaml
  .github/workflows/tests.yaml
  go.mod
Owners: none

cherry-pick (#4790 #4791 #4795 #4796 #4802 #4803) (#4861)
  cmd/kyverno/main.go
  go.mod
  go.sum
  pkg/config/client.go
  pkg/controllers/certmanager/controller.go
  pkg/controllers/config/controller.go
  pkg/controllers/policycache/controller.go
  pkg/openapi/validation.go
  pkg/openapi/validation_test.go
  pkg/pss/evaluate.go
  pkg/version/version.go
Owners: @vyankyGH

revert Golang version
  go.sum
Owners: none

update Golang version
  .github/workflows/cli.yaml
  .github/workflows/e2e-autogen-internals.yaml
  .github/workflows/e2e.yaml
  .github/workflows/image-build.yaml
  .github/workflows/release.yaml
  .github/workflows/reuse.yaml
  .github/workflows/tests.yaml
  go.mod
Owners: none

try Golang 1.17
  go.mod
Owners: none

Golang 1.18
  go.mod
Owners: none

Golang 1.18
  .github/workflows/codecov.yaml
  .github/workflows/fossa.yml
Owners: none

update Cosign
  go.mod
  go.sum
  pkg/cosign/cosign.go
  pkg/cosign/cosign_test.go
  pkg/engine/imageVerify_test.go
Owners: @prateekpandey14

update Golang -> 1.18.x
  .github/workflows/cli.yaml
  .github/workflows/codecov.yaml
  .github/workflows/e2e-autogen-internals.yaml
  .github/workflows/e2e.yaml
  .github/workflows/fossa.yml
  .github/workflows/image-build.yaml
  .github/workflows/release.yaml
  .github/workflows/reuse.yaml
  .github/workflows/tests.yaml
  go.mod
  go.sum
Owners: none

fix make install-controller-gen
  Makefile
Owners: none

CODEOWNERS:

# Areas of code where @marcelmue always wants to be a reviewer/notified.
/pkg/webhooks @marcelmue
/pkg/policy/mutate @marcelmue
/pkg/engine @marcelmue @vyankyGH
/pkg/kyverno @vyankyGH
/pkg/openapi @vyankyGH
/pkg/policycache @vyankyGH
/pkg/policy/validate @vyankyGH
/test @vyankyGH @chipzoller @eddycharly
/docs @chipzoller
/pkg/registryclient
/api/kyverno/v1 @eddycharly
/pkg/webhooks @prateekpandey14
/pkg/engine @prateekpandey14
/pkg/generate @prateekpandey14
/pkg/policy/generate @prateekpandey14
/api @prateekpandey14 @eddycharly
/charts @treydock @eddycharly
/pkg/autogen @eddycharly
/pkg/utils @eddycharly
