Repository kyverno/kyverno, changes with the owners that CODEOWNERS names for each.
All owners: @eddycharly, @realshuting, @treydock, @chipzoller, @marcelmue, @MariamFahmy98, @Vishal-Chdhry

chore: use k8s 1.27 by default (#8052)
  Makefile
Owners: none

fix: server name without port to generated certificate
  pkg/tls/keypair.go
Owners: none

chore: bump a couple of deps
  go.mod
  go.sum
Owners: none

Modified Makefile
  Makefile
Owners: none

fix: server name without port to generated certificate (#8053)
  pkg/tls/keypair.go
Owners: none

chore: use fuzzers own cfg variable
  pkg/engine/fuzz_test.go
Owners: @marcelmue, @realshuting, @MariamFahmy98

test: move OSS-Fuzz build script from cncf-fuzzing
  test/fuzz/oss_fuzz_build.sh
Owners: @chipzoller, @eddycharly, @realshuting, @MariamFahmy98

chore: use fuzzers own cfg variable (#8056)
  pkg/engine/fuzz_test.go
Owners: @marcelmue, @realshuting, @MariamFahmy98

Lazy evaluate isAnyNotIn function
  pkg/engine/variables/operator/anyin.go
Owners: @marcelmue, @realshuting, @MariamFahmy98

chore: bump a couple of deps (#8054)
  go.mod
  go.sum
Owners: none

test: move OSS-Fuzz build script from cncf-fuzzing (#8057)
  test/fuzz/oss_fuzz_build.sh
Owners: @chipzoller, @eddycharly, @realshuting, @MariamFahmy98

Add unit tests
  pkg/engine/variables/operator/anynotin_test.go
Owners: @marcelmue, @realshuting, @MariamFahmy98

Support mutatingwebhookconfiguration name prefix.
  pkg/config/config.go
Owners: none

feat: use k8s 1.28 libs (#8037)
  api/kyverno/v1/zz_generated.deepcopy.go
  charts/kyverno/templates/crds/crds.yaml
  config/crds/kyverno.io_clusterpolicies.yaml
  config/crds/kyverno.io_policies.yaml
  config/install-latest-testing.yaml
  go.mod
  go.sum
  pkg/clients/aggregator/discovery/resource.generated.go
  pkg/clients/apiserver/discovery/resource.generated.go
  pkg/clients/dclient/discovery.go
  pkg/clients/dclient/fake.go
  pkg/clients/kube/admissionregistrationv1beta1/client.generated.go
  pkg/clients/kube/admissionregistrationv1beta1/validatingadmissionpolicies/resource.generated.go
  pkg/clients/kube/admissionregistrationv1beta1/validatingadmissionpolicybindings/resource.generated.go
  pkg/clients/kube/authenticationv1/client.generated.go
  pkg/clients/kube/authenticationv1/selfsubjectreviews/resource.generated.go
  pkg/clients/kube/discovery/resource.generated.go
  pkg/clients/kube/extensionsv1beta1/networkpolicies/resource.generated.go
  pkg/clients/kyverno/discovery/resource.generated.go
  pkg/controllers/openapi/manager.go
  pkg/engine/handlers/validation/validate_cel.go
  pkg/openapi/manager.go
  pkg/openapi/utils.go
  pkg/validatingadmissionpolicy/validatingadmissionpolicy.go
Owners: @eddycharly, @treydock, @marcelmue, @realshuting, @MariamFahmy98

Resolve lint errors
  cmd/cli/kubectl-kyverno/apply/apply_command.go
  cmd/cli/kubectl-kyverno/apply/apply_command_test.go
Owners: none

Removed unnecessary leading newline
  cmd/cli/kubectl-kyverno/apply/apply_command.go
Owners: none

chore: bump a couple of deps
  go.mod
  go.sum
Owners: none

feat: add match conditions support in webhooks (#8042)
  CHANGELOG.md
  charts/kyverno/Chart.yaml
  charts/kyverno/README.md
  charts/kyverno/templates/NOTES.txt
  charts/kyverno/templates/config/configmap.yaml
  charts/kyverno/values.yaml
  pkg/config/config.go
  pkg/config/types.go
  pkg/controllers/generic/webhook/controller.go
  pkg/controllers/webhook/controller.go
Owners: @treydock, @eddycharly

chore: bump a couple of deps (#8064)
  go.mod
  go.sum
Owners: none

chore: bump a couple of deps
  go.mod
  go.sum
Owners: none

more deps
  go.mod
  go.sum
Owners: none

more deps
  go.mod
  go.sum
Owners: none

Refactor Kyverno CLI (#7995)
  cmd/cli/kubectl-kyverno/apply/apply_command.go
  cmd/cli/kubectl-kyverno/apply/apply_command_test.go
  cmd/cli/kubectl-kyverno/utils/common/kyverno_policies_types.go
Owners: none

chore: bump a couple of deps (#8066)
  go.mod
  go.sum
Owners: none

fix: image pull policy missing
  charts/kyverno/Chart.yaml
  charts/kyverno/templates/background-controller/deployment.yaml
  charts/kyverno/templates/cleanup-controller/deployment.yaml
  charts/kyverno/templates/reports-controller/deployment.yaml
  charts/kyverno/values.yaml
  config/install-latest-testing.yaml
Owners: @treydock, @eddycharly

fix: image pull policy missing (#8067)
  charts/kyverno/Chart.yaml
  charts/kyverno/templates/background-controller/deployment.yaml
  charts/kyverno/templates/cleanup-controller/deployment.yaml
  charts/kyverno/templates/reports-controller/deployment.yaml
  charts/kyverno/values.yaml
  config/install-latest-testing.yaml
Owners: @treydock, @eddycharly

feat: support wildcard in subjects statements
  pkg/utils/match/subjects.go
Owners: @eddycharly

kuttl tests
  .github/workflows/conformance.yaml
  test/conformance/kuttl/filter/exclude/user/no-wildcard/01-policy.yaml
  test/conformance/kuttl/filter/exclude/user/no-wildcard/02-resource.yaml
  test/conformance/kuttl/filter/exclude/user/no-wildcard/README.md
  test/conformance/kuttl/filter/exclude/user/no-wildcard/policy-assert.yaml
  test/conformance/kuttl/filter/exclude/user/no-wildcard/policy.yaml
  test/conformance/kuttl/filter/exclude/user/no-wildcard/resource.yaml
  test/conformance/kuttl/filter/exclude/user/wildcard/01-policy.yaml
  test/conformance/kuttl/filter/exclude/user/wildcard/02-resource.yaml
  test/conformance/kuttl/filter/exclude/user/wildcard/README.md
  test/conformance/kuttl/filter/exclude/user/wildcard/policy-assert.yaml
  test/conformance/kuttl/filter/exclude/user/wildcard/policy.yaml
  test/conformance/kuttl/filter/exclude/user/wildcard/resource.yaml
  test/conformance/kuttl/filter/match/user/no-wildcard/01-policy.yaml
  test/conformance/kuttl/filter/match/user/no-wildcard/02-resource.yaml
  test/conformance/kuttl/filter/match/user/no-wildcard/README.md
  test/conformance/kuttl/filter/match/user/no-wildcard/policy-assert.yaml
  test/conformance/kuttl/filter/match/user/no-wildcard/policy.yaml
  test/conformance/kuttl/filter/match/user/no-wildcard/resource.yaml
  test/conformance/kuttl/filter/match/user/wildcard/01-policy.yaml
  test/conformance/kuttl/filter/match/user/wildcard/02-resource.yaml
  test/conformance/kuttl/filter/match/user/wildcard/README.md
  test/conformance/kuttl/filter/match/user/wildcard/policy-assert.yaml
  test/conformance/kuttl/filter/match/user/wildcard/policy.yaml
  test/conformance/kuttl/filter/match/user/wildcard/resource.yaml
Owners: @chipzoller, @eddycharly, @realshuting, @MariamFahmy98

fix
  test/conformance/kuttl/filter/exclude/user/no-wildcard/02-resource.yaml
  test/conformance/kuttl/filter/exclude/user/wildcard/02-resource.yaml
Owners: @chipzoller, @eddycharly, @realshuting, @MariamFahmy98

feat: add sysdump command in cli
  cmd/cli/kubectl-kyverno/main.go
  cmd/cli/kubectl-kyverno/sysdump/sysdump.go
Owners: none

Add an abstraction interface for Kyverno policies and validating admission policies
  cmd/cli/kubectl-kyverno/apply/report.go
  cmd/cli/kubectl-kyverno/apply/table.go
  cmd/cli/kubectl-kyverno/test/test.go
  cmd/cli/kubectl-kyverno/utils/common/common.go
  go.sum
  pkg/background/generate/generate.go
  pkg/controllers/report/utils/events.go
  pkg/engine/api/engineresponse.go
  pkg/engine/api/engineresponse_test.go
  pkg/engine/api/policy.go
  pkg/validatingadmissionpolicy/validatingadmissionpolicy.go
  pkg/webhooks/resource/utils.go
  pkg/webhooks/utils/block.go
  pkg/webhooks/utils/error.go
  pkg/webhooks/utils/warning.go
Owners: @realshuting, @marcelmue, @MariamFahmy98

ref:backgroundscanning for vap
  pkg/controllers/report/background/controller.go
  pkg/controllers/report/utils/events.go
  pkg/controllers/report/utils/scanner.go
  pkg/event/events.go
  pkg/utils/report/results.go
  pkg/webhooks/utils/warning.go
Owners: @eddycharly, @marcelmue, @realshuting

updated comments (#7902)
  pkg/registryclient/client.go
Owners: none

refactor validating admission policies (#7835)
  cmd/cli/kubectl-kyverno/apply/apply_command.go
  cmd/cli/kubectl-kyverno/apply/apply_command_test.go
  cmd/cli/kubectl-kyverno/apply/report.go
  cmd/cli/kubectl-kyverno/test/api/types.go
  cmd/cli/kubectl-kyverno/test/test.go
  cmd/cli/kubectl-kyverno/test/test_command.go
  cmd/cli/kubectl-kyverno/utils/common/fetch.go
  cmd/cli/kubectl-kyverno/utils/common/validating_admission_policies_types.go
  cmd/cli/kubectl-kyverno/utils/common/validatingadmission_resources_types.go
  pkg/validatingadmissionpolicy/log.go
  pkg/validatingadmissionpolicy/validatingadmissionpolicy.go
  pkg/validatingadmissionpolicy/validatingadmissionpolicy_test.go
  test/cli/test-validating-admission-policy/validate-deployment/policy.yaml
  test/cli/test-vap/check-deployments-replica/deployment1.yaml
  test/cli/test-vap/check-deployments-replica/deployment2.yaml
  test/cli/test-vap/check-deployments-replica/policy.yaml
  test/cli/test-vap/disallow-host-path/pod1.yaml
  test/cli/test-vap/disallow-host-path/pod2.yaml
  test/cli/test-vap/disallow-host-path/policy.yaml
Owners: @chipzoller, @eddycharly, @realshuting, @MariamFahmy98

feat: update default keychain in registry to be empty (#7906)
  cmd/internal/flag.go
  pkg/registryclient/authn.go
  pkg/registryclient/client.go
Owners: none

fix: rename vap to its full name (#7929)
  cmd/cli/kubectl-kyverno/apply/apply_command_test.go
  test/cli/test-validating-admission-policy/check-deployments-replica/deployment1.yaml
  test/cli/test-validating-admission-policy/check-deployments-replica/deployment2.yaml
  test/cli/test-validating-admission-policy/check-deployments-replica/policy.yaml
  test/cli/test-validating-admission-policy/disallow-host-path/pod1.yaml
  test/cli/test-validating-admission-policy/disallow-host-path/pod2.yaml
  test/cli/test-validating-admission-policy/disallow-host-path/policy.yaml
Owners: @chipzoller, @eddycharly, @realshuting, @MariamFahmy98

fix(chart): only create ServiceMonitor if cluster supports it (#7926)
  charts/kyverno/Chart.yaml
  charts/kyverno/templates/admission-controller/servicemonitor.yaml
  charts/kyverno/templates/background-controller/servicemonitor.yaml
  charts/kyverno/templates/cleanup-controller/servicemonitor.yaml
  charts/kyverno/templates/reports-controller/servicemonitor.yaml
Owners: @treydock, @eddycharly

Adding other folder's subfolders to workflows/conformance.yaml's tests array (#7927)
  .github/workflows/conformance.yaml
Owners: none

add IITS Consulting as adopter from Google Form (#7932)
  ADOPTERS.md
Owners: none

feat: add create metrics-config cli command (#7782)
  cmd/cli/kubectl-kyverno/create/command.go
  cmd/cli/kubectl-kyverno/create/metrics-config/command.go
  cmd/cli/kubectl-kyverno/create/templates/metrics-config.yaml
  cmd/cli/kubectl-kyverno/create/templates/templates.go
  go.mod
  go.sum
Owners: none

CODEOWNERS:

# Areas of code where @marcelmue always wants to be a reviewer/notified.
/api                    @eddycharly @realshuting
/api/kyverno/v1         @eddycharly
/charts                 @treydock @eddycharly
/docs                   @chipzoller
/pkg/autogen            @eddycharly
/pkg/background         @realshuting
/pkg/engine             @marcelmue @realshuting @MariamFahmy98
/pkg/policy/mutate      @marcelmue
/pkg/pss                @realshuting
/pkg/utils              @eddycharly
/pkg/userinfo           @realshuting
/pkg/validation         @realshuting
/pkg/webhooks           @marcelmue @realshuting
/test                   @chipzoller @eddycharly @realshuting @MariamFahmy98
/pkg/cosign             @Vishal-Chdhry
/pkg/notary             @Vishal-Chdhry
