Repository kyverno/kyverno, changes with the owners that CODEOWNERS names for each.
All owners: @marcelmue, @vyankyGH, @chipzoller, @eddycharly, @prateekpandey14, @treydock

release: 1.8 (#4851)
  charts/kyverno-policies/Chart.yaml
  charts/kyverno-policies/README.md
  charts/kyverno/Chart.yaml
  charts/kyverno/README.md
Owners: @treydock, @eddycharly

Publish kyverno-2.6.0.tgz
  index.yaml
  kyverno-2.6.0.tgz
Owners: none

Publish kyverno-policies-2.6.0.tgz
  index.yaml
  kyverno-policies-2.6.0.tgz
Owners: none

docs: add debug instructions (#4843)
  DEVELOPMENT.md
Owners: none

feat: use disk cache for discovery
  charts/kyverno/templates/deployment.yaml
  config/manifest/deployment.yaml
  pkg/clients/dclient/client.go
Owners: @treydock, @eddycharly

fix test output numbering
  cmd/cli/kubectl-kyverno/test/test_command.go
Owners: none

watchdog
  cmd/kyverno/main.go
  pkg/controllers/webhook/controller.go
Owners: none

feature: use cert extension oid as key
  pkg/cosign/cosign.go
Owners: none

cleanup
  cmd/kyverno/main.go
  pkg/controllers/webhook/utils_test.go
  pkg/webhookconfig/common.go
  pkg/webhookconfig/configmanager.go
  pkg/webhookconfig/configmanager_test.go
  pkg/webhookconfig/monitor.go
  pkg/webhookconfig/registration.go
  pkg/webhookconfig/status.go
  pkg/webhooks/handlers/admission.go
  pkg/webhooks/handlers/monitor.go
  pkg/webhooks/server.go
Owners: @prateekpandey14

fix
  pkg/controllers/webhook/controller.go
Owners: none

pin deps
  .github/workflows/report-on-vulnerabilities.yaml
Owners: none

health check
  cmd/kyverno/main.go
  pkg/controllers/webhook/controller.go
  pkg/webhooks/handlers/probe.go
  pkg/webhooks/server.go
Owners: @prateekpandey14

chore: add launch.json for vscode debugging
  .gitignore
  .vscode/launch.json
Owners: none

Add workflow to detect and report on image vulns (#4850)
  .github/ISSUE_TEMPLATE/VULN-TEMPLATE.md
  .github/workflows/report-on-vulnerabilities.yaml
Owners: none

chore: add launch.json for vscode debugging (#4856)
  .gitignore
  .vscode/launch.json
Owners: none

feat: allow users enable JSON logging with a --loggingFormat=json flag (#4661)
  Makefile
  cmd/kyverno/main.go
  go.mod
Owners: none

Add security context and resource block to test (#4712)
  charts/kyverno/Chart.yaml
  charts/kyverno/README.md
  charts/kyverno/templates/_helpers.tpl
  charts/kyverno/templates/tests/test.yaml
  charts/kyverno/values.yaml
  cmd/kyverno/main.go
Owners: @treydock, @eddycharly

fix
  go.mod
  go.sum
Owners: none

runtime utils
  pkg/utils/runtime/utils.go
Owners: @eddycharly

chore: speed up helm docs gen on mac (#4742)
  Makefile
Owners: none

fix: use a single leader election (#4722)
  cmd/kyverno/main.go
Owners: none

feat: add typed client support and metrics wrapper (#4724)
  pkg/clients/wrappers/clientset.go
  pkg/clients/wrappers/kyverno/v1/clusterpolicy.go
  pkg/clients/wrappers/kyverno/v1/generaterequest.go
  pkg/clients/wrappers/kyverno/v1/kyverno_client.go
  pkg/clients/wrappers/kyverno/v1/policy.go
  pkg/clients/wrappers/kyverno/v1alpha2/admissionreport.go
  pkg/clients/wrappers/kyverno/v1alpha2/backgroundscanreport.go
  pkg/clients/wrappers/kyverno/v1alpha2/clusteradmissionreport.go
  pkg/clients/wrappers/kyverno/v1alpha2/clusterbackgroundscanreport.go
  pkg/clients/wrappers/kyverno/v1alpha2/kyverno_client.go
  pkg/clients/wrappers/kyverno/v1beta1/kyverno_client.go
  pkg/clients/wrappers/kyverno/v1beta1/updaterequest.go
  pkg/clients/wrappers/policyreport/v1alpha2/clusterpolicyreport.go
  pkg/clients/wrappers/policyreport/v1alpha2/policyreport.go
  pkg/clients/wrappers/policyreport/v1alpha2/policyreport_client.go
  pkg/clients/wrappers/utils/metric.go
  pkg/clients/wrappers/utils/wrapper.go
  pkg/metrics/client.go
  pkg/tls/reader.go
  pkg/utils/controller/utils.go
  pkg/webhookconfig/common.go
Owners: @eddycharly

cherry-pick (#4661 #4712 #4722 #4724 #4742) (#4857)
  Makefile
  charts/kyverno/Chart.yaml
  charts/kyverno/README.md
  charts/kyverno/templates/_helpers.tpl
  charts/kyverno/templates/tests/test.yaml
  charts/kyverno/values.yaml
  cmd/kyverno/main.go
  go.mod
  go.sum
  pkg/clients/wrappers/clientset.go
  pkg/clients/wrappers/kyverno/v1/clusterpolicy.go
  pkg/clients/wrappers/kyverno/v1/generaterequest.go
  pkg/clients/wrappers/kyverno/v1/kyverno_client.go
  pkg/clients/wrappers/kyverno/v1/policy.go
  pkg/clients/wrappers/kyverno/v1alpha2/admissionreport.go
  pkg/clients/wrappers/kyverno/v1alpha2/backgroundscanreport.go
  pkg/clients/wrappers/kyverno/v1alpha2/clusteradmissionreport.go
  pkg/clients/wrappers/kyverno/v1alpha2/clusterbackgroundscanreport.go
  pkg/clients/wrappers/kyverno/v1alpha2/kyverno_client.go
  pkg/clients/wrappers/kyverno/v1beta1/kyverno_client.go
  pkg/clients/wrappers/kyverno/v1beta1/updaterequest.go
  pkg/clients/wrappers/policyreport/v1alpha2/clusterpolicyreport.go
  pkg/clients/wrappers/policyreport/v1alpha2/policyreport.go
  pkg/clients/wrappers/policyreport/v1alpha2/policyreport_client.go
  pkg/clients/wrappers/utils/metric.go
  pkg/clients/wrappers/utils/wrapper.go
  pkg/metrics/client.go
  pkg/tls/reader.go
  pkg/utils/controller/utils.go
  pkg/webhookconfig/common.go
Owners: @treydock, @eddycharly

runtime utils
  cmd/kyverno/main.go
  pkg/controllers/webhook/controller.go
  pkg/utils/runtime/utils.go
Owners: @eddycharly

fix: helm self signed cert (#4745)
  charts/kyverno/Chart.yaml
  charts/kyverno/templates/secret.yaml
Owners: @treydock, @eddycharly

fix: use new client in tls package (#4746)
  cmd/kyverno/main.go
  pkg/tls/renewer.go
Owners: none

chore: use constant in cert manager controller (#4747)
  pkg/controllers/certmanager/log.go
Owners: none

add and use package level logger (#4750)
  cmd/kyverno/main.go
  pkg/logging/log.go
Owners: none

refactor: move from io/ioutil to io and os packages (#4752)
  cmd/cli/kubectl-kyverno/jp/jp_command.go
  cmd/cli/kubectl-kyverno/test/test_command.go
  cmd/cli/kubectl-kyverno/utils/common/common.go
  cmd/cli/kubectl-kyverno/utils/common/fetch.go
  pkg/autogen/autogen_test.go
  pkg/config/config_test.go
  pkg/registryclient/client.go
  pkg/testrunner/scenario.go
  pkg/testrunner/scenario_test.go
  pkg/testrunner/utils.go
  pkg/webhooks/handlers/admission.go
Owners: @eddycharly, @prateekpandey14

fix
  cmd/kyverno/main.go
  pkg/config/client.go
Owners: none

cherry-pick (#4745 #4746 #4747 #4750 #4752) (#4858)
  charts/kyverno/Chart.yaml
  charts/kyverno/templates/secret.yaml
  cmd/cli/kubectl-kyverno/jp/jp_command.go
  cmd/cli/kubectl-kyverno/test/test_command.go
  cmd/cli/kubectl-kyverno/utils/common/common.go
  cmd/cli/kubectl-kyverno/utils/common/fetch.go
  cmd/kyverno/main.go
  pkg/autogen/autogen_test.go
  pkg/config/client.go
  pkg/config/config_test.go
  pkg/controllers/certmanager/log.go
  pkg/logging/log.go
  pkg/registryclient/client.go
  pkg/testrunner/scenario.go
  pkg/testrunner/scenario_test.go
  pkg/testrunner/utils.go
  pkg/tls/renewer.go
  pkg/webhooks/handlers/admission.go
Owners: @treydock, @eddycharly, @prateekpandey14

refactor: split main in a couple of funcs and use local loggers (#4754)
  cmd/kyverno/main.go
  pkg/logging/log.go
Owners: none

refactor: use context in dynamic client instead of chan (#4756)
  Makefile
  cmd/cli/kubectl-kyverno/apply/apply_command.go
  cmd/initContainer/main.go
  cmd/kyverno/main.go
  pkg/clients/dclient/client.go
  pkg/clients/dclient/discovery.go
Owners: none

refactor: use context in openapi controller (#4760)
  cmd/kyverno/main.go
  pkg/openapi/crdSync.go
  pkg/policy/validate.go
Owners: @vyankyGH

refactor: use context in controllers instead of chan (#4761)
  cmd/kyverno/main.go
  pkg/controllers/certmanager/controller.go
  pkg/controllers/config/controller.go
  pkg/controllers/controller.go
  pkg/controllers/policycache/controller.go
  pkg/controllers/report/admission/controller.go
  pkg/controllers/report/aggregate/controller.go
  pkg/controllers/report/background/controller.go
  pkg/controllers/report/resource/controller.go
  pkg/utils/controller/run.go
  pkg/utils/controller/utils.go
  pkg/utils/report/create.go
  pkg/utils/report/delete.go
  pkg/utils/report/update.go
  pkg/webhooks/resource/validation/validation.go
Owners: @eddycharly, @prateekpandey14

refactor: more context less chans (#4764)
  cmd/kyverno/informer.go
  cmd/kyverno/main.go
  pkg/background/update_request_controller.go
  pkg/event/controller.go
  pkg/policy/policy_controller.go
  pkg/policy/report.go
  pkg/webhookconfig/configmanager.go
  pkg/webhookconfig/monitor.go
  pkg/webhookconfig/registration.go
Owners: none

refactor: make server owner of the cleanup chan (#4765)
  cmd/kyverno/main.go
  pkg/webhooks/server.go
Owners: @prateekpandey14

fix: add workers to the controller interface (#4776)
  cmd/kyverno/controller.go
  cmd/kyverno/main.go
  pkg/controllers/certmanager/controller.go
  pkg/controllers/config/controller.go
  pkg/controllers/controller.go
  pkg/controllers/policycache/controller.go
  pkg/controllers/report/admission/controller.go
  pkg/controllers/report/aggregate/controller.go
  pkg/controllers/report/background/controller.go
  pkg/controllers/report/resource/controller.go
Owners: none

cherry-pick (#4754 #4756 #4760 #4761 #4764 #4765 #4776) (#4859)
  Makefile
  cmd/cli/kubectl-kyverno/apply/apply_command.go
  cmd/initContainer/main.go
  cmd/kyverno/controller.go
  cmd/kyverno/informer.go
  cmd/kyverno/main.go
  pkg/background/update_request_controller.go
  pkg/clients/dclient/client.go
  pkg/clients/dclient/discovery.go
  pkg/controllers/certmanager/controller.go
  pkg/controllers/config/controller.go
  pkg/controllers/controller.go
  pkg/controllers/policycache/controller.go
  pkg/controllers/report/admission/controller.go
  pkg/controllers/report/aggregate/controller.go
  pkg/controllers/report/background/controller.go
  pkg/controllers/report/resource/controller.go
  pkg/event/controller.go
  pkg/logging/log.go
  pkg/openapi/crdSync.go
  pkg/policy/policy_controller.go
  pkg/policy/report.go
  pkg/policy/validate.go
  pkg/utils/controller/run.go
  pkg/utils/controller/utils.go
  pkg/utils/report/create.go
  pkg/utils/report/delete.go
  pkg/utils/report/update.go
  pkg/webhookconfig/configmanager.go
  pkg/webhookconfig/monitor.go
  pkg/webhookconfig/registration.go
  pkg/webhooks/resource/validation/validation.go
  pkg/webhooks/server.go
Owners: @vyankyGH, @eddycharly, @prateekpandey14

refactor: introduce webhook controller (#4749)
  cmd/kyverno/main.go
  pkg/controllers/certmanager/controller.go
  pkg/controllers/webhook/controller.go
  pkg/controllers/webhook/log.go
  pkg/utils/controller/utils.go
  pkg/webhookconfig/registration.go
Owners: @eddycharly

CODEOWNERS:

# Areas of code where @marcelmue always wants to be a reviewer/notified.
/pkg/webhooks @marcelmue
/pkg/policy/mutate @marcelmue
/pkg/engine @marcelmue @vyankyGH
/pkg/kyverno @vyankyGH
/pkg/openapi @vyankyGH
/pkg/policycache @vyankyGH
/pkg/policy/validate @vyankyGH
/test @vyankyGH @chipzoller @eddycharly
/docs @chipzoller
/pkg/registryclient
/api/kyverno/v1 @eddycharly
/pkg/webhooks @prateekpandey14
/pkg/engine @prateekpandey14
/pkg/generate @prateekpandey14
/pkg/policy/generate @prateekpandey14
/api @prateekpandey14 @eddycharly
/charts @treydock @eddycharly
/pkg/autogen @eddycharly
/pkg/utils @eddycharly
