Repository kyverno/kyverno, changes with the owners that CODEOWNERS names for each.
All owners: @marcelmue, @vyankyGH, @chipzoller, @eddycharly, @prateekpandey14, @treydock

CODEOWNERS:

# Areas of code where @marcelmue always wants to be a reviewer/notified.
/pkg/webhooks @marcelmue
/pkg/policy/mutate @marcelmue
/pkg/engine @marcelmue @vyankyGH
/pkg/kyverno @vyankyGH
/pkg/openapi @vyankyGH
/pkg/policycache @vyankyGH
/pkg/policy/validate @vyankyGH
/test @vyankyGH @chipzoller @eddycharly
/docs @chipzoller
/pkg/registryclient
/api/kyverno/v1 @eddycharly
/pkg/webhooks @prateekpandey14
/pkg/engine @prateekpandey14
/pkg/generate @prateekpandey14
/pkg/policy/generate @prateekpandey14
/api @prateekpandey14 @eddycharly
/charts @treydock @eddycharly
/pkg/autogen @eddycharly
/pkg/utils @eddycharly

fix
  api/doc.go
  api/policyreport/v1alpha2/common.go
  docs/user/crd/index.html
  docs/user/crd/v1alpha2/index.html
  docs/user/crd/v1beta1/index.html
  docs/user/crd/v2beta1/index.html
Owners: @prateekpandey14, @eddycharly, @chipzoller

removed unused function
  pkg/utils/util.go
Owners: @eddycharly

fix
  api/policyreport/register.go
  api/policyreport/v1alpha2/doc.go
  api/policyreport/v1alpha2/register.go
  docs/user/crd/index.html
Owners: @prateekpandey14, @eddycharly, @chipzoller

fix
  Makefile
Owners: none

fix linter
  pkg/utils/util.go
Owners: @eddycharly

docs: separate dev and user docs (#5114)
  Makefile
  api/doc.go
  api/policyreport/register.go
  api/policyreport/v1alpha2/common.go
  api/policyreport/v1alpha2/doc.go
  api/policyreport/v1alpha2/register.go
  docs/dev/controllers/policycache.md
  docs/user/README.md
  docs/user/config.json
  docs/user/crd/index.html
  docs/user/template/members.tpl
  docs/user/template/pkg.tpl
  docs/user/template/type.tpl
Owners: @prateekpandey14, @eddycharly, @chipzoller

docs: separate dev and user docs (#5114)
  Makefile
  api/doc.go
  api/policyreport/register.go
  api/policyreport/v1alpha2/common.go
  api/policyreport/v1alpha2/doc.go
  api/policyreport/v1alpha2/register.go
  docs/dev/controllers/policycache.md
  docs/user/README.md
  docs/user/config.json
  docs/user/crd/index.html
  docs/user/template/members.tpl
  docs/user/template/pkg.tpl
  docs/user/template/type.tpl
Owners: @prateekpandey14, @eddycharly, @chipzoller

docs: separate dev and user docs (#5114)
  Makefile
  api/doc.go
  api/policyreport/register.go
  api/policyreport/v1alpha2/common.go
  api/policyreport/v1alpha2/doc.go
  api/policyreport/v1alpha2/register.go
  docs/dev/controllers/policycache.md
  docs/user/README.md
  docs/user/config.json
  docs/user/crd/index.html
  docs/user/template/members.tpl
  docs/user/template/pkg.tpl
  docs/user/template/type.tpl
Owners: @prateekpandey14, @eddycharly, @chipzoller

feat: enable/disable Debug mode which shows entire AdmissionReview payload (#5024)
  cmd/kyverno/main.go
  pkg/utils/util.go
  pkg/webhooks/debug_test.go
  pkg/webhooks/server.go
Owners: @eddycharly, @prateekpandey14

regen api docs
  docs/user/crd/index.html
Owners: @chipzoller

docs: separate dev and user docs (cherry-pick #5114) (#5117)
  Makefile
  api/doc.go
  api/policyreport/register.go
  api/policyreport/v1alpha2/common.go
  api/policyreport/v1alpha2/doc.go
  api/policyreport/v1alpha2/register.go
  docs/dev/controllers/policycache.md
  docs/user/README.md
  docs/user/config.json
  docs/user/crd/index.html
  docs/user/template/members.tpl
  docs/user/template/pkg.tpl
  docs/user/template/type.tpl
Owners: @prateekpandey14, @eddycharly, @chipzoller

fix codegen
  charts/kyverno/templates/crds.yaml
  cmd/kyverno/main.go
  config/crds/kyverno.io_clusterpolicies.yaml
  config/crds/kyverno.io_policies.yaml
  config/install.yaml
  config/install_debug.yaml
  docs/user/crd/index.html
Owners: @treydock, @eddycharly, @chipzoller

clean conformance (#5089)
  test/conformance/manifests/generate/foo.yaml
  test/conformance/manifests/mutate/foo.yaml
  test/conformance/manifests/validate/fail/background-match-clusterroles.yaml
  test/conformance/manifests/validate/fail/background-match-roles.yaml
  test/conformance/manifests/validate/fail/background-vars-roles.yaml
  test/conformance/manifests/validate/fail/background-vars-serviceaccountname.yaml
  test/conformance/manifests/validate/fail/background-vars-userinfo.yaml
  test/conformance/manifests/verifyImages/foo.yaml
  test/conformance/tests.yaml
Owners: @vyankyGH, @chipzoller, @eddycharly

[Feature] create command line option to set failurePolicy globally (#4991)
  api/kyverno/v1/spec_types.go
  charts/kyverno/templates/crds.yaml
  cmd/kyverno/main.go
  config/crds/kyverno.io_clusterpolicies.yaml
  config/crds/kyverno.io_policies.yaml
  config/install.yaml
  config/install_debug.yaml
  docs/user/crd/index.html
  pkg/toggle/toggle.go
Owners: @prateekpandey14, @eddycharly, @treydock, @chipzoller

fix: conformance tests
  test/conformance/tests.yaml
Owners: @vyankyGH, @chipzoller, @eddycharly

fix: conformance tests (#5118)
  test/conformance/tests.yaml
Owners: @vyankyGH, @chipzoller, @eddycharly

feat: oci pull/push support for policie(s)
  .gitignore
  cmd/cli/kubectl-kyverno/main.go
  cmd/cli/kubectl-kyverno/oci/oci.go
  cmd/cli/kubectl-kyverno/oci/oci_pull.go
  cmd/cli/kubectl-kyverno/oci/oci_push.go
  go.mod
  go.sum
Owners: none

Add AGE in printer columns of CRDs
  api/kyverno/v1/clusterpolicy_types.go
  api/kyverno/v1/policy_types.go
  api/kyverno/v2beta1/clusterpolicy_types.go
  api/kyverno/v2beta1/policy_types.go
  config/crds/kyverno.io_clusterpolicies.yaml
  config/crds/kyverno.io_policies.yaml
  config/install.yaml
  config/install_debug.yaml
Owners: @prateekpandey14, @eddycharly

feat: remove policy mutation code
  .github/workflows/e2e-autogen-internals.yaml
  .github/workflows/e2e.yaml
  cmd/cli/kubectl-kyverno/apply/apply_command.go
  cmd/cli/kubectl-kyverno/test/test_command.go
  cmd/cli/kubectl-kyverno/utils/common/common.go
  cmd/cli/kubectl-kyverno/utils/common/common_test.go
  cmd/kyverno/main.go
  pkg/autogen/autogen.go
  pkg/controllers/webhook/controller.go
  pkg/policy/policy_controller.go
  pkg/policymutation/policymutation.go
  pkg/toggle/toggle.go
  pkg/webhooks/policy/handlers.go
  pkg/webhooks/policy/handlers_test.go
Owners: @eddycharly, @prateekpandey14

fix
  charts/kyverno/README.md
  charts/kyverno/values.yaml
  config/install.yaml
  config/manifest/deployment.yaml
Owners: @treydock, @eddycharly

Fix
  Makefile
Owners: none

Publish kyverno-policies-2.6.1-rc.3.tgz
  index.yaml
  kyverno-policies-2.6.1-rc.3.tgz
Owners: none

Remove old version of golang.org/x/sys
  go.mod
  go.sum
Owners: none

Remove old version of golang.org/x/sys (#5125)
  go.mod
  go.sum
Owners: none

Remove old version of golang.org/x/sys (#5125)
  go.mod
  go.sum
Owners: none

remove the empty add entry in Hehlm chart manifest
  charts/kyverno/Chart.yaml
Owners: @treydock, @eddycharly

remove the empty add entry in Hehlm chart manifest (#5127)
  charts/kyverno/Chart.yaml
Owners: @treydock, @eddycharly

Tag v1.8.1-rc.4
  charts/kyverno-policies/Chart.yaml
  charts/kyverno-policies/README.md
  charts/kyverno/Chart.yaml
  charts/kyverno/README.md
Owners: @treydock, @eddycharly

feat: add categories support to our CRDs (#5112)
  api/kyverno/v1/clusterpolicy_types.go
  api/kyverno/v1/policy_types.go
  api/kyverno/v1alpha2/admission_report_types.go
  api/kyverno/v1alpha2/background_scan_report_types.go
  api/kyverno/v1beta1/updaterequest_types.go
  api/kyverno/v2beta1/clusterpolicy_types.go
  api/kyverno/v2beta1/policy_types.go
  charts/kyverno/templates/crds.yaml
  config/crds/kyverno.io_admissionreports.yaml
  config/crds/kyverno.io_backgroundscanreports.yaml
  config/crds/kyverno.io_clusteradmissionreports.yaml
  config/crds/kyverno.io_clusterbackgroundscanreports.yaml
  config/crds/kyverno.io_clusterpolicies.yaml
  config/crds/kyverno.io_policies.yaml
  config/crds/kyverno.io_updaterequests.yaml
Owners: @prateekpandey14, @eddycharly, @treydock

refactor: support Audit and Enforce failure actions
  api/kyverno/v1/spec_types.go
  api/kyverno/v2beta1/spec_types.go
  pkg/controllers/metrics/policy/metrics.go
  pkg/engine/imageVerifyValidate.go
  pkg/engine/response/response.go
  pkg/engine/validation.go
  pkg/metrics/parsers.go
  pkg/policy/validate.go
  pkg/policy/validate_test.go
  pkg/policycache/cache.go
  pkg/policycache/store.go
  pkg/utils/engine/response.go
  pkg/webhooks/resource/handlers_test.go
  pkg/webhooks/utils/block_test.go
Owners: @prateekpandey14, @eddycharly, @vyankyGH

Tag v1.8.1-rc.4 (#5128)
  charts/kyverno-policies/Chart.yaml
  charts/kyverno-policies/README.md
  charts/kyverno/Chart.yaml
  charts/kyverno/README.md
Owners: @treydock, @eddycharly

Publish kyverno-2.6.1-rc.4.tgz
  index.yaml
  kyverno-2.6.1-rc.4.tgz
Owners: none

Publish kyverno-policies-2.6.1-rc.4.tgz
  index.yaml
  kyverno-policies-2.6.1-rc.4.tgz
Owners: none

chore: remove old docs
  docs/README.md
  docs/config.json
  docs/crd/v1/index.html
  docs/crd/v1alpha2/index.html
  docs/crd/v1beta1/index.html
  docs/crd/v2beta1/index.html
  docs/template/members.tpl
  docs/template/pkg.tpl
  docs/template/type.tpl
Owners: @chipzoller

codegen
  charts/kyverno/templates/crds.yaml
  config/install.yaml
  config/install_debug.yaml
Owners: @treydock, @eddycharly

feat: oci pull/push support for policie(s) (#5026)
  .gitignore
  cmd/cli/kubectl-kyverno/main.go
  cmd/cli/kubectl-kyverno/oci/oci.go
  cmd/cli/kubectl-kyverno/oci/oci_pull.go
  cmd/cli/kubectl-kyverno/oci/oci_push.go
  go.mod
  go.sum
Owners: none

Add AGE in printer columns of CRDs (#5119)
  api/kyverno/v1/clusterpolicy_types.go
  api/kyverno/v1/policy_types.go
  api/kyverno/v2beta1/clusterpolicy_types.go
  api/kyverno/v2beta1/policy_types.go
  charts/kyverno/templates/crds.yaml
  config/crds/kyverno.io_clusterpolicies.yaml
  config/crds/kyverno.io_policies.yaml
  config/install.yaml
  config/install_debug.yaml
Owners: @prateekpandey14, @eddycharly, @treydock

fix finalizers mutation with patchesJson6902
  pkg/engine/mutate/patch/patchesUtils.go
  pkg/engine/mutate/patch/patchesUtils_test.go
Owners: @prateekpandey14

formatting fix
  pkg/engine/mutate/patch/patchesUtils.go
Owners: @prateekpandey14

Tag v1.8.1
  charts/kyverno-policies/Chart.yaml
  charts/kyverno-policies/README.md
  charts/kyverno/Chart.yaml
  charts/kyverno/README.md
Owners: @treydock, @eddycharly
