Repository kyverno/kyverno, changes with the owners that CODEOWNERS names for each.
All owners: @marcelmue, @vyankyGH, @chipzoller, @eddycharly, @prateekpandey14, @treydock

CODEOWNERS:

# Areas of code where @marcelmue always wants to be a reviewer/notified.
/pkg/webhooks @marcelmue
/pkg/policy/mutate @marcelmue
/pkg/engine @marcelmue @vyankyGH
/pkg/kyverno @vyankyGH
/pkg/openapi @vyankyGH
/pkg/policycache @vyankyGH
/pkg/policy/validate @vyankyGH
/test @vyankyGH @chipzoller @eddycharly
/docs @chipzoller
/pkg/registryclient
/api/kyverno/v1 @eddycharly
/pkg/webhooks @prateekpandey14
/pkg/engine @prateekpandey14
/pkg/generate @prateekpandey14
/pkg/policy/generate @prateekpandey14
/api @prateekpandey14 @eddycharly
/charts @treydock @eddycharly
/pkg/autogen @eddycharly
/pkg/utils @eddycharly

fix: skip admission in dry run requests (#4994)
  pkg/webhooks/resource/validation/validation.go
Owners: @prateekpandey14

fix principal and role variables are not substituted
  pkg/webhooks/utils/policy_context_builder.go
Owners: @prateekpandey14

fix principal and role variables are not substituted (#5000)
  pkg/webhooks/utils/policy_context_builder.go
Owners: @prateekpandey14

fix principal and role variables are not substituted (#5000)
  pkg/webhooks/utils/policy_context_builder.go
Owners: @prateekpandey14

refactor: add update status helper (#4985)
  pkg/controllers/webhook/controller.go
  pkg/utils/controller/utils.go
Owners: @eddycharly

refactor: add update status helper (#4985)
  pkg/controllers/webhook/controller.go
  pkg/utils/controller/utils.go
Owners: @eddycharly

updates with case insensitivity guarantee (#4954)
  charts/kyverno-policies/Chart.yaml
  charts/kyverno-policies/templates/restricted/disallow-capabilities-strict.yaml
Owners: @treydock, @eddycharly

updates with case insensitivity guarantee (#4954)
  charts/kyverno-policies/Chart.yaml
  charts/kyverno-policies/templates/restricted/disallow-capabilities-strict.yaml
Owners: @treydock, @eddycharly

fix: use default retry with retryfunc for a conflict (#4973)
  pkg/background/common/util.go
  pkg/background/update_request_controller.go
Owners: none

fix: use default retry with retryfunc for a conflict (#4973)
  pkg/background/common/util.go
  pkg/background/update_request_controller.go
Owners: none

fix: update policy status
  pkg/controllers/webhook/controller.go
  pkg/utils/controller/run.go
Owners: @eddycharly

ignore skip responses in warnings
  pkg/engine/validate/validate.go
  pkg/webhooks/utils/warning.go
Owners: @prateekpandey14

fix: update policy status (#5006)
  pkg/controllers/webhook/controller.go
  pkg/utils/controller/run.go
Owners: @eddycharly

fix: update policy status (#5006)
  pkg/controllers/webhook/controller.go
  pkg/utils/controller/run.go
Owners: @eddycharly

fix: don't process non background policies in background scan
  pkg/controllers/report/background/controller.go
  pkg/controllers/report/utils/utils.go
Owners: none

fix test
  pkg/webhooks/utils/warning_test.go
Owners: @prateekpandey14

fix: don't process non background policies in background scan (#5008)
  pkg/controllers/report/background/controller.go
  pkg/controllers/report/utils/utils.go
Owners: none

fix: don't process non background policies in background scan (#5008)
  pkg/controllers/report/background/controller.go
  pkg/controllers/report/utils/utils.go
Owners: none

fix: webhooks not registering when using name override (#4992)
  pkg/utils/runtime/utils.go
Owners: @eddycharly

add configMap annotations
  charts/kyverno/Chart.yaml
  charts/kyverno/templates/configmap.yaml
  charts/kyverno/templates/metricsconfigmap.yaml
  charts/kyverno/values.yaml
Owners: @treydock, @eddycharly

feat: add startup probes support (#4896)
  charts/kyverno/Chart.yaml
  charts/kyverno/README.md
  charts/kyverno/templates/deployment.yaml
  charts/kyverno/values.yaml
  config/install.yaml
  config/manifest/deployment.yaml
Owners: @treydock, @eddycharly

fix: global anchor warning (#4962)
  pkg/webhooks/utils/warning.go
  pkg/webhooks/utils/warning_test.go
Owners: @prateekpandey14

fix: global anchor warning (#4962)
  pkg/webhooks/utils/warning.go
  pkg/webhooks/utils/warning_test.go
Owners: @prateekpandey14

remove RBACInfo check
  pkg/webhooks/utils/policy_context_builder.go
Owners: @prateekpandey14

fix: policy not denied when kinds set is empty
  pkg/policy/validate.go
Owners: none

update
  pkg/webhooks/utils/policy_context_builder.go
Owners: @prateekpandey14

feat: add startup probes support (#4896) (#5012)
  charts/kyverno/Chart.yaml
  charts/kyverno/README.md
  charts/kyverno/templates/deployment.yaml
  charts/kyverno/values.yaml
  config/install.yaml
  config/manifest/deployment.yaml
Owners: @treydock, @eddycharly

validate patchJSON6902
  pkg/policy/validate.go
Owners: none

test: validate patchJSON6902
  pkg/policy/validate_test.go
Owners: none

fix comment
  pkg/webhooks/utils/policy_context_builder.go
Owners: @prateekpandey14

fix: policy not denied when kinds set is empty (#5016)
  pkg/policy/validate.go
Owners: none

fix: policy not denied when kinds set is empty (#5016)
  pkg/policy/validate.go
Owners: none

remove RBACInfo check (#5015)
  pkg/webhooks/utils/policy_context_builder.go
Owners: @prateekpandey14

remove RBACInfo check (#5015)
  pkg/webhooks/utils/policy_context_builder.go
Owners: @prateekpandey14

validate patchJSON6902 (#4469)
  pkg/policy/validate.go
  pkg/policy/validate_test.go
Owners: none

Tag v1.8.1-rc1
  charts/kyverno-policies/Chart.yaml
  charts/kyverno-policies/README.md
  charts/kyverno/Chart.yaml
  charts/kyverno/README.md
Owners: @treydock, @eddycharly

fix: go routines not gracefully shut down in controllers
  pkg/controllers/certmanager/controller.go
  pkg/controllers/config/controller.go
  pkg/controllers/openapi/controller.go
  pkg/controllers/policycache/controller.go
  pkg/controllers/report/admission/controller.go
  pkg/controllers/report/aggregate/controller.go
  pkg/controllers/report/background/controller.go
  pkg/controllers/report/resource/controller.go
  pkg/controllers/webhook/controller.go
  pkg/utils/controller/run.go
  pkg/webhooks/utils/policy_context_builder.go
Owners: @eddycharly, @prateekpandey14

Tag v1.8.1-rc1 (#5020)
  charts/kyverno-policies/Chart.yaml
  charts/kyverno-policies/README.md
  charts/kyverno/Chart.yaml
  charts/kyverno/README.md
Owners: @treydock, @eddycharly

Publish kyverno-policies-2.6.1-rc1.tgz
  index.yaml
  kyverno-policies-2.6.1-rc1.tgz
Owners: none

Publish kyverno-2.6.1-rc1.tgz
  index.yaml
  kyverno-2.6.1-rc1.tgz
Owners: none
