Repository kyverno/kyverno, changes with the owners that CODEOWNERS names for each.
All owners: @marcelmue, @vyankyGH, @chipzoller, @eddycharly, @prateekpandey14, @treydock

CODEOWNERS:

# Areas of code where @marcelmue always wants to be a reviewer/notified.
/pkg/webhooks @marcelmue
/pkg/policy/mutate @marcelmue
/pkg/engine @marcelmue @vyankyGH
/pkg/kyverno @vyankyGH
/pkg/openapi @vyankyGH
/pkg/policycache @vyankyGH
/pkg/policy/validate @vyankyGH
/test @vyankyGH @chipzoller @eddycharly
/docs @chipzoller
/pkg/registryclient
/api/kyverno/v1 @eddycharly
/pkg/webhooks @prateekpandey14
/pkg/engine @prateekpandey14
/pkg/generate @prateekpandey14
/pkg/policy/generate @prateekpandey14
/api @prateekpandey14 @eddycharly
/charts @treydock @eddycharly
/pkg/autogen @eddycharly
/pkg/utils @eddycharly

added requestypes to all the places in crds.yml
  charts/kyverno/templates/crds.yaml
Owners: @treydock, @eddycharly

controller
  pkg/openapi/controller.go
Owners: @vyankyGH

rename 2
  cmd/cli/kubectl-kyverno/apply/apply_command.go
  cmd/cli/kubectl-kyverno/test/test_command.go
  cmd/kyverno/main.go
  pkg/openapi/controller.go
  pkg/openapi/manager.go
  pkg/openapi/manager_test.go
  pkg/policy/validate.go
  pkg/policy/validate_test.go
Owners: @vyankyGH

fix: clean background scan reports (#4908)
  pkg/controllers/report/background/controller.go
Owners: none

fix: clean background scan reports (#4908)
  pkg/controllers/report/background/controller.go
Owners: none

move controller
  cmd/kyverno/controller.go
  cmd/kyverno/main.go
  pkg/openapi/controller.go
  pkg/openapi/fake.go
  pkg/openapi/manager.go
  pkg/policy/validate.go
Owners: @vyankyGH

move controller
  pkg/controllers/openapi/controller.go
  pkg/controllers/openapi/manager.go
  pkg/openapi/definitions.go
Owners: @vyankyGH

fix: openapi controller discovery
  pkg/controllers/openapi/controller.go
  pkg/controllers/openapi/log.go
Owners: none

refactor: openapi controller part 2 (#4910)
  cmd/cli/kubectl-kyverno/apply/apply_command.go
  cmd/cli/kubectl-kyverno/test/test_command.go
  cmd/kyverno/controller.go
  cmd/kyverno/main.go
  pkg/controllers/openapi/controller.go
  pkg/controllers/openapi/manager.go
  pkg/openapi/definitions.go
  pkg/openapi/fake.go
  pkg/openapi/manager.go
  pkg/openapi/manager_test.go
  pkg/openapi/utils.go
  pkg/policy/validate.go
  pkg/policy/validate_test.go
  pkg/webhooks/policy/handlers.go
  pkg/webhooks/resource/fake.go
  pkg/webhooks/resource/handlers.go
  pkg/webhooks/resource/mutation/mutation.go
Owners: @vyankyGH, @prateekpandey14

remove skip events
  pkg/policy/report.go
  pkg/webhooks/utils/event.go
Owners: @prateekpandey14

PAT
  .github/workflows/scorecard.yaml
Owners: none

refactor: openapi controller part 2 (#4910)
  cmd/cli/kubectl-kyverno/apply/apply_command.go
  cmd/cli/kubectl-kyverno/test/test_command.go
  cmd/kyverno/controller.go
  cmd/kyverno/main.go
  pkg/controllers/openapi/controller.go
  pkg/controllers/openapi/manager.go
  pkg/openapi/definitions.go
  pkg/openapi/fake.go
  pkg/openapi/manager.go
  pkg/openapi/manager_test.go
  pkg/openapi/utils.go
  pkg/policy/validate.go
  pkg/policy/validate_test.go
  pkg/webhooks/policy/handlers.go
  pkg/webhooks/resource/fake.go
  pkg/webhooks/resource/handlers.go
  pkg/webhooks/resource/mutation/mutation.go
Owners: @vyankyGH, @prateekpandey14

fix: don't specify rules when aggregationRule is set (#4867)
  charts/kyverno/templates/clusterrole.yaml
  config/install.yaml
  config/install_debug.yaml
  config/k8s-resource/clusterroles.yaml
Owners: @treydock, @eddycharly

fix: openapi controller discovery (#4912)
  pkg/controllers/openapi/controller.go
  pkg/controllers/openapi/log.go
Owners: none

fix: openapi controller discovery (#4912)
  pkg/controllers/openapi/controller.go
  pkg/controllers/openapi/log.go
Owners: none

chore: update controller-tools to v0.10.0
  Makefile
  charts/kyverno/templates/crds.yaml
  config/crds/kyverno.io_admissionreports.yaml
  config/crds/kyverno.io_backgroundscanreports.yaml
  config/crds/kyverno.io_clusteradmissionreports.yaml
  config/crds/kyverno.io_clusterbackgroundscanreports.yaml
  config/crds/kyverno.io_clusterpolicies.yaml
  config/crds/kyverno.io_generaterequests.yaml
  config/crds/kyverno.io_policies.yaml
  config/crds/kyverno.io_updaterequests.yaml
  config/crds/wgpolicyk8s.io_clusterpolicyreports.yaml
  config/crds/wgpolicyk8s.io_policyreports.yaml
  config/install.yaml
  config/install_debug.yaml
Owners: @treydock, @eddycharly

fix: use constants defined in openapi controller
  cmd/kyverno/main.go
Owners: none

chore: signing helm releases (#4801)
  .github/workflows/helm-release.yaml
  .github/workflows/reuse.yaml
Owners: none

chore: signing helm releases (#4801)
  .github/workflows/helm-release.yaml
  .github/workflows/reuse.yaml
Owners: none

update conditions
  pkg/policy/report.go
  pkg/webhooks/utils/event.go
Owners: @prateekpandey14

improve conditions
  pkg/policy/report.go
  pkg/webhooks/utils/event.go
Owners: @prateekpandey14

remove redundant function
  pkg/event/events.go
Owners: none

Update scorecard.yaml
  .github/workflows/scorecard.yaml
Owners: none

fix: use constants defined in openapi controller (#4919)
  cmd/kyverno/main.go
Owners: none

fix: use constants defined in openapi controller (#4919)
  cmd/kyverno/main.go
Owners: none

chore: add COSIGN_REPOSITORY env to ko-publish-dev step
  .github/workflows/reuse.yaml
Owners: none

chore: update controller-tools to v0.10.0 (#4918)
  Makefile
  charts/kyverno/templates/crds.yaml
  config/crds/kyverno.io_admissionreports.yaml
  config/crds/kyverno.io_backgroundscanreports.yaml
  config/crds/kyverno.io_clusteradmissionreports.yaml
  config/crds/kyverno.io_clusterbackgroundscanreports.yaml
  config/crds/kyverno.io_clusterpolicies.yaml
  config/crds/kyverno.io_generaterequests.yaml
  config/crds/kyverno.io_policies.yaml
  config/crds/kyverno.io_updaterequests.yaml
  config/crds/wgpolicyk8s.io_clusterpolicyreports.yaml
  config/crds/wgpolicyk8s.io_policyreports.yaml
  config/install.yaml
  config/install_debug.yaml
Owners: @treydock, @eddycharly

chore: update controller-tools to v0.10.0 (#4918)
  Makefile
  charts/kyverno/templates/crds.yaml
  config/crds/kyverno.io_admissionreports.yaml
  config/crds/kyverno.io_backgroundscanreports.yaml
  config/crds/kyverno.io_clusteradmissionreports.yaml
  config/crds/kyverno.io_clusterbackgroundscanreports.yaml
  config/crds/kyverno.io_clusterpolicies.yaml
  config/crds/kyverno.io_generaterequests.yaml
  config/crds/kyverno.io_policies.yaml
  config/crds/kyverno.io_updaterequests.yaml
  config/crds/wgpolicyk8s.io_clusterpolicyreports.yaml
  config/crds/wgpolicyk8s.io_policyreports.yaml
  config/install.yaml
  config/install_debug.yaml
Owners: @treydock, @eddycharly

add filter for validation policies when ValidationFailureActionOverrides is used
  pkg/policycache/cache.go
  pkg/policycache/cache_test.go
Owners: @vyankyGH

add filter for validation policies when ValidationFailureActionOverrides is used (#4809)
  pkg/policycache/cache.go
  pkg/policycache/cache_test.go
Owners: @vyankyGH

chore: bump a couple of deps
  go.mod
  go.sum
Owners: none

[Cleanup] Disable PolicySkipped events (#4913)
  pkg/event/events.go
  pkg/policy/report.go
  pkg/webhooks/utils/event.go
Owners: @prateekpandey14

fix: probes should work in debug mode
  pkg/utils/runtime/utils.go
Owners: @eddycharly

fix: panic when bad variable substitution
  pkg/engine/validation.go
Owners: @prateekpandey14

chore: bump a couple of deps (#4925)
  go.mod
  go.sum
Owners: none

chore: bump a couple of deps (#4925)
  go.mod
  go.sum
Owners: none

[Cleanup] Disable PolicySkipped events (#4913)
  pkg/event/events.go
  pkg/policy/report.go
  pkg/webhooks/utils/event.go
Owners: @prateekpandey14

add filter for validation policies when ValidationFailureActionOverrides is used (#4809)
  pkg/policycache/cache.go
  pkg/policycache/cache_test.go
Owners: @vyankyGH

feat: make cert renewer private and add server name support (#4904)
  cmd/kyverno/main.go
  pkg/controllers/certmanager/controller.go
  pkg/tls/keypair.go
  pkg/tls/reader.go
  pkg/tls/renewer.go
  pkg/tls/utils.go
Owners: none

feat: make cert renewer private and add server name support (#4904)
  cmd/kyverno/main.go
  pkg/controllers/certmanager/controller.go
  pkg/tls/keypair.go
  pkg/tls/reader.go
  pkg/tls/renewer.go
  pkg/tls/utils.go
Owners: none
