Repository kyverno/kyverno, changes with the owners that CODEOWNERS names for each.
All owners: @marcelmue, @vyankyGH, @chipzoller, @eddycharly, @prateekpandey14, @treydock

CODEOWNERS:

# Areas of code where @marcelmue always wants to be a reviewer/notified.
/pkg/webhooks @marcelmue
/pkg/policy/mutate @marcelmue
/pkg/engine @marcelmue @vyankyGH
/pkg/kyverno @vyankyGH
/pkg/openapi @vyankyGH
/pkg/policycache @vyankyGH
/pkg/policy/validate @vyankyGH
/test @vyankyGH @chipzoller @eddycharly
/docs @chipzoller
/pkg/registryclient
/api/kyverno/v1 @eddycharly
/pkg/webhooks @prateekpandey14
/pkg/engine @prateekpandey14
/pkg/generate @prateekpandey14
/pkg/policy/generate @prateekpandey14
/api @prateekpandey14 @eddycharly
/charts @treydock @eddycharly
/pkg/autogen @eddycharly
/pkg/utils @eddycharly

fix: add extraCRDAnnotations option to helm chart
  charts/kyverno/templates/crds.yaml
  charts/kyverno/values.yaml
Owners: @treydock, @eddycharly

fix env (#5046)
  .github/workflows/release.yaml
Owners: none

chore: add argocd lab (#4884) (#5041)
  scripts/labs/argocd/README.md
  scripts/labs/argocd/kind-argo.sh
Owners: none

fix: wrong controller logger names (#5043)
  pkg/controllers/certmanager/log.go
  pkg/controllers/webhook/log.go
Owners: none

feat: add controller logger helper (#5029)
  pkg/controllers/certmanager/controller.go
  pkg/controllers/certmanager/log.go
  pkg/controllers/config/controller.go
  pkg/controllers/config/log.go
  pkg/controllers/metrics/policy/log.go
  pkg/controllers/openapi/log.go
  pkg/controllers/policycache/controller.go
  pkg/controllers/policycache/log.go
  pkg/controllers/report/admission/controller.go
  pkg/controllers/report/admission/log.go
  pkg/controllers/report/aggregate/controller.go
  pkg/controllers/report/aggregate/log.go
  pkg/controllers/report/background/controller.go
  pkg/controllers/report/background/log.go
  pkg/controllers/report/resource/controller.go
  pkg/controllers/report/resource/log.go
  pkg/controllers/webhook/controller.go
  pkg/logging/log.go
Owners: none

Enable adding annotations to configmaps in the helm chart (#4984) (#5039)
  charts/kyverno/Chart.yaml
  charts/kyverno/README.md
  charts/kyverno/templates/configmap.yaml
  charts/kyverno/templates/metricsconfigmap.yaml
  charts/kyverno/values.yaml
Owners: @treydock, @eddycharly

feat: add image verification support to background scan (#5047)
  pkg/controllers/report/utils/scanner.go
Owners: none

fix: account for policy/rule deletion in aggregated reports
  cmd/kyverno/main.go
  pkg/controllers/report/admission/controller.go
  pkg/controllers/report/aggregate/controller.go
Owners: none

feat: add image verification support to background scan (#5047)
  pkg/controllers/report/utils/scanner.go
Owners: none

feat: add controller logger helper (#5029)
  pkg/controllers/certmanager/controller.go
  pkg/controllers/certmanager/log.go
  pkg/controllers/config/controller.go
  pkg/controllers/config/log.go
  pkg/controllers/metrics/policy/log.go
  pkg/controllers/openapi/log.go
  pkg/controllers/policycache/controller.go
  pkg/controllers/policycache/log.go
  pkg/controllers/report/admission/controller.go
  pkg/controllers/report/admission/log.go
  pkg/controllers/report/aggregate/controller.go
  pkg/controllers/report/aggregate/log.go
  pkg/controllers/report/background/controller.go
  pkg/controllers/report/background/log.go
  pkg/controllers/report/resource/controller.go
  pkg/controllers/report/resource/log.go
  pkg/controllers/webhook/controller.go
  pkg/logging/log.go
Owners: none

feat: add policy-reporter to argocd lab (#4988)
  scripts/labs/argocd/README.md
  scripts/labs/argocd/kind-argo.sh
Owners: none

fix merge
  pkg/controllers/certmanager/controller.go
  pkg/controllers/config/controller.go
  pkg/controllers/policycache/controller.go
  pkg/controllers/report/admission/controller.go
  pkg/controllers/report/aggregate/controller.go
  pkg/controllers/report/background/controller.go
  pkg/controllers/report/resource/controller.go
Owners: none

feat: add metrics server and kube-prometheus-stack to argocd lab (#4995)
  scripts/labs/argocd/README.md
  scripts/labs/argocd/kind-argo.sh
Owners: none

fix
  pkg/webhooks/resource/handlers.go
Owners: @prateekpandey14

reduce delay
  pkg/controllers/report/admission/controller.go
Owners: none

Created configuration file for Openssf scorecard (#4778)
  .github/workflows/scorecard.yaml
  README.md
Owners: none

fix: detection of kyverno going down
  pkg/utils/runtime/utils.go
Owners: @eddycharly

fix: do not update reports when they are identical
  pkg/controllers/report/background/controller.go
Owners: none

fix linter
  pkg/controllers/report/background/controller.go
Owners: none

fix: account for policy/rule deletion in aggregated reports (#5048)
  cmd/kyverno/main.go
  pkg/controllers/report/admission/controller.go
  pkg/controllers/report/aggregate/controller.go
Owners: none

fix: account for policy/rule deletion in aggregated reports (#5048)
  cmd/kyverno/main.go
  pkg/controllers/report/admission/controller.go
  pkg/controllers/report/aggregate/controller.go
Owners: none

fix: go routines not gracefully shut down in controllers (#5022)
  pkg/controllers/certmanager/controller.go
  pkg/controllers/config/controller.go
  pkg/controllers/openapi/controller.go
  pkg/controllers/policycache/controller.go
  pkg/controllers/report/admission/controller.go
  pkg/controllers/report/aggregate/controller.go
  pkg/controllers/report/background/controller.go
  pkg/controllers/report/resource/controller.go
  pkg/controllers/webhook/controller.go
  pkg/utils/controller/run.go
  pkg/webhooks/utils/policy_context_builder.go
Owners: @eddycharly, @prateekpandey14

fix: setup max procs with correct logger
  cmd/kyverno/main.go
Owners: none

fix: go routines not gracefully shut down in controllers (#5022)
  pkg/controllers/certmanager/controller.go
  pkg/controllers/config/controller.go
  pkg/controllers/openapi/controller.go
  pkg/controllers/policycache/controller.go
  pkg/controllers/report/admission/controller.go
  pkg/controllers/report/aggregate/controller.go
  pkg/controllers/report/background/controller.go
  pkg/controllers/report/resource/controller.go
  pkg/controllers/webhook/controller.go
  pkg/utils/controller/run.go
  pkg/webhooks/utils/policy_context_builder.go
Owners: @eddycharly, @prateekpandey14

fix: do not update reports when they are identical (#5056)
  pkg/controllers/report/background/controller.go
Owners: none

fix: do not update reports when they are identical (#5056)
  pkg/controllers/report/background/controller.go
Owners: none

fix: configure idle timeout in server
  pkg/webhooks/server.go
Owners: @prateekpandey14

feat: add webhook server logger
  pkg/logging/log.go
  pkg/webhooks/server.go
Owners: @prateekpandey14

fix: detection of kyverno going down (#5055)
  pkg/utils/runtime/utils.go
Owners: @eddycharly

fix: detection of kyverno going down (#5055)
  pkg/utils/runtime/utils.go
Owners: @eddycharly

fix: setup max procs with correct logger (#5059)
  cmd/kyverno/main.go
Owners: none

fix: setup max procs with correct logger (#5059)
  cmd/kyverno/main.go
Owners: none

fix: image verification reports missing in admission mode (#5037)
  pkg/webhooks/resource/handlers.go
  pkg/webhooks/resource/imageverification/handler.go
Owners: @prateekpandey14

fix: image verification reports missing in admission mode (#5037)
  pkg/webhooks/resource/handlers.go
  pkg/webhooks/resource/imageverification/handler.go
Owners: @prateekpandey14

fix
  pkg/webhooks/resource/handlers.go
Owners: @prateekpandey14

fix: configure idle timeout in server (#5062)
  pkg/webhooks/server.go
Owners: @prateekpandey14

fix: configure idle timeout in server (#5062)
  pkg/webhooks/server.go
Owners: @prateekpandey14

feat: add webhook server logger (#5063)
  pkg/logging/log.go
  pkg/webhooks/server.go
Owners: @prateekpandey14

fix: image verification reports missing in admission mode (cherry-pick #5037) (#5066)
  pkg/webhooks/resource/handlers.go
  pkg/webhooks/resource/imageverification/handler.go
Owners: @prateekpandey14

added apiCalls support in kyverno-apply command
  cmd/cli/kubectl-kyverno/apply/apply_command.go
  cmd/cli/kubectl-kyverno/test/test_command.go
  cmd/cli/kubectl-kyverno/utils/common/common.go
  cmd/cli/kubectl-kyverno/utils/common/common_test.go
  cmd/cli/kubectl-kyverno/utils/store/store.go
  pkg/engine/jsonContext.go
Owners: @prateekpandey14
