Repository kyverno/kyverno, changes with the owners that CODEOWNERS names for each.
All owners: @marcelmue, @vyankyGH, @chipzoller, @eddycharly, @prateekpandey14, @treydock

fix: don't report ready until certs are valid
  cmd/kyverno/main.go
  pkg/tls/keypair.go
  pkg/tls/renewer.go
  pkg/tls/utils.go
  pkg/utils/runtime/utils.go
Owners: @eddycharly

fix: panic when bad variable substitution (#4928)
  pkg/engine/validation.go
Owners: @prateekpandey14

fix: panic when bad variable substitution (#4928)
  pkg/engine/validation.go
Owners: @prateekpandey14

chore: add COSIGN_REPOSITORY env to ko-publish-dev step (#4922)
  .github/workflows/reuse.yaml
Owners: none

chore: add COSIGN_REPOSITORY env to ko-publish-dev step (#4922)
  .github/workflows/reuse.yaml
Owners: none

chore: add COSIGN_REPOSITORY env to ko-publish-dev step (#4922)
  .github/workflows/reuse.yaml
  cmd/kyverno/main.go
Owners: none

fix serverIP name
  cmd/kyverno/main.go
Owners: none

fix: set operation in context when necessary
  pkg/controllers/report/utils/scanner.go
  pkg/engine/context/context.go
  pkg/policy/apply.go
Owners: @prateekpandey14

changes in kyverno.io _clusterpolicies.yaml
  config/crds/kyverno.io_clusterpolicies.yaml
Owners: none

changes in kyverno.io_policies.yaml
  config/crds/kyverno.io_policies.yaml
Owners: none

changes to install.yaml
  config/install.yaml
Owners: none

changes to install_debug.yaml
  config/install_debug.yaml
Owners: none

fix: set operation in context when necessary (#4940)
  pkg/controllers/report/utils/scanner.go
  pkg/engine/context/context.go
  pkg/policy/apply.go
Owners: @prateekpandey14

fix: set operation in context when necessary (#4940)
  pkg/controllers/report/utils/scanner.go
  pkg/engine/context/context.go
  pkg/policy/apply.go
Owners: @prateekpandey14

changes to validate.go
  pkg/policy/validate.go
Owners: none

chore: bump a few deps
  go.mod
  go.sum
Owners: none

fix: probes should work in debug mode (#4926)
  pkg/utils/runtime/utils.go
Owners: @eddycharly

fix: probes should work in debug mode (#4926)
  pkg/utils/runtime/utils.go
Owners: @eddycharly

bump JasonEtco/create-an-issue
  .github/workflows/report-on-vulnerabilities.yaml
Owners: none

bump versions in drop-downs
  .github/ISSUE_TEMPLATE/bug-cli.yaml
  .github/ISSUE_TEMPLATE/bug-other.yaml
  .github/ISSUE_TEMPLATE/bug-webhook.yaml
Owners: none

fix: consider generateName when matching resources
  pkg/engine/utils.go
  pkg/engine/utils_test.go
Owners: @prateekpandey14

fix: workaround for request.operation
  charts/kyverno-policies/templates/restricted/disallow-capabilities-strict.yaml
Owners: @treydock, @eddycharly

fix background mode scan with request.operation
  charts/kyverno-policies/Chart.yaml
  charts/kyverno-policies/templates/restricted/disallow-capabilities-strict.yaml
Owners: @treydock, @eddycharly

Revert "bump versions in drop-downs"
  .github/ISSUE_TEMPLATE/bug-cli.yaml
  .github/ISSUE_TEMPLATE/bug-other.yaml
  .github/ISSUE_TEMPLATE/bug-webhook.yaml
Owners: none

added tests
  pkg/policy/validate_test.go
Owners: none

Revert "bump JasonEtco/create-an-issue"
  .github/workflows/report-on-vulnerabilities.yaml
Owners: none

fix: consider generateName when matching resources (#4945)
  pkg/engine/utils.go
  pkg/engine/utils_test.go
Owners: @prateekpandey14

removed dead code form validate tests
  pkg/policy/validate_test.go
Owners: none

Fix background scan with request.operation (#4947)
  charts/kyverno-policies/Chart.yaml
  charts/kyverno-policies/templates/restricted/disallow-capabilities-strict.yaml
Owners: @treydock, @eddycharly

Fix background scan with request.operation (#4947)
  charts/kyverno-policies/Chart.yaml
  charts/kyverno-policies/templates/restricted/disallow-capabilities-strict.yaml
Owners: @treydock, @eddycharly

fix: admission reports printer
  api/kyverno/v1alpha2/admission_report_types.go
  charts/kyverno/templates/crds.yaml
  config/crds/kyverno.io_admissionreports.yaml
  config/crds/kyverno.io_clusteradmissionreports.yaml
  config/install.yaml
  config/install_debug.yaml
Owners: @prateekpandey14, @eddycharly, @treydock

fix: config reloading not working correctly
  pkg/config/config.go
Owners: none

nits
  pkg/config/config.go
Owners: none

update version drop-downs
  .github/ISSUE_TEMPLATE/bug-cli.yaml
  .github/ISSUE_TEMPLATE/bug-other.yaml
  .github/ISSUE_TEMPLATE/bug-webhook.yaml
Owners: none

bump action version
  .github/workflows/report-on-vulnerabilities.yaml
Owners: none

Update issue templates and scan for vulns action (#4952)
  .github/ISSUE_TEMPLATE/bug-cli.yaml
  .github/ISSUE_TEMPLATE/bug-other.yaml
  .github/ISSUE_TEMPLATE/bug-webhook.yaml
  .github/workflows/report-on-vulnerabilities.yaml
Owners: none

fix: improve banned types management in reports
  pkg/clients/dclient/discovery.go
  pkg/controllers/report/resource/controller.go
  pkg/utils/report/support.go
  pkg/webhooks/resource/validation/validation.go
Owners: @eddycharly, @prateekpandey14

updates with case insensitivity guarantee
  charts/kyverno-policies/Chart.yaml
  charts/kyverno-policies/templates/restricted/disallow-capabilities-strict.yaml
Owners: @treydock, @eddycharly

fix: don't report ready until certs are valid (#4934)
  cmd/kyverno/main.go
  pkg/tls/keypair.go
  pkg/tls/renewer.go
  pkg/tls/utils.go
  pkg/utils/runtime/utils.go
Owners: @eddycharly

fix: don't report ready until certs are valid (#4934)
  cmd/kyverno/main.go
  pkg/tls/keypair.go
  pkg/tls/renewer.go
  pkg/tls/utils.go
  pkg/utils/runtime/utils.go
Owners: @eddycharly

CODEOWNERS:

# Areas of code where @marcelmue always wants to be a reviewer/notified.
/pkg/webhooks @marcelmue
/pkg/policy/mutate @marcelmue
/pkg/engine @marcelmue @vyankyGH
/pkg/kyverno @vyankyGH
/pkg/openapi @vyankyGH
/pkg/policycache @vyankyGH
/pkg/policy/validate @vyankyGH
/test @vyankyGH @chipzoller @eddycharly
/docs @chipzoller
/pkg/registryclient
/api/kyverno/v1 @eddycharly
/pkg/webhooks @prateekpandey14
/pkg/engine @prateekpandey14
/pkg/generate @prateekpandey14
/pkg/policy/generate @prateekpandey14
/api @prateekpandey14 @eddycharly
/charts @treydock @eddycharly
/pkg/autogen @eddycharly
/pkg/utils @eddycharly
