Repository kyverno/kyverno, changes with the owners that CODEOWNERS names for each.
All owners: @eddycharly, @realshuting, @treydock, @chipzoller, @marcelmue, @MariamFahmy98, @Vishal-Chdhry

CODEOWNERS:

# Areas of code where @marcelmue always wants to be a reviewer/notified.
/api                    @eddycharly @realshuting
/api/kyverno/v1         @eddycharly
/charts                 @treydock @eddycharly
/docs                   @chipzoller
/pkg/autogen            @eddycharly
/pkg/background         @realshuting
/pkg/engine             @marcelmue @realshuting @MariamFahmy98
/pkg/policy/mutate      @marcelmue
/pkg/pss                @realshuting
/pkg/utils              @eddycharly
/pkg/userinfo           @realshuting
/pkg/validation         @realshuting
/pkg/webhooks           @marcelmue @realshuting
/test                   @chipzoller @eddycharly @realshuting @MariamFahmy98
/pkg/cosign             @Vishal-Chdhry
/pkg/notary             @Vishal-Chdhry

test: add tests for ghcr private repository (#7791)
  .github/workflows/conformance.yaml
  pkg/notary/notary_test.go
  pkg/notary/registry.go
  pkg/notary/repository.go
  test/conformance/kuttl/verifyImages/clusterpolicy/standard/keyed-secret-from-policy/README.md
  test/conformance/kuttl/verifyImages/clusterpolicy/standard/notary-image-verification-secret-from-policy/01-manifests.yaml
  test/conformance/kuttl/verifyImages/clusterpolicy/standard/notary-image-verification-secret-from-policy/02-assert-manifest.yaml
  test/conformance/kuttl/verifyImages/clusterpolicy/standard/notary-image-verification-secret-from-policy/03-bad-pod.yaml
  test/conformance/kuttl/verifyImages/clusterpolicy/standard/notary-image-verification-secret-from-policy/04-secret.yaml
  test/conformance/kuttl/verifyImages/clusterpolicy/standard/notary-image-verification-secret-from-policy/05-assert-secret.yaml
  test/conformance/kuttl/verifyImages/clusterpolicy/standard/notary-image-verification-secret-from-policy/06-pod.yaml
  test/conformance/kuttl/verifyImages/clusterpolicy/standard/notary-image-verification-secret-from-policy/07-assert.yaml
  test/conformance/kuttl/verifyImages/clusterpolicy/standard/notary-image-verification-secret-from-policy/08-cleanup.yaml
  test/conformance/kuttl/verifyImages/clusterpolicy/standard/notary-image-verification-secret-from-policy/README.md
Owners: @Vishal-Chdhry, @chipzoller, @eddycharly, @realshuting, @MariamFahmy98

chore: organize constants better (#7941)
  api/kyverno/constants.go
  api/kyverno/v1/clusterpolicy_test.go
  api/kyverno/v1/clusterpolicy_types.go
  api/kyverno/v1/policy_test.go
  api/kyverno/v1/policy_types.go
  api/kyverno/v1/utils.go
  api/kyverno/v2beta1/clusterpolicy_test.go
  api/kyverno/v2beta1/clusterpolicy_types.go
  api/kyverno/v2beta1/policy_test.go
  api/kyverno/v2beta1/policy_types.go
  pkg/autogen/autogen.go
  pkg/autogen/autogen_test.go
  pkg/validation/policy/validate.go
Owners: @eddycharly, @realshuting

chore: move more constants (#7944)
  api/kyverno/constants.go
  pkg/controllers/generic/webhook/controller.go
  pkg/controllers/webhook/controller.go
  pkg/controllers/webhook/utils.go
  pkg/utils/annotations.go
  pkg/webhooks/server.go
Owners: @eddycharly, @realshuting, @marcelmue

feat: add `create values` cli command (#7779)
  cmd/cli/kubectl-kyverno/create/command.go
  cmd/cli/kubectl-kyverno/create/templates/templates.go
  cmd/cli/kubectl-kyverno/create/templates/values.yaml
  cmd/cli/kubectl-kyverno/create/values/command.go
Owners: none

chore: move cert.kyverno.io/managed-by label in constants (#7942)
  api/kyverno/constants.go
  pkg/tls/renewer.go
  pkg/tls/utils.go
Owners: @eddycharly, @realshuting

fix: rename --compact to --detailed-results in CLI (#7937)
  CHANGELOG.md
  cmd/cli/kubectl-kyverno/apply/apply_command.go
  cmd/cli/kubectl-kyverno/test/test_command.go
  cmd/cli/kubectl-kyverno/utils/output/table/table.go
Owners: none

Removed usage of `replacements` from goreleaser.yml file (#7833)
  .goreleaser.yml
Owners: none

add 1.10.2 (#7947)
  .github/ISSUE_TEMPLATE/bug-cli.yaml
  .github/ISSUE_TEMPLATE/bug-other.yaml
  .github/ISSUE_TEMPLATE/bug-webhook.yaml
Owners: none

chore: move cache enabled label (#7949)
  api/kyverno/constants.go
  pkg/engine/context/resolvers/constants.go
  pkg/engine/context/resolvers/resolvers_test.go
  pkg/engine/context/resolvers/utils.go
  pkg/engine/context/resolvers/utils_test.go
Owners: @eddycharly, @realshuting, @marcelmue, @MariamFahmy98

chore: move kyverno.io/verify-images constant (#7955)
  api/kyverno/constants.go
  pkg/controllers/report/utils/scanner.go
  pkg/engine/api/imageverifymetadata.go
  pkg/engine/image_verify_test.go
  pkg/engine/internal/imageverifier.go
  pkg/engine/utils/image.go
Owners: @eddycharly, @realshuting, @marcelmue, @MariamFahmy98

doc: add feature flag guidelines (#7951)
  docs/dev/feature-flags/README.md
Owners: @chipzoller

chore: rename ttl controller package (#7957)
  cmd/cleanup-controller/main.go
  pkg/controllers/ttl/controller.go
  pkg/controllers/ttl/manager.go
  pkg/controllers/ttl/utils.go
  pkg/controllers/ttl/utils_test.go
Owners: none

chore: move ttl formats to constants (#7958)
  api/kyverno/constants.go
  pkg/controllers/ttl/utils.go
  pkg/validation/ttl-label/validate.go
Owners: @eddycharly, @realshuting

feat: Add support for server-side-apply in generate rules (#7705)
  api/kyverno/v1/spec_types.go
  api/kyverno/v2beta1/spec_types.go
  charts/kyverno/templates/crds/crds.yaml
  config/crds/kyverno.io_clusterpolicies.yaml
  config/crds/kyverno.io_policies.yaml
  config/install-latest-testing.yaml
  docs/user/crd/index.html
  pkg/background/generate/clone.go
  pkg/background/generate/generate.go
  pkg/client/applyconfigurations/kyverno/v1/spec.go
  pkg/client/applyconfigurations/kyverno/v2beta1/spec.go
  pkg/clients/dclient/client.go
  test/conformance/kuttl/generate/clusterpolicy/standard/clone/sync/cpol-clone-sync-modify-downstream-apply/00-sleep.yaml
  test/conformance/kuttl/generate/clusterpolicy/standard/clone/sync/cpol-clone-sync-modify-downstream-apply/01-policy.yaml
  test/conformance/kuttl/generate/clusterpolicy/standard/clone/sync/cpol-clone-sync-modify-downstream-apply/02-resource.yaml
  test/conformance/kuttl/generate/clusterpolicy/standard/clone/sync/cpol-clone-sync-modify-downstream-apply/03-modifydownstream.yaml
  test/conformance/kuttl/generate/clusterpolicy/standard/clone/sync/cpol-clone-sync-modify-downstream-apply/README.md
  test/conformance/kuttl/generate/clusterpolicy/standard/clone/sync/cpol-clone-sync-modify-downstream-apply/cloned.yaml
  test/conformance/kuttl/generate/clusterpolicy/standard/clone/sync/cpol-clone-sync-modify-downstream-apply/editeddownstream.yaml
  test/conformance/kuttl/generate/clusterpolicy/standard/clone/sync/cpol-clone-sync-modify-downstream-apply/finalsecret.yaml
  test/conformance/kuttl/generate/clusterpolicy/standard/clone/sync/cpol-clone-sync-modify-downstream-apply/ns.yaml
  test/conformance/kuttl/generate/clusterpolicy/standard/clone/sync/cpol-clone-sync-modify-downstream-apply/policy-ready.yaml
  test/conformance/kuttl/generate/clusterpolicy/standard/clone/sync/cpol-clone-sync-modify-downstream-apply/policy.yaml
Owners: @eddycharly, @realshuting, @treydock, @chipzoller, @MariamFahmy98

refactor: ttl label validation (#7960)
  cmd/cleanup-controller/handlers/admission/policy/handlers.go
  cmd/cleanup-controller/handlers/admission/resource/handlers.go
  cmd/cleanup-controller/handlers/resource-admission/handlers.go
  cmd/cleanup-controller/main.go
  pkg/utils/admission/cleanup.go
  pkg/utils/admission/metadata.go
  pkg/validation/resource/validate.go
  pkg/validation/ttl-label/validate.go
Owners: @eddycharly, @realshuting

fix: ttl cleanup controller events processing (#7964)
  pkg/controllers/ttl/controller.go
Owners: none

chore: fix cleanup controller debug in vscode (#7963)
  .vscode/launch.json
Owners: none

test: add test to cleanup the same resource twice (#7965)
  test/conformance/kuttl/ttl/delete-twice/01-pod.yaml
  test/conformance/kuttl/ttl/delete-twice/02-check.yaml
  test/conformance/kuttl/ttl/delete-twice/03-pod.yaml
  test/conformance/kuttl/ttl/delete-twice/04-check.yaml
  test/conformance/kuttl/ttl/delete-twice/README.md
  test/conformance/kuttl/ttl/delete-twice/pod-assert.yaml
  test/conformance/kuttl/ttl/delete-twice/pod.yaml
Owners: @chipzoller, @eddycharly, @realshuting, @MariamFahmy98

fix: ttl manager stop informer on error (#7966)
  pkg/controllers/ttl/manager.go
Owners: none

fix:Add Missing Severity Cases in SeverityFromString Function (#7974)
  pkg/utils/report/results.go
Owners: @eddycharly

Fixes kyverno cli container reorder (#7943)
  cmd/cli/kubectl-kyverno/utils/common/kyverno_policies_types.go
  test/cli/test/container_reorder/kyverno-test.yaml
  test/cli/test/container_reorder/policy.yml
  test/cli/test/container_reorder/resources.yaml
Owners: @chipzoller, @eddycharly, @realshuting, @MariamFahmy98

feat: add basic structure for image verify cache (#7890)
  api/kyverno/v1/image_verification_types.go
  api/kyverno/v2beta1/image_verification_types.go
  charts/kyverno/templates/crds/crds.yaml
  cmd/background-controller/main.go
  cmd/cleanup-controller/handlers/cleanup/handlers.go
  cmd/cli/kubectl-kyverno/utils/common/common.go
  cmd/cli/kubectl-kyverno/utils/common/kyverno_policies_types.go
  cmd/cli/kubectl-kyverno/utils/store/contextloader.go
  cmd/internal/config.go
  cmd/internal/engine.go
  cmd/internal/flag.go
  cmd/internal/imageverifycache.go
  cmd/internal/setup.go
  cmd/kyverno/main.go
  cmd/reports-controller/main.go
  config/crds/kyverno.io_clusterpolicies.yaml
  config/crds/kyverno.io_policies.yaml
  config/install-latest-testing.yaml
  docs/user/crd/index.html
  pkg/client/applyconfigurations/kyverno/v1/imageverification.go
  pkg/client/applyconfigurations/kyverno/v2beta1/imageverification.go
  pkg/engine/api/contextloader.go
  pkg/engine/engine.go
  pkg/engine/factories/contextloaderfactory.go
  pkg/engine/handlers/mutation/mutate_image.go
  pkg/engine/image_verify.go
  pkg/engine/image_verify_test.go
  pkg/engine/internal/imageverifier.go
  pkg/engine/mutation_test.go
  pkg/engine/validation_test.go
  pkg/imageverifycache/client.go
  pkg/imageverifycache/interface.go
  pkg/webhooks/resource/fake.go
  pkg/webhooks/resource/validation_test.go
Owners: @eddycharly, @realshuting, @treydock, @chipzoller, @marcelmue, @MariamFahmy98

fix: Kyverno cli apply duplicate result counts (#7945)
  cmd/cli/kubectl-kyverno/apply/apply_command.go
  cmd/cli/kubectl-kyverno/utils/common/common.go
  cmd/cli/kubectl-kyverno/utils/common/kyverno_policies_types.go
Owners: none

feat(chart) Allow podSecurityContext and securityContext for webhooksCleanup (#7970)
  charts/kyverno/Chart.yaml
  charts/kyverno/README.md
  charts/kyverno/templates/hooks/pre-delete.yaml
  charts/kyverno/values.yaml
Owners: @treydock, @eddycharly

fix, enhancement (#7988)
  pkg/controllers/ttl/controller.go
Owners: none

fix: Fixed issue with AddVariable that prevented certain variables (#7981)
  pkg/engine/context/context.go
Owners: @marcelmue, @realshuting, @MariamFahmy98

fix: return err in load data (#7982)
  pkg/engine/context/deferred.go
Owners: @marcelmue, @realshuting, @MariamFahmy98

fix: improve lint
  pkg/registryclient/authn.go
Owners: none

feat: support namespaceObject variable in CEL expressions
  pkg/engine/adapters/dclient.go
  pkg/engine/api/client.go
  pkg/engine/handlers/validation/validate_cel.go
  test/conformance/kuttl/validate/clusterpolicy/standard/cel/check-statefulset-namespace/01-ns.yaml
  test/conformance/kuttl/validate/clusterpolicy/standard/cel/check-statefulset-namespace/02-policy.yaml
  test/conformance/kuttl/validate/clusterpolicy/standard/cel/check-statefulset-namespace/03-statefulset.yaml
  test/conformance/kuttl/validate/clusterpolicy/standard/cel/check-statefulset-namespace/README.md
  test/conformance/kuttl/validate/clusterpolicy/standard/cel/check-statefulset-namespace/ns.yaml
  test/conformance/kuttl/validate/clusterpolicy/standard/cel/check-statefulset-namespace/policy-assert.yaml
  test/conformance/kuttl/validate/clusterpolicy/standard/cel/check-statefulset-namespace/policy.yaml
  test/conformance/kuttl/validate/clusterpolicy/standard/cel/check-statefulset-namespace/statefulset-fail.yaml
  test/conformance/kuttl/validate/clusterpolicy/standard/cel/check-statefulset-namespace/statefulset-pass.yaml
Owners: @marcelmue, @realshuting, @MariamFahmy98, @chipzoller, @eddycharly

sa tests
  test/conformance/kuttl/filter/exclude/sa/no-wildcard/01-policy.yaml
  test/conformance/kuttl/filter/exclude/sa/no-wildcard/02-resource.yaml
  test/conformance/kuttl/filter/exclude/sa/no-wildcard/README.md
  test/conformance/kuttl/filter/exclude/sa/no-wildcard/policy-assert.yaml
  test/conformance/kuttl/filter/exclude/sa/no-wildcard/policy.yaml
  test/conformance/kuttl/filter/exclude/sa/no-wildcard/resource.yaml
  test/conformance/kuttl/filter/exclude/sa/wildcard/01-policy.yaml
  test/conformance/kuttl/filter/exclude/sa/wildcard/02-resource.yaml
  test/conformance/kuttl/filter/exclude/sa/wildcard/README.md
  test/conformance/kuttl/filter/exclude/sa/wildcard/policy-assert.yaml
  test/conformance/kuttl/filter/exclude/sa/wildcard/policy.yaml
  test/conformance/kuttl/filter/exclude/sa/wildcard/resource.yaml
  test/conformance/kuttl/filter/match/sa/no-wildcard/01-policy.yaml
  test/conformance/kuttl/filter/match/sa/no-wildcard/02-resource.yaml
  test/conformance/kuttl/filter/match/sa/no-wildcard/README.md
  test/conformance/kuttl/filter/match/sa/no-wildcard/policy-assert.yaml
  test/conformance/kuttl/filter/match/sa/no-wildcard/policy.yaml
  test/conformance/kuttl/filter/match/sa/no-wildcard/resource.yaml
  test/conformance/kuttl/filter/match/sa/wildcard/01-policy.yaml
  test/conformance/kuttl/filter/match/sa/wildcard/02-resource.yaml
  test/conformance/kuttl/filter/match/sa/wildcard/README.md
  test/conformance/kuttl/filter/match/sa/wildcard/policy-assert.yaml
  test/conformance/kuttl/filter/match/sa/wildcard/policy.yaml
  test/conformance/kuttl/filter/match/sa/wildcard/resource.yaml
Owners: @chipzoller, @eddycharly, @realshuting, @MariamFahmy98

more tests
  test/conformance/kuttl/filter/exclude/user/no-wildcard/block/01-policy.yaml
  test/conformance/kuttl/filter/exclude/user/no-wildcard/block/02-resource.yaml
  test/conformance/kuttl/filter/exclude/user/no-wildcard/block/README.md
  test/conformance/kuttl/filter/exclude/user/no-wildcard/block/policy-assert.yaml
  test/conformance/kuttl/filter/exclude/user/no-wildcard/block/policy.yaml
  test/conformance/kuttl/filter/exclude/user/no-wildcard/block/resource.yaml
  test/conformance/kuttl/filter/exclude/user/no-wildcard/pass/01-policy.yaml
  test/conformance/kuttl/filter/exclude/user/no-wildcard/pass/02-resource.yaml
  test/conformance/kuttl/filter/exclude/user/no-wildcard/pass/README.md
  test/conformance/kuttl/filter/exclude/user/no-wildcard/pass/policy-assert.yaml
  test/conformance/kuttl/filter/exclude/user/no-wildcard/pass/policy.yaml
  test/conformance/kuttl/filter/exclude/user/no-wildcard/pass/resource.yaml
  test/conformance/kuttl/filter/exclude/user/wildcard/block/01-policy.yaml
  test/conformance/kuttl/filter/exclude/user/wildcard/block/02-resource.yaml
  test/conformance/kuttl/filter/exclude/user/wildcard/block/README.md
  test/conformance/kuttl/filter/exclude/user/wildcard/block/policy-assert.yaml
  test/conformance/kuttl/filter/exclude/user/wildcard/block/policy.yaml
  test/conformance/kuttl/filter/exclude/user/wildcard/block/resource.yaml
  test/conformance/kuttl/filter/exclude/user/wildcard/pass/01-policy.yaml
  test/conformance/kuttl/filter/exclude/user/wildcard/pass/02-resource.yaml
  test/conformance/kuttl/filter/exclude/user/wildcard/pass/README.md
  test/conformance/kuttl/filter/exclude/user/wildcard/pass/policy-assert.yaml
  test/conformance/kuttl/filter/exclude/user/wildcard/pass/policy.yaml
  test/conformance/kuttl/filter/exclude/user/wildcard/pass/resource.yaml
Owners: @chipzoller, @eddycharly, @realshuting, @MariamFahmy98

more tests
  test/conformance/kuttl/filter/match/user/no-wildcard/block/01-policy.yaml
  test/conformance/kuttl/filter/match/user/no-wildcard/block/02-resource.yaml
  test/conformance/kuttl/filter/match/user/no-wildcard/block/README.md
  test/conformance/kuttl/filter/match/user/no-wildcard/block/policy-assert.yaml
  test/conformance/kuttl/filter/match/user/no-wildcard/block/policy.yaml
  test/conformance/kuttl/filter/match/user/no-wildcard/block/resource.yaml
  test/conformance/kuttl/filter/match/user/no-wildcard/pass/01-policy.yaml
  test/conformance/kuttl/filter/match/user/no-wildcard/pass/02-resource.yaml
  test/conformance/kuttl/filter/match/user/no-wildcard/pass/README.md
  test/conformance/kuttl/filter/match/user/no-wildcard/pass/policy-assert.yaml
  test/conformance/kuttl/filter/match/user/no-wildcard/pass/policy.yaml
  test/conformance/kuttl/filter/match/user/no-wildcard/pass/resource.yaml
  test/conformance/kuttl/filter/match/user/wildcard/block/01-policy.yaml
  test/conformance/kuttl/filter/match/user/wildcard/block/02-resource.yaml
  test/conformance/kuttl/filter/match/user/wildcard/block/README.md
  test/conformance/kuttl/filter/match/user/wildcard/block/policy-assert.yaml
  test/conformance/kuttl/filter/match/user/wildcard/block/policy.yaml
  test/conformance/kuttl/filter/match/user/wildcard/block/resource.yaml
  test/conformance/kuttl/filter/match/user/wildcard/pass/01-policy.yaml
  test/conformance/kuttl/filter/match/user/wildcard/pass/02-resource.yaml
  test/conformance/kuttl/filter/match/user/wildcard/pass/README.md
  test/conformance/kuttl/filter/match/user/wildcard/pass/policy-assert.yaml
  test/conformance/kuttl/filter/match/user/wildcard/pass/policy.yaml
  test/conformance/kuttl/filter/match/user/wildcard/pass/resource.yaml
Owners: @chipzoller, @eddycharly, @realshuting, @MariamFahmy98

fix
  test/conformance/kuttl/filter/exclude/user/no-wildcard/block/02-resource.yaml
  test/conformance/kuttl/filter/match/sa/no-wildcard/02-resource.yaml
  test/conformance/kuttl/filter/match/sa/no-wildcard/README.md
  test/conformance/kuttl/filter/match/sa/wildcard/02-resource.yaml
  test/conformance/kuttl/filter/match/sa/wildcard/README.md
  test/conformance/kuttl/filter/match/user/no-wildcard/pass/02-resource.yaml
  test/conformance/kuttl/filter/match/user/wildcard/pass/02-resource.yaml
Owners: @chipzoller, @eddycharly, @realshuting, @MariamFahmy98

feat: use kyverno/action-install-cli for conformance workflow
  .github/workflows/conformance.yaml
Owners: none

fix
  test/conformance/kuttl/filter/exclude/user/wildcard/block/02-resource.yaml
Owners: @chipzoller, @eddycharly, @realshuting, @MariamFahmy98

fix a bug
  pkg/engine/handlers/validation/validate_cel.go
Owners: @marcelmue, @realshuting, @MariamFahmy98

feat: support namespaceObject variable in CEL expressions (#8071)
  pkg/engine/adapters/dclient.go
  pkg/engine/api/client.go
  pkg/engine/handlers/validation/validate_cel.go
  test/conformance/kuttl/validate/clusterpolicy/standard/cel/check-statefulset-namespace/01-ns.yaml
  test/conformance/kuttl/validate/clusterpolicy/standard/cel/check-statefulset-namespace/02-policy.yaml
  test/conformance/kuttl/validate/clusterpolicy/standard/cel/check-statefulset-namespace/03-statefulset.yaml
  test/conformance/kuttl/validate/clusterpolicy/standard/cel/check-statefulset-namespace/README.md
  test/conformance/kuttl/validate/clusterpolicy/standard/cel/check-statefulset-namespace/ns.yaml
  test/conformance/kuttl/validate/clusterpolicy/standard/cel/check-statefulset-namespace/policy-assert.yaml
  test/conformance/kuttl/validate/clusterpolicy/standard/cel/check-statefulset-namespace/policy.yaml
  test/conformance/kuttl/validate/clusterpolicy/standard/cel/check-statefulset-namespace/statefulset-fail.yaml
  test/conformance/kuttl/validate/clusterpolicy/standard/cel/check-statefulset-namespace/statefulset-pass.yaml
Owners: @marcelmue, @realshuting, @MariamFahmy98, @chipzoller, @eddycharly

chore: replace usage of v1alpha1 with v1beta1 for cel subrule
  api/kyverno/v1/common_types.go
  api/kyverno/v1/zz_generated.deepcopy.go
  charts/kyverno/templates/crds/crds.yaml
  config/crds/kyverno.io_clusterpolicies.yaml
  config/crds/kyverno.io_policies.yaml
  config/install-latest-testing.yaml
  docs/user/crd/index.html
  pkg/client/applyconfigurations/kyverno/v1/cel.go
Owners: @eddycharly, @treydock, @chipzoller

perf(kubectl-kyvero): add concurrency to apply
  cmd/cli/kubectl-kyverno/apply/apply_command.go
  cmd/cli/kubectl-kyverno/apply/apply_command_test.go
  cmd/cli/kubectl-kyverno/utils/common/common.go
Owners: none

fix: stop hidding flags in the cli
  cmd/cli/kubectl-kyverno/main.go
Owners: none
