Repository kyverno/kyverno, changes with the owners that CODEOWNERS names for each.
All owners: @marcelmue, @vyankyGH, @chipzoller, @eddycharly, @prateekpandey14, @treydock

make codegen
  charts/kyverno/templates/crds.yaml
  config/crds/kyverno.io_clusterpolicies.yaml
  config/crds/kyverno.io_clusterreportchangerequests.yaml
  config/crds/kyverno.io_generaterequests.yaml
  config/crds/kyverno.io_policies.yaml
  config/crds/kyverno.io_reportchangerequests.yaml
  config/crds/kyverno.io_updaterequests.yaml
  config/crds/wgpolicyk8s.io_clusterpolicyreports.yaml
  config/crds/wgpolicyk8s.io_policyreports.yaml
  config/install.yaml
  config/install_debug.yaml
Owners: @treydock, @eddycharly

fix flag init
  cmd/cli/kubectl-kyverno/main.go
  cmd/initContainer/main.go
  cmd/kyverno/main.go
Owners: none

comment out test - runs successfully locally, fails in PR
  test/e2e/mutate/mutate_test.go
Owners: @vyankyGH, @chipzoller, @eddycharly

reinstate test
  test/e2e/mutate/mutate_test.go
Owners: @vyankyGH, @chipzoller, @eddycharly

fix crds generate and controller-gen version
  Makefile
  charts/kyverno/templates/crds.yaml
  config/crds/kyverno.io_clusterpolicies.yaml
  config/crds/kyverno.io_clusterreportchangerequests.yaml
  config/crds/kyverno.io_generaterequests.yaml
  config/crds/kyverno.io_policies.yaml
  config/crds/kyverno.io_reportchangerequests.yaml
  config/crds/kyverno.io_updaterequests.yaml
  config/crds/wgpolicyk8s.io_clusterpolicyreports.yaml
  config/crds/wgpolicyk8s.io_policyreports.yaml
  config/install.yaml
  config/install_debug.yaml
Owners: @treydock, @eddycharly

update cosign and other dependencies (#4873)
  .github/workflows/cli.yaml
  .github/workflows/codecov.yaml
  .github/workflows/e2e-autogen-internals.yaml
  .github/workflows/e2e.yaml
  .github/workflows/fossa.yml
  .github/workflows/image-build.yaml
  .github/workflows/release.yaml
  .github/workflows/reuse.yaml
  .github/workflows/tests.yaml
  Makefile
  charts/kyverno/templates/crds.yaml
  cmd/cli/kubectl-kyverno/main.go
  cmd/initContainer/main.go
  cmd/kyverno/main.go
  config/crds/kyverno.io_clusterpolicies.yaml
  config/crds/kyverno.io_clusterreportchangerequests.yaml
  config/crds/kyverno.io_generaterequests.yaml
  config/crds/kyverno.io_policies.yaml
  config/crds/kyverno.io_reportchangerequests.yaml
  config/crds/kyverno.io_updaterequests.yaml
  config/crds/wgpolicyk8s.io_clusterpolicyreports.yaml
  config/crds/wgpolicyk8s.io_policyreports.yaml
  config/install.yaml
  config/install_debug.yaml
  go.mod
  go.sum
  pkg/cosign/cosign.go
  pkg/cosign/cosign_test.go
  pkg/engine/imageVerify_test.go
Owners: @treydock, @eddycharly, @prateekpandey14

Tag v1.7.5
  charts/kyverno-policies/Chart.yaml
  charts/kyverno-policies/README.md
  charts/kyverno/Chart.yaml
  charts/kyverno/README.md
  charts/kyverno/templates/crds.yaml
  config/install.yaml
  config/release/install.yaml
  config/release/kustomization.yaml
  config/release/labels.yaml
Owners: @treydock, @eddycharly

fix test output numbering (#4853)
  cmd/cli/kubectl-kyverno/test/test_command.go
Owners: none

Tag v1.7.5 (#4874)
  charts/kyverno-policies/Chart.yaml
  charts/kyverno-policies/README.md
  charts/kyverno/Chart.yaml
  charts/kyverno/README.md
  charts/kyverno/templates/crds.yaml
  config/install.yaml
  config/release/install.yaml
  config/release/kustomization.yaml
  config/release/labels.yaml
Owners: @treydock, @eddycharly

fix test output numbering (#4853)
  cmd/cli/kubectl-kyverno/test/test_command.go
Owners: none

Publish kyverno-policies-v2.5.5.tgz
  index.yaml
  kyverno-policies-v2.5.5.tgz
Owners: none

Publish kyverno-v2.5.5.tgz
  index.yaml
  kyverno-v2.5.5.tgz
Owners: none

bump golang 1.18.5 version digest in Dockerfile (#4413)
  cmd/cli/kubectl-kyverno/Dockerfile
  cmd/initContainer/Dockerfile
  cmd/kyverno/Dockerfile
Owners: none

bump golang 1.18.5 version digest in Dockerfile (#4413) (#4876)
  cmd/cli/kubectl-kyverno/Dockerfile
  cmd/initContainer/Dockerfile
  cmd/kyverno/Dockerfile
Owners: none

feat: add context support to leader election (#4811)
  cmd/initContainer/main.go
  cmd/kyverno/main.go
  pkg/leaderelection/leaderelection.go
Owners: none

fix: replace AbsPath with RequestURI to support query params (#4849)
  pkg/clients/dclient/client.go
Owners: none

chore: bump a couple of deps (#4842)
  go.mod
  go.sum
Owners: none

upgrade controller-runtime dependency (#4829)
  go.mod
  go.sum
Owners: none

fix
  go.mod
Owners: none

docs: add section in helm docs to install with argocd
  charts/kyverno/README.md
  charts/kyverno/README.md.gotmpl
Owners: @treydock, @eddycharly

fix
  pkg/pss/evaluate.go
Owners: none

fixed dryrun option to handle changes caused by mutating policy
  config/dryrun/dryrun_rbac.yaml
  pkg/config/config.go
  pkg/engine/k8smanifest.go
Owners: @prateekpandey14

docs: add section in helm docs to install with argocd (#4878)
  charts/kyverno/README.md
  charts/kyverno/README.md.gotmpl
Owners: @treydock, @eddycharly

remove delete from mutating webhook
  pkg/controllers/webhook/controller.go
Owners: none

cherry-pick (#4811 #4849 #4842 #4829) (#4877)
  cmd/initContainer/main.go
  cmd/kyverno/main.go
  go.mod
  go.sum
  pkg/clients/dclient/client.go
  pkg/leaderelection/leaderelection.go
  pkg/pss/evaluate.go
Owners: none

cleanup
  cmd/kyverno/main.go
  pkg/utils/runtime/utils.go
  pkg/webhooks/server.go
Owners: @eddycharly, @prateekpandey14

docs: add section in helm docs to install with argocd (#4878)
  charts/kyverno/README.md
  charts/kyverno/README.md.gotmpl
Owners: @treydock, @eddycharly

fix: remove error prone debug field (#4794)
  cmd/kyverno/main.go
  pkg/webhookconfig/registration.go
Owners: none

feat: add context funcs to logging package (#4812)
  cmd/initContainer/main.go
  pkg/logging/log.go
Owners: none

fix: controllers start in loop (#4815)
  cmd/kyverno/main.go
Owners: none

refactor: split main into sub funcs (#4821)
  cmd/kyverno/main.go
Owners: none

fix: add policy validation for ValidationFailureActionOverride field (#4784)
  pkg/policy/validate.go
  pkg/policy/validate_test.go
  pkg/utils/util.go
  pkg/utils/util_test.go
Owners: @eddycharly

refactor: make tls cert func not depending on cert controller (#4820)
  cmd/kyverno/main.go
  pkg/controllers/certmanager/controller.go
Owners: none

refactor: non leader controllers management (#4831)
  cmd/kyverno/controller.go
  cmd/kyverno/main.go
  pkg/controllers/config/controller.go
  pkg/controllers/config/log.go
  pkg/controllers/policycache/controller.go
  pkg/controllers/policycache/log.go
  pkg/controllers/report/admission/controller.go
  pkg/controllers/report/admission/log.go
  pkg/controllers/report/aggregate/controller.go
  pkg/controllers/report/aggregate/log.go
  pkg/controllers/report/background/controller.go
  pkg/controllers/report/background/log.go
  pkg/controllers/report/resource/controller.go
  pkg/controllers/report/resource/log.go
  pkg/utils/controller/run.go
  pkg/utils/util.go
Owners: @eddycharly

fix: call depth in logging package and global logger support for call depth (#4834)
  pkg/logging/log.go
Owners: none

fix: hardening policy validation for generate cloneList
  pkg/policy/generate/validate.go
Owners: @prateekpandey14

feat: use a dedicated policy metrics controller (#4818)
  cmd/kyverno/main.go
  pkg/controllers/metrics/policy/controller.go
  pkg/controllers/metrics/policy/log.go
  pkg/controllers/metrics/policy/metrics.go
  pkg/policy/policy_controller.go
Owners: none

refactor: add config support to webhook controller (#4838)
  cmd/kyverno/main.go
  pkg/config/config.go
  pkg/controllers/webhook/controller.go
  pkg/utils/controller/handlers.go
Owners: @eddycharly

refactor: make cert manager a real controller (#4792)
  cmd/kyverno/main.go
  pkg/controllers/certmanager/controller.go
Owners: none

docs: add debug instructions (#4843)
  DEVELOPMENT.md
Owners: none

CODEOWNERS:

# Areas of code where @marcelmue always wants to be a reviewer/notified.
/pkg/webhooks @marcelmue
/pkg/policy/mutate @marcelmue
/pkg/engine @marcelmue @vyankyGH
/pkg/kyverno @vyankyGH
/pkg/openapi @vyankyGH
/pkg/policycache @vyankyGH
/pkg/policy/validate @vyankyGH
/test @vyankyGH @chipzoller @eddycharly
/docs @chipzoller
/pkg/registryclient
/api/kyverno/v1 @eddycharly
/pkg/webhooks @prateekpandey14
/pkg/engine @prateekpandey14
/pkg/generate @prateekpandey14
/pkg/policy/generate @prateekpandey14
/api @prateekpandey14 @eddycharly
/charts @treydock @eddycharly
/pkg/autogen @eddycharly
/pkg/utils @eddycharly
