Repository kyverno/kyverno, changes with the owners that CODEOWNERS names for each.
All owners: @marcelmue, @vyankyGH, @chipzoller, @eddycharly, @prateekpandey14, @treydock

CODEOWNERS:

# Areas of code where @marcelmue always wants to be a reviewer/notified.
/pkg/webhooks @marcelmue
/pkg/policy/mutate @marcelmue
/pkg/engine @marcelmue @vyankyGH
/pkg/kyverno @vyankyGH
/pkg/openapi @vyankyGH
/pkg/policycache @vyankyGH
/pkg/policy/validate @vyankyGH
/test @vyankyGH @chipzoller @eddycharly
/docs @chipzoller
/pkg/registryclient
/api/kyverno/v1 @eddycharly
/pkg/webhooks @prateekpandey14
/pkg/engine @prateekpandey14
/pkg/generate @prateekpandey14
/pkg/policy/generate @prateekpandey14
/api @prateekpandey14 @eddycharly
/charts @treydock @eddycharly
/pkg/autogen @eddycharly
/pkg/utils @eddycharly

feat: Add container registry setting on Helm Chart (cherry-pick #4281)
  charts/kyverno/Chart.yaml
  charts/kyverno/README.md
  charts/kyverno/ci/imageRegistry-values.yaml
  charts/kyverno/templates/_helpers.tpl
  charts/kyverno/templates/deployment.yaml
  charts/kyverno/templates/tests/test.yaml
  charts/kyverno/values.yaml
Owners: @treydock, @eddycharly

feat: add policy-reporter to argocd lab
  scripts/labs/argocd/README.md
  scripts/labs/argocd/kind-argo.sh
Owners: none

readme
  scripts/labs/argocd/README.md
Owners: none

readme
  scripts/labs/argocd/README.md
Owners: none

readme
  scripts/labs/argocd/README.md
Owners: none

readme
  scripts/labs/argocd/README.md
Owners: none

docs: add resource exclusions note in helm docs
  charts/kyverno/README.md
  charts/kyverno/README.md.gotmpl
Owners: @treydock, @eddycharly

nit
  charts/kyverno/README.md
  charts/kyverno/README.md.gotmpl
Owners: @treydock, @eddycharly

feat: Add container registry setting on Helm Chart (cherry-pick #4281) (#4987)
  charts/kyverno/Chart.yaml
  charts/kyverno/README.md
  charts/kyverno/ci/imageRegistry-values.yaml
  charts/kyverno/templates/_helpers.tpl
  charts/kyverno/templates/deployment.yaml
  charts/kyverno/templates/tests/test.yaml
  charts/kyverno/values.yaml
Owners: @treydock, @eddycharly

chore: add myself in approvers
  OWNERS.md
Owners: none

add forceFailurePolicyIgnore flag
  api/kyverno/v1/spec_types.go
  cmd/kyverno/main.go
  pkg/toggle/toggle.go
Owners: @prateekpandey14, @eddycharly

chore: add myself in approvers (#4990)
  OWNERS.md
Owners: none

cleanup code
  cmd/kyverno/main.go
Owners: none

renamed variables, functions
  cmd/cli/kubectl-kyverno/apply/apply_command.go
  cmd/cli/kubectl-kyverno/utils/common/common.go
Owners: none

Added e2e test cases
  cmd/cli/kubectl-kyverno/apply/apply_command_test.go
Owners: none

fix e2e test case
  cmd/cli/kubectl-kyverno/apply/apply_command.go
  cmd/cli/kubectl-kyverno/apply/apply_command_test.go
Owners: none

removed uncovert linters
  cmd/cli/kubectl-kyverno/apply/apply_command_test.go
  cmd/cli/kubectl-kyverno/utils/common/common.go
Owners: none

typo mistake
  cmd/cli/kubectl-kyverno/apply/apply_command_test.go
Owners: none

test: to check urls are git source or not.
  cmd/cli/kubectl-kyverno/utils/common/common_test.go
Owners: none

apply cmd support gitURL
  cmd/cli/kubectl-kyverno/apply/apply_command.go
  cmd/cli/kubectl-kyverno/test/git.go
  cmd/cli/kubectl-kyverno/test/test_command.go
Owners: none

added functions to make it simple
  cmd/cli/kubectl-kyverno/apply/apply_command.go
  cmd/cli/kubectl-kyverno/utils/common/common.go
Owners: none

added more e2e test
  cmd/cli/kubectl-kyverno/apply/apply_command_test.go
  cmd/cli/kubectl-kyverno/utils/common/common.go
  cmd/cli/kubectl-kyverno/utils/common/common_test.go
Owners: none

fixed tests
  cmd/cli/kubectl-kyverno/apply/apply_command.go
Owners: none

fixes
  charts/kyverno/README.md
  charts/kyverno/README.md.gotmpl
Owners: @treydock, @eddycharly

feat: add metrics server and kube-prometheus-stack to argocd lab
  scripts/labs/argocd/kind-argo.sh
Owners: none

fix: webhooks not registering when using name override
  pkg/utils/runtime/utils.go
Owners: @eddycharly

docs: add resource exclusions note in helm docs (#4989)
  charts/kyverno/README.md
  charts/kyverno/README.md.gotmpl
Owners: @treydock, @eddycharly

docs: add resource exclusions note in helm docs (#4989)
  charts/kyverno/README.md
  charts/kyverno/README.md.gotmpl
Owners: @treydock, @eddycharly

fix: skip admission in dry run requests
  pkg/webhooks/resource/validation/validation.go
Owners: @prateekpandey14

remove misleading message
  cmd/cli/kubectl-kyverno/apply/apply_command.go
Owners: none

readme
  scripts/labs/argocd/README.md
Owners: none

feat: add policy-reporter to argocd lab (#4988)
  scripts/labs/argocd/README.md
  scripts/labs/argocd/kind-argo.sh
Owners: none

typo
  scripts/labs/argocd/kind-argo.sh
Owners: none

fix: improve banned types management in reports (#4953)
  pkg/clients/dclient/discovery.go
  pkg/controllers/report/resource/controller.go
  pkg/utils/report/support.go
  pkg/webhooks/resource/validation/validation.go
Owners: @eddycharly, @prateekpandey14

feat: add startup probes support (#4896)
  charts/kyverno/Chart.yaml
  charts/kyverno/README.md
  charts/kyverno/templates/deployment.yaml
  charts/kyverno/values.yaml
  config/install.yaml
  config/manifest/deployment.yaml
Owners: @treydock, @eddycharly

feat: add metrics server and kube-prometheus-stack to argocd lab (#4995)
  scripts/labs/argocd/README.md
  scripts/labs/argocd/kind-argo.sh
Owners: none

Add namespaceSelector to verify-mutating-webhook-cfg
  pkg/controllers/webhook/controller.go
Owners: none

replacing constant with fn
  pkg/controllers/webhook/controller.go
Owners: none

fix: webhooks not registering when using name override (#4992)
  pkg/utils/runtime/utils.go
Owners: @eddycharly

fix: skip admission in dry run requests (#4994)
  pkg/webhooks/resource/validation/validation.go
Owners: @prateekpandey14
