Repository kyverno/kyverno, changes with the owners that CODEOWNERS names for each.
All owners: @marcelmue, @vyankyGH, @chipzoller, @eddycharly, @prateekpandey14, @treydock

CODEOWNERS:

# Areas of code where @marcelmue always wants to be a reviewer/notified.
/pkg/webhooks @marcelmue
/pkg/policy/mutate @marcelmue
/pkg/engine @marcelmue @vyankyGH
/pkg/kyverno @vyankyGH
/pkg/openapi @vyankyGH
/pkg/policycache @vyankyGH
/pkg/policy/validate @vyankyGH
/test @vyankyGH @chipzoller @eddycharly
/docs @chipzoller
/pkg/registryclient
/api/kyverno/v1 @eddycharly
/pkg/webhooks @prateekpandey14
/pkg/engine @prateekpandey14
/pkg/generate @prateekpandey14
/pkg/policy/generate @prateekpandey14
/api @prateekpandey14 @eddycharly
/charts @treydock @eddycharly
/pkg/autogen @eddycharly
/pkg/utils @eddycharly

release 1.8.1-rc.2
  charts/kyverno-policies/Chart.yaml
  charts/kyverno-policies/README.md
  charts/kyverno/Chart.yaml
  charts/kyverno/README.md
Owners: @treydock, @eddycharly

release 1.8.1-rc.2 (#5072)
  charts/kyverno-policies/Chart.yaml
  charts/kyverno-policies/README.md
  charts/kyverno/Chart.yaml
  charts/kyverno/README.md
Owners: @treydock, @eddycharly

Publish kyverno-2.6.1-rc.2.tgz
  index.yaml
  kyverno-2.6.1-rc.2.tgz
Owners: none

Publish kyverno-policies-2.6.1-rc.2.tgz
  index.yaml
  kyverno-policies-2.6.1-rc.2.tgz
Owners: none

feat: add simple conformance tests
  test/conformance/main.go
  test/conformance/manifests/should-fail/cluster-role-background.yaml
Owners: @vyankyGH, @chipzoller, @eddycharly

gh action
  .github/workflows/tests.yaml
Owners: none

separate workflow
  .github/workflows/conformance.yaml
  .github/workflows/tests.yaml
Owners: none

fix the bug
  pkg/policy/background.go
  pkg/policy/validate.go
Owners: none

added apiCalls support in kyverno-apply command (#4938)
  cmd/cli/kubectl-kyverno/apply/apply_command.go
  cmd/cli/kubectl-kyverno/test/test_command.go
  cmd/cli/kubectl-kyverno/utils/common/common.go
  cmd/cli/kubectl-kyverno/utils/common/common_test.go
  cmd/cli/kubectl-kyverno/utils/store/store.go
  pkg/engine/jsonContext.go
Owners: @prateekpandey14

fix cli test
  test/cli/test/admission_user_info/disallow_latest_tag.yaml
Owners: @vyankyGH, @chipzoller, @eddycharly

pass debug mode option through constructor and replace logger with klogr
  Makefile
  cmd/kyverno/main.go
  pkg/logging/log.go
  pkg/utils/util.go
  pkg/webhooks/server.go
Owners: @eddycharly, @prateekpandey14

improvements
  .github/workflows/conformance.yaml
  Makefile
  test/conformance/main.go
  test/conformance/manifests/should-fail/background-userinfo-1.yaml
  test/conformance/manifests/should-fail/background-userinfo-2.yaml
  test/conformance/tests.yaml
Owners: @vyankyGH, @chipzoller, @eddycharly

improvements
  test/conformance/main.go
Owners: @vyankyGH, @chipzoller, @eddycharly

fixes
  test/conformance/main.go
  test/conformance/manifests/should-fail/background-userinfo-3.yaml
  test/conformance/manifests/should-fail/background-userinfo-4.yaml
  test/conformance/tests.yaml
Owners: @vyankyGH, @chipzoller, @eddycharly

fix
  test/conformance/main.go
Owners: @vyankyGH, @chipzoller, @eddycharly

fix: variables regex
  Makefile
  pkg/engine/variables/vars.go
Owners: @prateekpandey14

fix again
  pkg/policy/background.go
  test/conformance/main.go
  test/conformance/manifests/should-fail/background-userinfo-1.yaml
  test/conformance/tests.yaml
Owners: @vyankyGH, @chipzoller, @eddycharly

typo
  test/conformance/main.go
Owners: @vyankyGH, @chipzoller, @eddycharly

fix
  pkg/policy/background.go
Owners: none

fix
  pkg/policy/validate.go
Owners: none

fix
  pkg/engine/variables/vars.go
Owners: @prateekpandey14

fix
  pkg/engine/variables/vars.go
Owners: @prateekpandey14

fix unit test
  pkg/policy/background_test.go
Owners: none

fix: make reponse order predictable
  pkg/engine/validate/utils.go
  pkg/engine/validate/validate.go
Owners: @prateekpandey14

fix: make reponse order predictable (#5079)
  pkg/engine/validate/utils.go
  pkg/engine/validate/validate.go
Owners: @prateekpandey14

feat: add simple conformance tests (#5073)
  .github/workflows/conformance.yaml
  Makefile
  pkg/policy/background.go
  pkg/policy/background_test.go
  pkg/policy/validate.go
  test/cli/test/admission_user_info/disallow_latest_tag.yaml
  test/conformance/main.go
  test/conformance/manifests/should-fail/background-userinfo-1.yaml
  test/conformance/manifests/should-fail/background-userinfo-2.yaml
  test/conformance/manifests/should-fail/background-userinfo-3.yaml
  test/conformance/manifests/should-fail/background-userinfo-4.yaml
  test/conformance/tests.yaml
Owners: @vyankyGH, @chipzoller, @eddycharly

fix: use correct side effects in validating webhooks
  cmd/kyverno/main.go
  pkg/controllers/report/background/controller.go
  pkg/controllers/webhook/controller.go
Owners: none

fix
  pkg/engine/variables/vars.go
  pkg/policy/background.go
  test/conformance/tests.yaml
Owners: @prateekpandey14, @vyankyGH, @chipzoller, @eddycharly

test: add best practices policies in conformance tests
  test/conformance/main.go
  test/conformance/tests.yaml
Owners: @vyankyGH, @chipzoller, @eddycharly

fix: use correct logger in webhook controller
  pkg/controllers/webhook/log.go
Owners: none

fix tests
  pkg/policy/background_test.go
  pkg/policy/on_update_policy_test.go
Owners: none

feat: add webhook server logger (#5063)
  pkg/logging/log.go
  pkg/webhooks/server.go
Owners: @prateekpandey14

feat: add simple conformance tests (#5073)
  .github/workflows/conformance.yaml
  Makefile
  pkg/policy/background.go
  pkg/policy/background_test.go
  pkg/policy/validate.go
  test/cli/test/admission_user_info/disallow_latest_tag.yaml
  test/conformance/main.go
  test/conformance/manifests/should-fail/background-userinfo-1.yaml
  test/conformance/manifests/should-fail/background-userinfo-2.yaml
  test/conformance/manifests/should-fail/background-userinfo-3.yaml
  test/conformance/manifests/should-fail/background-userinfo-4.yaml
  test/conformance/tests.yaml
Owners: @vyankyGH, @chipzoller, @eddycharly

fix: make reponse order predictable (#5079)
  pkg/engine/validate/utils.go
  pkg/engine/validate/validate.go
Owners: @prateekpandey14

fix: handle delete UR when policy is deleted
  pkg/background/update_request_controller.go
Owners: none

fix cleanup
  pkg/background/update_request_controller.go
Owners: none

feat: add flag to configure the number of background scan workers
  CHANGELOG.md
  cmd/kyverno/main.go
Owners: none

use selector to list the update request
  pkg/background/update_request_controller.go
Owners: none

clean conformance
  test/conformance/manifests/generate/foo.yaml
  test/conformance/manifests/mutate/foo.yaml
  test/conformance/manifests/validate/fail/background-match-clusterroles.yaml
  test/conformance/manifests/validate/fail/background-vars-roles.yaml
  test/conformance/manifests/validate/fail/background-vars-serviceaccountname.yaml
  test/conformance/manifests/validate/fail/background-vars-userinfo.yaml
  test/conformance/manifests/verifyImages/foo.yaml
  test/conformance/tests.yaml
Owners: @vyankyGH, @chipzoller, @eddycharly

fix: use correct logger in webhook controller (#5083)
  pkg/controllers/webhook/log.go
Owners: none
