Repository kyverno/kyverno, changes with the owners that CODEOWNERS names for each.
All owners: @marcelmue, @vyankyGH, @chipzoller, @eddycharly, @prateekpandey14, @treydock

CODEOWNERS:

# Areas of code where @marcelmue always wants to be a reviewer/notified.
/pkg/webhooks @marcelmue
/pkg/policy/mutate @marcelmue
/pkg/engine @marcelmue @vyankyGH
/pkg/kyverno @vyankyGH
/pkg/openapi @vyankyGH
/pkg/policycache @vyankyGH
/pkg/policy/validate @vyankyGH
/test @vyankyGH @chipzoller @eddycharly
/docs @chipzoller
/pkg/registryclient
/api/kyverno/v1 @eddycharly
/pkg/webhooks @prateekpandey14
/pkg/engine @prateekpandey14
/pkg/generate @prateekpandey14
/pkg/policy/generate @prateekpandey14
/api @prateekpandey14 @eddycharly
/charts @treydock @eddycharly
/pkg/autogen @eddycharly
/pkg/utils @eddycharly

Tag v1.8.1 (#5133)
  charts/kyverno-policies/Chart.yaml
  charts/kyverno-policies/README.md
  charts/kyverno/Chart.yaml
  charts/kyverno/README.md
Owners: @treydock, @eddycharly

Corrected Kubernetes spelling
  charts/kyverno/README.md
Owners: @treydock, @eddycharly

Publish kyverno-policies-2.6.1.tgz
  index.yaml
  kyverno-policies-2.6.1.tgz
Owners: none

Publish kyverno-2.6.1.tgz
  index.yaml
  kyverno-2.6.1.tgz
Owners: none

fix finalizers mutation with patchesJson6902 (#5132)
  pkg/engine/mutate/patch/patchesUtils.go
  pkg/engine/mutate/patch/patchesUtils_test.go
Owners: @prateekpandey14

fix finalizers mutation with patchesJson6902 (#5132)
  pkg/engine/mutate/patch/patchesUtils.go
  pkg/engine/mutate/patch/patchesUtils_test.go
Owners: @prateekpandey14

feat: add categories support to our CRDs (#5112)
  api/kyverno/v1/clusterpolicy_types.go
  api/kyverno/v1/policy_types.go
  api/kyverno/v1alpha2/admission_report_types.go
  api/kyverno/v1alpha2/background_scan_report_types.go
  api/kyverno/v1beta1/updaterequest_types.go
  api/kyverno/v2beta1/clusterpolicy_types.go
  api/kyverno/v2beta1/policy_types.go
  charts/kyverno/templates/crds.yaml
  config/crds/kyverno.io_admissionreports.yaml
  config/crds/kyverno.io_backgroundscanreports.yaml
  config/crds/kyverno.io_clusteradmissionreports.yaml
  config/crds/kyverno.io_clusterbackgroundscanreports.yaml
  config/crds/kyverno.io_clusterpolicies.yaml
  config/crds/kyverno.io_policies.yaml
  config/crds/kyverno.io_updaterequests.yaml
Owners: @prateekpandey14, @eddycharly, @treydock

chore: remove old docs (#5130)
  docs/README.md
  docs/config.json
  docs/crd/v1/index.html
  docs/crd/v1alpha2/index.html
  docs/crd/v1beta1/index.html
  docs/crd/v2beta1/index.html
  docs/template/members.tpl
  docs/template/pkg.tpl
  docs/template/type.tpl
Owners: @chipzoller

changelog
  CHANGELOG.md
Owners: none

improve constants
  cmd/kyverno/main.go
Owners: none

Fixed issue-4655: verifyImages is executed before mutate (#4996)
  pkg/webhooks/resource/handlers.go
  pkg/webhooks/resource/handlers_test.go
Owners: @prateekpandey14

fix: mutation policy consistent patching for ephemeralContainers
  pkg/engine/mutate/patch/strategicPreprocessing.go
Owners: @prateekpandey14

Adding unit test cases for multiple containers patch
  pkg/engine/mutate/patch/strategicPreprocessing_test.go
Owners: @prateekpandey14

feat: remove policy mutation for auto-gen rules (#5123)
  .github/workflows/e2e-autogen-internals.yaml
  .github/workflows/e2e.yaml
  CHANGELOG.md
  Makefile
  charts/kyverno/README.md
  charts/kyverno/values.yaml
  cmd/cli/kubectl-kyverno/apply/apply_command.go
  cmd/cli/kubectl-kyverno/test/test_command.go
  cmd/cli/kubectl-kyverno/utils/common/common.go
  cmd/cli/kubectl-kyverno/utils/common/common_test.go
  cmd/kyverno/main.go
  config/install.yaml
  config/manifest/deployment.yaml
  pkg/autogen/autogen.go
  pkg/controllers/webhook/controller.go
  pkg/policy/policy_controller.go
  pkg/policymutation/policymutation.go
  pkg/toggle/toggle.go
  pkg/webhooks/policy/handlers.go
  pkg/webhooks/policy/handlers_test.go
Owners: @treydock, @eddycharly, @prateekpandey14

configure klog and global logger to use zapr in json mode
  pkg/logging/log.go
Owners: none

Fixed issue-4655: verifyImages is executed before mutate (#4996) (#5143)
  pkg/webhooks/resource/handlers.go
  pkg/webhooks/resource/handlers_test.go
Owners: @prateekpandey14

fix: mutation policy inconsistent patching for ephemeralContainers (#5121)
  pkg/engine/mutate/patch/strategicPreprocessing.go
  pkg/engine/mutate/patch/strategicPreprocessing_test.go
Owners: @prateekpandey14

fix: mutation policy inconsistent patching for ephemeralContainers (#5121)
  pkg/engine/mutate/patch/strategicPreprocessing.go
  pkg/engine/mutate/patch/strategicPreprocessing_test.go
Owners: @prateekpandey14

fix generateName mutation
  pkg/engine/mutate/patch/patchesUtils.go
  pkg/engine/mutate/patch/patchesUtils_test.go
Owners: @prateekpandey14

update github actions
  .github/workflows/release.yaml
  .github/workflows/report-on-vulnerabilities.yaml
  .github/workflows/reuse.yaml
Owners: none

codegen
  charts/kyverno/templates/crds.yaml
  config/crds/kyverno.io_clusterpolicies.yaml
  config/crds/kyverno.io_policies.yaml
  config/install.yaml
  config/install_debug.yaml
Owners: @treydock, @eddycharly

fix
  pkg/policy/validate.go
Owners: none

typo
  api/kyverno/v1/spec_types.go
Owners: @prateekpandey14, @eddycharly

changes
  pkg/logging/log.go
Owners: none

reset resource version on update
  pkg/background/mutate/mutate.go
Owners: none

skip generating events on empty rule response
  pkg/webhooks/utils/event.go
Owners: @prateekpandey14

reset resource version on update (#5157)
  pkg/background/mutate/mutate.go
Owners: none

reset resource version on update (#5157)
  pkg/background/mutate/mutate.go
Owners: none

skip generating events on empty rule response (#5158)
  pkg/webhooks/utils/event.go
Owners: @prateekpandey14

skip generating events on empty rule response (#5158)
  pkg/webhooks/utils/event.go
Owners: @prateekpandey14

Fixed issue-5102: Show rule count and type in output
  api/kyverno/v1/clusterpolicy_types.go
  api/kyverno/v1/policy_status.go
  api/kyverno/v1/policy_types.go
  api/kyverno/v1/zz_generated.deepcopy.go
  api/kyverno/v2beta1/clusterpolicy_types.go
  api/kyverno/v2beta1/policy_types.go
  charts/kyverno/templates/crds.yaml
  config/crds/kyverno.io_clusterpolicies.yaml
  config/crds/kyverno.io_policies.yaml
  config/install.yaml
  config/install_debug.yaml
  docs/user/crd/index.html
  pkg/client/clientset/versioned/fake/register.go
  pkg/client/clientset/versioned/scheme/register.go
  pkg/controllers/webhook/controller.go
  pkg/controllers/webhook/utils.go
  pkg/controllers/webhook/utils_test.go
Owners: @prateekpandey14, @eddycharly, @treydock, @chipzoller

Fixed issue-5102: Show rule count and type in output (#5106)
  api/kyverno/v1/clusterpolicy_types.go
  api/kyverno/v1/policy_status.go
  api/kyverno/v1/policy_types.go
  api/kyverno/v1/zz_generated.deepcopy.go
  api/kyverno/v2beta1/clusterpolicy_types.go
  api/kyverno/v2beta1/policy_types.go
  charts/kyverno/templates/crds.yaml
  config/crds/kyverno.io_clusterpolicies.yaml
  config/crds/kyverno.io_policies.yaml
  config/install.yaml
  config/install_debug.yaml
  docs/user/crd/index.html
  pkg/client/clientset/versioned/fake/register.go
  pkg/client/clientset/versioned/scheme/register.go
  pkg/controllers/webhook/controller.go
  pkg/controllers/webhook/utils.go
  pkg/controllers/webhook/utils_test.go
Owners: @prateekpandey14, @eddycharly, @treydock, @chipzoller

update changelog
  CHANGELOG.md
Owners: none

feature: SLSA Level 3 provenance generation for Kyverno images: kyverno init, kyverno and kyvernopre (#4268)
  .github/workflows/image.yaml
  .github/workflows/reuse.yaml
Owners: none
