Repository kyverno/kyverno, changes with the owners that CODEOWNERS names for each.
All owners: @marcelmue, @vyankyGH, @chipzoller, @eddycharly, @prateekpandey14, @treydock

CODEOWNERS:

# Areas of code where @marcelmue always wants to be a reviewer/notified.
/pkg/webhooks @marcelmue
/pkg/policy/mutate @marcelmue
/pkg/engine @marcelmue @vyankyGH
/pkg/kyverno @vyankyGH
/pkg/openapi @vyankyGH
/pkg/policycache @vyankyGH
/pkg/policy/validate @vyankyGH
/test @vyankyGH @chipzoller @eddycharly
/docs @chipzoller
/pkg/registryclient
/api/kyverno/v1 @eddycharly
/pkg/webhooks @prateekpandey14
/pkg/engine @prateekpandey14
/pkg/generate @prateekpandey14
/pkg/policy/generate @prateekpandey14
/api @prateekpandey14 @eddycharly
/charts @treydock @eddycharly
/pkg/autogen @eddycharly
/pkg/utils @eddycharly

Added support to specify key signature algorithm in verifyImages
  api/kyverno/v1/image_verification_types.go
  charts/kyverno/templates/crds.yaml
  config/crds/kyverno.io_clusterpolicies.yaml
  config/crds/kyverno.io_policies.yaml
  config/install.yaml
  config/install_debug.yaml
  docs/crd/v1/index.html
  pkg/cosign/cosign.go
  pkg/engine/imageVerify.go
  pkg/policy/validate.go
  pkg/policy/validate_test.go
  test/e2e/verifyimages/resources.go
Owners: @prateekpandey14, @eddycharly, @treydock, @chipzoller, @vyankyGH

Added support to specify key signature algorithm in verifyImages (#4855)
  api/kyverno/v1/image_verification_types.go
  charts/kyverno/templates/crds.yaml
  config/crds/kyverno.io_clusterpolicies.yaml
  config/crds/kyverno.io_policies.yaml
  config/install.yaml
  config/install_debug.yaml
  docs/crd/v1/index.html
  pkg/cosign/cosign.go
  pkg/engine/imageVerify.go
  pkg/policy/validate.go
  pkg/policy/validate_test.go
  test/e2e/verifyimages/resources.go
Owners: @prateekpandey14, @eddycharly, @treydock, @chipzoller, @vyankyGH

chore: bump a few deps (#4943)
  go.mod
  go.sum
Owners: none

chore: bump a few deps (#4943)
  go.mod
  go.sum
Owners: none

fix: consider generateName when matching resources (#4945)
  pkg/engine/utils.go
  pkg/engine/utils_test.go
Owners: @prateekpandey14

fix: admission reports printer (#4950)
  api/kyverno/v1alpha2/admission_report_types.go
  charts/kyverno/templates/crds.yaml
  config/crds/kyverno.io_admissionreports.yaml
  config/crds/kyverno.io_clusteradmissionreports.yaml
  config/install.yaml
  config/install_debug.yaml
Owners: @prateekpandey14, @eddycharly, @treydock

fix: admission reports printer (#4950)
  api/kyverno/v1alpha2/admission_report_types.go
  charts/kyverno/templates/crds.yaml
  config/crds/kyverno.io_admissionreports.yaml
  config/crds/kyverno.io_clusteradmissionreports.yaml
  config/install.yaml
  config/install_debug.yaml
Owners: @prateekpandey14, @eddycharly, @treydock

fix: consider generateName when matching resources (#4945) (#4960)
  pkg/engine/utils.go
  pkg/engine/utils_test.go
Owners: @prateekpandey14

fix: global anchor warning
  pkg/engine/validate/validate.go
Owners: @prateekpandey14

Fixed issue-4530: Added separate attestor type for secrets and KMS
  api/kyverno/v1/image_verification_test.go
  api/kyverno/v1/image_verification_types.go
  api/kyverno/v1/zz_generated.deepcopy.go
  api/kyverno/v2beta1/image_verification_test.go
  charts/kyverno/templates/crds.yaml
  config/crds/kyverno.io_clusterpolicies.yaml
  config/crds/kyverno.io_policies.yaml
  config/install.yaml
  config/install_debug.yaml
  docs/crd/v1/index.html
  pkg/engine/imageVerify.go
  pkg/engine/imageVerify_test.go
  test/e2e/verifyimages/config.go
  test/e2e/verifyimages/resources.go
  test/e2e/verifyimages/verifyimages_test.go
Owners: @prateekpandey14, @eddycharly, @treydock, @chipzoller, @vyankyGH

Fixed issue-4530: Added separate attestor type for secrets and KMS (#4733)
  api/kyverno/v1/image_verification_test.go
  api/kyverno/v1/image_verification_types.go
  api/kyverno/v1/zz_generated.deepcopy.go
  api/kyverno/v2beta1/image_verification_test.go
  charts/kyverno/templates/crds.yaml
  config/crds/kyverno.io_clusterpolicies.yaml
  config/crds/kyverno.io_policies.yaml
  config/install.yaml
  config/install_debug.yaml
  docs/crd/v1/index.html
  pkg/engine/imageVerify.go
  pkg/engine/imageVerify_test.go
  test/e2e/verifyimages/config.go
  test/e2e/verifyimages/resources.go
  test/e2e/verifyimages/verifyimages_test.go
Owners: @prateekpandey14, @eddycharly, @treydock, @chipzoller, @vyankyGH

fix: don't produce empty admission reports
  pkg/webhooks/resource/validation/validation.go
Owners: @prateekpandey14

fix: missing watchers in resource report controller
  pkg/controllers/report/background/controller.go
  pkg/controllers/report/resource/controller.go
  pkg/controllers/report/utils/utils.go
  pkg/utils/report/labels.go
  pkg/utils/report/new.go
Owners: @eddycharly

fix syntax
  charts/kyverno-policies/templates/restricted/disallow-capabilities-strict.yaml
Owners: @treydock, @eddycharly

chore: Push and sign install manifests to GHCR
  .github/workflows/release.yaml
Owners: none

fix: add user info in admission request logs
  pkg/webhooks/handlers/admission.go
Owners: @prateekpandey14

chore: Push and sign install manifests to GHCR (#4895)
  .github/workflows/release.yaml
Owners: none

chore: Push and sign install manifests to GHCR (#4895)
  .github/workflows/release.yaml
Owners: none

fix: missing watchers in resource report controller (#4967)
  pkg/controllers/report/background/controller.go
  pkg/controllers/report/resource/controller.go
  pkg/controllers/report/utils/utils.go
  pkg/utils/report/labels.go
  pkg/utils/report/new.go
Owners: @eddycharly

fix: missing autogen rules in status
  pkg/controllers/webhook/controller.go
Owners: none

fix: improve banned types management in reports (#4953)
  pkg/clients/dclient/discovery.go
  pkg/controllers/report/resource/controller.go
  pkg/utils/report/support.go
  pkg/webhooks/resource/validation/validation.go
Owners: @eddycharly, @prateekpandey14

fix: don't produce empty admission reports (#4966)
  pkg/webhooks/resource/validation/validation.go
Owners: @prateekpandey14

fix: don't produce empty admission reports (#4966)
  pkg/webhooks/resource/validation/validation.go
Owners: @prateekpandey14

Update pkg/controllers/webhook/controller.go
  pkg/controllers/webhook/controller.go
Owners: none

fix: use default retry with retryfunc for a conflict
  pkg/background/common/util.go
  pkg/background/update_request_controller.go
Owners: none

fix: missing watchers in resource report controller (#4967)
  pkg/controllers/report/background/controller.go
  pkg/controllers/report/resource/controller.go
  pkg/controllers/report/utils/utils.go
  pkg/utils/report/labels.go
  pkg/utils/report/new.go
Owners: @eddycharly

feat: add replicaset and replicationcontroller to autogen
  pkg/autogen/autogen.go
  pkg/autogen/rule.go
  pkg/controllers/webhook/controller.go
Owners: @eddycharly

fix: add user info in admission request logs (#4969)
  pkg/webhooks/handlers/admission.go
Owners: @prateekpandey14

fix: add user info in admission request logs (#4969)
  pkg/webhooks/handlers/admission.go
Owners: @prateekpandey14

fix: missing autogen rules in status (#4971)
  pkg/controllers/webhook/controller.go
Owners: none

fix: missing autogen rules in status (#4971)
  pkg/controllers/webhook/controller.go
Owners: none

fix: config reloading not working correctly (#4951)
  pkg/config/config.go
Owners: none

fix: config reloading not working correctly (#4951)
  pkg/config/config.go
Owners: none

feat: Add container registry setting on Helm Chart
  charts/kyverno/Chart.yaml
  charts/kyverno/README.md
  charts/kyverno/ci/imageRegistry-values.yaml
  charts/kyverno/templates/_helpers.tpl
  charts/kyverno/templates/deployment.yaml
  charts/kyverno/templates/tests/test.yaml
  charts/kyverno/values.yaml
Owners: @treydock, @eddycharly

refactor: add update status helper
  pkg/controllers/webhook/controller.go
  pkg/utils/controller/utils.go
Owners: @eddycharly

removed validateExcludeRequestTypes
  pkg/policy/validate.go
Owners: none

added RequestTypes to MatchResources in v2beta1
  api/kyverno/v2beta1/match_resources_types.go
Owners: @prateekpandey14, @eddycharly

feat: Add container registry setting on Helm Chart (#4281)
  charts/kyverno/Chart.yaml
  charts/kyverno/README.md
  charts/kyverno/ci/imageRegistry-values.yaml
  charts/kyverno/templates/_helpers.tpl
  charts/kyverno/templates/deployment.yaml
  charts/kyverno/templates/tests/test.yaml
  charts/kyverno/values.yaml
Owners: @treydock, @eddycharly

added requestTypes to v2beta1 in crds.yaml
  charts/kyverno/templates/crds.yaml
Owners: @treydock, @eddycharly

feat: separate webhook rules per GVK/rule
  pkg/controllers/webhook/controller.go
  pkg/controllers/webhook/utils.go
Owners: none
