Repository kyverno/kyverno, changes with the owners that CODEOWNERS names for each.
All owners: @marcelmue, @vyankyGH, @chipzoller, @eddycharly, @prateekpandey14, @treydock

CODEOWNERS:

# Areas of code where @marcelmue always wants to be a reviewer/notified.
/pkg/webhooks @marcelmue
/pkg/policy/mutate @marcelmue
/pkg/engine @marcelmue @vyankyGH
/pkg/kyverno @vyankyGH
/pkg/openapi @vyankyGH
/pkg/policycache @vyankyGH
/pkg/policy/validate @vyankyGH
/test @vyankyGH @chipzoller @eddycharly
/docs @chipzoller
/pkg/registryclient
/api/kyverno/v1 @eddycharly
/pkg/webhooks @prateekpandey14
/pkg/engine @prateekpandey14
/pkg/generate @prateekpandey14
/pkg/policy/generate @prateekpandey14
/api @prateekpandey14 @eddycharly
/charts @treydock @eddycharly
/pkg/autogen @eddycharly
/pkg/utils @eddycharly

adjust names
  test/conformance/manifests/validate/fail/background-match-clusterroles.yaml
  test/conformance/manifests/validate/fail/background-match-roles.yaml
  test/conformance/manifests/validate/fail/background-vars-roles.yaml
  test/conformance/manifests/validate/fail/background-vars-serviceaccountname.yaml
  test/conformance/tests.yaml
Owners: @vyankyGH, @chipzoller, @eddycharly

fix: allow delete of target resource with synchronize false
  pkg/background/common/util.go
  pkg/background/generate/generate.go
  test/e2e/generate/config.go
Owners: @vyankyGH, @chipzoller, @eddycharly

fix: Attempt to fix the CI failure, extract CI job push-sign-install-manifest (#5035)
  .github/workflows/release.yaml
Owners: none

fix env (#5046)
  .github/workflows/release.yaml
Owners: none

test: add best practices policies in conformance tests (#5082)
  test/conformance/main.go
  test/conformance/tests.yaml
Owners: @vyankyGH, @chipzoller, @eddycharly

Cherry pick 5035, 5046 (#5090)
  .github/workflows/release.yaml
Owners: none

make changes
  cmd/kyverno/main.go
  pkg/utils/util.go
  pkg/webhooks/debug_test.go
  pkg/webhooks/server.go
Owners: @eddycharly, @prateekpandey14

fix: handle resource cleanup when policy is deleted (#5021)
  pkg/background/update_request_controller.go
Owners: none

fix: handle resource cleanup when policy is deleted (#5021)
  pkg/background/update_request_controller.go
Owners: none

ci: Use the Docker login action for GHCR auth (#5091)
  .github/workflows/release.yaml
Owners: none

ci: Use the Docker login action for GHCR auth (#5091)
  .github/workflows/release.yaml
Owners: none

fix: allow delete of target resource with synchronize false (#5081)
  pkg/background/common/util.go
  pkg/background/generate/generate.go
  test/e2e/generate/config.go
Owners: @vyankyGH, @chipzoller, @eddycharly

fix: allow delete of target resource with synchronize false (#5081)
  pkg/background/common/util.go
  pkg/background/generate/generate.go
  test/e2e/generate/config.go
Owners: @vyankyGH, @chipzoller, @eddycharly

feat: add flag to configure the number of background scan workers (#5088)
  CHANGELOG.md
  cmd/kyverno/main.go
Owners: none

feat: add flag to configure the number of background scan workers (#5088)
  CHANGELOG.md
  cmd/kyverno/main.go
Owners: none

test: add best practices policies in conformance tests (#5082)
  test/conformance/main.go
  test/conformance/tests.yaml
Owners: @vyankyGH, @chipzoller, @eddycharly

fix: use correct logger in webhook controller (#5083)
  pkg/controllers/webhook/log.go
Owners: none

feat: add performance testing
  Makefile
  scripts/kind.yaml
  scripts/kube-prometheus-stack.yaml
Owners: none

refactor: simplify variables regex (#5075)
  Makefile
  pkg/engine/variables/vars.go
  pkg/policy/background.go
  pkg/policy/background_test.go
  pkg/policy/on_update_policy_test.go
  test/conformance/tests.yaml
Owners: @prateekpandey14, @vyankyGH, @chipzoller, @eddycharly

refactor: simplify variables regex (#5075)
  Makefile
  pkg/engine/variables/vars.go
  pkg/policy/background.go
  pkg/policy/background_test.go
  pkg/policy/on_update_policy_test.go
  test/conformance/tests.yaml
Owners: @prateekpandey14, @vyankyGH, @chipzoller, @eddycharly

fix: use correct side effects in validating webhooks (#5080)
  cmd/kyverno/main.go
  pkg/controllers/report/background/controller.go
  pkg/controllers/webhook/controller.go
Owners: none

fix: use correct side effects in validating webhooks (#5080)
  cmd/kyverno/main.go
  pkg/controllers/report/background/controller.go
  pkg/controllers/webhook/controller.go
Owners: none

fix: improve shutdown gracefulness
  cmd/kyverno/main.go
  pkg/controllers/metrics/policy/controller.go
  pkg/event/controller.go
  pkg/utils/controller/run.go
Owners: @eddycharly

Tag v1.8.1-rc.3
  charts/kyverno-policies/Chart.yaml
  charts/kyverno-policies/README.md
  charts/kyverno/Chart.yaml
  charts/kyverno/README.md
Owners: @treydock, @eddycharly

cleanup
  cmd/kyverno/main.go
  pkg/webhooks/server.go
Owners: @prateekpandey14

fix linter
  pkg/webhooks/server.go
Owners: @prateekpandey14

Tag v1.8.1-rc.3 (#5108)
  charts/kyverno-policies/Chart.yaml
  charts/kyverno-policies/README.md
  charts/kyverno/Chart.yaml
  charts/kyverno/README.md
Owners: @treydock, @eddycharly

Publish kyverno-2.6.1-rc.3.tgz
  index.yaml
  kyverno-2.6.1-rc.3.tgz
Owners: none

Publish kyverno-policies-2.6.1-rc.3.tgz
  index.yaml
  kyverno-policies-2.6.1-rc.3.tgz
Owners: none

Publish kyverno-2.6.1-rc.3.tgz
  index.yaml
  kyverno-2.6.1-rc.3.tgz
Owners: none

Publish kyverno-policies-2.6.1-rc.3.tgz
  index.yaml
  kyverno-policies-2.6.1-rc.3.tgz
Owners: none

Publish kyverno-2.6.1-rc.3.tgz
  index.yaml
  kyverno-2.6.1-rc.3.tgz
Owners: none

Publish kyverno-policies-2.6.1-rc.3.tgz
  index.yaml
  kyverno-policies-2.6.1-rc.3.tgz
Owners: none

ci: Fix install manifests publishing with Flux - use the correct version to tag artifacts - add only the generated install.yaml to the artifact contents
  .github/workflows/release.yaml
Owners: none

ci: Fix install manifests publishing with Flux (#5110)
  .github/workflows/release.yaml
Owners: none

ci: Fix install manifests publishing with Flux (#5110)
  .github/workflows/release.yaml
Owners: none

feat: add categories support to our CRDs
  api/kyverno/v1/clusterpolicy_types.go
  api/kyverno/v1/policy_types.go
  api/kyverno/v1alpha2/admission_report_types.go
  api/kyverno/v1alpha2/background_scan_report_types.go
  api/kyverno/v1beta1/updaterequest_types.go
  api/kyverno/v2beta1/clusterpolicy_types.go
  api/kyverno/v2beta1/policy_types.go
  charts/kyverno/templates/crds.yaml
  config/crds/kyverno.io_admissionreports.yaml
  config/crds/kyverno.io_backgroundscanreports.yaml
  config/crds/kyverno.io_clusteradmissionreports.yaml
  config/crds/kyverno.io_clusterbackgroundscanreports.yaml
  config/crds/kyverno.io_clusterpolicies.yaml
  config/crds/kyverno.io_policies.yaml
  config/crds/kyverno.io_updaterequests.yaml
Owners: @prateekpandey14, @eddycharly, @treydock

fix
  pkg/controllers/metrics/policy/controller.go
Owners: none

add another test case
  pkg/utils/util.go
  pkg/webhooks/debug_test.go
Owners: @eddycharly, @prateekpandey14

docs: separate dev and user docs
  docs/dev/controllers/policycache.md
  docs/user/README.md
  docs/user/config.json
  docs/user/crd/v1/index.html
  docs/user/crd/v1alpha2/index.html
  docs/user/crd/v1beta1/index.html
  docs/user/crd/v2beta1/index.html
  docs/user/template/members.tpl
  docs/user/template/pkg.tpl
  docs/user/template/type.tpl
Owners: @chipzoller
