Repository kyverno/kyverno, changes with the owners that CODEOWNERS names for each.
All owners: @marcelmue, @vyankyGH, @chipzoller, @eddycharly, @prateekpandey14, @treydock

CODEOWNERS:

# Areas of code where @marcelmue always wants to be a reviewer/notified.
/pkg/webhooks @marcelmue
/pkg/policy/mutate @marcelmue
/pkg/engine @marcelmue @vyankyGH
/pkg/kyverno @vyankyGH
/pkg/openapi @vyankyGH
/pkg/policycache @vyankyGH
/pkg/policy/validate @vyankyGH
/test @vyankyGH @chipzoller @eddycharly
/docs @chipzoller
/pkg/registryclient
/api/kyverno/v1 @eddycharly
/pkg/webhooks @prateekpandey14
/pkg/engine @prateekpandey14
/pkg/generate @prateekpandey14
/pkg/policy/generate @prateekpandey14
/api @prateekpandey14 @eddycharly
/charts @treydock @eddycharly
/pkg/autogen @eddycharly
/pkg/utils @eddycharly

openapi controller
  pkg/controllers/openapi/controller.go
Owners: none

work in progress PR
  Makefile
  cmd/kyverno/main.go
  pkg/logging/log.go
  pkg/webhooks/server.go
Owners: @prateekpandey14

fix: add more infos in reports printers
  api/kyverno/v1alpha2/admission_report_types.go
  api/kyverno/v1alpha2/background_scan_report_types.go
  charts/kyverno/templates/crds.yaml
  config/crds/kyverno.io_admissionreports.yaml
  config/crds/kyverno.io_backgroundscanreports.yaml
  config/crds/kyverno.io_clusteradmissionreports.yaml
  config/crds/kyverno.io_clusterbackgroundscanreports.yaml
  config/install.yaml
  config/install_debug.yaml
Owners: @prateekpandey14, @eddycharly, @treydock

enable adding annotations to configmaps in the helm chart
  charts/kyverno/README.md
  charts/kyverno/templates/configmap.yaml
  charts/kyverno/templates/metricsconfigmap.yaml
  charts/kyverno/values.yaml
Owners: @treydock, @eddycharly

change name of annotation keys; codegen the readme docs
  charts/kyverno/README.md
  charts/kyverno/templates/configmap.yaml
  charts/kyverno/templates/metricsconfigmap.yaml
  charts/kyverno/values.yaml
Owners: @treydock, @eddycharly

add entry to artifacthub.io release notes in Chart.yaml
  charts/kyverno/Chart.yaml
Owners: @treydock, @eddycharly

fix: config reloading not working correctly (#4951)
  pkg/config/config.go
Owners: none

fix: missing autogen rules in status (#4971)
  pkg/controllers/webhook/controller.go
Owners: none

fix: add user info in admission request logs (#4969)
  pkg/webhooks/handlers/admission.go
Owners: @prateekpandey14

feat: Add container registry setting on Helm Chart (#4281)
  charts/kyverno/Chart.yaml
  charts/kyverno/README.md
  charts/kyverno/ci/imageRegistry-values.yaml
  charts/kyverno/templates/_helpers.tpl
  charts/kyverno/templates/deployment.yaml
  charts/kyverno/templates/tests/test.yaml
  charts/kyverno/values.yaml
Owners: @treydock, @eddycharly

feat: add controller logger helper
  pkg/controllers/certmanager/controller.go
  pkg/controllers/certmanager/log.go
  pkg/controllers/config/controller.go
  pkg/controllers/config/log.go
  pkg/controllers/metrics/policy/log.go
  pkg/controllers/openapi/log.go
  pkg/controllers/policycache/controller.go
  pkg/controllers/policycache/log.go
  pkg/controllers/report/admission/controller.go
  pkg/controllers/report/admission/log.go
  pkg/controllers/report/aggregate/controller.go
  pkg/controllers/report/aggregate/log.go
  pkg/controllers/report/background/controller.go
  pkg/controllers/report/background/log.go
  pkg/controllers/report/resource/controller.go
  pkg/controllers/report/resource/log.go
  pkg/controllers/webhook/controller.go
  pkg/logging/log.go
Owners: none

add custom request struct
  pkg/webhooks/server.go
Owners: @prateekpandey14

add logging
  cmd/kyverno/main.go
Owners: none

resolve merge conflicts
  api/kyverno/v1/spec_types.go
Owners: @prateekpandey14, @eddycharly

Enable adding annotations to configmaps in the helm chart (#4984)
  charts/kyverno/Chart.yaml
  charts/kyverno/README.md
  charts/kyverno/templates/configmap.yaml
  charts/kyverno/templates/metricsconfigmap.yaml
  charts/kyverno/values.yaml
Owners: @treydock, @eddycharly

fix: lease log message
  pkg/controllers/webhook/controller.go
Owners: none

feat: make shutdown more graceful
  cmd/kyverno/controller.go
  cmd/kyverno/main.go
  pkg/controllers/openapi/controller.go
Owners: none

fix: add more infos in reports printers (#5027)
  api/kyverno/v1alpha2/admission_report_types.go
  api/kyverno/v1alpha2/background_scan_report_types.go
  charts/kyverno/templates/crds.yaml
  config/crds/kyverno.io_admissionreports.yaml
  config/crds/kyverno.io_backgroundscanreports.yaml
  config/crds/kyverno.io_clusteradmissionreports.yaml
  config/crds/kyverno.io_clusterbackgroundscanreports.yaml
  config/install.yaml
  config/install_debug.yaml
Owners: @prateekpandey14, @eddycharly, @treydock

fix: add more infos in reports printers (#5027)
  api/kyverno/v1alpha2/admission_report_types.go
  api/kyverno/v1alpha2/background_scan_report_types.go
  charts/kyverno/templates/crds.yaml
  config/crds/kyverno.io_admissionreports.yaml
  config/crds/kyverno.io_backgroundscanreports.yaml
  config/crds/kyverno.io_clusteradmissionreports.yaml
  config/crds/kyverno.io_clusterbackgroundscanreports.yaml
  config/install.yaml
  config/install_debug.yaml
Owners: @prateekpandey14, @eddycharly, @treydock

Fixed issue-4655: verifyImages is executed before mutate
  pkg/webhooks/resource/handlers.go
  pkg/webhooks/resource/handlers_test.go
Owners: @prateekpandey14

fix: lower default qps/burst
  cmd/kyverno/main.go
Owners: none

Fixed issue-4655: verifyImages is executed before mutate (#4996)
  pkg/webhooks/resource/handlers.go
  pkg/webhooks/resource/handlers_test.go
Owners: @prateekpandey14

extract CI job push-sign-install-manifest
  .github/workflows/release.yaml
Owners: none

fix indent
  .github/workflows/release.yaml
Owners: none

update env
  .github/workflows/release.yaml
Owners: none

fix: Attempt to fix the CI failure, extract CI job push-sign-install-manifest (#5035)
  .github/workflows/release.yaml
Owners: none

fix: lower default qps/burst (#5034)
  cmd/kyverno/main.go
Owners: none

fix: image verification reports missing in admission mode
  pkg/webhooks/resource/handlers.go
  pkg/webhooks/resource/imageverification/handler.go
Owners: @prateekpandey14

fix
  pkg/webhooks/resource/handlers.go
Owners: @prateekpandey14

fix: lower default qps/burst (#5034)
  cmd/kyverno/main.go
Owners: none

Enable adding annotations to configmaps in the helm chart (#4984)
  charts/kyverno/Chart.yaml
  charts/kyverno/README.md
  charts/kyverno/templates/configmap.yaml
  charts/kyverno/templates/metricsconfigmap.yaml
  charts/kyverno/values.yaml
Owners: @treydock, @eddycharly

feat: make shutdown more graceful (#5031)
  cmd/kyverno/controller.go
  cmd/kyverno/main.go
  pkg/controllers/openapi/controller.go
Owners: none

feat: make shutdown more graceful (#5031)
  cmd/kyverno/controller.go
  cmd/kyverno/main.go
  pkg/controllers/openapi/controller.go
Owners: none

chore: add argocd lab (#4884)
  scripts/labs/argocd/README.md
  scripts/labs/argocd/kind-argo.sh
Owners: none

fix: wrong controller logger names
  pkg/controllers/certmanager/log.go
  pkg/controllers/webhook/log.go
Owners: none

fix: lease log message (#5030)
  pkg/controllers/webhook/controller.go
Owners: none

fix: lease log message (#5030)
  pkg/controllers/webhook/controller.go
Owners: none

fix env
  .github/workflows/release.yaml
Owners: none

feat: add image verification support to background scan
  pkg/controllers/report/utils/scanner.go
Owners: none

fix: add extraCRDAnnotations via codegen
  Makefile
Owners: none
