Repository kyverno/kyverno, changes with the owners that CODEOWNERS names for each.
All owners: @marcelmue, @vyankyGH, @chipzoller, @eddycharly, @prateekpandey14, @treydock

CODEOWNERS:

# Areas of code where @marcelmue always wants to be a reviewer/notified.
/pkg/webhooks @marcelmue
/pkg/policy/mutate @marcelmue
/pkg/engine @marcelmue @vyankyGH
/pkg/kyverno @vyankyGH
/pkg/openapi @vyankyGH
/pkg/policycache @vyankyGH
/pkg/policy/validate @vyankyGH
/test @vyankyGH @chipzoller @eddycharly
/docs @chipzoller
/pkg/registryclient
/api/kyverno/v1 @eddycharly
/pkg/webhooks @prateekpandey14
/pkg/engine @prateekpandey14
/pkg/generate @prateekpandey14
/pkg/policy/generate @prateekpandey14
/api @prateekpandey14 @eddycharly
/charts @treydock @eddycharly
/pkg/autogen @eddycharly
/pkg/utils @eddycharly

policy validation for ValidationFailureActionOverride field
  pkg/policy/validate.go
  pkg/policy/validate_test.go
  pkg/utils/util.go
  pkg/utils/util_test.go
Owners: @eddycharly

fix: add policy validation for ValidationFailureActionOverride field (#4784)
  pkg/policy/validate.go
  pkg/policy/validate_test.go
  pkg/utils/util.go
  pkg/utils/util_test.go
Owners: @eddycharly

review
  pkg/webhookconfig/registration.go
Owners: none

Fix PSa the control name validation
  api/kyverno/v1/rule_test.go
  api/kyverno/v1/rule_types.go
Owners: @prateekpandey14, @eddycharly

fmt
  cmd/kyverno/main.go
Owners: none

Cherry-pick #4814
  go.mod
  go.sum
  pkg/clients/dclient/discovery.go
  pkg/clients/dclient/fake.go
  pkg/openapi/crdSync.go
  pkg/openapi/validation.go
  pkg/pss/evaluate.go
Owners: @vyankyGH

fix: debug mode (#4785)
  Makefile
  cmd/kyverno/main.go
  pkg/webhookconfig/registration.go
Owners: none

clean
  pkg/controllers/certmanager/controller.go
Owners: none

update helm doc
  config/crds/kyverno.io_admissionreports.yaml
  config/crds/kyverno.io_backgroundscanreports.yaml
  config/crds/kyverno.io_clusteradmissionreports.yaml
  config/crds/kyverno.io_clusterbackgroundscanreports.yaml
  config/crds/kyverno.io_clusterpolicies.yaml
  config/crds/kyverno.io_policies.yaml
  config/crds/wgpolicyk8s.io_clusterpolicyreports.yaml
  config/crds/wgpolicyk8s.io_policyreports.yaml
Owners: none

reafactor: open api controller creation
  cmd/kyverno/main.go
Owners: none

fix: use new client in tls package (#4746)
  cmd/kyverno/main.go
  pkg/tls/renewer.go
Owners: none

Cherry pick #4814 (#4826)
  api/kyverno/v1/rule_test.go
  api/kyverno/v1/rule_types.go
  config/crds/kyverno.io_admissionreports.yaml
  config/crds/kyverno.io_backgroundscanreports.yaml
  config/crds/kyverno.io_clusteradmissionreports.yaml
  config/crds/kyverno.io_clusterbackgroundscanreports.yaml
  config/crds/kyverno.io_clusterpolicies.yaml
  config/crds/kyverno.io_policies.yaml
  config/crds/wgpolicyk8s.io_clusterpolicyreports.yaml
  config/crds/wgpolicyk8s.io_policyreports.yaml
  go.mod
  go.sum
  pkg/clients/dclient/discovery.go
  pkg/clients/dclient/fake.go
  pkg/openapi/crdSync.go
  pkg/openapi/validation.go
  pkg/pss/evaluate.go
Owners: @prateekpandey14, @eddycharly, @vyankyGH

refactor: make tls cert func not depending on cert controller (#4820)
  cmd/kyverno/main.go
  pkg/controllers/certmanager/controller.go
Owners: none

upgrade controller-runtime dependency
  go.mod
  go.sum
Owners: none

refactor: non leader controllers management
  cmd/kyverno/controller.go
  cmd/kyverno/main.go
  pkg/controllers/config/controller.go
  pkg/controllers/config/log.go
  pkg/controllers/policycache/controller.go
  pkg/controllers/policycache/log.go
  pkg/controllers/report/admission/controller.go
  pkg/controllers/report/admission/log.go
  pkg/controllers/report/aggregate/controller.go
  pkg/controllers/report/aggregate/log.go
  pkg/controllers/report/background/controller.go
  pkg/controllers/report/background/log.go
  pkg/controllers/report/resource/controller.go
  pkg/controllers/report/resource/log.go
Owners: none

fix
  cmd/kyverno/main.go
Owners: none

fix
  cmd/kyverno/main.go
Owners: none

cache sync
  pkg/utils/controller/run.go
  pkg/utils/util.go
Owners: @eddycharly

refactor: non leader controllers management (#4831)
  cmd/kyverno/controller.go
  cmd/kyverno/main.go
  pkg/controllers/config/controller.go
  pkg/controllers/config/log.go
  pkg/controllers/policycache/controller.go
  pkg/controllers/policycache/log.go
  pkg/controllers/report/admission/controller.go
  pkg/controllers/report/admission/log.go
  pkg/controllers/report/aggregate/controller.go
  pkg/controllers/report/aggregate/log.go
  pkg/controllers/report/background/controller.go
  pkg/controllers/report/background/log.go
  pkg/controllers/report/resource/controller.go
  pkg/controllers/report/resource/log.go
  pkg/utils/controller/run.go
  pkg/utils/util.go
Owners: @eddycharly

upgrade controller-runtime dependency (#4829)
  go.mod
  go.sum
Owners: none

refactor: leader controllers management
  cmd/kyverno/main.go
  pkg/controllers/certmanager/controller.go
  pkg/controllers/certmanager/log.go
  pkg/controllers/webhook/controller.go
  pkg/controllers/webhook/log.go
Owners: none

rename
  cmd/kyverno/main.go
Owners: none

fix start
  cmd/kyverno/main.go
Owners: none

fix deps
  go.mod
  go.sum
Owners: none

remove dead code
  cmd/kyverno/informer.go
Owners: none

reset global logger in logging package
  pkg/logging/log.go
Owners: none

add description to globallogger
  pkg/logging/log.go
Owners: none

push only relevant changes
  pkg/logging/log.go
Owners: none

fix extension checks
  pkg/cosign/cosign.go
  pkg/engine/imageVerify.go
Owners: @prateekpandey14

feature: SLSA Level 3 provenance generation for Kyverno images: kyverno init, kyverno and kyvernopre
  .github/workflows/image.yaml
  .github/workflows/reuse.yaml
Owners: none

fix test
  pkg/cosign/cosign_test.go
Owners: none

fix: call depth in logging package and global logger support for call depth (#4834)
  pkg/logging/log.go
Owners: none

fix extension checks (#4836)
  pkg/cosign/cosign.go
  pkg/cosign/cosign_test.go
  pkg/engine/imageVerify.go
Owners: @prateekpandey14

fix extension checks (#4836)
  pkg/cosign/cosign.go
  pkg/cosign/cosign_test.go
  pkg/engine/imageVerify.go
Owners: @prateekpandey14

refactor: add config support to webhook controller
  cmd/kyverno/main.go
  pkg/config/config.go
  pkg/controllers/webhook/controller.go
  pkg/utils/controller/handlers.go
Owners: @eddycharly

tag v1.8.0-rc6
  charts/kyverno-policies/Chart.yaml
  charts/kyverno-policies/README.md
  charts/kyverno/Chart.yaml
  charts/kyverno/README.md
Owners: @treydock, @eddycharly

tag v1.8.0-rc6 (#4839)
  charts/kyverno-policies/Chart.yaml
  charts/kyverno-policies/README.md
  charts/kyverno/Chart.yaml
  charts/kyverno/README.md
Owners: @treydock, @eddycharly

Update PSa images dsecription
  api/kyverno/v1/common_types.go
  charts/kyverno/templates/crds.yaml
  config/crds/kyverno.io_clusterpolicies.yaml
  config/crds/kyverno.io_policies.yaml
  config/install.yaml
  config/install_debug.yaml
Owners: @prateekpandey14, @eddycharly, @treydock

refactor: add client config to webhook controller
  pkg/config/config.go
  pkg/controllers/webhook/controller.go
Owners: none

fix
  pkg/config/config.go
Owners: none
