Repository kyverno/kyverno, changes with the owners that CODEOWNERS names for each.
All owners: @marcelmue, @vyankyGH, @chipzoller, @eddycharly, @prateekpandey14, @treydock

docs: add section in helm docs to install with argocd (#4878)
  charts/kyverno/README.md
  charts/kyverno/README.md.gotmpl
Owners: @treydock, @eddycharly

fix
  cmd/kyverno/main.go
  pkg/controllers/webhook/controller.go
Owners: none

fix
  cmd/kyverno/informer.go
Owners: none

fix: hardening policy validation for generate cloneList (#4881)
  pkg/policy/generate/validate.go
Owners: @prateekpandey14

fix: hardening policy validation for generate cloneList (#4881)
  pkg/policy/generate/validate.go
Owners: @prateekpandey14

chore: add argocd lab
  scripts/labs/argocd/README.md
  scripts/labs/argocd/kind-argo.sh
Owners: none

cherry-pick (#4794 #4812 #4815 #4821 #4784 #4820 #4831 #4834 #4818 #4838 #4792 #4843 #4878) (#4882)
  DEVELOPMENT.md
  charts/kyverno/README.md
  charts/kyverno/README.md.gotmpl
  cmd/initContainer/main.go
  cmd/kyverno/controller.go
  cmd/kyverno/informer.go
  cmd/kyverno/main.go
  pkg/config/config.go
  pkg/controllers/certmanager/controller.go
  pkg/controllers/config/controller.go
  pkg/controllers/config/log.go
  pkg/controllers/metrics/policy/controller.go
  pkg/controllers/metrics/policy/log.go
  pkg/controllers/metrics/policy/metrics.go
  pkg/controllers/policycache/controller.go
  pkg/controllers/policycache/log.go
  pkg/controllers/report/admission/controller.go
  pkg/controllers/report/admission/log.go
  pkg/controllers/report/aggregate/controller.go
  pkg/controllers/report/aggregate/log.go
  pkg/controllers/report/background/controller.go
  pkg/controllers/report/background/log.go
  pkg/controllers/report/resource/controller.go
  pkg/controllers/report/resource/log.go
  pkg/controllers/webhook/controller.go
  pkg/logging/log.go
  pkg/policy/policy_controller.go
  pkg/policy/validate.go
  pkg/policy/validate_test.go
  pkg/utils/controller/handlers.go
  pkg/utils/controller/run.go
  pkg/utils/util.go
  pkg/utils/util_test.go
  pkg/webhookconfig/registration.go
Owners: @treydock, @eddycharly

Fix result colour
  cmd/cli/kubectl-kyverno/test/test_command.go
Owners: none

fix: background scan labels (#4865)
  pkg/utils/report/labels.go
Owners: @eddycharly

fix: background scan labels (#4865)
  pkg/utils/report/labels.go
Owners: @eddycharly

Fix result colour (#4885)
  cmd/cli/kubectl-kyverno/test/test_command.go
Owners: none

Fix result colour (#4885)
  cmd/cli/kubectl-kyverno/test/test_command.go
Owners: none

fix: non watchable resources in report controller
  pkg/controllers/report/resource/controller.go
Owners: none

fix events
  pkg/controllers/report/resource/controller.go
Owners: none

fix: non watchable resources in report controller (#4888)
  pkg/controllers/report/resource/controller.go
Owners: none

fix: non watchable resources in report controller (#4888)
  pkg/controllers/report/resource/controller.go
Owners: none

fix: auto gen enabled when using names (#4863)
  pkg/autogen/autogen.go
  pkg/autogen/autogen_test.go
Owners: @eddycharly

fix: auto gen enabled when using names (#4863)
  pkg/autogen/autogen.go
  pkg/autogen/autogen_test.go
Owners: @eddycharly

refactor: manage webhooks with webhook controller (#4846)
  api/kyverno/v1/clusterpolicy_types.go
  api/kyverno/v1/policy_interface.go
  api/kyverno/v1/policy_types.go
  cmd/kyverno/main.go
  pkg/config/config.go
  pkg/controllers/webhook/controller.go
  pkg/controllers/webhook/log.go
  pkg/controllers/webhook/utils.go
  pkg/controllers/webhook/utils_test.go
  pkg/utils/runtime/utils.go
  pkg/webhookconfig/common.go
  pkg/webhookconfig/configmanager.go
  pkg/webhookconfig/configmanager_test.go
  pkg/webhookconfig/monitor.go
  pkg/webhookconfig/registration.go
  pkg/webhookconfig/status.go
  pkg/webhooks/handlers/admission.go
  pkg/webhooks/handlers/monitor.go
  pkg/webhooks/handlers/probe.go
  pkg/webhooks/server.go
Owners: @prateekpandey14, @eddycharly

refactor: manage webhooks with webhook controller (#4846)
  api/kyverno/v1/clusterpolicy_types.go
  api/kyverno/v1/policy_interface.go
  api/kyverno/v1/policy_types.go
  cmd/kyverno/main.go
  pkg/config/config.go
  pkg/controllers/webhook/controller.go
  pkg/controllers/webhook/log.go
  pkg/controllers/webhook/utils.go
  pkg/controllers/webhook/utils_test.go
  pkg/utils/runtime/utils.go
  pkg/webhookconfig/common.go
  pkg/webhookconfig/configmanager.go
  pkg/webhookconfig/configmanager_test.go
  pkg/webhookconfig/monitor.go
  pkg/webhookconfig/registration.go
  pkg/webhookconfig/status.go
  pkg/webhooks/handlers/admission.go
  pkg/webhooks/handlers/monitor.go
  pkg/webhooks/handlers/probe.go
  pkg/webhooks/server.go
Owners: @prateekpandey14, @eddycharly

chore: add argocd lab (#4884)
  scripts/labs/argocd/README.md
  scripts/labs/argocd/kind-argo.sh
Owners: none

feat: add startup probes support
  charts/kyverno/Chart.yaml
  charts/kyverno/README.md
  charts/kyverno/templates/deployment.yaml
  charts/kyverno/values.yaml
  config/install.yaml
  config/manifest/deployment.yaml
Owners: @treydock, @eddycharly

fix: reduce webhook controller logs
  pkg/controllers/webhook/controller.go
Owners: none

fix: reduce webhook controller logs (#4897)
  pkg/controllers/webhook/controller.go
Owners: none

fix: reduce webhook controller logs (#4897)
  pkg/controllers/webhook/controller.go
Owners: none

refactor: openapi controller part 1
  cmd/cli/kubectl-kyverno/apply/apply_command.go
  cmd/cli/kubectl-kyverno/test/test_command.go
  cmd/kyverno/main.go
  pkg/openapi/crdSync.go
  pkg/openapi/manager.go
  pkg/openapi/manager_test.go
  pkg/openapi/utils.go
  pkg/openapi/validation.go
  pkg/policy/validate.go
  pkg/policy/validate_test.go
  pkg/webhooks/policy/handlers.go
Owners: @vyankyGH, @prateekpandey14

fix: remove unnecessary dependencies from tls package
  cmd/kyverno/main.go
  pkg/tls/keypair.go
  pkg/tls/props.go
  pkg/tls/renewer.go
Owners: none

feat: make cert renewer private and add server name support
  cmd/kyverno/main.go
  pkg/controllers/certmanager/controller.go
  pkg/tls/keypair.go
  pkg/tls/renewer.go
Owners: none

nits
  pkg/tls/reader.go
  pkg/tls/renewer.go
  pkg/tls/utils.go
Owners: none

fix: remove unnecessary dependencies from tls package (#4903)
  cmd/kyverno/main.go
  pkg/tls/keypair.go
  pkg/tls/props.go
  pkg/tls/renewer.go
Owners: none

fix: remove unnecessary dependencies from tls package (#4903)
  cmd/kyverno/main.go
  pkg/tls/keypair.go
  pkg/tls/props.go
  pkg/tls/renewer.go
Owners: none

refactor: openapi controller part 1 (#4901)
  cmd/cli/kubectl-kyverno/apply/apply_command.go
  cmd/cli/kubectl-kyverno/test/test_command.go
  cmd/kyverno/main.go
  pkg/openapi/crdSync.go
  pkg/openapi/manager.go
  pkg/openapi/manager_test.go
  pkg/openapi/utils.go
  pkg/openapi/validation.go
  pkg/policy/validate.go
  pkg/policy/validate_test.go
  pkg/webhooks/policy/handlers.go
Owners: @vyankyGH, @prateekpandey14

refactor: openapi controller part 1 (#4901)
  cmd/cli/kubectl-kyverno/apply/apply_command.go
  cmd/cli/kubectl-kyverno/test/test_command.go
  cmd/kyverno/main.go
  pkg/openapi/crdSync.go
  pkg/openapi/manager.go
  pkg/openapi/manager_test.go
  pkg/openapi/utils.go
  pkg/openapi/validation.go
  pkg/policy/validate.go
  pkg/policy/validate_test.go
  pkg/webhooks/policy/handlers.go
Owners: @vyankyGH, @prateekpandey14

chore: signing helm releases
  .github/workflows/helm-release.yaml
  .github/workflows/reuse.yaml
Owners: none

fix: clean background scan reports
  pkg/controllers/report/background/controller.go
Owners: none

fix: don't specify rules when aggregationRule is set (#4867)
  charts/kyverno/templates/clusterrole.yaml
  config/install.yaml
  config/install_debug.yaml
  config/k8s-resource/clusterroles.yaml
Owners: @treydock, @eddycharly

added Matching of Request types
  api/kyverno/v1/match_resources_types.go
Owners: @prateekpandey14, @eddycharly

updated crds.yaml
  charts/kyverno/templates/crds.yaml
Owners: @treydock, @eddycharly

refactor: openapi controller part 2
  cmd/cli/kubectl-kyverno/test/test_command.go
  cmd/kyverno/main.go
  pkg/openapi/crdSync.go
  pkg/openapi/manager.go
  pkg/openapi/utils.go
  pkg/policy/validate.go
  pkg/webhooks/policy/handlers.go
  pkg/webhooks/resource/fake.go
  pkg/webhooks/resource/handlers.go
Owners: @vyankyGH, @prateekpandey14

rename
  cmd/cli/kubectl-kyverno/test/test_command.go
  pkg/openapi/controller.go
  pkg/policy/validate_test.go
  pkg/webhooks/resource/mutation/mutation.go
Owners: @vyankyGH, @prateekpandey14

CODEOWNERS:

# Areas of code where @marcelmue always wants to be a reviewer/notified.
/pkg/webhooks @marcelmue
/pkg/policy/mutate @marcelmue
/pkg/engine @marcelmue @vyankyGH
/pkg/kyverno @vyankyGH
/pkg/openapi @vyankyGH
/pkg/policycache @vyankyGH
/pkg/policy/validate @vyankyGH
/test @vyankyGH @chipzoller @eddycharly
/docs @chipzoller
/pkg/registryclient
/api/kyverno/v1 @eddycharly
/pkg/webhooks @prateekpandey14
/pkg/engine @prateekpandey14
/pkg/generate @prateekpandey14
/pkg/policy/generate @prateekpandey14
/api @prateekpandey14 @eddycharly
/charts @treydock @eddycharly
/pkg/autogen @eddycharly
/pkg/utils @eddycharly
