Repository kyverno/kyverno, changes with the owners that CODEOWNERS names for each.
All owners: @marcelmue, @vyankyGH, @chipzoller, @eddycharly, @prateekpandey14, @treydock

CODEOWNERS:

# Areas of code where @marcelmue always wants to be a reviewer/notified.
/pkg/webhooks @marcelmue
/pkg/policy/mutate @marcelmue
/pkg/engine @marcelmue @vyankyGH
/pkg/kyverno @vyankyGH
/pkg/openapi @vyankyGH
/pkg/policycache @vyankyGH
/pkg/policy/validate @vyankyGH
/test @vyankyGH @chipzoller @eddycharly
/docs @chipzoller
/pkg/registryclient
/api/kyverno/v1 @eddycharly
/pkg/webhooks @prateekpandey14
/pkg/engine @prateekpandey14
/pkg/generate @prateekpandey14
/pkg/policy/generate @prateekpandey14
/api @prateekpandey14 @eddycharly
/charts @treydock @eddycharly
/pkg/autogen @eddycharly
/pkg/utils @eddycharly

Update api-doc
  docs/crd/v1/index.html
Owners: @chipzoller

refactor: leader controllers management (#4832)
  cmd/kyverno/informer.go
  cmd/kyverno/main.go
  go.mod
  go.sum
  pkg/controllers/certmanager/controller.go
  pkg/controllers/certmanager/log.go
  pkg/controllers/webhook/controller.go
  pkg/controllers/webhook/log.go
Owners: none

Update PSa images dsecription (#4840)
  api/kyverno/v1/common_types.go
  charts/kyverno/templates/crds.yaml
  config/crds/kyverno.io_clusterpolicies.yaml
  config/crds/kyverno.io_policies.yaml
  config/install.yaml
  config/install_debug.yaml
  docs/crd/v1/index.html
Owners: @prateekpandey14, @eddycharly, @treydock, @chipzoller

Update PSa images dsecription (#4840)
  api/kyverno/v1/common_types.go
  charts/kyverno/templates/crds.yaml
  config/crds/kyverno.io_clusterpolicies.yaml
  config/crds/kyverno.io_policies.yaml
  config/install.yaml
  config/install_debug.yaml
  docs/crd/v1/index.html
Owners: @prateekpandey14, @eddycharly, @treydock, @chipzoller

Publish kyverno-policies-2.6.0-rc6.tgz
  index.yaml
  kyverno-policies-2.6.0-rc6.tgz
Owners: none

Publish kyverno-policies-2.6.0-rc6.tgz
  index.yaml
  kyverno-policies-2.6.0-rc6.tgz
Owners: none

Publish kyverno-2.6.0-rc6.tgz
  index.yaml
  kyverno-2.6.0-rc6.tgz
Owners: none

chore: bump a couple of deps
  go.mod
  go.sum
Owners: none

more deps
  go.mod
  go.sum
Owners: none

remove unused
  pkg/controllers/certmanager/controller.go
Owners: none

chore: bump a couple of deps (#4842)
  go.mod
  go.sum
Owners: none

fix
  cmd/kyverno/main.go
  pkg/controllers/certmanager/controller.go
Owners: none

feat: use a dedicated policy metrics controller (#4818)
  cmd/kyverno/main.go
  pkg/controllers/metrics/policy/controller.go
  pkg/controllers/metrics/policy/log.go
  pkg/controllers/metrics/policy/metrics.go
  pkg/policy/policy_controller.go
Owners: none

docs: add debug instructions
  DEVELOPMENT.md
Owners: none

refactor: add config support to webhook controller (#4838)
  cmd/kyverno/main.go
  pkg/config/config.go
  pkg/controllers/webhook/controller.go
  pkg/utils/controller/handlers.go
Owners: @eddycharly

fix
  pkg/controllers/certmanager/controller.go
Owners: none

migrate verify webhook
  pkg/config/config.go
  pkg/controllers/webhook/controller.go
  pkg/webhookconfig/common.go
  pkg/webhookconfig/registration.go
Owners: none

fix
  pkg/controllers/webhook/controller.go
  pkg/webhookconfig/common.go
Owners: none

v1
  pkg/controllers/webhook/controller.go
Owners: none

refactor: move policy webhooks management in webhook controller
  pkg/controllers/webhook/controller.go
Owners: none

fix
  pkg/controllers/webhook/controller.go
Owners: none

policy validating webhook config
  pkg/config/config.go
  pkg/controllers/webhook/controller.go
  pkg/webhookconfig/common.go
  pkg/webhookconfig/registration.go
Owners: none

Update pkg/controllers/certmanager/controller.go
  pkg/controllers/certmanager/controller.go
Owners: none

watch policies
  cmd/kyverno/main.go
  pkg/controllers/webhook/controller.go
Owners: none

refactor: make cert manager a real controller (#4792)
  cmd/kyverno/main.go
  pkg/controllers/certmanager/controller.go
Owners: none

refactor: migrate resource webhook management in webhook controller
  cmd/kyverno/main.go
  pkg/config/config.go
  pkg/controllers/webhook/controller.go
  pkg/controllers/webhook/log.go
  pkg/controllers/webhook/utils.go
  pkg/webhookconfig/common.go
  pkg/webhookconfig/configmanager.go
  pkg/webhookconfig/monitor.go
  pkg/webhookconfig/registration.go
Owners: none

mutating webhook
  cmd/kyverno/main.go
  pkg/config/config.go
  pkg/controllers/webhook/controller.go
  pkg/controllers/webhook/utils.go
  pkg/webhookconfig/common.go
  pkg/webhookconfig/configmanager.go
  pkg/webhookconfig/monitor.go
  pkg/webhookconfig/registration.go
Owners: none

auto update
  cmd/kyverno/main.go
  pkg/controllers/webhook/controller.go
Owners: none

cleanup
  cmd/kyverno/main.go
  pkg/config/config.go
  pkg/controllers/webhook/controller.go
  pkg/webhookconfig/common.go
  pkg/webhookconfig/configmanager.go
  pkg/webhookconfig/configmanager_test.go
  pkg/webhookconfig/monitor.go
  pkg/webhookconfig/registration.go
  pkg/webhookconfig/status.go
  pkg/webhooks/server.go
Owners: @prateekpandey14

auto update and wildcard policies
  cmd/kyverno/main.go
  pkg/controllers/webhook/controller.go
  pkg/controllers/webhook/utils.go
  pkg/webhookconfig/configmanager.go
Owners: none

changed analysis version to 2.0.4
  .github/workflows/scorecard.yaml
Owners: none

fix: replace AbsPath with RequestURI to support query params
  pkg/clients/dclient/client.go
Owners: none

policy readiness
  api/kyverno/v1/clusterpolicy_types.go
  api/kyverno/v1/policy_interface.go
  api/kyverno/v1/policy_types.go
  cmd/kyverno/main.go
  pkg/controllers/webhook/controller.go
Owners: @prateekpandey14, @eddycharly

fix: replace AbsPath with RequestURI to support query params (#4849)
  pkg/clients/dclient/client.go
Owners: none

e2e test for mutate policy
  test/e2e/mutate/config.go
  test/e2e/mutate/mutate_test.go
  test/e2e/mutate/resources.go
Owners: @vyankyGH, @chipzoller, @eddycharly

e2e test for mutate policy (#3383)
  test/e2e/mutate/config.go
  test/e2e/mutate/mutate_test.go
  test/e2e/mutate/resources.go
Owners: @vyankyGH, @chipzoller, @eddycharly

fix: can't use v1 admission
  pkg/controllers/webhook/controller.go
Owners: none

reduce reconcile
  pkg/controllers/webhook/controller.go
Owners: none

Add workflow to detect and report on image vulnerabilities
  .github/ISSUE_TEMPLATE/VULN-TEMPLATE.md
  .github/workflows/report-on-vulnerabilities.yaml
Owners: none

release: 1.8
  charts/kyverno-policies/Chart.yaml
  charts/kyverno-policies/README.md
  charts/kyverno/Chart.yaml
  charts/kyverno/README.md
Owners: @treydock, @eddycharly
